[2015-12-06 15:45] bbondy opened #9 "Figure out proper license and update files with license header if needed for license"
If we go MPL2 we should have the header on each file unfortunately.
Asked Brendan for a decision on which license we want.

[2015-12-07 00:05] #9 closed, assigned to nobody

[2015-12-08 15:25] aekeus opened #11 "Error when installing on Win10 - node_modules/lodash"
The installation routine on Windows 10 shows a number of error dialogs during installation. They seem to relate to a missing Lodash package.

The browser operates as expected.

[2015-12-08 20:10] bridiver opened #12 "switching between two tabs with the same url doesn't update url"
Steps to replicate:
1. Open two tabs with google.com
2. Type some random text in the address bar for one them
3. Switch to the other tab
4. text will remain in address bar

Behavior in Safari, Chrome and Firefox:
- Switch to the other tab => updates address bar with tab url
- Switch back => random text is preserved

[2015-12-08 20:31] bridiver opened #13 "address isn't selected with cmd/ctrl-l or clicking in address bar"
Steps to reproduce
1. Enter google.com in the address bar and load
2. press cmd/ctrl-l or click in address bar
3. current text will not be selected

Behavior on other browsers is to select the text when activating the address bar with either method

[2015-12-08 20:37] bridiver opened #14 "search bar panel sometimes lingers after use"
Steps to reproduce
1. Type google.com into the address bar
2. Wait for search bar panel to appear
3. Press return
The search bar panel will stay open showing google

[2015-12-08 23:20] bbondy opened #17 "Local shortcuts do not work until main window is unfocused and re-focused"
Electron's local shortcut package doesn't work properly when a new window is open.  Menu shortcuts do work properly.  You can fix them by unfocusing the new window and then refocusing it.   First found by Yan.  Fix is possibly in electron's local shortcut package.

[2015-12-08 23:20] diracdeltas opened #18 "memory leak warning when ~10+ tabs are open"
When I open 10 or so tabs in the browser, I get this error repeatedly:

[code]

[2015-12-08 23:23] diracdeltas opened #20 "when opening new window, keyboard shortcuts don't work until another window is focused"
Local keyboard shortcuts don't work in a new window until focus switches to another window and then back to the new window. Keyboard shortcuts like Cmd-T for new tab work fine however.

[2015-12-08 23:24] #20 closed, assigned to nobody

[2015-12-08 23:37] bbondy opened #21 "Undo closed tab should open at position it was closed from"
Currently it re-opens at the position before the active frame.

[2015-12-08 23:55] bridiver opened #22 "typing current url doesn't trigger refresh"
Steps to reproduce:
1. Enter google.com in the address bar, hit return and let the page load
2. Re-type google.com in the address bar and hit return again
3. Page does not refresh

On all other browsers this triggers a refresh of the page

[2015-12-09 01:21] #12 closed, assigned to diracdeltas

[2015-12-09 01:34] bridiver opened #24 "escape doesn't clear address bar changes"
Steps to reproduce:
1. Enter google.com into the address bar and press return
2. type 'blah' into the address bar
3. press the escape key
4. text box loses focus, but text remains

Desired behavior:
escape should close the search bar panel if open, clear 'blah' and restore google.com, but keep focus and select

[2015-12-09 02:45] #14 closed, assigned to diracdeltas

[2015-12-09 03:16] #21 closed, assigned to nobody

[2015-12-09 04:55] #24 closed, assigned to bridiver

[2015-12-09 06:06] bridiver opened #28 "empty address bar tries to load file:///Users/bjohnson/Documents/brave/browser-electron/app/null"
Steps to reproduce:
1. select the address bar
2. remove all text and hit return
tries to load non-existent page

Desired behavior:
For a blank page do nothing
For a page with a url restore the url and select

[2015-12-09 15:16] bbondy opened #31 "Dragging and dropping a tab should not reload the tab"
Probably some state change causing the webview to be re-rendered.

[2015-12-09 18:02] #28 closed, assigned to nobody

[2015-12-09 19:19] diracdeltas opened #32 "clicking on autosuggest link but not loading the link shouldn't change title/urlbar"
if the suggested link is the same as the current page, it won't reload the page, but the title and urlbar are still updated to the suggested link.

[2015-12-09 19:20] diracdeltas opened #33 "clicking outside of autosuggest box should close it"
currently it just lingers until some event happens (tab switch, navigation, focusing urlbar, etc.).

[2015-12-09 19:44] #18 closed, assigned to nobody

[2015-12-09 20:13] bbondy opened #34 "Properly unregister Frame webview events when components unmount"
We have some:
this.webview.addEventListener in frame.js

We could remove those as well when the component unmounts.  Not sure if this is required but @diracdeltas mentioned she sees some messages still about leaked events when there are a lot of tabs.

[2015-12-09 20:54] bridiver opened #35 "local shortcuts don't initially work on new windows"
Steps to reproduce:
1. Start the Browser
2. Create a second window
3. Local shortcuts (urlbar focus, tab navigation, dev tools, etc...) don't work, but app shortcuts (new tab) do
4. Switch back to the first window
5. Switch back to the second window again
6. Local shortcuts now work on the second window

[2015-12-10 01:51] #22 closed, assigned to bridiver

[2015-12-10 03:01] #31 closed, assigned to bbondy

[2015-12-10 16:06] #13 closed, assigned to bridiver

[2015-12-10 20:50] #33 closed, assigned to diracdeltas

[2015-12-10 20:56] diracdeltas opened #40 "up/down arrows should select items in the autosuggest box"

[2015-12-10 20:59] #32 closed, assigned to diracdeltas

[2015-12-10 23:57] bridiver opened #41 "New tab shortcut and menu cause browser to crash if selected with no open windows"
Other browsers open a new window if new tab is selected with no open windows

[2015-12-11 02:03] #17 closed, assigned to bridiver

[2015-12-11 02:06] #41 closed, assigned to nobody

[2015-12-11 02:07] #35 closed, assigned to nobody

[2015-12-11 02:11] #40 closed, assigned to diracdeltas

[2015-12-11 19:39] bbondy opened #45 "Add the ability to close developer tools via keyboard shortcut on macOS"
After opening content dev tools, you can't use the local shortcut to close them again.
STR:
1. Command+Option+I to open dev tools
2. Command+Option+I to close dev tools

Expected results:
It closes even though the devtools window has focus

Actual results:
You need to focus back to the parent window first.

@bridiver maybe we need to register with localShortcut the devtools window?

[2015-12-12 00:50] bridiver opened #48 "reload menu reloads entire browser window when no frames are active"
Steps to reproduce:
1. Open the browser with a new window
2. Use the reload menu item or shortcut

Reload should be disabled and have no effect if there is no content to reload

[2015-12-14 18:30] bridiver opened #49 "target _blank opens up in new tab instead of new window"
Default behavior on Safari, Chrome and Firefox is to open in a new window

related https://github.com/atom/electron/issues/645

[2015-12-14 19:53] diracdeltas opened #50 "url bar updating breaks after a tab is closed"
1. open brave.com
2. open a new tab and close it
3. type google.com into the url bar for the original tab, press enter. the url bar is not updated during redirects and the autosuggest bar lingers.

[2015-12-14 20:13] diracdeltas opened #51 ""Couldn't set selectedTextBackgroundColor from default" console message"
[code]

[2015-12-15 16:24] bbondy opened #53 "Check that we're using these babel / webpack optimizations"
Check that we're using these babel / webpack optimizations:

[2015-12-15 16:25] bbondy opened #54 "Ensure we're minifying our bundles and using other minified sources"

[2015-12-15 23:25] #50 closed, assigned to diracdeltas

[2015-12-16 04:12] bridiver opened #57 ""login with google" doesn't log you in"
Login to Feedly.com using google never actually logs me in. I can access mail.google.com after the authentication through the feedly sign-on page, but I can't access Feedly itself. I haven't tried other sites that use google login

[2015-12-17 20:51] diracdeltas opened #61 "instructions for tests"
Readme should have instructions for writing/running tests.

[2015-12-20 21:17] bbondy opened #72 "Consider having appStore in the main process"
I wanted to open the discussion to see if it would be a good idea to store application state inside the top level process.  I'm thinking it would be better but I'm a little bit concerned about a perf hit.  I think it would be OK though.

Right now each browser window maintains its own appState.  This issue is posted to discuss changing that.

appState would change to be at a top level a collection

[2015-12-20 21:22] bbondy opened #73 "Generate markdown inside docs/appActions.md from actions/appActions JSDoc"
Generate markdown inside docs/appActions.md from actions/appActions JSDoc.
Adding an npm command for this called "docs" I think would be good.

[2015-12-21 21:02] bridiver opened #77 "Handle app state that grows over time"
Some app state will grow over time and is not practical to update on every dispatch request. One way to handle it would be to update it through the actions/dispatcher, but only keep a timestamp/version number in the state itself

[code]

Each window can detect when its version is out-of-date and load the most recent version from async storage or similar

[2015-12-22 03:43] bbondy opened #80 "Command+L does not select URL bar text when URL bar is focused. It should."
FYI @bridiver since you've been working on this area

[2015-12-22 04:26] bbondy opened #82 "Going back 2 spots in history and then forward won't work for the second forward"
This is probably an electron level fix.

[2015-12-22 21:44] diracdeltas opened #85 "next tab button looks wrong when non-last tab is active"
The next-tab arrow button in the tab bar looks fine when the last tab is active:
![screen shot 2015-12-22 at 1 40 00 pm](https://cloud.githubusercontent.com/assets/549654/11966677/0f078f68-a8b2-11e5-81db-669654011c64.png)

but it looks weird (no gradient) when another tab is active:
![screen shot 2015-12-22 at 1 40 09 pm](https://cloud.githubusercontent.com/assets/549654/11966702/2fd0fde2-a8b2-11e

[2015-12-23 01:30] bbondy opened #86 "Shield, reload and star buttons show default cursor if you hover over the top half"
The shield, reload, and star buttons seem to show the default cursor if you hover over the top half and the pointer cursor if you hover over the bottom half.

[2015-12-23 02:49] #80 closed, assigned to nobody

[2015-12-23 04:26] bridiver opened #88 "action chaining"
We often call several actions in a row that change state. This seems rather inefficient and we should be able to chain them together to update several values in a single dispatcher call

[2015-12-23 04:56] #85 closed, assigned to nobody

[2015-12-23 05:53] #86 closed, assigned to nobody

[2015-12-23 22:11] diracdeltas opened #91 "reload/stop buttons don't work"
Reloading/stopping loads via the toolbar button doesn't work

[2015-12-23 22:14] diracdeltas opened #92 "clicking bookmark button throws error"
[code]

[2015-12-23 22:57] #91 closed, assigned to diracdeltas

[2015-12-24 00:31] bridiver opened #93 "Images are blocked with mixed content warning"
https://itunes.apple.com/us/app/patient-io/id825109942?mt=8 displays correctly on other browsers, but the images are blocked on Brave

[2015-12-24 06:48] bbondy opened #94 "window.prompt is not supported currently"
## Test plan
1. Visit https://www.w3schools.com/js/tryit.asp?filename=tryjs_prompt
2. Click the `Try it` button on the right hand side
3. Confirm prompt is shown; text should be selected
4. Type `Brave` and click `OK`
5. Confirm `Hello Brave! How are you today?` is shown
6. Repeat steps 2 - 5, except press enter to submit instead of clicking `OK`
7. Click the `Try it` button on the right hand side

[2015-12-24 14:13] bbondy opened #95 "mute and then pause leaves audio indicator behind"

[2015-12-24 16:37] bbondy opened #96 "Implement computedThemeColor"
Implement computedThemeColor based on a page's favicon color.
Also add computedThemeColor to state documentation.

[2015-12-25 18:55] bridiver opened #97 "electron does not provide a mechanism to determine if a window.open was initiated by the user"
Most browsers block non-user initiated popups by default (with some notification and an option to allow), but electron does not appear to provide a mechanism to tell the different in the new-window event.

Looks like it should be a pretty simple change. We can probably add something to:

[code]

from atom/browser/api/lib/browser-window.coffee from electron assuming that covers both direct clicks o

[2015-12-25 18:58] bridiver opened #98 "electron doesn't provide a mechanism to distinguish between default new-window event options and user supplied new-window options"
This makes it impossible to differentiate between window.open that should happen in a new window vs a new tab. Typically browsers will open in a new window if window.open "features" are provided

[2015-12-26 17:24] bridiver opened #100 "Tabs don't resize with window"
## Test plan

https://github.com/brave/browser-laptop/pull/6900#issue-203781822

<hr>

Steps to reproduce:
1. Open Brave and maximize it
2. Keep creating tabs until you reach 6
3. Tabs will finally resize for the window

Not sure what the correct behavior should be here with a fixed number of tabs. Currently they only expand to fit the window size when there are 6 in the tab group. Maybe they shou

[2015-12-26 17:26] bridiver opened #101 "Memory leak warning with more than 9 tabs"
Steps to reproduce:
1. Create 10 tabs
[code]

[2015-12-26 17:33] garvankeeley opened #102 "Login button on twitter.com doesn't load main feed page"
It does log me in, but the next page never appears, I clicked around a bit and ended up on the main twitter feed screen. So the form action is performing the login, just advancing to the main feed isn't working

[2015-12-26 17:35] garvankeeley opened #103 "OS X: cmd-[ and also clicking back menu item are not hooked up"

[2015-12-26 17:44] garvankeeley opened #104 "Context menu: open in new tab not working"
I assume context menu actions aren't hooked up? I can research further if that isn't the case

[2015-12-26 18:07] garvankeeley opened #105 "Ad block: http://torrentz.eu lots of ads leaking through"
My main torrent search site, and IIRC one of the top 5 torrent search sites.
Using ABP plug in other browsers completely sanitizes the site.
<img width="1432" alt="screenshot 2015-12-26 13 05 25" src="https://cloud.githubusercontent.com/assets/5495083/12007415/69abdf88-abd1-11e5-9b3d-750d700c68fe.png">

[2015-12-26 21:11] bridiver opened #106 "help"

[2015-12-26 21:11] #106 closed, assigned to nobody

[2015-12-28 00:27] #61 closed, assigned to nobody

[2015-12-28 00:48] diracdeltas opened #109 "navigating by urlbar is broken sometimes"
1. open browser
2. go to bing.com
3. cmd-L, enter another example.com

the browser seems to reload bing.com instead of navigating to example.com

[2015-12-28 05:55] bbondy opened #110 "test failure on osx: width and height of the last window resize"
This test fails always for me locally, it does seem to work on travis though.

[code]

[2015-12-29 01:02] #110 closed, assigned to bridiver

[2015-12-29 15:49] #105 closed, assigned to nobody

[2015-12-31 15:53] bridiver opened #115 "Pages without favicons or theme color related info use the favicon/theme color from the previous site"
If you open a page with a favicon and theme color and then navigate to a page that doesn't have one, the tab will keep the color/favicon from the previous page

[2016-01-01 13:48] diracdeltas opened #117 "autosuggest is broken after pinning a tab"
Suggestions on all tabs are incorrect after a tab is pinned

[2016-01-01 15:05] bbondy opened #118 "It's hard to select text because window drags"
URL bar should not allow window dragging.
I think this is a bug in electron when using a BrowserWindow with option  'title-bar-style': 'hidden-inset'.

[2016-01-01 15:07] bbondy opened #119 "Placeholder text sometimes appears in place of ads"
<img width="900" alt="screenshot 2016-01-01 10 06 59" src="https://cloud.githubusercontent.com/assets/831718/12071248/72bb1164-b06f-11e5-83d5-4bf5d890574e.png">

[2016-01-01 18:45] #119 closed, assigned to bridiver

[2016-01-01 20:46] #117 closed, assigned to nobody

[2016-01-06 14:44] bbondy opened #122 "Don't show same version number twice in about dialog"
Slack shows I think a build number inside parentheses:
<img width="304" alt="screenshot 2016-01-06 09 42 03" src="https://cloud.githubusercontent.com/assets/831718/12145041/cfe9ee1c-b459-11e5-8e0f-c206f781b3d7.png">

We show the same number twice: 0.0.4 (0.0.4).
It looks strange and isn't very helpful.  Perhaps showing the base electron version in parentheses would be good or if we can get that fr

[2016-01-06 17:04] bbondy opened #123 "Add tests for pinned tabs"

[2016-01-06 17:04] bbondy opened #124 "Add tests for session storage"

[2016-01-06 17:04] bbondy opened #125 "Add tests for downloading adblock / tracking protection data files"

[2016-01-06 21:46] #122 closed, assigned to aekeus

[2016-01-09 09:22] bridiver opened #129 "app state is not stored if all windows are closed before quitting"
1. Navigate to any url
2. Close the window
3. Quit the app
   On restart it will revert to the state before the last shutdown

[2016-01-09 15:14] bbondy opened #130 "Add tests for preview tabs"

[2016-01-09 21:33] bridiver opened #131 "session state doesn't track location changes"
1. Open any site
2. Click on a link
3. Quit the app
   The window will return to the original site, not the new link

This seems to be the issue:
In general, an iframe's src should not be updated when navigating within the frame to a new page, but the location should. For user entered new URLs, both should be updated.

[2016-01-10 02:10] bbondy opened #132 "Add tests for adblock"
Including notifications are sent correctly to frames.

[2016-01-10 17:32] bbondy opened #133 "Add tests for ad insertion"
- Inserts ads
- replaces common ad placeholders
- ad iframe loads correctly

[2016-01-11 02:11] bbondy opened #135 "Clicking on opened tab auto suggest does not switch to that tab"

[2016-01-11 04:12] #131 closed, assigned to nobody

[2016-01-11 04:40] #135 closed, assigned to nobody

[2016-01-11 15:00] #129 closed, assigned to bbondy

[2016-01-11 15:26] #115 closed, assigned to nobody

[2016-01-11 16:26] bbondy opened #136 "Use translated strings for app/menu.js"
One way would be to use document.l10n.formatValues and then just cache the values. Not sure if there's a way to do that with a sync api.

[2016-01-11 21:00] bridiver opened #137 "window.open does not give correct window/opener access based on browsing contenxt"
The webcontents are created correctly, but electron runs each webview in its own process which breaks the connection. I believe the fix is to add support for guest view into libchromium content and electron to handle the swappedout:// condition. There could also potentially be changes to how/when electron creates new render processes to match the process-per-site-instance model https://www.chromiu

[2016-01-11 21:04] bbondy opened #138 "Make private tabs pass the grep test"
visit a site you've never been to before (goodeggs.com) in a private tab and then grep for goodeggs in /Users/yan/Library/Application Support/Brave. Found matches in /Cache/data_1 and /Cache/data_3.

[2016-01-11 21:05] bbondy opened #139 "Links that are opened from Private Tabs in a new tab should also open in Private Tabs."

[2016-01-11 21:05] bbondy opened #140 "Make urlbar autocomplete private tab aware"
urlbar autocomplete in non-private tabs shows results for private tabs. I don't think this is a privacy issue but it might scare/confuse users who expect non-private tabs to never show anything related to private tabs.

[2016-01-11 21:33] bridiver opened #141 "load time and loading indicator don't appear to measure the same thing"
Load cnn.com and time how long the loading status indicator is activated (this is more noticeable if you turn ad blocking off)
Compare to the load time displayed in the url bar
There appears to be a significant discrepancy between them

[2016-01-11 21:47] bbondy opened #142 "Tweak preview tabs timeout"
1) It should delay a bit more when moving from 1 tab to the other so there is no active tab in between.
2) Play with the hover time to avoid accidental previews but also don't make it too long.
3) The time it takes to reset to the "you need to hover" seems a bit too long

[2016-01-12 06:33] bridiver opened #143 "electron ignores links to an existing named iframe"
If click on a link with a named target, any attempts to click on another link with that same target are ignored completely. There is a test case in windowTest.js

[2016-01-13 05:20] bridiver opened #146 "saved window state doesn't remember window size/position"
Steps to reproduce
1. Resize and move the window
2. Quit the app
3. Start the app again
Window will be restored to default size and position

[2016-01-13 06:14] bridiver opened #148 "pinned tabs don't load correctly on new windows"
Ideally the pinned tab should literally move from window to window and maintain state, but that will require guest view from #137 but right now if you open a new window the page doesn't load correctly
Steps to reproduce:
1. Open cnn.com
2. Pin the tab
3. Open a new window
The pinned tab will be missing css, etc...

[2016-01-13 06:14] bridiver opened #149 "Tab paging order is wrong with pinned tabs"
Steps to reproduce:
1. Open a tab and pin it
2. Open a regular tab
3. Open another tab and pin it
4. use cmd-shift-[ or cmd-shift-] to cycle through tabs
Order is based on creation order instead of actual position

[2016-01-13 17:26] bridiver opened #151 "tests for webview focus"
Need some tests to make sure the webviews get focus whenever the tab is active and the navbar is not

[2016-01-13 19:22] #49 closed, assigned to bridiver

[2016-01-13 19:22] #57 closed, assigned to bridiver

[2016-01-13 19:22] #97 closed, assigned to bridiver

[2016-01-13 19:22] #98 closed, assigned to bridiver

[2016-01-13 19:22] #109 closed, assigned to bridiver

[2016-01-13 21:37] diracdeltas opened #155 "https everywhere rules should be more conservative"
Currently all stable https everywhere rules are enabled by default. We should not apply the rules that are marked with the `default_off` attribute or `platform="mixedcontent"` or  `platform="cacert"` because these are likely to break sites.

https://www.eff.org/https-everywhere/rulesets

[2016-01-14 00:09] #155 closed, assigned to diracdeltas

[2016-01-14 01:19] bbondy opened #156 "set app user model ID on Windows for taskbar pinning / grouping"
The installer generated with Squirrel will create a shortcut icon with an Application User Model ID in the format of com.squirrel.PACKAGE_ID.YOUR_EXE_WITHOUT_DOT_EXE, examples are com.squirrel.slack.Slack and com.squirrel.code.Code. You have to use the same ID for your app with app.setAppUserModelId API, otherwise Windows will not be able to pin your app properly in task bar.

[2016-01-14 01:57] bbondy opened #157 "Show secure icon in a better placement for title mode"

[2016-01-15 02:03] #104 closed, assigned to diracdeltas

[2016-01-15 02:40] #143 closed, assigned to nobody

[2016-01-15 02:42] #137 closed, assigned to nobody

[2016-01-15 02:47] #103 closed, assigned to diracdeltas

[2016-01-15 04:31] bbondy opened #162 "https everywhere preventing site from loading"
1. npm run clean-sessionstate
2. go to nikeplus.com
3. open a new tab
4. go to nikeplus.com in the new tab

Actual results:
Step 2 loads correctly by going to https://secure-nikeplus.nike.com/plus
Step 4 does not, it goes to https://secure-nikeplus.nike.com/

Expected results:
Step 4 loads correctly by going to https://secure-nikeplus.nike.com/plus

[2016-01-15 17:22] bbondy opened #165 "Session store is not saved when update now is pressed."

[2016-01-15 18:01] bridiver opened #167 "tests for new window on app icon click (macOS)"
when there are no windows open, clicking on the app icon opens a new window

[2016-01-15 18:03] #93 closed, assigned to nobody

[2016-01-15 22:50] garvankeeley opened #170 "Restore tab cmd+shift+t pressing 2x shows js error"
This 2nd restore tab does restore a tab with the correct title, but it is blank and the tab is non responsive to changes in the url bar or clicks on reload

<img width="423" alt="screenshot 2016-01-15 17 46 47" src="https://cloud.githubusercontent.com/assets/5495083/12367487/644eca2a-bbb0-11e5-893d-9fa37b41c0df.png">

STR: In my case I had closed 2 tabs, then pressed cmd+shift+t twice in a row, th

[2016-01-15 22:57] #162 closed, assigned to diracdeltas

[2016-01-16 01:15] bbondy opened #172 "Add bookmark should change to remove bookmark in the main menu for bookmarked page."

[2016-01-16 01:33] bbondy opened #173 "Menu changes for Windows"
- About Brave should go in the Help menu (note it also doesn't work currently on Windows but just moving it for now would be good).  Should be last item in Help menu only on Windows.
- Quit Brave should go in the file menu as the last menu item, only on Windows.
- Preferences should go in file menu only on Windows.
- Remove the whole first menu.

[2016-01-17 02:50] garvankeeley opened #174 "Fatal JS error on startup 0.7.1"
After this error, I had to quit and restart to use the app, at which point it was fine.
<img width="505" alt="screen shot 2016-01-16 at 9 46 37 pm" src="https://cloud.githubusercontent.com/assets/5495083/12375659/ed4ca14a-bc9a-11e5-9bd8-f0a2ff9de1f0.png">

[2016-01-17 03:08] garvankeeley opened #175 "page-down using space bar only works after clicking page content"
STR: click a link on a page, on new page hit space bar to page down.
RESULT: no response, until the content is clicked, space bar won't page down
EXPECTED: work like Safari, Firefox, Chrome: after clicking a link, space bar works to page-down

[2016-01-17 03:59] bbondy opened #176 "https everywhere not working with private browsing tab"
I tried before the refactor that I did just now and it was also not working.

[2016-01-17 17:14] bridiver opened #178 "Ads are being added instead of replaced"
There is one sonobi ad in addition to each pub ad
You can see it at http://slashdot.org/, but the same thing happens on every site

[2016-01-17 21:04] garvankeeley opened #179 "Make autocomplete use history"
Here I am typing "fin" for finance.google.ca, and the only autocomplete suggestion is huffingtonpost:

<img width="1194" alt="screenshot 2016-01-17 16 00 55" src="https://cloud.githubusercontent.com/assets/5495083/12379950/a46f373c-bd33-11e5-95fd-4c355e69d613.png">

[2016-01-17 21:20] garvankeeley opened #180 "Back button stops working"
STR: not sure what I did to cause this
Video shows back button not working as i go to 3-4 different links

[2016-01-17 21:37] garvankeeley opened #181 "Autocomplete suggests adult sites"
As a byproduct of using Alexa 500, porn sites are coming up readily in the autocomplete.
My expected result is that these wouldn't be suggested while typing, I tried various combinations in Chrome and Nightly, and these do not suggest any adult sites.

[2016-01-17 21:37] garvankeeley opened #182 "Mousing over current tab makes it preview style"
The current tab is shown with the mouse over the tab indicator, and the current tab is showing in preview style.
STR: happens just after closing another tab, difficult to repro

<img width="864" alt="screenshot 2016-01-17 16 13 12" src="https://cloud.githubusercontent.com/assets/5495083/12380010/6b194110-bd35-11e5-95ce-b245d38cc9fb.png">

[2016-01-17 22:22] #182 closed, assigned to nobody

[2016-01-18 04:37] garvankeeley opened #184 "Downloads on os x go to ~/Library/Application Support/Brave/Downloads not ~/Downloads"
This is the incorrect default folder on OS X, downloads should default to ~/Downloads

[2016-01-18 16:36] bridiver opened #185 "new-window options is null, but probably shouldn't be"
http://brianbondy.com/
clicking on "get a good idea of what Link Bubble's all about from this video" results
[code]

[2016-01-18 17:11] garvankeeley opened #186 "Mac: pinch-zoom zooms the chrome as well as the content"
STR: pinch zoom on a magic trackpad

<img width="635" alt="screenshot 2016-01-18 12 08 59" src="https://cloud.githubusercontent.com/assets/5495083/12397645/8180daba-bddc-11e5-99b8-dde7a8a40e49.png">

[2016-01-19 00:48] #172 closed, assigned to diracdeltas

[2016-01-19 14:13] #178 closed, assigned to nobody

[2016-01-19 14:52] #141 closed, assigned to nobody

[2016-01-19 14:53] bbondy opened #189 "3d acceleration sometimes causing black window instead of content to render on Windows"
I need to turn off 3d acceleration so that the UI works.
It's just a black window but the context menus do render.

[2016-01-19 16:59] garvankeeley opened #190 "Menu item "Check for updates" with all windows closed: open a window to show the update message"
With all windows closed, there is no feedback shown when the menu item is selected.

[2016-01-19 20:03] bbondy opened #191 "add command+<- and command + -> for navigating going back and forward"

[2016-01-19 20:06] bbondy opened #192 "Add some missing navigation shortcuts"
command + left to go back
command + right to go forward
Also backspace to go back when content is focused
Also shift backspace to go forward when content is focused

[2016-01-19 21:12] #173 closed, assigned to bbondy

[2016-01-19 21:51] garvankeeley opened #193 "youtube video not playing, rest of page loads ok"
![out](https://cloud.githubusercontent.com/assets/5495083/12433033/cb6c62b6-becc-11e5-92e1-856b03cbe1bf.gif)

[2016-01-20 01:37] bbondy opened #194 "Win 10 needs branding for Apps & Features"
<img width="535" alt="screenshot 2016-01-19 20 36 32" src="https://cloud.githubusercontent.com/assets/831718/12437501/62717556-beec-11e5-880e-645e38abd95c.png">

I think this will actually be solved by setting the registry's startmenuinternet uninstall icon, but posting just in case it is not.

Source of bug @SergeyZhukovsky

[2016-01-20 04:45] bridiver opened #195 "Sonobi ads contain pixels we should block"
The default Sonobi tag contains pixels that should be removed. Until that happens we should at least block them. The creative urls are
http://creative.sonobi.com/public/live/30322e_1453152359357.png
and the pixels we want to block are
http://lax-1-xcp.go.sonobi.com/xcp.gif?iid=ii1453263994.8419dfeae7-a1a5-4fdf-8f2a-10a3f9151a21.YF.723354&sid=0c07cc2ceb53d918843d&uis=unknown&d=slashdot.org&p=/&u=fa

[2016-01-20 15:24] diracdeltas opened #197 "Publish code signing keys and signatures"
We should publish our code signing keys and signatures so that anyone can independently verify them. See https://www.torproject.org/docs/verifying-signatures.html.en for an example of a project that does this.

I also think it's a good idea to sign git tags.

[2016-01-20 15:51] fabricedesre opened #200 "Figure out missing dependencies not documented"
Because why not!

[2016-01-20 15:51] bbondy commented on #200
We actually already have all our test infra running for it and it works great there.
We just don't offer packaged builds (yet).

[2016-01-20 15:54] fabricedesre commented on #200
npm install failed for me locally:

[fabrice:~/dev/browser-laptop] master ± npm install
npm WARN engine urlutil.js@0.1.1: wanted: {"node":">= 4.0.0"} (current: {"node":"0.12.7","npm":"2.11.3"})
npm WARN prefer global babel@6.3.26 should be installed with -g

-

make: Entering directory `/home/fabrice/dev/browser-laptop/node_modules/tracking-protection/node_modules/hashset-cpp/build'
  CXX(target)

[2016-01-20 16:18] bbondy commented on #200
You might need node-gyp globally installed and updated?
Curious to know so I can update docs.

[2016-01-20 16:30] markoshust commented on #200
@bbondy I am having the same issue. Installing node-gyp globally didn't fix it for me.

Last few lines of npm install output:

[code]

And here's last few lines of npm-debug.log

[code]

[2016-01-20 16:31] markoshust commented on #200
Looks like node 0.12 isn't supported? This should probably be added to a prerequisites section in the README. I think 0.12 is a dep for other things I develop on locally.

[2016-01-20 16:58] flowck opened #204 "https instead of git+ssh package.json dependencies"
I had a few problems of permissions when I running: npm install.

To fix that, I had to replace every git+ssh entry to https protocol, then "npm install"  ran smoothly.

SO: Ubuntu 15.04
Nodejs: 4.2.2
npm: 2.14.7

[2016-01-20 17:20] therealklanni opened #206 "Do we need a contributing guide?"
Discuss! :mega:

[2016-01-20 17:39] bbondy commented on #200
We can set that dependency inside the `package.json` I believe, not sure if it's enforced or not off hand though.  We're using fully updated node if that helps, let me know if you get it working by going to 5.4.1

[2016-01-20 17:41] bbondy commented on #204
Thanks for the report, I think it's fixed here, please let me know if not though:
https://github.com/brave/browser-laptop/commit/4b497270b7c245a77771bf5986f5853fb70a7234

[2016-01-20 17:41] #204 closed

[2016-01-20 17:43] bbondy commented on #206
Thanks for posting, I believe that @ElissaBeth and @BrendanEich are working on a CONTRIBUTOR.md file for the root.

[2016-01-20 17:44] bbondy commented on #200
Morphed your issue title since someone added Linux to the README already.

[2016-01-20 18:17] jimmysong commented on #200
I'm getting a very similar error in Linux Mint 17 64-bit

```npm ERR! hashset-cpp@1.0.13 install: `node-gyp rebuild`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the hashset-cpp@1.0.13 install script 'node-gyp rebuild'.
npm ERR! This is most likely a problem with the hashset-cpp package,
npm ERR! not with npm itself.
npm ERR! Tell the author that this fails on your system:
npm ERR!     node-

[2016-01-20 18:22] therealklanni commented on #206
Great! :metal:

[2016-01-20 19:03] ewnd9 commented on #200
I've successfully installed it on `ubuntu 14.04`. Did you install dependencies from https://github.com/brave/electron/blob/master/docs/development/build-instructions-linux.md ?

[2016-01-20 19:40] dconnolly commented on #197
:+1:

[2016-01-20 19:42] bbondy commented on #197
Great idea, CC @aekeus

[2016-01-20 20:02] diracdeltas opened #208 "need top-level license file"
according to https://github.com/brave/browser-laptop/issues/9, this is MPL2

[2016-01-20 20:04] timothytavarez opened #209 "Javascript error after build"
<img width="428" alt="screen shot 2016-01-20 at 12 59 59 pm" src="https://cloud.githubusercontent.com/assets/16512835/12461388/d64910ea-bf75-11e5-9ab3-8ecd3151b75d.png">

OS X 10.11.1

Performed clone from repo, installed via NPM (no errors, I think), created .app and then built the .dmg - but no dice.

Do I just repeat the install/build process?

`
Uncaught Exception:
Error: Cannot find module '/

[2016-01-20 20:06] andi1984 commented on #200
:+1: for specifying the needed node version, maybe in the engines field inside package.json (https://docs.npmjs.com/files/package.json#engines)

[2016-01-20 20:18] bbondy commented on #209
Did you `npm install` already?  Also please ensure you have the latest node install (v5)

[2016-01-20 20:21] #208 closed

[2016-01-20 20:25] diracdeltas opened #210 "README should clarify that building electron is not necessary"
https://github.com/brave/browser-laptop#running-inside-of-a-development-version-of-braves-electron-fork might give people the impression that they need to build electron just to run the browser. it should clarify when this is necessary.

[2016-01-20 20:27] aekeus commented on #197
Agreed and build out a page like https://www.torproject.org/docs/signing-keys.html.en

[2016-01-20 20:43] #190 closed

[2016-01-20 20:48] brakmic commented on #209
Same here, on Win 10 x64, with **node 5.4.1**

![err](https://cloud.githubusercontent.com/assets/56779/12462593/722351e4-bfbf-11e5-85f7-00aedb338516.png)

[2016-01-20 21:17] #210 closed

[2016-01-20 21:43] tomru commented on #209
Experienced the same issue on Linux with node 4.x.

After switching to node 5.4.1, removing `node_modules` folder and another `npm install` the issue was solved for me.

[2016-01-20 21:53] bbondy commented on #209
@tomru almost definitely the issue, thanks.

Likely people npm installed with 0.12 or similar and then upgraded. We use 3 native modules currently for fast tracking protection, adblock and https everywhere (which uses sqlite).   Those need to be built with 5.4.1.

A faster solution may be to just run the postinstall which re-builds these native modules:

[2016-01-20 22:35] bobpoekert commented on #209
I ran `npm run postinstall`, and it printed a bunch of stuff about sqlite3 when it was running, but after running `npm run build-darwin` and launching the .app I still got the error.

<img width="421" alt="screen shot 2016-01-20 at 2 33 42 pm" src="https://cloud.githubusercontent.com/assets/45596/12465458/fa32dfce-bf82-11e5-951c-e99c60b9ef85.png">

[2016-01-20 22:52] Zeipt opened #212 "how to run it on debian?"
npm run watch gives
...
"webpack: bundle is now VALID."
and notification with "Brave undefined. Build success." And nothing happens..

npm start gives
npm start

electron "/home/zeipt/reps/browser-laptop" --debug=5858
Error opening app
The app provided is not a valid Electron app, please read the docs on how to write one:
https://github.com/atom/electron/tree/v0.36.2/docs

Error: Cannot find modul

[2016-01-20 22:56] leahnnovash opened #213 "Trying to build on Windows 10. NPM is missing."
I know this is a silly issue. I am a GIT newbie here. So bear with me. I am missing the NPM app for the 3rd step onward. Where do I get it?

[2016-01-20 23:23] diracdeltas commented on #213
I'm not a windows user but i think NPM should come with Node if you download here: https://nodejs.org/en/download/

[2016-01-20 23:24] diracdeltas commented on #212
Yep, pretty sure this is a duplicate of #209. This might do the trick: https://github.com/brave/browser-laptop/issues/209#issuecomment-173369741

[2016-01-20 23:31] #212 closed

[2016-01-20 23:45] leahnnovash commented on #213
Thank you. That solved the problem.

[2016-01-20 23:45] #213 closed

[2016-01-21 00:50] groksrc opened #214 "Build Error on Ubuntu/Debian with abp-filter-parser-cpp"
I'm getting the following git permission error when trying to ```sudo npm install``` from tag v0.7.7. Looks like you may just need to open it up?

[code]

[2016-01-21 01:00] groksrc commented on #214
I'm getting a different build error on master. Same command: ```sudo npm install```
[code]

[2016-01-21 02:02] leahnnovash opened #215 "Trying to build on Windows 10. Build failed."
npm run build-win64 failed.
Build error told me to add the content of the debug file to the issue text.

0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files (x86)\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files (x86)\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'run',
1 verbose cli   'build-win64' ]
2 info using npm@2.14.12
3 info using node@v4.2.5
4 verb

[2016-01-21 02:18] bbondy opened #217 "right-click to open a page in a new tab should open the tab to the right of the active tab, not to the right of the tabstrip"

[2016-01-21 02:19] bbondy opened #218 "Implement hamburger menu"

[2016-01-21 02:24] bkardell opened #219 "sqllite issue"
I've tried this a number of times and I'm not sure what's going wrong, all attempts to fix it lead to other disarray...

Node v4.2.4/OSX 10.9.2 - as I said, I've tried this a number of times and the install _usually_ goes off without a hitch.  `npm run watch` also appears to startup just fine.  BUT - npm start yields:

[code]

In lib I find v46 instead of v47.  Googled this and no solution I've fo

[2016-01-21 02:51] bbondy commented on #219
Could you try clearing out your node_modules, then doing another `npm install`?  Use the latest node, like v5.5.0.  You can Install nvm or n if you need to maintain multiple node versions.

[2016-01-21 03:16] jaydson commented on #219
Same here.
I'm on Ubuntu 14.04 with Node.js v5.5.0.

[code]

[2016-01-21 03:22] bbondy commented on #219
@jaydson can you confirm if you npm installed with 5.5?

[2016-01-21 03:25] bbondy commented on #215
Did you do these steps first?
https://github.com/brave/browser-laptop/blob/master/README.md#installation

[2016-01-21 03:39] jaydson commented on #219
It seems like it's working now. I removed the `node_modules` folder and did another `npm install`.
I have a different issue related to webpack, so I'll find or create another thread.

Thanks @bbondy

[2016-01-21 03:48] bbondy commented on #219
No problem @jaydson, thanks for reaching out!
@bkardell please re-open if you need some help getting it to work, but it should work given the above fix.

[2016-01-21 03:48] #219 closed

[2016-01-21 03:50] bbondy commented on #209
@bobpoekert can you confirm if you're on Node 5.5? If so, please make sure you clear out your node_modules directory first and then npm install.

[2016-01-21 03:56] bbondy commented on #200
Yep @andi1984.
I'd accept a PR with min version >= 5.0.0 (or best version you determine) if anyone has a chance.
package.json change per: https://github.com/brave/browser-laptop/issues/200#issuecomment-173344871

[2016-01-21 05:50] NoahAndrews opened #220 "Outdated dependencies"
npm reports that we are using deprecated versions of lodash and css-list.

[2016-01-21 06:05] qbig opened #221 "npm start failed: "Not a valid Eletron app ... /node_modules/sqlite3/lib/binding/node-v47-darwin-x64/node_sqlite3.node""
![screen shot 2016-01-21 at 1 59 02 pm](https://cloud.githubusercontent.com/assets/5563225/12472903/ed032794-c047-11e5-90d4-9914a2c12bd5.png)

[2016-01-21 07:50] asiminiceanu commented on #214
+1

[2016-01-21 08:06] vmx commented on #221
On Debian I had  directory called `...v46..` instead of `...v47...`, symlinking it worked for me.

[2016-01-21 08:10] vmx commented on #221
Seems to be duplicate of #219.

[2016-01-21 08:25] qbig commented on #221
I was using node 5.0. would try with 5.5 and update here.

[2016-01-21 08:37] jiangyang commented on #180
Run into this too. The console error points to `this.activeFrame.goBack()` where `this.activeFrame` is `undefined`, same for the forward button. One way to repro is to open 2 tabs, clicks to close one of the tabs and the remaining tab's back/forward would break.

The reason seems to be that clicking the tab close button also triggers the tab to be set active so eventually the closed tab is set to

[2016-01-21 10:02] yurenju commented on #200
here we go, I just sent a pr for that.

BTW, Hi @fabricedesre, it's been a long time to see you :D

[2016-01-21 10:06] leahnnovash commented on #215
Yes, I did. I have no idea whether they worked correctly, though.

[2016-01-21 10:18] qbig commented on #221
Node 5.5, npm 3.5.3

[code]

[2016-01-21 10:22] qbig commented on #209
#221 seems to have the same symptom. Confirm running 5.5. tried 'rm -rf node_modules' before npm install

[2016-01-21 12:05] nkudo commented on #221
had same issue too, using Mac os running on Nodev5.4

[2016-01-21 14:36] bbondy commented on #214
I think the first error for the tag can go away if you setup ssh github access.
This is fixed already on master though.

For the other error please try updating to node-gyp v3.2.1

[2016-01-21 14:40] #200 closed

[2016-01-21 15:00] anvk opened #224 "Flux vs Redux"
First of all this is a great idea for the project and I will try to contribute to it as well whenever I have time.

But I have a technological question - I saw that you guys use Flux as the main application architecture for communications between React components.
Why not to use Redux? It is more inline with pure JavaScript functions and (so far as I heard of) takes immutable objects into its core

[2016-01-21 15:17] wiredearp commented on #221
Got mine on Ubuntu 14.04 using on Nodev4.2.4.

[2016-01-21 15:22] asiminiceanu commented on #214
There are many errors like that. I just listed one. I can list the full output if you want.

[2016-01-21 15:27] bbondy commented on #224
Wouldn't be against it, but yes, immutable top level data is one of our core principles in design for the code.  Code feels nice and organized and easy to maintain right now as is though.   I'll close this issue since it's just a design question but feel free to ask more.

[2016-01-21 15:27] #224 closed

[2016-01-21 16:00] hallowme commented on #214
Same problem as asiminiceanu but with Fedora 23.
node-gyp isn't availible on fedora repo for me.
Is there an other way to solve it?

thanks

(i can join my npm-debug-log file)

[2016-01-21 16:24] anvk commented on #224
Thanks for your reply. Good we closed this issue since it is not really a problem. Please do not get me wrong, I'm not hear to pop out of the blue and say "Well guys let's switch this whole project to Redux now, won't it be cool!"

I'm just curious what was the decision not to go the Redux way while lots of people might say it is the natural evolving of Flux architecture. Or there are plans in the

[2016-01-21 16:28] bbondy commented on #224
We're open to it, but it just came down to what was familiar already to the team from existing projects. It's possible that would have been a better solution but we're happy where we are now regardless.  Sorry I don't have a better answer for this!

[2016-01-21 16:32] anvk commented on #224
No it is a pretty good answer and I understand. I was just curious if you guys found some reasoning of not going the Redux way and wanted to hear that.
http://stackoverflow.com/questions/33619775/redux-multiple-stores-why-not/33633850#33633850

[2016-01-21 16:36] bbondy commented on #224
We do have 2 stores by the way, we started with one only inside each render process window.
The main reason for this is multiple processes.

Ideally we'd have a single store in the parent process but we don't have an efficient way to update immutable data across processes.   We'd love to see some kind of ImmutableJS that works efficiently from shared memory though.

[2016-01-21 16:39] sirugh commented on #221
Resolved updating to Node 5.5, deleting node_modules and running `npm install`.

[2016-01-21 16:41] bbondy commented on #221
Closing this based on ^

[2016-01-21 16:41] #221 closed

[2016-01-21 18:01] bkardell commented on #214
Also getting

../././filter.h:12:10: fatal error: 'BloomFilter.h' file not found
#include "BloomFilter.h"
         ^
1 error generated.
make: *** [Release/obj.target/abp-filter-parser-cpp/addon.o] Error 1
gyp ERR! build error
gyp ERR! stack Error: `make` failed with exit code: 2
gyp ERR! stack     at ChildProcess.onExit (/usr/local/lib/node_modules/npm/node_modules/node-gyp/lib/build.js:270:23)
gy

[2016-01-21 19:15] diracdeltas opened #226 "Implement safebrowsing"
https://www.google.com/transparencyreport/safebrowsing/

[2016-01-21 19:16] diracdeltas opened #227 "Add cert warning page"
Currently a site with an invalid cert, like https://lenovo.com, simply just shows blank.

[2016-01-21 20:35] dan-da opened #228 "Unable to build on ubuntu 14.04 LTS"
This is my first time trying to build.  Following instructions at
https://github.com/brave/browser-laptop#installation

gyp http GET https://nodejs.org/dist/v0.10.25/SHASUMS256.txt
gyp http 200 https://nodejs.org/dist/v0.10.25/SHASUMS256.txt
make: Entering directory `/home/danda/dev/browser-laptop/node_modules/abp-filter-parser-cpp/node_modules/bloom-filter-cpp/build'
  CXX(target) Release/obj.tar

[2016-01-21 21:39] Aidoboy commented on #214
The version of nodejs in Ubuntu's repositories is too old.
I installed nodejs from here: https://nodejs.org/en/download/package-manager/ and now it seems to work.

[2016-01-21 21:51] groksrc commented on #214
I am running node-gyp v3.2.1. Also, I can clone and compile abp-filter-parser-cpp on it's own from source here: https://github.com/bbondy/abp-filter-parser-cpp.git

[2016-01-21 22:00] groksrc commented on #228
This is essential the same problem: https://github.com/brave/browser-laptop/issues/214

[2016-01-21 22:33] epu commented on #209
Hit this on El Capitan with old node 4. Upgrading to confirm. If this is an issue, can we mention node version constraint / requirement in readme, and/or assert during build?

[2016-01-21 22:38] bgiesing commented on #214
I am having a similar issue on OpenSuse Leap 42:

[code]

[2016-01-21 23:13] Aidoboy opened #229 "Can't run `npm run-script watch` because of `webpack-dev-server`"
It give me this:
[code]

Anyone know what's up? I don't know anything about `webpack-dev-server`.

[2016-01-22 00:12] diracdeltas commented on #184
this is fixed by https://github.com/atom/electron/pull/4177/files, so downloads will be in the correct place once @bbondy updates electron-prebuilt to include that commit.

if it's worth it in the meantime, i can set the session download path to the user downloads folder.

[2016-01-22 00:48] joselitojunior1 opened #230 "Failed at the electron-chromedriver install"
I got that error while doing a clean clone from beta branch, and then doing a `npm install`

**output**
npm ERR! electron-chromedriver@0.36.0 install: `node ./download-chromedriver.js`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the electron-chromedriver@0.36.0 install script 'node ./download-chromedriver.js'.
npm ERR! This is most likely a problem with the electron-chromedriver package,
np

[2016-01-22 01:04] diracdeltas opened #231 "add NoScript-like feature"
some power users have asked for the ability to block js from running except on whitelisted sites. Chrome has a feature to whitelist/blacklist scripts by hostname pattern, which may be sufficient.

[2016-01-22 01:06] diracdeltas commented on #228
Yep, closing as duplicate.

[2016-01-22 01:06] #228 closed

[2016-01-22 01:06] #180 closed

[2016-01-22 01:09] bbondy commented on #184
We'll update soon, so we can close this, or close once we upstream. @bridiver will be rebasing his window fixes on top of the coffeescript->JS conversion.

[2016-01-22 02:39] hamidsafdari commented on #229
It does say so in the `README.md` to run `npm run watch` first and then `npm start`.
Run them in separate terminals.

[2016-01-22 03:19] diracdeltas commented on #214
I too am seeing the error with abp-filter-parser-cpp on debian sid. node-gyp is 3.2.1 so that isn't the issue

[2016-01-22 03:55] bridiver commented on #229
incorrect run-script docs are updated https://github.com/brave/browser-laptop/commit/f33f2eeeec16c525c470346a67fb6f147aa51074
Feel free to re-open if you have trouble when running ```npm run watch```

[2016-01-22 04:06] diracdeltas commented on #218
is this like on Chrome where the hamburger menu is just a duplicate of commonly-used app menu items?

[2016-01-22 04:07] diracdeltas commented on #218
![screen shot 2016-01-21 at 20 06 58](https://cloud.githubusercontent.com/assets/549654/12502184/8d4b1450-c07a-11e5-89c8-a92576b76a34.png)

[2016-01-22 04:07] bridiver commented on #174
forgot to reference this bug, but should be fixed by https://github.com/brave/browser-laptop/commit/5b61a682cbedc9ff1cddd006b8f1492c370026ce

[2016-01-22 04:07] #174 closed

[2016-01-22 04:22] bridiver commented on #96
isn't this done?

[2016-01-22 04:32] bbondy commented on #96
Sure is:
https://github.com/brave/browser-laptop/commit/63153d5b9df7942555acfa6acb8005af387ffbfe

[2016-01-22 04:32] #96 closed

[2016-01-22 04:32] bbondy commented on #174
We should do a release soon for this.

[2016-01-22 04:34] bbondy commented on #218
The button itself was in the design spec but not specified what's in it.  Something like that makes sense to me.

[2016-01-22 06:30] joselitojunior1 commented on #230
fixed by deleting all `node_modules` folder and rebuilding it

[2016-01-22 06:30] #230 closed

[2016-01-22 12:43] bbondy opened #235 "Make a brave/electron build on Ubuntu for x86"
Get the binary on:
https://github.com/brave/browser-laptop-releases/tree/gh-pages/0.36.3 for this version and future versions.  brave/browser-laptop-releases is just a storage repo for github pages for the electron-prebuilt forks.

Ideally we could do this via a Dockerfile so we can easily run this on consistent infrastructure in the future.

Otherwise people trying to build on x86 will get this:

[2016-01-22 14:44] helloitu opened #237 "ERROR with npm install , HELP PLEASE!"
when i enter npm install , its starts normal , but after 20 minuts , i see this ... help pls......

(sorry for my bad english :c)

npm ERR! Linux 3.2.0-97-generic
npm ERR! argv "node" "/usr/local/bin/npm" "install"
npm ERR! node v0.12.7
npm ERR! npm  v3.5.2
npm ERR! code ELIFECYCLE

npm ERR! abp-filter-parser-cpp@1.0.22 preinstall: `npm install bloom-filter-cpp && npm install hashset-cpp`
npm ERR!

[2016-01-22 14:47] stshank opened #238 "Brave for Windows crashes when opening Google Docs document"
1. Opened drive.google.com
2. Double-clicked a Doc
3. App totally crashed.

The doc opened fine when I copied the URL from a different browser and pasted it into the address bar.

[2016-01-22 14:48] stshank opened #239 "Useragent weirdness with Google new sign-in alert"
I logged into Gmail with dual-factor authentication using Brave for Windows. Google sent me an email saying there's been a new login from Chrome for Windows. Maybe this is Google's problem, maybe not.

[2016-01-22 14:51] stshank opened #241 "top autocomplete result should appear in URL bar input"
1. Type in a web address, e.g. cnet.com
2. Open new tab and start typing that same address
3. Sometimes I see a link to a site below the address bar, but it'd be nice to have a suggested domain autocomplete in the address bar as I type so I can hit just "enter" to navigate to that page, a la Chrome.

[2016-01-22 14:56] eliperelman commented on #237
@helloitu Node.js 0.12.x is too old to run Brave, please update to the latest 5.x line.

[2016-01-22 14:59] helloitu commented on #237
thanks

[2016-01-22 15:02] helloitu commented on #237
so , i downloaded the zip from nodejs.org , and , now how install? :P

[2016-01-22 15:04] eliperelman commented on #237
Honestly I find installing Node.js easier from a package manager than from a zip everytime. You could follow [1] for more info.

My preferred route though is to use the "n" package on npm, which lets you easily switch Node.js versions:

https://www.npmjs.com/package/n

[1] https://nodejs.org/en/download/package-manager/

[2016-01-22 15:06] #209 closed

[2016-01-22 15:08] helloitu commented on #237
@eliperelman  a lot of thanks bro , ^^

[2016-01-22 15:16] sidstamm opened #242 "Browser fingerprint is unique"
I know it's early, but this might be a good time to think about uniqueness of browser fingerprint.  I ran brave through http://panopticlick.eff.org and it came up very unique.  The user agent was most identifying.  It would be really cool if we could reduce the entropy here.

Raw copy/paste from the web site (sorry it is not tabular):
Browser Characteristic	bits of identifying information	one in x

[2016-01-22 15:18] sidstamm commented on #242
cc @diracdeltas

[2016-01-22 15:20] sidstamm opened #243 "Implement support for the Do-Not-Track header"
Long shot here, and perhaps not necessary in this browser, but what about implementing DNT?

[2016-01-22 15:24] sidstamm commented on #237
I was struggling with node and npm versions for a while, then I installed nvm and told nvm to use node 5.5 and all my problems went away. Maybe this will help folks who have similar problems but the great advice from @eliperelman doesn't work. (http://nvm.sh)

[2016-01-22 15:24] Aidoboy commented on #229
@bridiver Since you closed it [\[citation\]](http://stackoverflow.com/a/21333938/1526048), I can't re-open it, but it's still broken:

[code]

[2016-01-22 15:25] eliperelman commented on #237
Agreed, both "n" and "nvm" are good Node.js version managers.

[2016-01-22 15:34] helloitu opened #244 "Error installing Brave with npm install HELP"
when i enter npm install , i get this error, please help

gyp ERR! build error
gyp ERR! stack Error: `make` failed with exit code: 2
gyp ERR! stack     at ChildProcess.onExit (/home/dosnut/browser-laptop/node_modules/npm/node_modules/node-gyp/lib/build.js:270:23)
gyp ERR! stack     at emitTwo (events.js:100:13)
gyp ERR! stack     at ChildProcess.emit (events.js:185:7)
gyp ERR! stack     at Process

[2016-01-22 15:41] bbondy commented on #209
Yep that's merged now in the README.

[2016-01-22 16:31] ghost opened #246 "The UI should allow for advanced customization"
The concept of Brave looks like it will be a real browser for power users again. Would be nice to have advanced customization features aka a full status bar or being able to combine urlbar elements with the tabs if possible, or more advanced elements movement in the UI.

Thanks for considering :)

[2016-01-22 16:49] bridiver commented on #229
Ha, details... I have re-opened it for you :) I'm shooting in the dark a little here because we haven't built it on Linux, but as a first step I would try updating to node v5+ (specified in installation step 3 on the README, but should probably be more prominent). Do you have any additional log output?

[2016-01-22 16:55] bridiver opened #248 "Context menus for links don't handle onClick links or links with that contain span, etc..."
The context menu will only recognize a link and get the correct source for the most basic case of a simple link with only text inside it.

[2016-01-22 17:12] craft37 opened #249 "FR: Ubuntu/Debian Linux .deb installation?"
Could you make possible to install Brave browser on Ubuntu easier way?
Thanks!

[2016-01-22 17:22] bkardell opened #250 "Alternate ports"
I'd really like to be able to run against something other than :8080 - can we get a command-line arg to specify port?

[2016-01-22 17:30] bbondy commented on #250
Sounds good, would accept PR for this if someone has time.
To make env vars cross platform we probably need the npm command to start a script in the tools/ directory like some other examples there.   Trying to avoid needing gulp if possible.

[2016-01-22 17:32] helloitu commented on #237
@eliperelman  hei man , i got another error here , a lot of errors

gyp ERR! build error
gyp ERR! stack Error: make failed with exit code: 2
gyp ERR! stack at ChildProcess.onExit (/home/dosnut/browser-laptop/node_modules/npm/node_modules/node-gyp/lib/build.js:270:23)
gyp ERR! stack at emitTwo (events.js:100:13)
gyp ERR! stack at ChildProcess.emit (events.js:185:7)
gyp ERR! stack at Process.ChildPr

[2016-01-22 17:42] SavageCore opened #251 "Build fails on Windows 10 x64 unable to download electron-v0.36.3-win32-ia32.zip"
$ npm install

Downloading electron-v0.36.3-win32-ia32.zip
Error: GET http://brave.github.io/browser-laptop-releases/0.36.3/electron-v0.36.3-win32-ia32.zip returned 404

C:\Brave\browser-laptop\node_modules\electron-prebuilt\install.js:22
  throw err
  ^
 Error: GET http://brave.github.io/browser-laptop-releases/0.36.3/electron-v0.36.3-win32-ia32.zip returned 404
npm WARN optional Skipping failed

[2016-01-22 18:31] PFCKrutonium commented on #251
Gotta love how that log file doesn't exist afaik.

[2016-01-22 18:38] diracdeltas commented on #242
@sidstamm great catch, thanks for checking. putting the easy-to-reduce parts of this fingerprinting surface on my 0.8 list.

[2016-01-22 18:40] diracdeltas commented on #243
There's been an internal discussion about this; I don't think we will turn on DNT by default until we have something like Privacy Badger that whitelists sites with an acceptable DNT policy at a .well-known URL. Optional DNT header turning-on will probably come in 0.9-ish. Open to other thoughts.

cc @BrendanEich

[2016-01-22 18:41] PFCKrutonium commented on #251
That file doesn't seem to exist any more, but I can't seem to find the package to patch it to use a different download :/

[2016-01-22 18:41] diracdeltas commented on #244
Same issue as #214

[2016-01-22 18:43] bbondy commented on #139
Fixed here:
https://github.com/brave/browser-laptop/commit/738a23842bdc7f985a11766668ec06448bad507c

[2016-01-22 18:43] #139 closed

[2016-01-22 18:45] an-water commented on #251
Have you tried making sure you're on node 5.5.0, removing the `node_modules` folder and running `npm install` again? ref: #221 #230

[2016-01-22 18:45] diracdeltas commented on #246
This is a pretty cool idea for post-1.0. The browser UI is completely written in HTML/CSS/JS, so it makes sense for us to be the https://atom.io/ of browsers in terms of core customizability.

[2016-01-22 18:47] PFCKrutonium commented on #251
How can I check the version of node I have installed?

[2016-01-22 18:48] PFCKrutonium commented on #251
Stupid Question, I am using https://nodejs.org/dist/v5.5.0/node-v5.5.0-x86.msi so 5.5.0 ofc.

[2016-01-22 18:49] bbondy opened #252 "Add tab partitions"
I'm thinking initially just a `File -> New Partitioned Session` menu item that creates that tab with a new partitioned session.

Arguments for:
- I think it's likely a feature we'd keep and love
- Gives us the ability to dogfood the partitioned sessions concept
- Gives us a great differentiator, when combined with pinned tabs could be extremely useful.

[2016-01-22 18:50] diracdeltas commented on #237
I think this is a dupe of #214 as well. @sidstamm interesting that node 5.5 solved it for you

[2016-01-22 18:51] diracdeltas commented on #214
in https://github.com/brave/browser-laptop/issues/237, sid says that updating to node 5.5 fixed it. i am Away-From-Linux-Keyboard right now, but curious if that works for others.

[2016-01-22 18:53] diracdeltas commented on #249
I think at least a dozen people have asked me this via Twitter/etc. cc @bbondy for thoughts on when we should have linux packages available.

[2016-01-22 18:55] an-water commented on #251
for future reference it's `node -v`. it's also in your error log output that i should have skimmed a little harder. :)

did you delete / reinstall?

[2016-01-22 18:57] diracdeltas commented on #239
I think this is Google's problem; they can in theory figure out that the browser is Brave based on our UA string.

[2016-01-22 18:58] PFCKrutonium commented on #251
npm install is running right now, yes.

[2016-01-22 19:06] PFCKrutonium commented on #251
[code]
-snip of map of the npm_module folder, quite large...-

[code]

[2016-01-22 19:09] bkardell commented on #214
@diracdeltas I was still getting that with node 5.5 yesterday, but I had a host of other problems.  I wound up basically removing all of my node modules & libs (things installed with -g and so on), making sure I chowned it all (I think something at some point must've been run with sudo) and various other hiccups, but ultimately I did get it working last night and ... <3 <3.  I did open another iss

[2016-01-22 19:09] diracdeltas commented on #238
My app doesn't crash, but it shows this error repeatedly and refuses to load the goog doc. @aekeus are we getting crash reports for things like this?

![screen shot 2016-01-22 at 11 06 42](https://cloud.githubusercontent.com/assets/549654/12520304/9709bc7a-c0f8-11e5-8c16-fd1092851dbe.png)

[2016-01-22 19:12] PFCKrutonium commented on #251
[npm-debug.txt](https://github.com/brave/browser-laptop/files/101298/npm-debug.txt)

[2016-01-22 19:14] bkardell commented on #250
a configuration file is possibly easier/better because you need to match it on the server/browser, right?

[2016-01-22 19:15] SJ-Diamond commented on #246
Just take a look at Firefox version 22 (outdated, but had many interesting features loved by power users) or Vivaldi Browser - Blink engine is able to support tons of features and speed, so i really hope you are making use of that opportunity and not just plan to create another simple browser for the masses, but as Brendan Eich is founder of Brave, i guess you have anyway more higher goals for you

[2016-01-22 19:17] sidstamm commented on #243
I am not convinced you should turn on the DNT header by default (using privacy badger may change my mind), but I do think it would be awesome to support it as an option!

[2016-01-22 19:17] sidstamm commented on #237
I had been using node 0.12 on Ubuntu 14.04.  I didn't try 5.4!

[2016-01-22 19:24] bbondy commented on #249
And lots in support, I think the main blocker here is to make it easy to produce lots of electron-prebuilt binaries for brave/electron for the same platforms as atom/electron has.  Maybe via Dockerfiles? See also https://github.com/brave/browser-laptop/issues/235

[2016-01-22 19:29] bbondy commented on #250
I was just anticipating some problems dealing with env vars cross platform.

Let's just do something env var based like:
PORT=9091 npm run watch
on Windows that might be:
set PORT=9091&& npm run watch

Command line arg that npm passes to a tools/ script would be fine with me too.
npm run watch --port=9091

[2016-01-22 19:30] PFCKrutonium commented on #249
I would love to see an arch AUR solution as well.

[2016-01-22 19:33] bbondy commented on #239
Agree I'll close this for now unless we discover more proof we can do more.

[2016-01-22 19:33] #239 closed

[2016-01-22 19:35] Aidoboy commented on #229
When I update to node 5, I get an error while building. Give me a minute.

[2016-01-22 19:38] aekeus commented on #238
I can duplicate using the steps listed above. @yan, no those are not being sent as crash reports.

[2016-01-22 19:40] diracdeltas commented on #238
Super weirdly, I can open the doc if I copy-paste the link into a new tab, but not if i double click it from Goog drive.

[2016-01-22 19:41] SavageCore commented on #251
No change after removing `node_modules` and re running `npm install`
`node -v: v5.5.0`

[2016-01-22 19:42] PFCKrutonium commented on #251
The problem here is literally that it is trying to download a file that does not exist - I checked, it does not exist.

[2016-01-22 19:43] SavageCore commented on #251
Correct.

[2016-01-22 19:49] bbondy commented on #250
ditto PORT=9091 npm run start

I'd be ok with a config file but not making it required too.
git add one time and then add to .gitignore

[2016-01-22 19:50] Krutonium opened #253 "Easier Enabling of Extensions"
I ask because I have several addons that I would need to be able to truly move to this browser - LastPass for example for many people, would be a dealbreaker.

[2016-01-22 19:52] Aidoboy commented on #229
I got this: https://gist.github.com/Aidoboy/dbf6b5f6b5c84eaf5e12

[2016-01-22 19:54] bridiver commented on #229
do you have node-gyp installed globally?

[2016-01-22 19:54] Aidoboy commented on #229
[code]

[2016-01-22 19:54] Aidoboy commented on #229
It's in there

[2016-01-22 19:57] diracdeltas commented on #253
Compatibility with Chrome extensions is a good post-1.0 goal. The main reason it's not coming earlier is that Electron doesn't want to support all the Chrome extension APIs; we'd have to convince them to do so or put them in our fork of Electron. https://github.com/atom/electron/issues/1498

[2016-01-22 20:00] bbondy commented on #252
![partitions](https://cloud.githubusercontent.com/assets/831718/12521472/d56b0a4e-c118-11e5-818d-49ad559443f5.gif)

[2016-01-22 20:03] bbondy commented on #229
I think you need v3.2.1 of node-gyp

[2016-01-22 20:09] Aidoboy commented on #229
Updated node-gyp, but I'm still getting the same error.

[2016-01-22 20:31] PFCKrutonium commented on #251
I can't figure out where it is requesting the file from in the file yet, but a valid download for it is https://github.com/atom/electron/releases/download/v0.36.3/electron-v0.36.3-win32-ia32.zip

[2016-01-22 20:49] bbondy opened #255 "Add the ability to undo closed window"

[2016-01-22 21:27] bbondy commented on #252
Also added in an indicator for the current session in the SiteInfo component

[2016-01-22 22:10] bbondy opened #257 "Audio indicator shows for any playing video / image"
It should only show for playing audio, not for embedded GIF etc.

[2016-01-22 23:20] epu commented on #209
For some reason, this didn't actually fix this for me. I tried also clearing out the npm cache manually. The new npm 5.5 was installed with n, and isn't first in my PATH, and it was invoked with its fq path to run the build step. I still had an sqlite v46 folder, so I symlinked it to v47, and it runs. Trying a few things to narrow this down.

[2016-01-22 23:38] j-burt commented on #215
I was able to build using the following steps on Windows 10 (64-bit) Build 10586 (not sure if all options I chose are necessary):

1.  Installed Git-2.7.0-64-bit.exe (choosing "use Git and optional Unix tools...").
2.  Installed node-v5.5.0-x64.msi
3.  Upgraded npm using powershell as admin:
	npm install -g npm-windows-upgrade
	Set-ExecutionPolicy Unrestricted -Scope CurrentUser -Force
	npm-window

[2016-01-22 23:58] bbondy commented on #252
https://github.com/brave/browser-laptop/pull/256

[2016-01-23 00:08] bbondy commented on #251
We aren't producing x86 builds yet to reduce overhead and testing, only x64.
We can leave this open though for when we do.

[2016-01-23 00:10] bbondy commented on #251
Actually I see you are meaning to use x64, you just need to have your env setup for x64 building and not x86 building.

I suggest to use the mozilla-build package. You can get it at https://ftp.mozilla.org/pub/mozilla.org/mozilla/libraries/win32/MozillaBuildSetup-Latest.exe

After you do that start the script:
"C:\mozilla-build\start-shell-msvc2013-x64.bat"
or
"C:\mozilla-build\start-shell-msvc201

[2016-01-23 00:16] SavageCore commented on #251
Thanks, bbondy. I actually solved my issue by completely removing nodist and install latest node 5.5.0 offical package.

[2016-01-23 00:43] bbondy commented on #251
Great I'll close this.

[2016-01-23 00:43] #251 closed

[2016-01-23 00:56] AramZS opened #259 "Dragging a Bookmarklet to the tab-bar area causes the browser to whitescreen"
I don't know if there is intended to be a bookmarklet area, but attempting the drag and release causes the browser to white screen on the OSX build.

[2016-01-23 01:44] diracdeltas commented on #259
There is no bookmarklets section yet

[2016-01-23 02:13] diracdeltas opened #260 "add option to disable webrtc"
was reminded by https://github.com/atom/electron/issues/4200

webrtc leaks private IP addresses, so tor browser disables it

[2016-01-23 02:46] wblondel commented on #238
I have the same issue. It does the same with Sheets.

[2016-01-23 02:49] wblondel commented on #193
It's really weird, Youtube works perfectly on my side. It uses the HTML5 player.

[2016-01-23 02:50] bbondy commented on #260
@BrendanEich need your call here

[2016-01-23 02:58] wblondel opened #261 "Sound cutting out after few minutes"
Hi!

I noticed that when I watch videos on Youtube, sound will cut out after few minutes, and the only way to get it back is to restart the browser.

EDIT : I'm really sorry, sound cuts out when I go back to the tab playing sound by clicking on the sound icon.... Clicking on the sound icon cuts out the sound. It's a feature.

[2016-01-23 03:20] #261 closed

[2016-01-23 03:31] bbondy opened #262 "Add a sandbox attribute to the inserted iframes"
Wladimir Palant on January 20, 2016 at 13:51:08 says:
Hm, safe ads... You know that an iframe with srcdoc attribute is considered first-party and the same-origin policy isn't stopping it from accessing its parent? So, unless you also add a sandbox attribute, the ad frames you are injecting are just as unsafe as the ones you blocked. Want to actually sandbox them?

For reference, I'm talking about

[2016-01-23 03:31] bbondy commented on #262
cc @diracdeltas @bridiver pls take when you can

[2016-01-23 04:15] bbondy commented on #176
Seeing this with both partitioned tabs and private tabs.  I'll take.

[2016-01-23 04:25] bridiver commented on #262
The srcdoc is leftover from the OIP stuff when only an image and click url were going to be returned to browser. It will be removed before the release, but we can prioritize the change to alleviate any concerns that people have.

[2016-01-23 04:25] bbondy opened #263 "Explore partition tabs UI"
Regarding the partitions tabs feature:

Yan wrote:

Some kind of icon perhaps with a title attribute may be enough. You can also already click on the icon in the urlbar to get site info and it also tells you which partition the tab lives in.

I imagine the biggest use case for this is having multiple signed in twitters and gmails etc.  I think the "Person" UI isn't an exact match for this so want

[2016-01-23 05:08] diracdeltas commented on #260
either way, this is minor enough in the grand scheme of things to be 1.0 or later

[2016-01-23 05:12] diracdeltas commented on #262
nice to see Wladimir contributing!

@bridiver so there is no downside to adding the sandbox attribute anyway for now? i'll do it then

[2016-01-23 05:32] bradleyrichter opened #264 "downloads open a save dialog but don't end up in their destination folder."
I suspect we haven't landed downloads yet so this is a reminder for DF'ing.

[2016-01-23 05:34] bbondy commented on #264
they go inside the profile in a Downloads folder, it's an electron build and we should get it for free on the next upgrade. Anything other than the location fix we need to do here?

[2016-01-23 06:13] #262 closed

[2016-01-23 06:17] bbondy opened #265 "Use CSS.escape for query selectors"
https://googlechrome.github.io/samples/css-escape/index.html

[2016-01-23 06:54] bridiver commented on #262
this would apply to ios as well

[2016-01-23 12:27] bbondy opened #266 "Pinning a tab should allow duplicates for same URL if different partitions"

[2016-01-23 12:28] bbondy opened #267 "Don't allow pinning a private tab"
Because those will get stored into app data and they don't have an isPrivate property.

[2016-01-23 12:34] bbondy opened #268 "partitioned session opened from urlbar of pinned tab should open from that tab"
This only applies to pinned tab.  The URL bar already opens in the same session for other tabs because it re-uses the same tab.

[2016-01-23 12:37] bbondy opened #269 "Always reloading tab happens because sometimes did-frame-finish-load is not sent"
Or we register for it in error somehow or some other reason for it.

[2016-01-23 12:53] arthur-peka commented on #215
Dependencies (such as Python) should be specified in build instructions I think.

[2016-01-23 15:15] cwramsey opened #270 "Not a valid Electron app"
On OSX, after building from master, I get this error when running `npm start`

<img width="436" alt="screen shot 2016-01-23 at 9 13 26 am" src="https://cloud.githubusercontent.com/assets/8377322/12530854/abc736ce-c1b1-11e5-968e-b6e79125fc82.png">

When running tests, the same error happens on every test suite. Example of result.

[code]

[2016-01-23 15:52] ghost opened #271 "Add Dark UI"
As there are people around which are unable to look at a light UI only because of their eyes. I am such a person, but there are tons of others around with such an issue.

Hopefully you take this into account for future releases. Thanks!

----

edit by @luixxiul

If you have a serious eye problem, definitely f.lux is worth trying.
You can grab a copy here: https://justgetflux.com/

also see below:

[2016-01-23 17:20] boozedog opened #272 "Windows 10 x64: The application was unable to start correctly (0xc000007b)"
[code]

When I try to run Brave.exe I get the following error: "The application was unable to start correctly (0xc000007b). Click OK to close the application"

I'm using msbuild from here: http://go.microsoft.com/fwlink/?LinkId=691132

I used this command to select the correct versio of msbuild: ```npm config set msvs_version 2015```

[2016-01-23 17:40] craigmichaelmartin opened #273 "Use own .eslintrc instead of standard"
[Standard](https://github.com/feross/standard) is built atop [eslint](https://github.com/eslint/eslint) and offers a set of default (unchangeable) eslint configuration rules and pre-commit linting. While this is great for getting off the runway with some sane best practices, it locks you into a linting style you cannot own. Would there be interest in losing the overhead and stripping down to eslin

[2016-01-23 17:53] bbondy commented on #273
You make some good arguments but I'd rather sit on this and leave the issue open, and not act on it right now.  Although we should prefer const, we need to stay efficient and can't spend time (right now anyway) being in the business of tweaking / maintaining config files across projects.  Just my opinion, others can weigh in too pls :)

[2016-01-23 17:58] daanlenaerts commented on #270
I'm having the same issue, both on Windows as on OS X.

[2016-01-23 18:07] finchatticus opened #274 "npm run watch error on Debian 8.2 jessie amd64"
events.js:154
      throw er; // Unhandled 'error' event
      ^

Error: listen EADDRINUSE 127.0.0.1:8080
    at Object.exports._errnoException (util.js:856:11)
    at exports._exceptionWithHostPort (util.js:879:20)
    at Server._listen2 (net.js:1236:14)
    at listen (net.js:1272:10)
    at net.js:1381:9
    at GetAddrInfoReqWrap.asyncCallback [as callback] (dns.js:63:16)
    at GetAddrInfoReqWr

[2016-01-23 18:17] Arandhras commented on #246
This would be definitely something that I would love. I miss the hackability of "old" Firefox releases in terms of UI customization, and being able to achieve that again would be fantastic!

[2016-01-23 18:30] Ciandee opened #275 "Building but failing Win 10 64bit"
[npm-debug.zip](https://github.com/brave/browser-laptop/files/101975/npm-debug.zip)
1st sorry that the log is in zip but it was too big for pastebin

So I followed the instruction I downloaded every dependency I could look up but I keep getting this error, I really don't know what to do now.

[2016-01-23 20:11] diracdeltas commented on #262
cc @garvankeeley, please fix when you get a chance

[2016-01-23 20:18] bbondy commented on #262
cc @SergeyZhukovsky, please fix also when you get a chance in the Brave branch.

[2016-01-23 20:47] akhilcjacob commented on #275
I have a similar problem....
[npm-debug.zip](https://github.com/brave/browser-laptop/files/102022/npm-debug.zip)

[2016-01-23 21:11] diracdeltas opened #278 "too much padding on nextTab button"
It looks like there is too much space between nextTab and the add tab button.

![screen shot 2016-01-23 at 12 58 10](https://cloud.githubusercontent.com/assets/549654/12532839/8ba059d6-c1d2-11e5-896b-c329d8e7f3f1.png)

the prevTab button also looks to me like it should be closer to the edge of the window.
![screen shot 2016-01-23 at 13 10 37](https://cloud.githubusercontent.com/assets/549654/12532

[2016-01-23 21:12] wblondel commented on #272
Did you install the Microsoft Visual C++ Runtime Library ?

[2016-01-23 21:24] morodeer opened #279 "Webpack dependency"
I've tried to install brave with `sudo npm cache clear` and then `npm install`, and got this one.
[code]

Installing webpack (`npm install webpack -g`) solved the problem. Maybe some dependency is missing?
Log included. Ubuntu 14.04.
[npm-debug-before.txt](https://github.com/brave/browser-laptop/files/102035/npm-debug-before.txt)

[2016-01-23 21:25] hzoo commented on #53
In Babel 6, currently the react preset doesn't contain those plugins http://babeljs.io/docs/plugins/preset-react/.

Equivalents are:
http://babeljs.io/docs/plugins/transform-react-inline-elements/
http://babeljs.io/docs/plugins/transform-react-constant-elements/

[code]

[2016-01-23 21:31] bbondy commented on #53
Able to do a PR?

[2016-01-23 21:36] boozedog commented on #272
Yes I have this one installed: Visual C++ Redistributable for Visual Studio 2015 Update 1

https://www.microsoft.com/en-us/download/details.aspx?id=49984

[2016-01-23 21:38] hzoo commented on #53
https://github.com/brave/browser-laptop/pull/280

[2016-01-23 22:32] wblondel commented on #272
Brave needs Visual C++ Redistributable Packages for Visual Studio 2013 to be installed : https://www.microsoft.com/en-us/download/details.aspx?id=40784

Make sure it is installed.

[2016-01-23 23:25] Chaasof commented on #214
I have nodejs v5.5, npm v3.5.3 and node-gyp v3.2.1 and I can't finish the npm install :s https://pastebin.mozilla.org/8857451 any solution ?
Thanks

[2016-01-23 23:54] bbondy opened #282 "Add an "ordinate" property to electron's 'found-in-page' event and handle it in our found-in-page handler"
Currently electron does show the number of matches, but doesn't say which match you are on.

[2016-01-24 00:00] PFCKrutonium commented on #251
Question, what is nodist?

[2016-01-24 00:22] Adejair commented on #214
@diracdeltas  @bbondy  I have the same problem to build *brave* on Ubuntu, I tried build with differents version of _NPM_ and _NODE_, I using version V5.5.0 on _NODE_ and V3.5.3 in NPM.

I decided make tests with [abp-filter-parser-cpp](https://github.com/bbondy/abp-filter-parser-cpp), build using make is sucess, now, using npm to install get me errors of issue.

Cloning library and make build

![

[2016-01-24 00:42] #53 closed

[2016-01-24 00:56] boozedog commented on #272
That did the trick. Thanks!

[2016-01-24 00:56] #272 closed

[2016-01-24 01:29] sl1ngblad3 commented on #275
To build on Windows 10 x64 you need the following installed and you must run the commands in the install instructions from the Git Bash Prompt. I have successfully built on Windows 10 x64.

Git for Windows
Node.js for Windows x64
Nullsoft Scriptable Install System (NSIS)
Python 2.7 (newer versions of Python not supported)
MS Visual Studio Community 2015 (I did a custom install and ensured Git/Node

[2016-01-24 01:33] sl1ngblad3 commented on #275
Make sure you select C++ for Visual Studio Community 2015 as I believe C# is the default and I'm pretty sure it's the C++ libraries that are needed to build on Windows.

[2016-01-24 01:42] rixrix commented on #270
Hi,

Got the same error but because I was on Node v4 (README), had to switch to Nodev5 and cleaned up the node_modules and did the following:

`$> npm run watch`
`$> npm run start` <-- should be run on a separate terminal

hope that helps ;)

[2016-01-24 02:06] PFCKrutonium opened #283 "Copy/Paste Dialog on the Search/URL Bar"
One should probably be added. Yes you can ctrl+c and ctrl+v, but far too many people do not realize this.
![screenshot 199](https://cloud.githubusercontent.com/assets/3945538/12534030/3942b04c-c215-11e5-983b-287b88c5059d.png)

[2016-01-24 02:08] PFCKrutonium opened #284 "The YouTube player should be able to be full screen"
Right now it does this:

![screenshot 200](https://cloud.githubusercontent.com/assets/3945538/12534034/7db92e18-c215-11e5-9a9b-2df4ae967d68.png)

[2016-01-24 02:14] diracdeltas commented on #214
I fixed this for me on Debian unstable by deleting `node_modules`, updating to node 5.5, and then doing `npm install` again!

[2016-01-24 02:15] PFCKrutonium opened #285 "Allow Building Installer without Signing"
Forcing signing adds steps that are unnecessary imo.

![screenshot 201](https://cloud.githubusercontent.com/assets/3945538/12534056/64ac8c98-c216-11e5-92bc-2c007f5602cd.png)

[2016-01-24 02:21] PFCKrutonium commented on #271
:+1:

[2016-01-24 02:29] #214 closed

[2016-01-24 02:32] diracdeltas opened #286 "loading spinner never stops spinning sometimes"
On Twitter and Facebook tabs, it just keeps spinning.

[2016-01-24 02:35] bbondy commented on #214
I was also independently verifying the same steps on Ubuntu 14.04.1 x86_64 and it works with a cleared node_modules directory:

node-gyp v3.2.1
node 5.5.0
npm 3.3.12

[2016-01-24 02:36] bbondy commented on #286
Dupe of #269

[2016-01-24 02:36] #286 closed

[2016-01-24 02:37] bbondy commented on #269
Note always but seems to happen on twitter and Yan mentions Facebook.

[2016-01-24 02:53] bbondy commented on #279
How did you clone originally? I thought that dev-deps were always installed before deps
We do list it in our dev dependencies.

If you want to troubleshoot further, or for the next person:
Try upgrading to npm 3.5.2, node 5.5 and node-gyp 3.2.1

[2016-01-24 03:14] PFCKrutonium commented on #269
I have also had this happen on YouTube, see #284 (Unrelated, but it is occurring there.)

[2016-01-24 04:00] #285 closed

[2016-01-24 04:01] PFCKrutonium opened #290 "Can't Build-Package on Windows"
npm run build-package (see readme.md under Windows) will not work, as it uses linux commands.

[2016-01-24 04:09] bbondy commented on #290
I don't think it does, which command are you referring to?

[2016-01-24 04:18] PFCKrutonium commented on #290
rm -rf

The equivalent Windows command would be rd /s /q

Even with that fixed, it doesn't seem to work...

[2016-01-24 04:20] wblondel commented on #290
It works perfectly on my system (Windows 10 64 bit), I don't have any error.

[2016-01-24 04:21] bbondy commented on #290
Just use a shell, you can use these steps:
https://github.com/brave/browser-laptop/issues/251#issuecomment-174095031

[2016-01-24 04:22] PFCKrutonium commented on #290
I can't get any shell other than CMD or Powershell to pick up my system path. As for the build script, does it not make sense to have it work properly in a system standard shell?

[2016-01-24 04:23] bbondy commented on #290
No sorry, we do not support that way. You will have to use a shell if you want to run those scripts to make a package.  We'll have builds available soon and you can get on the queue (which will start opening fast) on brave.com if you just want builds though.

[2016-01-24 04:25] PFCKrutonium commented on #290
But _why_ would you not support it? By forcing people who want to work on this to install Bash or the like, you are adding unneeded complexity. Simply properly supporting the existing toolset on the host machine as much as possible, you can make it much easier to contribute.

[2016-01-24 04:47] bbondy commented on #290
Because every dev will have a shell, or they should get one. We want our contributors to be productive :)
Also supporting more things, adds more things we need to support. And that takes time and adds complexity.  Sorry, we will not do this issue.

[2016-01-24 04:53] bbondy commented on #264
I'll just close this since we'll definitely get it from upstream, if we find we don't though we can open another or re-open this.

[2016-01-24 04:53] #264 closed

[2016-01-24 04:56] bbondy commented on #215
Thanks for the steps.
@PFCKrutonium is adding a prerequisites file and linking it from the readme for Windows, see the work so far here:
https://github.com/brave/browser-laptop/pull/288
Closing this since that pull request should take care of it once he's done.

[2016-01-24 04:56] #215 closed

[2016-01-24 04:59] bbondy opened #293 "adblock video prevention script on cnet"
http://www.cnet.com/news/is-the-ad-blocking-brave-browser-too-good-to-be-true/
Doesn't show video because of and adblock message

Since we'll be re-inserting ads and paying publishers, we should not get an adblock message.

This just needs some `app/siteHacks.js` script.

[2016-01-24 05:04] bbondy commented on #272
Could someone who reproduces this error (without fixing it, or by undoing the fix they did) email me for an installer link? I'd like to make sure that our installers won't be affected the the same thing.  bbondy@gmail.com

[2016-01-24 05:13] yorchv commented on #279
To avoid installing packages globally you can do
[code]

[2016-01-24 05:15] bbondy commented on #279
by the way, I don't have webpack installed globally and it's working for me

[2016-01-24 05:25] Saynt commented on #214
I was able to solve this, using:

sudo npm install --unsafe-perm

[2016-01-24 05:40] SKGrimes opened #295 "Give ability to change default search engine."
There is likely a big overlap between people using an unstable, bleeding edge browser that has security built in by design, and people who don't want to use google search. To close issue please add option to change search engine.

[2016-01-24 06:45] wklm commented on #295
I could take this ticket

[2016-01-24 07:20] Adevill20 opened #297 "Error while installing"
When trying the install I get the following error, log file is also attached.

"C:\Users\anton\Documents\projects\brave\browser-laptop [master]> npm install
-

Patching sqlite3 binding.gyp...
Installing native modules, please wait...
cd ./node_modules/abp-filter-parser-cpp&&"../../node_modules/.bin/node-gyp" rebuild --target=0.36.3 --arch=x64 --dist-url=https://atom.io/download/atom-shell&&cd ../.

[2016-01-24 08:17] #297 closed

[2016-01-24 10:27] Adejair commented on #214
@Saynt Thanks, Its work with me.

[2016-01-24 12:12] bbondy commented on #295
Contributions are definitely welcome and this is definitely wanted, let me know your plan for changing to add the ability to select a different one.  We don't have a preferences page yet but I plan on doing one for 0.8.

[2016-01-24 12:51] craigmichaelmartin commented on #273
That makes a lot of sense. To the point of maintaining / tweaking configs across multiple projects, we could create one [shareable config](http://eslint.org/docs/developer-guide/shareable-configs.html) that each projects references.

[2016-01-24 13:09] bbondy commented on #273
Sounds more reasonable if it was an easy install npm published module like standard is. BTW we used to use eslint everywhere and changed to standard for easy setup and less maintaining of style.  But if we build up a big enough reason to (so far prefer'ing const) then I'm open to it.  As long as it could be published and installed as an npm module with minor tweak to package.json.

[2016-01-24 14:35] boozedog commented on #272
OK I uninstalled the C++ 2013 redist and I'm getting the error again. Will email u directly.

[2016-01-24 14:47] bbondy commented on #290
So a second independent person wants this and did a pull request, seems like I should re-consider.
Will be tracked here.
https://github.com/brave/browser-laptop/pull/299

[2016-01-24 14:49] bbondy commented on #293
CC @bridiver

[2016-01-24 16:54] boozedog opened #300 "Installer problems with Windows 10 x64 and no VS2013 redist"
If Visual Studio 2013 redist is not installed then the installer fails.

First the splash screen appears, then after a short delay, I see the following error box:

![image](https://cloud.githubusercontent.com/assets/1410808/12537607/020c9db4-c291-11e5-94d7-453c0984946c.png)

If I click OK, then the same box appears one more time. Click OK again, and then the installer quits and nothing happens.

[2016-01-24 17:22] bbondy commented on #300
@aekeus please investigate after the DAU stuff. Thanks.

[2016-01-24 17:24] bbondy commented on #300
@boozedog The installer works right, just not executing the binary after installed?

[2016-01-24 17:24] parvez3019 commented on #284
okay i'm looking into this

[2016-01-24 17:24] bbondy commented on #300
@boozedog also please compare to Slack because we're on the same stack as there

[2016-01-24 17:27] boozedog commented on #300
@bbondy ahh yeah you're right. I see that the app is successfully installed to my \AppData\Local\Brave folder. So it's just not able to execute the binary.

[2016-01-24 17:47] bbondy commented on #284
:+1:

[2016-01-24 18:25] bbondy commented on #300
So I'm thinking we either have to change the way we're compiling electron-prebuilt or include the redist inside the installer.

[2016-01-24 19:08] bbondy opened #303 "Startup sometimes leads to guest instance error"
<img width="427" alt="screenshot 2016-01-24 14 02 48" src="https://cloud.githubusercontent.com/assets/831718/12538281/e8a18368-c2a3-11e5-83ea-084ad93772c1.png">

[2016-01-24 19:12] #303 closed

[2016-01-24 19:12] #170 closed

[2016-01-24 19:51] bgiesing commented on #214
So now I get this error on OpenSUSE Leap with node 5.5, the latest npm/node-gyp, and using @Saynt's unsafe-perms suggestion:

[code]

[2016-01-24 19:53] digitalcraftstudios commented on #214
@Saynt Thanks!

[2016-01-24 19:54] SphinxKnight commented on #214
Confirming that upgrading npm/node fixes the issue for Fedora 23 as well.

[2016-01-24 20:23] nselby opened #304 "Install fails OSX"
Failed at the brave@0.7.7 postinstall script 'node ./tools/rebuildNativeModules.js&&webpack'.
npm ERR! This is most likely a problem with the brave package,
npm ERR! not with npm itself.
npm ERR! Tell the author that this fails on your system:
npm ERR!     node ./tools/rebuildNativeModules.js&&webpack

[2016-01-24 20:32] smcnally commented on #214
On Ubuntu 15.04, built Node 5.5 per [these instructions](http://stackoverflow.com/questions/34974535/install-latest-nodejs-version-in-ubuntu-14-04)

Was able to build "successfully." Can run server and tests; running browser fails with "electron: not found." Searching through log other tickets to address same.

[2016-01-24 21:27] bridiver opened #305 "Don't save state for popup windows"
State should not be saved for popup windows because they won't be properly connected to their original openers on restore. This is the default behavior in Safari

[2016-01-24 21:30] bbondy commented on #305
I think users may expect it sometimes and ideally they would remain connected but probably it is ok for now.  Thanks for posting, let's leave it sit for a while though to focus on higher priority stuff.

[2016-01-24 21:34] bridiver commented on #305
We can keep track of the disposition to decide which ones to keep or delete

[2016-01-24 21:38] bbondy commented on #305
sgtm if that gives enough info

[2016-01-24 21:45] akhilcjacob opened #306 "Doesn't start properly"
I get a message  saying "A JavaScript error occurred in the main process", I have attached the git bash output and an image of the error. However I have noticed that some of the brave process have started as they are listed in my task manager.
[Error folder.zip](https://github.com/brave/browser-laptop/files/102558/Error.folder.zip)

[2016-01-24 22:03] boozedog commented on #300
Correction: app is installed to my AppData\Local\Brave\app-0.7.7 folder.

[2016-01-24 22:06] smcnally opened #307 "running browser fails "electron: not found"; building electron fails"
Running Ubuntu 15.04. Successfully built with help from the [Issue 214 thread](https://github.com/brave/browser-laptop/issues/214).

Can successfully run server and tests; running browser fails with "electron: not found."

Despite [main README](https://github.com/brave/browser-laptop/blob/master/README.md) suggesting not needing to build electron, am doing so using [these instructions](https://git

[2016-01-24 22:22] bridiver opened #308 "close-tab shortcut on pinned tab should switch to next regular tab"
If you are on a pinned tab and you hit the close-tab shortcut, nothing happens

[2016-01-24 23:59] Adejair commented on #307
I have same error, I solved this error installing electron-prebuilt from npm, `npm install electron-prebuilt --save`

I advise not to do it, because has [electron-prebuilt](https://github.com/brave/electron-prebuilt) prepared to use in brave, to use it is easy.
[code]

[2016-01-25 00:06] PeterJensen opened #309 "Missing dependency on npm 'request' module"
Just managed to build the laptop browser on OSX.  There were just a few hiccups:

1. It seems to be super sensitive to having the right versions of node, npm, and XCode.  I had to get the recent version of all of these.  Maybe list the minimum version requirements somewhere.
2. When running 'npm start' it failed, complaining about missing the 'request' module.  I installed that module separately,

[2016-01-25 00:08] PeterJensen opened #310 "Hamburger button doesn't work"
Nothing happens when I click the hamburger button. OSX desktop

[2016-01-25 00:11] PeterJensen opened #311 "Blocking non-ad content?"
The 'watch now' section on foxnews.com seems to be missing.  See attached screenshot. Left one is Brave, right one is Chrome:
![foxnews](https://cloud.githubusercontent.com/assets/3058207/12540013/f0b264d0-c2b4-11e5-8f18-3e5e7f0094c8.jpg)

[2016-01-25 00:11] bgiesing commented on #310
Same here

[2016-01-25 00:12] PeterJensen opened #312 "Replace tracking social buttons with versions that don't track you"
On TMZ there seems to be a missing FB like button.  See attached screenshot:
![tmz](https://cloud.githubusercontent.com/assets/3058207/12540025/47df4b92-c2b5-11e5-8ae4-e30303fb7d92.jpg)

[2016-01-25 00:15] bgiesing commented on #312
@PeterJensen This and the FOX News one is because it's blocking third-party cookies (also means Disqus (and other commenting systems), Social Buttons (Facebook, Twitter, G+), etc. also get blocked.)

The only solution is to disable it for that site by right-clicking the tab.

[2016-01-25 00:16] bgiesing commented on #311
See my response in #312

[2016-01-25 01:12] smcnally commented on #307
Thanks, @Adejair. npm install completed successfully with a warning:

After cloning the repo, I've got an electron executable in

but not in

From the latter dir,

gives me a "command not found." From

./electron ~/browser-laptop/ gives me this error:

The app provided is not a valid Electron app, please read the docs on how to write one:
https://github.com/atom/electron/tree/v0.36.2/docs

which I

[2016-01-25 01:20] Adejair commented on #307
Try install sqlite3 manual(_in browser-laptop path_) `npm install sqlite3 --unsafe-perm`

and try command `./electron ~/browser-laptop`

[2016-01-25 01:22] bnvk commented on #271
This would be great to have :+1: indeed!

[2016-01-25 01:37] bbondy commented on #310
Dupe of #218

[2016-01-25 01:37] #310 closed

[2016-01-25 01:44] bbondy commented on #309
which version of Node are you running?

[2016-01-25 01:58] Adejair commented on #271
:+1:

[2016-01-25 02:19] bbondy commented on #271
might be a little early to have it while we're building out the UI elements, but definitely would like to have this later. Ideally an easy way to install the themes in.

[2016-01-25 02:25] bridiver opened #313 "local storage should follow 3rd-party cookie settings"
If we're blocking 3rd-party cookies, we should also block local storage for them

[2016-01-25 02:31] PeterJensen commented on #309
v5.4.1

[2016-01-25 02:55] bbondy commented on #123
- Test closing a pinned tab should go to next tab
- Test closing a pinned tab when no other tabs exist should close the window

[2016-01-25 02:58] #308 closed

[2016-01-25 03:02] bbondy opened #314 "Minor refactor for state cleaning"
Currently we clear some state in both the undo closed tab and in session cleanup.
This task is to track refactoring that a bit.  Maybe at least defining the lists of things to clean in a single common file.

[2016-01-25 04:01] aviolentgrace commented on #290
@PFCKrutonium you might want to pull the latest and give it another shot. My change that uses rmdir instead rm on windows is in master now.

[2016-01-25 04:16] cwramsey commented on #270
Unfortunately it didn't @rixrix. Same exact response. Thanks for the suggestion though!

[2016-01-25 04:25] shahbaz17 commented on #214
Hello @Saynt
i followed your suggested step but received this error. Can anyone help me?

npm ERR! Linux 3.19.0-47-generic
npm ERR! argv "/usr/bin/nodejs" "/usr/bin/npm" "install" "--unsafe-perm"
npm ERR! node v5.5.0
npm ERR! npm  v3.3.12
npm ERR! path /home/shahbaz17/git/browser-laptop/node_modules/extract-zip/node_modules/mkdirp/bin/cmd.js
npm ERR! code ENOENT
npm ERR! errno -2
npm ERR! syscall

[2016-01-25 04:26] bbondy opened #315 "context menus not working within iframes"

[2016-01-25 04:34] rixrix commented on #270
oh bugger!... apology for that @cwramsey - maybe a gist of the logs ?

[2016-01-25 04:54] Aidoboy commented on #229
Got it installed on Node 5 by using `sudo npm install --unsafe-perm` from #214, but I'm getting the original error again.

[2016-01-25 08:28] diracdeltas commented on #312
Yep, this is a known side-effect of blocking third party cookies. Test site: https://sharemenot.cs.washington.edu/Test%20Installation.shtml

Long term, we could replace those buttons with versions that don't track you, like Privacy Badger / ShareMeNot.

[2016-01-25 08:36] diracdeltas commented on #295
note that if you change the `defaultOpenSearchPath` in `js/constants/config.js` from Google to `'./content/search/duckduckgo.xml'`, it'll search duckduckgo by default

[2016-01-25 08:37] diracdeltas commented on #273
maybe my ex-coworker @feross has thoughts here :)

[2016-01-25 11:17] noscripter commented on #304
I encountered the same problem too.

[2016-01-25 11:37] wklm commented on #295
hi @bbondy thanks for answer. I'm absolutely in love with this project so I want to contribute.
"We don't have a preferences page yet but I plan on doing one for 0.8." So I will wait for 0.8, but is there anything I could help with now?

[2016-01-25 12:25] bbondy commented on #295
@wklm we'd really love the extra help, please search the issues list for now, or dogfood for a day and I"m sure you'll have some gripes that will jump out for you. Just post new issues for those.  We want to be in a state that is fully dogfoodable as your default browser. A quick idea that comes to mind is various context menus or drag and drop work.  Another idea is a bookmarks bar.  Just assign

[2016-01-25 12:29] bbondy opened #319 "Add a bookmarks bar"
<img width="818" alt="screenshot 2016-01-25 07 26 01" src="https://cloud.githubusercontent.com/assets/831718/12550939/e7237ef6-c334-11e5-881e-9675bbca6cad.png">

There's an early spec.  The UI has changed since then obviously.
You should be able to show/hide the bookmarks bar via a context menu in the navigation area.
The Bookmarks menu can also change to have a Show Bookmarks option since bookmar

[2016-01-25 12:32] bbondy commented on #312
Updated title.

[2016-01-25 13:44] craigmichaelmartin commented on #273
Feross has already [articulated](https://github.com/feross/standard#can-you-make-rule-x-configurable) his philosophy on this (and even [specifically](https://github.com/feross/standard/issues/159#issuecomment-114797629) [on](https://github.com/feross/standard/issues/159#issuecomment-115133275) `prefer-const`). I happen to agree with his philosophy in general for projects getting off the runway, bu

[2016-01-25 13:54] craigmichaelmartin commented on #273
There is project, [xo](https://github.com/sindresorhus/xo) by sindresorhus, that [already](https://github.com/feross/eslint-config-standard/issues/14) handles esnext type rules, but again, I see the value in a mature project owning it - if its done the right way it is a single sharable config that is an easy install npm published [module](http://eslint.org/docs/developer-guide/shareable-configs.ht

[2016-01-25 14:48] morodeer commented on #279
@bbondy , I've used shallow clone:
[code]

I'll try it with latest versions later.

I think the problem was that webpack wasn't installed at all. It was just my choice to install it globally.

[2016-01-25 14:55] bbondy commented on #273
OK let's sit on this a while longer and leave this open.  Please collect rule preferences here and we can decide to switch later. We need to focus on the actual project objectives for now.  Thanks for the extra rules.

[2016-01-25 15:01] aakilfernandes commented on #260
@diracdeltas respectfully disagree. WebRTC is a major concern for anyone wishing to browse online without revealing their IP. This includes anyone accessing content banned in their country.

[2016-01-25 15:11] bkardell commented on #193
It's also not working for me console reports an error (a few actually, but this one is relied on by the player)

[code]

[2016-01-25 15:31] wblondel commented on #193
On which OS are you running Brave @bkardell and @garvankeeley ?

[2016-01-25 15:32] bkardell commented on #193
OSX 10.9.2 (can't upgrade for reasons)

[2016-01-25 15:36] garvankeeley commented on #193
os x 10.10.5

[2016-01-25 17:33] bridiver commented on #229
What Linux distribution/version are you using? I'll see if I can replicate

[2016-01-25 17:42] bridiver commented on #311
Thanks for the report! There are some known issues as mentioned in #312 and we will add this to the list of sites we are tracking for display issues

[2016-01-25 17:43] bridiver commented on #304
Brave requires node v5.x. I'll update the readme to make that more explicit

[2016-01-25 18:06] nselby commented on #304
Thanks!

On Mon, Jan 25, 2016 at 12:43 PM, Brian Johnson <notifications@github.com>
wrote:

--

--

Nick Selby
StreetCred Software, Inchttp://streetcredsoftware.com

mob 817 203 4074
fax 817 659-2996

3901 Arlington Highlands Blvd
Arlington, TX 76018

[2016-01-25 18:19] nselby commented on #304
SO that's fixed and then I get to the end of the install and the world hates me:

Darwin 15.2.0
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "install"
npm ERR! node v5.5.0
npm ERR! npm  v3.3.12
npm ERR! path /Users/nselby/browser-laptop/node_modules/extract-zip/node_modules/mkdirp/bin/cmd.js
npm ERR! code ENOENT
npm ERR! errno -2
npm ERR! syscall chmod

npm ERR! enoent ENOENT: no such

[2016-01-25 18:27] SJ-Diamond opened #321 "Make an option for Ram cache or for different cache location/cache size - Chromium trashes SSD always"
As the topic says, a memory cache option, or option for cache size/cache location change would be very much appreciated. Chromium is well known for trashing SSD's.

So, a high priority for Brave should be also to be more resource friendly :)

[2016-01-25 18:28] bridiver commented on #304
can you post a gist with the complete log output?

[2016-01-25 18:32] therealklanni commented on #304
@nselby have you tried `rm -rf node_modules` and `npm install` again? Changing node versions can often do crazy things to npm/node_modules.

[2016-01-25 18:46] SJ-Diamond commented on #319
Since we are speaking about bars, what would be too nice would be a full status bar, a side bar and add-on bar.

That is anyway a large problem of Chromium - Chromium devs do not understand that an optional side bar can be of great use, same like an optional bar for add-on icons, more place for them ;)

[2016-01-25 18:47] diracdeltas commented on #313
We are not blocking 3rd party cookies yet but I agree this should come at the same time. (0.8)

[2016-01-25 19:17] 15w34r0n3D4y opened #322 "Too much errors on Windows 7"
I have problem and how fix it please help. When I use command "npm install" I get ...

npm WARN deprecated css-list@0.1.3: Deprecated.
npm WARN install Couldn't install optional dependency: Unsupported
npm WARN deprecated lodsh@1.0.2: loadash@<2.0.0 is no longer maintainded. Upgrade to loadash@3.0.0
npm WARN install Couldn't install optional dependency: Unsupported

python 2.7.11
node 5.5.0

Insta

[2016-01-25 19:45] wblondel commented on #322
Those are not errors, they are just warnings. Build should be successful even with those warnings :)

[2016-01-25 19:48] diracdeltas commented on #260
@aakilfernandes Yep, I'm well aware of that; by "minor" i mean compared to things like having a settings menu in the first place. Anyway, if https://github.com/atom/electron/issues/4174 is resolved, I think this should be easy to do in 0.8 or 0.9.

[2016-01-25 20:05] 15w34r0n3D4y commented on #322
How can I get logs? Build with errors...

[2016-01-25 20:09] bbondy opened #323 "Change when findbar is hidden"
Inside `js/components/findbar.js`
[code]

Yan writes:
"I don't think this should happen for inter-page navigation. probably need to listen for webview will-navigate or did-navigate"

I agree.

[2016-01-25 20:15] 15w34r0n3D4y commented on #322
![bravebrowsererror-1](https://cloud.githubusercontent.com/assets/13278733/12563090/bf81544e-c3a8-11e5-9a1d-e5bf38ec4ea1.png)
![bravebrowsererror-2](https://cloud.githubusercontent.com/assets/13278733/12563093/c2e541b8-c3a8-11e5-9ec4-a1ab76c7da0f.png)
![bravebrowsererror-3](https://cloud.githubusercontent.com/assets/13278733/12563098/c65243e6-c3a8-11e5-871e-cff905723529.png)

[2016-01-25 22:14] ndedic commented on #214
Hi,
I am seeing the following errors:

npm ERR! Windows_NT 10.0.10586
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Users\\nedim\\AppData\\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js" "install" "bloom-filter-cpp"
npm ERR! node v5.5.0
npm ERR! npm  v3.4.1
npm ERR! code ELIFECYCLE

npm ERR! bloom-filter-cpp@1.0.19 install: `node-gyp rebuild`
npm ERR! Exit status 1
npm ERR!
npm ERR! F

[2016-01-25 23:40] Aidoboy commented on #229
Ubuntu 15.10

On Mon, Jan 25, 2016, 11:33 AM Brian Johnson <notifications@github.com>
wrote:

--

“Listen to the mustn'ts, child. Listen to the don'ts. Listen to the
shouldn'ts, the impossibles, the won'ts. Listen to the never haves, then
listen close to me... Anything can happen, child. Anything can be.” ~Shel
Silverstein

[2016-01-25 23:48] diracdeltas commented on #138
I think I figured out two reasons that this is happening:

1. favicons from private tabs (which are loaded outside of the webview partition) are hitting the cache. i confirmed that disabling `setFavicon` and `faviconUtil.getFavicon` made private tabs pass the grep test.
2. independently, searching via cmd+k while a private tab is active seems to be writing the search query to cache. this is probab

[2016-01-26 00:15] bbondy opened #326 "Restoring window state not currently working"
It does restore app state, but not windows state currently.  Something regressed there.

[2016-01-26 02:12] #138 closed

[2016-01-26 02:18] bbondy commented on #138
Nice finds.

[2016-01-26 02:24] bbondy commented on #319
Would be best to propose those ideas in different issues so they can be discussed independent of this task. Thanks!

[2016-01-26 02:43] diracdeltas commented on #191
dupe of https://github.com/brave/browser-laptop/issues/192 i think?

[2016-01-26 02:46] bbondy commented on #191
Hah, I love when I dupe myself with 2 consecutive issues.

[2016-01-26 02:46] #191 closed

[2016-01-26 06:41] PunkUnity commented on #214
how do you just run the browser? it installed just fine for me on Ubuntu 15.10 using node 5.50

[2016-01-26 08:05] serv commented on #48
Just fyi, in chrome's incognito mode, you are able to reload even though there's no page to reload.

[2016-01-26 08:07] serv commented on #51
Still seeing this log with brave@0.7.x as well.

[code]

[2016-01-26 08:55] conanoc commented on #304
I got the same error as @nselby and fixed by removing modules and installing again. Thanks.

[2016-01-26 10:04] ghost opened #328 "Ideas for additional UI elements (full status bar, side bar, add-on bar)"
Since there was already the suggestion for a bookmarks toolbar - what would be nice too: an optional full status bar, an optional side bar and an optional add-on bar.

That is anyway a large problem of Chromium - Chromium devs do not understand that an optional side bar can be of great use, same like an optional bar for add-on icons, more place for them ;)

Additionally an option to autohide bars/

[2016-01-26 12:41] bbondy opened #329 "Stream of built/info.js console errors for dev html mode"
@bridiver writes:

Regarding:
https://github.com/brave/browser-laptop/commit/3e731a12026812bba9d8d96e46fa841dd2f5b430

[2016-01-26 14:36] 0chucha0 commented on #238
Reproduced for Mac also (OS X El Capitan)

[2016-01-26 14:52] bbondy opened #330 "Cleanup Bravery menu"
They should work like radio buttons:
![screenshot 2016-01-26 09 50 29](https://cloud.githubusercontent.com/assets/831718/12583765/47cc1a28-c412-11e5-8461-92e04a4cf0fd.png)

- Replace ads does the safe ad insertion, adblock, and TP
- Block ads does the same as above but without the insertion
- Allow ads and tracking (sounds so filthy!:)) will just load pages without adblock and without TP.

[2016-01-26 15:02] natalliachu commented on #51
I gave the same error in console when I try to attach a doc to the email in Gmail but only when this Gmail account is the second-opened.

[2016-01-26 15:06] bbondy commented on #189
Another report of this came in through support.

![screenshot 2016-01-26 10 04 54](https://cloud.githubusercontent.com/assets/831718/12584206/6eba211e-c414-11e5-9b8b-652beaca449d.png)

[2016-01-26 15:10] DeJaVoo commented on #189
I'm not using a VM and it happens to me on Windows 7

[2016-01-26 15:11] bbondy commented on #73
Before we close this, was wondering if you could also do an equivalent thing for js/actions/windowActions.js  and also if we can tie this into the "pre-commit" section of the package.json file.

[2016-01-26 15:13] bbondy commented on #189
Thanks for the extra info, I hope we can get this fixed soon so we get extra testing.

[2016-01-26 15:16] bbondy opened #331 "Load adinfo file remotely so we can tweak for broken sites"
This is the file which should be removed and it should be treated like any other data file for adblock / TP / https everywhere.
js/data/adInfo.js

[2016-01-26 15:17] bbondy opened #332 "drudgereport.com not loading correctly"

[2016-01-26 15:18] bbondy opened #333 "windsorstar.com not loading correclty"

[2016-01-26 15:19] bbondy opened #334 "Investigate slashdot.org speed opt"
We're running slower on slashdot.org than some other adblock software, probably we need more filter rules that we're missing. This task is to investigate / fix that.

[2016-01-26 15:23] Aidoboy commented on #214
@shahbaz17 You need to run `npm install --unsafe-perms` with `sudo`

[2016-01-26 15:28] shahbaz17 commented on #214
@Aidoboy I did that . Still the same result

[2016-01-26 15:31] shahbaz17 commented on #214
@Aidoboy And now there is this error
module.js:341
    throw err;
    ^

Error: Cannot find module 'npmlog'
    at Function.Module._resolveFilename (module.js:339:15)
    at Function.Module._load (module.js:290:25)
    at Module.require (module.js:367:17)
    at require (internal/module.js:16:19)
    at /usr/lib/node_modules/npm/bin/npm-cli.js:20:13
    at Object.<anonymous> (/usr/lib/node_modules

[2016-01-26 15:43] Aidoboy commented on #214
@shahbaz17 Totally different errors, not the same result. What do `node -v` and `nodejs -v` give you?

[2016-01-26 15:47] bbondy opened #335 "Create a HashSet based lib for https everywhere's json file"
@SergeyZhukovsky mentions it currently it looks through the host list and that would be a lot faster if wrapped in HashSet in C++.

[2016-01-26 15:50] mjank75 opened #336 "Black screen only"
Windows 7 64bit.  Go through the install and it just comes up with a black screen.  Right click option are view page source and reload.  They don't do anything.
![image](https://cloud.githubusercontent.com/assets/16901635/12585573/40c843aa-c412-11e5-8fa8-20b38c7f9b27.png)

[2016-01-26 15:53] SergeyZhukovsky commented on #331
https://github.com/brave/browser-android/issues/665

[2016-01-26 15:59] bbondy commented on #332
Chrome left, Brave right...
![screenshot 2016-01-26 10 55 51](https://cloud.githubusercontent.com/assets/831718/12585762/72582e9a-c41b-11e5-9974-aa7e1da168e1.png)
Turns out we are actually working correctly and as expected.  It's just drudge report which has a horrible layout.

[2016-01-26 15:59] #332 closed

[2016-01-26 16:04] bbondy commented on #336
Dupe of #189 thanks for posting though.  We'll try to fix soon so we can get extra testing on Windows.

[2016-01-26 16:04] #336 closed

[2016-01-26 16:04] bbondy commented on #335
This is probably not needed but we'll re-open if it's a perf problem when we measure.

[2016-01-26 16:04] #335 closed

[2016-01-26 16:29] PunkUnity commented on #214
Got the browser running. Then tried to make an executable file on my desktop, after which I couldn't run it anymore. Any chance there will be a .Deb file made? Or a binary installer?

[2016-01-26 16:30] wblondel commented on #332
Tried on IE and Edge, same "issue". I guess the issue is the website itself.

[2016-01-26 16:34] shahbaz17 commented on #214
@Aidoboy
node -v 5.5.0
nodejs -v 5.5.0

[2016-01-26 16:37] PunkUnity commented on #214
That should be a good version. I would maybe start over. Hopefully the devs will come up with an easier way to install it

[2016-01-26 17:17] bbondy commented on #332
Ya on firefox I don't think there's an ad there, not quite sure why they have that strangely placed ad on chromium like user agent strings.

[2016-01-26 17:25] bbondy commented on #333
Fixed here:
https://github.com/bbondy/abp-filter-parser-cpp/commit/864470b0fd94fe241cb4d78c274927a5c8bfe137

[2016-01-26 17:25] #333 closed

[2016-01-26 18:17] bradleyrichter opened #337 "Minimal style changes to new light-skin"
@teemuteemu Here are some small adjustments, mostly to further refine the tab set nav buttons. We are seeing early signs of a UX problem where muscle memory for page nav creates a mis click on the tab set button instead. The original location of the button compared to the page nav buttons in Chrome and Firefox was the main cause.

The change to hiding the tab set buttons and indicator/selector has

[2016-01-26 18:21] SergeyZhukovsky commented on #262
@garvankeeley you should look on that commit
https://github.com/brave/browser-laptop/commit/216f14120417ba54082d2e8f011d14904cd35ecb

[2016-01-26 18:28] theWanderingbug opened #338 "Encryption issues"
I am a threat research analyst, I have come across issues with how your software is encrypted.  Please contact me about this.

[2016-01-26 18:35] garvankeeley commented on #262
Added, thanks for the src link.
In future, please add issues to the respective githubs (no details needed, just slap it in there), as messaging volume increases, things are going to get missed.

[2016-01-26 18:43] #326 closed

[2016-01-26 18:44] fall9100 opened #339 "NPM START FILED"
fall@Fall:~/Downloads/browser-laptop-0.7.8$ npm start

electron "/home/fall/Downloads/browser-laptop-0.7.8" --debug=5858
fs.js:584
  return binding.open(pathModule._makeLong(path), stringToFlags(flags), mode);
                 ^

Error: ENOENT: no such file or directory, open '/home/fall/Downloads/browser-laptop-0.7.8/node_modules/electron-prebuilt/path.txt'
    at Error (native)
    at Object.fs.

[2016-01-26 18:50] bbondy commented on #338
Thanks, please email bbondy@gmail.com

[2016-01-26 18:50] #338 closed

[2016-01-26 18:52] bbondy commented on #337
I'll take this so we can do a quick release today.

[2016-01-26 19:26] diracdeltas commented on #214
@PunkUnity you can do a clean install by `rm -rf node_modules/`, then doing `npm install` again. Feel free to comment on #249; we welcome pull requests for linux packaging!

[2016-01-26 19:37] garvankeeley opened #340 "netflix doesn't play any videos"
OS X

Always shows:

<img width="832" alt="screenshot 2016-01-26 14 35 17" src="https://cloud.githubusercontent.com/assets/5495083/12592394/3ae6ae68-c43a-11e5-8932-85f6d4ad600e.png">

[2016-01-26 19:39] garvankeeley opened #341 "drag and drop not working on github"
STR:
create a github issue, try drag and drop an image file into a comment, the file will open full-screen in the browser, and the current tab is now stuck in an image viewing state

[2016-01-26 19:49] Aidoboy commented on #229
I got arpund this by using 'npm run build-package', but now I guess I don't get debug output.

[2016-01-26 20:03] Aidoboy opened #342 "nexusmods.com ads removed, but not replaced."
Only shows their please-don't-block-our-ads banner.
![No one likes ads.](http://staticdelivery.nexusmods.com/contents/images/pub_horizontal.png)

[2016-01-26 20:03] Aidoboy opened #343 "reddit.com ads removed, but not replaced."
It leaves a blank white space where the ads used to be.

[2016-01-26 20:22] #337 closed

[2016-01-26 20:28] bbondy opened #344 "Implement cosmetic adblock filters"
This is partially implemented but we need to expose the support from the abp-filter-parser-cpp node module.

List of sites to check:
- reddit.com ads removed, but not replaced
- google search text ads neither removed nor replaced

[2016-01-26 20:29] bbondy commented on #343
Will be fixed by: #344

[2016-01-26 20:29] #343 closed

[2016-01-26 20:33] stuartlangridge opened #345 "child "platform" fails (on Ubuntu 14.04)"
Error message output to console after `npm start`:

    { statusCode: 400,
      error: 'Bad Request',
      message: 'child "platform" fails because ["platform" must be one of [winx64, osx]]',
      validation: { source: 'params', keys: [ 'platform' ] } }

There is no indication of what caused this, afaict; it may have appeared while browsing theguardian.com.

[2016-01-27 00:08] bkardell opened #349 "Brave android no URL bar?"
When I install brave for android, it wires into the underlying OS stuff / content type handling so if I try to view a page through search or twitter or something I can open it with brave, but if I simply click/launch it, it doesn't seem to have a url bar or any way for me to go anywhere.

[2016-01-27 00:10] diracdeltas commented on #349
Please file at https://github.com/brave/browser-android

[2016-01-27 00:10] #349 closed

[2016-01-27 00:20] bradleyrichter commented on #218
Here is a menu definition that captures some of the top-level functions, and also introduces the top level items from the Bravery menu which will soon be used on a per-site basis. I omitted the standard chrome-style zoom and edit items for now to save space, as they are the most known keyboard shortcuts. If we find out that they are needed, we can add them later.

@diracdeltas Please migrate the c

[2016-01-27 00:41] diracdeltas commented on #278
Here's what the tabbar looks like on a small screen after the latest changes. Better but I still feel like the padding on the next/prev tab buttons is too large. @bradleyrichter please advise.
![screen shot 2016-01-26 at 16 39 56](https://cloud.githubusercontent.com/assets/549654/12600070/a1533138-c44b-11e5-9f44-1eb24834fbd8.png)

[2016-01-27 01:10] bradleyrichter commented on #278
yeah, it's too big. The padding should be just a few pixels beyond the hover state...And this will change a bit when we implement the new tab sizing approach.

Current
![2much_padding](https://cloud.githubusercontent.com/assets/13509546/12600542/7b951afc-c44f-11e5-9db4-4fac975db578.png)

Better (with larger Add button as well)
![2much_padding_fixed](https://cloud.githubusercontent.com/assets/13509

[2016-01-27 02:19] caofb opened #350 "The system cannot find message text for message number 0x%1 in the message file for %2."
App threw an error when running [Error: The system cannot find message text for
message number 0x%1 in the message file for %2.
\?\E:\SourceCode\browser-laptop\node_modules\sqlite3\lib\binding\node-v47-win32
-x64\node_sqlite3.node]

[2016-01-27 03:07] jonathansampson commented on #218
Am I correct that the button, for now, is entirely non-operable? I was clicking it, and seeing no response. I suspected it might have been a bug, but this ticket is making me think otherwise :)

[2016-01-27 03:26] jonathansampson opened #351 "Left/Right Arrows Not Mapped to Back/Forward Navigation"
<kbd>Alt</kbd>+<kbd>&#10094;</kbd> and <kbd>Alt</kbd>+<kbd>&#10095;</kbd> should map to the back and forward browser buttons, respectively.

[2016-01-27 03:40] bbondy commented on #218
snatching this, hope you didn't already start Yan

[2016-01-27 03:43] jonathansampson opened #352 "Always delay tab preview"
Tabs appear to only preview themselves when the user has demonstrated intent by resting the cursor on the tab for a brief moment. Afterwards, anytime the cursor passes atop the tab, the preview is invoked. This causes a flashing effect that is unpleasing.

I can't imagine any harm in always requiring the initial delay to show intent.

[2016-01-27 03:48] #218 closed

[2016-01-27 03:49] bbondy commented on #218
The button does nothing before 0.7.10.
It will be fixed in 0.7.10 when we do that release.

[2016-01-27 03:50] bbondy commented on #352
Please put comments for this in #142.  Will close this as a dupe. Thanks!

[2016-01-27 03:50] #352 closed

[2016-01-27 03:51] bbondy commented on #351
Smaller than and greater than symbols?
I tried alt + those on Chrome, Safari, and Firefox but they have no effect.

[2016-01-27 03:52] bbondy commented on #350
Likely you need node 5.5, and delete your node_modules, then npm install.

[2016-01-27 06:27] jonathansampson commented on #351
Sorry, those are the left and right arrows, which advance forward or backward in your session history.

Go to google.com
Go to bing.com
Press alt+left-arrow
You are now back on Google.com

May be different in OSX. Cmd, rather than alt, maybe.

[2016-01-27 06:40] serv commented on #73
@bbondy Check out the new PR above.

[2016-01-27 07:59] caofb commented on #350
@bbondy update to node 5.5 didn't solve the problem

[2016-01-27 09:59] niseh opened #354 "Amazon domains other than .com are blocked"
Amazon has many domains depending on the country you are shipping to (amazon.fr, .it, .de, .co.uk, etc)

Currently, I can't use brave on other than amazon.com.

Amazon.fr and amazon.com for example are completely different marketplaces, and not just Amazon doing i18n. It's important for a french user to shop at amazon.fr and not .com or .co.uk (shipping delays, costs, legal issues, etc)

[2016-01-27 11:47] bbondy commented on #351
I think that was fixed here?
https://github.com/brave/browser-laptop/commit/8ac6ff7670ed1217041eab532a2818f8e95039a1
Although with control/command

[2016-01-27 11:50] bbondy commented on #73
:+1: closing this since it's merged now.

[2016-01-27 11:50] #73 closed

[2016-01-27 11:51] bbondy commented on #350
Which version of visual studio (and service pack) are you using?

[2016-01-27 12:50] irongomme opened #355 "Linux build tricks"
Hi,

With some tricks i've been able to build this project and finally test it, but i had to make some operations to achieve it. So i just want to share it.

I am on OpenSuse Tumbleweed, with fresh compiled nodejs 5.5 and npm 3.3.12

For me, build fails with this message :

[code]

I've fixed it width :

[code]

Once built, the npm start gave me that error :

[code]

Which i've fixed with :

[code

[2016-01-27 12:57] AlienHack commented on #350
I got the same problem,

using Visual Studio 2015 Update 1, Windows 7 64 bit Professional SP1

App threw an error when running [Error: The system cannot find message text for
message number 0x%1 in the message file for %2.
\\?\E:\Brave\browser-laptop\node_modules\sqlite3\lib\binding\node-v47-win32-x64\
node_sqlite3.node]

[2016-01-27 12:59] AlienHack commented on #350
Here is the error message by running npm start

[Window Title]
Error

[Main Instruction]
A JavaScript error occurred in the main process

[Content]
Uncaught Exception:
Error: The system cannot find message text for message number 0x%1 in the message file for %2.
\\?\E:\Brave\browser-laptop\node_modules\sqlite3\lib\binding\node-v47-win32-x64\node_sqlite3.node
    at Error (native)
    at process.mo

[2016-01-27 13:06] nujabse commented on #214
@diracdeltas

that works perfect for me on archlinux! Thanks!

[2016-01-27 13:12] daanlenaerts commented on #270
Issue #219 is about the same problem.

[2016-01-27 13:26] cmscritic opened #356 "Menu not working"
I'm unsure if this is known or not but the three line menu on the right doesn't work if clicked on. I'm assuming it supposed to but if not ready yet for this release, please ignore this.

[2016-01-27 13:27] Cromian opened #357 "Right hand menu icon not working"
Mac OS 10.11.3 - the right hand (3 bar) menu does nothing when you click on it.

[2016-01-27 13:51] bbondy commented on #357
Yep this is a dupe of #310 which was already implemented just not released.
I'll leave this open until it's released though to avoid dupes.

[2016-01-27 14:10] Saynt commented on #214
@shahbaz17 maybe try this: https://github.com/nodejs/node/issues/2814

[2016-01-27 14:26] wblondel commented on #356
Dupe of #218
It's not released yet :) It will be in version 0.7.10

[2016-01-27 14:27] cmscritic commented on #356
Gotcha, should found that other bug report. Thanks.

[2016-01-27 14:27] #356 closed

[2016-01-27 14:28] Chtewa commented on #350
Hi,
I got the same problem, and I fixed it by adding "C:\Python27" in the path variable in the environment variables. and delete the node_modules, then npm install.

[2016-01-27 14:33] snakecharmer1024 commented on #242
Came here to post this. +1

[2016-01-27 14:39] AlienHack commented on #350
@Chtewa Haha, I was just looking into the error detail after npm install failed and found that the command python was not found. Going to post the solution here but you already posted. :+1:

[2016-01-27 14:41] jacobpewitt opened #358 "Unclear if new tab opened"
I use three finger tapping on my trackpad to simulate a middle click to open a link in a new tab. It doesn't always work, which isn't Brave's fault. But when I have enough Brave tabs open that they have overflowed into a second 'page' of the tab bar, there is no visual indication of whether a link that I try to open by three finger tapping has actually opened or not unless I scroll over in the tab

[2016-01-27 14:51] Cromian commented on #357
Ah sorry bout that.

[2016-01-27 15:00] Eschon opened #359 "Show a message when a page is not available"
I just tried to load a page and had a typo in the URL but instead of showing some message like "This webpage is not available". The page is just blank like a new tab.

[2016-01-27 15:01] bbondy commented on #359
This is on our list for the 0.8 release, thanks for posting.

[2016-01-27 15:07] bbondy commented on #358
Great UX point , thanks for posting.
CCing @bradleyrichter for open background tab UX ( You can also command+click on a link to go to background tab)

[2016-01-27 15:17] AlienHack commented on #350
After adding the environment variable, and npm install, the problem is still persisted

![image](https://cloud.githubusercontent.com/assets/8213866/12617791/ced97592-c543-11e5-8477-82c1128adbc6.png)

[2016-01-27 15:37] AlienHack commented on #350
![image](https://cloud.githubusercontent.com/assets/8213866/12618449/79b12490-c546-11e5-8665-0c5a2fbfdb79.png)

Got new issue

[2016-01-27 15:44] Chtewa commented on #350
@AlienHack for this we should wait for the fix, look at #189.

[2016-01-27 16:45] bridiver commented on #262
Sonobi has made the updates on their side to send through "clean" ads that are just html with no extra JS. This will allow us to simplify things on our end as well and a new URL will be coming next week which will replace the srcdoc with a src link. I believe it will just be a "switch" passed in the query string. The change from srcdoc to src will make the iframe 3rd-party by default, but we shoul

[2016-01-27 16:56] steve-obeck opened #360 "Updates don't prompt for Auth"
When using Brave in a non-Admin account - the update does not succeed and never prompt for Admin privileges.  I have an "update" button that continues to show and when I click on it.. I imagine it fails in the background due to permissions.  It keeps asking me to update and failing (caught in a loop)

[2016-01-27 16:56] bridiver commented on #48
This is a slightly different. The empty tab doesn't reload, the entire app window reloads. It's definitely not the behavior we want.

[2016-01-27 17:01] mcdemarco commented on #351
Re 8ac6ff7, overloading the navigation with hidden shortcuts is not a fix on a mac; now there is no way for the user to disable the extra command-left-arrow and command-right-arrow shortcuts for back and forward because the menu is still using the (standard, btw) command-[ and command-] shortcuts for them.

I noticed this because I already have the command-arrows mapped to Spaces, so now when I ch

[2016-01-27 17:10] bbondy commented on #360
Windows or OSX?

[2016-01-27 17:13] steve-obeck commented on #360
OSX  10.11.3

[2016-01-27 17:13] steve-obeck commented on #360
I'm on 0.7.8 and its the 0.7.9 update

[2016-01-27 17:14] bbondy commented on #360
Thanks for the report. CC @aekeus

[2016-01-27 17:14] bbondy commented on #360
can you install into a non admin location or something for now?

[2016-01-27 17:20] xjru opened #361 "Focus after clicking on a link"
Hi,

after clicking on a link (or shift-clicking to open the page in a new windw), the new page does not have focus, which prevents keyboard scrolling. When opening a link in a new window, the focus is in the address bar. I'm not sure where it is after a regular click on a link but it's not (always) on the page.

OS X 10.11.3

[2016-01-27 17:32] Tribex commented on #345
Same on Ubuntu 15.10 here.

[2016-01-27 17:34] steve-obeck commented on #360
You mean for testing?  I can

[2016-01-27 17:47] bbondy commented on #360
yep just a work around for now.  Did you install originally as admin ? Or as limited and it prompt for admin password?

[2016-01-27 17:49] xjru opened #362 "Address bar appears too slowly after opening a new window"
This is somewhat annoying as it interrupts the workflow quite a bit. Not a huge issue though.

OS X 10.11.3

[2016-01-27 18:20] karthicks opened #363 "Task Bar Settings (Hamburger) Icon Broken"
Click on the hamburger icon on the right hand side of the task bar, anytime, anywhere you're in brave. Nothing happens. I was hoping to see a settings menu or something along those lines.

[2016-01-27 18:23] diracdeltas commented on #262
+1, feel free to change the srcdoc to src with sandbox when the new URL comes @bridiver

[2016-01-27 18:29] sroerick commented on #214
I'm still having this issue.
Linux Mint 17.1
node v5.5.0
npm  v3.3.12
node-gyp is installed
I removed the node files.

Still getting the

error

[2016-01-27 18:41] steve-obeck commented on #360
Yes - works in the Admin account. Installed and Updated to 0.7.9  Orignally installed as a "user"  but it never prompted for Admin creds as you would expect

[2016-01-27 18:42] bbondy opened #364 "Decide on strategy for conflicting CSP for safe ads"
Some iframe src will be blocked by the CSP setting.

So safe ad insertions will be blocked.  We could perhaps use the webview's preload script to communicate in the html from a preloaded other webview.  We need this for perf anyway.

[2016-01-27 18:43] bbondy commented on #360
Interesting. So when you installed as limited user account, where did it install to?

[2016-01-27 18:54] diracdeltas commented on #364
I think the non-starters are:
* Modifying the site's CSP setting.
* Not using a sandboxed iframe.

From my reading of CSP2, I think `<iframe srcdoc = [some pre-rendered HTML] sandbox>` should not be blocked? (But note that the parent CSP policy applies to the srcdoc document)

[2016-01-27 19:23] stshank commented on #238
I just tested on Mac OS X El Capitan 10.11.4 beta 1 and got the same error message as @diracdeltas: "This error has been reported to Google and we'll look into it as soon as possible. Please reload this page to continue." This with Brave 0.7.9 (0.36.3).

[2016-01-27 19:23] damengilland commented on #363
Duplicate of #310

[2016-01-27 19:30] damengilland opened #365 "Change Mac Shortcuts"
As a user used to Chrome, Firefox, Safari, or IE... the shortcuts in Brave feel off to me.  Would suggest the following:

* Apple + Shift + N should be New Privacy Window
* Apple + Shift + T should be re-open closed tab.
* F5 for refresh (50/50 on browsers doing this on Mac, but it's nice carry over from PCs)

Also would suggest using the convention of a "Privacy Window" instead of tabs in the sam

[2016-01-27 19:45] bridiver commented on #262
If we continue to use srcdoc as discussed on Slack we will have to go back to the method of loading the URL separately and inserting the response content vs the current method of just putting the url in the script src of the static html snippet. That's good long-term because we want to load them separately, but does it cause any short-term problems?

[2016-01-27 19:51] bridiver commented on #262
@garvankeeley and @SergeyZhukovsky we discussed using a hidden webview or phantomjs-type process on the laptop browser to load the ad content and execute any JS that is used to build the DOM (ads commonly include document.write calls and I'm not sure if it will be practical to restrict that) and then pass the content to the iframe. Does that sound practical on ios and android or are we going to ru

[2016-01-27 20:04] garvankeeley commented on #262
I would need a more detailed spec of what steps are being taken to say where the problems might be. I have only used that approach for JS that doesn't need a DOM. If it does need a DOM, then why not inject it into the current webview for execution?

[2016-01-27 20:11] SergeyZhukovsky commented on #262
I think there shouldn't be any problems with that on Android, but need some investigation also.

[2016-01-27 20:14] stshank opened #366 "Cmd-comma on Mac should open preferences"
To fit in with Mac conventions, it's good to use Cmd-comma keyboard shortcut to open the preferences page or dialog box.

[2016-01-27 20:20] jonathansampson commented on #351
@bbondy It does appear that control-left-arrow and control-right-arrow do perform the back/forward navigation. This is *not* the case with any other browser on Windows, to my knowledge. So there may be a muscle-memory/discoverability issue for Windows users of Brave Software.

[2016-01-27 20:23] Aidoboy commented on #342
Appears to be fixed in v0.7.9dev

[2016-01-27 20:25] Aidoboy commented on #342
Wait, now it isn't working. Weird.

[2016-01-27 20:25] bridiver commented on #262
several reasons:
1. It may be helpful to have something that is not connected to ad blocking so we don't have to worry about conflicts between the ad block list and the replacement ads we deliver
2. We want to download the ads as far ahead of time as practical and maintain a small, short-lived cache. We often know what ad slots will be on the requested page so if we don't have any cached ads we ca

[2016-01-27 20:33] bbondy commented on #351
oh I see I was on OSX where it's command+left, but I guess maybe this particular shortcut has special handling. Thanks.  Yes we want to match what people already know for keyboard shortcuts.

[2016-01-27 20:53] bbondy commented on #193
Please retest when you get the 0.7.10 update.  We upgraded to electron 0.36.5 and it fixes some other pages like adding github comments in a review.  Might fix this too.

[2016-01-27 20:54] garvankeeley commented on #262
Thanks, nothing jumps out as an issue

re: 1. iOS http filter is a catch-all, I think/hope I can distinguish non-actual-webview requests from others, but currently I don't have this.

re: Caching:
As for UIWebView disk caching, we have to consider the size of the disk cache, and how long a typical browsing session will take to flush that cache. Alternatively we install our own NSURLCache, but then

[2016-01-27 21:02] bbondy commented on #365
We'll have both private window and private tabs.
Command + Shift + T should already re-open closed tab no?

[2016-01-27 21:13] trouserless commented on #363
additionally, navigating through the menus to preferences (Brave->Preferences) is greyed out and therefore non-selectable.  Nor is the keyboard shortcut working as referenced by #366

tldr; no way to see/edit preferences.

[2016-01-27 21:29] dotnetCarpenter commented on #189
Me too. How do I turn off 3d acceleration?
Windows: 7 Professional Version 6.1.7601 Service Pack 1 Build 7601
Node: 5.5.0
Video cards: Intel HD Graphics Family & AMD Radeon HD 8670M

[2016-01-27 21:43] diracdeltas commented on #366
The shortcut is hooked up, but we don't have a preferences page yet.

[2016-01-27 22:34] fabricedesre opened #368 "zoom level is not remembered"
STR:
- go to eg. http://www.nytimes.com/
- click on an article
- zoom in
- go back to http://www.nytimes.com/ using [<]
- go forward to the article using [>]

Expected:
The article is always zoomed in.

Observed:
The zoom factor is reset at every page load.

I haven't checked but it seems that Firefox is doing a per-origin zoom factor which makes sense in general.

[2016-01-27 22:34] mwessels opened #369 "tab menu at top right doesn't do anything"
the three line button at the top right, right underneath the Brave logo will not do anything.  Running off of mac

[2016-01-27 22:34] fabricedesre opened #370 "http auth is not supported"
Well, brave displays the error page, but that doesn't help much ;)

[2016-01-28 02:47] bbondy opened #371 "Reduce package and installer sizes"
Things like abp-filter-parser-cpp build files that aren't needed are included. We can slim down this installer by a lot.
#4080 #4081 #3193

[2016-01-28 03:04] pbowe opened #372 "onfocus in form doesn't remove default text when typing"
At intellicast.com,there is a form field to 'Enter City, State, Country or U.S. Zip Code'.  The default behavior when you select the field and start entering text is to replace the existing text.  Instead, it inserts what you type, so the search is invalid.

[2016-01-28 03:11] shahbaz17 commented on #214
@Saynt not working after following nodejs/node#2814

[2016-01-28 03:17] diracdeltas opened #373 "urlbar input is deleted after the loadTime is set"
To repro:
1. open new tab
2. start typing immediately
3. loadTime is set in the urlBar and the component re-renders, deleting the text that you had just typed

[2016-01-28 03:41] #373 closed

[2016-01-28 03:53] vekat commented on #370
Indeed, I just noticed this when I tried to access my router's web interface.
It needs to support the basic auth login prompt when unauthorized.

[2016-01-28 04:34] shahbaz17 opened #376 "Cannot find module 'npmlog' while using npm command"
module.js:341
    throw err;
    ^

Error: Cannot find module 'npmlog'
    at Function.Module._resolveFilename (module.js:339:15)
    at Function.Module._load (module.js:290:25)
    at Module.require (module.js:367:17)
    at require (internal/module.js:16:19)
    at /usr/lib/node_modules/npm/bin/npm-cli.js:20:13
    at Object.<anonymous> (/usr/lib/node_modules/npm/bin/npm-cli.js:76:3)
    at Modu

[2016-01-28 05:35] serv commented on #376
Can you let us know what you get when run these two?

[code]

[2016-01-28 06:16] serv commented on #51
Here is how I can reproduce this issue.

1. `npm start` to start the browser
2. Go to say, stackoverflow.com
3. Wait for it to load.
4. Click on the URL bar. This step will cause the log to print `2016-01-27 22:13:24.815 Electron Helper[41434:5026930] Couldn't set selectedTextBackgroundColor from default ()`.

[2016-01-28 07:02] serv commented on #82
Can you still repro this bug? I don't think I can repro this. Maybe my repro steps are wrong. Can you review if this is the right repro steps?

1. Went to reddit.com
2. Click on random link.
3. Click on another random link.
4. Click back
5. Click back
6. Click forward. Works
7. Click forward. Works

[2016-01-28 07:14] elsehow opened #377 "Pinned tabs refresh on fullscreen"
whenever i exit or enter fullscreen in OSX, all pinned tabs (e.g. gmail) reload

osx 10.11.2

[2016-01-28 07:16] gdi2290 opened #378 "input fields have unintended side effects with CMD keyboard shortcuts"
OSX Version 0.7.9 (0.36.3)
My work flow uses a lot of `CMD + left-arrow` and `CMD + right-arrow` to jump to the end-of-line or beginning-of-line. At the moment @Brave goes back or forward in history which is the effect when you're not focused on an input field. (alt+arrows works).

Also `CMD+ALT+arrows (left/right)` doesn't work to quickly switch tabs

[2016-01-28 07:31] gdi2290 opened #379 "Missing two-finger back/forward navigation gesture"
In Safari we get an amazing slide effect when gesturing back and forth.
![](http://cdn.osxdaily.com/wp-content/uploads/2012/10/swipe-forward-back-apps-os-x.jpg)

In chrome they were not able to recreate the animation but they had an arrow animation. It would be great to have the gesture feature again :+1:

[2016-01-28 07:39] serv commented on #92
I tried clicking the star button beside the url bar but I can't repro this.

[2016-01-28 07:42] gdi2290 opened #380 "Drag drop images breaks Brave"
I was writing a github issue and wanted to drag and drop an image but it ended up going to the file location. I had to force close Brave to get it working again

[2016-01-28 07:43] gdi2290 commented on #380
dup of https://github.com/brave/browser-laptop/issues/341

[2016-01-28 07:43] #380 closed

[2016-01-28 07:47] gdi2290 commented on #358
I have this problem too (middle click via trackpad). In Chrome another great feature is having the new tab selection as the first option

[2016-01-28 08:05] timcarr89 commented on #368
Zoom level seems to be remembered when all but the containing directory of a URI is the same. For example, navingating on google results pages the functionality works as expected.

On the imaginary page: "example.com/site/page1.html". If a link points to any other page within the "/site/" directory (excluding its subdirectories), the zoom level is kept, otherwise it resets.

[2016-01-28 08:40] bbondy opened #381 "write update log as a text file so newlines work on windows notepad"
Windows view log button opens in notepad, but the log newlines are all on one line. Need to write that as \r\n newlines.

[2016-01-28 09:28] pdohmen91 opened #382 "installation does not Work"
Hi Guys,

i´m trying to install the browser but it does not work. Tried it severall times but it just will not work. Currently I get an Error when I want to build it:

`
npm WARN EPACKAGEJSON electron-test@0.1.0 No description
npm WARN EPACKAGEJSON electron-test@0.1.0 No repository field.
npm WARN EPACKAGEJSON electron-test@0.1.0 No license field.
npm verb exit [ 0, true ]
npm info ok

[2016-01-28 11:07] DeJaVoo commented on #189
Additional information, when loading brave.exe with CMD the following error is displayed:
"[8496:0128/130531:ERROR:gles2_cmd_decoder.cc(7542)] [.Compositor-000000000600C980]RENDER WARNING: Drawing with no current shader program.
[8496:0128/130531:ERROR:gles2_cmd_decoder.cc(6830)] [.Compositor-000000000600C980]GL ERROR :GL_INVALID_OPERATION : glUniform4fv: no program in use
[8496:0128/130531:ERROR:

[2016-01-28 11:41] elhachmi opened #383 "Installation does not work on Mac EL Capitain"
(+) No known vulnerabilities found
Packaging app for platform darwin x64 using electron v0.36.5
[ { [Error: ENOENT, mkdir '.../browser-laptop/electron-packager/darwin-x64/Brave-darwin-x64/Brave.app/Contents/Resources/app']
    errno: -2,
    code: 'ENOENT',
    path: '.../browser-laptop/electron-packager/darwin-x64/Brave-darwin-x64/Brave.app/Contents/Resources/app' } ] undefined
done

[2016-01-28 12:42] obannvi opened #384 "How do you remove the browser"
I got everything installed, but I was wondering if there was a way to remove everything.

[2016-01-28 12:53] bbondy commented on #189
This is fixed in 0.7.10, will be releasing soon.

[2016-01-28 15:57] shahbaz17 commented on #376
Hello @serv
$ node -v
v5.5.0
$ npm -v
module.js:341
    throw err;
    ^

Error: Cannot find module 'npmlog'
    at Function.Module._resolveFilename (module.js:339:15)
    at Function.Module._load (module.js:290:25)
    at Module.require (module.js:367:17)
    at require (internal/module.js:16:19)
    at /usr/lib/node_modules/npm/bin/npm-cli.js:20:13
    at Object.<anonymous> (/usr/lib/node_module

[2016-01-28 16:10] CAPerkins22 commented on #377
I don't think entering or exiting fullscreen is the only way pinned tabs automatically reload. I was just writing an email in Gmail and both of my pinned tabs refreshed mid-keystroke.

[2016-01-28 16:25] gdi2290 commented on #384
For mac to uninstall an app you simply drag and drop into trash. For some apps they also include an uninstaller, usually inside the installer. Otherwise installing an uninstaller helps for apps that also saves files outside of `Applications/` with http://freemacsoft.net/appcleaner/

[2016-01-28 16:26] mcdemarco commented on #351
I'd also like to note that this issue (of adding alt-arrow key navigation) is not an OSX issue and behavior on the mac should not be changed, even though there is an alt key available.  Mapping the alt-arrow sequences as requested could cause problems similar to the one I described above, although there would be fewer actual complaints because it's not a popular system-wide shortcut sequence.  In

[2016-01-28 16:32] bbondy commented on #384
For Windows just go to Control Panel and uninstall programs from there like other programs.

[2016-01-28 16:32] #384 closed

[2016-01-28 16:40] bbondy commented on #377
Please share a pinned tab URL that reproduces in case it's related.

[2016-01-28 16:46] CAPerkins22 commented on #377
Happens for both mail.google.com and tweetdeck.twitter.com for me

[2016-01-28 17:05] dotnetCarpenter commented on #189
I still get a black window with commit 8c34fe1b0f53f042ee0b11b942bae1fa0e5ba831

[code]

![brave_black_window](https://cloud.githubusercontent.com/assets/43763/12652020/645e9f7a-c5e9-11e5-8c42-0d6e3942badf.png)

[2016-01-28 17:06] dotnetCarpenter commented on #189
[code]

[2016-01-28 17:08] bbondy commented on #189
you'll need the new electron-prebuilt version, you can clear your node_modules and reinstall to get them.

[2016-01-28 17:46] elsehow commented on #379
I believe this is a limitation of electron shell. See atom/electron#2683

[2016-01-28 17:56] VikramTiwari opened #386 "Flash support for site X?"
What type of flash support is there in Brave? If none, shouldn't support for PPAPI which is more secure, be there?

Ref: https://support.google.com/chrome/answer/6213033?hl=en

[2016-01-28 18:37] bridiver opened #387 "Tab colors can make it difficult to tell which tab is active"
![tab_color](https://cloud.githubusercontent.com/assets/34129/12654886/71aa9778-c5b3-11e5-8de8-41e1856e152c.png)
@bradleyrichter

[2016-01-28 18:38] bridiver commented on #387
slashdot tab is active, but the color scheme makes it appear as though the feedly tab is active

[2016-01-28 19:40] diracdeltas commented on #370
Confirmed with this test case: https://www.w3.org/Member/

I wonder if this is related to popup blocking, cc'ing @bridiver

[2016-01-28 19:41] diracdeltas commented on #369
duplicate of #310

[2016-01-28 19:41] #369 closed

[2016-01-28 19:42] diracdeltas commented on #363
As mentioned in #366, we don't have a preferences menu yet. Closing this as a dupe of #310 and #366.

[2016-01-28 19:42] #363 closed

[2016-01-28 19:45] diracdeltas commented on #379
thanks @elsehow for linking the upstream issue. looks like ben at Nylas fixed this 4 days ago, so this should be closed in the next electron-prebuilt release: https://github.com/atom/electron/pull/4181

[2016-01-28 19:48] bridiver commented on #370
Cookie based auth through popup windows works in all cases that I have seen (we added support to Electron for allowing popups with user gesture), but http auth is a known issue that we haven't looked into yet. Electron does not support "prompt" which is likely part of the problem, but there may be other changes necessary to support this. HTTP auth is not very common anymore, but we definitely want

[2016-01-28 20:10] bridiver commented on #386
We currently don't have plans to support Flash, but a "mobile" view that will trigger many sites to display an HTML5 compatible version of the site targeted towards ios is on the roadmap. If there is enough demand we will revisit the decision, but Flash carries a lot of baggage with it even through PPAPI. So far I haven't personally come across anything I really cared about that didn't have a non-

[2016-01-28 20:15] bridiver commented on #362
Thanks @xjru . Are you seeing this running in dev mode or from a release build? We are working on improvements to the rendering speed in general.

[2016-01-28 20:15] dotnetCarpenter commented on #189
ah I see. I'm on a prepaid mobile connection so I think I'll wait a bit, unless my curiosity takes over :baby:

[2016-01-28 20:23] lliseil opened #388 "Hints on command-line switchs please"
Are there any switches to pass to the browser from command-line?

I tried the common `--help`, `--new-tab $url` (open a new window with a blank page) and some others with no success yet. Would like to include the browser in a real-world application test that relies on opening N pages via a simple script.

Sorry if the answer's present; I just couldn't find it.

[2016-01-28 20:23] bbondy commented on #369
Fixed in  0.7.10 (which is available now)

[2016-01-28 20:23] bbondy commented on #310
This is released now.

[2016-01-28 20:23] bbondy commented on #363
Fixed in 0.7.10 (which is available now)

[2016-01-28 20:23] bbondy commented on #357
Fixed in 0.7.10 (which is available now)

[2016-01-28 20:27] bbondy commented on #189
0.7.10 is released and has this fix. Closing.

[2016-01-28 20:27] #189 closed

[2016-01-28 20:37] xjru commented on #362
I'm running the version that was linked to in the invitation email. I suppose that's a release build. The about box says 0.7.9 (0.36.3).

[2016-01-28 20:40] dhocker opened #389 "Browser loses start up position"
Environment:
OS X 10.11.3
Dual monitor system (left and right)

Steps to recreate:
1. Start Brave (appears on the left monitor).
2. Move the browser window to the right monitor.
3. Quit Brave
4. Start Brave.

Expected: Brave should start on the monitor where it was last closed.
Actual: Brave appears always starts on the left monitor.
Severity: Minor, cosmetic.

[2016-01-28 20:43] diracdeltas commented on #184
Fixed in 0.7.10!

[2016-01-28 20:43] #184 closed

[2016-01-28 20:47] diracdeltas commented on #386
+1 for not supporting Flash

[2016-01-28 20:49] bradleyrichter commented on #387
Switching our tab-color method to use the top pixel color of the page instead of the theme color or extraction from favicon should solve this problem. This a particularly bad example.

@bbondy We may need to increase the priority of this change if more issues are reported.

[2016-01-28 20:50] diracdeltas commented on #362
Yeah, it takes about 1-2 seconds for me on OS X.

[2016-01-28 20:51] #357 closed

[2016-01-28 20:52] bbondy commented on #386
May be added as an option you can explicitly turn on later, but off by default.
Preference is to just not support it at all though too.

[2016-01-28 20:53] bridiver commented on #387
in this case wouldn't that make the problem worse? The problem is that the inactive tab matches the active page background. I think it needs some other way to delineate the boundary between the inactive tabs and the content

[2016-01-28 20:53] diracdeltas commented on #355
Thank you for this, I haven't had this issue on Linux but will link to it if others have it. We should probably have a troubleshooting section in the README that links to issues like this. Feel free to start it and open a pull request.

[2016-01-28 20:53] bbondy commented on #389
Thanks for the report, we have another copy of this though.
Dupe of #146

[2016-01-28 20:53] #389 closed

[2016-01-28 20:54] bbondy commented on #184
:tada:

[2016-01-28 20:54] bridiver commented on #362
Ok. I see it on dev as well, but wasn't sure if it was also slow in the release builds.

[2016-01-28 20:55] bradleyrichter commented on #387
we may need to add a border to go with it.

[2016-01-28 20:56] diracdeltas commented on #354
Thanks, I can confirm this.

[2016-01-28 21:04] diracdeltas commented on #351
So is the issue in the title resolved in https://github.com/brave/browser-laptop/commit/8ac6ff7670ed1217041eab532a2818f8e95039a1?

It sounds like there are also separate issues of local shortcuts like https://github.com/brave/browser-laptop/commit/8ac6ff7670ed1217041eab532a2818f8e95039a1:
1. not respecting user-specified system shortcuts
2. not being what people expect on Windows

while i like the

[2016-01-28 21:09] diracdeltas commented on #342
I see the don't-block-ads banner too. Is that expected? @bridiver

[2016-01-28 21:09] #329 closed

[2016-01-28 21:13] #252 closed

[2016-01-28 21:13] bridiver commented on #342
I see it in the leaderboard at the top, but not in the box at the bottom. It most likely depends on the source of the ad that would have been displayed. Slashdot also re-replaces some ads. I'll look to see what they are doing.

[2016-01-28 21:15] diracdeltas commented on #92
i can't either; it probably got fixed at some point. will reopen if it happens again.

[2016-01-28 21:15] #92 closed

[2016-01-28 21:16] diracdeltas opened #391 "bookmark button color is too light on the new lighter UI"
cc @teemuteemu @bradleyrichter

![screen shot 2016-01-28 at 13 16 18](https://cloud.githubusercontent.com/assets/549654/12659028/5d5feb66-c5c1-11e5-8b5c-b589a1cff53b.png)

[2016-01-28 21:18] bbondy commented on #92
yep I fixed this before and forgot to resolve, thanks.

[2016-01-28 21:18] bbondy commented on #391
fwiw it was bad on old UI too :P

[2016-01-28 21:31] bridiver commented on #342
Slashdot has something similar when they are serving "native" ads. If the ads are direct sold or come from a trusted source they can placed in a same-origin iframe that has access to the parent DOM. In this case the ad creates a hidden div in the parent body and a script right after iframe looks for that div. If it doesn't exist, the div around the ad is replaced and you get the image above.

[2016-01-28 21:31] bradleyrichter commented on #387
something like this:

![screen shot 2016-01-28 at 1 31 03 pm](https://cloud.githubusercontent.com/assets/13509546/12659406/7624d2e0-c5c3-11e5-8718-f0920dcea789.png)

[2016-01-28 21:36] bridiver commented on #387
Yea, but I think the border needs some tweaking to make the tabs look like they are behind the content instead of in front of it.

[2016-01-28 21:40] Fammy opened #392 "Middle click tab to close tab on Windows"
On Windows, middle clicking a tab in other browsers typically closes that tab.

Issue #358 also discusses middle clicks and tabs, although for Mac OS.

[2016-01-28 21:41] mrandre commented on #377
I can reproduce this bug if:
1.I have a pinned tab.
2. I navigate the pinned tab away from the original pinned url.
3. I resize the window in anyway.

The tab refreshes, and goes back to the original pinned url. Indeed, all pinned tabs with subsequently modified urls revert to the original URL. Not sure if this is the same issue.

[2016-01-28 21:50] bbondy opened #393 "Support Mouse wheel to zoom in"
(From support)

[2016-01-28 21:56] Harrold opened #394 "Favicon Crash"
Brave crashes for me, when I click on any favicon, such as the ones in the email for participating in the early developer build.

[2016-01-28 21:58] Harrold opened #395 "App state should be saved periodically to be resistant to crashes."
I added a few favorites and when the browser crashes, the favorites are all gone when I start up the browser again.

[2016-01-28 22:17] bridiver commented on #342
We don't want to deal with these on a case-by-case basis, but we are working on some ideas for a general solution to the problem. We could potentially tie into the javascript DOM manipulation functions and actively prevent manipulation of detected ad slots

[2016-01-28 22:19] chtefi commented on #378
Yes, same issue on Windows with Ctrl+left/right. I would add the problem occurs also in the address bar, not only in the tabs.

[2016-01-28 22:29] elsehow commented on #377
this is the issue, and i can reproduce the bug with the same steps.
this happened to me in gamil because i loaded mail.google.com, then navigated to a thread.

[2016-01-28 22:36] ericlaw1979 opened #396 "SECURITY: [DID] Installer not timestamped, signed only with SHA1"
The installer for Windows should probably be dual-signed with SHA256 and SHA1, and should be timestamped to avoid future compatibility problems.

http://textslashplain.com/2016/01/10/authenticode-in-2016/

[2016-01-28 22:42] bradleyrichter commented on #387
you are right - it does create a weird optical illusion that's not working...

[2016-01-28 22:43] osworx opened #397 "Support 32-bit Windows"
Latest Brave release, Win7 Ultimate 32bit
Installer starts, splash screen is show - that's it.
Final message: ```Installation has failed```

Log shows many entries, the most important seems to be that 32bit is not supported because several entries like ```System.ComponentModel.Win32Exception (0x80004005): Die angegebene ausführbare Datei ist keine gültige Anwendung für diese Betriebssystemplattfor

[2016-01-28 22:48] c-johnson commented on #351
I was going to open an issue about cmd+<right> and cmd+<left> being tied to back/forward.  I use them often in text boxes to mean "go to beginning / end of line", and it's frequent enough that it's very annoying to use Brave with my current workflow.  Maybe I'm a weirdo, though, and this is a small use case :).

[2016-01-28 22:55] bridiver commented on #342
We could also potentially use mutation observers to effectively freeze portions of the DOM by automatically undoing any changes
https://addyosmani.com/blog/mutation-observers/

[2016-01-28 22:56] chtefi opened #398 "Mouse middle click on a target _blank crashes"
Hey,

I just noticed Brave crashes (close itself instantly, no message) if I click with the mouse middle button on a `<a target="_blank">`.
I'm on Windows 10.

You can give a try here : http://jsbin.com/ximobediye/1

[2016-01-28 22:56] bridiver commented on #387
there are some other border options that should produce the desired effect

[2016-01-28 23:23] SJ-Diamond opened #399 "Make navigation toolbar buttons movable"
Would be nice to place the forward/backwards buttons to the very right or the hamburger menu button to the very left, or the url field to the very left.

Just some suggestions, with a feature like that you can instantly draw a large number of customization lovers to Brave :)

[2016-01-28 23:51] diracdeltas commented on #396
thanks, assigning to @aekeus

[2016-01-29 00:43] mcdemarco commented on #351
The issue in the title does not appear to be resolved, since it asked for an alt-arrow mapping on Windows that still does not exist; the change added ctrl/cmd-arrows instead.

[2016-01-29 00:47] Hainish commented on #242
:+1:

[2016-01-29 00:52] Hainish opened #401 "Linux update mechanism never finishes"
Probably b/c Linux stable isn't out yet, I'm guessing?

I'm left with:

![screenshot - 01282016 - 04 48 31 pm](https://cloud.githubusercontent.com/assets/156137/12663706/29021c18-c5df-11e5-962c-16dde171537c.png)

Log:
[code]

[2016-01-29 01:12] bbondy commented on #401
There's no update channel for linux based platforms right now, so I guess we should disable the update code for now for this? @diracdeltas thoughts? We could also alternatively do x64 binaries but not sure if they would be compatible everywhere.

[2016-01-29 01:27] bbondy commented on #397
Yep we only offer winx64 builds right now.

[2016-01-29 01:37] bbondy opened #402 "Posting comments on github sometimes doesn't show the comment without reload"
1. Add a comment on a commit.

Actual results: Sometimes doesn't load your comment inline.  You need to reload the page to see it.

Expected results: Loads your comment wihtout reloading the page.

[2016-01-29 01:41] bbondy commented on #402
Also happens for issues

[2016-01-29 01:42] dotnetCarpenter commented on #189
@bbondy I've just check it out. it works :+1:

[2016-01-29 01:42] #330 closed

[2016-01-29 01:45] bbondy commented on #395
So the task here is to flush out session store periodically instead of only on app load.  The crash obviously also needs to be handled but please post another issue for the crash if you have steps to reproduce it.

[2016-01-29 01:53] HLFH commented on #260
IMHO btw, uBlock Origin can [hide our Internet-facing IP address without disabling WebRTC](https://github.com/gorhill/uBlock/wiki/Prevent-WebRTC-from-leaking-local-IP-address).
![capturewebrtc](https://cloud.githubusercontent.com/assets/2359059/12664862/7711e0ba-c633-11e5-9d35-38e4ab8c3136.PNG)

[2016-01-29 02:29] conanoc commented on #322
"failed to locate cl.exe" means you need MSVC build env variables. Try using MSVC Developer Command Prompt.

[2016-01-29 03:04] mikeLspohn opened #403 "Some input fields have placeholder text that overlaps and persists"
On the homepage of The Pirate Bay the input field has two placeholder texts that over lap and one of them persists, even after you start entering text in the input field.

<img width="415" alt="screenshot 2016-01-28 21 01 46" src="https://cloud.githubusercontent.com/assets/6027057/12666054/8222310c-c602-11e5-8f60-9903f2f785dc.png">

I checked on Chrome and Firefox and that's not happening there, s

[2016-01-29 03:26] bbondy commented on #354
@SergeyZhukovsky please take a look, it is related to tracking protection I think, is it the same on Android?

[2016-01-29 03:26] Tombsmen opened #404 "Cannot finish sign up to Github with Brave"
The buttons on choose your plan page activate nothing and you cannot continue the sign up process.

[2016-01-29 03:30] bbondy commented on #370
We just need to handle this like so:
https://github.com/atom/electron/pull/3250

We'd set some state to indicate we should show the auth div saving the callback, and then render that and when they submit call the callback with the username and password.

[2016-01-29 03:38] Tombsmen opened #405 "Drag Tab out to create a new Brave process"
A nice feature to add to Brave would be the ability to take any tab and drag it out to say a second monitor let it go and it become an independent fully functional instance of Brave.

[2016-01-29 03:41] Tombsmen opened #406 "New tab from link closing should return to originating tab"
When a new Tab is created from a link in an existing Tab, The focus should return to Tab the originating Tab the link was opened from, not the tab previous to the now closed tab.

[2016-01-29 03:44] Tombsmen opened #407 "Open in new tab context menu item should go to the top"
Open in new tab in the context menu should ideally be at the top the context menu, rather than some where in the middle. Opening a link in a new tab should be a 1.18 of a second two click express process, as the other option Ctrl click requires two hands, may cause issues with those with one hand.

[2016-01-29 03:45] Tombsmen commented on #405
Also should be able to drag tabs between open instances of Brave.

[2016-01-29 03:55] Tombsmen opened #408 "Netflix dosen't register first click"
Netflix dosen't register first click when selecting a program, you have to click the play button atleast twice.

[2016-01-29 03:57] bbondy commented on #398
Could you check this one out? Seen a few mentions of it.

[2016-01-29 04:01] Tombsmen opened #409 "Netflix doesn't allow video playback (Pluggin related) Netflix Error M7701-1003"
Likely due to Silver Light / Wildvine plugin support.

https://help.netflix.com/en/node/27451

![netflix_error_m7701-1003](https://cloud.githubusercontent.com/assets/16950007/12666876/05105b26-c602-11e5-8335-fa2d78acc960.PNG)

[2016-01-29 04:17] scunliffe opened #410 "Please add F5 and CTRL+F5 as soft/hard reload options on Windows"
Web users and developers are extremely used to using F5 and CTRL+F5 for soft and hard reloads in all browsers on Windows. If these key combos could also be mapped to these features it would make user migration much easier. (*cough* F12 for developer console too *cough*)

[2016-01-29 04:24] Tombsmen opened #411 "Ctrl + Click on facebook post links cause Brave to Crash(see screen shot)"
If you Ctrl + Click on the link (see highlighted link in image) BRave immediately crashes eitehr with and error report or just gone.

![link](https://cloud.githubusercontent.com/assets/16950007/12667153/3554df5c-c605-11e5-8e4f-0fc74111c7e6.png)

[2016-01-29 04:33] Tombsmen opened #412 "Ctrl+ Click on link from Twitter Brave crashes"
Ctrl+ Click on link on Twitter brave will instantly crash, see screen shot showing link
![links](https://cloud.githubusercontent.com/assets/16950007/12667298/c9fb0c5c-c606-11e5-80c2-9e8dca487603.PNG)

[2016-01-29 04:33] #410 closed

[2016-01-29 04:37] thepup commented on #411
Could you put your system details? I'm running El Capitan and can't reproduce this issue.

[2016-01-29 04:37] thepup commented on #412
Could you put your system details? I'm running El Capitan and can't reproduce this issue.

[2016-01-29 04:39] bbondy commented on #410
Cheers! It'll be in the next version.

[2016-01-29 04:41] scunliffe commented on #410
You rock! I've never had a browser vendor react so fast!

On Thu, Jan 28, 2016 at 11:39 PM, Brian R. Bondy <notifications@github.com>
wrote:

[2016-01-29 04:43] Tombsmen commented on #411
Windows 10 Pro
Version 1511 (OS Build 10586.71)
Intel Core i5-4670K 3.4GHZ
32GB - Kingston Value Ram
Raid 0 - Samsung 850 SSD(2)
MSI - Z87-G45 Gaming (MS-7821)

Not sure what else you would like but feel free to let me know.

[2016-01-29 04:43] Tombsmen commented on #412
Windows 10 Pro
Version 1511 (OS Build 10586.71)
Intel Core i5-4670K 3.4GHZ
32GB - Kingston Value Ram
Raid 0 - Samsung 850 SSD(2)
MSI - Z87-G45 Gaming (MS-7821)

Not sure what else you would like but feel free to let me know.

[2016-01-29 04:43] bbondy commented on #412
Reproduced on Windows. CC @bridiver  I think some background tab code might be messed on Windows again, maybe from the rebase?

[2016-01-29 04:43] bbondy commented on #412
Thanks for the report!

[2016-01-29 04:44] bbondy commented on #411
This will be the same as #412, so I'll close this one.

[2016-01-29 04:44] #411 closed

[2016-01-29 04:48] Tombsmen commented on #412
Wasn't sure if these two issues were seperate or the same problem thus two tickets.

[2016-01-29 06:39] bradleyrichter commented on #391
Brian picked that color...changing it to Brave-orange.

[2016-01-29 06:41] kdpuvvadi commented on #397
What about Win32 users?

[2016-01-29 07:10] mkwardakov commented on #412
I can reproduse most links on various sites (Google, Facebook, Twitter, Yahoo, AppStore etc).
Cannot see any regularity in that. Devtools windows closes too.

[2016-01-29 07:12] bauidch opened #413 "No favorite liste"
I add a webside to favorite. Where can I see the list of favorites?
A favorite list would still practically and a settings page too.

[2016-01-29 07:27] bradleyrichter commented on #407
Thanks for the submission. We will be sure to take the best from the Chrome/Firefox context menus and implement your first-item suggestion for efficient access to "Open link in new tab".

[2016-01-29 07:29] bradleyrichter commented on #406
@BrendanEich I think this is precisely the issue you found the other day...

[2016-01-29 07:35] bradleyrichter commented on #366
@stshank As we start implementing prefs, let us know if you have a short list of what you were hoping to find in prefs. We will try to hit the most common ones first. - Brad

[2016-01-29 07:35] mkwardakov commented on #412
Looks like brave crashes on ctrl+click on links that are designed to be open in new tab on simple click and works with other links.

[2016-01-29 07:51] CtrlAltDefeat94 opened #414 ""Your ad blocker is breaking Speedtest.net""
Not sure what more to say..
Using the Windows build I got in the mail last night.

![wytz6mu 1](https://cloud.githubusercontent.com/assets/5640470/12670037/66992c2a-c665-11e5-92d7-2c84ec8f5971.png)

[2016-01-29 08:02] ChrisRfr opened #415 "Excessive memory use"
With the same tabs, it is almost double chrome known to be greedy.

[2016-01-29 08:22] osworx commented on #397
@bbondy thx, means brave is dead for me - and for about 60% of all users worldwide ..

[2016-01-29 08:57] onmyouji opened #416 "Text inside the find bar should be highlighted when pressing Ctrl+F for the 2nd time"
![capture](https://cloud.githubusercontent.com/assets/8424198/12671027/7bc6413e-c69f-11e5-9bcd-29470cf3b395.PNG)

When the find bar is already opened (used before), pressing Ctrl+F doesn't highlight the text. On other browsers, pressing Ctrl+F for the 2nd time will highlight the text, so that users can resume their search and immediately type new words.

Windows 7 Home Premium 64-bit

[2016-01-29 08:59] Skavenger0 opened #417 "Installer Requirements"
I'm testing Brave at home and at work aswel, looks like a fantastic idea and I am one of our SysAdmins. (Yes I know its not ready yet but I'm just curious at this point)

Issue:

1: We (like many companies) block executable running from Program Data or the Users Profile.
2: The installation by default is for a single user rather than multiple people using the same computer.

Request:
Ability to ch

[2016-01-29 09:28] jsynowiec opened #418 "(OS X) floating "Missing Plug-in" on some sites, page content not clickable"
On several sites there is a "Missing Plug-in" alert visible (flash adds?).

<img width="159" alt="missing plugin" src="https://cloud.githubusercontent.com/assets/1029142/12671862/ab59da50-c672-11e5-9f28-8f976ca9e694.png">

Generally it's not a problem but on some webpages this is floating over page content and nothing is clickable.

OS X El Capitan 10.11.3, no flash, silverlight or java installed.

[2016-01-29 10:26] diracdeltas commented on #401
disabling for now or just disabling the "check for updates" button seems fine

[2016-01-29 10:30] SamJongenelen commented on #392
When hovering with mousepointer over a tab and pressing the scroll wheel (some mouse support this), the tab under the pointer is closed. (Chrome/Edge/IE has it)

[2016-01-29 10:31] SamJongenelen opened #419 "[FR] Shortkey ALT + D to select navbar"
When ALT + D is pressed in Brave, the navigational bar is not selected. It does in any other explorer alike window or browser and its damned handy.

Im on Windows 10 64 bit

[2016-01-29 11:16] jmcastellote commented on #214
Very Similar error here.
- Using:
Debian Jessie with regular Main & Contrib repo packages
nodejs v5.5.0
npm v3.3.12
node-gyp v3.2.1

- I get, after npm install:
`npm ERR! abp-filter-parser-cpp@1.1.5 install: 'node-gyp rebuild'`
Looking deeper, I see that file "BloomFilter.h" is missing from Brave's module "abp-filter-parser-cpp". As this module is self-managed by brave, I cannot replace it with th

[2016-01-29 11:33] LoloIrie opened #421 "About Brave: not working"
Nothing happends with the menu Help / about brave
Windows release

[2016-01-29 11:34] LoloIrie opened #422 "Standard shortkeys are not used"
F12 for the dev console
F5 to refresh
.....

[2016-01-29 11:34] LoloIrie opened #423 "Css Cached files"
No way to refresh page without using the cache !?
Windows release

[2016-01-29 11:59] nbourdais commented on #419
I am more accustomed to Ctrl+L which works.

[2016-01-29 12:19] scunliffe opened #425 "Middle click on web link inside a Twitter tweet causing Brave to completely close vs. open link in new tab"
I'm still trying to work out the specific scenario(s) that triggers this and will update once I've run more tests.

Note this is on Windows 7 and the behavior is as if I had clicked ALT+F4 to close the browser.

On Twitter.com:

Middle click works fine on:
- trending links (left panel)
- @username links (anywhere)
- personal links (top left, tweets, followers, following)

Middle click is *closing*

[2016-01-29 12:38] bbondy commented on #421
This is fixed in 0.7.11

[2016-01-29 12:39] bbondy commented on #421
We'll release it as soon as possible, so I'll close this for now.

[2016-01-29 12:39] #421 closed

[2016-01-29 12:48] scunliffe opened #426 "On Windows Brave does not (re)launch at "maximized" size when it was running as such last time"
On Windows, an app can launch at a specific size, or the full desktop size (with full window chrome around the edges) or "maximized" where the app fills the desktop and the ~8px or so window chrome borders on all sides are not rendered.

Each app on Windows tends to hold on to its last state (and / or size) and re-launch itself at that last state the next time it is opened.

Brave appears to launc

[2016-01-29 12:58] bbondy commented on #418
Could you give a particular site that has the floating div?  (Several if you have more than one)

[2016-01-29 12:58] bbondy commented on #422
This was fixed in this dupe:
https://github.com/brave/browser-laptop/issues/410

[2016-01-29 12:58] #422 closed

[2016-01-29 12:58] bbondy commented on #422
It'll be released in the next update.

[2016-01-29 13:00] bbondy commented on #417
We have an MSI which should work similar to:
https://get.slack.help/hc/en-us/articles/212475728-Deploying-Slack-to-your-organization-via-MSI

If we sent it to you could you verify that it does?

[2016-01-29 13:01] bbondy commented on #416
++ this is a big gripe for me too.

[2016-01-29 13:03] bbondy commented on #397
The stats are very different for our supported platforms (win7 and up).
@osworx note that I did not close this issue, I just said we don't have that yet.
We've only released a dev build on some platforms so far.

[2016-01-29 13:05] bbondy commented on #413
We'll be exposing them at first via this issue:
https://github.com/brave/browser-laptop/issues/319

Closing this because it can be considered a dupe.  We'll also have bookmarks manager later.

[2016-01-29 13:05] #413 closed

[2016-01-29 13:06] bbondy commented on #407
I think the ordering is right as suggested, will tweak in this issue.

[2016-01-29 13:07] bbondy commented on #406
++ nice dogfood find.

[2016-01-29 13:07] LoloIrie commented on #422
So quick........ Well done :)

[2016-01-29 13:08] bbondy commented on #391
...context of time is relevant here :).
Choice was made when we had a black background which was before your v1 designs.  Just never changed.

[2016-01-29 13:09] Skavenger0 commented on #417
Brilliant, I will give it a go and let you know how I get on.

[2016-01-29 13:10] bbondy commented on #423
The view menu (accessible with alt on Windows) has both Reload and Clean Reload. I think that covers what you're asking. Please re-open if not.

[2016-01-29 13:10] #423 closed

[2016-01-29 13:17] LoloIrie commented on #423
Oh I was blind, sorry. It's fine :)

[2016-01-29 13:18] bbondy opened #427 "Sandbox is being disabled at least on Windows"
Squirrel installer is setting us up as not having a sandbox.
<img width="496" alt="screenshot 2016-01-29 08 16 40" src="https://cloud.githubusercontent.com/assets/831718/12676502/d25b814c-c660-11e5-9abb-988442deb516.png">

https://twitter.com/ericlaw/status/692951020348010497?lang=en

This makes us as secure as Firefox but obviously we should be enabling the sanbox.

[2016-01-29 13:23] bbondy commented on #427
The content processes below the renderer process can probably get away with not using node if that's the issue.

[2016-01-29 13:26] ghost opened #428 "Import data from other browsers"
Is the fetaure unimplemented yet or it should be working and it is a bug?

[2016-01-29 13:27] herby opened #429 "I can't see how to make Brave the default browser on Windows"

[2016-01-29 13:27] bbondy commented on #417
Try from here using the Slack instructions above though.
https://github.com/brave/browser-laptop/releases/download/v0.7.10dev/Setup.msi

[2016-01-29 13:28] bbondy commented on #429
This is a pending task, it's high priority, thanks for posting.

[2016-01-29 13:31] johvan opened #430 "Crash"
Crashes when you try to make a YouTube video full-screen.

[2016-01-29 13:44] stshank opened #431 "Top context menu item for right-clicking on a hyperlink should be "open in new tab""
I almost never need "reload" when right-clicking a link. 90 percent of the time I want to open it in a new tab, 10 percent of the time I want to copy the target URL. I'm not sure how widespread those preferences are, but my muscle memory is programmed to find "open in new tab" at the top of the list. Having "reload" there is tripping me up.

[2016-01-29 13:53] ChrisRfr commented on #419
I would add another keyboard shortcut,
Alt+Enter to open a search or url typed in a new tab.

[2016-01-29 14:05] PFCKrutonium commented on #397
@osworx
![stats](https://cloud.githubusercontent.com/assets/3945538/12677501/78701a7e-c667-11e5-8b34-da9293d5b26a.PNG)

[2016-01-29 14:26] PFCKrutonium commented on #290
@aviolentgrace Thanks :+1:

[2016-01-29 14:35] bbondy commented on #431
Dupe of #407

[2016-01-29 14:35] #431 closed

[2016-01-29 14:40] Booteille opened #432 "Give ability to select where to install Brave"
Just saw it's included in #417.

[2016-01-29 14:41] CtrlAltDefeat94 commented on #432
#417

[2016-01-29 15:21] flienteen commented on #412
Seems more like a bug on [brave/electron-prebuilt](https://github.com/brave/electron-prebuilt) because it works fine when running it with [mafintosh/electron-prebuilt](https://github.com/mafintosh/electron-prebuilt)

Duplicate of #398

[2016-01-29 15:54] jsynowiec commented on #418
One of such sites was the news site from Poland: http://www.gazeta.pl/0,0.html

<img width="892" alt="zrzut ekranu 2016-01-29 16 52 02" src="https://cloud.githubusercontent.com/assets/1029142/12680184/a6eb5ce2-c6a8-11e5-96ef-8066617c6293.png">

[2016-01-29 15:59] SJ-Diamond opened #434 "Incognito/Private Mode as default"
Would be great to have a future option to make the browser use the incognito/private mode as default browsing mode.

Benefits are zero cache and is also of value for very privacy concerned people.

[2016-01-29 16:24] iandonov opened #435 "Cannot load feedproxy.google.com URL"
http://feedproxy.google.com/~r/techradar/allnews/~3/P94s08SmdHQ/story01.htm

on Windows
v0.7.10 Dev Channel

nothing happens

[2016-01-29 16:28] joselitojunior1 opened #436 "Don't allow preview a private tab"
Would be a good adition, since sometimes private tabs have a sensitive contet. Maybe not by default, but something that can be enabled/disabled on config. pages

[2016-01-29 16:29] joselitojunior1 commented on #436
I can help with a PR, if needed

[2016-01-29 16:39] ppetrov opened #437 "Crash upon CTRL + Click on a link"
URL : [(https://chess24.com/en/read/news/tata-steel-2016-10-caruana-closes-the-gap)]
Scroll down the page, when CTRL Click on a link ("his Q&A Session") the browser crashes. I've tried this several times and it crashed all the times.

[2016-01-29 16:45] ppetrov commented on #426
That's really annoying for me too.

[2016-01-29 16:51] scunliffe commented on #425
This also occurs in Gmail, when I get a Facebook notification email (e.g. about a comment to a post)... the big blue "View on Facebook" button if middle-clicked will close/crash? the browser too.
(I'm not sure if this is caused by the same issue, or unrelated)

[2016-01-29 16:54] ppetrov commented on #412
I think it's because of the href target attribute set to _blank (target="_blank") and with the Ctrl+Click it's like open in new "double" tab.

[2016-01-29 16:54] ppetrov commented on #437
I think it's because of the href target attribute set to _blank (target="_blank") and with the Ctrl+Click it's like open in new "double" tab.

[2016-01-29 17:00] hasanhuseyincakir opened #438 "Tab Carrying & Tab Sharing"
Usually I'm using 2 different monitors & running 2 different processes of browsers. On other browsers I can carry my tabs between these 2 different browser processes. Brave doesn't support this yet.

Also I would like to "push" my tab into my phone or from my phone to my laptop. Like firefox's tab syncing between android/pc versions but I just want to push spesific tab, if it's possible with a not

[2016-01-29 17:01] Tombsmen opened #439 "Brave ad replacement sometimes does not occur"
Image 1 of3 displace the white spcae left behind by a missing advertisement in Brave. Image 2 of three shows the white space has been aborbed when using Adblock plus and Google Chrome. Capture 3 shows the Advert in place in Google Chrome with ADblock plus turned off.
![capture_1](https://cloud.githubusercontent.com/assets/16950007/12682043/d17a6e9c-c66e-11e5-9b03-e8a8e1ed8a13.PNG)
![capture_2](htt

[2016-01-29 17:05] Tombsmen commented on #438
The top two sentences are the same design sugestion as ticket [#405](https://github.com/brave/browser-laptop/issues/405)  I think  #405 should be merged with this ticket.

[2016-01-29 17:10] Tombsmen opened #440 "Going to Redflagdeals.ca results in a black screen"
Going to Redflagdeals.ca results in a black screen, I'm not sure if this is pushing things but some times I want to do some online shopping and I'm cheap so I look at Redflagdeals.ca. If this black screen is intentional attempt to help me save money, thanks. But I'm sure it is more likely a conflict between the site and  Brave's built in advertisement blocking.

[2016-01-29 17:12] Tombsmen commented on #437
see ticket [#412 ](https://github.com/brave/browser-laptop/issues/412)

[2016-01-29 17:12] bridiver commented on #412
I'm looking at this right now. We made changes to Electron to make window.opener work correctly and this is likely related. I think another change I have been working on will likely fix this.

[2016-01-29 17:12] bbondy commented on #440
Check the "Bravery" main menu by hitting Alt for:
Block Tracking

vs

Block Ads

Would be curious to see which is the cause.

[2016-01-29 17:13] bbondy commented on #437
Closing this as a dupe.

[2016-01-29 17:13] #437 closed

[2016-01-29 17:25] bbondy commented on #427
I believe @bridiver will be looking into this by disabling the node integration on the webview completely and then not passing the no-sandbox flag to the child process.

[2016-01-29 18:04] #392 closed

[2016-01-29 18:04] bbondy commented on #392
Fixed, it'll be in the next version. Thanks for the feedback!

[2016-01-29 18:09] SJ-Diamond opened #441 "Make bookmark and history management look nicer"
As Chromium has truly ugly bookmark management and history, i would appreciate it if you would make both parts look more nicer and add more functionality so that it is not that bare bone style.

[2016-01-29 18:25] bbondy commented on #436
Still thinking about this, I think people might perceive it as a bug.

[2016-01-29 18:35] bbondy opened #442 "Alt+Enter to open a search or url typed in a new tab."
@ChrisRfr writes:

[2016-01-29 18:35] bbondy commented on #419
Moved that to #442.

[2016-01-29 18:36] #419 closed

[2016-01-29 18:39] Tombsmen commented on #440
You must have fixed it as it now works, or did you simply white list the site?

[2016-01-29 18:43] butlermatt commented on #193
I'm using 0.7.10 and still having this issue myself. My video in question is:
https://www.youtube.com/watch?v=uwV-MHaqR-Y

Mac OS 10.11.3

[2016-01-29 18:47] thjelm opened #443 "Secure sites listed as unsecure on restored tabs after restart"
Observed behavior:  When opening Brave, restored tabs for secure sites have an open lock icon. (windows and osx)

Expected behavior: Brave should correctly identify secure sites as secure, in restored tabs on startup

How to reproduce:

1) Open several secure https sites in different tabs (google.com, yahoo.com, github.com).
2) Verify that they are secure by viewing the closed lock icon to the lef

[2016-01-29 18:48] Tombsmen opened #444 "Implement history and Ctrl +Y to bring it up"
Ctrl +Y does not bring up history in windows version of Brave, it literaly does nothing.

[2016-01-29 18:52] bbondy commented on #146
Also it should preserve the window state (maximized, ...)

[2016-01-29 18:52] bbondy commented on #426
Closing this as a dupe of #146 but added in an explicit mention of maximized state.
Thanks for the extra telemetry stats too!

[2016-01-29 18:52] #426 closed

[2016-01-29 18:53] bbondy commented on #428
Yes this is still pending implementation. Thanks for posting.

[2016-01-29 18:55] Tombsmen opened #445 "Draging a url link to the address bar closes all tabs and opens link in un escable full screen"
If you left click on a link and drag it to the url address bar Brave closes all tabs and opens that link in an unescable single full screen window forcing you to close Brave, found this by accident the other day. I think this should would be better if it resulted inopening a new tab with the link, or nothing at all for now.

[2016-01-29 18:56] bbondy commented on #397
Thanks @PFCKrutonium

[2016-01-29 18:56] rtsuk opened #446 "Text rendering looks worse in macOS in Brave than Safari"
The headline looks particularly worse to my eye. It looks exactly the same as Chrome on Mac.

![brave](https://cloud.githubusercontent.com/assets/314561/12684989/992bc8b2-c676-11e5-8a65-373babfe0a8a.png)
![safari](https://cloud.githubusercontent.com/assets/314561/12684990/99321f14-c676-11e5-9137-d1702252f433.png)
![chrome](https://cloud.githubusercontent.com/assets/314561/12685055/f7f2da98-c676-11

[2016-01-29 18:57] bbondy commented on #394
I think this will be fixed inside of: #412
Closing this for now since that one already has a lot of activity and an assignee.

[2016-01-29 18:57] #394 closed

[2016-01-29 19:08] joselitojunior1 commented on #436
@bbondy brave could show some warning on preview. something like a purple webpage with the private icon

[2016-01-29 19:16] hasanhuseyincakir opened #447 "HTML5 Player Right Click"
For instance on Youtube when you click right over an HTML5 player, it shows both browser's & player's right click options.
http://i.imgur.com/ceLxPy5.png

[2016-01-29 19:17] hasanhuseyincakir commented on #444
Ctrl + H doesn't work either.

[2016-01-29 19:17] bbondy opened #448 "Right click on a window when it doesn't have focus causes error"

[2016-01-29 19:24] #407 closed

[2016-01-29 19:40] pcomans opened #449 "As a user, I want to be made aware that I need to enable tracking in order to use Facebook services"
I can only log into https://www.scribd.com/ with my Facebook account if I enable tracking.
I think breaking this "feature" is legitimate and in line with Brave's principles.
However, as a user, I would like to be made aware how I can turn off tracking in order to log in, instead of the process just failing silently.

A similar issue occurs when using Facebook messenger through messenger.com

[2016-01-29 19:57] Tombsmen commented on #445
Turns out chrome does this but Brave is faster and has built in AD blocking and anti tracking.

[2016-01-29 19:59] Tombsmen commented on #444
hasanhuseyincakir Ctrl + Y is the key set for Brave Ctrl + H is for other browsers.

[2016-01-29 20:08] Tombsmen commented on #440
So I left the tab open for a bit and eventualy it went to a black page, so I then turned off Block Ads, still goes to a black page. Then I turned off Ad replacement Engine, still after a few seconds black out page.   After which I turned of Block Tracking, still after a few second completely black page. I have been closing the tab between attempts and leaving each feature disabled untill the end.

[2016-01-29 20:11] Tombsmen opened #450 "About Brave Non-functional"
press Alt click Help Click About Brave results in nothing happening, context menu incomplete or data maybe missing?

[2016-01-29 20:13] erossonero opened #451 "Everything is pink"
![brave](https://cloud.githubusercontent.com/assets/16802489/12686889/88fd2ab6-c69a-11e5-8a05-cdd1e97ae649.png)

Installed the browser on Win 10 Pro. All whites show as pink.

[2016-01-29 20:17] bbondy commented on #451
Thanksf or the post Eros, can you right click on the icon on your desktop and go to properties. Is it 0.7.10?

[2016-01-29 20:18] bbondy commented on #450
This was fixed here for Windows:
https://github.com/brave/browser-laptop/pull/374

Just not released yet, will be in 0.7.11 and later.

[2016-01-29 20:18] #450 closed

[2016-01-29 20:29] wblondel commented on #451
Hi @erossonero,

Do you have an Nvidia GPU?

[2016-01-29 20:30] erossonero commented on #451
Hey Brian, yes im running 0.7.10 (app-0.7.10)

[2016-01-29 20:32] erossonero commented on #451
@wblondel NVIDIA GeForce GT 530

[2016-01-29 20:35] wblondel commented on #451
Some people [had the same bug on Chrome/Chromium](https://code.google.com/p/chromium/issues/detail?id=319115), they fixed it by upgrading their GPU drivers or by disabling Stereoscopic 3D in the Nvidia Control Panel.

[2016-01-29 20:39] wblondel commented on #446
I can't see any differences between the three screenshots :open_mouth:

[2016-01-29 20:58] erossonero commented on #451
@wblondel updating the video card drivers worked. It shows white now.

Thanks!

[2016-01-29 21:03] erossonero opened #452 "Middle Click Crash"
When you middle click on a link, if you have only 1 tab open, it closes the browser, instead of opening a new tab.

Video in .zip file
[MiddleClickCrash.zip](https://github.com/brave/browser-laptop/files/110418/MiddleClickCrash.zip)

[2016-01-29 21:05] bbondy commented on #451
Sweet! Closing. Thanks guys.

[2016-01-29 21:05] #451 closed

[2016-01-29 21:19] ramons03 commented on #452
Same Issue for me. Even if you have multiple tabs. It closes the entire browser.

[2016-01-29 21:29] elsehow commented on #214
installing with --unsafe-perms fixes this issue for me. @jmcastellote do you have bulid-essential installed?

[2016-01-29 21:52] Oldpedro commented on #354
same on os/x; I can load amazon.com, but not my regular amazon.co.uk

[2016-01-29 22:01] bbondy commented on #354
I think it probably has to do with how we're handling redirects and the first party url detection code in the laptop browser. Would be curious to know if this works in Android if you have a chance @SergeyZhukovsky .

[2016-01-29 22:02] scunliffe commented on #452
Sounds like this might be similar to the issue I reported in Twitter/Gmail: https://github.com/brave/browser-laptop/issues/425

[2016-01-29 22:14] rblasett commented on #214
fixed:
.././filter.h:12:25: fatal error: BloomFilter.h: No such file or directory
on OSX El Capitan with `sudo npm install --unsafe-perms`

[2016-01-29 22:41] rblasett commented on #339
i'm getting the same error on OSX El Capitan

[2016-01-29 22:44] TheFallenOneGOTH commented on #447
Confirmed for Windows 10 v10586.71 (Version 1511).

[2016-01-29 22:57] doriandrn commented on #446
It's all about font-smoothing rendering.

[2016-01-29 23:10] SergeyZhukovsky commented on #354
Ya just verified it and if we skip first party, it works great. We have two options:
1. Add it to the tp lib.
2. Do checks for all platforms.
What do we prefer?

[2016-01-29 23:22] DocWatson commented on #425
I'm having a similar issue with links in Gmail. On Windows 10. The issue occurs if I left click on a link or middle click. However, if I right click and "open in a new tab" the link opens without issue.

[2016-01-29 23:51] diracdeltas commented on #445
A fix for this is coming today

[2016-01-30 00:15] wblondel opened #453 "App translation"
Hi!

What about translating the app? :)

[2016-01-30 00:23] diracdeltas commented on #445
Related: https://github.com/brave/browser-laptop/issues/259

Actually drag-and-drop works as expected if the link is dragged into the urlbar `input` field. But if the page has a title, the urlbar is in title mode, so the input isn't visible.

The same problem happens if the link is dragged to the tab bar area.

[2016-01-30 01:16] #445 closed

[2016-01-30 01:27] TheFallenOneGOTH commented on #284
Still a concern on Windows 10 v10586.71 (Version 1511).

[2016-01-30 01:39] diracdeltas commented on #259
I was hoping https://github.com/brave/browser-laptop/commit/7e5dba30bb9675df8b0612266e685dc82b4dec55#commitcomment-15776640 would fix this, but it doesn't. It seems that only `javascript:` URLs dragged into the tabbar cause the main BrowserWindow to navigate to `about:blank`. `http(s):`,  `data:` and `file:` don't seem to have this issue.

Test page:

[2016-01-30 01:50] cortig commented on #453
The OS X app havs a vast number of .lproj folders inside it's resources, but they're all empty. If I had to guess: it'd be coming at a later stage…

[2016-01-30 02:00] cortig opened #454 "[OS X] Version 0.7.10 won't launch"
I used Brave under OS X 10.11.3. The app was working fine and mentioned an update was available.
I allowed the app to auto-update, but it never relaunched itself and I couldn't launch the app from the Finder either.
I redownloaded the app and reinstalled it and this version wouldn't launch either.
There seems to be an issue with the updated build.
The Console reports:
29/01/16 20:55:39.814 lsd[380

[2016-01-30 02:01] cortig opened #455 "[OS X] Update command at the wrong location"
Most apps under OS X have the Check for Update command right under the application name in them menu bar. Having it under File is highly unusual… It'd be nice to move it where people would expect to find it.

Corentin

[2016-01-30 02:03] sotojuan opened #456 "Tabs do not become smaller when they do not fit in window"
In Safari and Chrome, tabs automatically resize and become smaller the more there are. In Brave, you get another "set" of tabs you can go to.

I was curious about this design decision. Personally I prefer the way Safari and Chrome do it, and I think most people expect the same behavior. I don't really mind the way Brave does it, but was interested in why the team decided on this behavior.

[2016-01-30 02:25] #354 closed

[2016-01-30 02:27] diracdeltas commented on #445
As will be mentioned in the 0.7.11 release notes, this turned out to be a serious security issue. If the user drags and drops a malicious link outside of the tab content area, Electron will load the site outside the webview sandbox, where it can compromise the user's system.

PoC: https://zyan.scripts.mit.edu/node_test/opener.html. if you're using a vulnerable version, dragging and dropping the li

[2016-01-30 02:58] inian commented on #455
Looks like most browsers on Mac do not have a "Check for update" option in the menu bar at all..But I agree it being under File menu is unusual..probably would be a better fit under the Application menu or under the help menu..

[2016-01-30 03:16] inian commented on #403
Am able to reproduce the bug with the following HTML document
[code]

[2016-01-30 03:48] inian commented on #448
This happens to me only when I have focus on the dev-tools and right-click on the window I am debugging.

This is because `BrowserWindow.getFocusedWindow()` can return null if no window is being focussed ([doc](https://github.com/atom/electron/blob/master/docs/api/browser-window.md#browserwindowgetfocusedwindow)). I don't think the focus actually shifts to the window even though you right click on

[2016-01-30 03:50] inian opened #459 "CMD+W does not close the dev-tools"
Expected behaviour -  dev-tools should close if it is in focus and I press CMD+W

[2016-01-30 04:28] FrancisTurner opened #460 "Brave crashes when clicking on Disqus verification link in gmail"
Using windows version downloaded yesterday

Steps to reproduce
1) sign up to disqus.com using a gmail address that has not been used at disqus before
2) make comment somewhere that uses Disqus and force sending of verification email (this step may be omitted if Disqus sends the email automatically, it didn't for me)
3) when you have the disqus confirmation email click on the link
4) Watch brave cr

[2016-01-30 04:31] bridiver opened #461 "Previews overlap when navigating to a currently previewed tab"
Steps to replicate
1. Open two tabs with different sites
2. Preview the inactive tab
3. Keyboard navigate to the inactive tab
Active and inactive content overlaps

[2016-01-30 07:24] FrancisTurner opened #462 "Dragging link to existing tab opens new tab"
Brave windows v 0.7.11

With both chrome and firefox, if you frag a link to an existing tab, you load that link in the tab itself. With this version of brave you get a new tab.

(Note that this is better than the previous behavior which was to obliterate all the tabs and toolbars)

Steps to reproduce
1) open two tabs
2) load (say) https://github.com/brave/browser-laptop/  into one tab
3) drag a li

[2016-01-30 07:28] FrancisTurner opened #463 "Use an about: page for About instead of a Dialog so that text selection of version info is possible"
Help->About Brave pops up a dialog with version info. When reporting issues it woudl eb extremely useful to be able to select the text in that dialog to paste into the github text box

![aboutbrave](https://cloud.githubusercontent.com/assets/991242/12694352/e80b2892-c6df-11e5-9e7b-2fcd4a0b39a2.jpg)

[2016-01-30 08:25] Oldpedro commented on #455
'Check for update' for chrome and firefox is on the  'about <application>' dialog (and in fact happens automatically when selected). Safari doesn't have one because it's updated via app store.  Makes sense to have it where the version number is displayed.

[2016-01-30 08:41] Infernoman opened #464 "Fullscreen video causes tab and video to disapear"
Fullscreening a video on facebook specifically not sure about other websites, Causes the video and the browser to go into fullscreen. the video disappears but plays in the background and the tab in which the fullscreen video originated is no longer in the browser.