[2017-01-20 07:30] bsclifton commented on #6033
@NejcZdovc I know it's been a while- did you want to check this one out?

[2017-01-20 07:37] bsclifton commented on #6242
@lifeinchords good call- we have an issue specifically tracking that if you wanted to subscribe. Check it out here: https://github.com/brave/browser-laptop/issues/4402

[2017-01-20 07:40] alexwykoff opened #6771 "clearing per site settings causes shields to go out of sync with content view"
- Did you search for similar issues before submitting this one?
yes

- Describe the issue you encountered:
if a per-site setting exists (like block scripts) and it is cleared in preferences, the shields for the site displays the proper setting, but the content view does not update appropriately even after refresh or close/reopen of the site

- Platform (Win7, 8, 10? macOS? Linux distro?):
tested o

[2017-01-20 08:03] bsclifton commented on #5513
@luixxiul that is definitely an option too; although some folks with the issue only see black inside the window (preferences page won't render)

[2017-01-20 08:06] bbondy commented on #6739
It's advertising it if it's installed pre the fix I'm doing.
Note that since we aren't using our placeholders anymore there is no indication to go to preferences, @srirambv pls post a follow up to get our placeholders back in for 0.13.something. (not 0.13.1 though).

[2017-01-20 08:06] bbondy commented on #6739
window renderer at least, probably the content setting hides it.

[2017-01-20 08:07] bbondy commented on #6739
with the fix I'm doing it won't even load the plugin anymore to get the info from it.

[2017-01-20 08:21] darkdh opened #6772 "There should be a error page when renderer crash"
0.12.5
<img width="1437" alt="screen shot 2017-01-18 at 23 17 37" src="https://cloud.githubusercontent.com/assets/11330831/22141280/3ce425a2-df2c-11e6-8a0e-e3a30cf3d94b.png">

0.13.0
<img width="196" alt="screen shot 2017-01-09 at 21 11 03" src="https://cloud.githubusercontent.com/assets/11330831/22141289/4f4e8a66-df2c-11e6-9e7c-44e36cb869a5.png">

cc @bbondy for setting milestone

[2017-01-20 08:21] bbondy commented on #6771
Great find, pls attach the video you did too. I'm going to move this to 0.13.1 though since it was also in 0.12.15. I just verified that it is.

[2017-01-20 08:50] srirambv commented on #6445
Preview 10 looks same as on preview 9. 👍

[2017-01-20 09:07] srirambv opened #6774 "Enabling flash shows restart browser notification"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Enabling flash shows restart browser notification

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.13.0
rev	fefd17c

- Steps to reproduce:
    1. Do a clean install of 0.13.0 RC1
    2. Go to settings page and enable flash under security

[2017-01-20 09:43] bobinson opened #6775 "white screen of death"
- Describe the issue you encountered:

Brave starts with a white screen with only the close/minimize/maximize buttons visible. No respose for any commands.

- Platform (Win7, 8, 10? macOS? Linux distro?):

- Brave Version (revision SHA): fefd17c

- Steps to reproduce:
    1. git fetch ; git pull
    2. npm install
    3. npm start

- Actual result:

PFA screen shot.

**// screen shot start -------

[2017-01-20 09:53] srirambv opened #6776 "Payment history PDF is loaded momentarily before the save dialog box is shown"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Payment history PDF is loaded momentarily before the save dialog box is shown

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.13.0
rev	fefd17c

- Steps to reproduce:
    1. Do a clean install of 0.13.0 RC1
    2. Enable payments from se

[2017-01-20 10:05] luixxiul commented on #6775
Do you run `npm run watch` in another terminal?

[2017-01-20 10:09] srirambv opened #6777 "Replace input and select elements with <FormTextbox> and <FormDropdown> in .bookmarkFormTable"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Bookmark hanger items are not properly aligned & text looks blurry

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.13.0
rev	fefd17c

## Steps to reproduce:
    1. Visit any site
    2. Use keyboard shortcut to add bookmark / click on th

[2017-01-20 10:13] luixxiul commented on #6776
Duping to https://github.com/brave/browser-laptop/issues/6039#issue-193669852

[2017-01-20 10:13] #6776 closed

[2017-01-20 10:13] bobinson commented on #6775
@luixxiul  - yes and I missed out copying it. But I think, there wasn't much info or there was nothing

[2017-01-20 10:29] luixxiul commented on #6775
How about https://github.com/brave/browser-laptop#running-brave ?

[2017-01-20 10:30] luixxiul commented on #6777
I think this will be fixed with https://github.com/brave/browser-laptop/pull/6689

CC @bsclifton for a comment

[2017-01-20 11:46] srirambv commented on #6513
This is still happening on 0.13.0 RC1
![image](https://cloud.githubusercontent.com/assets/17010094/22148440/00d262ca-df06-11e6-8dd4-b0b4f00f75c3.png)

[2017-01-20 11:47] srirambv commented on #6513
This is not a release blocker can be moved to 0.13.1 or 0.13.2 if required

[2017-01-20 12:07] srirambv opened #6778 "Move delete autofill entry button to right to eliminate the text shift"
- Did you search for similar issues before submitting this one?

- Describe the issue you encountered:
Currently the autofill looks like this without any entry
![image](https://cloud.githubusercontent.com/assets/17010094/22148886/9ceef9b4-df08-11e6-9947-7f3c0a067574.png)

  and with an entry looks like this
  ![image](https://cloud.githubusercontent.com/assets/17010094/22148874/8f6cf714-df08-11e6-

[2017-01-20 12:14] srirambv commented on #6318
Test failing on clean install of 0.13.0 RC1
![6318](https://cloud.githubusercontent.com/assets/17010094/22149063/9c60a8c0-df09-11e6-8210-465ecb8e8598.gif)

cc: @bbondy

[2017-01-20 12:32] srirambv opened #6779 "about:certerror page buttons issue"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
about:certerror page buttons issue

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.13.0
rev	fefd17c

- Steps to reproduce:
    1. Visit https://expired.badssl.com/
    2. Resize the window to smallest size possible
    3. Ignore certifi

[2017-01-20 13:07] srirambv commented on #6687
Flash content loads after restart. #6774 logged for restart notification for flash

[2017-01-20 13:27] srirambv commented on #6151
![6151](https://cloud.githubusercontent.com/assets/17010094/22150924/a61fbd06-df13-11e6-93dc-e46e21aa4755.gif)

cc: @bbondy this is on a clean install on 0.13.0 RC1

[2017-01-20 13:46] microchip03 commented on #2579
I'm running into this problem, so...

[2017-01-20 13:52] srirambv commented on #6774
@bbondy confirmed this is expected behavior. Closing the issue and removing milestone.

[2017-01-20 13:52] #6774 closed

[2017-01-20 15:18] luixxiul commented on #6749
This is essentially the same issue with https://github.com/brave/browser-laptop/issues/5799#issue-191128832

![clipboard01](https://cloud.githubusercontent.com/assets/3362943/22154395/ada28a44-df6e-11e6-8760-5a7e1973b818.png)

The issue here is not the font size, but the one which is common among the buttons aligned with `float: right`.

With some additional modifications the buttons can be aligne

[2017-01-20 15:20] luixxiul commented on #6749
I'll work on it later

[2017-01-20 15:25] srirambv commented on #5926
Except Bookmark modal(#6777) and autofill modal the rest looks good.

[2017-01-20 15:56] srirambv commented on #5792
Still an issue with 0.13.0 RC1
![5792](https://cloud.githubusercontent.com/assets/17010094/22155890/f765df14-df28-11e6-98d3-bd2f99b90854.gif)

@bbondy should this be moved to 0.13.1 ?

[2017-01-20 16:05] luixxiul commented on #5792
I found the cause. I'll fix it quite soon

[2017-01-20 16:08] bbondy commented on #6513
strange it was definitely working at some point, moved to 0.13.1

[2017-01-20 16:08] bbondy commented on #6318
Moving to 0.13.1

[2017-01-20 16:31] MGrotegut commented on #6074
Hello again, Marshall!I did that, and it happened: Nothing! No effect at all! No error message. No new wallet. NOTHING!"Marshall T. Rose" <notifications@github.com> hat am 20. Januar 2017 um 02:05 geschrieben:thanks! could you go ahead and click the "Create Wallet" button and see what happens?—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mut

[2017-01-20 16:37] srirambv opened #6781 "Change contact info on about:safebrowsing"
- Did you search for similar issues before submitting this one?

- Describe the issue you encountered:
about:safebrowsing still shows as support+laptop@brave.com as contact. Since support is moved to community.brave.com, this should be changed.

- Platform (Win7, 8, 10? macOS? Linux distro?):
All

- Brave Version (revision SHA):
All

- Screenshot if needed:
![image](https://cloud.githubusercontent

[2017-01-20 16:40] srirambv opened #6782 "Change language needs require restart text similar to other pref settings"
- Did you search for similar issues before submitting this one?

- Describe the issue you encountered:
Change language needs require `(requires browser restart)`similar to other pref settings

- Platform (Win7, 8, 10? macOS? Linux distro?):
All

- Brave Version (revision SHA):
Brave	0.13.0
rev	fefd17c

- Steps to reproduce:
    1. Do a clean install of 0.13.0
    2. Open preferences page
    3. `(

[2017-01-20 16:45] luixxiul commented on #6782
Fix here: https://github.com/brave/browser-laptop/blob/7bef7d186c5ec98d1595cfc91ec47ee8d47d758f/app/extensions/brave/locales/en-US/preferences.properties#L185

[2017-01-20 16:51] srirambv opened #6783 "No-script notification buttons need margins"
- Did you search for similar issues before submitting this one?

- Describe the issue you encountered:
No-script notification buttons needs padding

- Platform (Win7, 8, 10? macOS? Linux distro?):
All

- Brave Version (revision SHA):
Brave	0.13.0
rev	fefd17c

- Steps to reproduce:
    1. Visit https://twitter.com
    2. Enable block script from **preferences**
    3. Click on the no-script button

[2017-01-20 16:54] luixxiul commented on #6783
The fix which is similar to #6317 should work here too

[2017-01-20 17:05] bsclifton commented on #4502
@D-m-L (and others too! @boozedog @CyrexCore2k) we have a release candidate available if you wanted to try it out :smile:
https://github.com/brave/browser-laptop/releases/tag/v0.13.0dev-RC1

I believe this may fix the issue for you!  Please let me know :smile:

[2017-01-20 17:11] luixxiul commented on #5792
This is the more complex issue than it seemed to me at first. I think it would be better to fix this by including `.endButtons` inside the URL bar.

[2017-01-20 17:25] srirambv opened #6784 "Implement Flash placeholder"
- Did you search for similar issues before submitting this one?

- Describe the issue you encountered:
With CR54 implementaion, flash place holder is not shown for flash content. Need to implement Brave's Flash placeholder for future releases.

- Platform (Win7, 8, 10? macOS? Linux distro?):
All

- Brave Version (revision SHA):
Brave	0.13.0
rev	fefd17c

- Screenshot if needed:
On 0.13.0 how it loo

[2017-01-20 17:50] bsclifton commented on #5513
More good info about the ACTUAL root cause here (ex: why people would want to disable HW acceleration):
https://github.com/brave/browser-laptop/issues/2579

[2017-01-20 17:54] bsclifton commented on #6777
@luixxiul that is correct :smile: I also believe this will be fixed when we find the root cause / close out https://github.com/brave/browser-laptop/issues/6462 and https://github.com/brave/browser-laptop/issues/6698

See the image at https://github.com/brave/browser-laptop/issues/6462#issuecomment-269812168 for another example of text going from crisp to blurry

[2017-01-20 17:57] luixxiul commented on #5513
yeah, def that's the issue here... :-(

[2017-01-20 18:02] bobinson commented on #6775
Now its always reproducible.

_**output of : npm start**_

[11:28 PM] b5413b@dreamworld [~/hack/code/browser-laptop]: npm start

Crash reporting enabled
Could not register magnet URL handler. Are you using the latest electron?
[6819:4355:0120/232904:ERROR:mach_port_broker.mm(180)] Unknown process 6827 is sending Mach IPC messages!

output of : **_npm run watch-test_**

[code]

[2017-01-20 18:09] bobinson commented on #6775
@luixxiul - now its always reproducible. No changes - even to the physical position of the hardware ;-)

[2017-01-20 18:11] bbondy commented on #6739
I think we'll try for an RC2 which has a less aggressive approach for better UX, so re-opening for now.

[2017-01-20 18:17] alexwykoff commented on #6644
This appears to have regressed in 0.13.0 RC 1
[2017-01-20 12-16-25.mp4.zip](https://github.com/brave/browser-laptop/files/720165/2017-01-20.12-16-25.mp4.zip)

[2017-01-20 18:26] luixxiul commented on #6666
https://travis-ci.org/brave/browser-laptop/builds/193673535#L4588

[code]

[2017-01-20 18:32] alexwykoff commented on #6644
pebkac, reclosing

[2017-01-20 18:32] #6644 closed

[2017-01-20 18:37] luixxiul opened #6786 "Keyboard showing numbers when typing letters"
**Describe the issue you encountered:**
https://community.brave.com/t/brave-browser-only-keyboard-showing-numbers-when-i-type-letters/782?u=suguru

Chrome, and Firefox.  But for some reason when I type letters on the
keyboard, it's populating numbers.  For example, when I type the following
on the keyboard, it populates the following:

(3), e (4), w (5).

[2017-01-20 19:41] #6739 closed

[2017-01-20 19:43] diracdeltas commented on #6739
slightly-modified QA steps in https://github.com/brave/browser-laptop/commit/aab8142ee5c7dd0a9431103b1185f3b662da95f5

[2017-01-20 19:53] #6640 closed

[2017-01-20 19:55] jbmonroe commented on #4502
The install was very quiet, and afterward Brave starts two processes which shut down almost immediately.  I used both the 64-bit msi and exe installers with the same results for both.  This was on a Windows 7 machine; I'll try again on my Win10 box a little later.

[2017-01-20 20:05] rickyrauch commented on #5976
It looks great, here is PNG 512.
https://www.dropbox.com/s/5dshp8nxgduk8dc/brave.png?dl=0

[2017-01-20 20:17] diracdeltas opened #6787 "Consider removing the 'Enable Flash' setting"
This doc describes the Flash behavior prior to 0.13.x: https://github.com/brave/browser-laptop/wiki/Flash-Support-Deprecation-Proposal

Currently, to run Flash on a fresh install of Brave, you have to:
1. download Pepper Flash from https://get.adobe.com/flashplayer/ (it's not bundled with Brave)
2. go to `about:preferences#security` and toggle the switch to enable Flash
3. right-click to play Flas

[2017-01-20 20:30] diracdeltas commented on #6787
cc @bbondy @BrendanEich @bridiver

[2017-01-20 20:31] richfelker commented on #6787
I prefer leaving it how it is or making it even more difficult to enable flash.

[2017-01-20 20:37] bridiver commented on #6787
@richfelker I don't think we want to make it difficult for users to enable flash. In my opinion the objective should be to promote alternatives to Flash and ensure that Flash only runs with explicit user permission

[2017-01-20 20:41] realkhaxan commented on #6787
IMO it's about who your users are. If they're more tech savvy then leave as it is, but if the purpose is to reach a broader audience and considering flash is still -sadly- not dead, I would go for making easier for the users to enable it, maybe highlighting that it's potentially insecure, advising to disable it.

[2017-01-20 20:48] bradleyrichter commented on #6787
![image](https://cloud.githubusercontent.com/assets/13509546/22165045/ad117db6-df0e-11e6-9c10-a3e773c6e622.png)

[2017-01-20 20:49] DivineOmega commented on #6787
How about keeping the option within the preferences but setting it on by default? This would allow people to disable Flash if they wish, while still providinh the desired new UX.

[2017-01-20 20:51] bradleyrichter commented on #6787
^ would probably solve many of the current issues user have with the 2-step

[2017-01-20 20:59] diracdeltas commented on #6787
I worry that @DivineOmega's idea will cause people to ask us why Flash is "enabled" by default. Though we could avoid that by changing the switch to "Never show option to run Flash"

[2017-01-20 21:04] bsclifton commented on #4502
@jbmonroe I've seen this before and had a problem with Squirrel (what's used for installing).

You might try going to add/remove programs, uninstalling Brave (if it shows there), then rebooting.  After reboot, install should work OK

[2017-01-20 21:09] lukemulks commented on #6787
I think we should have flash off by default, with explicit permission to allow as @bridiver mentioned above.

I also echo the concern from @diracdeltas  - and remember seeing a few negative/concerned responses when optional flash support was introduced. I think the negatives of enabling flash by default outweigh the positives.

For the image @bradleyrichter added above, maybe it would be wise to i

[2017-01-20 21:12] #6318 closed

[2017-01-20 21:16] jonathansampson opened #6788 "Brave fails tests on simple-adblock.com"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Originally [reported on Twitter](https://twitter.com/alex_morello/status/822501544579006470). Brave presently fails the two tests featured on http://simple-adblock.com/faq/testing-your-adblocker/

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10

- Brave Version (revision SHA):
0.13

[2017-01-20 21:16] jbmonroe commented on #4502
Yes, I was thinking of doing that next--clean install instead of just
running it.  I'll have something to report in a couple of minutes.

On Fri, Jan 20, 2017 at 4:04 PM, Brian Clifton <notifications@github.com>
wrote:

[2017-01-20 21:24] bsclifton commented on #4502
@jbmonroe awesome- thanks for trying.  I was able to reproduce. We're going to try a new build here in a few mins which may help (release candidate 2)

[2017-01-20 21:27] bkilrain commented on #1421
I'm happy to give this a go~

[2017-01-20 21:33] ayumi commented on #6787
Instead of "Plugin not supported" maybe we could change the placeholder to "Flash is disabled. To enable it, please visit Preferences" with a link to the Flash preference page. This would keep enabling Flash in Brave an intentional process and also help users figure out how to do it.

[2017-01-20 21:56] jbmonroe commented on #4502
I'll be on the lookout later tonight.  Thanks!

On Fri, Jan 20, 2017 at 4:24 PM, Brian Clifton <notifications@github.com>
wrote:

[2017-01-20 21:56] bradleyrichter commented on #6787
@ayumi I think we are most of the way there already:

![image](https://cloud.githubusercontent.com/assets/13509546/22166892/432ce66a-df18-11e6-8663-6f94f02c7b30.png)

[2017-01-20 22:00] BrendanEich commented on #6787
I'll say it again: defense in depth is not about point-defense or known threats. Elevators have multiple cables, spring-tensioned grips or wedges that are "off safe" only when there's cable tension, etc. The multiplication principle makes the odds of multiple independent failures tiny.

I wish Flash were an elevator, so I could reason about its risks more precisely (or just take all off-safe and b

[2017-01-20 22:27] jonathansampson opened #6789 "Extension API: chrome.windows.create"
https://developer.chrome.com/extensions/windows#method-create

Any attempt to call this method today returns the following:

    ⚠ chrome.windows.create is not supported yet

Optional `createData` properties:

- [ ] url
- [ ] tabId
- [ ] left
- [ ] top
- [ ] width
- [ ] height
- [ ] focused
- [ ] incognito
- [ ] type
- [ ] state

[2017-01-20 22:27] feross commented on #6768
Closing the tab will stop the download, stop all connections, and shutdown the client entirely (if there are no other torrents active).

Our thinking in leaving out a download button was to treat torrents no different than other content that the browser can render, like PDFs, images, and video files. For example, to stop an HTTP video file from downloading, you just close the tab. The only differe

[2017-01-20 22:31] jonathansampson opened #6790 "Extension API: chrome.tabs.update"
https://developer.chrome.com/extensions/tabs#method-update

- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Brave presently doesn't fully support the `chrome.tabs.update` API. The following properties should be supported for Brave to be *complete*:
  - [ ] url **supported**
  - [ ] active [bug?][1]
  - [ ] highlighted [bug?][1]
  - [ ] sel

[2017-01-20 22:47] bsclifton commented on #1421
@bkilrain great! Let me know if you have any questions :smile:

[2017-01-21 00:08] bsclifton opened #6791 "Opening preferences from kabob puts tab in background"
- Did you search for similar issues before submitting this one?
yes

- Describe the issue you encountered:
Opening "Settings" (preferences on macOS) from the kabob menu will sometimes background the tab.  Here's a demo:
![prefs](https://cloud.githubusercontent.com/assets/4733304/22169639/e414391a-df32-11e6-9886-ca44945c87e5.gif)

- Platform (Win7, 8, 10? macOS? Linux distro?):
os.platform	win32
os

[2017-01-21 00:12] bsclifton commented on #6791
@aekeus was able to reproduce on macOS with the following steps:
- close Brave
- open Brave
- select Kabob > Preferences
- tab goes to background

[2017-01-21 00:32] alexwykoff opened #6793 "0.13.0 rc4 able to launch once from desktop shortcut, cannot launch again after quitting"
- Did you search for similar issues before submitting this one?
yes

- Describe the issue you encountered:
after launching brave and quitting, i cannot launch brave again

- Platform (Win7, 8, 10? macOS? Linux distro?):
tested on win10 x64

- Brave Version (revision SHA):
0.13.0 rc4 (40dffe8)

- Steps to reproduce:
    1. start (or restart) a vm
    2. launch brave from the desktop shortcut
    3.

[2017-01-21 00:36] alexwykoff commented on #6793
[6793_roaming.zip](https://github.com/brave/browser-laptop/files/720790/6793_roaming.zip)

[2017-01-21 00:44] srirambv commented on #6791
Its not just on opening preference page from kabob menu. Even opening a new tab causes it to go background

![tabswitch](https://cloud.githubusercontent.com/assets/17010094/22170170/b39699f0-df72-11e6-9484-821f5beb8c5e.gif)

[2017-01-21 00:54] alexwykoff commented on #6793
[BraveProcmonLogfile.zip](https://github.com/brave/browser-laptop/files/720805/BraveProcmonLogfile.zip)

[2017-01-21 01:59] alexwykoff commented on #6793
`[3580:3092:0120/171316:VERBOSE1:crash_service_main.cc(77)] Session start. cmdline is [--reporter-url=https://brave-laptop-updates.herokuapp.com/1/crashes "--application-name=Brave Developers" --v=1]
[3580:3092:0120/171316:VERBOSE1:crash_service.cc(142)] window handle is 0000000000010360
[3580:3092:0120/171316:VERBOSE1:crash_service.cc(284)] pipe name is \\.\pipe\Brave Developers Crash Service
dum

[2017-01-21 02:17] luixxiul commented on #6770
Confirmed on 0.13.1 RC4 on Windows 10 32 bit

[2017-01-21 02:19] lukemulks commented on #6788
I'm just skimming this now, but we're blocking the Google Analytics call that is made here (sending empty url resulting in a 307 redirect that fails).

Kind of a funky test for Brave, because we don't element-hide as it has perf negatives, so the rt side of the test applies less in our use-case. IMO

The "testing adblocking" test on the left is kind of weird too, the test is site-served via iframe

[2017-01-21 02:23] luixxiul opened #6794 "Remove/clear extension"
Users should be able to permanently delete extensions from the browser

Currently, extensions are not installed until they are enabled. This is almost the same as being deleted (since it doesn't exist)... but it still shows in the extensions panel. Users should be able to remove it from there.

## Original issue description
**Describe the issue you encountered:**

https://community.brave.com/t/del

[2017-01-21 02:57] luixxiul opened #6795 ""Save As" dialog is displayed several times"
**Describe the issue you encountered:**
"Save As" dialog is displayed as soon as it is canceled

- Platform (Win7, 8, 10? macOS? Linux distro?): Windows 10 32 bit

- Brave Version (revision SHA): 0.13.0 RC4

- Steps to reproduce:
    1. <kbd><kbd>CTRL</kbd> + <kbd>S</kbd></kbd>
    2. Click "Save"

- Actual result: The dialog should be closed and this page is saved

- Expected result: The same dia

[2017-01-21 03:12] feross commented on #6736
@luixxiul Doubt it. The file is correctly saved with the .torrent extension. This issue was invalid.

[2017-01-21 03:23] luixxiul opened #6796 "Zooming in/out with the menu does not work stable"
**Describe the issue you encountered:**
Zooming in/out with the menu does not work stable

- Platform (Win7, 8, 10? macOS? Linux distro?): Windows 10 32 bit

- Brave Version (revision SHA): 0.13.0 RC4

- Steps to reproduce:
    1. Open a page
    2. Zoom in with the buttons on the kabob menu

- Actual result: 100% -> 500%

- Expected result: 100% -> 110%

- Will the steps above reproduce in a fres

[2017-01-21 03:25] luixxiul commented on #6796
FWIW zooming in/out with the mouse wheel seems to be working as it should

[2017-01-21 03:43] luixxiul opened #6797 "The blocked URL is attached to "about:safebrowsing#""
**Describe the issue you encountered:**
The blocked URL is attached to `about:safebrowsing#`

- Platform (Win7, 8, 10? macOS? Linux distro?): Windows 10 32 bit

- Brave Version (revision SHA): 0.13.0 RC4

- Steps to reproduce:
    1. Open http://downloadme.org/

- Actual result:
![clipboard01](https://cloud.githubusercontent.com/assets/3362943/22171683/96ee179c-dfd6-11e6-8f7d-4651dfeffb7c.png)

-

[2017-01-21 04:26] bobinson commented on #6775
Updated to the latest code. Issue remains the same.

![2017-01-21_09-47-27](https://cloud.githubusercontent.com/assets/18070249/22171894/e8fb9914-dfbe-11e6-9bdb-12a2c85e5b20.png)

[2017-01-21 04:26] luixxiul commented on #6744
Tests except release specialty ones completed

[2017-01-21 04:48] luixxiul commented on #6775
Did you try `rm -rf ~/.electron && rm -rf node_modules` before `npm install`?

[2017-01-21 04:58] luixxiul commented on #6687
I added `QA/no qa needed` label as the test plan for this was covered by #6739

[2017-01-21 05:29] luixxiul commented on #6586
@srirambv will you set QA steps more specifically? The steps to reproduce the error seem to me too complex to follow. If you can no longer reproduce it at all, please remove the milestone. thanks

[2017-01-21 05:34] luixxiul opened #6798 "Entries of the same site on different protocols (http/https) are displayed in the autocomplete list on URL bar"
**Describe the issue you encountered:**
Entries of the same site on different protocols (http/https) are displayed in the autocomplete list on URL bar.

Is this intended?

- Platform (Win7, 8, 10? macOS? Linux distro?): Windows 10

- Brave Version (revision SHA): 0.13.0 RC4

- Steps to reproduce:
    1. Enable HTTPS Everywhere on `about:preferences#security`
    2. Open http://www.apple.com
    3.

[2017-01-21 05:38] luixxiul commented on #6561
Removed `OS/Windows` as it was not confirmed that the issue was specific to Windows

[2017-01-21 06:04] Liunkae commented on #6798
Firefox does the same thing:
![image](https://cloud.githubusercontent.com/assets/19424103/22172444/96bd550e-df6c-11e6-859c-50013e606dfb.png)

My opinion: for better security and privacy, we should discard an HTTP history item if another HTTPS history item exists for the same exact URL.

[2017-01-21 06:10] Liunkae commented on #6794
The extensions (e.g. Pocket) be disabled in Preferences > Advanced…

[2017-01-21 06:16] Liunkae commented on #5976
This would solve #5723. 😀

[2017-01-21 06:28] luixxiul commented on #6794
I think the user wanted to delete it, not disabling it

[2017-01-21 06:33] luixxiul opened #6799 "Pocket extension consumes so much CPU resource"
**Describe the issue you encountered:**
Pocket extension consumes so much CPU resource.

![clipboard01](https://cloud.githubusercontent.com/assets/3362943/22172587/9be47f9e-dfee-11e6-9e04-8955bbfd40d7.png)

- Platform (Win7, 8, 10? macOS? Linux distro?): Windows 10 32 bit

- Brave Version (revision SHA): 0.13.0 RC4

- Steps to reproduce:
    1. Clear your brave folder
    2. Open the browser
    3

[2017-01-21 06:47] luixxiul opened #6800 "Flash placeholder is not displayed on ja.y8.com (redirected from www.y8.com)"
**Describe the issue you encountered:**

Flash placeholder is not displayed on http://ja.y8.com/games/superfighters (redirected from http://www.y8.com/games/superfighters). Reloading the page displays it.

I suspect this is related with https://github.com/brave/browser-laptop/issues/3082#issuecomment-243172013 in some way.

CC @diracdeltas

- Platform (Win7, 8, 10? macOS? Linux distro?): Windows 1

[2017-01-21 06:48] luixxiul commented on #6800
I confirmed this is a regression. I cannot reproduce it on 0.12 series.

[2017-01-21 07:29] #5852 closed

[2017-01-21 07:32] luixxiul commented on #547
@bradleyrichter have you made the icon already?

[2017-01-21 07:41] lukemulks commented on #5512
Experienced a similar variation of this issue about an hour ago.

I restarted my Win 10 64bit laptop after a system crash:

Brave Info:
[code]

I checked out this issue and issue #5852 two issues, but am only seeing one `session-store` file:
`session-store-1` and no other `session-store-tmp` or other `session-store` variations.

Luckily I'm OCD and double down on bookmarking links into Pocket (ver

[2017-01-21 07:53] NejcZdovc commented on #6798
@luixxiul I agreee HTTPS should have priority.

[2017-01-21 07:54] luixxiul commented on #6798
CC @diracdeltas @bbondy for thoughts

[2017-01-21 08:34] luixxiul commented on #6688
Only 1 item lacks QA steps: https://github.com/brave/browser-laptop/issues/5974#issue-192964213

[2017-01-21 11:03] srirambv commented on #6797
I remember @diracdeltas had mentioned that it should just show as `about:safebrowsing` and not `https://downloadme.org/`.

The URL changes to `https://downloadme.org` if autohide URL bar is enabled.

[2017-01-21 11:11] srirambv commented on #6586
@luixxiul The main issue was clicking on pocket widget was not loading the login page which has been resolved in 0.13.0 preview 8 onward. The intermittent issue is with respect to login page showing up when you have not logged in after enabling pocket which I think is also fixed as the login page opens when the widget is clicked.

[2017-01-21 11:35] srirambv commented on #6795
Cant replicate this on Win x64 even with Pocket and password managers enabled.

[2017-01-21 11:57] srirambv commented on #6736
@feross  The issue is while saving Brave doesn't show the file extension. On any file save if the filename is renamed it deletes the extension ([#1985 (comment)](https://github.com/brave/browser-laptop/issues/1985#issuecomment-250883580)). This is the reason it shows .mp4 while saving but saves the file as a torrent. Fixing #1985 should solve this as well. Because the download shows the file exten

[2017-01-21 13:48] luixxiul commented on #6796
I set the milestone in case

[2017-01-21 14:01] luixxiul commented on #6795
@srirambv do you see the high usage of CPU when you enable those extensions?

[2017-01-21 14:07] bbondy commented on #6797
this is the new expected URL I think, at least it was an intentional change.
@diracdeltas please let us know if we can instead show the shortened URL in UI only, but not needed for this version so removing the milestone.

[2017-01-21 14:07] bbondy commented on #6796
wow nice find, ya we should fix it.

[2017-01-21 14:17] luixxiul commented on #6796
@bbondy because this cannot be reproduced with a fresh profile, this may be an edge case

[2017-01-21 14:28] bbondy opened #6801 "brave/muon needs symbols uploaded on the release page from cibuilds"
Currently no symbols are being uploaded.  We'll need this to get the release out.

@bridiver would you mind checking it out?

[2017-01-21 14:45] luixxiul commented on #6504
Since I do not have Windows 7 32 bit, I cannot check if this has been fixed on that OS

[2017-01-21 15:41] bbondy commented on #6796
darn I did see it once but I can't reproduce it anymore, any other hints on how to repro?

[2017-01-21 15:44] luixxiul commented on #6796
@bbondy how about enabling extensions to make the CPU usage of 1 core to 25%? #6799

[2017-01-21 17:06] luixxiul commented on #5257
Closing this due to lack of info

[2017-01-21 17:06] #5257 closed

[2017-01-21 17:07] luixxiul commented on #3120
Closing this due to lack of info

[2017-01-21 17:07] #3120 closed

[2017-01-21 17:09] #1805 closed

[2017-01-21 17:09] luixxiul commented on #1805
closing as this is stale

[2017-01-21 17:19] #2809 closed

[2017-01-21 17:19] luixxiul commented on #2809
I closed the issue as it can no longer be reproduced

[2017-01-21 18:06] atomicpirate opened #6802 "Fetching.io extension fails to add content to Fetching Native"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Followed the excellent guide here:
https://blog.brave.com/loading-chrome-extensions-in-brave/

..and installed the Extension for fetching.io:
https://chrome.google.com/webstore/detail/nhogooppmliljkaickdcmdnmaheaicmg

However, when using the fetching.io extension with Fetching Native on Mac,

[2017-01-21 19:06] diracdeltas commented on #6797
i think we can show the original url instead of about:safebrowsing

[2017-01-21 20:10] jonathansampson opened #6803 "Show Permissions when Enabling Extensions"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Users are not aware of an extension's permissions when installing/enabling.

- Brave Version (revision SHA): 0.13.0

- Is this an issue in the currently released version?
Yes

- Screenshot if needed:

In Chrome, the user is given a short summary of an extension's permissions upon installing.

[2017-01-21 20:16] bradleyrichter commented on #547
@luixxiul I have it in the new sprite bitmaps but we will need to also implement the threshold color change when used in the tab.

[2017-01-21 20:45] bsclifton commented on #6504
I believe this problem was fixed with https://github.com/brave/browser-laptop/commit/40dffe869234d9b71fba47d3ddf2adadc6df33a4

[2017-01-21 20:49] bsclifton commented on #6736
@srirambv it seems the heart of the issue is that you want it to show as .torrent. Unfortunately, it may not do that if you have extensions turned off. In this case, the only real solution would be to update the "Save As" dialog to use "*Torrent files (*.torrent)" instead of "All Files (*.*)".

[2017-01-21 21:07] bradleyrichter commented on #5723
@martinheidegger I was playing around with this round app icon which was originally submitted by a contributor - @rickyrauch

We have mixed feedback on this internally so it may not ship, but try out this ICNS file on Mac OS. Since you can literally copy and paste it over the Brave app icon, you can have a round icon today.  :  )

[round_icon_test.icns.zip](https://github.com/brave/browser-laptop/

[2017-01-21 21:51] luixxiul opened #6804 "navigator.doNotTrack is enabled on 0.13.0 RC4"
**Describe the issue you encountered:**
navigator.doNotTrack is enabled on 0.13.0 RC4, which is not on 0.12.15. Is this expected on cr54 update or something?

- Platform (Win7, 8, 10? macOS? Linux distro?): Windows 10 32 bit

- Brave Version (revision SHA): 0.13.0 RC4

- Steps to reproduce:
    1. Open https://browserleaks.com/donottrack on 0.12.15
    2. Make sure that navigator.doNotTrack is set

[2017-01-21 22:31] BrendanEich opened #6805 "Image upload file chooser "strip location metadata" option (remove exif data)"
@bradleyrichter design:

![image](https://cloud.githubusercontent.com/assets/313317/22178270/b188180e-dfe6-11e6-9541-d27bee2f6af5.png)

[2017-01-21 22:36] BrendanEich commented on #6805
Suggestion from https://twitter.com/stoyanstefanov/status/822869573246406656 (to use canvas toDataURL) led to http://removephotodata.com -- for lossy image formats, canvas round trip won't do, but seems like solutions abound.

[2017-01-22 00:45] DivineOmega commented on #4693
I can confirm this issue is still present in Brave 0.13.0 rev 9c55eca, running on Ubuntu 16.04.

[2017-01-22 04:34] Liunkae commented on #6794
Question: Should users be able to remove extensions that are bundled with Brave?

[2017-01-22 04:52] luixxiul commented on #6794
The extensions are fetched remotely not being bundled: https://github.com/brave/browser-laptop/issues/4081

[2017-01-22 05:02] lukemulks opened #6806 "Helpful Hints: "Bravery Panel" reference used in Settings"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Noticed that within the Helpful Hints in the Settings section that "Bravery Panel" is referenced, instead of "Shields"

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10

- Brave Version (revision SHA):
0.12.15

- Steps to reproduce:
    1. Open the Settings section
    2. Rotate thr

[2017-01-22 05:23] Liunkae commented on #6794
Thanks @luixxiul, I misunderstood. But the extensions are still "forced" to be installed, right? (Or by default, I suppose.)

[2017-01-22 05:30] Liunkae commented on #6806
Text to change: https://github.com/brave/browser-laptop/blob/master/app/extensions/brave/locales/en-US/preferences.properties#L117

[2017-01-22 05:41] Liunkae commented on #6022
@DivineOmega Have you tried the `--ignore-gpu-blacklist` and `--disable-gpu` flags? They were suggested in #1471.

[2017-01-22 06:07] luixxiul opened #6807 "Documentation: temp fix for white screen on Linux + AMD card"
**Describe the issue you encountered:**
There are several reports from Linux users who have an AMD card on their machine that the browser is not rendered properly or at all.

#1471 - Blank Page on Ubuntu
#3180 - Brave does not run properly in Linux Mint 18 XFCE in Virtual Box
#3663 - Blank pages after using brave for some minutes
#3787 - When opening new tabs web pages are not shown.
#4113 - All P

[2017-01-22 06:10] luixxiul commented on #6807
There should be two tasks:

- [ ] Edit README.md
- [ ] Create a Wiki page
    - [ ] Link the page from the Wiki home page

[2017-01-22 06:59] luixxiul opened #6808 "Automated test failure on application window"
**Describe the issue you encountered:**

https://travis-ci.org/brave/browser-laptop/builds/193820349#L4630
https://travis-ci.org/brave/browser-laptop/builds/193831274#L4748

- [x] application window windw.open with click without features opens in a new tab:
     WaitUntilTimeoutError: element (.frameWrapper:nth-child(2) webview) still not visible after 10000ms
      at isVisible(".frameWrapper:nth

[2017-01-22 08:01] luixxiul commented on #6151
I confirmed this was fixed on RC5

[2017-01-22 08:33] luixxiul commented on #5624
https://github.com/brave/browser-laptop/blame/2a78248d7b3e8611d251c2ef697f309f26d3a7c3/less/navigationBar.less#L40

The needs to be `.urlbarForm input` by redoing #5752.

It is needed by this line https://github.com/brave/browser-laptop/blame/2a78248d7b3e8611d251c2ef697f309f26d3a7c3/less/navigationBar.less#L813 of my commit: https://github.com/brave/browser-laptop/commit/19360c107c21d4693b782169ec

[2017-01-22 08:34] luixxiul commented on #5624
I reopened for the next milestone 0.13.1

[2017-01-22 08:47] luixxiul commented on #5624
By setting `font-weight: 500` and `margin: -1px 0 0 3px` (as `position: relative` is inherited) correctly you will get this:

![clipboard01](https://cloud.githubusercontent.com/assets/3362943/22181189/ee0b87aa-e0c9-11e6-96d9-857808bd1fbb.png)

By replacing the margin with `margin: -1px 0 0 0` you will get this:

![0px](https://cloud.githubusercontent.com/assets/3362943/22181224/af50e84c-e0ca-11e6-

[2017-01-22 08:55] bsclifton commented on #6793
related?
https://github.com/brave/browser-laptop/issues/5577

[2017-01-22 09:00] luixxiul commented on #6346
I removed #5624 as I reopened the issue.

[2017-01-22 11:16] Zuzu-Typ commented on #6521
Here's an example scenario:
Here are the settings:
![blankpage](https://cloud.githubusercontent.com/assets/20467351/22182087/43499e60-e09c-11e6-8b71-0761d9c58547.PNG)

On restarting, this is what Brave should do:
![braveshoulddo](https://cloud.githubusercontent.com/assets/20467351/22182085/3dc11c0c-e09c-11e6-89ff-d37650f86820.png)

This is what Brave does though:
![bravedoes](https://cloud.githubu

[2017-01-22 12:09] luixxiul commented on #6521
@bbondy does this block the release?

[2017-01-22 13:20] bbondy commented on #6796
doesn't happen in dev for me but happens in release, copied release profile to dev location and still doesn't happen in dev.

[2017-01-22 13:33] luixxiul commented on #6796
Should we add `release/blocking` label then?

[2017-01-22 13:34] bbondy opened #6810 "Tab switch should always exit preview mode"
- Did you search for similar issues before submitting this one?

- Describe the issue you encountered:

- Platform (Win7, 8, 10? macOS? Linux distro?):

- Brave Version (revision SHA):

- Steps to reproduce:
    1. From a fresh profile
    2. Open 2 pages, brianbondy.com and this page
    3. tab switch between the 2, but let the preview for the tab show up before switching.

- Actual result:
About

[2017-01-22 13:39] bbondy commented on #6796
I don't think we'll block on it but I'd like a fix if we can find it.  I can only reproduce on my release profile when pocket is enabled.  On my dev even if I enable pocket it doesn't reproduce.

[2017-01-22 14:10] #6796 closed

[2017-01-22 14:11] bbondy commented on #6796
should be fixed now, I tested with a production build.

[2017-01-22 14:20] bbondy commented on #6810
Can't seem to repro anymore, closing

[2017-01-22 14:20] #6810 closed

[2017-01-22 14:24] bbondy commented on #6804
It is `false (null)` for me on 0.13.0 and that's expected.

[2017-01-22 14:24] bbondy commented on #6804
Also I cleared out my profile before testing.

[2017-01-22 14:33] darkdh opened #6811 "oauth is not working"
- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:
oauth not work when you need credential from facebook
- Platform (Win7, 8, 10? macOS? Linux distro?): macOS

- Brave Version (revision SHA): 0.13.0 rc5

- Steps to reproduce:
    1. Go to http://www.zillow.com/
    2. Click join
    3. Click connect with Facebook

- Expected result
I should be

[2017-01-22 14:44] sahas- commented on #3555
+1

[2017-01-22 14:51] luixxiul commented on #6796
@bbondy do you think e22b87c fixed #6799 as well?

[2017-01-22 14:52] luixxiul commented on #6804
I'll check it out on my VM later

[2017-01-22 15:39] luixxiul commented on #6804
On Windows 10 32 bit
rev 5bad531

1. Clear brave folder
2. Start the browser
3. Open about:preferences#security
4. Enable DNT
5. Restart via notification
6. Open https://browserleaks.com/donottrack
7. navigator.doNotTrack is set to `true (1)`
![clipboard01](https://cloud.githubusercontent.com/assets/3362943/22183536/0a68c0ae-e104-11e6-9e72-513e06c28079.png)

Is this OK?

[2017-01-22 15:44] luixxiul commented on #4928
We got another report here: https://community.brave.com/t/brave-wont-launch/280/8?u=suguru

Is there any way of avoiding the issue on Windows? I am not sure how to set flags as you do on Linux.

[2017-01-22 16:50] bbondy commented on #6657
it should just auto update by now, so I'm assuming it's still working :)

[2017-01-22 16:53] luixxiul opened #6812 "cursor should be default on find bar (follow-up of #5744)"
## Test plan

https://github.com/brave/browser-laptop/pull/7161#issue-206745581

----

**Describe the issue you encountered:**

[1] While you move the mouse cursor on the find bar and the notification bar, keep pushing your mouse left button, the cursor should always be `cursor:default`. This is a follow-up of #5744.

[2] Any elements on the find bar and the notification bar should not be selected

[2017-01-22 16:58] bradleyrichter commented on #5624
@luixxiul looks good!

[2017-01-22 17:01] luixxiul commented on #5624
@bradleyrichter OK I'll create a PR later ..

[2017-01-22 17:01] luixxiul commented on #6812
@bbondy If +1 plz feel free to assign me

[2017-01-22 17:10] bbondy commented on #6620
Still a problem with the latest RC on the releases page?

[2017-01-22 17:12] bbondy commented on #6729
I think we'll get this for free once we get to C56 (skipping over 55)

[2017-01-22 17:12] bbondy commented on #6729
If not once we're on it, pls re-add to milestone.

[2017-01-22 17:13] bbondy commented on #6730
I think we currently do N operations for each of the N tabs being closed and we need to change this to 1 for state updates.

[2017-01-22 17:14] bbondy commented on #6732
there should be no delay no matter how big the file is.

[2017-01-22 17:18] luixxiul commented on #6812
Also on `.notificationBar`:

![cursor3](https://cloud.githubusercontent.com/assets/3362943/22184260/86db95a0-e111-11e6-8532-ece99c20ff70.gif)

[2017-01-22 20:50] bbondy commented on #6513
it's much reduced from what it used to be, I could reproduce 1 in 4 times before, now only happens once in maybe 30 times for me.

[2017-01-22 20:51] bbondy commented on #6774
It's no longer going to require restart by the way, with the new way it was fixed.

[2017-01-22 21:01] bbondy commented on #6799
Does it do this on Chrome as well?

[2017-01-22 21:04] bbondy commented on #6798
I guess both addresses could serve different sites in the general case, but I think we can pretend that's not possible and discard http if there's an https available and matching otherwise.

[2017-01-22 21:08] bbondy commented on #6736
Windows shouldn't have such an option, let alone enable it by default, it's a general problem with Windows.

[2017-01-22 21:13] bbondy commented on #6793
@aekeus @alexwykoff could you see @bsclifton 's question above?

[2017-01-22 21:16] bbondy commented on #6796
I don't think so? But you can try.

[2017-01-22 21:16] bbondy commented on #6804
it should not be specified at all by default. For me that is the case with a fresh profile.

[2017-01-22 21:18] bbondy commented on #6812
feel free to take things @luixxiul anytime! :)

[2017-01-22 21:20] #6033 closed

[2017-01-22 23:09] jlopp commented on #6657
I'm not sure how to tell myself, but I'm still experiencing the issue.

[2017-01-23 00:22] da2x commented on #6620
I see no improvement in 0.13.0dev-RC5.

Test case:

1. Empty profile, no tabs, no cookies, no nothing.
2. Press Ctrl+N, and type google.com right  away

* Expected: window with google.com in the address field.
* Actual: e.com

More noticable with a new window, but the same problem persists when opening new tabs (Ctrl+T) or focusing the address field with Ctrl+L. There is a delay that feels like tw

[2017-01-23 01:34] bbondy commented on #6804
also off on my windows VM, are you sure your profile is being cleared correctly for the `brave` profile if you're using a packaged build or `brave-development` for a dev build?

[2017-01-23 01:36] luixxiul commented on #6804
I have enabled DNT on step 4 and restarted, then it should be enabled, right?

[2017-01-23 01:49] Liunkae opened #6814 "Clicking on urlbar autocomplete item opens in new tab"
I'll set the milestone to 0.13.0 for now, but please prioritize as needed.

- Did you search for similar issues before submitting this one?
Yes.

- Describe the issue you encountered:
Clicking on any suggestion provided by the urlbar autocomplete opens the URL in a new tab instead of the current tab (and <kbd>Ctrl</kbd>/<kbd>Cmd</kbd> is not selected). Selecting the item and pressing <kbd>Enter</k

[2017-01-23 01:51] Liunkae commented on #6806
Fixed with 94f8976.

[2017-01-23 01:53] #6806 closed

[2017-01-23 02:09] luixxiul commented on #5936
Will this be fixed with #5918? The buttons are not aligned quite well.

![clipboard01](https://cloud.githubusercontent.com/assets/3362943/22188888/375337c2-e15c-11e6-812c-d3225a0b1927.png)

CC @cezaraugusto

[2017-01-23 02:33] luixxiul opened #6815 ""Stop seeding" button on torrent viewer"
**Describe the issue you encountered:**
"Stop seeding" button on torrent viewer should be implemented

- Platform (Win7, 8, 10? macOS? Linux distro?): Windows 10 32 bit

- Brave Version (revision SHA): 0.13.0 RC5

- Steps to reproduce:
    1. Open https://codepen.io/ferossity/full/qaezaB/
    2. Click "sintel.mp4"
    3. Click "Start download"
    4. Wait until the download is finished
    5. The

[2017-01-23 02:38] ktd99 opened #6816 "Cannot attach files in Facebook Messenger"
- Did you search for similar issues before submitting this one? No

- Describe the issue you encountered:  I can "Choose file" on my computer, but when I click "open" to attach it to the message, nothing happens.

- Platform (Win7, 8, 10? macOS? Linux distro?):  Win 7

- Brave Version (revision SHA): 0.12.15

[2017-01-23 02:39] luixxiul commented on #6816
https://github.com/brave/browser-laptop/issues/698

[2017-01-23 02:39] #6816 closed

[2017-01-23 03:29] D-m-L commented on #4502
Installed RC1 from the link above, got the install problem, uninstalled, rebooted, same thing. Creates window frame but closes before filling with anything. (Probably preferable to the flashing! : ) Will await RC2.

[2017-01-23 03:42] luixxiul commented on #4502
Please try with the latest build, RC5: https://github.com/brave/browser-laptop/releases/tag/v0.13.0dev-RC5

[2017-01-23 04:46] jonathansampson opened #6818 "Access denied to chrome.i18n.getAcceptLanguages"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
I am unable to call `chrome.i18n.getAcceptLanguages` from an extension page.

- Brave Version (revision SHA):
0.13.0

- Steps to reproduce:
    1. Navigate to about:extensions
    2. Open developer tools (Ctrl+Shift+I on Windows)
    3. Run `chrome.i18n.getAcceptLanguages(a => console.log(chr

[2017-01-23 05:46] bsclifton commented on #6816
@ktd99 just a heads up; your report was closed as a duplicate. You can subscribe to https://github.com/brave/browser-laptop/issues/698 for updates

[2017-01-23 06:02] aekeus commented on #6793
Seems quite likely. Hopefully we can reach out to @Legitgamer264 for confirmation.

[2017-01-23 06:04] bsclifton commented on #5577
@Legitgamer264 we may have found the root cause for this issue; if you were willing to try a release candidate, we have one available here:
https://github.com/brave/browser-laptop/releases/tag/v0.13.0dev-RC5

[2017-01-23 06:14] dcposch commented on #6815
When you close all tabs for a given torrent, after a timeout of a few seconds, that torrent will be removed. In other words, it'll stop downloading or seeding.

@feross any reason why the button is disabled? What if the button was just a toggle, so that people could stop an in-progress download or stop seeding without closing the tab?

[2017-01-23 07:08] Legitgamer264 commented on #5577
@bsclifton I will try that as soon as I can. Thank you!

[2017-01-23 07:19] bsclifton commented on #6698
Some data I collected when reproducing
- My DPI is set at 125%
- The unscaled bounds are 809x598
- Parent window is 1011x747
- Child window (`RenderWidgetHostViewAura`) is 1012x748

If you manually work out the conversion to 125%, it would be 1011.25 x 747.5.  It seems that any non-integer value is rounding up for the size of the HWND?

In this situation:
- Right border is present
- Bottom border

[2017-01-23 07:27] bsclifton commented on #6462
I don't believe the root cause for this issue is the same as https://github.com/brave/browser-laptop/issues/6698, which appears to only affect the size of the rendering area.

The problem seen here appears to be that the content is scaled improperly

[2017-01-23 07:50] bsclifton commented on #6521
Unable to reproduce with master; I believe this was fixed with https://github.com/brave/browser-laptop/commit/d4f79bed085c7cf83645a395915c9e72d7d4eb2f (RC5 also had an older version of Muon).

Let's re-open if this occurs in the new RC

[2017-01-23 08:02] bsclifton commented on #6521
Re-opening after @NejcZdovc was able to reproduce

[2017-01-23 08:58] bsclifton commented on #6521
Moving to 0.13.1 since this bug was not introduced with 0.13.0

[2017-01-23 09:53] leitianfu opened #6819 "TypeError: Cannot read property 'on' of undefined【electron.importer】【importer.on】win 10"
Hi: all.
        Who can help me，help me，   I am a new hand。

       It took me a week to build up;
       In order to build the environment, reinstall the system two times.
       Please help me
-------------------Runtime environment----------------------------------
Platform: Win 10 64bit
node：“7.4.0”
npm：“4.0.5”
electron ： "1.4.15"
python-2.7.13.
OpenSSL：1.0.2
----------------------Operating --

[2017-01-23 10:04] bsclifton commented on #6521
After implementing a "fix" for this, I strongly believe the fix would introduce unnecessary complexity.

I think we have two better choices we can make:

1. Don't allow folks to pick **"Brave starts with Dashboard"** if "A new tab shows" is set to **"Blank page"**
2. Break dashboard out into it's own page, `about:dashboard`. There would no longer be a conflict, but `about:newtab` and `about:dashbo

[2017-01-23 10:07] srirambv commented on #6815
same as #6768

[2017-01-23 10:38] luixxiul commented on #6553
#6573 was merged into `0.13.1-branch`.

[2017-01-23 10:38] #6553 closed

[2017-01-23 10:59] Instinct64 commented on #4115
I've just recently started experiencing this issue on (Windows 10 x64):

Brave	0.12.15
Muon	1.4.31
libchromiumcontent	53.0.2785.143
V8	5.3.332.47
Node.js	6.5.0
Update Channel	dev
os.platform	win32
os.release	10.0.14393
os.arch	x64

[2017-01-23 11:48] jbmonroe commented on #4502
Clean install, up and running.  Now if I can just figure out how I
triggered the black/white flashing.....

On Sun, Jan 22, 2017 at 10:42 PM, Suguru Hirahara <notifications@github.com>
wrote:

[2017-01-23 11:48] jbmonroe commented on #4502
And thanks! :)

On Mon, Jan 23, 2017 at 6:48 AM, Brook Monroe <brook.monroe@gmail.com>
wrote:

[2017-01-23 13:14] srirambv opened #6820 "Autofill suggestion is not dismissed when tabs are switched"
- Did you search for similar issues before submitting this one?
Yes, didn't find

- Describe the issue you encountered:
Autofill suggestion is not dismissed when tabs are switched

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.13.0
rev	5bad531

- Steps to reproduce:
    1. Login to gmail.com so that autofill entry is created
    2. Logout a

[2017-01-23 13:28] srirambv opened #6821 "Page should not be able to opened while default browser modal is displayed"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Able to open site even with default browser modal shown

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.13.0
rev	5bad531
Existing issue in the stable release

- Steps to reproduce:
    1. Do a clean install of brave
    2. Wait for the

[2017-01-23 14:47] bbondy commented on #6814
nice find, I'll fix.

[2017-01-23 15:18] bbondy commented on #6814
have a fix but I'll get a test for it tonight before pushing it out, have to go out for a bit.

[2017-01-23 15:52] emackey commented on #6504
That commit suggests this problem only affects machines where Flash is not installed.  I can confirm that Brave 0.13.0dev-RC5 is able to install, quit, and re-launch successfully on a Win7 x64 box without Flash.  It took a lot of searching for me to find this thread though, after experiencing the bug.  I would guess that a lot of Brave early-adopters would be the kind of people to not have Flash i

[2017-01-23 16:00] luixxiul commented on #6504
CC @diracdeltas @bbondy for confirming the issue

[2017-01-23 16:10] srirambv commented on #6504
To add it to record, if flash isn't installed on a x64 device, the browser startup time is very slow after install. Had mentioned this in slack conversation as well.

[2017-01-23 16:12] srirambv commented on #6795
Yes there is an automatic increase in CPU & memory usage by Brave process when password manager or extension is enabled

[2017-01-23 16:35] bsclifton commented on #4502
@jbmonroe everything working ok?

@D-m-L you can try the latest release above, that @luixxiul linked to :smile:

[2017-01-23 17:10] jbmonroe commented on #4502
I haven't noticed anything awry so far.

On Mon, Jan 23, 2017 at 11:35 AM, Brian Clifton <notifications@github.com>
wrote:

[2017-01-23 17:34] bsclifton commented on #6804
I did see DNT returning true for navigator.doNotTrack in RC4... but master appears correct:
![screen shot 2017-01-23 at 10 32 32 am](https://cloud.githubusercontent.com/assets/4733304/22215110/67611344-e157-11e6-83de-fd1486f054a6.png)

I'll close the issue, but please let's re-open if this occurs in the next RC

[2017-01-23 17:34] #6804 closed

[2017-01-23 18:04] mrose17 commented on #6074
thanks. that's really quite odd. let's try one last experiment. find the file ledger-state.json and delete it. wait for the next browser update, install it, restart it, and see if you can create a wallet with that. sorry!

[2017-01-23 18:15] bsclifton commented on #6756
Closed with https://github.com/brave/browser-laptop/pull/6720

[2017-01-23 18:15] #6756 closed

[2017-01-23 18:17] bradleyrichter commented on #586
This was getting better through 0.12.5 and now became worse again with 0.13.0 based on my personal mac OS experience.

[2017-01-23 18:18] bridiver commented on #586
@bradleyrichter in 0.13 we switched from the electron webview to the chrome webview and that may have had an impact because the resizing code is different

[2017-01-23 19:19] bsclifton commented on #5972
Fixed with https://github.com/brave/browser-laptop/pull/6689

[2017-01-23 19:19] #5972 closed

[2017-01-23 19:58] bsclifton commented on #6246
One of the major complaints: manually sorting the bookmarks (lack of indicator for where the dragged item is, etc)
https://github.com/brave/browser-laptop/issues/5589

[2017-01-23 20:01] bsclifton commented on #5589
Closing this issue in favor of https://github.com/brave/browser-laptop/issues/6246

[2017-01-23 20:01] #5589 closed

[2017-01-23 20:26] bsclifton commented on #6039
Fixed with https://github.com/brave/browser-laptop/pull/6375

[2017-01-23 20:26] #6039 closed

[2017-01-23 20:35] bsclifton commented on #3819
Fixed with https://github.com/brave/browser-laptop/pull/6404

[2017-01-23 20:43] bsclifton opened #6823 "Dashboard-like version of about:newtab should also be available as about:dashboard"
Discovered with https://github.com/brave/browser-laptop/issues/6521, it's possible to configure the browser to start with the dashboard (aka new tab page) but then also set new tab page to be blank.

To resolve this situation AND also to offer a solution to folks who prefer blank new tabs, we can create a new `about:dashboard` page.  It would show the same content as about:newtab (if you have abou

[2017-01-23 20:53] bsclifton commented on #6521
Marked as release notes exclude since this new "dashboard" choice was introduced with 0.13.0 with https://github.com/brave/browser-laptop/pull/5690

[2017-01-23 20:56] #6521 closed

[2017-01-23 20:56] bsclifton commented on #6521
## Test Plan
1. Go to about:preferences
2. Ensure "Brave starts with" dropdown no longer has "Dashboard"; it should have "a new tab"

[2017-01-23 21:01] bsclifton commented on #6823
When this issue is tackled, we want to make sure to add / update the options for Brave so that you can choose this as your start page / homepage

[2017-01-23 21:10] ktd99 commented on #698
Is there a work-around at this point?  I need to be able to attach a File.

[2017-01-23 21:15] feross commented on #6815
The button starts out as "Start Download". After it's clicked, we disable it.

That's totally arbitrary though. It would be fine as a toggle. Does the button pause the download, or remove it entirely from the filesystem?

Also, we need to make sure that when another tab is opened (which will re-add the torrent), that the previously paused tab gets it's state updated correctly.

[2017-01-23 22:59] bsclifton commented on #3800
This was attempted with https://github.com/brave/browser-laptop/pull/6248 but had some issues (milestone removed).

If you wanted to try the patch from that PR, you can grab it here:
https://patch-diff.githubusercontent.com/raw/brave/browser-laptop/pull/6248.patch

[2017-01-23 23:27] bsclifton commented on #6088
Fixed with https://github.com/brave/browser-laptop/pull/6342

[2017-01-23 23:28] #6088 closed

[2017-01-23 23:55] bsclifton commented on #6760
Closed with https://github.com/brave/browser-laptop/pull/6761

[2017-01-23 23:55] #6760 closed

[2017-01-23 23:57] bsclifton commented on #6752
Closed with https://github.com/brave/browser-laptop/pull/6757

[2017-01-23 23:57] #6752 closed

[2017-01-24 01:10] rojour commented on #6444
I am having the exact same issue here.
The only thing I may be able to add is that in my case it was working fine until I ran a jupyter notebook from AWS-C2 with an insecure connection. It gave the warning, I ask to be connected any way. It work, but since then, I am having the same issue.

[2017-01-24 01:46] jonathansampson opened #6825 "Superhuman: Login page cannot communicate with Extension"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
The login page for the Superhuman extension is unable to call postMessage, as the two sources are different domains.

![image](https://cloud.githubusercontent.com/assets/815158/22230622/4efc2a62-e1a4-11e6-9c77-aec65e92f969.png)

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10

- Br

[2017-01-24 02:08] da2x opened #6826 "Idle timer never stopping the idle timer"
This is the same as #4051, but I forgot to follow up on that issue.

My top three websites this month are websites I’ve visited before going to bed. I’ve lefy Brave open over night and have ~8 hours recorded for each of these sites. Timer is supposed to stop after 15 minutes, but this still isn’t working.

Tested with v0.13.0dev-RC5 on Fedora Workstation 25 with GNOME. I tested the same version un

[2017-01-24 03:16] lukemulks opened #6827 "Windows 10 - Crash after awakening from Sleep Mode - brave.exe, process error: 4932"
- Did you search for similar issues before submitting this one?
Yes - Advised to file.

- Describe the issue you encountered:
After awakening the computer from Sleep Mode, Brave threw a `brave.exe, process error: 4932` crash error with a prompt to debug the crash.

Windows also prompted with an alert that `Brave is unresponsive, wait or end process?`

- Platform (Win7, 8, 10? macOS? Linux distro?)

[2017-01-24 03:46] bbondy opened #6828 "waitForUrl doesn't take into consideration what the active tab is."
While fixing #6814 it turned out that we had a test for it which wasn't failing.
The reason is because we were waiting on a URL via `waitForUrl`, but the code to wait returns just as long as the browser has that tab available regardless of the current tab.

/cc @bsclifton @bridiver

[code]

In this case it was opening a third tab with `this.page1Url` but the test was expecting it to be in the 2nd

[2017-01-24 03:47] bbondy commented on #6828
this can probably cause some intermittent test failures.

[2017-01-24 03:55] #6814 closed

[2017-01-24 05:10] kingscott commented on #1363
I believe this has been added. Closing for now...

[2017-01-24 05:10] #1363 closed

[2017-01-24 05:19] bridiver commented on #6828
that is the expected behavior

[2017-01-24 05:20] bridiver commented on #6828
the intermittent test failures are caused because it is used incorrectly without taking that into consideration

[2017-01-24 06:05] jonathansampson opened #6829 "Intermittent issues on a Windows 7 machine"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
User experiences intermittent issues, including crashes on Windows 7. Not much is known, as the issues were difficult to discern, and did not clearly follow a pattern.

Crashes were captured:
- https://stats.brave.com/dashboard#crash/5881171e088ab2001100cd50
- https://stats.brave.com/dashboar

[2017-01-24 06:59] CliqueBait commented on #6603
@srirambv Actually, I wasn't thinking of all pane bars being brave-orange. In my mind's eye, I was thinking of only the currently active pane bar doing that. The others could remain subtle in order not to offend the user in the way @bradleyrichter expects it might. (correctly I think).

[2017-01-24 07:38] CliqueBait opened #6830 "SUGGESTION: clicking a tab's playback icon should Pause instead of Mute"
Audio playback icons show whenever a tab is playing. When being drowned by multiple noisy tabs it's possible to mute those not currently of interest. Shouldn't it Pause instead of Mute?

e.g. I open several lectures. I don't want to hear all lectures at the same time but I do want to hear each lecture eventually so Pause makes more sense than Mute.

Gotchas:
1. Chrome does Mute meaning a divergenc

[2017-01-24 08:30] lukemulks opened #6831 "Global QUIC over UDP protocol crimping for ad & privacy protection"
- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:
Quic over UDP used by Google to make ads and tracking requests, evades TCP
- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 (observed), global (likely)
- Brave Version (revision SHA):
0.12.5
- Steps to reproduce:
    1.wireshark || chrome://net-internals
    2. YouTube
    3.wait for

[2017-01-24 13:36] mrose17 opened #6833 "Speed up ledger startup"
do not `require` ledger packages until actually needed

defer execution of initial `client.sync` for 3 seconds after startup

cf., https://github.com/brave/browser-laptop/pull/6822

[2017-01-24 13:37] #6833 closed

[2017-01-24 13:42] diracdeltas commented on #6811
I can repro this on airbnb.com (login with Google Account)

[2017-01-24 13:49] diracdeltas commented on #6831
just to clarify, is this issue for the adblock/tracking-protection components to block QUIC connections to tracking domains or is it to disable QUIC?

[2017-01-24 15:06] wixster commented on #3160
bottom line.....brave loads incredibly slow compared to chrome.....not even close (mbp 13' 2014)

[2017-01-24 15:09] wixster opened #6834 "brave loads sooooo slow on mbp"
- Did you search for similar issues before submitting this one?
yes...saw same comments
- Describe the issue you encountered:
see title (im back to chrome cuz it blows it outta the water...)
- Platform (Win7, 8, 10? macOS? Linux distro?):
mac (mbp 13" retina 2014)
- Brave Version (revision SHA):
012.15
- Steps to reproduce:
    1.
    2.
    3.

- Actual result:

- Expected result:

- Will the ste

[2017-01-24 15:12] lukemulks commented on #6831
It's for disabling Quic. Google is using Quic for ads & tracking.

Are there any concerns with blocking Quic?

On Jan 24, 2017 5:50 AM, "yan" <notifications@github.com> wrote:

[2017-01-24 16:02] lukemulks commented on #6831
@diracdeltas updated the issue name to clarify. If there are any concerns regarding blocking QUIC globally please let us know. We don't want to cause any issues by blocking QUIC that we may be unaware of, but so far there appears to be little QUIC adoption and use outside of Google, and limited-low QUIC browser support by default outside of Chromium that doesn't include TCP failover.

FWIW, we wer

[2017-01-24 17:34] mrose17 commented on #6531
by "reset" you mean it went empty? fascinating. i'm not sure how to reconcile this with the behavior i'm seeing. i have a "test browser" that contributes every 3 days (instead of 30) and in watching the `ledger-synopsis.json` file, entries disappear 30 days as expected. i've never seen everything disappear (except when messing with the system clock)...

[2017-01-24 17:34] ClemencyFane commented on #6603
Hi, I was the OP for the original question. CliqueBait asked me to comment on the options discussed here. FYI, I've been using Brave exclusively on Macbooks, all with OS 10.12.2, but I have a Win10 notebook as well if you want me to test anything on it - I'd be happy to.

I vote for the pane bars in the center, for two reasons. When desktop notifications from various apps show up, they're usually

[2017-01-24 17:49] alexwykoff opened #6835 "Performance : 0.13.0 tab switching tracking issue"
- Did you search for similar issues before submitting this one?
yes

- Describe the issue you encountered:
performance on tab switching appears to be slower

- Platform (Win7, 8, 10? macOS? Linux distro?):
all, tests so far have focused on os x
win coverage needed

- Brave Version (revision SHA):
0.13.0 rc5

- Steps to reproduce:
Try this once with Brave and once with Chrome

Process 1. set tabs t

[2017-01-24 17:56] alexwykoff opened #6836 "Performance : 0.13.0 page load tracking issue"
- Did you search for similar issues before submitting this one?
yes

- Describe the issue you encountered:
page loads appear to be slower

- Platform (Win7, 8, 10? macOS? Linux distro?):
all, primary testing on os x
win coverage needed

- Brave Version (revision SHA):
0.13.0 rc5

- Steps to reproduce:
try this once with brave and once with chrome

Process 1. default shields, start timer, with one

[2017-01-24 17:58] bridiver commented on #6828
in fact I'm pretty sure other tests would break if we changed the behavior. The code calls `this.tabByUrl` and is often used when waiting for a new tab to be created. I've also seen instances where it was used to wait for a new tab that had the same url as an existing tab which will also cause test failures. We could change the name to something like `waitForUrlInAnyTab` or allow an optional id to

[2017-01-24 18:34] bradleyrichter commented on #6603
Hi All - here is a quick mockup via GIF movie. LMK what you think about orange.

BTW - we will add a subtle audio-animation to these to help you notice more easily which tab set has the noise tab.

![orange_tabset_indicators](https://cloud.githubusercontent.com/assets/13509546/22261129/9e1b6118-e220-11e6-989a-cafa699da249.gif)

[2017-01-24 18:34] jonathansampson opened #6837 "Video doesn't work on news18.com"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Brave cannot play video on news18.com/livetv; reports _No playable sources found_.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10

- Brave Version (revision SHA):
0.13.0

- Steps to reproduce:
    1. Navigate to http://www.news18.com/livetv
    2. Lower shields
    3. Note that v

[2017-01-24 18:58] darkdh commented on #6811
feedly with (google, facebook), airbnb with (google, facebook) and zillow with google all work fine to me

[2017-01-24 18:59] ClemencyFane commented on #6603
I like it. It shows up well on my lowest resolution screen.

[2017-01-24 19:58] bridiver commented on #6831
we should add a second issue to filter quic connections. @lukemulks is the same thing happening with spdy?

[2017-01-24 20:28] alexwykoff commented on #6836
manual runs were somewhat inconclusive. only 0.13.0 rc5 with shields down was an outlier for poor performance

automation would certainly help so that we can track values over time

[2017-01-24 20:37] da2x commented on #6531
Indeed. This has happen every single month since the initial beta release. It happens within a few days after payment is processed. My list drops from several hundred domains to like 5 with only 2–5 visits and a few seconds recorded on each. So it appears to me to have been reset. Given my use, it should contain a few hundred domains constantly.

[2017-01-24 21:49] bsclifton opened #6840 "Horrible performance on SoundCloud.com with fingerprint protection on"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
If you try to listen to any song on [SoundCloud](https://soundcloud.com) with fingerprint protection on, the performance is horrible

- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS

- Brave Version (revision SHA):
0.13.0 RC5

- Steps to reproduce:
    1. Visit https://soundcloud.com/ne

[2017-01-24 23:12] srirambv opened #6841 "Connection info icon changes to site favicon"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Connection info icon changes to site favicon

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.13.0
rev	5bad531

- Steps to reproduce:
    1. Enter any engine go key and press space
    2. Press backspace to remove the space and revert fr

[2017-01-24 23:23] lukemulks commented on #6831
@bridriver:

   - Hadn't checked SPDY, but double checked and Chrome v51 and FF v50
   ended support for SPDY to replace w/ HTTP/2.0 over TCP (which I can see in
   Network Traffic in Dev Tools)

   - To be safe, I checked two session captures for NPN and ALPN traffic,
   and am not seeing any. I think we're safe there.

   - Will file a separate ticket for QUIC filtering.

On Jan 24, 2017 11:58 A

[2017-01-24 23:42] diracdeltas commented on #6831
As you mention, QUIC has low adoption outside of Google, so I don't see any concrete downsides to disabling it. But it seems that we should generally be preventing webRequest bypasses, not disabling the protocols that bypass blocking.

[2017-01-24 23:43] bsclifton opened #6842 "Spellcheck can overtake the browser process"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Spellcheck is enabled and I've noticed it tank the browser process.  You can no-op the check by editing the code here and returning true instead of making the sendSync call:
https://github.com/brave/browser-laptop/blob/master/app/extensions/brave/content/scripts/spellCheck.js#L7

- Platform (

[2017-01-24 23:46] bridiver commented on #6831
@diracdeltas that's why I wanted to open up a separate ticket to filter the requests, but in the short term blocking is fine I think

[2017-01-25 00:21] jonathansampson commented on #3894
I have confirmed this today, following [a report from another user](https://twitter.com/amrebel/status/823966583534092290) on Twitter.

[2017-01-25 00:34] #6831 closed

[2017-01-25 00:46] xeru commented on #545
Definitely support this concept, would be great to have more advanced config options.

[2017-01-25 00:56] ClemencyFane commented on #6603
Also, I got pulled away and forgot to come back, but the additional animation for the tab having the sound is a good idea too. I often have more than one browser and a lot of windows/tabs open, and a video somewhere will start playing and it can be heck to find the tab.

[2017-01-25 01:06] mrose17 commented on #6531
well that is just fascinating. if you have the patience, let's try this: first, click on "Advanced Settings..." in about:preferences#payments and see what the min page time and min publisher visit numbers are. i'm interested in finding out what you have there (maybe that's a cause)

next, if you could save a copy of your `ledger-synopsis.json` file just before the payment and just after (hopefully

[2017-01-25 01:19] luixxiul commented on #6799
No it doesn't.

[2017-01-25 01:25] da2x commented on #6531
See #6241.

![advanced_settings_brave](https://cloud.githubusercontent.com/assets/1102886/22274214/5e6880b6-e2a5-11e6-83d8-d464ed215057.png)

I’ve set a reminder to do this manually and a cron script to capture it automatically. I guess I’ll have the relevant data in ~two weeks time.

[2017-01-25 01:26] mrose17 commented on #6531
many thanks!

[2017-01-25 01:36] luixxiul commented on #6603
Is this not enough?

![clipboard01](https://cloud.githubusercontent.com/assets/3362943/22274493/2bf53ba2-e2ea-11e6-8a6f-f780de681b03.png)

[2017-01-25 01:41] ClemencyFane commented on #6603
My apologies, I was using Safari earlier today and I was thinking Brave also had grey audio icons. I should have double checked that before commenting. That looks really good; I just tried it with three browsers open and it's much easier to find the tab. Thanks, and sorry for the confusion.

[2017-01-25 01:48] luixxiul commented on #6603
np!

[2017-01-25 01:55] #6842 closed

[2017-01-25 01:58] lukemulks opened #6843 "Cross-Protocol AdBlock and Tracking Protection (QUIC over UDP)"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Long term follow-up to issue #6831

- Platform (Win7, 8, 10? macOS? Linux distro?):
All

- Brave Version (revision SHA):
NA

**Original Issue:**
It was discovered that Google was using QUIC over UDP for ad and tracking purposes, which bypassed traditional TCP list filtering.

**Short term fix

[2017-01-25 02:21] luixxiul commented on #6842
I've felt the same thing. Thanks @bsclifton for logging the issue and @bridiver for fixing it quickly :-D

[2017-01-25 02:40] el-gallo-azul opened #6844 "Browser crashed after pinning about 7 or 8 tabs"
- Did you search for similar issues before submitting this one?
No

- Describe the issue you encountered:
I was attempting to move to Brave as my default browser from Chromium which has been my default browser for many years.

This process required starting a number of webpages, pinning these pages, closing the pinned tabs within Chromium as I went, and then I planned to specify Brave as my defaul

[2017-01-25 03:57] alexwykoff commented on #6836
some sites which could stand to load faster :

alipay - https://github.com/brave/browser-laptop/issues/3603
qq.com
taobao.com

[2017-01-25 04:25] alexwykoff opened #6845 "tab icons are not constrained to actual tab space"
## Test plan

https://github.com/brave/browser-laptop/pull/6900#issue-203781822

<hr>

- Did you search for similar issues before submitting this one?
yes

- Describe the issue you encountered:
when opening a private tab then opening the developer's console, it was found that the icons were overhanging the tab.

this also happened when the number of tabs per set was 20

- Platform (Win7, 8, 10? ma

[2017-01-25 04:42] alexwykoff commented on #6834
duplicate of https://github.com/brave/browser-laptop/issues/3025

[2017-01-25 04:42] #6834 closed

[2017-01-25 05:00] aekeus commented on #3025
Will instrument with https://github.com/brave/browser-laptop/pull/6267

[2017-01-25 05:34] bbondy opened #6846 "Skysports videos won't maximize"
Posting for a friend:

Some of the videos that are embedded in articles on Skysports Football won't maximize to full screen.. However, if you go to their "Video" section, you'll be able to maximize the same video.. I tried disabling the Brave shield to see if that was the issue, but the video still wasn't being maximized.

load http://www.skysports.com/football/live-blog/11095/10723331/fifa-footba

[2017-01-25 05:38] bbondy opened #6847 "Be able to drop webloc files"
Posting for a friend:
You should be able to drop in .webloc files into the about:newtab window. Dropping .webloc files into about:blank or other pages that are already loaded works without any issues, but it would be nice if you could just launch Brave and drop the file into about:newtab right away.

The other issue with .webloc files is that when you attempt to drop them into the tab bar, you'll

[2017-01-25 06:18] bbondy commented on #6835
Work done for this, I think we can close it:
https://github.com/brave/browser-laptop/commit/6435c2e84f8d6df9121e4fb83bfac6de37d82251
https://github.com/brave/browser-laptop/commit/494b94410df2bf5c20291fc693ccd963788d8827
https://github.com/brave/browser-laptop/commit/c069eae3fe14a0916a968298cd536e388d549682
https://github.com/brave/browser-laptop/commit/658dc4388a547666ac8216c6218628bbeebf736a
htt

[2017-01-25 06:18] #6835 closed

[2017-01-25 06:20] bbondy commented on #6836
I did some improvements here but I want to do more, so I'll leave this open.
Work done so far:
https://github.com/brave/browser-laptop/commit/95ade416325978168a02c027e65570333db83d67
https://github.com/brave/browser-laptop/commit/6f9682ade5334d6297ef497dff2bb59ded2cbe0e
https://github.com/brave/browser-laptop/commit/e198468c47a2ee11bc24f35d79c6354358acc162

[2017-01-25 06:42] bbondy commented on #6836
moving to next milestone since no more work will be done for this one, too risky

[2017-01-25 07:29] zn opened #6850 "Youslist (Korean adblock list) block CSS and images"
- Did you search for similar issues before submitting this one?
: Yes

- Describe the issue you encountered:
: Enabling Youslist from adblock setting cause website problem.

- Platform (Win7, 8, 10? macOS? Linux distro?):
  - Windows 10
  - Linux (Arch Linux with "brave-bin" package from AUR)
  - Android (Nexus 6P, downloaded latest version from Play store)
- Brave Version (revision SHA)
: 0.12.15

[2017-01-25 08:00] luixxiul commented on #6835
@bbondy Do we need QA for this issue specifically?

[2017-01-25 08:02] luixxiul commented on #6836
I added `release-notes/include` as this issue will be fixed in the next milestone.

[2017-01-25 08:05] luixxiul commented on #6850
Because the list which ad-block uses is too strict?

[2017-01-25 08:10] luixxiul commented on #6826
CC @mrose17 do you notice the issue?

[2017-01-25 08:42] zn commented on #6850
After some trial, I found the problematic line: `*/RealMedia/ads/`.

Just disable all list and insert `*/RealMedia/ads/` at "Custom filters" cause same issue described above. and also `*/RealMedia/`, `*/RealM`, `*/ads` has same issue.

But, inserting one of `*/RealMedia/ad/`, `*/RealMedia/ads/blabla`, `*/RealMedii`, `*/REalMedia` has no problem.

[2017-01-25 08:44] luixxiul commented on #6800
@bbondy I've set the milestone but is 0.13.1 ok? If you think this is a blocker, please reset it, thanks!

[2017-01-25 08:47] luixxiul opened #6851 "Font-size of textarea on about:adblock is too small"
**Describe the issue you encountered:**
Font-size of the textarea on about:adblock is too small

<img width="658" alt="screenshot 2017-01-25 17 47 01" src="https://cloud.githubusercontent.com/assets/3362943/22283569/5b4e1f9a-e326-11e6-821e-71b5ff13ab79.png">

- Brave Version (revision SHA): f682695

- Steps to reproduce:
    1. Open about:adblock
    2. Input some strings in the input area

- Actu

[2017-01-25 08:50] luixxiul commented on #6851
Unintentionally posted during writing. I updated.

[2017-01-25 08:51] luixxiul commented on #6851
I'm setting the font-size to `95%`. @bradleyrichter let me know if it should be another value, thanks.

[2017-01-25 09:02] luixxiul commented on #6850
@bbondy actually when I enable `*/RealMedia/` uploading a file on this page by selecting the file is blocked. Do you think it should not happen?

[2017-01-25 09:06] luixxiul commented on #6850
Also no images on a PR page:

<img width="1052" alt="screenshot 2017-01-25 18 04 36" src="https://cloud.githubusercontent.com/assets/3362943/22284087/ecb1bb48-e328-11e6-854a-b4c7cdab3944.png">

[2017-01-25 09:37] darkdh commented on #6483
+1 from me because it is painful for oauth popup window.
it will slow down oauth tab loading when pinned tabs are loading simultaneously.

[2017-01-25 13:52] srirambv commented on #1090
+1 from community https://community.brave.com/t/nightmode-any-news-about-it/848

[2017-01-25 13:59] wixster commented on #6834
cool brother....hop you guys figure it out. brave is actually well put together for the most part imho...

just dreadfully slow....which i just cant deal with...(no offense)

fix it and im a user.....  ;)

[2017-01-25 14:29] cemsbr commented on #6444
I haven't had this issue for a long time, fortunately.

[2017-01-25 15:05] bridiver commented on #6801
should be good, but @aekeus can reopen or create a new issue if there is still a problem with windows symbols

[2017-01-25 15:05] #6801 closed

[2017-01-25 15:11] MGrotegut commented on #6074
Hi again, Marshall!Yeah, deleting that file helped, and now I could create a wallet.Thanks!"Marshall T. Rose" <notifications@github.com> hat am 23. Januar 2017 um 19:04 geschrieben:thanks. that's really quite odd. let's try one last experiment. find the file ledger-state.json and delete it. wait for the next browser update, install it, restart it, and see if you can create a wallet with that. sorr

[2017-01-25 16:08] luixxiul commented on #6801
Do we need QA for this?

[2017-01-25 16:13] aekeus commented on #6801
Nope, no QA needed. I will make sure all platforms are working correctly as RC6 is released.

[2017-01-25 16:29] echosa opened #6855 "HTTP auth dialog has no cancel button"
- Did you search for similar issues before submitting this one?

Yes.

- Describe the issue you encountered:

When I'm prompted for HTTP auth, there's no cancel button. You have to press Escape to cancel.

- Platform (Win7, 8, 10? macOS? Linux distro?):

OS X 10.11.6

- Brave Version (revision SHA):

0.12.15

- Steps to reproduce:
    1. Visit a page that asks for HTTP auth.

- Actual result:

No

[2017-01-25 16:30] bsclifton opened #6856 "Show DPI value on about:brave"
When troubleshooting issues for users, it would be extremely useful to have the DPI setting for Windows users shown in about:brave.  For example: 100%, 125%, 150%, etc

Here's an example of what the setting looks like for the user in Windows 10. The defaults are different depending on the manufacturer install. Many laptops default to 125%, the Surface Book defaults to 200%.
![screen shot 2017-01-2

[2017-01-25 16:31] luixxiul commented on #6855
Wow that's should be fixed soon

[2017-01-25 16:38] darkdh commented on #6483
This is actually regression
Popup window don't show pinned tab in 0.12.15
Try http://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_win_open5

[2017-01-25 16:38] #6483 closed

[2017-01-25 16:48] mrose17 commented on #6074
great, thank you for your patience!

[2017-01-25 18:04] luixxiul commented on #518
Another requesr: https://community.brave.com/t/closed-fido-2fa-support-please-yubikey-trezor/694?u=suguru

[2017-01-25 18:35] bsclifton commented on #6820
Fixed with https://github.com/brave/browser-laptop/pull/6854

[2017-01-25 18:35] #6820 closed

[2017-01-25 18:45] CyrexCore2k commented on #4502
I'm afraid I won't be able to assist with testing the fix. I switched off compatibility mode prior to installing RC5 to verify I am still experiencing the issue and it seems to have resolved itself?

Here's what I have in my Help -> About

Brave	0.12.15
Muon	1.4.31
libchromiumcontent	53.0.2785.143
V8	5.3.332.47
Node.js	6.5.0
Update Channel	dev
os.platform	win32
os.release	6.3.9600
os.arch	x64

Reg

[2017-01-25 19:14] bradleyrichter opened #6859 "Update Privacy Policy and Terms of Use files"
Before 1.0 can be released, changes and additions to our Privacy Policy and Terms of Use files will need to be completed based on differences since the last revisions.

[2017-01-25 20:13] bbondy commented on #6819
It seems like your electron is very out of date, it should be grabbing 2.*

[2017-01-25 20:13] #6819 closed

[2017-01-25 20:26] bbondy commented on #6828
Yep that sounds best, I wondered if it was expected or not, but we need to split the uses into 2 different API calls with explicit naming.

[2017-01-25 21:23] srirambv opened #6860 "URL Suggestion should match the keyed-in character rather than random suggestion"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
URL suggested sites are not matching with the typed text.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.13.0
rev	a37f260
Existing behavior on 0.12.15 as well

- Steps to reproduce:
**Edit: Check extra QA steps for STR**
    ~~1. Do a

[2017-01-25 21:39] bsclifton commented on #6819
@leitianfu maybe you can try these steps?

[code]

After the install finishes, you should be in good shape 😄

[2017-01-25 21:50] swest100 opened #6861 "Blinking black and white screen"
![brave-2017-01-25_13-38-08](https://cloud.githubusercontent.com/assets/21027496/22310371/4a3e4abe-e30c-11e6-9700-9585da18ed63.gif)

- Did you search for similar issues before submitting this one? I did not see this issue in the resolved or unresolved.

- Describe the issue you encountered: Screen blinks black and white.

- Platform (Win7, 8, 10? macOS? Linux distro?): Win10 64bit

- Brave Version

[2017-01-25 22:06] srirambv commented on #4138
+1 from community https://community.brave.com/t/dashlane-plugin-not-working/856

[2017-01-25 22:22] diracdeltas commented on #6811
it's still broken on airbnb with google for me on https://github.com/brave/browser-laptop/commit/a37f2600d5d762d8c40fd0f090a9bef0947f039f (RC6). clicking on 'login with google' pops up a window that never loads.

![screen shot 2017-01-25 at 10 18 06 pm](https://cloud.githubusercontent.com/assets/549654/22311719/cb98d08a-e34c-11e6-8cbf-7c5869e75115.png)

[2017-01-25 22:56] bsclifton commented on #6855
Closed with https://github.com/brave/browser-laptop/pull/6857

[2017-01-25 22:56] #6855 closed

[2017-01-25 22:59] bsclifton commented on #5097
closed with https://github.com/brave/browser-laptop/pull/6493

[2017-01-25 22:59] #5097 closed

[2017-01-26 01:55] luixxiul commented on #6861
Which video card do you use? Is it AMD one?

[2017-01-26 02:06] cezaraugusto commented on #6704
Closed with #6712

Test plan

1. Click on any part of the star icon container (bookmark button) on urlBar
2. modal should open by hitting on any part of the button container (not only star icon)

[2017-01-26 02:06] #6704 closed

[2017-01-26 02:40] luixxiul commented on #6033
It seems that it does not work as it should

![dnd](https://cloud.githubusercontent.com/assets/3362943/22318117/77649bec-e3bb-11e6-8516-e90e5de1f904.gif)

the tab should be dropped to where :no_entry_sign: is displayed.

Also we don't need to have this one:

![dnd](https://cloud.githubusercontent.com/assets/3362943/22318210/2adaf1f8-e3bc-11e6-81b2-eb51ffc25eb6.gif)

[2017-01-26 02:50] luixxiul opened #6863 "when you drag the tab and drop it exactly where 🚫 is displayed, the drop is canceled (follow-up of #6033)"
**Describe the issue you encountered:**
https://github.com/brave/browser-laptop/issues/6033#issuecomment-275295053

- Platform (Win7, 8, 10? macOS? Linux distro?): Windows 10 32 bit

- Brave Version (revision SHA): a37f260

- Steps to reproduce:

1. Open a tab (Tab A)
2. Open another tab (Tab B)
3. Open another tab (Tab C)
4. Grab Tab C
5. Try to drop Tab C between Tab A & B, ie exactly where :no_

[2017-01-26 02:50] luixxiul commented on #6033
I created the issue as a follow up: #6033

[2017-01-26 04:19] aekeus opened #6864 "Initialize crash handling via small configuration file on startup"
Crashes were not being tracked because the browser was failing to startup before the crash handling was initialized. We will now store and read a small initialSettings.json file containing configuration for time-sensitive sub-system initializations.

This file will initially store a boolean variable indicating if crash handling should be enabled. We also need to be aware of the current setting so

[2017-01-26 04:34] bbondy commented on #6831
Great find @lukemulks

[2017-01-26 04:44] bbondy commented on #6835
perf fixes often have regressions but it'll be caught by generic testing.

[2017-01-26 04:54] bbondy commented on #6860
cc @aekeus if you want to own this line of work?

[2017-01-26 04:56] aekeus commented on #6860
Sure, I can take this one.

[2017-01-26 05:01] bbondy commented on #2608
dupe of https://github.com/brave/browser-laptop/issues/5097 ?

[2017-01-26 05:01] bbondy commented on #5097
@diracdeltas are you ok with us including this in the next release?

[2017-01-26 05:45] bsclifton commented on #2608
Yup, https://github.com/brave/browser-laptop/issues/5097 is a dupe of this! 😄  Closing issue

[2017-01-26 05:45] #2608 closed

[2017-01-26 06:12] bsclifton commented on #6659
@luixxiul this feature is present in Chrome... you can trigger by pressing Ctrl and + (zoom in) or Ctrl and - (zoom out). Same with macOS, except with Cmd

However, having it triggered by going to about:preferences... I cannot repro this.  Can you please try again on the latest RC? It may be Windows only

Here's a pic of Chrome. Having zoomable dev tools is important.  However, it should not be li

[2017-01-26 06:19] NejcZdovc commented on #6033
@luixxiul regarding the second one (space around active tab) I already talked with @bradleyrichter and I will remove it when I will be working on tab animations

[2017-01-26 06:20] NejcZdovc commented on #6863
I can't reproduce this on MacOs on the latest master commit 96eb071

[2017-01-26 06:27] swest100 commented on #6861
AMD A6-5200 APU with Radeon HD
Graphics 2.00 GHz

On Wed, Jan 25, 2017 at 6:55 PM, Suguru Hirahara <notifications@github.com>
wrote:

[2017-01-26 06:40] bsclifton commented on #1937
Starting with 0.13.0, 125% DPI setting will actually be respected by Brave 😄

[2017-01-26 06:52] luixxiul commented on #6033
Sweet!

[2017-01-26 06:53] luixxiul commented on #6863
Do you think the issue was fixed or does something behave differently between Windows and macOS?

[2017-01-26 06:56] bsclifton commented on #6863
@luixxiul it works for me too? Let me try the latest RC on Windows

[2017-01-26 07:01] bsclifton commented on #6863
LGTM on Windows 10 😄
![drag](https://cloud.githubusercontent.com/assets/4733304/22322620/176d9400-e352-11e6-82b2-6962627699b5.gif)

[2017-01-26 07:02] bsclifton commented on #6863
Notice: it will only cause the move animation if you drag in that half of the tab. This is expected. So in order to move the first tab, you have to move past the middle of the tab

[2017-01-26 07:03] luixxiul commented on #6863
How about after pinning a couple of tabs?

[2017-01-26 07:07] bsclifton commented on #6863
@luixxiul that looks great too (on both Windows and macOS; here's Windows)

![drag2](https://cloud.githubusercontent.com/assets/4733304/22322749/01e3a326-e353-11e6-83e8-3c046d87f016.gif)

[2017-01-26 07:08] luixxiul commented on #6863
Oh really? Let me check later..

[2017-01-26 07:11] luixxiul commented on #6831
Will this be included in 0.13.0?

[2017-01-26 07:12] luixxiul commented on #6831
@lukemulks would you let us know how to use wireshark for QA process?

[2017-01-26 07:18] luixxiul commented on #6861
There is a known compatibility issue between AMD card and the browser. Please have a look at https://github.com/brave/browser-laptop/issues/6807 for more info.

[2017-01-26 07:20] luixxiul commented on #6863
@bsclifton can you drop the tab exactly where :no_entry_sign: is displayed?

[2017-01-26 07:49] lukemulks commented on #6831
@Suguru

*Re: **Will this be included in 0.13.0?*
Yea, @bridriver was able to get this into the RC, and I was able to run QA
against the previous Wireshark capture with 0.12.5 and confirm that the
issue was resolved.

*Re: QA w/Wireshark*
Happy to help walkthru the process.
Assuming that wireshark is installed and running, navigate to youtube.com
or any other URL where QUIC is suspected to be runn

[2017-01-26 13:40] luixxiul commented on #6659
@bsclifton thanks for checking. let's close this then :-)

[2017-01-26 15:19] seanohue opened #6866 "Does not seem to work with Weinre"
- Describe the issue you encountered:
I spun up a [weinre](https://people.apache.org/~pmuellr/weinre/docs/latest/) server and went to the address in Brave, and the page was entirely blank except for a grey bar at the top. Examining the console, I saw the following errors:
[code]

I tried again with "shields down" and it still did not load the page.

- Platform (Win7, 8, 10? macOS? Linux distro?):

[2017-01-26 15:24] bridiver commented on #6831
@luixxiul I don't think we need further QA for this since @lukemulks has already checked it

[2017-01-26 15:38] gmgj commented on #4510
Windows 10 x64
Brave Version 0.12.15
Steps to reproduce:
Add a large test file of Bookmarks to the Browser to import from
Setup Chrome
Bookmarks Bar with a Level 1 folder,
add a folder within Level 1 called Level 2,
add a folder within Level 2 called Level 3

Import from Chrome, chose the defaults

I do not see the Level 3 folder

[2017-01-26 15:49] bsclifton commented on #6659
@luixxiul if you're able to trigger this via preferences, I think it's a legit bug; it sounds like it's:
- Windows only
- Happens when you change global zoom level (which shouldn't affect dev tools, IMO)

I'll re-open and update the issue name.  Can you try on the latest RC?

[2017-01-26 15:59] joekaiser commented on #4693
I'm just adding another report of it.

**Brave**	0.12.15
**Muon**	1.4.31
**libchromiumcontent**	53.0.2785.143
**V8**	5.3.332.47
**Node.js**	6.5.0
**Update Channel**	dev
**os.platform**	win32
**os.release**	10.0.14393
**os.arch**	x64

![capture](https://cloud.githubusercontent.com/assets/1521110/22338808/17c0096a-e39d-11e6-8c4c-f9891a55eb24.PNG)

[2017-01-26 16:09] luixxiul commented on #4693
@lukemulks  do you think the issue is caused by the issue concerning QUIC?

[2017-01-26 16:13] srirambv opened #6867 "First option in Menu/Hamburger is selected by default"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
New Tab option in kabob/hamburgermenu is highlighted by default

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.13.0
rev	ebea72a
Verified not happening on RC6

- Steps to reproduce:
    1. Do a clean install of 0.13.0 RC7
    2. Click o

[2017-01-26 16:15] lukemulks commented on #4693
Yeah, @suguru the update in the 0.13 RC resolves in testing/QA as long as
cache and cookies are cleared in the browser. 3 testers yesterday observed
the issue as corrected in the RC, so we should be able to close this once
RC pushes to prod.

On Jan 26, 2017 8:09 AM, "Suguru Hirahara" <notifications@github.com> wrote:

@lukemulks <https://github.com/lukemulks> do you think the issue is caused
by t

[2017-01-26 16:15] #5814 closed

[2017-01-26 16:16] srirambv commented on #6867
Same on menu as well
![image](https://cloud.githubusercontent.com/assets/17010094/22339677/c3a626ca-e3e2-11e6-9938-73ba18d94d7f.png)

[2017-01-26 16:19] srirambv opened #6868 "Clicking on SHA doesn't load the github commit page"
- Did you search for similar issues before submitting this one?
yes

- Describe the issue you encountered:
Clicking on SHA doesn't load the github commit page

- Platform (Win7, 8, 10? macOS? Linux distro?):
All

- Brave Version (revision SHA):
Brave	0.13.0
rev	ebea72a
Works on 0.13.0 RC 6

- Steps to reproduce:
    1. Do a clean install of 0.13.0 RC7
    2. Open about:brave
    3. Click on SHA li

[2017-01-26 16:21] bbondy commented on #6867
It will work by reverting this:
https://github.com/brave/browser-laptop/commit/03bf66bd81894b22ca9cc3c3ff8decf5aacede88

So I reverted it for 0.13.0 and we'll treat this as blocking for 0.13.1. Thanks.

[2017-01-26 16:22] bbondy commented on #1302
we had to revert from 0.13.1 due to https://github.com/brave/browser-laptop/issues/6867 but we'll get it for 0.13.1 as long as #6867 is fixed.

[2017-01-26 16:27] luixxiul commented on #4693
OK then let's close this thanks to #6831

[2017-01-26 16:29] luixxiul commented on #4693
I labelled `QA/no-qa-needed` but let's keep an eye on the issue on youtube and reopen if the problem would still persist.

[2017-01-26 16:37] luixxiul opened #6869 "overflow indicator on bookmarks toolbar is sometimes hidden"
**Describe the issue you encountered:**

- Platform (Win7, 8, 10? macOS? Linux distro?): Windows 10 32 bit

- Brave Version (revision SHA): 0.13.0 RC6 ebea72a

- Steps to reproduce:
    1. Add bookmarks to the toolbar until it is filled.
    2. Resize the window horizontally slowly

- Actual result:
  ![overflow](https://cloud.githubusercontent.com/assets/3362943/22340490/f7d0ca10-e430-11e6-8418-9

[2017-01-26 16:39] luixxiul commented on #5814
Will this be included in 0.13.0 or 0.13.1?

[2017-01-26 17:23] swest100 commented on #6861
Thank you. I will try the suggested workarounds.

It still seems strange that Brave worked great for two months then got up
one day and decided to blink.

Thanks again.

On Thu, Jan 26, 2017 at 12:18 AM, Suguru Hirahara <notifications@github.com>
wrote:

[2017-01-26 17:24] luixxiul commented on #6841
This should have been fixed right?

![g](https://cloud.githubusercontent.com/assets/3362943/22342415/b1bf3d5c-e437-11e6-99cd-f3aaddb3e775.gif)

[2017-01-26 17:32] luixxiul commented on #6811
The link to facebook does not work unless the shield is down anyway.

[2017-01-26 18:14] alexwykoff opened #6871 "1pass regression in 0.13.0 rc7"
After investigation it was found that this originated in 0.13.0 rc5

the testing protocol used:
1. rm -rf ~brave
2. launch a target version
3. open prefs and select 1pass
4. auth with app
5. open tab to github.com and go to login modal
6. select 1pass in context menu, select github

[2017-01-26 18:16] alexwykoff opened #6872 "twitch main stream not showing"
**Domain:** https://www.twitch.tv/
**Reported issue:** Main video is blocked, allowing ads will then show the stream
**Issue reported in:** v0.13.0 rc7

[2017-01-26 18:22] mrose17 opened #6873 "ledger: add sliders to adjust percentages for contributions"
here is a fragment of the current about:preferences#payments page:
![0](https://cloud.githubusercontent.com/assets/400552/22344516/5b42b1ba-e3b1-11e6-8730-55b0a68ab41f.png)
add a slider to each publisher that auto-adjusts accordingly.

[2017-01-26 18:22] #5887 closed

[2017-01-26 18:26] mrose17 opened #6874 "introduce UI artifact after 20 sites auto-included"
when auto-include=true (the default), after 20 sites are included, present the user with an artifact inviting them to switch to auto-include=false

[2017-01-26 18:27] mrose17 commented on #6707
OBE by https://github.com/brave/browser-laptop/issues/6874 and https://github.com/brave/browser-laptop/issues/6873

[2017-01-26 18:27] #6707 closed

[2017-01-26 18:33] luixxiul commented on #6528
Several duplicate declaration errors start appearing

[2017-01-26 18:38] lukemulks commented on #6872
**To Do:**

- Investigate if issue is present on v0.12.5
- Determine root cause of blocking issue.
- Provide suggested fix to resolve.

[2017-01-26 18:44] lukemulks commented on #6872
**To Do:**
- ~~Investigate if issue is present on v0.12.15~~
**Confirmed:** Issue is present in v.0.12.15

**Remaining Items:**
- Determine root cause of blocking issue.
- Provide suggested fix to resolve.

[2017-01-26 18:51] alexwykoff commented on #6871
starting with 0.13.0 rc5 and replicated in rc6, it was found that during step 3 of the protocol above, the extension would not display a validation code to auth with the local app.

[2017-01-26 18:54] alexwykoff commented on #6871
in rc7 it was discovered that step 6 of the protocol above would not yield a successful login. to the user it would appear as though nothing had happened

[2017-01-26 19:11] bsclifton commented on #6528
@luixxiul my bad- reverted with https://github.com/brave/browser-laptop/commit/7031a2b348f2e372a905a031f3a0311b48247ac8

[2017-01-26 19:11] bridiver commented on #6871
going to revert https://github.com/brave/browser-laptop/commit/d4f79bed085c7cf83645a395915c9e72d7d4eb2f and reopen https://github.com/brave/browser-laptop/issues/6791

[2017-01-26 19:14] bridiver commented on #6791
reopening after reverting https://github.com/brave/browser-laptop/commit/aeab0bdf5297778b71b2f1a3bd77d1542c0873b5

[2017-01-26 19:14] #6871 closed

[2017-01-26 20:25] NejcZdovc commented on #1302
Will fix it, not a problem

[2017-01-26 20:30] jonathansampson opened #6875 "Preference to block third-party images"
As mentioned [in this comment](https://github.com/brave/browser-laptop/commit/4c30cd08af9dda75a0e3d6ef634abbbdc2a39c74#commitcomment-17570223), and [requested elsewhere](https://gab.ai/judgedread/posts/4497473), users have requested third-party image blocking.

[2017-01-26 20:30] Renegilo commented on #4848
To date the issue still has not been fixed in version 12:15

[2017-01-26 20:54] bbondy commented on #6868
@bridiver fixed it here
https://github.com/brave/muon/commit/5212c2119d1182f44286843c3a8c33ebfac0047c

[2017-01-26 20:54] #6868 closed

[2017-01-26 20:55] bbondy commented on #6841
it should be fixed yes

[2017-01-26 21:03] srirambv commented on #6841
Alternate QA steps
1. Visit a site
2. Enter engine go key to change the favicon
3. Open a link in the site which is already opened, URL changes but the engine favicon is retained

[2017-01-26 21:14] srirambv opened #6877 "Extension images in context menu looks bad"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
![image](https://cloud.githubusercontent.com/assets/17010094/22350478/d10f92c8-e40b-11e6-81b0-f05b29651698.png)
![image](https://cloud.githubusercontent.com/assets/17010094/22350524/100fc6a0-e40c-11e6-9589-1ba02697919e.png)

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows x64. @alexwy

[2017-01-26 21:35] mkb commented on #5843
I'm seeing this in 0.12.15 with two Twitter accounts on two different Macs. I can log into those accounts with other browsers, just not Brave. Sounds like y'all are on top of this one but let me know if I can provide additional diagnostic info.

[2017-01-26 21:46] bridiver commented on #3836
@srirambv I'm not terribly concerned about 135MB of ram, but it would be a better comparison if all the browsers were on the same page because that can have a big effect on the memory usage for the renderer

[2017-01-26 22:38] mrose17 opened #6878 "include current year in PDF statement copyright footer"
Fix this:

![0](https://cloud.githubusercontent.com/assets/400552/22353403/0b7d545e-e3d5-11e6-9990-97ee46fcb00b.png)

Test plan:
1. Generate a PDF receipt
2. See that the footer says "(c)2016-YYYY ..."

[2017-01-26 22:56] bsclifton commented on #6725
Definitely needs some investigation (likely will be something that needs to get passed to the Chromium code); I don't see this making 0.13.1. Moving back to 1.0

[2017-01-26 23:02] bsclifton commented on #6724
Similar to https://github.com/brave/browser-laptop/issues/6725 this will need some investigation. This would be a good place to start snooping https://github.com/brave/muon/blob/a642ebb32f7bef754cd8ebad46b8e75eda82f5cf/vendor/brightray/browser/inspectable_web_contents.h

Moving back to 1.0 (if you disagree, please re-assign and let's talk 😄 )

[2017-01-26 23:05] lukemulks opened #6879 "lesechos.fr - anti-ad blocking - content blocked w/in Brave w/Shields UP"
- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:
Twitter user reported that lesechos.fr is using an anti-ad blocker that is blocking content for Brave users w/shields up.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Win10 & MacOS
- Brave Version (revision SHA):
0.12.5
- Steps to reproduce:
    1. Present in article pages, could not repro

[2017-01-26 23:06] bbondy commented on #6877
to help triage, could you indicate if this is in 0.12.15?

[2017-01-26 23:08] #6841 closed

[2017-01-26 23:09] bsclifton commented on #5508
Moving to contributor backlog and marked as good first bug 😄

[2017-01-26 23:11] bsclifton commented on #5768
While it would be nice, I think this is lower priority.  Moving back a bit (please feel free to grab it folks 😄 )

[2017-01-26 23:19] echosa opened #6881 "Spotify no longer plays music"
- Did you search for similar issues before submitting this one?

Yes

- Describe the issue you encountered:

Spotify is no longer working. When I go to the web player, it get an error. See screenshot.

There are JS errors. I'll attach a second screenshot showing them.

- Platform (Win7, 8, 10? macOS? Linux distro?):

OS X 10.11.6

- Brave Version (revision SHA):

0.12.15 and 0.13.0

- Steps to rep

[2017-01-26 23:20] echosa commented on #6881
The multiple `NO_TRACK_PLAYER` errors are there because I clicked "play" multiple times. Each click of "play" results in another error.

[2017-01-27 00:00] mrose17 commented on #6770
the issue appears to be that [updateAboutDetails](https://github.com/brave/browser-laptop/blob/master/js/components/frame.js#L90) is invoked when a tab is created, but not when you switch to it.

looking at earlier versions, e.g., https://github.com/brave/browser-laptop/blob/0_12_14_release_notes/js/components/frame.js#L93 it looks like a looser test was used.

@bbondy - `git blame` suggests that

[2017-01-27 00:16] #6059 closed

[2017-01-27 00:23] lukemulks commented on #6879
Did some testing, and can confirm that applying this siteHack will remove the site-level content-blocking issue:

**block this URL in siteHacks.js:** `http://www.lesechos.fr/xtcore.js`

[2017-01-27 01:32] luixxiul opened #6883 "Custom filters block resource too strictly"
**Describe the issue you encountered:**
https://github.com/brave/browser-laptop/issues/6850#issuecomment-275053964

- Platform (Win7, 8, 10? macOS? Linux distro?): macOS

- Brave Version (revision SHA): f682695

- Steps to reproduce:
    1. Open a github page
    2. Open about:adblock
    3. Add `*/RealMedia/` following https://github.com/brave/browser-laptop/issues/6850#issuecomment-275050127

[2017-01-27 01:33] #6879 closed

[2017-01-27 01:33] luixxiul commented on #6850
I opened #6883 for the custom filter issue.

[2017-01-27 01:47] bbondy opened #6884 "Improve URL spoofing test"
https://github.com/brave/browser-laptop/commit/7c4cc171a678365369a9fa6de2b420e1f241bcf1

[2017-01-27 01:57] lukemulks commented on #6872
To Do:

~~Investigate if issue is present on v0.12.15~~
**Confirmed:** Issue is present in v.0.12.15

~~Determine root cause of blocking issue.~~
**Determined:** Twitch.tv is using cloudfront to load a script that detects ad blocking:
`https://d2lv4zbk7v5f93.cloudfront.net/esf.js`

~~Provide suggested fix to resolve:~~
**Proposed Fix:** I was able to apply a blacklist rule for the URL above that w

[2017-01-27 02:10] luixxiul commented on #6791
@bridiver Is https://github.com/brave/muon/commit/6c18907fcb9a6da29981a1b8dce395a6f9bbbad5 included in RC7?

[2017-01-27 02:18] bridiver commented on #6791
Yep

[2017-01-27 02:34] luixxiul commented on #6791
I'm not sure if the issue was fixed:

![about](https://cloud.githubusercontent.com/assets/3362943/22358705/775a024e-e484-11e6-9490-b17b9ecc67fb.gif)

[2017-01-27 02:44] bridiver commented on #6791
this is still happening, but very infrequently. I don't think we should block on it

[2017-01-27 02:50] lukemulks commented on #6872
FYI - going to migrate the fix here: https://github.com/brave/adblock-lists/blob/master/brave-unbreak.txt

Will update this issue to reflect & close when completed.

[2017-01-27 03:23] lukemulks commented on #6872
Migrated fix to: https://github.com/brave/adblock-lists/issues/2

[2017-01-27 03:44] SimonCropp commented on #2469
running high DPI on windows. nice browser but basically unusable when i cant read the fonts

[2017-01-27 04:05] bbondy commented on #6872
It's intermittent working so not sure if same fix is applied, will leave this open for @lukemulks to check and see if the new .dat file is helping or not.

Please close brave then clear this:
mac dir:
`~/Library/Application\ Support/brave/ABPFilterParserData.dat`

Windows dir:
`%appdata%\brave\ABPFilterParserData.dat` (edited)

Then you'll be able to test it with the new dat file.

[2017-01-27 05:03] #6791 closed

[2017-01-27 05:30] lukemulks commented on #6872
Thanks @bbondy,

The issue was a little intermittent at times as well prior to the update.

For example, if I started a session with shields up, I saw the player
blocked. However, if I took shields down, reloaded (saw video play), and
then put shields back up again, there were some cases where the video would
play with shields up, but others where it wouldn't.

I suspect a caching element to this,

[2017-01-27 06:38] Liunkae opened #6886 "Brave application name should be capitalized (Linux-only)"
- Did you search for similar issues before submitting this one?
Yes.

- Describe the issue you encountered:
Throughout the system UI on Linux, the Brave application name is not capitalized.

The `brave.desktop` file needs to be changed. However, I am unsure how to do this with the current setup ([linuxPackaging.json](https://github.com/brave/browser-laptop/blob/master/res/linuxPackaging.json), may

[2017-01-27 06:40] Liunkae commented on #4034
Not reproducible with Brave 0.12.15 on Linux Ubuntu 16.04:
![image](https://cloud.githubusercontent.com/assets/19424103/22361717/061c990a-e422-11e6-99e5-5d33420daf58.png)

[2017-01-27 06:56] Liunkae opened #6887 "Add Ubuntu Unity Launcher menu shortcuts"
- Did you search for similar issues before submitting this one?
Yes.

- Describe the issue you encountered:
There should be some custom menu shortcuts for the Launcher on Ubuntu (Unity desktop environment). This requires additions to the `brave.desktop` file and integration in Brave itself.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Linux Ubuntu (Unity desktop environment) only

- Steps to r

[2017-01-27 06:56] #5806 closed

[2017-01-27 07:09] Liunkae commented on #6877
Looks fine with 0.12.15 on macOS 10.12.x and Linux Ubuntu 16.04:
![image](https://cloud.githubusercontent.com/assets/19424103/22363008/c2dff7c6-e42c-11e6-8ea7-034bf793de63.png)
![image](https://cloud.githubusercontent.com/assets/19424103/22363045/0a5560c8-e42d-11e6-8aa0-f014cd730a67.png)
Probably Windows-only since the Windows menu items look taller.

[2017-01-27 07:19] luixxiul commented on #6791
@bridiver thanks for taking this soon!

[2017-01-27 07:29] luixxiul commented on #6877
BTW I don't like that icons are not aligned on Ubuntu. Can we fix it? / cc: @bradleyrichter

[2017-01-27 07:29] NejcZdovc commented on #6887
I think this can help with integration https://help.ubuntu.com/community/UnityLaunchersAndDesktopFiles#Adding_shortcuts_to_a_launcher

[2017-01-27 07:30] luixxiul commented on #4034
@Liunkae did you install Brave via apt?

[2017-01-27 07:35] NejcZdovc commented on #6724
I think that is really important issue, because right now Brave is not usable for a developers, because right click menu and basic menu is not visible.

[2017-01-27 07:53] Liunkae commented on #4034
@luixxiul I installed via the downloadable .deb file on brave.com.

[2017-01-27 07:56] luixxiul commented on #4034
OK then let's close this if you cannot repro the issue @alexwykoff

[2017-01-27 07:58] luixxiul commented on #6724
@NejcZdovc totally agreed, if you would be able to fix the issue, would you please take it if you don't mind?

[2017-01-27 08:04] luixxiul opened #6889 "automated test failure: Enpass installs"
**Describe the issue you encountered:**

https://travis-ci.org/brave/browser-laptop/builds/195784610#L4323

- [ ]  1) about:extensions Enpass installs when enabled installs:
     WaitUntilTimeoutError: element (.extensionBrowserAction[data-button-value="kmcfomidfpdkfieipokbalgegidffkal"]) still not visible after 10000ms
      at isVisible(".extensionBrowserAction[data-button-value="kmcfomidfpdkfie

[2017-01-27 08:09] luixxiul opened #6890 "automated test failures: Payments Panel"
**Describe the issue you encountered:**

https://travis-ci.org/brave/browser-laptop/builds/195784610#L4331

- [ ]  3) Payments Panel -> Advanced Panel can backup wallet to file:
     WaitUntilTimeoutError: Promise was rejected with the following reason: AssertionError: 'about:' == 'file:'
      at getValue("#urlInput") - ledgerPanelAdvancedPanelTest.js:161:21

- [ ]  4) Payments Panel -> Advanced

[2017-01-27 08:12] luixxiul opened #6891 "automated test failure: payment tab"
**Describe the issue you encountered:**

https://travis-ci.org/brave/browser-laptop/builds/195784610#L4447

- [ ]   16) PaymentsTab component rendering functions renders payment history button:
      AssertionError: 0 == 1
      + expected - actual
      -0
      +1
      at Context.<anonymous> (test/unit/app/renderer/paymentsTabTest.js:114:14)
      at Test.Runnable.run (node_modules/co-mocha/lib

[2017-01-27 08:44] NejcZdovc commented on #6724
@luixxiul right now I have two, three tasks already in my pipeline and honestly I programed my last line of code in C++ at the University, so it's bean a while :smiley:

[2017-01-27 10:03] CliqueBait commented on #6161
+1 from Community.
https://community.brave.com/t/please-support-freebsd-and-derivatives/867

[2017-01-27 10:51] srirambv commented on #1364
+1 from community https://community.brave.com/t/pinch-and-spread-to-zoom/862

[2017-01-27 11:28] srirambv commented on #6869
Overflow indicator is not shown at all when show favicon only is selected its completely hidden. Reimporting the same file puts the folders at the end which shows up the overflow indicator and then behavior changes as reported in issue

Additional QA Steps.
    1. Do a clean install of 0.13.0 RC9
    2. Import large amount of bookmarks so that overflow indicator is shown
    3. Set Text only in se

[2017-01-27 13:15] SilverPin commented on #5387
I second this.

[2017-01-27 14:50] echosa commented on #6881
No different with shields off. In fact, I'd already turned shields off before reloading that taking those screenshots. I forgot to mention that in the initial issue. Sorry about that.

[2017-01-27 15:35] alexwykoff opened #6892 "0.13.0 release checklist"
# Release Process Checklist

Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

## Release Commands
### First-time Setup
1. [ ] `git clone git@github.com:brave/vault-updater && cd vault-updater`
- [ ] `npm install`
- [ ] install the heroku toolbelt https://toolbelt.heroku.com/ , ask @mro

[2017-01-27 15:45] bbondy commented on #5814
Sorry @luixxiul there were 2 invalid RC tags made from master and not dev-channel, I removed them. So the commit now shows the correct info.  It is not in 0.13.0.

[2017-01-27 15:50] bbondy commented on #6872
I'm not certain if the thing we blocked helped or not, maybe it is intermittent and just happened to work when that was blocked?

[2017-01-27 15:51] lukemulks commented on #6872
Investigating now. Should have an update soon.

On Jan 27, 2017 7:50 AM, "Brian R. Bondy" <notifications@github.com> wrote:

[2017-01-27 15:59] bbondy commented on #3836
when doing side by side comparisons, best to ensure it's the same number of tabs, same sites loaded, no extensions unless the check is related to that, fresh profile better unless the check is related to that.

[2017-01-27 16:06] bbondy commented on #6770
howdy mrose, you'll have to pass in props for if it's registered, I'm a bit concerned about a perf problem here though.  Maybe we should  add an event when a protocol is registered and handle it? @bridiver

[2017-01-27 16:11] bbondy commented on #6850
This seems to be because of this problem:
https://github.com/brave/ad-block/issues/33

I'll try to fix for 0.13.1.  @luixxiul given this new info, I think this is a dupe of #6883, if you agree please close one of the 2. Thanks!

[2017-01-27 16:18] #6850 closed

[2017-01-27 16:18] bbondy commented on #6877
maybe due to dpi changes @bsclifton

[2017-01-27 16:21] #6782 closed

[2017-01-27 17:02] mrose17 commented on #6770
@bbondy - i am sensitive to the performance issue. since this code is 90% browser internals and 10% ledger-related, i'd like to have it re-assigned to someone who knows the internals and can make a performant/correct fix.

[2017-01-27 17:19] Liunkae commented on #5454
With the example as above, I cannot reproduce with Brave 0.12.15 on Linux Ubuntu 16.04:
![image](https://cloud.githubusercontent.com/assets/19424103/22380246/51b554b4-e482-11e6-8341-80b48ebf57d1.png)

[2017-01-27 17:34] Liunkae commented on #4013
This is still reproducible with Brave 0.12.15 on Linux Ubuntu 16.04. Here is a comparison:
Brave:
![brave](https://cloud.githubusercontent.com/assets/19424103/22380808/7cfc75ce-e484-11e6-8daf-a531e67b2623.png)

Firefox:
![firefox](https://cloud.githubusercontent.com/assets/19424103/22380809/815cea7c-e484-11e6-9b51-94426e2ab5d7.png)

It appears that Firefox uses a different type of open dialog.

[2017-01-27 18:07] bbondy commented on #6688
released, so closing.

[2017-01-27 18:07] #6688 closed

[2017-01-27 18:07] bbondy commented on #6742
released, so closing.

[2017-01-27 18:07] #6742 closed

[2017-01-27 18:07] bbondy commented on #6743
released, so closing.

[2017-01-27 18:07] #6743 closed

[2017-01-27 18:07] bbondy commented on #6744
released, so closing.

[2017-01-27 18:07] #6744 closed

[2017-01-27 18:16] #6892 closed

[2017-01-27 18:39] Liunkae commented on #6881
Please try again with version 0.13.0 now that it's out.

[2017-01-27 18:47] echosa commented on #6881
Not fixed. Still happening in 0.13.0.

[2017-01-27 18:47] dustinswan commented on #5730
I'm still seeing this in Brave 0.13.0, but only when the Pocket extension is enabled, like @bsclifton said.

I'm running MacOS 10.12.4 Beta on a MacBook Pro (Retina, 13-inch, Late 2012), 2.5 GHz Intel Core i5.

[2017-01-27 18:58] diracdeltas opened #6894 "[hackerone] 201102"
https://hackerone.com/reports/201102

test plan:
1. go to http://xisigr.com/test/spoof/chrome/blob.html
2. click on the first link
3. new tab should say 'about:blank'

[2017-01-27 19:07] Liunkae commented on #403
Still reproducible with Brave 0.13.0 on macOS 10.12.x.

[2017-01-27 19:08] Liunkae commented on #1530
Still reproducible with Brave 0.13.0 on macOS 10.12.x.

[2017-01-27 19:13] Liunkae commented on #6209
I think this was fixed with 24b58cd. Closing.

[2017-01-27 19:13] #6209 closed

[2017-01-27 19:17] lukemulks commented on #6872
Definitely intermittent. Very strange. Digging in further. So far, I think the update helped, but definitely think there are more pieces involved. Will update here once I get to the bottom of it.

[2017-01-27 19:26] Liunkae commented on #1553
No recent reports. Closing.

[2017-01-27 19:26] #1553 closed

[2017-01-27 19:28] Liunkae commented on #3180
Related: #5842

[2017-01-27 19:29] Liunkae commented on #5842
Related: #3180

[2017-01-27 19:32] Liunkae commented on #3461
Is this still a problem?

[2017-01-27 19:35] Liunkae commented on #2287
No recent reports. Closing.

[2017-01-27 19:35] #2287 closed

[2017-01-27 19:42] Liunkae commented on #6610
Looks good with 0.13.0 (Linux Ubuntu 16.04):
![image](https://cloud.githubusercontent.com/assets/19424103/22384977/5619f26c-e496-11e6-843c-9d6f90125569.png)

[2017-01-27 19:43] Liunkae commented on #4021
Is this still a problem?

[2017-01-27 19:47] SilverPuppy commented on #6188
Definitely seems related. Issue still present in latest build downloaded today.

[2017-01-27 19:48] SilverPuppy commented on #5688
Looks related to me. Issue still present as of build downloaded today.

[2017-01-27 20:04] Liunkae commented on #2897
<kbd>Ctrl+Shift+-</kbd> (<kbd>Ctrl+_</kbd>) works fine for me with Brave 0.13.0 on Linux Ubuntu 16.04.

[2017-01-27 20:22] Liunkae commented on #5631
Works for me with Brave 0.13.0 on Linux Ubuntu 16.04:
![image](https://cloud.githubusercontent.com/assets/19424103/22386262/ee9d9606-e49b-11e6-9e28-4cc50fbfd17b.png)

[2017-01-27 20:28] Liunkae commented on #2052
Is this still a problem?

[2017-01-27 20:30] Liunkae commented on #446
Is this still a problem?

[2017-01-27 20:36] Liunkae commented on #446
As of 0.13.0, the text rendering looks the same to me.

Example: https://www.apple.com/newsroom/2017/01/apple-fy-17-first-quarter-results-conference-call.html

Brave:
![image](https://cloud.githubusercontent.com/assets/19424103/22386627/9cdf989e-e49d-11e6-9591-06191351383e.png)

Safari:
![image](https://cloud.githubusercontent.com/assets/19424103/22386693/eb5e9e98-e49d-11e6-8dd6-21a2f8037168.png)

[2017-01-27 20:39] Liunkae commented on #2468
Related: #235 (make builds for 32-bit Linux)

[2017-01-27 20:40] Liunkae commented on #235
Related: #2468 (support 32-bit Linux)

[2017-01-27 20:59] bbondy opened #6895 "Command+Tab with unloaded tabs can have tab switching"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Tab switching can occur if tabbing unloaded tabs

- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS, but should be the same on all OS.

- Brave Version (revision SHA):
Official 0.13.0 release.
https://github.com/brave/browser-laptop/commit/8ca012746331c78c65c91cde07db4b2a6b2b97b8

- Steps

[2017-01-27 21:17] mkb commented on #5843
Fixed for me in 0.13.0. Thanks!

[2017-01-27 21:26] crysman commented on #6446
Not working on my Xubuntu yaketty either, same issue:

[code]

I've followed the official instructions here just now.
I've checked the sources.list (added some comments to it) and it seems fine:
[code]

Importing the key also seems fine:
[code]

Where might be the problem then? :/

[2017-01-27 21:54] echosa commented on #4693
I updated to 0.13.0 earlier today. I'm still seeing YouTube ads. Shields are up. I cleared all my cache/cookies/history, based on previous comments in this issue. Still seeing ads.

[2017-01-27 22:12] mrose17 opened #6896 "remove redundant dateline in contributions PDF"
here is what we have now:

<img width="974" alt="0" src="https://cloud.githubusercontent.com/assets/400552/22389455/729d24fa-e49a-11e6-8b9f-a831ba1ff6e0.png">
the last line was intended to give a timeframe, but is redundant, so remove it!

[2017-01-27 22:20] tfantina commented on #2001
Haven't used Brave in about a month because of this, just updated and I still can't get into GMail.

[2017-01-27 22:30] lukemulks commented on #4693
@echosa can you please provide us with a little more info on the ads you're seeing, and a screenshot (if possible)?

- Are you observing display (static) ads, or is this a video ad you're observing?

- Which OS are you observing this from?

- If possible, can you provide a rough geo-region (doesn't have to be extremely specific, you can even let us know if within the US or outside of the US, but w

[2017-01-27 22:36] jonathansampson commented on #4473
A [user on Twitter](https://twitter.com/Baspower_/status/825097792045666306) also recently ran into this issue.

[2017-01-27 22:43] echosa commented on #4693
It was this video: https://www.youtube.com/watch?v=gneBUA39mnI

I didn't get a screenshot, and viewing the video a second time doesn't show the ad. (That's normal.) When it happens again, I'll try to get a screenshot.

It was a video ad before the actual video. I was able to skip it after 5 seconds, as usual.

OS X 10.11.6

I'm in Texas, so inside the US.

[2017-01-27 22:44] Liunkae commented on #5843
Closing as fixed in 0.13.0.

[2017-01-27 22:44] #5843 closed

[2017-01-27 22:44] Liunkae commented on #4670
Closing as fixed in 0.13.0.

[2017-01-27 22:44] #4670 closed

[2017-01-27 22:44] Liunkae commented on #5748
Closing as fixed in 0.13.0.

[2017-01-27 22:44] #5748 closed

[2017-01-27 22:48] lukemulks commented on #4693
Thanks for the info @echosa! Really appreciate it.

I've just attempted to repro across 20 clips, and am not seeing any ads so far.

Will try from the URL provided and see if we're able to repro from our end. I'm checking from Windows, so I will see if we can get some OS testers to attempt to repro as well.

Do you have Flash enabled in your browser?

[2017-01-27 22:51] echosa commented on #4693
I do have Flash enabled. However, I just tried a few videos myself, using links from other comments in this issue as well as some random videos I could fine, and it looks like the pre-roll ads are being blocked. It looked like, on a couple of videos, I saw the pre-roll ad flash for just a moment before the video started, so it seems like ads are being actively suppressed. Maybe just that one I saw

[2017-01-27 23:06] lukemulks commented on #4693
@echosa Thank you very much for all of the feedback and info.

I've probably gone through ~40 videos by now and have not been able to repro, but do not have flash enabled in Brave.

I'm going to see if I can get a tester in OSX w/flash enabled to repro.

It sounds like based on your description these ads are being actively suppressed over time, which is a good sign.

[2017-01-27 23:33] posix4e commented on #6446
If the deb is verified we'd be happy to add it. Honestly it's just a pull request away
https://github.com/brave/browser-laptop/blob/master/tools/upload_to_aptly
Maybe we should convert it to a single sequence!

[2017-01-27 23:34] posix4e commented on #2468
yarr we can print these

[2017-01-28 00:04] SaffronSnail commented on #3461
I just did a quick check on gmail, and it seems like the issue has been resolved since I posted it.

[2017-01-28 00:08] bitcoinuser opened #6898 "Crash when I try to open Brave"
OS: Ubuntu 64
Brave: 0.13

Terminal message:

leonardo@leonardo-Aspire-V5-471:~$ brave
Crash reporting enabled
An uncaught exception occurred in the main process Uncaught Exception:
RangeError: Maximum call stack size exceeded
    at setListBounds (/usr/share/brave/resources/app.asar/node_modules/immutable/dist/immutable.js:2496:25)
    at /usr/share/brave/resources/app.asar/node_modules/immutable

[2017-01-28 01:43] luixxiul opened #6899 "Specify QA steps for 0.13.2"
**Describe the issue you encountered:**

Specify QA steps for 0.13.2 of the issues which were solved. This is the list of the issues whose QA steps are required;

https://github.com/brave/browser-laptop/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3AQA%2Fsteps-required%20milestone%3A0.13.2%20

- Any related issues: #6688

[2017-01-28 02:41] D-m-L commented on #4502
Was able to install and run RC5 with no errors. Came up with an empty about:error page in the same position and window size as previously.  Browsed to Google and Facebook (without logging in) and their homepages were displayed without error!  Looks like you've squashed this one!

[2017-01-28 03:39] dvigneshwer commented on #4021
I stopped using brave.

Will look download the new build and let you know.

[2017-01-28 03:50] #6621 closed

[2017-01-28 04:51] ayumi opened #6901 "alert() popups should appear below tabs"
- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:
JS `alert()` messages appear above the [Line of Death](https://textslashplain.com/2017/01/14/the-line-of-death/), suggesting that alert messages are triggered by Brave the browser and not the webpage.
- Platform (Win7, 8, 10? macOS? Linux distro?):
MacOS 10.11.6
- Brave Version (revision SHA):

[2017-01-28 06:06] bradleyrichter commented on #6901
+ 1 for inter-mockup humor

[2017-01-28 06:12] bradleyrichter commented on #6863
We don't need to display the :no_entry_sign: icon since the ability to drop is indicated by the tab movement.

[2017-01-28 06:36] Liunkae commented on #3461
Great! Closing.

[2017-01-28 06:36] #3461 closed

[2017-01-28 06:48] Liunkae commented on #1322
Is this something that needs to be fixed on the Muon side?

[2017-01-28 06:52] Liunkae commented on #6901
Related issue: #2755 (prevent js alert spoofing attacks)

[2017-01-28 06:55] Liunkae commented on #4502
Multiple reports that this problem is fixed. Closing as fixed in 0.13.0.

[2017-01-28 06:55] #4502 closed

[2017-01-28 07:01] Liunkae commented on #4348
I'll do another clean.

[2017-01-28 07:25] Liunkae commented on #2714
Still a problem with Brave 0.13.0. Can we set a milestone for this?

[2017-01-28 11:31] luixxiul commented on #6863
but actually I cannot drop the tab there and that's exactly the issue I think which should be fixed.

[2017-01-28 11:41] luixxiul commented on #6869
Yes I confirm it on Windows 10 64 bit

[2017-01-28 12:54] ntilotta opened #6902 "Brave won't start [sandbox]"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Brave won't start

- Platform (Win7, 8, 10? macOS? Linux distro?):
Debian 9 (Testing) Kernel 4.9

- Brave Version (revision SHA):
Brave 0.13.0 808997e

- Steps to reproduce:
1. Just try to open Brave

- Actual result:
Brave won't start

- Will the steps above reproduce in a fresh profile? If

[2017-01-28 13:22] bbondy opened #6903 "Update LastPass on our extension server"
Please retest basic functionality because we pulled in the new version.

Component: LastPass (hdokiejnpimakedhajhdlcegeplioahd)
Chrome store: 4.1.38.67
Brave store: 4.1.35.54
SHA 256: 5cc976ce25cade525dba036b29fa5d6711be2df4f99744d6ac7ad3384e98ceeb

[2017-01-28 13:22] #6903 closed

[2017-01-28 14:33] luixxiul commented on #6903
@bbondy do we need QA?

[2017-01-28 15:15] jhreis opened #6905 "Command+E (⌘+E) does not "Use Selection for Find""
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:

On macOS most applications (e.g. Safari, Chrome, Firefox, Xcode, Numbers) Command+E uses the selected text for searching. I.e. it opens the finding menu, and fills the selected text into the search box. This is often paired with ⌘+G which Brave _does_ currently support (hitting ⌘+E then usin

[2017-01-28 15:21] bbondy opened #6906 "Add enpass as an extension"
- [ ] Update component updater
- [ ] Update muon

[2017-01-28 15:38] #6906 closed

[2017-01-28 15:41] bbondy commented on #6906
https://github.com/brave/muon/commit/dc56987a36a027765221784463e77d8fe3767b90
https://github.com/brave/vault-updater/commit/79c9cad11ced12b7b0cda14b5e970c2d5d745a84

[2017-01-28 15:42] bbondy commented on #5097
Yan confirmed on Slack it was ok.
vault-updater and muon support for this added in this issue.
https://github.com/brave/browser-laptop/issues/6906

[2017-01-28 15:42] bbondy commented on #6906
no qa needed because it will be handled inside of https://github.com/brave/browser-laptop/issues/5097 and this is just a supporting issue to that.

[2017-01-28 17:16] #6685 closed

[2017-01-28 17:28] psmalone opened #6907 "Command-click opens tab at far right of window, not adjacent"
- Did you search for similar issues before submitting this one?

Yes

- Describe the issue you encountered:

I want to open a link in a new tab. Doing so from the context menu opens the tab immediately to the right, as expected, even if there are other tabs to the right. Doing so with the command-click keyboard shortcut opens the new tab at the far right of the window.

- Platform (Win7, 8, 10? ma

[2017-01-28 17:30] #6568 closed

[2017-01-28 17:34] #4879 closed

[2017-01-28 18:21] CliqueBait opened #6908 "Pepper Flash Plugin no longer works after update to v0.13.0 (Linux)"
Pepper Flash Plugin no longer works after update to v0.13.0.

I tried repeating the troubleshooting steps from the wiki but to no avail.
Reverting back to v0.12.15 works just fine.

I'm going to go back to using v0.12.15 for the time being but feel free to ask me to test any possible fixes.

Name	Version
Brave	0.12.15
Muon	1.4.31
libchromiumcontent	53.0.2785.143
V8	5.3.332.47
Node.js	6.5.0
Update

[2017-01-28 18:22] luixxiul commented on #6908
I notice the same thing on Windows 10 64 bit on http://hulu.jp

[2017-01-28 18:33] pinaf opened #6909 "Brave won't start: Uncaught Exception"
- Did you search for similar issues before submitting this one?
Yes.

- Describe the issue you encountered:

Brave won't start after upgrade to 0.13.0. Uncaught Exception.

[code]

- Platform (Win7, 8, 10? macOS? Linux distro?):
Linux MInt 17.2 Cinnamon 64-bit

- Brave Version (revision SHA):
0.13.0

- Steps to reproduce:
    1. Simply start brave. If launched through a terminal, the error message

[2017-01-28 19:02] bbondy commented on #6863
I don't have a 🚫 icon either, do you think you can find out why you have it @luixxiul so that others can reproduce better? Thanks. Moving to 0.13.2 for now.

[2017-01-28 19:05] bbondy commented on #6807
It seems like you understand the issue well @luixxiul, would you mind doing a PR for it?

[2017-01-28 19:24] bbondy commented on #6610
@srirambv since @Liunkae said it's working I'll close this, but leave in this milestone for testing. If it's still broken please just push it to a future milestone and re-open. Thanks!

[2017-01-28 19:24] #6610 closed

[2017-01-28 19:26] bbondy commented on #6650
How many ads and trackers do you have?

[2017-01-28 19:27] bbondy commented on #6650
@bradleyrichter this seems like just a UX issue because the next hour limit isn't attained very easily but people still want to see progress.  Removing milestone for now though since I don't believe it to be a bug, but I'd like it to be improved though.

[2017-01-28 19:37] bbondy commented on #6898
Would you be able to send your `~/.config/brave/session-store-1` file, or email it to brian@brave.com if there is any sensitive information? I assume it can be reproduced every time you start?

[2017-01-28 19:44] bbondy commented on #6889
This will pass again as soon as electron builds are made.

[2017-01-28 20:05] bradleyrichter commented on #6650
Heh. We will need add minutes.

[2017-01-28 20:06] Liunkae commented on #5631
The problem appears to be fixed. Closing.

[2017-01-28 20:06] #5631 closed

[2017-01-28 20:07] Liunkae commented on #5454
The problem appears to be fixed. Closing.

[2017-01-28 20:07] #5454 closed

[2017-01-28 20:09] Liunkae commented on #4034
Closing for now.

[2017-01-28 20:09] #4034 closed

[2017-01-28 20:13] Liunkae commented on #2897
<kbd>Ctrl+-</kbd> is working for me also. Closing for now.

[2017-01-28 20:13] #2897 closed

[2017-01-28 20:27] bbondy opened #6911 "Fix disabled ledger / payments panel tests"
#6890

/cc @willy-b @bsclifton @mrose17

Ledger Payments advanced panel tests are failing consistently so I had to disable them. Please cleanup as soon as possible.  I would have reverted instead but there were too many dependent commits after it.

Ledger tests are failing consistently so I reverted just the tests for now.

I also noticed some problems with the tests so the changesets probably sho

[2017-01-28 20:35] bbondy commented on #6889
Disabled here:
https://github.com/brave/browser-laptop/commit/5f977f98d2b2ca7ba2bd79766583a91d56a5032d

I'll keep this open and in this milestone for tracking.  We should be able to close this and revert that commit once we have new muon builds.

[2017-01-28 20:39] jhreis commented on #6907
This is especially confusing when the furtherest right tab space is in a different tab group than the active tab, since there is visual feedback/response.

[2017-01-28 20:41] bbondy commented on #6748
You're right @luixxiul I must have been searching the wrong repo or something.

[2017-01-28 21:15] bitcoinuser commented on #6898
Hi, ok, I'll send you the file now

[2017-01-28 21:18] bitcoinuser commented on #6898
File sent.

Any idea what is happening?

[2017-01-29 00:28] mspaulding06 opened #6912 "Get Flashplayer URL not intercepted"
- Did you search for similar issues before submitting this one?

Yes.

- Describe the issue you encountered:

When using VMWare VCenter the link to get flashplayer is not intercepted by Brave.

- Platform (Win7, 8, 10? macOS? Linux distro?):

macOS 10.12.3

- Brave Version (revision SHA):

0.13.0 (8ca0127)

- Steps to reproduce:
    1. Go to a VCenter login page
    2. Click the link to download f

[2017-01-29 02:50] luixxiul commented on #3358
A request for the password importer: https://community.brave.com/t/how-to-import-password-from-firefox/897

[2017-01-29 02:52] luixxiul commented on #6909
We got another report here: https://community.brave.com/t/brave-0-13-not-starting-on-ubuntu-14-04/902

[2017-01-29 03:06] mrose17 commented on #6896
Closed in response to useful feedback!

[2017-01-29 03:23] luixxiul commented on #6453
I haven't noticed it for a while

[2017-01-29 03:23] #6453 closed

[2017-01-29 06:22] JeffStarr opened #6913 "Multiple home page URLs stopped working - "Your file was not found""
This worked great before the last update. Here is an example of the syntax that worked before:

file:///start.html||https://start.duckduckgo.com/|https://google.com/|https://bing.com/|...

That syntax is common way to specify multiple home page tabs in browsers.

Suddenly it stopped working in version 0.13.0; no home tabs load, only an error tab that says:

Your file was not found
It may have been

[2017-01-29 06:28] JeffStarr commented on #6913
Updated to add that the error is different depending on the URLs specified in the "My home page is" setting. If the setting (using vertical pipes to specify multiple URLs) begins with a local file, the "Your file was not found" error is displayed. Otherwise, if the setting begins with an HTTP address, like https://google.com, then the error isn't displayed, but only one tab loads up the entire URL

[2017-01-29 07:28] ahmetasabanci commented on #6446
As a workaround to yakkety being not supported, I went to `/etc/apt/sources.list.d/brave-yakkety.list` in my system and changed

`deb [arch=amd64] https://s3-us-west-2.amazonaws.com/brave-apt yakkety main`

to

`deb [arch=amd64] https://s3-us-west-2.amazonaws.com/brave-apt xenial main`

and it installed without any problem and seems like works fine so far. Guess Xenial version doesn't have so much

[2017-01-29 07:59] luixxiul commented on #6912
@diracdeltas could you confirm?

[2017-01-29 08:24] bsclifton commented on #6650
Updated the title 😄  It would be good if (whatever the unit is), the next smallest unit could be used as a decimal.  Like 2.5 hours.  Truncating it to "2 hours" is definitely confusing and has caught me making faces like 🤔

[2017-01-29 10:31] luixxiul opened #6914 "tab is scrollable to above with 2 fingers on MBP trackpad"
**Describe the issue you encountered:** tab is scrollable to above with 2 fingers on MacBook Pro trackpad.

![scroll](https://cloud.githubusercontent.com/assets/3362943/22403389/e723aa1e-e658-11e6-8f68-e67cb5ce3e33.gif)

- Platform (Win7, 8, 10? macOS? Linux distro?): macOS

- Brave Version (revision SHA): 0.13.0

- Steps to reproduce:
    1. Open a new tab
    2. Open https://github.com or any pa

[2017-01-29 17:35] luixxiul commented on #6914
I found that it was not the issue how early you would scroll the page.

[2017-01-29 17:44] lifeinchords commented on #1547
Seeing high CPU 50-60% in Brave, with many tabs open (15-20) over 2 windows. How do I single out which is offending tab? This would be a huge help.

[2017-01-29 17:47] Liunkae commented on #6914
Actually, scroll bounce every time you scroll past the page bounds is the intended behavior on macOS (#4520; see Safari's behavior). Right now, it only works once per tab (this was introduced with 0.13.0/Chromium 54 for some reason).

[2017-01-29 17:52] Liunkae commented on #6913
I can reproduce with 0.13.0 on macOS 10.12.x. I think the pipe `|` is being encoded as part of the URL.

[2017-01-29 17:59] Liunkae commented on #6913
@bsclifton Could this have been caused by #6086?

Also, do we have any automated tests for multiple home pages?

[2017-01-29 18:03] luixxiul commented on #6914
But you should not be able to scroll the page which does not have the scroll bar right?

[2017-01-29 18:09] luixxiul commented on #6914
@bbondy so wontfix?

[2017-01-29 20:54] diracdeltas commented on #6912
@mspaulding06 could you send a link where this is happening? also is Flash enabled in Preferences?

[2017-01-29 21:33] ralesk opened #6915 "AltGr treated as Ctrl+Alt in Win32"
There's a very sad legacy in the Windows API which makes the <kbd>AltGr</kbd> key appear as if <kbd>Left Ctrl</kbd> and <kbd>Right Alt</kbd> had been pressed simultaneously.  This sets Windows apart from every other OS in that handling the Third Level is utterly broken in it unless desktop and web site programmers pay attention to get around it.

The actual issue I noticed while running version 8c

[2017-01-29 21:44] ralesk commented on #623
I think this is related: Unlike every other application with a menu bar, there seem to be no keyboard shortcuts for the main menu items (such as **F**ile, **E**dit, etc.) – on Windows (and on Linux) it is normal to access an item in the menu bar with <kbd>Alt</kbd> + the underlined character.  Tapping <kbd>Alt</kbd> on its own only seems to be a thing on Windows, to focus the menu bar (generally d

[2017-01-29 22:56] JMccormick264 commented on #5577
trying this now. sorry for the delay

[2017-01-29 23:09] mspaulding06 commented on #6912
Sadly, I cannot provide a link since it is an internal server for my company.  Yes, I verified that Flash was downloaded through Brave and enabled properly.  If there's any other information I can gather for you let me know.

[2017-01-30 00:13] bsclifton commented on #6913
@Liunkae no, I don't believe it was caused with that.  If I had to guess, I would think maybe it was caused by the encodeURI in https://github.com/brave/browser-laptop/pull/6404

cc: @NejcZdovc

[2017-01-30 00:23] bsclifton commented on #5971
reverted here https://github.com/brave/browser-laptop/commit/2aa39bb1073fe8bb40d9fc32d18fdd2ea9cee1d5

Let's re-open the issue with a better approach if we'd like to solve something like this. Thanks 😄

[2017-01-30 00:33] bsclifton commented on #6528
This was fixed after we resolved manual merge issues

See
revert of many 0.13.1 branch changes - https://github.com/brave/browser-laptop/commit/4de7cf4d6c15cf378ac58b98b3062abb4485eb5f
proper merge of all 0.13.1 changes - https://github.com/brave/browser-laptop/commit/af368d3caaf5038bcd33252b72a3ad023dd72280
fix for this issue specifically - https://github.com/brave/browser-laptop/commit/ad2cd843a

[2017-01-30 00:33] #6528 closed

[2017-01-30 00:54] #6891 closed

[2017-01-30 00:55] luixxiul commented on #6912
Maybe this is the same case: https://community.brave.com/t/flash-wont-work-on-my-kids-aqworlds-game-site/916 @diracdeltas

[2017-01-30 00:55] bsclifton commented on #6911
Fixed https://github.com/brave/browser-laptop/commit/897cebb209995d56b2bcda1e307f0ddd1935524d with https://github.com/brave/browser-laptop/pull/6916

[2017-01-30 01:00] bsclifton commented on #6877
good call on the DPI issue... since it shows in a native popup control though, I would guess it's correct. Definitely needs some investigation.

If you can estimate a release for this to go in, please assign it one (and then we'll be able to start looking at it accordingly).  Otherwise, let's add it to our backlog.  Might be handy to have a DPI tag too- I'll create one and tag this issue with it

[2017-01-30 01:09] JMccormick264 commented on #5577
Update. Been trying to solve the issue. The installation is seemingly stopping half way through. I have tried Clean uninstalling it with iObit Uninstaller. Restarting my computer. It is not finishing to install.

Here is what I see
After it seeming to pause, I closed it and tried to re-do the install. First error box I got was this http://i.imgur.com/O7ECWuN.png

Next after clicking "ok" I get thi

[2017-01-30 02:02] diracdeltas commented on #6912
@mspaulding06 just to confirm, if you go to pandora.com or myspace.com and click on the 'get flash' link in the banner, does that at least work?

[2017-01-30 03:05] kspearrin commented on #4776
Available on chrome web store here: https://chrome.google.com/webstore/detail/bitwarden-free-password-m/nngceckbapebfimnlniiiahkandclblb

[2017-01-30 03:39] lukemulks opened #6917 "Site-level ad blocking evasion (submitted by community) | expressen.se & aftonbladet.se"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Filed from a Community user.
Link to Community:
https://community.brave.com/t/websites-showing-ads-even-with-all-adblock-filters/908

"Two Swedish sites are still showing ads with adblock on, i have tested with all filters on the desktop version of brave and it still shows ads. There are no a

[2017-01-30 03:47] luixxiul commented on #6799
This cannot be reproduced so I'm going to close this

[2017-01-30 03:47] #6799 closed

[2017-01-30 04:09] mspaulding06 commented on #6912
Yes, using pandora.com I get prompted if I would like to allow the use of flash and everything works.  I will note that the get flash player link is different than the one used by VMWare.

Pandora.com's link: https://get.adobe.com/flashplayer/
VMWare's link: http://www.adobe.com/go/getflashplayer

Does that not make a difference?  Are both supposed to be intercepted by Brave?

According to the Bra

[2017-01-30 04:22] luixxiul commented on #6912
Actually clicking the latter link displays the notification bar for me on 0.13.0 on Windows 10.

[2017-01-30 05:36] Shadowehh opened #6919 "Various issues"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Various:
►Mouse does not lock into place on sites that use this feature
►Mouse does not hide in sites such as YouTube when hovering over a video when leaving the mouse idle after a bit
►Tabs switch back and fourth when opening a webpage on a new tab and then opening it while it is loading

-

[2017-01-30 05:49] diracdeltas commented on #6912
it depends on how the 'Get adobe flash player' button is. if it's an element without an `href` attribute, the interception will fail (ex if it uses window.open onclick instead of href).

[2017-01-30 05:56] bsclifton commented on #6861
@swest100 if you haven't tried it yet, the work-around should be as easy as adding `--disable-gpu` to the shortcut. Basically, you'd run the following steps:
1. Right click the Brave shortcut and pick properties
2. In the `Target` area, paste in `--disable-gpu` at the end
3. Click Apply and close the window
4. Launch the shortcut you just changed

Screenshot:
![screen shot 2017-01-29 at 10 53 40 p

[2017-01-30 06:11] bsclifton commented on #5513
Very specifically, we should have a shortcut (bundled if possible) that launches with the `--disable-gpu` parameter.  We should also consider tying our hardware acceleration parameter to this too

[2017-01-30 06:15] bsclifton commented on #6807
@luixxiul I created a wiki entry which you could continue adding to 😄
https://github.com/brave/browser-laptop/wiki/Troubleshooting#window-is-solid-black-or-solid-white-looks-like-a-blank-page

I only specified the steps for Windows. Perhaps you can find easy to follow steps for macOS and Linux?

[2017-01-30 06:41] bsclifton commented on #6022
@DivineOmega your best bet would be updating your shortcut to launch with `--ignore-gpu-blacklist`.  We're working on a wiki entry which has more info:
https://github.com/brave/browser-laptop/wiki/Troubleshooting#window-is-solid-black-or-solid-white-looks-like-a-blank-page

(feel free to share steps for Linux if it works for you)

[2017-01-30 06:49] bsclifton commented on #3663
I've created a [brand new wiki entry](https://github.com/brave/browser-laptop/wiki/Troubleshooting#window-is-solid-black-or-solid-white-looks-like-a-blank-page) which I hope helps 😄  Folks, can you please try the following steps for me?

1. Install latest version of Brave (as of now, this is 0.13.0)
2. See if you have the issue; Chromium always includes bug fixes which may resolve the issue
3. If

[2017-01-30 06:50] bsclifton commented on #6022
cc: @Sileax in case you wanted to try the above step too! 😄

[2017-01-30 06:54] bsclifton commented on #1471
Thanks everybody for testing the above command-line options.  Based on the input here, we've created a [brand new wiki page](https://github.com/brave/browser-laptop/wiki/Troubleshooting#window-is-solid-black-or-solid-white-looks-like-a-blank-page). Please feel free to comment here or also update the wiki with your notes

Since we don't auto-detect this situation and remedy, I'll leave this issue o

[2017-01-30 07:01] bsclifton commented on #3787
I've created a [brand new wiki entry](https://github.com/brave/browser-laptop/wiki/Troubleshooting#window-is-solid-black-or-solid-white-looks-like-a-blank-page) which I hope helps 😄  Folks, can you please try the following steps for me?

1. Install latest version of Brave (as of now, this is 0.13.0)
2. See if you have the issue; Chromium always includes bug fixes which may resolve the issue
3. If

[2017-01-30 07:03] bsclifton commented on #4113
I've created a [brand new wiki entry](https://github.com/brave/browser-laptop/wiki/Troubleshooting#window-is-solid-black-or-solid-white-looks-like-a-blank-page) which I hope helps 😄  Folks, can you please try the following steps for me?

1. Install latest version of Brave (as of now, this is 0.13.0)
2. See if you have the issue; Chromium always includes bug fixes which may resolve the issue
3. If

[2017-01-30 07:04] NejcZdovc commented on #6913
@bsclifton I tried locally reverting this commit and this is not a cause for this problem. This commit/function is executed only on event `drop`.

[2017-01-30 07:07] bsclifton commented on #6807
I've updated the list of issues (captured in the original post and also in the wiki entry).  In each of those, I added the `bug/driver` label and then made sure there is documentation of the command line parameter in each. I've also asked our users to re-test using these steps and get back to us.

@luixxiul there are probably more issues open too regarding this. I'm not sure if we should close the

[2017-01-30 07:07] swest100 commented on #6861
It worked!

Thank you.

On Sun, Jan 29, 2017 at 10:56 PM, Brian Clifton <notifications@github.com>
wrote:

[2017-01-30 07:10] #6861 closed

[2017-01-30 07:11] mspaulding06 commented on #6912
Well, it probably has something to do with the way the page is providing the link then.  If I click on the link I provided in the comment above it prompts me to run flash player like it should.  But that same link from VCenter does not work.  I noticed that there seem to be a lot of redirects happening when I click the link from VCenter.  Not sure if that matters at all.

![redirects](https://clou

[2017-01-30 07:18] bsclifton commented on #5553
Closing as a duplicate of https://github.com/brave/browser-laptop/issues/3110

[2017-01-30 07:18] #5553 closed

[2017-01-30 07:22] bsclifton commented on #6913
Thanks for checking that out, @NejcZdovc! 😄

We'll need to investigate further to determine what changed.  It's important to note that we never explicitly enabled this functionality (it just "worked").  The feature itself is captured with https://github.com/brave/browser-laptop/issues/3110

[2017-01-30 07:27] bsclifton opened #6920 "Picking "Brave starts with 'home page'" incompatible with "a new tab shows 'Dashboard'""
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
When you go to preferences, you can set the following:
-Brave starts with: "Home page"
-A new tab shows: "Dashboard"

With these set, the browser will launch with a new tab page shown, not your home page.

![pasted image at 2017_01_30 08_07 am](https://cloud.githubusercontent.com/assets/95744

[2017-01-30 07:35] bsclifton commented on #6861
@swest100 I just noticed after writing this that you may want to try this option instead (since disable GPU is more extreme and may completely disable all acceleration):
`--ignore-gpu-blacklist`

[2017-01-30 07:54] bsclifton commented on #5577
@JMccormick264 can you try running the installed as Administrator? I'm thinking that you must have the dependencies installed using your admin account and it's not able to escalate properly

You should be able to do this by right clicking and picking `Run as Administrator` (has the shield icon).  Let us know if this works 😄

[2017-01-30 08:28] bsclifton commented on #4601
@darkdh is this issue fixed in 0.13.0?

[2017-01-30 08:44] jorgheymans opened #6921 "stats are all 0"
- Did you search for similar issues before submitting this one?
yes
- Describe the issue you encountered:
stats are not calculated

- Platform (Win7, 8, 10? macOS? Linux distro?):
win7
- Brave Version (revision SHA):
was on latest 0.12 until today, now just upgraded to latest 8ca0127 it made no difference
- Steps to reproduce:
    1. just installed brave, used it for a couple of weeks on many site

[2017-01-30 09:23] srirambv commented on #6877
@bbondy @bsclifton The captured image is on 125% DPI. It looks proper only on 100% DPI. Anything above the image looks pixelated like in the screenshot.

[2017-01-30 09:43] srirambv commented on #6908
I see allow notification on http://hulu.jp on Win 10 x64 with flash enabled (browser upgrade from 0.12.15 to 0.13.0)
![image](https://cloud.githubusercontent.com/assets/17010094/22418308/63e77bee-e6d0-11e6-871a-427e1f525b88.png)

[2017-01-30 10:03] esamson commented on #6920
It seems this happens for any choice of "A new tab shows". Whatever I choose there is the one Brave starts with.

[2017-01-30 10:24] NejcZdovc commented on #6920
Yes, the problem here is that "Brave starts with" is completely ignored

[2017-01-30 10:27] luixxiul commented on #6908
@srirambv yes I see it too. Please continue to play a stream and see if it is played successfully

[2017-01-30 10:45] luixxiul commented on #6908
Another report here: https://community.brave.com/t/enable-software-update-in-linux/922/2?u=suguru

[2017-01-30 10:48] srirambv commented on #6912
+1 from community. https://community.brave.com/t/flash-wont-work-on-my-kids-aqworlds-game-site/916
Page redirects to adobe page for download instead of showing allow notification.

![image](https://cloud.githubusercontent.com/assets/17010094/22420290/afc194ce-e6d9-11e6-86ac-b5b9e2eef8dc.png)

[2017-01-30 11:51] bradleyrichter commented on #6877
It appears that the icons are being scaled up instead of utilizing the larger icon within the extension data file. @srirambv Can you compare this to the toolbar button behavior at the same resolutions?

[2017-01-30 12:14] darkdh commented on #4601
It's been fixed in 0.13.0. Thanks for the reminding.

[2017-01-30 12:14] #4601 closed

[2017-01-30 12:19] NejcZdovc commented on #6913
And a side note, this is not related to the file in the url, same problem occure if you use multiple pages

[2017-01-30 12:33] srirambv commented on #6877
@bradleyrichter The toolbar button is same on all resolutions. The image set uses both 1x and 2x images and there is no change in the icon resolution(looks good on all resolution)

[code]

[2017-01-30 12:44] srirambv commented on #6913
@bsclifton @NejcZdovc  here's what I found
1. Multiple home pages is not recognized and opened in individual tabs only on browser launch
2. Clicking on home button (with only web links set) opens all the sites in individual tabs
3. If only a file is set as home page, clicking home button loads the file but doesn't load the file on browser launch
4. Local file and web pages set as home page(like ab

[2017-01-30 12:53] srirambv commented on #6913
This shows only when the new tab is set to homepage. Like @Liunkae said | is parsed into `%7C`. But if the new tab is set to dashboard it loads the files and the sites

[2017-01-30 13:46] NejcZdovc commented on #6913
Will cover all scenarios that you listed above in #6922

[2017-01-30 15:36] JMccormick264 commented on #5577
I tried that and it installed, but still won't open. I do get tasks in Task Manager that get opened, but no browser opening http://i.imgur.com/2T12xMU.png

[2017-01-30 15:38] echosa opened #6923 "Deezer doesn't have HTML5 option"
- Did you search for similar issues before submitting this one?

Yes

- Describe the issue you encountered:

Not sure if this is something that Brave can fix or not. In Safari and Chrome, Deezer gives me the option to use an HTML5 player. Brave, does not. The option is completely missing. See screenshots.

- Platform (Win7, 8, 10? macOS? Linux distro?):

OS X 10.11.6

- Brave Version (revision SHA

[2017-01-30 15:39] JMccormick264 commented on #5577
If you have any debugging tools/information gatherers, I am totally okay with running those. Whatever you think may help, I can do. I don't mind the sharing of information

[2017-01-30 15:47] echosa commented on #4693
@lukemulks Ok, I just had an ad on YouTube again. Shields up. I got a screenshot that shows the URL, the ad, and the fact that shields are, indeed, up.

<img width="1305" alt="screen shot 2017-01-30 at 9 43 33 am" src="https://cloud.githubusercontent.com/assets/133786/22429686/0a49785c-e6d1-11e6-869a-70a7b3289171.png">

[2017-01-30 15:54] Rasmis commented on #3053
Can we expand this issue / feature-request / enhancement to also cover “**editing and deleting the included search engines**”?

Like [peterjohn on brave.com](https://community.brave.com/t/more-search-engines-customizable-search-engines-with-engine-go/672) I use websites in different languages with different *keywords*. Eg. `wde` (de.wikipedia.org), `wfr` (fr.wikipedia.org), `a` (amazon.co.uk), `ad

[2017-01-30 16:07] bsclifton commented on #5577
@JMccormick264 awesome- glad to hear it installed 😄   Maybe you can now also try editing the shortcut.  Right click, pick properties... you should be on the shortcut tab

Now click the advanced button and check `Run as administrator` and click OK.  Give this a shot and let us know if it works 😄
![screen shot 2017-01-30 at 9 05 17 am](https://cloud.githubusercontent.com/assets/4733304/22430383/480c

[2017-01-30 16:07] dignifiedquire opened #6924 "GA & waffle.io breaks with default settings + Japanese blocklist"
- Describe the issue you encountered: Visiting https://waffle.io/ipfs/jenkins (and other waffle.io projects) results in a blank screen
- Platform (Win7, 8, 10? macOS? Linux distro?): `macOS 10.12.3`
- Brave Version (revision SHA): `719b6f89fc81ae65c4162cfcb4daba17423897ef` (`master`)
- Steps to reproduce:
    1. Visit https://waffle.io/ipfs/jenkins
    2. See blank screen
- Actual result: waffle.i

[2017-01-30 16:11] lukemulks commented on #4693
Thank you @echosa - we had some additional team members on OS X attempt to reproduce on Friday, and were unable to. I am going to dig in further and attempt to reproduce (and inspect the player config in case for some reason there may have been a change post-update).

Aside from your valuable feedback, we have only had one additional case where someone reported seeing a YT ad since the update push

[2017-01-30 16:12] dignifiedquire opened #6925 "Uploading images on Github "New Issue" fails"
- Describe the issue you encountered: When either dragging and dropping or selecting an image to be uploaded to a github issue, there will be an error from Github saying that it was not able to upload the image.
- Platform (Win7, 8, 10? macOS? Linux distro?): `macOS 10.12.3`
- Brave Version (revision SHA): `719b6f89fc81ae65c4162cfcb4daba17423897ef` (`master`)
- Steps to reproduce:
    1. Visit htt

[2017-01-30 16:13] bsclifton commented on #6760
Reverted with https://github.com/brave/browser-laptop/commit/07451654a72e8f6f292d5f045bd513d41a4e4ce3

[2017-01-30 16:16] JMccormick264 commented on #5577
I will do that when I get home. Unfortunately I had to leave for school. I will set a reminder so I don't forget!

[2017-01-30 16:18] echosa commented on #4693
FYI: I just went back to the video to get a screenshot of the shield settings, and I got the same ad again, so it's happened twice.

All of your bullet points look good. I'd add one more in, just in case it matters. I'm watching the video in Theater Mode, as you can see. Also, keep in mind I'm on OS X 10.11.6, not macOS 10.12.x.

Here are the screenshots you asked for:

<img width="502" alt="scree

[2017-01-30 16:19] maverick74 commented on #886
What i would REALLY LIKE would be to be able to Customize Brave's UI like i do in Firefox!!!
E.g.: Pick the reload button and move it to the right side of the URL bar. Or do the same thing with the Reload button.

I would also like the bookmarks bar to show Favicons.

Any chance for any of this two requests?! (Customize the UI is a must-have for me!)

[2017-01-30 16:20] maverick74 commented on #2386
What i would REALLY LIKE would be to be able to Customize Brave's UI like i do in Firefox!!!
E.g.: Pick the reload button and move it to the right side of the URL bar. Or do the same thing with the Reload button.

I would also like the bookmarks bar to show Favicons.

Any chance for any of this two requests?! (Customize the UI is a must-have for me!)

[2017-01-30 16:28] NejcZdovc opened #6926 "Multiple pages"
- Did you search for similar issues before submitting this one?
Yes, didn't found anything
- Describe the issue you encountered:
If you click on wiki link in `about:preferences#security`, two tabs are opened
- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS
- Brave Version (revision SHA):
0745165
- Steps to reproduce:
    1. Settings > Security > Plugin Settings
    2. Click on wiki link

- Ac

[2017-01-30 16:28] bsclifton commented on #3160
@EuNlope @wixster We included some performance in 0.13.0 (released Friday).  You may try Brave again and see if it performs any better.

Loading time is likely not much better, but there were some improvements.  We still have more work to do there which you can track with https://github.com/brave/browser-laptop/issues/3025.  We'll be addressing this very soon

[2017-01-30 16:29] bsclifton commented on #4066
@ayumi this may be fixed now... would you be able to retest? 😄

[2017-01-30 16:30] cezaraugusto opened #6927 "Tab title is not updated if you switch back using back button"
- Did you search for similar issues before submitting this one?
yes

- Describe the issue you encountered:
Tab's title is not updated using urlbar back button. It keeps last accessed tab title

- Platform (Win7, 8, 10? macOS? Linux distro?):

- Brave Version (revision SHA):
07451654a72e8f6f292d5f045bd513d41a4e4ce3

- Steps to reproduce:
    1. Open a new tab
    2. Go to https://brave.com
    3. C

[2017-01-30 16:33] bsclifton commented on #698
@ktd99 sorry for the long response- Are you able to try to upload via drag and drop? Just drag the image onto the window and it should work

[2017-01-30 16:33] NejcZdovc commented on #6926
Can't reproduce it anymore, it looks like there was something wrong with dev server. After restarting everything was fine.

[2017-01-30 16:33] #6926 closed

[2017-01-30 16:43] lukemulks commented on #4693
@echosa thanks for the screenshots and addt'l info. Will work to repro to these same conditions and follow up.

[2017-01-30 16:49] NejcZdovc commented on #6913
@srirambv Can you please check out #6922 if everything is fine. The only thing missing in this PR are tests, other then that it should be done. Thank you

[2017-01-30 16:52] srirambv commented on #4977
+1 from community https://community.brave.com/t/disable-top-sites-in-url-bar/930

[2017-01-30 16:52] cezaraugusto commented on #6927
root cause 6423cea2d29439f94979773b1b95dc48cfb1e375

/cc @bbondy

[2017-01-30 16:55] wixster commented on #3160
brian ~
thanks for letting me know....i updated the latest version, and 2b honest, it SEEMS to be loading a tad quicker....im gonna keep testing it...
anyway thanks for the update, and please continue the good work. 
the loading time should be treated as a big deal...and it looks like you guys are treating it as such....  ;)
thanks again...look 4ward to more news from ya
wixster

 On Monday, Janua

[2017-01-30 17:26] bradleyrichter commented on #4977
we just need to provide one more toggle here:

![image](https://cloud.githubusercontent.com/assets/13509546/22433670/0315fe96-e6ce-11e6-8d81-c910f4cb73b5.png)

"Show top site matches"

[2017-01-30 17:26] Liunkae commented on #2386
@maverick74 For no. 2, you can adjust the bookmarks bar in Settings > General > Bookmarks Bar. Screenshot:
![image](https://cloud.githubusercontent.com/assets/19424103/22433689/d82ee696-e6de-11e6-88af-56c50202e783.png)

[2017-01-30 17:29] swest100 commented on #6861
Thanks again Brian.

Ironically I just did another Brave update and it works perfectly without
the work around.

Go figure.

Sure appreciate your help.

On Mon, Jan 30, 2017 at 12:35 AM, Brian Clifton <notifications@github.com>
wrote:

[2017-01-30 17:31] Liunkae commented on #6925
All three image upload options on GitHub work fine for me with Brave 0.13.0 on macOS 10.12.3.

[2017-01-30 17:32] bsclifton commented on #6861
@swest100 my pleasure! 😄  Let us know if there's anything we could do better or if there's a feature you'd like to see.  Here on GitHub or on our community site:
https://community.brave.com/

[2017-01-30 17:36] Liunkae commented on #6924
Works fine for me with Brave 0.13.0 on macOS 10.12.3 with the default shield settings. Screenshot:
![image](https://cloud.githubusercontent.com/assets/19424103/22434077/3999cfe4-e6e0-11e6-910c-e98d48093e8c.png)

[2017-01-30 17:36] NejcZdovc commented on #6925
Everything works ok for me as well

[2017-01-30 17:36] Liunkae commented on #6923
Maybe this is caused by the user-agent.

[2017-01-30 17:47] srirambv commented on #6913
@NejcZdovc verifed #6922  Works perfect as per the test plan mentioned. 👍

[2017-01-30 17:56] dignifiedquire commented on #6924
Might be something in `master` that breaks it

[2017-01-30 17:57] dignifiedquire commented on #6925
Is this working for you in `master` as well?

[2017-01-30 17:58] dignifiedquire commented on #6924
Updated description to include the commit hash I'm running

[2017-01-30 18:00] NejcZdovc commented on #6925
![image](https://cloud.githubusercontent.com/assets/9574457/22434889/3f309896-e71e-11e6-8aa8-33df6bbe28f2.png)

I was testing it with a released version, because I use it every day and today I think I uploaded about 5-6 images. But I know that @bsclifton had some problems yesterday with image upload to github

[2017-01-30 18:23] willy-b commented on #6911
The Advanced Panel tests in `test/components/ledgerPanelAdvancedPanelTest.js` are failing because `ipcRenderer.sendSync` now causes a crash in recent builds. Have there been any Muon changes affecting this API?

More detail:
The full call is `devTools('electron').ipcRenderer.sendSync` in `test/lib/brave.js`.  This API is needed by the `translations` test client command defined there.
The Advanced

[2017-01-30 18:47] maverick74 commented on #2386
Ups... miss overlooked that one!!! Thanks

How about the first one?

[2017-01-30 19:16] Liunkae commented on #6925
Works fine for me with a14fcdf.

[2017-01-30 19:16] Liunkae commented on #6924
Works fine for me with a14fcdf.

[2017-01-30 19:22] bbondy commented on #2611
@darkdh just a heads up we'd like you to work on this before 1.0 but after your chromium upgrade work. Thanks.

[2017-01-30 19:29] Liunkae opened #6928 "UI elements and their arrangement should be customizable"
- Did you search for similar issues before submitting this one?
Yes.

- Describe the issue you encountered:
Users should be able to customize the arrangement of UI elements (reload button, bookmark button, etc.), as in Firefox.

- Screenshot if needed:
Firefox:
![image](https://cloud.githubusercontent.com/assets/19424103/22437960/c1f666cc-e6ef-11e6-8435-a51446609685.png)

- Any related issues:
#24

[2017-01-30 19:30] Liunkae commented on #2386
@maverick74 I've submitted a suggestion for basic customization of UI elements: #6928.

[2017-01-30 19:37] bbondy commented on #6911
no I don't think so, do you know why more specifically they are failing ? Which type of sendSync?

[2017-01-30 20:27] willy-b commented on #6911
the test client `translations` command calls `ipcRenderer.sendSync('translations')`.

e.g. https://github.com/brave/browser-laptop/blob/1faf82af9e4d482a3fd8412f5018a57604e8a8f8/test/lib/brave.js#L728:
[code]
which calls `ipcSendRendererSync`, defined in https://github.com/brave/browser-laptop/blob/1faf82af9e4d482a3fd8412f5018a57604e8a8f8/test/lib/brave.js#L176 :
[code]
where the argument passed wa

[2017-01-30 20:39] diracdeltas commented on #518
+1 from myself

[2017-01-30 20:41] diracdeltas commented on #2611
+1 from hackernews

[2017-01-30 20:44] tonsimple opened #6930 "Brave crashes on Debian 8 (installed with aptitude as per instruction)"
- Did you search for similar issues before submitting this one?
Yes
This seems related  Brave won't start:  #6909
But my error is slightly different (see below)

- Describe the issue you encountered:

Brave doesn't start.
Trying to start brave from command line gives

[7637:7637:0130/233855:ERROR:sandbox_linux.cc(343)] InitializeSandbox() called with multiple threads in process gpu-process.
An unc

[2017-01-30 20:45] bsclifton commented on #6911
The tests have been working for me, they just seem intermittent. I'm looking at the regular (not advanced) tests right now

[2017-01-30 20:46] EuNlope commented on #3160
@bsclifton I had uninstalled Brave, but I'll check it out today for both WIndows and Ubuntu.

[2017-01-30 20:59] gyandeeps opened #6931 "Rework about:pref page SVG icons and clean up css/dom"
- Did you search for similar issues before submitting this one?
yes

- Describe the issue you encountered:
Rework about:pref page SVG icons and clean up css/dom. Make it more responsive.

- Platform (Win7, 8, 10? macOS? Linux distro?):
all
- Brave Version (revision SHA):
master
- Steps to reproduce:
    n/a

- Actual result:
n/a
- Expected result:
n/a
- Will the steps above reproduce in a fresh pr

[2017-01-30 21:02] reesinkf commented on #4693
I still get ads aswell. I've put the images on imgur: http://imgur.com/a/JFZ8U

I didn't have flash enabled though. I just enabled it after reading the last few posts, and I just got another ad so I guess this doesn't change anything for me.

[2017-01-30 21:02] willy-b commented on #6911
This issue is for advanced tests, I think ("Ledger Payments advanced panel tests are failing consistently so I had to disable them" -@bbondy at top).

Are those not failing for you with full browser crash upon retrieving translations as described in last comment? (one has to re-enable advanced tests by removing `describe.skip` to see.)

[2017-01-30 21:12] bradleyrichter commented on #6907
@bsclifton Gotta get this one in soon...

[2017-01-30 21:16] bsclifton commented on #6911
Fixed 15e5628 with https://github.com/brave/browser-laptop/pull/6932

@willy-b both regular panel tests and advanced were failing for me regularly when I was maintaining the 0.13.1 branch.  With advanced however, the problem seemed to be the first step timing out (which saves the file.  If that fails, all of the other tests fail too (since they rely on that being done).

I had already started to l

[2017-01-30 21:17] NejcZdovc commented on #6907
I think this will be fixed with version 0.13.2 with this PR #6573

[2017-01-30 21:17] bsclifton commented on #6890
Partially fixed with https://github.com/brave/browser-laptop/pull/6932 (fixes the regular payment panel tests, not the advanced ones)

[2017-01-30 21:22] bsclifton commented on #6907
@NejcZdovc can you confirm this is fixed in master? If so, let's close it out 😄

[2017-01-30 21:25] willy-b commented on #6911
ok @bsclifton , let me make sure I understand:
1) you just disabled the "regular" payments panel tests with the referenced commit (these are tests defined in `test/components/ledgerPanelTest.js`)
2) you have not tested the advanced ledger panel tests (these are the tests for advanced ledger settings defined in `test/components/ledgerPanelAdvancedPanelTest.js`) on latest master, and have not observ

[2017-01-30 21:26] NejcZdovc commented on #6907
Sorry my bad this PR #6573 is for close not for open. I can create a similar PR for open as I did for close

[2017-01-30 21:33] NejcZdovc commented on #6907
I think this is duplication of #2000. @bradleyrichter should there be an option to chose from (next to the current or at the end) or should we always open next to it?

[2017-01-30 21:33] bsclifton commented on #6911
@willy-b no, I apologize. I think this issue covering multiple items has made things confusing.  This issue was created because:

1. Preferences screen had a test failure
2. Regular payment panel tests had a failure
3. Advanced payment panel test had a failure

As I maintained the `0.13.1-branch`, including merging your changes, I would see 2 and 3 intermittently fail.  In this issue at the top, @

[2017-01-30 21:38] bradleyrichter commented on #6907
@NejcZdovc Originally this was a new tab settings options in prefs:

![image](https://cloud.githubusercontent.com/assets/13509546/22442794/5f5f0a9e-e6f1-11e6-8351-eb26eb8a6d34.png)

[2017-01-30 21:41] lukemulks commented on #4693
@reesinkf thanks for reporting, can you please provide info on OS, and screenshots similar to those provided by @echosa above?

Can you also confirm if you've cleared cookies and cache following the 0.13.0 update?

Thanks!

[2017-01-30 21:42] NejcZdovc commented on #6907
I remember now, #2137  is also related to this issue. So options "To the right" and "At the end" should be added into tabs section. Right?

One more thing. Right now we have everything in one column, but I see that you have multiple columns in multiple sketches. How should we implement this one. This is a current tab layout (latest master):

![image](https://cloud.githubusercontent.com/assets/9574

[2017-01-30 21:47] bradleyrichter commented on #6907
Not sure where this came from? We need to make sure the default matches Chrome.

![image](https://cloud.githubusercontent.com/assets/13509546/22443064/69b948fa-e6f2-11e6-9558-782261a1837b.png)

I'll make a new mockup for a vertical layout.

[2017-01-30 21:50] NejcZdovc commented on #6907
This comes from #6553

[2017-01-30 21:53] bsclifton commented on #6877
Awesome, thanks for confirming @srirambv!

[2017-01-30 21:54] ENDelt260 commented on #5907
Brave 0.13.0 on MacOS 10.12.3 does not appear to respect the system setting.

I have "Swipe between pages" disabled in my Mouse System Preferences, but Brave navigates my history w/ left/right swipes anyway.

[2017-01-30 21:54] bsclifton commented on #6877
@luixxiul anything that is a native popup we cannot change.  This is due to how the user has their OS configured (font, spacing, etc).  We only have control over our own popups (which in the code are called ContextMenuItem)

[2017-01-30 21:57] ConradIrwin commented on #6825
Thanks for filing this @jonathansampson. Just a heads up to let you know that we may have fixed this for you as part of our work to support chrome's --isolate-extensions flag. We now post the message to `https://mail.superhuman.com/` instead.

[2017-01-30 21:58] aironou commented on #3663
@bsclifton I installed latest version, but still having the issue.
Trying the arguments --ignore-gpu-blacklist or --disable-gpu didn't worked either.

I downgraded to version 0.12.15 and both arguments solved the issue.

[2017-01-30 22:03] bsclifton commented on #3663
@aironou thanks for the report! This is really good to know.  It seems we still have more troubleshooting to do

[2017-01-30 22:19] willy-b commented on #6896
I opened a new PR for this in #6933 per discussion with @mrose17 in https://github.com/willy-b/browser-laptop/commit/a510c87d1598b6e75043bf2924e36643355e4e7e#commitcomment-20667505 and his PR #6897

[2017-01-30 23:06] bsclifton commented on #1893
@bradleyrichter anything left on this? I think we've implemented everything

[2017-01-30 23:38] willy-b commented on #6911
ah, totally clear now.

go for it! I wasn't taking the issue, just sharing observations.

do let me know if you see the  new crash for Advanced Panel tests too (https://github.com/brave/browser-laptop/issues/6911#issuecomment-276180289)

[2017-01-30 23:55] JMccormick264 commented on #5577
That did not solve the issue. Darn

[2017-01-31 00:07] bradleyrichter commented on #1893
fine to close. I'll make a new issue for @srirambv 's history request

[2017-01-31 00:07] #1893 closed

[2017-01-31 00:10] bradleyrichter opened #6934 "Add a history sub-menu to the hamburger (kabob)"
similar to chrome:

![image](https://cloud.githubusercontent.com/assets/13509546/22447273/747fed3e-e706-11e6-9136-54ddb50905c4.png)

cc: @srirambv

[2017-01-31 00:23] bradleyrichter opened #6935 "Move page-level alerts to below the tabs bar, and add an overlap nub"
Moving the alert bar (for tab-specific alerts) under the tabs bar will give the correct hierarchical appearance to the alert. (global alerts can remain in their top position.)

Adding an overlapping nub reduces the chance for exact spoofing.

similar example compliments of Chrome on OS X:
![image](https://cloud.githubusercontent.com/assets/13509546/22447595/1ec8f302-e708-11e6-9bcc-263fc1f4cd2e.png

[2017-01-31 00:23] ktd99 commented on #698
Yes...now able with side-by-side windows!

Is that work-around going to become the way we insert files, or will Brave develop a more standard interface for attaching files to a FB msg?

From: Brian Clifton [mailto:notifications@github.com]
Sent: Monday, January 30, 2017 8:33 AM
To: brave/browser-laptop
Cc: ktd99; Mention
Subject: Re: [brave/browser-laptop] Facebook Messenger Error -- Cannot Send I

[2017-01-31 00:43] diracdeltas opened #6936 "getSiteKey needs field separators"
![screen shot 2017-01-31 at 12 39 44 am](https://cloud.githubusercontent.com/assets/549654/22447991/0a8d3dd0-e74e-11e6-80ba-e08ca9916113.png)

marked as a security issue since it allows untrusted data (the site URL) to modify trusted data (the partition number)

i think it would be best for this to land before the site refactor code is released, otherwise you would have to do a siteKey migration f

[2017-01-31 02:05] luixxiul commented on #6925
Do you enable any custom filters on about:adblock?

[2017-01-31 02:18] abhibeckert opened #6937 "Dashboard photo size"
Please add some way to disable downloading photos for the "dashboard" page, preferably switching to one embedded in the binary instead of being downloaded.

Based on how long it often takes to download (up to 3 seconds, and I have [100Mb/s fibre](https://www.speedtest.net/my-result/d/2047986)), it's clearly a large image and I'm often using my laptop on an LTE connection where I pay $1 per 100MB o

[2017-01-31 03:01] luixxiul commented on #6924
Duping to #6883 ?

[2017-01-31 03:45] JamieHitGub commented on #4693
Just to add, I'm having the same problem on Sierra. I am based in London, Uk. Tried VPN'ing around the world and I have the problem regardless of geo. Tried clearing cache/cookies after the update but it's the same.

<img width="519" alt="screen shot 2017-01-31 at 03 41 09" src="https://cloud.githubusercontent.com/assets/25447846/22451555/8358fd12-e767-11e6-81a5-acecb15fa1e6.png">

[2017-01-31 04:52] lukemulks commented on #4693
Thanks @JamieHitGub

Can you confirm if you have Widevine & Flash enabled?

@reesinkf can you also confirm if you have cleared cookies and cache after updating, v0.13.0 (and are seeing ads after clearing and relaunch)

[2017-01-31 06:19] reesinkf commented on #4693
@lukemulks yep, still getting ads, just got 2 in a row.

[2017-01-31 06:43] lukemulks commented on #4693
Thanks for the confirmation @reesinkf
Going to see if we can reproduce for each set of conditions reported here.

[2017-01-31 07:52] bsclifton commented on #5325
@NQAT @pixelass I'm curious if you both experience this issue still?

If so, we have some command line arguments you can try [which are documented in our wiki](https://github.com/brave/browser-laptop/wiki/Troubleshooting#window-is-solid-black-or-solid-white-looks-like-a-blank-page):
[code]

[2017-01-31 07:55] bsclifton commented on #5741
@2OldMan are you by chance on Windows? We had a release recently (0.13.0) which may resolve this issue for you.  Please give it a shot and let us know; sorry for the inconvenience ☹️

[2017-01-31 07:59] bsclifton commented on #5683
@lednhatkhanh @valtt we recently pushed a new version of Brave (0.13.0) which should fix this issue for you 😄

I believe you both are using Windows at 125% (for sure, it sounds like @valtt is).  Basically, Chromium would disregard zoom at 125% (instead rendering at 100%).  With our newest release, Chromium has fixed this behavior

If you have a few mins to test, please let us know if it resolves t

[2017-01-31 08:00] bsclifton commented on #6462
I have found the root cause for this issue!  cc: @bbondy, @bridiver, @darkdh

The missing pixels and blurriness are happening because we [set the command line flag `enable-use-zoom-for-dsf` to false](https://github.com/brave/browser-laptop/blob/a14fcdf922e79f08c44d887e052ca827d0af96b8/app/index.js#L86).  If you remove this line, it works great!

Before we enable this (as the comment shows in the c

[2017-01-31 08:07] bsclifton commented on #5741
Closing this issue as a duplicate of https://github.com/brave/browser-laptop/issues/5683

[2017-01-31 08:07] #5741 closed

[2017-01-31 08:11] bsclifton commented on #4650
Updated issue title to have an action which can be acted on 😄

[2017-01-31 08:14] bsclifton commented on #2469
@SimonCropp we just released a new version on Friday which you might try. I'm curious: what is your DPI setting at?

[2017-01-31 08:44] valtt commented on #5683
@bsclifton yes, the issue has been resolved now. Thanks!

[2017-01-31 09:41] maverick74 commented on #2386
@Liunkae Great!!! #6928 and https://github.com/brave/browser-laptop/issues/246 was exactly what i meant!!! Thanks

[2017-01-31 09:55] pixelass commented on #5325
I don't use brave anymore. I only use it for testing issues anymore. last time I checked the issue was gone. It might have been due to too many open tasks in OS X in general.
I'd have to check some intense experiments to say for sure.

[2017-01-31 10:28] dignifiedquire commented on #6924
I figured out where the issue is coming from. I had enabled `JPN: ABP Japanese filters (日本用フィルタ)`and disabling fixes things.

[2017-01-31 10:29] dignifiedquire commented on #6925
I figured out where the issue is coming from. I had enabled `JPN: ABP Japanese filters (日本用フィルタ)`and disabling those fixes things.

[2017-01-31 10:39] srirambv commented on #432
+1 from community https://community.brave.com/t/change-install-folder/945

[2017-01-31 10:41] CliqueBait opened #6940 "Add documentation links to Help menu"
From Community:
https://community.brave.com/t/why-help-not-available-from-the-help-menu/954

Presumably Brave now has a large enough set of stable features for work to start on some structured documentation for new users beyond what is available through browsing the Community.

To start with, the Help menu should probably link to key github wikis:
* https://github.com/brave/browser-laptop/wiki
* h

[2017-01-31 11:51] luixxiul commented on #6925
OK then I think it is okay to close this as a duplicate of #6883

[2017-01-31 11:51] #6925 closed

[2017-01-31 12:05] #5325 closed

[2017-01-31 12:13] JamieHitGub commented on #4693
they are both off for me

[2017-01-31 12:19] JamieHitGub commented on #4693
Tried clearing again with the following and then re-opened browser and now I can't make an ad appear, maybe before I didn't properly clear cookies or something, it was pretty late here. These are the options that seemed to fix it for me on version 0.13.

<img width="326" alt="screen shot 2017-01-31 at 12 18 06" src="https://cloud.githubusercontent.com/assets/25447846/22464590/8388d95e-e7af-11e6-88

[2017-01-31 12:33] Rasmis commented on #6794
I chose Brave instead of Firefox because of Mozilla's decision to force third-party-privacy-invading-closed-source-safe-habour-violating spyware Pocket™ upon their innocent users. So I was saddened to see that it is also being pushed upon the users of Brave.

What is the thinking behind doing this?

[2017-01-31 12:43] mrose17 opened #6941 "change "Publisher Relevancy" options and default"
change this:
![1](https://cloud.githubusercontent.com/assets/400552/22465265/b3b69520-e76f-11e6-84fa-8164a30d738e.png)
so the publisher relevancy options are 1, 5, and 10 and the default is 1.

Test plan:
1. enable ledger
2. go to advanced options
3. examine the options and the default

[2017-01-31 13:04] JamieHitGub commented on #4693
Ok this is interesting, logged into youtube so I could sub to channels/check my watchlists. Now adverts are back. If I log in and remove browser data again they go...

[2017-01-31 13:12] Benjamin-Dobell opened #6942 "Brave Payments via Stripe (Credit Card)"
- Did you search for similar issues before submitting this one?

Yes.

- Describe the issue you encountered:

Attempting to setup a Bitcoin wallet with CoinJar was excruciating and wasted hours of my life - probably much more time than Brave Browser will ever save me.

There's a huge difference between simply not wanting to be tracked by third-parties and have advertisements slammed down our throa

[2017-01-31 13:15] luixxiul commented on #6794
It is not enabled by default

[2017-01-31 13:16] luixxiul commented on #6942
CC @mrose17 for a comment

[2017-01-31 13:19] Rasmis commented on #6794
@luixxiul I know. But it's there. It is pushed upon the users. Like an ad for BigMac™ on the inside of your glasses. There's no burger, but the reminder is always there. It's not heavy, but it's not weightless.

[2017-01-31 13:22] luixxiul commented on #6794
It will not be downloaded until you enable it. Please just ignore it, thanks

[2017-01-31 13:30] luixxiul opened #6943 "Delete log in credential for LastPass via preferences setting"
**Describe the issue you encountered:**

https://community.brave.com/t/lastpass-security-issue/944

- Brave Version (revision SHA):  0.13.0

- Extra QA steps:
    1. Log in LastPass with your credential
    2. Enable a proper option like "Clear Extention credentials" on about:preferences#security
    3. Restart
    3. Make sure you were logged out of LastPass

- Screenshot if needed:

- Any relate

[2017-01-31 14:37] luixxiul commented on #6794
@Rasmis if you do not want to see even its name, please create a new issue to suggest something like "hide extensions name", thanks

[2017-01-31 14:41] dimitri-xyz opened #6944 "Misuse of Math.random() to generate random integers"
In
https://github.com/brave/browser-laptop/blob/57e69652217e69c937407f1f776b370f75dbd38f/app/extensions/brave/content/scripts/adInsertion.js#L74-L75

That is:
[code]
The last value 'IAB20' is *excluded* from the range of random() and will never be chosen.

Here's another bug:
https://github.com/brave/browser-laptop/blob/57e69652217e69c937407f1f776b370f75dbd38f/tools/lib/transactionHelpers.js#L48

[2017-01-31 15:30] bridiver opened #6945 "newtab background images use way too much RAM"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
The newtab background images seem to use a lot of RAM and opening too many of them can cause the renderer to OOM crash because they all run in the same process

- Platform (Win7, 8, 10? macOS? Linux distro?):
MacOS and maybe others

- Brave Version (revision SHA):
57e69652217e69c937407f1f776b

[2017-01-31 15:33] bridiver commented on #6945
several problems/solutions were discussed
1. The images are loaded both as a background image and an unused img tag
2. newtab pages can share a single webview (requires tear-off tab support to use across all windows)
3. may be missing some gpu acceleration

[2017-01-31 15:50] stan-qaz opened #6946 "Brave will not install on OpenSuse"
- Did you search for similar issues before submitting this one?

https://github.com/brave/browser-laptop/issues/5614
https://github.com/brave/browser-laptop/issues/5580

- Describe the issue you encountered:

Yast complained that there was no GConf2 provider available.

- Platform (Win7, 8, 10? macOS? Linux distro?):
OpenSuse 42.2

- Brave Version (revision SHA):
0.13.0 (edit and 0.13.1)

- Steps

[2017-01-31 15:57] Fromax commented on #6930
@tonsimple Which kernel are you running?
I'm on 3.16.0-4 (Jessie default) and get similar issues. Same "fix": downgrading to 0.12.15-1 works.
[code]
Using `brave --no-sandbox` in a terminal still fails:

[code]

[2017-01-31 16:12] bsclifton commented on #5683
@valtt awesome 😄  I'll close this issue in favor of https://github.com/brave/browser-laptop/issues/246.  I'll be sure to echo the sentiment about wanting to customize the size of tabs and font there

[2017-01-31 16:12] #5683 closed

[2017-01-31 16:19] JoaoFOliveira commented on #3555
+1

[2017-01-31 16:22] bsclifton commented on #6128
Closing this issue as it's working as designed (herd anonymity), per comment https://github.com/brave/browser-laptop/issues/5975#issuecomment-264524964

[2017-01-31 16:22] #6128 closed

[2017-01-31 16:24] bsclifton commented on #6244
Regarding not being protected from fingerprinting, per https://github.com/brave/browser-laptop/issues/5975#issuecomment-264524964:

[2017-01-31 16:27] bsclifton commented on #6244
Closing this issue as I believe it's working as intended.  @diracdeltas, please reopen if I'm wrong or if you think it's worth tracking how we could provide better results for this test

[2017-01-31 16:27] #6244 closed

[2017-01-31 16:34] ENDelt260 commented on #2400
Brave 0.13.0 on macOS 10.12.3 does not respect the system prefs

I have "Swipe between pages" disabled on both my Trackpad and Mouse system preferences. But, swipes navigate history anyway.

[2017-01-31 16:40] Liunkae commented on #6794
I am fine with the existing behavior as long as extensions like Pocket:
1. Are not downloaded or enabled by default.
2. Are completely disabled when turned off.

[2017-01-31 16:44] Liunkae commented on #2400
Confirmed not working with Brave 0.13.0 on macOS 10.12.2. Reopening.

[2017-01-31 16:55] srirambv commented on #6794
It can be implemented something like this
![image](https://cloud.githubusercontent.com/assets/17010094/22475057/b70fade0-e7d5-11e6-8144-86ef932a511b.png)

![image](https://cloud.githubusercontent.com/assets/17010094/22475143/ef5dded8-e7d5-11e6-821f-8551aa5fea75.png)

User can enable which one they want and if extensions are turned off disable/delete the installed extensions

cc: @bradleyrichter

[2017-01-31 17:01] luixxiul commented on #6659
I'm not quite sure but I don't think so.

And with the latest release the issue cannot be reproduced.

[2017-01-31 17:03] bsclifton commented on #6659
Awesome- let's close it up 😄

[2017-01-31 17:03] #6659 closed

[2017-01-31 17:12] bsclifton commented on #6915
@ralesk thanks for the report 😄   I believe I understand the issue...

With our framework, we can't directly capture Alt vs AltGr.  However, we have the ability to check if it was the left or right (so two variables to check; key and location).  I am positive this is the case for the issue you've discovered

Just for reference (in case you were interested in looking at the code), here is the pull

[2017-01-31 17:19] bsclifton commented on #879
Somewhat related: https://github.com/brave/browser-laptop/issues/6272 and https://github.com/brave/browser-laptop/issues/6692

Also, +1 from this issue (which is essentially a duplicate, but has a lot of GREAT feedback):
https://github.com/brave/browser-laptop/issues/4986

Some of that feedback:

[2017-01-31 17:19] bsclifton commented on #4986
Closing as a duplicate of https://github.com/brave/browser-laptop/issues/879. I made sure to give a +1 and copied feedback 😄

[2017-01-31 17:19] #4986 closed

[2017-01-31 17:26] bsclifton commented on #6692
@abhibeckert @bradleyrichter I have a proposal that I would like your thoughts on (similar to https://github.com/brave/browser-laptop/issues/6272)

I propose we can offer a new preference for the minimum tab size (maybe it can default to something like 64px).  After enabling, you could then add as many tabs as you'd like, until you hit the max width (they would then overflow to the next tab page).

[2017-01-31 17:28] bsclifton commented on #246
Per https://github.com/brave/browser-laptop/issues/5683, we should allow for folks to modify:
- the size of tabs
- fonts used in the tabs

[2017-01-31 17:49] bradleyrichter commented on #6692
@bsclifton This sounds like a good solution. We need to address the FS view problem that @abhibeckert has and this would work.

When we start extending the power of tab pages, we may need to work around this and allow a fixed number in a tab page/set. I want to be able to use tab pages for auto-grouping, manual grouping, floating into a new window, etc.

Here is a little mockup for a settings menu

[2017-01-31 17:54] bridiver commented on #6927
I already have a fix for this

[2017-01-31 18:06] bsclifton commented on #6144
@meyesme we have a potential fix for this which should be coming soon!  Would you be interested in helping us test this to verify the issue is fixed? 😄

[2017-01-31 18:08] bsclifton commented on #3556
@JoeArizona we'll have a potential fix coming soon for this (sorry for the super long turnaround time; nailing this wasn't easy).  Would you be interested in testing if we had a release candidate available in the next week?

[2017-01-31 18:10] bsclifton commented on #2089
I don't believe there is anything we can do to actually "fix" this (ex: keep DirectWrite); that logic all lies in Chromium.  But removing the `enable-use-zoom-for-dsf` flag will help ensure that text is crisp and readable, especially on higher DPI machines

[2017-01-31 18:23] bbondy commented on #6927
wasn't this already the case as in https://github.com/brave/browser-laptop/issues/5813 ?

[2017-01-31 18:23] bsclifton commented on #5325
@pixelass awesome, thanks for reporting back 😄

[2017-01-31 18:24] alexwykoff opened #6948 "Widevine broken in 0.13.0 on Windows"
It was found that Widevine was not included properly in the Windows build.

QA Steps:
With a clean profile, download the build.
Visit either netflix.com to play a movie or https://shaka-player-demo.appspot.com/demo/ and select Widevine.

Video should display appropriately.

[2017-01-31 18:26] bsclifton commented on #2386
Closing this issue in favor of https://github.com/brave/browser-laptop/issues/246 (which has more actionable comments).  Please feel free to leave feedback there 😄

[2017-01-31 18:26] #2386 closed

[2017-01-31 18:31] bsclifton commented on #6692
@bradleyrichter this is wonderful 😄  those sizes line up nicely with the ones that @cezaraugusto has introduced with https://github.com/brave/browser-laptop/pull/6900

[2017-01-31 18:36] bbondy commented on #6948
muon:
https://github.com/brave/muon/commit/dbcdc1993391db38e9fc0e789c3eae0a8218d5f4
muon-winstaller:
https://github.com/brave/muon-winstaller/commit/918d9d5ae88c62aace344029cd7897e0d170fb5f
browser-laptop:
https://github.com/brave/browser-laptop/commit/3298f2a1943581b5b50c294d8eb15002dac67474

[2017-01-31 18:36] #6948 closed

[2017-01-31 18:38] #6462 closed

[2017-01-31 18:38] #2089 closed

[2017-01-31 18:38] #3556 closed

[2017-01-31 18:38] #6144 closed

[2017-01-31 18:39] bridiver commented on #6927
in either case I have a fix that can go in the next release and also removes some webview events/methods

[2017-01-31 18:40] bbondy opened #6949 "Upgrade to muon 2.0.18"

[2017-01-31 18:44] bsclifton commented on #1854
Moving to 0.13.3...  If merge conflicts can be sorted out we may be able to include some backend code with 0.13.2

[2017-01-31 18:47] bradleyrichter commented on #6692
well, there is one important difference. We still have a fixed number of tabs per tab page. In order to do this, we need to implement variable N per set.

[2017-01-31 18:48] bsclifton commented on #6941
Moving to 0.13.3- if we have a quick fix, we can pull back to 0.13.2

[2017-01-31 19:32] mrose17 commented on #6942
@Benjamin-Dobell - it is a pain point, for which i apologize. we feel it internally at brave as well since many of our folks are outside the US and can't access the coinbase buy widget.

with that in mind, there are two parallel efforts (one internal, the other external) to resolve this for folks outside the US to provide a minimal friction solution. we will get this fixed, and hopefully soon...