[2018-02-08 09:29] srirambv commented on #13068
Is the PDF extension enabled on the browser? seems to work for me without any issues
![image](https://user-images.githubusercontent.com/17010094/35965323-94ea2c8c-0ce0-11e8-80e2-e9ac963d30b5.png)

[2018-02-08 09:44] eiyey commented on #13068
I can't see that extension so I guess it's not enabled.
![pdferror1](https://user-images.githubusercontent.com/36115757/35966042-fd906ca2-0cbc-11e8-8d42-89d174939299.png)

[2018-02-08 09:52] evoerman commented on #3756
Same issue with me; global proxy settings on Fedora 27 are not picked up by latest Brave release0.20.30.
Chrome and Firefox work fine with me as well.

[2018-02-08 09:55] bjoernbusch commented on #3756
ok, so my problem is actually due to this: https://github.com/brave/browser-laptop/issues/12959

When I go back to an older version, Brave works properly with my corporate proxy and I don't need to adjust settings.

[2018-02-08 10:06] dolebas commented on #13017
@bsclifton no, I'm not seeing a blank tab when I try to open, nothing visible is happening.

[2018-02-08 10:15] michalstachecki opened #13069 "Error at browsing on polish site onet.pl"
Hello,

I'm Brave user from Poland. It's very good browser, but I have problem with sites on onet.pl.

When I clicked on "Zobacz zdjęcia" or "Czytaj więcej" (blue sentence on the center of site content), site was refreshed and I can't read rest of article. There is not a problem on other browsers. Could you tell me what is wrong?

Example link is: https://www.onet.pl/?utm_source=plejada_viasg&utm_

[2018-02-08 10:17] chrisvanderheyden commented on #12956
+1 from Belgian Keyboard ... This is really a showstopper, i won't be using brave until this gets fixed

[2018-02-08 11:21] NejcZdovc commented on #12956
@chrisvanderheyden we reverted PR that broke this one and new version should be out next week. Sorry for your trouble

[2018-02-08 11:58] tbates commented on #5233
I'm getting this blocking dialog when trying to watch amazon prime video.

The instructions don't work, because chrome://components is not a working url in Brave

[2018-02-08 12:11] srirambv commented on #13068
Do you mind checking if you have any folders listed under `%AppData%\brave\Extensions`

[2018-02-08 12:16] zroulston commented on #3101
@bsclifton I'm using a Logitech G500.

[2018-02-08 14:04] NejcZdovc opened #13070 "Add stop counter for referral programm"
### Description

We need to add stop counter that will stop any further attempts of contacting server after 30 days. We should allow 30 attempts which should be triggered every 24 hours.

[2018-02-08 15:11] srirambv commented on #13070
Max 30 attempts triggered every 24 hrs?

[2018-02-08 15:21] MargarytaChepiga commented on #7888
@bsclifton Great! Thank you!

[2018-02-08 15:29] kjozwiak commented on #13067
Great catch @srirambv! Finally cracked the mystery!

[2018-02-08 15:47] NejcZdovc commented on #13070
correct 30 attempts every 24h, so we will try for 30 days after 30 days period

[2018-02-08 16:23] VosWouter87 commented on #5512
Chrome won't restore my session any more, which is really annoying because I want to continue with the tabs.
I only had a single session file that looks like it has perfect and consistent JSON structure.
All I need from it are the urls, I'm happy to copy-paste them into Chrome.
But I cannot find them in the file, can you explain the restore file structure and where I can find the urls?

[2018-02-08 16:32] rickersilva commented on #6915
Yes. The problem is with the hash and at symbols, so I use them daily
signing up on many sites and writing emails

On Wed, Feb 7, 2018, 17:17 Brian Clifton <notifications@github.com> wrote:

[2018-02-08 16:34] cwbriscoe commented on #12959
Having same issue.  .19 works.

[code]

[2018-02-08 16:46] Jacalz commented on #9376
Having trouble finding any ads on that site 😓

[2018-02-08 16:53] aekeus commented on #13057
Yes, we are behind in parsing crash reports. We brought up a full large instance on S3 to handle the current load.

[2018-02-08 17:16] Jacalz commented on #6962
Easy fix is to enable fingerprinting protection

[2018-02-08 17:19] Jacalz commented on #4228
Is this issue still relevant? I can not reproduce it...

[2018-02-08 18:15] #12355 closed

[2018-02-08 18:42] defaye commented on #3101
@bsclifton I've looked into it and there aren't any events fired for mouse buttons beyond the main 3 (left, centre, right). So I'm not entirely sure how you'd approach this from a JS angle. I figured this may be the main reason this issue has been set aside

[2018-02-08 18:56] #518 closed

[2018-02-08 20:08] tqdv commented on #10894
@git-ingham Ok, so I managed to refresh the repository on openSUSE Leap 42.3.

What happened was that the repository type defaults to `rpm-md`, while brave's repo is `yast2`.
There doesn't seem to be a way to modify the repo type using `zypper modifyrepo` so edit the file directly.
(You can use `grep -l brave /etc/zypp/repos.d/*`to find it)

This should probably be added to the install instruction

[2018-02-08 20:28] #10692 closed

[2018-02-08 20:41] #12845 closed

[2018-02-08 20:45] TomFaulkner commented on #3101
@defaye That is what I found when I looked into it a few weeks ago as well. The Muon / Electron documentation and what I found elsewhere seem to indicate that Javascript doesn't handle those other mouse buttons. So, it might be a considerably more difficult problem.

Someone mentioned earlier that Vivaldi similarly didn't support mouse back/forward for some time, but they fixed it. I haven't looke

[2018-02-08 20:57] #11923 closed

[2018-02-08 20:59] eiyey commented on #13068
Yeah I have 1 folder in %AppData%\Roaming\brave\Extensions called: jdbefljfgobbmcidnmpjamcbhnbphjnb

![system](https://user-images.githubusercontent.com/36115757/35997892-4091aeea-0d1b-11e8-9925-f22a721a8a22.png)

[2018-02-08 21:12] mrose17 opened #13074 "the "Actions" column on about:preferences#payments should not be clickable because it isn't sortable"
if you go to about:preferences#payments and click on the "Action" column header, it attempts to sort.

it shouldn't be clickable.

[2018-02-08 21:39] ShinyStar commented on #6094
@bsclifton Thanks a lot for the help! I already have the jump list showing. As the post, said, its just a simple call to app.setUserTasks(). My problem is, however, getting it to open the new window because there isn't (or I haven't found) a way to open a new window by calling the program with arguments to do so. I thought I could implement that first and then apply it here, and I'm looking into i

[2018-02-08 21:43] #11401 closed

[2018-02-08 21:54] bsclifton commented on #9376
Unable to reproduce also- may have been fixed by adblock updates.  Let's close for now and re-open if the issue comes back 😄

[2018-02-08 21:54] #9376 closed

[2018-02-08 21:57] bsclifton commented on #4228
Also unable to repro. Closing issue- let's re-open if ads show up again 😄

[2018-02-08 21:57] #4228 closed

[2018-02-08 22:01] eljuno commented on #9088
Can't reproduced on latest stable version 0.20.30

Record:
![first-bookmark-20-30](https://user-images.githubusercontent.com/25360853/36000532-d533ad02-0d55-11e8-8920-3669ec2c43c1.gif)

[2018-02-08 22:03] bsclifton commented on #12973
@raulnovella I'm unable to reproduce this... I am curious if you are experiencing the proxy issue that was mentioned by @TDeisinger

Are other sites working?

[2018-02-08 22:08] bsclifton commented on #13068
wow- that's weird... I'm not sure why it's not showing for you @eiyey

Can you try the following steps?
1. Quit Brave completely
2. Move, rename, or delete the `%APPDATA%\brave\Extensions\jdbefljfgobbmcidnmpjamcbhnbphjnb` folder
3. Start Brave back up- give it a few minutes
4. Extension should be re-downloaded

At that point, it should work fine

[2018-02-08 22:24] griefage commented on #12805
that worked, thanks.

[2018-02-08 22:24] #12805 closed

[2018-02-08 22:26] griefage commented on #12807
latest update fixed it

[2018-02-08 22:26] #12807 closed

[2018-02-08 22:42] petemill commented on #13067
I've fixed this -  just waiting on a muon-winstaller approval and npm push, then another build will need to be generated to test. No code-change for browser-laptop required.

[2018-02-08 23:04] flamsmark commented on #7119
We should make DNT like a shields preference: configurable per-site and on by default.

[2018-02-08 23:05] git-ingham commented on #10894
That solves the repository problem.  However, I do get:
`Problem: nothing provides GConf2 needed by brave-0.20.30-1.x86_64`
I think that this is just a naming difference.  OpenSUSE Tumbleweed has this as:
gconf2-3.2.6-11.1.x86_64 (version installed on my system)
Brave 0.20.30 installs (and more importantly appears to run OK) if I tell it that breaking the dependency is OK.

[2018-02-08 23:05] flamsmark commented on #5917
@bsclifton Can you describe what you mean by "information about the user"? What sort of info are you talking about?

[2018-02-08 23:42] flamsmark commented on #5132
In general, how is this different from dropping all local state when the browser closes?

[2018-02-08 23:45] flamsmark commented on #5545
This looks like a specific case of #2764.

[2018-02-08 23:45] #5545 closed

[2018-02-08 23:50] flamsmark commented on #6875
I don't think that blocking 3rd-party *images* specifically — as opposed to 3rd-party content in general, or cookies on 3rd-party content, or… — is a privacy issue.

[2018-02-08 23:56] zroulston commented on #3101
For what it's worth, the back button works on macOS 10.13.3.

[2018-02-09 05:01] srirambv opened #13077 "Promo setup fails to install on Windows"
### Description
Promo setup fails to install on Windows

### Steps to Reproduce
  1. Download the promo build installer
  2. Download takes more than half hour to complete.
  3. Run the setup, complains setup is incompatible

**Actual result:**
![image](https://user-images.githubusercontent.com/17010094/36012376-bed75378-0d83-11e8-8e4d-ddc9b40e26db.png)
Installer shows generic windows app icon and

[2018-02-09 05:04] petemill commented on #13077
Github release .exe works fine, so would be good to check the download from s3, before taking a look at the renamed-url-fetching code on staging.brave.com

[2018-02-09 05:10] bsclifton commented on #5917
@flamsmark great question- some of the data I was thinking:
- all bookmarks
- all history
- autofill information that is stored
- all cookies
- payment info

Basically anything that can be used to uniquely identify a user. Kind of like a "data dashboard". The page wouldn't need to show all the info, but maybe it shows top 5 visited sites, # autofill entries, etc.  Once machine learning comes into

[2018-02-09 05:37] #9139 closed

[2018-02-09 06:12] #11297 closed

[2018-02-09 06:23] chamunks commented on #1877
I uninstalled Brave due to this problematic decision.  Firefox Quantum is sufficient and faster.

[2018-02-09 09:09] raulnovella commented on #12973
![cobinhood](https://user-images.githubusercontent.com/4912508/36019899-9e1b965e-0d78-11e8-98a2-c380ce2132ba.jpg)

Haciendo ping a cobinhood.com [104.20.83.5] con 32 bytes de datos:
Respuesta desde 104.20.83.5: bytes=32 tiempo=64ms TTL=57
Respuesta desde 104.20.83.5: bytes=32 tiempo=61ms TTL=57
Respuesta desde 104.20.83.5: bytes=32 tiempo=51ms TTL=57
Respuesta desde 104.20.83.5: bytes=32 tiempo=56

[2018-02-09 09:11] raulnovella commented on #12973
I tried to reinstall the browser but it's the same

[2018-02-09 11:07] eiyey commented on #13068
Did it step by step and the problem persists. There is no new extension and therefore I'm still unable to view pdfs. I'm going to test it on virtual machines. Let's see how it goes.

[2018-02-09 11:20] eiyey commented on #13068
Before testing it on a virtual machine I tried it first on another user account in the same computer and surprisingly the PDF viewer extension is there and I can view pdfs. I will keep trying it on my main user account to see what the problem can be. Any help is appreciated.

[2018-02-09 11:44] srirambv commented on #13068
@eiyey  just to confirm when you rename the folder under `%appdata% and relaunch Brave you are still not able to see the extension listed ?

[2018-02-09 13:34] eiyey commented on #13068
Yes @srirambv , I can't still see the extension listed. I've tried renaming it and then relaunching it, deleting it and the relaunching it, uninstalling it and re-installing it, turning off the antivirus and firewall, etc etc etc.

[2018-02-09 14:14] LaurenWags opened #13079 "YouTube videos lag/stop working"
### Description
Reported via twitter: https://twitter.com/glaucocustodio/status/961728287990042624 and internally by @NejcZdovc

YouTube is lagging after viewing for some time and/or having multiple tabs open. @NejcZdovc noticed that if he clicks the video lags - and if he clicks continuously the video stops working until he stops clicking.

### Test plan / Steps to Reproduce

1) start browser (ma

[2018-02-09 14:21] #13074 closed

[2018-02-09 14:23] JamieFarrelly commented on #12974
I was about to raise this, the reason it happens is because you need to be able to open dev tools in the same window for it to work. If [this issue](https://github.com/brave/browser-laptop/issues/3555) is fixed I assume it'll then work.

[2018-02-09 14:33] LaurenWags commented on #12956
+1 from community: https://community.brave.com/t/altgr-registrers-as-ctrl-alt-in-brave/15691

[2018-02-09 14:42] LaurenWags commented on #12959
Multiple +1s: https://community.brave.com/t/http-proxy-not-working-after-update/15171

[2018-02-09 14:43] LaurenWags commented on #12744
+1s from community: https://community.brave.com/t/unable-to-opwn-brave-browser-on-my-desktop-running-mac-10-9-5-maverick/15660

[2018-02-09 14:54] miket1 opened #13080 "Linux Mint 18.3 (Slyvia)"
### Description

### Steps to Reproduce

  1.
  2.
  3.

**Actual result:**

**Expected result:**

**Reproduces how often:**

### Brave Version

**about:brave info:**

**Reproducible on current live release:**

### Additional Information

[2018-02-09 15:07] miket1 commented on #13080
For some reason the wrong list file was being written out...retried from scratch and it seems to work OK now. Sorry for the trouble!

[2018-02-09 15:11] srirambv commented on #13077
Working now. Closing the issue

[2018-02-09 15:11] #13077 closed

[2018-02-09 15:30] srirambv opened #13082 "Ref code missing in update string"
### Description
Ref code missing in update string

### Steps to Reproduce
  1. Install promo build
  2. Click on update from settings
  3. Open updateLog.log, ref code is set to none in the update string

**Actual result:**
Ref code missing in update string

**Expected result:**
Should contain ref code

**Reproduces how often:**
100%

### Brave Version

**about:brave info:**

**Reproducible on cur

[2018-02-09 15:53] LaurenWags commented on #12744
@bsclifton and @bridiver is there anything else community members can do to assist? A couple of them have asked: https://community.brave.com/t/most-recent-version-0-19-139-of-brave-crashes-on-launch/14336/31

[2018-02-09 17:11] diracdeltas commented on #13082
note from slack: promo code should be deleted from state 90 days after first run

[2018-02-09 17:58] jonathansampson commented on #8749
I just hit this as well in 0.20.30.

### Repro Steps:
1. Load Brave with several unloaded tabs
2. Minimize Brave
3. Immediately restore Brave from the taskbar

[code]

[2018-02-09 18:28] Liunkae opened #13084 "macOS download info: Where from"
After a download is completed on macOS, the "Where from" file metadata attribute should be added. This helps the user determine from where the file was downloaded.

This information can be seen in the Get Info window. Here's an example from a Firefox download:

![](https://user-images.githubusercontent.com/19424103/36042533-c2593a1c-0d91-11e8-84d3-72239c177b58.png)

Note that the info includes two

[2018-02-09 18:29] Liunkae commented on #13084
Nevermind, already implemented.

[2018-02-09 18:29] #13084 closed

[2018-02-09 18:30] Jacalz commented on #7421
Can not reproduce this issue

[2018-02-09 18:32] Jacalz commented on #7363
I do not see any ads nor any anti ad blocking on desktop

[2018-02-09 18:38] Jacalz commented on #7460
Opened an issue upstream at https everywhere 👍

[2018-02-09 18:41] Liunkae opened #13085 "macOS download info: File Quarantine"
The [File Quarantine](https://support.apple.com/en-us/HT201940) feature on macOS gives the user more information about the download (e.g., application that downloaded it, time of download, download webpage). Here's a screenshot:
![](https://user-images.githubusercontent.com/19424103/36043719-dd3d5580-0d95-11e8-9c44-6253c6f80388.png)

To implement this, the `LSFileQuarantineEnabled` needs to be add

[2018-02-09 18:44] Jacalz commented on #7976
Can not see any ads on the page at all

[2018-02-09 18:47] Liunkae opened #13086 "macOS download info: File download progress"
When downloading a file from Safari, there is a progress bar shown on the file in the Finder:

![](https://user-images.githubusercontent.com/19424103/36044000-cd2fbe48-0d96-11e8-9a03-35d7d926929d.png)

To implement this, the `com.apple.progress.fractionCompleted` file attribute should be set to a number from 0.0 to 1.0, and the file creation date should be set to `1984-01-24 08:00:00 +0000`. ([inf

[2018-02-09 18:48] Jacalz commented on #8193
Can not see any ads on desktop nor on mobile

[2018-02-09 18:48] LaurenWags opened #13087 "after 0.20.x update Brave is slow/sluggish"
### Description
Reports of Brave being slow/sluggish/lagging after update to 0.20.x. Some users are experiencing slowness immediately after opening (@Jacalz on Windows 10) others are seeing the slowness after having Brave open for several days (@davidtemkin and @kjozwiak on MacOS). Sometimes a restart fixes the problem.

### Steps to Reproduce

STR seem to vary: some users experience this immediat

[2018-02-09 18:52] Jacalz commented on #13087
Has happened to me 2 times after just opening the browser and one time from using it for like 30 minutes 👎

[2018-02-09 18:54] Jacalz commented on #13087
Restart allays fixed the problem for me

[2018-02-09 19:16] Jacalz commented on #8159
Can not see any ads, lets open if problems arise

[2018-02-09 19:16] #8159 closed

[2018-02-09 19:19] Liunkae commented on #13087
Maybe related: #13016

[2018-02-09 19:26] Liunkae commented on #13085
I tested this by manually adding the `LSFileQuarantineEnabled` key to my Brave app's Info.plist file, and it works as expected. Here's a screenshot after I tried to open a download from brave.com, downloaded by Brave:

![image](https://user-images.githubusercontent.com/19424103/36045699-33a3511c-0d9c-11e8-916b-8ffcf5a25972.png)

However, I'm not sure how to add this to the Brave app build process.

[2018-02-09 19:32] Bisaloo commented on #12927
Did you hear about this [highly relevant (but unmaintained) project](https://github.com/chris-barry/darkweb-everywhere)?

[2018-02-09 20:08] hugobuddel commented on #13087
Maybe related, maybe not: Brave grinds to a halt (like taking seconds to register clicking on a tab) when it goes into a crash loop as described in #12995 and a restart fixes it. Perhaps other slowdowns are caused by similar crash loops?

[2018-02-09 20:09] Jacalz commented on #13087
+1 from community https://community.brave.com/t/brave-gets-so-laggy/15716

[2018-02-09 20:25] flamsmark commented on #12927
We don't want to be in the position of maintaining a central repository of onions or evaluating evidence about the authenticity of a particular onion service. Upgrades should be based on a signal which sites can send securely themselves. Preloading like HSTS makes sense, but only in the context of that secure signal from sites.

[2018-02-09 20:27] flamsmark commented on #5917
From a UX perspective, I think that a big challenge with that display is that many of these are very long lists, and some (cookies) aren't meant to be human-readable. I like the idea of a profile export, but I'm not sure about the particular value of trying to render all this info together.

[2018-02-09 20:28] #13082 closed

[2018-02-09 20:45] flamsmark commented on #12966
@NumDeP I appreciate your enthusiasm for privacy features in Brave. I have two requests to make it easier for me to follow your suggestions and incorporate them into our roadmap where applicable.

I have a lot of difficult parsing your comments. Long sentences with lots of dependent clauses are hard work to read. Please try to slow down and write shorter sentences. Consider proof-reading before yo

[2018-02-09 21:17] bradleyrichter commented on #12758
I would normally agree ^ but the current alert approach is working for UGP grant acceptance. We will improve Brave Payments awareness through better marketing and a better onboarding for new users. At that point we can reevaluate removal of nag alerts.

To solve this nag for the majority, this is what we need to do:

Show the first time at 10 days of browsing.
If answer is “maybe later”, then show

[2018-02-09 21:30] LaurenWags commented on #13087
+1 from twitter: https://twitter.com/AngelClarkSays/status/959578540214833152

[2018-02-09 21:37] tomasdev commented on #11401
Having this issue not by importing. Simply sign into 2 or 3 different gmail accounts and it breaks.

[2018-02-09 21:57] #8193 closed

[2018-02-09 22:01] bsclifton commented on #13086
Mildly related: https://github.com/brave/browser-laptop/issues/3023 (Support tray progress bars for downloaded items)

Unless this functionality is already present, it would need to be implemented in Muon

[2018-02-09 22:07] #7976 closed

[2018-02-09 22:08] bsclifton commented on #7363
Also unable to repro- closing

[2018-02-09 22:08] #7363 closed

[2018-02-09 22:09] #7421 closed

[2018-02-09 22:19] bsclifton commented on #6875
@flamsmark what about content fetched which includes a tracking ID?

ex: `http://example/tracking.jpg?id=123456`

[2018-02-09 22:25] bsclifton commented on #10865
@Raigasm that is correct

Because we are not sharing this and also not sharing our signing cert, users will never be able to build the final signed binary (same with the Widevine signing).  However, they should still be able to create an unsigned build (without widevine).

This is currently not possible because the `npm run build-installer` task requires the above params.  We should expose a new e

[2018-02-09 22:29] btlechowski commented on #13069
Cześć, Dziękujem za raport.

Confirmed.
[code]

Steps:
1. Go to https://www.onet.pl/?utm_source=plejada_viasg&utm_medium=nitro&utm_campaign=allonet_nitro_new&srcc=ust&pid=e9f9c0f1-7194-412e-8c47-c2e9e9aed779&sid=e0fd8684-71b1-4612-8ddd-3527a58f418c&utm_v=2
2. Scroll to  "Czytaj więcej"
3. Click  "Czytaj więcej"

Expected Result:
Link is followed and opened in the same tab.

Actual Result:
The page

[2018-02-09 23:13] vorgriff commented on #3246
I came here hoping to find insight on the same thing.  It might be easier to choose how to answer "Allow https://mail.google.com to handle special protocols (mailto:, bitcoin:, etc.)?" if it mentioned what effect that would have.  Will that affect the functional behavior of the page contents (such as making some things clickable or maybe automatically executing some script in response to the prese

[2018-02-09 23:22] jumde opened #13088 "[hackerone] 313440"
https://hackerone.com/bugs?report_id=313440

[2018-02-09 23:25] kjozwiak commented on #12841
Still reproducible using the following build (current release):

[code]

[2018-02-09 23:27] btlechowski opened #13089 "promoCode file is NOT generated when installation file has (1) suffix"
## Test plan

https://github.com/brave/browser-laptop/pull/13091#issue-168381710

----

### Steps to Reproduce

  1. Open Firefox
  2. Download Brave from https://staging.brave.com/ABC-123
  3. Download again Brave from https://staging.brave.com/ABC-123
  4. Run downloaded file from 3.

**Actual result:**
promoCode file is NOT generated

**Expected result:**
promoCode file is generated

**Reproduc

[2018-02-10 01:46] srirambv opened #13090 "Adblock issue on v0.20.35 (allmusic.com, youtube.com)"
### Description
Ad's leak on allmusic.com

### Steps to Reproduce

  1. Visit allmusic.com
  2. Select a genre and click on an artist page
  3. Scroll down, ad's seen on the right navigation pane

**Actual result:**
![image](https://user-images.githubusercontent.com/17010094/36057290-52b0d098-0e32-11e8-9c6a-6cc87532fbc5.png)

**Expected result:**
Ads to be blocked

**Reproduces how often:**
100%

[2018-02-10 02:09] echosa commented on #11787
Relatedly, if you have "Show bookmark matches" enabled but "Show history matches" disabled, bookmark matches do not show up in search, even though it's marked as enabled. I believe this is related to the combining of bookmarks and history in the search area (a decision I personally disagree with), which is discussed and mentioned here and in other issues: https://github.com/brave/browser-laptop/is

[2018-02-10 03:46] Raigasm commented on #10865
I managed to get it working on my local machine. Was surprisingly
straightforward. Will work on clarifying the documentation to lower the
barrier for entry.
On Fri, 9 Feb 2018 at 22:25, Brian Clifton <notifications@github.com> wrote:

[2018-02-10 04:50] mr2cats commented on #13079
Same problem. It appeared with the last update for me.

[2018-02-10 04:53] sergiorojasa commented on #9568
I would like to work on this issue.

[2018-02-10 05:11] srirambv commented on #9568
@sergiorojasa self assigned for you to work on it. Please open up a PR with the fix

[2018-02-10 05:32] lukemulks commented on #13090
Note - also seeing issues reported with display ad in hero panel on youtube.com on brave v0.20.35 muon v4.8.1

Block counts display as 0 on v0.20.35 from @srirambv profile
I'm seeing blocking function as expected on v0.20.30.
cc: @bsclifton

[2018-02-10 05:48] lukemulks commented on #13090
Note: I ran an additional check - this time for allmusic.com - in v0.20.30, and confirm that I'm observing ad blocking function as expected for allmusic.com in 0.20.30.
![brave-allmusic-02092018-luke-windows](https://user-images.githubusercontent.com/8979240/36058967-cb33663e-0de2-11e8-9551-7507b967fdce.PNG)

[2018-02-10 09:19] itsBehindYou commented on #10786
I don't think it's so much an issue with logging in to GMX mail (or mail.com, they use the same platform) - it's an issue that people were having with being unable to open the individual mails from the main screen once you're logged in, unless you allow 3rd party cookies. I can't speak for everyone but for me at least, this issue has now gone away in recent versions of Brave; I can now make full u

[2018-02-10 12:10] bbondy commented on #13090
confirming latest hotfix is not working as in comment 0

[2018-02-10 12:41] bbondy commented on #13090
Verified this is broken for muon 4.8.1 but works in muon 4.7.10

[2018-02-10 14:17] VaclavSynacek commented on #12636
I also get the same error
[code]
When using browser, the same URL returns 403 with the following headers:
[code]
and content:
[code]

I assume this means brave's AWS-S3 is misconfigured and this prevents any apt based installation on debian based systems. Unfortunately the same is true for brave-beta on brave-apt-staging.

[2018-02-10 17:01] cryptojennie commented on #13090
+1 from community here (0.20.35) for YouTube: https://www.reddit.com/r/BATProject/comments/7wlf26/getting_youtube_ads_on_the_brave_browser_since/

[2018-02-10 18:21] Jacalz opened #13092 "Replace Fanboy's Swedish with Frellwit's Swedish Filter for Swedish regional adblock filters"
## New description

This fix was broken by [this commit](https://github.com/brave/muon/commit/3fb05f239797bfe7aa8ac13962aba81600c87618#diff-946813de8d9b30857edae58aec4f3a7f) in [brave/muon](https://github.com/brave/muon) since the new ad-block dep has one new fix but is currently 16 commits behind master! That is why the better ad-block fix for Swedish users are not there yet. Since it sadly got r

[2018-02-10 20:45] eljuno commented on #13090
+1 from Twitter https://twitter.com/ecamer34/status/962355380977205249

[2018-02-10 21:54] bbondy opened #13093 "Brave icon looks too small on Windows"
Please see this reddit thread:
https://www.reddit.com/r/BATProject/comments/7whl3r/sorry_if_im_being_too_picky_but_for_such_an/

@jamesmudgett or @bradleyrichter could you assist?

[2018-02-11 01:23] cnst commented on #1877
I mostly stopped using and recommending Brave, too; very disappointing that Brave keeps shoving Google-inspired autoupdate malware down my throat; and with Firefox Quantum, the JavaScript bloatware is easily blocked, too (they call it Tracking Protection); all the fewer reasons to use Brave.

[2018-02-11 01:56] ashrafhadden commented on #12975
This ONLY happens for me when I have "Show history matches" turned on under "Preferences>Search Bar Options". I have every other Search Bar Option turned on and it works just fine. Perhaps an inefficient searching/query algorithm?
![2018-02-10 08 39 15 pm](https://user-images.githubusercontent.com/32565770/36068477-d1bc5ad4-0ea4-11e8-91a4-7a4e10962692.png)

[2018-02-11 02:13] fatboyjim commented on #6443
+1

Macbook Pro 2014 user.  I love the browser but I can't use it as my default browser because it rinses my battery through requiring discrete GPU which has a huge impact on battery life.

[2018-02-11 04:03] ShinyStar commented on #6094
@bsclifton Hi! I did [this](https://github.com/ShinyStar/browser-laptop/commit/a69158dc11d1a330a4fe43c7af7d737387494153) to add the command line argument and jump list but since I'm calling Brave from the development environment it results in just Electron so I can't really test if the jump list works, I have only checked that the command line argument works by modifying npm start. How could I gen

[2018-02-11 05:12] bradleyrichter commented on #13093
I’ll enlarge them in the 0.21.0 builds.

[2018-02-11 10:00] vinicentus opened #13094 "No shortcuts for opening session tabs"
### Description

We don't currently have any shortcuts for opening session tabs (edit: we do have `Ctrl + Shift + S`). `Ctrl + Alt + number` for Windows and Linux and `Option + Cmd + number` on MacOS were removed because they interfered with typing special characters (#13015, #13042). What should the shortcut(s) be now? Should it stay the same?

I think we can make it stay the same with event hand

[2018-02-11 10:22] vinicentus opened #13095 "No history for reopened tabs"
### Description

No tab specific history available in reopened tabs (`Ctrl + Shift + T`).

### Steps to Reproduce

  1. Open a new tab.
  2. Browse to a website.
  3. Browse to another website.
  4. Close the tab.
  5. Reopen the tab using `Ctrl + Shift + T`.

**Actual result:**

The last viewed website loads, but you can not see that you in the same tab viewed another website before that.

**Expe

[2018-02-11 10:26] vinicentus commented on #3101
The buttons work for me on Windows x64

[2018-02-11 10:27] vinicentus commented on #3101
TL;DR, but the mouse buttons work for me on Windows x64

[2018-02-11 10:36] vinicentus opened #13096 "Back and forward keyboard shortcuts don't work (on nordic keyboards?)"
### Description

**EDIT:** I'm using a Nordic keyboard (Swedish).
The current shortcuts `Ctrl + [` for back and `Ctrl + ]` for forward don't work. To type `[` on a Nordic keyboard you need to press `Altgr + 8`, unlike on English ones where there is a specific button for it.  `Ctrl + 8` shows tab number 8 and `Ctrl + Altgr + 8` does nothing.

[image of nordic keyboard](https://linustechtips.com/mai

[2018-02-11 13:43] eiyey commented on #13068
I still can't find a solution but I noticed a user made a post about this some months ago.
https://community.brave.com/t/no-pdf-viewer-extension/9419

[2018-02-11 13:46] eiyey commented on #13096
+1, I said this too in this post #13009

[2018-02-11 13:58] eiyey commented on #13094
Ctrl + T works for me. Try it and tell us if work for you.

Brave: 0.20.36
V8: 6.4.388.41
rev: bba0b928164f8b3056a1d9be02c738c66202807c
Muon: 4.7.10
OS Release: 6.3.9600
Update Channel: Release
OS Architecture: x64
OS Platform: Microsoft Windows
Node.js: 7.9.0
Brave Sync: v1.4.2
libchromiumcontent: 64.0.3282.140

[2018-02-11 14:14] eiyey commented on #13090
Ads leak on Twitter too.

It only happens with ads that display videos, with pictures the blocker works fine.

![ads](https://user-images.githubusercontent.com/36115757/36074246-bda8fcb6-0f3d-11e8-9f7e-7676925c0116.png)
![ads1](https://user-images.githubusercontent.com/36115757/36074278-2b42aefc-0f3e-11e8-88a2-6c3208fec999.png)
![ads2](https://user-images.githubusercontent.com/36115757/36074280-30

[2018-02-11 14:22] vinicentus commented on #13094
`Ctrl + T` is hte shortcut for opening a new tab, not a new session tab.

[2018-02-11 14:25] luixxiul commented on #12359
I'm neutral to hide about pages from the list. Is it a de facto standard maybe?

[2018-02-11 18:54] jumde commented on #13088
Verification Steps:

- Open - https://nodejs.org/dist/v8.9.4/node-v8.9.4.pkg
- Run -

Quarantine flag should be enabled for the file

- Check if brave updates are functional

[2018-02-11 19:39] eljuno commented on #13095
Duplicate of #2702?

[2018-02-11 21:18] Colbix commented on #10673
Brave: 0.20.30
V8: 6.4.388.40
rev: 8b78402e7b3b91d44d8146cbe4dc8013592c33fd
Muon: 4.7.9
OS Release: 10.0.16299
Update Channel: Release
OS Architecture: x64
OS Platform: Microsoft Windows
Node.js: 7.9.0
Brave Sync: v1.4.2
libchromiumcontent: 64.0.3282.119

As of the most recent update the problem appears to have been fixed. I'll update if I encounter any further issues.

[2018-02-11 21:56] vinicentus commented on #13095
Yup. Nevermind then

[2018-02-11 21:56] #13095 closed

[2018-02-11 21:57] vinicentus commented on #2702
+1 #13095

[2018-02-12 01:36] jonathansampson opened #13098 "Clearing 'All site cookies' also clears Extension data in localStorage"
### Description
Users who have configured Brave to _Clear site cookies_ when the browser closes will also find that their extension-related local storage is also cleared. This causes them to be logged out of extensions like LastPass.

### Steps to Reproduce
1. Configure Brave to _clear all site cookies_ on close in _about:preferences#security_.
2. Enable and sign-into the LastPass extension
3. Res

[2018-02-12 02:15] srirambv commented on #13098
dupe of https://github.com/brave/browser-laptop/issues/7274?

[2018-02-12 02:17] srirambv commented on #13096
@vinicentus  is this on specific keyboard layout like @eiyey mentioned in his post?

[2018-02-12 02:26] jonathansampson commented on #13098
@srirambv I would suggest we close #7274 in favor of this one, since this refers to _all extensions_, whereas that issue sounds like it may be limited to one in particular. Your call though :)

[2018-02-12 02:35] srirambv commented on #7274
Closing in favour of #13098 . Added +1 on the issue

[2018-02-12 02:35] #7274 closed

[2018-02-12 02:36] srirambv commented on #13098
Sounds good. Closed it in favour of this

+1 from @whitgroves @newm-newm @twhiting via #7274

[2018-02-12 02:52] srirambv commented on #1945
+1 from https://community.brave.com/t/user-agent-leak/15435/8

[2018-02-12 03:09] srirambv commented on #2172
@MargarytaChepiga `js/data/top500.js` isn't used. Its replaced with bloodhound.
https://github.com/brave/browser-laptop/blob/9fa998955e2b38c9751b916d3bd9d3bfbad4ad16/app/common/lib/siteSuggestions.js#L5

[2018-02-12 05:10] arsalankhalid commented on #12770
Sorry for the radio silence, been a bit busy. Will take a stab tomorrow I more than hope :)

[2018-02-12 06:23] vinicentus commented on #13094
Thanks! Didn't even know about that shortcut. To clarify though, I'm talking about the ones that got removed here:  #13042.

[2018-02-12 06:29] vinicentus commented on #13096
Yes, I'm using a nordic keyboard, where `AltGr + 8` types `[` and `AltGr + 9` types `]`.

[2018-02-12 06:42] bsclifton commented on #2172
@srirambv I don't think bloodhound handles the alexa top sites. The file with domains (which is passed as input) is found here:
https://github.com/brave/browser-laptop/blob/master/app/common/data/topSites.js

Site suggestions are optionally added when URL bar text changes:
https://github.com/brave/browser-laptop/blob/46a3b05646be013efffc8ed1eb931ebde66bda2d/app/browser/reducers/urlBarSuggestionsRe

[2018-02-12 06:50] bsclifton commented on #13096
Shortcut works on macOS; I wonder if there is a conflict with the shortcut (ex: two actions are assigned the same shortcut / accelerator)

[2018-02-12 06:54] bsclifton commented on #10865
@Raigasm awesome- thank you very much 😄 If you wanted to PR a fix for this particular issue too, I'd love to help review for you

[2018-02-12 07:36] #13089 closed

[2018-02-12 07:55] dskeppstedt commented on #11136
Is this still an active issue? I have a team of five that could out.

[2018-02-12 08:04] bsclifton commented on #12848
@CrisBRM can you provide more info about your window manager? (including version - are you just using Gnome?) I suspect there's an issue there

[2018-02-12 11:39] vinicentus commented on #13096
@bsclifton Using what keyboard layout? English probably works as expected, Nordic on the other hand...

[2018-02-12 12:57] vinicentus opened #13099 "Change "Zoom In" shortcut from "Ctrl+=" to "Ctrl+Plus""
### Description

The zoom in shortcut currently looks like this:
https://github.com/brave/browser-laptop/blob/28c7db03828f8a602a892952f8885ea72dd643cb/app/browser/menu.js#L206

If possible we should change it to <kbd>+</kbd> instead of <kbd>=</kbd> (`Ctrl + =` to `Ctrl + Plus`). There is a problem though. Windwos and Linux handles `Ctrl + Plus` as `Ctrl + Shift + =`. It reportedly works fine on Ma

[2018-02-12 14:03] Tomatoshadow2 opened #13100 "Charles Schwab website doesn't work"
Charles Schwab website is blank white page, only allowing you to log in

### Steps to Reproduce

  1. Go to https://lms.schwab.com/Login?clientId=schwab-prospect&startInSetId=1&redirectUri=https://client.schwab.com/login/signon/authcodehandler.ashx&enableappd=false
  2. Should send you to the website, but redirects to this with just login displaying
  3.

**Actual result:**
Displays blank white pa

[2018-02-12 14:11] StephenBass commented on #7388
+1 from the BAT Reddit
https://www.reddit.com/r/BATProject/comments/7x0482/copy_and_pasting_images/

[2018-02-12 14:38] bbondy commented on #7388
I think we need to change the way we're copying images since one of the chromium updates.

The console error is:
[code]

The way we used to copy is from the Window renderer:

[code]

I think it is tainted because it's cross origin from what the window renderer is.

[2018-02-12 14:40] hugobuddel opened #13101 "download save-as window 'pops under' when opening auto-download link in new tab"
Could not find a similar issue.

### Description
The save-as window 'pops under' when opening an auto-download link in a new tab in Linux. This makes Brave unresponsive until one shifts focus to the save-as window (e.g. through alt-tab) and closes it.

### Steps to Reproduce
  1. Go to https://brave.com/download/
  2. Ctrl-click the windows logo
  3. or right-click the windows logo and chose 'open

[2018-02-12 14:54] bbondy commented on #7388
I think it should be dispatching an action to the app store and using the web-contents `copyImageAt` API instead.

[2018-02-12 15:30] NejcZdovc commented on #12274
I don't have STR, but I have a profile on which I can reproduce it constantly.

[2018-02-12 15:34] bsclifton opened #13102 "Some entries (including pinned) disappear and then get re-added to ledger as unpinned"
### Description

This issue depends on the profile (it won't reproduce on a clean profile), but I am seeing entries disappear from Brave Payments and then get re-added. It seems that each visit removes/re-adds the entry.  The sites which are affected are ones that disappeared after experiencing this bug:
https://github.com/brave/browser-laptop/issues/12274

### Steps to Reproduce

  1. Have my pro

[2018-02-12 15:35] bsclifton commented on #13102
+1 via https://community.brave.com/t/pinned-brave-payments-getting-unpinned-automatically-macos-0-20-30/15772

[2018-02-12 15:35] bsclifton commented on #13102
+1 via https://www.reddit.com/r/BATProject/comments/7wjf1b/psa_my_pinned_brave_payment_sites_have_been/

[2018-02-12 15:42] immanuel-odisho opened #13104 "Passwords and username do not autofill when revisiting page with saved password and username"
### Description

### Steps to Reproduce

  1.visit website input username and password and save
  2.revisit website
  3.

**Actual result:**

**Expected result:**
I expect it to automatically fill in my username when revisiting a page without having to click on username field

**Reproduces how often:**
100%

### Brave Version
latest version
**about:brave info:**

**Reproducible on current live rel

[2018-02-12 16:06] #12274 closed

[2018-02-12 16:06] #13102 closed

[2018-02-12 16:15] bsclifton commented on #11136
@dskeppstedt absolutely 😄

If you open `app/browser/menu`, you'll notice there's a big function `doAction`. This could be broken out to a new `menuReducer.js` or similar and then invoked via the appStore:
https://github.com/brave/browser-laptop/blob/901e94175fbd7340ad0593b8303926a1758462c3/js/stores/appStore.js#L179

[2018-02-12 16:19] FirefoxWas opened #13105 "justwatch.com login to google dose not work"
### Description

### Steps to Reproduce

Please add a series of steps to reproduce the problem. See https://stackoverflow.com/help/mcve for in depth information on how to create a minimal, complete, and verifiable example.

  1. I go to https://www.justwatch.com/us to login
  2. When I click on sign in to Google it dose not selected my email account in the popup box.

**Actual result:**
Please add

[2018-02-12 16:47] esmail commented on #12757
I think I also got hit with this when I updated to v0.20.30

[2018-02-12 17:06] kjozwiak opened #13106 "updates are not working under macOS when using pkg installers"
### Description

Brave installations using the `pkg` installers are not updating to the latest version. It's correctly working when using `dmg` installers. Example:

* installing `0.20.36` via `pkg` and updating -> `0.20.37` - FAIL
* installing `0.20.36` via `dmg` and updating -> `0.20.37` - PASS

### Steps to Reproduce

  1. install `0.20.36`
  2. select `Hamburger Menu` -> `About Brave` -> `Chec

[2018-02-12 17:23] oleim commented on #517
+1

[2018-02-12 17:43] bsclifton commented on #13041
Update to 4.8.1 was done with https://github.com/brave/browser-laptop/commit/c46fde9d6e8ca770ea01c47c53360dac1359eef4

And then reverted with https://github.com/brave/browser-laptop/commit/7c04e80d74e3fa3b0f1e18f82f33b02e706f8b93

[2018-02-12 17:47] peteforsyth commented on #10554
I have this issue frequently, using Brave on both Linux (Ubuntu Mate) and Windows 10. It's happened through several versions of Brave, I'm currently using 0.19.105.

I use a lot of these URLs while transcribing files on Wikisource. I find that I DO have the problem if I control-click a link that ends in .pdf (to open the link in a new tab). I also DO have the problem if I paste the URL ending in .

[2018-02-12 17:47] NejcZdovc commented on #12584
closing as #13097 was merged

[2018-02-12 17:54] riastradh-brave commented on #12958
This is happening in the brave-beta 0.21.7-1 package for Ubuntu from the apt repository too, so `apt-get upgrade` rendered it nonfunctional and I had to switch to the brave 0.20.30-1 package.

[2018-02-12 18:08] #13090 closed

[2018-02-12 18:48] tomasdev commented on #7386
@bsclifton I see all these issues aren't in a clear roadmap (no version tagging, most in backlog or triage)

Should we keep using Chrome for dev?

[2018-02-12 18:48] kjozwiak opened #13109 "brave won't find updates after cancelling `Add Helper` prompt"
### Description

When you click on `Cancel` during the `Add Helper` prompt while updating Brave from a `pkg` installation, Brave will stop finding updates until the browser is restarted.

As mentioned below, this might be resolved/fixed once #13106 is addressed.

### Steps to Reproduce

  1. install `0.20.36` using the `pkg` installer
  2. launch brave and select `Hamburger Menu` -> `About Brave`

[2018-02-12 19:29] bsclifton commented on #13106
@petemill and I have updated the `update-external-binaries.py` file in Muon to the latest release (1.2.2 https://github.com/electron/electron-frameworks/releases - was on 1.1.0).  This has fixes, such as this one that Pete found:
https://github.com/Squirrel/Squirrel.Mac/pull/207

We're in the process of compiling so we can build a package + try the installation / update process

[2018-02-12 20:06] CaptJakk commented on #11595
+1 from community from me as well :)

[2018-02-12 20:10] btlechowski commented on #13082
Verified.
updateLog contains the promoCode in the link
sessionstore contains referralPromoCode.

[code]

[2018-02-12 21:27] #7388 closed

[2018-02-12 21:47] eljuno commented on #13094
+1 from me. As a user who uses session tabs often, shortcut to open specific session would really help. The current `Ctrl + Alt + number` on stable version is working great although it should be reverted in next release.

 Would love to have `Ctrl + Shift + number` as a replacement. :)

[2018-02-12 21:54] eljuno commented on #13104
I think it's expected behavior #12489 ?

[2018-02-12 22:13] LaurenWags commented on #13087
+1s from community: https://community.brave.com/t/brave-gets-so-laggy/15716

[2018-02-12 22:18] #11653 closed

[2018-02-12 22:52] bsclifton commented on #13041
Updated to 4.8.2 with 322079ac9aea526cc688cbaa159d89edfb724d4c

[2018-02-12 22:57] btlechowski commented on #13013
Verified Ubuntu 17.10.

[code]

[2018-02-12 22:57] LaurenWags commented on #13087
+1 from community: https://community.brave.com/t/brave-randomly-slows-down-to-the-point-its-unusable/15918

[2018-02-12 23:00] Lythimus commented on #9242
I have had this issue maybe 7 times. I just restart the browser, but it seems to be happening more frequently. This has also occurred across updates. I generally have roughly 10 tabs open (5 pinned, 5 unpinned) and only 1 browser window. I think this has only happened once while the browser was active. The rest of the time, I switch focus to the browser, and clicking the tabs is simply unresponsiv

[2018-02-12 23:24] riastradh-brave commented on #12935
With tor's `ControlPort auto` configuration, the `ControlPortWriteToFile /path/to/foo` option causes tor to write the port number it has chosen for the _control_ port to /path/to/foo, which we could situate in the tor data directory under Brave's config directory.  This is moot for Unix where we want to use a local socket anyway, but maybe it is useful for Windows.

There's also `SocksPort auto`,

[2018-02-13 00:25] petemill opened #13112 "Mac pkg promoCode regex is broken"
### Description
The updated regular expression in the bash script for the pkg installer is not matching anything anymore due to invalid bash regex syntax. The update occured in #13091

[2018-02-13 01:06] daath commented on #12956
+1 Just installed to day, eager to start using it - Now I'm forced to wait until a new version without the bug is released - I can't wait :)

[2018-02-13 02:12] jonathansampson commented on #517
Just ran through another test with Mercury; I noticed only the same issue(s) that @patertmg reported (missing browserAction icon). Here's the logic which shows the browserAction icon:

https://github.com/brave/browser-laptop/blob/d0c2c6c9d8744557e1d4452a386c46e1649317b6/app/common/state/extensionState.js#L90-L94

Note that Mercury doesn't provide 16 or 38 pixel icons:

[code]

[2018-02-13 02:22] diracdeltas opened #13114 "publishers should not make requests to youtube, twitch, etc in the main process"
related: #12938

[2018-02-13 03:17] hkps4jj commented on #4782
Sign up for this thread: problem has not been solved in 2018 :(

[2018-02-13 03:20] jonathansampson commented on #4782
@hkps4jj We're working on some things that will resolve this issue. You can expect to see it resolve in the not too distant future.

[2018-02-13 03:21] jonathansampson commented on #6875
It's definitely not a major concern, but could carry query parameters and/or your ip address off to unrelated parties. I'm not personally worried about this, but can see how others might be.

[2018-02-13 03:23] jonathansampson commented on #11401
@tomasdev We're able to set exceptions, but aim to do so with caution. I am regularly signed into 2 GMail accounts (without any issue). Would you be available to hop on a Skype or Google Hangout call sometime? I'd love to see the problem first-hand.

[2018-02-13 03:24] jonathansampson commented on #9088
@elia The dropdown needs to overlap the tab and new-tab button.

[2018-02-13 03:28] jonathansampson commented on #9627
Appears to be working for me too.

[2018-02-13 03:29] jonathansampson commented on #5499
@Shad-Iqbal, @jpita, @jgmio--would one of you be interested in joining me via Skype or Discord to have a closer look at this issue?

[2018-02-13 03:49] sergiorojasa commented on #10888
I would like to work on this issue.

[2018-02-13 04:45] arsalankhalid commented on #12770
Hey still not sure how to re-create, how exactly do i 'claim' a promo?

[2018-02-13 04:46] NejcZdovc opened #13116 "Publisher option update is called to often"
### Description

In https://github.com/brave/browser-laptop/pull/12287 we added more aggressive verification, which is called very often. We need to batch requests together, so that we can free the process.

[2018-02-13 04:58] NejcZdovc commented on #12770
@arsalankhalid check out this video

https://drive.google.com/file/d/1Rr2uUDILM44MIW8T7ZzrFYWtuzz9PdmI/view?usp=sharing

[2018-02-13 05:11] #10105 closed

[2018-02-13 05:49] sterno1966 opened #13117 "Block WebRTC"
### Description

it needs to block webrtc

### Steps to Reproduce

  1.
  2.
  3.

**Actual result:**

**Expected result:**

**Reproduces how often:**

### Brave Version

**about:brave info:**

**Reproducible on current live release:**

### Additional Information

[2018-02-13 06:02] bsclifton commented on #12232
@LaurenWags if you still have the person's information, can you ping them and see if 0.20.x solved the issue?

[2018-02-13 06:14] Liunkae commented on #7888
@MargarytaChepiga
The onClick function in urlBarIcon.js contains the code that shows the connection info.
https://github.com/brave/browser-laptop/blob/cd99dc66d1bf13153b5bfae7efdbd6e0d6708441/app/renderer/components/navigation/urlBarIcon.js#L124-L130

The onClick function is bound to the component here:
https://github.com/brave/browser-laptop/blob/cd99dc66d1bf13153b5bfae7efdbd6e0d6708441/app/rende

[2018-02-13 06:28] Liunkae commented on #5499
I ran into this problem as well. I think I worked around it by setting the global default shields Cookie Control to Allow all cookies. The problem is probably because of third party cookies (maybe medium.com tries to pass cookies to the custom domain?).

[2018-02-13 06:48] #13109 closed

[2018-02-13 06:49] #13106 closed

[2018-02-13 07:11] #13112 closed

[2018-02-13 07:25] bsclifton commented on #13112
marking as `QA/no-qa-needed` because test plan is already covered in https://github.com/brave/browser-laptop/issues/13089

[2018-02-13 08:05] luixxiul commented on #13117
You can block WebRTC on the shield setting. If you don't think so, please share the URL you experience the issue. We'll invesitgate. Thanks.

[2018-02-13 08:59] jpita commented on #5499
@jonathansampson sure. jose.pita4 on skype

[2018-02-13 11:03] hugobuddel opened #13121 "Downloading torrent file w/o torrent viewer extension causes error"
### Description
Downloading torrent while torrent viewer extension is disabled causes an error, even though the file is downloaded.

### Steps to Reproduce

  1. Disable torrent viewer in about:preferences#extensions (it was still disabled from 0.19.x)
  2. Go to https://cdimage.debian.org/debian-cd/current/amd64/bt-cd/
  3. Left-click on one of the torrents and save it

**Actual result:**
Error:

[2018-02-13 11:21] crysman opened #13122 "Copy image via right mouse button has stopped working"
I am unable to copy image into clipboard via right mouse button - nothing happens, clipboard does not cointain the image.

For example here:
https://cdn.pixabay.com/photo/2016/04/22/15/30/email-1345971_960_720.png

Using Xubuntu 17.10 and Brave 0.20.30 V8	6.4.388.40 rev	8b78402

[2018-02-13 11:26] NejcZdovc commented on #13122
I think this is dupe of #7388, and resolved in #13108

[2018-02-13 11:26] #13122 closed

[2018-02-13 11:52] srirambv commented on #13121
Think this is dupe of https://github.com/brave/browser-laptop/issues/10767

[2018-02-13 12:07] hugobuddel commented on #13121
Oh I guess you are right @srirambv. Don't know why I missed that one.

[2018-02-13 12:07] #13121 closed

[2018-02-13 12:11] hugobuddel commented on #10767
The torrent file is actually downloaded in 0.20.30 though, so it is not that problematic. But since #11452 is fixed, I'll try to reenable the plugin.

[2018-02-13 12:43] karolszafranski commented on #13087
Same issue:
[code]
Is there a way how can we help to nail down the issue? Like enabling additional logging?

[2018-02-13 14:37] LaurenWags commented on #12232
@bsclifton - the user who told me it's still occurring for them is also encountering the proxy issue (https://github.com/brave/browser-laptop/issues/12959) so I don't know that they can check this one.

[2018-02-13 14:56] benjibee commented on #13087
This has been driving me crazy recently. Eventually YouTube playback is as slow as a first-gen MacBook Air and just today it's become all-together unresponsive at some point, new tabs open in the tab bar but never produce a window, clicking on inputs takes ages, etc. etc. Relaunching Brave does indeed fix the issues temporarily.

[code]

[2018-02-13 15:05] benjibee commented on #13100
The you provided has the same behavior in Firefox, Safari, and Google Chrome, as well as Brave. But if I go to [https://client.schwab.com/Login/SignOn/CustomerCenterLogin.aspx](https://client.schwab.com/Login/SignOn/CustomerCenterLogin.aspx) I can see the issue you mention, and it only has this behavior in Brave.

[2018-02-13 15:11] djmaze commented on #13087
When this problem occurs for me (on Linux), I can almost everytime see in the task manager that there is one of Brave's subprocesses (`brave --type renderer ..`) which takes up alnost 100% CPU. If I kill this process, Brave continues to run while, for the time being, the slowness goes away.

I hope Brave does not do cryptomining in the background..

[code]

[2018-02-13 15:31] kjozwiak commented on #13041
[code]

[2018-02-13 15:38] kjozwiak commented on #13032
Received the following output when running `pkgutil --check-signature` against `Brave-0.20.39.pkg`:

[code]

Also ensured that you could view the certificate via the `lock` icon during the `pkg` installation process, example:

<img width="631" alt="screen shot 2018-02-13 at 10 34 14 am" src="https://user-images.githubusercontent.com/2602313/36158303-fbbd0002-10a9-11e8-959d-4a61aec9d876.png">

[2018-02-13 16:41] #9568 closed

[2018-02-13 16:41] SirElTomato commented on #10693
Just come across the same issue.

@joeclark-phd fix works! Thanks!

Have dev tools open, tick 'disable cache' checkbox, perform clean reload

My context:

Brave | 0.20.30
V8 | 6.4.388.40
rev | 8b78402
Muon | 4.7.9
OS Release | 10.0.16299
Update Channel | Release
OS Architecture | x64
OS Platform | Microsoft Windows
Node.js | 7.9.0
Brave Sync | v1.4.2
libchromiumcontent | 64.0.3282.119

[2018-02-13 16:47] bsclifton commented on #8164
@arsalankhalid absolutely 😄 I'll self-assign to reserve it for you

[2018-02-13 16:49] bsclifton commented on #12586
@srirambv did you experience during any recent testing? I'd like to propose that we close the issue

[2018-02-13 16:52] srirambv commented on #12586
Will give it a try. Haven't checked beta off late. Will update in notes

[2018-02-13 16:53] #6750 closed

[2018-02-13 16:56] bsclifton commented on #10888
@sergiorojasa let's do it 😄 I self-assigned the issue, it's all yours!

[2018-02-13 17:07] lukemulks commented on #13087
I'm running into the issue as well.
[code]
![brave-memory-win10-02122018](https://user-images.githubusercontent.com/8979240/36163040-01bbcd4c-109d-11e8-8b64-04584d934fd4.PNG)

As opposed to relaunching Brave - if I close the lid on my laptop and re-open to wake the computer back up, it resolves the issue for 1-2 days before it is noticeable again.

[2018-02-13 17:44] flamsmark commented on #12935
I feel like we've decided which process to use — ours. What work are we currently tracking with this issue?

[2018-02-13 17:56] beimprovised commented on #2185
Tree Style is just an entrance of knowledge management.
The style itself is nothing. What you need is a personal knowledge assistant, memory management, sharing management, etc.

[2018-02-13 17:58] flamsmark commented on #6875
@bsclifton Is the tracking implication different when it's `https://example/tracking.jpg?id=123456` as opposed to `http://example/tracking.txt?id=123456`. That is: what's the relationship between the privacy consequences and the filetype being requested?

My preference is to combine this with other [content-blocking](https://github.com/brave/browser-laptop/labels/feature%2Fcontent-blocking) reques

[2018-02-13 18:16] jonathansampson opened #13123 "Salon detects Brave as ad-blocker"
### Description
Users who visit salon.com will be presented with an ad-block message.

### Steps to Reproduce
Navigate to Salon.com

**Actual result:**
Ad-blocker message is presented

**Expected result:**
User is able to browse uninterrupted

**Reproduces how often:**
Always

### Brave Version
0.20.30

**about:brave info:**
[code]

**Reproducible on current live release:**
Yes

[2018-02-13 18:17] CardealRusso opened #13124 "Show downloaded size on download"
### Description
When the download have no file size in header, Brave just say "Downloading". Could be better to show the size downloaded, something like "123 MB..."

### Steps to Reproduce

  1. Open https://drive.google.com/uc?id=14eeKZUzAlr707dWTCJehBmCmZvKPQyXN&export=download
  2. Click download anyway
  3. See the thing

**Actual result:**
"Downloading..."

**Expected result:**
"1MB..."

**Re

[2018-02-13 18:39] alexwykoff commented on #13057
@srirambv could we double-check on stats.brave.com to see if we have cleared the queue?

[2018-02-13 18:40] alexwykoff commented on #12957
@bridiver have you had a moment to debug this?

[2018-02-13 18:43] bsclifton opened #13126 "Changing IP Address cause Brave crash"
### Description

See https://github.com/brave/browser-laptop/issues/12232 for original issue report

User reached out to @LaurenWags in the 0.19.x (0.19.134 and 0.19.139).  They are unable to retry this because they are encountering another issue: https://github.com/brave/browser-laptop/issues/12959

[2018-02-13 18:44] bsclifton commented on #12232
Closing in favor of https://github.com/brave/browser-laptop/issues/13126 as this issue was tracking a Chromium 63 specific issue which was fixed

[2018-02-13 18:44] #12232 closed

[2018-02-13 18:48] veshi11 commented on #10761
same issue with my brave browser..on solus os after install brave from snap fonts of browser are not good.

[2018-02-13 18:52] LaurenWags opened #13127 "crash report generated on each launch when using referral code installer"
### Description
I noticed crash reports being generated and shown in chrome://crashes on each launch when I had installed from Brave-refcode.pkg file.

### Steps to Reproduce

Pre-req: remove any existing Brave installations and profiles.
  1. Nav to releases page and download Brave-0.20.40.pkg
  2. Install from this pkg.
  3. Launch Brave. Navigate to chrome://crashes. No crash reports listed.

[2018-02-13 18:56] alexwykoff commented on #13088
@diracdeltas @jumde is this release blocking?

[2018-02-13 19:02] diracdeltas commented on #13088
if possible

[2018-02-13 19:15] kjozwiak commented on #13057
@alexwykoff @aekeus just checked again.. looks like the last reports are from ~16hrs ago.

[2018-02-13 19:26] kjozwiak commented on #12274
@bsclifton @NejcZdovc do we have any STR that we could use as a test plan?

[2018-02-13 19:32] kjozwiak commented on #13082
Thanks for the verification @btlechowski! Marking as "Verified" under Win.

[2018-02-13 19:35] kjozwiak commented on #13102
@bsclifton is this the same bug as #12274 as they share the same PR/Fix? Do they share the same STR/Test Plan?

[2018-02-13 19:49] flamsmark commented on #12935
Okay, I'm going to close this one and if you want to use it to track IPC with Tor, feel free either to rename and reopen or create a fresh issue.

[2018-02-13 19:49] #12935 closed

[2018-02-13 20:00] kjozwiak commented on #13127
Possibly related to the issue mentioned above:

When running Brave using an installer that includes the referral campaign, you'll get the following exception when launching without `LEDGER_REFERRAL_CHECK_TIME=5000 LEDGER_ENVIRONMENT=staging <app path>`:

[code]

We need to investigate and ensure that the above error doesn't occur for users that won't be part of the referral campaign once the produ

[2018-02-13 20:02] riastradh-brave opened #13129 "Decide how to communicate with tor subprocess"
[Copied from #12935.]

The Firefox-based Tor Browser does two things:

1. Uses port 9150 by default for socks, and 9151 by default for control, in contrast to the usual defaults, 9050 and 9051, respectively.
2. On systems that support it, uses local sockets instead of tcp sockets for _both_ socks and control.  (I didn't realize until today that the tor daemon even supported local sockets for socks

[2018-02-13 20:03] calebv commented on #13087
Wanted to sound off hear as well. Experiencing very similar issues. Details:

Brave: 0.20.30
V8: 6.4.388.40
rev: [8b78402e7b3b91d44d8146cbe4dc8013592c33fd](https://github.com/brave/browser-laptop/commit/8b78402e7b3b91d44d8146cbe4dc8013592c33fd)
Muon: 4.7.9
OS Release: 17.4.0
Update Channel: Release
OS Architecture: x64
OS Platform: macOS
Node.js: 7.9.0
Brave Sync: v1.4.2
libchromiumcontent: 64.0.3

[2018-02-13 20:05] bsclifton commented on #12758
Moving back to 0.22.x for now (since there isn't already a PR for this)

[2018-02-13 20:06] riastradh-brave commented on #12936
[Copied from #12935.]

The Firefox-based Tor Browser does two things:

1. Uses port 9150 by default for socks, and 9151 by default for control, in contrast to the usual defaults, 9050 and 9051, respectively.
2. On systems that support it, uses local sockets instead of tcp sockets for _both_ socks and control.  (I didn't realize until today that the tor daemon even supported local sockets for socks

[2018-02-13 20:06] riastradh-brave commented on #13129
Oops, this issue was already being tracked in #12936.

[2018-02-13 20:06] #13129 closed

[2018-02-13 20:11] petemill opened #13130 "pkg-installed Brave.app should only be updatable by admin users"
### Description
#13111 introduced a fix for updater by setting permissions on the freshly-installed Brave.app in a postinstall script. During security review it was decided it was most appropriate to set group owner to admin, and not staff, ensuring that only admin users can perform an update or removal of the app.

### Test plan
Ensure installation, running, updating and removal of the app work w

[2018-02-13 20:11] MargarytaChepiga commented on #7888
@LiunkaeThat helps a lot! Thank you so much!

[2018-02-13 20:18] diracdeltas commented on #13088
@bsclifton yup, the muon changed will fix the issue. It's opened here so QA has steps to verify it. (In particular, they should verify that the change does not break brave autoupdate)

[2018-02-13 20:33] bsclifton commented on #12970
Tested with 0.21.9 and this is working as expected (tested both on macOS and Windows 7)

[2018-02-13 20:33] #12970 closed

[2018-02-13 20:35] bsclifton commented on #12971
Confirmed I get this, but I don't see it as critical since the functionality still works as expected

[2018-02-13 20:36] bsclifton commented on #12669
Pushing back to 0.22.x
cc: @bridiver

[2018-02-13 20:37] bsclifton commented on #12653
pushing back to 0.22.x

[2018-02-13 20:37] bsclifton commented on #12333
@riastradh-brave are you still experiencing this with the live release (0.20.30)? I believe this was fixed before we shipped 0.20.x.  You can also try the latest Beta (0.21.x) 😄 which I just released (0.21.9)

[2018-02-13 20:42] bsclifton commented on #11226
Moving to 0.22.x

[2018-02-13 20:46] bsclifton commented on #13000
Fixed with https://github.com/brave/browser-laptop/pull/13042

[2018-02-13 20:46] #13000 closed

[2018-02-13 21:13] LaurenWags commented on #12941
@cezaraugusto test plan works (0.19.x -> 0.20.x) but doesn't work when going from 0.20.30 (currently released version) to 0.20.40. I suspect a majority of users will be updating from 0.20.30 to the next 0.20 version.

[2018-02-13 21:24] Tomatoshadow2 commented on #13100
Yes, it would just redirect me to that link you mentioned.

[2018-02-13 21:51] LaurenWags commented on #12786
Works on MacOS 10.12.6
![screen shot 2018-02-13 at 4 51 16 pm](https://user-images.githubusercontent.com/28145373/36175626-23a44a4c-10de-11e8-9cb2-cf2122cce533.png)

[2018-02-13 21:54] LaurenWags commented on #12784
pkg file works on MacOS 10.12.6

[2018-02-13 22:32] LaurenWags commented on #13089
Test on MacOS 10.12.6 when downloading from both FireFox and Chrome.

[2018-02-13 22:45] LaurenWags commented on #13106
Checked on MacOS 10.12.6 updating `0.20.39` to `0.20.40`:
- No 'Add Helper'
- Brave automatically relaunched
- Verified about:brave was updated as expected

[2018-02-13 22:45] LaurenWags commented on #13109
Checked on MacOS 10.12.6 updating `0.20.39` to `0.20.40`:
- No 'Add Helper'
- Brave automatically relaunched
- Verified about:brave was updated as expected

[2018-02-13 22:47] diracdeltas commented on #13130
(cross-posting discussion from slack)

we found that if we change the group owner to admin, we should set the owner to USER instead of root

[2018-02-13 23:02] petemill commented on #10100
Confirmed - we have replicated this now. The autoUpdater will fail to update on a non-admin user account is running, even if that user account has ownership, and write permissions, to the app.

[2018-02-13 23:28] #13127 closed

[2018-02-13 23:43] kgriffs commented on #10693
Brave appears to send an if-none-match to check the etag even when doing a clean reload. I would prefer if it behaved as Chrome does and performed a regular GET request when the cache is disabled, to help me test caching proxy behavior.

---
Brave: 0.20.30
V8: 6.4.388.40
rev: 8b78402e7b3b91d44d8146cbe4dc8013592c33fd
Muon: 4.7.9
OS Release: 17.4.0
Update Channel: Release
OS Architecture: x64
OS Pla

[2018-02-13 23:43] LaurenWags commented on #13082
Works on MacOS 10.12.6 (using ledger_environment=staging and `0.20.40`):
![screen shot 2018-02-13 at 6 43 32 pm](https://user-images.githubusercontent.com/28145373/36180309-d19b3a98-10ed-11e8-931b-d61ccfad1d8f.png)

[2018-02-14 00:21] bradleyrichter commented on #12862
I think the QR code already did all of this work for us.  ;   )

[2018-02-14 00:26] bradleyrichter commented on #7551
suggestion: Only suggest to pay my top 10. Let me add individual sites if needed.

[2018-02-14 00:57] #13130 closed

[2018-02-14 00:58] airbr commented on #7386
Encouraging words/I brought this to the attention of Brendan Eich: https://twitter.com/BrendanEich/status/963577074098122753

[2018-02-14 01:29] kjozwiak commented on #12784
Went through the test plan mentioned above using the following platforms:

* macOS 10.13.3 x64 Desktop - PASSED
* OSX 10.11.6 x64 VM - PASSED
* OSX  10.10 x64 VM - PASSED

Thanks for going through `MacOS 10.12.6` @LaurenWags!

[2018-02-14 01:48] JGJP commented on #2185
Even if that was true (which it's not, imo) Tree Tabs is still the best solution.

[2018-02-14 03:36] kjozwiak commented on #12786
Went through the above STR/Test Case using the following platforms:

* macOS 10.13.3 x64 Desktop - PASSED
* OSX 10.11.6 x64 VM - PASSED
* OSX 10.10.5 x64 VM - PASSED

[2018-02-14 03:51] perryizgr8 commented on #12959
Still broken on 0.20.40

[code]

[2018-02-14 04:52] pdimri commented on #271
New update landed on my phone but nothing related to dark mode. Please implement something like Samsung browser's dark/ high contrast mode. I have high expectations from brave team .

[2018-02-14 05:28] bsclifton opened #13134 "When profile is corrupt, broken entries need to be pinned twice to stay pinned"
When testing https://github.com/brave/browser-laptop/issues/13102, @kjozwiak and I noticed that the fix didn't solve the issue 100%.

We had to do the following steps to "fix" the issue:

1. Have my profile (I have a backup- contact me; needs `session-store-1` and `ledger-state.json`)
2. Pin wikipedia.org
3. Visit wikipedia.org for ~10 seconds
4. Go to preferences#payments
5. Notice wikipedia.org

[2018-02-14 05:29] kjozwiak commented on #13102
While going through the above with @bsclifton, we also found #13134.

[2018-02-14 05:37] NejcZdovc commented on #11985
moving into 0.22

[2018-02-14 05:38] NejcZdovc commented on #9088
pushing back to 0.22

[2018-02-14 05:45] bsclifton commented on #12274
Removing milestone; the issue (as described) was fixed with 0.20.x.  The underlying issue was fixed with https://github.com/brave/browser-laptop/pull/13103

[2018-02-14 05:54] kjozwiak commented on #13082
Went through the above STR/Test Case using `0.20.41` 7bc4c2c8e6ef052407c581a61fc00b584b78f17d on the following macOS/OSX platforms:

* macOS 10.13.3 x64 Desktop - PASSED
* OSX 10.11.6 x64 VM - PASSED
* OSX 10.10.5 x64 VM - PASSED

Quick Note: to get this correctly working, ensure that you're actually using a real promo code that has been created via publishers.

[2018-02-14 05:54] bsclifton commented on #12941
@cezaraugusto the change you made only executes when upgrading from 0.19.x to 0.20.x (hence the behavior @LaurenWags reports). Is there another way we can detect this broken state (and fix)?

[2018-02-14 05:57] NejcZdovc commented on #13030
pushing back to 0.22

[2018-02-14 06:08] NejcZdovc commented on #12579
pushing back, we can pull it in the milestone when we will start working on it

[2018-02-14 06:09] NejcZdovc commented on #9865
@petemill is this one still open?

[2018-02-14 06:12] petemill commented on #9865
@NejcZdovc Technically not, since we disabled the feature that's causing the issue, but if we re-enable the feature the problem is still there, and I'm working on it in #13120

[2018-02-14 06:13] NejcZdovc commented on #12941
@bsclifton should we push this into 0.22 or in the backlog?

[2018-02-14 06:14] NejcZdovc commented on #9865
@petemill can you please add closing keyword for this issue into #13120?

[2018-02-14 06:15] bsclifton commented on #12941
@NejcZdovc let's push to 0.22 for now- if a quick fix comes in, we can consider doing a new build and
 uplifting 😄

[2018-02-14 06:16] kjozwiak commented on #13070
With @NejcZdovc's help, went through verification on both Win/macOS in https://github.com/brave/browser-laptop/pull/13071#issuecomment-364269048.

[2018-02-14 06:35] bsclifton commented on #9888
@stshank @tylo @JaC0C0 @massung this issue may have been solved with our latest release (0.20.30).  In the preferences window (under advanced), you'll see a new slider for adjusting sensitivity.  Give that a shot and see if it helps 😄 (please let us know)

![screen shot 2018-02-13 at 11 34 52 pm](https://user-images.githubusercontent.com/4733304/36190648-9d609b8c-1116-11e8-8880-90da4d3339b1.png)

[2018-02-14 06:37] bsclifton commented on #12229
@NejcZdovc could this have been solved with https://github.com/brave/browser-laptop/pull/13103?

[2018-02-14 06:39] bsclifton commented on #12658
@gnapse I'm happy to report that with our latest release (0.20.30), this feature was finally delivered 😄

It was originally reported with https://github.com/brave/browser-laptop/issues/9615 and fixed with https://github.com/brave/browser-laptop/pull/9617

[2018-02-14 06:39] #12658 closed

[2018-02-14 06:40] kjozwiak commented on #13109
Went through the same test cases that @LaurenWags mentioned above using the following macOS/OSX platforms:

* macOS 10.13.3 x64 Desktop - PASSED
* OSX 10.11.6 x64 VM - PASSED
* OSX 10.10.5 x64 VM - PASSED

[2018-02-14 06:40] kjozwiak commented on #13106
Went through the same test cases that @LaurenWags mentioned above using the following macOS/OSX platforms:

* macOS 10.13.3 x64 Desktop - PASSED
* OSX 10.11.6 x64 VM - PASSED
* OSX 10.10.5 x64 VM - PASSED

[2018-02-14 06:40] NejcZdovc commented on #12229
@bsclifton I think yes

[2018-02-14 06:43] #13050 closed

[2018-02-14 06:43] #13049 closed

[2018-02-14 06:44] #13048 closed

[2018-02-14 06:44] bsclifton commented on #7386
@tomasdev as folks have noticed, we definitely have work to do in this area ☹️

 I'd say to continue using what you feel comfortable with when developing for now (Firefox, Chrome, etc). We have [several issues capturing dev tools issues](https://github.com/brave/browser-laptop/labels/feature%2Fdeveloper-tools) and are slowly making progress with regards to delivering them

[2018-02-14 06:45] bsclifton commented on #12343
@NumDeP does this still happen with our latest release?

[2018-02-14 06:50] bsclifton commented on #3025
Great fix by @ayumi which needs some additional work before we can accept it (if anyone is interested in checking out the hooks):
https://github.com/brave/browser-laptop/pull/11962

[2018-02-14 06:50] kjozwiak opened #13135 "Manual test run on OS X for 0.20.x Release 2 (Referral Promotion)"
## Per release specialty tests
 - [x] Pkg-installed Brave.app should only be updatable by admin users. ([#13130](https://github.com/brave/browser-laptop/issues/13130))
 - [x] Crash report generated on each launch when using referral code installer. ([#13127](https://github.com/brave/browser-laptop/issues/13127))
 - [x] Brave Shows Different Shortcuts for New Session Tab. ([#13000](https://github.c

[2018-02-14 06:50] kjozwiak opened #13136 "Manual test run on Windows x64 for 0.20.x Release 2 (Referral Promotion)"
## Per release specialty tests
 - [x] Crash report generated on each launch when using referral code installer. ([#13127](https://github.com/brave/browser-laptop/issues/13127))
 - [x] Adblock issue on v0.20.35 (allmusic.com, youtube.com). ([#13090](https://github.com/brave/browser-laptop/issues/13090))
 - [x] PromoCode file is NOT generated when installation file has (1) suffix. ([#13089](https://

[2018-02-14 06:50] kjozwiak opened #13137 "Manual test run on Linux for 0.20.x Release 2 (Referral Promotion)"
## Per release specialty tests
 - [ ] Crash report generated on each launch when using referral code installer. ([#13127](https://github.com/brave/browser-laptop/issues/13127))
 - [ ] Adblock issue on v0.20.35 (allmusic.com, youtube.com). ([#13090](https://github.com/brave/browser-laptop/issues/13090))
 - [ ] PromoCode file is NOT generated when installation file has (1) suffix. ([#13089](https://

[2018-02-14 06:57] bsclifton commented on #518
Quick update on this:
It won't ship with our next release... but it IS available for testing now 😄 👍

Please check out our Beta channel...
https://github.com/brave/browser-laptop/releases/tag/v0.21.9beta

Help testing this would be very much appreciated 😄

[2018-02-14 06:58] bsclifton commented on #12991
@Liunkae yup- duplicate for sure! Closing this one.  Thanks for the report, @justsee 😄

[2018-02-14 06:58] #12991 closed

[2018-02-14 06:59] bsclifton commented on #10100
+1 from @justsee via https://github.com/brave/browser-laptop/issues/12991

[2018-02-14 08:12] haster opened #13138 "Welcome page says to click on shield icon, shield icon doesn't work"
### Description
Shield button ("Lion"-icon) doesn't work on welcome page which tells you to click on the shield button, leading to getting stuck following "welcome" instructions.

### Steps to Reproduce
  1. (Install Brave fresh)
  2. Open brave and/or go to about:welcome
  3. Follow the instructions on the page. The 2nd set-up step is "Click on the shield icon". Try it.
  4. See how nothing happe

[2018-02-14 08:12] NejcZdovc opened #13139 "Add Twitch support"
### Description

Add support for Twitch into Brave Payments

[2018-02-14 08:27] haster opened #13140 "URL bar is slow in responding to what I am typing"
### Description
Starting to type in the url bar of a browser tabe will lead to a visible delay (~1s) before letters start to appear in the url bar and suggestions start to appear in the suggestions list. (It seems the url bar is waiting for the suggestions to load).
Sometimes the first letter will show and then the freeze happens, sometimes no letters will show.
At my typing speed the suggestions

[2018-02-14 08:43] srirambv commented on #13041
![image](https://user-images.githubusercontent.com/17010094/36194803-32bc0e44-1191-11e8-8bb3-adecd43bd91b.png)

[2018-02-14 08:48] sterno1966 commented on #13117
ok i see it does block my bad thank you

[2018-02-14 09:22] srirambv commented on #13000
Seeing this on latest build (0.20.41)
![image](https://user-images.githubusercontent.com/17010094/36196362-8e26e6fa-1196-11e8-9d55-6c9dd7c6d20d.png)

[2018-02-14 09:24] srirambv commented on #13127
No crash id generated when launching 0.20.41 without `LEDGER_ENVIRONMENT=staging` variable

[2018-02-14 10:58] rasdia commented on #1374
I use a Swiss French keyboard on Windows 10. On this keyboard, the key combination used to add the @ sign (alt gr + 2) is the same as Brave's shortcut to opening a new tab.
(Thanks @m0se , but I'm not code-literate enough to get that workaround to work.)

[2018-02-14 14:01] srirambv commented on #7388
Copy paste works on new email using thunderbird for Windows.

[2018-02-14 14:08] LaurenWags commented on #13000
Verified keyboard shortcuts removed on MacOS:

![screen shot 2018-02-14 at 9 00 38 am](https://user-images.githubusercontent.com/28145373/36208304-a504f07c-1166-11e8-975a-d4c91596160b.png)

[2018-02-14 14:11] srirambv commented on #13067
Still broken on Window 10. Checked with 0.20.35/39/40/41 and none of them created the promoCode file

[2018-02-14 15:56] TDeisinger commented on #12959
Still present on .20.41

[2018-02-14 16:14] #11061 closed

[2018-02-14 16:37] bsclifton commented on #13067
Issue found- `muon-winstaller` version didn't get updated in package-lock.json (needs to be 2.6.1)

[2018-02-14 16:42] vinicentus commented on #13094
+1 from [here](https://github.com/brave/browser-laptop/issues/13000#issuecomment-362880783)

[2018-02-14 16:46] #13117 closed

[2018-02-14 16:47] bsclifton commented on #13138
cc: @bradleyrichter @davidtemkin

[2018-02-14 17:02] vaxosv commented on #3555
+1

[2018-02-14 17:19] bsclifton commented on #13016
Closing as a duplicate of https://github.com/brave/browser-laptop/issues/13087

We are looking into the issue- you can subscribe to that issue for updates

[2018-02-14 17:19] #13016 closed

[2018-02-14 17:21] bsclifton commented on #13087
+1 from @LethalManBoob via https://github.com/brave/browser-laptop/issues/13016

suddenly it runs at 3fps. A reboot being required. Cpu does spike and stay
at 30% on my 6700k though. I reinstalled and haven't had the issue since.
But it could happen at any moment so i dunno. I tried turning on and off
the experimental security option but no change.

[2018-02-14 18:15] #13067 closed

[2018-02-14 18:23] dskeppstedt commented on #11136
Cool, working on a fix!

[2018-02-14 18:30] jonathansampson commented on #12959
@bridiver Appears the issue was introduced with 0.20.29, according to a few users. Reports are that 0.20.27 do not have this issue, and work as expected.

@diracdeltas Do you recall which version of Brave you tested with Tor?

[2018-02-14 18:34] quantumproducer opened #13143 "Request: Brave mines BAT (or Monero) and autopays"
I heard BRAVE browser would pay BAT to sites I visit.
This BAT only comes from being funded -- some by BRAVE donations, or by me adding to wallet.

Why not just have BRAVE mine BAT (or Monero or something else that makes sense).
Websites can publish the wallet addresses they accept and BRAVE auto pays from my wallet (or do pool mining + the BRAVE pool auto pays).

[2018-02-14 18:54] LaurenWags commented on #7388
Copy/Paste of images from several sources to gmail, facebook, etc worked on MacOS

[2018-02-14 18:56] kjozwiak commented on #13127
Went through the above STR/Test Case using `0.20.42` 096c7cb3c75ebb518f72fc7d24bc2bbaedd50aed on the following macOS/OSX platforms:

* macOS 10.13.3 x64 Desktop - PASSED
* OSX 10.11.6 x64 VM - PASSED
* OSX 10.10.5 x64 VM - PASSED

[2018-02-14 19:02] LaurenWags commented on #12791
A. Happy Path steps for MacOS:

[2018-02-14 19:20] LaurenWags commented on #13130
Verified on MacOS 10.12.6

[2018-02-14 19:30] kjozwiak commented on #13130
Went through the above STR/Test Case using `0.20.42` 096c7cb3c75ebb518f72fc7d24bc2bbaedd50aed on the following macOS/OSX platforms:

* macOS 10.13.3 x64 Desktop - PASSED
* OSX 10.11.6 x64 VM - PASSED
* OSX 10.10.5 x64 VM - PASSED

Also used `ls -alh /Applications` and ensured the entries appeared as:
* `drwxrwxr-x   3 kjozwiak  admin    96B 14 Feb 14:21 Brave.app`

[2018-02-14 19:49] eljuno commented on #1374
@rasdia that issue will be fixed in next release #12956. :)

[2018-02-14 19:54] evq commented on #518
@chmanie No, we don't have a flag - it should be automatically enabled. I did some testing and I am investigating the possibility of a platform specific issue. What OS are you using?

[2018-02-14 20:02] eljuno commented on #9088
@jonathansampson Still can't reproduce this on latest stable. 😄

![first-bookmark-20-30-overlap](https://user-images.githubusercontent.com/25360853/36225032-fd3bdfc2-11fb-11e8-9f7e-2dd65f5ba9e1.gif)

[2018-02-14 20:21] bsclifton commented on #12959
Definitely going to need help finding steps to reproduce this

I've configured both a macOS and Windows 10 machine using a SOCKS proxy and both worked as expected

@TDeisinger @perryizgr8 @cwbriscoe @bjoernbusch @derekhillhp @rejkube do you have more information about your proxy setup? ex: what protocol?  If you're using a public proxy (and not an intranet one), would you be able to share details

[2018-02-14 20:23] bjoernbusch commented on #12959
We have a pac proxy script to configure the settings. Not sure how much of the details I can share there, but I'll check, whether I can share a reduced one.

[2018-02-14 20:28] bsclifton commented on #12959
It's worth noting that there were only 6 commits between 0.20.27 (which is reported as working) and 0.20.30

- Merge pull request #11103 from brave/issue-11101
  - always return copy of parse url and remove option for query as object
  - https://github.com/brave/browser-laptop/commit/498ce5ce8600ffe4c342329c70384596a98eda70
- Merge pull request #12942 from brave/fix/12939
  - firstPartyUrl can be

[2018-02-14 20:35] TDeisinger commented on #12959
I have a PAC proxy script as well and I am not the one that manages it..so I am not sure what specifics I could give.

[2018-02-14 20:40] bsclifton commented on #12959
@bjoernbusch @TDeisinger if you are both able to try 0.20.27 to confirm that it does work, that would help for sure 😄 Out of the above, there are two suspect changes which I can try reverting and providing you a custom build to confirm the fix

Here's a download link for 0.20.27 if you were able to try and confirm it works:
https://github.com/brave/browser-laptop/releases/tag/v0.20.27dev

[2018-02-14 20:40] LaurenWags commented on #12789
See https://github.com/brave/browser-laptop/issues/12791#issuecomment-365710416 for MacOS tests with 10.13.3 ( @kjozwiak) and 10.12.6 ( @LaurenWags)

[2018-02-14 20:43] bjoernbusch commented on #12959
I can confirm that 0.20.27 works. It was mentioned earlier, so I tried installing that and I could browse different websites. Unfortunately the auto-update worked as well :)

[2018-02-14 20:46] TDeisinger commented on #12959
Also can confirm .20.27 works. Once it updates to beyond that (.29 I think), auto-update stops working too, basically because I think it can't get any connection out.

[2018-02-14 21:35] bsclifton commented on #12959
And here's the second experimental fix (also Windows only) if folks wanted to try it. This build backs out https://github.com/brave/browser-laptop/commit/498ce5ce8600ffe4c342329c70384596a98eda70
https://github.com/brave/browser-laptop/releases/tag/0.20.x-exp-proxy-fix-2

[2018-02-14 22:23] bsclifton commented on #12959
Awesome, thanks for trying it out @Kickimanjaro! I believe we have narrowed the issue down and I've created a new build which you can try:
https://github.com/brave/browser-laptop/releases/tag/0.20.x-exp-proxy-fix-3

This version should work perfectly

[2018-02-14 22:35] TDeisinger commented on #12959
I have tested and it is working on this version

Brave: 0.20.43
V8: 6.4.388.41
rev: 8e71853d5d25b34cddc4b21a2978654221259bc9
Muon: 4.8.2
OS Release: 10.0.14393
Update Channel: Release
OS Architecture: x64
OS Platform: Microsoft Windows
Node.js: 7.9.0
Brave Sync: v1.4.2
libchromiumcontent: 64.0.3282.140

[2018-02-14 22:41] TDeisinger commented on #12959
.20.45 does not work, it keeps timing out again.

[2018-02-14 22:42] LaurenWags commented on #12828
Reproduced on 0.20.42 but no clear steps yet.

[2018-02-14 22:43] Kickimanjaro commented on #12959
Tested Fix 3 and it failed. Upon redoing my original tests it looks like the brief test I tried for Fix 2 was in error (I must have hit a cached page or something) as Fix 2 now consistently fails. Fix 1 (0.20.43) still works, though. My apologies for that. The following version (fix 1) works:

Brave | 0.20.43
V8 | 6.4.388.41
rev | 8e71853
Muon | 4.8.2
OS Release | 10.0.14393
Update Channel | Relea

[2018-02-14 22:44] TDeisinger commented on #12959
Yes I think .43 is the correct one.

[2018-02-14 23:07] btlechowski commented on #13041
Verified
[code]

[2018-02-14 23:09] bsclifton commented on #12959
Awesome- thanks for the feedback 😄 👍 I'll review the findings with the team and we'll work on a proper fix 😄 In the meantime, you can use the 0.20.43 change and it should work as expected

[2018-02-14 23:10] btlechowski commented on #13000
Verified
[code]

[2018-02-14 23:25] btlechowski commented on #7388
Verified
[code]

[2018-02-14 23:27] TDR-MGTOW opened #13144 "Mac OSX : Ads escape the shield on twitter"
**Have you searched for similar issues?**
Yes, hopefully i did my homework

### Description

On twitter the ads will escape the shield when you toggle it few times.

### Steps to Reproduce

  1.Visit Twitter.com
  2.Click on the Tiger icon from the top right corner.
  3.Toggle the shield few times and the ads will escape even if click on (Messages,Notification,etc) and come back to the home feed.

[2018-02-14 23:49] bsclifton commented on #13087
I believe the majority of the impact for this issue was caused by recent changes to tab discarding.
https://github.com/brave/browser-laptop/pull/12917
https://github.com/brave/browser-laptop/pull/12977

@petemill is looking into this along with @bridiver.  I've done some profiling of the app and haven't found any red flags in the code (yet)

[2018-02-14 23:50] Samuelvey commented on #9258
How to connect metamask.io from my etherwallet.com?

[2018-02-15 00:00] derekhillhp commented on #12959
Sorry I am late to the party, but I also tried the 0.20.43 fix and can confirm that it works with just some cursory testing using the corporate PAC (auto configurartion script) file.

[2018-02-15 00:59] arsalankhalid commented on #12770
Sadly don't see it when I run it, even in staging :(

![image](https://user-images.githubusercontent.com/5307218/36235940-5badb5d4-11c1-11e8-8f57-44c1cd5bb4bf.png)

I was hoping there was a way to test running the promos, or not possible? It would be easier to ensure the typography is good for all types of promo messages...as long as those promos are actually fake :P

It's also possible i tried to

[2018-02-15 02:01] kjozwiak commented on #13057
Closing this off... I'm pretty sure this is due to the crash server being behind.. I believe we're almost 2 days behind at this point.. However, crash reports are coming in so this seems to be working.

[2018-02-15 02:01] #13057 closed

[2018-02-15 02:03] kjozwiak commented on #12957
Moving this into the next milestone as we're planning on a release for tomorrow.

[2018-02-15 02:05] srirambv commented on #13067
Verified placing the setup in different path with white space. Works fine, promoCode is recognized correctly and added.

[2018-02-15 02:08] kjozwiak commented on #13067
Worked for me as well 👍 Used the following download paths:

* C:\Users\Kamil Jozwiak\Desktop\Testing Brave Downloads
* C:\Testing Brave Downloads

[2018-02-15 02:14] #13136 closed

[2018-02-15 02:14] #13135 closed

[2018-02-15 02:17] kjozwiak opened #13145 "Release checklist for 0.20.x Hotfix 2 (Release Channel)"
# Release Process Checklist

Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

## Release Commands
### First-time Setup
- [x] `git clone git@github.com:brave/vault-updater && cd vault-updater`
- [x] `git clone git@github.com:brave/release-tools`
- [x] `npm install`
- [x] install the her

[2018-02-15 03:15] kjozwiak commented on #12802
Going to close this for now.. Wrote it down as a TODO... Created https://github.com/brave/qa-resources/issues/50 which is the repo for the manual runs.

[2018-02-15 03:15] #12802 closed

[2018-02-15 03:26] kjozwiak opened #13146 "Release notes for 0.20.x Hotfix 2 (Release Channel)"
Release Notes:
 - Some entries (including pinned) disappear and then get re-added to ledger as unpinned. ([#13102](https://github.com/brave/browser-laptop/issues/13102))
 - Update to muon 4.8.2. ([#13041](https://github.com/brave/browser-laptop/issues/13041))
 - Brave Shows Different Shortcuts for New Session Tab. ([#13000](https://github.com/brave/browser-laptop/issues/13000))
 - AltGr + Number o

[2018-02-15 03:33] arsalankhalid commented on #8164
OK Great :) Will take a stab

[2018-02-15 03:46] cannedshrimp commented on #518
No luck here either with the v0.21.9 beta. Still getting an error message that something went wrong when trying to use my yubikey with google.

[2018-02-15 03:50] evq commented on #518
@cannedshrimp what OS are you trying with?

[2018-02-15 04:14] cannedshrimp commented on #518
Running MarCOs High Sierra v10.13.3

[2018-02-15 04:44] thereseng commented on #7866
Same problem here. Need to use Google Authenticator

[2018-02-15 04:46] kevinp2 commented on #13087
I'm seeing the same issue on Windows 7.  I think it may be related to a memory leak.  This did not happen in earlier releases.

Brave | 0.20.30
-- | --
V8 | 6.4.388.40
rev | 8b78402
Muon | 4.7.9
OS Release | 6.1.7601
Update Channel | Release
OS Architecture | x64
OS Platform | Microsoft Windows
Node.js | 7.9.0
Brave Sync | v1.4.2
libchromiumcontent | 64.0.3282.119

After having Brave open for some

[2018-02-15 05:10] mkielhauser commented on #12959
Yeah, late here too but 0.20.43 works perfectly for me too. Thank you for the effort in addressing this!

[2018-02-15 05:49] bsclifton commented on #12959
@mkielhauser @derekhillhp @TDeisinger @Kickimanjaro need help testing a possible solution.  The above (0.20.43) has a crash bug.  I've put together a fix which should fix the crash + fix the proxy issue (solution proposed by @diracdeltas)

If you have a minute, please check out:
https://github.com/brave/browser-laptop/releases/tag/0.20.x-exp-proxy-fix-4

[2018-02-15 06:02] kjozwiak opened #13149 "Update to Chromium 64.0.3282.140"
## Test plan
1. Visit `about:brave`
2. `libchromiumcontent` version should be `64.0.3282.140`

[2018-02-15 06:02] kjozwiak commented on #13149
Fixed with https://github.com/brave/browser-laptop/commit/322079ac9aea526cc688cbaa159d89edfb724d4c

[2018-02-15 06:02] #13149 closed

[2018-02-15 06:08] bjoernbusch commented on #12959
The latest experimental fix doesn't work for me, it times out again.

Brave: 0.20.46
V8: 6.4.388.41
rev: bd8046e01a5c6f9e72954f744cec40e159399b70
Muon: 4.8.2
OS Release: 10.0.16299
Update Channel: Release
OS Architecture: x64
OS Platform: Microsoft Windows
Node.js: 7.9.0
Brave Sync: v1.4.2
libchromiumcontent: 64.0.3282.140

43 works for me as well.

Brave: 0.20.43
V8: 6.4.388.41
rev: 8e71853d5d25b

[2018-02-15 06:26] bsclifton commented on #12959
@bjoernbusch ok great, thanks for confirming! I'll remove the link

[2018-02-15 06:55] NejcZdovc commented on #12770
[Archive.zip](https://github.com/brave/browser-laptop/files/1726630/Archive.zip)

You can use this profile. Just copy it into user profile folder and run `LEDGER_ENVIRONMENT=stagingn npm run start` and you should see the overlay that you need.

[2018-02-15 07:24] #13134 closed

[2018-02-15 09:12] chmanie commented on #518
Same here. I’d be happy to help and debug this further (given the instructions)

[2018-02-15 09:24] sogasg commented on #1753
This is currently the only issue that makes it impossible to switch to the Brave browser. I am often checking back to see if it's added because I want to switch over.

I hope you will add this option in the near future. Please....

[2018-02-15 09:33] Tomatoshadow2 commented on #13144
That's because that is a first party ad, the team is working on the ability to block 1st party ads in the future.

[2018-02-15 11:07] chackle opened #13151 "Macbook Emoji Window shortcut is disabled"
### Description

Normally when a text field has focus if you press [CTRL + CMD + Space] an emoji window appears for text entry. Brave is the only application on my Macbook that has this disabled.

### Steps to Reproduce

1. Click a text entry to gain focus
2. Press [CTRL + CMD + Space] together

**Actual result:**

Doesn't appear

**Expected result:**

Should appear. Happens 100% of the time.

###

[2018-02-15 11:09] srirambv commented on #8696
https://github.com/brave/sync/issues/183

[2018-02-15 11:15] vinicentus opened #13152 "Brave update details section link not complete"
### Description

When the update bar appears and you click details, you get this:
![screenshot 33](https://user-images.githubusercontent.com/17357504/36253734-13d3644e-1251-11e8-9469-2b064c6cc495.png)
It's a bit of a hassle to manually copy the url in the first place, but it doesn't even work (at least in dev versions). The url for v0.20.42dev should be `https://github.com/brave/browser-laptop/rel

[2018-02-15 13:50] ZenMilan commented on #4754
really the issue is annoying on Mac Sierra 10.13 I can't enable flash even after installing proper pepper version. help me out please.

[2018-02-15 14:34] #13146 closed

[2018-02-15 14:36] koppts commented on #12959
I can confirm 20.43 working as well (behind corporate fw and suffering since 20.29)

Brave | 0.20.43
V8 | 6.4.388.41
rev | 8e71853
Muon | 4.8.2
OS Release | 10.0.10240
Update Channel | Release
OS Architecture | x64
OS Platform | Microsoft Windows
Node.js | 7.9.0
Brave Sync | v1.4.2
libchromiumcontent | 64.0.3282.140

[2018-02-15 15:07] btlechowski opened #13154 "Cannot interact with page after fullscreen on youtube main page"
### Steps to Reproduce

  1. Go to youtube.com main page
  2. Press F for Fullscreen
  3. Allow the Fullscreen

**Actual result:**
Fullscreen is shown
Cannot interact with the page
Pressing ESC turns Fullscreen off
Turning off Brave shield does not change the behavior

**Expected result:**
Youtube fullscreen through F should not be activated when there is no movie

**Reproduces how often:**
100%

[2018-02-15 15:28] srirambv commented on #13152
Think this is related to #10960

[2018-02-15 15:48] bsclifton commented on #13152
Good catch @srirambv - this is a duplicate of https://github.com/brave/browser-laptop/issues/10960 😄 I'll close this issue in favor and give that one a bump

[2018-02-15 15:48] #13152 closed

[2018-02-15 15:48] bsclifton commented on #10960
+1 from @vinicentus via https://github.com/brave/browser-laptop/issues/13152
![screenshot 33](https://user-images.githubusercontent.com/17357504/36253734-13d3644e-1251-11e8-9469-2b064c6cc495.png)

[2018-02-15 15:54] beimprovised commented on #2185
https://drive.google.com/file/d/1OlrHBccyxE0lDYmU_Uk2i_Emxiz_slRd/view?usp=sharing
Here is a demo I've made for a proof.
https://github.com/beimprovised/tute

[2018-02-15 16:10] beimprovised commented on #2185
A new browser window (a tabs group) for a new topic which links to a blog or a social media can be handled with limited tabs number showing up and with more tabs in a tree structure as a back-end data. And you just need several this kind of windows normally. I put them together because they share the same back-end tabs tree :)

[2018-02-15 16:16] Liunkae commented on #13151
Confirmed with Brave 0.20.42 on macOS 10.13.3. The shortcut is listed on the menu, so I'm not sure why it's not working. Workaround is to use the menu.

![image](https://user-images.githubusercontent.com/19424103/36267218-fced6d14-1238-11e8-989d-f2e6391a6126.png)

[2018-02-15 16:19] arsalankhalid commented on #12770
I hate to be the local noob, but wheres our user profile? Trying to find Brave directory on OSX. Almost seems like a feature for users to easily switch their profiles through preferences/settings? I saw some open and closed tasks regarding to 'portable profiles', but don't see anything in preferences to easily switch.

Also that archive.zip file looks sketchy at first look lol, but i guess its a p

[2018-02-15 16:24] #13145 closed

[2018-02-15 16:53] LaurenWags commented on #13017
+1 from community: https://community.brave.com/t/cannot-open-links-in-new-tabs/16077

[2018-02-15 17:00] NejcZdovc commented on #12770
your user profile is in `/Users/username/Library/Application Support`. In there you will find `brave-development` folder. Delete whatever is in this folder and extract zip into it.

[2018-02-15 17:36] arsalankhalid commented on #12770
in my brave-development folder, but don't see anything:

![image](https://user-images.githubusercontent.com/5307218/36271525-d715fb42-124c-11e8-84ca-025de2a33919.png)

[2018-02-15 17:45] NejcZdovc commented on #12770
@arsalankhalid if you have time we can jump on a call and check it out. Just send me an email to `nejc at brave.com`

[2018-02-15 19:03] ptrwllrd commented on #12463
any chance this gets some attention soon?

[2018-02-15 20:11] TDR-MGTOW commented on #13144
it does block at first but if you toggle it breaks.

[2018-02-15 20:24] evq commented on #518
It looks like there is a Mac specific issue, I was able to confirm it as working on Windows and Linux but Mac also did not work for me. Thanks for your help testing, I will investigate more.

[2018-02-15 20:25] bsclifton commented on #12229
@bertsamp with our latest release, this issue should be fixed.  Can you please try and let us know?  Thanks! 😄

[2018-02-15 20:29] sammcoe commented on #7646
Same issue here.

[2018-02-15 20:33] lamaral commented on #518
I tried it on Windows 10, with the version linked above and it didn't work with the Yubico test page: https://demo.yubico.com/start/u2f/neo?tab=register.
It worked with GitHub and Google tho.

Just to add on the discussion, I once had trouble with Google and Firefox and read somewhere that Google implements the U2F part slightly different from the standard and that's what broke Firefox.

[2018-02-15 21:03] DivineOmega opened #13155 "Snap package does not install icon in Ubuntu 16.04"
### Description

Installing Brave through snap on Ubuntu 16.04 does not result in an icon in the Unity dash.

### Steps to Reproduce

  1. Install brave via snap as per documented instructions: https://github.com/brave/browser-laptop/blob/master/docs/linuxInstall.md#snapcraft
  2. Open the dash with the Super key, type 'brave'.
  3. Note that no Brave icon appears.

**Actual result:**

Snap packag

[2018-02-15 21:23] LaurenWags commented on #12828
+1 from @mandar-brave on 0.20.42. Also seeing that when trying to access release notes when about:brave is like the above, they result in 404.

[2018-02-15 21:30] eljuno commented on #2171
+1 from Twitter https://twitter.com/cryptokitsune_x/status/964211921149771776

[2018-02-15 21:47] MoonRubles opened #13156 "Payments Never Contributes"
### Description

Brave Payments keeps saying "next contribution on X", but when that date rolls around the date is advanced a month, still says "no previous contribution" and the balance in BAT has not changed. This has happened for a least 3 months.
All similar issues I see are marked closed.

### Steps to Reproduce

  1. windows 10, always kept updated, brave also allowed to update when availabl

[2018-02-15 21:49] LaurenWags opened #13157 "sometimes back button stops working until restart"
### Description
Reported by @mandar-brave on 0.20.42 the Back button stopped working. Restart of Brave resolved the issue.

### Steps to Reproduce

  1. Use Brave for some time.
  2. Try to use back/forward buttons.
  3.

**Actual result:**
Back/Forward buttons stop working. Must restart Brave to resolve the issue.

**Expected result:**
Buttons should continue to function.

**Reproduces how often:

[2018-02-15 22:07] echosa commented on #8164
Yes, this still an issue. Here's a GIF of me showing/testing `Brave -> About Brave` and `Brave -> Import Browser Data`. Notice that when I click them without an existing Brave window open (I close the window at the start of the GIF), clicking those entries does nothing. I expect that they would open a window and show the correct page/content.

![screen recording 2018-02-15 at 04 04 pm](https://use

[2018-02-15 22:53] evq commented on #518
@lamaral Interesting, that test site also doesn't work for me. However https://demo.yubico.com/u2f does

[2018-02-15 23:38] derekhillhp commented on #12959
@bsclifton Do you still need somebody to test the latest file posted: https://github.com/brave/browser-laptop/releases/download/0.20.x-exp-proxy-fix-1/BraveSetup-x64.exe

Don't want to download and break anything unless I have to. :-D

[2018-02-15 23:44] bsclifton commented on #12959
@derekhillhp no testing needed 😄 I had tried another fix without luck. We still have some more work to do- I may ask folks to try another fix sometime soon (stay tuned!)

[2018-02-15 23:48] #12688 closed

[2018-02-15 23:50] derekhillhp commented on #12959
Let me know if you need to test on a corporate network. We have one of those here.

[2018-02-15 23:52] lamaral commented on #518
@evq This site works for me.

[2018-02-16 00:45] mkielhauser commented on #12959
Yeah, same here. Corporate network and PAC script. I am in JST (UTC + 9) so I tend to be up later compared to you guys but I am happy to test any new version. Really like the browser and try to make it my standard for personal browsing.

[2018-02-16 01:37] rjro commented on #13156
Same, I was "Overdue" and now my next contribution date is set to next month. I also recently learned that payments aren't sent out until the 30th, so the actual date of your contribution doesn't matter, only that is within that timeframe.  I wish they would be more transparent about this whole system.

[2018-02-16 02:08] arsalankhalid commented on #8164
Ah much clearer, thank you. Will give it a shot!

[2018-02-16 02:44] petemill opened #13158 "Focused window does not have focus when restarting"
note: I noticed this, and made a fix, when testing Buffer Windows in #12438, but it is a regression from 0.20.x or before. Assigning to same milestone as buffer windows, but can be moved if the fix shouldn't land in that milestone.

### Description
This is caused by two reasons:
- An incorrect redux action name is preventing 'focusTime' from getting saved to windowState accurately
- We now open wi

[2018-02-16 03:20] srirambv opened #13159 "Add separator for urlBarIconContainer where EVC is not available"
### Description
Follow up of https://github.com/brave/browser-laptop/pull/13147#issuecomment-366129213

**Actual result:**

**Expected result:**

**Reproduces how often:**

### Brave Version

**about:brave info:**

**Reproducible on current live release:**

### Additional Information

[2018-02-16 03:23] lzantal opened #13160 "Downloaded app not installing"
Default settings in Brave when I download Skype on Mac it does not install.
It opens an empty window titled Brave. Also adds Chrome and Brave to the Finder sidebar.
Downloading the same app in other browsers installs as expected.

Tried other software and same results. Skype is the easiest to recreate it.

[2018-02-16 03:42] lzantal commented on #13160
Here is the screenshot of what it looks like
<img width="891" alt="screen shot 2018-02-15 at 19 40 04" src="https://user-images.githubusercontent.com/60950/36292679-5feb15ac-1288-11e8-8a5b-187329363588.png">

[2018-02-16 03:44] lzantal commented on #13160
I removed Brave and tried to install it. Got the same results but I was able open the Skype.dmg and move the app manually. However now when I try to install Brave again I get an empty window and I can't get into the dmg manually.
This is on Mac HighSierra.
<img width="909" alt="screen shot 2018-02-15 at 19 40 57" src="https://user-images.githubusercontent.com/60950/36292716-9ff58128-1288-11e8-8140

[2018-02-16 03:53] lzantal commented on #13160
So Skype is using Electron just like Brave so it might be a namespace collision issue. I had similar issues with nwjs.

[2018-02-16 05:56] Liunkae opened #13162 "Error page text is too light"
### Description
IMO, some of the text on the error page is too light.

### Steps to Reproduce

  1. Disconnect from the Internet.
  2. Open Brave and navigate to any URL.
  3. Look at the text that says "The Internet connection has been lost."

**Actual result:**
The text is too light to read clearly.
![](https://user-images.githubusercontent.com/19424103/36295008-2cba02f2-12aa-11e8-9e60-e99070517

[2018-02-16 06:07] bsclifton opened #13163 "Icon for mixed content is unintentionally shown as green"
### Test plan
See https://github.com/brave/browser-laptop/pull/13164

### Description

Unintentionally caused by https://github.com/brave/browser-laptop/pull/13147

### Steps to Reproduce

  1. Visit https://www.wsj.com/europe

**Actual result:**

![image](https://user-images.githubusercontent.com/4733304/36295291-d0b63102-12a3-11e8-9cf8-835953394414.png)

**Expected result:**
Page should be mixed

[2018-02-16 06:08] bsclifton commented on #13163
@MargarytaChepiga I self-assigned this issue to reserve it for you 😄 Will keep an eye out for a PR.  Please let me know if you have any questions

[2018-02-16 06:08] Liunkae commented on #13159
Maybe not needed if the following comment is still relevant.

https://github.com/brave/browser-laptop/issues/7888#issuecomment-292683092 @bradleyrichter:

[2018-02-16 06:09] bsclifton commented on #13159
Good catch, @Liunkae! Let's close this issue for now

@MargarytaChepiga no need to add the border (per comment by our head of design, @bradleyrichter in the original issue)

[2018-02-16 06:09] #13159 closed

[2018-02-16 07:13] #13021 closed

[2018-02-16 08:23] NejcZdovc commented on #13156
@MoonRubles @BobT36 @rjro can you please go to Advance settings (gear icon on the payments page) and click backup wallet. Do you see something like this `auditioning parchment facing infliction experimental detente surreal quadrangular embalming throwing linchpin missouri kadishim pee treacherously reward` (of course you will have different words?

[2018-02-16 09:15] app-rc commented on #10358
+1

I tried to set up "Apply with linkedin" btn, but script is blocked by Brave :/

[2018-02-16 12:29] srirambv opened #13165 "Make active tab more distinguishable than background tabs"
### Description
Feedback from community https://community.brave.com/t/the-head-of-a-focused-tab-is-not-distinguishable-enough/16162/2

**Expected result:**
Tabs are not clearly distinguishable

**Reproduces how often:**
100%

### Brave Version
All

**Reproducible on current live release:**
Yes

### Additional Information
+1 from me as well
cc: @bradleyrichter @bsclifton

[2018-02-16 13:33] LaurenWags commented on #13157
+1s from community: https://community.brave.com/t/back-button-inconsistently-not-functional-after-browser-update-restart/16140

One user noted that they also encountered  https://github.com/brave/browser-laptop/issues/12828 at the same time as this issue.

[2018-02-16 13:33] LaurenWags commented on #12828
+1 from community: https://community.brave.com/t/back-button-inconsistently-not-functional-after-browser-update-restart/16140

[2018-02-16 13:34] Jozer99 commented on #12308
Is this issue ever going to be addressed?  For a browser that advertises its privacy features, having a non-functional content blocker seems like a big deal.

[2018-02-16 14:50] MargarytaChepiga commented on #13163
@bsclifton Thank you!

[2018-02-16 15:12] srirambv commented on #5834
+1 from https://community.brave.com/t/solving-simple-equations-in-navigation-bar-automatically/16180/2

[2018-02-16 16:14] rjro commented on #13156
Yep, my wallet seed is still there.

[2018-02-16 16:17] srinathkotu opened #13166 "Search not working on ansible's doc pages"
### Description

Searching for text on ansible's documentation pages does not work.

### Steps to Reproduce

  1. Open 'https://docs.ansible.com/ansible/latest/intro_inventory.html'
  2. Search for text 'Inventory'.
  3. None of the text in the page gets highlighted.

**Actual result:**

**Expected result:**
Text that has been searched should be highlighted

**Reproduces how often:**

anytime i tr

[2018-02-16 16:26] #12437 closed

[2018-02-16 16:47] #11598 closed

[2018-02-16 17:18] MoonRubles commented on #13156
@NejcZdovc Yes, i have a nice long recovery key like you describe

[2018-02-16 17:27] Molteriet commented on #6156
I would like this feature to be added!
Alternatively, one could simply make an extension that did it like "Backspace to go Back" in chrome, which was created after Google removed the feature about a year ago:
https://chrome.google.com/webstore/detail/backspace-to-go-back/nlffgllnjjkheddehpolbanogdeaogbc

[2018-02-16 18:08] bsclifton commented on #13163
@MargarytaChepiga you probably already saw, but @srirambv had an assist for you to check out and review 😄
https://github.com/brave/browser-laptop/pull/13164

[2018-02-16 18:16] #11238 closed

[2018-02-16 19:48] eljuno commented on #13054
+1 from community https://community.brave.com/t/brave-bug-on-surface-tablet/16141?u=eljuno

[2018-02-16 19:52] alexwykoff opened #13167 "Enhancement : One-click file open for a completed download"
### Description

With other browsers it is quite easy to open a downloaded file from the tray. In our case, users have to do extra steps.

Users should be given the ability to open a downloaded file with one click.

### Steps to Reproduce

  1. Download a file
  2.Move mouse to the generated download tray card
  3.Click on the card, file should open

**Actual result:**

**Expected result:**

**Rep

[2018-02-16 20:18] eljuno commented on #4871
+1 from community as an option to move the bookmarks next to the address bar and have the address bar at the side. https://community.brave.com/t/movement-of-bookmark-bar/16220?u=eljuno

[2018-02-16 20:32] humphd commented on #11748
This happens on macOS 10.13.3 for me as well.  The page in question seems to use a plugin to wrap all the content:

<img width="680" alt="screen shot 2018-02-16 at 3 27 11 pm" src="https://user-images.githubusercontent.com/427398/36327871-f1d716be-132d-11e8-8699-cf9a725d9b00.png">

Most of the time it hangs, with 2 lines of this in my terminal:

[code]

It seems to get into an infinite loop in emi

[2018-02-16 20:49] riastradh-brave commented on #12936
On the control channel, `GETINFO net/listeners/socks` can be used to find the socks port, if we use `SocksPort auto`.

[2018-02-16 21:00] BobT36 commented on #13156
@NejcZdovc Hmm, I previously had the full key there, but now it only shows "a"...

Is there anything I can do here?

[2018-02-16 21:02] riastradh-brave commented on #12936
`ControlPortWriteToFile` also writes any local socket addresses to the file, so it is tempting to try to use this to be notified of when the tor daemon is running by specifying a path to a named pipe...but it writes to a `.tmp` file first and renames over the permanent name, so that doesn't help for notification that the control socket is ready.

[2018-02-16 21:05] humphd commented on #12992
I looked into this a bit today, and it's caused by the PDF handling code only checking for `mainFrame` vs. `subFrame` resource types.  This fixes it, but isn't perfect because it replaces the entire tab's contents vs. just populating the intended sub frame--I have no idea how you'd know which element to use as the frame:

[code]

[2018-02-16 21:12] humphd commented on #12628
I'm not able to reproduce this on master (9c4159a36) on macOS 10.13.3.

[2018-02-16 21:40] humphd commented on #12008
Fixing this likely requires fixing 2 bugs.  First, an an HTML page is being served with a `.pdf` extension:

[code]

This then confuses the PDF check in `js/lib/urlutil.js`:

[code]

Once that's fixed, the next problem is that brave doesn't yet know how to serve PDFs to sub-frames on a page, see my recent comments in #12992.

This is likely a dupe of #12763.

[2018-02-16 21:41] humphd commented on #10554
See my comment in https://github.com/brave/browser-laptop/issues/12008#issuecomment-366366141

[2018-02-16 21:42] dskeppstedt commented on #11136
@bsclifton Is there a reason that not all actions are covered in MenuTest.js? For example `APP_ADD_BOOKMARK` is missing.

[2018-02-16 22:18] bsclifton commented on #11136
@dskeppstedt I think the reason was just lack of time 😄 Help with unit tests is VERY much appreciated! Our coverage is not horrible, but it could be a lot better

[2018-02-16 23:34] #12628 closed

[2018-02-17 02:34] srirambv commented on #1753
+1 from https://community.brave.com/t/how-to-get-mru-tab-order/16231/2

[2018-02-17 04:46] jamesray1 commented on #12008
I can copy and paste https://ethereum.github.io/yellowpaper/paper.pdf into the URL bar and it will open the PDF in the tab.

[2018-02-17 06:19] jamesray1 commented on #12008
#12763 is a dupe of #10554.

[2018-02-17 06:19] #12008 closed

[2018-02-17 08:24] warnew opened #13171 "Alt gr + j shortcut to developer tools"
### Description
When using hungarian keyboard, the alt gr (right alt)+ j shortcut brings up the developer tools. This should be the letter í.

### Steps to Reproduce

  1. Switch your keyboard to hungarian
  2. Find a text input (it also works with the address bar)
  3. press alt gt + j

**Actual result:**

The developer tools window pops up, no letter is written.

**Expected result:**

write the

[2018-02-17 09:08] kjozwiak commented on #13054
I tried reproducing this on a Lenovo X1 Carbon running Ubuntu 17.10 but couldn't reproduce after repeatedly tapping on the URL bar. Might be Win related.

[2018-02-17 14:06] souziago commented on #271
Migrating from Firefox... No Dark mode... Migrating to Firefox...

[2018-02-17 14:49] thynquest opened #13172 "Bookmark search"
### Description

### Steps to Reproduce
  1. go to the browser settings
  2. from there go to the search tab
  3. in the search parameter section check only 'show bookmark matches'

**Actual result:**
When you make a search on the address bar you have no result.

**Expected result:**
since you have bookmarked some pages, you should be able to have some results when you start searching from the add

[2018-02-17 16:44] ryanmusante commented on #5282
Looking forward to the release.

[2018-02-17 16:49] Liunkae commented on #12628
@bsclifton Could we include this in the 0.21.x milestone? Thanks.

[2018-02-17 18:22] humphd commented on #12008
Looks like that link both uses `.pdf` and also the correct mime type:

[code]

You're right about the left-click downloading vs. showing, which I think is due to the `subFrame` resource type being ignored (#12992).

I'll add my notes above to that other bug.

[2018-02-17 18:24] humphd commented on #10554
Since #12008 got closed, I'll move my research notes here.

The problem is in the PDF check in `js/lib/urlutil.js`:

[code]

[2018-02-17 18:31] bsclifton commented on #12628
@Liunkae done- thanks for calling this out 😄 (fixed by @darkdh)

[2018-02-17 18:51] insanerwayner commented on #11829
This happened to me today. On Pop_OS!.

May be related to me changin my hostname on my machine. Will try reverting and update with results.

[2018-02-17 19:03] humphd commented on #11748
A little more research.  Clicking that `Add Printer` button attempts to do a `POST` to http://localhost:631/admin/, which requires basic auth.  That means we end up in `app/browser/basicAuth.js` here:

[code]

This causes an `APP_SET_LOGIN_REQUIRED_DETAIL` message to get dispatched, which is processed in `appStore.js`, and basic auth login state gets set on the tab, all of which seems to go OK.  T

[2018-02-17 19:07] insanerwayner commented on #11829
That didn't work either.

[2018-02-17 19:19] insanerwayner commented on #11829
Actually it did. I misspelled the first time. Set it back to the name of the computer it was showing in the error string and it worked. Now the question is. How can I avoid this after changing my hostname?

[2018-02-17 20:45] humphd commented on #11748
Interestingly, clicking some of the other buttons on that page (e.g., `View Log`) works fine.  The ones that work are doing `GET` requests, and I get the basic auth login prompt as expected.

Looking at `/var/log/cups/access_log` when I press `Add Printer` I see this:

[code]

[2018-02-17 21:25] humphd commented on #11748
While I find this an interesting bug, I can't get much further with it.  The only other thing I found in my research was this similar sounding crash bug in Chromium: https://bugs.chromium.org/p/chromium/issues/detail?id=30880.  I assume, given the date of that bug and fix, that it's already in Electron, but I don't know.

[2018-02-17 21:36] humphd commented on #12623
I can reproduce this on `master` (9c4159a3648) on macOS 10.13.3.  Clicking on a movie, the window goes blank/white, and fullscreen, then the whole app crashes.  On my terminal I see:

[code]

My crash stack looks like this:

[code]

It sounds similar to https://github.com/electron/electron/issues/10455, which got a fix in Dec.

[2018-02-18 00:01] AnthoniG commented on #271
I've finally given up on this. I am now using Palemoon which is a branch of Firefox **before** they removed the extension API

[2018-02-18 06:05] ryanmusante opened #13173 "Feature Request -- Arguments loaded with browser"
How do I enable these features without using loading arguments? Which of them are redundant? I want gpu rasterization, native gpu memory buffers and fast open definitely always on. I cannot check through chrome://gpu so there is no way to verify if these are default brave settings.

### Description
--enable-zero-copy --enable-experimental-canvas-features --enable-fast-unload --javascript-harmony -

[2018-02-18 09:53] StephenBass commented on #7082
+1 Reddit request for download speed and file size
https://www.reddit.com/r/BATProject/comments/7yda9c/is_there_a_way_in_brave_how_to_track_downloading/

[2018-02-18 12:46] JAD1932 opened #13175 "export snapshots of single pages as pdf/png/jpeg.. print doesn't let me save as pdf, might as well just add a pdf export button there."

[2018-02-18 15:35] arunsathiya commented on #6723
Will Authy for Brave be available anytime soon?

[2018-02-18 15:43] arunsathiya opened #13176 "Suggestion: Show WideVine component requirement notice for Hooq videos"
**Steps to reproduce**: Follow the steps below to reproduce the issue.

1. Signup on hooq.tv
2. Play any video without WideVine component enabled on the Brave browser.

**What's expected**: WideVine component requirement notice is shown as done on Netflix.

**What happens**: WideVine component requirement notice is not shown as done on Netflix.

Enabling WideVine and then visiting hooq.tv plays th

[2018-02-18 18:55] eljuno commented on #2702
+1 from community https://community.brave.com/t/re-open-last-tab-should-open-with-its-history/16332?u=eljuno

[2018-02-18 19:01] eljuno commented on #5086
+1 from community https://community.brave.com/t/menu-bar-showing-on-restart-crash-to-desktop-when-clicking-it/16347?u=eljuno

V8	6.4.388.41
rev	096c7cb
OS Release	4.15.3-2-ARCH
Update Channel	Release
OS Architecture	x64
OS Platform	Linux

[2018-02-18 21:29] j1v commented on #5499
I have this problem since day one with medium on brave.

It makes me login to medium dozens of times a day

[2018-02-19 01:08] Liunkae opened #13178 "Private tab animation sometimes gets stuck"
### Description
Sometimes, when I'm creating new private tabs with Cmd+Click, the animation gets stuck, and a dark purple gradient appears on the right side of the tab. Mousing over the tab resets the appearance and fixes the problem.

It usually happens with an inactive tab immediately to the right of the active tab. After it happens in a particular window, it usually does not happen again.

###

[2018-02-19 01:11] Liunkae commented on #10924
I have confirmed this was fixed by #11906 in 0.21.x.

[2018-02-19 01:22] ryanmusante opened #13179 "Hide Menu Bar does not always stick between restarts"
### Description
Hide Menu Bar by Default does not stick sometimes on setting and will cause crash

### Steps to Reproduce
1. Set hide menu bar by default
2. exit brave
3. load brave

**Actual result:**
traps: brave[16512] general protection ip:32e7b10 sp:7ffe20345518 error:0 in brave[1999000+4851000]

**Expected result:**

### Brave Version
Brave | 0.20.42
V8 | 6.4.388.41
OS Release | 4.15.4-2-MAN

[2018-02-19 01:32] ryanml commented on #7686
@bsclifton I can probably take this on, one clarification:

Is the expectation still that duplicate entries don't exist in the recently closed menu:

Ex menu should look like

1. CNN
2. Foxnews

Or should it be:

1. CNN
2. Foxnews
3. CNN

Thanks :)

[2018-02-19 03:43] srirambv commented on #13179
Dupe of https://github.com/brave/browser-laptop/issues/5086

[2018-02-19 03:43] #13179 closed

[2018-02-19 03:44] srirambv commented on #5086
+1 from @ryanmusante via #13179

[2018-02-19 03:46] srirambv commented on #13178
Possibly related to #11249. The same fix might fix this as well

[2018-02-19 03:48] srirambv commented on #13175
Could you please edit the issue by adding relevant details rather than such a big issue title

[2018-02-19 03:49] srirambv commented on #13173
cc; @bridiver @darkdh

[2018-02-19 03:51] srirambv commented on #13172
This is expected behaviour. Bookmarks and History search is tied together so enabling history search shows the bookmark suggestions as well. Are you expecting a different behaviour?

[2018-02-19 05:50] NejcZdovc opened #13181 "Add local for delete all passwords"
### Test plan
1. Fresh profile
2. Login to https://trac.torproject.org/projects/tor/login (create login if needed)
3. When prompted to remember password, choose `Allow`
4. Visit `about:passwords`
5. Click `Delete all saved passwords`
6. Verify the new string shows up (`Are you sure you want to delete all saved passwords? This cannot be undone.`)

### Description

We are missing translation for the

[2018-02-19 06:00] NejcZdovc commented on #12120
@srirambv can you please retest this one? I can't reproduce it

[2018-02-19 06:13] bsclifton commented on #13175
Closing as a duplicate of https://github.com/brave/browser-laptop/issues/12139

[2018-02-19 06:13] #13175 closed

[2018-02-19 06:13] bsclifton commented on #12139
+1 from @JAD1932 via https://github.com/brave/browser-laptop/issues/13175

[2018-02-19 06:14] bsclifton commented on #10924
@Liunkae awesome! thanks for testing 😄  I'll close / mark milestone as 0.21.x

[2018-02-19 06:14] #10924 closed

[2018-02-19 06:42] NejcZdovc commented on #11905
This was fixed in 0.22 https://github.com/brave/browser-laptop/issues/7321

[2018-02-19 06:42] #11905 closed

[2018-02-19 07:00] #11164 closed

[2018-02-19 07:10] thynquest commented on #13172
Thank you for your answer.
Actually I think we should be able to activate only bookmarks search or history search if we want instead of tying both together; because during bookmarks search we will be polluted with history search as well even if we don't want history search; and second why giving the possibility to check one of these independently if they are tied together ?

[2018-02-19 07:11] srirambv commented on #12120
Still reproducible on master
![clipboard](https://user-images.githubusercontent.com/17010094/36366036-3ebfbabc-1572-11e8-9383-19f15cbd8120.gif)

[2018-02-19 07:13] thynquest commented on #13172
this used to work this way on the previous version and it was a good flexibility for the user to choose between having only history search, bookmarks search or both; hence the two check buttons.

[2018-02-19 07:16] NejcZdovc commented on #12120
I think that this is specific to windows then

[2018-02-19 07:16] srirambv commented on #12120
Works on 0.21.x branch btw
![clipboard1](https://user-images.githubusercontent.com/17010094/36366177-f2ab36e6-1572-11e8-98ce-f911f0a6f38d.gif)

[2018-02-19 07:18] NejcZdovc commented on #12120
@srirambv what about 0.22?

[2018-02-19 07:19] NejcZdovc commented on #12120
Well guess because it's the old issue, I think it was broken in 0.22

[2018-02-19 07:19] srirambv commented on #12120
0.22.x is on master so this is same on 0.22.x

[2018-02-19 07:31] jamesray1 commented on #271
Would be really good to get this in my dark room where I have to squint with the light on anyway, day or night! On Ubuntu 17.10 with my monitor and graphics card, Flux doesn't work.

[2018-02-19 07:54] #12766 closed

[2018-02-19 08:04] bsclifton commented on #6875
@flamsmark good call! Having a catch-all (regardless of file type) sounds great 😄

[2018-02-19 08:07] bsclifton commented on #12818
Since there is not enough info to reproduce and we have not seen this again, I'm going to close the issue. If it occurs again or we have more info, let's re-open 😄

[2018-02-19 08:07] #12818 closed

[2018-02-19 08:09] bsclifton commented on #7686
@ryanml Ideally, I think it would look like the 2nd one you have there.  This would be a good feature to check existing browsers to see how it gets handled (Safari, Chrome, FF)

[2018-02-19 09:34] NejcZdovc commented on #4847
@mrose17 do we have any mechanism to detect when first contribution is made?

[2018-02-19 10:08] NejcZdovc opened #13183 "Use unified uint converter"
### Description

We should use `uintKeySeed` function when dealing with the seed conversion.

[2018-02-19 10:22] verlass opened #13185 "Pinned Tab, Pinned for Ever"
### Description
Hi team, since last the two last update, my browser is making something that really make me sick.
All my pinned tab reopen in pin mode each time i open the browser even if i relax and close them before closing my browser

### Steps to Reproduce
  1.Pin some tabs in you browser and continue working until you quit the browser
  2.reopen the browser work and unpin the pinned tabs.
  3

[2018-02-19 11:31] NejcZdovc commented on #11956
@srirambv can you please try this one with the latest beta?

[2018-02-19 12:00] srirambv commented on #11956
Looks fixed for now. Followed steps mentioned in https://github.com/brave/browser-laptop/issues/11956#issuecomment-344667208. Tried on existing beta profile and on a clean profile and both the times time spent was shown correctly.

Closing for now. Can reopen it if it happens again.

[2018-02-19 12:00] #11956 closed

[2018-02-19 12:59] srirambv opened #13186 "Video pre-roll ad leaking on deccanherald.com"
### Description
Video pre-roll ad leaking on deccanherald.com

### Steps to Reproduce

  1. Visit http://www.deccanherald.com/videos/
  2. Open any link (I found the ad on this [link](http://www.deccanherald.com/videos/watch/19262/watch-canadian-pm-justin-trudeau.html)
  3.Click play, video pre-roll ad is shown

**Actual result:**
![image](https://user-images.githubusercontent.com/17010094/3637886

[2018-02-19 14:33] dskeppstedt commented on #11136
@bsclifton I just created a pull request
https://github.com/brave/browser-laptop/pull/13187

[2018-02-19 14:33] crysman opened #13188 "Brave fails to manipulate data-* attributes while using DataTables JavaScript library"
Brave fails to manipulate _data-*_ attributes while using [_DataTables_ JavaScript library](https://www.datatables.net/) (e.g. "_data-title_" we are using).

Firefox is OK, Chrome is OK, even IE 11.x is OK...

What we do in one of our pages is that we transform a table before printing it. Unfortunately, it's our internal page, so I cannot give you access to it. But you should be able to reproduce

[2018-02-19 15:42] dskeppstedt opened #13189 "Remove deadcode in menu.js"
### Description
There is some dead code in [menu.js](https://github.com/brave/browser-laptop/blob/master/app/browser/menu.js) that can be removed for brevity. Is this something that could be done?

For example:
https://github.com/brave/browser-laptop/blob/0777c0e0d1ee786865d382308f354bb4b1353873/app/browser/menu.js#L218-L231

https://github.com/brave/browser-laptop/blob/0777c0e0d1ee786865d382308f3

[2018-02-19 16:03] NejcZdovc opened #13190 "Restricted embedding"
### Description

Some youtube videos has restriction on them and because of that we can't log them. More info here https://support.google.com/youtube/answer/6301625?hl=en

### Steps to Reproduce

  1. go to https://www.youtube.com/watch?v=wnVWlChmxao

**Actual result:**

You are receiving 401 in the terminal and video is not added to the ledger table
`Error while getting publisher from media Error

[2018-02-19 16:56] FirefoxWas opened #13191 "Login to Gmail shows the user names on the side of the page."
### Description

[Description of the issue]

Gmail shows the user names on the side of the page on gmail site.

### Steps to Reproduce

  1. When I click on gmail account, I see popup with my user names on the side of gmail page.

**Actual result:**

![vxufckc](https://user-images.githubusercontent.com/32176749/36388923-539717fc-1552-11e8-847f-8b8ce01b483c.png)

**Reproduces how often:**

Everytim

[2018-02-19 17:34] #12833 closed

[2018-02-19 17:39] ryanml commented on #7686
@bsclifton looks like both FF and Chrome do things the second way (Including the dupe in the expected order) and Safari does it the first way (expected order, pops the dupe off)

I assume we will go with method number two :)

Given the menu refactoring up for review #13187, I think I'll hold off until that's resolved before making these changes. Thanks!

[2018-02-19 18:13] #13116 closed

[2018-02-19 19:09] ryanml commented on #9648
@bsclifton @jonathansampson I am not able to reproduce this off of master or the current release

I set up a testing URL that will throw the too many redirects error [here:](http://ryanlane.se/too-many-redirects)

Screencast:
![redirect-example](https://user-images.githubusercontent.com/8732757/36393638-a5562fae-156d-11e8-9e2f-65a4cedaedb0.gif)

I'll take this one on if there are STR in the end th

[2018-02-19 19:10] ryanml commented on #9648
(Sorry for the huge screencast)

[2018-02-19 20:48] btlechowski commented on #13191
Thank you for the report.

Only way for me to reproduce the issue is:

[2018-02-19 20:59] btlechowski commented on #13188
Thank you for the report.

Can you try turning off Brave Shield and see if it helps?

[2018-02-19 21:07] btlechowski commented on #13185
Thank you very much for the detailed report.

Confirmed on Windows 7.

[code]

[2018-02-19 21:57] eljuno commented on #5709
++ from community https://community.brave.com/t/bug-continually-asked-to-install-google-drive-web-app-while-editing-gdoc/4630?u=eljuno and https://community.brave.com/t/extension-google-docs/15732?u=eljuno

[2018-02-19 22:35] darkdh commented on #12958
fixed by https://github.com/brave/muon/pull/495

[2018-02-19 22:49] eljuno commented on #5412
+1 from community https://community.brave.com/t/cannot-save-some-images-interrupted/15740?u=eljuno

[2018-02-19 23:31] dezryth commented on #3752
As far as I'm aware this is still an issue. Let to a frustrating experience today at work. Would love to see progress on this one!

[2018-02-20 00:53] knightshousegames opened #13194 "Intermittent Slowdowns"
### Description

Since a recent update, I've been having random periods of slowdown

There will be a few minutes where everything will act completely normally, then pages won't load, videos will buffer, and it act like the wifi is spotty or the internet is down, except all of my other internet reliant software acts completely normally, and I've tested my connection with another browser and everyth

[2018-02-20 01:34] jonathansampson opened #13195 "Ledger Doesn't Handle Long Titles Neatly"
### Description
A Site or YouTube Channel with a sufficiently long title can break the ledger UX.

### Steps to Reproduce
1. Visit https://www.youtube.com/watch?v=SqqqRqA2caA
2. View other videos on Channel until Creator appears in Ledger

**Actual result:**
"ThePotatoIsAStarchyTuberousCropFromThePerennialSolanumTuberosumOfTheNightshadeFamilyLOL" breaks the ledger layout.

**Expected result:**
Cre

[2018-02-20 02:53] vinicentus commented on #13181
Created #13196, hopefully everything ok, as I'm new to this. I used an existing string because it said the same thing and wasn't used anywhere.

[2018-02-20 04:13] Liunkae commented on #13194
@knightshousegames Thanks for the report! This is a duplicate of #13087. Please subscribe to that issue for further updates. Good news: Brave developers have labeled it a high priority issue and are investigating it right now.

[2018-02-20 04:19] srirambv opened #13198 "Torrent viewer ins't spanned across webview"
### Description
Torrent viewer ins't spanned across webview

### Steps to Reproduce
  1. Install 0.20.42
  2. Download any torrent
  3. Torrent details table isn't spanned across webview

**Actual result:**
![image](https://user-images.githubusercontent.com/17010094/36406413-9a61e368-161c-11e8-82e2-08bb7f7568b0.png)

**Expected result:**
Download table used to be stretched out on webview

**Reprod

[2018-02-20 04:25] knightshousegames commented on #13194
I saw that bug earlier, that sounds like a separate issue I was having. What I'm talking about isn't system resources, I'm talking what seems like almost an internet connection problem, where the actual internet connection in the browser feels like it disconnects and reconnects. I've been trying to watch a Twitch video back for the past hour or two and every few minutes the video buffers, and if I

[2018-02-20 04:43] #10894 closed

[2018-02-20 05:29] ryanml commented on #13195
Was thinking about taking this on, but then I see @NejcZdovc got it :)

I would motion towards truncating it to n characters and then adding a trailing '...', then adding a title/label property that would show the full value on hover perhaps. Is that what you were thinking?

[2018-02-20 05:32] NejcZdovc commented on #13195
@ryanml you can take it, no problem. I was thinking of fixing all of this with css

[2018-02-20 05:35] ryanml commented on #13195
@NejcZdovc got it, thanks. I certainly don't want to over-engineer anything if you have a pure CSS solution though. If you're fine with a truncation solution, I'll open a PR, else, maybe we could go over what stylistic change might work for this. Thanks!

[2018-02-20 05:52] ryanml commented on #13195
@NejcZdovc this is what I put together [here:](https://github.com/ryanml/browser-laptop/commit/85f2cf922e02f59af384d7ff7a9c64dac00d163b)

Truncating at 45 characters was the most sensible limit before it started bleeding over.

[2018-02-20 06:11] jamesray1 opened #13199 "Scroll clicking on a link opens two duplicate tabs."
### Description
Scroll clicking on a link opens two duplicate tabs.

Then often if I scroll click on the same link again it opens in one new tab.

**Reproduces how often:**
Sometimes.

### Brave Version

**about:brave info:**

Brave: 0.20.42
V8: 6.4.388.41
rev: 096c7cb3c75ebb518f72fc7d24bc2bbaedd50aed
Muon: 4.8.2
OS Release: 4.13.0-36-generic
Update Channel: Release
OS Architecture: x64
OS Platfor

[2018-02-20 06:19] ryanml commented on #13195
@petemill I'll squash everything before a PR would be open, but how does [that](https://github.com/ryanml/browser-laptop/commit/009e10ee5eeff6bc156e33e0a8d5c9861bc6c89b) look?

cc: @NejcZdovc

[2018-02-20 11:02] derN3rd commented on #3101
Mouse back button does not work on Ubuntu 16.04 with Brave 0.20.42

[2018-02-20 11:11] sly7-7 commented on #9359
Hello, do you have any idea on the ETA on this ? I try brave, and I really like it for normal use, but when it comes to develop, for me the fact I can't dock the dev tools is kind of a blocker.

[2018-02-20 12:29] srirambv opened #13200 "Unable to access input fields on VFS Global site when link opens via target="_blank""
### Description
Unable to access input fields on VFS Global site when link opens via target="_blank"

### Steps to Reproduce

  1. Visit VFS Global India website
  2. Select track application
  3. Input fields are read only. Doesn't allow to type in tracking number and DOB fields
  4. Copy URL and open in a new tab, input fields are accesible

**Actual result:**
![vfs](https://user-images.githubus

[2018-02-20 12:34] NejcZdovc commented on #13183
When we start browser, seed is an object so we need to cover this scenario as well.

[2018-02-20 12:53] mrose17 commented on #4847
@NejcZdovc - you'd have to look at the history for the earliest entry

           transactions[...].submissionStamp

[2018-02-20 14:36] LaurenWags commented on #12828
+1 from @bbondy

[2018-02-20 14:38] LaurenWags commented on #13157
Also when this happens cmd+f stops working.

[2018-02-20 15:16] TomFaulkner commented on #3101
With some of the feedback here, it seems the issue name should be changed to refer to the mouse back/forward not working in Linux, rather than not working in general.

@luixxiul, can you change the title?

[2018-02-20 15:18] srirambv opened #13202 "Manual test run on OS X for 0.21.x (Beta Channel)"
## Per release specialty tests
- [ ] Focused window does not have focus when restarting. ([#13158](https://github.com/brave/browser-laptop/issues/13158))
- [x] Publisher added back after restart. ([#12766](https://github.com/brave/browser-laptop/issues/12766))
- [x] Incorrect decimal values shown for BAT-USD after reconcile. ([#12666](https://github.com/brave/browser-laptop/issues/12666))
- [x] Sa

[2018-02-20 15:18] srirambv opened #13203 "Manual test run on Windows x64 for 0.21.x (Beta Channel)"
## Per release specialty tests
 - [ ] Focused window does not have focus when restarting. ([#13158](https://github.com/brave/browser-laptop/issues/13158))
 - [ ] Publisher added back after restart. ([#12766](https://github.com/brave/browser-laptop/issues/12766))
 - [ ] Incorrect decimal values shown for BAT-USD after reconcile. ([#12666](https://github.com/brave/browser-laptop/issues/12666))
 - [

[2018-02-20 15:18] srirambv opened #13204 "Manual test run on Linux for 0.21.x (Beta Channel)"
## Per release specialty tests
- [ ] Focused window does not have focus when restarting. ([#13158](https://github.com/brave/browser-laptop/issues/13158))
- [ ] The "Actions" column on about:preferences#payments should not be clickable because it isn't sortable. ([#13074](https://github.com/brave/browser-laptop/issues/13074))
- [x] Download torrent file fails. ([#12970](https://github.com/brave/bro

[2018-02-20 15:21] btlechowski commented on #13166
Works for me on Windows 7.

@srinathkotu Does restarting the browser helps?

@LaurenWags Can you check on Mac?

[code]

[2018-02-20 15:29] su-narthur commented on #3752
Hi, everyone. Instead of just posting a "+1", please add a thumb-up on the original issue up top because issues can be sorted by how many thumb-ups they've received.

[2018-02-20 15:59] #13183 closed

[2018-02-20 16:02] bsclifton commented on #13183
@NejcZdovc I know this is marked with `QA/no-qa-needed`, but do we want to cover a few scenarios? (ex: the one I discovered)

[2018-02-20 16:54] JAD1932 opened #13207 "Keep a brave command/executable in the background and at start up for fast open close of the program"
Is it possible to keep a brave tray in the background so the red close doesn't kill all the brave processes? for fast open and close - possibly make a secondary Kill switch to kill all processes of brave within the browser instead.

[2018-02-20 17:12] LaurenWags commented on #13156
+1s from community: https://community.brave.com/t/brave-payments-not-sending-next-contribution-is-listed-as-overdue/16429

[2018-02-20 17:36] btlechowski opened #13208 "Linux Beta is completely broken"
Main Window is misplaced. Covers Taskbar and lacks Titlebar with Minimize/Maxmize/Close buttons.
Cannot move the window around.
Most of the items in Menubar don't work. Those that work are: File-New Tab; File-New Private Tab; File-New Session tab; File-New Window; File-Quit Brave
Cannot type into URL

Tested on Ubuntu, BraveBeta v0.21.9. Cannot access about:brave for full report.
![image](https://

[2018-02-20 17:54] arunsathiya opened #13209 "UX/UI suggestion: Mouse location takes precedence over 'Enter' key opening a site"
**Steps to reproduce**: Follow the steps below to reproduce the issue.

1. Hover your mouse just below the address bar
2. Feature cursor location to the address bar
3. Enter a site address and click the 'Enter' key

**What's expected**: The site address typed on the address bar is to be loaded

**What happens**: The site suggestion over which the mouse hovers loads instead

![ezgif com-gif-maker](

[2018-02-20 18:17] alexwykoff commented on #12110
@diracdeltas should this be in 0.21.x or can it be moved back?

[2018-02-20 18:22] NejcZdovc commented on #13087
1) start browser (make sure you have a folder with at least 20 bookmarks)
2) open YouTube player
3) right click on a folder and select `Open all in tabs`
4) then immediately after they are opened start closing them with mouse middle button or cmd+w
5) youtube starts lagging and then if you just click on a youtube page (on white section) video lags

[2018-02-20 18:27] bbondy commented on #13038
@alexwykoff I checked on this and it's waiting for https://github.com/brave/muon/pull/486/files to be merged. I asked @bridiver to merge for the next muon build.

[2018-02-20 18:38] alexwykoff commented on #12468
Word on the street is this is near impossible.

We can circle back on other forms of customizations in the future.

[2018-02-20 18:38] #12468 closed

[2018-02-20 18:40] alexwykoff commented on #12223
@diracdeltas is this release blocking?

[2018-02-20 18:40] alexwykoff commented on #12045
@diracdeltas is this release blocking?

[2018-02-20 19:06] eljuno commented on #4745
+1 from community https://community.brave.com/t/bookmark-bug-unseen-here/16440?u=eljuno

[2018-02-20 19:26] cocoin1 commented on #12973
also for me the same problem. not load cobinhood.com website. same error as raulnovella

[2018-02-20 19:40] darkdh commented on #13208
fixed by brave/muon#495

[2018-02-20 19:46] LaurenWags commented on #13166
Unable to repro on MacOS, interested in knowing if restarting the Brave helps. If not, how are you trying to search? Right-click, select 'Find in Page' or using the keyboard shortcut (cmd/ctrl + f) or menu > edit > find in page or some other way?

[2018-02-20 19:55] LaurenWags commented on #13157
+1 from community: https://community.brave.com/t/back-button-inconsistently-not-functional-after-browser-update-restart/16140/4

User also mentioned: "I notice when it happens I usually am unable to open links with new tabs, trying both right clicking on the link or using the keyboard shortcut."

[2018-02-20 20:29] diracdeltas commented on #12045
non-blocking, it can be moved to one release later

[2018-02-20 20:30] diracdeltas commented on #12223
it would be really good if this were included in 0.21.x since people have been asking for it for a while. cc @jumde

[2018-02-20 20:31] diracdeltas commented on #12110
@alexwykoff see https://github.com/brave/browser-laptop/issues/12045#issuecomment-367108736

[2018-02-20 20:32] diracdeltas commented on #13200
do you have 'strict site isolation' enabled by chance?

[2018-02-20 20:46] petemill commented on #9865
I'm actually closing this as it's covered pretty well in #10673

[2018-02-20 20:46] #9865 closed

[2018-02-20 20:49] bsclifton commented on #12510
@diracdeltas @jumde the muon PR (https://github.com/brave/muon/pull/431) was merged; anything else needed in browser-laptop for this to be complete?

[2018-02-20 20:50] eljuno commented on #1385
+1 from Twitter https://twitter.com/mickasuk/status/965984637318246400

[2018-02-20 20:54] diracdeltas commented on #12510
the Muon PR doesn't actually fix the issue

[2018-02-20 21:04] petemill opened #13210 "Tab content should be discarded when memory usage is too high"
## Description
Muon / Chromium has a feature whereby a tab's contents will be disposed and the memory freed when under memory pressure.

This was previously enabled, but disabled in #12916 due to #10673.

However, performance is hindered by not having tabs discarded, so we should do two things:
1. Fix tab discarding
   a. The ability to switch to and away from discarded tabs
   b. The ability to d

[2018-02-20 21:11] btlechowski commented on #13074
Verified 0.21.9 Win64

[2018-02-20 21:11] btlechowski commented on #12970
Verified 0.21.9 Win64

[2018-02-20 21:12] btlechowski commented on #13044
Verified 0.21.9 Win64

[2018-02-20 21:30] btlechowski commented on #12296
Verified 0.21.9 Win64

[2018-02-20 21:51] #13208 closed

[2018-02-20 21:51] #12958 closed

[2018-02-20 21:54] btlechowski commented on #11981
Verified 0.21.9 Win64

[2018-02-20 22:20] eljuno commented on #7082
+1 from community for download speed https://community.brave.com/t/speed-download-in-brave/14464?u=eljuno

[2018-02-20 22:52] jamesray1 commented on #13207
It does take a while to start, probably longer than Firefox.

[2018-02-20 22:56] jamesray1 commented on #8541
Brave was slow this morning and a few times in recent days, without downloading any files this morning. After closing it this morning and opening it again, a few minutes later, it crashed again.

Brave: 0.20.42
V8: 6.4.388.41
rev: 096c7cb3c75ebb518f72fc7d24bc2bbaedd50aed
Muon: 4.8.2
OS Release: 4.13.0-36-generic
Update Channel: Release
OS Architecture: x64
OS Platform: Linux
Node.js: 7.9.0
Brave S

[2018-02-20 23:03] diracdeltas commented on #12931
We decided to remove this in the MVP prototype in favor of bundling Tor. https://github.com/brave/browser-laptop/commit/88b2075e02b97d927b42298b77248dbf7814e965

[2018-02-20 23:03] #12931 closed

[2018-02-20 23:04] diracdeltas commented on #8224
WIP tor tabs implementation now supports onion sites

[2018-02-20 23:25] diracdeltas commented on #12862
We decided in Slack that new sync users will get a bip39 wordlist instead of a diceware wordlist. The old diceware words for existing users will still work, however.

So basically the sync recovery code will do:
[code]

[2018-02-20 23:43] diracdeltas commented on #13064
For now, I will disable remote autocomplete when the current focused tab is a tor tab

[2018-02-20 23:53] diracdeltas opened #13212 "set duckduckgo as default search engine in tor mode"
test plan:
1. open new private tab, disable both tor and ddg.
2. turn on tor
3. DDG should also turn on
4. it should be possible to disable DDG
5. it should be possible to still use DDG with Tor off

[2018-02-21 00:54] bsclifton opened #13213 "Fix node security alert 566 (hoek)"
### Description

See https://nodesecurity.io/advisories/566

### Test plan / Steps to Reproduce

  1. `git clone git@github.com:brave/browser-laptop.git && cd browser-laptop`
  2. `npm install`
  3. `npm run check-security`

**Actual result:**

[code]
**Expected result:**
No security errors

**Reproduces how often:**

### Brave Version

**about:brave info:**

**Reproducible on current live release

[2018-02-21 01:05] jumde opened #13214 "[hackerone] 317931"
https://hackerone.com/reports/317931

[2018-02-21 03:53] srirambv commented on #13200
Yup missed that. My bad.

[2018-02-21 03:53] #13200 closed

[2018-02-21 04:10] petemill opened #13216 "Enhance performance by attaching only active tabs to a webview (single-webview)"
## Description
At the moment, a `<webview>` element is created for each open tab in a window. This creates the following issues:
- Additional DOM elements
- `<webview>` overhead in muon - it's a plugin that has rendering overhead - the guestview assumes that a guest (attached to a webview) is visible, even if we make the <webview> invisible through css
- Attach events firing for all tabs at the sa

[2018-02-21 04:40] mrose17 opened #13217 "seeing youtube#channel:{channelId} in the about:preferences#payments panel"
i don't have a STR, but i am still seeing this.

until we get a STR, can we at least have some code that runs when the panel becomes active to look for entries like this and resolve them back to reality, e.g., the underlying URL should be https://www.youtube.com/channel:UCQg4kOKdfzvsxHX4IjSzqTw instead of https://youtube/#channel:UCQg4kOKdfzvsxHX4IjSzqTw and perhaps we can get the actual name of t

[2018-02-21 04:42] petemill commented on #11424
Attacking part (most?) of this with #13216

[2018-02-21 05:04] grand-lotus-iroh commented on #6984
I too wish Enpass worked with Brave. I don't mind using Firefox but I would like to use Brave.

[2018-02-21 05:05] grand-lotus-iroh commented on #7778
I too wish Enpass worked with Brave on Windows 10. I don't mind using Firefox but I would like to use Brave.

[2018-02-21 05:11] grand-lotus-iroh commented on #11634
(L) ALT + D = broken
(R) ALT + D = works

https://streamable.com/r3hqq

I do not wish to use CTRL+L or F6.

[2018-02-21 05:12] grand-lotus-iroh commented on #5775
(L) ALT + D = broken
(R) ALT + D = works

https://streamable.com/r3hqq

I do not wish to use CTRL+L or F6.

---

Windows 10
Latest Brave

[2018-02-21 05:16] grand-lotus-iroh opened #13218 "extension request: help me filter youtube results with "video blocker""
Please integrate this addon so people have greater control to watch the exact youtube channel they want to watch. Nobody wants to watch half the trash on YouTube, but with this plugin, it's possible to actually browser YouTube and find exactly what you want.

https://addons.mozilla.org/en-US/firefox/addon/video-blocker/

[2018-02-21 05:24] grand-lotus-iroh commented on #6191
+1

CTRL + W does not close Inspect Element > Developer Tools on Windows 10 Brave.

[2018-02-21 05:26] grand-lotus-iroh commented on #12793
+1 open new tab next to current (pinned) tab - right now, open new CTRL + T moves tab all the way to the right

[2018-02-21 05:30] srirambv opened #13219 "1px margin causing gap between bookmarkButtonContainer & urlbarForm"
### Description
1px margin causing gap between bookmarkButtonContainer & urlbarForm

### Steps to Reproduce

  1. Build from fd80122
  2. Open a new tab and load any site
  3. Use system magnifier to zoom in on the URL bar to notice the gap (see screenshot)

**Actual result:**
![image](https://user-images.githubusercontent.com/17010094/36463632-16e6b5c4-16f1-11e8-960a-4a356e5299e1.png)

**Expected

[2018-02-21 05:34] bsclifton commented on #13044
Marking as dupe- closing in favor of https://github.com/brave/browser-laptop/issues/12429

[2018-02-21 06:09] bsclifton commented on #13214
Fixed with https://github.com/brave/browser-laptop/pull/13215

[2018-02-21 06:09] #13214 closed

[2018-02-21 06:36] bsclifton commented on #13208
@btlechowski if this is a dupe (you'll be able to test once a new build is available), can you label this issue with `duplicate` and remove the milestone? Thanks 😄

[2018-02-21 06:39] #12712 closed

[2018-02-21 08:11] jumde opened #13223 "Prevent user tracking using `Zoom Levels`"
https://github.com/0xSobky/HackVault/wiki/z00mtrack:-User-Tracking-via-The-Browser-Zoom-Levels

[2018-02-21 09:19] srirambv commented on #7747
Works on Windows shows the following error
![image](https://user-images.githubusercontent.com/17010094/36471990-5f93212a-1716-11e8-9404-f0d8f1c06957.png)

[2018-02-21 09:52] ptrwllrd commented on #10685
There seems to be a problem with IndexedDB. See [this issue](https://github.com/brave/browser-laptop/issues/12463).

[2018-02-21 11:54] srirambv opened #13224 "npm run start fails quite often"
### Description
Off late i've been seeing running `npm run start` it launches browser and crashes

### Steps to Reproduce

  1. Build from source
  2. `npm run start` to launch development instance
  3. Browser launches and crashes immediately

**Actual result:**
[code]

**Expected result:**
Should launch upon running the command correctly

**Reproduces how often:**
Quite often

### Brave Version

[2018-02-21 12:06] srirambv commented on #13224
Also closing the browser window doesn't terminate all process. Pressing Ctrl+C on the console shows `process exited with code null` message and then terminates background process

[2018-02-21 13:15] srirambv commented on #10752
Works fine on Windows
![10752](https://user-images.githubusercontent.com/17010094/36481909-5fa3a2e0-1737-11e8-86ba-1cc2dad2ac7a.gif)

[2018-02-21 16:26] LaurenWags commented on #13079
+1 from @bbondy - seems to occur at the same time as https://github.com/brave/browser-laptop/issues/12333 https://github.com/brave/browser-laptop/issues/12828 and https://github.com/brave/browser-laptop/issues/13157

maybe related @bsclifton ?

[2018-02-21 16:30] sly7-7 commented on #3053
Not sure if this the right place to ask, but would it be possible to add https://www.lilo.org/en/ as a search engine ?

[2018-02-21 16:38] bsclifton commented on #13213
Marked as `QA/no-qa-needed` because peer approval should be enough (as this can only be tested with source)

[2018-02-21 16:41] mandar-brave opened #13226 "Brave Payments turned OFF automatically + Extensions Tab = empty"
### Description

After some usage (no particular pattern) I have my 'payments flag' turned off - see image.
I am unable to turn it back ON

### Steps to Reproduce

  1. Just regular usage - did not do anything particular (will update here if there is something to update)
  2. New tabs are black
  3. Extension tab on settings is blacked out (so may be related to existing issue)

A restart clears th

[2018-02-21 16:54] mandar-brave opened #13227 "After Browser restart, Payments Flag wont toggle"
### Description

See issue: https://github.com/brave/browser-laptop/issues/13226
After restarting the browser, all other issues (tabs, etc.) are fixed but unable to toggle the payments flag.

### Steps to Reproduce

  1. See https://github.com/brave/browser-laptop/issues/13226
  2. Restart browser
  3. Issue shows up

**Actual result:**

Should be able to toggle flags and use all functionality as

[2018-02-21 17:23] #13213 closed

[2018-02-21 17:26] srirambv opened #13228 "Save link as doesn't add file extension to save dialogue window"
### Description
Save link as doens't add file extension to save dialogue window

### Steps to Reproduce

1. Go to https://brave.com/
2. Right click on Download Brave
3. Save Link As
4. The default path should be your download path
5. The dialog doesn't have  extension option with dmg/exe/deb

**Actual result:**
![11906-savelink](https://user-images.githubusercontent.com/17010094/36495090-285fea6e-

[2018-02-21 17:29] srirambv opened #13229 "Open file doesn't open default download location"
### Test plan
1. Launch Brave and open Menu->File->Open File...
2. Default download location should properly show (ex: `c:\Users\clifton\Downloads`)

### Description
Open file doesn't open default download location

### Steps to Reproduce

1. Menu->File->Open File...
2. The default path shown is Desktop

**Actual result:**
![11906-openfile](https://user-images.githubusercontent.com/17010094/364951

[2018-02-21 17:32] srirambv opened #13230 "Save Torrent doesn't add torrent extension"
### Description
Save Torrent doesn't add torrent extension

### Steps to Reproduce

1. Go to https://webtorrent.io/torrents/big-buck-bunny.torrent
2. Click Save Torrent File...
3. The dialog doesn't show torrent as extension

**Actual result:**
![11906-torrent](https://user-images.githubusercontent.com/17010094/36495355-efa40984-175a-11e8-9d0f-79a7d92e7272.gif)

**Expected result:**
Should automat

[2018-02-21 17:44] #13038 closed

[2018-02-21 19:06] bbraithwaite commented on #10020
@bsclifton Just following up here to ask if this change will be possible in the future? Thank you.

[2018-02-21 19:19] LaurenWags opened #13231 "UI Suggestions to make Brave Payments more accessible"
### Description
Suggested via community: https://community.brave.com/t/ui-ux-suggestion-with-mockup-brave-payments-shortcut-include-individual-channels-dropdown/15084

From the post:

I know many in the community believe the Brave Payments panel should be more accessible. One shouldn’t have to access it by first accessing Preferences. This mockup places a simple BAT icon next to the URL bar alongs

[2018-02-21 19:34] #10921 closed

[2018-02-21 19:34] bsclifton commented on #10921
Awesome, thanks for confirming @Liunkae! Also confirmed by @darkdh.  Closing issue

[2018-02-21 19:48] eljuno opened #13232 "Maybe Bug: Can't Close Download Bar with an Active Download"
### Description
Originally reported on community https://community.brave.com/t/download-bar-wont-disappear-hide-from-the-bottom-of-the-screen/12056?u=eljuno

Users can't close/hide the download bar if there's still an active download. See record. :)
It can be closed if the download's finish.

### Steps to Reproduce

  1. Try to download large file or download Brave from brave.com
  2. When downloa

[2018-02-21 19:48] bsclifton commented on #13232
this was fixed by a contributor recently... will try to find the original issue

[2018-02-21 19:50] bsclifton commented on #13232
This is a dupe of https://github.com/brave/browser-laptop/issues/11923

Fixed by @jasonrsadler with https://github.com/brave/browser-laptop/pull/13040; slated for our 0.23.x release 😄

[2018-02-21 19:50] #13232 closed

[2018-02-21 19:50] bsclifton commented on #11923
+1 from @eljuno via https://github.com/brave/browser-laptop/issues/13232

[2018-02-21 19:59] eljuno commented on #13232
Thanks @bsclifton . My bad. Likely I missed this when searching for existing issue. :)

[2018-02-21 20:03] diracdeltas commented on #12620
should also update some of our outdated packages

[2018-02-21 20:15] LaurenWags commented on #13158
reproduced the stacking order not being remembered.

This is how the windows were when closing 0.21.11:
![screen shot 2018-02-21 at 3 05 55 pm](https://user-images.githubusercontent.com/28145373/36503069-ef24c17e-1719-11e8-8634-15ee8c98df4e.png)

This is how they were upon opening:
![screen shot 2018-02-21 at 3 07 10 pm](https://user-images.githubusercontent.com/28145373/36503077-f75290e2-1719-11e

[2018-02-21 20:37] petemill commented on #13079
STR from @NejcZdovc as provided in #13087 :
1) start browser (make sure you have a folder with at least 20 bookmarks)
2) open YouTube player
3) right click on a folder and select `Open all in tabs`
4) then immediately after they are opened start closing them with mouse middle button or cmd+w
5) youtube starts lagging and then if you just click on a youtube page (on white section) video lags

[2018-02-21 20:40] kjozwiak opened #13233 "BraveBeta.exe process not always being terminated when closing Brave via title bar"
### Description

@btlechowski (great find BTW 👍) found that when closing brave via the 'X' button under the title bar, the `BraveBeta.exe` process doesn't terminate which can lead to situations where clicking on the `Brave` shortcut on the desktop doesn't launch the application due to the process still running.

### Test Plan / Steps to Reproduce

  1. launch `0.21.11` and open your favourite proc

[2018-02-21 20:47] btlechowski commented on #13233
I am able to reproduce with 100% rate using these steps:
 Steps:
 1. Clean install
 2. Open Brave
 3. Close Brave using titlebar's Close button (x)
 4. Check running processes for BraveBeta

Tested on Win7 x64
[code]

[2018-02-21 20:57] kjozwiak commented on #13233
Reproduced this on Ubuntu 17.10 x64 using `0.21.11` as well. Example:

<img width="945" alt="screen shot 2018-02-21 at 3 56 23 pm" src="https://user-images.githubusercontent.com/2602313/36504846-d24468d8-171f-11e8-8377-a5b61151d9da.png">

[2018-02-21 20:57] eljuno commented on #6604
+1 from community https://community.brave.com/t/brave-crashes-upon-import-of-firefox-data/16627?u=eljuno

Select ‘Browser history’, ‘Bookmarks’, ‘Cookies’, ‘Saved Passwords’ - crashed.
Select ‘Browser history’, ‘Bookmarks’, ‘Cookies’ - crashed.
Select ‘Browser history’, ‘Bookmarks’ - did not crash.

Brave: 0.20.42
V8: 6.4.388.41
rev: 096c7cb3c75ebb518f72fc7d24bc2bbaedd50aed
Muon: 4.8.2
OS Release:

[2018-02-21 20:58] LaurenWags opened #13235 "YouTube channels not added to ledger table"
### Description
Using 0.21.11 with a clean profile (and default settings), YouTube channels are not being added to the ledger table.

### Steps to Reproduce

  1. Launch 0.21.11 with a clean profile
  2. Enable Payments (leave all default settings)
  3. Navigate to a YouTube video and play for a bit.

**Actual result:**
Channel name is not added to ledger table and time spent appears to be added t

[2018-02-21 21:07] btlechowski commented on #13233
On Ubuntu, when BraveBeta is launched through Brave Beta shortcut on TaskBar, the browser is actually recognized as Brave and not Brave Beta(Check Brave shortcut).

![image](https://user-images.githubusercontent.com/34715963/36505288-4e2fe020-1753-11e8-8aee-d46febba265b.png)

[2018-02-21 21:16] darkdh commented on #13229
seems like Windows only and it will use last location you used to open file no matter fresh profile or not

[2018-02-21 21:16] btlechowski commented on #12608
Still reproducible.
[code]

[2018-02-21 21:34] LaurenWags commented on #13235
Per discussion with @nejczdovc this is expected for now. BAT libraries have been updated but associated code needed for BAT libraries has not been pulled into 0.21.11. Once this code is included in an updated build, this will be checked again as part of normal regression testing.

[2018-02-21 21:34] #13235 closed

[2018-02-21 21:35] diracdeltas opened #13237 "consolidate public suffix lists and add postinstall script to update the PSLs"
see https://github.com/brave/browser-laptop/pull/13236#issuecomment-367480676 for details

[2018-02-21 21:36] LaurenWags opened #13238 "second window is opened when launching 0.21.11 for the second time"
### Description
If you open 0.21.11 with a clean profile, you get one window, with one tab as expected. If you close Brave-Beta and open again, you now have two windows. This second window has the welcome page (about:welcome).

### Test plan / Steps to Reproduce

  1. Launch 0.21.11 with a clean profile.
  2. See one window with one tab.
  3. Close Brave-Beta.
  4. Open Brave-Beta again.

**Actual

[2018-02-21 21:39] kjozwiak commented on #13046
@jenn-rhim can you see if recovering your key and restarting Brave resolves the issue? Similar to what you did in https://github.com/brave/browser-laptop/issues/11383#issuecomment-358075919. Once you restart the browser, does it stick or does it revert back to `a`?

We'll need to find out if this is still happening in certain edge cases... @LaurenWags @srirambv @btlechowski, keep your eyes opened

[2018-02-21 21:46] petemill opened #13239 "If state contains a [null] key, all actions will fail with little log evidence"
### Description
It's possible, although undesired, to have a javascript object or Immutable Map with a key of [null]. This causes immutabediff to throw an error as it only supports strings as keys. This then further causes all subsequent state updates to not be sent to renderer windows, and a crash log to be generated upon every single action, which halts the browser momentarily.

One instance of

[2018-02-21 21:49] bsclifton commented on #10020
@bbraithwaite thanks for following up! Would you be able to create a new issue to track that work? I think it's do-able and would be a nice addition 😄

[2018-02-21 21:49] eljuno commented on #13156
So, +1 from me. :smile:

Claimed two grants so I have 47,5 BAT on my Brave wallet. When claimed the first grant, contribution date is _Overdue_ << I enable payments but not add funds for months. Date is not updated but I know it should be sent after 30 days.

In January, the date changed to Jan 20, then I claimed the second grant and the date pushed again to Feb 18. On Feb 18, date changed to _Tod

[2018-02-21 21:52] BobT36 commented on #13156
@eljuno Exactly the same as me. Same amount of bat, same budget, never paid out to the wallet I set.

Only difference is my wallet backup code only shows "a". I previously restored it from a backup as I switched computers, it showed fine at the time.

[2018-02-21 21:55] LaurenWags opened #13241 "`Manifest file is missing or unreadable` message when launching from terminal"
### Description
When launching 0.21.11 from the terminal I see `Manifest is missing or unreadable.`

### Steps to Reproduce

  1. Clean install and profile with 0.21.11
  2. Launch from terminal.
  3.

**Actual result:**
See `Manifest file is missing or unreadable.`

**Expected result:**
I don't think that should be there.

**Reproduces how often:**
Easily

### Brave Version

**about:brave info:**

[2018-02-21 22:02] evq commented on #13156
@BobT36 I would recommend that you re-restore from your backup. If the wallet backup code shows up as "a" it is expected that you would not be able to contribute.

[2018-02-21 22:04] darkdh commented on #13233
reproducible using muon 5.0.0 and 4.8.2 so might be something wrong on browser-laptop

[2018-02-21 22:04] petemill commented on #13233
Probably related to bufferWindow. We should exclude the buffer window from checking if all windows are closed.

[2018-02-21 22:17] kjozwiak commented on #12296
As per our earlier conversation with @NejcZdovc in the `#testers` channel, ledger functionality won't work until the twitch code is pulled in which includes the updated BAT libraries.

Removed ` QA/checked-Win64` as we should re-test this just incase once Twitch lands.

[2018-02-21 22:43] petemill commented on #13233
Thanks for finding @btlechowski and @kjozwiak! A potential fix is pending in #13242.

[2018-02-21 22:53] petemill commented on #13238
It's weird that the welcome tab does not show on the first load, but does on the second. I have a feeling the welcome tab is being added to the buffer window. Which is then being saved to state because it does not have 0 tabs.

[2018-02-21 22:57] #12333 closed

[2018-02-21 22:57] #13079 closed

[2018-02-21 22:57] #12828 closed

[2018-02-21 22:57] #13157 closed

[2018-02-21 23:05] petemill commented on #13238
Hopefully fixed with https://github.com/brave/browser-laptop/pull/13244

[2018-02-21 23:05] BobT36 commented on #13156
@evq Thanks, fortunately I still had the backup file. Now shows my key correctly.

Hopefully it will actually make the contribution at some point.. I have a Youtube channel linked to a wallet pinned, with it set as Included and at 100%. As in the screenshot above really. (47.50 bat, 50 bat budget).

[2018-02-21 23:36] #13238 closed

[2018-02-22 00:21] kjozwiak opened #13245 "Manual test run for Chromium upgrade on OS X for 0.21.x (Beta Channel - CR 65)"
## Per release specialty tests

## Installer

- [ ] Check that installer is close to the size of last release.
- [ ] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital

[2018-02-22 00:21] kjozwiak opened #13246 "Manual test run for Chromium upgrade on Windows x64 for 0.21.x (Beta Channel - CR 65)"
## Per release specialty tests

## Installer

- [ ] Check that installer is close to the size of last release.
- [ ] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital

[2018-02-22 00:21] kjozwiak opened #13247 "Manual test run for Chromium upgrade on Linux for 0.21.x (Beta Channel - CR 65)"
## Per release specialty tests

## Installer

- [ ] Check that installer is close to the size of last release.
- [ ] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital

[2018-02-22 02:27] variousred opened #13248 "Mute this tab in tab context menu"
### Description
Can not mute tab except when sound is playing. Some tabs play sounds intermittently, and you still would want to mute them. Please add option for "Mute Tab" in tab context menu next to Mute Other Tabs.

### Steps to Reproduce
Try to mute a tab currently not playing a sound. Right click context menu on tab allows to mute _all other_ tabs, but not this one.

**Actual result:**
No opt

[2018-02-22 02:41] aoighost commented on #5412
Same issue here

[2018-02-22 04:26] srirambv commented on #9435
Verified on Windows 10 but not on Windows Server

[2018-02-22 04:48] srirambv opened #13250 "Trying to save page offline always shows Downloading..."
### Description
While testing #3784 found that when trying to save a page in offline mode, the downloader dosn't cancel or warn about being offline instead keeps showing `Downloading...` message

### Steps to Reproduce
  1. Clean install 0.21.11
  2. Load any site in a new tab and go offline
  3. Save page, doesn't cancel or error keeps showing downloading
  4. Go online, still doesn't change rema

[2018-02-22 05:23] bsclifton commented on #13224
@srirambv I believe the process not exiting is covered by https://github.com/brave/browser-laptop/issues/13233 which is fixed with https://github.com/brave/browser-laptop/pull/13242

I wonder if the crash is related also

[2018-02-22 05:32] #13233 closed

[2018-02-22 05:58] bsclifton commented on #13239
Marking as `QA/no-qa-needed` since there isn't a clear way to reproduce this condition; however, @petemill gives steps to force it to happen, which the reviewers can do 😄

[2018-02-22 06:11] bsclifton commented on #13224
Reproduced on Windows 7 (after accepting the patch I mentioned above).  The browser does terminate all processes, but there is indeed a crash which you can see via `chrome://crashes`

![screen shot 2018-02-21 at 11 10 38 pm](https://user-images.githubusercontent.com/4733304/36522965-79bf2fb2-175c-11e8-8782-582c38c16ffa.png)

[2018-02-22 06:12] bsclifton commented on #13224
It's quite possible the root cause for the crash will be fixed with https://github.com/brave/browser-laptop/pull/13240.  We can try to retest after this is accepted 😄

[2018-02-22 06:19] bsclifton commented on #13224
Tentatively moving to 0.21.x; we can close if fixed or reset milestone to `Triage Backlog`

[2018-02-22 06:26] bsclifton commented on #13224
I cherry picked in https://github.com/brave/browser-laptop/pull/13240/commits/4321c87b1272d7883b90da3d95ba3ac4abc5a675 and verified this does NOT fix the issue

[2018-02-22 06:31] bsclifton commented on #13226
I suspect this was fixed with https://github.com/brave/browser-laptop/pull/13234

[2018-02-22 06:32] bsclifton commented on #13227
Should definitely be retested once we have a 0.21.x release candidate available.  Some broken functionality was fixed with https://github.com/brave/browser-laptop/pull/13234

[2018-02-22 06:33] bsclifton commented on #13250
@srirambv does this happen in 0.20.x (or earlier?)

[2018-02-22 06:34] VoR0220 commented on #8615
When can we expect this feature? If it's bundlable directly, shouldn't this be an easy plug and add to the UI? Not trying to be a nag here just would *really* like this feature here so that I can use Chromecast without having to use the dreaded Google product.

[2018-02-22 06:37] ryanrms commented on #9772
I'm experiencing the same issue on Ubuntu Budgie 17.04.1 installed via snap package.  In Chromium, the cursor icon theme is as expected, but in Brave it appears to be using some sort of default X cursor.

[2018-02-22 06:52] bsclifton commented on #12959
Although we've narrowed down the code which broke this functionality, we need a solid way to reproduce locally (where we can debug the issue). For our upcoming 0.21.x release, we're focusing on performance issues and likely won't have time to dig into this (yet).

I'm going to move back one release to 0.22.x.  Apologies to folks affected by this ☹️ Any help with steps to reproduce locally would be

[2018-02-22 07:02] #13194 closed

[2018-02-22 07:05] bsclifton commented on #13194
Thanks for the report, @knightshousegames - if the issue you saw isn't covered by #13087 then I suspect it should be covered (and fixed by) https://github.com/brave/browser-laptop/pull/13234

I marked this as a duplicate for now- we'll be having new beta releases available soon (this week) that should have a fix in case you wanted to verify.  Thanks 😄

[2018-02-22 07:10] bsclifton commented on #13185
@verlass @btlechowski can you help me understand the problem better?

Once you pin the item, are you saying it can't be unpinned basically?  Or is the problem that it's showing the pinned tabs twice?

[2018-02-22 07:10] bsclifton commented on #13191
cc: @darkdh

[2018-02-22 07:29] srirambv commented on #1985
Blocked on #13230 #13228

[2018-02-22 09:30] datenreisender opened #13251 "Appear.in does not load"
### Description
No connection on appear.in-calls.

https://appear.in/ is a site for video calls which (among other browsers) also supports chrome. But using Brave it is not possible to connect to a call there, there is just an endless spinner.

### Steps to Reproduce

  1. Visit any appear.in-room (e.g. https://appear.in/brave-test) in Brave (no matter whether shields up or down).

**Actual result

[2018-02-22 10:14] rejkube commented on #12959
I was disappointed at one point to go back use the google-chrome ... rev | 8e71853 is a big relief !

[2018-02-22 10:18] btlechowski commented on #13185
@bsclifton Closed unpinned pin tabs reappear after restart as pinned tabs.

[2018-02-22 10:47] srirambv opened #13252 "CryptoTokenExtension shown with broken icon on about:extensions"
### Description
CryptoTokenExtension shown with broken icon on about:extensions

### Steps to Reproduce
  1. Clean install 0.21.11
  2. Open `about:extensions`
  3. Shows CryptoTokenExtension with broken icon

**Actual result:**
![cryptoextension](https://user-images.githubusercontent.com/17010094/36534147-b438d8b6-17eb-11e8-8b87-7f0a8e693412.gif)

**Expected result:**
Not sure what is expected

*

[2018-02-22 11:04] srirambv opened #13253 "Importing history from Chrome doesn't add date for Chrome boookmarks in about:history"
### Description
Importing history from Chrome doesn't add date for Chrome boookmarks in about:history

### Steps to Reproduce
  1. Add a few bookmarks on Chrome and visit few sites to add browsing history
  2. Close and import Chrome data on to clean profile of Brave
  3. Open `about:hisotry` date shown for visited sites on Chrome
  4. Bookmarks added in Chrome is shown under a separate section wi

[2018-02-22 11:20] btlechowski commented on #13229
Opening last used location is the intended behavior. Chrome and Firefox behave the same.

Nevertheless, when clean install is done then it should open default download location.

@kjozwiak @LaurenWags Your thoughts?

[2018-02-22 12:02] btlechowski opened #13254 "Saved performance profile in Developer Tools is empty"
### Steps to Reproduce

  1. Open Developer Tools (F12) and Open Performance tab
  2. Click Record button and record for few seconds
  3. Save the profile

**Actual result:**

Profile file is created but has 0 size

**Expected result:**
Profile file is saved

**Reproduces how often:**

100%

### Brave Version

[code]
[code]
### Additional Information
TC taken from #11906

Not reproducible in 0.20.

[2018-02-22 13:08] Caalexander commented on #13185
This issue spans much further. If you have tabs pined in a window, and you decide to drag a tab out of that window (say you want a separate instance in another monitor) that tab will RE-OPEN all of your pinned tabs a second time when it's dragged out... Pinned tabs should stay in the mother window and never move unless dragged, new windows should not re-open all your pinned tabs.

[2018-02-22 15:58] #13228 closed

[2018-02-22 15:58] #13230 closed

[2018-02-22 16:14] LaurenWags commented on #13254
Reproduced on MacOS

Brave | 0.21.11
V8 | 6.4.388.41
rev | e146cd8
Muon | 5.0.5
OS Release | 16.7.0
Update Channel | Beta
OS Architecture | x64
OS Platform | macOS
Node.js | 7.9.0
Brave Sync | v1.4.2
libchromiumcontent | 64.0.3282.140

[2018-02-22 16:40] LaurenWags opened #13255 "unable to export bookmarks"
### Description
Bookmarks don't export. See test case D from https://github.com/brave/browser-laptop/pull/11906

### Steps to Reproduce

  1. Set up some bookmarks on a clean profile (I had 2 on my toolbar and 2 in a folder on the toolbar)
  2. Menu->Bookmarks->Export bookmarks
  3. The default path should be your download path
  4. The dialog should have extension option with html
  5. Default ex

[2018-02-22 16:45] bradleyrichter commented on #12269
@cezaraugusto screens above have been revised for the code display, entry and error display.

[2018-02-22 16:57] petemill commented on #11145
I'm pretty sure this is related to memory pressure causing a discard which was broken and resulted in a dead tab. That's resolved with #12916  and soon to be even better with #13120. If not, there's no specific STR on this issue, so closing anyway. Thanks for the report!

[2018-02-22 16:57] #11145 closed

[2018-02-22 17:04] petemill commented on #800
We have in #13118  a tab context menu item now named 'Discard Tab' which allows a user to manually destroy the tab's contents and reload it when the tab is made active again. However, Brave has to be running with the Debug menu on to allow this option currently.

[2018-02-22 17:08] petemill commented on #11130
Cannot reproduce in 0.21.x. This may be a stale issue. @srirambv please can you close if you agree? Thanks

[2018-02-22 17:15] petemill commented on #1796
Superseded by https://github.com/brave/browser-laptop/issues/13210

[2018-02-22 17:15] #1796 closed

[2018-02-22 17:38] evq commented on #13252
the icon has always been broken since I added the extension for u2f support

[2018-02-22 17:57] srirambv opened #13256 "Removing URL doesn't remove the EVC details"
### Description
Removing URL doesn't remove the EVC details

### Steps to Reproduce
  1. Clean install 0.21.11
  2. Visit Github.com, ensure the EVC is shown once URL is loaded
  3. Select URL and delete, EVC is still shown

**Actual result:**
![evc](https://user-images.githubusercontent.com/17010094/36555398-e462ceac-1827-11e8-9592-e864746530f6.gif)

**Expected result:**
Site EVC should be remove

[2018-02-22 18:15] bsclifton opened #13257 "Resume after pause on twitch media does not resume timer"
### Description

When testing https://github.com/brave/browser-laptop/pull/13142, I realized that timer for time spent on a twitch video is not resumed when you click PLAY after pausing a video

### Steps to Reproduce

  1. Watch a twitch video; confirm time spent is showing in ledger
  2. Click pause; confirm time spent was updated
  3. Click play again; wait for a minute
  4. Notice time does no

[2018-02-22 18:47] evq commented on #13156
@BobT36 @eljuno I wanted to check in on your contributions, while rereading this topic I realized that you both said that you set your budget to 50 BAT when you only have 47.5 BAT in grants.

You'll need to set your budget lower than the amount you have in order for the contribution to go through. The monthly budget is not "up to 50 BAT", it is "50 BAT". Please let me know if that does not allow y

[2018-02-22 19:25] cezaraugusto opened #13258 "after sync reset, devices are not visible anymore if you try to re-sync"
STR:

1. `npm run start` and `npm run start2`
2. Sync two devices
3. Ensure they show up in the devices table
4. Hit "reset sync"
5. Repeat steps to sync two devices
6. No device is shown in the device table

Expected result:

Reset sync should not affect devices display.

This is a blocking issue after #13197 lands, since in Sync v2 there's no way to complete setup if no device is shown

[2018-02-22 19:27] eljuno commented on #13156
@evq if I read and assume the FAQ correctly, if I have balance at least 90% of the monthly budget, it should be sent? https://brave.com/faq-payments/#user-notification

Also, it seems the contribution's _sent_ today. 0 BAT on balance and contribution date pushed to next month. But I'm not receive any notification like _your contribution sent_ and no history (see that grey clock icon).

![sent-2302

[2018-02-22 19:32] evq commented on #13156
@eljuno You are correct, I was mistaken re: 90% of the contribution. I had originally believed that logic was not applying for grants but it is.

You should see the history and your notification appear soon. When there is not yet a statement this means that your browser is still in the voting process, there is a random delay element to this for randomization purposes so it can take up to a few hou

[2018-02-22 19:39] eljuno commented on #13156
Thanks for clarifying @evq. Will waiting for notification and history. I'll keep an eye on it and will notify you if it still not appear after a few hours/days. :smile:

[2018-02-22 19:54] NejcZdovc opened #13259 "Twitch: Log time when closing a video"
### Description

We want to log remaining time (not logged yet) when you switch to another video or when video ends.

[2018-02-22 20:38] diracdeltas commented on #4024
this will be fixed whenever https://github.com/brave/pdf.js/pull/4 is merged into master and @bsclifton does a pdf.js release :).

[2018-02-22 21:32] BobT36 commented on #13156
Mine still hasn't sent yet:
![capture](https://user-images.githubusercontent.com/14024619/36565244-cc5debb2-1817-11e8-8a81-28d883ef1e00.PNG)
Then again I only just restored my wallet when I posted, so that could have been affecting things.
It now correctly still shows the full seed now, rather than just "a", so hopefully at some point it will actually happen.

I accepted both grants and had it set

[2018-02-22 21:50] pcatana opened #13260 "Being able to "zoom in" with fingers on touch screen laptops."
### Description
On touch screen laptops one cannot pinch and zoom on any page like in Chrome Browser
It's a feature I really like on Chrome. I use it a lot personally and would love to have it on Brave too.
Latest version of Brave.

[2018-02-22 22:37] LaurenWags opened #13261 "bad session state can result in permanently borked profile"
### Description
I haven't reproduced yet, but I was following the test plans set out in https://github.com/brave/browser-laptop/pull/11313 for the keyboard shortcuts. I close Brave and reopened near the end to see if my tab order was preserved and that's when I discovered that my profile is borked. I can't reload existing tabs, new windows are useless, my pinned tabs spin, I can't open new tabs.

[2018-02-22 22:51] LaurenWags commented on #13261
This was displayed in the terminal:

[76516:775:0222/171501.726464:ERROR:CONSOLE(1)] "Uncaught TypeError: Cannot read property 'filterNot' of undefined", source: chrome://brave/Users/laurenwagner/Brave%20Documents/Laptop/Brave%20Beta/Brave-Beta.app/Contents/Resources/app.asar/app/extensions/brave/gen/app.entry.js (1)
[76516:775:0222/171501.743616:ERROR:CONSOLE(1)] "Uncaught TypeError: Cannot read

[2018-02-22 23:00] JAD1932 opened #13262 "Add scrolling function - for long lists of bookmarks within folders."

[2018-02-22 23:01] JAD1932 opened #13263 "Touchscreen mode - Like MS office products have an option for touch enabled devices."

[2018-02-22 23:03] bsclifton commented on #13252
Since it's not shown on `about:preferences#extensions`, I don't think we need to worry about the icon being shown properly.  However, it couldn't hurt to pass a manifest here with a path to a valid icon:
https://github.com/brave/browser-laptop/blob/12aa8bb6a6494dc0406e2ffe978b037d7ef3af8a/app/extensions.js#L527

Although, it would be a problem if this overrides what is detected when loading

[2018-02-22 23:12] bsclifton commented on #13241
Related: https://github.com/brave/browser-laptop/issues/13252

This error is likely caused when loading CryptoTokenExtension

[2018-02-22 23:24] LaurenWags opened #13264 "pinned tabs do not retain order when moved with keyboard shortcut"
### Description
If you reorder your pinned tabs using the keyboard shortcut (ctrl+shift+pg up/down), and then close/reopen Brave, your pinned tabs order is not maintained.

### Test plan / Steps to Reproduce

  1. Clean profile with 0.21.11.
  2. Open several tabs with several sites.
  3. Pin some of the tabs. Note pinned order.
  4. Move pinned tabs around using keyboard shortcut described in #11

[2018-02-22 23:28] ryanml commented on #12001
@srirambv @NejcZdovc I think I'd like to grab this one. To clarify, we should just fall back to the original value, and _not_ allow any decimal values inside the ledger, correct?

[2018-02-23 00:15] ryanml commented on #12001
I was taking a look at this one, and it seems that inside the PinnedInput component, the callback for onBlur was interpreting decimal values as falsey, causing them to be unpinned.

Doing that additional check here solves the unpin issue, but I'm not sure if the expectation here is that they be reset to 1. I can only assume so, as the previous check was for values less than one.

Let me know your

[2018-02-23 00:15] ryanml commented on #12001
I was taking a look at this one, and it seems that inside the PinnedInput component, the callback for onBlur was interpreting decimal values as falsey, causing them to be unpinned.

Doing that additional check here solves the unpin issue, but I'm not sure if the expectation here is that they be reset to 1. I can only assume so, as the previous check was for values less than one.

Let me know your

[2018-02-23 00:23] petemill commented on #13261
I have made a fix in #13265 that addressed this unrecoverable 'borked' behavior. That will stop the console errors from being thrown, and allow the browser to function normally (tested with aforementioned borked profile). Since this is not reproducible, I'm not sure that the keyboard shortcut for moving tabs caused it. Having `about:error` pages in the profile may have something to do with it, as

[2018-02-23 01:25] pdimri commented on #271
I already left the browser. I am using yandex + chrome dark extension , it
works for mobile

On Thu, Feb 22, 2018, 7:21 PM iFreeFrak <notifications@github.com> wrote:

[2018-02-23 02:11] diracdeltas commented on #13065
i'm pretty sure that if i load favicons in the `persist:tor` partition, then they will be loaded in the same circuit as the tab that they belong to. @darkdh can confirm/deny

[2018-02-23 03:52] mkielhauser commented on #12959
@bsclifton I have sent you a sanitized version of our PAC script.
Password to access it is Ayaaj0]k8f with a zero not an O. Hope that helps.

[2018-02-23 05:03] NejcZdovc commented on #12001
@ryanml yeah we need to always default to 1 if you are bellow 0 or value is not a number

[2018-02-23 05:22] NejcZdovc opened #13268 "Torrent extension bad merge"
### Description

There was a bad merge which created this situation https://github.com/brave/browser-laptop/blob/12aa8bb6a6494dc0406e2ffe978b037d7ef3af8a/app/filtering.js#L779

Second if statement is not reachable

[2018-02-23 05:41] #13195 closed

[2018-02-23 06:08] #13268 closed

[2018-02-23 06:38] #13219 closed

[2018-02-23 06:43] #13239 closed

[2018-02-23 07:00] #13139 closed

[2018-02-23 07:03] petemill opened #13270 "Pinned tabs do not sync order across windows"
### Description

### Steps to Reproduce

  1. Have two windows open with three pinned tabs (should be same pinned tabs in each window)
  2. Change the order of the pinned tabs in one of the windows (by dragging or keyboard shortcut)

**Actual result:**
Order is only changed in the active window

**Expected result:**
Pinned tab order should be updated in all windows

**Reproduces how often:**
100%

[2018-02-23 07:48] inear opened #13273 "Refresh tab does not release memory"
I have been following an issue in chromium in the current version of Chrome (M64) that have problems with refreshing tabs on pages that use WebAudio. V8 keeps references to older contexts because of a memory leak. The same problem can be seen in Brave. It's not happening in M65 so it should be fine here as well once it's reaches Brave. (I have novice understanding about open source and release-cyc

[2018-02-23 08:06] mkielhauser commented on #12959
Forgot to show how to apply it, silly me...
![pac](https://user-images.githubusercontent.com/36023161/36584119-cc8c4378-18bb-11e8-9f06-ad7bb345a6da.png)

[2018-02-23 08:39] NumDeP commented on #12343
Sorry for the late reply @bsclifton I'm coherently using Linux Mint Xfce and sure enough it is. Though I should mention I cannot repeat it as often as before.

Just a small side note, the version I'm using is the latest one under Snap, I can't for some reason successfully make Yarn work properly in Mint. I'll probably try it in Suse.

Brave: 0.20.30
V8: 6.4.388.40
rev: 8b78402e7b3b91d44d8146cbe4dc

[2018-02-23 08:47] NejcZdovc opened #13274 "Backup keys import/export not working"
### Description

### Steps to Reproduce

Export
  1. Enable payments
  2. Go to advance settings
  3. Try to export backup keys

Import
  1. Enable payments
  2. Go to advance settings
  3. Try to import backup keys

**Actual result:**

Browser crashes

**Expected result:**
Keys should be saved

**Reproduces how often:**

100%

### Brave Version

**about:brave info:**

**Reproducible on current li

[2018-02-23 08:57] datenreisender commented on #4476
This problem still persists with Brave 0.20.42 on macOS 10.13.3. 😞

[2018-02-23 10:03] olizilla commented on #10629
I'm working on porting `registerStreamProtocol` from electron to muon.

I've ported https://github.com/electron/electron/pull/11008 and tracked down the dependent changes and tweaks to get muon compilable again. I'm now figuring out how send the stream over ipc from the render to the main process. I'll tidy it up and raise a PR later today.

[2018-02-23 10:04] olizilla commented on #10629
WIP is here https://github.com/tableflip/muon/tree/feature/register-stream-protocol

[2018-02-23 10:11] srirambv commented on #13079
Verified on 0.21.12 no lag on video playback based on the test plan

[2018-02-23 10:49] srirambv opened #13275 "Download torrent prompts to save and tries loading the torrent page"
### Description
While verifying #13269 found having the torrent viewer disabled and clicking on a torrent causes the torrent file to download as well as open the torrent file.

### Steps to Reproduce
  1. Disable torrent viewer on 0.21.12
  2. Open https://webtorrent.io/free-torrents and click on a torrent link
  3. Prompts to save the torrent file but also opens the torrent page

**Actual result:

[2018-02-23 12:19] srirambv commented on #13255
Default path in save file window isn't download path.

[2018-02-23 12:28] srirambv opened #13276 "Publisher icon doesn't show enabled for some sites but enabled in ledger table"
### Description
Publisher icon doesn't show enabled for some sites but enabled in ledger table

### Steps to Reproduce
  1. Clean install 0.21.12
  2. Enable payments
  3. Visit few sites and stay on the page for min time so that it shows up on ledger table
  4. Switch tabs so that publisher icon shows enabled in URL
  5. Some site doesn't show included publisher icon in URL but shows included in

[2018-02-23 12:47] srirambv commented on #9865
@petemill shoudl #10673 and this be marked as `QA/no-qa-needed`  based on https://github.com/brave/browser-laptop/issues/10673#issuecomment-367114377

[2018-02-23 13:35] btlechowski opened #13277 "Brave process not terminated after bookmarking a page and closing through titlebar"
### Steps to Reproduce

  1. Clean Install
  2. Open Brave
  3. Bookmark page through the star
  4. Close Brave through titlebar's close button (x)

**Actual result:**
BraveBeta processes are running

**Expected result:**
BraveBeta processes are NOT running

**Reproduces how often:**
100%

### Brave Version
[code]

[2018-02-23 13:42] btlechowski opened #13278 "Tab session not restored after restart"
### Test plan / Steps to Reproduce

  1. Clean Install
  2. Open Brave on Windows or Linux
  3. Open youtube.com
  4. Close Brave through titlebar's close button (x)
  5. Open Brave

**Actual result:**
Tabs are NOT restored
Only New Tab is shown

**Expected result:**
Tabs are restored

**Reproduces how often:**
100%

### Brave Version
[code]

### Additional Information
The Brave was run through th

[2018-02-23 15:17] #11422 closed

[2018-02-23 15:26] #12001 closed

[2018-02-23 15:31] NejcZdovc commented on #13276
I will put this into triage backlog for now. This functionality will be removed in 0.22/0.23 so I think that we can skip it until now

[2018-02-23 15:43] kjozwiak commented on #13278
Managed to reproduce this on the following platforms:

* Win 10 x64 VM - Reproduced
* Ubuntu 17.10 x64 VM - Reproduced

@srirambv also reproduced this on his Win 10 desktop.

[2018-02-23 15:48] srirambv opened #13280 "Ledger table entries logged based on view and not on time spent"
### Description
Ledger table entries logged based on view and not on time spent

### Steps to Reproduce
  1. Clean install 0.21.12 and enable payments
  2. View few twitch channels ensure they show up in ledger table
  3. Doesn't sort based on time spent but instead lists based on view order

**Actual result:**
![image](https://user-images.githubusercontent.com/17010094/36602742-cfaf2174-18de-11e8

[2018-02-23 16:12] srirambv commented on #12046
![image](https://user-images.githubusercontent.com/17010094/36603923-49c01bd2-18e2-11e8-9d87-b8333e15d30a.png)

Launching from shortcut i can still reproduce this issue. When there is only Brave beta installed and after closing the browser, a brave folder with crashpad metrics folder .pma files are created along with beta profile folder

[2018-02-23 16:32] srirambv commented on #13280
This is not limited to publisher entry. Happens with other ledger entries as well
![image](https://user-images.githubusercontent.com/17010094/36604946-38059342-18e5-11e8-8ccc-01950cee4877.png)

[2018-02-23 16:58] LaurenWags opened #13281 "favicons are not consistently displayed in the ledger table"
### Description
@srirambv and I are not seeing favicons displayed consistently in the ledger table.

### Steps to Reproduce

  1. Add some sites to ledger table. See that sites have favicons.
  2. Delete some sites from the table.
  3. Open deleted sites dialog box.
  4. Clear one or more (or all) sites.
  5. Revisit site so it gets added back to the table.

**Actual result:**
Sites may or may not

[2018-02-23 17:28] kjozwiak commented on #13277
I also managed to reproduce this on the following platforms:

* Win 10 x64 VM - Reproduced
* Ubuntu 17.10 x64 VM - Reproduced

Great catch @btlechowski 👍

[2018-02-23 17:36] olizilla commented on #10629
PR for discussion here: https://github.com/brave/browser-laptop/issues/10629

[2018-02-23 17:40] LaurenWags opened #13283 "some sites are 'included' after being re-added but should not be"
### Description
Even with 'auto-include' ON, some sites are set to 'Include' OFF by default (youtube.com, github.com, etc). So when you visit these sites they are displayed in your ledger table but do not have their 'include' toggle on. If you delete these sites and re-add them, they are getting added back with 'Include' ON and it does not change to OFF.

Since we now are going to make it easier t

[2018-02-23 17:48] posix4e commented on #11930
Ganna consider this a false file. Thanks makshart.

[2018-02-23 17:50] bsclifton commented on #4320
This appears to be fixed (tested with 0.20.42) 😄

[2018-02-23 17:50] #4320 closed

[2018-02-23 17:52] bsclifton commented on #804
I believe this will be solved with https://github.com/brave/browser-laptop/issues/13216
cc: @petemill

[2018-02-23 17:53] bsclifton commented on #6745
Closing as I can't reproduce this with 0.20.42

[2018-02-23 17:53] #6745 closed

[2018-02-23 17:55] kjozwiak commented on #13277
Looks like this is also present in `0.20.42 ` 096c7cb3c75ebb518f72fc7d24bc2bbaedd50aed. I managed to reproduce it under Win 10 and Ubuntu 17.10.

Not a new regression, but I think we should probably get this fixed in this milestone as #13233 was also fixed. @petemill @bsclifton thoughts?

[2018-02-23 17:57] #13264 closed

[2018-02-23 17:58] bsclifton commented on #8543
Fixed with https://github.com/brave/browser-laptop/pull/13271

[2018-02-23 17:58] #8543 closed

[2018-02-23 18:00] petemill commented on #13277
I"ll give it 1 try

[2018-02-23 18:20] petemill commented on #804
I don't think #13216 will fix bandwidth per-say, as we are not creating pinned tabs as lazy-loaded (discarded), so muon will still be fetching the content on startup. #13216 should make sure we're not using the window's resources to display the content, however. This could be a simple change to the following, though not sure if it's there for a particular reason - worth testing:

https://github.co

[2018-02-23 18:39] eljuno commented on #2171
+1 from community https://community.brave.com/t/alphabetical-sorting-of-bookmarks/16749?u=eljuno

[2018-02-23 18:42] LaurenWags opened #13284 "Deleted sites dialog isn't fixed size"
### Test plan
See https://github.com/brave/browser-laptop/pull/13294

### Description
Per https://github.com/brave/browser-laptop/issues/12833 I was expecting the Deleted Sites dialog to be a fixed size and contain a scroll bar inside it for when there is a large number of sites. It looks as though the dialog box just expands as the number of sites listed increases.

### Steps to Reproduce

  1. B

[2018-02-23 18:43] eljuno commented on #5207
+1 from community https://community.brave.com/t/print-prewiew-function/16752

[2018-02-23 18:51] darkdh commented on #12046
yeah, after installation it will automatically launch without user-data-dir-name switch and then re launch with the switch.
We can address this at https://github.com/brave/Squirrel.Windows
@bsclifton, @petemill

[2018-02-23 18:59] eljuno commented on #6604
+1 from community on macOS https://community.brave.com/t/brave-crashing-when-importing-data-from-firefox/16768?u=eljuno

[2018-02-23 19:10] luizrrodrigues commented on #11819
Me too, only works in incognito mode.

[2018-02-23 19:15] darkdh commented on #13229
Just tested Chrome and Firefox by fresh profile on Windows
Both initial location will be the application install location not default download location