[2017-02-11 04:23] alexwykoff opened #7178 "Manual tests for Windows ia-32 0.13.3 RC1"
## Installer

1. [x] Check that installer is close to the size of last release.
2. [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup

[2017-02-11 04:23] alexwykoff opened #7179 "Manual tests for Windows x64 0.13.3 RC1"
## Installer

1. [x] Check that installer is close to the size of last release.
2. [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup

[2017-02-11 04:24] alexwykoff opened #7180 "Manual tests for Linux Mint 0.13.3 RC1"
## Installer

1. [ ] Check that installer is close to the size of last release.
2. [ ] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup

[2017-02-11 05:07] alexwykoff opened #7181 "0.13.3 UI Issues Aggregation/Tracking Ticket"
([#7126](https://github.com/brave/browser-laptop/issues/7126))
([#7122](https://github.com/brave/browser-laptop/issues/7122))
([#6511](https://github.com/brave/browser-laptop/issues/6511))
([#7116](https://github.com/brave/browser-laptop/issues/7116))
([#7087](https://github.com/brave/browser-laptop/issues/7087))
([#6961](https://github.com/brave/browser-laptop/issues/6961))
([#6852](https://githu

[2017-02-11 05:08] #7181 closed

[2017-02-11 05:21] luixxiul commented on #7181
@alexwykoff I think it's better to include the title of each issue next to the ticket number to make it more easy to find what was actually fixed

[2017-02-11 05:25] alexwykoff commented on #7181
For the purposes of testing I agree, but for the changelog which goes on the release page (and is more publicly consumable) most of these issues are considered trivial.

[2017-02-11 05:31] luixxiul commented on #7089
@mrose17 I'm seeing the issue yet. how's the situation?

[2017-02-11 05:50] luixxiul commented on #7181
I understand, but because it is trivial I think users don't want to click each issue to find the trivial change. I'm going to add the title if you don't want to :-)

[2017-02-11 06:04] luixxiul opened #7183 "Close tab button should not appear on the title"
**Describe the issue you encountered:**
The close button appears over the title.

![closetab](https://cloud.githubusercontent.com/assets/3362943/22851596/7e02e93e-f06a-11e6-9cfe-649d4ef6edd8.gif)

- Platform (Win7, 8, 10? macOS? Linux distro?): Windows 10

- Brave Version (revision SHA): 0.13.3 RC1

- Steps to reproduce:
    1. Open a tab
    2. Move your mouse cursor on the tab

- Expected result

[2017-02-11 06:10] luixxiul opened #7184 "Dropdown on about:preferences has yellow borders"
**Describe the issue you encountered:**
![clipboard01](https://cloud.githubusercontent.com/assets/3362943/22851633/c058e8b4-f06b-11e6-9136-67f7751cc1bf.png)

- Platform (Win7, 8, 10? macOS? Linux distro?): Windows 10

- Brave Version (revision SHA): 0.13.3 RC1

- Steps to reproduce:
    1. Open about:preferences
    2. Click a dropdown

- Actual result: the dropdown has yellow borders

- Expected

[2017-02-11 06:35] luixxiul commented on #1589
I think I can reproduce the error consistently.

STR:
1)  Minimize your browser window as far as possible
2)  Click the kabob menu
3)  Scroll the menu with your mouse and keyboard to ~1/3 from the bottom
5)  Select "Bookmark" submenu

![submenu](https://cloud.githubusercontent.com/assets/3362943/22851771/9af7161e-f06f-11e6-9cdd-20ac6f392125.gif)

@bsclifton what do you think?

[2017-02-11 06:45] luixxiul opened #7185 "Clicking middle mouse button does not open the bookmark in a new tab"
**Describe the issue you encountered:**
Clicking middle mouse button does not open the bookmark on the toolbar in a new tab.
It opens the link in a new tab on a web page.

- Platform (Win7, 8, 10? macOS? Linux distro?): Windows 10 32 bit

- Brave Version (revision SHA): 0.13.3 RC1

- Steps to reproduce:
    1. Bookmark a page
    2. Click the middle mouse button

- Actual result: Nothing happens

[2017-02-11 06:47] Liunkae commented on #7185
Maybe related: #7144 (Middle mouse click doesn't close tabs)

[2017-02-11 06:54] luixxiul commented on #5431
We have to be very careful yet as the close button does work on the edge of the tab:

![closebutton](https://cloud.githubusercontent.com/assets/3362943/22851850/f1a854f8-f071-11e6-8046-d8c84fcdedf1.gif)

I think that's why I thought the button should be **disabled** as the title says.

Let me reopen the issue for another fix.

[2017-02-11 06:57] luixxiul commented on #7185
@Liunkae I agree

[2017-02-11 06:59] alexwykoff opened #7186 "Regression : Verified pubs no longer have green badge on ledger"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Verified publishers were visited and they domains appear in the listing, but they are missing the verified badges as shown in https://github.com/brave/browser-laptop/issues/6986

- Platform (Win7, 8, 10? macOS? Linux distro?):
Win 10 x64 and OS X

- Brave Version (revision SHA):
0.13.3 RC 1 h

[2017-02-11 07:01] Liunkae commented on #7167
QA steps (macOS-only):

1. Navigate to any webpage with text (e.g. github.com).
2. Right-click any word on the page.
3. Click `Look Up`.
4. Make sure:
  - the word is highlighted in yellow
  - a popup appears with the definition(s) of the word
  - the popup arrow is pointing at the word. Screenshot:
![image](https://cloud.githubusercontent.com/assets/19424103/22851885/5c6d4f3c-eff5-11e6-9bda-e1b8f

[2017-02-11 07:01] alexwykoff commented on #5899
I believe this is solved with the latest updates to importer

[2017-02-11 07:02] Liunkae commented on #7112
All issues have QA steps if needed.

[2017-02-11 07:07] luixxiul opened #7187 "Pin tabs which are loaded causes a crash"
**Describe the issue you encountered:**
Pinning tabs which are loaded causes a crash.

- Platform (Win7, 8, 10? macOS? Linux distro?): WIndows 10 32 bit

- Brave Version (revision SHA): 0.13.3 RC1

- Steps to reproduce:
    1. Clear your brave folder
    2. Open https://github.com
    3. Click the menu on the page to open 4 tabs
    4. Pin all of them **fast**, before they are loaded completely

-

[2017-02-11 07:11] luixxiul commented on #7187
If you pin tabs after they are loaded, the browser does not crash.

![crash](https://cloud.githubusercontent.com/assets/3362943/22851939/a106f97a-f074-11e6-859d-51cbe2a844c3.gif)

[2017-02-11 07:19] luixxiul opened #7188 "zoom percentage is gone from the kabob menu"
**Describe the issue you encountered:**
zoom percentage is gone from the kabob menu
![clipboard01](https://cloud.githubusercontent.com/assets/3362943/22851990/cc37ba48-f075-11e6-87f2-72289538d114.png)

- Platform (Win7, 8, 10? macOS? Linux distro?): Windows 10 32 bit

- Brave Version (revision SHA): 0.13.3 RC1

- Steps to reproduce:
    1. Click the kabob menu

- Any related issues:

[2017-02-11 07:29] alexwykoff opened #7189 "Exported bookmarks are not retaining order"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
When exporting and importing the exported file, it was found that order was not maintained.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Tested on OS X

- Brave Version (revision SHA):
0.13.3 RC 1 https://github.com/brave/browser-laptop/commit/7024e09766a39e46f399dad2a84c40e086341b1f

- S

[2017-02-11 07:34] luixxiul opened #7190 "Bookmarked PDF file should have the location of the PDF file itself"
## Test Plan
Covered by automatic test
`npm run uitest -- --grep="bookmark pdf"`

## Original issue description
**Describe the issue you encountered:**
Bookmarked PDF file should have the location of the PDF file itself. Currently it includes `chrome-extension://...` as a prefix.

- Platform (Win7, 8, 10? macOS? Linux distro?):  Windows 10

- Brave Version (revision SHA): 0.13.3 RC1

- Steps to re

[2017-02-11 07:49] luixxiul opened #7191 "fa-search icon should not be displayed while loading unsafe scripts"
**Describe the issue you encountered:** fa-search should not be displayed while loading unsafe scripts

- Platform (Win7, 8, 10? macOS? Linux distro?): Windows 10 32 bit

- Brave Version (revision SHA): 0.13.3 RC1

- Steps to reproduce:
    1. Open https://mixed-script.badssl.com
    2. Click the lock icon
    3. Select "Load Unsafe Scripts"

- Actual result: The fa-search icon is displayed and so

[2017-02-11 07:57] luixxiul opened #7192 "Flash notification bar cannot be triggered on http://www.y8.com/games/superfighters"
**Describe the issue you encountered:**
http://www.y8.com/games/superfighters does not trigger the flash notification bar. Clicking the link to
https://helpx.adobe.com/flash-player/kb/flash-player-google-chrome.html should trigger it.

- Platform (Win7, 8, 10? macOS? Linux distro?): Windows 10 32 bit

- Brave Version (revision SHA): 0.13.3 RC1

- Steps to reproduce:
    1. Open http://www.y8.com/g

[2017-02-11 08:08] luixxiul commented on #7186
With my existing profile I have the icon:

![clipboard01](https://cloud.githubusercontent.com/assets/3362943/22852254/6fd1bf00-f07b-11e6-93dd-3e29f1c16d2f.png)

While the new profile I don't as @alexwykoff points out.

Also the inclusion button on the URL bar does not the green hexagon:

![clipboard01](https://cloud.githubusercontent.com/assets/3362943/22852309/8a430ffa-f07c-11e6-8da3-1d109d32a3b3

[2017-02-11 08:27] luixxiul opened #7193 "Empty bookmark folder should be exported and imported"
## Test Plan
Covered by automatic test
`npm run unittest -- --grep="Bookmarks export"`

## Original issue description
**Describe the issue you encountered:** Empty bookmark folder should be exported and imported.

- Platform (Win7, 8, 10? macOS? Linux distro?): Windows 10 32 bit

- Brave Version (revision SHA): 0.13.3 RC1

- Steps to reproduce:
    1. Create an empty bookmark folder on the bookmar

[2017-02-11 08:56] darkdh opened #7194 "Re-import to bookmark toolbar will mess up the order"
## Test Plan:

a. getNextFolderName covered by unittest

b. Import bookmark:
1. Import bookmarks from other browser or html
2. There will always a folder contains the imported bookmarks
3. If the folder name already exist,
  it will be "Imported from XXX (1)", "Imported from XXX (2)" ... etc

## Original issue description
STR:
1. Re-import bookmarks twice by choosing merge into bookmark toolbar
2.

[2017-02-11 08:59] darkdh commented on #7189
separated re-import issue to https://github.com/brave/browser-laptop/issues/7194

Updated STR:
1. Import a lot of bookmarks.
2. Export bookmarks to a file. (file A)
3. Delete all the bookmarks
4. Import from file A
5. The bookmarks order should be the same as step 1

[2017-02-11 09:01] luixxiul commented on #7178
Test passes except coinbase widget test

[2017-02-11 09:01] #7178 closed

[2017-02-11 09:04] luixxiul commented on #7138
Duping to #6895 ?

[2017-02-11 10:55] luixxiul commented on #5907
@darkdh would you reset the milestone if you would work on this issue, thanks!

[2017-02-11 11:17] michalbe commented on #3271
Whats the status of this issue? I can see there was some work done but no PR sent.

[2017-02-11 11:41] darkdh commented on #5899
fixed by #5587

[2017-02-11 11:41] #5899 closed

[2017-02-11 12:21] darkdh commented on #2400
Tracked by #5907

[2017-02-11 12:21] #2400 closed

[2017-02-11 12:23] darkdh commented on #7194
Related #6564

[2017-02-11 13:08] michalbe commented on #6154
I believe this isn't valid anymore according to [the style guide](https://github.com/brave/browser-laptop/blob/master/docs/style.md#testing) since at the end all the classes will be used just for this.

[2017-02-11 15:31] luixxiul commented on #6154
Exactly, thanks for pinging!

[2017-02-11 15:31] #6154 closed

[2017-02-11 15:40] luixxiul commented on #7149
I think this is by design and not a bug.

We could create an option to hide it anyway.

[2017-02-11 15:42] cezaraugusto commented on #5431
@bradleyrichter, I agree with @luixxiul regarding that tab size. Do you agree if we remove close icon on that point as well?

[2017-02-11 15:50] luixxiul opened #7198 "Support multiple password managers simultaneously"
**Describe the issue you encountered:**

https://community.brave.com/t/support-for-more-than-one-password-manager/1159?u=suguru

- Platform (Win7, 8, 10? macOS? Linux distro?):

- Brave Version (revision SHA): 0.13.2

- Any related issues:

[2017-02-11 15:56] luixxiul opened #7199 "Command-H key combination to hide the app stopped working"
**Describe the issue you encountered:**

https://community.brave.com/t/mac-os-10-command-h-not-working-and-fullscreen-default/1180?u=suguru

- Platform (Win7, 8, 10? macOS? Linux distro?): macOS

- Brave Version (revision SHA): 0.13.2

- Steps to reproduce:
    1.
    2.
    3.

- Actual result:

- Expected result:

- Will the steps above reproduce in a fresh profile? If not what other info can be

[2017-02-11 15:57] cezaraugusto commented on #7089
Reproduced.

The issue is that synopsis list is allowing Google as a publisher. Add Funds toggle checks first for ledgerPayments (in this case, undefined) and synopsis list (in this case, true, that's why icon is shown).

It also shows on ledger:

<img width="816" alt="screen shot 2017-02-11 at 1 59 38 pm" src="https://cloud.githubusercontent.com/assets/4672033/22855124/afed8250-f061-11e6-9f23-8d4

[2017-02-11 15:59] luixxiul opened #7200 "Create setting option to make the menu bar always visible on macOS"
**Describe the issue you encountered:**

https://community.brave.com/t/mac-os-10-command-h-not-working-and-fullscreen-default/1180?u=suguru

- Platform (Win7, 8, 10? macOS? Linux distro?): macOS

- Brave Version (revision SHA):

- Steps to reproduce:
    1.
    2.
    3.

- Actual result:

- Expected result:

- Will the steps above reproduce in a fresh profile? If not what other info can be added?

[2017-02-11 16:21] luixxiul commented on #7089
I modified the milestones just in case.

[2017-02-11 18:19] luixxiul opened #7201 "Refactor about:styles with Aphrodite"
## Test Plan
make sure about:styles is as it should be

## Original issue description
Refactor `about:styles` with Aphrodite. It will let us remove less/about/styles.less, which is used only on that page.

[2017-02-11 18:21] bradleyrichter commented on #5431
The close button will need to be opaque to solve the overlap issue. Regarding tab size, chrome has this nearly solved but we can be better. I guess three real point should be at 32px plus margin between favicon and close button?

[2017-02-11 18:24] bkjohnson opened #7202 "Failure to load web components using Polymer 1.8.0"
- Did you search for similar issues before submitting this one?
    Yes

- Describe the issue you encountered:
   Sometimes Brave has trouble loading web components using Polymer 1.8.0.  I never noticed this problem with 1.7.1.

- Platform (Win7, 8, 10? macOS? Linux distro?):
    Linux Mint 18.1

- Brave Version (revision SHA):
0.12.15

- Steps to reproduce:
    1. Go to a web page that uses Polym

[2017-02-11 19:35] #7188 closed

[2017-02-11 19:36] #7192 closed

[2017-02-11 19:36] #7189 closed

[2017-02-11 19:41] cezaraugusto commented on #5431
You mean?

1. Opaque close icon (opacity: 1);
2. Remove close icon on less than 32px tab size?

[2017-02-12 03:26] #7144 closed

[2017-02-12 03:26] #7185 closed

[2017-02-12 03:27] bbondy commented on #7113
https://github.com/brave/browser-laptop/commit/a55562eaa1d6669e84bc61be9092ed5bf00afbc9

[2017-02-12 03:27] #7113 closed

[2017-02-12 04:11] bbondy commented on #7186
[code]
`publisher.get('site')` is brianbondy.com and `publisher.get('verified')` is false, so it displays as not verified.

my session-store-1 has `"publisherInfo":{"synopsis":[{"site":"brianbondy.com","verified":false,`

[2017-02-12 04:12] bbondy commented on #7186
cc @mrose17

[2017-02-12 04:15] bbondy commented on #7184
cc @bsclifton do you know what's going on here?
I also noticed devtools has a big yellow border on Windows:

<img width="685" alt="screenshot 2017-02-11 22 56 37" src="https://cloud.githubusercontent.com/assets/831718/22859624/e22c1288-f0af-11e6-9038-767337d7a5da.png">

[2017-02-12 06:58] erangeles commented on #3555
Guys, if you want this browser to gain traction enabling developers ease of access is a key. Please please enable this feature.

[2017-02-12 07:05] bsclifton commented on #7183
@cezaraugusto can you check this one out?

[2017-02-12 08:51] bsclifton commented on #7200
This is happening because the green button is fullscreen on macOS.  Every other app behaves the same way

In order to have the menu visible at all times, the preferred way would be to make the window the size you'd like.  As a shortcut, I believe you can double click any draggable area.  If not, you can at least double click the corners (after the cursor changes)

I'm going to mark this as a `won'

[2017-02-12 08:51] #7200 closed

[2017-02-12 08:57] bsclifton commented on #6154
correct 😄  the replacement (for testing only) would be (per the style guide) to create a new attribute, `data-test-id`

[2017-02-12 08:59] bsclifton commented on #3271
@michalbe I don't believe we have any solutions.  If this is one you'd like to solve, please feel free to grab it 😄

[2017-02-12 09:01] bsclifton commented on #7191
Similar issue: https://github.com/brave/browser-laptop/issues/5490

[2017-02-12 09:22] bsclifton commented on #1589
@luixxiul looks like great repro steps 👍

[2017-02-12 10:25] darkdh opened #7205 "Edit location of bookmark discard info other than hostname"
STR:
1. Bookmark `https://www.brave.com`
2. Edit bookmark and paste `https://www.brave.com/index.html#faster`
3. Location is still `https://www.brave.com`

[2017-02-12 12:15] grinderx commented on #6946
[code]

[2017-02-12 12:20] grinderx commented on #6946
Same while trying to install directly from the rpm package, bypassing the repo:

[code]

[2017-02-12 17:58] #7205 closed

[2017-02-12 18:00] #7170 closed

[2017-02-12 20:54] Liunkae commented on #7199
Brave 0.13.2 on macOS 10.12.x
When not in full screen mode, <kbd>Command+H</kbd> still works for me.
When in full screen mode, the shortcut does not work.
This is the intended behavior on macOS (see Safari, etc.). Closing.

[2017-02-12 20:54] #7199 closed

[2017-02-12 20:57] Liunkae commented on #7187
I can't reproduce with 0.13.2. Probably introduced during 0.13.3.

[2017-02-12 21:15] Liunkae opened #7209 "Remove unused braveSoftware string"
The localizable string `braveSoftware` is unused: https://github.com/brave/browser-laptop/search?l=JavaScript&q=braveSoftware&utf8=%E2%9C%93. Moreover, since the string is a brand name, it is not even supposed to be translated.

Source location:
https://github.com/brave/browser-laptop/blob/master/app/extensions/brave/locales/en-US/preferences.properties#L279

[2017-02-12 21:24] Liunkae commented on #7109
I can reproduce with Brave 0.12.13 RC 2 on macOS 10.12.x
![image](https://cloud.githubusercontent.com/assets/19424103/22866159/1402047a-f137-11e6-9e42-4e0db6d9ece3.png)
There is an extra separator here:
https://github.com/brave/browser-laptop/blob/master/app/browser/menu.js#L430

[2017-02-12 22:26] Nobabs27 opened #7210 "Won't build following instructions"
Note: I'm new to building software from source, I'm trying to build this to try it as a web browser that can be used.   I'm not on OpenSUSE/Fedora/Debian.

- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Followed the build instructions, got to "npm start", and I get an error.

- Platform:
Arch Linux, couldn't use the AUR packages because t

[2017-02-13 05:39] bsclifton commented on #7184
I can't repro yellow in the dev tools... but I can easily repro yellow around the drop down.  Will be looking into this

[2017-02-13 06:03] bsclifton commented on #7184
Doesn't seem to be a CSS issue; seems to be an issue with Chromium / Muon.  Chrome is using 56.0.2924.87 (versus us using 56.0.2924.76)... I didn't [see anything important in the diffs though](https://chromium.googlesource.com/chromium/src.git/+/56.0.2924.76..56.0.2924.87/)

[2017-02-13 07:42] rscircus commented on #3126
This one is hard to find.

Especially the hint to :+1: and prioritization...

[2017-02-13 09:01] matthiaslange opened #7211 "One pixel white line at edge of screen."
- Did you search for similar issues before submitting this one?
Yes.

- Describe the issue you encountered:
I set up my taskbar so that maximized windows are over it. When I have a maximized Brave window (which covers my whole screen, since there's no taskbar visible), there's a one pixel white line at the bottom of the screen. Other windows cover the whole screen without a white line.

- Platform

[2017-02-13 09:50] We5ter opened #7213 "Brave crashed on macOS 10.12.3 via.window.open()"
## Test plan
1. visit https://api.lightrains.org/poc/7.html
2. click link
3. verify alert shows and that Brave did not crash

## Original issue description
- Did you search for similar issues before submitting this one?

Yes

- Describe the issue you encountered:

Brave crashed when visits poc.html

- Platform (Win7, 8, 10? macOS? Linux distro?):

macOS10.12.3

- Brave Version (revision SHA):

0.1

[2017-02-13 10:10] We5ter commented on #7213
POC script doesn't show as expected,Please view source at my online POC to see full script,Thanks.

[2017-02-13 10:23] ivankristianto opened #7214 "Keep reloading when open a Google Docs"
- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:
I open a Google document. the browser keep reloading.

- Platform (Win7, 8, 10? macOS? Linux distro?):
MacOS

- Brave Version (revision SHA):
0.13.2 (25b1199)

- Steps to reproduce:
    1. I open Google Drive. drive.google.com
    2. Open a document
    3. It keep reloading the document

- Act

[2017-02-13 10:38] srirambv opened #7215 "Maximizing window puts the bottom 1px of window behind the taskbar"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Maximizing window puts the bottom 1px of window behind the taskbar

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.13.3
rev	40d9979
Existing issue verified till 0.12.15

- Steps to reproduce:
    1. Ensure task bar is placed in its defa

[2017-02-13 10:45] srirambv opened #7216 "Tab text not properly visible when tab theme is dark"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Tab text not properly visible when tab theme is dark

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.13.3
rev	40d9979

- Steps to reproduce:
    1. Enable `Show tabs in page theme color` under tabs in settings page
    2. Visit http://t

[2017-02-13 11:08] srirambv opened #7217 "Second click on bookmark overflow button doesn't close the bookmark list"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Second click on bookmark overflow button doesn't close the bookmark list

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.13.3
rev	40d9979

- Steps to reproduce:
    1. Import large number of bookmarks to ensure overflow button is shown

[2017-02-13 12:05] srirambv opened #7218 "Export bookmarks option should be available in kabob menu"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Export bookmarks option is not available under kabob menu

- Platform (Win7, 8, 10? macOS? Linux distro?):
All

- Brave Version (revision SHA):
Brave	0.13.3
rev	40d9979

- Steps to reproduce:
    1. Install 0.13.3 RC2 build
    2. Click on kabob menu
    3. No export bookmarks option under th

[2017-02-13 12:23] NejcZdovc commented on #7218
@srirambv I tried out Chrome, FF and Opera and none of them have export in main menu. If you think that we should have I can easily add it.

[2017-02-13 12:30] srirambv commented on #7218
@NejcZdovc Its not a standard behavior but just a suggestion to provide easy option in kabob menu rather than opening menu option.

@bbondy @bradleyrichter  thoughts on adding this option in kabob menu.

[2017-02-13 12:49] srirambv opened #7219 "Pinned tab animation needs to be better"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
With page theme color being shown on tabs, the pinned tab animation looks bad when a new tab is opened

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.13.3
rev	40d9979

- Steps to reproduce:
    1. Open YouTube in a new tab and pin it

[2017-02-13 12:54] srirambv opened #7220 "Unable to mute a pinned tab and audio indicator is not clearly visible"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Audio indicator on pinned tab is not properly visible

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.13.3
rev	40d9979

- Steps to reproduce:
    1. Open YouTube.com in a new tab and pin it
    2. Play an video on the pinned tab
    3.

[2017-02-13 12:56] NejcZdovc commented on #7220
@srirambv I think that you paste screenshot from #7219

[2017-02-13 13:13] BostonEnginerd commented on #6902
I'm also seeing the same issue on 0.13.1 - Debian 8, with the 4.9 kernel from backports.

[2017-02-13 13:37] srirambv commented on #7220
@NejcZdovc  Thanks. Updated. Too many gifs make it difficult 😄

[2017-02-13 15:01] luixxiul commented on #7168
I added priority/high label (as the refactor is needed by #6785) with release/not-blocking.

[2017-02-13 16:02] bbondy commented on #7213
cc @bridiver

[2017-02-13 16:24] echosa opened #7221 "Ads playing in Pandora"
- Did you search for similar issues before submitting this one?

Yes

- Describe the issue you encountered:

While listening to Pandora, I'm hearing ads between songs sometimes. I do not get ads when using Chrome with AdBlock Plus.

- Platform (Win7, 8, 10? macOS? Linux distro?):

OS X 10.11.6

- Brave Version (revision SHA):

0.13.3 (794454d)

- Steps to reproduce:
    1. Listen to Pandora (free

[2017-02-13 16:31] cezaraugusto commented on #7219
sorry don't get it. you mean the pinned tab background color? which animation?

[2017-02-13 16:35] bbondy opened #7222 "Fix for some startup crashes due to invalid imported bookmark folders"
A user sent in a session-store-1 file that crashes on startup due to the callstack getting too large from infinite recursion.

Looking into why I seen that it is from infinite recursion when creating the bookmark folder.
The user had a bookmark folder entry which had no folderId, so it would try to populate sub-items into that folder, but with a 0 id, meaning it started everything over again.

We

[2017-02-13 16:38] #7222 closed

[2017-02-13 16:41] bradleyrichter commented on #7194
@darkdh Your proposal sounds like the least amount of user friction. WFM.

[2017-02-13 16:41] cezaraugusto commented on #7220
Audio is just an indicator at that point and can't think a way to make it action-ready on small sized tabs.

@bradleyrichter for thoughts. How can we make it?

[2017-02-13 16:44] bsclifton commented on #7214
@ivankristianto do you have fingerprint protection enabled?  We do know there are issues with Google Docs when you have that enabled. Can be disabled only got Google Docs by going to the Lion icon and toggling off

(more info available at https://github.com/brave/browser-laptop/issues/2965)

[2017-02-13 16:47] #7183 closed

[2017-02-13 16:47] srirambv commented on #7219
When tab has the page color opening a new tab causes the tab to become gray. This causes the tab look like it shrunk from the original size. Also if you observe closely when audio starts playing the size of the tab changes which causes all the tabs on right to move
![tabshift](https://cloud.githubusercontent.com/assets/17010094/22892909/04d92f98-f20c-11e6-8b20-6fa294095755.gif)

[2017-02-13 16:48] cezaraugusto commented on #7216
Reproduced, Windows only. Taking.

[2017-02-13 16:51] bbondy commented on #7220
It is enough that the user can right click and click on mute tab in the context menu. So marking as won't fix.

[2017-02-13 16:51] #7220 closed

[2017-02-13 16:52] cezaraugusto commented on #7219
I see, taking. thanks

[2017-02-13 17:05] bsclifton commented on #7215
@srirambv interesting that you opened this up- I was just reviewing a similar report in Electron:
https://github.com/electron/electron/issues/4045

Basically, it's a problem upstream in Chromium.  It seems the ticket is close though- I'll see if I can give it a bump

[2017-02-13 17:09] bsclifton commented on #7215
For reference, here's the bug being tracked in Chromium:
https://bugs.chromium.org/p/chromium/issues/detail?id=576192

[2017-02-13 17:14] bradleyrichter commented on #7218
We should be careful adding items to the kabob because it will grow out of control over time and it is always harder to remove a menu item than to add one after a measure of requests to support it.

Since Chrome on Windows has NO app menus at all, they "should be" making careful decisions about the kabob menu so I like to use this as a reference point.

@srirambv My suggestion is to wait for enoug

[2017-02-13 17:30] superseb commented on #2417
Got the same error when running Rancher.

To reproduce (run this on a remote server, localhost works fine):
`docker run -d -p 8080:8080 rancher/server:v1.3.4`

Open remote_ip:8080

[code]

[2017-02-13 17:37] bradleyrichter opened #7225 "change bold font in ledger column headers to normal"
## Test Plan
- Open preferences and go to payments
- Enable payments (if needed)
- Ledger header text should not be bold

## Original issue description
why? it looks better and bold was unnecessary.

![image](https://cloud.githubusercontent.com/assets/13509546/22894998/cbbbb33e-f1cf-11e6-8692-4a03e74516fb.png)

[2017-02-13 18:08] bradleyrichter commented on #7220
I have an idea but let's wait for more feedback. Rt click is acceptable for now.

[2017-02-13 18:38] bbondy commented on #7218
We already have a Bookmarks submenu in that menu with Bookmarks Manager..., Bookmarks Toolbar, and Import Browser Data..., I think adding a 4th there would be good and I don't expect that submenu to grow a lot.

[2017-02-13 18:47] michalbe commented on #6271
@bradleyrichter is there any design mock for this change? Or at least more detailed description on how you imagine tabpar to behave after this improvement?

[2017-02-13 19:54] aakashysharma commented on #6716
Instead of creating a new issue, I'd like to give my feedback here.

The hover/preview effect is maybe nice but at the same time confusing.
1. If I hover over other tab, the preview of other tab is displayed in full size.
2. This makes user want to click on the preview content he sees.
3. However, the user would have to click first on the tab head first and then on the content.
4. Since brave does

[2017-02-13 20:19] bobinson commented on #6775
sorry about the delay. I had tried all this and nothing worked. Since its too old, may be we can close this.

[2017-02-13 20:40] lukemulks opened #7226 "Investigate search engine ads"
- Did you search for similar issues before submitting this one?
Yea
- Describe the issue you encountered:
A user in Community reported seeing ads in search engine results. This has been discussed in the past, but I want to make a concerted effort to investigate popular search engine ads and block accordingly.

Original report in Community:
https://community.brave.com/t/youtube-recommended-steps-if

[2017-02-13 20:48] bsclifton commented on #7184
I have a jsbin which works well for repro'ing the issue:
http://jsbin.com/yiyibuwuzu/edit?html,output

When running from browser-laptop-bootstrap, the select box looks correct:
![screen shot 2017-02-13 at 1 43 08 pm](https://cloud.githubusercontent.com/assets/4733304/22902582/cabed6b4-f1f2-11e6-9af1-2fcb20c108b2.png)

However, if I run using 0.13.3-rc3, it has yellow borders:
![screen shot 2017-02

[2017-02-13 21:29] bsclifton commented on #7184
Problem narrowed down; after running create_dist on **browser-laptop-bootstrap** and copying the binaries over the most recently browser-laptop prebuilt, it happens.  Looks like a problem w/ packaging (uglification, etc)

[2017-02-13 21:47] bsclifton commented on #7184
I believe I found the root cause: two files were not being copied over...
chrome_100_percent.pak
chrome_200_percent.pak

I copied both from src/out over to the prebuilt (C:\GitHub\browser-laptop-bootstrap\src\browser-laptop\node_modules\electron-prebuilt\dist\) and it works great 👍

[2017-02-13 22:13] diracdeltas commented on #4157
should be fixed by https://github.com/brave/browser-laptop/commit/9f7073c21162fe6ff1ffd1d0964bb8f613806638

[2017-02-13 22:13] #4157 closed

[2017-02-13 22:17] diracdeltas commented on #1987
+1 on this, preferably for 1.0. I think this should be done in conjunction with https://github.com/brave/browser-laptop/issues/1268 such that cookies are blocked globally and there is a prompt to whitelist cookies on a page based on origin, because very few users want to block all cookies.

[2017-02-13 22:40] bsclifton commented on #6775
Per your request, I'll go ahead and close this issue

Let's re-open if you run into the same issue again.  Thanks 😄

[2017-02-13 22:40] #6775 closed

[2017-02-13 22:50] siemiatj commented on #7109
I'm wondering if it's not caused by the `Search` bar that is added for the `Help` tab. I can't really reproduce this in tests or in any other tab. Creating a PR that removes it.

[2017-02-13 22:56] siemiatj commented on #7211
Can't repro on OSX 10.11.6 and Brave 0.13.3/36ee225 .

[2017-02-13 23:12] bsclifton commented on #7211
I believe this is Windows only.  It may or may not be related to https://github.com/brave/browser-laptop/issues/6698 or https://github.com/brave/browser-laptop/issues/7215

Electron has this exact issue captured with https://github.com/electron/electron/issues/8332

[2017-02-13 23:55] siemiatj opened #7229 "Can't add folder in bookmarks."
- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:

Not sure if this doesn't work only when you have no additional bookmarks folders or it's some regression but I can't add  a folder in bookmarks manager. Clicking the icon pops up a modal that looks exactly like bookmark adding modal and filling name input still doesn't make the button active.

[2017-02-14 00:23] diracdeltas commented on #6431
+1 from someone on the internet, perhaps with an option to 'allow first party scripts only'

[2017-02-14 00:53] michalbe commented on #7229
This was probably caused by [commit 6befe33994c5](https://github.com/brave/browser-laptop/commit/6befe33994c5e2653f24eeaef2dabb6e97957e3c) since it works with the previous one ([commit b9e4ed0583](https://github.com/brave/browser-laptop/commit/b9e4ed05830507a3f7b5dbf25af0932623a43ece).

[2017-02-14 02:14] siemiatj commented on #7229
If this is confirmed I'm more than happy to fix it.

[2017-02-14 02:15] We5ter commented on #7213
Another crash POC:[https://api.lightrains.org/poc/7-2.html](https://api.lightrains.org/poc/7-2.html)

[2017-02-14 02:32] #7184 closed

[2017-02-14 02:33] #7219 closed

[2017-02-14 02:33] #7216 closed

[2017-02-14 02:36] bbondy commented on #7186
@mrose17 mentioned this doesn't need to block 0.13.3 so I'm moving to 0.13.4.

[2017-02-14 02:36] bbondy commented on #7089
@mrose17 mentioned this doesn't need to block 0.13.3 so I'm moving to 0.13.4.

[2017-02-14 02:50] ayumi commented on #7229
can repro at bcbafeca663d07281464960723c2549a8e16168e, MacOS, fresh profile

[2017-02-14 02:51] lukemulks opened #7230 "YouTube - Player Update - Authenticated users seeing ads"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Youtube updated their player on 02.10.2017, working in some additional ad blocking flags and countermeasures that had been resolved w/Brave v0.13.0.

After the update on 02.10.17, unauthenticated users are still able to block ads, but authenticated users are seeing ads serve with shields up.

[2017-02-14 03:00] luixxiul opened #7231 "Bookmarks in Other Bookmarks should not be merged into Bookmark Toolbar"
**Describe the issue you encountered:** By default the bookmarks in Other Bookmarks are merged into Bookmark Toolbar when you import browser data. It surely could work well in some cases (say you would find bookmarks which you think you have lost), but other cases not so well. If you for example have a number of the bookmarks in Other Bookmarks subfolder, they also will be imported on the bookmark

[2017-02-14 03:02] luixxiul commented on #7230
I removed labels for OS as the issue affects all of the platforms.

[2017-02-14 03:03] luixxiul commented on #7229
On Windows 10 the issue cannot reproduced. It may be specific to macOS

[2017-02-14 03:07] luixxiul commented on #7205
@darkdh I cannot confirm the fix on Windows 10 32 bit with a fresh profile.

[2017-02-14 03:20] lukemulks commented on #7230
Thanks!

On Feb 13, 2017 7:02 PM, "Suguru Hirahara" <notifications@github.com> wrote:

[2017-02-14 03:21] cezaraugusto opened #7232 "Split and refactor to Aphrodite HelpfulHints preferences component"
## Test plan

https://github.com/brave/browser-laptop/pull/7234#issue-207418876

----

While refactoring #6904 I got blocked with HelpfulHints being on the same file as `preferences.js`.

Split will also help on making this a styled component and dry preferences page.

[2017-02-14 03:28] Liunkae commented on #7229
Reproduced with latest master (bcbafec) on macOS 10.12.x with a fresh profile.

![image](https://cloud.githubusercontent.com/assets/19424103/22913779/7918a5d4-f232-11e6-9f51-cfe8c762f479.png)

`Right-click bookmarks toolbar > Add Folder` does not work either. There is apparently no way to create bookmarks folders.

Tagging this as blocking for 0.13.3. Please change if needed.

[2017-02-14 03:45] darkdh commented on #7205
Please wait for RC3 if you are using RC build
see https://github.com/brave/browser-laptop/compare/v0.13.3dev-RC2...master

[2017-02-14 03:55] darkdh commented on #7231
This is the same behavior as Chrome except Chrome doesn't merge them into bookmarks toolbar.
But we will do the same thing in #7194

[2017-02-14 04:14] #7229 closed

[2017-02-14 05:55] bridiver commented on #7213
only the first one crashes for me on 2.56.3

[2017-02-14 06:01] stcole commented on #4476
I can confirm the same problem exists on Mac OS X 10.12.2 with Brave 0.13.2.

[2017-02-14 06:23] bridiver commented on #7213
I think the other crash will likely be fixed by @bsclifton's changes. @bsclifton can you verify?

[2017-02-14 07:08] lukemulks commented on #7230
Was able to pull a debug report from the player after catching an ad:

 `{
"ns":"yt",
"el":"detailpage",
"cpn":"iDbFWs0RbuoU9Qwu",
"docid":"3GUvmvsKZII",
"ver":2,
"referrer":null,
"cmt":"0",
"plid":"AAVId9tGSJpVzeBz",
"ei":"pKaiWObWHtSS-gPAwb6oAw",
"fmt":"247",
"fs":"0",
"rt":"95.036",
"of":"Un4PA43Tqx0WZgELxi1v6A"
,"adformat":null,
"content_v":null,
"euri":"",
"lact":1,
"live":null,
"cl":"1470701

[2017-02-14 09:23] pedro7 commented on #1854
Can someone confirm sync has been delayed?

[2017-02-14 11:23] jsgibson opened #7237 "Brave 0.13.2 on linux won't open links from external apps"
- Did you search for similar issues before submitting this one?

I'd like to think I'm not the only person who has this issue and this is a dupe, but ... This has been an issue for me since 0.13.1.

- Describe the issue you encountered:

Links from external applications, (franz, kde, etc) open up a brave window, but will not actually follow the link.

- Platform (Win7, 8, 10? macOS? Linux distro?)

[2017-02-14 12:04] srirambv opened #7238 "Pinned Tab and Bookmark Disappear after Deleting History"
- Did you search for similar issues before submitting this one?

- Describe the issue you encountered:
From community
https://community.brave.com/t/pinned-tab-and-bookmark-disappear-after-deleting-history/1200

- Platform (Win7, 8, 10? macOS? Linux distro?):

Verified on Windows 10 x64

- Brave Version (revision SHA):
Brave: 0.13.2
rev: 25b1199fb6154b089cbad37926483239495b9800

- Step to reproduce

[2017-02-14 12:06] srirambv commented on #1090
+1 from community
https://community.brave.com/t/hi-love-your-browser-just-1-question/1215

[2017-02-14 12:21] srirambv commented on #6156
+1 from community https://community.brave.com/t/request-add-personalization-of-hotkeys/1198

[2017-02-14 13:16] ace72 commented on #271
+1 dark theme as of now cant use this browser at night hurts my eye i hope this gets implemented real soon!

[2017-02-14 13:37] makayabou commented on #6902
I'm also seeing the same issue on 0.13.2-1 on Debian 8 with 4.9 kernel from backports

[2017-02-14 14:19] grantwinney commented on #7100
@bgergen Agreed. I keep forgetting and accidentally navigating away from my page.

I really _want_ to like Brave and its security-first approach, but there's a lot of little things. This issue, sites where the WYSIWYG editor simply doesn't work (like Confluence), sites that stop loading after awhile as if they're unavailable but they continue to load fine in Firefox or Chrome...

Just a lot of bug

[2017-02-14 14:25] #7238 closed

[2017-02-14 14:28] luixxiul commented on #6439
Closing this for now as the original issue has been closed.

[2017-02-14 14:28] #6439 closed

[2017-02-14 14:29] srirambv opened #7240 "Browser performance reduces when large amount of bookmarks are imported"
## Test plan

https://github.com/brave/browser-laptop/pull/8075#issue-219459882

----

- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Browser performance reduces when large amount of bookmarks are imported

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.13.3
rev	27f447f
Same on 0.13

[2017-02-14 14:32] grantwinney commented on #2417
Same problem here:

The site is running using Amazon AWS and is only accessible from my company's IP address. It was working fine in Brave all last week, but suddenly today (with no changes to the site itself) Brave wouldn't load it. It loaded fine in Chrome and Firefox.

I cleared cache and cookies, then cleared everything and restarted the browser. Then I disabled shields on the site. Nothing.

[2017-02-14 17:16] bradleyrichter opened #7241 "create small text style to match small slider style"
current:
![image](https://cloud.githubusercontent.com/assets/13509546/22939704/78f45a0a-f294-11e6-83d5-c735ec361819.png)

new example: "Show only included sites"

![image](https://cloud.githubusercontent.com/assets/13509546/22939637/30161c38-f294-11e6-8223-2db0ab409dad.png)

font-size: smaller; should work...

[2017-02-14 19:30] feross opened #7243 "Torrent Viewer CSP rule blocks <iframe> content"
- Did you search for similar issues before submitting this one? Yes

- Describe the issue you encountered:

Sometimes torrent content is rendered in an `<iframe>` instead of a `<video>` or `<audio>` tag. It's unclear why. When this occurs, CSP prevents the iframe from loading content from the webtorrent server at http://localhost:port

- Platform (Win7, 8, 10? macOS? Linux distro?): macOS Sierra

[2017-02-14 19:30] feross commented on #7243
I can tackle this issue.

[2017-02-14 19:45] mphaney opened #7244 "page-break appears to be broken inside a block element with width 100% and padding > 0"
When a page-breaking block element appears inside a div with width set to 100% AND a padding specified, the page-break is rendered incorrectly according to how much padding is used. i.e. 0 padding causes no offset, 10px padding would cause a 10px offset of the page break, etc.

The issue was first discovered in Chrome 56.0.2924.87 (64-bit) on Windows 10 Pro, Insider build 15031, but has since been

[2017-02-14 20:16] iamVP7 commented on #6781
@alexwykoff sent  a PR

[2017-02-14 20:31] alexwykoff commented on #6781
https://community.brave.com/c/site-blocking created

[2017-02-14 21:26] lukemulks opened #7245 "Freethoughtproject.com - ads getting beyond shields"
- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:
Freethoughtproject.com serving "sponsored by" ads beyond blocking shields (YAVLI)
- Platform (Win7, 8, 10? macOS? Linux distro?):
All
- Brave Version (revision SHA):
v0.13.3
- Steps to reproduce:
    1.Go to Freethoughtproject.com
    2. See ads
    3.

- Actual result:
Ads
- Expected result:

[2017-02-14 22:13] bradleyrichter commented on #5431
fix for this:

1. below 48px width, only the selected tab gets a hover-close button
2. allow tab-drag in area around close button

[2017-02-15 02:32] aironou commented on #7237
Maybe, related: #6994

Creating a local bin for Brave, passing `--` before the URL argument, works for me.

[2017-02-15 02:45] michalbe opened #7248 "Transition missing on download item progress bar"
- Did you search for similar issues before submitting this one?
Yes, searched for `download`, `downloadItem`, `downloadsbar` and `progress`

- Describe the issue you encountered:
Progress bar on `DownloadItem` is changing it's width without a transition, what doesn't look smooth.

- Steps to reproduce:
    1. Download file big enough to observe progress bar on download item.
    2. Notice it's jus

[2017-02-15 02:53] #7241 closed

[2017-02-15 03:12] #1854 closed

[2017-02-15 03:35] luixxiul commented on #1854
@diracdeltas @ayumi On the first post please add links to the PRs which have additional test plans if any, for example, #6625. Thanks!

[2017-02-15 03:38] luixxiul opened #7250 "Refactor fullScreenWarning.js with Aphrodite"
## Test Plan
1. Open any youtube video
2. Make the player fullscreen

## Original issue description
Refactor fullScreenWarning.js with Aphrodite.

- Brave Version (revision SHA): 0.13.2

- Extra QA steps:
    1. Open any youtube video
    2. Make the player fullscreen

- Any related issues:

[2017-02-15 05:46] alexwykoff opened #7252 "0.13.3 release checklist"
1. [x] `cd vault-updater`
- [x] `git checkout -b dev-<version>`
- [x] `npm run build`
- [x] `node tools/update.js --version=<version> --notes="<message approved by @aekeus>`. More details: `<link to release notes>`" `--channel=dev --overwrite`
- [x] `git add -u`
- [x] `git commit -m "<version>" -m "Auditors: @aekeus"`
- [x] `git push (alternatively: git push --set-upstream origin dev-<version>)`
-

[2017-02-15 06:00] luixxiul commented on #7205
Still I cannot confirm this was fixed

[2017-02-15 06:03] luixxiul commented on #7205
STR:
1. Clear your profile
2. Open the browser
3. Click Twitter icon on the dashboard
4. Bookmark with the star icon
5. Edit bookmark via the toolbar
6. Try to make the URL into `http://twitter.com/brave/a`

Expected result:
The URL should be `http://twitter.com/brave/a`

Actual result:
The URL becomes `http://twitter.com`

[2017-02-15 06:08] #7132 closed

[2017-02-15 06:10] luixxiul commented on #7205
Nevermind, I confirmed it just now.

[2017-02-15 06:13] #5224 closed

[2017-02-15 06:17] #7163 closed

[2017-02-15 06:22] luixxiul opened #7253 "Tabs cannot unpinned"
**Describe the issue you encountered:** Tabs cannot unpinned. When you try to unpin the tab, you get the cloned tab which is not pinned, keeping the pinned tab.

- Platform (Win7, 8, 10? macOS? Linux distro?): Windows 10 32 bit

- Brave Version (revision SHA): 0.13.3 latest RC

- Steps to reproduce:
    1. Clear your profile
    2. Open the browser
    3. Open twitter.com via the dashboard
    4.

[2017-02-15 06:22] #6297 closed

[2017-02-15 06:26] #7101 closed

[2017-02-15 06:36] luixxiul commented on #7244
@bsclifton do you think modifying Muon or libcontentchromium could fix the issue?

[2017-02-15 06:52] bbondy commented on #7253
sweet find!

[2017-02-15 06:54] rob-blasetti commented on #7253
I can confirm this bug is also on macOS.

[2017-02-15 06:59] #7253 closed

[2017-02-15 07:04] #7190 closed

[2017-02-15 07:22] #7171 closed

[2017-02-15 07:26] #7232 closed

[2017-02-15 07:32] #7193 closed

[2017-02-15 07:54] #7112 closed

[2017-02-15 08:03] #7180 closed

[2017-02-15 08:03] #7179 closed

[2017-02-15 08:03] #7177 closed

[2017-02-15 08:48] dschwank commented on #6965
Yeah - the switch is implemented and works fine! Thanks!

[2017-02-15 09:03] ghost opened #7254 "Middle click on a link on a web page opens tab in the background"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
When "Switch to new tabs immediately" setting has been selected, middle clicking on a link on a web page opens a new tab in the background.

- Platform (Win7, 8, 10? macOS? Linux distro?): Ubuntu 16.10
- Brave Version (revision SHA): 0.13.3 (b4cb1f5)

**Steps to reproduce:**
    1.Go to s

[2017-02-15 11:57] srirambv commented on #7034
![image](https://cloud.githubusercontent.com/assets/17010094/22973498/cd560b0c-f375-11e6-8661-f6c84531fb5f.png)

Adding it to milestone 0.13.5.  Please remove it if required.

[2017-02-15 12:12] luixxiul opened #7255 "Refactor download.js with Aphrodite"
## Test plan

https://github.com/brave/browser-laptop/pull/7258#issue-207807899

----

Refactor download.js with Aphrodite

- Extra QA steps:
    1.
    2.
    3.

- Any related issues:

[2017-02-15 13:08] hexploitable commented on #6157
I literally just ditched Chrome because of this exact problem. I'm pretty much all for adopting Brave but this is key to me. To the point where tonight when i get off work i'll literally be looking at the source to see if i can POC this myself.

[2017-02-15 13:10] srirambv opened #7256 "Crash when loading an invalid URL"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Entering incomplete URL causes browser to crash

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.13.3
rev	b4cb1f5

- Steps to reproduce:
    1. Type `brianbondy.co` in a new tab
    2. Press enter and browser crashes

- Actual result:
Br

[2017-02-15 13:12] jonathansampson opened #7257 "1Password appears to be slower when Brave is open"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
When Brave is open and configured to use 1Password, the 1Password desktop application appears slow to respond. It may at times take up to 5 seconds to react to user-clicks.

Original report here (scroll to top): https://twitter.com/BraveSampson/status/831852837881647105

- Platform (Win7, 8,

[2017-02-15 13:24] NejcZdovc commented on #7257
I am using macOS and 1Password and I don't have any performance problems.

[2017-02-15 13:44] #7252 closed

[2017-02-15 13:53] #7256 closed

[2017-02-15 14:19] alexwykoff opened #7259 "0.13.4 release issue"
1. [x] `cd vault-updater`
- [x] `git checkout -b dev-<version>`
- [x] `npm run build`
- [x] `node tools/update.js --version=<version> --notes="<message approved by @aekeus>`. More details: `<link to release notes>`" `--channel=dev --overwrite`
- [x] `git add -u`
- [x] `git commit -m "<version>" -m "Auditors: @aekeus"`
- [x] `git push (alternatively: git push --set-upstream origin dev-<version>)`
-

[2017-02-15 14:43] bbondy opened #7260 "missing .pak files on Linux"
After installing an RPM on linux I noticed this error in the console:

[113478:113478:0215/094144.124084:ERROR:resource_bundle.cc(759)] Failed to load /usr/share/brave/chrome_100_percent.pak
Some features may not be available.
[113478:113478:0215/094144.124867:ERROR:resource_bundle.cc(759)] Failed to load /usr/share/brave/chrome_100_percent.pak
Some features may not be available.
[113478:113478:02

[2017-02-15 14:58] notaurologist opened #7261 "Add search shortcut for Can I use"
- Did you search for similar issues before submitting this one?

Yes

- Describe the issue you encountered:

It would be useful to have a "Can I use" search provider. I can submit a PR, but I'm curious if this has been considered and rejected before. I don't see an existing issue/PR, but maybe Brave doesn't want to add a search provider for a site not using SSL.

If there are requirements for addi

[2017-02-15 15:42] leitianfu opened #7262 "Success build-installer,but Brave.exe is not opening"
Hi: all.
Who can help me，help me， I am a new hand。

-------------------Runtime environment----------------------------------
Platform: Win 10 64bit
node：“7.4.0”
npm：“4.0.5”
electron ： "2.3.1"
python-2.7.13.
OpenSSL：1.0.2
NSIS: 3.0
----------------------Operating --steps---------------------------------------------------
In strict accordance with (setup) Windows build guide：
https://github.com/brav

[2017-02-15 16:06] psmalone opened #7263 "about:preferences should be reponsive width"
- Did you search for similar issues before submitting this one?

Yes

- Describe the issue you encountered:

When opening the preferences window with a non-maximized window, the contents do not arrange gracefully, requiring horizontal scrolling.

- Platform (Win7, 8, 10? macOS? Linux distro?):

OS X 10.11.6

- Brave Version (revision SHA):

0.13.4 71d8ffc

- Steps to reproduce:
    1. Resize windo

[2017-02-15 16:17] bryanj4 commented on #4063
I have the same issue on Windows 10. I am able to close other pinned tabs by unpinning them then closing them but I the error page pinned tab always comes back. Very annoying!

Would have the error link be a good way to debug the issue?

[2017-02-15 16:21] srirambv opened #7264 "Option to close an entire tabset"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Option to close an entire tabset

- Platform (Win7, 8, 10? macOS? Linux distro?):
All

- Brave Version (revision SHA):
Brave	0.13.4
rev	71d8ffc

- Steps to reproduce:
    1. Open the enough tabs to create a tab set
    2. Right click on the tab set
    3. Only option to mute/unmute tabs, no o

[2017-02-15 16:26] NejcZdovc commented on #7264
This is a duplicate of #5489 and PR is already ready #6570

[2017-02-15 16:26] #7264 closed

[2017-02-15 16:32] bryanj4 commented on #4063
Alright I fixed my issue by going into the `C:\User\ENTER_USERNAME\AppData/Roaming/brave/session-store-1` and removing the searching for the url that it would error on and finding whether the object had a property of `"tags": ["pinned"],...` included and if it did I deleted that entry.

I found someone solved something similar in the Chrome google group [here](https://productforums.google.com/foru

[2017-02-15 16:53] webhipster commented on #3555
+1 Yup, just installed and uninstalling.  Come on guys, you can do it!  We believe in you!

[2017-02-15 17:11] DivineOmega commented on #7090
I've determined this can be solved by changed the `Exec` line to the following:

[code]

[2017-02-15 17:15] DivineOmega commented on #7090
I've updated the Troubleshooting article on the wiki appropriately.

https://github.com/brave/browser-laptop/wiki/Troubleshooting#linux

[2017-02-15 17:16] #7248 closed

[2017-02-15 17:28] cezaraugusto opened #7265 "Tab loading icon is too subtle to notice"
## Test plan:
https://github.com/brave/browser-laptop/pull/8160#issue-220517386
<hr>
We may want something more visible. @bradleyrichter asked for something similar to:

![new_loading_icon_gif](https://cloud.githubusercontent.com/assets/4672033/22986569/2d351582-f393-11e6-8a4e-d9050407aaf5.gif)

(final icon TBD)

[2017-02-15 17:36] bradleyrichter commented on #7264
This will be a great start to future tab-page options such as:

- close tabs in this page
- open these tabs in a new window
- new bookmark folder with these tabs
- lock this tab page

[2017-02-15 17:43] bsclifton commented on #7090
Awesome, thanks for documenting the fix, @DivineOmega 😄

This would be a great first bug for someone who wanted to update the desktop file

[2017-02-15 17:45] bsclifton commented on #6157
I believe @darkdh is working on this (or something similar). @darkdh, do you have an update?

[2017-02-15 18:05] KevDoy opened #7266 "Drag & Drop for Images and Files Broken (causes screen to go white)"
- Did you search for similar issues before submitting this one?
Yes.
- Describe the issue you encountered:
I am unable to drag any images or files into the browser for websites designed to accept this feature (ie. Hangouts; Google Drive)
- Platform (Win7, 8, 10? macOS? Linux distro?):
Mac OS X El Capitan
- Brave Version (revision SHA):
0.13.3 b4cb1f5
- Steps to reproduce:
    1. Open Google Drive.

[2017-02-15 19:26] bradleyrichter commented on #6271
I was thinking about 2 possibilities.

1. similar to Mac OS dock with magnification on:

![image](https://cloud.githubusercontent.com/assets/13509546/22991486/3320808e-f371-11e6-94d0-2f526d01516f.png)
![image](https://cloud.githubusercontent.com/assets/13509546/22991490/394986c2-f371-11e6-9000-fb9326f14fa4.png)

or

2. When the mouse enters the tab page nav bar, the entire bar zooms larger by 50%.

[2017-02-15 21:50] Liunkae commented on #7263
I also can reproduce with Brave 0.13.3 on macOS 10.12.x.

[2017-02-15 21:52] Liunkae commented on #7261
The ability to add custom search engines is currently set for version 1.1.0 (issue #3053).

[2017-02-15 21:58] Liunkae commented on #7266
File uploading here on GitHub is working fine for me with Brave 0.13.4 on macOS 10.12.x.

Have you tried disabling shields? Click the lion icon in the top right and switch Shields to Down.

[2017-02-15 23:03] diracdeltas commented on #7089
I am also seeing the "Add Funds" button as enabled (orange heart) on github, google, facebook, etc.

[2017-02-15 23:03] mrose17 commented on #7089
yes, as noted internally, the code is in a transition state...

/mtr

On Feb 15 2017, at 3:03 pm, yan <notifications@github.com> wrote:

google, facebook, etc.

You are receiving this because you were mentioned.
Reply to this email directly, [view it on GitHub](https://github.com/brave
/browser-laptop/issues/7089#issuecomment-280169731), or [mute the
thread](https://github.com/notifications/unsubs

[2017-02-15 23:10] bbondy commented on #6898
This was fixed in 0.13.4 available now. You will probably have to install it on top
https://brave.com/downloads.html

[2017-02-15 23:10] #6898 closed

[2017-02-15 23:13] bsclifton opened #7267 "Right click new tab icon (+) also processes left click event"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Right clicking the new tab button (the + icon next to the row of tabs) is supposed to present a menu with: new tab / new session tab / new private tab / new window

The right / middle click behaviors were changed with Chromium 56 and I believe this behavior had an unintentional regression wit

[2017-02-15 23:19] bsclifton opened #7268 "Session tab no longer works"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
When trying to launch a new session tab, a new tab is opened but it appears to have the same partition ID.  The "person" icon is not shown on the tab and if I open a domain which I'm already signed into (on the same partition), ex: GitHub or Twitter, it shows me as logged in

- Platform (Win7

[2017-02-15 23:54] Liunkae commented on #7267
Also happens with right-clicking the refresh button.

[2017-02-16 00:01] bbondy commented on #7034
I noticed this happening even worse on openSUSE

[2017-02-16 00:02] bbondy commented on #7034
cc @cezaraugusto if you have time to get a PR for this pls move it back into 0.13.5.

[2017-02-16 00:05] bbondy commented on #3555
this is on our radar and we'll get someone on it as soon as possible.

[2017-02-16 00:09] ayumi opened #7269 "missing buildConfig.js causes warning when webpack compiles appConfig.js"
- Describe the issue you encountered:
When you run `npm run watch` webpack emits a warning about missing buildConfig.js. (During build, it's populated with info on the current build like channel name,)

- Platform (Win7, 8, 10? macOS? Linux distro?):
MacOS

- Brave Version (revision SHA):
master @9aff02ae65130e7193e7373be3a752f41f77f448

- Steps to reproduce:
    1. `rm js/constants/buildConfig.js

[2017-02-16 00:10] bbondy commented on #7268
For me new session tab creates a new session, the person icon goes on the tab on top right. The info for the session is available in the urlbar if not on the newtab page.

[2017-02-16 00:13] bsclifton commented on #7268
@bbondy ah- you're right... with master, creating a new session tab works.  Looks like it may only be broken in 0.13.4.  I'll go ahead and close this out

[2017-02-16 00:13] #7268 closed

[2017-02-16 00:13] KevDoy commented on #7266
I restarted the browser, without change. Tried it one more time and it did. I'm not sure what the reason was.

[2017-02-16 00:18] #7269 closed

[2017-02-16 00:48] aakashysharma opened #7271 "False indication of Audio playback in a tab"
- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:
While browsing a website, I noticed the audio playback icon on the tab. The website has embedded GIF. However, there is no audio. The audio playback icon on the tab is a false indication.
- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 7
- Brave Version (revision SHA):
	b4cb1f5
- Steps

[2017-02-16 00:58] #7109 closed

[2017-02-16 01:02] #6781 closed

[2017-02-16 01:04] darkdh commented on #6157
There is a WIP branch in muon
https://github.com/brave/muon/tree/view_certificate

[2017-02-16 01:08] #6812 closed

[2017-02-16 01:08] #7218 closed

[2017-02-16 01:29] #7166 closed

[2017-02-16 01:37] #7267 closed

[2017-02-16 02:01] twhiting opened #7274 "LastPass requires re-login if cookies are cleared at exit"
- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:

Since LastPass requires a cookie to save user data between sessions, if I have the option to "clear cookies when the browser is closed" selected, LastPass information is lost with every new instance launch.  Requiring a re-login.  This is bad because if I want LastPass info saved between sess

[2017-02-16 02:08] bbondy opened #7275 "Add a way to go back to add a sync code"
I accidentally went into create a new sync account, and then had no way to go back to sync this device to another one. Please make a way to go back to that main screen and reset sync back to initial state if the user does the wrong selection like that.

cc @diracdeltas @diracdeltas

[2017-02-16 02:11] diracdeltas commented on #7275
i'll add a button to clear sync state completely

[2017-02-16 02:14] bbondy commented on #7275
++ thanks

[2017-02-16 04:07] luixxiul commented on #7271
Closing in favor of #257

[2017-02-16 04:07] #7271 closed

[2017-02-16 04:17] echosa opened #7277 "UserSnap error reporting doesn't work on chess.com"
- Did you search for similar issues before submitting this one?

Yes

- Describe the issue you encountered:

Chess.com lets members send error reports through Usersnap. Part of the usersnap reporting is the ability to send in a screenshot with arrows, highlights, text, etc. However, in Brave, when I try to report an error, Usersnap errors out a few seconds after drawing arrows, highlights, etc.

S

[2017-02-16 06:16] #2604 closed

[2017-02-16 06:16] luixxiul commented on #6193
@jonathansampson do we need QA for this issue, or is this postponed until Vinium extension becomes ready?

[2017-02-16 06:18] #7225 closed

[2017-02-16 06:26] #7260 closed

[2017-02-16 06:31] bsclifton commented on #7213
@bridiver verified; link is clicked, the alert is shown in a new about:blank tab 😄

Pulling into 0.13.5 as this will be fixed with https://github.com/brave/browser-laptop/pull/7107

[2017-02-16 07:56] vgturtle127 opened #7278 "Silverlight is a "desired extension"?"
I recently read the desired extensions page on the Wiki, and I saw something somewhat alarming.

First of all, Silverlight to my knowledge is not currently maintained by Microsoft, and they have stated themselves that they do not plan on maintaining it and as such don't recommend anybody use it. Other web browsers besides Internet Explorer have completely dropped plugin support (non-Flash plugins,

[2017-02-16 08:16] luixxiul commented on #7278
First let me say that Silverlight was added there on 25 Oct 2016 by a user, not the team.

- https://github.com/brave/browser-laptop/wiki/Desired-extensions/_history
- https://github.com/brave/browser-laptop/wiki/Desired-extensions/9a258220d359a39464a45d63bb11d26c7db824ed

I think the request itself is invalid because Silverlight is not an extension but a plugin. Because Silverlight is not listed

[2017-02-16 08:28] vgturtle127 commented on #7278
@luixxiul Alright, good to hear most plugins won't be supported since they aren't supported anyway.

Could we add a place to suggest extensions and a place only developers can access that would be the list of planned supported extensions?

[2017-02-16 08:37] luixxiul commented on #7278
I think you would like to have a look at https://github.com/brave/browser-laptop/projects/1. The page is editable only for the team members.

You can freely suggest extensions on this Wiki page: https://github.com/brave/browser-laptop/wiki/Desired-extensions

[2017-02-16 09:18] vgturtle127 commented on #7278
@luixxiul Ah, thank you! I didn't realize all that was in the projects section.

[2017-02-16 10:08] vgturtle127 opened #7279 "IETab potential issues"
I saw on the requested extensions that IETab was requested, and I thought I should bring up some points on why it might not be a good candidate.

First of all, this would only be an available feature on Windows computers running at least Windows 7. That isn't a terrible issue or anything, but it is one limitation.

Second, it requires either support of the Netscape Plugin API, or a separate execut

[2017-02-16 11:34] srirambv opened #7280 "Invalid sync code alert needs proper heading"
## Test plan
   1. Enable sync on the device and click on `I have an existing sync code`
   2. Enter wrong text and click `Setup Sync`
   3. Alert window should now look correct (showing "Brave" instead of extension ID)

## Original issue description
- Did you search for similar issues before submitting this one?

- Describe the issue you encountered:
Invalid sync code alert needs proper heading

[2017-02-16 11:38] srirambv opened #7281 "Setup Sync button has an unwanted space"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Setup Sync button has an unwanted space

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.13.5
rev	59a41eb

- Screenshot if needed:
![image](https://cloud.githubusercontent.com/assets/17010094/23019896/5b88d74e-f43c-11e6-8e8a-b497cc2ee316

[2017-02-16 12:04] srirambv opened #7282 "Bookmark toolbar is not shown on adding bookmark when sync is enabled"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Bookmark toolbar is not shown on adding bookmark when sync is enabled

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.13.5
rev	59a41eb

- Steps to reproduce:
    1. Enable Sync from setting and enter the secret code to setup sync
    2.

[2017-02-16 12:24] srirambv opened #7283 "Deleting bookmark removes pinned item"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Deleting bookmark removes pinned item

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave : 0.13.5
rev: 59a41eb

- Steps to reproduce:
    1. Visit a site and add it as a bookmark
    2. Open the bookmarked site in a new tab/ open it from abo

[2017-02-16 12:42] srirambv opened #7284 "Editing/Deleting bookmark from toolbar causes the active tab to load the deleted bookmark"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Deleting bookmark from toolbar causes the active tab to load the deleted bookmark

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10

- Brave Version (revision SHA):
Brave: 0.13.5
rev: 59a41eb

- Steps to reproduce:
    1. Add a bunch of bookmarks on a clean install of 0.13.5
    2.

[2017-02-16 12:45] srirambv opened #7285 "No option to reset sync status and create a new sync profile"
Once sync is enabled ( Add to an existing device or create new sync) there is no option to reset sync settings. Users should have an option to remove the sync setting and rejoin an existing sync enabled device or create a new sync profile on their device.

cc: @ayumi  @diracdeltas

[2017-02-16 14:40] teagueamania opened #7287 "Windows not allowing Brave as a default browser"
- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:
Windows no longer presents Brave as a default browser option in the start menu options, as in the past. I was able to set associations for file extensions as directed by Windows help, but it will not allow me to change associations for protocols, meaning other programs referring to HTML, etc.

[2017-02-16 15:27] darkdh commented on #6157
And here is the screenshot on Mac
<img width="1440" alt="screen shot 2017-02-16 at 23 26 33" src="https://cloud.githubusercontent.com/assets/11330831/23027525/764a54d2-f49f-11e6-83de-c9a8427ebc7b.png">

[2017-02-16 15:29] darkdh commented on #6157
dup #2611

[2017-02-16 16:10] z-money commented on #4024
Also seeing this on mac osX El Capitan, for brave v 0.13.4

[2017-02-16 16:43] mrose17 opened #7288 "Improve wallet recovery algorithm"
## Test Plan
1. `about:preferences#payments`, 'Advanced Settings...`, 'Backup your Wallet', ' Save recovery file...', save as `brave_wallet_recovery.txt`
2. get a vanilla browser install and turn on the ledger -- this creates a new wallet (with a new wallet address)
3. `about:preferences#payments`, 'Advanced Settings...`, 'Recovery your Wallet', ' Import recovery keys', select `brave_wallet_recove

[2017-02-16 17:19] bsclifton commented on #6896
Fixed with https://github.com/brave/browser-laptop/pull/6933

[2017-02-16 17:19] #6896 closed

[2017-02-16 17:28] mrose17 opened #7290 "suggestions for more sync-sensational stuff!"
could i also start syncing

- general settings
- search settings
- tab settings
- security settings
- - private data settings (the 7 on/off switches)
- - password IF i have selected the Brave built-in password manager
- - autofill settings, full screen content, DNT, plugin, widevine, saved sit permissions
- - shield settings (excluding saved site exceptions for the ledger)
- advanced settings

yes

[2017-02-16 17:34] mrose17 commented on #7290
moved to https://github.com/brave/sync/issues/59

[2017-02-16 17:34] #7290 closed

[2017-02-16 17:49] KevDoy commented on #7266
This continues to happen for me, terminating the Brave task does the trick, but this is definitely new.

[2017-02-16 17:51] srirambv opened #7291 "Bookmark title is missing in edit bookmark modal after it is synced"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Title missing in the bookmark on the second sync'd device

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.13.5
rev	59a41eb

- Steps to reproduce:
    1. Enable sync on Device 1
    2. Visit any site and bookmark it
    3. Edit the bookm

[2017-02-16 17:51] pritamkmahajan opened #7292 "Access is denied. (Exception from HRESULT: 0x80070005 (E_ACCESSDENIED))"
I am trying to install git hub desktop on windows 10 OS. And I am facing following exception. Please help.. Tried with turning off firewall settings. But it didn't help.

====================================================================

PLATFORM VERSION INFO
	Windows 			: 10.0.14393.0 (Win32NT)
	Common Language Runtime 	: 4.0.30319.42000
	System.Deployment.dll 		: 4.6.1586.0 built by: NETFXREL

[2017-02-16 18:22] srirambv opened #7293 "Bookmark folder tree structure is not properly synced between devices"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Bookmark folder tree structure is not properly synced between devices

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.13.5
rev	59a41eb

- Steps to reproduce:
    1. Enable sync on two diff device and ensure bookmarks option is selected

[2017-02-16 18:22] srirambv commented on #7293
cc: @ayumi

[2017-02-16 18:27] srirambv opened #7294 "Bookmark Favicons are not sync"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Bookmark Favicons are not sync

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.13.5
rev	59a41eb

- Steps to reproduce:
    1. Enable Sync on two devices
    2. Import bookmarks on Pyramid 1
    3. Bookmarks synced on Pyramid 0 doesn't h

[2017-02-16 18:29] srirambv commented on #7285
Closing in favour of https://github.com/brave/sync/issues/51

[2017-02-16 18:29] #7285 closed

[2017-02-16 19:03] ayumi commented on #7275
Related: https://github.com/brave/sync/issues/51

[2017-02-16 19:35] diracdeltas commented on #7294
we took out favicon on Dec 28 because it was kind of big, but not too big, so we could add it back.

[2017-02-16 20:07] ericlaw1979 opened #7296 "Brave Close button shows hover state when not hovered"
- Did you search for similar issues before submitting this one? Yup.

- Describe the issue you encountered: Hover the red-X in Windows Vista or later. Fling mouse upward. Note hover remains.

- Platform: Windows 6.0+

- Brave Version (revision SHA): Brave	0.13.4 rev	71d8ffc

- Steps to reproduce:
    1. Hover the red-X in Windows Vista or later.
    2.  Fling mouse upward so it exits the [x] witho

[2017-02-16 20:10] cezaraugusto commented on #7296
/cc @bsclifton

[2017-02-16 20:14] kmharper commented on #253
I'm like a lot of people who have largely switched to Brave, but can't entirely get away from Chrome yet.

One thing that helped me was to be able to use the Signal Private Messenger Chrome extension without actually opening Chrome (at least in Mac OS X).

1. Open Chrome and install the app:

[https://chrome.google.com/webstore/detail/signal-private-messenger/bikioccmkafdpakkkcpdbppfkghcmihk?hl=en

[2017-02-16 20:47] #7288 closed

[2017-02-16 21:32] mrose17 commented on #7141
resolved as a part of https://github.com/brave/browser-laptop/pull/7289

[2017-02-16 21:32] #7141 closed

[2017-02-16 21:33] bsclifton commented on #7296
@ericlaw1979 I believe this is the same bug as https://github.com/brave/browser-laptop/issues/4549 (if so, we can close it and track here)

This is interesting for sure- at least it may mean I did a good job 😄  For Windows, I was unable to get the behavior we wanted with raw Win32 calls (I tried [with a demo which I have here](https://github.com/bsclifton/BrowserWindowStyles)), so I ended up custo

[2017-02-16 21:57] hexploitable commented on #6157
Actually #2611 isn't a duplicate. #2611 is about the button in dev tools not working. This issue is about showing more details when clicking the padlock in the URL bar.

[2017-02-16 22:00] diracdeltas commented on #5965
closed by some muon upgrade

[2017-02-16 22:00] #5965 closed

[2017-02-16 22:18] bsclifton commented on #6157
@hexploitable agreed- I think this is it's own issue.  Assigning @darkdh 😄

[2017-02-16 22:19] bsclifton commented on #2611
Similar to this, we'll want to show cert when you click the padlock icon in the nav bar (per https://github.com/brave/browser-laptop/issues/6157)

[2017-02-16 22:23] diracdeltas commented on #7280
@srirambv are you running Brave with @bsclifton's alert dialog changes? this is what i see on master:

![screen shot 2017-02-16 at 10 17 16 pm](https://cloud.githubusercontent.com/assets/549654/23044066/82bb6ce6-f496-11e6-9eaa-f2003c026515.png)

@bsclifton: maybe we can change the alert dialog to show friendly names for chrome-extension:// origins (like the name of the extension) instead of just t

[2017-02-16 22:25] bsclifton commented on #5470
We may be able to pull this in: https://github.com/electron/electron/pull/8702

[2017-02-16 22:34] diracdeltas commented on #7278
We have no plans to support silverlight or any more plugins AFAIK. (plugins as opposed to extensions)

[2017-02-16 22:58] diracdeltas commented on #7280
there is actually some code already in brave/browser/brave_javascript_dialog_manager.cc that is supposed to handle extension alerts but it is commented out

[2017-02-16 23:06] diracdeltas opened #7297 "make more links HTTPS"
ex: https://dksfoto.smugmug.com/ for the background image link supports HTTPS

[2017-02-16 23:08] diracdeltas commented on #7297
also some other HTTP urls that should be fixed

[2017-02-16 23:22] mrose17 commented on #6531
thanks! that is _very, very helpful..._ i think i can figure out what's going on now!

[2017-02-16 23:27] diracdeltas commented on #6894
seems to have been autofixed by muon update

[2017-02-16 23:27] #6894 closed

[2017-02-16 23:53] vgturtle127 commented on #7278
@diracdeltas Good to have it confirmed by somebody else in addition. Thank you.

[2017-02-17 00:37] gutigen commented on #1336
I suspect this is similar issue, if Brave is set as default browser all links from other apps put Brave in focus, but do not open in it (just focus, nothing else happens).

Arch Linux with GNOME Desktop, I added mimelist config too, still same issue. Brave compiled with `brave-git` from AUR.

[2017-02-17 01:15] ericlaw1979 commented on #7296
Sigh, yes, this is a dupe. I'm senile it seems.

[2017-02-17 02:06] lukemulks commented on #7230
Ok, @bbondy @bridiver I'm officially at my breaking point with the YT ad situation.

There's a ton of info braindumped above, but I'll recap below:

02.10 - YT updated their player.
-Added new anti-adblocking flags
-Updated their adblocking policy for devs
-Users that have a Youtube ad blocking extension in chrome also reported failure around this time.

Only users that are logged in experience th

[2017-02-17 04:13] bbondy opened #7301 "Tabs display wrong after exiting HTML5 fullscreen"
## Test plan

https://github.com/brave/browser-laptop/pull/10691#issue-253338559

----

My wife found this one...

- Did you search for similar issues before submitting this one?
yes

- Describe the issue you encountered:
When exiting html5 video full screen, tabs display wrong, see screenshot.

- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS (probably other OS as well)

- Brave Version (rev

[2017-02-17 05:37] bsclifton commented on #4549
closing in favor of https://github.com/brave/browser-laptop/issues/7296

[2017-02-17 05:37] #4549 closed

[2017-02-17 05:42] Liunkae commented on #7287
Maybe related issue: #5246.

[2017-02-17 05:52] Liunkae commented on #5470
Async context menus would be excellent!

[2017-02-17 05:57] Liunkae commented on #3555
@bbondy Can we assign a closer milestone?

[2017-02-17 06:28] #7262 closed

[2017-02-17 07:08] jorgheymans opened #7303 "check for updates does not work behind authenticating proxy"
- Did you search for similar issues before submitting this one?
yes
- Describe the issue you encountered:
check for updates does not work when behind authenticating proxy
- Platform (Win7, 8, 10? macOS? Linux distro?):
win7
- Brave Version (revision SHA):
25b1199

- Can this issue be consistently reproduced?
yes
[code]

[2017-02-17 07:11] jorgheymans commented on #7303
... seems to work after manually installing 0.13.4 so closing for now

[2017-02-17 07:11] #7303 closed

[2017-02-17 07:51] NejcZdovc opened #7304 "Title in tab is not centered"
## Test plan
https://github.com/brave/browser-laptop/pull/7316#issue-208752821
<hr>

- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:
Title is not centered in the tab

- Platform (Win7, 8, 10? macOS? Linux distro?):
macOs
- Brave Version (revision SHA):
c7f3cbd
- Steps to reproduce:
    1. open new tab
    2. go to this link https://github.c

[2017-02-17 08:21] MoeMorox commented on #3555
Yes, please. This is something really important to many people.

[2017-02-17 10:26] marcelfalliere commented on #3555
+1 !

[2017-02-17 11:41] huuhaa commented on #6427
When will this get fixed? Still gives error 403.

There is also another issue, I mention it here but freel free to move that part under another topic / if it is copy of somethoing previous (did'nt find by quick search).

The another issue is that if you manually upgrade brave for Jessie Brave won't starup anymore. It gives error:
[3382:3382:0217/134018.581411:FATAL:zygote_host_impl_linux.cc(107)]

[2017-02-17 12:04] srirambv commented on #7280
@diracdeltas I am using 0.13.5 P1 build not master

[2017-02-17 12:59] cezaraugusto commented on #7304
🚦:bug:

[2017-02-17 13:44] #7278 closed

[2017-02-17 13:45] luixxiul commented on #7278
Closed as the question was answered.

[2017-02-17 13:59] #7261 closed

[2017-02-17 15:25] srirambv opened #7305 "[Intermittent Issue] Bookmarks added before initial sync are not always copied over to pyramid 1"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Previously bookmarked items are not synced when sync is disabled and enabled in either pyramid 0 or pyramid 1[Intermittent Issue]

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.13.5
rev	59a41eb

- Steps to reproduce:
    1. Add few boo

[2017-02-17 15:27] srirambv opened #7306 "Show sync'd device details"
Would be nice to show the name of the sync'd device on the sync page

cc: @diracdeltas @ayumi

[2017-02-17 16:13] bsclifton commented on #7280
@diracdeltas my code is still up in a PR- per your comment in the PR, I should be able to fix this up 😄  Thanks for assigning it over and providing more details

[2017-02-17 16:27] ThatBrickster commented on #5626
I'd like to reopen this issue but I'd also like to propose a rephrased title.

Title:
Unable to post image comments on Facebook

Summary:
I'm unable to upload images as comments or direct messages on Facebook. Disabling shields has no effect.
This is being observed on Brave 0.13.4 running on Windows 7 SP1 (both x64).

Steps to reproduce:
1. Log in to Facebook
2. Select someone from the chat sideba

[2017-02-17 16:37] diracdeltas commented on #7306
it should show the currently synced device name. or do you mean https://github.com/brave/sync/issues/41 ?

[2017-02-17 17:29] srirambv commented on #7306
Its the same. as https://github.com/brave/sync/issues/41

[2017-02-17 17:29] #7306 closed

[2017-02-17 19:29] bbondy commented on #5470
Yes this is really bad right now, we should pull it in.

[2017-02-17 19:43] echosa commented on #5470
As a Brave user on Mac, please bring this in as soon as is feasible. This is one of the (currently) ten things on my personal list of "issues with Brave". I would love to see that list dwindle quickly.

[2017-02-17 21:58] diracdeltas commented on #7305
I have seen this too. As mentioned in the testers channel, I wonder if we should just not sync old bookmarks on init for 0.13.5, given that they can be exported/imported manually.

[2017-02-17 22:03] bsclifton opened #7307 "Menu on macOS is unusable during sync"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
When sync is happening, the menu will rebuild itself (since new items are being added).  Under the hood, it's destroying and re-creating the menu.  This is

- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS

- Brave Version (revision SHA):
0.13.5 preview 1

- Steps to reproduce:
    1. Be

[2017-02-17 22:39] diracdeltas opened #7308 "apply sync records in batches"
testers found that a huge sync update (over 6000 bookmarks) locks up the UI and causes huge memory usage. i noticed that this is not a problem at all for bookmarks import, which calls `appActions.addSite(Immutable.fromJS(sites))` (for sites.length > 6000). this suggests that the issue is that we are calling `appActions.addSite` for one site at a time instead of in a batch.

we should sort sync rec

[2017-02-17 22:43] diracdeltas commented on #7307
probably will be addressed by https://github.com/brave/browser-laptop/issues/7308

[2017-02-17 22:43] diracdeltas commented on #7305
may be addressed by https://github.com/brave/browser-laptop/issues/7308

[2017-02-18 01:59] lukemulks commented on #7230
Moving this issue to `adblock-lists` for next steps (based on testing and checks from today) https://github.com/brave/adblock-lists/issues/3

[2017-02-18 01:59] #7230 closed

[2017-02-18 02:12] #7294 closed

[2017-02-18 02:39] lucaszanella commented on #7296
Don't know if it's the same thing but in my brave (ubuntu) the hover icon is a big yellow box, like much bigger than a pointer.
![photo_2017-02-18_00-39-01](https://cloud.githubusercontent.com/assets/6632321/23089602/ad280246-f572-11e6-8d92-c1068b83cb23.jpg)

[2017-02-18 03:13] dividinglimits opened #7310 "remember password showing on all tabs"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
1) Navigate to any site with user login credentials (tested with amazon / netflix)
2) Open a separate window (not tab, new instance)
3) Enter login credentials and click the "sign in" button.
4) Notice on the current window -- as well as the not in focus one -- has a drop down asking if you (

[2017-02-18 07:54] gutigen commented on #6937
Please do, it takes a while to load on LTE if signal is not good, quite annoying, especially when I have to restart Brave due to other issues (already tracked).

[2017-02-18 08:10] NejcZdovc commented on #6937
You can disable image in preferences.

![image](https://cloud.githubusercontent.com/assets/9574457/23091604/1078a7f0-f5ba-11e6-879d-00259d99de6a.png)

[2017-02-18 08:16] gutigen commented on #6937
I know, but I want image, just either shipped with Brave or better cached (as mentioned in first comment) or/and adjusted to screen resolution ;)

[2017-02-18 08:26] NejcZdovc commented on #6937
We have to issues for this topic already #7159 and #6503

[2017-02-18 10:10] NejcZdovc commented on #7301
If you hover over them, they render correctly. Even if you move the mouse out later they stay in the correct format.

[2017-02-18 11:13] Bloygan opened #7311 "can't load google account login page"
- Did you search for similar issues before submitting this one?
i have searched for 2 days and found nothing.
- Describe the issue you encountered:
When i try to launch the login page of youtube, gmail (all google websites) i have a black screen with a "pixel art" in the middle.
- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10, Toshiba laptop
- Brave Version (revision SHA):
0.13.4
- Step

[2017-02-18 13:36] huuhaa commented on #6902
0.13.4-1 Seems to work with kernel 3.16.0-4 when using --no-sandbox. Hopefully sandbox works with stretch.  OT: Gonna upgrade when bunsenlabs is ready for that (haven't yet read much about that, but someone have had problems so still waiting...).

[2017-02-18 23:35] diracdeltas commented on #7293
i think this may be due to a race condition in `getObjectById` when calling `applySiteRecord`. if `applySiteRecord` is called for a bookmark UPDATE before the same bookmark's CREATE has propagated to appState, then `getFolderIdByObjectId` returns undefined, so the bookmark is not in any folder

[2017-02-19 06:28] GregoryGoncalves commented on #6431
Just switched to brave and this is currently my biggest problem in usability.
I'm using lastpass for example, and lastpass injects .js in each form so i can generate or autofill passwords, however if i enable Brave to block all scripts, lastpass breaks on-forms (i can still manually go to the extension and ask for it to autofill, but ain't nobody got time for that).
Whitelisting would go a long wa

[2017-02-19 14:49] daquinons opened #7312 "Title is cut in tab"
## Test plan
https://github.com/brave/browser-laptop/pull/7316#issue-208752821
<hr>

- Did you search for similar issues before submitting this one? Yes

- Describe the issue you encountered: When you open a new tab, the title in tab is half cut because it's not correctly placed.

- Platform (Win7, 8, 10? macOS? Linux distro?): Linux, Elementary OS Loki (Based on Ubuntu 16.04 LTS)

- Brave Version

[2017-02-19 16:36] luixxiul commented on #7281
"Set up sync" sounds grammatically correct.

[2017-02-19 16:51] luixxiul commented on #7311
CC @bridiver

[2017-02-19 16:54] luixxiul commented on #7296
@lucaszanella I think it's not the same issue. Please open a new issue if you can confirm it appears only on Brave, neither Chrome nor Firefox, thanks.

[2017-02-19 16:56] luixxiul commented on #6937
Closing this as the questions were answered.

[2017-02-19 16:56] #6937 closed

[2017-02-19 17:00] luixxiul commented on #7292
Hi, the issue should be reported to GitHub Support team, not us.

Please open https://github.com/contact and follow the instruction. Thanks

[2017-02-19 17:00] #7292 closed

[2017-02-19 17:04] ivankristianto commented on #7214
Yes it is enabled. should i turn it off to make google doc working?

[2017-02-19 17:04] luixxiul commented on #6431
@GregoryGoncalves So do you mean exactly that #7272 should be superseded with another PR with which you could select scripts to be denied/allowed, not based on the origins, right?

[2017-02-19 17:07] luixxiul commented on #7312
Maybe it is because that the line-height and the font-size is not properly set. @cezaraugusto can you confirm the issue on a linux distro, which has different font sets than Windows/macOS?

[2017-02-19 17:22] Bloygan commented on #7311
So you can't help me for the moment? :(

[2017-02-19 17:31] cezaraugusto commented on #7312
Confirmed, thanks for reporting.

@luixxiul yes, different OSes render fonts/line-height differently. I have a quick fix.

[2017-02-19 17:33] starkos commented on #6881
Found the problem, but not sure how to fix it yet. This code:

[code]

Succeeds in Chrome, but fails with an uncaught DOMException "Unsupported keySystem" in Electron.

[2017-02-19 17:34] SJ-Diamond opened #7313 "Question: you plan to add accessibility features into the browser?"
Have stopped Brave because it lacks advanced options to have more control over bar elements.  If you ever plan to add UI customization features to the browser, i could see myself coming back, but it does not look that way.

So, i am interested: do you plan to do something like that?

[2017-02-19 17:53] luixxiul commented on #7312
@cezaraugusto Sweet! I set the milestone. Please reset it if you postpone it to the next one, thanks.

[2017-02-19 17:56] luixxiul commented on #7311
@Bloygan I myself cannot understand the issue. Either @bridiver, @bbondy, @bsclifton or @darkdh would investigate the issue instead of me.

[2017-02-19 18:01] dividinglimits commented on #7312
@cezaraugusto I am guessing the line height has an explicit unit with it, correct? if so, just remove that as its already relative to the font-size.

[2017-02-19 18:02] starkos commented on #6881
Okay, I found the source of the error, though I'm not sure how to fix it. This code in web-player.js:

[code]

…works in Chrome, but throws a DOMException "Unsupported keySystem" in Electron.

Electron does [provide a way to use Chrome's WideVine plugin](http://electron.atom.io/docs/tutorial/using-widevine-cdm-plugin/). But when I tried this, the Spotify code continued to throw the same exception,

[2017-02-19 18:07] luixxiul commented on #6881
@starkos Brave has the option to enable Widevine on about:preferences#security. Would you please try with the option enabled?

[2017-02-19 18:16] Bloygan commented on #7311
Thank you.

[2017-02-19 18:36] #7313 closed

[2017-02-19 19:06] bsclifton commented on #7214
@ivankristianto yes- please do. Unfortunately, many of the Google sites do not work with fingerprint protection enabled

[2017-02-19 19:19] GregoryGoncalves commented on #6431
@luixxiul Oh, i hand's seen #7272. And yep, #7272 is pretty good tho, either would be sufficient, but having the ability to block each .js manually comes in handy sometimes.

[2017-02-19 19:20] jonathansampson opened #7314 "Object expected in chrome.storage.sync.get callback"
When calling `chrome.storage.sync.get`, the user passes along a callback function. When this function is executed, the first argument is expected to be an object. Presently, it is `undefined`. This causes errors to be thrown when attempting to access any property.

As an example, the following is from the Mercury extension:

[code]

During the attempt to _setState_, the call to `myObj.mercuryTheme

[2017-02-19 19:40] luixxiul opened #7315 "Sync settings (merge/keep/discard...)"
**Describe the issue you encountered:**
Sync settings to merge/keep/discard data should be implemented. For example,

<img src="https://help.business.uconn.edu/index.php?pg=file&from=2&id=319" />

- Platform (Win7, 8, 10? macOS? Linux distro?):

- Brave Version (revision SHA): 0.13.5 Preview 1

- Steps to reproduce:
    1. Set up sync
    2. Sync a new device
    3. The options should be able to b

[2017-02-19 21:05] huuhaa commented on #6427
When will repo for stretch be available? Or is it just that I had to wait till tomorrow and it works like it strangely was earlier with jessie repo...

[2017-02-19 23:01] cezaraugusto commented on #7312
@dividinglimits actually issue was that it didn't have one but height was declared differently for each OS. Fix was to add an unitless line-height as default and removing specific heights.

[2017-02-20 02:18] luixxiul opened #7318 "Remove itemList.less"
Move itemList.less to commonStyles.js

[2017-02-20 04:31] chepec commented on #6902
I just observed the same issue. Brave 0.13.4-1 and kernel 3.16.0-4 on Debian Jessie.
But it did start with `--no-sandbox`. But still kind of off-putting for the merely curious user...

[2017-02-20 04:42] fuzzygroup commented on #6077
I just installed 0.13.4 for the Mac and I never see favicons on the bookmarks toolbar even for something like Gmail which I know has them in both Chrome and FireFox.

Thank you for a lovely browser.

[2017-02-20 05:06] fuzzygroup commented on #6077
Oh and the trick for using a space for the text as described by pascalwhoop no longer works.

[2017-02-20 06:07] alexwykoff commented on #6224
While this has not been an issue for prior releases on my machine, running locally with e259d61b8b05041961bbff1ce456004f4dab3e4e has reproduced the issue for me.

No errors were noticed on any console.

STR:
1. With a clean profile, enable 1password.
2. Attempt to log into github by right-clicking on the username field on the signin page and opening 1Password.

Observed:
A new tab is opened to the

[2017-02-20 06:11] alexwykoff commented on #7266
While this was not observed in prior builds for me, I have noticed it with a local run of e259d61b8b05041961bbff1ce456004f4dab3e4e.

[2017-02-20 12:28] luixxiul opened #7320 "Refactor about:adblock with Aphrodite"
## Test plan

https://github.com/brave/browser-laptop/pull/7322#issue-208866826

----

Refactor about:adblock with Aphrodite

TODO: refactor SwitchControl to remove .switchControlRightText in adblock.less: #7321

[2017-02-20 12:29] luixxiul opened #7321 "Refactor SwitchControl with Aphrodite"
## Test plan

https://github.com/brave/browser-laptop/pull/11954#issue-273803005

----

Refactor SwitchControl with Aphrodite

- Any related issues: #7320

[2017-02-20 12:36] srirambv commented on #1323
+1 from community https://community.brave.com/t/strange-behavior-trying-to-log-into-inbox-google-com/1297

[2017-02-20 12:52] khaosdoctor commented on #6077
I think this has been addressed on #6078

[2017-02-20 14:15] srirambv commented on #7284
Basically right click on the bookmark item causes it to open in the current active tab

[2017-02-20 14:38] posix4e commented on #6902
@chapec can you test to see if docker works on your system. We use the same APIs

[2017-02-20 15:00] valtih1978 opened #7323 "Menu should not be activated with ALT key"
**Describe the issue you encountered:** the menu shows up when I simply Alt+Left/Right to navigate to Next/Prev pages or Shift+Alt to switch kbd layout.

- Platform (Win7, 8, 10? macOS? Linux distro?): Windows

- Brave Version (revision SHA): 0.13.4

- Steps to reproduce:
    1.
    2.
    3.

- Actual result: the menu shows up

- Expected result:  the menu should not show up

- Will the steps abo

[2017-02-20 15:09] edjw opened #7324 "LastPass doesn't store 2FA authentication across sessions"
- Did you search for similar issues before submitting this one?
yes
- Describe the issue you encountered:
Using Lastpass with Two Factor Authentication, I have to re-authenticate LastPass on Brave every time I re-open Brave even when I have previously ticked "Trust this computer for 30 days."
- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS 10.12.3
- Brave Version (revision SHA):
	71d8ffc
- S

[2017-02-20 15:12] kclevenger commented on #5515
+1 and soon I hope. Lack of this triggers many logins for various internal services.

[2017-02-20 15:15] luixxiul commented on #7324
Will you make sure you does not enable the option on about:preference#security to clear data when you close the browser?

[2017-02-20 15:24] jpokeefe opened #7325 "Brave doesn't call TorrentViewer for Democracy Now torrent file"
- Did you search for similar issues before submitting this one?

Yes

- Describe the issue you encountered:

Tried to download torrent file of a Democracy Now show.  Instead of calling the TorrentViewer, it prompted me to download the torrent file.  I can download the torrent via BitTorrent, so the file works.  You can find the url at:

https://ewheel.democracynow.org/dn2017-0217.mp4.torrent

- Pl

[2017-02-20 15:28] edjw commented on #7324
I'm not clearing any of the data when I close the browser

[2017-02-20 15:37] alfredocdmiranda commented on #6902
@posix4e I am using the same version and kernel version than @chepec. And docker works on my pc.

[2017-02-20 15:38] bsclifton commented on #7284
cc: @bbondy (may be related to the aux-click)

[2017-02-20 16:07] luixxiul commented on #7325
torrent link files are yet to be supported: #6671

[2017-02-20 16:15] luixxiul opened #7326 "Printing stopped working"
**Describe the issue you encountered:**
https://community.brave.com/t/printing-after-update/1316?u=suguru

- Platform (Win7, 8, 10? macOS? Linux distro?):

- Brave Version (revision SHA):

- Steps to reproduce:
    1.
    2.
    3.

- Actual result:

- Expected result:

- Will the steps above reproduce in a fresh profile? If not what other info can be added?

- Is this an issue in the currently re

[2017-02-20 16:21] luixxiul opened #7327 "Right clicking tab being previewed causes focus to change"
## Test plan
1. Open two tabs. Set focus to tab 2
2. Right click tab 1 and verify context menu appears
3. Press ESC (if your keyboard has it 🤣  )
4. verify menu closes and focus did NOT change
5. Right click tab 1 so that context menu appears
6. Right click another place in tab 1 so that the context menu closes then reopens
7. Verify focus did NOT change
8. Push ESC and verify menu closes / focus

[2017-02-20 16:26] Jacalz commented on #7327
- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:
Having 2 or more tabs and hovering over the first tab and right clicking on it and then pressing "Escape" on the keyboard switches you to the tab you right clicked.
- Platform (Win7, 8, 10? macOS? Linux distro?):
I found it working on Windows 10 pro on two different pc:s and it and this only s

[2017-02-20 16:29] Jacalz commented on #7327
It would be great if you assigned me to this issue :D

[2017-02-20 16:57] posix4e commented on #6902
Oh dear, this is something else than i thought

[2017-02-20 16:57] srirambv commented on #7284
User Jim has reported similar issue on community. https://community.brave.com/t/right-click-bug-opening-tabs/1313. Right click on bookmark item and select open in new tab causes the bookmark to be opened in the active tab and in a new tab.

[2017-02-20 16:58] posix4e commented on #6902
@alfredocdmiranda  I see that the problem happens even if you disable the sandbox, so this is actually a different bug than this ticket addresses. I'll file a new issue

[2017-02-20 16:58] #6902 closed

[2017-02-20 16:59] posix4e opened #7328 "Brave wont start"
- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:
[code]
- Platform (Win7, 8, 10? macOS? Linux distro?):
Linux
- Brave Version (revision SHA):
Any
- Steps to reproduce:
    1. Start brave and watch it crash

- Actual result:
Brave crashes
- Expected result:
Brave loads
- Will the steps above reproduce in a fresh profile? If not what other inf

[2017-02-20 16:59] posix4e commented on #6902
@alfredocdmiranda  @chepec  https://github.com/brave/browser-laptop/issues/7328

[2017-02-20 17:01] bsclifton commented on #7327
@Jacalz the issue is yours if you'd like it 😄   Let me know and I'll self-assign it (to reserve it)

[2017-02-20 17:02] valtih1978 opened #7329 "Not switching to tab when left-clicking"
- similar: https://github.com/brave/browser-laptop/issues/4672

- Clicking a tab should switch to it but it does not.

- Win7:

- Brave Version (revision SHA):

- Steps to reproduce:
    1. Click inactive tab
    2.
    3.

- Actual result: Nothing happens

- Expected result: Clicked tab should activate

- Will the steps above reproduce in a fresh profile? If not what other info can be added?

- i

[2017-02-20 17:09] Jacalz commented on #7329
It works to click on tabs and it always has...

[2017-02-20 17:09] luixxiul commented on #7323
We are sorry for the issue you experience. We will investigate the issue as soon as possible. Sincerely.

[2017-02-20 17:11] luixxiul commented on #7328
I cannot run the packaged build on macOS with the latest published Muon, which may be related with the issue I assume. Sorry if I'm mistaken

[2017-02-20 17:12] Jacalz commented on #7327
Oh, I really didnt mean it the way i wrote it, thats why i removed the comment. :sweat: What I meant what that i should be able to edit the text not fix the issue :sweat_smile: But i can do without that :+1:

[2017-02-20 17:13] bsclifton commented on #7327
@Jacalz ah ok- no problem 😄  understood.  Please do update the text to be as accurate and easy to understand as you'd like 😄  Thanks!

[2017-02-20 17:16] Jacalz commented on #7327
@bsclifton Can you try this out also to comfirm it working?

[2017-02-20 17:17] valtih1978 commented on #7329
No need to wait for 1 sec in Win 10? I wonder how does Brave immediately shows me shaded tab as soon as I hover over the tab but clicking needs the delay from user to activate the tab. This is weird.

[2017-02-20 17:20] valtih1978 commented on #7329
Ok, I investigated it. It does switch, but with a delay. No delay from user is needed. It just loses some keystrokes between I click another tab and its activation takes the effect. That is the problem.

[2017-02-20 17:23] jpokeefe commented on #7325
Thanks. Closing as a duplicate of #6671.

[2017-02-20 17:23] #7325 closed

[2017-02-20 17:30] luixxiul commented on #7329
Inactive tab at first needs to be loaded via Internet. I think that is the common behavior between browsers.

If you feel slowness, please disable "Show tab previews on hover" from Edit -> Preferences ->Tabs.

[2017-02-20 17:34] luixxiul commented on #5078
+1 https://community.brave.com/t/bookmark-tool-bar-tab-options/686?u=suguru

[2017-02-20 17:36] luixxiul commented on #7159
+1 for Google Earth: https://community.brave.com/t/feature-request-earth-view-from-google-earth-as-alternative-to-brave-dashboard-as-a-new-empty-tab/1255?u=suguru

[2017-02-20 17:44] luixxiul commented on #854
Similar request: Alert when close a Specific Tab
https://community.brave.com/t/alert-when-close-a-specific-tab/267?u=suguru

[2017-02-20 17:59] luixxiul opened #7331 "Wacom pen and links"
**Describe the issue you encountered:**
https://community.brave.com/t/wacom-pen-and-links/492?u=suguru

- Platform (Win7, 8, 10? macOS? Linux distro?): macOS

- Brave Version (revision SHA):

- Steps to reproduce:
    1.
    2.
    3.

- Actual result:

- Expected result:

- Will the steps above reproduce in a fresh profile? If not what other info can be added?

- Is this an issue in the currently

[2017-02-20 18:56] valtih1978 commented on #7329
The curious thing is that hover is instant. It is also curious why one needs to reload just inactive tab from the Internet? Just to make clear, I was experiencing some keystrokes lost and switch requests ignored but cannot reproduce the latter. I think we can close the issue until I make it clear.

[2017-02-20 18:56] #7329 closed

[2017-02-20 19:14] Jacalz opened #7332 ""Select the last viewed tab" setting not working with pinned tabs"
- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:
The setting "Select the last viewed tab" only redirects you to the latest viewed tab (See extra info) and not to a pined tab. https://community.brave.com/t/tab-settings-not-working/1287/9
- Platform (Win7, 8, 10? macOS? Linux distro?):
Found it reproducible on Windows 10 Home and Pro (Will tes

[2017-02-20 19:59] JoeArizona commented on #3556
Sorry for the delay – everything looks good now. Here's a screenshot of the same tab as before. A few variables have changed since the original: mostly, GitHub and Brave have changed their designs. But you can tell that text is much crisper. (Note that the screenshot is showing the screen a bit blurrier than it actually is – I don't know why PNG screenshots do this, but I see it often.)

![2017-02

[2017-02-20 21:26] NejcZdovc commented on #7332
@bradleyrichter Should we allow focus on pinned tabs?

[2017-02-20 21:26] bsclifton commented on #7328
@luixxiul no, that is a different issue; for that, you'll need to cherry pick in https://github.com/brave/browser-laptop/pull/7302 to your browser-laptop

[2017-02-20 21:31] bsclifton commented on #1937
[Picture shared via Twitter](https://twitter.com/maxart/status/833752426322669568):
![image](https://cloud.githubusercontent.com/assets/4733304/23142405/fc770aa6-f778-11e6-93ff-168178f48492.png)

**_NOTE_**: the user is showing that they'd like to DECREASE the size of the UI

[2017-02-20 21:35] bradleyrichter commented on #1937
yes, this is from Vivaldi which does exactly what the "bug-now-feature" did from that old PR which needs "feature mining".

[2017-02-20 22:43] bradleyrichter commented on #7332
@NejcZdovc generally, yes but there may be side effects. I agree with the use case above. It should work as expected. Especially since those tabs could have been children of the pinned tab anyway.

Pinned tabs could potentially earn equal rights but with close functions disabled.

(but we need to be careful to break logic that is otherwise working well after many fixed bugs.)

[2017-02-21 03:15] asuh commented on #1442
I can't find any info but will Python 3 not work with the build process? Also, does it require full Visual Studio or will the free version be just as useful?

[2017-02-21 07:50] Jacalz commented on #7332
@bradleyrichter The fact that there is some strange behavior with wich tab you go to after closing the tab certainly needs to be fixed 😉

[2017-02-21 08:31] CliqueBait opened #7333 "A malicious website takes over Brave"
Isn't this guy's problem quite a significant security concern?
https://community.brave.com/t/completely-stuck-on-a-malicious-website/1331

[2017-02-21 09:05] bsclifton commented on #7333
@CliqueBait thanks for the report 😄   This is basically a duplicate of https://github.com/brave/browser-laptop/issues/3794

I have a fix coming up soon with https://github.com/brave/browser-laptop/pull/7107

[2017-02-21 09:05] #7333 closed

[2017-02-21 09:06] bsclifton commented on #3794
+1 from community:
https://community.brave.com/t/completely-stuck-on-a-malicious-website/1331

[2017-02-21 09:09] #6531 closed

[2017-02-21 11:15] srirambv commented on #5540
+1 from community user Alexey https://community.brave.com/t/shift-alt-behaviour/1247

[2017-02-21 11:39] srirambv opened #7334 "Torrent don't start downloading"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Torrent don't start downloading

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.13.5
rev	59a41eb
- Steps to reproduce:
    1. Do a clean install of 0.13.5 Preview 1
    2. Open any magnet torrent link from https://codepen.io/ferrossity/

[2017-02-21 12:43] luixxiul opened #7335 "Refactor about:passwords with Aphrodite"
## Test plan

https://github.com/brave/browser-laptop/pull/7336#issue-209135220

----

Refactor about:passwords with Aphrodite

- Any related issues:

[2017-02-21 13:04] luixxiul opened #7338 "PGO implementation"
Per @jacalz

https://community.brave.com/t/pgo-implementation/1276?u=suguru

[2017-02-21 13:29] luixxiul opened #7339 "Replace invalid <list> element with <List> element in list.js"
https://github.com/brave/browser-laptop/pull/7258#discussion_r101880007

`<list>` is used several times under `js/`. They should be converted into `<List>` element in list.js altogether.

[code]

#7318

[2017-02-21 13:35] starkos commented on #6881
I don't have access to the redesign myself, I was given access to someone's machine via a screen share to try and figure it out. Not sure when I'll get the chance to try again, but I'm hoping to send them a WideVine-enable builds (via the Electron command-line options) shortly.

@echosa, can you give it a try?

[2017-02-21 14:18] echosa commented on #6881
Spotify works with Widevine enabled! Even with shields up! <3

[2017-02-21 14:34] bbondy commented on #7313
Yes we'd like to improve accessibility, we will as time goes on more and more.

[2017-02-21 14:42] mrose17 commented on #6531
@da2x - this code is now in the monster branch, along with some other fixes (that should address your issue). please let me know what you think going forward... thanks!

[2017-02-21 14:46] luixxiul commented on #6881
@diracdeltas Is it possible to display Widevine control dialog on Spotify automatically as we do on Netflix?

[2017-02-21 15:07] #7297 closed

[2017-02-21 15:11] #7304 closed

[2017-02-21 15:11] #7312 closed

[2017-02-21 15:12] #7283 closed

[2017-02-21 15:32] srirambv opened #7340 "Stop page load button doesn't stop loading the page, Esc does"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Reported by user in community https://community.brave.com/t/brave-loading-error/1341
Stop page load button doesn't stop loading the page, Esc does

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.13.5
rev	59a41eb

- Steps to reproduce:

[2017-02-21 15:51] srirambv commented on #2702
+1 from community https://community.brave.com/t/ctrl-shift-t-does-not-restore-history/1342

[2017-02-21 16:05] srirambv opened #7341 "Able to setup sync with a deleted profile"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Sync profile is set when an old sync code is used

- Platform (Win7, 8, 10? macOS? Linux distro?):
All

- Brave Version (revision SHA):
Brave	0.13.5
rev	59a41eb

- Steps to reproduce:
    1. Setup sync profile on device 1(pyramid 0)
    2. Copy the secret code generated for that profile
    3

[2017-02-21 16:21] bridiver commented on #7311
if you have the same problem on Chrome and Opera I would suggest reporting the issue to https://bugs.chromium.org
All 3 of the browsers are Chromium based and I'm not sure what would affect all of them

[2017-02-21 16:42] luixxiul commented on #7110
If I understand correctly `.mov` can be played with Quicktime plugin and it will not be supported.

[2017-02-21 17:01] Liunkae commented on #6881
@luixxiul We need to add Spotify [here](https://github.com/brave/browser-laptop/blob/master/js/components/frame.js#L586).

[2017-02-21 17:03] echosa commented on #7110
That's really unfortunate. This works in other browsers, and it's a pain to have to download and play the file, rather than just have it play in the browser tab. This will be a big detriment to Brave.

[2017-02-21 17:03] bsclifton commented on #7110
cc: @bradleyrichter @bbondy @BrendanEich for comment (of course, everyone else welcome too! 😄 )

[2017-02-21 17:17] huuhaa commented on #6902
@posix4e How about this original problem #6902 about sandbox? This issue seems to be closed but problem still exist, so I'm bit confused that is problem solved in your opinion or not?

[2017-02-21 17:27] Bloygan commented on #7311
The issue has been sent, waiting for answers.

[2017-02-21 17:41] bsclifton commented on #7331
Possibly related electron issue: https://github.com/electron/electron/issues/7815#issuecomment-281153342

[2017-02-21 17:55] srirambv opened #7342 "Replace repeating replace browser restart text with *"
Replace repeating `requires browser restart` text with `*`  in about:settings

[2017-02-21 18:00] bsclifton commented on #3556
@JoeArizona great, thanks for trying it Joe! Glad it works 😄

[2017-02-21 18:09] diracdeltas commented on #7341
This is expected behavior. You have to explicitly click a 'delete this sync profile' button (not yet implemented) to delete the profile.

[2017-02-21 18:16] mrose17 opened #7344 "when the browser dives into an anonize2 crypto operation, it is unresponsive for a second or so"
## Test plan
- run the usual ledger tests to see if a wallet is created, a contribution is made, etc.

## Original issue description
- Did you search for similar issues before submitting this one? yes

- Describe the issue you encountered: _when the browser dives into an anonize2 crypto operation, it is unresponsive for a second or so_

- Platform (Win7, 8, 10? macOS? Linux distro?): all

- Brave

[2017-02-21 19:05] luixxiul opened #7345 "Refactor about:extensions with Aphrodite"
## Test plan

https://github.com/brave/browser-laptop/pull/7346#issue-209243040

----

Refactor about:extensions with Aphrodite

[2017-02-21 19:12] bradleyrichter opened #7347 "Update ledger list control to support new features for 1.0"
![image](https://cloud.githubusercontent.com/assets/13509546/23180508/8121d62a-f826-11e6-8237-b1278d199176.png)

Item 1: Update column headers to match this config. The rank number column has been removed, and an actions column has been added.

Item 2: Create a new grouped column for action buttons. The delete button moves here, and "Pin site" will be added. Eventually, a tweet button may be added

[2017-02-21 19:29] diracdeltas commented on #6881
cc @bbondy on adding widevine

[2017-02-21 19:31] bradleyrichter opened #7348 "update ledger settings UI area to match 1.0 features/changes"
## Test plan
UI should match this mock up (see detailed notes below)

![image](https://cloud.githubusercontent.com/assets/13509546/23181144/ac7bf66e-f828-11e6-8cd2-fccb1ae362fb.png)

**item 1:** convert advanced settings text button into an icon button. Convert Payments History link into icon button in same location.

**item 2:** move Add funds... button to column 3.

**Item 3:** Break out and add

[2017-02-21 19:34] diracdeltas commented on #7341
closing in favor of https://github.com/brave/sync/issues/51

[2017-02-21 19:34] #7341 closed

[2017-02-21 20:15] diracdeltas commented on #6431
unfortunately we don't have an easy way to whitelist specific scripts (only scripts by origin), so that will not be done in the near future.

[2017-02-21 20:27] #7282 closed

[2017-02-21 20:29] diracdeltas commented on #7323
This also happens on Linux, but it is the expected behavior there.

[2017-02-21 20:41] stephband commented on #3555
+1

[2017-02-21 20:47] Liunkae commented on #6431
Renamed to match the PR (#7272).

[2017-02-21 22:03] NejcZdovc commented on #7348
@bradleyrichter please add all icons that are needed

- settings
- history
- pin
- delete
- twitter

[2017-02-21 22:27] #6997 closed

[2017-02-22 00:03] stan-qaz opened #7350 "13.4 Failed to read the 'localStorage' property from 'Window':"
Edited to correct errors.

- Did you search for similar issues before submitting this one?

Yes, might be related to: https://github.com/brave/browser-laptop/issues/6866

- Describe the issue you encountered:

On the dashboard the traffic graph and interface statistics are not updating and several other graphs in pfSense (firewall software) don't work in Brave browser v13.4, they seem to work fine

[2017-02-22 02:59] #7034 closed

[2017-02-22 03:26] #6431 closed

[2017-02-22 06:30] bsclifton commented on #5775
+1 with https://github.com/brave/browser-laptop/issues/7323

[2017-02-22 06:31] bsclifton commented on #7323
We've definitely been getting more of these and I'd like to try to solve the problem on Windows. @valtih1978 you can track the progress with https://github.com/brave/browser-laptop/issues/5775 (we've bumped up priority recently)

@diracdeltas that is correct, Linux is expected and the change may be more difficult.  The Linux version of the issue is captured with https://github.com/brave/browser-la

[2017-02-22 06:31] #7323 closed

[2017-02-22 07:48] huuhaa commented on #6427
Just an update, but I leave this as new comment. Stretch repo still gives 403 (probably cause there's not repo for stretch?) and in addition apt gives following message:

`
E: The repository 'https://s3-us-west-2.amazonaws.com/brave-apt stretch Release' does not have a Release file.
N: Updating from such a repository can't be done securely, and is therefore disabled by default.
N: See apt-secure(8

[2017-02-22 10:27] edjw commented on #7324
On further use, I've found that if I just close the tab asking me to do 2FA, the LastPass icon on the top-right shows the yellow "couldn't log in" error. But then, as long as I just enter my master password as usual, the LastPass vault is open and available.

[2017-02-22 13:57] Muurtegel commented on #5723
I'm a big fan of the current Brave app icon. Quite refreshing that it is not another round icon, like almost all of the other apps I use. (Hipchat, Nylas, Chrome, Photos, Spotify, Atom, iTunes, 1Password etc.)

I wouldn't change a thing.

[2017-02-22 14:21] srirambv opened #7352 "0.13.5 preview builds size is more compared to normal builds"
0.13.5 preview 2 is almost 30Mb more than usual.
![image](https://cloud.githubusercontent.com/assets/17010094/23215410/2e2ded8e-f90a-11e6-9200-a1c5e700b870.png)

[2017-02-22 14:49] More-decentral commented on #1999
The font size on the bookmark bar is too small for my eyes.  Please give users an option to increase the font size.

[2017-02-22 14:54] Jacalz commented on #4501
I can try to fix this but should it be aranged alphabetical with the three first letters (DEU) or the name? (Easylist Germany)

[2017-02-22 15:35] Jacalz commented on #4501
I have organized it by the first three letters but i wonder why is there a IRN adblock filter for iran that doesent show in settings?

[2017-02-22 15:39] Jacalz commented on #4501
https://github.com/Jacalz/ad-block/commit/2fab02087da2a2c1a6cb527b9b1fc96a2b3c8189

[2017-02-22 15:59] Jacalz commented on #4501
I dont understand what to do in the package.json file :disappointed:

[2017-02-22 16:05] bsclifton commented on #7350
@stan-qaz would you be able to help debug a bit more?  Can you try the same site with shields off? Also, I'm curious if you had fingerprint protection on?  Please let us know 😄  Thanks!

[2017-02-22 16:14] bsclifton commented on #1442
@asuh you can use Visual Studio Community 2015 (the free version) or simply the build tools (all of the command line tools used by visual studio). Using a full or professional version is not required (in fact, I've never tested it 😛 )

Python 3 may have issues with node-gyp.  During the `npm install` process, it'll compile a few modules.  I would give it a shot- it may very well work.  Let us know

[2017-02-22 16:15] bsclifton commented on #7329
I believe this problem was introduced recently- I know @BrendanEich has mentioned it before.  We haven't found a definitive root cause yet, but are working on fixing it

[2017-02-22 16:22] bsclifton commented on #7214
@ivankristianto were you able to test if it worked?  If so, maybe we can close this issue in favor of the larger parent issue, https://github.com/brave/browser-laptop/issues/2965

[2017-02-22 16:23] bsclifton commented on #7311
Awesome, thanks for taking the time to do that, @Bloygan! Let us know how it goes 😄

[2017-02-22 16:26] bsclifton commented on #6937
Thanks for closing @luixxiul!

@gutigen we should be able to address this with #6503.  I'll make sure to give that a +1 bump.  It might be easiest to have Brave download the pictures locally when backgrounds are enabled

[2017-02-22 16:27] bridiver commented on #7311
@Bloygan do you have a link for the chromium issue?

[2017-02-22 16:28] bsclifton commented on #6503
+1 from https://github.com/brave/browser-laptop/issues/6937#issuecomment-280830618

I would suggest that we have a zip file which can be downloaded / extracted locally if backgrounds are enabled (instead of packaging the somewhat larger images with our install).  Having them locally would work nicely (especially from the bandwidth perspective)

The images *should* be loading from cache, but based

[2017-02-22 16:28] bridiver commented on #7311
I wonder if this is related to https://github.com/brave/browser-android-tabs/issues/152
In android it affects all chromium based browsers except Chrome. Maybe it's a local cert db issue?

[2017-02-22 16:30] bsclifton commented on #7296
@lucaszanella yup- definitely a different issue. I've never seen that before... you might try launching Brave with some options which we've documented (discovered when troubleshooting Ubuntu actually).

Please see https://github.com/brave/browser-laptop/wiki/Troubleshooting#window-is-solid-black-or-solid-white-looks-like-a-blank-page (I would recommend trying the `--ignore-gpu-blacklist` option)

[2017-02-22 17:57] Bloygan commented on #7311
https://bugs.chromium.org/p/monorail/issues/detail?id=2273&can=2&start=0&num=100&q=&colspec=ID%20Type%20Status/Closed%20Priority%20Milestone%20EstDays%20Owner%20Summary&groupby=&sort=

[2017-02-22 17:58] ivankristianto commented on #7214
Yes it does works. You can close this one

Thanks
iVan

On Feb 22, 2017 23:22, "Brian Clifton" <notifications@github.com> wrote:

[2017-02-22 18:06] bbondy commented on #6881
should be straightforward to add for 0.13.6, I'll check.

[2017-02-22 18:30] bertrandrustle commented on #6089
This is also present on Ubuntu, both in builds from git and the recent .deb packages.

The bug seems to be triggered when `Default zoom level` is set to something other than `100%` under General Settings.

Set `Default zoom level` to `125%`, open a new tab, then pop open the Brave menu. You should see the new tab's zoom level set to `126%`. Next, click _once_ on the minus button to decrease the zo

[2017-02-22 18:59] stan-qaz commented on #7350
Shields are off, fingerprint protection is off.

I tried the firewall with an older Brave version, one that I know was working to view it (11.1) and it too is now failing to show the widgets so there was some change to the firewall hat I wasn't aware of that triggered this.

Checking the firewall I see that it has been updated to version 2.3.3 from 2.3.1-1 with many changes to the GUI code and a c

[2017-02-22 19:49] Liunkae commented on #6089
Thanks @bertrandrustle! That reproduces for me with Brave 0.13.4 on macOS 10.12.x.

Steps to reproduce:
1. Set the default zoom level to 125% in Preferenecs.
2. Open a new tab.
3. Open the kabob menu.
4. Notice that the zoom percentage is 126%.

Pinging @bsclifton

[2017-02-22 19:57] Bloygan commented on #7311
Sorry i may bother but what i must do with all these files you redirected me,https://github.com/brave/browser-android-tabs/commit/5808e74a06595a9f82f1e38a1b177983b39a53f6   ?

[2017-02-22 20:21] lukemulks commented on #6999
Closing issue here.

Migrated issue with PR for proposed fix here: https://github.com/brave/adblock-lists/issues/4

[2017-02-22 20:21] #6999 closed

[2017-02-22 20:25] #7275 closed

[2017-02-22 21:12] bridiver commented on #7311
@Bloygan that is just for our reference because this looks like it might be similar to an issue we are seeing on android

[2017-02-22 21:42] Bloygan commented on #7311
ok

[2017-02-23 00:14] #7214 closed

[2017-02-23 06:29] bsclifton commented on #5309
A really solid fix was put together by @josiah-keller in https://github.com/brave/browser-laptop/pull/6590. Setting the background to black made the flash more pronounced... the problem is definitely the default background color (white) when the webview object gets loaded.

I searched the Electron issue log and found https://github.com/electron/electron/issues/5175, which captures this exact issue

[2017-02-23 07:04] vgturtle127 commented on #4848
I am still having this issue, and I am using the latest version of Brave on a fully updated Windows 10 Pro build.

[2017-02-23 08:15] #6931 closed

[2017-02-23 08:22] bsclifton commented on #5624
@luixxiul now that https://github.com/brave/browser-laptop/pull/6848 is accepted, what's left?

[2017-02-23 08:45] Jacalz commented on #4501
@luixxiul

[2017-02-23 10:44] srirambv commented on #6630
+1 from community https://community.brave.com/t/keyboard-shortcut-duplication/1381. User reports this happens on opening a private tab

[2017-02-23 11:35] luixxiul commented on #4501
I'm not sure. CC @bbondy for a comment.

[2017-02-23 12:31] Instinct64 opened #7354 "Page title incorrectly applied to active/previewed tab rather than responsible tab"
- Did you search for similar issues before submitting this one?
**Yes**

- Describe the issue you encountered:
When hoving on an alternate tab while loading a page, the title of the loading page is applied incorrectly to the previewed tab, rather than the tab loading the page.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 64bit

- Brave Version (revision SHA):
Brave	0.13.4
rev	71d8ff

[2017-02-23 12:33] Instinct64 commented on #4115
@jonathansampson Apologies for the delayed response. This issue still occurs in the latest release:

Brave	0.13.4
rev	71d8ffc
Muon	2.56.4
libchromiumcontent	56.0.2924.87
V8	5.6.326.50
Node.js	7.4.0
Update Channel	dev
os.platform	win32
os.release	10.0.14393
os.arch	x64

LastPass: Free Password Manager  4.1.38.67

[2017-02-23 12:35] Instinct64 commented on #7354
Related to issue: #2844

[2017-02-23 12:52] srirambv opened #7355 "White Screen Crash on Win 8"
Reported by community user
https://community.brave.com/t/white-screen-crash-on-win-8/1373

[2017-02-23 13:24] lu-zero commented on #4053
I confirm that it is not working on macosx with the current brave as well.

[2017-02-23 14:13] #7255 closed

[2017-02-23 14:48] CliqueBait opened #7356 "Prolonged temporary freeze loading Bing Maps"
Is anyone else experiencing this prolonged temporary freeze before Bing Maps becomes responsive?
https://community.brave.com/t/bing-maps-frozen/1362

User: GFritchey
Brave: 0.13.4
rev: 71d8ffc7278a90b22b8617d37880787c1781e694
Muon: 2.56.4
libchromiumcontent: 56.0.2924.87
V8: 5.6.326.50
Node.js: 7.4.0
Update Channel: dev
os.platform: win32
os.release: 10.0.14393
os.arch: x64

"I did an experiment,

[2017-02-23 14:51] srirambv commented on #7354
Unable to reproduce the issue. Could you record a gif of this and update it in the issue?

[2017-02-23 15:10] srirambv opened #7357 "Pocket extension on Windows ia32 is always red"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Pocket extension on Windows i32 is always red

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 7 ia32

- Brave Version (revision SHA):
Brave	0.13.4
rev	71d8ffc

- Steps to reproduce:
    1. Enable Pocket on a clean install of 0.13.5 preview 2
    2. After pocket widget is shown is it

[2017-02-23 15:57] Brax-Me commented on #7355
Here are the dump files

[2017-02-23 15:58] Brax-Me commented on #7355
Yowza, that’s a big file.  Choose Files Try again with a file smaller than 10MB?

I can share them on Brax.Me

[2017-02-23 16:11] Brax-Me commented on #7355
https://brax.me/room/braveonbraxme

487.92 MB in Room Files
E2eNerd @e2eWireless

[2017-02-23 16:12] srirambv commented on #7355
cc: @bridiver @bsclifton

[2017-02-23 16:13] bridiver commented on #7355
what version of Brave?

[2017-02-23 16:21] Brax-Me commented on #7355
13.2 to 13.4
Was less frequent on HP Laptop Win 8 w/13.0 or 13.1

13.2 had 100% repro with moving link text out of box within Brax (same HP Win 8)

BTW Win 8 Pro on Asus Laptop never (very rarely) had any Brave Browser issues.
FWIW Brax.Me is best/most secure and stable encrypted product freely available anywhere!

[2017-02-23 16:51] Bloygan commented on #7311
On the monrail, i had a comment saying: not a monorail issue.

[2017-02-23 17:23] drozzy commented on #4466
This is still happening to me occasionally. OSX.

[2017-02-23 17:25] alexwykoff opened #7358 "cmd + l appears to be dropping input on urlbar"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
It has been reported by @BrendanEich that we're dropping input on the urlbar when a user selects the field via CMD+L

- Platform (Win7, 8, 10? macOS? Linux distro?):
Observed on OS X, but likely all.

- Brave Version (revision SHA):
0.13.4

- Steps to reproduce:
    1. Have an open tab.
    2

[2017-02-23 18:12] bridiver commented on #7311
yep, looks like you accidentally posted it in issues for Monorail instead of Chrome.
https://bugs.chromium.org/p/chromium/issues/list is the tracker for Chrome/Chromium issues

[2017-02-23 18:22] #7250 closed

[2017-02-23 19:32] ayumi opened #7360 "Use <SettingTextbox> for the textbox on the dialog of enabling Sync"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
The Sync enable dialogs prompt for device nickname using `<input />` elements. We would prefer they used SettingText because it's cleaner. We tried to do this in https://github.com/brave/browser-laptop/pull/7164 however it regressed nicknaming of devices

Previously I tried to use a Textbox h

[2017-02-23 19:53] bridiver commented on #1323
I am currently able to replicate this on Brave, Chrome and Safari on mac

[2017-02-23 19:55] bridiver commented on #1323
the fact that it is happening in all 3 browser simultaneously and the inclusion of Safari in that list leads me to believe that this is a google bug and may or may not be related to browser code

[2017-02-23 21:23] codeduph commented on #253
I would like to try Brave as I'm looking for an alternative to FF. However, one thing I really love about FF is their Bookmark. I've try some Chronium Browser and add Extension "Neater Bookmarks" or  "Popup my Bookmarks" and it works fine and I'm feeling soon to switch and leave FF.

I hope Brave would allowed user to use some unpopular 'Extension' soon.

[2017-02-23 21:33] bridiver commented on #7080
technically this is a regression, but Chrome doesn't allow extensions in private tabs by default. Extensions could potentially leak data in private  browsing mode and the following options are being considered:
1. Do nothing
2. Always enable
3. Add a checkbox like chrome with default enabled
4. Add a checkbox like chrome with default disabled

[2017-02-23 22:20] feross opened #7361 "Default order in torrent list should be numerical order"
## Test Plan:

1. Start the WIRED CD magnet link from https://codepen.io/ferossity/full/qaezaB/
2. Look at the list.
3. Ensure that the list is sorted in the order 1, 2, 3, 4, 5, 6, 7, etc. instead of 1, 10, 11, 12, 13, etc.

## Original issue description

- Did you search for similar issues before submitting this one? Yes.

- Describe the issue you encountered:

<img width="735" alt="screen shot

[2017-02-23 22:25] feross opened #7362 "Torrent name is missing once download is started"
## Test plan
1. Click any magnet link from https://codepen.io/ferossity/full/qaezaB/
2. Click "Start Download" to start the torrent
3. Ensure that the torrent title shows up at the top of the page

## Original issue description
- Did you search for similar issues before submitting this one? Yes

- Describe the issue you encountered: The name of the torrent shows up when asking the user to confirm

[2017-02-23 22:38] lukemulks opened #7363 "Boston.com - anti-ad blocking (needs investigation)"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:

**boston.com** appears to be using anti-ad blocking in both desktop and mobile.

- Actual ads are rendering in mobile (android brave v1.0.15)

![screenshot_20170222-215207](https://cloud.githubusercontent.com/assets/8979240/23276659/07949be4-f9c0-11e6-8ca0-39ef6d60e904.png)
![screenshot_2017

[2017-02-23 23:41] feross commented on #7243
Torrent content is rendered into `<iframe>` when it's not video or audio content. For example, a .jpg or a .pdf file. This is because we're using a viewer page that includes the content; we're not returning the content directly.

This is because the torrent may not be active and in that case, we show the "Start Download?" page.

This is because we only make a CSP exception for media elements, not

[2017-02-24 01:11] bradleyrichter opened #7367 "Add session-tab icon numbers"
As a user, I need a way to differentiate session tabs at a glance.

Each tab has a session ID associated with it. The corresponding session tab number will be shown with a matching icon from 1-9.

Later, if more session numbers are necessary, we will switch to text-string numbers.

[session_tab_icons.zip](https://github.com/brave/browser-laptop/files/798144/session_tab_icons.zip)

[2017-02-24 02:20] drozzy commented on #3246
So should I say "yes" or "no"? What are the repercussions for saying no?

[2017-02-24 03:14] luixxiul commented on #1323
@bridiver If so, let's close this for now until anyone would see this only happen on Brave.

[2017-02-24 03:54] bsclifton commented on #1323
@luixxiul maybe we can tag this as upstream and report a bug officially to Google

[2017-02-24 05:38] bsclifton commented on #7340
@bbondy do you remember why the IPC calls were removed with this commit?
https://github.com/brave/browser-laptop/commit/4507f5e9ecc6df1500ef07c5740f2251ee4ae900

[2017-02-24 05:47] luixxiul opened #7368 "Last active tab is not selected after cycling tabs with keyboard shortcut"
**Describe the issue you encountered:** Last active tab is not selected after cycling tabs with keyboard shortcut.

- Platform (Win7, 8, 10? macOS? Linux distro?): Windows 10

- Brave Version (revision SHA): 0.13.4

- Steps to reproduce:
    1. Clear your brave folder
    2. Open browser
    3. Open about:preferences#tabs
    4. Select "last active tab"
    1. Open [Tab 1](https://gist.github.com/

[2017-02-24 06:01] bsclifton commented on #7340
Hitting escape works great- the [inputHandler script](https://github.com/brave/browser-laptop/blob/master/app/extensions/brave/content/scripts/inputHandler.js#L139) will send the renderer a `stop-load` event. When the stop button is pushed, nothing is sent... in fact, it causes the frame to load again

[2017-02-24 06:52] #7340 closed

[2017-02-24 10:14] dinusuresh commented on #7135
**Brave:** 0.13.4_1 (Tried Ubuntu64 & Debian 64)

Both result in the following erro:

[code]

[2017-02-24 13:30] CountLesnik opened #7369 "Suggestion: Give power users a bit more power while not discriminating simple users of course"
The Brave team seems also like other browser developers today to have no faith in the abilities of their users.

It would be nice if you woud offer us advanced users more power, as we are no children and know how to handle things. Brave is not only developed for simple users in mind.

I suggest you think about the following:

- let us decide when we can update the browser (If an issue appears whic

[2017-02-24 13:50] luixxiul opened #7370 "Close icon on tab should not overwrap on the favicon"
**Describe the issue you encountered:** Close icon on tab should not overwrap on the favicon.

![tabicon](https://cloud.githubusercontent.com/assets/3362943/23305631/10712556-fae3-11e6-8e55-1d5df6a9d113.gif)

- Platform (Win7, 8, 10? macOS? Linux distro?): Windows 10

- Brave Version (revision SHA): 0.13.4

- Steps to reproduce:
    1. Make the window size small so the close icon on tab appear on

[2017-02-24 14:07] luixxiul commented on #7326
Several reports are following: https://community.brave.com/t/printing-after-update/1316/4?u=suguru

[2017-02-24 14:12] luixxiul commented on #7369
Hi!

Most of the suggestions have been already suggested. Please have a look at these:
https://github.com/brave/browser-laptop/issues/1877#issuecomment-271341198
https://github.com/brave/browser-laptop/issues/5305
https://github.com/brave/browser-laptop/issues/2185
https://github.com/brave/browser-laptop/issues/5208
https://github.com/brave/browser-laptop/issues/328

I couldn't find request for ab

[2017-02-24 14:12] #7369 closed

[2017-02-24 14:21] luixxiul commented on #1753
I think this has been implemented already. CC @NejcZdovc for confirmation

[2017-02-24 14:24] cezaraugusto commented on #7370
I think it's the same as #5431

[2017-02-24 14:25] NejcZdovc commented on #1753
@luixxiul I think that we are still switching tabs by added id (number). Last accessed time is only used when you close a tab.

[2017-02-24 14:29] luixxiul commented on #7370
yeah I agree, let's close this in favor of that.

[2017-02-24 14:29] #7370 closed

[2017-02-24 17:04] valtih1978 opened #7371 "Calculator in the address bar"
I find it useful in Chrome and do not understand why not to have this cheap but useful thing in the Brave too. You just type =3*4 and enjoy 12 in the first entry of the drop-down hint list.

[2017-02-24 17:21] Brax-Me commented on #7355
See Brax for updated dump file from killing single background process (due to unresponsive Brave Browser State).

[2017-02-24 17:38] Bloygan commented on #7311
The issue has been sent, on the right website (i think) here is the link: https://bugs.chromium.org/p/chromium/issues/detail?id=695925

[2017-02-24 17:53] #6427 closed

[2017-02-24 19:30] luixxiul opened #7372 "Refactor menubar with Aphrodite"
## Test plan

https://github.com/brave/browser-laptop/pull/11587#issue-266365280

----

Refactor menubar.js with Aphrodite

[2017-02-24 20:43] diracdeltas commented on #6783
This was incidentally fixed by https://github.com/brave/browser-laptop/pull/7272

[2017-02-24 20:45] Instinct64 commented on #7354
@srirambv I can't reproduce the issue now either. I've tried a few cases to try and replicate, so no sure exactly what triggered this behaviour.

[2017-02-24 21:55] alexwykoff opened #7374 "Bookmarks toolbar is very slow after importing a lot of bookmarks"
- Did you search for similar issues before submitting this one?

- Describe the issue you encountered:
After importing and syncing a lot of bookmarks, toolbar nav became quite slow.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Tested on OS X

- Brave Version (revision SHA):
0.13.5 branch feature/batch-sync fcb4fc57eaa884998896fa795e0bd328585f3e3f - d9234b59065113071d45e03d323f973bb242b511

- S

[2017-02-24 23:10] #7308 closed

[2017-02-24 23:10] #7293 closed

[2017-02-24 23:10] #7307 closed

[2017-02-24 23:11] diracdeltas commented on #7305
could you please try again on master?

[2017-02-25 00:33] lukemulks opened #7375 "Gmail & Google Drive button icons and BG themes disappeared"
**- Did you search for similar issues before submitting this one?**
Yes

**- Describe the issue you encountered:**

- After having **Google Drive** apps & **Gmail** open in tabs for a extended period of time, usually a few hours, I've observed the button icons and symbols disappearing.

- This has happened 3x over the past 24hrs, and only appears to be taking place within Gmail and Google Drive ap

[2017-02-25 00:58] lukemulks commented on #7375
Some additional info.

**Google Fonts Error, Fail to Load on Refresh**
When I attempt both a standard and clean refresh of the page, I get a font error, and the default font loads instead of the google font.

![brave-google-apps-gdrive-fonts-on-reload-02242017](https://cloud.githubusercontent.com/assets/8979240/23326365/b080a94a-fab1-11e6-80d3-696bdb468afb.PNG)

Font should be Roboto Condensed, bu

[2017-02-25 01:21] tarasglek opened #7376 "No way to open a new tab in same session as session tab"
- Did you search for similar issues before submitting this one?
yes
- Describe the issue you encountered:
Brendan was talking me through using session tabs, but Brave didn't act as Brendan suggested it would :)
- Platform (Win7, 8, 10? macOS? Linux distro?):
All
- Brave Version (revision SHA):
Latest/71d8ffc(linux)
- Steps to reproduce:
    1.File/New Session Tab
    2.File/New Tab

- Actual resul

[2017-02-25 01:40] luixxiul opened #7377 "scriptsBlocked message is not intuitive"
**Describe the issue you encountered:** scriptBlocked message, "Do you want to allow scripts on {{site}} from these sources?", is confusing and not intuitive.

It looks like as if they were origins which had been already allowed.

<img width="473" alt="screenshot 2017-02-25 10 56 03" src="https://cloud.githubusercontent.com/assets/3362943/23327067/28c6f480-fb49-11e6-883d-4eaeda2b6aa1.png">

In tha

[2017-02-25 02:00] luixxiul commented on #7377
Updated the post.

[2017-02-25 02:52] cezaraugusto opened #7379 "Split and refactor ledgerTable component"
## Test Plan

* Ledger functionality should be kept the same:
  * Show only included sites should toggle between enabled/disabled publishers
  * Permanently remove a site should remove its row
  * Table should be kept sortable (untouched code)
  * Include toggle should be kept toggling enabled/disabled state

## Original issue description
Addresses:

* Dry and make about:preferences code easier to

[2017-02-25 02:55] cezaraugusto opened #7380 "Split and refactor BitcoinDashboard"
Addresses:

* Dry and make about:preferences code easier to maintain
* Refactor component styles to Aphrodite
* Make integration tests easier to write

[2017-02-25 02:57] cezaraugusto opened #7381 "Split and refactor PaymentHistory"
Addresses:

* Dry and make about:preferences code easier to maintain
* Refactor component styles to Aphrodite
* Make integration tests easier to write

[2017-02-25 03:16] luixxiul opened #7382 "Refactor ledgerBackupContent"
Refactor ledgerBackupContent

[2017-02-25 03:22] luixxiul commented on #7382
@cezaraugusto Splitting the component will be done with another issue.

[2017-02-25 03:33] #7354 closed

[2017-02-25 05:19] luixxiul opened #7384 "Opening link from other program should use non-minimized window"
**Describe the issue you encountered:**

https://community.brave.com/t/opening-link-from-other-program-should-use-non-minimized-window/1412?u=suguru

- Platform (Win7, 8, 10? macOS? Linux distro?): OS X

- Brave Version (revision SHA):

- Steps to reproduce:
    1.
    2.
    3.

- Actual result:

- Expected result:

- Will the steps above reproduce in a fresh profile? If not what other info can b

[2017-02-25 05:58] stan-qaz commented on #1991
If you look at Vanilla Cookie Manager for Chrome you'll see a good set of functions for a basic cookie management system.

https://chrome.google.com/webstore/detail/vanilla-cookie-manager/gieohaicffldbmiilohhggbidhephnjj?utm_source=chrome-app-launcher-info-dialog

Whitelist
Blacklist
Auto-delete for non-whitelisted cookiss after a short time passes.
Import - export or better sync of the settings t

[2017-02-25 06:57] bsclifton commented on #5624
The remainder of the work has already been completed by @cezaraugusto (great job!) 🎉

The weight, pulling into Aphrodite, and more was done with https://github.com/brave/browser-laptop/pull/6900/files#diff-400b4094e3a5aaea84160dcc1483b3c2R250

And then the font size was addressed for all OSes with https://github.com/brave/browser-laptop/pull/7316

[2017-02-25 06:57] #5624 closed

[2017-02-25 07:03] bsclifton commented on #7374
@alexwykoff I believe this has been an issue for a while; is this a dupe of https://github.com/brave/browser-laptop/issues/7240?

[2017-02-25 07:33] bsclifton commented on #7266
I can't repro using master and it works great with 0.13.4... We can retest once a new preview build is cut.  It does fail with 0.13.5 preview 1.

Sites which I tried drag and drop using master:
- twitter.com
- GitHub.com
- outlook.com

[2017-02-25 07:38] gutigen opened #7385 "Yellow square instead of magnifying glass"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Where mouse cursor is suppose to change into magnifying glass (example: magnifying an image) it changes into yellow square.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Arch Linux (up to date with only official repositories, Brave from `brave-git` AUR)

- Brave Version (revision SHA):
`9a

[2017-02-25 07:39] bsclifton commented on #6224
@alexwykoff you won't be be able to use it properly with a dev build because it's expecting a signature.  You should see something like this if the mini-1password does come up (it opens in the top right every time for me when I press cmd + \ when logging into github.com)
<img width="318" alt="screen shot 2017-02-25 at 12 37 33 am" src="https://cloud.githubusercontent.com/assets/4733304/23329286/cd

[2017-02-25 07:40] bsclifton commented on #5523
Without specific sites to try, I'm afraid there isn't much we can do.  I'm going to close but please re-open if you have any specific examples.  Thanks!

[2017-02-25 07:40] #5523 closed

[2017-02-25 11:47] luixxiul commented on #6863
@NejcZdovc would you mind checking the issue?

[2017-02-25 12:12] #7320 closed

[2017-02-25 12:13] #7335 closed

[2017-02-25 12:22] bbondy commented on #7374
do you by chance have a bookmark file with 6000 bookmarks? Is this only related to sync or slow without sync too?

[2017-02-25 12:23] bbondy commented on #6979
@alexwykoff could you do a first pass on this, then it'll be easier to do a differential once it is up.

[2017-02-25 12:40] luixxiul commented on #6978
Including the link under https://github.com/brave/browser-laptop/wiki/Manual-Tests#per-release-specialty-tests is enough. Closing.

[2017-02-25 12:40] #6978 closed

[2017-02-25 12:49] kanatzidis opened #7386 "Device/responsive mode (mobile inspector) in dev tools"
Is "Device Mode" or "Responsive Mode" available in Brave? I couldn't find an option anywhere on the dev tools and I don't see any issues about this. This is an obstacle to making Brave my default browser for development. Let me know if I missed it/if there will be plans to support this.

[2017-02-25 12:55] luixxiul commented on #6808
Should this be fixed soon?

https://travis-ci.org/brave/browser-laptop/builds/205260809#L3825

[code]

[2017-02-25 13:20] NejcZdovc commented on #6863
Will check it out

[2017-02-25 14:37] luixxiul commented on #7201
https://github.com/brave/browser-laptop/blob/97503ffc172b999a1c93ab5209c0b0685983d6cb/js/about/styles.js#L90-L106 is broken because of this commit: https://github.com/brave/browser-laptop/commit/269d37bf26a3f9d5f9635533c670d3880df20aaf I will push a fix.

[2017-02-25 15:50] wes-baker commented on #7326
After Brave update, printing no longer works. Says "Spooling" and printer never starts printing.

Platform (Win7, 8, 10? macOS? Linux distro?): Windows 10 Home, Version: 1607 OS Build: 14393.693

Brave Version (revision SHA):  0.13.4  rev. 71d8ffc

Printer: HP OfficeJetPro 8600

Steps to reproduce:
1.  I either use CTRL+P or a Print icon on a webpage to attempt to print the page.
2. The printer fa

[2017-02-25 18:46] NejcZdovc commented on #7385
Some other user has already notice this, more info in #7296. We should leave this issue open (not close it as a dup, because #7296 is not the correct issue for tracking this one).

@bsclifton

[2017-02-25 19:57] alexwykoff commented on #7374
At first I had thought it was related to sync, but just completed a review of 0.13.5 preview 3 which includes the batch-sync PR, and have concluded that as the number of bookmarks increases, bookmarks toolbar performance decreases.

Primary bookmarks menu remains snappy.

I do believe this is a dupe of 7240 though, so I will close it.

[2017-02-25 19:57] #7374 closed

[2017-02-25 20:38] Zerophase commented on #253
The only plugins I think most people really care about are ones that change web page UI. I know personally, I couldn't get by without Stylish making all pages dark, and a couple of Chrome plugins that center Google search results. I'm pretty sure Stylish could be done through other means, and even use the altered css styles.

[2017-02-25 21:29] larry5b6 opened #7388 "copy image to clipboard fails on paste"
- Did you search for similar issues before submitting this one?
yes

- Describe the issue you encountered:
Right click and Copy Image, then attempt to paste image into Thunderbird 45.7.1 email message. No action. Paste image into windows paint, copy from there, and then past into Thunderbird works fine. Not a Thunderbird issue - this works correctly with Firefox, Chrome, and MSIE.

- Platform (Win

[2017-02-25 23:37] lukemulks commented on #7375
resolved - had a 3P g.static blocking rule applied for testing, which it turns out google has used for both ads, themes, fonts and icons. Apologies for any confusion.

[2017-02-25 23:37] #7375 closed

[2017-02-26 00:11] JLHwung commented on #4347
I can reproduce on macOS,  Brave 0.13.4 using system built-in Chinese Pinyin IME.

[2017-02-26 04:26] alexwykoff opened #7389 "Manual test template for 0.13.5"
## Installer

1. [ ] Check that installer is close to the size of last release.
2. [ ] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup

[2017-02-26 04:27] alexwykoff commented on #7389
We should be careful to not artificially constrain testing to qa steps specified  unless we are 100% certain that all of the issues in the milestone have been and continue to be groomed properly.

[2017-02-26 05:17] alexwykoff opened #7390 "0.13.5 muon version tracking issue"
Current expected version is 2.56.7

[2017-02-26 05:46] luixxiul commented on #7348
@bradleyrichter Should the color of the icon in the left column be green?

[2017-02-26 06:35] bradleyrichter commented on #7348
@luixxiul Currently the SVGs are all orange for selected state. Do you think we should do unique colors? (the green was an experiment that stayed in the mockup...)

[2017-02-26 06:41] luixxiul commented on #7348
I'm not quite sure but for me all orange looks too much monotone. Still if we would do unique colors, maybe theme colors needs picking up for each item (general/tab/search/...) and I think we don't want to do that.

[2017-02-26 07:53] gutigen commented on #7385
Issue seems to be gone in `7373a01` (built just now).

[2017-02-26 07:54] alentor commented on #3560
Experiencing the same issue, seems like the issue related to whatsapp/electron as I can't copy paste images from Firefox developer edition/chrome as well. The feature(copy paste images directly to whatsapp) used to work, after reinstalling whatsapp the issue still present.

[2017-02-26 11:43] CliqueBait opened #7393 "Open-in-temp in addition to save-to-open"
User wants to able be able to open attachments in emails without having to go through save/open steps:
https://community.brave.com/t/email-attachment-open-in-temp-vs-save-toopen/1417
It's a good idea for ergonomics' sake for email attachments and download links in general.

[2017-02-26 12:15] luixxiul commented on #7393
Duping to #1924?

[2017-02-26 12:29] CliqueBait commented on #7393
Yup. Sorry. It dups #1924. Didn't see that one.

[2017-02-26 12:29] #7393 closed

[2017-02-26 12:41] CliqueBait commented on #1753
I like this idea. Would be very useful for me too. One thing though, since it's unusual behavior for a browser, it should probably be on a toggle in settings.

[2017-02-26 12:54] NejcZdovc commented on #1753
cc @bradleyrichter

[2017-02-26 16:10] luixxiul commented on #7393
Thanks for forwarding the issue anyway :-)

[2017-02-26 18:59] apscomp commented on #4593
To the best of my knowledge: https upgrades means, sites and hyperlinks, that are linked to http:// and if a equivalent https:// site is available.... brave browser, automatically changes those links to https:// equivalents, to prevent tracking etc.,

[2017-02-26 22:58] jonathansampson commented on #3558
I ran into this issue today as well, and resolve in the same manner. Somehow, my configuration was set to create a 960px-wide window, at more than -1400px off the screen. This may have something to do with my hi-DPI Surface Book being attached to my standard-DPI external monitor.

[2017-02-27 00:41] bradleyrichter opened #7394 "loading icon in tab is sometimes sluggish (slow frame rate or jumpy)"
- Did you search for similar issues before submitting this one?
yes

- Describe the issue you encountered:
occasionally, when the browser is chugging on something, the loading indicator also misses a beat. It drops frames or stops turning. I have even seen it appear to spin in the wrong direction based on the random illusion that frame dropping creates.

- Platform (Win7, 8, 10? macOS? Linux distr

[2017-02-27 00:51] bradleyrichter opened #7395 "50-80ms delay when closing a tab"
Adding to the appearance of sluggishness is the delay seen when closing a tab.

Click on the close button.

Notice how long it takes before it closes after mouse-up event.

Brave: 0.13.5
rev: 7373a0197df9fbacc0fb83c5f7494be1fe0ae879
Muon: 2.56.7
libchromiumcontent: 56.0.2924.87
V8: 5.6.326.50
Node.js: 7.4.0
Update Channel: dev
os.platform: darwin
os.release: 16.3.0
os.arch: x64

[2017-02-27 02:45] cezaraugusto opened #7397 "Split and refactor SearchTab component"
Addresses:

* Dry and make about:preferences code easier to maintain
* Refactor component styles to Aphrodite
* Make integration tests easier to write

[2017-02-27 02:46] cezaraugusto opened #7398 "Split and refactor TabsTab component"
Addresses:

* Dry and make about:preferences code easier to maintain
* Refactor component styles to Aphrodite
* Make integration tests easier to write

[2017-02-27 05:49] jonathansampson commented on #6193
@luixxiul The root issue is resolved; this is good closed :)

[2017-02-27 05:51] SamClarke2012 opened #7399 "Brave uses settings (proxy etc) from existing chrome app without permission or notification."
**- Did you search for similar issues before submitting this one?**
Yes

**- Describe the issue you encountered:**
Fresh install of Brave uses proxy settings from existing chrome application without warning.

**- Platform (Win7, 8, 10? macOS? Linux distro?):**
Linux x64

**- Brave Version (revision SHA):**
**71d8ffc**

**- Steps to reproduce:**
    1. Open chrome, and set a bogus proxy
    2. Clos

[2017-02-27 05:53] swasical opened #7400 "Cannot resize Brave"
- Did you search for similar issues before submitting this one?
Yes.

- Describe the issue you encountered:
When I open Brave, the window is maximized. Clicking the maximized button doesn't change anything. I also cannot drag the window to resize it.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Win7

- Brave Version (revision SHA):
0.13.2

- Steps to reproduce:
    1. Open the browser.

- Actu

[2017-02-27 05:55] NejcZdovc commented on #7400
@swasical Can you try updating to the latest version 0.13.4 and see if this will solve the problem?

[2017-02-27 06:38] willy-b commented on #6911
the crash I mentioned earlier has been resolved since I last checked, sweet.

opened a PR (#7401) with a couple of other changes needed to fix these tests:
- removed the `describe.skip`
- update selectors for changes in UI
- rerun setup before each test rather than trying to use a single session for all the tests

[2017-02-27 06:59] SamClarke2012 opened #7402 "Feature request - enable Chromecasting"
The ability to cast embedded video is the only reason I would use chome at all (now).  Furthermore, an ability to rival VideoStream (the leading chrome app for casting local files) would be very attractive.

[2017-02-27 09:47] srirambv opened #7403 "Right click not dismissing / hiding an open menu (Windows only)"
## Test plan
1. Launch Brave on Windows
2. Visit Preferences, disable `Hide the menu bar by default`, and confirm the menu shows up
3. Click any menu item, such as the `View` menu and wait for the menu to display
4. Right click any area to the right of the menu and confirm the menu closes

See the GIF below (in this post) for what it looks like when it fails to close

## Original issue description

[2017-02-27 10:24] NejcZdovc commented on #7403
Correct, right click is not handled correctly. This was introduced with chromuim upgrade, @bbondy fixed it here da801c71. But I think the core problem here is that context menu wrapper is not handled correctly.

You can see that blue box is much bigger then context menu:
![image](https://cloud.githubusercontent.com/assets/9574457/23357637/fd65b94c-fcde-11e6-9543-b7a571567e2b.png)

This is because

[2017-02-27 10:49] srirambv opened #7404 "Helpful hints section shows scroll bars when screen size is reduced"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Helpful hints section shows scroll bars when screen size is reduced

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.13.5
rev	7373a01

- Steps to reproduce:
    1. Open preferences page
    2. Reduce the height of the window
    3. See t

[2017-02-27 11:19] srirambv commented on #7297
Only working for PhotoSerge not on Darrell Sano's page
![7298](https://cloud.githubusercontent.com/assets/17010094/23359539/8f90b214-fcde-11e6-996d-642fb5c28679.gif)

[2017-02-27 12:02] srirambv commented on #7305
Working as expected

[2017-02-27 12:58] srirambv opened #7405 "Reset sync on pyramid 0 and re-enabling sync doesn't sync bookmarks properly across devices"
## Test plan

https://github.com/brave/browser-laptop/pull/7420#issue-210937396

----

- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Reset sync on pyramid 0 and re-enabling sync doesn't sync bookmarks properly across devices

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10x64 - Pyramid 1
Windows 7 ia32 - Pyramid 0

- Brave Ver

[2017-02-27 13:09] pennyjw commented on #7326
This is the first version of Brave I have used.

**Printing to Adobe PDF**
Printing to a PDF file doesn't work. Pop-up dialogue says "Creating Adobe PDF" but doesn't go beyond first few bars of PDF progress.
![image](https://cloud.githubusercontent.com/assets/13402741/23361874/f22bc824-fd46-11e6-91d6-e31a250dcedd.png)

Platform : Windows 7 Enterprise, service pack 1, 64-bit
**Brave Version informa

[2017-02-27 13:54] srirambv opened #7406 "URL suggestions need better transistion"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
URL suggestions need better transistion

- Platform (Win7, 8, 10? macOS? Linux distro?):
All

- Brave Version (revision SHA):
Brave	0.13.5
rev	7373a01

- Steps to reproduce:
    1. Visit couple of sites to add URL history entries, keep the tabs open
    2. Enable search options to show from h

[2017-02-27 13:58] srirambv commented on #7201
![image](https://cloud.githubusercontent.com/assets/17010094/23363868/9eff0e60-fcf4-11e6-9cb4-434fe14421a4.png)
Small button definitely doesn't look small 😄

[2017-02-27 14:54] SergeyZhukovsky commented on #3181
There is a screenshot
<img width="1254" alt="screen shot 2017-02-27 at 9 18 54 am" src="https://cloud.githubusercontent.com/assets/12011303/23365856/a58ade66-fcd2-11e6-8b07-bf4960c4e066.png">

[2017-02-27 15:13] Dreae commented on #7051
Chiming in, I'm having the same issue on a MBP running linux. Adding `--enable-use-zoom-for-dsf=false` **did not** solve the problem in my case. Brave version `71d8ffc` Problem is identical to @jonathansampson's screenshot for his 200% display.

[2017-02-27 15:36] #5362 closed

[2017-02-27 15:47] Jacalz commented on #4501
I would love if someone could merge my pull request in brave/ad-block and then close this issue :+1:
Or just give me feedback on something to change if needed :smile: @luixxiul

[2017-02-27 15:58] bsclifton commented on #7326
@darkdh could this possibly be fixed with https://github.com/brave/muon/commit/fa3fec8b3273f84232201ce337dfad1ee13798ea and/or https://github.com/brave/muon/commit/8320fcae37e9436d8148076f07002bf8d7e9078e?

[2017-02-27 16:09] bsclifton commented on #7385
@lucaszanella would you be able to grab latest from master and try this out? Issue should be resolved, per comment by @gutigen above

If you're not able to test with the code, we'll have a release soon.  I'll close the issue for now- please reopen if the issue shows again 😄

[2017-02-27 16:09] #7385 closed

[2017-02-27 16:14] luixxiul commented on #7201
That's another issue which I have shared with @bradleyrichter and @bsclifton in a commit some times ago and I'm going to fix it by refactoring findBar with Aphrodite.

[2017-02-27 16:31] cezaraugusto commented on #7404
I don't think that's a regression but likely a decision I made based on new spec.

HelpfulHints should be stick to the bottom, but since navBar is fixed and we added new tabs (such as Sync and Plugins), on small screen heights our hints gets cut. A more _polished_ way of fixing that is making the entire navigation scrollable on such cases, but side-effect of that is losing the _triangle indicator_

[2017-02-27 16:39] swasical commented on #7400
I did - it didn't fix the issue.

________________________________
From: Nejc Zdovc <notifications@github.com>
Sent: Sunday, February 26, 2017 10:55:20 PM
To: brave/browser-laptop
Cc: Daniel Miller; Mention
Subject: Re: [brave/browser-laptop] Cannot resize Brave (#7400)

@swasical<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_swasical&d=DwMCaQ&c=z0adcvxXWKG6LAMN6dVEqQ&r=W2NDj5eSM

[2017-02-27 17:06] darkdh commented on #7326
But these two are already in 0.13.4. They are used for 56 upgrade.

[2017-02-27 17:13] benjaminkitt commented on #5907
Just to reiterate, the swipe gesture should not trigger when scrolling horizontally. Using a wide Google Sheet for example is maddening because whenever you scroll to the left, you trigger the back swipe action.

[2017-02-27 17:15] bsclifton commented on #7326
@darkdh ah ok thanks!

[2017-02-27 18:22] bradleyrichter commented on #7201
big is the new small.  😄

[2017-02-27 18:35] bradleyrichter commented on #7404
hmmm...let's avoid the nested scroll bar. Ideally it hides if it doesn't fit. Like a vertical break point?

Otherwise, it's OK if it falls off but sitting on the bottom looks nice.

[2017-02-27 19:07] bsclifton commented on #5891
@gyandeeps you did a great job with the preferences page (captured in https://github.com/brave/browser-laptop/pull/6904).  Would you like to give this one a go? I had completed this a while back but with PNG (link shown above). If not, it's OK- let me know 😄

[2017-02-27 19:12] jonathansampson commented on #3181
The problem here appears to be with the `Referer` header being sent when images from moremorewin.net are requested. When the _referer_ is http://www.moremorewin.net, the long-page image is returned. When the _referer_ is http://www.popyard.org, the proper image is returned.

When _Block 3rd Party Cookies_ is enabled, the Brave sets the referer to moremorewin.net. When _Allow all cookies_ is select

[2017-02-27 19:12] gyandeeps commented on #5891
I am ok with working on this. But i think we should do the aphrodite work first if needed and then do svg work. I just dont want to mix the 2 and complicate the stuff. If that work is already done then i can work on this.
Also when i did svg work i cleaned up DOM (remove unnecessary div, etc) also. That what i plan on doing. Which adds more complexity.

[2017-02-27 19:30] jonathansampson commented on #3196
Duplicate of #3181

[2017-02-27 19:30] #3196 closed

[2017-02-27 19:33] diracdeltas commented on #7305
Closing since it was probably addressed by https://github.com/brave/browser-laptop/pull/7309

[2017-02-27 19:33] #7305 closed

[2017-02-27 19:45] #3181 closed

[2017-02-27 19:45] cezaraugusto commented on #7404
ok I like that

[2017-02-27 19:51] diracdeltas commented on #7405
cc @ayumi

[2017-02-27 20:34] Trumpy commented on #6902
Still facing the same problem with kernel 4.9 brave 0.13.4 on debian stretch. though i can at least use the browser with with --no-sandbox.

[2017-02-27 20:58] alexwykoff commented on #6557
Could not reproduce on OS X. @srirambv perhaps it was fixed by https://github.com/brave/muon/pull/146 ?

[2017-02-27 21:34] bsclifton commented on #5891
@gyandeeps OK that sounds good- I'll keep self assigned for now and look at converting to Aphrodite. At that point (as long as the SVGs are the correct size, etc), it should be plug-n-play 😄

[2017-02-27 21:39] bsclifton commented on #7266
Closing- this appears to work great with 0.13.5 preview 3. Let's re-open if it happens again

I'll keep the milestone just so we can confirm that it works during testing (if it's already in our test plan, we can remove milestone)

[2017-02-27 21:42] alexwykoff commented on #2328
I have tried to repro with 0.13.5 preview 3 to no avail.
I used OS X and a trackpad.

Perhaps there is a confounding factor we did take into account?
Having a specific site which reproduces for others would be helpful.

[2017-02-27 21:47] lukemulks commented on #4693
@alexwykoff & @NejcZdovc have reported seeing ads w/o being authenticated.

Issue is filed in brave/adblock-lists with settings uBo & abp are using.

Re-opening here to track until the latest YT player updates have been resolved, since this no longer applies only to authenticated users.

**Notes on timeline for ref:**

- Brave was blocking for authenticated and unauthenticated users with the Brave

[2017-02-27 21:53] bsclifton commented on #6224
I'm using 0.13.5 preview 3 on macOS Sierra 10.12.3 (16D32) with 1Password 6 Version 6.6.1 (661010)

Everything is working OK for me:
- Clicking the icon in the top right (pictured above- it's next to the Lion icon)
- Pressing cmd + \ when on a username or password field
- Right clicking a username or password field and picking "1Password"

@iandundas would you be able to try the latest version of

[2017-02-27 21:59] NejcZdovc commented on #6224
![image](https://cloud.githubusercontent.com/assets/9574457/23381839/48e01438-fd40-11e6-8117-6fa3dc660309.png)

 @bsclifton You can disable it here **Verify browser code signature**

[2017-02-27 22:02] #7201 closed

[2017-02-27 22:04] bsclifton commented on #6224
@NejcZdovc sweet! Thanks for the heads up 😄

[2017-02-27 22:06] bsclifton commented on #6224
Removing from 0.13.5 for now, until we can get more info. It was not something caused by recent changes as this issue was originally reported with 0.12.15

[2017-02-27 22:43] SamClarke2012 opened #7410 "CTRL+0 doesn't reset zoom level as indicated."
**- Did you search for similar issues before submitting this one?**
Yes

**- Describe the issue you encountered:**
Zoom in, with CTRL+=.  Can't reset zoom with CTRL+0.

**- Platform (Win7, 8, 10? macOS? Linux distro?):**
Linux x64

**- Brave Version (revision SHA):**
71d8ffc

**- Steps to reproduce:**
    1. Zoom in using CTRL+=
    2. Attempt to reset zoom using CTRL+0 - (shortcut indicated in vi

[2017-02-28 00:31] diracdeltas commented on #7291
I can't repro this. It takes a minute, but editing the bookmark title in device 2 properly syncs the new title to device 1. @srirambv can you check again?

[2017-02-28 00:41] bsclifton commented on #7266
Re-opening after seeing the issue again in 0.13.5 preview 3 ☹️

I experienced the problem here on GitHub and I believe I have better repro steps:
- I move Brave window out of the way (over to the left or something)
- I click the desktop. Brave does not have focus
- I drop the image file into the text area in GitHub
- The UI shows an animation of the image which was dragged being returned to the de

[2017-02-28 01:01] diracdeltas commented on #7405
It does get synced on pyramid 0 for me, even when empty. Sync only happens every 60s so you might have to wait.

[2017-02-28 01:16] diracdeltas commented on #7405
@srirambv i cannot repro this consistently, but please check out https://github.com/brave/browser-laptop/tree/fix/7405 and see if that resolves the issue. thanks

[2017-02-28 02:22] snakecharmer1024 commented on #5547
This is repeatedly a problem for me as well. I'm on OSX and after a couple days of having between 5 20 tabs open at a time, closing Brave frees about 5GB of memory.

This is probably just my personal aesthetic, but I would prioritize having 0 memory leaks in a browser. What if apache2 just kept adding features when they knew there were memory leaks? There are tools to make leaks much easier to fin

[2017-02-28 03:36] #7404 closed

[2017-02-28 05:13] #7382 closed

[2017-02-28 06:48] NejcZdovc commented on #7266
@bsclifton I tried these steps, but I couldn't reproduce this error. I experience this kind of error already on 0.13.4, but for now I don't have reproduction steps, it happened 3 or 4 times till now.

[2017-02-28 06:52] NejcZdovc commented on #7266
Ok I managed to crash it again (0.13.4). I managed to crash it only after brave was running for a long time, the whole day.

[2017-02-28 07:04] jonathansampson commented on #7051
@Dreae, which version of Brave are you testing?

[2017-02-28 08:43] NejcZdovc opened #7411 "New tab small window"
## Test Plan
- open new tab
- resize window to 560x680
- there shouldn't be x scroll

## Original issue description
I sometimes use small music players (they are opened automatically in a new small window from their main page) like this one:

![image](https://cloud.githubusercontent.com/assets/9574457/23397676/d2b93e06-fd99-11e6-8436-1884fe075e31.png)

and if open a new tab, new tab is not adjuste

[2017-02-28 08:44] valtih1978 commented on #5775
I wonder why you leave this narrow issue open while closing the general one? The problem is that Alt activates the main menu and this causes all kinds of problems, including Alt+Left/Right to navigate, Shift+Alt to switch the language, Alt+D to enter the URL and got knows what. This makes Brave absolutely unusable. Why do you close the general issue #7323 yet leave Alt+D issue open? This is very u

[2017-02-28 08:46] bsclifton commented on #7369
+1 to what @luixxiul said

As a developer on the project, I promise you that we'd love to deliver all these features- I just wish there were more hours in a day 😄   If you (or others reading) would like to help add these features, we're always available to help answer questions

[2017-02-28 08:51] bsclifton commented on #5775
@valtih1978 you are correct- I apologize for not renaming the issue.  I intended for this issue here to be a catch-all for "ALT showing menubar on Windows" issues.  Several use cases are captured above, I had forgotten to rename the issue

[2017-02-28 09:09] iandundas commented on #6224
Just tested with latest release version (0.13.4) and alas it's still broken.

It's dull but I recorded the whole thing if it helps https://www.dropbox.com/s/vmx5nxlxxwp5tna/export.mov?dl=0
- installed
- tried to open 1password to login to a webpage
- opened 1password, disabled browser authentication,
- restarted Brave
- still not working

[2017-02-28 09:25] iandundas commented on #6224
and lo! Suddenly, relaunching for a third time, it's asking me to authenticate with 1password

<img width="1445" alt="image copied on 2017-02-28 at 10 23 am" src="https://cloud.githubusercontent.com/assets/1131967/23399331/2911e216-fda0-11e6-83f7-cf3f4e428897.png">

and is now working:
<img width="1248" alt="screen shot 2017-02-28 at 10 23 53" src="https://cloud.githubusercontent.com/assets/113196

[2017-02-28 10:09] CliqueBait opened #7412 "Bookmark Manager as a single tree"
Community user would like Bookmark Manager displayed as a vanilla tree rather than a tree and content pane:
https://community.brave.com/t/view-pane-settings/1416

In the Bookmarks Manager / Folders area left hand column, can the dropdowns from a folder be kept and shown in there instead of going into the Title window?

[2017-02-28 10:22] srirambv commented on #6224
**Little off topic but a note for Windows users,** 1Password desktop app needs to be launched first and then enabled in the browser for it to validate it correctly. If 1Password is enabled first in browser and then if the desktop app is opened, it won't work. Changing the password manager and reselecting 1Password allows the widget to authorize the browser.

[2017-02-28 11:01] srirambv commented on #6557
@alexwykoff It does look like it fixed the issue. No crash on visiting the site.

Closing the issue for now.

[2017-02-28 11:01] #6557 closed

[2017-02-28 12:52] srirambv commented on #7405
@diracdeltas  I am able to get the empty bookmark folder sync'd but steps 6-8 still doesn't work on https://github.com/brave/browser-laptop/tree/fix/7405.

[2017-02-28 13:09] srirambv commented on #7405
Pyramid 1
![7405](https://cloud.githubusercontent.com/assets/17010094/23406296/1f6bfea2-fdb6-11e6-9773-dc64549480cf.gif)
![image](https://cloud.githubusercontent.com/assets/17010094/23406431/dbb54316-fdb6-11e6-8e3c-6a5caeba1e80.png)

Pyramid 0
![image](https://cloud.githubusercontent.com/assets/17010094/23406090/3100e05c-fdb5-11e6-9fea-4a5cb74535c8.png)
![image](https://cloud.githubusercontent.com

[2017-02-28 13:42] babolivier opened #7413 "Zoom pointer issue"
- Did you search for similar issues before submitting this one?

Yup

- Describe the issue you encountered:

Recently re-installed Brave on a newly installed Archlinux (from the `brave-bin` AUR package) and noticed that, instead of having a zoom pointer I had a yellow square.

GIF available here (with comparison with the expected behaviour on Firefox): https://twitter.com/BrenAbolivier/status/8365

[2017-02-28 13:59] NejcZdovc commented on #7413
Here is the issue that is tracking this problem #7385. Can you try out our latest version from the master and see if problem is gone? We will also release a new 0.13.5 preview, so you can try there as well.

[2017-02-28 14:26] andreogle opened #7414 "Double clicking bookmark on bookmark bar"
- Did you search for similar issues before submitting this one?
**Yes. Couldn't find anything similar**

- Describe the issue you encountered:
**I open a new tab and click on a bookmark on the bookmark bar. While it's loading, I click on it again. It stops loading and the page remains blank. I can't navigate again using this tab and need to open a new tab in order to browse again**

- Platform (Wi

[2017-02-28 14:29] Dreae commented on #7051
@jonathansampson 0.13.4 - https://github.com/brave/browser-laptop/commit/71d8ffc7278a90b22b8617d37880787c1781e694 on linux

[2017-02-28 14:59] cezaraugusto commented on #7411
++ super cool

[2017-02-28 15:03] #3794 closed

[2017-02-28 15:03] #2755 closed

[2017-02-28 15:03] #6901 closed

[2017-02-28 15:03] #7213 closed

[2017-02-28 15:03] #7280 closed

[2017-02-28 15:09] bbondy commented on #6979
Handled here:
https://github.com/brave/browser-laptop/commit/c72ed17512b974e9a774aa154c53005191ef92e8

[2017-02-28 15:09] #6979 closed

[2017-02-28 15:09] #7390 closed

[2017-02-28 15:53] keverets opened #7416 "Can't view "Contribution Statement""
- Did you search for similar issues before submitting this one?
Yes, none found.

- Describe the issue you encountered:
Preferences -> View Payment History... -> Receipt Link (to Brave_Payments_2017-02-21.pdf)
Opens briefly in a new tab then closes immediately.
Repeated trials will let me get a sense of what's in it (it does appear to be a correct rendering of the payments), but there's no way to

[2017-02-28 15:58] SilverPuppy commented on #7326
Experiencing the same issue when printing from PDF.js in Brave on Windows 7. Happened twice just now.

[2017-02-28 16:00] bbondy commented on #7376
@bradleyrichter I think we need click and hold on new tab button to have a submenu under session tab for the created sessions. Thoughts?  We should do this soon.

[2017-02-28 16:11] bbondy opened #7417 "Add session drop down list to edit bookmarks hanger"
Our bookmarks do save the session but they can't be modified right now. We should add a select drop down to be able to select which session.

[2017-02-28 18:04] jonathansampson commented on #4115
@Instinct64 You and I have identical settings, yet mine appears to be working. Would you be available to Skype or jump into a Google Hangout, and briefly look at your instance together?

[2017-02-28 18:13] Dreae opened #7418 "Add JSON viewer"
**- Did you search for similar issues before submitting this one?**
Yes

**- Describe the issue you encountered:**
When viewing JSON data in the browser the unformatted text is displayed instead of a formatted version. It would be nice if Brave could display a parsed and formatted version of the JSON data similar to what Firefox Developer Edition or [JSONView](https://chrome.google.com/webstore/de

[2017-02-28 18:17] srirambv commented on #7418
The support for JSON viewer is already in works. You can track it here
https://github.com/brave/browser-laptop/projects/1#card-571072

[2017-02-28 18:17] #7418 closed

[2017-02-28 18:18] bsclifton commented on #6224
@iandundas what version of 1Password do you have now? Are you still on 6.5.2?  I'm curious if it was upgraded and that helped resolve the issue.  If you hadn't used Brave in a while, the extension would need to update itself too (which happens in the background)

[2017-02-28 18:19] iandundas commented on #6224
hey, this was with 6.6.1

[2017-02-28 18:56] lukemulks commented on #6917
Re-opening the issue, as a pub has resurfaced with what appear to be wallpaper ads and interstitials.

from @Jacalz via Community: https://community.brave.com/t/websites-showing-ads-even-with-all-adblock-filters/908/11

Domain: http://aftonbladet.se

Additional feedback:

Screenshots provided:
https://cdn-standard2.discourse.org/uploads/brave/optimized/1X/50e4dc099ebf7c27734a6ab50a2245d592d2c4f4_1

[2017-02-28 19:00] bsclifton commented on #7416
I'm also seeing this too, with 0.13.4 on macOS ☹️

[2017-02-28 19:19] disfit opened #7419 "Actual payments do not match view in browser & payment does not clear ledger"
As per request via email: ask @mrose17 for the screenshots for the issue(s) below.

Payment overview shows payments to 29 sites even though the payment screen in the browser 8 minutes before payment shows 26 ( ranking 1- 27, row 17 missing).

The payment screen after payment shows correct balance for wallet, but does not clear the ledger. The same 26 sites are shown after payment as before payment

[2017-02-28 21:09] #2988 closed

[2017-02-28 21:35] NejcZdovc commented on #7348
SVG icons

[ledger_icons.zip](https://github.com/brave/browser-laptop/files/808944/ledger_icons.zip)

[2017-02-28 22:37] diracdeltas commented on #7405
@srirambv please check out https://github.com/brave/browser-laptop/tree/fix/7405 which has been updated; it fixes the issue for me.

@ayumi this issue appears to be due to the fact that objectIds are deleted when sync is reset, so old synced objects are synced as if they were new objects after sync is reset and then re-synced to the old profile. this causes sync objects to be duplicated. need your

[2017-02-28 23:02] bsclifton commented on #7266
I spent about 90 minutes trying to make this happen (in which I ran into issues caused by the Amazon S3 services being down).  Regardless of those, I could not get an error to happen.  Everything always worked OK.  I looked at crash reports on stats.brave.com and didn't see any reports which I believe were mine OR which had information which could be helpful.

Since the steps to repro aren't naile

[2017-03-01 00:11] KevDoy commented on #7266
Here's how it happens for me

I have Google Hangouts in a pinned tab.

I open Brave (new session after completely exiting).
Open Hangouts tab. Drag & Drop works. I open a new normal tab, and navigate to Google.com.
I click off of Brave.
Click back on the Pinned Hangouts tab and Drag & Drop stops working on all tabs.

[2017-03-01 00:47] lukemulks commented on #6917
For: **http://www.expressen.se**

I've been able to reproduce, and determine the root cause (at least in the US).

Expressen is using a 1p request system. Some 3p ads are getting thru, which I've been able to block the majority of using these rules:

[code]
This rule prevented their embedded ad video player from loading video ads:
`||csp.screen9.com^$script,image,domain=expressen.se`

@Jacalz can

[2017-03-01 02:01] lukemulks opened #7421 "allmusic.com - anti-ad blocking overlay"
- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:
@srirambv reported an anti-ad blocking content overlay on allmusic.com
I've been able to repro in Windows 10.
- Platform (Win7, 8, 10? macOS? Linux distro?):
All.
- Brave Version (revision SHA):

[code]
- Steps to reproduce:
    1. Go to allmusic.com
    2. Observe content blocking overlay tha

[2017-03-01 02:49] mil1i opened #7422 "Right+click Bookmark Bar, Open in New Tab loads in current tab AND opens a new tab. (BUG)"
- Did you search for similar issues before submitting this one?
Yes, did not see this specific bug listed.

- Describe the issue you encountered:
When opening a bookmark from the Bookmarks Bar via Right Clicking and selecting Open in New Tab or Open in New Session Tab, it loads the bookmark in my current tab as well as opens a new tab.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 Pr

[2017-03-01 04:31] jhaney5930 commented on #7287
I don't know if I'm having the same issue, but I just downloaded the windows.exe file for Brave, and Windows 10 is not even recognizing it as an installed app, much less allowing me to set it as my default browser. I eventually figured out where it was installed so that I could create a desktop shortcut to launch it, but it would be nice to have it as a default browser instead of Microsoft Edge.

[2017-03-01 05:20] drozzy commented on #4466
Pressing Enter doesn't do anything a lot of the time.

[2017-03-01 06:07] itslenny commented on #5907
I regularly have this happen. It's incredibly sensitive sometimes I'm barely even scrolling when it happens. This happens to me multiple times every single day. It's gotten so frustrating that I have to stop using brave until it's fixed.

[2017-03-01 07:09] willy-b commented on #7416
The `webContents.printToPDF` method in Muon which this depends on seems to have broken again (see #6450).

[2017-03-01 07:15] #7284 closed

[2017-03-01 07:55] alexwykoff opened #7424 "Windows x64 test plan for 0.13.5 preview 3"
## Installer

1. [ ] Check that installer is close to the size of last release.
2. [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup

[2017-03-01 07:56] alexwykoff opened #7425 "Windows ia-32 test plan for 0.13.5 preview 3"
## Installer

1. [ ] Check that installer is close to the size of last release.
2. [ ] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup

[2017-03-01 07:56] alexwykoff opened #7426 "OS X test plan for 0.13.5 preview 3"
## Installer

1. [x] Check that installer is close to the size of last release.
2. [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup

[2017-03-01 07:57] alexwykoff opened #7427 "Linux test plan for 0.13.5 preview 3"
## Installer

1. [ ] Check that installer is close to the size of last release.
2. [ ] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup

[2017-03-01 08:24] srirambv opened #7428 "Youtube video not playable - thegatewaypundit.com"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Reported from community https://community.brave.com/t/youtube-video-not-playable-thegatewaypundit-com/1463

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
0.13.4

- Steps to reproduce:
    1. Visit http://www.thegatewaypundit.com/2017/02/new-nr

[2017-03-01 11:49] srirambv opened #7429 "Include switch is enabled by default for publishers even though auto include is turned off"
Test plan:

https://github.com/brave/browser-laptop/pull/7439#issue-211295769

<hr>

- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Include switch is enabled by default for publishers even though auto include is turned off

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.13.5
rev	737

[2017-03-01 14:27] alexwykoff commented on #6783
Agreed. No longer a bug.

[2017-03-01 14:27] #6783 closed

[2017-03-01 14:28] alexwykoff commented on #5117
Covered in https://github.com/brave/browser-laptop/pull/7272

[2017-03-01 14:33] alexwykoff opened #7430 "Hit boxes on allow scripts are too small, create unintended modal closure when missed."
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
When attempting to click on the checkboxes to allow scripts, I missed by what felt like a pixel. The  modal closed.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Tested on OS X

- Brave Version (revision SHA):
0.13.5 (0dc505a5d4ab6e67550e1a39f448a610e0497e39)

- Steps to reproduce:
    1.

[2017-03-01 15:07] srirambv commented on #7284
This is still an issue on preview 3 but verified and working fine on master

[2017-03-01 15:11] srirambv commented on #7280
Still same alert box on Preview 3. Verified on master
![syncerror](https://cloud.githubusercontent.com/assets/17010094/23465732/0d8d7a4a-fe91-11e6-8d4c-f721b948440e.PNG)

[2017-03-01 15:12] amc2002 commented on #4402
Deal breaker here too. I love Brave, but rearranging tabs and breaking them off to new windows is essential. Had to go back to Firefox. :(

[2017-03-01 15:29] bridiver commented on #3625
@bbondy won't syncing the private partition -> regular leak data about the bitcoin handler?

[2017-03-01 15:43] #7326 closed

[2017-03-01 15:52] bbondy commented on #3625
that comment was from aug 2016 so not related to sync, but it was just me thinking that the bitcoin handler was the same for all sessions. I don't think there's an api for web sties to see if something is registered.  Maybe that changed though since.

[2017-03-01 15:53] bsclifton commented on #7422
@mil1i thanks for the report 😄  this issue has been captured with https://github.com/brave/browser-laptop/issues/7284 which I fixed last nite (will be available in our next release).  I'll go ahead and close this issue as a duplicate

I'll check out the Ctrl + Shift + B missing... We do however have night mode captured with https://github.com/brave/browser-laptop/issues/1090 which you can follow 😄

[2017-03-01 15:53] #7422 closed

[2017-03-01 16:09] srirambv commented on #3794
Verified on master. Works fine

[2017-03-01 16:23] srirambv commented on #2755
Verified on master. Works fine

[2017-03-01 16:35] Instinct64 commented on #4115
@jonathansampson I'd be happy to. Add me on Skype: "imchrisbrooks"

[2017-03-01 16:37] cezaraugusto commented on #7429
thanks for reporting. New logic for publishers sets disabled by default if auto suggest is off.

There's a fix for that but not ready for review so let's keep this open until it is

[2017-03-01 16:56] ivanstegic commented on #4402
@echosa what are the other items? Do you have them listed somewhere, I'd love to see them!

[2017-03-01 17:05] bsclifton commented on #7416
Not fixed by https://github.com/brave/muon/pull/166 ☹️

[2017-03-01 17:28] #4693 closed

[2017-03-01 17:37] echosa opened #7431 "Drag-and-dropping files kills the browser (everything goes white)"
- Did you search for similar issues before submitting this one?

Yes. The closest I've found is this, but not sure if its the same issue I'm experiencing:
https://github.com/brave/browser-laptop/issues/7266

- Describe the issue you encountered:

When I try to drag-and-drop a file from my desktop into a webpage that accepts drag-and-drop (for instance, GitHub or Jira), the brave window goes *compl

[2017-03-01 17:43] echosa commented on #4402
Well, I did just have this as some terse notes in a private Fastmail note. Then you had to go and ask for it publicly, so I had to write out some better descriptions, and go aggregate all the links to the appropriate GitHub issues. :-P

So, here you go: https://gist.github.com/echosa/ed4a150d74e96fc6d54b72a8ae853a61

[2017-03-01 17:44] echosa commented on #4693
Is there a reason this closed? I was just about to comment to say that I've been seeing ads again, lately.

[2017-03-01 17:46] lukemulks commented on #4693
@echosa opening a fresh issue to link to this one - will link here - seeing some additional items that we're running thru, and am linking to a separate repro issue that we're tracking for the blocklists.

[2017-03-01 17:52] echosa commented on #4693
Perfect. I'll keep an eye out for the new one. :-) Thanks!

[2017-03-01 17:55] lukemulks opened #7432 "YouTube.com player - updated ad blocking evasion"
- Did you search for similar issues before submitting this one?
Yes - YT has updated the player enough times to where a fresh issue is needed.

- Describe the issue you encountered:
YT player has updated again, this time to evade ad blocking for both authenticated and unauthenticated users.

- Platform (Win7, 8, 10? macOS? Linux distro?):
All.

- Brave Version (revision SHA):

[code]
- Steps to re

[2017-03-01 17:57] lukemulks commented on #4693
@echosa here is the new one https://github.com/brave/browser-laptop/issues/7432
Breaks out timelines and other related issues. Thanks!

[2017-03-01 18:09] jonathansampson opened #7433 "Cannot paste links into Slack (dropping shields resolves)"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:

- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS (reported)

- Brave Version (revision SHA):
0.13.4

- Steps to reproduce:
    1. Copy a URL
    2. Attempt to paste into Slack's input
    3. Note that nothing is pasted

- Actual result:
Slack does not receive/display the pasted URL

- E

[2017-03-01 18:12] lukemulks commented on #7428
@srirambv First reports of this applied to some sites, but not all using embedded YT players on 02.10.17

- A Youtube.com player update at the same time, which only impacted authenticated users.

- I suspect that this embedded player issue was more sporadic at the time because it was likely only occurring on sites with embedded players that users authenticated with.

- We received updates of a new

[2017-03-01 18:31] jonathansampson commented on #7433
Does not appear to repro on Windows.

To test, I right-clicked a link on Twitter and selected _Copy Link Address_. I then went over to my Slack tab, and right-clicked in the message input. Selecting _Paste_ resulted in the pasted URL being displayed.

I attempted other means of pasting (ctrl+v, right-click > paste without formatting); all succeeded. This appears to be the results @srirambv also fo

[2017-03-01 18:46] ivanstegic commented on #4402
Thank you good sir, starred the list. Some of those are annoyances for me, but not deal breakers... like the YouTube ads one. If this was reddit, I'd gold you.

[2017-03-01 19:04] srirambv commented on #7404
Verified on master. Works fine. Preview 3 still shows the scrollbars

[2017-03-01 19:10] echosa commented on #4402
Indeed. There's a reason the ads issues are so far down the list. I suppose I could break the list into "must haves" and "nice to haves", but meh. It's fine as is for now.

Enough side-tracking this issue, though. :-)

[2017-03-01 19:53] NejcZdovc commented on #7430
@alexwykoff I think that we shouldn't close dialog if you click inside the dialog. We should only close it if:
- you click on either button
- you click outside of the box

cc @bradleyrichter

[2017-03-01 20:00] srirambv commented on #7424
Windows preview 3 looks  good except for #7308, #7309, #7291
#5224 not verified due to region restriction

[2017-03-01 20:50] sebastianmacias commented on #3555
+1 must have for me

[2017-03-01 21:07] bsclifton commented on #3555
Pulling up to 1.0- no promises on a date here, but this issue is 100% on our roadmap 😄

[2017-03-01 21:10] bsclifton commented on #4402
Thanks for sharing the list, @echosa 😄

[2017-03-01 21:13] Liunkae commented on #5907
Everyone with the accidental swipe problem: please see issue #7100 (Horizontal scrolling with two-finger gesture is also treated as page navigation).

[2017-03-01 21:13] echosa commented on #4402
:-) I'm really trying to stay on Brave as default, but these things are making it difficult. I consider switching away, then switching back when Brave meets more of my requirements. :-P I love Brave. I love the idea of it. I enjoy using it (when it does what I need). However, if there's already a browser out there that meets my needs, it's difficult to turn it away. I'm trying, though. That's for

[2017-03-01 21:20] Liunkae commented on #7100
We've gotten a few +1's for this problem at #5907.

Can we set a milestone for this? I agree with the others that it's really annoying.

[2017-03-01 21:24] bsclifton commented on #7431
@echosa if you can narrow it down to an exact set of steps or use a software like LICEcap to record this happening (so we can see the details of the steps you take), that would be awesome!

This is indeed a dupe of https://github.com/brave/browser-laptop/issues/7266; I'll give that one a bump and share your screenshot.

I've had this happen too and it's super annoying.  @NejcZdovc and I have been

[2017-03-01 21:25] #7431 closed

[2017-03-01 21:26] bsclifton commented on #7266
screenshot courtesy of @echosa:
<img width="1478" alt="screen shot 2017-03-01 at 11 30 47 am" src="https://cloud.githubusercontent.com/assets/133786/23472704/6905bbf8-fe73-11e6-8214-f5f54b2ebbe5.png">

[2017-03-01 21:26] Liunkae commented on #6956
I think this would be fixed by #6537 (URL autocomplete should offer the option of only completing the hostname).

[2017-03-01 21:40] echosa commented on #7266
I just tried Imgur, GitHub, Jira, and Dropbox. All of them worked flawlessly. Of course they did, since I'm trying to capture the error. :-/ I recently closed and restarted Brave. Maybe it needs to be open for a while before the drag-and-drop error occurs? (Some kind of memory leak or something maybe?) If I can get the issue to happen during a recording, I'll post it here.

[2017-03-01 22:22] diracdeltas commented on #7430
i'm working on that @NejcZdovc

[2017-03-01 22:24] lukemulks commented on #6917
Expressen.se has been investigated, tested and has a PR submitted in adblock-lists (with the help of @Jacalz - thanks!)

Expressen.se adblock-lists issue: https://github.com/brave/adblock-lists/issues/6
Expressen.se adblock-lists PR: https://github.com/brave/adblock-lists/pull/7

Checklist for this issue:

- [x] expressen.se
- [] aftonbladet.se

[2017-03-01 22:28] bsclifton commented on #7414
@andreogle I'm having a really hard time reproducing this- I'm also on 0.13.4 and macOS Sierra.  Are you double clicking fast? or just anytime before the page is loaded?  I bookmarked this page for example and can't cause the issue

[2017-03-01 22:36] defaye commented on #3101
Clicking "back" with my mouse every 2 minutes after remembering this pitfall, and constantly reminding myself how much of a pain in the arse it is not to have this feature.

[2017-03-01 22:45] bsclifton commented on #7410
@SamClarke2012 are you using the 0 in the main keyboard? or from the numpad?

[2017-03-01 22:57] bsclifton commented on #7400
@swasical can you help us collect more info?  I'm curious about the two following scenarios:
- Does the mouse change to the resize handle when moving to the edges of the screen?
- Can you use shift + F8 to open the electron developer tools?  Once this is open (opens docked on the right)- you can click "Console" tab.  Once this is up, go ahead and click the maximize button.  I'm curious if any erro

[2017-03-01 23:02] #7413 closed

[2017-03-01 23:03] bsclifton commented on #7413
Closing as it's a dupe; please do try a preview build if possible- if the issue still exists, we can re-open https://github.com/brave/browser-laptop/issues/7385

Thanks 😄

[2017-03-01 23:05] swasical commented on #7400
The answer to the first question is no.

When I opened the tools and clicked on the Console tab, that made it so I could minify and maximize. I don't know why, but it must have kicked something. Now the setting is correct, so when I reopen Brave, Minimize/Maximize still works. Thanks!

________________________________
From: Brian Clifton <notifications@github.com>
Sent: Wednesday, March 1, 2017 3: