[2016-12-21 16:10] luixxiul commented on #6365
Also if general modal components are applied (as noticed #6040) the close button on bookmark edit dialogs will be consistent automaically.

[2016-12-21 16:52] aekeus commented on #6308
@bbondy I will issue new translation requests to complete the languages we have identified as 100% completed for 1.0 release.

[2016-12-21 17:03] posix4e commented on #1170
oh hi @tilgovi ! For now we have tested trusty, xenial, jesse and stretch.

[2016-12-21 17:14] jonathansampson opened #6366 "Extension: Pinterest Save Button"
Extension: [Pinterest Save Button](https://chrome.google.com/webstore/detail/pinterest-save-button/gpdjojdkbbmdfjfahjcgigfpmkopogic)
Background Page: _Coming soon_

## Needed APIs:

**chrome.browserAction**

- [x] #8329 chrome.browserAction.onClicked ([docs](https://developer.chrome.com/extensions/browserAction#event-onClicked))

**chrome.contextMenus**

- [ ] #8331 chrome.contextMenus.create ([do

[2016-12-21 17:19] #6348 closed

[2016-12-21 17:21] srirambv commented on #6330
@bbondy Opening the link works on 0.12.15.

[2016-12-21 17:35] gyandeeps opened #6367 "Build: Only transpile JS which is not supported based on chrome version"
**Did you search for similar issues before submitting this one?**
n/a
**Describe the issue you encountered:**

Currently, we transpile all the JavaScript to ES5 code. But I think we can be smart by using https://github.com/babel/babel-preset-env to only tranpile code which is not supported by a particular version of chrome (I guess we can say 54 now).

**Expected behavior:**

This will help us to

[2016-12-21 17:49] srirambv commented on #6330
@bbondy Verified on 0.12.15 on both Windows 10 & Windows 7. Opening the link works

[2016-12-21 17:57] bsclifton opened #6369 "Relaunch on Windows is flattening the array with args for relaunch"
Problem is here:
https://github.com/brave/browser-laptop/blob/master/app/index.js#L479

The value BEFORE the + operator:
`["--user-data-dir=brave-development","--enable-logging","--v=0","C:\\GitHub\\browser-laptop-bootstrap\\src\\browser-laptop"]`

The value AFTER the + operator (on Windows):
`"--user-data-dir=brave-development,--enable-logging,--v=0,C:\\GitHub\\browser-laptop-bootstrap\\src\\brow

[2016-12-21 18:40] Liunkae commented on #5792
The empty button still exists, but the zone can now be dragged.

[2016-12-21 18:44] Liunkae commented on #3233
I think this has been implemented. I see the dev icon on the latest master.

[2016-12-21 18:51] diracdeltas commented on #6330
i have a fix for this

[2016-12-21 18:55] Liunkae opened #6371 "Copy version information tooltip is incorrect/not localized"
**Did you search for similar issues before submitting this one?**
Yes.

**Describe the issue you encountered:**
On about:brave, the button to copy the version information has an incorrect tooltip. The tooltip currently says "Copy password to clipboard".

**Expected behavior:**
The tooltip should say something like "Copy version information to clipboard".

- Platform (Win7, 8, 10? macOS? Linux dist

[2016-12-21 19:00] Liunkae commented on #6371
https://github.com/brave/browser-laptop/blob/d9824b34f0dc0d190dacf1faac88e133be7d056f/js/about/brave.js#L46

Also, it is not localized.

[2016-12-21 19:12] bbondy commented on #6330
Yan fixed here:
https://github.com/diracdeltas/pdf.js/commit/3e4164fef21bc801e250634c18f0708e762664e9

I updated our extension update server here:
https://github.com/brave/vault-updater/commit/f805d47a01b7586ed050fbbd49a33bd6f9af2260

[2016-12-21 19:12] #6330 closed

[2016-12-21 19:28] Liunkae commented on #6371
I can't get `copyToClipboard` to work. And `copyToClipboard` is listed in `app/locale.js`. Many other keys on that list do work, though. 😕
[code]

[2016-12-21 19:30] srirambv opened #6372 "Make buttons alignment consistent across different modals"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Recovery wallet modal button position is wrong compared to other modals (existing in 0.12.xx builds)
Add Address/Credit card details modal, Save button is not aligned with the input fields  (existing in 0.12.xx builds)
Create/Edit bookmark modal Done button is not aligned with the input f

[2016-12-21 19:38] #6369 closed

[2016-12-21 20:06] capouch opened #6373 "Clicking "to get sharable link" doesn't work with Google, does with github"
**Did you search for similar issues before submitting this one?**
Yes.

**Describe the issue you encountered:**
Some "click to get sharable link" buttons work; some do not.

**Expected behavior:**
Clicking link results in link being copied to clipboard.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Linux Slackware 14.1

- Brave Version
0.2.15

- Steps to reproduce:
    1. Open Google document,

[2016-12-21 20:22] willy-b commented on #6039
I pushed the verified publisher icon fix last week and the open-in-PDF.js fix is ready, though it depends on being able to open local PDFs which may have just been fixed as #6330 cc / @bbondy (previously was a bug as #2714)

[2016-12-21 20:24] willy-b commented on #4769
Thanks @srirambv, wonder what the regression is. Looking into it in VM now.

[2016-12-21 20:57] willy-b commented on #6039
Just opened a PR for the one-liner verified publisher icon fix (or feel free to make change yourself as part of one of your commits, you'll see it's really minor).

[2016-12-21 20:58] bbondy opened #6376 "Properly order tabs that are cloned or have an opener"

[2016-12-21 21:25] #6376 closed

[2016-12-21 21:34] CyrexCore2k commented on #4502
I just had the same issue in 12.15. Rebooting didn't work for me but I was able to get it working by switching to compatibility mode for windows 7. I'm using windows 8.1 pro.

A few things:
1. Prior to a recent reboot Brave was showing the brave installation executable in the path and a download window on load. Closing the download window allowed me to use Brave normally.
2. I was downloading a fi

[2016-12-21 22:07] bsclifton commented on #4769
@srirambv is this related to https://github.com/brave/browser-laptop/issues/6330 ?

[2016-12-21 22:13] bridiver commented on #4502
does it only happen when upgrading Brave? Can't tell if anyone had this happen with a fresh install or not. @bsclifton maybe another squirrel updater issue?

[2016-12-21 22:16] lukemulks commented on #4693
Thanks!

Oh, I see what you mean re: the stub (saw the post on ublock about it,
didn't connect that it was being used here too).

Will test with the call cancelled and report back.

On Dec 21, 2016 6:42 AM, "Brian R. Bondy" <notifications@github.com> wrote:

[2016-12-21 22:21] willy-b commented on #4769
I **don't** think this is related to #6330 (based on code and screenshot from @srirambv).
#6330 should not affect this contribution statement in master branch.

Changes in #6039 which have the Contribution PDF open in the browser after generation make this feature depend on #2714 which may be fixed by #6330.

[2016-12-21 22:24] willy-b commented on #4769
To be clearer, the Contribution Statement PDF feature will only depend on PDF.js (#6330) after commit https://github.com/willy-b/browser-laptop/commit/fe0ee28f596a0d695529155852d0ec8375acb4e0 is merged

[2016-12-21 22:25] #6317 closed

[2016-12-21 22:32] willy-b commented on #4769
It looks like ledger-state.json is being updated by you manually there, @srirambv, have you tried updating latest master and then generating a transaction history with
`npm run add-simulated-payment-history`

then checking the resulting PDF?

[2016-12-21 22:33] bsclifton commented on #5938
Will be fixed by https://github.com/brave/electron/pull/127

I manually tested and it's working great :smile: Hang in there for the next build

[2016-12-21 22:33] #5938 closed

[2016-12-21 22:40] bsclifton commented on #4502
@bridiver I don't think this issue is related to Squirrel; it seems fresh install vs upgrade doesn't matter

I believe the problem is GPU / driver related. Something definitely broke after Anniversary Update.  @CyrexCore2k, @jbmonroe - do you both have Intel integrated graphics? (if not, what kind of graphics card do you have?)

[2016-12-21 23:07] willy-b commented on #4769
actually, I get this error even on Linux after commit https://github.com/brave/browser-laptop/commit/bc33beca42e584552ae2ad21a6041980c965094a :
![errorfromchange](https://cloud.githubusercontent.com/assets/6969859/21409446/286ecf8c-c78f-11e6-8001-48ff56eb8433.png)

[2016-12-21 23:15] anasant opened #6378 "npm registry has 'brave' taken by another user, should use 'brave-browser' instead"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
When running `npm start` to run the browser locally, and start fails with: `code ELIFECYCLE` error message is:

[code]
(among other issues). However, `npm bugs brave` opens: https://github.com/davidjamesstone/brave/issues
`npm owner ls brave` yields: davidjamesstone <davidjamesstone@gmail

[2016-12-21 23:19] anasant commented on #6378
recommended fix - change `package.json` to be:
[code]

[2016-12-21 23:23] anasant commented on #6378
I tried to submit a fix myself but when I tried to push, I got:
[code]
Do I need any special permissions?

[2016-12-21 23:41] willy-b commented on #6378
(disclaimer: I'm not affiliated with Brave Software)

Hey @anasant, special permissions are required to push directly. but you can open a pull request from your own fork (what I do as an outside contributor).

What I do -- anyone else can supply their own instructions -- is fork the `brave/browser-laptop` repo (e.g. to `willy-b/browser-laptop`) and define another remote for my fork (I use `my-fork

[2016-12-21 23:45] jbmonroe commented on #4502
GeForce GTX770, driver 376.19, although it might have been an earlier driver release earlier when this occurred--one of the 375._xx_ releases.

[2016-12-22 00:12] luixxiul commented on #6372
including the buttons on Add funds dialog?

[2016-12-22 00:37] keverets commented on #1170
@posix4e it contains:

[code]

I see you typing "jesse", but the repo is actually for "jessie" (with an 'i'). Wonder if that's relevant.

[2016-12-22 00:57] luixxiul commented on #4769
@willy-b I have noticed ~ a week ago that the save dialog of the PDF was displayed instead of opening the file in the tab with PDF.js

[2016-12-22 00:59] luixxiul commented on #6371
@bbondy do you think this is the same as #3946?

[2016-12-22 01:18] willy-b commented on #4769
That's right, it has never opened in PDF.js . That was requested by @mrose17 in #6039 and will come out with that (in commit https://github.com/willy-b/browser-laptop/commit/fe0ee28f596a0d695529155852d0ec8375acb4e0).

[2016-12-22 01:21] willy-b commented on #4769
Any word on commit https://github.com/brave/browser-laptop/commit/bc33beca42e584552ae2ad21a6041980c965094a which causes this error on all OS or whether this reproduces using transactions generated with `npm run add-simulated-payment-history`?

[2016-12-22 01:44] posix4e commented on #1170
That explains that, It was a bug I carried over from another workaround it should be fixed in the next releases. I will completely rebuild those repositories.

[2016-12-22 02:18] bridiver commented on #5779
@bradleyrichter can you provide an example?

[2016-12-22 02:19] bridiver commented on #5779
I found one and this is fixed http://www.mcmediaplayer.com/examples/audio/index.html

[2016-12-22 02:19] #5779 closed

[2016-12-22 02:21] bridiver commented on #6043
I don't understand what the bug is. Can you provide more details?

[2016-12-22 02:21] bridiver commented on #6162
is the a url I can test without signing up for the service?

[2016-12-22 02:23] luixxiul opened #6380 "the bookmark hanger being faded in"
**Describe the issue you encountered:**
https://github.com/brave/browser-laptop/pull/6326#issuecomment-268701402

**Expected behavior:** it should not fade in

- Platform (Win7, 8, 10? macOS? Linux distro?):

- Brave Version (revision SHA): f27bb94

- Steps to reproduce:
    1. Bookmark a page from the button in the URL bar

- Any related issues: #6326

[2016-12-22 02:24] bridiver commented on #6306
fixed https://github.com/brave/browser-laptop/commit/0726ae0644624e5222dbb166351b2b7dd093844e

[2016-12-22 02:24] #6306 closed

[2016-12-22 02:25] bridiver commented on #6306
Test Plan:
1. Install and enable flash
2. Go to Pandora.com
3. allow flash
page should reload and enable flash

[2016-12-22 02:25] bridiver opened #6381 ""enable flash" notification should display when navigating to the adobe flash installer page if flash is installed and not enabled"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
If Flash is installed and not enabled, the flash install page will recognize that flash is installed, but we should add a message box prompting the user to enable flash if they want to use it

[2016-12-22 02:41] ericbsd commented on #6161
Basically when I have try to install it on FreeBSD 11.0 I have this.

`npm ERR! FreeBSD 11.0-RELEASE-p2
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "install"
npm ERR! node v7.2.1
npm ERR! npm  v3.10.10
npm ERR! code ELIFECYCLE

npm ERR! electron-chromedriver@1.4.0 install: `node ./download-chromedriver.js`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the electron-chromedriver@1.

[2016-12-22 03:05] luixxiul commented on #6372
in my opinion some of them can be aligned by changing width of elements or modifying the padding inside the dialog.

For example, we could remove `wideButton` class from the buttons on the Edit Bookmark dialog to make it into like this (which I prefer actually):
<img width="338" alt="screenshot 2016-12-22 12 03 14" src="https://cloud.githubusercontent.com/assets/3362943/21413973/bb4929c4-c83e-11e6

[2016-12-22 03:10] anasant commented on #6378
I think I got it! Thanks for the guidance @willy-b. 😄 Let me know if I'm missing something. Will cc you on the pull request.

[2016-12-22 03:48] posix4e commented on #6161
Thanks for reporting in we will need to provide that.
On Wed, Dec 21, 2016 at 6:41 PM Eric Turgeon <notifications@github.com>
wrote:

[2016-12-22 04:54] luixxiul opened #6384 "Setting min-width for buttons (l10n-friendly)"
**Did you search for similar issues before submitting this one?**

**Describe the issue you encountered:**
From a perspective of localization the min-width of the buttons should be specified to avoid the case like this:

<img width="327" alt="screenshot 2016-12-22 13 53 02" src="https://cloud.githubusercontent.com/assets/3362943/21415522/ff959ff4-c84d-11e6-92a4-c3c07a776365.png">

**Expected behav

[2016-12-22 05:31] bradleyrichter commented on #6384
I think it is perfectly logical to set a min width for buttons.

5 characters plus padding is a good measurement:
![image](https://cloud.githubusercontent.com/assets/13509546/21416085/cb773072-c7c4-11e6-9705-5f156fefa186.png)

[2016-12-22 06:05] bsclifton commented on #6333
Duplicate of https://github.com/brave/browser-laptop/issues/4782; I'll make sure that issue mentioned the top left

[2016-12-22 06:05] #6333 closed

[2016-12-22 06:06] bsclifton commented on #4782
+1 per https://github.com/brave/browser-laptop/issues/6333

[2016-12-22 06:43] bbondy commented on #6378
@bsclifton did you make sure this doesn't affect the installer and package names? Thanks!

[2016-12-22 06:44] bbondy commented on #6378
I think some of the installer creators might use the package name which we shouldn't change, they might need an additional param. It might be ok but just something to try.

[2016-12-22 06:58] bsclifton commented on #6378
@bbondy no, I didn't actually- my bad on that :frowning_face:

I just reverted the commit until we can verify that / fix anything that relies on the old name

[2016-12-22 07:00] #5765 closed

[2016-12-22 07:02] bbondy commented on #6315
@darkdh can this be closed?

[2016-12-22 08:39] darkdh commented on #5931
revert d4f451c17e8481db6e3b1857c98b266cc76a51ed and bc050cbd1fde71cb84bae52e643e8b32cd27d981 will work again. And @bridiver is working on it.

[2016-12-22 08:55] darkdh commented on #6315
Can't be closed now. I'm working on it

[2016-12-22 09:04] srirambv commented on #6162
Yes. You can enter random details and check

[2016-12-22 09:16] bnmnb commented on #6043
Could not turn on the option for the Flash Player then the web won't load.

On Thu, Dec 22, 2016 at 1:21 PM, Brian Johnson <notifications@github.com>
wrote:

--
Simon Leung

[2016-12-22 09:49] jonathansampson commented on #6015
Update: Clicking _New Issues_ opens an empty tab in master at the time of this posting.

[2016-12-22 10:56] hieudang9 commented on #2953
@Msiyer Thanks for tip in Linux, it would be so great if you have a similar tip for Windows.
Thanks in advance.

[2016-12-22 13:44] privatzee commented on #4782
I've been using Brave less and less because of this, as the irritation factor accumulates. It wouldn't be so bad if browser resizing would stick.

[2016-12-22 14:12] luixxiul commented on #1323
Maybe is this related with the default password manager? I'm not quite sure but I think I haven't seen it on Dashlane.

[2016-12-22 15:05] srirambv commented on #5981
Doesn't work even with "open in new tab". Here's the screen grab
![webtorrent1](https://cloud.githubusercontent.com/assets/17010094/21429733/076b80b8-c858-11e6-88c8-fa51223b2459.gif)

![image](https://cloud.githubusercontent.com/assets/17010094/21429705/f2ff7918-c857-11e6-9d26-12a88f8447ed.png)

[2016-12-22 15:33] bbondy commented on #6371
yes I think so, I think we need to implement the l10n extensions API to get the localization here

[2016-12-22 15:37] bbondy commented on #4693
You might have to comment out the sitehack and then just use the custom adblock rules in about:adblock. Thanks!

[2016-12-22 15:52] bbondy commented on #4769
I commented in the commit but `chrome.ipc` should be undefined in about page sand `chrome.ipcRenderer` should be available so I'm not sure why that would break anything.

For example, you will get lots of results if you do:
git grep chrome.ipcRenderer\\.

But if you do:
git grep chrome.ipc\\.
You only get this one result from the about page that was updated.

[2016-12-22 15:54] #1170 closed

[2016-12-22 16:11] alexwykoff opened #6389 "file:// browsing should show directory content"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
When browsing my local machine, I found that it would not list local directory contents the same as Chrome.

**Expected behavior:**
Local directory content should be visible and navigable.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Tested on OS X

- Brave Version (revision SHA):
0.1

[2016-12-22 16:26] #6384 closed

[2016-12-22 17:00] srirambv commented on #6321
Closing in favour of #6334

[2016-12-22 17:00] #6321 closed

[2016-12-22 17:00] bbondy opened #6390 "Duplicated tabs should always go directly next to the opener tab"
For opener pages we go to the end of the opener related pages.
But for cloned tabs it should always go to the start.

[2016-12-22 17:37] bbondy commented on #5879
Re-opening for Windows.

[2016-12-22 17:45] linuxhelmet commented on #5086
I've tested Brave on several different distros and found that this problem persists regardless the desktop environment on Linux.  Two things I have found while testing this.  One, if you open another window in front of brave after it starts then switch back to brave it will then hide the menu bar. Two, it may have been mentioned but toggling the "hide menu" option does also work.

I'm no dev but t

[2016-12-22 17:45] srirambv opened #6391 "Title content is not aligned with Time and Domain text in about:history"
**Did you search for similar issues before submitting this one?**

**Describe the issue you encountered:**
Title content is not aligned with Time and Domain text in about:history

**Expected behavior:**
Text should be aligned

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
0.13.0 Preview 5

- Steps to reproduce:
    1. Visit any site to add an entry

[2016-12-22 18:19] Liunkae commented on #6371
I submitted PR #6392 for a temporary fix that changes the wording to "Copy to clipboard", until we get localization to work.

[2016-12-22 19:40] jonathansampson opened #6393 "AdBlocker-Blocker on v3.co.uk"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Users are unable to read content from http://www.v3.co.uk/v3-uk/feature/3001670/ten-desktop-browsers-to-try. While scrolling, the user encounters an adblocker-blocker message requesting they turn off any adblockers that may be running.

Blocking scripts preserves the content.

**Expected

[2016-12-22 20:02] willy-b commented on #2714
hey @diracdeltas, I think you might already have fixed this with #6330.
If not, would you mind pointing me to any resources on how PDFJS is integrated in Brave now? It used to be in `browser-laptop/app/extensions/pdfjs` but has now moved.  Also, is Brave using your fork?

Thanks in advance, I'm looking at this for PR #6385 where I try to open a generated PDF in a new tab

[2016-12-22 20:12] bbondy opened #6394 "gpu host can't connect in Debug builds (low priority)"
Broken out from:
https://github.com/brave/browser-laptop/issues/5691

[2016-12-22 20:12] bbondy commented on #5691
Closing this in favour of more specific bugs.
https://github.com/brave/browser-laptop/issues/6394

[2016-12-22 20:12] #5691 closed

[2016-12-22 20:14] posix4e commented on #5879
Can confirm linux is a problem
![screenshot from 2016-12-22 11-55-20](https://cloud.githubusercontent.com/assets/806363/21438911/24997b9e-c840-11e6-907b-a1f6f2d902a8.png)

[2016-12-22 20:16] bbondy commented on #6315
Re-added 0.13.0 milestone, @luixxiul why was it removed?

[2016-12-22 20:17] bbondy commented on #6313
This was previously triaged with release/blocking and also in 0.13.0, why was the milestone and label removed @luixxiul ? Thanks!

[2016-12-22 21:17] pmkary opened #6395 "Problem with background-image in the "a" tag"
## basic info
**Did you search for similar issues before submitting this one?** yop

- Platform (Win7, 8, 10? macOS? Linux distro?): Sierra (latest)

- Brave Version (revision SHA):
<img width="433" alt="screen shot 2016-12-23 at 12 42 48 am" src="https://cloud.githubusercontent.com/assets/2157285/21440553/c724f11e-c8a8-11e6-8c83-222b5b88b607.png">

## Main Issue
In my website I use a background i

[2016-12-22 21:17] diracdeltas commented on #2714
@willy-b it's not fixed yet sadly.

pdfjs is now loaded from a remote server. it gets downloaded in ~/Library/Application Support/brave-development/Extensions/jdbefljfgobbmcidnmpjamcbhnbphjnb/ so you can test changes by editing files in there directly

it's using my fork at https://github.com/diracdeltas/pdf.js (built from master using 'gulp chromium')

[2016-12-22 21:54] jonathansampson commented on #6014
The above is caused by the following CSS:

[code]

This causes the container housing the _Dashboard_, _Help_, and _Sign Out_ links to be pushed 13 pixels over the right-edge of the viewport. This results in scrollbars.

Setting `overflow-x: hidden` on the `html` element resolves.

[2016-12-22 21:58] bsclifton commented on #6371
@Liunkae I put a note about how you can fix the issue here:
https://github.com/brave/browser-laptop/pull/6392/files#r93702690

You can see js/about/history.js for examples (except that one uses it's own file, versus using app.properties)

[2016-12-22 22:50] #6270 closed

[2016-12-22 23:16] bsclifton commented on #4782
@privatzee sorry to hear :frowning_face: I know the top is sensitive.

The challenge there is that Windows requires a hit-test in order for the behavior to change.  The cursor moving causes a hit test to be done.  This checks the area the mouse is over:
- if near the edge, returns "this area is resizable"
- if it's draggable, it returns "this is a caption area"

The problem here is that the dragga

[2016-12-22 23:31] alexwykoff opened #6396 "Regression : Pocket is not saving sites from extension badge or context menu"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
When testing with c74ec44, muon 2.05, it was noticed that the sites would not save to Pocket using either the extension badge on the url bar or the context menu.

**Expected behavior:**
Both methods should work for saving a site to Pocket

- Platform (Win7, 8, 10? macOS? Linux distro?):
T

[2016-12-22 23:44] jonathansampson opened #6397 "Labels fail to load on whiteops.com"
**Describe the issue you encountered:**
Some labels on http://www.whiteops.com/products fail to load/appear

**Expected behavior:**
Crucial labels and text should be visible

**Brave Version (revision SHA):** 0.12.15

**Screenshot if needed:**
![image](https://cloud.githubusercontent.com/assets/815158/21443902/41a437aa-c86e-11e6-8e8e-e9b438a59ff3.png)

[2016-12-22 23:54] alexwykoff opened #6398 "Brave Password manager prompting for keychain access"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
When I tested the Brave Password Manager and it prompted for keychain access which it did not do in the past.

**Expected behavior:**
If the system is supposed to do this now, it should be documented. If it is not supposed to do this, we should get rid of it.

- Platform (Win7, 8, 10? mac

[2016-12-22 23:57] bsclifton commented on #6398
This is by design; it does it the first time you save a password on macOS.  We use the `keytar` package to store a password for OUR password file.

More info, including why we haven't done a full "passwords in keychain" implementation here:
https://github.com/brave/browser-laptop/issues/3226

cc: @diracdeltas

[2016-12-22 23:59] lukemulks commented on #6393
It appears they're using an anti-ad blocker, but instead of having the AAB replace the ads, the AAB blocks content instead.

I took a look at this script, which appears to run some detection by baiting the client with some white/blank ads:

http://assets.v3.co.uk/javascript/live/v3/javascript-v3.head.min.js

The script above contains:
[code]

The bait call and the content masking appear to be made

[2016-12-23 00:28] alexwykoff commented on #6398
Thanks for the info!  With regard to the authenticity message, will that go away with signed builds?

[2016-12-23 00:36] jonathansampson commented on #6397
The labels are present, but `display: none`:

[code]

The above is the _root_ of the issue. Links are hidden, and intended to be made visible again once `MktoForms2.whenReady` is fired. However, the file containing `MktoForms2` is blocked by Brave on account on it being hosted on a third-party domain (https://app-ab17.marketo.com/js/forms2/js/forms2.min.js).

[2016-12-23 01:06] luixxiul commented on #6313
my bad, that's my mistake. sorry :-(

[2016-12-23 01:08] luixxiul commented on #6315
as the assignment was removed I thought it was postponed to fix this.

[2016-12-23 01:18] bbondy commented on #6313
np!

[2016-12-23 02:43] #6390 closed

[2016-12-23 03:07] luixxiul opened #6399 "arrowup on bookmarkhanger is misaligned"
**Describe the issue you encountered:**
<img width="53" alt="screenshot 2016-12-23 12 06 02" src="https://cloud.githubusercontent.com/assets/3362943/21446326/33f4550a-c908-11e6-8cb7-6feb7d8d00e2.png">

**Expected behavior:**

- Platform (Win7, 8, 10? macOS? Linux distro?):

- Brave Version (revision SHA): 93b7c31

- Steps to reproduce:
    1. Bookmark a page with the star icon

- Any related issue

[2016-12-23 03:27] mrose17 commented on #6074
hi. sorry to drop the thread on this. what does it mean when you say that the wallet disappeared? do you have a record at cubits with the address that you transferred funds to? if so, send me that address and the cubits address and i can refund your transfer... sorry!

[2016-12-23 03:43] luixxiul commented on #4536
closing as this is obsolete.

[2016-12-23 03:43] #4536 closed

[2016-12-23 03:53] luixxiul opened #6400 "remove wideButton class from the buttons on the Edit Bookmark dialog"
**Describe the issue you encountered:**
https://github.com/brave/browser-laptop/issues/6372#issuecomment-268707188

**Expected behavior:**

- Brave Version (revision SHA): 93b7c31

- Any related issues:

[2016-12-23 05:38] luixxiul opened #6401 "transparent background select elements"
**Describe the issue you encountered:**

<img width="192" alt="screenshot 2016-12-23 14 36 48" src="https://cloud.githubusercontent.com/assets/3362943/21447771/540835ea-c91d-11e6-8332-b4a937f32b0b.png">

**Expected behavior:**

- Platform (Win7, 8, 10? macOS? Linux distro?): macOS

- Brave Version (revision SHA): 93b7c31

- Any related issues:

[2016-12-23 10:44] NejcZdovc opened #6402 "Selecting a link"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
When you select a link that is not linked (displayed as plain text), context menu will not show link related options.

**Expected behavior:**
Context menu shows link related options.

- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS

- Brave Version (revision SHA):
0.12.15

- Steps t

[2016-12-23 11:51] srirambv commented on #6395
I can see the yellow highlight on the `<a>` tag on 0.12.15 (Win 10 x64)
![image](https://cloud.githubusercontent.com/assets/17010094/21453253/411b5ed4-c905-11e6-92af-b0e7c5bc36b0.png)

[2016-12-23 12:23] NejcZdovc commented on #5828
@bsclifton Thank you for a pointer. How can I easily debug this process? The only way that I found out is by creating build package and then test it (problem is that you don't have debug options in package). I tried to fix it without debugging but with no luck.

[2016-12-23 12:27] pmkary commented on #6395
@srirambv no not on hover. It must be like this when not hovered:

<img width="379" alt="screen shot 2016-12-23 at 3 56 25 pm" src="https://cloud.githubusercontent.com/assets/2157285/21453830/73d4a8d0-c928-11e6-9a0e-66b78ca49b98.png">

And the hover must be like this:

<img width="374" alt="screen shot 2016-12-23 at 3 56 37 pm" src="https://cloud.githubusercontent.com/assets/2157285/21453834/7ddbb

[2016-12-23 12:29] NejcZdovc commented on #5828
We need to do two things I think. First merge arguments and them encode them. Second thing I already implemented in #6404 for drag and drop and it's working correctly.

[2016-12-23 12:54] srirambv opened #6406 "Regression: about:brave doesn't show details"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
about:brave doesn't show details

**Expected behavior:**
Should show the release details

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Master

- Steps to reproduce:
    1. Remove existing Brave and deleting existing brave-development fold

[2016-12-23 13:50] EPadronU opened #6407 "Add a "Reload all tabs" option in the tabs' context (right-click) menu"
**Did you search for similar issues before submitting this one?** Yes

**Describe the issue you encountered:** We are lacking of a way to reload all the current opened tabs.

**Expected behavior:** When right-clicking on a tab, there should be an option called "Reload all tabs" which should allow the user to reload/refresh all the current opened tabs.

- Platform (Win7, 8, 10? macOS? Linux distro?

[2016-12-23 13:51] CliqueBait commented on #1323
@luixxiul Yeah. That was my hunch when I first saw this ticket. I run Ubuntu and I know there are ongoing issues for some Ubuntu users surrounding google login where the web authentication dialogue keeps popping up relentlessly so I didn't mention it here. StackOverflow hacks seemed to alleviate the problem for me but I imagine this issue holds accross multiple platforms.

My install:
Brave:	0.12.

[2016-12-23 14:31] bbondy opened #6408 "Automated test failures"
- [ ] Bravery Panel Stats detects blocked elements in iframe in private tab:
     WaitUntilTimeoutError: Promise was rejected with the following reason: timeout
      at getText(".braveryStat.adsBlockedStat") - braveryPanelTest.js:366:23

- [ ] Bravery Panel Stats detects blocked elements in iframe:
     WaitUntilTimeoutError: Promise was rejected with the following reason: timeout
      at getTex

[2016-12-23 14:44] msiyer commented on #2953
@hieudang9 I will try to compile on Windows and test just for the fun of it. However, the findings would be similar.

[2016-12-23 15:40] bbondy commented on #5780
Closing this since it's superseded by other testing issues.

[2016-12-23 15:40] #5780 closed

[2016-12-23 16:00] willy-b commented on #4769
This is a regression  -- and the original feature was released, right?
Can we open a new bug?
Sorry it is just hard to track.

[2016-12-23 16:00] bsclifton commented on #6406
probably a failure in reading the new commit field

[2016-12-23 16:05] willy-b commented on #4769
@bbondy did anything change with ipc vs. ipcRenderer with the recent Chromium changes / Electron upgrade?

[2016-12-23 16:07] srirambv opened #6409 "Do not track only works after browser restart"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
0.13.0 build doesn't show a requires restart message for Do not track. Without browser restart Do not track is not set to 1

**Expected behavior:**
Do not track switch should contain requires restart message

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version

[2016-12-23 16:27] willy-b commented on #6039
Hey @mrose17 , update:
The publisher icon fix is ready in #6375, but the PDF.js fix will not be ready today as changes in PDF.js have to be made and I am not familiar enough.

Also the issue for the original feature has been reopened (#4769) due to a regression on Windows and possibly elsewhere, so I need to work on that.

[2016-12-23 16:49] mrose17 commented on #6039
@willy-b thanks for the update... many thanks for sticking with this!

cc: @bsclifton

[2016-12-23 17:04] #6280 closed

[2016-12-23 17:07] bbondy commented on #6280
should be working on next preview.

[2016-12-23 17:15] bbondy commented on #4769
ya I think it should be another issue but let me try it out here as next step, it might just be a testing error.

[2016-12-23 17:27] luixxiul opened #6411 "opening a link in a new tab creates the new tab at the most left"
**Describe the issue you encountered:**
opening a link in a new tab creates the new tab at the most left, not next to the tab

**Expected behavior:**

- Platform (Win7, 8, 10? macOS? Linux distro?):

- Brave Version (revision SHA): f04777e

- Steps to reproduce:
    1. Open any link by clicking it pushing the command key

- Any related issues:

[2016-12-23 17:28] #6406 closed

[2016-12-23 17:28] luixxiul opened #6412 "command+c to copy does not work"
**Describe the issue you encountered:** command+c to copy does not work

**Expected behavior:**

- Platform (Win7, 8, 10? macOS? Linux distro?): macOS

- Brave Version (revision SHA): f04777e

- Steps to reproduce:
    1. Select a word
    2. Hit command+c

- Any related issues:

[2016-12-23 18:55] diracdeltas commented on #6409
not sure why the restart message was taken out; it was always needed for DNT. should be a quick fix though

[2016-12-23 19:24] CyrexCore2k commented on #4502
I have an Intel integrated graphics.

To clarify: I believe the browser was updating successfully. I did not confirm the version number prior to the reboot but I experienced the symptoms I described in item 1 over a few update notifications. The update notifications were disappearing after I clicked update even though the download dialog issue persisted.

@bsclifton - Even if the issue is driver r

[2016-12-23 19:46] privatzee commented on #4782
@bsclifton Thanks for the considerate reply. How about making the top resize area bigger when the Menu Bar is being displayed (which is always true for me)? There should be plenty of room available in that case.

[2016-12-23 20:01] #6315 closed

[2016-12-23 20:01] bbondy commented on #6315
Fixed!

[2016-12-23 20:05] bbondy commented on #6398
yep I think it should be ok, but please re-open if you see something on preview6.

[2016-12-23 20:05] #6398 closed

[2016-12-23 20:15] bbondy commented on #6411
This is only a problem if you're using Electron 2.0.5 or lower.
I'd recommend if testing from master to do a build from brave/browser-laptop-bootstrap.
it's a long 1 time setup but you'll be up to date with electron and browser-laptop changes, which we are frequently making especially right now.

To setup just `npm install`, `npm run init`, and `npm run build`.
The init can take an hour and the bu

[2016-12-23 20:16] #6411 closed

[2016-12-23 20:16] bbondy commented on #6411
Please re-open if you find it's an issue on 2.0.6 or later though.

[2016-12-23 20:30] #6409 closed

[2016-12-23 20:48] bbondy opened #6413 "Make pinned tabs share the same tab content across windows"
This is expected to fix pinned tab tests

[2016-12-23 21:03] Liunkae commented on #6371
PR: #6414

[2016-12-23 22:46] #6371 closed

[2016-12-23 23:27] bsclifton commented on #6412
@luixxiul is this when running from source? If so, have you updated electron recently?

Should have been fixed with:
https://github.com/brave/browser-laptop/commit/e6b855eee86a3d84639b1c8b7af2fec8d8de7771
(I can't find the Muon commit for some reason)
cc: @bbondy

[2016-12-24 00:22] willy-b commented on #4769
Ah I see. With the Chromium changes all the `chrome.ipc` references were swapped with `chrome.ipcRenderer` , and so this showed up for all operating systems when Chromium54 changes were merged in.

Original commit for Chromium54:
[code]
I tested @bbondy's change without the rebuilt Chromium so it appeared to break it, when actually his change should _fix_ the problem observed by @srirambv.

[2016-12-24 01:08] luixxiul commented on #6412
I think this can be closed in favor of https://github.com/brave/browser-laptop/issues/6411#issuecomment-269040862

[2016-12-24 01:08] #6412 closed

[2016-12-24 01:15] willy-b commented on #2714
sweet, thanks for the info

[2016-12-24 01:18] luixxiul opened #6415 "Documentation: setting up chromium and muon from the source"
**Describe the issue you encountered:**

https://github.com/brave/browser-laptop/issues/6411#issuecomment-269040862

it's a long 1 time setup but you'll be up to date with electron and browser-laptop changes, which we are frequently making especially right now.

Setting up the documentation about it or creating a link to this page on README would make it easy for  developers/testers to be up to da

[2016-12-24 01:40] luixxiul commented on #1705
Closing this in favor of #4777

[2016-12-24 01:40] #1705 closed

[2016-12-24 01:54] willy-b commented on #4769
On latest master with Chromium updated this has a new problem for me though (on Linux too) crashing because the `webContents.executeJavaScript` method doesn't seem to be available anymore (call in `app/pdf.js`):

[code]

Looking at changes to `webContents.executeJavaScript` which came in with Chromium54, e.g.
https://github.com/brave/muon/commit/7a183f20aad1e4668c3b981454c0a35edf577cb3#diff-7e7383

[2016-12-24 05:19] luixxiul commented on #6400
This is a regression I introduced: https://github.com/brave/browser-laptop/commit/1df8dc376ba08602a4394796fb91754321dca1ae of #6000

wideButton is no longer necessary as the min-width of the button was set with #6387

[2016-12-24 07:18] Liunkae commented on #3233
I'm not sure how/when this was implemented, but I'll close this issue.

[2016-12-24 07:18] #3233 closed

[2016-12-24 08:49] jonathansampson opened #6417 "Labels and buttons in notification bar behave unpredictably"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Parts of the notification bar behave unpredictably. Some elements suggest they are selectable, when they are not. Others, give no indication that that they are selectable, when in fact they are.

**Expected behavior:**
In general, text in the notification bar should not be selectable.

**

[2016-12-24 13:37] #6417 closed

[2016-12-24 21:15] jonathansampson commented on #6401
@luixxiul Sorry, what is the bug here?

[2016-12-24 23:58] luixxiul commented on #6401
On Windows

![clipboard01](https://cloud.githubusercontent.com/assets/3362943/21469168/399f8ec4-ca80-11e6-9c3d-6a8aadaef7c1.png)

The background of the field is white. On macOS too.

[2016-12-25 02:48] tfantina commented on #2001
I'm having the same problem whenever I try to log into my gmail after my wife logs into hers.

[2016-12-25 05:28] anasant opened #6419 "Issue starting Brave browser locally for development"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
1) Pulled latest code into my forked version of Brave according to: https://help.github.com/articles/configuring-a-remote-for-a-fork/ and associated updating guide.
2) Ran `npm run watch` but got:
[code]
3) Ran `brew upgrade node` which returned: `Error: node 7.3.0 already installed`
4) R

[2016-12-25 07:07] luixxiul commented on #6419
Did you do `npm install`?

[2016-12-25 10:08] jonathansampson commented on #6419
I think @luixxiul is hinting in the right direction.

You'll need to run `npm install`, and let that succeed. Once it is finished, open two terminals. In the first terminal, run `npm run watch`, and wait for it to complete its warm-up. Once the first terminal has settled, run `npm start` from the second terminal.

You should now have a local instance of Brave running. Making changes to _some_ file

[2016-12-25 14:27] pleabargain commented on #5603
@bsclifton thanks but no joy

Brave: 0.12.0
Electron: 1.3.10
libchromiumcontent: 52.0.2743.116
V8: 5.2.361.49
Node.js: 6.3.0
Update Channel: dev

just crashed again trying to post a different bug against brave
here are my settings
![my setting on brave screenshot from 2016-12-25 16-18-16](https://cloud.githubusercontent.com/assets/640846/21471518/663305b8-cabe-11e6-96bb-567f8c2fa613.png)

 and her

[2016-12-25 14:58] cezaraugusto opened #6420 "Unable to run Brave nightly after pulling from master"
**Did you search for similar issues before submitting this one?**
No related issue

**Describe the issue you encountered:**
After pulling master, several features stopped working (payments, new tab DnD, webview-level devTools). Also the above errors were reported:

<img width="555" alt="screen shot 2016-12-25 at 03 00 26" src="https://cloud.githubusercontent.com/assets/4672033/21471611/b6396572-ca

[2016-12-25 15:07] cezaraugusto commented on #6420
Running Node v7.2.1. Tried v6.9.2 as well. Node-gyp v3.4.0

as a side note, tried reverting 2157ce2288ac73d97e27b7806ce4ca866b187bd8 (downgrade Muon to v2.0.4) but that doesn't seem to be what's causing the error.

[2016-12-25 15:21] luixxiul commented on #6420
I think this is the same issue: https://github.com/brave/browser-laptop/issues/6411#issuecomment-269040862

[2016-12-25 15:26] cezaraugusto commented on #6420
@luixxiul yes this was my first guess. But I'm running now Muon v2.0.4, and reverting 3004b9e80e4bd5ba9fcabea53e627e3144e26dda solved the problem.

/cc @bridiver @bbondy

[2016-12-25 15:48] cezaraugusto commented on #6420
ok I'll close this after feedback from @bbondy. Per his comments:

it's best for now while we're heavily working on 0.13 with muon changes to clone from browser-laptop-bootstrap and build from there.

After cloning:

*  `npm install`
* `npm run init` (takes an hour)
* `npm run build` (takes a couple hours).
* cd `src/browser-laptop`, `npm run watch`
* from the cloned original dir in a new terminal

[2016-12-25 15:48] #6420 closed

[2016-12-25 18:06] bitcoinuser opened #6421 "Site dosn't show any content when blocks ads is on"
Try to access  this url with ads blocked: http://cbn.globoradio.globo.com/editorias/internacional/2016/12/25/BRASILEIROS-DESAPARECEM-EM-TRAVESSIA-DE-BARCO-DAS-BAHAMAS-AOS-EUA.htm

Result: no content is showed

Now try to access the same page with block ads OFF: http://cbn.globoradio.globo.com/editorias/internacional/2016/12/25/BRASILEIROS-DESAPARECEM-EM-TRAVESSIA-DE-BARCO-DAS-BAHAMAS-AOS-EUA.htm

[2016-12-25 23:07] dhiva commented on #3756
it would be great if brave has inbuild smart proxy switcher which could allow you to configure multiple proxies for various different sites and automatically use them when the site is visited.

[2016-12-25 23:46] dhiva opened #6423 "Ability to switch dns within browser"
**Did you search for similar issues before submitting this one?**
Yes

I would like to switch DNS to a secure dns just on Brave browser and I dont want to change system wide dns configuration. It would be nice to have a setting where I could configure a primary and secondary dns which the browser could use to resolve hostnames. I think this would improve the privacy of the browser.

[2016-12-26 01:53] anasant commented on #6419
Brilliant!! You guys were right. It works now. Thanks so much for the insight. @jonathansampson @luixxiul

[2016-12-26 04:42] #6419 closed

[2016-12-26 04:47] bsclifton commented on #6391
I believe this is a problem with the localization. This should go away when https://github.com/brave/browser-laptop/issues/5879 is fixed (HEAD on master with the macOS fix works as expected).  I'm going to close this as a dupe... but please re-open if it still occurs after https://github.com/brave/browser-laptop/issues/5879 is fixed

[2016-12-26 04:47] #6391 closed

[2016-12-26 05:14] bsclifton commented on #5828
@NejcZdovc this is not the easiest to debug. Basically, you'd need to make your changes, then run `npm run build-package` to package up the executable.  At that point, you should be able to copy the executable generated over main version you use

You are 100% correct though- we will want to sanitize the arguments also

[2016-12-26 08:05] NejcZdovc commented on #5828
@bsclifton will try to fix it with building, hope will figure it out without debug :package:

[2016-12-26 08:55] ywum7fhv0skqh07h commented on #1170
The page [here](https://github.com/brave/browser-laptop/blob/master/docs/linuxInstall.md) is completely useless. You can't use lsb_release without covering all releases or making it clear which ones are available.

I am using Debian Sid and it's ridiculous that I have to trial and error release names to find the most up-to-date release available. Missing releases: "Experimental", "Unstable" (curre

[2016-12-26 09:25] NejcZdovc commented on #5828
@bsclifton as far as I can tell the problem was only in encoding so it was a easy fix when I found out where the code is located 😄

[2016-12-26 13:13] dhiva opened #6425 "Bookmark folders does not display in the bookmark icon dropdown."
**Did you search for similar issues before submitting this one?**
Yes
**Describe the issue you encountered:**
When trying to add site to bookmark using the star button in address bar. The folder drop down menu does not show already existing folder list. It displays only the default "Bookmarks toolbar" in the dropdown. It also does not have feature to add new folders on the fly.

**Expected behavio

[2016-12-26 13:29] dhiva opened #6426 "New “Private + session tab” feature with combined functionality"
At present when I create multiple private tabs it looks like all the private tabs seems to open in same session. And when I using new session tab then I see that the session is specific to that tab and it is not shared. I would like to have a feature to have new private+session tab so that all my private sessions are individual.

example Use case: trying to open muliple gmail accounts in private t

[2016-12-26 16:11] bbondy commented on #6426
Agreed, I'd like this feature too, it's being tracked here though so I'll close this. Thanks for the report:
https://github.com/brave/browser-laptop/issues/597

[2016-12-26 16:11] #6426 closed

[2016-12-26 16:42] posix4e commented on #1170
I added a list of releases we support.

On Mon, Dec 26, 2016 at 12:56 AM ywum7fhv0skqh07h <notifications@github.com>
wrote:

[2016-12-26 16:44] posix4e commented on #1170
In addition,

posi@posi:~$ aws s3 ls brave-apt/dists/trusty/
                           PRE main/
2016-12-15 12:36:52       2316 InRelease
2016-12-15 12:36:52       1448 Release
2016-12-15 12:36:52        819 Release.gpg
posi@posi:~$

We seem to have a releases file. I'll attempt to fix this soon for jessie.

On Mon, Dec 26, 2016 at 8:42 AM Alex Newman <posi@brave.com> wrote:

[2016-12-26 16:46] posix4e opened #6427 "Re-Release debian apt repo"
We misspelled the last release of debian. We need to re-release checking jessie support.

[2016-12-26 16:59] bsclifton commented on #6258
Adding a ton more logging in here; here's what I've found so far.  Some good clues I think :smile:

- Using Spy++, I determined the Win32 window styles (regular and extended) between Brave 0.12.15 (Chromium 53) and HEAD (Chromium 54) are **exactly the same** when window is regular and maximized.
- Also using Spy++, the window sizes appear to be consistent between Brave 0.12.15 (Chromium 53) and HE

[2016-12-26 17:34] luixxiul opened #6428 "Zoom in with cmd + plus on German keyboard"
**Describe the issue you encountered:**
https://community.brave.com/t/zoom-in-with-cmd-plus-on-german-keyboard/401

**Expected behavior:**

- Platform (Win7, 8, 10? macOS? Linux distro?):

- Brave Version (revision SHA):

- Steps to reproduce:
    1.
    2.
    3.

- Any related issues:

[2016-12-26 18:55] boozedog commented on #4502
I've had this problem intermittently on Win10. No problems on macOS.

Also I saw similar issue that @CyrexCore2k mentions above: https://github.com/brave/browser-laptop/issues/4502#issuecomment-268646359

That is, I was seeing executable path of Brave in the address bar of Brave.

That might be a separate issue though.

@CyrexCore2k 's solution of setting Compatibility to Win7 for the Brave execut

[2016-12-26 20:34] #6343 closed

[2016-12-26 20:45] bbondy commented on #6400
I don't think this needs to be tracked in 0.13.0 but please let me know why if so.

[2016-12-26 22:03] outragedhuman commented on #4402
+1 essential feature

[2016-12-26 22:04] bbondy commented on #6147
I think I tested wrong before this seems to have always been a problem, or at least for the last couple releases.

[2016-12-26 22:10] bbondy commented on #6147
Disabling the test for now https://github.com/brave/browser-laptop/issues/5389

[2016-12-26 22:37] dhiva opened #6429 "Add cookie count in site shield metrics"
**Did you search for similar issues before submitting this one?**
yes

Please add the ability to see the number of cookies created when visiting the site in the site shield info drop down. Also a way to see all the cookie names and its contents when the cookie metrics is clicked for detailed view.

[2016-12-26 22:39] dhiva opened #6430 "Encrypt Bookmark and history data"
Brave could have an option to enable AES256 encryption for bookmark and history data storage. If the feature is toggled on, then the browser could request for password on startup. This would improve the security of the system.

[2016-12-26 22:41] dhiva opened #6431 "Feature to allow scripts by origin"
The site shield does a good job in blocking all the scripts that are executed on the page but I would like to allow specific scripts to be executed on the page. On certain websites the video player scripts are blocked and there is no way to get the player working without disabling "script block" and "ad block".

I would like to suggest a feature to whitelist and blacklist certain scripts. Or featu

[2016-12-26 23:16] bsclifton commented on #6378
It seems we can't change it at this time; we experienced a problem on Windows building. Patch was reverted with https://github.com/brave/browser-laptop/pull/6432. Reopening issue

[2016-12-26 23:34] bbondy opened #6433 "Closing a full screen tab doesn't work anymore"
webviewAction.setFullScreen was removed but is still used

`git grep webviewActions.setFullScreen`

However it was removed here:
https://github.com/brave/browser-laptop/commit/68ffcbb021d4162536fb428ee5aad1158d51531f#diff-f0b002b46018cbc89a1e2df9b77ef789

[2016-12-26 23:36] bbondy commented on #4769
Ya it was removed and the calls that used it seems to have been removed, there's a similar issue here:
https://github.com/brave/browser-laptop/issues/6433

Pls watch that issue to see what happens there.

[2016-12-27 03:19] anasant commented on #6187
Update: Scripts don't load properly, can't find a width
<img width="912" alt="screen shot 2016-12-26 at 10 07 01 pm" src="https://cloud.githubusercontent.com/assets/5509977/21489400/47dea496-cbb8-11e6-9d16-410085e2375c.png">

[2016-12-27 03:37] bbondy commented on #4769
looks like you can do something like this:
this.webview.executeScriptInTab(config.braveExtensionId, 'document.webkitExitFullscreen()', {})

[2016-12-27 03:41] #6433 closed

[2016-12-27 03:48] bbondy commented on #4769
oh I guess you have a browser window so that won't work

[2016-12-27 03:49] bbondy commented on #4769
you can use the webcontents

[2016-12-27 04:45] jkup opened #6434 "Youtube thumbnails not showing"
**Did you search for similar issues before submitting this one?**
Yes.

**Describe the issue you encountered:**
With shields up I don't see the last 10 or so youtube thumbnails on the logged in homepage.

**Expected behavior:**
All thumbnails should render.

- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS

- Brave Version (revision SHA):
0.12.15

- Steps to reproduce:
    1. Go to youtube.co

[2016-12-27 04:53] luixxiul commented on #6434
I think this might be related: https://community.brave.com/t/youtube-embedded-player-does-not-work/409/2

[2016-12-27 04:59] jkup commented on #6434
Hmm yeah.. it's weird though I can't repro that issue on community. I can play those videos just fine with my shields up.

[2016-12-27 05:28] bsclifton commented on #6258
Reproduced in a bare-bones app; I copied the pre-built binaries over the ones included with @jonathansampson's [Muon Quick repo](https://github.com/jonathansampson/muon-quick) and was able to reproduce the issue.  Only tweaks were:
- setting `frame:false` in the new BrowserWindow call
- calling maximize explicitly (since there are no min/max buttons)

![screen shot 2016-12-26 at 10 25 35 pm](https

[2016-12-27 05:33] bbondy commented on #4769
I think it would be something like this:
`wv.executeScriptInTab(config.braveExtensionId, removeCharEncodingArtifactJS, {}, whenReadyToGeneratePDF)`

[2016-12-27 06:14] luixxiul opened #6435 "Set the language setting automatically"
**Describe the issue you encountered:**

See: https://github.com/brave/muon/issues/133

For now those who do not understand English at all cannot use the browser. I believe the issue needs fixing by 1.0 if we release it globally.

**Expected behavior:**

- Platform (Win7, 8, 10? macOS? Linux distro?): all

- Brave Version (revision SHA):

- Any related issues: #4351

[2016-12-27 08:56] bsclifton commented on #6258
OK I'm knee deep in this one (gotta be really close).  The problem appears to be the following:
- Window is in NORMAL state; everything is OK
- User maximizes window, triggering the following:
  - NativeWindowViews::Maximize
  - NativeWindow::GetContentSizeConstraints
  - Window::OnWindowResize
  - Window::GetSize
  - NativeWindow::GetSize
  - NativeWindowViews::GetBounds
  - Widget::GetWindowBoun

[2016-12-27 12:10] guidomb commented on #6434
Is there anything I can do to help debugging this issue. In my case thumbnails work but playback is the problem in embedded players.

[2016-12-27 12:18] guidomb commented on #6434
Same problem with InfoQ video player -> https://www.infoq.com/presentations/dropbox-infrastructure

[2016-12-27 12:19] guidomb commented on #6434
I am running

<img width="415" alt="screen shot 2016-12-27 at 9 19 02 am" src="https://cloud.githubusercontent.com/assets/390645/21499538/8c1369aa-cc15-11e6-93dd-7d49ce4201b2.png">

macOS 10.12.12

[2016-12-27 15:01] bbondy commented on #4769
Looks like there's some other problem with the save as dialog, I'll take a look

[2016-12-27 15:23] mrose17 commented on #3834
OBE by #6261

[2016-12-27 15:23] #3834 closed

[2016-12-27 15:57] nsbasic commented on #1002
+1

[2016-12-27 18:19] willy-b commented on #4769
Yeah, a bunch of stuff seems to have broken after Chromium54 merge.

Thanks for the help!

Going slow on Electron changes or testing Chromium54 in development esp since Brave's electron/muon doesn't build standalone anymore (build scripts removed last 2 weeks, https://github.com/brave/muon/issues/132) and browser-laptop-bootstrap's init script failed for me (after 4.5hrs and 15Gb of downloads :-)

[2016-12-27 18:42] diracdeltas opened #6436 "ledger status needs a 'retry' button"
**Did you search for similar issues before submitting this one?**
yes

**Describe the issue you encountered:**
even though my internet is working, about:preferences#payments balance says 'This site can’t be reached because server DNS address could not be found'

**Expected behavior:**
there should be a 'retry' button to refresh the wallet balance and status once internet is connected

- Platform (

[2016-12-27 21:35] bsclifton commented on #4769
@willy-b let me know if you have any specific questions :smile: I've [put together some docs](https://github.com/brave/browser-laptop-bootstrap/wiki) :smile: A quick heads up - Windows currently has an issue with international / locale which causes a crash on startup. The current "solution" (until we fix ICU) is to rebase the brave/muon code and remove both commits which had ICU related fixes.  Yo

[2016-12-27 23:35] willy-b commented on #4769
thanks @bsclifton, especially for docs.

fwiw, I'm on Linux, not Windows and build is broken for me on this AM's master in browser-laptop and browser-laptop-bootstrap (& brave/muon, formerly electron, no longer has a standalone build process).

[2016-12-27 23:43] willy-b commented on #4905
hey @bsclifton, I'm going to need to deprecate this wiki entry for all platforms because the ledger server has been changing and I don't think it supports testnet anymore. Also, for financial/time reasons I had to shutdown the testnet ledger server I was running in AWS.

So let me update the wiki tonight noting that this code is stale and that there's no longer a testnet server to test against (un

[2016-12-27 23:48] jkup opened #6437 "Add yarn package manager support"
**Did you search for similar issues before submitting this one?**
Yes.

Facebook recently came out with new package management command line tool that works with the npm registry (https://yarnpkg.com/). It's much faster and produces deterministic builds. It would be awesome if it was an easy thing we could switch to using.

[2016-12-27 23:48] willy-b commented on #4905
Sorry for the long delay in updating this issue. I ran the VM and then saw the Ledger code had been updated and the previous docker deployment I had written was broken. Went to play catch up and saw the testnet was no longer supported in Ledger, and so on, and then realized I can't afford to maintain the testnet compatibility and server at this time as a random outsider.

[2016-12-27 23:58] willy-b commented on #4905
Updated the wiki page to note that it is out of date:
https://github.com/brave/browser-laptop/wiki/Using-Brave-Payments-with-Testnet-Bitcoin

One needs to run their own testnet ledger server which may require some changes (client-side still works)

[2016-12-28 00:50] ktd99 opened #6438 "Embedded links in emails treated as Search terms, not Links"
**Did you search for similar issues before submitting this one?** No

**Describe the issue you encountered:**  Instead of taking me to the web site, Brave treats an embedded link (which I click on) as a search term.

**Expected behavior:**  Brave should simply take me to the web site.

- Platform (Win7, 8, 10? macOS? Linux distro?):  Win 7

- Brave Version (revision SHA): 0.12.15

- Steps to repro

[2016-12-28 00:51] bsclifton commented on #6258
Got it! Fix coming up...

[2016-12-28 01:07] jkup commented on #6437
After an initial go at this here are my findings:

yarn (no cache)
6m 52s 33ms

npm install
8m 11s 17ms

yarn (with cache)
3m 33s 51ms

It's really nice that Yarn keeps a local fs cache of everything you install so often times it doesn't need to fetch packages. Also it look like travis-ci has yarn and yarn-cache support (https://blog.travis-ci.com/2016-11-21-travis-ci-now-supports-yarn).

So if we

[2016-12-28 01:10] ayumi commented on #6437
++! Have been using for [brave/sync](https://github.com/brave/sync). I think it's good.

[2016-12-28 01:28] jkup opened #6439 "Focus ring on ledger url looks strange"
**Did you search for similar issues before submitting this one?**
Yes.

**Describe the issue you encountered:**
This is a follow-up from https://github.com/brave/browser-laptop/pull/6037#issuecomment-265165002 where @luixxiul found the focus rings on our ledger items look a bit strange.

**Expected behavior:**
It would be nice to give the link some extra padding so the focus ring looked better (or

[2016-12-28 01:34] deputt commented on #2001
I believe the later versions of Brave has solved it, at least for me. I'm also using LastPass to manage my multiple logins.

[2016-12-28 01:35] bsclifton commented on #6258
Fixed with https://github.com/brave/muon/pull/134.  Closing out issue

[2016-12-28 01:40] mrose17 opened #6440 "calls to appActions.updateLedgerInfo() does not update about:preferences#payments for wallet creation"
**Did you search for similar issues before submitting this one?**
yes

**Describe the issue you encountered:**
1. start the browser without a wallet
2. go to about:preferences#payments
3. tell the browser to create the wallet
4. nothing *appears* to happen

**Expected behavior:**
the wallet should be created, and the about:preferences#payments page should re-populate accordingly

- Platform (Win7,

[2016-12-28 03:27] bbondy commented on #6437
does everything work correctly including native modules?

[2016-12-28 03:40] willy-b commented on #4769
OK, so in browser-laptop on master I'm currently not seeing a `printToPDF` issue, I'm seeing a problem with `webview.setTabIndex` not being defined. It is invoked in frame.js during the 'on-attach' event for the new tab that opens to render `js/about/contributionStatement.js` .

[2016-12-28 05:32] Sh1d0w commented on #6437
Last time I tried it on Brave's repo (around the time Facebook released 0.15.1) it was not working at all.

It skipped the steps where modules are being built from source and had a problem with optional dependencies that should not be installed (I have opened a ticket, idk if it was resolved https://github.com/yarnpkg/yarn/issues/705). Meaning you can't install with yarn on Windows or Linux becaus

[2016-12-28 06:27] bbondy commented on #6437
Although it'd be nice, it's not a priority for us short term. Would accept PRs that support it though.

[2016-12-28 07:48] thierryOrdissimo commented on #6435
Thank you, reopen a ticket. For me, actually without the automatic location, Brave is not usable by the greatest number.

[2016-12-28 10:46] educobian commented on #1648
Just happened to me.
Brave crashed and my bookmarks were lost.
windows 8.1.

[2016-12-28 11:38] srirambv commented on #5462
This is on the latest master build on Windows 10 x64
![image](https://cloud.githubusercontent.com/assets/17010094/21521135/f5897582-ccf1-11e6-8f69-e83326e48d5c.png)

cc: @bbondy @bridiver

[2016-12-28 12:10] srirambv opened #6441 "About pages shows a dot in the page load timer"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
About pages shows a dot in the page load timer

**Expected behavior:**
Should not show the dot

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Master

- Steps to reproduce:
    1. Build from master
    2. Open any about page
    3. Shows a

[2016-12-28 12:22] srirambv opened #6442 "Opening new tab shows error"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Opening about pages/new tab shows error

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
[code]

- Steps to reproduce:
    1. Build from master
    2. Open a new tab, shows error in browser console
    3. Open about:about and click on any ab

[2016-12-28 13:14] jkup commented on #6437
On first take everything appears to be working. I'll play around with it this weekend and either close or submit a PR.

[2016-12-28 14:24] cezaraugusto commented on #4769
@willy-b trouble with `setTabIndex` was also reported here: #6420. **TL;DR** you'd better to clone [browser-laptop-bootstrap](https://github.com/brave/browser-laptop-bootstrap) and build from there for now.

If you're blocked due to `setTabIndex` errors (and building from bootstrap can take a while), you can revert (locally) the below commits:

* `git revert 901d28cf5d752d707bd6ab2cb4351547749d609

[2016-12-28 14:33] stshank opened #6443 "GPU-related high battery use on MacBook Pro with Touch Bar"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
I was trying to figure out who was eating my battery on new MacBook Pro with Touch Bar. Apple's Activity Monitor utility reported that Brave requires high-performance GPU, which I read as the AMD discrete chip, not the integrated Intel graphics. Activity Monitor reported this requirement

[2016-12-28 17:02] bbondy commented on #6313
There's a couple problems here, our fork doesn't have the stub executable which causes one problem. I'm reverting to electron-winstaller to fix that.

But then that uncovers a bigger issue which is with us not having a squirrel aware application anymore.  This makes it so squirrel events aren't sent to our exe and also makes it so our main app executable points to braveDefaults.exe instead.  Squir

[2016-12-28 17:34] bbondy commented on #5462
@srirambv pls post a new issue in 0.13 and tag it windows only. Thanks!

[2016-12-28 17:35] bbondy commented on #6442
This is from not using the latest electron, 2.0.6 will fix this but it isn't available in prebuilt yet.

[2016-12-28 17:35] #6442 closed

[2016-12-28 17:39] privatzee commented on #6421
![image](https://cloud.githubusercontent.com/assets/22591438/21527630/8c000bea-ccfa-11e6-8f37-6cca37013726.png)

[2016-12-28 17:53] luixxiul commented on #6421
On the page,

[code]

[2016-12-28 18:08] willy-b commented on #4769
thanks for info @cezaraugusto

FYI, the setTabIndex issue on new tab open is the same as #6442 which was opened and closed this AM. will be fixed with that.

[2016-12-28 18:14] bsclifton commented on #5432
This is not a ledger bug; this is actually a bug with opening the file (not auto detecting character set).  I've updated the title and removed the ledger tag :smile:

[2016-12-28 18:24] bsclifton commented on #4102
@luixxiul if you think about the spans that are in place as tokens (instead of a block of text that must be translated as-is), you can already solve this without code changes:
[code]
(I can't copy/paste your text above, since it's in an image, but I'll try to simulate)

[code]

The variable strategy like you suggest is great- but in this case, it would be generating an HTML element (which I believ

[2016-12-28 18:25] bsclifton commented on #4102
Removing ledger tag since this is really a content / i18n issue and not something that impacts Brave Payments functionality

[2016-12-28 18:26] bsclifton commented on #5494
Issue is resolved with https://github.com/brave/browser-laptop/pull/6101, which is ready for merge (after 0.13.0 ships). Milestone is already set and is correct.

[2016-12-28 18:27] bsclifton commented on #5806
Removed ledger label; see the commit in first post for the two strings which need to be localized :smile:

[2016-12-28 18:28] jonathansampson commented on #5981
I see the same thing as @srirambv.

[2016-12-28 18:32] bsclifton commented on #6372
Removed some labels- this is more of an overall application look and feel issue (not specific to bookmarks or ledger).  It would be nice to resolve this as an example in our `about:styles` screen

cc: @jkup @bradleyrichter

[2016-12-28 18:45] bsclifton commented on #5462
This same behavior was originally reported with https://github.com/brave/browser-laptop/issues/6406

Logic was updated to get each field in a try/catch with https://github.com/brave/browser-laptop/pull/6410

@srirambv you should be able to see the error message in the console if you launch from command line.  This should help us when you create the issue and tag as 0.13 :smile:

[2016-12-28 18:49] bridiver commented on #5981
reverting https://github.com/brave/browser-laptop/commit/eb19c308523b145a2962fc7d64fb44f1e1504d7f is definitely not the right thing to do. The original code incorrectly bypassed the webpack dev server and the csp issues should be resolved in extensions.js

[2016-12-28 18:55] srirambv commented on #5462
Unable to repro after restarting from console. @bsclifton  Last time it had the same console error reported in #6442.

After relaunching shows correct info
![image](https://cloud.githubusercontent.com/assets/17010094/21529100/1703d206-cd2f-11e6-8c1d-1ece4d72d7bd.png)

[2016-12-28 18:56] dcposch commented on #5981
@bridiver sure, but https://github.com/brave/browser-laptop/commit/eb19c308523b145a2962fc7d64fb44f1e1504d7f doesn't actually run at all due to the syntax error (duplicate `let`).

not sure how that got merged.

running without the webpack dev server means you have to run `npm run webpack` after changes to the torrent extension--i don't think it affects the production build. i can try to get the To

[2016-12-28 18:56] bridiver commented on #5981
actually https://github.com/brave/browser-laptop/commit/eb19c308523b145a2962fc7d64fb44f1e1504d7f was already replaced by other code to handle the dev server and that file doesn't even exist anymore

[2016-12-28 18:58] bsclifton commented on #6437
Very cool

It seems it works great for macOS, the problem might be for folks trying on Linux (like @Sh1d0w) or Windows.  But since using yarn is optional, I think as long as it was called out in the README as experimental, we'd be OK :smile:

[2016-12-28 19:00] bsclifton commented on #1648
@educobian can you try the steps here and let me know if this resolves the issue for you?
https://github.com/brave/browser-laptop/issues/5512#issuecomment-266117565

Sometimes a crash or non-clean exit (bug, etc) can result in the session file not saving properly.

At a higher level, we're tracking an automated fix with https://github.com/brave/browser-laptop/issues/5512

[2016-12-28 19:01] bridiver commented on #5981
there are a lot of comments on this thread that are no longer relevant so I'm not sure what the outstanding issues are, but the code from https://github.com/brave/browser-laptop/commit/eb19c308523b145a2962fc7d64fb44f1e1504d7f is definitely not part of the problem because that file was removed a while ago and the webpack dev server is handled in filtering.js

[2016-12-28 19:01] dcposch commented on #5981
i'm building brave now to try out:
- clicking a magnet link
- pasting a magnet link into the URL bar
- checking for CSP errrors

is `master` the right branch to be on?

[2016-12-28 19:07] bridiver commented on #5981
yep, everything from chromium54 has been merged and `app/extensions/torrent/js/webtorrent.js` doesn't exist there. I'm pretty sure that change was already superseded by the filtering change before it was even merged into master.

[2016-12-28 19:45] cemsbr opened #6444 "Jupyter websocket authentication failed"
**Did you search for similar issues before submitting this one?** Yes

**Describe the issue you encountered:** Jupyter Notebook cannot connect to its kernel

Developer tools' console error:
[code]
Jupyter log:
[code]

**Expected behavior:**
No permanent "Connecting to Kernel" warning, as in Firefox or Chromium.

- Platform (Win7, 8, 10? macOS? Linux distro?): Arch Linux

- Brave Version (revision

[2016-12-28 19:53] willy-b commented on #4769
Okay, after doing workaround for setTabIndex issue I see the printToPDF issue.

Since for #6039 / #6385 we are switching from doing a popup "Save as" to opening the generated PDF in PDF.js, I am going to experiment with just switching that out now.

[2016-12-28 19:59] bbondy commented on #5981
I don't think the webtorrent filtering code is seeing the magnet protocol URLs at all

[2016-12-28 20:12] bridiver commented on #5981
@bbondy that is correct in some cases, but not others and I'm not sure why. Cmd-click seems to work, but normal links don't. Maybe they aren't registering as a navigation?

[2016-12-28 20:44] Sh1d0w commented on #6437
@bsclifton Afaik Travis also runs under Linux, so I don't see any benefit from switching if it will not work under it :)

[2016-12-28 21:42] Zuzu-Typ opened #6445 "Menu item's hit/clickboxes are way off when maximized"
**Did you search for similar issues before submitting this one?**
yes

**Describe the issue you encountered:**
When Brave is maximized, some of the buttons' don't have the right hitboxes

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
0.13.0 Prev5

- Steps to reproduce:
    1. Maximize Brave
    2. (try to) click on some of the items of the Brave me

[2016-12-28 21:46] Zuzu-Typ commented on #6445
For the minimize / restore buttons the hitbox is extended downwards once you've hovered over one of them.
Half of the URL-bar is cut off.
Some other icons are sometimes not clickable at all, such as the refresh, favorize and lock icons.

[2016-12-28 21:56] bsclifton commented on #6437
@Sh1d0w well, we'd definitely want to mention Yarn in the docs if we check in a yarn.lock file (especially mentioning that it's experimental), to avoid folks opening issues for it

Switching is entirely up to the programmer :smile: Travis.ci can continue to use npm

[2016-12-28 21:58] bsclifton commented on #4905
thanks, @willy-b :smile: I think we can close this issue then. The link you provided meets the needs; if we'd like to update it, we can do so there in the wiki

[2016-12-28 21:58] #4905 closed

[2016-12-28 21:59] bsima opened #6446 "Unsupported apt flavors return 403"
**Did you search for similar issues before submitting this one?**

Yes

**Describe the issue you encountered:**

After following instructions in [`linuxInstall.md`](https://github.com/brave/browser-laptop/blob/master/docs/linuxInstall.md#debian-jessie-and-ubuntu-trusty-and-xenial-amd64):

[code]

**Expected behavior:** apt should successfully pull data from the brave-apt repository

- Platform (Wi

[2016-12-28 22:05] bsima commented on #6446
After changing `stretch` to `jessie` in `/etc/apt/sources.list` for the brave-apt entry, it still fails:

[code]

[2016-12-28 22:42] srirambv commented on #5086
![image](https://cloud.githubusercontent.com/assets/17010094/21532581/703586fc-cd49-11e6-8a77-83e1c642645e.png)

This happens on any of the Linux distros which doesn't run Unity. This is on Gnome Debian

[2016-12-29 02:07] jkup opened #6447 "Ledger recovery error if fields aren't set"
**Did you search for similar issues before submitting this one?**
Yes.

**Describe the issue you encountered:**

If you try to recover your keys with either of the fields empty it causes a JavaScript error.

**Expected behavior:**

It should not cause a JavaScript error and maybe it should give the user some feedback about needing to fill in the fields.

- Platform (Win7, 8, 10? macOS? Linux distr

[2016-12-29 02:16] willy-b commented on #6447
fwiw, I believe this is fixed as part of PR #5809 , but probably simpler to do a separate fix.

[2016-12-29 02:18] jkup commented on #6447
@willy-b awesome! I think maybe for this ticket I can just set initial values for this.state.firstKey and this.state.secondKey so they don't cause JS errors because honestly it's ok if you try to recover with empty or bad data (you'll just get the regular error!)

[2016-12-29 02:24] willy-b commented on #6447
ok, I believe it fixes the JS errors too and adds tests for 1 missing key, 2 missing keys, etc, but I'll just follow whatever lead you set here. thanks

[2016-12-29 02:25] jkup commented on #6447
@willy-b no totally I think yours will fix a lot more! I just think it's best practice to set default state in components so our changes should play well together :)

[2016-12-29 02:35] bbondy opened #6448 "Update adblock library to check deserialize return value"

[2016-12-29 02:36] bbondy opened #6449 "Update TP library to check deserialize return value"

[2016-12-29 06:42] Mhynlo commented on #1546
I just started using Brave, and I came across this issue with watching any of the twitch video streams on the home page. I am noticing that the individual streams are viewable, and in some rare cases the streams are viewable on the home page.
Brave Version 0.12.15
Windows 10

I clicked around the video settings related to the html5, but never saved.... No idea how it was starting to work again. No

[2016-12-29 07:23] bbondy opened #6450 "printToPDF isn't working"
Its callback is never called, I think the renderer needs to handle the message.

[2016-12-29 07:24] bbondy commented on #4769
@willy-b I'm going to fix printToPDF in #6450 so please feel free to close this if it is done otherwise.

[2016-12-29 07:30] willy-b commented on #4769
to the best of my knowledge this is fine but for #6450 & #6442 (can't tell until those are fixed though).

thanks for taking #6450, I was working on that right now but I'm sure you'll get it faster.

(opening the payment history pdf in  PDF.js will continue in PR #6385 for MTR's issue #6039)

[2016-12-29 07:36] willy-b commented on #6450
are you replacing the use of printToPDF in #4769 or are you fixing printToPDF itself?

I'm asking because normally the webview.printToPDF method invokes the callback with two args (error, data)..
if the callback is never called, how do you get the PDF data in the renderer?

[2016-12-29 07:40] willy-b commented on #4769
actually let's leave it open until #6450 and #6442 are in so it gets another pass of testing

[2016-12-29 07:41] bsclifton commented on #6450
It may be due to this:
https://github.com/brave/muon/commit/46407b659e7513bf06a7f4f5a9b2f6627371978d#diff-a2a29fbd6a5f9747649d3c2c444dae3f

Let's try adding back in the two files that were removed

[2016-12-29 13:48] bbondy commented on #6450
I'm going to try to get webcontents.printToPDF to work

[2016-12-29 15:18] Zuzu-Typ commented on #6445
I now found out that you are able to click those formerly unclickable buttons, when opening the menu.
You can clearly see it here: [http://www.mediafire.com/file/9phwck80dm94q8i/0135.avi](url)

[2016-12-29 15:25] Zuzu-Typ commented on #6428
I'm using a german keyboard too and I don't have a problem zooming with either plus / minus key (there's two of each on the standard de-DE keyboard layout)

[2016-12-29 16:13] luixxiul commented on #3039
reported here: https://community.brave.com/t/pinned-tabs-are-duplicated-after-a-restart-of-brave/440?u=suguru

[2016-12-29 18:31] bbondy opened #6451 "Linux is not using the correct userData directory for development builds"
It currently uses the CWD instead of ~/.config/

[2016-12-29 18:33] willy-b commented on #6451
fwiw, I'm on Ubuntu LTS 14.04 and Brave uses `~/.config/brave-development for development` and `~/.config/brave` for production

[2016-12-29 18:54] bsclifton commented on #6441
I can't reproduce; I've done a full build of browser-laptop-bootstrap and I'm running latest browser-laptop.  [Per this code](https://github.com/brave/browser-laptop/blob/master/js/components/urlBar.js#L530), the "loadTime" span won't show on about pages

Closing issue- if you see it again, please use shift+f8 to load the DOM and let's get more information about the element that's being shown

[2016-12-29 19:06] bsclifton commented on #6396
Reproduced on macOS w/ latest browser-laptop-bootstrap / browser-laptop

[2016-12-29 19:13] willy-b commented on #6039
hey @mrose17, another status update:

The situation with the underlying feature (contrib stmt PDFs) being broken during Chromium54 upgrade is now mostly figured out (#4769 regression).

The remaining webview API regression that this depends on is `webview.printToPDF`.
It was broken during the Chromium54 upgrade (being fixed in #6450) and is needed (even with PDF.js change) because it generates the

[2016-12-29 21:30] Sh1d0w commented on #6451
I can confirm it is using `~/.config` directory correctly under Fedora 25.

[2016-12-29 22:41] willy-b commented on #6039
@mrose17, quick clarification:
by tomorrow you are expecting fixes for the printToPDF (#6450) and setTabIndex (#6442) muon changes that broke the original feature?

or two items you requested here?
 - the verified publisher fix (done, #6375)
 - opening the PDF in PDF.js after generating it (depends on #2714)

given the original feature is still pending #6450, #6442 you can have #6375 now but PDF.j

[2016-12-29 22:44] mrose17 commented on #6039
my expectation is whatever your comfortable with!

[2016-12-30 02:45] bcdady commented on #4877
Perhaps ironically, after some persistence and random luck permitted me to get my account logged in to twitter, I can also update that this issue also seems related to the inability to log OUT of twitter.

[2016-12-30 02:56] willy-b commented on #6450
woah, 63 chromium level files changed in a single patch file for this! (https://github.com/brave/muon/blob/9ea426b623d79450272736789d4e651669ad5230/patches/master_patch.patch)

is fixing this Electron-level API regression so complicated because Brave's Electron fork (Muon) is using a more recent version of Chromium (54) than upstream Electron?

[2016-12-30 03:26] bbondy commented on #6039
print-to-pdf is working on mac and linux on this branch: print-to-pdf
It isn't tested yet on Windows, but it might need another fix there.

The setTabIndex stuff should be resolved now with Preview7 which you'll get if you npm install now. (Electron 2.0.7

[2016-12-30 03:29] luixxiul commented on #6441
I could reproduce the error.

STR:
1. Open a new tab
2. Do not click anywhere
3. Seleft a new tab
4. Do not click anywhere

[2016-12-30 03:32] bbondy commented on #6450
It isn't as impressive as it sounds because this is just a change of an existing patch file.  A diff of a patch looks pretty deceiving.  There were a bunch of changes but definitely no 63 files worth :P

[2016-12-30 03:35] bbondy commented on #6441
I can reproduce too.
Regression range wanted, this is new since preview 5 isn't it?

[2016-12-30 03:39] luixxiul opened #6453 "Opening a new about page / page linked from about pages feels laggy"
**Describe the issue you encountered:**
Opening a new about page / page linked from about pages feels laggy.

I cannot reproduce the issue after opening the page or restarting the browser.

**Expected behavior:**
The page should instantly render the page

- Platform (Win7, 8, 10? macOS? Linux distro?): macOS

- Brave Version (revision SHA): 0c7a64d, packaged build

- Steps to reproduce:
    1. Ope

[2016-12-30 03:40] luixxiul commented on #6453
I labelled `chromium54` wondering if it was correct, so please feel free to remove it if I was wrong, thanks.

[2016-12-30 03:41] luixxiul commented on #6441
For me, yes it is.

[2016-12-30 03:45] jkup commented on #6441
@bsclifton feel free to assign to me if you are busy with other stuff!

[2016-12-30 03:49] bbondy opened #6454 "Remove node from window renderer processes"
- Uses less memory
- More secure
- Cleaner well defined code refactored to reducers in the main process

[2016-12-30 03:49] #6454 closed

[2016-12-30 04:18] willy-b commented on #6039
The print-to-pdf branch in `brave/muon`, not browser-laptop (this repo), right?

when will it hit browser-laptop?

[2016-12-30 04:23] willy-b commented on #6039
Fix in Muon doesn't mean I or many others can test it or work on it:
Muon can't be built standalone anymore (https://github.com/brave/muon/issues/132) and the setup/build for browser-laptop-bootstrap is slow and tricky (e.g. https://github.com/brave/browser-laptop-bootstrap/issues/9 )

[2016-12-30 04:31] luixxiul commented on #5731
@bsclifton since you have updated README.md on brave/muon with [this commit](https://github.com/brave/muon/commit/f26409dacf8ab75043734183ba7f09fb6d290815), this can be closed after adding the link to the repo on README.md of this repo :-)

[2016-12-30 04:38] luixxiul commented on #5731
Including update of https://github.com/brave/browser-laptop#running-inside-of-a-development-version-of-braves-electron-fork

[2016-12-30 04:43] willy-b commented on #5731
@luixxiul thanks for proposing an update of https://github.com/brave/browser-laptop#running-inside-of-a-development-version-of-braves-electron-fork -- I got stuck on that after the build scripts in Muon were invalidated with loss of `script/build.py` which was used by `npm run build`, `npm run browser-build` and a few others

[2016-12-30 04:49] willy-b commented on #5731
The [documentation in Muon itself](https://github.com/brave/muon/blob/master/docs/development/build-instructions-linux.md#building) still suggests running `./script/build.py` which doesn't exist anymore  (https://github.com/brave/muon/issues/132):
![muon-build-instructions-buildpy](https://cloud.githubusercontent.com/assets/6969859/21559799/df1df4c8-ce07-11e6-8983-36b6354c6920.png)

[2016-12-30 04:52] jkup commented on #6440
@mrose17 @alexwykoff I believe this behavior was caused by some of the muon/cr54 updates that were causing setTabIndex errors in the console. Now that @bbondy has updated browser-laptop can you try wallet creation with the latest master and see if it's still an issue?

[2016-12-30 04:53] luixxiul commented on #6313
It seems that the issue was not really solved.

On  `Appdata\Local\brave\`

![clipboard01](https://cloud.githubusercontent.com/assets/3362943/21559823/e615fb92-ce96-11e6-904d-8039d004c8a2.png)

The shortcut on Desktop links to `Appdata\Local\brave\BraveDefaults.exe`

[2016-12-30 05:15] bbondy commented on #6313
Are you sure this isn't left over from before? I'm sure it is solved for me.

[2016-12-30 05:16] bbondy commented on #6313
BraveDefaults.exe there isn't an issue btw, does it create shortcuts that are usable on your desktop?

[2016-12-30 05:17] bbondy commented on #6313
Also does it create default registry keys for default browser status on install? And on win7 prompt for UAC?  If so I don't think this file causes any harm.

[2016-12-30 05:33] luixxiul commented on #6313
Manually I deleted `AppData\local\brave` and reinstalled it as usual, with no UAC prompt (I've disabled it).

Need I uninstall from Control Panel and reinstall it?

[2016-12-30 05:37] bbondy commented on #6313
just make sure that with UAC on it will prompt for it on install on Win7, Win8 doesn't need to.  And that the desktop shortcut works. If so then this should be closed.

[2016-12-30 05:44] luixxiul commented on #6313
On Windows 10, after uninstalling, deleting the folder and reinstalling, the shortcut on Desktop is still broken.

I clicked `AppData\local\brave\Brave.exe`, `AppData\local\brave\app-0.13.0\Brave.exe` and `AppData\local\brave\app-0.13.0\BraveDefaults.exe` (which is not 0kb), but the browser did not start.

Is this a different issue maybe?

[2016-12-30 05:49] bsclifton commented on #6396
Still a problem; here's the line of code getting executed (which throws an error)
https://github.com/brave/muon/blob/master/atom/browser/extensions/atom_extension_host_delegate.cc#L60

[2016-12-30 05:57] bsclifton commented on #6313
@luixxiul this may be a different issue; we have had reports of the app not working after launch

[2016-12-30 06:00] outragedhuman commented on #4877
@bcdady I did try it several times based on your assertions, since I figured "hey, I really only need to log into this once every few days when I decide to switch accounts".

But unfortunately even multiple attempts didn't seem to do the trick. This is one case where Brave appears to be doing its job "too well" (which is fine, don't get me wrong, let's please err on the side of caution with this p

[2016-12-30 06:01] luixxiul opened #6457 "Icons on about:bookmarks are slightly unaligned"
**Describe the issue you encountered:** Icons on about:bookmarks are slightly unaligned

In the left column,

![bookmarkfoldericon](https://cloud.githubusercontent.com/assets/3362943/21560254/79566c54-ce9f-11e6-8c43-35e9fda36960.gif)

In the right column, the default icon (fa-file-o) is slightly not placed at the center

<img width="23" alt="screenshot 2016-12-30 14 49 41" src="https://cloud.githu

[2016-12-30 06:05] luixxiul commented on #6313
OK so closing it for now.

[2016-12-30 07:08] luixxiul opened #6459 "Clicking "Copy" buttons on "Backup your wallet" needs an animation"
**Describe the issue you encountered:**

<img width="276" alt="screenshot 2016-12-30 16 05 30" src="https://cloud.githubusercontent.com/assets/3362943/21560973/d019f650-cea9-11e6-9c31-cea809b74759.png">

**Expected behavior:** https://github.com/brave/browser-laptop/issues/6297#issuecomment-268046716

- Platform (Win7, 8, 10? macOS? Linux distro?):  macOS

- Brave Version (revision SHA): 0c7a64d

[2016-12-30 09:22] srirambv opened #6462 "Missing pixels at 125% - 175% DPI on Windows (and also blurriness)"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Autofill modal input fields top border missing

**Expected behavior:**
Input field should retain border when not selected

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
[code]

- Steps to reproduce:
    1. Do a clean install of 0.13.0 Prei

[2016-12-30 09:47] luixxiul opened #6463 "IME for Japanese freezes webview inside a tab"
**Describe the issue you encountered:**
If you enable IME for Japanese, hit some keys inside a input form on a page and the space key to select conversion candidates, the tab (under `webview`) freezes and accepts nothing until you close the tab.

**Expected behavior:**
It should not freeze

- Platform (Win7, 8, 10? macOS? Linux distro?): macOS

- Brave Version (revision SHA): 0c7a64d

- Steps to r

[2016-12-30 09:59] luixxiul commented on #6328
#6329 did not fix this issue:

<img width="140" alt="screenshot 2016-12-30 18 57 40" src="https://cloud.githubusercontent.com/assets/3362943/21563124/e01535f2-cec1-11e6-8663-9bf4b7b6fb69.png">

Pushing a fix.

[2016-12-30 10:24] Cepeel opened #6465 "Brave cannot be relaunched"
**Did you search for similar issues before submitting this one?**
Yes.

**Describe the issue you encountered:**
I install the latest release of the app, BraveSetup-x64.exe, and everything was running normally. After I closed the browser and tried to run it again, the app shows for a very short time (barely I can see the window) and then closes unexpectedly without an error. Any help on this?

**Ex

[2016-12-30 10:37] jonathansampson commented on #6465
@Cepeel Are you able to tell if Brave has any tabs opened (and what those tabs may be)?

[2016-12-30 10:45] luixxiul commented on #6369
Do we need QA for this?

[2016-12-30 10:45] Cepeel commented on #6465
I can't see, but right after the installation when the app worked, I closed all the tabs before closing the app.

[2016-12-30 10:46] luixxiul commented on #874
Do we need QA for this?

[2016-12-30 11:02] srirambv opened #6466 "1Password extension authorization doesn't work, asks to install extension"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
1Password extension authorization doesn't work, asks to install extension

**Expected behavior:**
Should show authorization code and enable extensions/widget

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
[code]
- Steps to reproduce:
    1

[2016-12-30 11:17] luixxiul commented on #6441
I think this displays the dot:
https://github.com/brave/browser-laptop/blob/55604ccb5289d78b0185a33a855ead6b991fb903/less/navigationBar.less#L673

Also the input area overflows, which I think is a regression.

1 Copy the URL above
2 Paste it into the URL input area
3 Hit the right arrow key

[2016-12-30 12:16] luixxiul commented on #6463
Even pasting a Japanese character into the input area freezes tab.

[2016-12-30 12:27] srirambv opened #6467 "New tab button has visible top and right border"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
New tab button has visible top and right border

**Expected behavior:**
Should not show the border around new tab button

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
[code]

- Steps to reproduce:
    1. Do a clean install of 0.13.0 Previ

[2016-12-30 12:29] srirambv commented on #6466
Dashlane widget doesn't work too even with the Windows app open.

[2016-12-30 13:12] srirambv opened #6468 "Dropdown list has thick left border"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Dropdown list has thick left border

**Expected behavior:**
Border should be same on all the sides

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
[code]

- Steps to reproduce:
    1. Open any drop down list in pref page all of them have a

[2016-12-30 14:02] bbondy commented on #6462
@cezaraugusto could you fix this, and if so put it in .13?  Thanks

[2016-12-30 15:16] srirambv opened #6469 "Flash placeholder text is missing"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Flash placeholder text is missing

**Expected behavior:**
Should show the placeholder text

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
[code]

- Steps to reproduce:
    1. Enable flash from settings
    2. Visit http://www.y8.com/games/

[2016-12-30 15:21] srirambv opened #6470 "Bookmark side bar resizes when navigating across subfolders"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Bookmark side bar resizes when navigating across subfolders

**Expected behavior:**
Should not resize when navigating across subfolders

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows x64

- Brave Version (revision SHA):
[code]

- Steps to reproduce:
    1. Create a well nested b

[2016-12-30 15:34] alexwykoff commented on #6440
@jkup wallet creation and ledger appear to be working fine. if there are no other followups related to any code cleanup, i'd say it's fine to close this.

[2016-12-30 15:43] #5731 closed

[2016-12-30 15:44] #4777 closed

[2016-12-30 15:45] bbondy commented on #6469
@bridiver is this the new expected behaviour?

[2016-12-30 15:47] #6440 closed

[2016-12-30 16:04] bbondy commented on #6463
Perhaps it is session store related? For me it is working correctly (I think, it's the first time I tried it).  It does not freeze the tab.  Maybe you can send me your session store file?

![screenshot 2016-12-30 11 03 41](https://cloud.githubusercontent.com/assets/831718/21568112/bec8aa92-ce7f-11e6-94a2-4e9916d6e834.png)

[2016-12-30 16:14] srirambv opened #6471 "Recover Wallet modal should close after successfully recovery"
**Did you search for similar issues before submitting this one?**

**Describe the issue you encountered:**
Recover Wallet modal is still shown after successfully recovered

**Expected behavior:**
Recover Wallet modal should close and go back to advanced settings modal after successfully recovery, should retain the modal only if recovery fails

- Platform (Win7, 8, 10? macOS? Linux distro?):
Window

[2016-12-30 16:15] mrose17 commented on #6471
this is by design: recovering a wallet empties the old wallet and puts the coin into your new one, which you should STILL backup.

[2016-12-30 16:15] #6471 closed

[2016-12-30 16:18] bbondy commented on #6451
This only effects development builds, updated title.

[2016-12-30 16:21] srirambv opened #6472 "URL suggestion drop down is bigger than the URL bar itself"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
URL suggestion drop down is bigger than the URL bar itself

**Expected behavior:**
Should be the size of the URL bar

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
[code]

- Steps to reproduce:
    1. Start typing for the autosuggestion dr

[2016-12-30 16:30] luixxiul commented on #6463
Please open https://github.com/brave/browser-laptop in a new tab and select the search input area here:

![clipboard01](https://cloud.githubusercontent.com/assets/3362943/21568504/98354bdc-cef8-11e6-8804-1495e4ee27b5.png)

[2016-12-30 16:32] srirambv commented on #6472
Even the back/forward dropdown is big
![image](https://cloud.githubusercontent.com/assets/17010094/21568544/6f8c3092-cead-11e6-929f-b465c9ab910b.png)
![image](https://cloud.githubusercontent.com/assets/17010094/21568553/7e5a7aac-cead-11e6-84ef-42d59a49a2b3.png)

[2016-12-30 16:55] posix4e commented on #874
You'll needf to test it on the chromium 13 build. Love to have a testy.

On Fri, Dec 30, 2016 at 2:47 AM Suguru Hirahara <notifications@github.com>
wrote:

[2016-12-30 17:03] bridiver commented on #6469
Yes, that is the flash placeholder and is identical to Chrome

[2016-12-30 17:06] luixxiul commented on #6469
@bridiver still it seems to lack the placeholder text displayed on macOS for me, "Control-click to play Shockwave Flash".

[2016-12-30 17:06] luixxiul commented on #6469
Is it what is expected?

[2016-12-30 17:10] jkup opened #6473 "Be able to get code coverage (for use with an online tool)"
## Test plan
1. `git clone git@github.com:brave/browser-laptop.git`
2. `cd browser-laptop`
3. `npm run unittest-cov`
4. you should see a very nice color coded dump of all files and their coverage

## Original issue description
Now that we have some great test tools integrated it might be cool to add a code coverage tool. As far as I know they all integrate with Travis CI and are all free for open

[2016-12-30 18:00] Paladin45 commented on #1471
I'm having the same problem. Brave 0.12.15 running on Solus 1.2.1. Video card is an old AMD FirePro V4900 workstation card. I've pasted console output below.

daryl@fusilier ~/bin/Brave-linux-x64 $ ./brave
could not parse data:  undefined
Crash reporting enabled
A Parser-blocking, cross-origin script, https://ssl.google-analytics.com/ga.js, is invoked via document.write. This may be blocked by the

[2016-12-30 18:06] #6328 closed

[2016-12-30 18:15] garrettr commented on #4792
I can reproduce this on Mac OS 10.10.5 with Brave 0.12.15. I noticed it when auto-completing entries with fuzzy matching in the address bar. The fuzzy-match query would correctly match against the URL, but the correct title for the matched URL would not be displayed.

Here's an example screenshot—notice that the titles don't match the URLs for the first two history entries:

<img width="1280" alt=

[2016-12-30 18:35] bridiver commented on #6469
it might be related to localization on windows or maybe the placeholder is just different. What do you see on Chrome if you turn on click-to-play for Flash?

[2016-12-30 18:36] bridiver commented on #6466
what version of 1pw are you using on windows? It definitely works correctly on mac

[2016-12-30 18:37] bridiver commented on #6451
@posix4e can you take a look at this?

[2016-12-30 18:39] luixxiul commented on #6469
CC @srirambv

[2016-12-30 18:49] bsclifton commented on #6466
@srirambv Dashlane has never worked on Windows, as far back as I can remember.  See https://github.com/brave/browser-laptop/issues/4138 for more info

[2016-12-30 18:51] willy-b commented on #6451
I can't reproduce this in development with yesterday's master on Linux. What Linux are you on @bbondy and what rev?

[2016-12-30 18:52] bsclifton commented on #6396
@bridiver is looking into it; this code should never be getting called

[2016-12-30 18:53] #6125 closed

[2016-12-30 18:53] #6467 closed

[2016-12-30 19:02] willy-b commented on #4769
if @bbondy's #6450 fix for `webview.printToPDF` API in `brave/muon` can't make it into `browser-laptop` by time next release with Chromium54 goes out then we should probably revert this entire feature because it will be broken.

[2016-12-30 19:09] srirambv commented on #6469
@bridiver  This is what it shows on Chrome 54. Shows text below the plugin icon
![image](https://cloud.githubusercontent.com/assets/17010094/21571061/799e9686-cec3-11e6-9013-8d1ac955df85.png)

[2016-12-30 19:17] bsclifton commented on #6441
@jkup that would be great thanks! :smile:

[2016-12-30 19:22] bsclifton commented on #6471
So leaving the screen up is intentional? kind of feels weird to me
cc: @bradleyrichter

[2016-12-30 19:27] bridiver commented on #6469
maybe localization then. Let's leave this for now until that is fixed on windows and then check back

[2016-12-30 19:28] Zhelrethas commented on #6190
I know what he is talking about, but to me the pages look a bit off white or a bit pink. Let me show you three websites on IE versus Brave. www.youtube.com www.wowhead.com and www.girlgeniusonline.com

![wowhead ie](https://cloud.githubusercontent.com/assets/24845892/21571115/9e3fa926-ce91-11e6-8e7a-1358768448f7.jpg)
![youtube ie](https://cloud.githubusercontent.com/assets/24845892/21571116/9e412e

[2016-12-30 19:49] posix4e commented on #6451
@bridiver will do next! I think i told him, about it :)

[2016-12-30 20:05] srirambv commented on #6462
Its not just the Autofill modal but the search history input also doesn't have left border
![image](https://cloud.githubusercontent.com/assets/17010094/21571861/4f381e5a-cecb-11e6-9791-cb1a715cab86.png)

[2016-12-30 20:53] #6451 closed

[2016-12-30 20:56] bbondy commented on #6451
Already grabbed it.

[2016-12-30 21:06] bbondy commented on #6463
I wonder if this could be fixed with ICU, I think we should hold on investigating until we confirm after the ICU fix.

[2016-12-30 21:06] bbondy commented on #6463
I did reproduce successfully though, thanks for the updated steps.

[2016-12-30 21:13] bbondy commented on #6450
confirmed my patch works on macOS and linux but not Windows, will get back to this soonish.

[2016-12-30 21:15] bbondy commented on #6468
@srirambv can you confirm if this is also present in 0.12.15?

[2016-12-30 21:17] bbondy commented on #6472
@srirambv can you confirm if this was a problem in 0.12.15 as well?

[2016-12-30 21:25] bbondy commented on #6453
Is it possible that your computer was building browser-laptop-bootstrap at the time? That can slow down things a lot.

I tried to reproduce with cleared session directories and I cannot. I'm going to remove from 0.13.0 for now but please re-add if you see it a lot more or if you find consistent steps.

[2016-12-30 21:31] srirambv commented on #6472
This doesnt happen on 0.12.15. Here's how it looks on 0.12.15
![image](https://cloud.githubusercontent.com/assets/17010094/21572916/cb9611b8-ced6-11e6-8506-a39211f3fc33.png)

The back/forward dropdown looks pretty same but it looks odd because of the magnified look on 0.13.0
![image](https://cloud.githubusercontent.com/assets/17010094/21572935/034b6112-ced7-11e6-9cb7-c365eab70968.png)
![image](htt

[2016-12-30 21:31] srirambv commented on #6468
Here's how it looks on 0.12.15
![image](https://cloud.githubusercontent.com/assets/17010094/21572971/53da98d2-ced7-11e6-9843-1074c159a09d.png)

Issue specific to 0.13.0

[2016-12-30 21:33] willy-b commented on #6450
sorry to pester with a question, but when does this come into `brave/browser-laptop`?

trying to figure out if I should revert the PDF statement before next release or not

[2016-12-30 21:33] bbondy opened #6475 "setTabIndex and setActive to be moved into appAction"
setTabIndex and setActive are called on the webview, it'd be better to remove that API completely and handle it through an app action.

[2016-12-30 21:41] #6307 closed

[2016-12-30 21:44] bbondy commented on #4769
It'l make it in ;)

[2016-12-30 21:47] willy-b commented on #4769
cool, I just don't want this feature (PDF stmt) to make it in if it can't be tested / is broken :-). thanks.

[2016-12-30 21:48] bbondy commented on #6462
moved this into 0.13

[2016-12-30 21:51] bbondy commented on #6450
It will be in Preview7 or anything after muon v2.0.8

[2016-12-30 22:12] alexwykoff opened #6476 "OS X spot check 0.13.0 preview 7"
## Installer

1. [x] Check that installer is close to the size of last release.
2. [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup

[2016-12-30 22:34] srirambv opened #6477 "Issues access weibo.com"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Unable to access weibo.com over https. Opening http shows certificate error

**Expected behavior:**
Should load the site properly

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
0.12.15

- Steps to reproduce:
    1. Visit weibo.com, automat

[2016-12-30 22:55] srirambv opened #6478 "Taboola.com opens only after disabling Ad/Tracker"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Taboola.com opens only after disabling Ad/Tracker

**Expected behavior:**
Should load the site homepage

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
0.12.15

- Steps to reproduce:
    1. Visit https://www.taboola.com/
    2. Home page do

[2016-12-30 23:02] bsclifton commented on #6462
caused by https://bugs.chromium.org/p/chromium/issues/detail?id=395425
I have a fix, working on incorporating it now...

[2016-12-30 23:02] bsclifton commented on #6468
caused by https://bugs.chromium.org/p/chromium/issues/detail?id=395425
I have a fix, working on incorporating it now...

[2016-12-30 23:04] srirambv opened #6479 "Windows x64 spot check 0.13.0 preview 7"
## Installer

1. [x] Check that installer is close to the size of last release.
2. [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup

[2016-12-30 23:32] srirambv commented on #6462
![image](https://cloud.githubusercontent.com/assets/17010094/21574239/6b277c98-cee7-11e6-9927-55a71df35d5e.png)
Input field highlight is not correct.

[2016-12-30 23:37] willy-b commented on #6479
since @bbondy's awesome fix for `webview.printToPDF` is in this version can you also check the payment history PDF on Windows as part of this?

[2016-12-30 23:42] alexwykoff commented on #6476
flash, spellcheck, input hitching all reported in testers channel. will create appropriate issues here if not already logged.

[2016-12-30 23:42] #6476 closed

[2016-12-30 23:47] willy-b commented on #6450
hey I can confirm this works on Linux in Preview7, but @srirambv shared a screencap of it still being broken on Windows (https://github.com/brave/browser-laptop/pull/6385#issuecomment-269774849)

[2016-12-31 00:08] luixxiul commented on #6463
I doubt if this is related with IME because the tab freezes after clicking "Edit Post" on your facebook timeline.

I'm not quite sure if this is the same issue though.

[2016-12-31 00:25] bsclifton commented on #6472
@cezaraugusto would you be able to help me check this out for 0.13.0?

[2016-12-31 00:26] bsclifton commented on #6472
Seems to also happen on macOS

[2016-12-31 00:50] bsclifton commented on #6369
@luixxiul no QA needed for this fix; it can be included with testing for the parent issue, https://github.com/brave/browser-laptop/issues/5938

[2016-12-31 00:50] srirambv opened #6480 "Close other tab causes crash"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Close other tab causes crash

**Expected behavior:**
Should close the tabs and not crash

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
[code]

- Steps to reproduce:
    1. Have multiple tabs open
    2. Right click on a tab and select clo

[2016-12-31 00:52] jkup opened #6481 "Building Brave on Windows causes generic Electron window to appear"
**Did you search for similar issues before submitting this one?**
Yes.

**Describe the issue you encountered:**
When you npm run watch && npm start on Windows it starts Brave but also opens the generic Electron window (screenshot below).

**Expected behavior:**
It should start Brave and not show the Electron window.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Win10

- Brave Version (revision

[2016-12-31 01:10] srirambv opened #6482 "Ctrl+Mouse Wheel up/down doesnt zoom in/out"
**Did you search for similar issues before submitting this one?**

**Describe the issue you encountered:**
Ctrl+Mouse Wheel up/down doesnt zoom in/out

**Expected behavior:**
Should zoom in/out accordingly

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
[code]

- Steps to reproduce:
    1. Open any site or about pages
    2. Hold the control key and

[2016-12-31 01:11] srirambv commented on #6479
Flash not loading on myspace.com, opens adobe website
Spell check not working
Ctrl+Mouse Wheel up/Down doesn't zoom in/out (#6482)
@willy-b  Still the same issue as I posted on #6385

[2016-12-31 01:11] #6479 closed

[2016-12-31 01:23] jonathansampson opened #6483 "Pinned Tabs are Present in all Windows"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Brave displays pinned tabs in ad-hoc popup windows. As a result, popup documents with a "Close window" link do not close the window, but rather than the active tab.

**Expected behavior:**
Popup windows should probably not show pinned tabs.

**Platform:** macOS/Windows

**Brave Version (r

[2016-12-31 01:25] willy-b opened #6484 "BraveSetup-x64.msi not installing Brave on Windows"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
On a Windows 10 VM, I went to Releases page for Brave browser-laptop repo (https://github.com/brave/browser-laptop/releases/tag/v0.13.0dev-Preview7)
and downloaded the Windows installer (BraveSetup-x64.msi) for Preview7.
After running the installer, I observed that Brave was not listed as

[2016-12-31 01:30] #6396 closed

[2016-12-31 01:30] willy-b commented on #6450
@bsclifton so this is only broken on Windows now.

Do you think we need to add those two files back in?

[2016-12-31 01:42] jonathansampson commented on #4877
This issue appears to no longer exist in Brave 0.13.0. Closing, but if anybody notices any further issues, please feel free to notify somebody on the team and we'll re-open for investigation.

[2016-12-31 01:42] #4877 closed

[2016-12-31 01:54] bridiver commented on #6480
I can't replicate this. Can you provide more detailed steps to repro starting from a fresh profile?

[2016-12-31 02:01] jonathansampson commented on #4758
Reported here as well: https://github.com/brave/browser-laptop/issues/4877

Good news is I no longer repro, as of Preview Build 7 of Brave 0.13.0. If you would like to help test Preview Builds of Brave, [please see these instructions](https://community.brave.com/t/volunteers-needed-beta-test-of-0-13-0-preview-7/459).

[2016-12-31 02:01] #4758 closed

[2016-12-31 02:03] jonathansampson commented on #5843
Possibly related to: https://github.com/brave/browser-laptop/issues/4877

@codrus Is Dashlane populating the form fields? If so, I believe this issue was with internal cache, rather than Twitter or Dashlane. Not your cache, by the way, but ours.

Twitter login issues appear to be resolved as of Preview Build 7 of Brave 0.13.0.

[2016-12-31 02:03] willy-b commented on #6484
`brave` is also not available from command line (`cmd`) -- pretty sure the `BraveSetup-x64.msi` is not installing Brave at all in Preview7. thanks

[2016-12-31 02:34] DivineOmega commented on #4758
I can confirm this seems to be fixed in 0.13.0. Thanks all! :)

[2016-12-31 02:48] jonathansampson commented on #5748
I believe this issue is resolved in 0.13.0. I was able to vote on a poll just now, without any issues.

[2016-12-31 02:56] jonathansampson commented on #4670
I was able to create a poll, and vote with preview build 7 of 0.13.0.

[2016-12-31 03:43] Liunkae commented on #6480
Reoccurrence of #5946?

[2016-12-31 06:14] #6472 closed

[2016-12-31 06:58] jonathansampson opened #6488 "GIFs on Twitter may cause audio indicator to flicker"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Some sites that display GIFs cause an audio indicator to be rendered in the tab. If the GIF is short enough, the indicator may turn on and off rapidly, causing the title text to jerk left and right.

**Expected behavior:**
Short GIFs should don't cause the user's attention to be diverted

[2016-12-31 07:21] bsclifton commented on #6258
Reopening after @jonathansampson found this happens when on 200% DPI.  Also there are two DPI related issues (both happening at 125%).  I'll need to dig deeper into the Electron code.  Here are the two possibly related browser-laptop issues:
https://github.com/brave/browser-laptop/issues/6462
https://github.com/brave/browser-laptop/issues/6468

My best guess at the moment is the root cause may be

[2016-12-31 07:24] bsclifton commented on #6445
@Zuzu-Typ what resolution and/or DPI are you using?  When you go to display settings for example, are you at 125%?

[2016-12-31 07:45] CliqueBait opened #6489 "Wrong tooltip text on first hover"
Getting the wrong tooltip text on first hover. Is corrected when I point away and then hover again.

I had noticed this for quite some time but couldn't see a reliable way of reproducing the bug until just now. The exact tooltip text itself seems significant so reproduce using the "Star" and "Fork" buttons at the top of this issue.

Hover over the "Fork" button until the tip text appears.Then (avo

[2016-12-31 09:24] bsclifton commented on #6450
@willy-b no- I don't think it will help. @bbondy is investigating it though :smile:

[2016-12-31 09:30] bsclifton commented on #2613
I've had this happen to me too- I know we have a closed issue for this (will update if I find it).

Typically, I've had the folder get locked and it would only be freed after a reboot or some other event (maybe trying to install / uninstall again?). Thanks for capturing the logs, @rogersachan and apologies that you ran into the issue.

[2016-12-31 09:42] bsclifton commented on #6488
Closing- I think this is a duplicate of https://github.com/brave/browser-laptop/issues/257

Please re-open if I'm mistaken

[2016-12-31 09:42] #6488 closed

[2016-12-31 09:43] bsclifton commented on #257
+1 from https://github.com/brave/browser-laptop/issues/6488

[2016-12-31 09:48] bsclifton commented on #6484
Duplicate of https://github.com/brave/browser-laptop/issues/2948; we should probably remove MSI from the page until we have a chance to update documentation. I believe it's installable via `msiexec`

[2016-12-31 09:48] #6484 closed

[2016-12-31 09:49] bsclifton commented on #2948
+1 from https://github.com/brave/browser-laptop/issues/6484

and downloaded the Windows installer (BraveSetup-x64.msi) for Preview7.
After running the installer, I observed that Brave was not listed as an installed application.

[2016-12-31 10:10] bsclifton commented on #6438
Hi @ktd99- this has recently been fixed :smile:

It was fixed with https://github.com/brave/browser-laptop/pull/6086 and will be in our next release (which should be coming soon with LOTS of other great fixes).  I'll close this as a duplicate

[2016-12-31 10:10] #6438 closed

[2016-12-31 10:25] Zuzu-Typ commented on #6445
I think I'm using 1920x1080 at 100% DPI (or whichever is the default Windows 10 setting, as I cannot access my PC for the next couple of days).
I so technically have a resolution of 3840x1080 with dual monitors, but that's just a side-note.
I wish you Lücke!

[2016-12-31 10:51] srirambv commented on #6480
@bridiver  I am not able to reproduce this on the same profile and new profile. @Liunkae  It looks like the same issue as #5946 but I cannot consistently reproduce it. Closing the issue. Will reopen if I am able to reproduce it consistently.

[2016-12-31 10:51] srirambv commented on #6480
Closing #6480

[2016-12-31 10:51] #6480 closed

[2016-12-31 10:59] srirambv opened #6490 "Brave keeps relaunching until you disable default browser check"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Brave keeps relaunching until you disable default browser check

**Expected behavior:**
Should not relaunch after closing the browser

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
[code]

- Steps to reproduce:
    1. Do a clean install of

[2016-12-31 11:05] srirambv commented on #2613
@bsclifton  This happens frequently on Windows machine when I try to manually delete the folder under `%appdata%\local`. Just sign out and sign in works, no need to do a system reboot. Generally happens when I have launched browser from command prompt and if I try to delete the folder it shows the **folder in use** message and after you close the command prompt the folder is still locked and the o

[2016-12-31 14:44] amitkumarj441 opened #6491 "Brave browser unable to re-translate the webpage"
**Did you search for similar issues before submitting this one?**
   Yes, somewhat close to #4448
**Describe the issue you encountered:**
   I tried translating our webpage: http://amitkumarj441.github.io from English to Hindi, It's able to translate in first go, but after retrieving back to English and then re-translating the same web page again it unable to translate it, even the progress bar on

[2016-12-31 15:02] amitkumarj441 opened #6492 "Missing l10n strings - Hindi"
**Did you search for similar issues before submitting this one?**
  Yes!
**Describe the issue you encountered:**
   In the new build of Brave 0.13.0, Some of the the translated Hindi strings are wrong and some of them are missing.
**Expected behavior:**

- Platform (Win7, 8, 10? macOS? Linux distro?):
  Linux: Ubuntu Studio 16.04
- Brave Version (revision SHA):
  Brave 0.13.0
- Steps to reproduce:

[2016-12-31 15:44] luixxiul commented on #6477
On the 4th step I got redirected to `http://overseas.weibo.com/`

[2016-12-31 19:07] #6450 closed

[2016-12-31 19:21] willy-b commented on #6450
sweet! one last question -- do you know what tag/release for `brave/browser-laptop` will have https://github.com/brave/muon/commit/465539ead14fb035185ff6aff6492eff14420348 in it?

[2016-12-31 19:29] willy-b commented on #2948
hey @bsclifton, I want to confirm what you suggested in #6484 , using msiexec from commandline works.

Specifically, opening `cmd` as Administrator, and running `msiexec /i BraveSetup-x64.exe` will install Brave properly.

[2016-12-31 19:53] bbondy commented on #4769
This was committed so next preview should have it in (even maybe some platforms current preview), so closing because I think there's nothing remaining here.

[2016-12-31 19:56] bbondy commented on #6483
Moving to .13.1 because I think this has been there always and we're only accepting introduced from  .12.15 regressions at this point for this release.

[2016-12-31 19:58] bbondy commented on #6440
Whenever closing, if no code lands please remove label, I did it this time though. Thanks!

[2016-12-31 20:02] willy-b commented on #4769
let's keep it open until those last Muon changes actually hit `browser-laptop` and can be tested -- there might be a regression or who knows, right?

[2016-12-31 22:11] da2x commented on #6241
I’m using the latest version of Brave, and I’m having the exact same issue.

I made a quick video to demonstrate the issue: https://youtu.be/X6dMXcowi-g

[2017-01-01 15:09] bbondy commented on #6450
Preview8 and 0.13 release will have it.

[2017-01-01 15:11] bbondy commented on #2948
Note that the MSI is not meant to be a general installer, it should be the same as Slack though and meant for network installs for admins:
https://get.slack.help/hc/en-us/articles/212475728-Deploy-Slack-via-Microsoft-Installer

[2017-01-01 15:13] bbondy commented on #4769
Sorry I should have explained the process better that we follow for QA. When the coding is complete they should be marked completed and QA works off of bugs that are in the completed state to verify them.

[2017-01-01 15:13] #4769 closed

[2017-01-01 16:13] bsclifton commented on #6258
I removed the code and it didn't fix the issue... but the fact that it's still shows the borders means there's another bug (which may be the actual root cause for what I was trying to solve in the muon commit above).  Got some debug statements in there, gonna hunt it down :smile:

[2017-01-01 16:14] bbondy opened #6494 "Change from bbondy/abp-filter-parser-cpp brave/ad-block"
bbondy/abp-filter-parser-cpp was moved to brave/ad-block.

Also the following files were renamed:

Brave adblock client changes:
repo: bbondy/abp-filter-parser-cpp -> brave/ad-block
file: ABPFilterParser.cpp -> ad_block_client.cc
file: ABPFilterParser.h -> ad_block_client.h
file: filter.cpp -> filter.cc
file: cosmeticFilter.cpp -> cosmetic_filter.cc
file: cosmeticFilter.h -> cosmetic_filter.h
file

[2017-01-01 16:15] #6494 closed

[2017-01-01 16:35] bsclifton opened #6495 "New tabs say "about:blank" until loaded (window.opener issue in renderer)"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Opening anything in a new tab (middle click on links, etc) shows "about:blank" for about two seconds until the page loads and then finally updates to what it should be.

**Expected behavior:**
The tab should set the title to the URL being opened (until the title is loaded). This would be

[2017-01-01 16:35] bsclifton commented on #6495
@bridiver is this one you can check out? I know these codepaths were all ones that were recently updated

[2017-01-01 16:51] #6448 closed

[2017-01-01 16:51] #6449 closed

[2017-01-01 17:05] bsclifton commented on #4769
@willy-b what @bbondy said :smile: You can watch this issue and see the QA labels that get attached.  If everything works out fine, you'll see it get tagged like so:
![screen shot 2017-01-01 at 10 03 22 am](https://cloud.githubusercontent.com/assets/4733304/21582145/c116b556-d009-11e6-8382-778da261c3c4.png)

[2017-01-01 17:50] bbondy commented on #6495
@bsclifton is this present in 0.12.15 as well?

[2017-01-01 17:55] bbondy commented on #6490
The always check on startup switch I don't think would have any effect on this.  I tried to reproduce on Windows 10 with 0.13.0 preview7 with a clean profile but it doesn't restart for me. @srirambv could you test a little more to confirm you can remove the correlation of default browser since I don't think it's related?

[2017-01-01 17:56] bbondy commented on #6490
Also please detail the way that you launch the browser, like is it from desktop shortcut or from a different place?

[2017-01-01 18:00] bbondy commented on #6490
Also if you're using a desktop shortcut, please paste in the shortcut properties details like the target of the shortcut.

[2017-01-01 18:24] mmilkov opened #6496 "How to change the name and run successful build"
Hello guys. I am just experimenting with Brave to see how it works and I am just curious how can I change the name from Brave to something different? What files need to be edited? I changed buildPackage.js and buildInstaller.js but without success. When I change the name in buildPackage it's make the files again in 'Brave-platform-arch' folder and the output is that it can not find some files.. I

[2017-01-02 00:07] jonathansampson commented on #6466
One observation made is that the desktop application will report any browser as having an out of date extension if that browser has not been authorized to speak to 1Password.

![image](https://cloud.githubusercontent.com/assets/815158/21583566/d14dc480-d04c-11e6-86e2-092cd3cab0e1.png)

Once the user clicks "Authorize," this status is replaced by "paired".

![image](https://cloud.githubusercontent.

[2017-01-02 00:18] Zuzu-Typ commented on #6445
Apparently the hitboxes are also corrected once you open the dropdown menu...

[2017-01-02 01:16] bkilrain commented on #6180
I'm really interested in getting some more open source contributions under my belt and I'm especially interested in Brave. Would it be ok if I gave this one a shot? I've already checked out the codebase...

[2017-01-02 04:01] bbondy opened #6497 "Re-enable ledger timer visits"
It was added here originally:
    https://github.com/brave/browser-laptop/issues/3650

But then removed here when things were still in progress:
    https://github.com/brave/browser-laptop/commit/dbc07962d92d5bf73d5b835e0f5fe01830ff1d67

It works fine though, so it should be re-enabled.

[2017-01-02 04:03] #6497 closed

[2017-01-02 04:07] bsclifton commented on #6496
@mmilkov are you just wanting to rename the executable? or you want to rebrand the entire thing?

[2017-01-02 04:08] bsclifton commented on #6180
@bkilrain absolutely :smile: I'll assign it to myself, but please give it a shot.  Let us know if you have any questions

[2017-01-02 04:12] bsclifton commented on #6490
I did encounter problems with Brave staying open if I ran from the command line and then quit.  I don't think it's closing properly in that case

[2017-01-02 04:56] bbondy opened #6498 "Convert background page to event page"
Chrome extensions API docs say that it's much  more efficient. It doesn't stay running when it isn't needed and will wake up when an event needs to be fired for  it.

[2017-01-02 04:57] #6498 closed

[2017-01-02 05:01] bkilrain commented on #6180
Ok - I just removed 'reportAnIssueMenuItem' from the codebase since it functioned exactly like 'submitFeedbackMenuItem'. I'm not sure if that was the order of the day. Also, I didn't write any tests since there aren't tests for the other menu items. If something else is needs doing, or I misinterpreted the issue comments, let me know. @bsclifton

[2017-01-02 05:20] luixxiul commented on #6180
@bkilrain please see: https://github.com/brave/browser-laptop/pull/6080#issuecomment-265650157

Also you would have to merge `reportAnIssue` and `submitFeedback` in `/app/locale.js` and `/app/extensions/brave/locales/en-US/menu.properties`.

[2017-01-02 05:31] bkilrain commented on #6180
Ahh - good catch @luixxiul... thanks.

Re: the comment you referenced - would you rather I added deep links to those menu items or is just linking to community.brave.com sufficient for submitFeedback?

[2017-01-02 06:35] charbelrami opened #6500 "'Download Again' context menu option always clears download"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Not sure if it is an issue or expected behavior.
![download-again](https://cloud.githubusercontent.com/assets/5647344/21585215/5ba22198-d0a3-11e6-9069-758c06fc8d70.gif)

**Expected behavior:**
'Download Again' should not clear previous download entry before next download is confirmed.

-

[2017-01-02 08:09] luixxiul commented on #5098
I think this has been fixed with #6153

[2017-01-02 08:09] #5098 closed

[2017-01-02 08:22] luixxiul commented on #1341
Closing this ticket due to lack info. Please leave a comment if you have the same issue yet, thanks. @shakeeltariq

[2017-01-02 08:22] #1341 closed

[2017-01-02 08:29] luixxiul commented on #6495
@bsclifton do you think this is related or similar in some way with #6453?

[2017-01-02 08:55] srirambv commented on #6490
@bbondy This happens after installation. The full video is captured here http://sendvid.com/2txeca11. After installation when the browser launches, if I close that it automatically relaunches itself because the process is not completely killed after closing. Each time it's the scenario, until I turn off the switch it keeps a process running and keeps relaunching.

As for the desktop shortcut path

[2017-01-02 13:10] bbondy commented on #6496
It's definitely possible and you're allowed if you `git grep` around enough, possibly also inside `brave/muon`. But this is not something we provide support for.  As it stands now there isn't a centralized setting for changing the name.

 Feel free to upstream though if you make things easier to change the name for and you'd like to limit the number of things you need to rebase.

[2017-01-02 13:10] #6496 closed

[2017-01-02 13:19] CliqueBait opened #6501 "Cannot select text from this textbook"
I cannot select text from this textbook so that I can copy and paste text into some Anki cards.
http://cscp.cambridge.org/4eINT/book1/?p=6
(This works for Chromium Version 55.0.2883.87 Built on Ubuntu , running on Ubuntu 16.10 (64-bit).)

This appears to be a problem specifically with mouse selecting text since I'm able to search the textbook page (with incremental highlighting) for words using Ct

[2017-01-02 14:28] luixxiul opened #6502 "Java plugin will not be available"
See: https://github.com/brave/browser-laptop/issues/3518#issuecomment-243108665

The intent of this ticket is to make it clear that Java plugin will not be available.

[2017-01-02 14:28] #6502 closed

[2017-01-02 14:33] luixxiul commented on #6450
@willy-b @bbondy would you please specify QA steps or the commit which has them in its commit message?

[2017-01-02 14:34] luixxiul commented on #4769
@willy-b would you please specify QA steps or the commit which has them in its commit message?

[2017-01-02 14:39] luixxiul commented on #4769
Also please indicate which PR has actually closed this issue (because there are several PRs which were referenced with this issue it is hard to find which one it is), thanks.

[2017-01-02 14:41] luixxiul commented on #4769
Lastly, please add `QA/no qa required` to ones which do not require QA.

[2017-01-02 14:55] luixxiul opened #6503 "Background images of the new tab should be cached or optimized"
## Updated plan, per @petemill
- have hard-coded property in wallpaper JSON that specifies if image is bundled.
- In browser process, start a download process when all intensive tasks have completed (perhaps when initial windows have loaded) that downloads the other images. (or if we want to be more polite, perhaps only download 1 new image every time a new tab page is opened...?)
- store in state

[2017-01-02 15:16] luixxiul opened #6504 "the browser cannot be relaunched on Windows 7"
**Did you search for similar issues before submitting this one?** Yes, sorry if this is duping though.

**Describe the issue you encountered:**
There are several reports that the browse cannot be relaunched on Windows 7.

https://community.brave.com/t/brave-wont-open-after-december-15-windows-7-update/418
https://community.brave.com/t/browser-window-disappears-at-launch-after-latest-update/118
htt

[2017-01-02 15:34] luixxiul commented on #3025
FWIW: https://github.com/electron/electron/issues/5672

[2017-01-02 16:43] srirambv commented on #5490
Icon disappears momentarily after showing the insecure icon and right before the page content is loaded
Brave	0.13.0
rev	0c7a64d
![5420](https://cloud.githubusercontent.com/assets/17010094/21592986/7f5f0a94-d10a-11e6-9ecd-7e753e5e8096.gif)

[2017-01-02 17:21] srirambv opened #6505 "URL Text is low compared to other URL bar items"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
URL Text is low compared to other URL bar items

**Expected behavior:**
All URL bar/titlebar elements should be properly aligned

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.13.0
rev	0c7a64d

- Steps to reproduce:
    1. Enter UR

[2017-01-02 17:24] charbelrami commented on #6500
Just the history

[2017-01-02 17:28] willy-b commented on #4769
@luixxiul the changes which fixed this are @bbondy's from #6450:

In Preview7, already tested:
- https://github.com/brave/muon/commit/9ea426b623d79450272736789d4e651669ad5230 in `brave/muon` fixed `webview.printToPDF` everywhere but Windows (this was in Preview7, I can confirm this works)

**Not** in Preview7, not yet tested afaik:
- https://github.com/brave/muon/commit/465539ead14fb035185ff6aff64

[2017-01-02 18:19] srirambv opened #6506 "Files opened locally shows Secure connection info"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Files opened from system shows Secure connection info

**Expected behavior:**
Should not show any connection info for files opened from system

- Platform (Win7, 8, 10? macOS? Linux distro?):
All

- Brave Version (revision SHA):
Brave	0.13.0
rev	0c7a64d

- Steps to reproduce:
    1. Open

[2017-01-02 18:31] Liunkae commented on #1202
To prevent rogue websites from downloading tons of files, I think there should still be some sort of prompt.

[2017-01-02 18:37] Liunkae commented on #6489
I wonder if this is similar to the problem we had with tooltips on Ubuntu a while back (https://github.com/brave/browser-laptop/issues/1848#issuecomment-222416109).

[2017-01-02 18:45] Liunkae commented on #6425
I am able to see folders in the dropdown.
![image](https://cloud.githubusercontent.com/assets/19424103/21594542/4c770cec-d0e9-11e6-8478-6474040ae621.png)
However, I agree that there is no way to create a new folder from there.

[2017-01-02 18:49] Liunkae commented on #6492
I think we can close this since everything needs to be done on Transifex. Right now, Hindi (India) is only at 31% translated.

[2017-01-02 19:33] amitkumarj441 commented on #6492
@liunkae Seems the Hindi language package is partially packed and it takes too much time to reload the web page rather than no reflection of translated strings.

[2017-01-02 23:58] luixxiul commented on #6505
please make sure this is the same in 0.12.15

[2017-01-03 02:23] bbondy commented on #6490
OK I see, I think maybe it has to do with it auto launches after install, and maybe it gets in a bad state at that time, but not to do with default browser check.

[2017-01-03 05:09] #6466 closed

[2017-01-03 06:02] bbondy commented on #6490
@srirambv I followed the steps exactly but am not able to reproduce. I tried clearing my profile and install completely first. Are you able to reproduce again or was this a fluke? I'm wondering if you can still reproduce, could you provide more information on ways you can get it to reproduce vs ways you can get it to not reproduce?

[2017-01-03 06:07] bbondy commented on #6479
For #6385 should be working in next preview.

[2017-01-03 06:07] bbondy commented on #6479
Is there a bug for spell check not working? If not please post asap for 0.13.

[2017-01-03 06:18] #6482 closed

[2017-01-03 06:23] bbondy opened #6507 "Spell check is not working for C54"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Spell check isn't working

**Expected behavior:**
Spell check should work

- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS

- Brave Version (revision SHA):
master tip:
https://github.com/brave/browser-laptop/commit/c2fa12f1e6ad32d7af9fc9b7f95e59e166be7a04

- Steps to reproduce:

[2017-01-03 06:25] bbondy commented on #6479
I posted for it here:
https://github.com/brave/browser-laptop/issues/6507

Just wanted to ask though to make sure to always post a bug because it can very easily be lost and forgotten about especially since this one wasn't tagged with 0.13 either. Thanks!

[2017-01-03 06:25] bbondy commented on #6479
Mouse wheel is working now in next preview as well.

[2017-01-03 07:24] bsclifton commented on #6500
This is likely a limitation of the code; it probably only keeps one active instance of each URL (similar to navigation history and bookmarks). Would need to look to confirm though

[2017-01-03 07:31] CliqueBait commented on #6489
@Liunkae Yes. It seems to be the same bug. I hadn't noticed that it also affects the bookmark bar but can confirm that I can reproduce that part of the bug too.

[2017-01-03 07:40] CliqueBait opened #6508 "Pause/resume large downloads with a proper download manager"
I've been trying to download some VMs from this archive with repeated failures:
https://web.archive.org/tools/vms/windows/

The files are very large and completely fail if connectivity is interrupted. Brave should be allow the user to pause/resume downloads at any point. Connectivity problems should cause an automatic pause rather than falsely reporting "Completed" for an incomplete file.

Brave	0

[2017-01-03 07:53] NejcZdovc commented on #6501
Text selection is not working on Chrome 55.0.2883.95 (64-bit) on MacOS 10.12.2

[2017-01-03 07:56] pmkary opened #6509 "Brave is not passing the Acid 3 test."
**Did you search for similar issues before submitting this one?** yup

So while Chromium passes Acid 3 test perfectly:
<img width="676" alt="screen shot 2017-01-03 at 11 21 31 am" src="https://cloud.githubusercontent.com/assets/2157285/21602233/24e91b2a-d1a7-11e6-91e4-58297df96d59.png">

Brave can't:
<img width="680" alt="screen shot 2017-01-03 at 11 21 07 am" src="https://cloud.githubusercontent.

[2017-01-03 09:19] bogas04 commented on #6109
Any progress on this ? Can we move it to the Project Board ?

[2017-01-03 10:54] mmilkov commented on #6496
@bsclifton yes, I want to rebrand it. But I want only to edit the  really necessary files like buildPackage.js, nsi file..

[2017-01-03 11:53] srirambv commented on #6505
@luixxiul Its pretty much same on 0.12.15 but the characters looks clipped on Windows in 0.13.0 build. This is how 0.12.15 is on windows
![image](https://cloud.githubusercontent.com/assets/17010094/21606999/266c6246-d1ab-11e6-83ad-d376c64c1890.png)

[2017-01-03 11:56] srirambv commented on #6109
@bogas04  Added [here](https://github.com/brave/browser-laptop/projects/1#card-1247247)

[2017-01-03 13:22] DivineOmega commented on #6022
Unfortunately this issue is still present in Brave v0.13 Preview 7.

[2017-01-03 13:41] DivineOmega commented on #5513
I can confirm that in Brave v0.13 Preview 7, toggling the hardware acceleration option and restarting the browser has no effect on the blank page problem (Linux ATI open source driver, Ubuntu 16.04 LTS).

[2017-01-03 13:53] bbondy commented on #6450
It passes if this passes:
https://github.com/brave/browser-laptop/issues/4769

So I'll mark this as no qa needed.

[2017-01-03 14:04] bbondy commented on #6500
Multiple would be supported but I'm pretty sure Chrome does the same with only keeping one when you redownload, presumably the first one is no longer useful which is why you're re-downloading. The bug though is that the cancel button is pressed and yet we still clear.

[2017-01-03 14:21] srirambv opened #6510 "Adding bookmarks creates multiple entries(Intermittent issue)"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Adding bookmarks creates multiple entries

**Expected behavior:**
Should only create one bookmark entry

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.13.0
rev	0c7a64d

- Steps to reproduce:
    1. Open bookmark manager in normal t

[2017-01-03 14:23] luixxiul commented on #6465
Let me closing this in favor of #6504

[2017-01-03 14:23] #6465 closed

[2017-01-03 14:23] luixxiul commented on #6504
There are several reports too in #6465

[2017-01-03 15:12] srirambv opened #6511 "Session tab/private tab icon and text is too spaced out"
## Test plan

https://github.com/brave/browser-laptop/pull/6900#issue-203781822

<hr>

**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Session tab/private tab icon and text is too spaced out

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.13.0
rev	0c7a64d

- Screenshot if needed:

[2017-01-03 16:04] bbondy commented on #6507
This seems to be ICU related, everything seems to be working correctly except for the word iterator doesn't find any words even know there is text.    This can probably be closed when ICU is fixed.

[2017-01-03 16:21] bsclifton commented on #5513
@DivineOmega there are definitely a few issues; some folks aren't even able to see the UI when launching (and they may benefit from this).  The folks experiencing issues with Linux ATI drivers may be running into a different issue for which is being tracked here (and there are some proposed work-arounds):
https://github.com/brave/browser-laptop/issues/1471

[2017-01-03 16:22] bbondy commented on #6495
@bsclifton could you confirm what I see?
- In both .12.15 and .13 they load in the same amount of time
- In .12.15 it used to show the url of the page first
- In .13 it shows about:blank instead of the URL of the page first.

[2017-01-03 16:27] bbondy commented on #6510
Is this also present in .12.15?

[2017-01-03 16:36] srirambv commented on #6510
No doesn't happen on 0.12.15

[2017-01-03 16:37] bsclifton commented on #6496
@mmilkov ah ok.  If you wanted to compile a list of places where "Brave" appears and then make an issue to make the product name configurable (including your findings), I think that would be reasonable :smile:

[2017-01-03 16:38] diracdeltas commented on #6495
On OS X 0.13, I only see this bug if I cmd-click to open in a new tab. If I right click to open in a new tab from the context menu, it doesn't seem to happen

[2017-01-03 16:39] bsclifton commented on #6495
@bbondy that is 100% correct; I tested again right now to verify behavior

The 0.13 build can "feel" longer, but it's roughly the same.  Like @diracdeltas mentions, it only happens with cmd+click (or in my case, middle click)

[2017-01-03 16:41] bsclifton commented on #6495
@luixxiul yes- I think that may be related.  Do you actually see a time difference? or does it just appear to be laggy (because you don't see any result until page is loaded)?

[2017-01-03 17:23] bsclifton commented on #6498
I wasn't sure what this was so I had to look it up:
https://developer.chrome.com/extensions/event_pages

Has to do with how the extension is loaded (in our case, the Brave extension)

[2017-01-03 17:30] bbondy commented on #6495
this seems to be the same as what Chrome does but in the new tab Chrome displays untitled instead of about:blank, how does that sound as a fix here?

[2017-01-03 17:36] srirambv opened #6512 "Opening bookmarked items in session tab doesn't show the orange star in URL"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Opening bookmarked items in session tab doesn't show the orange star in URL allowing to add it as a duplicate bookmark which could lead to #6510

**Expected behavior:**
Should show the orange star in URL bar when a bookmarked item is opened in session tab

- Platform (Win7, 8, 10? macOS?

[2017-01-03 18:22] srirambv opened #6513 "About pages favicon changes when popup tabs is closed before loading"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
About pages favicon changes when popup tabs is closed before loading

**Expected behavior:**
Should not change the favicon of about pages irrespective of when the popup tabs are closed

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Have no

[2017-01-03 18:50] newmanea opened #6514 "New plugins / extensions (Boomerang and Scrum for Trello)"
Can you add support for Boomerang for Gmail and Scrum for Trello? I did not see those extensions added in the "project" for new extensions to support.

Thanks!

[2017-01-03 18:59] srirambv commented on #979
http://beta.speedtest.net works with disabling FP on the latest version. Closing #979

[2017-01-03 19:20] diracdeltas commented on #6495
+1 for 'untitled' as the provisional title.

[2017-01-03 19:47] josiah-keller commented on #6509
The red text there is a link (selector `a#linktest`).  You can see that test 48, from lines 1885 to 1898 of the page source, adds the link to the DOM, sets its href, and navigates an iframe to the same URL.  The CSS rules for that link are supposed to make it colored white when the link is visited, so you can't see it.  So the problem is that Brave does not respect the visited color.  This is (I'm

[2017-01-03 19:59] srirambv opened #6515 "Can't enable push notifications on Repubblica.it"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Can't enable push notifications on Repubblica.it

**Expected behavior:**
Should be able to enable push notifications on Repubblica.it

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
0.12.15

- Steps to reproduce:
    1. Visit https://notifi

[2017-01-03 20:32] srirambv commented on #3740
Similar issue on Repubblica.it. Video loads when 3P cookie is enabled.
![video3pc](https://cloud.githubusercontent.com/assets/17010094/21622066/aa740876-d1f3-11e6-8bf2-27e485500cc4.gif)

[2017-01-03 20:33] srirambv commented on #6109
Closing  #6109 as IETab extension added in projects.

[2017-01-03 20:33] #6109 closed

[2017-01-03 20:36] tleger1958 commented on #1002
Thank you!
And the new version is very appreciable.

[2017-01-03 20:59] bsclifton commented on #6495
also +1 for untitled :smile:

[2017-01-03 21:03] tleger1958 opened #6516 "What about a french version?"
Hello everyone.

I don't know if the "Issues" category is appropriate, but I would like to share with you a project idea.

Would it be possible to make a French version of Brave? How could this happen in the organization of the code?

I am very motivated to translate, and I think some other people can also be. I can already translate the description.

As for the code, is it necessary to create a s

[2017-01-03 21:12] bradleyrichter opened #6517 "stray blue dot in URL bar upon new-tab, before tab focus"
![image](https://cloud.githubusercontent.com/assets/13509546/21623103/b639de12-d1b5-11e6-8a9a-82af10f5bede.png)

13.0 preview 7 on mac

[2017-01-03 21:25] srirambv commented on #6516
Does this help. Change browser language to French
![image](https://cloud.githubusercontent.com/assets/17010094/21623571/ea1b839e-d1fa-11e6-90aa-8d334f27144d.png)
You can contribute any missing translations [here](https://www.transifex.com/brave/brave-laptop/)

[2017-01-03 21:27] srirambv commented on #6517
Same as #6441

[2017-01-03 21:36] bradleyrichter commented on #6517
I even tried to search first! damn...

[2017-01-03 21:36] #6517 closed

[2017-01-03 21:40] bradleyrichter commented on #6505
windows is low. here is mac with 0.13.0 p7

![image](https://cloud.githubusercontent.com/assets/13509546/21624060/302a2c8c-d1ba-11e6-884f-5842440a5176.png)

[2017-01-03 21:45] pmkary commented on #6509
Yeah as you mentioned [all browsers have this rule to protect the privacy](https://stackoverflow.com/questions/21871515/javascript-find-the-colour-of-link) but why Brave fails this is something very strange to me because they both share one core and this is very strange to get multiple results

[2017-01-03 22:13] alexwykoff commented on #2771
Still an issue in 0.13.0

![add_bookmark_folder_left](https://cloud.githubusercontent.com/assets/1434040/21625067/7ed15904-d1cf-11e6-9c7d-c9355f8eb711.gif)

[2017-01-03 22:24] tleger1958 commented on #6516
I want to commit suicide. Why I did not **even** look into the settings?! Anyway, I'm glad to see that there are many languages available, and at least, I have learned how to contribute for translations.

An awkward clumsiness on my part!

[2017-01-03 22:40] bradleyrichter commented on #2771
Nice use of my novel in-screen-shot messaging approach!

[2017-01-03 23:01] bsclifton commented on #6516
@tleger1958 no worries :smile: Super glad you found it

If you notice any issues with the French translations or would like to be involved with them, please check out our documentation on how to get setup with Transifex (which @srirambv linked you to above)
https://github.com/brave/browser-laptop/blob/master/docs/translations.md

I'll go ahead and close this issue out, but please let us know if yo

[2017-01-03 23:01] #6516 closed

[2017-01-03 23:15] willy-b commented on #6450
Happy to help test this on Linux and Windows -- Do you know when Preview8 is coming?

[2017-01-03 23:15] bradleyrichter opened #6518 "show search icon during page load"
See the empty spaces in the following GIF movie:

![slow_url_icons](https://cloud.githubusercontent.com/assets/13509546/21626679/5f47ec36-d1c7-11e6-9732-e74e37c9b226.gif)

[2017-01-04 00:03] posix4e commented on #6446
it's currently mispelled as jesse . It will be fixed in the next release (and nightly should work)

[2017-01-04 00:04] posix4e commented on #6209
We haven't release i386 yet

[2017-01-04 00:04] posix4e commented on #2387
For now they are still required. They will be pulled soon though!

[2017-01-04 00:04] #2387 closed

[2017-01-04 03:11] luixxiul commented on #6509
So this should be duping to #512

[2017-01-04 03:11] #6509 closed

[2017-01-04 04:50] luixxiul commented on #6511
This should be fixed after #5918 is merged /cc: @cezaraugusto

[2017-01-04 05:07] luixxiul commented on #5470
We've got another report: https://community.brave.com/t/issue-with-right-click-and-video/528?u=suguru

[2017-01-04 05:36] luixxiul commented on #6505
@srirambv I'm away from Windows so I cannot confirm but it seems that the font-family applied to the area is different between 0.12.15 and 0.13.0.

[2017-01-04 05:37] luixxiul commented on #6505
`s` and `g` seem to be curved a little bit

[2017-01-04 05:53] luixxiul commented on #4402
Another request: https://community.brave.com/t/moving-tabs-from-one-browser-window-to-the-next/529?u=suguru

[2017-01-04 05:59] Liunkae commented on #6209
Has this been fixed with 24b58cd?

[2017-01-04 06:38] diracdeltas commented on #6518
fwiw the 'secure' icon will always have some lag because it should never be set until the TLS connection is confirmed to be secure.

[2017-01-04 07:49] pmkary commented on #6509
@josiah-keller so judging by the issue number of #512 it's one old problem with visited links.

[2017-01-04 10:47] SillonBono commented on #3756
Having a configurable proxy option is a must. Having the possibility to configure multiple proxies and switch to them either by site list or by drop down menu would be icing on the cake.

Most organizations use a proxy for web browsing and many use multiple proxies.

[2017-01-04 13:41] bbondy commented on #6512
bookmarks are considered different if they exist in different sessions.  So for example you could create a bookmark when logged in with twitter user A and twitter user B and they would lead to each version of the page.  So this is by design.

[2017-01-04 13:41] #6512 closed

[2017-01-04 15:11] cezaraugusto commented on #6511
yes all content inside tab was changed there, also dynamic items such as private and play icons are now displayed on right position instead of left.

[2017-01-04 16:03] Zuzu-Typ commented on #6445
Here's a gif of the other hitboxes
![honeycam 2017-01-04 17-00-47](https://cloud.githubusercontent.com/assets/20467351/21648790/7f6d612a-d29f-11e6-89a6-eafe634cc736.gif)

[2017-01-04 16:12] alexwykoff opened #6520 "Chromedriver is not starting on Windows for automation"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
While attempting to run automation on my Windows VM, the tests all failed with a consistent issue:
"Error: ChromeDriver did not start within 5000ms"

**Expected behavior:**
ChromeDriver should start and the tests should run appropriately.

- Platform (Win7, 8, 10? macOS? Linux distro?):
T

[2017-01-04 16:33] Zuzu-Typ opened #6521 ""Brave starts with Dashboard" incompatible with "A new tab shows Blank page""
**Did you search for similar issues before submitting this one?**
I did a quick search

**Describe the issue you encountered:**
Brave doesn't always start the Dashboard, even though it is selected in the preferences.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave 1.13.0dev RC5

- Steps to reproduce:
    1. Go to about:preferences
    2. selec

[2017-01-04 16:59] srirambv opened #6522 "WhatsApp Web doesn't work on 0.13.0 build"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
WhatsApp Web doesn't work on 0.13.0 build

**Expected behavior:**
User should be able to scan QR code and open whatsapp web

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.13.0
rev	0c7a64d
Verified on 0.12.15 works fine

- Steps to

[2017-01-04 17:06] bradleyrichter commented on #6518
@diracdeltas That will be fine. The biggest problem here is the empty space related to the search icon.

[2017-01-04 17:29] srirambv commented on #5981
Seeing this error on 0.13.0 Preview 7

![image](https://cloud.githubusercontent.com/assets/17010094/21652088/26e35466-d2a3-11e6-926a-223aa2cd0748.png)

[2017-01-04 18:37] bridiver commented on #5981
why is the page trying to connect to example.com? The only reference I see to that is in a comment

[2017-01-04 18:44] mmilkov commented on #6496
@bsclifton Okay, I am trying to do it, but without success.. I am just editing the buildPackage.js and change every "Brave" to "Brav" but when I run "npm run build-package" I got:
[code]

Can I have a little help? Thanks :)

[2017-01-04 18:49] bridiver commented on #6495
this will happen for all renderer initiated navigations and that includes cmd-click. It happens because the renderer controls the actual navigation to the url and that doesn't happen until the webview is attached and we allow the webcontents to resume loading. In the past we displayed the `delayedLoadUrl`, but I believe @diracdeltas removed that because of a spoofing vulnerability

[2017-01-04 18:54] srirambv commented on #5981
![image](https://cloud.githubusercontent.com/assets/17010094/21654826/288d0f62-d2af-11e6-9c24-c788b68fafd2.png)

[2017-01-04 19:06] vkidd commented on #4694
As of 0.12.15 the behavior seems to have changed. I was able to use Asana just fine for a few hours yesterday, but today it's back to the reload loop.
![screenshot 275](https://cloud.githubusercontent.com/assets/620007/21655191/d8228660-d26d-11e6-8941-302fd380e22a.png)

[2017-01-04 19:30] bbondy opened #6523 "Make copyImage use chromium's impl instead of our own"
We currently copy an HTML snippet to the clipboard with a data URL. We should just tie into chromium's impl so we also get the DIB format to the clipboard.

[2017-01-04 19:44] diracdeltas opened #6524 "some certificate fingerprints cause decoding error"
reported by eric lawrence:
![image uploaded from ios](https://cloud.githubusercontent.com/assets/549654/21656481/31fcded6-d2b6-11e6-8b1a-a741861a3c36.jpg)

[2017-01-04 19:45] willy-b commented on #6450
got `browser-laptop-bootstrap` integrated build with Muon working and can confirm #4769 is working on Linux with @bbondy's latest changes.

[2017-01-04 20:21] willy-b commented on #2714
Took a look at this.
Good news: this seems to be a XHR cross-origin issue. Bad news: changing extension permissions didn't seem to fix it (for me) (see next comment).

I compared Google Chrome, where PDF.js can open local PDFs, with Brave.

You can run something like the following in both browsers to see difference  (from debugger during page load to ensure same context for good measure):
[code]

[2017-01-04 20:27] willy-b commented on #2714
**There seem to be two general possibilities to me:**
(1) There a difference in permissions granted to extension -> check `manifest.json`
(2) There are differences in Muon/Chromium in how the cross-origin XHRs are handled (also possible)

**(1) Differences in permissions / configuration of extension?**
I checked `manifest.json`, tried granting every permission and compared everything.
I couldn't f

[2017-01-04 20:40] alexwykoff opened #6526 "Flash control is not displaying for VMware vSphere web client"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
A user from support has reported that despite allowing flash in preferences, they are not shown the control in the vSphere web client.

**Expected behavior:**
The control should be readily accessible.

- Platform (Win7, 8, 10? macOS? Linux distro?):

- Brave Version (revision SHA):

- Ste

[2017-01-04 21:21] bsclifton commented on #6511
@cezaraugusto can you rebase your commit and also reference this one as one that'll be fixed using auto-closing keywords? :smile:

[2017-01-04 21:32] bsclifton commented on #6496
@mmilkov if you choose to not change anything, does that happy-path work?  There are a few steps on our wiki that you'll need to follow to get it working
https://github.com/brave/browser-laptop/wiki/Packaging-for-bundles,-installers,-and-updates

[2017-01-04 22:16] mmilkov commented on #6496
@bsclifton yes without changing them is working like a charm :) Can you try it? Thanks

[2017-01-04 22:37] jkup opened #6527 "Convert font sizes to relative units"
**Did you search for similar issues before submitting this one?**
Yes.

**Describe the issue you encountered:**
This should just be the parent issue, as we move font sizes from pixesl to rems and ems we should track each component or each less file separately.

**Expected behavior:**
In order for us to easily allow users to scale the UI up and down we should use relative sizing units instead of pi

[2017-01-04 23:00] bsclifton commented on #4302
Some quick thoughts while it's fresh:
- We should be able to detect the OS settings via Electron/Muon
- We could then expose these via the BrowserWindow object. Maybe an event like "onEnteringHighContrastMode".  We could also expose the object/color mapping via properties on the BrowserWindow object.
- browser-laptop would then respond to this; we would want to respect the values specified by the

[2017-01-05 01:26] jkup opened #6528 "Split PaymentsTab into its own component"
This relates to both https://github.com/brave/browser-laptop/issues/3717 and https://github.com/brave/browser-laptop/issues/5887. In order to unit test the changes mentioned in https://github.com/brave/browser-laptop/issues/5887 it's easiest to split it out into its own component.

[2017-01-05 01:45] bradleyrichter opened #6530 "Add extensions panel to About:Preferences"
## Test plan
See https://github.com/brave/browser-laptop/pull/8065

## Original issue description
To increase awareness of Brave's extension support, and to funnel new extension requests, a new prefs panel will be created.

features:
- all brave extensions will appear in a sortable list, sorted alphabetically by default
- each extension can be enabled/disabled with a switch at the right side
(this

[2017-01-05 02:27] willy-b commented on #6530
Any possibility to control other extension permissions in this or future mockups?

In Google Chrome, incognito mode / file URL permissions controls are exposed in their panel:
![extensionsoptionsingooglechrome](https://cloud.githubusercontent.com/assets/6969859/21667137/52c46acc-d2ab-11e6-9360-7d7e8f1bfd5a.png)

(you might do it in your popup menu or elsewhere, but the functionality is useful)

[2017-01-05 03:26] da2x commented on #5371
This just happen again.

Account balance hasn’t been deducted, I have an empty report/receipt for the month, ledger hasn’t been reset, and I got a toolbar notification saying my contributions have been processed. There haven’t been a release since this was fixed, but I wanted to update the record of this bug all the same.

Brave 0.12.15 on Fedora Linux.

[2017-01-05 03:47] bkilrain commented on #6180
@luixxiul @bsclifton just bumping this back on your radar. I know it's small potatoes but wondering if there is anything else I need to do to resolve this issue and get onto the next one. As I'm new-ish to open source contributions, any feedback would be greatly appreciated as well. 👍

[2017-01-05 03:49] da2x opened #6531 "Domains not displayed on my ledger shows up in payment receipt as payment recipients"
## Test Plan
1. run with LEDGER_VERBOSE=true
2. visit some sites, etc.
3. go to `about:preferences#payments`
4. some time later you'll see something that looks like the output below (sorry, it doesn't look "nice" in a variable-width font).
5. verify that things look "right" according to https://github.com/brave/browser-laptop/blob/issue-6531/app/ledger.js#L22 et. seq.

[code]

## Original issue de

[2017-01-05 03:50] kaizensoze commented on #6518
Is this just a matter of allowing the search icon to show while loading?

[2017-01-05 03:53] bradleyrichter commented on #6518
@kaizensoze I'll rename this one and add 2 more separate issues that are more specific.

[2017-01-05 03:56] da2x commented on #6531
I just noticed the opposite problem as well! My #3 site as reported by `about:config#payments` (19 views, 32m 17s) is nowhere to be seen in the payment receipt. Four out of my top 10 sites are actually missing.

[2017-01-05 04:10] kaizensoze commented on #6518
Created PR.

[2017-01-05 04:13] bradleyrichter commented on #6530
Context menu should work as weare able/need to add this type of functionality. In the future, this will change based on the ability to open the extension API.

[2017-01-05 04:16] jonathansampson opened #6533 "Extension manifest may lack permissions"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Extension manifest.json files may lack a permissions property. It is not a required property. Our current handling expects this property to exist, and intends to call `Array.prototype.join` against it. In its absense, the entire _about:extensions_ page falls apart.

**Expected behavior:**

[2017-01-05 04:21] bradleyrichter commented on #6251
@rafaelribeiro Can you let me know when you think they should unload? We can have options as well.

- after 8 hours
- after 1 day
- after 5 days

[2017-01-05 04:24] kaizensoze opened #6534 "navigation bar constantly changing"
**Did you search for similar issues before submitting this one?** Yes.
- Platform (Win7, 8, 10? macOS? Linux distro?): macOS
- Brave Version (revision SHA): 2253cc5

Is there any benefit to not always showing the navigation bar as shown when hovering over it? It constantly changing as you move your mouse around is very distracting/disorienting. If absolutely necessary, anything against minimizing

[2017-01-05 04:26] bradleyrichter opened #6535 "importing bookmarks from Safari causes strange folder structure merging"
- on Mac OS
- importing from Safari

notes from user report:

For example Bookmark/Canada/Flyfishing and Bookmark/Motorsports/Canada/Formula1. When you imported with Brave it merges all bookmarks within same folder name into one unique folder, in this case Canada is used to collect all bookmarks than is found in Safari library.

bookmarks from Travel/Canada ended up in News/Forecast/Canada.

[2017-01-05 04:57] jonathansampson commented on #6533
@bridiver Thoughts on this? Should I just wrap it, _a la_ `( … || [] ).join`, or should we ensure registered/loaded extensions always have a `permissions` property, if even an empty array?

[2017-01-05 04:58] luixxiul commented on #6534
You can disable it via `Always show the URL bar` on Preferences

[2017-01-05 05:25] kaizensoze commented on #6534
Ah ok, good to know. Thanks.

[2017-01-05 05:33] kaizensoze commented on #6534
Well in that case, what about reducing the fade time?

[2017-01-05 05:33] luixxiul commented on #6180
Setting the milestone to 0.13.1 as it will be released after ~one month when the link to zendesk was replaced to that to the community.

[2017-01-05 05:34] luixxiul commented on #6534
CC @bradleyrichter for thought

[2017-01-05 06:06] Liunkae opened #6536 "Selected text in text fields is missing Look Up in context menu (macOS-only)"
**Did you search for similar issues before submitting this one?**
Yes.

**Describe the issue you encountered:**
When right-clicking selected text in a text field on macOS, the Look Up option (dictionary definition) is not shown.

**Expected behavior:**
The Look Up option should be shown for selected text, as it is with normal text.

- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS 10.12.x

-

[2017-01-05 06:14] NejcZdovc commented on #6527
@jkup do you need any help with this one?

[2017-01-05 06:16] Liunkae commented on #45
Related to: #3343

[2017-01-05 06:16] Liunkae commented on #3343
Related to: #45

[2017-01-05 07:07] CliqueBait commented on #5076
Issue raised again by a user in the brave community:
https://community.brave.com/t/issue-with-bookmark-manager/530

[2017-01-05 07:26] jkup commented on #6527
@NejcZdovc definitely! I think the best thing to do would be to find small components that would be easy to convert and tackle them one at a time. It would also work nicely with our conversion to [Aphrodite](https://github.com/Khan/aphrodite) for styles (see https://github.com/brave/browser-laptop/blob/448604f08aa1f6d01708a4fd76aad1a807c6602b/app/renderer/components/tabIcon.js as an example).

If

[2017-01-05 07:26] luixxiul opened #6537 "URL autocomplete should offer the option of only completing the hostname"
**Describe the issue you encountered:**

https://community.brave.com/t/url-autocomplete-from-history-should-offer-the-option-of-only-completing-the-hostname/548?u=suguru

**Expected behavior:**

- Brave Version (revision SHA): master branch

- Any related issues:

[2017-01-05 07:41] NejcZdovc commented on #6527
@jkup sure let's do this :smiley:

[2017-01-05 11:22] srirambv opened #6538 "Flash not working on Webkinz.com/"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
From community https://community.brave.com/t/having-trouble-with-flash/552

I have allowed the website to run flash, and it still comes up that I don't have the correct version of flash player. I have tried reinstalling flash over, and over, a n d o v e r. The website still doesn't see it

[2017-01-05 12:25] srirambv opened #6539 "Ads not blocked on adf.ly links"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Ads not blocked on adf.ly links

**Expected behavior:**
Should block all ads

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10

- Brave Version (revision SHA):
0.12.15
Brave	0.13.0
rev	0c7a64d

- Steps to reproduce:
    1. Visit http://adf.ly
    2. Enter any URL to shorten it

[2017-01-05 12:31] srirambv commented on #4574
Same as #3837

[2017-01-05 14:46] luixxiul opened #6540 "Opening a link causes a crash"
**Describe the issue you encountered:**
Open http://xn--jp%29-5y3b.f1-live.com/f1/jp/headlines/news/detail/060912193351.shtml and the browser crashes

**Expected behavior:**
It should return `ERR_NAME_NOT_RESOLVED` like Chrome does

- Platform (Win7, 8, 10? macOS? Linux distro?): macOS

- Brave Version (revision SHA): 0.12.15

- Steps to reproduce:
    1. Open http://xn--jp%29-5y3b.f1-live.com/f1/

[2017-01-05 15:17] luixxiul commented on #5906
Duping to #4506

[2017-01-05 15:17] #5906 closed

[2017-01-05 16:20] bsclifton commented on #6468
OK it appears this issue is NOT caused by https://github.com/brave/browser-laptop/issues/6258, since it happens when not maximized.

The possible fix I had mentioned above does work (fix being pass Brave.exe two extra params; `--high-dpi-support=1 --force-device-scale-factor=1`)... but it works by forcing the Brave window to render at 100% DPI. It's important to note that this fix does NOT work at

[2017-01-05 16:20] bsclifton commented on #6462
OK it appears this issue is NOT caused by https://github.com/brave/browser-laptop/issues/6258, since it happens when not maximized.

The possible fix I had mentioned above does work (fix being pass Brave.exe two extra params; `--high-dpi-support=1 --force-device-scale-factor=1`)... but it works by forcing the Brave window to render at 100% DPI. It's important to note that this fix does NOT work at

[2017-01-05 16:51] Zuzu-Typ opened #6541 "Transifex de_DE: bad translations set to 'reviewed'"
**Did you search for similar issues before submitting this one?**
no
**Describe the issue you encountered:**
The German(Germany) (de_DE) translation on Transifex contains some translations that are bad, wrong or completely out of place and still they got set to _reviewed_, meaning they can no longer be altered by the translators.
I'd like to ask you to change this **before 1.0.0**, seeing as some

[2017-01-05 16:53] Zuzu-Typ commented on #6541
I've tried contacting basically all of the people responsible / in charge of the German translation, without success, that's why I opened this issue.

[2017-01-05 17:18] alexwykoff opened #6542 "Automated test needed for benchmark runs"

[2017-01-05 18:40] tasmo opened #6543 "Add support for pass (passwordstore.org)"
[`pass`](https://passwordstore.org) is an secure and privacy aware password manager for *nix systems.

There is no usable extension for Chrome yet.

[2017-01-05 19:26] bbondy opened #6544 "Focus on urlbar or page content should be remembered per tab"
If you focus urlbar in tab 1, and content in tab 2, then tab switches should retain both of those states when you go back to the tabs.

[2017-01-05 19:28] #6544 closed

[2017-01-05 20:11] Liunkae commented on #1064
Update: With the current master (rev b288e18, 0.13.0 dev), now the Dictionary app opens with the search term "http". This behavior probably changed with Chromium 54.

[2017-01-05 20:24] jkup commented on #5748
@jonathansampson also started working for me in 0.13.0

[2017-01-05 21:37] jkup commented on #6437
Ok, here is my thinking on this.

As far as I can tell Yarn works nicely with Brave on Mac, Linux and Windows. Despite the --ignore-optional sometimes not working I think it's worth adding Yarn support to Brave. All we need to do is create and add the yarn.lock file to our codebase. We can leave npm in Travis and each individual developer can choose whether to use npm or yarn to install and build.

[2017-01-05 23:08] posix4e commented on #6437
+1!

[2017-01-05 23:27] mrose17 opened #6547 "Add a new option to right-click for history and bookmarks"
when in the "Bookmark Manager" or in "Show History", when right-clicking on a URL, add a new option: "Add to Publisher list". if selected, then the URL is given to the ledger middleware for inclusion in the "synopsis"

[2017-01-06 00:06] #6441 closed

[2017-01-06 00:09] mrose17 opened #6549 "Add some balloons!"
based on feedback from testers, it looks like we should add some tooltips to the ledger page:

part one:
![0](https://cloud.githubusercontent.com/assets/400552/21702172/dedd6550-d35e-11e6-90a2-373cd20590fe.png)

- add an (i) tooltip button after "Thanks for helping support your favorite websites!" that shows a summary of the last payment made

while we're at it, change "Only show included sites" t

[2017-01-06 00:58] mrose17 opened #6550 "the "Remove" column should not be clickable since you can't sort on it"
![0](https://cloud.githubusercontent.com/assets/400552/21703574/104756ce-d368-11e6-9db4-3f96c5a07498.png)

if you mouse over "Remove", it will underline because it's a link. it shouldn't be a link, because there's nothing to sort under it!

[2017-01-06 01:11] mrose17 opened #6551 "add a 48-hour to review notification for the ledger"
unless disabled, 24h prior to settlement, a notification is generated for the user. add a second notification at 48h, with the same options (including "no more notifications")

[2017-01-06 01:53] luixxiul commented on #6541
I think you could be a moderator there if the team adds you.

[2017-01-06 02:02] luixxiul opened #6552 "360 Total Security blocks installation"
**Describe the issue you encountered:**
360 Total Security blocks installation.

https://github.com/brave/browser-laptop/issues/924#issuecomment-232700721
https://community.brave.com/t/error-when-installing-brave-for-win10-x64/239/7?u=suguru

The issue has been existed and not resolved since months according to the reports.

**Expected behavior:**
It should not block installation.

- Brave Version

[2017-01-06 03:58] bbondy opened #6553 "Add close tab settings"
It would be nice to provide options for what to do when a tab is closed. Currently we will return to the parent tab first, and if no parent go to the next.

Cross posting from community.brave.com:

[code]

Reference:
https://community.brave.com/t/tab-focus-when-an-active-tab-is-closed-if-there-are-multiple-tabs-open/540

[2017-01-06 04:46] bbondy opened #6554 "window.setSize not working on linux"
Steps to reproduce:
1. Open up browser console with Shift+F8
2. `chrome.remote.getCurrentWindow().setSize(122, 122)`
And you'll see it doesn't resize.

Or alternative steps to reproduce:
`npm run test -- --grep="offsets from the focused window"`
And you'll see it fails, you'll have to remove the this.skip from the test first though.

Note this works in .12.15 but you have to use this code:
`requir

[2017-01-06 04:48] mrose17 opened #6555 "No contributions yet!"
As suggested [here](https://community.brave.com/t/bitcoin-payments-where-did-my-money-go/526/6): to avoid confusion for new users, when no contributions have been made yet, have other text go where the "View Payment History..." link will go after the first contribution.

<img width="850" alt="0" src="https://cloud.githubusercontent.com/assets/400552/21707882/27eafd74-d388-11e6-9c3b-cac76d5d5260.pn

[2017-01-06 04:51] mrose17 commented on #6531
what is in ledger-synopsis.json ? that is the file that records the focus-% for your browsing? are those sites there?

[2017-01-06 05:10] da2x commented on #6531
@mrose17, yes. However, they only show as recorded having one visit. I thought the absolute minimum was two visits? For example, blackducksoftware.com is recorded in ledger-synopsis.json as following:

    "blackducksoftware.com": {
      "visits": 1,
      "duration": 40423,
      "scores": {
        "concave": 2.3326962852564166,
        "visits": 1
      },
      "window": [
        {

[2017-01-06 06:42] bsclifton commented on #6490
@srirambv did you have more information about this?

[2017-01-06 07:21] bsclifton commented on #6555
What text should be shown instead of "View Payment History..."?  Simply `No contributions yet!`?

[2017-01-06 09:18] srirambv commented on #6490
@bsclifton I am not able to repro the steps now. I was able to consistently reproduce the issue at the time the defect was logged.

[2017-01-06 11:11] pluma commented on #512
This makes aggregator sites like Hacker News and Reddit harder to use because it's impossible to tell at a glance what links you've visited or not.

I'm guessing this is based on a misunderstanding of the privacy risk: although other browsers allow modifying some of the visual properties of visited links (especially color) the visited state is not exposed to the DOM (e.g. via `element.matches`) an

[2017-01-06 11:21] lukemulks opened #6556 "Ledger - Funds not updating"
**Did you search for similar issues before submitting this one?**

Yes

**Describe the issue you encountered:**

I've made 3 attempts so far to add funds to my wallet for my monthly $5 contribution. I've been making regular monthly contributions from the same linked debit card acct since 10.25.2016 w/o issue until the latest payment cycle.

-I enter the email acct used for my Brave Wallet.
-I rece

[2017-01-06 13:42] srirambv opened #6557 "Launching web.telegram.org causes page crash"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Launching web.telegram.org causes page crash

**Expected behavior:**
Should not crash and allow users to login

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.13.0
rev	0c7a64d
Works on 0.12.15

- Steps to reproduce:
    1. Visit web

[2017-01-06 15:08] cezaraugusto opened #6558 "Don't allow hidden fields to be populated with autofill data to avoid autofill phishing"
## Test plan

https://github.com/brave/browser-laptop/pull/12835#issue-291345368

----

**Did you search for similar issues before submitting this one?**
yes

**Describe the issue you encountered:**
If you use autofill data to fill in a form with hidden fields, they get populated either.

This is a security risk since unaware users can give their information to a malicious website.

**Expected beh

[2017-01-06 15:30] bsclifton commented on #6496
@mmilkov I haven't had time recently to look, but I would encourage you to make a new issue called "Make Brave re-brandable" and then put your findings (as you make them) there :smile: I've been busy with our current release and likely won't have time to help look at this until a later time

[2017-01-06 15:37] bsclifton commented on #512
@jonathansampson I know we had an issue in which we documented why this was not enabled, but I'm having trouble finding it.  Do you have any info about that?

Regardless, it would be a pretty cool optional feature (maybe allow a setting to enable, default to false).

[2017-01-06 15:42] mrose17 commented on #6555
I would say "Your first contribution will be in ..." and then use the timestamp from "Contribute due date is in ...".

yes, it's redundant, but probably worthwhile...

[2017-01-06 15:57] bsclifton commented on #6437
@jkup sounds great! :smile:

[2017-01-06 16:31] #6495 closed

[2017-01-06 16:41] luixxiul opened #6559 "Add links to our wiki to the menus"
**Describe the issue you encountered:**
Add links to our wiki (https://github.com/brave/browser-laptop/wiki) to menu.js and contextMenus.js

https://community.brave.com/t/brave-help-add-a-help-manual-module-to-brave/259

**Expected behavior:**

- Brave Version (revision SHA): 0.12.15

- Any related issues: #6499. The links would be added based on what was deleted with https://github.com/brave/brow

[2017-01-06 16:54] mrose17 commented on #6555
after hearing @bradleyrichter's thoughts, in addition to "Your first contribution will be in ..." being shown when no contribution has been made; if a contribution has been made, then before the "View Payment History..." link, it should say "Your last contribution was ..."

[2017-01-06 17:37] Zuzu-Typ commented on #6541
It's nice of you to say that, but I can't just walk up to bbondy and ask to be a moderator ... well at least not successfully.
It would be a good idea though, since all 3 reviewers of de_DE have been gone for 9 months or longer.

[2017-01-06 17:53] bsclifton commented on #6541
cc: @aekeus

[2017-01-06 21:04] 3Lies opened #6560 "Click on download to execute"
Hi, would be nice to add this feature :

(When hover on the name of a download in the bottom bar) {
    nameofdownload.setcolor('blue');
    (if click){execute download}
}

[2017-01-06 21:20] aekeus commented on #6541
@Zuzu-Typ I would be hesitant to mark all translations as unreviewed. Thanks for the feedback on the translations. Are you interested in moderator access for the German translation?

[2017-01-06 21:39] srirambv opened #6561 "Import bookmark dropdown doesn't list strings properly"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Import bookmark dropdown is messed up

**Expected behavior:**
Should show the drop down properly

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):

Name	Version
Brave	0.13.0
rev	0c7a64d

- Steps to reproduce:
    1. Launch Brave from command

[2017-01-06 21:44] jkup opened #6562 "input type text and select should have separate classes"
**Did you search for similar issues before submitting this one?**
Yes.

**Describe the issue you encountered:**
Right now @bradleyrichter cannot design our form <select> elements from our <input type="text"> elements. He needs them to have separate classes not just form control.

**Expected behavior:**
They should have shared styles but also a separate selector to make it easier for adding unique

[2017-01-06 22:11] Zuzu-Typ commented on #6541
@aekeus I do understand that - I only suggested it because I didn't know about the efforts that marking them as unreviewed one by one could have caused.

Otherwise, yes - I am very interested in becoming a reviewer (I guess that's what you meant by _moderator access_).
Thank you very much!

[2017-01-06 22:21] srirambv opened #6564 "Reimporting from bookmark HTML files causes folders to be placed after bookmarks"
**Did you search for similar issues before submitting this one?**

**Describe the issue you encountered:**
Reimporting from bookmark HTML files causes folders to be placed after bookmarks

**Expected behavior:**
Should retain the positions of the folders and bookmarks

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.13.0
rev	0c7a64d

- Steps

[2017-01-06 23:41] mmilkov opened #6565 "Make Brave re-brandable"
Hello guys. I am just experimenting with Brave to see how it works and I am just curious how can I rebrand it from Brave to something different? What files need to be edited? I want only to change building files and nsi to make built files from Brave to Brav for example and bravDefaults.exe.

I am just editing the buildPackage.js and change every "Brave" to "Brav" but when I run "npm run build-pac

[2017-01-06 23:42] mmilkov commented on #6496
@bsclifton Thanks. New issue is here https://github.com/brave/browser-laptop/issues/6565 :)))

[2017-01-07 00:05] bbondy commented on #6513
I'll take this one, the problem is we get the event in the webview before a frame is actually created, so it puts the icon on the first frame.  The fix would be to manage the data in TabHelper and handle fro the browser process.

[2017-01-07 00:13] luixxiul commented on #6541
OK then let's close this.

[2017-01-07 00:13] #6541 closed

[2017-01-07 00:20] jide commented on #1171
Hi,
I wanted to help so I tried implementing hot reload.

I tried different approches ([react-hot-loader](https://github.com/gaearon/react-hot-loader) 1 and 3), but ran into problems because the root component rendered at init [is passed initial props from ipc](https://github.com/brave/browser-laptop/blob/master/js/entry.js#L81), which makes this difficult.

I then found that hmre works without is

[2017-01-07 00:41] bbondy commented on #6513
Actually that's not needed yet, it is just because it is closed so the frame is removed.  Strange we even get that event.

[2017-01-07 01:03] luixxiul opened #6567 "Toolbar icons disappear"
**Describe the issue you encountered:**
https://community.brave.com/t/ui-problem-no-toolbar-icons/386?u=suguru

**Expected behavior:**

- Platform (Win7, 8, 10? macOS? Linux distro?): Windows 10

- Brave Version (revision SHA): 0.12.15

- Screenshot if needed:
<img src="https://cdn-standard2.discourse.org/uploads/brave/original/1X/bf5c218bf2c44caa0a0eb4c2b2c4a13895cafd6b.JPG" />

- Any related iss

[2017-01-07 01:17] jide opened #6568 "windowContainer is used as React root div id and Window component div id"
React root div id is ["windowContainer"](https://github.com/jide/browser-laptop/blob/master/app/extensions/brave/index.html#L22), and is where the `<Window/>` [root component is mounted](https://github.com/jide/browser-laptop/blob/master/js/entry.js#L82) :

[code]

But the `<Window/>` component itself renders a `<div/>` with a ["windowContainer"](https://github.com/jide/browser-laptop/blob/master/

[2017-01-07 04:38] 3Lies commented on #5727
It would be really nice to add it !

[2017-01-07 05:05] luixxiul commented on #6568
Using the same identifier multiple times must be avoided. it should be fixed keeping the tests coverage.

[2017-01-07 06:29] NejcZdovc commented on #6553
@bbondy can I tackle this issue?

[2017-01-07 09:01] jonathansampson opened #6569 "Brave not added to App Paths on Windows"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Attempting to run 'brave' from the Run dialog fails.

**Expected behavior:**
Brave, like other browsers, is callable from the Run dialog (and present in App Paths).

**Platform (Win7, 8, 10? macOS? Linux distro?):** Windows 10

**Brave Version (revision SHA):** 0.12.5

[2017-01-07 10:39] NejcZdovc opened #6571 "Closing an unloaded tab crashes the browser"
**Did you search for similar issues before submitting this one?**
No similar issue found

**Describe the issue you encountered:**
When you try to close a tab that was not loaded before (when browser is reopened), browser crashes.

**Expected behavior:**
Browser does not crash

- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS

- Brave Version (revision SHA):
361e09b

- Steps to reproduce:

[2017-01-07 16:28] osgav commented on #2184
Hey @bbondy

Fri 30th Dec

The Update Now/Later banner pops up again

I try the update today

Brave closes, does not reopen after waiting for a few minutes...

I open Brave. Still version 0.12.9

Brave menu --> Check for updates

Starts downloading update, I click View Log on the banner that pops up

Update appears to have downloaded, same banner as before now "Hello! A Brave update was just relea

[2017-01-07 20:05] Liunkae commented on #6571
Nice find! I think this is the same crash @srirambv was having earlier (#5946 and #6480).

[2017-01-07 20:14] ChrisW001 commented on #6075
Since Brave doesn't have a real support section I can ask for help from, I had to go to that "Community" messageboard where they just kept telling me to unpin it from the taskbar and repin it.  Since new users are limited in the number of comments they can make per day, I've already run out of times to say "I've been trying that for over twenty hours and it still hasn't worked."

Ok, I've changed

[2017-01-08 01:55] jonathansampson commented on #6483
+1 from Twitter:

Source: https://twitter.com/lnplum/status/817861336088637440

[2017-01-08 02:25] luixxiul commented on #2957
Another: https://community.brave.com/t/save-password-button-disappears-too-quickly/580

[2017-01-08 03:06] luixxiul opened #6576 "Can certain subdomains for payments be accepted?"
**Describe the issue you encountered:**

CC @mrose17

After I visited http://www.asahi.com some times to get the site listed on the publisher table on about:preferences#payments, the domain was changed to `http://asahi.com`, which is unreachable.

From all of the sites on the table their subdomains have been removed for a reason, which I'm not sure I actually understand. Could I know what it is, a

[2017-01-08 03:15] rickyrauch commented on #5976
Feel free to use my icon @bsclifton, I can submit a PR.

[2017-01-08 04:55] abhibeckert commented on #5979
Related, the "Example.com entered full screen mode. Press ESC to exit" message is annoying:

 * I know I'm in full screen mode – I just clicked an "enter full screen" button.
 * I know how to exit full screen – I've been doing it for years
 * The message is large and covers part of the page content and cannot be hidden, all you can do is wait for it to go away

I think the message should be remove

[2017-01-08 07:47] yannduran commented on #5589
Even with the issue of drag and drop, I can't seem to find ANY way of sorting bookmarks in a folder. Right-clicking a folder to sort the bookmarks in that folder (like in FireFox) seems to be a very basic requirement, no?

Windows: 10 (anniversary update)
Brave: 0.12.15

[2017-01-08 08:03] yannduran opened #6578 "Add Option to Open New Tab in Foreground (ie focused) Like FireFox Does"
FireFox allows you to open a **new tab**, open a **new foreground tab** and open a **new private tab**. Brave is missing the option for a new foreground tab. After using it for a while now in FF I immediately missed it when I started trying out Brave.

I don't **always** want new tabs to be focused, so I don't want to have to turn that option on, I'd rather have it off, then determine as I'm openi

[2017-01-08 08:06] yannduran commented on #271
👍

[2017-01-08 08:08] yannduran commented on #4402
👍

[2017-01-08 08:08] yannduran commented on #405
👍

[2017-01-08 08:11] yannduran commented on #2137
👍

[2017-01-08 09:30] jonathansampson opened #6580 "Icons in about:extensions may not be 48x48"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
The about:extensions page assumes images are the size they claim to be in their extension manifest file. This is not the case with all extensions (confirmed by a recent extension I was porting).

**Expected behavior:**
The about:extensions page displays extension icons as 48 pixels wide.

[2017-01-08 11:12] luixxiul commented on #6553
There are other options to be added: #2137

[2017-01-08 11:27] NejcZdovc commented on #6553
 @luixxiul Do you think that they should be part of this PR? I can add them is separate PR's. Or are you talking about close tab options directly?

[2017-01-08 13:39] luixxiul commented on #6553
@NejcZdovc No I don't think so, I just related them for references ;-)

[2017-01-08 13:46] luixxiul commented on #6553
Oh, this PR implements the setting of *closing* tabs, while in #2137 the setting of *opening* new tabs is suggested.

If this function can be implemented in a similar way, I think you're the proper person to implement it :+1: if you don't mind.

[2017-01-08 13:51] bbondy commented on #6437
+1

[2017-01-08 13:55] bbondy commented on #6437
@jkup Please also make travis do this in a PR and if it works we'll merge it in.
I think it will lock our dependencies better which would reduce the chance when we sometimes introduce a bug without changing code because of a dependency bug, this happened twice to us before with RC builds.

Also update mvim tools/cibuild.py to use yarn please and the README. Thanks.

[2017-01-08 13:58] bbondy commented on #6561
Maybe a dupe of https://github.com/brave/browser-laptop/issues/5931 ?

[2017-01-08 14:12] bbondy commented on #6569
Can HKCU be used instead?
The .nsi file seems like a good place to add this

[2017-01-08 14:14] bbondy commented on #2184
Could you try installing .12.15 on top and then report back if it happens again after that or not? Thanks.

[2017-01-08 14:15] #6367 closed

[2017-01-08 14:21] bbondy commented on #6490
I'll close this for now but if you see it again please re-open.

[2017-01-08 14:21] #6490 closed

[2017-01-08 14:57] NejcZdovc commented on #6553
Sure will implement after this closing tab PR.

[2017-01-08 15:21] jonathansampson commented on #6569
@bbondy I suspect that would work 🙂

[2017-01-08 15:49] bbondy commented on #6437
S

[2017-01-08 15:51] bbondy commented on #6437
Had to revert the PR.
I spent a couple hours on this but didn't resolve it in branch: yarn-travis.

- Adding a yarn.lock file to your repo causes travis to automatically use yarn instead of npm.
- And it doesn't seem to work at all for our project on Linux

[code]

I'm not clear if it's a bug in yarn or a bug in how electron-builder specifies its deps:
https://github.com/yarnpkg/yarn/issues/1233

[2017-01-08 15:56] bbondy commented on #6437
To fix I think we need to fork our own electron-builder and then merge this in:
https://github.com/wireapp/wire-desktop/pull/248
Build and publish it and then update our package.json

[2017-01-08 16:37] #5572 closed

[2017-01-08 16:39] luixxiul commented on #5117
Another request: https://community.brave.com/t/feature-to-allow-specific-script-to-be-executed/373?u=suguru

[2017-01-08 16:41] bbondy commented on #6437
From 2.11.0, I think changing to newer electron-builder will be more work

[2017-01-08 20:26] bbondy opened #6583 "SiteInfo dialog is not displaying for insecure connections"
Turns out to be because the localization args aren't defined yet for that case but they are used.

[2017-01-08 20:32] #6583 closed

[2017-01-08 21:04] bbondy opened #6584 "Allow scripts doesn't show a security icon"
The icon changes for both Chrome and Firefox for:
https://very.badssl.com/

because of mixed content.
Also if you allow scripts, it then shows no lock icon at all, I think in that latter case it should show an insecure icon.

[2017-01-08 21:29] bradleyrichter commented on #5976
@rickyrauch Can you post some 512 PNGs that I can test as an ICNS?

[2017-01-08 22:19] bsclifton commented on #5976
@rickyrauch what @bradleyrichter said :smile: He'll be able to help you the most.  Thanks!

[2017-01-08 22:26] bradleyrichter commented on #5976
preview next to the Mac OS competition:

![image](https://cloud.githubusercontent.com/assets/13509546/21754115/5a6a691a-d5ae-11e6-961b-f561fb1a1abb.png)

[2017-01-08 22:36] pmkary commented on #512
Now that I think #6395 is probably related to this issue. So this might be with all link styles in general

[2017-01-09 01:11] bbondy commented on #6584
I guess this is because it's an sha-256 certificate now and not because of a bug in our code.

[2017-01-09 01:37] bbondy commented on #6584
Note that originally this was posted because of a test failing, I'm going to fix the test separately , to use a site that has an sha-1.  Also this no longer blocks 0.13.0 so not a big rush for it.

[2017-01-09 02:32] bbondy commented on #6510
I tested this but it only adds 1 entry from the session tab for me.
Note that if the steps to reproduce were meant to say click add bookmark in the url bar for both tabs, then that works as expected. I'm going to remove the milestone since I can't reproduce and since this seems like an edge case, but maybe it should be closed or re-added based on ore info you provide @srirambv

[2017-01-09 02:45] bbondy commented on #6465
Does it launch if you start it directly in windows explorer from `%home%\AppData\Local\brave\app-0.12.15`?

[2017-01-09 03:46] bsclifton commented on #6075
@ChrisW001 Apologies that Brave isn't working as intended.  Please understand:

- We have provided the best troubleshooting steps that we can. You've let us know loud and clear that they don't work.  We appreciate that you tried the steps and reported back. This gives us more data

- Brave is a work in progress and all of us are doing our best (there are only so many of us and only so many hours i

[2017-01-09 04:40] darkdh commented on #6561
I think @srirambv meant the width of dropdown.

[2017-01-09 06:34] PhilNicholas commented on #6465
I've updated to the 0.13.0 development release and the problem is gone. Whatever you did between the 0.12.15 and 0.13.0 versions seems to have resolved the issues. As a developer myself, I know that doesn't help a whole lot.  But I did everything I could think of to get 0.12.15 to run, but to no avail (i.e., it worked only once, after clean install, but never re-launched).

[2017-01-09 09:24] darkdh commented on #6522
I found out if we add `--no-sandbox` to arguments, renderer won't crash anymore
<img width="1439" alt="screen shot 2017-01-09 at 17 23 29" src="https://cloud.githubusercontent.com/assets/11330831/21761798/657d9718-d690-11e6-982d-87132286ab15.png">

[2017-01-09 09:32] luixxiul commented on #6561
Though is it because that no browser is listed there?

[2017-01-09 09:57] bsclifton opened #6585 "Remove customTitle from siteDetail object"
Discussion starts here https://github.com/brave/browser-laptop/issues/6108#issuecomment-265934841

Removing this should resolve the following issues:
https://github.com/brave/browser-laptop/issues/6104
https://github.com/brave/browser-laptop/issues/6108
https://github.com/brave/browser-laptop/issues/3694

There are likely more which have this as the root cause (we can search for issues where title

[2017-01-09 09:59] AlexGilleran commented on #1471
--ignore-gpu-blacklist fixes this for me - Radeon HD 7970 on Arch Linux

[2017-01-09 11:14] srirambv commented on #6561
@luixxiul  Even though the size of the dropdown is not right I am still able to select the options and import data.

[2017-01-09 11:15] NejcZdovc commented on #6561
@srirambv can you paste html of this select element?

[2017-01-09 12:19] srirambv commented on #6561
@NejcZdovc Here's the HTML for the import modal
![image](https://cloud.githubusercontent.com/assets/17010094/21766356/cdf78b30-d665-11e6-81f7-0263a4adee11.png)

[2017-01-09 13:12] mmilkov commented on #6218
Thank you @bsclifton

[2017-01-09 13:12] #6218 closed

[2017-01-09 14:11] luixxiul commented on #6561
so `Chrome Person 1` should have been displayed

[2017-01-09 14:16] NejcZdovc commented on #6561
AFAIK there shouldn't be empty options and yes `Chrome Person 1` should be displayed.

[2017-01-09 14:22] luixxiul commented on #1877
From community: https://community.brave.com/t/closed-allow-user-to-disable-auto-updates-on-brave/108/7

[2017-01-09 14:23] darkdh commented on #6561
empty option is the issue of https://github.com/brave/browser-laptop/issues/5931

[2017-01-09 14:26] Skiiowa commented on #6075
Thanks.

I like Brave but agree that another Browser that is de-bugged is a better option now. I will look for updates at least once a month. Keep up the good work.

Steve Lansing
407-234-3265

[Chi rho][american-dream[1]]
           Faith, Family, Community, and Work  =
             Ordo Amoris   /   Eudaimonia

From: Brian Clifton [mailto:notifications@github.com]
Sent: Sunday, January 8, 2017 1

[2017-01-09 14:31] srirambv opened #6586 "Clicking on Pocket widget doesn't launch the pocket login page, Browser restart opens pocket login (intermittent issue)"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Clicking on Pocket widget doesn't launch the pocket login page

**Expected behavior:**
Should open pocket login page in a new tab when clicked on the pocket widget

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.13.0
rev	0c7a64d
Ver

[2017-01-09 14:48] aekeus commented on #6541
Thanks @Zuzu-Typ. I created a Transifex request adding you as a reviewer for the de_DE.

[2017-01-09 14:52] jhreis opened #6587 "Add support for browser navigation macros"
**Did you search for similar issues before submitting this one?**

Yes

**Describe the issue you encountered:**

My mouse (Roccat Kova) uses history navigation macros. It works in most applications (e.g. Chrome, Xcode, Safari, Spotify, Android Studio), regardless of what the hotkey combos are for going back/forward through history. However, the macros do not work in Brave.

Using BetterTouchTool t