[2017-06-07 22:32] srirambv commented on #9102
Spell check works but underline is retained. #9324 logged for the same

[2017-06-07 22:35] bsclifton commented on #8892
@diracdeltas do you think this can be solved for the 0.17.x release?

[2017-06-07 22:36] diracdeltas commented on #8892
@bsclifton probably

[2017-06-07 22:36] lukemulks opened #9325 "investigate anti-ad blocker on washingtonpost.com"
Anti-ad blocker in place on the Washington Post.
Confirmed on desktop: PC (Win10) and MacOS

Brave version: https://github.com/brave/browser-laptop/commit/75ffa36130b1ad33c6f311e5e16ed7838b0b50a0

Steps to repro:
- Go to: https://www.washingtonpost.com/news/dr-gridlock/wp/2017/06/06/an-airline-tried-to-get-a-musician-to-check-her-17th-century-violin-a-wrestling-match-ensued/
- Get anti-ad blocker:

[2017-06-07 22:39] alexwykoff opened #9326 "Custom bookmark title is not being displayed in suggestions"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
While verifying another issue, it was discovered that custom bookmark titles aren't being displayed in the urlbar suggestions menu

- Platform (Win7, 8, 10? macOS? Linux distro?):
Discovered on OS X

- Brave Version (revision SHA):
0.16.4

- Steps to reproduce:
    0. Make sure 'Show bookmark

[2017-06-07 22:39] mrose17 opened #9327 "temporarily disable the "Fund with debit/credit card" button until we have clarity on miner fees."
## Test plan
See https://github.com/brave/browser-laptop/pull/9331

## Original issue description
![0_720_480](https://user-images.githubusercontent.com/400552/26904626-a20877da-4b97-11e7-89e3-8e16d83a8f4f.png)
![1_720_480](https://user-images.githubusercontent.com/400552/26904627-a377f2a8-4b97-11e7-8f1d-c4cbcb3685bd.png)

1. disable the "Fund with debit/credit card" button
2. replace the "Transfe

[2017-06-07 22:50] bradleyrichter commented on #9327
mockup:

![image](https://user-images.githubusercontent.com/13509546/26904864-f4f1a204-4b98-11e7-8eb3-8fd507c4ef54.png)

[2017-06-07 22:50] bradleyrichter commented on #9327
text:

Card funding is temporarily unavailable.
We apologize for the inconvenience. Learn more...

[2017-06-07 23:13] #9309 closed

[2017-06-07 23:20] #9300 closed

[2017-06-07 23:22] alexwykoff commented on #9122
confirmed not working on os x as well

[2017-06-07 23:45] bbondy commented on #9122
re-added to milestone 0.16.x, looks like it just doesn't exist on that branch when it should have at merge time.

[2017-06-07 23:47] bbondy commented on #9122
cherry-picked it into 0.16.x now, it'll be in rc2.

[2017-06-07 23:47] #9122 closed

[2017-06-08 00:03] luixxiul commented on #9305
@cezaraugusto OK please, thanks.

[2017-06-08 00:19] jonathansampson opened #9330 "Extension: True Key"
Extension: [True Key](https://chrome.google.com/webstore/detail/true-key-by-intel-securit/cpaibbcbodhimfnjnakiidgbpiehfgci)

![image](https://user-images.githubusercontent.com/815158/26907043-59a80af6-4ba5-11e7-80b9-47f5d21f318e.png)

## Needed APIs:

**chrome.app**
- chrome.app.runtime

**chrome.browser**
- chrome.browserAction.onClicked
- chrome.browserAction.setBadgeBackgroundColor
- chrome.bro

[2017-06-08 01:21] cezaraugusto commented on #9330
+++++++++++++++

[2017-06-08 01:46] #8024 closed

[2017-06-08 01:53] #9019 closed

[2017-06-08 04:37] luixxiul commented on #9319
one suggestion that has been existed: https://github.com/brave/browser-laptop/issues/2185

[2017-06-08 04:53] cezaraugusto commented on #8068
closing as fixed, please re-open if issue re-appears

[2017-06-08 04:53] #8068 closed

[2017-06-08 04:54] cezaraugusto commented on #7956
is this still happening to you? seems fixed in master

[2017-06-08 05:02] cezaraugusto commented on #7806
can't repro per str, can you confirm?

[2017-06-08 06:13] bsclifton commented on #8747
This is working great for me! 😄 So happy to be able to have webpack recompile/reload while editing. Fixed with https://github.com/brave/browser-laptop/pull/9328

@luixxiul I'll leave it to you to try it out and will assign to this milestone 😄

[2017-06-08 06:15] luixxiul commented on #8747
Maybe I'll need new Muon. I'm going to try my STR later (becasue I'm on the poor connection now)

[2017-06-08 06:43] luixxiul commented on #9327
Let's use `browserButton` on https://github.com/brave/browser-laptop/blob/master/app/renderer/components/common/browserButton.js#L31 for the button.

[2017-06-08 06:50] c3x opened #9332 "CSS issues with Brave"
I just install the latest version of Brave (0.15.314) and check an new website, I'm currently working on.

I found out, that my counter boxes are not shown with the Brave browser - all other browsers (Firefox, Chrome, Edge, Cliqz, Vivaldi, Opera, Opera Neon - all in the latest version) show my boxes without any problems.

My platform: Windows 10

Here the CSS code for the boxes:

[code]

This is h

[2017-06-08 06:52] bsclifton commented on #9313
@bbondy @bridiver @ayumi was this fixed in Muon 4.0.1? If so, we can bump milestone to 0.16.x

[2017-06-08 07:13] Darkless012 commented on #2185
I agree that what has Vivaldi (or to say also old Opera) is good enough, and also simple enough. Tree style tabs had quite a lot of bugs when I was using it. Although it would be nice to have "tree tabs", I think that just have simple "vertical tabs" would be sufficient for most cases. And then it could go from there.

[2017-06-08 08:16] srirambv opened #9333 "Pinning a normal tab causes browser crash but retains the pinned tabs upon restart"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Pinning a tab causes browser crash but retains the pinned tabs upon restart

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.16.4
rev	15d8d36
Muon	4.0.0

- Steps to reproduce:
    1. Clean install 0.16.4 and launch with a new tab, do not

[2017-06-08 08:27] luixxiul commented on #9097
I'll try to reproduce the error and polish up the STR later.

[2017-06-08 08:36] srirambv commented on #9333
Crash also happens when trying to login to Github pinned in `session 1 tab` . This is similar to #9138.
cc: @darkdh
![pintab1](https://user-images.githubusercontent.com/17010094/26919514-ee4fc986-4c2d-11e7-985a-853a09121cb1.gif)

[2017-06-08 08:58] srirambv opened #9334 "Changing default zoom to below 100% changes UI Scale to smaller but doesn't show in the setting"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Changing default zoom to below 100% changes UI Scale to smaller but doesn't show in the setting

- Platform (Win7, 8, 10? macOS? Linux distro?):
Found on Windows 10 x64. Needs verification on macOS (cc: @alexwykoff @LaurenWags @luixxiul )

- Brave Version (revision SHA):
Brave	0.16.4
rev	15d8

[2017-06-08 09:11] luixxiul commented on #9334
Absolutely that's the regression. Changing the value to `500%` makes the browser completely unusable until clearing the profile.

https://github.com/brave/browser-laptop/issues/8144

The bug can be reproduced on 0.15.312 (d4f169a).

[2017-06-08 09:15] luixxiul commented on #9334
I put the issue to 0.17.x for now as it can be reproduced on the released version.

[2017-06-08 09:36] srirambv commented on #9315
Basic regression tests looks good.

[2017-06-08 09:36] #9315 closed

[2017-06-08 09:57] srirambv commented on #8696
+1 from community https://community.brave.com/t/sync-issues-across-devices/3613

[2017-06-08 10:23] luixxiul opened #9335 "Hovering the mouse over tiles on dashboard flickers the tab slightly"
**Describe the issue you encountered:** Hovering the mouse over tiles on dashboard flickers the tab slightly.

![dashboard](https://user-images.githubusercontent.com/3362943/26924207-c2b1ac98-4c7f-11e7-8e0e-ca241ced11b8.gif)

(Please open the gif in a new tab to confirm the flash)

- Platform (Win7, 8, 10? macOS? Linux distro?): macOS (MBP)

- Brave Version (revision SHA): 0.15.312

- Steps to rep

[2017-06-08 11:22] srirambv commented on #4397
+1 from community. https://community.brave.com/t/flash-needed-for-games-on-face-book/3615/8
Btw this is still an issue on master

[2017-06-08 12:35] benmordecai commented on #8892
There is also a coincident bug where you cannot reliably drag and drop bookmarks in the manager so if sync fails you have to manually move bookmarks from the bookmark toolbar. This makes a sync failure basically unworkable on desktop/laptop also.

[2017-06-08 13:09] #9327 closed

[2017-06-08 13:12] bbondy commented on #9117
It doesn't look like we're getting a fix for this release so moving to 0.17.x

[2017-06-08 13:12] bbondy commented on #9106
Fixed here:
https://github.com/brave/muon/commit/fd3c2fa90d405507dedf99fe9b8622559d9b9e0b

[2017-06-08 13:13] #9106 closed

[2017-06-08 13:15] bbondy commented on #9100
This should be working now, closing but pls test.

[2017-06-08 13:15] #9100 closed

[2017-06-08 13:22] bbondy commented on #9313
Yes it is in 4.0.1 and we want to upgrade to that for the next RC.  Moving this to 0.16.x

[2017-06-08 14:19] bridiver commented on #9333
windows only?

[2017-06-08 14:26] srirambv commented on #9333
Guess so. @alexwykoff @LaurenWags  could confirm if for macOS

[2017-06-08 14:40] alexwykoff commented on #9333
confirmed OS X

[2017-06-08 14:47] alexwykoff opened #9336 "Manual test run for Windows ia-32 0.16.4"
## Installer

1. [x] Check that installer is close to the size of last release.
2. [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup

[2017-06-08 14:48] wickdninja commented on #9333
I am having a similar issue on windows when pinning multiple tabs. I was in the process of converting over from Chrome and I keep approx 13 tabs pinned at all times for work related tasks. While adding these tabs to Brave 1 at a time the browser started to crash when pinning a new tab after I had 6 tabs already pinned, but only sporadically (crashed 3 times while adding the 13 pinned tabs). I also

[2017-06-08 14:53] alexwykoff commented on #9333
@wickdninja i was unable to reproduce with pinning 14 tabs on 0.16.4, but it's also a different STR than having mixed sessions pinned. If you could, please open a new issue if it persists for you. Thanks!

[2017-06-08 15:03] luixxiul commented on #9112
Fixed with 0.16.4

[2017-06-08 15:03] #9112 closed

[2017-06-08 15:33] wickdninja commented on #9333
Ok. I'll try to reproduce again, and I'll open a new issue if the issue persists.

[2017-06-08 15:48] luixxiul commented on #8747
uhm I still see the same issue on macOS. Every time the browser is reloaded, another new tab is opened.

[2017-06-08 15:51] cezaraugusto commented on #9047
@ayumi seems that regression happened after 980a85543d9e3bc8c468621564afee0f47f21d6d, mind taking a look?

[2017-06-08 15:55] luixxiul commented on #9097
With the same STR on the 1st post I still see the issue:

<img width="441" alt="screenshot 2017-06-09 0 55 05" src="https://user-images.githubusercontent.com/3362943/26938135-50e94894-4cae-11e7-95b6-32b7c968b88c.png">

[2017-06-08 15:58] luixxiul commented on #9097
I'm not sure why I get `Brave: 0.15.312` on the master branch :-?

[2017-06-08 16:01] luixxiul commented on #8747
maybe because I'm on 0.15.312 as https://github.com/brave/browser-laptop/issues/9097#issuecomment-307148003 ?

[2017-06-08 16:47] newmanea commented on #8861
@jonathansampson - I've had the same issues. I spun up a test sheet for you. Try this.

https://docs.google.com/spreadsheets/d/1B4hNnUQUnSWqN0SXLRf_Z27gR5ukZ3nNY2QFOpjMhv0/edit?usp=sharing

[2017-06-08 16:57] newmanea commented on #8861
![brave_bug_test_sheet_-_google_sheets_and_team_jello___retro___trello](https://user-images.githubusercontent.com/4351076/26940784-dfb3f020-4c30-11e7-81ac-0f386a5d012b.jpg)

[2017-06-08 17:03] NejcZdovc opened #9338 "Redux component - Find bar"
## Test plan

https://github.com/brave/browser-laptop/pull/9426#issue-235685592

----

**Describe the issue you encountered:**
Covert `FindBar` into redux component

[2017-06-08 17:05] NejcZdovc opened #9339 "Redux component - Tab page"
## Test plan
See https://github.com/brave/browser-laptop/pull/9414#issue-235456487

## Original issue description
**Describe the issue you encountered:**
Convert `TabPage` and `TabPages` into redux component.

[2017-06-08 17:08] NejcZdovc opened #9340 "Redux component - Url bar icon"
## Test steps
See https://github.com/brave/browser-laptop/pull/9415

## Original issue description
**Describe the issue you encountered:**
Convert `UrlBarIcon` into redux component.

[2017-06-08 17:14] mrose17 commented on #9270
all - thanks for your patience as i investigated this.

tl;dr -

- https://support.coinbase.com/customer/portal/articles/2109597-buy-sell-bank-transfer-fees
- https://support.coinbase.com/customer/portal/articles/815435-does-coinbase-pay-bitcoin-miner-fees-

@mbretttx - i have sent some coin to your address to make up for the "messaging" on the buy widget.sorry!

@smoofra - if this happened to you

[2017-06-08 17:53] alexwykoff opened #9341 "Slack calls are not resilient when using Brave"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
When users are trying to participate in a call, they are frequently dropped.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Discovered on Mac.

- Brave Version (revision SHA):
0.16.5

- Steps to reproduce:
    1. Connect to a Slack instance
    2. Join a call

- Actual result:
The user is f

[2017-06-08 18:05] iSasFTW commented on #4848
Just started having similar issues after updating to the latest version of Brave. Locking up when opening/closing/switching tabs, occasionally even locks up for a few seconds during regular browsing, etc.

[2017-06-08 18:12] bsclifton commented on #8861
@ckaylinpercipio @newmanea do you both have fingerprint protection enabled?

If so, can you please try turning it off? We have this captured as a known issue with https://github.com/brave/browser-laptop/issues/2965

[2017-06-08 18:21] alexwykoff commented on #9341
cc : @CCBrave

[2017-06-08 18:26] psmalone commented on #5512
Still happening on a near-daily basis. After a crash with multiple windows and tabs open, Brave opens with a blank window. MacOS 10.12.5, Brave 0.15.314 . My only other devices are Android, so the Sync workaround doesn't help.

[2017-06-08 18:32] bbondy commented on #9012
This is done over a series of commits on muon.

[2017-06-08 18:32] #9012 closed

[2017-06-08 18:37] bbondy opened #9342 "Performance improvements tracking bug for 0.16.x"
- [x] Tab update events happen when there are no tab updates. ([#9313](https://github.com/brave/browser-laptop/issues/9313))
- [x] Every URL navigation takes 1000+ ms in updateSiteFavicon (With 10K bookmarks). ([#9276](https://github.com/brave/browser-laptop/issues/9276))

[2017-06-08 18:39] #9342 closed

[2017-06-08 18:48] sharbel92 opened #9343 "Noob here: Unable to locate Transaction entry"
Used MetaMask to send Ether to an ETH adres. MetaMask says transaction failed and ETH is not anymore in my wallet and is not received on the recipient adres. Is there any way to get my Ether back?

I also see the following message: Unable to locate Transaction entry

[2017-06-08 18:55] #9343 closed

[2017-06-08 18:55] srirambv commented on #9300
Verified on 0.16.5. Works fine

[2017-06-08 19:29] bbondy opened #9344 "Add 0.16.5 release notes"

[2017-06-08 19:29] #9344 closed

[2017-06-08 19:30] scmart commented on #3101
I really want to use the browser, 0 chance I can do that without forward/back working properly.  This is a deal breaker.

[2017-06-08 19:49] newmanea commented on #8861
@bsclifton - excellent! I tried searching prior to submitting, but didn't see that #2965. Perhaps because the topic was focused on fingerprint protection not the specific gsheet issue. I didn't know that was the issue, but now I do, and I think you for the quick response! Back to using Brave as my default!

[2017-06-08 20:07] alexwykoff opened #9345 "0.16.5 Release Checklist"
# Release Process Checklist

Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

## Release Commands
### First-time Setup
1. [ ] `git clone git@github.com:brave/vault-updater && cd vault-updater`
- [ ] `npm install`
- [ ] install the heroku toolbelt https://toolbelt.heroku.com/ , ask @mro

[2017-06-08 21:06] jspenguin2017 commented on #9325
I think [this script](https://www.washingtonpost.com/pb/gr/c/default/rjtNa11X65zHlq/load_immediately/4697e08d36.js?_=ffbe4) is responsible for it. [Here](https://pastebin.com/vsAmqDjd) is a mirror.

I think these rules in uBO filter fixes it (didn't test, maybe not):
[code]

[2017-06-08 21:18] darkdh opened #9346 "Test for password manager"
Leverage https of jsfiddle to write test page on it

[2017-06-08 23:00] mcg commented on #7778
Including a screenshot showing this working....
![brave-enpass](https://user-images.githubusercontent.com/305/26954184-9b6348f2-4c7c-11e7-8a20-2853c479f17e.gif)

[2017-06-09 00:38] lukemulks opened #9348 "video player on thechive.com will not play with shields up"

[2017-06-09 01:26] alexwykoff opened #9350 "Jenkins console log page infinitely reloads"

[2017-06-09 01:57] luixxiul commented on #8283
On the latest `npm`, the file `package-lock.json` is produced after `npm i`. Should we add the file to `.gitignore`?

[2017-06-09 02:12] NejcZdovc commented on #8283
We can for now, but as soon travis supports npm 5 we will use it for caching

[2017-06-09 03:02] Liunkae commented on #8761
Still happening with Brave 0.16.6 (51de9af).

[2017-06-09 03:10] Liunkae opened #9351 "Visited links are not reset when history is cleared"
- Did you search for similar issues before submitting this one?
Yes.

- Describe the issue you encountered:
After visiting a link, it changes color. But when the history is cleared (with History > Clear Browsing Data > Browser history), visited links are not reset. Refreshing the page or closing and reopening the page does not make a difference.

- Platform (Win7, 8, 10? macOS? Linux distro?):
mac

[2017-06-09 03:10] Liunkae commented on #512
See also #9351 (Visited links are not reset when history is cleared)

[2017-06-09 03:12] Liunkae commented on #9083
I haven't reproduced with 0.16.6 yet, but I'll keep trying just to be sure.

[2017-06-09 03:43] #9232 closed

[2017-06-09 03:59] #9345 closed

[2017-06-09 04:00] lukemulks commented on #9348
Info from our Community contributor:

[code]

Nice, right on it. I tried with the shields down and it worked. Ads loaded though :smiling_imp:

EDIT: I spoke to soon. The ad loaded and played a commercial but then stuck loading on the actual content. Upon further exploring theChive, I realized none of the videos work even with shields down...

[2017-06-09 04:00] #9107 closed

[2017-06-09 04:00] #9108 closed

[2017-06-09 04:00] #9109 closed

[2017-06-09 04:00] #9110 closed

[2017-06-09 04:00] #9286 closed

[2017-06-09 04:00] #9314 closed

[2017-06-09 04:00] #9316 closed

[2017-06-09 04:00] #9336 closed

[2017-06-09 04:10] alexwykoff opened #9352 "Opening a bunch of windows (10-15) rapidly, results in many blank windows."
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
When machine gunning CMD+N on OS X, it was discovered that many of the windows were blank with the exception of OS-level controls.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Discovered on OS X

- Brave Version (revision SHA):
0.16.6

- Steps to reproduce:
    1. Set homepage to https://

[2017-06-09 04:10] alexwykoff commented on #9352
cc @bridiver

[2017-06-09 04:21] luixxiul opened #9353 "Add "iconOnly" property for browserButton"
## Test plan

https://github.com/brave/browser-laptop/pull/9236#issue-233376294

----

- Any related issues: #9232

[2017-06-09 04:21] luixxiul commented on #9353
Closed with #9236

[2017-06-09 04:21] #9353 closed

[2017-06-09 04:22] luixxiul commented on #9353
Added `release-notes/include` to let (potential) contributors on UI know about the change.

[2017-06-09 04:23] luixxiul commented on #9232
Added `release-notes/include` to let (potential) contributors on UI know about the change.

[2017-06-09 04:25] cezaraugusto commented on #9353
thanks!

[2017-06-09 04:49] alexwykoff opened #9355 "Sync devices should be able to be renamed"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
A user in the field mistyped when they entered the name of their device. They'd like to be able to rename it.

- Platform (Win7, 8, 10? macOS? Linux distro?):
all

- Brave Version (revision SHA):
0.16.6

- Steps to reproduce:
    1. Start sync, name your device
    2. Attempt to rename your d

[2017-06-09 04:51] alexwykoff commented on #4697
++ Polish https://community.brave.com/t/correcting-words/3678

Perhaps we can rename to non-English if it's all other languages @luixxiul ?

[2017-06-09 05:08] #9047 closed

[2017-06-09 05:15] luixxiul commented on #4697
Agreed!

[2017-06-09 05:21] #9237 closed

[2017-06-09 05:21] #9238 closed

[2017-06-09 05:21] #9280 closed

[2017-06-09 05:34] bsclifton commented on #8861
@newmanea awesome, glad to hear! 😄  Please keep that in mind with some of the other Google sites too

I'll close this issue out as a duplicate and give #2965 a +1 😄

[2017-06-09 05:35] #8861 closed

[2017-06-09 05:37] bsclifton commented on #2965
+1 from users @ckaylinpercipio @newmanea
(see https://github.com/brave/browser-laptop/issues/8861 for more info)

They experienced issues opening Google Sheets files:
![brave_bug_test_sheet_-_google_sheets_and_team_jello___retro___trello](https://user-images.githubusercontent.com/4351076/26940784-dfb3f020-4c30-11e7-81ac-0f386a5d012b.jpg)

[2017-06-09 06:01] Miyurz opened #9356 "Brave crashes when trying to login via github credentials into https://kubernetes.influitive.com/users/sign_in"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Logging into https://kubernetes.influitive.com/users/sign_in crashes the browser everytime

- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS Sierra version 10.12.4

- Brave Version (revision SHA):
Brave	0.16.6
rev	51de9af
Muon	4.0.1
libchromiumcontent	59.0.3071.86
V8	5.9.211.31
Node.js	7

[2017-06-09 06:19] bsclifton commented on #8973
@indolering for now, we're live with Bitcoin and we'll be taking steps to implement the Basic Attention Token (see https://basicattentiontoken.org/ for more info)

I'm going to close this, but thanks for the suggestion
cc: @mrose17

[2017-06-09 06:19] #8973 closed

[2017-06-09 06:38] srirambv opened #9359 "Focus is not set to minimized Dev Tools when a different element is inspected to Focus is not set to Dev Tools when a different element is inspected"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Focus is not set to minimized Dev Tools when a different element is inspected

- Platform (Win7, 8, 10? macOS? Linux distro?):
All

- Brave Version (revision SHA):
All

- Steps to reproduce:
    1. Open a page and inspect an element
    2. Minimize the dev tools popup window
    3. Inspect a

[2017-06-09 06:56] bsclifton commented on #8987
cc: @darkdh

[2017-06-09 06:58] bsclifton commented on #8996
This may have been fixed with https://github.com/brave/browser-laptop/pull/9328... retesting now...

[2017-06-09 07:04] bsclifton commented on #8996
Verified this is still a problem. When launching while offline, I get one `about:error` page for each pinned tab it seems. When network is back up, I can relaunch Brave and the pages reload themselves properly... but the extra `about:error` tab (which is empty) is still there.

[2017-06-09 07:11] bsclifton commented on #9001
@ClarLabs we should be having a spinner which shows in the tab... are you not seeing it? (or maybe it's not obvious enough)

We did have a version (possibly two) of Brave where this functionality unintentionally broke (so no spinner would be shown).  It should work great- here's a demo:

![spinner](https://user-images.githubusercontent.com/4733304/26964796-02e9b472-4ca8-11e7-9453-38f833c38561.gif)

[2017-06-09 07:15] hachre commented on #7898
+1 from me. I write a lot in German and the constant red wiggles make it very hard to read multi-paragraph texts for mistakes.

[2017-06-09 07:21] bsclifton commented on #9033
@hook54321a you can clear any existing settings by going to `Preferences` > `Security` and then clicking `Clear all` next to `Location access`

![screen shot 2017-06-09 at 12 18 38 am](https://user-images.githubusercontent.com/4733304/26965156-602bcaac-4ca9-11e7-899a-6c9927379002.png)

It would be good though to have a setting for always deny location (so it won't prompt you)

What do you think, @

[2017-06-09 07:24] bsclifton commented on #9066
@JGH1000 great suggestion 😄

We are tracking that on our extension page here:
https://github.com/brave/browser-laptop/projects/1#card-2140891

[2017-06-09 07:24] #9066 closed

[2017-06-09 07:26] bsclifton commented on #7821
@cezaraugusto @bradleyrichter this page does exist now, but is there anything triggering it? (ex: first launch?)

[2017-06-09 07:28] bsclifton commented on #9044
@alexwykoff didn't you open a similar issue (or issues)?

I removed Windows tag since this happens on multiple platforms

[2017-06-09 07:41] bsclifton commented on #9096
This may be fixed with our latest release... @Jacalz can you please retest?

[2017-06-09 07:43] JGH1000 commented on #9066
Fantastic, many thanks. It's a very good privacy one so hope it will get priority. Keep up the good work! :)

[2017-06-09 07:43] bsclifton commented on #7357
@luixxiul do you have a way to test in Chrome using a 32 bit Windows VM? I am curious if Chrome has the same issue

[2017-06-09 07:46] bsclifton commented on #9126
@srirambv can we have the user try these steps? (I can't unlock/edit the Community issue)
https://github.com/brave/browser-laptop/wiki/Troubleshooting#window-is-solid-black-or-solid-white-looks-like-a-blank-page

[2017-06-09 07:49] bsclifton commented on #3096
Also related: Brave should restore session gracefully after a crash #5512

[2017-06-09 07:53] luixxiul commented on #7357
ok I'll give a try.

[2017-06-09 07:56] bsclifton commented on #9083
Wasn't this fixed with https://github.com/brave/browser-laptop/issues/8740?

[2017-06-09 10:28] DJBigCheese opened #9361 "Scrolling in 'Bookmark view' still doesn't work"
Scrolling Bookmarks DOES work in regular browser view, but not in Bookmarks view. After applying this latest release v0.16.6dev & reading part of the updates included "Fixed bookmarks manager scrolling on drag and drop into folders. " I find that if you have a lot of Bookmarks in a folder, you will only be able to scroll down "so far" before having to change screen resolution to something that mak

[2017-06-09 12:12] luixxiul commented on #9001
I assume a progress bar like one which Vivaldi has.

[2017-06-09 12:52] luixxiul opened #9362 "Right click on bookmark in a bookmark folder dismisses the pulldown"
**Describe the issue you encountered:** Right click on bookmark in a folder dismisses the pulldown of the bookmark.

- Platform (Win7, 8, 10? macOS? Linux distro?): Windows 10

- Brave Version (revision SHA): 0.16.6

- Steps to reproduce:
    1. Create a bookmark folder
    2. Create a bookmark in the folder
    3. Right click on the bookmark to display context menu

- Actual result: the context m

[2017-06-09 14:22] Jacalz commented on #9096
Not fixed and this is getting really annoying :sweat_smile:

[2017-06-09 14:32] Jacalz commented on #9348
Yeah I could not get the videos to work even with shields down...

[2017-06-09 14:35] Jacalz commented on #9348
I coeld not play the video in chrome too so seems to be upstream

[2017-06-09 15:03] CryptoNite19 commented on #1313
+1 for KeePass integration, working Chrome extensions exist

[2017-06-09 15:20] srirambv commented on #9138
Reopening the issue based on community thread https://community.brave.com/t/typing-password-makes-brave-crash/3702/

cc: @darkdh

[2017-06-09 15:25] bsclifton commented on #9138
possibly related: https://github.com/brave/browser-laptop/issues/9356

[2017-06-09 15:26] bsclifton commented on #9356
possibly related:
https://github.com/brave/browser-laptop/issues/9138

[2017-06-09 15:33] Liunkae commented on #9083
Yeah, I think it was fixed in 0.15.314. Closing.

[2017-06-09 16:04] Liunkae commented on #9083
Never mind, I was just able to reproduce with 0.16.6.

[2017-06-09 16:05] Liunkae commented on #9083
<kbd>Cmd+W</kbd> does not work.
Closing the tab from the tabbar works.
Closing from the menu works.

I'm still trying to get a consistent STR.

[2017-06-09 16:10] bsclifton commented on #7778
@mcg awesome! Is there a PR to re-enable this? Once we have a PR up, it should be trivial to merge 😄

[2017-06-09 16:11] bsclifton commented on #9350
I believe (per @alexwykoff's comment yesterday) this works if you disable shields

[2017-06-09 16:11] bsclifton commented on #9346
Per our convo in the CI meeting, maybe we can try GitHub pages if the jsfiddle output being in an iframe is a blocker

[2017-06-09 16:17] bsclifton commented on #9343
@sharbel12g I know you had already closed the issue, but I would recommend reaching out to MetaMask support if you haven't already 😄

[2017-06-09 16:24] bsclifton commented on #4397
@srirambv do you know if they load with shields down?

[2017-06-09 16:40] hoffination opened #9364 "Hotkey CTRL + W on last tab of many closes the entire browser"
- Did you search for similar issues before submitting this one? Yes

- Describe the issue you encountered:
When I have multiple tabs open and press CTRL + W on the last tab the entire browser closes

- Platform (Win7, 8, 10? macOS? Linux distro?): Win 10

- Brave Version (revision SHA): 0.16.6

- Steps to reproduce:
    1. Open more than one tab
    2. Navigate to the last tab
    3. Type CTRL + W

[2017-06-09 16:45] Jacalz commented on #7697
Yes the user have the option set to delete everything in the settings but they are not deleted.

[2017-06-09 16:51] Miyayes opened #9365 "Cannot zoom or scale with Macbook pro touchpad gestures in Brave"
- Describe the issue you encountered:

When looking at graphs, for example, (see: https://liqui.io/#/exchange/BAT_ETH), you cannot zoom in or out using the usual touchpad gestures on Macbook Pro. You can zoom in or out of this graph on Chrome.

- Platform (Win7, 8, 10? macOS? Linux distro?):

MacOS

- Brave Version (revision SHA):

Latest version at time of writing.

- Steps to reproduce:
    1. G

[2017-06-09 16:53] Jacalz opened #9366 "Brave crashing when pressing login on xero.com and primepay.com"
- Did you search for similar issues before submitting this one?
yes
- Describe the issue you encountered:
from community:
https://community.brave.com/t/issues-with-logging-into-websites-after-most-current-update/3719
I am running the Mac version of 0.16.6. I was trying to login to xero.com and primepay.com, which I have done before with no issues, but the browser crashes whenever I hit login after

[2017-06-09 17:03] #9175 closed

[2017-06-09 17:07] srirambv commented on #9366
Similar to https://github.com/brave/browser-laptop/issues/9356 & #9138

[2017-06-09 17:34] kspearrin commented on #7921
@bsclifton Just trying to get an idea here. We'd like to prepare some announcement material to inform our users. What version of brave is slated to have bitwarden available in it?

[2017-06-09 18:05] dmonay commented on #9356
I've experienced the same crash when trying to log into CircleCI with GItHub credentials. Steps to reproduce:
1. have someone invite you to a team in CircleCI
2. Click "Click this link to sign up" in the email
3. Choose to log in via GitHub
4. When prompted for your GItHub password, Brave will crash as you're typing in the password.

This is fully reproducible.

* Platform: `macOS Sierra version 1

[2017-06-09 18:11] cezaraugusto commented on #7821
only works if you go to about:welcome currently. @bradleyrichter may speak better what is expected. Maybe replace newtab page when first run after update/install happens and back to new tab for the next openings?

[2017-06-09 19:21] Mephiztopheles opened #9367 "Brave blocks amazon video as ads"
- Did you search for similar issues before submitting this one?
yes
- Describe the issue you encountered:
Brave ad blocks blocks amazon video stream
- Platform (Win7, 8, 10? macOS? Linux distro?):
win 10
- Brave Version (revision SHA):
newest stable?
- Steps to reproduce:
    1. go to amazon.com / amazon.de
    2. go to prime video
    3. start any video with ad block on
    4. disable ad block an

[2017-06-09 20:14] cezaraugusto commented on #9361
hi @DJBigCheese thanks for reporting, nice find.

The issue you referenced was related to drag-n-drop and although the name suggests a fix for bookmark scrolling, it was addressed in a different issue: https://github.com/brave/browser-laptop/issues/9055. It was supposed to be in the same version you're looking for and we apologize it isn't.

Should be fixed in the upcoming hotfix for that same ver

[2017-06-09 20:14] #9361 closed

[2017-06-09 20:22] alexwykoff opened #9369 "Update muon to 4.0.2"
Tracking issue for muon

[2017-06-09 20:23] bsclifton commented on #9369
Fixed with https://github.com/brave/browser-laptop/commit/01c7b69113c2f2c6ae20dfc774e9b91fa7f1d5a1

[2017-06-09 20:23] #9369 closed

[2017-06-09 21:10] diracdeltas opened #9370 "Brave update bar is misaligned"
noticed this on OSX when updating from 0.15.x release to 0.16.6:
![screen shot 2017-06-09 at 8 34 01 am](https://user-images.githubusercontent.com/549654/26994670-5de5c7a6-4d1d-11e7-922e-57cee0330821.png)

[2017-06-09 22:07] mohanidragel opened #9371 "Multiple screens , brave browser out of scope of the screen"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
I have 3 monitors, one laptop, 2 x dell 19 inches. I when closing browser and relaunching or restarting the machine, the browser sometimes opens out of the scope of the screen and can't move it back.
The workaround I use is to change the resolution of the screen to bring the window bar back i

[2017-06-09 22:38] posix4e commented on #6446
@BurkeRS  Sorry for the delay. Not sure how I missed this. You should be able to use the ubuntu repo. Try changing to a flavour of ubuntu and see if it works for you.

[2017-06-09 22:57] bsclifton commented on #5355
Closing this issue as it's a bit stale and there is not enough information to act on

[2017-06-09 22:57] #5355 closed

[2017-06-09 22:58] srirambv opened #9372 "With multiple windows open, upgrading to new build manually causes window loss"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
With multiple windows open, upgrading to new build manually causes window loss

- Platform (Win7, 8, 10? macOS? Linux distro?):
All

- Brave Version (revision SHA):
Brave	0.16.6
rev	51de9af
Muon	4.0.1

- Steps to reproduce:
    1. Install an older build
    2. Have 2 or more windows open

[2017-06-09 22:59] bsclifton opened #9373 "Manually upgrading (while Brave is open) causes loss of windows"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
When running Brave on Windows, manually upgrading (by running the installer) causes Brave to lose all windows and the profile is lost

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10

- Brave Version (revision SHA):

- Steps to reproduce:
    1. Manually install Brave 0.15.2 and st

[2017-06-09 23:02] bsclifton commented on #9373
We may need to upgrade Squirrel to solve this issue; see this commit:
https://github.com/Squirrel/Squirrel.Windows/commit/ff8e1444270cebb4173b01189c083f23ea2a8682

[2017-06-09 23:15] srirambv commented on #9372
Closing in favour of #9373

[2017-06-09 23:15] #9372 closed

[2017-06-09 23:15] ronaldburke commented on #6446
Thanks, posix4e. I removed brave-serena.list and added the brave-apt xenial main repository. It does seems that should work. If not, I'll be back again. Thanks again. I like the browser and I like the payment plan.

[2017-06-09 23:15] bsclifton commented on #9372
@srirambv you beat me by 1 minute! 😛

[2017-06-09 23:50] lukemulks opened #9376 "Ads on drudgereport.com with shields up"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Ads observed on The Drudge Report with shields up

- Platform (Win7, 8, 10? macOS? Linux distro?):
All platforms, including mobile

- Brave Version (revision SHA):
https://github.com/brave/browser-laptop/commit/51de9af083a50b9d5ceaec34af35ea3c1c9696fc

- Steps to reproduce:
    1. Go to http:

[2017-06-09 23:51] #8906 closed

[2017-06-09 23:57] bsclifton commented on #5730
I haven't seen this issue in a VERY long time. Closing

[2017-06-09 23:57] #5730 closed

[2017-06-10 00:30] bsclifton commented on #9373
Removing milestone; the change mentioned didn't fix the issue, but I do believe was a good step towards making sure we have a clean exit

[2017-06-10 04:50] luixxiul commented on #9370
@cezaraugusto Adding margin-bottom: @navbarMenubarMargin to `navigationWrapper` *only when the update bar is displayed* should be the solution as I tried. Adding margin-top to the update bar is not the proper way as there is applied `no-drag`.

[2017-06-10 04:59] luixxiul commented on #9370
Test plan (proposal)
- Try to update via menu
- Make sure the area around the update bar can be grabbed [1]
- DIsplay the bookmark toolbar
- [1]
- Hide the bookmark toolbar
- Open enough tabs to display the tab pages
- [1]

referring the test plan described on https://github.com/brave/browser-laptop/pull/7740#issue-214511262.

[2017-06-10 05:01] cezaraugusto commented on #9370
@luixxiul assigned you as well. I think you found the solution already so pls feel free to jump in

[2017-06-10 05:03] luixxiul commented on #9370
I'm not quite sure of the logic of the notification bar, so wondering if you would implement that ;-)

[2017-06-10 06:34] bsclifton commented on #7697
@Jacalz are you experiencing this issue also? Or if you haven't, are you able to reproduce?

[2017-06-10 06:37] bsclifton commented on #9369
Updated again with https://github.com/brave/browser-laptop/commit/fba98fcb091b3abfa18aba7c6c0db0c7aa343589

[2017-06-10 06:57] bsclifton commented on #8884
Fixed with https://github.com/brave/browser-laptop/pull/9221/

[2017-06-10 06:57] #8884 closed

[2017-06-10 07:09] alexwykoff opened #9379 "0.16.9 Release Process Checklist"
# Release Process Checklist

Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

## Release Commands
### First-time Setup
1. [ ] `git clone git@github.com:brave/vault-updater && cd vault-updater`
- [ ] `npm install`
- [ ] install the heroku toolbelt https://toolbelt.heroku.com/ , ask @mro

[2017-06-10 07:45] Jacalz commented on #7697
No I can't reproduce and I am not having the issue, just opening since the user from the community where still having the problem 😉 @bsclifton

[2017-06-10 07:46] alokpant opened #9380 "Unable to login with Gmail and Github"
Since, yesterday (with new updates) Brave has been crashing when trying to login into website with credential. I have tested it with Gmail and Github (currently submitting issue with Chrome -> there is no issue with other browser ). I have removed Brave and reinstalled it again but crashing still happens.

Steps to recreate it:

1. Go to gmail
2. Type username, press enter
3. Type password, press

[2017-06-10 07:57] notklaatu opened #9381 "Cannot find module 'ad-block'"
- Did you search for similar issues before submitting this one?
yes, similar issues exist but their solutions (upgrade node and node-gyp) do not solve the problem.

- Describe the issue you encountered:
When launching from source, fails to find ad-block

- Platform (Win7, 8, 10? macOS? Linux distro?):
Slackware Linux 14.2

Brave Version (revision SHA):
    $ git log --oneline | head -n 1
    d6635

[2017-06-10 08:18] alokpant commented on #9380
Tried it on twitter. Same result. Going to completely wipe Brave for now and reinstall it again.

[2017-06-10 08:36] bsclifton commented on #9380
@alokpant we just released a hotfix right now (a few minutes ago).  Can you please check for updates and install it?  This latest update should resolve the issue.  Sorry for the inconvenience ☹️

[2017-06-10 08:41] alokpant commented on #9380
@bsclifton Just updated Brave. Everything works. Thank you very much. 👍

[2017-06-10 08:41] #9380 closed

[2017-06-10 08:43] srirambv opened #9382 "Provide option to specify download default location for torrent download"
## Where is the default location?
Windows - `%APPDATA%\Local\Temp\webtorrent`
macOS, Linux - `/tmp/webtorrent`

## Original issue description
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:

- Platform (Win7, 8, 10? macOS? Linux distro?):
Linux

- Screenshot if needed:

- Any related issues:
https://community.brave.com/t/provide-a-way-of-s

[2017-06-10 09:04] srirambv commented on #9356
@dmonay Could you please update to 0.16.9 and check if the issue is fixed for you?

[2017-06-10 13:36] luixxiul commented on #9381
CC @bbondy

[2017-06-10 14:53] JammyGit commented on #2184
same for me: non-administrator account, update loop that never updates. I'll try the FAQ solution a bit later

[2017-06-10 15:46] dmonay commented on #9356
@srirambv I'm unable to test since I've already signed up for the CircleCI team using the GitHub credentials. When I click the email link and choose to sign up with GitHub, it just signs me in.

[2017-06-10 16:34] modeniro opened #9383 "The brave update to 0.16.9 doesn't install on my imac using OSX yosemite 10.10.5"
It always asks for the new update to install, i click okay, the browser gets closed, but no update gets installed. 5 minutes later it asks for the update to install again.

[2017-06-10 16:48] dmonay commented on #9356
I did however just encounter another OAuth-related issue: I was unable to log into Zillow using Gmail. The browser just got stuck on this url (https://accounts.google.com/signin/oauth/consent?authuser=0&part=XXXX) without being able to redirect back to Zillow.

[2017-06-10 17:07] jonathansampson opened #9384 "Support Window-Dragging from Bookmarks Toolbar"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Users cannot drag the window around if they happen to initiate the drag event from unused space on the bookmarks toolbar. This is particularly annoying since the user could move their mouse up a few pixels, next to the address bar, and have a successful experience.

- Platform (Win7, 8, 10? m

[2017-06-10 17:30] jonathansampson commented on #9384
You can test the effect by pressing Shift + F8, and running the following in your console:

    document.querySelector('div.bookmarksToolbar').style['-webkit-app-region'] = 'drag'

[2017-06-10 17:35] Liunkae commented on #9383
@modeniro Thanks for the report! This problem is similar to issue #2184, so I'll close this one as a duplicate. Please try the steps in this FAQ: https://github.com/brave/browser-laptop/wiki/End-User-FAQ#updates-are-available-but-applying-them-doesnt-work-on-macos

[2017-06-10 17:35] #9383 closed

[2017-06-10 17:36] Liunkae commented on #2184
+1 from #9383

[2017-06-10 17:47] Liunkae opened #9385 "Unable to switch tabs sometimes"
- Did you search for similar issues before submitting this one?
Yes. There might be a duplicate floating around somewhere, but I can't find it.

- Describe the issue you encountered:
I often open new tabs by command-clicking links. Sometimes, I try to switch to one of the new tabs by clicking on them, but the tab doesn't switch. It stays in the current tab. A workaround is to open a new tab and cl

[2017-06-10 17:49] Liunkae commented on #9083
I get this error in the browser-level console:
`Unchecked runtime.lastError while running guestViewInternal.destroyGuest: Unknown error. index.html:1`

[2017-06-10 17:51] Jacalz commented on #9385
I ran in to this once on windows 10 also, a couple of days ago 😅

[2017-06-10 17:59] Liunkae commented on #7697
Does Chromium have some kind of cache? Some things are not cleared (dev tool settings, visited links #9351). This could be caused by that.

[2017-06-10 19:08] eljuno commented on #9362
+1 [from community.](https://community.brave.com/t/right-clicking-on-bookmarks-to-delete-edit/3694?u=eljuno)

Brave version 0.16.6
Windows 7

[2017-06-10 20:30] DJBigCheese opened #9386 "0.16.9 Release deletes all bookmarks from Bookmark Manager?!"
All the Tabbed bookmarks in the normal tabbed view are intact & functional, but 'about:bookmarks' view are all gone!!!

[2017-06-10 20:51] drhandwerk commented on #3101
Confirmed on Ubuntu 16.04
Brave 0.16.9

This makes the browser unusable for me. Will have to go back to Firefox with plugins.

[2017-06-10 21:33] shubhamy opened #9387 "Blank screen in new tab after searching a query"
Hi, I have been repeating the following steps:
1. Open the Brave browser and search for a website. It works well.
2. I open a new tab and see the homepage.
3. I search for something in the search bar, it loads and show a blank white screen (see the attachment)

I have also disabled ''Use hardware acceleration when available" in case it was causing the issue but it did not work.

My OS configuratio

[2017-06-10 21:36] Jacalz opened #9388 "Brave blocks videos on 9anime.to"
- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:
Originally from the community: https://community.brave.com/t/videos-on-9anime-to-dont-load-with-shields-enabled/3783
They might sometimes load if the shields are down, but when you try to load any video on that site, sometimes it says "Failed: Setup took longer than 30 seconds" or other times

[2017-06-11 03:48] #9352 closed

[2017-06-11 03:59] abakim commented on #2183
@generic-user it doesn't work with Spanish language.
Definitely I can't use this browser professionally if I don't have minimally a spell-checker to write without some spelling error.

[2017-06-11 05:21] luixxiul opened #9389 "Add automated "stress" tests"
**Describe the issue you encountered:** As a suggestion to automated tests it's worth to add stress tests to assure that extraordinary usage should not slow down the browser critically or crash the browser.

- Opening and closing ~100 tabs in a couple of seconds should not crash the browser
- Clicking any place of UI X hundreds times should not crash the browser
    - Reload
    - Stop
    - Go fo

[2017-06-11 05:23] bsclifton commented on #8872
Closing this issue as I cannot reproduce on Windows or macOS. I believe it was fixed with the new async menu code (ex: https://github.com/brave/muon/pull/161)

[2017-06-11 05:23] #8872 closed

[2017-06-11 05:24] bsclifton commented on #9111
Unassigning milestone because there isn't an owner set. If we'd like to bump up priority on this, let's talk on Slack

[2017-06-11 05:31] bsclifton commented on #9136
This is a known issue. @bridiver can give a specific explanation, but this has no negative impact. Preventing the error from being logged might be more work than its worth

[2017-06-11 05:31] #9136 closed

[2017-06-11 05:36] bsclifton commented on #9153
@luixxiul does this happen on macOS? I'm seeing a different issue when I'm just trying to enable on mac (which prevents me from trying to repro)

[2017-06-11 05:38] bsclifton commented on #9157
We're just displaying what the extension it telling us to- I don't think there's anything we can do (other than to ask the maintainers for the Pocket extension).  @jonathansampson can you confirm?

[2017-06-11 05:38] #9157 closed

[2017-06-11 05:41] bsclifton commented on #9289
Fixed with https://github.com/brave/browser-laptop/pull/9291

[2017-06-11 05:41] #9289 closed

[2017-06-11 05:48] bsclifton commented on #9242
@GrayEye @bensicuch could you all please try adding `--disable-gpu` to your shortcut when launching Brave, per the documentation at https://github.com/brave/browser-laptop/wiki/Troubleshooting#window-is-solid-black-or-solid-white-looks-like-a-blank-page?

I'm curious if this is a driver issue or something similar.  Please let us know 😄

[2017-06-11 05:55] bsclifton commented on #9386
@DJBigCheese do you have more info?  Can you take a screenshot of your `about:bookmarks` screen?  You should see all of your bookmarks (and folders) under the `Bookmarks Toolbar` top level folder

[2017-06-11 05:57] alexwykoff commented on #9356
@dmonay please open a separate issue for OAuth. Issues need to be fairly narrow in scope so we can manage and close them in a timely fashion instead of having perpetual threads. 😸

[2017-06-11 05:57] alexwykoff commented on #9356
Closing this issue as all reports thus far have shown the crash to be gone.

[2017-06-11 05:57] #9356 closed

[2017-06-11 05:58] alexwykoff commented on #9138
Closing this issue as all reports thus far have shown the crash to be gone.

[2017-06-11 05:58] alexwykoff commented on #9366
Closing this issue as all reports thus far have shown the crash to be gone.

[2017-06-11 05:58] #9366 closed

[2017-06-11 05:58] #9379 closed

[2017-06-11 06:02] bsclifton commented on #9364
@hoffination do you have more information about this?  I've tried to reproduce and haven't had any luck.  I did notice if you hold Ctrl + W down for a few seconds, it will quickly close the tabs and once none are left, it closes the browser

[2017-06-11 06:06] bsclifton commented on #9384
@jonathansampson adding that style isn't (by itself) a suitable fix.  If you try adding it, you'll notice you can no longer right click the bookmarks toolbar (well... you can, but it will only show the default Windows caption menu... not Brave's context menu)

The fix for this would be:
- Add the draggable style
- Try to intercept the right click in React (for the bookmarks toolbar component)

[2017-06-11 06:08] bsclifton commented on #9384
(Also, marked as `OS/Windows` and `OS/linux-distros` since this works fine on macOS)

[2017-06-11 06:10] bsclifton commented on #9381
@notklaatu did the `npm install` finish without any errors? (ex: what was the return value? try `echo $?` after it finishes)

[2017-06-11 06:15] bbondy opened #9390 "Make windows and tabs restore from app state"
Currently windows restore from per window renderer state and we've had data loss problems in the past. This task is to migrate that into the app state to make it less possible to lose window state.

[2017-06-11 06:17] bsclifton commented on #9333
@srirambv the logging into GitHub part (as you know) was fixed with the 0.16.9 hotfix 😄

I tried the original steps on Windows 10 x64 and was unable to repro the issue. Can you please try again and close (if everything works)? Thanks 😄

[2017-06-11 06:22] luixxiul commented on #8872
I cannot reproduce the issue on the page.

[2017-06-11 06:38] luixxiul commented on #9153
@bsclifton I think my previous STR was not right one. would you mind retry again? thanks!

[2017-06-11 06:44] GrayEye commented on #9242
I tried adding the disable GPU command. It still froze on me. Though I was
streaming music while using the browser, with notifications turned on. It
froze, it seems, when it switched songs automatically and the notification
popped up. Though after letting the program sit for a minute or two it
unfroze. It does this cycle every time a notification pops up, and I let
the notification timeout.

On Ju

[2017-06-11 07:29] #4848 closed

[2017-06-11 07:29] #7395 closed

[2017-06-11 07:53] srirambv commented on #9001
Vivaldi has the progress indicator in the URL bar.

I would suggest add the progress indicator to the tab itself rather than anywhere else. With an option to disable it in settings similar to page theme color option under tabs.
 cc: @bradleyrichter  on thoughts

[2017-06-11 08:12] arxo opened #9391 ""Hide the menubar by default" ignored on restart in 0.16.9"
- Did you search for similar issues before submitting this one?
yes

- Describe the issue you encountered:
Since the update of Brave to 0.16.9 the "Hide the menubar by default" is ignored on every (re-)start.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Ubuntu MATE 16.04.2 (Ambiant MATE theme)

- Brave Version (revision SHA):
fba98fcb091b3abfa18aba7c6c0db0c7aa343589

- Steps to reproduce:

[2017-06-11 09:01] DJBigCheese commented on #9386
We can disregard. Everything is there now. It was strange because I went to check my Bookmark Manager scrolling capabilities right after the update & everything was gone! Everything is back to normal & functional :)

Steve

On Sat, 10 Jun 2017 22:55:17 -0700, Brian Clifton <notifications@github.com> wrote:

[2017-06-11 12:00] ClarLabs commented on #9001
Hello

Sorry for the late response, there is an indication of page loading, which is fine, however, in some circumstances, it does not show up, I cannot find a way to replicate the issue, other times it is delayed which can lead to thinking nothing is happening.

I hope this helps

With Regards
Chris Russell

June 11, 2017 8:53 AM, "Sriram Bellur Venkataram"  wrote:
	I assume a progress bar like o

[2017-06-11 14:06] josiah-keller opened #9392 "Emojis in embedded tweets are blocked"
- Did you search for similar issues before submitting this one? Yes

- Describe the issue you encountered: In an embedded tweet, emojis do not render and you can see the image URLs for the emojis in the list of blocked resources in the Bravery panel.

- Platform (Win7, 8, 10? macOS? Linux distro?): Windows 10

- Brave Version (revision SHA): fba98fc

- Steps to reproduce:
    1. Visit http://www.n

[2017-06-11 15:26] Jacalz commented on #7371
+1 from community: https://community.brave.com/t/simple-request-for-calculator-abilities-in-location-bar/3798

[2017-06-11 16:12] luixxiul commented on #4403
@cezaraugusto would you mind taking? thanks!

[2017-06-11 16:13] luixxiul commented on #9384
I tried to find a solution by setting margin/padding but ^^ is the proper one I think.

[2017-06-11 16:29] stmr commented on #1232
Well.. rev	fba98fc
![bug](https://user-images.githubusercontent.com/1045974/27012641-e41bfa5e-4ed3-11e7-918b-1893b9766de4.png)

[2017-06-11 17:01] demaniak opened #9393 "Can not open /var/lib/snapd/seccomp/profiles//snap.brave.brave (Permission denied)"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
After installing the snap package, the application is unable to launch, giving the following error:
[code]

- Platform (Win7, 8, 10? macOS? Linux distro?):
Ubuntu 16.04.2 LTS

- Brave Version (revision SHA):
[code]

- Steps to reproduce:
    1. install snap package as instructed: `sudo snap i

[2017-06-11 19:03] Colbix commented on #9362
Also
Brave version 0.16.9
Windows 10

[2017-06-11 21:10] frk2 commented on #9138
I'm still experiencing this crash on Ubuntu 17.04 with brave 0.16.9 rev fba98fc. Let me know how I can help?

[2017-06-11 23:39] bitcoinuser commented on #8748
Still not working on Brave 0.16.9

[2017-06-12 01:19] bsclifton commented on #9386
Awesome, thanks for the update Steve! :) I'll go ahead and close this out

[2017-06-12 01:19] #9386 closed

[2017-06-12 01:22] bsclifton commented on #9387
Hi @shubhamy

Can you try the steps here please? I am hoping this helps:
https://github.com/brave/browser-laptop/wiki/Troubleshooting#window-is-solid-black-or-solid-white-looks-like-a-blank-page

[2017-06-12 02:37] luixxiul commented on #9138
Re-opening just in case.

[2017-06-12 03:02] notklaatu commented on #9381
I got some warnings about some deps that are impossible to fulfill (win version of 7zip, although I do have p7zip installed) and some other things, but otherwise it looked OK. I reran it, here's the tail:

[code]

[2017-06-12 03:14] ryazo commented on #8610
Go to 4chan.com

I am not using a PW manager.
I haven't changed my version of flash.

On Mon, May 1, 2017 at 4:06 PM, Brian Clifton <notifications@github.com>
wrote:

[2017-06-12 05:08] bsclifton opened #9395 ""Select its parent tab" setting not working as expected"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Picking `Select its parent tab` for the `When closing an active tab` setting does not always behave as expected.

- Platform (Win7, 8, 10? macOS? Linux distro?):
All

- Brave Version (revision SHA):
0.16.9 (fba98fc)

- Steps to reproduce:
    1. Open https://twitter.com/ (tab 1)
    2. Middle

[2017-06-12 05:10] bsclifton commented on #9395
cc: @BrendanEich

[2017-06-12 05:21] bsclifton commented on #9395
[Here's the line w/ the problem](https://github.com/brave/browser-laptop/blob/3d0917c85a81c52d88384e086551978d2532df91/app/browser/reducers/tabsReducer.js#L55)
Parent only goes back to the parent if it was the last active tab

[2017-06-12 06:37] shubhamy commented on #9387
It worked. Thanks @bsclifton .

[2017-06-12 06:37] #9387 closed

[2017-06-12 08:15] srirambv commented on #9333
Verified on 0.16.9, issue fixed. marking as closed.

[2017-06-12 08:15] #9333 closed

[2017-06-12 09:35] Miyurz commented on #9356
works now! thanks @alexwykoff @srirambv

[2017-06-12 09:37] Kudlaty01 opened #9396 "Surfingkeys extension problems"
- Did you search for similar issues before submitting this one?
Yes, but still not working
- Describe the issue you encountered:
When trying to run the extension, it enables with other ones installed by me (e.g. cVim)
- Platform (Win7, 8, 10? macOS? Linux distro?):
Linux Debian 8
- Brave Version (revision SHA):
7b76b6afcbe980ba5f02a5f31ffbe173ec4ee6d9
- Steps to reproduce:
As in the blog tutorial:

[2017-06-12 10:31] Kudlaty01 commented on #9396
On a totally fresh installation (removed directory and cloned again and removed `.config/brave-development`):

[2017-06-12 10:55] srirambv commented on #9334
The problem is the default zoom is changing the UI zoom level and not just the page zoom.  So first you have to set the UI zoom level and then accordingly change the default page zoom level to adjust to need.

cc: @bsclifton

[2017-06-12 11:21] srirambv opened #9397 "Closing a new tab opened from a pinned tab sets focus on wrong tab and shows blank page"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Closing a new tab opened from a pinned tab sets focus on wrong tab and shows blank page

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.16.9
rev	fba98fc
Muon	4.0.3

- Steps to reproduce:
    1. Have 3 pinned tabs
    2. Open a link by c

[2017-06-12 13:39] srirambv commented on #2183
+1 from community https://community.brave.com/t/spanish-spelling-checker/3800

[2017-06-12 14:34] dskrainka commented on #1364
+1

[2017-06-12 14:48] jonathansampson opened #9398 "Tab Label Rendering Issue"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Tab labels have an issue with rendering where previous values may not be cleared properly. As a result, this can paint two labels in the place of one.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Desktop (Windows?)

- Brave Version (revision SHA):
0.16.9

- Steps to reproduce:
_TBD_

- Ac

[2017-06-12 15:15] hoffination commented on #9364
@bsclifton I reproduced it this morning on the last tab when I navigate to an nginx hosted website on localhost:80. I also was able to reproduce it on the produced about:error page when the server was shutdown.

When closing that tab and trying to make another tab to reproduce it I am unable to. Anyway for me to grab a stacktrace from a log file or something if it happens again?

[2017-06-12 15:25] bsclifton commented on #9395
## Original behavior
**NEXT** - If you [look at older versions of the code](https://github.com/brave/browser-laptop/blob/0.13.0/js/state/frameStateUtil.js#L392),
you'll notice that we originally used this method.  This also seems to be the default behavior for Chrome.

## Introducing two new options
The **LAST_ACTIVE** and **PARENT** options were introduced when @NejcZdovc fixed https://github.com

[2017-06-12 16:50] J1800 opened #9399 "Brave browser has not saved my bookmarks"
I've clicked the "star" icon on loads of pages to save them but nothing has showed up. The only pages which have been saved are the bookmarks toolbar ones. The other folder is a complete blank. I'm sure I've seen the same thing happen with firefox so must be part of the firefox general code

[2017-06-12 17:56] bsclifton commented on #9395
BTW - If we'd like to change the default behavior (which is currently **PARENT**), let's open up a new issue 😄

[2017-06-12 18:15] srirambv opened #9401 "Tearing off tab into window doesn't show up the pinned tabs until quit and restart"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Tearing off tab into window doesn't show up the pinned tabs until quit and restart

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.16.9
rev	fba98fc
Muon	4.0.3

- Steps to reproduce:
    1. Pin few tabs in a window
    2. Open a new tab

[2017-06-12 18:22] bsclifton commented on #9021
Closing as this appears to have been fixed.  I can't repro anymore (using 0.16.9).  Please re-open if we see it again

[2017-06-12 18:29] bbondy commented on #9324
@alexwykoff @srirambv could you compare against Chrome spell check?  Is the issue also there?

[2017-06-12 18:33] alexwykoff commented on #8769
Test Plan :
We should be able to update to preview builds from here on.

[2017-06-12 18:33] #8769 closed

[2017-06-12 18:33] bsclifton commented on #8769
@aekeus to add steps 😄

[2017-06-12 18:36] srirambv commented on #9324
@bbondy Yes its the same behaviour on Chrome also

[2017-06-12 18:38] darkdh commented on #9324
![kapture 2017-06-12 at 11 37 39](https://user-images.githubusercontent.com/11330831/27049272-a8ddba78-4f63-11e7-82fa-19dac2e498c3.gif)

[2017-06-12 18:49] bsclifton commented on #8586
Removing milestone since we need accurate steps

[2017-06-12 19:08] jonathansampson opened #9402 "IMGUR Images on Reddit"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Images on Reddit are prevented from loading. As an example, visit [this post](https://www.reddit.com/r/BATProject/comments/6gu64r/president_brendan_eich_june_13_nyc_conference/) and note the lack of an IMGUR image. Open the same page in another browser to see the image.

- Platform (Win7, 8,

[2017-06-12 21:24] #9308 closed

[2017-06-12 22:15] bsclifton commented on #9393
cc: @flexiondotorg

[2017-06-12 22:17] bsclifton commented on #9391
@arxo thanks for reporting! This is a known issue and has been recorded with https://github.com/brave/browser-laptop/issues/5086 (which you can subscribe to that issue for updates)

[2017-06-12 22:17] #9391 closed

[2017-06-12 22:19] bsclifton commented on #9097
@luixxiul we were just late to update.  You can try again, but it seems like this is still an issue

[2017-06-12 22:21] bsclifton commented on #8747
@luixxiul maybe I tried the wrong steps to reproduce. I was assuming (perhaps wrongly) that this was happening when a file is edited (ex: when reload happens, things break).  I did fix that scenario, perhaps this is something different

[2017-06-12 22:27] bsclifton commented on #9387
@shubhamy awesome! thanks for the response, super glad its working for you 🎉

[2017-06-12 22:29] patrick99e99 commented on #3555
+1

[2017-06-12 22:45] diracdeltas commented on #8892
the issue is that under certain timing conditions, an objectId can be set twice for a bookmarks folder, once in `findOrCreateFolderObjectId` when one of its children is being sent and once in `createSiteData` when it itself is being sent. the child ends up having an obsolete `parentFolderObjectId` so it shows up at the top level.

[2017-06-12 23:36] diracdeltas opened #9404 "sync records are sent twice"
i accidentally ignored the skipSync field in #9308

test plan:
1. start pyramid 0
2. sync pyramid 1 to pyramid 0
3. add some bookmarks to pyramid 1, wait for pyramid 0 to fetch the bookmarks
4. in the console, you should not see pyramid 0 sending the bookmarks that it just fetched

[2017-06-12 23:36] bsclifton commented on #512
@bbondy @alexwykoff should we close this? it seems to be working now

[2017-06-12 23:38] diracdeltas opened #9405 "sync objectsById should be cleared when browser quits"
since the cache gets rebuilt when sync starts, there is no need to write it to disk

test plan:
1. start pyramid 0, enable sync
2. bookmark some sites
3. close the browser
4. you should not see 'objectsById' in the session-store-1 file

[2017-06-13 00:20] bbondy opened #9408 "Sign deb files that are made available on the website"
Currently we only sign deb files and rpm files that are published to repos and we make the website deb files available not signed.

[2017-06-13 00:28] lewellyn opened #9409 "File picker does not function on Windows Server Core"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
File upload buttons do not open a file selector.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows Server 2016 Core (specifically, Windows Hyper-V Server 2016)

- Brave Version (revision SHA):
fba98fc

- Steps to reproduce:
    1. Visit a page with a file upload field.
    2. Click the

[2017-06-13 02:19] #9404 closed

[2017-06-13 02:19] #9405 closed

[2017-06-13 02:51] cezaraugusto opened #9410 "titleMode does not activate reliably"
Aside from edge cases like new tab page, title mode once activated should always be shown when mouse is not over navigation chrome, and be hidden (visible urlbar) when mouse is over it.

Given the above rule, at this moment we have two issues with titleMode:

**on macOS**
1. Have the window not maximized
2. Move mouse over navigation content.
3. urlbar is active, that's ok
4. Move mouse out of win

[2017-06-13 02:56] luixxiul commented on #8586
I don't see the issue recently. maybe fixed?

[2017-06-13 03:14] bbondy commented on #9324
I think we should probably sit on this until C60 and retest in both Chrome and Brave.

[2017-06-13 03:20] luixxiul commented on #9021
I still see the same issue on macOS.

Brave 0.19.0 91465de
Muon 4.0.3

Also devtool cannot be opened via context menu. Opening it via the menu bar, I get this log:

[code]

<img width="787" alt="screenshot 2017-06-13 12 19 50" src="https://user-images.githubusercontent.com/3362943/27064492-a4eff28a-5032-11e7-855b-f312011d308a.png">

Let me reopen in case.

[2017-06-13 03:54] #7327 closed

[2017-06-13 04:44] bbondy commented on #9248
@luixxiul I spent some time on this and tried the following:
OS: Ubuntu 17.04
Build: 0.16.9 release

I followed the STR exactly with the Japanese language and when I clicked the menu item it opened the bookmarks tab like it should have.

Could you check in your shift+f8 console for errors? Also please try from a dev build so you can see if there's anything in the terminal that logs any errors.

I

[2017-06-13 04:44] bbondy commented on #9248
I'll also remove the milestone for now but please re-add it back to the latest milestone (currently 0.17.x) if you can refine the STR to better reproduce. Thanks!

[2017-06-13 04:45] bbondy commented on #8747
Please try with master and if it works then you can close this. Thanks @luixxiul

[2017-06-13 05:16] darkdh commented on #9324
Just verified Chrome  61.0.3128.0 has fixed this problem

[2017-06-13 05:41] #9172 closed

[2017-06-13 05:47] kroppt commented on #9364
I was able to reproduce it.

1. Open tabs, turn on "tabs from last time" startup
2. Close the window.
3. Open Brave again.
4. Ctrl+W or close out the tab.
5. Window closes.

On startup again, the tab was never closed, just the window. So, close tab was replaced with close window.

[2017-06-13 05:58] luixxiul commented on #9248
I could not reproduce the issue on macOS but Windows

Windows 10 JP VM, 0.15.2, w/o fresh profile -> reproduced
Windows 10 JP VM, 0.15.2, w fresh profile -> reproduced
Windows 7 JP VM, 0.15.312, w/o fresh profile -> reproduced
Windows 7 JP VM, 0.15.312, w/ fresh profile -> reproduced
Windows 10 JP, 0.16.9, w/o fresh profile -> reproduced
Windows 10 JP, 0.16.9, w/ fresh profile -> reproduced

macOS

[2017-06-13 05:59] luixxiul commented on #9248
I updated the title to reflect the investigation above.

[2017-06-13 06:05] luixxiul commented on #9248
@bbondy also I opened devtool on the browser level, still I find nothing there. Just the usual errors and warning messages have been logged.

[2017-06-13 06:13] dandv commented on #5620
Same here on a Logitech G700. Ubuntu 16.04.2. The back button works fine in Chrome.

[2017-06-13 06:18] dandv commented on #6156
Given the community backlash against Chrome removing this feature (see how many duplicate issues were merged into [this one](https://bugs.chromium.org/p/chromium/issues/detail?id=608016)), I would highly suggest adding navigation with Backspace as an option.

I've never, *ever* had the problem that made the Chrome team drop Backspace (navigating back from forms) and the replacement, Alt+Left, pose

[2017-06-13 06:22] #7240 closed

[2017-06-13 06:29] bbondy commented on #9083
@alexwykoff  @Liunkae  Could this be mac only? I tried to reproduce this with 0.16.9 by going as fast as I could and I couldn't on Linux and Windows.

[2017-06-13 06:56] Shaunakde commented on #9393
I can't get brave to launch either. I get different error messages though. Doing `snap run brave' leads to:
'''
shaunak@DEEPSPACE:~$ snap run brave
Gtk-Message: Failed to load module "overlay-scrollbar"
Gtk-Message: Failed to load module "canberra-gtk-module"
[13111:13111:0613/122411.612034:ERROR:gconf_listener.cc(116)] Error with gconf key '/apps/metacity/general': Configuration server couldn't b

[2017-06-13 07:07] NejcZdovc opened #9412 "Redux component - Site info"
## Test plan
See https://github.com/brave/browser-laptop/pull/9413

## Original issue description
**Describe the issue you encountered:**
Convert `SiteInfo` component into redux component.

[2017-06-13 07:13] NejcZdovc opened #9416 "Redux component - Popup window"
## Test plan

https://github.com/brave/browser-laptop/pull/9417#issue-235457406

----

**Describe the issue you encountered:**
Convert `PopupWindow` into redux component.

[2017-06-13 07:40] dandv opened #9418 "Place the URL in the omnibar during incremental search"
Use case: I want to search in my URL history for a URL, then quickly copy it to the clipboard (for pasting in a form, in another application etc.) Brave makes this impossible - I have to actually open a new tab, then open URL in the new tab. Chrome makes it easy: when I press up/down arrow, the URL is placed in the omnibar, ready to be copied:

![omnibar incremental search should place the url in

[2017-06-13 07:59] dandv commented on #8591
Also conflicts in Hangouts, Google Docs, Gmail etc.

[2017-06-13 10:58] bovas85 commented on #9381
I had to run npm install a couple of times as admin on windows to get this to work, also run npm install --save-dev electron-prebuilt

[2017-06-13 11:14] srirambv opened #9419 "XE.com not rendered properly"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
XE.com not rendered properly due to CSS file being blocked by HTTPSE

- Platform (Win7, 8, 10? macOS? Linux distro?):
All

- Brave Version (revision SHA):
Brave	0.16.9
rev	fba98fc
Muon	4.0.3

- Steps to reproduce:
    1. Visit http://xe.com, page nor rendered properly
    2. Disable HTTPSE, p

[2017-06-13 12:58] bovas85 commented on #7386
why is this still unassigned/

[2017-06-13 13:15] NejcZdovc opened #9420 "Close tab page is not working"
- Did you search for similar issues before submitting this one?
yes
- Describe the issue you encountered:
Close tab page is not working
- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS
- Brave Version (revision SHA):
7ce06eea414eab8c2eaf399129a77c9a2ac89f59
- Steps to reproduce:
    1. Set tab page limit to 6
    2. Open 10 tabs
    3. Try to close active tab page

- Actual result:
Nothing ha

[2017-06-13 13:29] NejcZdovc commented on #9420
This is not working because [this](https://github.com/brave/browser-laptop/blob/master/app/renderer/reducers/frameReducer.js#L171) if return false for new tab, blank tab and private tab. We need to change this back, so you can close tabs tab page without any restrictions.

This was introduced in commit https://github.com/brave/browser-laptop/commit/f4283c0053569842773d5d6aca91825b55732ba3#diff-e12

[2017-06-13 13:33] luixxiul commented on #9420
Updated the manual test plan: https://github.com/brave/browser-laptop/wiki/Manual-Tests/_compare/3eee18b5675c6a06aa5bd614d6b6f9d1ace7768e...13895aa7fab6ae3af8d7c84a7a6565b5b4fec2d1

CC @LaurenWags @alexwykoff @srirambv

[2017-06-13 13:44] ChubbyNinja commented on #7386
The lack of response from the devs is a shame, i know they're busy but this is more than just a cosmetic issue, some acknowledgement would be good

[2017-06-13 13:58] luixxiul commented on #9418
I think this is the same issue as https://github.com/brave/browser-laptop/issues/7088.

- Steps to reproduce:
    1. Open some pages on https://twitter.com, including https://twitter.com/i/notifications
    2. Open new tab
    3. Hit `tt` (NOT `tw`, `twi`, etc)
    4. Make sure https://twitter.com appears in the suggestions list
    5. Select it with the down arrow key on your keyboard
    6. Hit

[2017-06-13 14:47] privatzee commented on #9376
This is the result of some anti-blocking measures they took several days ago. However, the Drudge site will work just fine (for now) if users simply block all scripts.

That gives the added benefit of also blocking spying by google scripts there -- which are otherwise _very unfortunately_ allowed by Brave.

Btw, Drudge has something like 1 **_billion_** pageviews per month ( http://www.intermarket

[2017-06-13 15:42] NejcZdovc opened #9421 "Redux component - BookmarksToolbar and BookmarkToolbarButton"
**Describe the issue you encountered:**
Converts `bookmarksToolbar` and `bookmarkToolbarButton` into redux.

[2017-06-13 15:44] Raindeer44 opened #9422 "Can't reopen windows after closing browser"
- Did you search for similar issues before submitting this one?
    Yes, didn't see any.

- Describe the issue you encountered:

    After closing the browser with Alt+Q or the X close button, then reopening the browser, Ctrl+Shift+T doesn't reopen the last closed window or even the last tab like I would expect from other browsers. This is very annoying when I had an important tab open that is bur

[2017-06-13 16:02] cezaraugusto opened #9423 "make welcome screen show up on first time run"
based on release management discussion, about:welcome should be shown on first time run.

An option is to show it when session is clear and user open browser for the first time, replacing the new tab page one time.

[2017-06-13 16:04] Liunkae commented on #9083
It may have been fixed for Windows and Linux with #8740. I can still reproduce with 0.16.9 on Mac after a some browsing (with the error above).

[2017-06-13 16:05] Liunkae commented on #9385
Same error in the browser-level console as #9083. Might be related.
`Unchecked runtime.lastError while running guestViewInternal.destroyGuest: Unknown error. index.html:1`

[2017-06-13 16:05] dandv commented on #9418
I support #7088 and I think my issue is different - for feature parity with the Chrome UX, the URL should be copied to the omnibar when pressing up/down arrow, even before pressing the right arrow.

[2017-06-13 16:06] Liunkae commented on #9083
I'm getting the same error message when I encounter #9385. These problems may be related. Maybe something goes wrong with the tab state.

[2017-06-13 16:18] dmonay opened #9424 "Browser tab hangs when attempting to log into Zillow via Google OAuth"
- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:
Browser fails to log into Zillow using Google credentials.

- Platform (Win7, 8, 10? macOS? Linux distro?):
`macOS Sierra version 10.12.5`
- Brave Version (revision SHA):
[code]
- Steps to reproduce:
    1. Go to zillow.com
    2. Click "Sign in"
    3. Click the Google icon
    4. A new tab w

[2017-06-13 16:40] luixxiul commented on #9418
sorry I meant to say the issue seems to have the common root cause.

[2017-06-13 17:09] alexwykoff commented on #7765
related issue : #9000

[2017-06-13 17:13] alexwykoff commented on #8925
similarly if you close and reopen brave, it would be wise to make sure we cascade.

[2017-06-13 17:28] alexwykoff commented on #8508
@srirambv if you could ^

[2017-06-13 17:32] NejcZdovc commented on #8925
Current findings:
We need to add some logic here https://github.com/brave/browser-laptop/blob/master/js/stores/appStore.js#L149

We need to check if user don't pass in any params about width/heigh we should cascade it.

Note that we also need to to change position when new position of cascaded is out of scope. We would like to do the same behavior as mac OS has. Move a finder window near to the wi

[2017-06-13 17:35] alexwykoff commented on #9065
@srirambv & @luixxiul can you repro on 0.17.x?

[2017-06-13 17:37] alexwykoff commented on #6663
Double-check this @alexwykoff 😸

[2017-06-13 17:40] alexwykoff commented on #9088
@alexwykoff try to repro this plz 😸

[2017-06-13 17:43] alexwykoff commented on #6620
Lack of commentary for followup, assuming fixed.

[2017-06-13 17:43] #6620 closed

[2017-06-13 17:46] alexwykoff commented on #9123
@srirambv can you repro, @bbondy and I tried, but works fine on 0.17.x

[2017-06-13 17:48] alexwykoff commented on #9139
@luixxiul can you try vs 0.14 and update with more specific steps?

[2017-06-13 17:51] alexwykoff commented on #9170
@srirambv wdcd?

[2017-06-13 18:02] srirambv opened #9425 "Non-ASCII character for system profile names causes problems with Brave profile"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Non-ASCII character for system profile names causes problems with Brave profile

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10

- Brave Version (revision SHA):
Brave	0.16.9
rev	fba98fc
Muon	4.0.3

- Steps to reproduce:
    1. Create a Windows User account with non-ASCII character

[2017-06-13 18:02] darkdh commented on #9139
In Traditional Chinese,
Brave
<img width="795" alt="screen shot 2017-06-13 at 10 49 22 am" src="https://user-images.githubusercontent.com/11330831/27097015-c3361c20-5027-11e7-9f12-22601e8b58d5.png">
Chrome
<img width="422" alt="screen shot 2017-06-13 at 10 50 00 am" src="https://user-images.githubusercontent.com/11330831/27097019-c808c388-5027-11e7-8c78-58811538bf78.png">

[2017-06-13 18:09] jonathansampson commented on #9425
I created a Windows user named Şąሐየ፴ọⴷ. I then signed-in, and downloaded Brave.

Upon loading Brave, I found a broken shortcut for BraveDefaults.exe on my desktop. Once Brave loaded -up, it asked me to set my default browser. Windows did not list Brave as one of the options.

In Brave, I navigated to about:preferences#extensions, and enabled LastPass. LastPass never became enabled, and was never l

[2017-06-13 18:19] diracdeltas commented on #9376
@privatzee do you know the specific domains or google script sources that we should be blocking? we use upstream lists for blocking but are happy to add more to them.

[2017-06-13 18:25] srirambv commented on #9170
@alexwykoff  Chrome Behavior
![9170](https://user-images.githubusercontent.com/17010094/27098008-f9698390-506d-11e7-8573-4c0217ed73ab.gif)

[2017-06-13 18:35] bsclifton commented on #7386
Hey there folks,

Apologies that we haven't taken time to talk to this issue yet ☹️   Improving the developer tools and the developer experience is a very important thing for us.  Besides this issue, we also have a few other important issues captured:
- Allow attaching developer tools (F12) to the tab frame #3555
- Various Developer Tools features are broken #6724
- 'Inspect Element' should refocu

[2017-06-13 18:36] srirambv commented on #9123
@bbondy  @alexwykoff  Still reproducible on Windows for 0.17.x upgrade from 0.16.9

[2017-06-13 19:06] jonathansampson commented on #9425
cc @bsclifton, who also had thoughts about what may be to blame.

[2017-06-13 19:45] alexwykoff commented on #9077
Polish tasks shouldn't be included in release notes in general.

[2017-06-13 20:20] naman commented on #4848
v0.16.9 Still facing sluggish performance while opening/closing new tab, searching through the bar, organizing bookmarks

[2017-06-13 20:49] bsclifton commented on #4848
Hi @naman,

We should have improvements with regards to closing the tab shipped in our next version, 0.17.  We are also tracking some of the critical performance issues here:
https://github.com/brave/browser-laptop/issues/9311

[2017-06-13 21:12] ayumi opened #9427 "appState.sites sort takes a long time (Every navigation +200 ms [w/ 10K bookmarks])"
Sorting sites takes 200 ms (w/ 10K bookmarks) and we do it on every navigation ([sitesReducer APP_ADD_SITE](https://github.com/brave/browser-laptop/blob/master/app/browser/reducers/sitesReducer.js#L78)).

- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Navigation is slow. I noticed the APP_ADD_SITE event took a while to run in reducers.

-

[2017-06-13 21:15] NejcZdovc opened #9428 "Remove object assign in merge props"
**Describe the issue you encountered:**
Remove `Object.assign({}, ownProps, props)` in merge props.

[2017-06-13 21:41] ayumi commented on #9427
noted by @darkdh to be added by https://github.com/brave/browser-laptop/commit/85380251cf8056910b1f8552f7553f68a30d0f40

[2017-06-13 21:47] bradleyrichter opened #9429 "Find Bar previous search should be cleared when clearing all data in browser"
This can be important for privacy conscious people or in the case of multiple same-account users.

Note: This is pending a new test on latest master...

[2017-06-13 21:51] bradleyrichter commented on #9429
closing because it works!

[2017-06-13 21:51] #9429 closed

[2017-06-13 21:53] diracdeltas commented on #8508
it may also be fixed by #9406

[2017-06-13 21:55] diracdeltas commented on #7697
@Liunkae yeah, i believe so. we should have a `Reset profile` button which just deletes your browser profile folder.

[2017-06-13 22:10] diracdeltas opened #9430 "'Sync could not create siteKey' error"
i get this error occasionally on master:

[code]

[2017-06-13 22:13] diracdeltas commented on #9430
I can repro this by starting the browser with `https://www.google.com/#q=test` as a single open tab. It appears that `{"favicon":"https://www.google.com/images/branding/product/ico/googleg_lodp.ico"}` is the site object which is passed to createSiteData

[2017-06-13 22:19] diracdeltas commented on #9430
it appears that sometimes the sync appStoreChangeListener is called before the synced object has all of its fields populated

[2017-06-13 22:21] patrick99e99 commented on #3752
+1 ... I am a developer, and for example am trying to delete an index for elasticsearch in my browser client, and it does so by popping up an alert window to confirm I want to delete the index.. But in brave this never shows up, so I cannot use Brave for this and have to use a different browser :(

[2017-06-13 22:46] bsclifton commented on #3846
Since Squirrel has a stub executable now, this should now be fixed 😄

[2017-06-13 22:46] #3846 closed

[2017-06-13 23:01] bsclifton commented on #4698
Closing as a dupe of https://github.com/brave/browser-laptop/issues/3752

[2017-06-13 23:01] #4698 closed

[2017-06-13 23:03] bsclifton commented on #3752
This is a really important one; huge +1 from me

[2017-06-13 23:26] bsclifton commented on #7921
@kspearrin comment left here:
https://github.com/brave/browser-laptop/pull/6918#issuecomment-308276441

Basically, it's in our 0.17.x releases. Here's a link to the latest, if you wanted to test it out 😄
https://github.com/brave/browser-laptop/releases/tag/v0.17.1dev

We should be able to ship within 1-2 weeks 😄

[2017-06-13 23:39] darkdh opened #9434 "Import passwords from Chrome"
Test plan:
---
1. Make sure you have password and never save password list on Chrome/Canary/Chromium
2. Import password from the browsers list in step1 on Mac/Windows/Gnome Linux

KDE linux has a bug tracking https://github.com/brave/muon/issues/238

---
based on #9292
including passwords list and never saved list

[2017-06-13 23:50] #9430 closed

[2017-06-14 00:17] lewellyn opened #9435 "File downloads crash Brave on Windows Server Core"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
File downloads crash the browser.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows Server 2016 Core (specifically, Windows Hyper-V Server 2016)

- Brave Version (revision SHA):
fba98fc

- Steps to reproduce:
    1. Visit a page with a file download link.
    2. Click the download link

[2017-06-14 00:24] diracdeltas commented on #9351
confirmed that with https://github.com/brave/muon/pull/217, the behavior is the same in Chrome and Brave

[2017-06-14 00:25] diracdeltas commented on #512
I tested and this seems fixed now

[2017-06-14 00:25] #512 closed

[2017-06-14 00:28] diracdeltas commented on #7842
actually there was no security risk in implementing link coloring. it's implemented now but the colors are kind of hard to see. they appear to be the same as in chrome though.

[2017-06-14 01:20] bradleyrichter commented on #7842
I stand corrected and happy.

Let's beat Chrome with a color-blind friendly delta.

If we move towards a turquoise blue, the effect is much more visible in all 3 color blindness types:

![image](https://user-images.githubusercontent.com/13509546/27111333-4aa90370-5064-11e7-8fa0-b74587d5b9f3.png)

I suspect the blue-to-purple standard was chosen to prevent adding extra attention to links unfairly e

[2017-06-14 01:29] bradleyrichter commented on #7842
the magic color for visited links shown in the images above is: #00997c

[2017-06-14 03:00] luixxiul commented on #9065
no it seems the issue has been fixed. it selects correctly the last viewed tab, which is not the tab opened first with the middle mouse button.

[2017-06-14 03:00] #9065 closed

[2017-06-14 03:01] luixxiul commented on #9065
I'm wondering which PR has fixed the issue - @bsclifton do you have an idea?

[2017-06-14 03:13] luixxiul commented on #9139
The issue cannot be reproduced with 0.15.2, on Windows 10.

[2017-06-14 03:16] luixxiul commented on #9139
![clipboard01](https://user-images.githubusercontent.com/3362943/27113961-46f4fc60-50fb-11e7-8517-c935100d5a32.jpg)

with af7ef42.

[2017-06-14 03:26] kspearrin commented on #7921
@bsclifton How do extension updates work in brave? I'm testing with 0.17.1 and am getting a very outdated version of bitwarden (1.10.0) that is full of issues because it's using server APIs that are not backwards compat anymore.

[2017-06-14 04:54] kspearrin opened #9436 "bitwarden extension header buttons are not clickable"
- Did you search for similar issues before submitting this one? Yes

- Describe the issue you encountered: Parts of header buttons/anchors (where the text is drawn and above) in bitwarden extension header are not clickable.

- Platform (Win7, 8, 10? macOS? Linux distro?): Windows 10

- Brave Version (revision SHA): 0.17.1dev

- Steps to reproduce:
    1. Configure and open the bitwarden password m

[2017-06-14 05:24] luixxiul commented on #9422
The issue is tracked here: https://github.com/brave/browser-laptop/issues/4575

thanks for your report!

[2017-06-14 05:24] #9422 closed

[2017-06-14 05:24] luixxiul commented on #4575
+1 from https://github.com/brave/browser-laptop/issues/9422#issue-235599954

[2017-06-14 05:38] #9427 closed

[2017-06-14 06:32] #9317 closed

[2017-06-14 06:54] bsclifton commented on #7921
@kspearrin right now, it's a manual process we have to run (I'm looking at automating the update process).  I should be able to safely bump bitwarden without an issue.  Hang tight...

[2017-06-14 08:10] hawkunsh commented on #9425
Nice to see that my 30+ years of experience as a software developer pays off  ;)

Kudos to you for your handling of this issue both at https://community.brave.com/t/cant-access-lastpass-account-preferences/3518/11 and here.

By the way, in my case the profile name was `Håkan`, so many fairly common usernames ([Windows-1252](https://en.wikipedia.org/wiki/Windows-1252)) are affected, not only Chines

[2017-06-14 08:20] srirambv opened #9437 "Bitwarden widget not shown on webpages, shows only on about pages"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Bitwarden widget not shown on webpages, shows only on about pages

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.17.1
rev	84dbc8e
Muon	4.0.3

- Steps to reproduce:
    1. Clean install 0.17.1
    2. Enable bitwarden from `about:prefere

[2017-06-14 08:31] srirambv opened #9438 "Honey widget dropdown only closes on second click on the widget"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Honey widget dropdown only closes on second click on the widget

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.17.1
rev	84dbc8e
Muon	4.0.3

- Steps to reproduce:
    1. Clean install 0.17.1
    2. Enable Honey and LastPass from `about:

[2017-06-14 08:41] KarthikChandy commented on #9385
I have faced the same problem several times. I use the following configuration.

Brave: 0.16.9
rev: fba98fcb091b3abfa18aba7c6c0db0c7aa343589
Muon: 4.0.3
libchromiumcontent: 59.0.3071.86
V8: 5.9.211.31
Node.js: 7.9.0
Update Channel: dev
os.platform: darwin
os.release: 16.6.0
os.arch: x64

[2017-06-14 09:10] NejcZdovc opened #9439 "Redux component - ClearBrowsingDataPanel"
**Describe the issue you encountered:**
Convert `ClearBrowsingDataPanel` into redux component.

[2017-06-14 09:11] NejcZdovc opened #9440 "Redux component - ClearBrowsingDataPanel"
## Test plan

https://github.com/brave/browser-laptop/pull/9457#issue-235903786

----

**Describe the issue you encountered:**
Convert `ClearBrowsingDataPanel` into redux component.

[2017-06-14 09:11] srirambv opened #9441 "Turn off shields on about:safebrowsing shows about:error page instead of loading the actual site and shields become inactive"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Turn off shields on about:safebrowsing shows about:error page instead of loading the actual site and shields become inactive

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.17.1
rev	84dbc8e
Muon	4.0.3

- Steps to reproduce:
    1. Clean

[2017-06-14 09:11] NejcZdovc opened #9442 "Redux component - ImportBrowserDataPanel"
**Describe the issue you encountered:**
Convert `ImportBrowserDataPanel` into redux component.

[2017-06-14 09:12] NejcZdovc opened #9443 "Redux component - WidevinePanel"
## Test plan

https://github.com/brave/browser-laptop/pull/9488#issue-236152205

----

**Describe the issue you encountered:**
Convert `WidevinePanel` into redux component.

[2017-06-14 09:12] NejcZdovc opened #9444 "Redux component - AutofillAddressPanel"
## Test plan

https://github.com/brave/browser-laptop/pull/9490#issue-236161281

----

**Describe the issue you encountered:**
Convert `AutofillAddressPanel` into redux component.

[2017-06-14 09:13] NejcZdovc opened #9445 "Redux component - AutofillCreditCardPanel"
**Describe the issue you encountered:**
Convert `AutofillCreditCardPanel` into redux component.

[2017-06-14 09:13] NejcZdovc opened #9446 "Cleanup of LoginRequired component"
## Test plan

https://github.com/brave/browser-laptop/pull/9493#issue-236177908

----

**Describe the issue you encountered:**
Cleanup of `LoginRequired` component, preparation for converting `Main` into redux component.

[2017-06-14 09:14] NejcZdovc opened #9447 "Redux component - NoScriptInfo"
## Test plan

https://github.com/brave/browser-laptop/pull/9494#issue-236188393

----

**Describe the issue you encountered:**
Convert `NoScriptInfo` into redux component.

[2017-06-14 09:14] NejcZdovc opened #9448 "Redux component - ReleaseNotes"
## Test plan

https://github.com/brave/browser-laptop/pull/9496#issue-236219426

----

**Describe the issue you encountered:**
Convert `ReleaseNotes` into redux component.

[2017-06-14 09:15] NejcZdovc opened #9449 "Redux component - CheckDefaultBrowserDialog"
**Describe the issue you encountered:**
Convert `CheckDefaultBrowserDialog` into redux component.

[2017-06-14 09:16] NejcZdovc opened #9450 "Redux component - UpdateBar"
**Describe the issue you encountered:**
Convert `UpdateBar` into redux component.

[2017-06-14 09:16] NejcZdovc opened #9451 "Redux component - NotificationBar"
## Test plan

https://github.com/brave/browser-laptop/pull/9518#issue-236506398

----

**Describe the issue you encountered:**
Convert `NotificationBar` and `NotificationItem` into redux component.

[2017-06-14 09:16] NejcZdovc opened #9452 "Redux component - Main"
**Describe the issue you encountered:**
Convert `Main` into redux component.

[2017-06-14 09:17] NejcZdovc opened #9453 "Redux component - Window"
**Describe the issue you encountered:**
Convert `Window` into redux component.

[2017-06-14 09:19] NejcZdovc opened #9454 "Redux component - BraveryPanel"
## Test plan

https://github.com/brave/browser-laptop/pull/9455#issue-235844791

----

**Describe the issue you encountered:**
Convert `BraveryPanel` into redux component.

[2017-06-14 09:19] NejcZdovc commented on #9439
dupe

[2017-06-14 09:19] #9439 closed

[2017-06-14 11:27] srirambv commented on #7742
+1 from community https://community.brave.com/t/dashboard-enhancement/2967/6

[2017-06-14 12:13] kspearrin commented on #9437
I have no idea...

[2017-06-14 12:13] kspearrin commented on #9436
cc: @bsclifton

[2017-06-14 12:15] kspearrin commented on #7921
@bsclifton Ok, no worries.  We do have a somewhat critical update coming out today or tomorrow that I would like to ensure brave gets updated to before the release.

[2017-06-14 14:38] jonathansampson opened #9456 "Unable to View Videos on Dropbox"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Videos hosted on dropbox cannot be viewed in Brave.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Desktop

- Brave Version (revision SHA):
0.17.1

- Steps to reproduce:
    1. Navigate to https://www.dropbox.com/s/a4ti6x2rc59h6sh/trailer.m4v?dl=0
    2. Press _Play_ button

- Actual result

[2017-06-14 15:24] TragicWarrior opened #9458 "Brave crashes on start-up with Xubuntu 16.04.2 LTS"
- Did you search for similar issues before submitting this one? yes

- Describe the issue you encountered:

Brave crashes on startup with builds newer than 0.13.5.  I have tried using the Snap (0.15.1), direct Deb download 0.16.9, and the build available in the third-party apt repository.  I tried to remove the old version with dpkg -P and then re-install the newer build but it still crashed.

Jus

[2017-06-14 15:30] srirambv opened #9459 "Right click copy image in Slack doesn't copy into clipboard"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Right click copy image in Slack doesn't copy into clipboard

- Platform (Win7, 8, 10? macOS? Linux distro?):
Found on Windows 10 x64, Confirmed on macOS by @LaurenWags

- Brave Version (revision SHA):
Brave	0.17.1
rev	84dbc8e
Muon	4.0.3

- Steps to reproduce:
    1. Login to Slack
    2. Righ

[2017-06-14 15:44] bsclifton commented on #5948
Awesome, great to hear! 😄  I'm going to close this issue, but I encourage folks having the issue to reopen and include details.  Thanks! 😄

[2017-06-14 15:44] #5948 closed

[2017-06-14 15:45] luixxiul commented on #9202
So the document [here](https://github.com/brave/browser-laptop/blame/c3c00c314c9c02df71b5426078c3ffc4d73c9739/.github/CONTRIBUTING.md#L26) on CONTRIBUTING.md is updated or needs being commented out?

[2017-06-14 15:49] diracdeltas commented on #9202
@luixxiul i believe that comment is still relevant since any flow-typed files should not regress

[2017-06-14 15:56] srirambv opened #9460 "Page load time is more when scripts are blocked than when the page is actually loaded"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
 Page load time is more when scripts are blocked than when the page is actually loaded

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.17.1
rev	84dbc8e
Muon	4.0.3

- Steps to reproduce:
    1. Visit http;//brianbondy.com and see the pag

[2017-06-14 16:01] #8892 closed

[2017-06-14 16:58] shortstuffsushi opened #9461 "Window off screen when monitors change"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
I frequently switch between a few monitor setups --  sometimes just laptop, sometimes a dock with two screens, and sometimes just one screen when I'm at home. Frequently when I switch with Brave open, the window will end up rendered off screen with no way to recover it except by closing and r

[2017-06-14 16:59] kevinlawler commented on #6805
Recording some notes on general exif data, per Slack:

In the terminal I use `exiftool` which is a POSIX util one of whose intended use cases is to strip exif data from all image types. `exiftool -all= file.png`

Location is perhaps the worst offender, but the other exif attributes can still make you uniquely identifiable. Display color profile is sometimes embedded, for instance, which beyond let

[2017-06-14 18:28] cezaraugusto commented on #7742
what happens when user hit the plus button? Modal with url input like Opera?

[2017-06-14 18:33] srirambv commented on #7742
Yes. Modal to enter URL and once click done display the favicon

[2017-06-14 18:34] cezaraugusto commented on #7742
super cool idea ++

[2017-06-14 18:46] bridiver opened #9463 "allow running of react in production mode for development"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
When running in development React is always in dev mode which is not good for profiling

- Platform (Win7, 8, 10? macOS? Linux distro?):
All

- Brave Version (revision SHA):

[2017-06-14 18:47] bsclifton opened #9464 "Picking "Mute Tabs" for a tab page toggles mute state (instead of muting)"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
When you have multiple tab pages, you can mute the other tab page like so:
![screen shot 2017-06-14 at 11 28 11 am](https://user-images.githubusercontent.com/4733304/27148718-1a8b7a50-50f6-11e7-89b0-e6c1486fe431.png)

When this executes, it doesn't mute the tabs... instead it sets them to the

[2017-06-14 18:49] srirambv opened #9466 "Tab title isn't hidden for session tabs after the tab threshold is reached"
## Test plan
See https://github.com/brave/browser-laptop/pull/9512

## Original issue description
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Tab title isn't hidden for session tabs after the tab threshold is reached

- Platform (Win7, 8, 10? macOS? Linux distro?):
All

- Brave Version (revision SHA):
Brave	0.17.1
rev	84dbc8e
Muon	4.0.

[2017-06-14 20:10] dillbyrne opened #9470 "clicking menu bar items in 0.16.x and 0.17.1 does nothing"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Clicking on menu items does nothing.

- Platform (Win7, 8, 10? macOS? Linux distro?):
kde 4.14.2 on debian 8 x64

- Brave Version (revision SHA):

   Name	Version
Brave	0.16.9
rev	fba98fc
Muon	4.0.2
libchromiumcontent	59.0.3071.86
V8	5.9.211.31
Node.js	7.9.0
Update Channel	dev
os.platform	lin

[2017-06-14 20:18] eljuno opened #9471 ""History" disappeared from menu"
- Did you search for similar issues before submitting this one?
Yes. But maybe I missed the existing issue.

- Describe the issue you encountered:
History not shown in menu. Can not click on it.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Win 8.1

- Brave Version (revision SHA):
0.17.1 (6482f15)

- Steps to reproduce:
    1. Show menu by click `Alt` on keyboard.
    2. Noticed that `History`

[2017-06-14 21:25] #9340 closed

[2017-06-14 21:33] bsclifton commented on #9471
cc: @ayumi
Could this be related to https://github.com/brave/browser-laptop/pull/9191?

[2017-06-14 21:45] ayumi commented on #9471
@eljuno thanks for finding this! I've repro'd on Windows 10, Brave 0.17.2 839e68b
STR:
- Fresh Brave; activate system app menu with Alt; looks normal
- Open webpage in new tab
- Close the tab
- Alt; system app app menu is missing History

@bsclifton likely related to #9191. I developed on MacOS and the windows code path is slightly different.

[2017-06-14 22:05] alexwykoff commented on #1370
cc @bsclifton

assigning myself to make a prototype pronto

[2017-06-14 22:06] bsclifton commented on #8067
Biggest bang for the buck, IMO:
- Dragging between bookmarks toolbar and bookmark manager
- Dragging bookmarks toolbar items into URL bar

[2017-06-14 22:24] #9412 closed

[2017-06-14 22:32] bsclifton opened #9476 "Importing bookmarks should show progress"
Importing bookmarks doesn't show a status or progress bar.
- When folks have a lot of bookmarks, the browser will appear to be doing nothing until it finishes (see Import bookmark causes Brave to hang momentarily before showing successful import #6699)
- the message box is tied to either bookmarks manager OR the tab that owned the modal

needs mockup

cc: @alexwykoff @bradleyrichter

[2017-06-14 22:36] NejcZdovc commented on #9476
Let's add it into 0.19 and then push it to 0.20 so that we don't forget about it. Based on @alexwykoff report community really needs this and we are losing users because of this.

[2017-06-15 01:38] jonathansampson opened #9478 "Empty Menu Item"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
There appears to be an empty menu item.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Desktop

- Brave Version (revision SHA):
0.17.1

- Steps to reproduce:
    1. Reveal menu (press alt)

- Actual result:
Empty item between _View_ and _Bookmarks_.

- Expected result:
No empty item.

- Wil

[2017-06-15 01:54] darkdh commented on #9478
dup #9471

[2017-06-15 01:54] #9478 closed

[2017-06-15 02:05] kspearrin opened #9479 "Update bitwarden to latest from chrome web store"
- Did you search for similar issues before submitting this one? Yes

- Describe the issue you encountered:
bitwarden is out of date. Update to version 1.13.x from chrome web store.

- Platform (Win7, 8, 10? macOS? Linux distro?): Win 10

- Brave Version (revision SHA): 0.17.1dev

- Steps to reproduce:
    1. Enable bitwarden.
    2. Check version

- Actual result:
See version 1.10.0

- Expected re

[2017-06-15 02:05] kspearrin commented on #9479
I can do future PRs for this after I see how you do it this time.

[2017-06-15 02:06] kspearrin commented on #7921
@bsclifton Issue created #9479

[2017-06-15 03:06] notklaatu commented on #9381
I tried npm install save-dev and electron-prebuilt, no luck.

[2017-06-15 03:09] notklaatu commented on #9381
Attached is an strace on `node ./tools/start.js --user-data-dir=brave-development --enable-logging --v=2 --enable-extension-activity-logging --enable-sandbox-logging --enable-dcheck`

[2017-06-15 04:36] #9471 closed

[2017-06-15 04:44] bsclifton commented on #9471
Marking as `release-notes/exclude` since this was introduced (and then fixed) in the same release 😄

[2017-06-15 05:51] #9339 closed

[2017-06-15 06:19] bovas85 commented on #9381
Try - - save and send the error on npm install. Make sure you run as admin

On Thu, 15 Jun 2017, 04:09 notklaatu, <notifications@github.com> wrote:

--

*Regards,*
[image: photo]
*Alessandro Giordo*
Web Developer
Mobile: 074 5609 9967 <+447456099967> | Email: Contact Me
<bovas85@gmail.com>
*https://www.linkedin.com/in/agiordo/
<https://www.linkedin.com/in/agiordo/>*
https://twitter.com/@moustacheD

[2017-06-15 06:21] NejcZdovc opened #9482 "Redux component - ContextMenu"
**Describe the issue you encountered:**
Convert `ContextMenu` into redux component.

[2017-06-15 07:23] cezaraugusto commented on #9006
closing in favor of #6716

[2017-06-15 07:23] #9006 closed

[2017-06-15 07:41] cezaraugusto opened #9483 "replace list icon with Brave logo in urlbar for about pages"
like our Opera friends:

<img width="350" alt="screen shot 2017-06-15 at 4 40 10 am" src="https://user-images.githubusercontent.com/4672033/27170584-cd723eae-5184-11e7-924c-4e31dfcce3b7.png">

/cc @bradleyrichter

[2017-06-15 08:01] cezaraugusto opened #9484 "Tracking: About pages split up, refactor and testing issue"
This is likely a split of https://github.com/brave/browser-laptop/wiki/Refactoring-Components for about pages and purpose is to serve more as a pre-reduxComponent tracking issue.

### about:about
- [ ] Move to `/app` folder
- [ ] Split components for better maintance
- [ ] Add unit tests if they are missing
- [ ] Move state logic for a Redux-like pattern instead of Flux-like
- [x] ~Aphrodite all t

[2017-06-15 08:13] #4922 closed

[2017-06-15 09:09] luixxiul commented on #9470
I confirmed the issue on Debian (MATE).

[2017-06-15 09:10] cezaraugusto opened #9486 "normalize buttons inside about:preferences"
They all should follow browserButton pattern for consistency.

[2017-06-15 09:35] alexkillen commented on #9364
I have this issue as well, and it also happens if I close the last tab when clicking the X.

One thing I did note is that the tab before it needs to NOT be loaded to reproduce the bug.  If you switch between the last few tabs to ensure they are all loaded and then close the last tab it works fine.

[2017-06-15 12:42] srirambv opened #9492 "Middle click on pinned tab causes all opened tabs to show as pinned tabs"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Cloning a pinned tab and then middle click on it causes the cloned tab to get pinned but with close button

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.17.3
rev	02a7878
Muon	4.0.3

- Steps to reproduce:
    1. Open 3-4 tabs and visit

[2017-06-15 12:46] GeneGenie commented on #779
This didn't help me.

[2017-06-15 13:02] SheepDomination commented on #6991
Any progress on Enpass support ? I want to begin using Brave but without Enpass support, I'm restricted.

[2017-06-15 13:02] srirambv commented on #9492
This happens on all normal tabs not just the cloned tabs. Mouse hover restore backs the tab to normal state

[2017-06-15 13:46] cezaraugusto commented on #8130
this has regressed at some point, reopening.

[2017-06-15 14:13] srirambv opened #9495 "Drag and add as bookmark inside a folder doesn't list the bookmark immediately"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Drag connection info button  to add as bookmark inside a folder doesn't list the bookmark immediately

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):

- Steps to reproduce:
    1. Create a bookmark folder
    2. Visit a site in a new tab
    3.

[2017-06-15 15:13] Gleiphnir commented on #9364
Can confirm that the bug can be reproduced
-when 'tabs from last time' is enabled
-upon opening Brave, if there are any tabs that are not loaded, closing the current tab will close brave.

Seems like it's not checking the unloaded tabs and closes because it 'thinks' that there are no more tabs.

[2017-06-15 18:00] jonathansampson opened #9498 "Suggestions made, lost, and made again"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
When typing "face" into the URL bar, a suggestion is made. Unfortunately, the suggestion doesn't match the `/^face/` pattern. The visual queue of a highlighted item however often results in me pressing <kbd>enter</kbd>, and thus going to an undesired website.

The initial false-suggestion is

[2017-06-15 18:17] bsclifton commented on #9420
This was working for me when I tested https://github.com/brave/browser-laptop/pull/9414.  Is this still an issue, @NejcZdovc?

[2017-06-15 18:39] bsclifton commented on #9425
Since this has been an issue for a while (I also saw similar reported issues for Electron), I'm going to remove the milestone.  I do agree this is high priority though!  We can probably identify a good amount of impact by looking at the open issue log for Electron and sharing issues here

[2017-06-15 18:41] bsclifton commented on #9425
Bumping down to impact medium since most Brave users are likely not running into this

I'm if there's any impact on macOS or Linux? or if this is Windows only (which it sounds like)

[2017-06-15 18:56] bsclifton commented on #9423
Moving to 0.18.x

[2017-06-15 19:36] bbondy opened #9499 "Upgrade to Chromium 59.0.3071.104"

[2017-06-15 20:14] diracdeltas opened #9500 "incorrect hostname shown in titlemode when host is very long"
issue exists in 0.17.x but is fixed in 0.18.x by https://github.com/brave/browser-laptop/pull/9154

1. go to https://longextendedsubdomainnamewithoutdashesinordertotestwordwrapping.badssl.com/
2. mouse away from the urlbar to enter title mode
3. the origin is shown as 'longextendedsubdomainnamewithoutdashesinordertotestwordwrapping' instead of 'longextendedsubdomainnamewithoutdashesinordertotestwo

[2017-06-15 20:27] diracdeltas commented on #9500
i verified that this is fixed by using node's url.parse instead of https://github.com/petkaantonov/urlparser/blob/master/src/urlparser.js, which we shouldn't use anyway because it appears to no longer be maintained

[2017-06-15 21:36] bsclifton commented on #9470
Related to https://github.com/brave/muon/pull/161 and Chromium 59 update... Looking into this

[2017-06-15 21:40] evq opened #9502 "Unable to switch to any tab on load when reloading windows from last time"
- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:
After pulling the master branch and re-building, much of the browser appears "frozen" as no tab is selected, an all white window is displayed below the tab bar, clicking to switch to a tab does nothing, and the "kebab" menu does not work.
- Platform (Win7, 8, 10? macOS? Linux distro?):
Linux,

[2017-06-15 22:14] diracdeltas opened #9503 "urlbar titlemode appends colon to the end of the hostname"
instead of 'foo.com', it shows 'foo.com:'

[2017-06-15 22:15] NejcZdovc commented on #9503
Also adds ; | for about pages, for example preferences page

[2017-06-15 22:17] diracdeltas commented on #9503
@NejcZdovc it's actually ':' not ';' i think. same underlying issue.

[2017-06-15 22:21] #9503 closed

[2017-06-15 22:22] #9500 closed

[2017-06-15 22:28] bridiver commented on #9306
`may` means it is intermittent? Or can you reliably repro?

[2017-06-15 22:51] oddballhero commented on #9470
Confirmed this issue on Debian Mate and Fluxbox (multiple different machines).

[2017-06-15 22:54] diracdeltas opened #9504 "TypeError: parsedUrl.query.split is not a function"
observed on master when going to bing.com:

[code]
may be due to 77873c3ba458f271928b2a24d1dbbfe8895007b6

[2017-06-15 23:01] diracdeltas opened #9505 "noscript allowing selective sites once doesn't invalidate the exceptions"
tested on master

1. disable scripts globally and go to https://jsfiddle.net/
2. click noscript icon. unselect all except jsfiddle.net and hit 'allow once'
3. close tab then open jsfiddle.net again
4. click noscript icon. it appears jsfiddle.net is still allowed.

[2017-06-15 23:20] #9395 closed

[2017-06-15 23:42] bsclifton commented on #9401
I'm not able to reproduce on macOS or Windows with 0.16.9...  I do see the new window (created via tear off) taking a while to load... you can see the tabs pop in and then start loading

[2017-06-15 23:46] bsclifton commented on #9401
I tried a fresh session, no luck.  Closing issue until more steps can be provided

cc: @srirambv

[2017-06-15 23:46] #9401 closed

[2017-06-16 00:07] mrose17 commented on #9270
follow-up to above: for some reason, @mbretttx, the transaction didn't go through. i just checked the logs and saw that... sorry. here is a transaction that has is being confirmed now (i hope): https://blockchain.info/tx/b3e1e9e7a3695e1b5179b49b9032f24f0c8fec77be56f966d1e31643a0c0771b

[2017-06-16 00:27] bsclifton commented on #9479
Assigning @jonathansampson per our convo on Slack 😄  (several extensions need updating)

[2017-06-16 00:57] luixxiul commented on #9505
dup #9150 ?

[2017-06-16 01:03] diracdeltas commented on #9505
@luixxiul i think it is the same issue, but the title of the other issue should say 'keeps allowing scripts' instead of 'keeps blocking scripts'?

[2017-06-16 01:15] luixxiul commented on #9505
Yes you are correct. I have misunderstood the dialog.

[2017-06-16 01:32] jonathansampson commented on #9306
@bridiver I was able to reproduce it 100% of the time (as was @NejcZdovc I believe) when I carefully followed the steps above.

[2017-06-16 01:35] evq commented on #9502
Some more observations:

The error seems to stem from a call to `state.getIn(['framesInternal', 'index', frameKey.toString()])` where it returns null. The `activeFrameKey` doesn't seem to exist in `framesInternal`. Looking at `activeFrameKey` in my session store file it seems to reference a frame that is in `closedFrames`. Unfortunately, just changing the `activeFrameKey` to reference a closed fra

[2017-06-16 01:53] bridiver opened #9506 "Closing the first tab of a window when restoring closes the entire window"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
When restoring a window on startup, closing the first tab while the other tabs are still loading will close the entire window

- Platform (Win7, 8, 10? macOS? Linux distro?):
All

- Brave Version (revision SHA):
https://github.com/brave/browser-laptop/commit/bf34c40b307528d9cf7f49fe0742f8955e

[2017-06-16 02:09] bridiver opened #9508 "tab.controller() is sometimes called when the webcontents has already been destroyed"
Intermittent issue in tabs.js where `tab.controller()` is called after the webcontents has been destroyed

[2017-06-16 02:22] cezaraugusto opened #9510 "host is not parsed correctly in titleMode"
![pasted image at 2017_06_15 08_56 pm](https://user-images.githubusercontent.com/4672033/27209051-e00dad00-521f-11e7-9123-c14386bceb13.png)

Issues:

1. no host defined for about pages
2. Trailling colon for all urls

Issue found in 0.18.x sha 3535c8da0af977ffda9ddc974e9318c217cf5d74

Given this is related with security matters I'm labeling to 0.18.x itself given it is not reproducible in 0.17.x

[2017-06-16 02:36] bradleyrichter opened #9511 "Prevent Tab Close Button from allowing tab-tearoff"
As a user, I may start to click a tab close button and then change my mind not to close it. I need to be able to mouse-out from the action while dragging as a means of escape/cancel.

Currently the drag results in a tear-off.

[2017-06-16 03:00] diracdeltas commented on #9510
duplicate of #9503

[2017-06-16 03:34] #9510 closed

[2017-06-16 04:04] notklaatu commented on #9381
$ npm install --save

renders no errors, except the one about ad-block in my original bug report (or comment, whatever they're called in Github).

[2017-06-16 04:15] #8130 closed

[2017-06-16 05:30] alexwykoff commented on #9138
It seems as though another Linux user is experiencing login issues as well : https://community.brave.com/t/bug-report-login-crashes-brave/3947

[2017-06-16 05:46] alexwykoff opened #9513 "Suggestion : Option to autofill find in page with highlighted text."
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
From community : https://community.brave.com/t/autofill-search/976/1

[2017-06-16 06:26] #9447 closed

[2017-06-16 07:25] lundsted commented on #9138
Linux user here, also experiencing this issue, fx with Facebook.

[2017-06-16 08:13] #9149 closed

[2017-06-16 08:43] luixxiul commented on #9149
no-qa-needed?

[2017-06-16 08:45] luixxiul commented on #9500
@cezaraugusto haven't you pushed a PR to fix that issue?

[2017-06-16 10:37] Kasmetski opened #9514 "Hotkeys doesn't work"
- Did you search for similar issues before submitting this one?
There are similar problems, but not the same
- Describe the issue you encountered:
Some of the hotkeys doesn't work. "Back" button of the mouse for an example. Nothing happened, but it's working with Firefox, Chromium & etc. The other buttons working fine (like ctrl+w for closing tabs)
- Platform (Win7, 8, 10? macOS? Linux distro?):
K

[2017-06-16 11:46] evq commented on #9502
I took a swing at adding session store cleanup code that cleans up the `activeFrameKey` in the event it references a frame in `closedFrames`. It also pro-actively triggers the cleanup code to run on load by trying to detect this condition. Seems like this part could probably be dropped to just rely on the version bump to run the cleanup code.

https://github.com/brave/browser-laptop/compare/master

[2017-06-16 13:17] NejcZdovc opened #9517 "Move bookmark text calculation into the state"
## Test plan

https://github.com/brave/browser-laptop/pull/10325#issue-248455456

----

**Describe the issue you encountered:**
Move calculation of bookmark width into state and calculate it only when bookmark is added/edited or favicon setting for bookmark toolbar is changes

#9030

[2017-06-16 14:59] alexwykoff opened #9519 "Ad-blocker blocker found on washingtonpost.com"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
When visiting https://www.washingtonpost.com/national/americas-new-tobacco-crisis-the-rich-stopped-smoking-the-poor-didnt/2017/06/13/a63b42ba-4c8c-11e7-9669-250d0b15f83b_story.html?hpid=hp_rhp-top-table-main_stillsmoking-155am%3Ahomepage%2Fstory&utm_term=.44d655c754b5
an ad-blocker blocker ap

[2017-06-16 14:59] alexwykoff commented on #7597
lots of +1's on community.brave.com

[2017-06-16 15:00] alexwykoff commented on #246
lots of +1's from community on this

[2017-06-16 15:08] alexwykoff commented on #9519
closing dupe of https://github.com/brave/browser-laptop/issues/9325

[2017-06-16 15:08] #9519 closed

[2017-06-16 15:24] luixxiul opened #9521 "Add welcome.properties for about:welcome localization"
**Describe the issue you encountered:** Add `welcome.properties` for about:welcome localization.

- Extra QA steps:
    1.
    2.
    3.

- Any related issues: https://github.com/brave/browser-laptop/issues/9423

[2017-06-16 15:52] lukemulks opened #9522 "Startpage.com posting Google Search ads (investigate)"
Stub - will add info ans investigate.

Origin: https://community.brave.com/t/ad-blocking-pandora-radio/3932/9

[2017-06-16 17:11] NejcZdovc opened #9524 "Context menu not working for tabs toolbar"
- Did you search for similar issues before submitting this one?
yes
- Describe the issue you encountered:
Context menu not working for tabs toolbar
- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS
- Brave Version (revision SHA):
1007e8c
- Steps to reproduce:
    1. Right click on tabs toolbar (on empty space)

- Actual result:
You get an error
- Expected result:
Context menu opens
- Will the

[2017-06-16 17:43] NejcZdovc commented on #9495
@srirambv is this reproduce only on Windows?

[2017-06-16 17:52] OlivierAlves commented on #9461
I just had the same problem, just open brave on a new windows and change screen configuration and then it will be reopen on the last screen even if it's not there.

[2017-06-16 18:34] cezaraugusto commented on #9492
- Normal tabs goes to extraSmall breakpoint rather than getting pinned. That explains close button and normal state after hover (component update)
- confirmed Sri last comment it happens to all tabs rather than only cloned tabs

Chrome, Safari, and FF all close pinned tabs with middle click. Opera does nothing.

Given closing a pinned tab is a matter for another issue, I'm going to cancel middle c

[2017-06-16 18:59] alexwykoff opened #9529 "Sync : missing bookmarks from import on other machine"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
When importing a reasonably large number of bookmarks (>6000) the other machine which receives the sync does not have many of the bookmarks even after waiting for 20 minutes or so.

- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS, Windows 10

- Brave Version (revision SHA):
0.17.3 (02a7

[2017-06-16 19:47] LaurenWags opened #9530 "moving bookmark to a different folder on laptop is not synced to mobile devices"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
When bookmark is moved from one folder to another on the laptop, the change is not synced to Android or iOS.

- Platform (Win7, 8, 10? macOS? Linux distro?):
MacOS

- Brave Version (revision SHA):
Brave	0.17.3
rev	02a7878
Muon	4.0.3

- Steps to reproduce:
    1. Create folders and bookmarks o

[2017-06-16 19:57] eljuno commented on #9470
+4 [from community](https://community.brave.com/t/linux-mint-17-2-brave-version-0-16-6-0-16-9-and-main-menu-doesnt-work/3727)

[2017-06-16 20:04] jonathansampson opened #9531 "Extension: Vimium"
Extension: [Vimium](https://chrome.google.com/webstore/detail/vimium/dbepggeogbaibhgnhhndojpepiihcmeb?hl=en)

![image](https://user-images.githubusercontent.com/815158/27242792-5e8cfa3a-52a4-11e7-94b5-33a71d53209f.png)

For development purposes, the background page for this extension can be accessed by navigating to chrome-extension://iohnebgmbihompbdpjbgkcgahnkdjbal/_generated_background_page.htm

[2017-06-16 20:33] LaurenWags commented on #9529
Just experienced this with import on laptop and then laptop (MacOS) to Android sync. I had approximately 1200 bookmarks and not all of them made it to Android.

[2017-06-16 20:38] diracdeltas commented on #9303
fyi sync only syncs browser history going forward in time, not browser history from before sync was enabled. this was a design choice to limit bandwidth. see https://github.com/brave/browser-laptop/issues/8488

[2017-06-16 20:39] diracdeltas commented on #9529
may be worth trying this on master to see if it was fixed by some of the recent sync changes that are not in 0.17.x

[2017-06-16 22:30] alexwykoff commented on #9529
@diracdeltas  identical conditions for 0.19.0 (1007e8c)

[2017-06-16 22:34] diracdeltas commented on #9529
on master, i tried syncing ~6200 bookmarks. around 6100 of them were synced. it's not always the same bookmarks that are lost.

[2017-06-16 22:40] alexwykoff opened #9532 "Extension Request : Always on top"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
A community member requested the firefox addon : Always on Top
https://community.brave.com/t/pin-the-browser-always-on-top-keeps-the-window-in-front-even-when-you-click-work-on-other-applications/3836

[2017-06-16 22:55] alexwykoff commented on #9529
correction to my prior post, the posts to aws have shown identical errors in the console and the same bookmarks in a certain folder i checked while testing were missing in both cases.

upon inspection of the exported html files, indeed it was shown that different bookmarks had survived the sync.  😄

[2017-06-16 23:19] bsclifton commented on #9521
The welcome page is part of https://github.com/brave/brave-website which should allow for localization 😄

[2017-06-16 23:19] #9521 closed

[2017-06-16 23:48] DirtGrubDylan opened #9533 "Linux Mint - Flash - Couldn't Load Plugin"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Following the instructions here: https://github.com/brave/browser-laptop/wiki/Flash-Support-Deprecation-Proposal#troubleshooting-flash-issues. I installed PepperFlash through the apt repository. When I went to load http://homestarrunner.com/ I got an error saying `Couldn't load plugin` where

[2017-06-17 00:51] bsclifton commented on #9470
For some reason, `Release()` is being called on the MenuRunner object. Chromium 59 introduced async menus, which may have made the problem obvious.  We might need to capture an instance of the MenuRunner so that it doesn't call destructor when it goes out of scope. Will continue digging...

[2017-06-17 01:44] alexwykoff commented on #9533
I believe this is a duplicate of https://github.com/brave/browser-laptop/issues/7505

[2017-06-17 01:47] alexwykoff commented on #2184
+1 from community : https://community.brave.com/t/browser-update-bug/3751/3

[2017-06-17 02:09] alexwykoff opened #9534 "Support for Brave to start in a safe mode with a fresh profile"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Users like https://community.brave.com/t/brave-always-opens-old-tabs/3155 have been experiencing crashes from which they couldn't easily recover as they are not engineers.

- Platform (Win7, 8, 10? macOS? Linux distro?):
All

- Brave Version (revision SHA):

- Steps to reproduce:
    1. Have

[2017-06-17 02:41] Foofy1 commented on #8697
+1
Wanted to add that I can avoid the bubble by minimizing via taskbar button.

[2017-06-17 03:23] lukemulks opened #9535 "vid.me - playback issues reported"
Report from Twitter of choppy/uneven playback on vid.me

https://vid.me

Original tweet: https://twitter.com/marcrapp/status/875815162468601856

Profile:
Mac OS 10.12.5

Needs investigation
Needs info
Posted stub via bugbot

[2017-06-17 04:54] apphacker commented on #2900
This is a really frustrating bug that's a deal killer for me. I can't even place the cursor with the mouse. I have to use arrow keys. I can't understand how this is desirable behavior. Any clicking selects all. I want to fix one character I have to click escape and then use the arrow keys to move the cursor to the character to fix. Why would you make it this way?

[2017-06-17 07:42] #9492 closed

[2017-06-17 14:26] #9470 closed

[2017-06-17 14:30] #9351 closed

[2017-06-17 16:49] cezaraugusto opened #9536 "tab preview after closing a tab doesn't respect tab preview config"
Bug happens in 0.17.x given #8902 was added for that milestone.

Issue first reported in https://github.com/brave/browser-laptop/issues/9306#issuecomment-308908661.

STR:

1. Disable tab previews
2. Open three tabs
3. Set first as active
4. Hover over second, close

Result:
Third tab is previewed

Expected:
tab preview is disabled it should not previe

Given trigger preview after close was [introd

[2017-06-17 18:23] evvvritt commented on #1847
Sadly, OSX mouse gestures for history navigation are a must have for me as well. Hopefully they can be added soon, thanks

[2017-06-17 18:51] jonathansampson commented on #7075
@niutech Ah, my apologies. _Page Actions_ are displayed within the omnibar, correct?

[2017-06-17 19:03] ghost opened #9538 "Huge Download Panel"
Not sure if this is due to HiDPI screen or not but the bottom download panel is huge. Any chance of sliming it down? Perhaps removing which website the download is from?

![screenshot from 2017-06-18 04-02-22](https://user-images.githubusercontent.com/27884805/27255569-1407a478-53db-11e7-8878-83ab3186d997.png)

[2017-06-17 19:06] cezaraugusto commented on #9306
so issue happens for any prefs config for "When closing an active tab" option

issue reported above (https://github.com/brave/browser-laptop/issues/9306#issuecomment-308908661) is different than the main issue. I created a new one for that #9536 with fix under #9537. /cc @jonathansampson

Seems that issue happened after 039109635a173acddc326dce45916ef00d738409. For me, following the STR it is alwa

[2017-06-17 19:31] kroppt opened #9540 "Developer tools not re-opening maximized when closed as maximized."
- **Did you search for similar issues before submitting this one?** Yes

- **Describe the issue you encountered:** Developer tools not re-opening maximized when closed as maximized.

- **Platform (Win7, 8, 10? macOS? Linux distro?):** Win10

- **Brave Version (revision SHA):** 0.16.9

- **Steps to reproduce:**
    1. Open developer tools (right click > inspect element)
    2. Maximize developer to

[2017-06-17 20:32] #9442 closed

[2017-06-17 22:28] mirkinoid commented on #1090
dark theme was literally the first thing I've been looking after initial install

[2017-06-18 00:09] bridiver commented on #9306
thanks for the test case @cezaraugusto ! I have an idea of what the issue might be and should be able to track it down pretty quickly

[2017-06-18 02:34] jonathansampson opened #9541 "Sort top sites more deterministically"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Auto-suggestions cycle through every google domain imaginable.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Desktop

- Brave Version (revision SHA):
https://github.com/brave/browser-laptop/commit/c5968c5ea2a8eaab1834d638aa4ead5af5d517e2

- Steps to reproduce:
    1. Slowly type "google.co

[2017-06-18 05:58] bsclifton commented on #9541
Marked with `needs-triage` and assigned to 0.17.x for now. Will review with others on Tuesday to determine priority

[2017-06-18 06:33] bsclifton commented on #8586
Closing as fixed since I haven't been able to repro.  Let's re-open if there are solid steps 😄

[2017-06-18 06:33] #8586 closed

[2017-06-18 06:47] luixxiul opened #9543 "Add browserButton_panelItem to BrowserButton component"
## Test plan

1. Open `about:preferences#payments`
2. Click `Add funds`
3. Make sure the three buttons have 180px
4. Open `about:styles#buttons`
5. Make sure there are 2 grouped panel buttons

#9487

----

**Describe the issue you encountered:** Add browserButton_panelItem to BrowserButton component.

- Extra QA steps:
    1.
    2.
    3.

- Any related issues: #9071 #9487

[2017-06-18 08:17] NejcZdovc commented on #9495
It's working for me on macOS. Can you please try it again with the latest 0.17.x branch please?

[2017-06-18 13:05] JonnyRedHed commented on #1090
If going further and adding a dark mode UI to all settings and add-on and security pages etc.  Maybe a switch top right of each window can be shown once the main dark mode UI switch is on. So users can turn off one or a few settings pages if so desire.

If using stylus or care your eyes (add-on) to make web pages look dark,  the last thing you want late at night on a large screen is to go onto a b

[2017-06-18 13:25] bridiver commented on #9306
Haven't checked the test run yet and probably needs a unit test update, but the new test passes

[2017-06-18 13:34] GreenRecycleBin commented on #9364
Relevant code is at https://github.com/brave/browser-laptop/blob/c5968c5ea2a8eaab1834d638aa4ead5af5d517e2/app/browser/reducers/tabsReducer.js#L164.

Inactive pinned/non-pinned tabs have `windowId` set to `-1`. Therefore, they're not counted in `tabState#getNonPinnedTabsByWindowId` or `tabState#getPinnedTabsByWindowId`.

I've been looking for a way to count the number of all tabs that belong to a w

[2017-06-18 16:03] luixxiul commented on #9442
@NejcZdovc when replacing the label, please indicate where you can find the QA steps. This time I did for you. thanks!

[2017-06-18 16:15] NejcZdovc commented on #9442
@luixxiul ok, will do. Thank you

[2017-06-18 17:05] jonathansampson opened #9544 "Extension API: chrome.webNavigation.onReferenceFragmentUpdated"
https://developer.chrome.com/extensions/webNavigation#event-onReferenceFragmentUpdated

## Blocked Extensions
- #9531 Vimium

[2017-06-18 17:15] luixxiul commented on #5220
On URL bar (macOS) multibyte characters are encoded well.

<img width="292" alt="screenshot 2017-06-19 2 14 20" src="https://user-images.githubusercontent.com/3362943/27262589-0a859594-5495-11e7-9e2a-7bac89ad96f1.png">

Maybe thanks to bloodhound update? https://github.com/brave/browser-laptop/pull/8824

CC @darkdh for confirmation with Chinese characters.

[2017-06-18 17:18] luixxiul opened #9545 "Add test for multibyte characters encode on URL bar"
**Describe the issue you encountered:** Add a webdriver test for multibyte characters encode on URL bar.

- Paste `http://はじめよう.みんな/index.html` to URL bar and go
- The URL should be encoded

#5220

[2017-06-18 17:24] luixxiul opened #9547 "Bookmarks overflow on the bookmark toolbar"
**Describe the issue you encountered:** Bookmarks overflow on the bookmark toolbar.

- Platform (Win7, 8, 10? macOS? Linux distro?): macOS

- Brave Version (revision SHA): c5968c5

- Steps to reproduce:
    1. Bookmark sites
    2. Decrease width of the window

- Actual result:

  <img width="146" alt="screenshot 2017-06-19 2 23 20" src="https://user-images.githubusercontent.com/3362943/27262651-4

[2017-06-18 17:25] luixxiul opened #9548 "Add tests for indicator on bookmark toolbar"
**Describe the issue you encountered:** Add tests that indicator can be displayed on bookmark toolbar.

- Extra QA steps:
    1.
    2.
    3.

- Any related issues: #9547 #6869

[2017-06-18 18:26] jonathansampson opened #9549 "Extension API: chrome.extension.getBackgroundPage"
https://developer.chrome.com/extensions/extension#method-getBackgroundPage

## Blocked Extensions
- #9531 Vimium

[2017-06-18 18:26] jonathansampson commented on #9549
This appears to be supported.

[2017-06-18 18:26] #9549 closed

[2017-06-18 18:34] jonathansampson opened #9550 "Extension API: chrome.extension.getViews"
https://developer.chrome.com/extensions/extension#method-getViews

## Blocked Extensions
- #9531 Vimium

[2017-06-18 18:34] jonathansampson commented on #9550
This appears to be supported already.

[2017-06-18 18:34] #9550 closed

[2017-06-18 18:38] jonathansampson opened #9551 "Extension API: chrome.extension.inIncognitoContext"
https://developer.chrome.com/extensions/extension#property-inIncognitoContext

We need to determine what this should mean in Brave, where we don't have Incognito/Private _Windows_, but rather Incognito/Private _Tabs_.

Presently we return `false`.

## Blocked Extensions
- #9531 Vimium

[2017-06-18 18:46] jonathansampson opened #9552 "Extension API: chrome.history.search"
https://developer.chrome.com/extensions/history#method-search

## Blocked Extensions
- #9531 Vimium

[2017-06-18 18:47] jonathansampson commented on #9552
Tested via a background page on the Vimium extension:

    chrome.history.search({ text: '' }, x => console.log( chrome.runtime.lastError || x ))

Response was

    Object {message: "Access to extension API denied."}

[2017-06-18 18:49] NejcZdovc commented on #9547
This is not a regression, it was happening for me on 0.15 as well

[2017-06-18 19:04] luixxiul commented on #9547
Fyi on 0.16.9 on Windows:

![clipboard01](https://user-images.githubusercontent.com/3362943/27263450-474a1798-54a4-11e7-8ad8-e191db71944f.jpg)

[2017-06-18 19:32] jonathansampson opened #9553 "Extension API: chrome.windows.WINDOW_ID_NONE"
https://developer.chrome.com/extensions/windows#property-WINDOW_ID_NONE

## Blocked Extensions
- #9531 Vimium

[2017-06-18 19:37] jonathansampson opened #9554 "Extension API: chrome.windows.getCurrent"
https://developer.chrome.com/extensions/windows#method-getCurrent

## Blocked Extensions
- #9531 Vimium

[2017-06-18 19:37] jonathansampson commented on #9554
This appears to be supported already.

[2017-06-18 19:37] #9554 closed

[2017-06-18 19:48] jonathansampson commented on #7458
Blocks Vimium (#9531)

[2017-06-18 19:56] jonathansampson opened #9555 "Extension API: chrome.runtime.getURL"
https://developer.chrome.com/extensions/runtime#method-getURL

## Blocked Extensions
- #9531 Vimium

[2017-06-18 19:56] jonathansampson commented on #9555
This appears to be supported already.

[2017-06-18 19:56] #9555 closed

[2017-06-18 20:02] #8822 closed

[2017-06-18 21:29] darkdh commented on #5220
<img width="213" alt="screen shot 2017-06-18 at 2 25 54 pm" src="https://user-images.githubusercontent.com/11330831/27264389-16b0bece-5432-11e7-9064-df8c863d9f68.png">
<img width="96" alt="screen shot 2017-06-18 at 2 26 21 pm" src="https://user-images.githubusercontent.com/11330831/27264392-1fa05dfa-5432-11e7-9844-14d285b12204.png">
and your example will give me
<img width="365" alt="screen shot 2

[2017-06-19 00:16] diasdavid opened #9556 "IPFS Integration - Roadmap and discussion"
Hi there brave team! I'm David, from the IPFS project.

I'm looking into the IPFS integration into the Brave browser and I'm hoping you could clarify some design details, just so that I'm sure I understand how everything is pieced together.

Right now, the most straightforward way is to mimic what WebTorrent did and create an extension. I've noticed that it gets its own WebPage, located at https:/

[2017-06-19 01:15] #9251 closed

[2017-06-19 01:15] #9252 closed

[2017-06-19 01:29] #9305 closed

[2017-06-19 03:53] #9499 closed

[2017-06-19 03:53] bbondy commented on #9499
https://github.com/brave/muon/commit/3df31a1bbc4dbe8f28860174b9c99eb9af633d11

[2017-06-19 04:23] cezaraugusto opened #9558 "Tracking: Refactor preferences.js to Aphrodite"
Before it needs to:

- [ ] Split `GeneralTab` tab to its own component (#9706)
- [ ] Split `SearchSelectEntry` to its own component
- [ ] Split `SearchEntry`, `SearchShortcutEntry` to its own component
- [ ] Split `SearchTab` to its own component (issue #7397)
- [x] Split `TabsTab` to its own component (issue #7398)
- [ ] Split `SitePermissionsPage` to its own component
- [ ] Split `ShieldsTab` to

[2017-06-19 04:29] #9089 closed

[2017-06-19 04:50] luixxiul opened #9559 "Remove duping secondaryColor button on about:styles"
**Describe the issue you encountered:** Remove a duping secondaryColor button on about:styles

https://github.com/brave/browser-laptop/blob/3dfc59890c2f19a376f72b3430a070bdd125e49b/js/about/styles.js#L260-L263

- Extra QA steps:
    1.
    2.
    3.

- Any related issues:

[2017-06-19 04:54] #9536 closed

[2017-06-19 05:17] #9541 closed

[2017-06-19 05:24] bsclifton commented on #9502
awesome, thanks for bringing this up @evq (and also for offering a solution).  I'll assign this to the 0.17.x milestone so that we can triage appropriately

[2017-06-19 05:53] bsclifton commented on #9524
We may want to close this in favor of https://github.com/brave/browser-laptop/issues/8303

[2017-06-19 05:57] NejcZdovc commented on #9524
This are not the same, so we can't close this one. Comment left here https://github.com/brave/browser-laptop/pull/9525#issuecomment-309345570

[2017-06-19 05:59] #9524 closed

[2017-06-19 06:46] srirambv opened #9561 "Closing the only tab in second tabset shows wrong number of tabs"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Closing the only tab in second tabset causes ugly transition when moving back to existing tabs

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.17.3
rev	02a7878
Muon	4.0.3

- Steps to reproduce:
    1. Clean install  0.17.3
    2. Open 2

[2017-06-19 06:47] bsclifton commented on #4244
The solution to this might be to intercept the `WM_SYSCOMMAND` event in Muon and look through registered menus which have an associated RECT (that is up to the user to register). If no applicable ones are found, THEN do the default behavior (showing the borderline-useless system menu)
(for more info see https://msdn.microsoft.com/en-us/library/windows/desktop/ms646360(v=vs.85).aspx)

[2017-06-19 06:49] bsclifton commented on #8303
Fixing this properly would require either making the tabs bar non-draggable OR solving https://github.com/brave/browser-laptop/issues/4244

[2017-06-19 06:50] bsclifton commented on #9384
Per my above comment, the right clicking => context menu issue would need to be solved with https://github.com/brave/browser-laptop/issues/4244

[2017-06-19 06:53] bsclifton commented on #6690
@jonathansampson I think this has been fixed... Can you please retest? 😄

[2017-06-19 06:55] bsclifton commented on #4545
Fixing this properly would require either making the tabs bar non-draggable OR solving https://github.com/brave/browser-laptop/issues/4244

[2017-06-19 07:03] bsclifton commented on #8641
@Liunkae did you want to redo the reload/stop button with native context menu?  I remember you had originally submitted the PR with it as a native menu, but we changed back (at my request, since macOS menus were sync at the time)

[2017-06-19 07:10] srirambv commented on #9538
+1 on slimming down the panel.

cc: @bradleyrichter

[2017-06-19 07:27] NejcZdovc opened #9562 "Middle click is not working on Home button"
## Test plan
See https://github.com/brave/browser-laptop/pull/9672#issue-237979273

## Original issue description
- Did you search for similar issues before submitting this one?
yes
- Describe the issue you encountered:
Middle click is not working on Home button. This regressed when we needed introduce aux event for chromium 54.
- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS
- Brave Version

[2017-06-19 07:38] drcayman opened #9563 "npm error react-dom@15.6.1 requires a peer of react@^15.6.1 but none was installed."
npm WARN react-dom@15.6.1 requires a peer of react@^15.6.1 but none was installed.
npm WARN react-test-renderer@15.6.1 requires a peer of react@^15.6.1 but none was installed.
npm WARN ajv-keywords@2.1.0 requires a peer of ajv@>=5.0.0 but none was installed.

[2017-06-19 07:39] drcayman commented on #9563
`-- UNMET PEER DEPENDENCY react@15.5.4

[2017-06-19 07:42] luixxiul opened #9565 "Add option to send language value different from UI language"
**Describe the issue you encountered:** Add an option to send language value than UI language (since language is one of the decisive factors on Panopticlick).

![clipboard01](https://user-images.githubusercontent.com/3362943/27274344-d8acd16c-550d-11e7-9057-46eb451385d6.jpg)

- Platform (Win7, 8, 10? macOS? Linux distro?): Windows 10

- Brave Version (revision SHA): 0.16.9

- Steps to reproduce:

[2017-06-19 07:44] luixxiul commented on #9538
Compact download panel option could be an option.

[2017-06-19 07:50] #9533 closed

[2017-06-19 08:22] #9543 closed

[2017-06-19 08:33] Jacalz commented on #9538
Also redoing the download panel with a more flat look and less gap on to and bottom, like the remake of the tabs bars 👍

[2017-06-19 08:53] NejcZdovc commented on #9538
I think that we need to redo the whole download panel, some more info here #7082. Personally I wouldn't go with option for compact, but would just make it compact with all the missing data.

[2017-06-19 10:12] luixxiul commented on #9162
It seems this has been fixed until c5968c5.

[2017-06-19 10:15] lol-russo commented on #3555
+1

I wish I could use Brave all day every day but this is stopping me from using it for work, which is the main time I'm browsing

[2017-06-19 10:19] luixxiul commented on #9157
lately you get the red icon on macOS:

<img width="101" alt="screenshot 2017-06-19 19 16 50" src="https://user-images.githubusercontent.com/3362943/27280742-069cbc7a-5524-11e7-92a6-3126929aef3b.png">

[2017-06-19 10:20] NejcZdovc commented on #9162
Just tried on master branch (ddc30fda6fd4596d48f63d154f4dee10014f55d0) is working correctly for me on macOS.

![image](https://user-images.githubusercontent.com/9574457/27280811-985e7094-54e9-11e7-8ff0-7dc98252eb43.png)

[2017-06-19 10:21] luixxiul commented on #7357
The pocket icon seems to have the color based on the status. See: https://github.com/brave/browser-laptop/issues/9157#issuecomment-309399249.

@srirambv would you check the icon again with a fresh profile? if it is confirmed that the bug has been fixed, please re-close the issue. Thanks!

[2017-06-19 10:28] srirambv commented on #7082
This is problem on Windows(at least I hope so) when the size of the file is not mentioned, It just shows as downloading on Chrome as well and the taskbar indicator just keeps flashing until the entire file is downloaded.

[2017-06-19 10:30] srirambv commented on #9538
Have a compact panel with just File name, Size(completed/Total) and time remaining similar to chrome but then on mouse hover on download item, can show the source URL as well. (Considering if users still want to know where they are downloading it from)

[2017-06-19 10:48] RGBD opened #9567 "Window menu doesn't open in Gnome 3 on Arch Linux"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Window menu doesn't open. Clicking does nothing.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Arch Linux
Gnome Shell 3.24.2

**about:brave** says: Node.js	7.9.0
but
[code]

- Brave Version (revision SHA):
0.19.0 (ddc30fda6fd4596d48f63d154f4dee10014f55d0)

- Steps to reproduce:
    1. Star

[2017-06-19 11:46] srirambv commented on #7357
Doesn't seem to be an issue for Windows ia32.  Pocket icon becomes grey when navigated to a unmarked page and shows red when opened

Closing the issue for now

cc: @luixxiul

[2017-06-19 11:46] #7357 closed

[2017-06-19 13:27] srirambv opened #9568 "Bookmarking top tiles doesn't show default favicon"
## Test plan

https://github.com/brave/browser-laptop/pull/13107#issue-168648474

----

- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Bookmarking top tiles doens't show default favicon

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.17.3
rev	02a7878
Muon	4.0.3

- Steps to reproduce

[2017-06-19 13:39] LaurenWags commented on #8302
+1 from community https://community.brave.com/t/macos-periodic-beach-ball/3476/2

[2017-06-19 13:42] LaurenWags commented on #517
+1 from community https://community.brave.com/t/reading-mode-safari-has-it-built-in/3387

[2017-06-19 13:59] LaurenWags opened #9569 "Improve Bookmark Import - request from community"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
From Community: (https://community.brave.com/t/first-use-and-import-favs-from-any-browser/3593)

Please create a better way to import bookmarks. User requests that they not all be in an 'Imported' folder, but rather the imported bookmarks have the same structure as the browser that they came

[2017-06-19 15:18] luixxiul commented on #9561
reproduced on macOS too

[2017-06-19 15:42] Liunkae opened #9571 "Convert reload context menu to native context menu"

[2017-06-19 15:43] Liunkae commented on #8641
Sure. I opened #9571 for this.

[2017-06-19 15:45] alexwykoff commented on #9530
migrated to https://github.com/brave/sync/issues/111

[2017-06-19 15:45] #9530 closed

[2017-06-19 15:46] alexwykoff commented on #9529
migrated to https://github.com/brave/sync/issues/112

[2017-06-19 15:46] #9529 closed

[2017-06-19 15:47] alexwykoff commented on #9303
migrated to https://github.com/brave/sync/issues/113

[2017-06-19 15:47] #9303 closed

[2017-06-19 15:49] alexwykoff commented on #9135
migrated to https://github.com/brave/sync/issues/114

[2017-06-19 15:49] #9135 closed

[2017-06-19 15:51] alexwykoff commented on #8513
migrated to https://github.com/brave/sync/issues/115

[2017-06-19 15:51] #8513 closed

[2017-06-19 15:59] srirambv opened #9572 "Clicking on playback button on Openload.co opens a popup tab which autoclicks on the connection info button"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Clicking on playback button on Openload.co opens a popup tab which autoclicks on the connection info button

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):

- Steps to reproduce:
    1. Visit this [link](http://putlocker-hd.com/)
    2. Open an

[2017-06-19 16:00] alexwykoff commented on #8508
Confirmed fixed. Moving up to 0.17.x

[2017-06-19 16:00] #8508 closed

[2017-06-19 16:11] luixxiul commented on #9567
the issue was fixed on #9470

[2017-06-19 16:12] luixxiul commented on #9567
the fix will be available on 0.17 series. thanks for report!

[2017-06-19 16:12] #9567 closed

[2017-06-19 16:56] #9466 closed

[2017-06-19 17:14] alexwykoff opened #9573 "Manual test run on Linux(Gnome) for 0.17.x"
## Installer

1. [x] Check that installer is close to the size of last release.
2. [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup

[2017-06-19 17:19] lukemulks opened #9574 "Embedded twitter video playback issue"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
A user in Reddit reported that video within embedded twitter video players is not playing back when activated.

When shields are disabled, the video plays without issue.

The embedded player only loads a white screen when playback is initiated by the user.

Original URL where this was reporte

[2017-06-19 17:19] alexwykoff opened #9575 "Manual test run on Windows x64 for 0.17.x"
# Manual Tests Template

Copy this to a new issue on each release.
The tests should run for macOS, Windows x64, Windows ia32, and a Linux distro for each release.

## Installer

1. [x] Check that installer is close to the size of last release.
2. [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the in

[2017-06-19 17:20] alexwykoff opened #9576 "Manual test run on Windows ia-32 for 0.17.x"
# Manual Tests Template

Copy this to a new issue on each release.
The tests should run for macOS, Windows x64, Windows ia32, and a Linux distro for each release.

## Installer

1. [x] Check that installer is close to the size of last release.
2. [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the in

[2017-06-19 17:20] alexwykoff opened #9577 "Manual test run on OS X for 0.17.x"
# Manual Tests Template

Copy this to a new issue on each release.
The tests should run for macOS, Windows x64, Windows ia32, and a Linux distro for each release.

## Installer

1. [x] Check that installer is close to the size of last release.
2. [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the in

[2017-06-19 17:22] alexwykoff opened #9578 "0.17.x exclusion list"
Generated 06/19/2017:
 - [ ] Sort top sites more deterministically. ([#9541](https://github.com/brave/browser-laptop/issues/9541))
https://github.com/brave/browser-laptop/issues/9541
 - [ ] AppState.sites sort takes a long time (Every navigation +200 ms [w/ 10K bookmarks]). ([#9427](https://github.com/brave/browser-laptop/issues/9427))
https://github.com/brave/browser-laptop/issues/9427
 - [ ] Boo

[2017-06-19 17:22] alexwykoff opened #9579 "0.17.x release notes"
Generated 06/17/2017
 - Incorrect hostname shown in titlemode when host is very long. ([#9500](https://github.com/brave/browser-laptop/issues/9500))
 - Upgrade to Chromium 59.0.3071.104. ([#9499](https://github.com/brave/browser-laptop/issues/9499))
 - Middle click on pinned tab causes all opened tabs to show as pinned tabs. ([#9492](https://github.com/brave/browser-laptop/issues/9492))
 - Clickin

[2017-06-19 17:34] LaurenWags opened #9580 "Brave crashes after login to Roundcube Webmail"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Reported by Community user: (https://community.brave.com/t/0-13-0-crashes-os-x/914)
Crashes when I sign in to Roundcube Webmail. Displays the login page OK, then after successful login displays the main interface briefly, then crashes with this report (much abbreviated because of 32k limits).

[2017-06-19 20:59] #9563 closed

[2017-06-19 21:06] bbondy opened #9581 "Optimize top site order lookups"
Order lookups use indexOf currently and can be optimized to map lookup.

[2017-06-19 21:43] #9482 closed

[2017-06-19 21:43] #9451 closed

[2017-06-19 21:43] #9449 closed

[2017-06-19 21:44] #9443 closed

[2017-06-19 21:44] #9428 closed

[2017-06-19 21:49] #8877 closed

[2017-06-19 21:49] #9338 closed

[2017-06-19 21:50] #9416 closed

[2017-06-19 21:50] #9346 closed

[2017-06-19 21:56] #9448 closed

[2017-06-19 22:28] eljuno opened #9583 "Extension description changed in non English language."
- Did you search for similar issues before submitting this one?
Yes.

- Describe the issue you encountered:
Trying to enable some extension in `about:preferences#extensions` (to test the l10n). Before enable extension, it show description in Bahasa Indonesia. But when enable the extension, description change to English. Disable it, will change it back.

Some description also shown in English even

[2017-06-19 22:46] jonathansampson commented on #9556
Hello, @diasdavid!

The _magnet_ protocol is defined as navigable in the https://github.com/brave/browser-laptop/blob/f3b80609976d90ef120bdcffbd7cd466e8ff4fc5/js/lib/appUrlUtil.js component. It is there that you can also defined/direct the behavior of _ipfs_, and _dweb_ protocols.

If you run into any issues from here, or have questions about the _appUrlUtil_ component, please do not hesitate to r

[2017-06-19 22:48] #9506 closed

[2017-06-19 23:12] kevinlawler opened #9584 "move most extension registration from muon into browser-laptop"

[2017-06-19 23:36] #6984 closed

[2017-06-19 23:40] cezaraugusto opened #9586 "add tests for enpass pw manager"
follow up of #9546

[2017-06-20 00:00] AlienHoboken opened #9587 "Settings menu button "too small""
- Did you search for similar issues before submitting this one?
yes

- Describe the issue you encountered:
The settings menu button in the top right is "too small". Specifically, it ends immediately at the top and bottom of the icon (it is standard to have some extra padding to the sides of the icon on these buttons). Further, I feel it is too narrow but that may be personal preference.

Also, it

[2017-06-20 00:02] bridiver commented on #9502
@evq I think this might be fixing a symptom instead of the problem. `activeFrameKey` should never point to a frame in closeFrames and I think we should find out why that is happening instead of trying to clean up the mess when it does happen

[2017-06-20 00:29] evq commented on #9502
@bridiver Yup, +1 for finding the root cause. Unfortunately I have been unable to reliability reproduce the cause, so I could only work from a state of already having a messed up `activeFrameKey`.

My branch was more of a suggestion to consider being able to gracefully recover in the case that it does somehow get messed up. Perhaps a more general check that `activeFrameKey` is valid before writing

[2017-06-20 00:34] bridiver commented on #9502
It's a tough call. On one hand we don't want users to be left in an unrecoverable state, but we also don't want to mask problems with workarounds. What we really need is a way to get "crash reports" for errors that we recover from and then this would be a big issue

[2017-06-20 01:10] cezaraugusto commented on #9587
hi @AlienHoboken thanks for reporting.

We thought that too and updated that button with an increased clickable area:

![image](https://user-images.githubusercontent.com/13509546/26892994-e3440f44-4b6e-11e7-92b9-e14a51be57b5.png)

should be included in our 0.19.x series thanks to our awesome @luixxiul

Feel free to check that out if you want to see if that works for you. Thanks!

[2017-06-20 01:36] bridiver commented on #9502
I think I see what the issue is @evq. We are adding to closedFrames on `will-destroy` in `frameStateUtil.removeFrame` and frameReducer `WINDOW_CLOSE_FRAMES`, but that happens before the activeFrame is updated. We should move closedFrames to `APP_TAB_CLOSED` and possibly get rid of the `will-destroy` handler and move everything from `windowConstants.WINDOW_CLOSE_FRAME` to `appConstants. APP_TAB_CLO

[2017-06-20 01:37] bridiver commented on #9502
another option is to move closedFrames to appState which is what we want to do with most things long-term anyway, but I didn't look to see how much work that would be

[2017-06-20 01:46] lukemulks commented on #9376
+1 from community https://community.brave.com/t/ad-blocking-not-working-on-drudgereport-com/4032/5

[2017-06-20 01:49] evq commented on #9502
@bridiver fyi after rebuilding browser-laptop-bootstrap I'm consistently seeing a related issue with `activeFrameKey` when starting without any profile at all. seems it's starting off as null so on first launch the browser is totally unresponsive, (and subsequent loads since null is written into the session store on close.) I'll look into this one, it seems to be a different root cause (with the s

[2017-06-20 02:08] bridiver commented on #9502
@evq it's muon-version dependent so it's something between 4.0.x and 4.1.x, but feel free to take a stab at fixing the closed frame issue if you want

[2017-06-20 02:11] bridiver commented on #9502
actually there are two independent issues. The active frame is not related to the console error and I have a fix for that. The console error just needs a null check for activeFrameStatePath I think

[2017-06-20 02:49] bbondy opened #9590 "Add support for Linux Mint - Serena"

[2017-06-20 03:39] diracdeltas commented on #9505
closing as dupe of #9150

[2017-06-20 03:54] luixxiul commented on #7921
The bitwarden icon is not displayed on a web page, while it is on an about page such as about:preferences.

![a](https://user-images.githubusercontent.com/3362943/27315921-8805a8c4-55b7-11e7-9413-7063dcd7fbee.gif)

[2017-06-20 03:56] luixxiul opened #9592 "bitwarden extension icon is not displayed on a web page"
**Describe the issue you encountered:** The bitwarden icon is not displayed on a web page, while it is on an about page such as about:preferences.

![a](https://user-images.githubusercontent.com/3362943/27315921-8805a8c4-55b7-11e7-9413-7063dcd7fbee.gif)

- Platform (Win7, 8, 10? macOS? Linux distro?): Debian

- Brave Version (revision SHA): 0.17.3

- Steps to reproduce:
    1. Enable bitwarden

[2017-06-20 04:03] luixxiul commented on #2398
I had a difficulty in logging in to Pocket as there was no indication that blocking 3rd party cookies prevented me from logging in.

I thought it would be nice to have another row, or an icon on URL bar like noScript one.

[2017-06-20 04:05] lukemulks commented on #1373
One note regarding Disqus that is worth factoring into cases like this and others.

Disqus has a native ad product named Reveal that is fairly low profile.

Product FAQ:
https://help.disqus.com/customer/portal/articles/2069645-reveal-f-a-q-

Placement details:
https://help.disqus.com/customer/portal/articles/1969476

The ads do have the option to opt-out, but is required by the publisher and invol

[2017-06-20 04:10] len5742 opened #9593 "can't remove bookmark or change its location"
- Did you search for similar issues before submitting this one? to the best of my extremely meager ability

- Describe the issue you encountered:

1. Can't remove bookmark:  Clicking on 'remove' - bookmark window closes, but star remains orange. Note that the 'remove' button does not get the 'selected' outline when I click on it, but window still closes as if selected.

2.Can't change bookmark loc

[2017-06-20 04:36] alexwykoff opened #9594 "Printing in Google Drive only allows saving spreadsheets to pdf"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
When attempting to print a spreadsheet in google drive, the only option given was to save as a PDF. Other browsers allow for a choice between available printers and saving as PDF.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Reported in Community, verified on macOS.

- Brave Version (revi

[2017-06-20 04:39] luixxiul commented on #9573
I need to set up another VM with Gnome. I tried to switch to Gnome on Debian but it seems I broke it with misconfiguration.

[2017-06-20 04:43] #9590 closed

[2017-06-20 05:03] srirambv commented on #9592
Dupe of https://github.com/brave/browser-laptop/issues/9437

[2017-06-20 05:03] #9592 closed

[2017-06-20 05:36] bsclifton commented on #9470
Heads up folks!  The fix for this issue has been pushed.  Please use your package manager of choice to update to the latest release, which should be `0.16.11` 😄 👍

Please let me know if you are having trouble updating

[2017-06-20 05:37] phazer-11 commented on #3967
I vaguely remember seeing this thread now. Forgot about it when I made the feature request on the brave forums after doing a search there. Hoping it gets seen there.

[2017-06-20 06:09] #9581 closed

[2017-06-20 06:18] bsclifton commented on #9584
@kevinlawler was this issue supposed to be closed after https://github.com/brave/browser-laptop/pull/9585? or is there more to do?

[2017-06-20 06:20] bsclifton commented on #9583
cc: @cezaraugusto

[2017-06-20 06:22] #9508 closed

[2017-06-20 06:26] bsclifton commented on #9587
@luixxiul @cezaraugusto is there any effect that happens on hover? I like that suggestion (I think right now, we just change color... but we could put a border around it on hover also)

cc: @bradleyrichter

[2017-06-20 06:28] bsclifton commented on #9567
@RGBD the fix for this is now available 😄 You can grab the binaries from https://github.com/brave/browser-laptop/releases/tag/v0.16.11dev

Please let us know if this fixes the issue.  Thanks!

[2017-06-20 06:32] bsclifton commented on #9538
@JGH1000 do you have the option enabled (it's under Preferences > Advanced) for Toolbar and UI elements scale?  This will make the user interface (not the web pages) bigger, which is great for reading... but horrible when the download bar takes up half the screen

It would be nice to offer a compact download bar as an option (perhaps disabled by default)

[2017-06-20 06:34] bsclifton commented on #9565
This is an interesting one, since many sites use that and react to the value (it's sent in the HTTP header when page is fetched)

cc: @diracdeltas

[2017-06-20 06:38] bsclifton commented on #5220
Good call on cc'ing @diracdeltas; because unicode characters can be used to spoof popular sites, it's probably better that we show the raw ASCII name (ex: the punycode encoded domain name).

It would be nice though to either have an option (opt-in) to enable punycode decoding of the domain names (showing in the native unicode) OR for us to consider what type of UX would be needed to ensure users d

[2017-06-20 06:50] bsclifton commented on #8747
@luixxiul I see that you mention it's not fixed in https://github.com/brave/browser-laptop/pull/9328#issuecomment-307006823

I am not able to reproduce the issue where saving / reloading creates more tabs. Can you edit the original post with more details about what you're seeing?  Thanks 😄

[2017-06-20 06:51] NejcZdovc commented on #8747
For me it's really easy to reproduce.

1) run `npm run watch` and `npm run start`
2) open dev tools
3) modify a component
4) tabs are duplicated

[2017-06-20 06:58] NejcZdovc commented on #8747
One thing that also happens for me is that if you have for example 3 tabs opened and brave is reloaded with webpack when you click on + (add new tab) 3 tabs will be opened and not 1.

[2017-06-20 08:20] JGH1000 commented on #9538
@bsclifton Nope, the screenshot is with 'Normal' scale. I also tried to change to 'Smaller' but the panel is still very large. Perhaps having a Downloads icon at the top bar like in Firefox would be the cleanest solution.

[2017-06-20 09:05] Miyurz opened #9596 "Brave on Mac takes long to load"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Brave 0.16.9 takes almost 10 seconds to load. This started happening after my recent upgrade.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Mac Sierra

- Brave Version (revision SHA):
	fba98fc

- Steps to reproduce:
    1. Open Brave on the Mac after a recent reboot

- Actual result:
Brows

[2017-06-20 09:29] Yuripetusko commented on #9424
I am wondering if I have similar issue. This might be due to the fact that google auth needs to be opened in popup but Brave opens it in new tab instead. It is the issue if you use firebase `signInWithPopup` method

[2017-06-20 09:50] keverets commented on #6930
Brave also crashes on Debian 9.0 (stretch) running the default 4.9.0-3-amd64 kernel. The error message is misleading:

[code]

in that it's suggesting a kernel update would fix things (it won't), and the link to chromium docs is not relevant for Brave.

https://github.com/brave/browser-laptop/blob/master/docs/linuxInstall.md gives a link to superuser that will ultimate provide a temporary work-aro

[2017-06-20 11:30] srirambv commented on #9371
+2 from community
https://community.brave.com/t/multiple-monitor-support/2584/

[2017-06-20 12:48] srirambv commented on #5903
Fixed by https://github.com/brave/browser-laptop/commit/7ea7def4f631d9b51221a14b7b113fdc836d3da4?

[2017-06-20 13:30] srirambv commented on #9371
+1 from community https://community.brave.com/t/multiple-display-issue/767/2

[2017-06-20 13:34] bradleyrichter commented on #9538
DL panel needs a design refactor after some recents adds.

Adding it to the short list...

[2017-06-20 13:42] LaurenWags commented on #7597
+1 from community. Specifically user requests "unlimited colors for the tabs and also create a few catagories for the colors (and there are more than 256 Colors PLEASE GIVE US The Option of adding more than 10 colors and catagories for tabs/bookmarks)"

https://community.brave.com/t/color-tabs-for-brave/3530

[2017-06-20 13:58] srirambv commented on #6430
+1 from support https://community.brave.com/t/encrypt-bookmark-and-history-data/402/2

[2017-06-20 14:05] myale commented on #7597
we have to be able to adjust the TEXT Color as well so we can read the tabs as well  :)

[2017-06-20 14:26] LaurenWags opened #9598 "Double Click to minimize does not work in OSX"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
From community (https://community.brave.com/t/double-click-to-minimize-doesnt-work-in-osx/2274)

Mac OSX Sierra. There's a setting in Dock Preferences for double-clicking a window's title bar to minimize it. This is ignored in OSX. Instead, Brave seems to maximize but not go full screen.

- P

[2017-06-20 14:32] luixxiul commented on #9573
@alexwykoff could you please modify your script to wrap the default html tags with ` ? the `<li>` element needs to be escaped (See #7026 above)

[2017-06-20 14:34] NejcZdovc commented on #5903
Yes, it should be fixed

[2017-06-20 15:19] #9502 closed

[2017-06-20 15:21] LaurenWags commented on #8067
+1 from community - https://community.brave.com/t/open-url-by-dragging-link-to-new-tab-button-or-empty-page/1563

User would also like to drag a URL from a page up to the tabs bar as you can in Chrome.

[2017-06-20 15:27] svenified opened #9599 "Minimize popup persists"
- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:
Clicking the minimize button on the top right of Brave browser before the popup "Minimize" appears, the main window will minimize ,however the minimize popup appears then persists over all other windows/desktop.
- Platform (Win7, 8, 10? macOS? Linux distro?):
Win7 Ultimate
- Brave Version (rev

[2017-06-20 15:35] #9444 closed

[2017-06-20 15:51] jonathansampson commented on #8956
My problem yesterday was that I wanted to quickly approve _media_, _autoplay_, and _notifications_. I rapidly clicked down the notifications in succession, but then realized I had unintentionally denied one or two of the requests, because their _deny_ button was in the same ad-hoc column as the _allow_ buttons.

[2017-06-20 15:56] srirambv commented on #7628
+1 from community https://community.brave.com/t/disable-address-bar-autofill/4110

[2017-06-20 15:57] NejcZdovc opened #9600 "Update travis permissions"
**Describe the issue you encountered:**
Now we are getting this notification ` This job ran on our Trusty, sudo: required environment which will be updated on Wednesday, June 21st. Please add group: edge to your .travis.yml file to try the new images and check our blog for more details about this update.`

https://blog.travis-ci.com/2017-06-19-trusty-updates-2017-Q2

[2017-06-20 16:05] #9440 closed

[2017-06-20 16:05] NejcZdovc commented on #6430
cc @diracdeltas

[2017-06-20 16:08] srirambv opened #9602 "Edit bookmark closes the folder dropdown and typing in edit mode jumps the cursor to the end after one character entry"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Edit bookmark closes the folder dropdown and typing in edit mode jumps the cursor to the end after one character entry

- Platform (Win7, 8, 10? macOS? Linux distro?):
All

- Brave Version (revision SHA):
Brave	0.16.9
rev	fba98fc
Muon	4.0.3

- Steps to reproduce:
    1. Open a bookmark folder

[2017-06-20 16:11] kevinlawler commented on #9584
Now that brave/browser-laptop#9585 and brave/muon#223 have both landed, we can close this issue. I should've noted this originally...

[2017-06-20 16:11] #9584 closed

[2017-06-20 16:41] luixxiul opened #9604 "IME conversion candidate remains in text field, including URL bar"
**Describe the issue you encountered:** https://github.com/brave/browser-laptop/pull/9490#issuecomment-309816719

- Platform (Win7, 8, 10? macOS? Linux distro?): macOS

- Brave Version (revision SHA): master

- Steps to reproduce: See above

- Extra QA steps:
    1.
    2.
    3.

- Any related issues:

[2017-06-20 16:42] NejcZdovc commented on #9604
We also need to add IME support to all redux components that have inputs

[2017-06-20 16:50] rnsjunkmail commented on #2965
Re: iCloud

I still have to turn off fingerprinting to access iCloud as of June 20, 2017. I first reported seeing this in August of 2016 as i recall it. Anyway, I am wondering if Fingerprinting can be broken down into sub-parts and those that break iCloud could be identified. Maybe even say a Fingerprinting Security Level system could be established with Level 1 being the lowest level of FP securi

[2017-06-20 16:52] luixxiul opened #9605 "letter-spacing on #navigator .urlbarForm input should not be globally set"
**Describe the issue you encountered:** Since you get this one on Debian Gnome:

![clipboard01](https://user-images.githubusercontent.com/3362943/27345018-47857d26-5623-11e7-8518-b18f09650afd.jpg)

Removing it makes it to:

![clipboard01](https://user-images.githubusercontent.com/3362943/27345040-5942e3fa-5623-11e7-8f8a-1529862096fd.jpg)

Because we use different font sets among OSes, we should av

[2017-06-20 17:19] tonsimple opened #9606 "Profile corruption and menu bar death under Debian (confirmed for qubes, pending for "bare metal")"
- Did you search for similar issues before submitting this one?
yes
- Describe the issue you encountered:
I've upgraded all software in my VMs (finally) and couldn't start brave.
Only can start brave if profile folder, or, more specifically, the session-store-1 file, is deleted.
Downgrading brave helps.

Also, after upgrade, the menu bar has become completely unresponsive (not a big issue, but I l

[2017-06-20 17:20] srirambv commented on #4501
Moving to 0.19.x as the fix is only done on https://github.com/brave/ad-block/issues/66. There is no browser-laptop work done.

[2017-06-20 17:24] diracdeltas commented on #5220
We display punycode-only to prevent homograph attacks, see for instance https://thehackernews.com/2017/04/unicode-Punycode-phishing-attack.html. Google has some standards for what unicode characters should be displayed as punycode. https://www.chromium.org/developers/design-documents/idn-in-google-chrome

[2017-06-20 17:28] cezaraugusto commented on #8956
@bradleyrichter how the order would be? also, do you want to change the button colors?

[2017-06-20 17:43] #9505 closed

[2017-06-20 17:43] luixxiul commented on #5726
As long as we use the fixed width, that thing can happen.

[2017-06-20 17:44] luixxiul commented on #5726
so my conclusion was: make the panel more large, or align the stuff vertically, and I took the latter.

[2017-06-20 17:52] luixxiul commented on #2559
It seems this has been fixed recently. I confirmed it on Windows 10 and Debian.

[2017-06-20 17:52] #2559 closed

[2017-06-20 17:55] tonsimple commented on #6930
For what it's worth, this issue is solved for me in Debian 8 with most recent Brave version (but a new issue now happens which I submitted separately)

[2017-06-20 17:59] srirambv commented on #8186
Fade in effect on LastPass is a little slower compared to Honey. But much better than the initial transition 👍
![8186_1](https://user-images.githubusercontent.com/17010094/27348029-9b438946-55ea-11e7-8d21-cd78c219775f.gif)

[2017-06-20 17:59] luixxiul commented on #5220
As long as we stick to the Chromium way, it looks good to me.

`http://xn--p8j9a0d9c9a.xn--q9jyb4c/index.html` looks just simply corrupted, and I think we should avoid that.

[2017-06-20 18:03] Liunkae opened #9607 "Cannot View Certificate with PDFs"
- Did you search for similar issues before submitting this one?
Yes.

- Describe the issue you encountered:
If you are viewing a PDF over HTTPS, clicking View Certificate does nothing.

- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS 10.12.x

- Brave Version (revision SHA):
0.16.9 (fba98fc)

- Steps to reproduce:
    1. Open a PDF over HTTPS (e.g. https://letsencrypt.org/documents/LE_WebTrus

[2017-06-20 18:05] diracdeltas commented on #5220
chromium doesn't necessarily filter out all characters that can be used for phishing (which is why the recent IDN attacks affected Chrome but not Brave)

[2017-06-20 18:13] luixxiul opened #9608 "Unpinning tab intermittently does not display the title on tabs"
**Describe the issue you encountered:** Unpinning does not display the title on tabs.

![clipboard01](https://user-images.githubusercontent.com/3362943/27348483-2d34b674-562f-11e7-801a-fbc90358e23e.jpg)

- Platform (Win7, 8, 10? macOS? Linux distro?): Debian

- Brave Version (revision SHA): 02a7878

- Steps to reproduce:
    1. Open a dashboard
    2. Open some pages via the tiles
    3. Pin them

[2017-06-20 18:28] luixxiul opened #9609 ""Close tab page" does not close the tab page with only new tabs"
**Describe the issue you encountered:** "Close tab page" does not close the tab page with only (a) new tab(s).

- Platform (Win7, 8, 10? macOS? Linux distro?): Debian

- Brave Version (revision SHA): 0.17.3

- Steps to reproduce:
    1. Set the max tabs number of 1 tab page to `6`
    2. Open an external site in the 1st tab
    3. Open 6 blank tabs
    4. Open the 2nd tab page (with one new tab)

[2017-06-20 18:31] NejcZdovc commented on #9609
dup of #9420

[2017-06-20 18:31] #9609 closed

[2017-06-20 18:32] NejcZdovc commented on #9420
Yes it's still an issue, as reported in #9609

[2017-06-20 18:40] srirambv commented on #8626
Works as per  testplan(https://github.com/brave/browser-laptop/pull/8866#issue-228574796) but for Slack notification it still doesn't show the carat symbol
![image](https://user-images.githubusercontent.com/17010094/27349735-245627d4-55f0-11e7-8dbd-5e709dd23443.png)

[2017-06-20 18:42] srw6666 commented on #9606
Confirmed for bare metal as well.  Running:

ii  brave                   0.17.3-1         amd64            Brave laptop and desktop browser

[2017-06-20 18:44] Jacalz commented on #9607
I was able to reproduce on windows 10 too

[2017-06-20 18:46] luixxiul commented on #3227
I tried again on Debian 9 (Gnome on vmplayer, with open-vm-tools installed) and this time it looks like the WebGL gets rendered. I'm not quite sure why this started working.

[2017-06-20 18:47] luixxiul commented on #3227
Reopening in case..

[2017-06-20 18:52] jonathansampson commented on #9437
Extensions have an associated tab collection, full of ids. This collection is consulted when switching tabs. @cezaraugusto, I would start searching there.

[2017-06-20 18:52] bbondy commented on #9438
Removing milestone, we can live with that until someone fixes.

[2017-06-20 19:00] kevinlawler commented on #8671
Snapshot of working/non-working functionality as of this morning:

    Window loads when fox icon clicked: Yes
    Accepting Terms works:              Yes
    Saving secret words works:          Yes
    Main account page displayed:        Yes
    Switching networks:                 Yes
    Switch accounts page displays:      Yes
    Hamburger menu displays:            Yes
    Create additional acc

[2017-06-20 19:01] #9306 closed

[2017-06-20 19:11] thermalCat commented on #9606
Appol's if I'm doing this wrong.
traditional Menu at top of window unresponsive since browser installed.
Menu via 'three vertical dots' at top right of window responsive - but lacks the 'history' option.

Brave	0.16.9
rev	fba98fc
Muon	4.0.2
libchromiumcontent	59.0.3071.86
V8	5.9.211.31
Node.js	7.9.0
Update Channel	dev
os.platform	linux
os.release	3.19.0-32-generic
os.arch	x64

[2017-06-20 19:16] LaurenWags opened #9610 "gmail pop-out window does not close when selecting pop-in button/option"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
When composing an email on mail.google.com and trying to 'pop-in' a new message which I had already chosen the 'pop-out' option for, the extra popup window does not close automatically.

- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS

- Brave Version (revision SHA):

Name	Version
Brave

[2017-06-20 19:34] LaurenWags opened #9612 "Containers functionality requested"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Community user requested 'Containers' functionality that is available in Firefox TestPilot.

https://community.brave.com/t/containers-for-brave/1620

[2017-06-20 19:56] LaurenWags commented on #8302
+1 from community https://community.brave.com/t/delayed-functions-help-needed/3547

[2017-06-20 19:58] onuromer commented on #9371
Replying for the community post: https://community.brave.com/t/multiple-monitor-support/2584/

I've attached the screencast. (Sorry it is a wide video to properly show both screens to describe the situation)

I've compared the behaviour side by side with firefox as well to show you the difference.
On screencast you will see my secondary monitor on left and primary monitor on right.
As appeared in

[2017-06-20 20:26] Mevrael commented on #7742
Is there a way to have more then 6 top sites in dashboard right now?

[2017-06-20 20:27] Liunkae commented on #9598
Duplicate of #2364.

[2017-06-20 20:27] #9598 closed

[2017-06-20 20:29] Liunkae commented on #2364
+1 from #9598 (https://community.brave.com/t/double-click-to-minimize-doesnt-work-in-osx/2274)

[2017-06-20 20:30] cezaraugusto commented on #9437
there's something affecting all extensions, other pw managers show the icon but are unclickable

[2017-06-20 20:34] oddballhero commented on #9470
Works in Debian Fluxbox, does not work with Debian Mate, at least for me.

[2017-06-20 20:38] Liunkae commented on #9599
@svenified Thanks for the report! This is a duplicate of an existing issue, #8697. I'll close this issue and make a note in the other issue.

You can follow future progress by subscribing to that issue. This bug is expected to be fixed by version 1.0.0.

[2017-06-20 20:38] #9599 closed

[2017-06-20 20:38] Liunkae commented on #8697
+1 from #9599

[2017-06-20 20:43] oddballhero commented on #9606
I think this is related to issue #9470.

[2017-06-20 20:57] Liunkae commented on #9606
@oddballhero I think so. @tonsimple, @srw6666, and @thermalCat, please try the latest version (0.16.12).

[2017-06-20 20:59] Liunkae commented on #2559
Seems fixed on macOS too.

[2017-06-20 21:10] cezaraugusto commented on #9437
this seems to be related to muon. I did a time-travel over more than 300 commits and issue appeared intermittent, but extension is always unclickable. I often get this in response:

[code]

/cc @jonathansampson @kevinlawler

[2017-06-20 21:14] srw6666 commented on #9606
Also an issue in 0.17.3 so whatever fix was made was not ported to the 0.17.x branch

[2017-06-20 21:27] darkdh opened #9615 "Swipe Navigation Sensitivity Setting"
## Test plan

https://github.com/brave/browser-laptop/pull/9617#issue-237356717

----

<img width="138" alt="screen shot 2017-06-20 at 10 42 46 am" src="https://user-images.githubusercontent.com/11330831/27356725-7bc96570-55c4-11e7-99a4-37511e5f06b4.png">
similar to system setting

[2017-06-20 21:28] dmonay commented on #9424
That would make sense. @luixxiul is there an update on this?

[2017-06-20 21:38] eljuno commented on #1985
+1 [from community](https://community.brave.com/t/graphics-and-images-download-file-type/3856)

[2017-06-20 21:43] eljuno opened #9616 "Zoom Text Only"
- Did you search for similar issues before submitting this one?
yes

- Describe the issue you encountered:
from community https://community.brave.com/t/can-i-zoom-text-only/4127

- Platform (Win7, 8, 10? macOS? Linux distro?):

- Brave Version (revision SHA):

- Steps to reproduce:
    1.
    2.
    3.

- Actual result:
Using zoom feature, it zoomed entire page

- Expected result:
Only text that z

[2017-06-20 22:40] oddballhero commented on #9606
0.16.11 menu bar was working (at least on fluxbox), upgraded to 0.16.12 and menu bar now not working.  While I was upgrading my machines earlier, one of my machines got 0.16.11 but when I went to upgrade my other machines, the repository was updated from 0.16.11 to 0.16.12.

[2017-06-20 22:53] diracdeltas commented on #9612
+1 from an acquaintance

[2017-06-20 22:55] cezaraugusto commented on #7742
@Mevrael it was possible when new tab was implemented but not at this moment.

[2017-06-20 23:01] cezaraugusto commented on #9083
@bbondy pointed that #9539 might have fixed it and I confirm I no longer see this running macOS. @alexwykoff mind confirming that?

[2017-06-20 23:06] tonsimple commented on #9606
@Liunkae
Tried 0.16.12, same behavior wrt menu but managed to recover old session store. Wrote down sites of interests and re-tried on clean install.

"dead menubar" issue persists on 0.16.12

[2017-06-20 23:14] diracdeltas commented on #9441
note that this works on master

[2017-06-21 00:03] diracdeltas commented on #9441
it shows about:error because downloadme.org doesn't exist anymore, not because of Brave

[2017-06-21 00:11] bridiver commented on #9437
from window_bindings.js
[code]
if arguments.length === 1 getInfo will be null which would cause the error for getInfo.populate in `extensions.js`

[2017-06-21 00:18] bsclifton commented on #9001
+1 from @bradleyrichter; He noticed it spinning and never stopping
![spinning_loading_icon](https://user-images.githubusercontent.com/4733304/27361476-6e010502-55dc-11e7-9feb-f7c14d9da016.gif)

[2017-06-21 00:53] bbondy commented on #9561
I'll grab this, I have a fix, just working on a test. Will submit it soon.

[2017-06-21 01:23] bbondy commented on #9437
didn't make it in time for 0.17.x, sorry folks. Moved to 0.18.x.

[2017-06-21 01:23] bbondy opened #9619 "Disable bitwarden in 0.17.x"
This commit will only go to 0.17.x.

[2017-06-21 01:27] bsclifton commented on #9437
cc: @kspearrin

We're going to move our target for Bitwarden to 0.18.x ([milestones here](https://github.com/brave/browser-laptop/milestones); no date is assigned yet)

[2017-06-21 01:35] kspearrin commented on #9437
@bsclifton Ok. Let me know if there is anything I can do to help.

[2017-06-21 01:58] bbondy commented on #9437
Leaving it in as is for now, just disabling it in the 0.17.x branch for that release.

[2017-06-21 01:59] bridiver opened #9620 "download leaves about:blank page loading"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Some downloads create an about:blank page that stays open when the download starts

- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS

- Brave Version (revision SHA):
0.16.9

- Steps to reproduce:
    1. Go to http://www.dynonavionics.com/af-5000-software-updates.php
    2. Click on Downl

[2017-06-21 02:01] bridiver opened #9622 "child window doesn't close"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Feedly login window doesn't close after login

- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS

- Brave Version (revision SHA):
0.16.9

- Steps to reproduce:
    1. Go to feedly.com
    2. Click on "Existing User"
    3. Login with Google

- Actual result:
Feedly logs in correctly, but

[2017-06-21 02:14] bbondy commented on #9083
Moving to 0.18.x I'm not able to reproduce.
I do notice some lag that makes it seems like cmd+w doesn't work, but it works if you wait for the pages to load.  See steps below that I tried to reproduce with.

Alex shared these steps:

[code]

[2017-06-21 02:19] bbondy commented on #9495
Still reproduces for me on macOS @NejcZdovc and it's consistent. To reproduce make sure folder stays open and drag on folder name.  Drag the little lock next to a site that you're on into the blank folder.

Closing and opening the folder will then show it though, so this isn't a blocker. Moving it to 0.17.x.
It's just a refresh problem.

[2017-06-21 02:20] #9619 closed

[2017-06-21 02:20] bbondy commented on #5726
Moving to 0.18.x

[2017-06-21 02:34] #9620 closed

[2017-06-21 02:38] alexwykoff opened #9624 "Copy text keyboard combo does not create top level menu flash like other keyboard combos"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
While testing various keyboard combos, I discovered that cmd+c on os x was not flashing the top level menu.

- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS

- Brave Version (revision SHA):
0.16.9

- Steps to reproduce:
    1. highlight some text
    2. use cmd + c any number of times

[2017-06-21 02:41] bbondy commented on #9624
I think this is due to a hack we have in place for copy intermittently not working on mac.

[2017-06-21 02:42] bbondy commented on #9441
Moving to 0.18.x, lmk if that's a problem @diracdeltas  thx.

[2017-06-21 03:09] luixxiul commented on #9441
I think we would display then 404 error page.

[2017-06-21 03:11] luixxiul commented on #2559
@Liunkae thanks for confirming :-)

[2017-06-21 03:14] cezaraugusto commented on #9608
- hovering over element does not change state
- switching element does change state
- pinning one tab is not reproducible
- pinning 2+ tabs is easily reproducible

[2017-06-21 03:25] bbondy commented on #9441
should be working in 0.18.x so marking as closed in this milestone.

[2017-06-21 03:25] #9441 closed

[2017-06-21 03:46] Liunkae commented on #9470
Users are still having issues. Tracking in #9606.

[2017-06-21 03:47] bbondy opened #9626 "Upgrade to Chromium 59.0.3071.109"
I don't see any security issues fixed, seems to only be bugfixes. So 0.18.x is fine.

[2017-06-21 04:00] jonathansampson opened #9627 "Intermittent Issues with Look Up selection"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
From [a user on Twitter](https://twitter.com/shaftgunk/status/877011642499960836):

This issue was confirmed by both Brendan Eich and Brian Bondy.

- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS

- Brave Version (revision SHA):
N/A

- Steps to reproduce:
    1. Highlight a word
    2.

[2017-06-21 04:02] bbondy opened #9628 "Running tests with npm5 fails"
Because electron-chromedriver is missing.

[2017-06-21 04:19] alexwykoff opened #9630 "Extension Request : Patricott"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
A user from community would like support for https://chrome.google.com/webstore/detail/patricott-enabling-the-pa/bjomalfbejdddhihiacedoekfbdkhoea

[2017-06-21 04:35] Liunkae commented on #9627
Related: #8554 (Show definition popup is misaligned). +1 from me.

[2017-06-21 04:43] #9561 closed

[2017-06-21 05:11] srirambv commented on #5726
This is still an issue on the default shields panel unless we make the narrow panel as default. But for Russian even the narrow panel is as big as the default panel
![image](https://user-images.githubusercontent.com/17010094/27368072-6596e6d6-5648-11e7-9c18-132572b93571.png)

[2017-06-21 05:23] #9608 closed

[2017-06-21 05:29] #9628 closed

[2017-06-21 05:49] bsclifton commented on #9322
Automated test covers this very well (as long as we check results before deploying); marking as `no-qa-needed`

[2017-06-21 05:51] #9322 closed

[2017-06-21 05:58] mbirkegaard commented on #6630
Same issue. Whether I want to open a private or save to pocket, this makes doing either cumbersome. Maybe just make it possible to remap shortcut keys?

Mac OSX - 10.12.5
Brave - 0.16.9 - fba98fc
Save to Pocket - 2.1.32

[2017-06-21 05:59] luixxiul commented on #9162
It's not working yet on 0.17.3

[2017-06-21 06:10] luixxiul commented on #8581
@alexwykoff @LaurenWags would you please confirm this has been fixed as you can access the site only from US. thanks!

[2017-06-21 06:15] luixxiul commented on #8501
How to navigate to Honey's background page?

[2017-06-21 06:15] #9450 closed

[2017-06-21 06:16] NejcZdovc commented on #9162
is it working for you on 0.19?

[2017-06-21 06:48] luixxiul opened #9631 "Hide "update to preview release" toggle on linux"
## Test plan

1. Open about:preferences#advanced on a linux distibution
2. Make sure that "update to preview release" is not there

----

**Describe the issue you encountered:** Hide "update to preview release" toggle on linux.

- Platform (Win7, 8, 10? macOS? Linux distro?): linux

- Brave Version (revision SHA): 0.17 series

- Extra QA steps:
    1.
    2.
    3.

- Any related issues:

[2017-06-21 06:52] luixxiul commented on #9470
Confirmed on Debian on Gnome

with 0.16.12, 72624a2

[2017-06-21 06:53] luixxiul commented on #9606
https://github.com/brave/browser-laptop/issues/9470#issuecomment-309980488

[2017-06-21 06:53] Samizdata commented on #8581
Well, FWIW, I can confirm it is NOT fixed as when I visit the site and try to load a video, it tells me "Can't play video.  The latest Flash needs to be installed and enabled in your browser" and never offers me an option to start it.  Neither can I get any response on homestarrunner.com.

So I am going to put that down as a NOT WORKING AT ALL.  In fact, at this point I am not even able to get the

[2017-06-21 06:58] luixxiul commented on #9470
Fixed on 0.17.4 :-)

[2017-06-21 06:58] bsclifton commented on #9606
This is definitely an issue we're looking into.  0.16.11 did fix the menubar issue but introduced a different (also bad) bug, which is why we release 0.16.12.  We are re-adding the proper menu fix in now and expect to have a Linux only release within the next 24 hrs 😄

[2017-06-21 06:58] luixxiul commented on #9606
Fixed on 0.17.4 :-)

[2017-06-21 07:16] luixxiul commented on #512
tested on google result

[2017-06-21 07:27] luixxiul commented on #9395
The fix does not work when you open tabs with different domains. Please open the gif below and reload the tab to repeat it.

![a](https://user-images.githubusercontent.com/3362943/27371977-d91ba8bc-569d-11e7-8889-aa9865914184.gif)

If the opened tab has the same domain as the parent tab does, the setting works. See:

![a](https://user-images.githubusercontent.com/3362943/27372064-3367db06-569e-11e

[2017-06-21 07:34] luixxiul opened #9632 ""Select its parent tab" setting not working with different domains"
**Describe the issue you encountered:**
Follow-up to #9395. See https://github.com/brave/browser-laptop/issues/9395#issuecomment-309987467

- Platform (Win7, 8, 10? macOS? Linux distro?): Debian

- Brave Version (revision SHA): 0.17.4

- Steps to reproduce:
    1. Open about:preferences#tab
    2. Make you set the option to "Select its parent tab"
    3. Open your twitter timeline
    4. Open two

[2017-06-21 07:36] luixxiul commented on #9632
please change the milestone if needed

[2017-06-21 07:36] srirambv commented on #9608
Tried 4 times on different tile items. Issue seems fixed 👍

[2017-06-21 07:49] srirambv commented on #9541
@jonathansampson Is this expected?
![image](https://user-images.githubusercontent.com/17010094/27372932-2b5d9be8-565e-11e7-9ed5-b213f1e6b6a7.png)
![image](https://user-images.githubusercontent.com/17010094/27372920-21f78546-565e-11e7-94d7-5c6a0bab7526.png)

I should only be suggested the variant of google that matches my language/region.

I have the region set as Ireland but I see Google suggestio

[2017-06-21 07:55] luixxiul opened #9633 "duping separator between Clear Browsing Data and Show History"
**Describe the issue you encountered:** there is a duping separator between Clear Browsing Data and Show History.

![clipboard01](https://user-images.githubusercontent.com/3362943/27373203-5e3dbc34-56a2-11e7-94de-6c73fc126762.jpg)

- Platform (Win7, 8, 10? macOS? Linux distro?): Debian

- Brave Version (revision SHA): 0.17.4

- Extra QA steps:
    1.
    2.
    3.

- Any related issues:

[2017-06-21 07:56] srirambv commented on #9536
When verifying twice I didn't see the preview of the third tab after the second tab was closed and after the tab was closed the close button of third tab(now second) didn't show up until the cursor moved a little

[2017-06-21 07:56] #9240 closed

[2017-06-21 08:04] srirambv commented on #9524
Works fine but need confirmation for https://github.com/brave/browser-laptop/pull/9525#issuecomment-309995764 if that the expected behavoir

[2017-06-21 08:07] siwan05 opened #9634 "No notifications for https://hangouts.google.com/"
- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:
When receiving a message in hangouts I do not receive any notification
- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS Sierra 10.12.5
- Brave Version (revision SHA):
0.16.9
- Steps to reproduce:
    1. have https://hangouts.google.com/ open in a tab
    2. have other tab active
    3. re

[2017-06-21 08:08] luixxiul opened #9635 "Browser crashes by pinning sites, reordering them, and visiting a site via dashboard"
## Test plan

https://github.com/brave/browser-laptop/pull/10531#issue-250554691

Also make sure that the STR below does no longer crash the browser

----

**Describe the issue you encountered:** Browser crashes by pinning sites, reordering them, and visiting a site via dashboard.

![a](https://user-images.githubusercontent.com/3362943/27373626-fd84447e-56a3-11e7-9e13-e779e3484bfc.gif)

- Platform

[2017-06-21 08:19] srirambv commented on #9395
Verified same behavior on Windows as @luixxiul mentioned

[2017-06-21 08:28] luixxiul commented on #9162
@NejcZdovc yes it does.

[2017-06-21 08:30] luixxiul commented on #6401
I have fixed it with `commonFormDropdown`. Closing.

[2017-06-21 08:30] #6401 closed

[2017-06-21 08:33] srirambv commented on #7240
Not seeing any significance improvement on Windows with the test file.

[2017-06-21 08:46] luixxiul commented on #5726
I could set the text-ellipsis to the labels but I didn't because that's the important information and I thought we should not hide them even partially.

@bradleyrichter what do you think on that? Is it OK to set text-ellipsis to the labels?

[2017-06-21 08:49] luixxiul commented on #8581
maybe this is a silly question but do you try that on the latest preview, 0.17.4?

[2017-06-21 08:54] Jacalz opened #9636 "Manual test run for 0.17.x on Windows x64"
# Manual Tests Template

Copy this to a new issue on each release.
The tests should run for macOS, Windows x64, Windows ia32, and a Linux distro for each release.

## Installer

1. [x] Check that installer is close to the size of last release.
2. [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the in

[2017-06-21 08:59] srirambv opened #9637 "Bookmark folders should be highlighted when navigating to sub folders/bookmarks"
- Did you search for similar issues before submitting this one?
Yes, didnt find but might be a dupe

- Describe the issue you encountered:
Bookmark folders are not highlighted when navigating to sub folders/bookmarks

- Platform (Win7, 8, 10? macOS? Linux distro?):
All

- Brave Version (revision SHA):
Brave	0.17.4
rev	39c7a53
Muon	4.1.2

- Steps to reproduce:
    1. Add bookmark folder with sub fo

[2017-06-21 09:38] Jacalz commented on #9636
All the tests that I could do passed :+1:

[2017-06-21 09:38] #9636 closed

[2017-06-21 10:20] NejcZdovc opened #9638 "Local failing tests"
**Describe the issue you encountered:**
Tests that are failing locally (63ff18d)
[code]

[2017-06-21 11:20] dillbyrne commented on #9470
Fixed on Debian 8 KDE with 0.17.4. :+1:

[2017-06-21 11:42] lol-russo opened #9640 "No label on the Publisher Toggle button in URL bar"
- Did you search for similar issues before submitting this one?

Yes

- Describe the issue you encountered:

When hovering on the enable/disable publisher toggle button that sits to the right of the url bar, it doesn't show a label/tooltip which is the expected behavior, especially for a feature that is unique to Brave and needs more explaining/affordances. See screenshots below - expected behavio

[2017-06-21 12:03] dillbyrne commented on #6677
It would be nice to have an automatic way to do this so I could have all site data deleted once the last tab for that site is closed and only saved when I have added an exception for a particular domain. Like the self destructing cookies addon but with all the saved data.

[2017-06-21 12:05] NejcZdovc opened #9641 "Ledger pin publishers 0 for unpinned sites"
- Did you search for similar issues before submitting this one?
yes
- Describe the issue you encountered:
When you exclude all unpinned sites, pinned sites should have total of 100. Found while doing #9638
- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS
- Brave Version (revision SHA):
63ff18d
- Steps to reproduce:
    1. Enable ledger
    2. Visit two pages
    3. Go to payments
    4. Pin o