[2018-01-24 17:49] LaurenWags opened #12830 "Manual test run on Windows x64 for 0.19.x Hotfix 14 (Release channel)"
## Per release specialty tests
 - [x] Update to Muon 4.7.5. ([#12824](https://github.com/brave/browser-laptop/issues/12824))
 - [ ] Crash reporting / stats reporting should be using version (not rev). ([#12772](https://github.com/brave/browser-laptop/issues/12772))

## Installer
- [x] Check that installer is close to the size of last release.
- [x] Check signature: If OS Run `spctl --assess --verb

[2018-01-24 17:49] LaurenWags opened #12831 "Manual test run on Linux for 0.19.x Hotfix 14 (Release channel)"
## Per release specialty tests
 - [x] Update to Muon 4.7.5. ([#12824](https://github.com/brave/browser-laptop/issues/12824))
 - [ ] Crash reporting / stats reporting should be using version (not rev). ([#12772](https://github.com/brave/browser-laptop/issues/12772))

## Installer
- [x] Check that installer is close to the size of last release.
- [ ] Check signature: If OS Run `spctl --assess --verb

[2018-01-24 18:08] cezaraugusto commented on #12823
thanks @Jacalz! I'm closing this and re-opening #12823 with your claim so it's easier for QA

[2018-01-24 18:08] #12823 closed

[2018-01-24 18:09] cezaraugusto commented on #8860
Heads-up QA I'm re-opening after #12823. This will add a "no delay" (current name). Checked features aren't affected as we're only adding a new option.

[2018-01-24 19:05] petemill commented on #12811
Has anyone found any documentation on how this *should* work on macOS? Couldn't find anything in a quick search apart from https://developer.apple.com/library/content/documentation/Cocoa/Conceptual/WinPanel/Tasks/SizingPlacingWindows.html which does not seem to mention how windows should be sized initially. Can experiment with a basic XCode app.

[2018-01-24 19:07] eljuno commented on #12467
+1 from community https://community.brave.com/t/remove-noisy-allow-notifications-from-this-site-in-all-sites/14665?u=eljuno

[2018-01-24 19:21] LaurenWags commented on #12829
Geolocation was tested with https://html5demos.com/geo/

[2018-01-24 19:30] petemill commented on #12485
If the bar doesn't overlay the content, wouldn't it be a surprise to users that clicking the content will dismiss the bar? When something overlays content in a clear way, then I think it's predictable that clicking the layer 'underneath' it would dismiss that overlay, but if there is no connection I'm not sure it would be obvious, and may suprise users that the notification had gone before they pa

[2018-01-24 19:32] petemill commented on #12811
looks like it's random - I created a couple native mac apps in xcode just now and it decided that the permanent initial position for the new window of those apps would be 196 pixels from left and 240 pixels from bottom of the screen. If the window was so large that that was not possible, then it adjusts the inital position to account for it, which happens by default in electron too.

I imagine tha

[2018-01-24 19:38] bradleyrichter opened #12833 "Move Ledger Deleted Sites List to a new dialog"
As a user, I need more intuitive access to the sites I may have deleted from my Brave Payments list.

Currently, users are confused by the action of deletion and the location in prefs where these sites are managed.

A new link will be added to the bottom text navigation in the ledger list as shown:
(Show Deleted Sites)
![image](https://user-images.githubusercontent.com/13509546/35352959-7a605428-0

[2018-01-24 19:41] petemill commented on #12811
I suggest we do the same as Chromium - take up half the screen width and 100% of the screen height, but accounting for some margin:

![image](https://user-images.githubusercontent.com/741836/35353121-0ac70cc8-00fb-11e8-95d1-5a3655eb499b.png)

![image](https://user-images.githubusercontent.com/741836/35353135-13ac74f4-00fb-11e8-8b86-4330961747f3.png)

[2018-01-24 19:55] Tomatoshadow2 opened #12834 "FC Barcelona website, doesn't display any content in menus unless shield is down."
Description
FC Barcelona website doesn't work unless shield is down

Steps to Reproduce

  1. Go to https://www.fcbarcelona.com/
  2. Look at menus with shield up, for example the club tab, tab is blank nothing to click on.
  3. Turn shield off, content displays fine.

Actual result - Content doesn't display with shield up.

Expected result - Content should display with shield up.

Reproduces how

[2018-01-24 20:29] NejcZdovc commented on #10723
@cezaraugusto no specific QA steps. Just make sure that auto suggestion is working, which I think is already part of general pass

[2018-01-24 21:23] NejcZdovc commented on #12822
We fixed couple fo things in 0.20. Currently 0.20 is in beta. Can you please check out if this is fixed for you in the latest beta? Thank you very much

You can find latest beta here https://github.com/brave/browser-laptop/releases/tag/v0.20.20beta

[2018-01-24 21:42] bsclifton commented on #4024
@sergiorojasa awesome! Go for it 😄 I've assigned the issue to myself so that nobody will grab it. Let us know if you need any help

[2018-01-24 21:47] bsclifton commented on #12467
@jaxidian great suggestion 😄 If anyone wants to grab this, please let me know and I can help answer questions

[2018-01-24 21:50] bsclifton commented on #12822
Closing as this should have been fixed.  @JakobFerdinand please try out the beta above and let us know if the issue persists.  We're hoping to ship this as a stable release soon 😄 👍

[2018-01-24 21:52] bsclifton commented on #12744
Yikes- sucks to hear the dump file isn't created. We can always have the user install the last known good version of Brave and then open `chrome://crashes` to see if anything is there (and if so, manually submit the crash report)

[2018-01-24 22:44] diracdeltas commented on #2213
it appears this was fixed at some point

[2018-01-24 22:44] #2213 closed

[2018-01-24 22:46] davidtemkin commented on #12811
@petemill Thanks, useful info. I'm pretty sure I once read some docs on this, but can't see anything now. I took a look at Chrome at a lower resolution (the lowest setting on my 15" MacBook pro, i.e., "Larger text" on the left in System Preferences/Displays) and at that resolution, the window takes essentially the whole screen, while avoiding the dock. (There may be subtleties with the dock, since

[2018-01-24 23:04] bsclifton commented on #6794
@BeBlockTech you should be able to delete the extension's information by deleting the appropriate folder in your profile directory.  Your profile directory will be:
`%APPDATA/brave/` on Windows
`~/Library/Application Support/brave/` on macOS
`~/.config/brave/` on Linux

The extension info should be under the `Extensions` subdirectory. For example, I am on macOS... I can delete like so:
[code]

[2018-01-24 23:08] bsclifton commented on #9425
@mzKas @savehansson apologies this hasn't been fixed yet ☹️ It is definitely an important one to fix. I don't think it's low hanging fruit though- I am suspecting this needs a patch in the Muon level, like the one @jonathansampson linked to:
https://github.com/electron/electron/commit/86338290fb41f4993c2859d920e581b49c75723d

I'll share with the team and see if there's anything we can do to expedi

[2018-01-24 23:21] liaosteven commented on #9531
Any update on this? I am happy to contribute if some work still needs to be done.

[2018-01-24 23:29] petemill commented on #12811
I just reset Safari (`mv ~/Library/Safari ~/Library/Safari-bak`) a few times, looking at first open on different resolutions, and I noted that it's very similar to Chrome, in that the window takes up a portion of the screen with some margin, taking a minimum and a maximum in to account (i.e. at smaller resolutions the Safari window opens taking up the entire screen). I also noted that Chrome Mac b

[2018-01-24 23:38] #8860 closed

[2018-01-24 23:52] davidtemkin commented on #12811
Sounds like a good approach to me. BTW, it's surprising that Chrome does the same thing on Mac as it does on Win, given that user behavior re: window management on those platforms is quite different ... on Windows, you see people routinely using full-screen windows, whereas on the Mac that's pretty rare.

[2018-01-25 00:25] jumde opened #12836 "Decentraleyes"
https://community.brave.com/t/stop-tracking-through-centralized-content-delivery-plus-speed-up-brave/1748
https://chrome.google.com/webstore/detail/decentraleyes/ldpochfccmkkmhdbclfhpagapcfdljkj

[2018-01-25 00:34] bradleyrichter commented on #11463
@bsclifton If this is an easy enough change, let's do it soon.

[2018-01-25 00:40] bradleyrichter commented on #11463
This user really likes true full screen:  ;   )

https://www.youtube.com/watch?v=-iP9-Et5mv4

[2018-01-25 00:54] bradleyrichter commented on #11463
So the desire, to summarize, is to change our current implementation of full-screen (not to be confused with a FS video view) to hide all UI elements with an expanded view of the content area.

(no toolbars visible)

[2018-01-25 01:15] kjozwiak opened #12837 "Other tabs are forced to pinned-tab size after closing tab that used to be pinned"
### Description

When you're closing a tab that was perviously pinned and has been unpinned, the tab next to it will quickly appear as a pinned tab until the mouse is moved. Please see the GIF example below.

You'll also see the following error message in the terminal but this also appears in `0.19.139` which is the latest released version:

`[31659:31659:0124/195057.560341:ERROR:CONSOLE(0)] "Unch

[2018-01-25 02:36] petemill commented on #12837
I can reproduce in 0.20. I can**not** reproduce on master / 0.22 / 0.21, so I'll look for a fix directly to 0.20.

[2018-01-25 02:59] petemill commented on #12837
Fixed in #11436

[2018-01-25 02:59] #12837 closed

[2018-01-25 03:31] srirambv opened #12838 "Crash report doesn't send crash ID on Windows"
### Description
Crash report doesn't send crash ID on Windows

### Steps to Reproduce
  1. Follow test plan from https://github.com/brave/browser-laptop/issues/12772
  2. Generate a crash
  3. Shows `Uploaded Crash Report ID OK` doesn't generate an actual ID

**Actual result:**
Crash report doesn't send crash ID on Windows

**Expected result:**
Should generate crash ID and send it

**Reproduces ho

[2018-01-25 03:42] srirambv opened #12839 "Crash report not generated on Linux"
### Description
Crash report not generated on Linux

### Steps to Reproduce

  1. Launch browser from console
  2. Crash the webview using `chrome://crash`
  3. Webview doesn't crash, console throws error
  4. Open `chrome://crashes` no crash report listed

**Actual result:**
[code]
![linuxchromecrash](https://user-images.githubusercontent.com/17010094/35369782-b584748e-01af-11e8-87ca-981190a3a257

[2018-01-25 03:52] gnarlyman commented on #9211
+1

[2018-01-25 03:55] gnarlyman commented on #5800
+1 please add this option

[2018-01-25 04:14] bridiver commented on #12838
actually this is an issue for stats.brave.com because the crash server generates the ID. cc @aekeus

[2018-01-25 04:15] bridiver commented on #12839
I'll take a look, but this shouldn't block the release because linux crash reports aren't being symbolized right now anyway

[2018-01-25 04:17] bridiver commented on #12838
I'm not going to close this yet because it could still be a metadata issue with the version we send, but this shouldn't block release

[2018-01-25 04:34] dxxvi commented on #11729
0.19.139 also has this issue.

[2018-01-25 04:35] bsclifton commented on #9425
@mzKas @savehansson can you describe the impact in more detail?

Are you just not able to set default browser / configure extensions? Or is nothing being saved at all (bookmarks, etc)?  How bad is it?

[2018-01-25 05:11] bsclifton commented on #12824
Updated to 4.7.5 with https://github.com/brave/browser-laptop/pull/12840

[2018-01-25 05:50] srirambv commented on #12824
![image](https://user-images.githubusercontent.com/17010094/35372787-bcda1204-01c1-11e8-897d-79202e54664c.png)

[2018-01-25 10:48] jpbochi commented on #9531
@liaosteven there are lots of issues linked here. Those are needed to make Vimium work properly. I'd pick one or more and implement it.

[2018-01-25 13:04] georgecartridge opened #12841 "PDF Viewer doesn't display parts of page"
### Description
When opening some PDFs, random parts of the page will be blank even though content should be displayed.

### Steps to Reproduce

  1. Open this [PDF](http://mei.org.uk/files/papers/C3_2016_June.pdf) in a new tab
  2. View the PDF pages

**Actual result:**

PDF doesn't properly display particular pages, however other pages are displayed perfectly fine. <details><summary>View Actual

[2018-01-25 15:11] s-horn commented on #7619
Had the same symptoms: completely white screen, no bars. Responded to resizing, ALT+F4, and CTRL+N. In the developer console, there were two errors:

[code]

I noticed that in the `npm run watch` window, it had two different ports logged:

[code]

ran `npm config set brave:port 8081`, and now it comes up fine. The message from `npm run watch` is now

[code]

I hope this is useful to anyone else ex

[2018-01-25 15:41] theangellmethod opened #12842 "Bookmarks: Cannot use 'Other Bookmarks' Folder, only use 'Bookmarks Toolbar'"
I have searched for similar issues but can't find anything related.

### Description
When I try to save bookmarks, they will only save under the bookmarks toolbar.  I can see the 'other bookmarks' folder but cannot add new links to it, cannot drag and drop links from the bookmarks toolbar folder into it, and cannot create subfolders in it.

### Steps to Reproduce

  1. Install Brave
  2. Try to sa

[2018-01-25 16:25] patoshinakamotos commented on #3555
how did you guys enable the docking? I just updated and its brave chrome version 64. do i have to click somewhere? screenshot please?

im curious to how they debug when building the brave browser. i guess they dont use F12 dev tools panel?

[2018-01-25 16:38] #9517 closed

[2018-01-25 16:44] zanven42 commented on #3555
well the issue is marked upstream that should give you a hint. Thank you everyone from the brave team who solved the issue upstream :).

[2018-01-25 17:12] bsclifton commented on #12797
Pushing back to 0.21.x.  We can adjust milestone again (uplift) when https://github.com/brave/muon/pull/448 is merge and new Muon is built 😄

[2018-01-25 17:14] bsclifton commented on #12828
I've been using 0.20.x for a while and haven't been able to reproduce this ☹️ Until we have more steps, I'd like to propose that we leave this open without a milestone attached.  What do you think, @LaurenWags?

[2018-01-25 17:29] bsclifton commented on #3555
Hi folks - we have made progress with this... nothing ready to release yet though.  Maybe @bridiver can give an update?

Electron has solved this problem during the Chromium 54 timeframe (when the build system was updated from gyp to gn) we basically forked Electron into Muon. We aren't pulling in upstream patches as often and we've also taken some steps to try and remove node from the renderer pr

[2018-01-25 17:58] LaurenWags commented on #12828
I think that sounds good @bsclifton - I've removed the milestone until we can determine additional information.

[2018-01-25 18:03] bridiver commented on #12838
we may want to block on this after all. I'm looking into it now because it looks like a metadata issue

[2018-01-25 18:24] jaxidian commented on #12467
Less snarky commentary aside, a suggestion for a possible solution:

1. When a notification permission is requested, always deny the permission when there is no history of the permission having been granted in the past (otherwise, honor the prior grant).
2. When a notification permission is requested, whether previously approved or denied, show a notification badge somewhere in the UI with a statu

[2018-01-25 19:33] LaurenWags opened #12843 "put cursor in 'Search' box when opening LastPass"
### Description
When you click on the extension icon for Last Pass the cursor is not put in the 'Search' box. User requested this via twitter: https://twitter.com/indicru/status/955943235569856513

### Steps to Reproduce

  1. Have LastPass enabled and be logged in.
  2. Click on extension icon.
  3.

**Actual result:**
Cursor is not in 'Search' box.

**Expected result:**
Cursor should be in searc

[2018-01-25 19:34] eljuno commented on #1160
+1 from community https://community.brave.com/t/please-add-key-shortcuts-to-right-click-menu/14758?u=eljuno

[2018-01-25 19:51] NejcZdovc commented on #12842
can you please try it with our latest beta version 0.20 where we fixed other bookmarks.

You can find it here https://github.com/brave/browser-laptop/releases/tag/v0.20.21beta

Thank you

[2018-01-25 20:22] kjozwiak commented on #12829
Closing! Thanks @LaurenWags!

[2018-01-25 20:22] #12829 closed

[2018-01-25 20:22] #12830 closed

[2018-01-25 20:23] kjozwiak commented on #12830
Closing, thanks @srirambv!

[2018-01-25 20:54] #12842 closed

[2018-01-25 21:21] jonathansampson opened #12845 "Ad-Removal Should Collapse/Remove Ad-Containers on YouTube"
### Description
Ad-containers often exist after ad-removal, and may take up a large amount of screen-space.

### Steps to Reproduce
1. Go to youtube.com

**Actual result:**
Large empty region at the top of the page.

**Expected result:**
No empty region should remain after ad-removal.

**Reproduces how often:**
100%

### Brave Version
0.19.139

**about:brave info:**
[code]

**Reproducible on curre

[2018-01-25 22:00] bsclifton commented on #12824
Updated to 4.7.6 with https://github.com/brave/browser-laptop/pull/12847

[2018-01-25 22:30] CrisBRM opened #12848 "Cursor clicks occasionally don't match UI"
Occasionally, where the mouse cursor is won't represent the element that's selected (not limited to UI).

![screenshot from 2018-01-25 22-24-54](https://user-images.githubusercontent.com/9098352/35415850-fb350f1a-021e-11e8-8497-f255c827a66c.png)

Note where the cursor is and what is being selected (the scrollbar).
Does not happen reliably. Simply put, even if I were to go to https://www.sharelatex

[2018-01-25 22:36] #12831 closed

[2018-01-25 22:45] LaurenWags opened #12849 "Manual test run on OS X for 0.19.x Hotfix 14 (Release channel)"
## Per release specialty tests
 - [x] Update to Muon 4.7.6. ([#12824](https://github.com/brave/browser-laptop/issues/12824))
## Installer

- [x] Check that installer is close to the size of last release.
- [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to t

[2018-01-25 22:45] LaurenWags opened #12850 "Manual test run on Windows x64 for 0.19.x Hotfix 14 (Release channel)"
## Per release specialty tests
 - [x] Update to Muon 4.7.6. ([#12824](https://github.com/brave/browser-laptop/issues/12824))
 - [x] Crash reporting / stats reporting should be using version (not rev). ([#12772](https://github.com/brave/browser-laptop/issues/12772))
## Installer

- [x] Check that installer is close to the size of last release.
- [x] Check signature: If OS Run `spctl --assess --verb

[2018-01-25 22:45] LaurenWags opened #12851 "Manual test run on Linux for 0.19.x Hotfix 14 (Release channel)"
## Per release specialty tests
 - [x] Update to Muon 4.7.6. ([#12824](https://github.com/brave/browser-laptop/issues/12824))
 - [ ] Crash reporting / stats reporting should be using version (not rev). ([#12772](https://github.com/brave/browser-laptop/issues/12772))
## Installer

- [x] Check that installer is close to the size of last release.
- [ ] Check signature: If OS Run `spctl --assess --verb

[2018-01-25 22:53] diracdeltas commented on #1676
i think we should re-open this issue since greasemonkey never got implemented in Brave

[2018-01-25 23:11] bridiver commented on #12838
fixed in https://github.com/brave/muon/commit/dcae63204172317a8bede807c820896dded8c486

[2018-01-25 23:22] flamsmark opened #12852 "Take advantage of os-provided hardening features"
Most of the major OS platforms provide distinctive hardening features which we should take advantage of.

Examples: brave/muon#454, brave/muon#453, brave/muon#452.

[2018-01-25 23:26] flamsmark opened #12853 "Captive-portal isolation"
As we add more and more comprehensive defenses, we should ensure that there remains a way to log in via captive portals without having to turn of all those safety measures. To the extent possible, we should detect captive portals and provide an isolated context for that interaction.

[2018-01-25 23:28] flamsmark opened #12854 "Advanced controls for powerful web technologies"
As we incorporate more and more powerful web technologies, we should ensure that they don't compromise user's privacy expectations and that it's easy to opt out of experiences and tools which can fundamentally alter the expectations involved with the basic browser experience.

[2018-01-26 02:18] srirambv commented on #12838
Working on 0.19.146. Able to generate crash ID and verify

[2018-01-26 03:10] srirambv commented on #12758
+1 from https://community.brave.com/t/stop-asking-about-payments/14797/2

[2018-01-26 03:16] JaneSmith commented on #3007
+1 for this. This seems like a basic usability feature to me. Not having autoscroll on Linux is absolutely horrible. This is one of the major things blocking me from using Brave as my main browser.

As mentioned above, Chromium does not have this feature on Linux, but Firefox does. In my opinion, even on Windows, Firefox's autoscroll implementation is miles better than Chromium's. It has a better

[2018-01-26 03:35] JaneSmith commented on #2729
I assume this issue is asking for webpages to be saved with an accompanying subfolder containing images, stylesheets, etc. That's the default way Firefox and Chrome work.

I would like to chime in with an additional feature request. I'm not sure if I should post this as a separate issue or not, but it seems quite related.

What I would really love would be support for the **.mhtml format**. This a

[2018-01-26 04:02] srirambv opened #12856 "Always deny doesn't let stream on Netflix and doesn't go full screen"
### Description
Always deny doesn't let stream on Netflix

### Steps to Reproduce

  1. Clean install 0.19.x build
  2. Set auto play to `Always Deny`
  3. Visit Netflix, load a video, nothing happens shows a blank black screen
  4. Hover over video controls not shown. Intuitively click where the controls are they show up.
  5. Doesn't enter full screen when click on

**Actual result:**
Always den

[2018-01-26 04:44] bsclifton commented on #12425
Updated to 4.7.6 with https://github.com/brave/browser-laptop/pull/12847

[2018-01-26 04:47] srirambv opened #12857 "Geolocation broken on 0.19.146"
### Description
Geolocation broken on 0.19.146

### Steps to Reproduce

  1. Clean install 0.19.164
  2. Visit https://browserleaks.com/geo
  3. Click allow in notification bar, doesn't show the location coordinates

**Actual result:**
![geoloc](https://user-images.githubusercontent.com/17010094/35425605-f844baae-0281-11e8-8696-becde4a7d7a3.gif)

**Expected result:**
Should show geo location coord

[2018-01-26 04:53] jonathansampson opened #12858 "Extension: Reddit Enhancement Suite (RES)"
Extension: [Reddit Enhancement Suite](https://chrome.google.com/webstore/detail/reddit-enhancement-suite/kbmfpngjjgdllneeigpgjifpgocmfgmb?hl=en-US)

![image](https://user-images.githubusercontent.com/815158/35425507-dcb9824e-0220-11e8-9abb-1f3773ced829.png)

### Needed APIs:

**chrome.downloads**

- [ ] #12859 chrome.downloads.download

**chrome.extension**

- [ ] #9551 chrome.extension.inIncognit

[2018-01-26 05:00] jonathansampson opened #12859 "Extension API: chrome.downloads.download"
https://developer.chrome.com/extensions/downloads#method-download

`chrome.downloads.download(object options, function callback)`

[2018-01-26 05:03] jonathansampson opened #12860 "Extension API: chrome.history.getVisits"
https://developer.chrome.com/extensions/history#method-getVisits

`chrome.history.getVisits(object details, function callback)`

[2018-01-26 05:10] jonathansampson opened #12861 "Extension API: chrome.pageAction.hide"
https://developer.chrome.com/extensions/pageAction#method-hide

`chrome.pageAction.hide(integer tabId)`

[2018-01-26 05:10] bsclifton commented on #12857
Fixed with https://github.com/brave/browser-laptop/pull/12855

[2018-01-26 05:10] #12857 closed

[2018-01-26 05:11] #12838 closed

[2018-01-26 05:12] davidtemkin opened #12862 "Word list for wallet recovery keys needs to be filtered"
### Description
The word list for wallet recovery keys needs to have all inappropriate, emotionally-charged words removed. Filtering should err on the side of caution.

### Steps to Reproduce
Not easily reproduced, since the words shown are different with each invocation. Bottom line: sometimes, inappropriate words are shown, due to their inclusion in the dictionary from which the words are select

[2018-01-26 05:14] jonathansampson opened #12863 "Extension API: chrome.pageAction.onClicked"
https://developer.chrome.com/extensions/pageAction#event-onClicked

`chrome.pageAction.onClicked.addListener(function callback)`

[2018-01-26 05:15] jonathansampson opened #12864 "Extension API: chrome.pageAction.setIcon"
https://developer.chrome.com/extensions/pageAction#method-setIcon

`chrome.pageAction.setIcon(object details, function callback)`

[2018-01-26 05:16] jonathansampson opened #12865 "Extension API: chrome.pageAction.setTitle"
https://developer.chrome.com/extensions/pageAction#method-setTitle

`chrome.pageAction.setTitle(object details)`

[2018-01-26 05:16] jonathansampson opened #12866 "Extension API: chrome.pageAction.show"
https://developer.chrome.com/extensions/pageAction#method-show

`chrome.pageAction.show(integer tabId)`

[2018-01-26 05:17] Liunkae commented on #12848
@CrisBRM Do you happen to have strict site isolation enabled? (Settings > Security > Strict Site Isolation) If so, it could be related to #12638.

[2018-01-26 05:38] YetiWilson commented on #3669
Smooth scrolling works in full screen, is jumpy with 2 finger swipe in window mode.  After sleep 2 finger scrolling does not work at all.  Need to close brave and restart.

Windows 10 x64

[2018-01-26 05:40] Liunkae opened #12867 "Webcompat: Waze.com menu links do not work with ad and tracking block on"
### Description
If ad and tracking block is on (`Block Ads` setting), the waze.com menu links (`Live map`, `Carpool`, etc.) shown in the following screenshot do not work. With shields down (or with `Allow Ads and Tracking` set), the links work as expected. No messages are logged in the dev console.

![](https://user-images.githubusercontent.com/19424103/35426300-8ed22d5e-0227-11e8-92a5-805f7ff6e40

[2018-01-26 05:45] darkdh commented on #12856
fullscreen issue should be in 0.19.147

[2018-01-26 05:48] jonathansampson opened #12868 "Extension API: chrome.permissions.contains"
https://developer.chrome.com/extensions/permissions#method-contains

`chrome.permissions.contains( Permissions permissions, function callback)`

[2018-01-26 05:49] jonathansampson opened #12869 "Extension API: chrome.permissions.request"
https://developer.chrome.com/extensions/permissions#method-request

`chrome.permissions.request( Permissions permissions, function callback)`

[2018-01-26 06:16] srirambv commented on #12857
Works on 0.19.147

[2018-01-26 06:19] diracdeltas commented on #12862
here's the word list: https://raw.githubusercontent.com/diracdeltas/niceware/master/lib/wordlist.js. **i need folks to help look through it for inappropriate words and list them in this issue**. once that is done i will replace each of the inappropriate words with a friendly word that isn't already in the dictionary. then i will add a migration method in niceware to deal with existing users of Bra

[2018-01-26 06:33] srirambv opened #12870 "Video frame overlaps when a new window is moved to an external monitor"
### Description
Video frame overlaps when a new window is moved to an external monitor

### Steps to Reproduce
  1. Clean install 0.19.147
  2. Play video on Netflix on primary screen do not enter full screen
  3. Create a new browser window and move it to the extended screen
  4. Move back the new window to primary screen and move it back to extended screen
  5. Video frame is frozen to original

[2018-01-26 06:45] bsclifton commented on #12862
Sharing some words I found which some folks may take offense to
(will continue to update list)

------------
'anal',

'circumcise',
'circumcised',
'circumcising',

'defecate',
'defecation',

'decapitate',
'decapitation',

'dehumanization',
'dehumanize',
'dehumanized',
'dehumanizing',

'genitalia',

'gook',
'gooky',

'homosexual',
'homosexuality',

'incest',
'incestuously',

'intravaginal',
'invagi

[2018-01-26 06:59] petemill commented on #12862
I'm no expert on this at all, but the wordlist from the bitcoin wiki seems a little safer than the niceware one https://github.com/bitcoin/bips/blob/master/bip-0039/english.txt - is there a reason not to start with this one?

[2018-01-26 07:18] diracdeltas commented on #12862
@petemill that list is only 2^11 words long whereas mine is 2^16. so if we used the BTC list the recovery codes would be 24 words instead of 16.

[2018-01-26 07:19] diracdeltas commented on #12862
having said that, the words on the BTC list are generally easier to write so maybe it's not a big deal.

[2018-01-26 08:03] evq commented on #12862
anecdotally my backup of 16 niceware words and 24 bip39 words took the same amount of physical space. it's also nice that the bip39 words are unique after the first four characters

the other interesting note wrt bip39 is that the key derivation is actually wordlist agnostic. instead of mapping from words via index lookup to reconstruct the seed, the phrase is used as input to the key derivation f

[2018-01-26 14:19] jv5 commented on #3752
+1 -- because of this issue, I am forced to use a second browser with a banking site that uses popups. Hard to believe this feature request is like two years old now? I'll be patient. :)

[2018-01-26 14:24] peakhope commented on #1160
Right-click T only requires one hand, where ctrl-click requires 2. Aside from convenience and consistency with FF and Chrome, there seems to be an accessibility benefit?

[2018-01-26 14:42] binarysubstrate opened #12871 "Bookmarks toolbar unresponsive after importing large number of bookmarks."
**Did you search for similar issues before submitting this one?**
Similar to #7240 (Closed, but not resolved in version 19.)
#4044 (Open, little info provided.)
#5404 (Open, but specific to favicons.)

**Describe the issue you encountered:**
The bookmarks toolbar unresponsive after importing large number of bookmarks.  (~1200)

- Clicking  the "Imported" folder causes the browser to become unrespo

[2018-01-26 15:46] kjozwiak commented on #12838
For the following OS, I ensured that:
* `chrome://crash` produced a crash report under `chrome://crasehs` that included a `crash id`
* visiting stats.brave displayed the crash including the `crash id`

OS:

* Win 10 Pro x64 - PASSED
* Win 10 Pro x86 - PASSED

[2018-01-26 15:52] kjozwiak commented on #12838
@bridiver it looks like reporting doesn't really work under Win 7. When you crash the browser via `chrome://crash`, you'll notice that the crash report is grey and will never get sent out. Even when you manually click on "Send", restarting the browser will display the "Send" button even though you've already clicked on "Send". The other thing you'll notice is that it only generated a `local crash

[2018-01-26 16:15] kjozwiak commented on #12850
Thanks @srirambv!! Closing.

[2018-01-26 16:15] #12850 closed

[2018-01-26 16:17] kjozwiak commented on #12772
Can't check this again Linux because of #12839.

[2018-01-26 16:28] LaurenWags commented on #12849
Geolocation verified with https://html5demos.com/geo/ and https://browserleaks.com/geo

[2018-01-26 17:11] bsclifton commented on #12797
Closing- we're OK because of https://github.com/brave/browser-laptop/blob/59159138e141e32c26959fc2276d5822f3ffa282/res/dev/braveDefaults.nsi#L66

(see PR above for more info)

[2018-01-26 17:11] #12797 closed

[2018-01-26 17:16] sergiorojasa commented on #4024
I found the newPrivateTab keyboard shortcut in app/common/commonMenu.js
And I reproduced the issue on my computer, but I not sure if the issue is in brave/pdf.js repository or brave/browser-laptop repository because when the browser loads a pdf the pdf.js extension logic is load and keyboard event listener.

[2018-01-26 17:28] alexwykoff commented on #12862
A few more to tack onto the clifton list :
'zion',
'zionism',
'zionist',

'yankee',

'xenophobe',
'xenophobia',
'xenophobic',

'wristy',
'wristdrop',
'woodcock',
'womenfolk',
'womanize',
'womanized',
'womanizer',
'womanizing',
'wino',
'willy',
'wiener',
'wienie',
'welch',
'welched',
'welcher',
'welching',
'weiner',
'weasel',
'weaseled',
'weaseling',
'weaselly',
'wasp',
'waspier',
'waspily',
'waspi

[2018-01-26 18:34] kjozwiak opened #12872 "Release checklist for 0.19.x Hotfix 14 (Release Channel)"
# Release Process Checklist

Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

## Release Commands
### First-time Setup
- [x] `git clone git@github.com:brave/vault-updater && cd vault-updater`
- [x] `git clone git@github.com:brave/release-tools`
- [x] `npm install`
- [x] install the her

[2018-01-26 18:39] LaurenWags commented on #12849
Tests were as expected.

[2018-01-26 18:39] #12849 closed

[2018-01-26 18:58] flamsmark commented on #12862
I think the EFF already did all this work for us? https://www.eff.org/deeplinks/2016/07/new-wordlists-random-passphrases

[2018-01-26 19:05] diracdeltas commented on #12788
i feel this is unnecessary; see https://github.com/brave/internal/issues/189#issuecomment-360226992 for details.

[2018-01-26 19:24] petemill commented on #12787
Hitting a bit of a wall with this in terms of injecting a 'script' in to the install process. See below for options.

As far as I understand it, here's the details of Brave's Windows installer:

### How does the Brave Windows installer work?
- Run Setup-Brave-xxx.exe
   - Ensures .net 4.5 is installed, downloads and installs it if not
   - Creates `%LocalAppData%\Brave` directory
   - Extracts `Up

[2018-01-26 20:08] LaurenWags commented on #12744
@bsclifton @bridiver not sure if this information which was provided by a community member re: crash on opening 10.9.5 is helpful (some is in Japanese but there is an error from the terminal):

[code]

[2018-01-26 20:51] #12851 closed

[2018-01-26 21:13] bsclifton opened #12873 "Update to Chromium 64.0.3282.119"
## Test plan
1. Visit `about:brave`
2. `libchromiumcontent` version should be `64.0.3282.119`

[2018-01-26 21:13] bsclifton commented on #12873
Fixed with https://github.com/brave/browser-laptop/pull/12847

[2018-01-26 21:13] #12873 closed

[2018-01-26 21:28] kjozwiak opened #12874 "Release notes for 0.19.x Hotfix 14 (Release Channel)"
Release Notes:
 - Crash report doesn't send crash ID on Windows. ([#12838](https://github.com/brave/browser-laptop/issues/12838))
 - Update to Muon 4.7.6. ([#12824](https://github.com/brave/browser-laptop/issues/12824))
 - Update to Chromium 64.0.3282.119. ([#12873](https://github.com/brave/browser-laptop/issues/12873))
 - Crash reporting / stats reporting should be using version (not rev). ([#127

[2018-01-26 21:29] arsalankhalid commented on #10692
Is this issue still available? I'd like to take this over :)

[2018-01-26 21:52] #12874 closed

[2018-01-26 22:58] bsclifton commented on #10692
@arsalankhalid absolutely! I'll assign myself so that nobody grabs it 😄

[2018-01-26 23:04] #12872 closed

[2018-01-27 04:06] jonathansampson opened #12876 "Failure to load m.tmz.com"
### Description
While www.tmz.com works in Brave, m.tmz.com does not. Only a black screen is displayed, suggesting HTML (and CSS?) loaded, but crucial scripts did not.

### Steps to Reproduce
1. Navigate to http://m.tmz.com

**Actual result:**
Black screen with no content.

**Expected result:**
Mobile TMZ site.

**Reproduces how often:**
100%

### Brave Version
0.19.147

**about:brave info:**
[cod

[2018-01-27 04:29] jonathansampson commented on #12876
Playing around with this briefly, I blocked all scripts from loading, and found that enabling the following domains to load scripts is all that's needed to restore functionality of the site. I can't say for certain whether or not tracking is being done by these scripts yet:

- cdnapi.kaltura.com
- tags.bkrtx.com
- m.tmz.com

[2018-01-27 06:22] jonathansampson opened #12877 "Extension: Cisco WebEx Extension"
https://chrome.google.com/webstore/detail/cisco-webex-extension/jlhmfgmfgeifomenelglieieghnjghma

![image](https://user-images.githubusercontent.com/815158/35469225-93c94502-02f6-11e8-8f6a-f234b8ea7c51.png)

Cisco's WebEx extension _is not_ presently supported in Brave. To gauge the effort, I took some time this evening to run through [the side-loading process](https://medium.com/@jonathansampson/

[2018-01-27 11:17] arsalankhalid commented on #10692
Sure thing, thanks for the quick response. How come it's assigned to you though, shouldn't it be assigned to the developer carrying out the task (:

But will carry this out!

[2018-01-27 13:07] phitboy commented on #6443
Hi everyone,

Sorry to bump an ancient thread, but how would I go about running --force_discrete_gpu=0 in my mac terminal? @bsclifton says to run it through Brave, but i am not sure how to do that

[2018-01-27 14:19] retrocausal commented on #7491
[code]

[2018-01-27 16:40] bravefan opened #12878 "Downloaded files have no extension"
### Description
This has been an ongoing issue for months in Brave, but it is still unresolved. Files downloaded on the Windows version do NOT have file extensions. Users have to manually give the downloaded file names extensions at the time of downloading, or rename the files after downloading.

### Steps to Reproduce

  1. Download a file on the Windows version of Brave
  2. That's all folks

##

[2018-01-27 16:51] b-xk opened #12879 "Printing doesn't work when Strict Site Isolation is enabled"
Have you searched for similar issues? Yes

### Description
File - Print - PDF - Save As PDF results in Blank pages.

### Steps to Reproduce
Please add a series of steps to reproduce the problem. See https://stackoverflow.com/help/mcve for in depth information on how to create a minimal, complete, and verifiable example.

  1.  Navigate to https://github.com/EvidentSecurity/custom_signatures/blob/c

[2018-01-27 17:00] jbrockc commented on #8600
Here is my little workaround on Debian. (I always prefer my browser maximized though.) I saved the script to my `~/bin` and named it `brave`. This requires `xdotool` and `wmctrl`.

`#!/bin/bash

open_status=$(pgrep "brave" | wc -l)

if (("$open_status" <= 2)); then
	/usr/bin/brave -- "$@" & sleep 2; wmctrl -r :ACTIVE: -b remove,maximized_vert,maximized_horz; sleep 1; wmctrl -r :ACTIVE: -b add,maxi

[2018-01-27 18:13] minj opened #12880 "Brave should identify itself in Xorg window title"
### Description

Brave does not identify itself in Xorg window title

### Steps to Reproduce

[code]
**Actual result:**

[code]

**Expected result:**
All proper™ browsers that I am aware of would do something like this:
[code]

This easy(?) fix would help with e.g. working around #3101 that you seem to have backlogged

**Reproduces how often:**

Always

### Brave Version

**about:brave info:**

Br

[2018-01-27 19:08] TheJuln commented on #6902
Hi,

I'm facing the same issue.

**Linux**
[code]

**Brave :**
`[12384:12384:0127/195758.825780:FATAL:zygote_host_impl_linux.cc(126)] No usable sandbox! Update your kernel or see https://chromium.googlesource.com/chromium/src/+/master/docs/linux_suid_sandbox_development.md for more information on developing with the SUID sandbox. If you want to live dangerously and need an immediate workaround, yo

[2018-01-27 19:23] eljuno commented on #6156
+1 from community https://community.brave.com/t/backspace-previous-page-feature/14851?u=eljuno

[2018-01-27 19:25] eljuno commented on #12878
Duplicate of #1985

[2018-01-27 19:29] eljuno commented on #2972
+1 from community https://community.brave.com/t/allow-empty-names-in-bookmarks/14867?u=eljuno

[2018-01-27 19:36] eljuno commented on #4473
+1 from community https://community.brave.com/t/windows-7-sp1-task-bar-not-accessible-when-using-brave-browser/14879?u=eljuno

[2018-01-27 19:37] jonathansampson opened #12881 "Extension API: chrome.webRequest.onBeforeRedirect"
https://developer.chrome.com/extensions/webRequest#event-onBeforeRedirect

`chrome.webRequest.onBeforeRedirect.addListener(function callback)`

[2018-01-27 19:52] posix4e commented on #6902
@thejuln seems as though others listed a fix. Did you try it?

[2018-01-27 20:04] jonathansampson commented on #12859
As a quick test, I enabled the LastPass extension and modified its manifest to request the _downloads_ permission. Upon restarting Brave, I ran the following from the extension's background page console:

[code]

The response was _Access to extension API denied._.

[2018-01-27 20:07] mars5838 opened #12882 "Recombine tabs from seperate windows"
### Steps to Reproduce

  1.open multiple tabs
  2.pull one tab off to create a separate window
  3.move the new window to the top of the old window to recombine the tabs

**Actual result:**

**Expected result:**

**Reproduces how often:**

### Brave Version

**about:brave info:**

**Reproducible on current live release:**

### Additional Information

[2018-01-27 21:49] bridiver opened #12883 "intermittent js error on shutdown/window close"
### Description
[code]

### Steps to Reproduce
  1. Close window or shutdown browser
no reliable STR

**Reproduces how often:**
Unsure

### Brave Version
0.19.147

**Reproducible on current live release:**
Yes

### Additional Information

[2018-01-27 21:50] bridiver opened #12884 "JS error for DownloadItem"
### Description
From crash reports
[code]

### Steps to Reproduce
Unknown

**Reproduces how often:**
Unknown

### Brave Version
0.19.147

**Reproducible on current live release:**
Yes

### Additional Information

[2018-01-27 22:11] #12883 closed

[2018-01-28 00:59] keverets commented on #6902
@posix4e that's not a fix, it's a bad workaround. Brave is still not an acceptable browser for people when the first experience is a core dump with improper instruction.

[2018-01-28 01:13] arsalankhalid commented on #10692
I'm not sure I'm seeing what you're describing, i.e:

![image](https://user-images.githubusercontent.com/5307218/35477967-7f931768-039e-11e8-94e3-2254771777e6.png)

Any advice?

[2018-01-28 02:43] jonathansampson commented on #10588
This issue was also reported by [a user on Twitter](https://twitter.com/MykolaRadchenko/status/957429997735587840).

[2018-01-28 03:24] bbondy opened #12886 "Huobi not loading api.huobi.com and you can't login"

[2018-01-28 03:25] bbondy commented on #12886
Fixed here:
https://github.com/brave/adblock-lists/commit/5cae2aebb14576daac5531553b094ff0ff375a68

[2018-01-28 03:25] #12886 closed

[2018-01-28 05:27] bbondy opened #12887 "Disabled hardware acceleration causing startup problems"

[2018-01-28 06:10] bsclifton commented on #12886
No QA needed w/ regards to 0.20.x since this is already live (see comment https://github.com/brave/adblock-lists/commit/5cae2aebb14576daac5531553b094ff0ff375a68#commitcomment-27158165)

[2018-01-28 06:15] bsclifton commented on #10692
@arsalankhalid It's hard to spot- but the right-hand side of the URL bar should not be rounded (for some reason, it has border-radius). It should be square, like this:
![screen shot 2018-01-27 at 11 13 03 pm](https://user-images.githubusercontent.com/4733304/35479563-ccd826ee-03b7-11e8-8b85-652b68566918.png)

I assigned myself since you are not added to the Brave organization or the browser-laptop

[2018-01-28 06:49] bsclifton commented on #12882
Thanks for the report, @mars5838 😄

This is already possible- but maybe it's a little tricky. You need to specifically drag the tab onto the tab bar (next to an existing tab) in order to recombine the windows. It could definitely be easier

[2018-01-28 06:50] bsclifton commented on #1985
+1 from @bravefan via https://github.com/brave/browser-laptop/issues/12878

[2018-01-28 06:50] #12878 closed

[2018-01-28 06:51] bsclifton commented on #12878
Thanks for the report, @bravefan! I've closed this as it is a duplicate

[2018-01-28 07:03] wtf1bro opened #12889 "brave shield remove and clear brave data"
yes

### Description

i cannot disable brave shield permanantly for a particular website. after i quit browser and restart brave
the shield become active .
i cannot clear whole brave data from my pc though i uninstall it from control panel.
is brave collecting my data by my IP address.add a feature to clear that data.

### Steps to Reproduce

  1.disable brave shield for a site
  2.restart brave a

[2018-01-28 11:08] TheJuln commented on #6902
Hi @posix4e

I followed the link provided by "jbrockc" and it's works, I agree with @keverets that it's more a Workaround than a Fix.
I'm able to launch Brave through command line or desktop icon but I have  the following message :

[code]

[2018-01-28 16:04] dfwdraco76 commented on #12758
My only options are "Maybe Later" and "I'm Ready".  I've clicked "Maybe Later" at least a dozen times since installing beta 0.20.22 a day or two ago.

![capture](https://user-images.githubusercontent.com/30734939/35484214-844885da-0412-11e8-98e7-eb0dfd605e63.PNG)

[2018-01-28 16:08] ikimmybee commented on #271
2 Years later and still no dark UI. OTL

[2018-01-28 17:23] luixxiul commented on #12889
Hi there, could I know which site do you experience the issue? The exact URL is appreciated to troubleshoot that. thanks!

[2018-01-28 17:24] luixxiul commented on #12879
Hi, do you experience the issue on other files consistently?

[2018-01-28 17:28] luixxiul commented on #12871
Hi, that performance issue should be fixed on 0.20.x releases. thanks!

[2018-01-28 17:29] luixxiul commented on #9066
https://github.com/brave/browser-laptop/issues/12836

[2018-01-28 17:33] luixxiul commented on #12836
It seems that resources loaded via Decentraleyes are not loaded when subresource integrity attributes are enabled: https://github.com/Synzvato/decentraleyes/issues/212

[2018-01-28 18:16] chrisbarber opened #12890 "Reopening last closed tab or window does not retain back/forward ability"
### Description

Reopening a tab via Ctrl/Cmd+Shift+T does not retain that tab's local history. That is, the "History" contains the pages as expected, but the tab loses its back/fwd history. The same applies for reopening a closed window.

### Steps to Reproduce

  1. Open a new tab (or window)
  2. Navigate a few links
  3. Optionally use back and forward buttons
  4. Close tab
  5. History > Reo

[2018-01-28 18:31] b-xk commented on #12879
Hi @luixxiul - Yes, it is consistently reproducible, and I have worked out the root-cause.
The issue occurs only if the 'Strict Site Isolation' option is enabled in the Security Preferences.

If you Disable 'Strict Site Isolation' option, then the page saves-as -PDF correctly.

[2018-01-28 18:43] b-xk opened #12891 "Chrome_IOThread crash"
Have you searched for similar issues? Yes

### Description
Chrome_IOThread crashed, and caused browser to quit.

### Steps to Reproduce
Browser was idle in background.

**Actual result:**

Jan 28 12:42:18 MyComputer com.apple.xpc.launchd[1] (com.electron.brave.7248[38490]): Service exited due to signal: Segmentation fault: 11 sent by exc handler[0]

Process:               Brave [38490]
Path:

[2018-01-28 19:18] jozi-k commented on #9531
Would it be possible to release some kind of beta version with limited features?

[2018-01-28 21:34] MargarytaChepiga commented on #12296
Hello, I am all set to fix this. The only thing is that I am not sure is to which message I should change the existing one. How about  `Never include this content creator`? Or should I stick to the mentioned above `Never include this creator `? Thanks!

[2018-01-28 22:31] MargarytaChepiga commented on #12296
I know Ukrainian and Russian, so I might as well change the string in those languages as well.  Is that okay?

[2018-01-28 22:45] MargarytaChepiga commented on #9410
I was trying to take a look at this, but I am not able to reproduce it. I am using Windows 10 x64.

[2018-01-28 23:08] bsclifton commented on #12425
Updated to 4.7.7 with https://github.com/brave/browser-laptop/commit/649c35d811f85e13bddd02475a8df35cb751275b

[2018-01-28 23:40] MargarytaChepiga commented on #7888
Hey! Is there any help needed on this issue?

[2018-01-28 23:43] arsalankhalid commented on #10692
Ah thank you sir, much more noticeable now.
However, what's interesting is that when running brave through a dev environment - one doesn't even see the heart/book mark option:

![image](https://user-images.githubusercontent.com/5307218/35488739-176fd38e-045b-11e8-9d7b-442bbb988ec3.png)

Interestingly enough, the URL bar is rounding for every URI in my dev browser, im investigating where the border

[2018-01-28 23:48] #12884 closed

[2018-01-28 23:56] #12425 closed

[2018-01-28 23:58] bsclifton commented on #12425
Updated to 4.7.8 with 3bfeb5d3e51a94f5e2e09b1937a04b5e802ec3d4

[2018-01-29 02:10] rudijs opened #12895 "Debian 9 Cinnamon Desktop Segmentation Fault - won't start."
### Description
Brave won't start on Debian latest with Cinnamon destkop

### Steps to Reproduce
Install with apt or snap, both won't work.

**Actual result:**
[code]

### Brave Version
[code]

[2018-01-29 02:19] bbondy opened #12896 "Possible way to lose state, pls investigate"
I noticed that if you do an app.quit during startup, you will get this error:

[code]

It seems like a possible way to lose state, so I'm posting it for investigation.

The original place I had this code was in app/index.js in this block:

[code]

I was going to app.relaunch and then app.quit, but it caused that error so I did the workaround with the comment above to just let it load.

[2018-01-29 02:20] bridiver commented on #12896
I'm thinking we should either block shutdown until all windows are loaded or shutdown without saving state

[2018-01-29 02:33] #12887 closed

[2018-01-29 02:52] srirambv commented on #12890
Duplicate of #2702

[2018-01-29 02:52] #12890 closed

[2018-01-29 02:53] srirambv commented on #2702
+1 from @chrisbarber  via #12890

[2018-01-29 02:58] srirambv commented on #7888
@MargarytaChepiga  please open up a PR with the fix

[2018-01-29 04:43] arsalankhalid commented on #10692
Here you are sir: https://github.com/brave/browser-laptop/pull/12897
Note that I changed a line in the docs too, found the directory structure there to be wrong, and also effed up a commit, so reverted it. There doesn't seem to be aggressiveness on dirty commits in PRs from what I've seen so far, but if preferred than I can remove it.

Thanks for your help thus far, if solution too hacky please ad

[2018-01-29 05:38] fiatphos commented on #271
+1 for dark UI, please.

May I suggest something like a color-inversion feature, if it can be implemented sooner? I use this extension (High Contrast - picture attached with this comment) in Chrome to invert the color of the pages. I do have to disable it occasionally on some pages - such as pages with lots of pictures - but for the most part I keep it enabled all the time and I am able to browse

[2018-01-29 06:28] JakobFerdinand commented on #12822
Hello!
I just tried to reproduce the bug as well with:

Name | Version
-- | --
Brave | 0.20.20
V8 | 6.4.388.29
rev | df8eaf7
Muon | 4.7.3
OS Release | 10.0.16299
Update Channel | Beta
OS Architecture | x64
OS Platform | Microsoft Windows
Node.js | 7.9.0
libchromiumcontent | 64.0.3282.99

and with:

Name | Version
-- | --
Brave | 0.20.23
V8 | 6.4.388.40
rev | 5a2da66
Muon | 4.7.8
OS Release | 10.0.

[2018-01-29 07:02] srirambv opened #12898 "Manual test run on OS X for 0.20.x (Release Channel)"
## Per release specialty tests
 - [x] Other tabs are forced to pinned-tab size after closing tab that used to be pinned. ([#12837](https://github.com/brave/browser-laptop/issues/12837))
 - [x] Update to Muon 4.7.8. ([#12425](https://github.com/brave/browser-laptop/issues/12425))
 - [x] Tabs grow too large or small when closing, until mouseout. ([#11434](https://github.com/brave/browser-laptop/issu

[2018-01-29 07:02] srirambv opened #12899 "Manual test run on Windows x64 for 0.20.x (Release Channel)"
## Per release specialty tests
 - [x] Other tabs are forced to pinned-tab size after closing tab that used to be pinned. ([#12837](https://github.com/brave/browser-laptop/issues/12837))
 - [x] Update to Muon 4.7.8. ([#12425](https://github.com/brave/browser-laptop/issues/12425))
 - [x] Tabs grow too large or small when closing, until mouseout. ([#11434](https://github.com/brave/browser-laptop/issu

[2018-01-29 07:02] srirambv opened #12900 "Manual test run on Linux for 0.20.x (Release Channel)"
## Per release specialty tests
 - [x] Other tabs are forced to pinned-tab size after closing tab that used to be pinned. ([#12837](https://github.com/brave/browser-laptop/issues/12837))
 - [x] Pinned tabs duplicated after update to 0.20.16. ([#12580](https://github.com/brave/browser-laptop/issues/12580))
 - [x] Site specific settings for Fingerprinting Protection on are lost when updating to 0.20.

[2018-01-29 07:44] bsclifton commented on #12296
@MargarytaChepiga no need to modify Ukrainian or Russian- the process for translations is a little different. In this repo, you only need to update the `en-US` version

For more information on our translations (and to sign up to help 😄 ), please see:
https://github.com/brave/browser-laptop/blob/master/docs/translations.md

[2018-01-29 08:09] #12819 closed

[2018-01-29 08:09] #12820 closed

[2018-01-29 08:09] #12821 closed

[2018-01-29 09:44] dkurzaj commented on #5955
This is the only reason I don't use the browser, since I need the feature all day long. Maybe there will be other reasons in the future, but for now I'm blocked at this step.

[2018-01-29 09:49] daquinons commented on #12799
They all disappear one by one, it's not just a thing of you Gmail tab. I had 5 pinned elements, after a couple of days one disappeared, another one... and one week later I have zero pinned elements. If I start removing elements, sometimes one of my pinned elements appear, but it will disappear soon.

[2018-01-29 11:27] mitchcurtis commented on #9975
+1, importing bookmarks from Chrome shows no favicons, and like @robiefish, I tend to rely solely on the favicon to identify the bookmark, rather than text.

[2018-01-29 11:38] mzKas commented on #9425
@bsclifton I have uninstalled it and wont be trying it for a while...
I remember i had trouble setting it as "not-default" because it kept asking for it so it wasnt saving that particular option.

[2018-01-29 12:16] srirambv opened #12901 "Debug window opened when upgrading the browser"
### Description
Debug window opened when upgrading the browser

### Steps to Reproduce
  1. Upgrade from 0.19.147 to 0.20.23
  2. debug window is opened which is unresponsive
  3.

**Actual result:**
![image](https://user-images.githubusercontent.com/17010094/35509937-2d7647b4-051c-11e8-9f6e-2ed4cbf2aa2b.png)

**Expected result:**
Should not open the debug window

**Reproduces how often:**
Not sur

[2018-01-29 12:43] srirambv opened #12903 "Bookmark star is filled when upgrading to 0.20.23"
### Description
Bookmark star is filled when upgrading to 0.20.23

### Steps to Reproduce
  1. Clean install 0.19.147
  2. Visit brianbondy.com in a new tab
  3. Upgrade to 0.20.23
  4. Site shows as bookmarked but doesn't list in about:bookmarks
  5. Clicking on the bookmark icon shows empty fields

**Actual result:**
![bookmarkadd1](https://user-images.githubusercontent.com/17010094/35510872-dc3

[2018-01-29 12:44] pongraczi commented on #12432
It seems it appears every 24th hours. Cannot opt-out. I understand, it is a fundamental feature or brave, even it would be nice to not annoy users who don't want to open a wallet, even with free tokens.

Still exists in:

Brave: 0.19.147
rev: f1b90a31643cad8f4d76a4f729939d4f303b9a00
Muon: 4.7.6
libchromiumcontent: 64.0.3282.119
V8: 6.4.388.40
Node.js: 7.9.0
Update Channel: Release
OS Platform: Lin

[2018-01-29 12:47] basildane commented on #12758
Can I make a suggestion to the devs?  Rather than code ways to stop this message, you need to rethink some things.  As in: don't do this in the first place.  These types of messages are nothing but a nuisance and this type of behavior is what has driven the community away from other applications and websites.  If someone wants to do something, they will.  If they don't, then no amount of nagging i

[2018-01-29 12:52] #12901 closed

[2018-01-29 14:51] LaurenWags commented on #12903
Reproduced on MacOS

[2018-01-29 14:54] mikemaccana opened #12904 "Make certificate information accessible to JavaScript"
Hey there! There's a few reasons it could be advantageous to make certificate information available to JavaScript - either as part of the `window` or the Extensions API.

### Description

This would allow developers to:

 - Measure the cipher strength
 - Display identify info
 - Display contextual info about parent certs

To audiences ranging from from:

 - infosec people (running headless browser

[2018-01-29 15:04] mikemaccana opened #12905 "x64 installer blurry on high resolution displays"
Instaling Brave 0.19.147 on a Surface Book, the installer is blurry:

![image](https://user-images.githubusercontent.com/172594/35517130-75b0e208-0505-11e8-9f72-00c1b62e975b.png)

Installing on any high res display should reproduce problem.

[2018-01-29 15:18] LaurenWags opened #12906 "different colored Brave logos on MacOS installer"
### Description
When installing on MacOS the Brave icons are two different colors.

### Steps to Reproduce

  1. Download 0.20.23
  2. Double click .dmg file
  3.

**Actual result:**
Brave icons have different colors:

<img width="683" alt="screen shot 2018-01-29 at 9 49 36 am" src="https://user-images.githubusercontent.com/28145373/35517761-6c2adc7a-04dd-11e8-9292-daf831c425a6.png">

**Expected r

[2018-01-29 16:25] jonathansampson commented on #10269
I've received a couple reports from users this past week who would also like to see Client.js blocked.

[2018-01-29 16:41] MargarytaChepiga commented on #12296
@bsclifton Great! Thank you so much!

[2018-01-29 17:20] jolars commented on #3101
This turned out to be a dealbreaker for me as well.

[2018-01-29 17:20] jonathansampson commented on #11778
This issue is caused by third-party cookie blocking.

[2018-01-29 17:21] jonathansampson commented on #5709
Assigning to myself.

[2018-01-29 17:45] Liunkae opened #12907 "Tracking: Issues caused by strict site isolation"
- [ ] #12526, Unable to scroll sometimes
- [ ] #12612, Extensions broken
- [ ] #12879, Print As PDF generates blank pages
- [ ] #13007, Cannot type into iframe
- [ ] #13496, reCAPTCHA not working
- [ ] #13716, Embedded YouTube videos are broken

[2018-01-29 18:16] defaye commented on #3101
@Alino and most people that will download Brave are surely going to be power-users to begin with. If you aren't willing to cater for your seed audience, you might as well dump your project IMO. There are far more people with these kind of mice than you think. Far more that are going to be using some relatively unknown alternative web-browser.

[2018-01-29 19:23] eljuno commented on #12612
+1 from community https://community.brave.com/t/lastpass-extention-fails-to-find-internet-connection-with-strict-site-isolation-enabled/14992?u=eljuno

[2018-01-29 19:30] eljuno commented on #2185
+1 from community https://community.brave.com/t/tabs-in-a-sidebar-preferably-tree-style-tabs/15002?u=eljuno

[2018-01-29 19:51] kjozwiak opened #12910 "chrome://crashes not working under Win 7"
### Description

Crashes under Win 7 don't seem to be submittable and don't have `Crash Report ID's`.

### Steps to Reproduce

  1. under a Win 7 machine, launch `0.19.147`
  2. open a tab and visit `chrome://crash`
  3. once the tab has crashes, load `chrome://crashes`
  4. select "Send" and restart the browser
  5. once the browser has been restarted, load `chrome://crashes`

**Actual result:**

[2018-01-29 20:11] LaurenWags commented on #12166
Per discussion with @darkdh - reproducible by purging FF profile and creating bookmarks on FF 57 and above.

[2018-01-29 20:56] #1985 closed

[2018-01-29 20:56] #3313 closed

[2018-01-29 20:56] #3784 closed

[2018-01-29 20:56] #3864 closed

[2018-01-29 20:56] #8096 closed

[2018-01-29 20:56] #8854 closed

[2018-01-29 20:56] #9409 closed

[2018-01-29 20:56] #9435 closed

[2018-01-29 20:56] #10260 closed

[2018-01-29 20:56] #10653 closed

[2018-01-29 20:56] #11452 closed

[2018-01-29 20:59] arsalankhalid commented on #8164
Is this still available, may I take this over? @bsclifton

Thanks!

[2018-01-29 21:37] darkdh commented on #12906
@bradleyrichter can you provide images resources for
https://github.com/brave/browser-laptop/blob/master/res/background.png
and https://github.com/brave/browser-laptop/blob/master/res/brave_splash_installing.gif?

[2018-01-29 21:42] kjozwiak commented on #12901
@NejcZdovc noticed a debug window when importing `Bookmarks` as well. Will this PR fix that instance as well?

<img width="1086" alt="screen shot 2018-01-29 at 4 40 45 pm" src="https://user-images.githubusercontent.com/2602313/35535966-564acc0e-0513-11e8-9b92-3a181cddc809.png">

[2018-01-29 21:48] bbondy commented on #12903
is this only for the already opened tab? wondering how bad the bug is if we ship with it?

[2018-01-29 21:54] eljuno commented on #12777
+1 from community https://community.brave.com/t/coinmarketcap-com-brave-blocks-reddit/15018?u=eljuno

[2018-01-29 21:54] 1337Nerd commented on #1122
One of my favorite things about Firefox is ricing and I would love to be able to do the same on Brave.

[2018-01-29 22:18] LaurenWags commented on #12903
@bbondy I created a profile with 0.19.147 and opened a couple of windows with some tabs in each window. I then opened 0.20.23 using that profile and each tab (when clicked on) showed the star as filled in:
![12903](https://user-images.githubusercontent.com/28145373/35537500-6b86406c-0518-11e8-9fbb-ec83466e2e6a.gif)

[2018-01-29 22:35] LaurenWags opened #12911 "cannot drag/drop un/lock icon to Bookmarks Toolbar if Toolbar is empty"
### Description
If nothing is on the Bookmarks Toolbar, you cannot drag and drop the lock/unlock icon to add a bookmark to the toolbar.

### Steps to Reproduce

  1. Load 0.20.23 with clean profile
  2. Enable 'Bookmark Toolbar' via right-click context menu (or from Bookmarks > Bookmarks Toolbar)
  3. Visit a website and attempt to drag and drop the lock/unlock icon to the toolbar

**Actual result

[2018-01-29 22:44] sergiorojasa commented on #4024
I found out when a user press ctrl+shift+p the pdf chrome extension is called.

[2018-01-29 22:46] cezaraugusto commented on #12903
self note: we're caching locations in bookmarks, which is why you don't see it in bookmarks page but still makes a valid key (turning bookmark button on)

[2018-01-29 23:01] LaurenWags opened #12912 "Manual test run on OS X for 0.20.x (Release Channel)"
## Per release specialty tests
 - [x] Debug window opened when upgrading the browser. ([#12901](https://github.com/brave/browser-laptop/issues/12901))
 - [x] different colored Brave logos on MacOS installe ([#12906](https://github.com/brave/browser-laptop/issues/12906))
 - [x] Bookmark star is filled when upgrading to 0.20.23 ([#12903](https://github.com/brave/browser-laptop/issues/12903))
 - [x]

[2018-01-29 23:01] LaurenWags opened #12913 "Manual test run on Windows x64 for 0.20.x (Release Channel)"
## Per release specialty tests
 - [x] Debug window opened when upgrading the browser. ([#12901](https://github.com/brave/browser-laptop/issues/12901))
 - [ ] Fix bug where users behind multiple releases could get preview releases (Windows only). ([#11152](https://github.com/brave/browser-laptop/issues/11152))
 - [x] Bookmark star is filled when upgrading to 0.20.23 ([#12903](https://github.com/bra

[2018-01-29 23:01] LaurenWags opened #12914 "Manual test run on Linux for 0.20.x (Release Channel)"
## Per release specialty tests
 - [x] Debug window opened when upgrading the browser. ([#12901](https://github.com/brave/browser-laptop/issues/12901))
 - [x] Middle click to close pinned tab causes other tabs to look pinned until mouse over. ([#12379](https://github.com/brave/browser-laptop/issues/12379))
 - [x] Update Brave CSPs. ([#12263](https://github.com/brave/browser-laptop/issues/12263))
 -

[2018-01-29 23:01] LaurenWags commented on #12898
Closing in favor of https://github.com/brave/browser-laptop/issues/12912

[2018-01-29 23:02] LaurenWags commented on #12899
Closing in favor of https://github.com/brave/browser-laptop/issues/12913

[2018-01-29 23:02] LaurenWags commented on #12900
Closing in favor of https://github.com/brave/browser-laptop/issues/12914

[2018-01-29 23:02] #12900 closed

[2018-01-29 23:03] #12898 closed

[2018-01-29 23:03] #12899 closed

[2018-01-29 23:14] Alino commented on #3101
@defaye you are familiar with javascript right, why don't you contribute if this issue affects you? This project is open source, and if any obstacle comes into your way while you are using it, you can remove that obstacle.

[2018-01-29 23:17] RobLoach commented on #271
@fiatphos This is about the User Interface being dark. For the content of the websites being dark, I'd suggest checking out [Stylish](https://userstyles.org/) over at https://github.com/brave/browser-laptop/issues/5727 .

[2018-01-29 23:28] bradleyrichter commented on #12906
new MacOS install folder BG image that uses our new grey values which coincide with the new logo color:
![background_brave_2018](https://user-images.githubusercontent.com/13509546/35540088-11dcf1b4-0509-11e8-97d1-fd547a7c2121.png)

[2018-01-30 00:02] #12906 closed

[2018-01-30 00:13] bbondy opened #12916 "Temporarily disable autodiscardable tabs"
autodiscarded tabs are causing the locked tab problem, but we're also not releasing memory for them currently.

This task is to disable them to make the problem not as bad.

The real fix will come in:
https://github.com/brave/browser-laptop/issues/10673

[2018-01-30 00:14] bbondy commented on #12916
cc @petemill

[2018-01-30 00:31] #12916 closed

[2018-01-30 00:34] thiagola92 commented on #2414
+1

[2018-01-30 00:40] jonathansampson opened #12918 "Empty Ad Containers on Yahoo!"
### Test plan
See https://github.com/brave/browser-laptop/pull/12964

### Description
Brave is successfully blocking ads and trackers, but isn't removing empty ad containers. The following screenshot was procured from [@spencernoon's tweet](https://twitter.com/spencernoon/status/958113062824923136):
![image](https://user-images.githubusercontent.com/815158/35542120-eb637e48-0523-11e8-9aa6-d46d023f

[2018-01-30 00:44] bbondy commented on #12903
@LaurenWags @cezaraugusto is it your opinion we should block on this bug?
For example if you close and open the tab, is the problem gone? If you close the browser and open another time is it gone?

I'm of the opinion if the user can easily work around it and it only happens once then we don't need to block on it.

[2018-01-30 01:02] defaye commented on #3101
@Alino yeah that's very true. I don't wanna be a scrooge on this issue..

[2018-01-30 01:17] LaurenWags commented on #12903
Close/reopen of Brave did not resolve the issue (star was still filled in)

[2018-01-30 01:52] UppaJung commented on #9211
Shocked this bug has been sitting unfixed for half a year.  I also run into this constantly.  Perhaps it's a pixel-based threshold and those not using 4k monitors don't feel the pain of this constantly?

[2018-01-30 01:55] JGJP commented on #2185
Firefox has a revamped Tree Tabs extension that's even better than the previous Tree-Style Tabs extension, many of the users of this feature are power users that care about privacy and the other perks that Brave offers. If Brave want increased market share, I suggest the team look at implementing this feature, as even a mildly workable alternative to horizontal tabs will lead to a sizeable increas

[2018-01-30 02:12] MargarytaChepiga commented on #12918
I would love to give it a try to fix! Can I work on it?

[2018-01-30 02:43] kjozwiak commented on #12903
Great find @srirambv & @laurenwags!

[2018-01-30 03:06] Raigasm commented on #10865
Does this mean that community users of Brave cannot build browser-laptop atm?

[2018-01-30 03:37] srirambv commented on #12911
This has been a long standing issue on Windows without items on bookmark toolbar it is impossible to add by dnd on toolbar.
Also mentioned here https://github.com/brave/browser-laptop/issues/11034#issuecomment-342471296

[2018-01-30 04:19] #12903 closed

[2018-01-30 04:50] cezaraugusto commented on #12911
reason is that emptu bm toolbar is too narrow for being the drop area. A quick fix would be keeping the toolbar size even if empty not sure why we resized it to what it is now.

if blank space is a problem we could have a placeholder like "add or drag a bookmark from urlbar to populate this area"

[2018-01-30 04:54] bradleyrichter commented on #12911
We need a "drop zone" that would toggle the visibility of the BM bar during the drag action.

Possible @cezaraugusto ?

[2018-01-30 05:16] #9643 closed

[2018-01-30 07:14] awerffeli commented on #3752
I am having the same issue. As a developer a need this for certain frameworks that use pop-ups.

[2018-01-30 07:41] Alexander-DeLarge commented on #5727
Keep in mind that Stylish partnered with the SimilarWeb analytics company. I would hope that since Brave is Chromium-based, we'd see Stylus implemented instead or have the add-on stripped of the analytics nonsense.
https://chrome.google.com/webstore/detail/stylus/clngdbkpkpeebahjckkjfobafhncgmne?hl=en

https://forum.userstyles.org/discussion/53233/announcement-to-the-community

[2018-01-30 08:46] spidawebs commented on #9211
Me too. I've had to stop using it and go back to Opera as it was driving me crazy.

[2018-01-30 10:20] srirambv commented on #12839
Seeing this after entering `chrome;//crash` on linux
![image](https://user-images.githubusercontent.com/17010094/35561099-457765dc-05d5-11e8-9907-71e1a63a396c.png)

[2018-01-30 10:30] srirambv commented on #9939
This is still an issue on Linux
![12768](https://user-images.githubusercontent.com/17010094/35561552-ad9f4f5c-05d6-11e8-8adb-c9f55377dca2.gif)

[2018-01-30 10:45] sepeiFH commented on #12918
adding **#my-adsLDRB** to the list in
**browser-laptop/app/extensions/brave/content/styles/removeEmptyElements.css**
should fix the problem

[2018-01-30 11:17] MacStasy commented on #3025
Any update on the status of the fix?

[2018-01-30 14:10] cannedshrimp commented on #518
Also had issues today with U2F on the current standard version of Brave. Worked fine in Chrome.

[2018-01-30 14:14] LaurenWags commented on #12906
MacOS 0.20.27:
<img width="619" alt="screen shot 2018-01-30 at 9 13 48 am" src="https://user-images.githubusercontent.com/28145373/35570702-f2e2a96c-059d-11e8-9cb9-1718c86e7134.png">

[2018-01-30 14:17] srirambv commented on #12906
Any good installer splash screen for Windows @bradleyrichter  😁

[2018-01-30 14:36] bradleyrichter commented on #12906
Do we have more options besides the animated gif?

[2018-01-30 14:58] srirambv commented on #12906
Nope. Not until #432 is implemented giving a setup screen.

[2018-01-30 15:03] benjibee commented on #6243
I've spent a while trying to get my custom filters working. I have some pretty basic ones I've used for years before I switched to Brave. I think the Custom filters area of the `about:adblock` page should be disabled until it's working properly to avoid frustration and confusion.

[2018-01-30 15:10] hugobuddel commented on #12799
Thanks @daquinons for verifying it's not just me or my particular tabs.

Also I noticed that through perseverance it is possible to put the pinned tabs back. I originally had trouble making the disappeared pins persistent again, but I could get them back by just trying it like 10 times.

All these many small things combined are starting to make it kinda frustrating to use Brave in my opinion. I ge

[2018-01-30 16:50] sergiorojasa commented on #4024
@bsclifton on line 273 - 278 is where the code executes the print command [Click to view the pdf.js repository pdf_print_service.js](https://github.com/brave/pdf.js/blob/master/web/pdf_print_service.js)

[2018-01-30 17:14] flamsmark opened #12922 "UX & wording for Tor tabs on about:newtab"
How do we communicate Tor tabs to the user? Do we separate "Tor" tabs from "Private" tabs?

Much of the user research suggests that people expect private/incognito tabs to protect against ISP-level snooping, rather than just forgetting what's stored locally. <https://spreadprivacy.com/is-private-browsing-really-private/> <https://www.elie.net/blog/privacy/understanding-how-people-use-private-brows

[2018-01-30 17:16] flamsmark commented on #12922
One implementation option:
- "private" or "incognito" (or our own new label) tabs using Tor to protect against network snooping
- "off the record" or "amnesiac" tabs doing what private/incognito tabs do now: avoid making a durable record on the local machine

[2018-01-30 17:31] tomlowenthal opened #12923 "Use Tor for ledger proxy instead of PIA"
Once we have Tor working, we should consider using it for the ledger proxy, rather than PIA.

If Brave is connecting to a ledger service over Tor, we should probably configure that as an onion service on our end. Should we use a [single onion service](https://www.torproject.org/docs/tor-manual.html.en#HiddenServiceSingleHopMode) rather than a full hidden service? We should consider using something

[2018-01-30 17:35] tomlowenthal opened #12924 "Use Tor for update checks and downloads"
Once we have Tor working, we should consider using it for update pings and downloads.

If Brave is connecting to a the update service over Tor, we should probably configure that as an onion service on our end. Should we use a [single onion service](https://www.torproject.org/docs/tor-manual.html.en#HiddenServiceSingleHopMode) rather than a full hidden service? We should consider using something li

[2018-01-30 17:36] NejcZdovc commented on #9939
I will close this one, because it's better and let's open another issue for linux only.

[2018-01-30 17:36] #9939 closed

[2018-01-30 17:41] tomlowenthal opened #12925 "Use Tor for analytics and reporting"
Once we have Tor working, we should consider using it for analytics.

When a user opts in to report analytics, we should consider sending that info over Tor If Brave is connecting to an analytics service or proxy over Tor, we should probably configure that as an onion service on our end. Should we use a [single onion service](https://www.torproject.org/docs/tor-manual.html.en#HiddenServiceSingleHo

[2018-01-30 17:47] tomlowenthal opened #12926 "Use Tor for sync"
Once we have Tor working, we should consider using it for sync.

If Brave is connecting to a the sync service over Tor, we should probably configure that as an onion service on our end. Should we use a [single onion service](https://www.torproject.org/docs/tor-manual.html.en#HiddenServiceSingleHopMode) rather than a full hidden service? We should consider using something like Alec Muffett's [Enter

[2018-01-30 18:01] riastradh-brave commented on #12922
A broader UX question is how to organize these essentially independent concepts.

Users, _e.g._ doing research on controversial topics, might want to maintain ordinary browser history, site logins, _etc._, while disguising from their ISPs what they're browsing, and disguising from sites they don't log into who they are -- for all this they need Tor, but not everything else in off-the-record mode.

[2018-01-30 18:07] tomlowenthal opened #12927 ""Onions Everywhere" when using Tor"
When someone accesses a site over Tor, they'd probably prefer to connect to that service's official onion service rather than accessing the regular HTTPS or (gasp!) 😱HTTP😱 site through a Tor exit which could deliberately or accidentally mangle that connection.

Providing this sort of transparent upgrade relies the browser knowing with some certainty that a particular site is available as a particu

[2018-01-30 18:12] flamsmark opened #12928 "Mark Tor sites in history & default to reopening them in Tor"
If Tor tabs aren't amnesiac (see #12922), then pages accessed over Tor will show up in the regular browser history. Presumably, if someone accessed a site over Tor once, they'd prefer to do so in future and would not appreciate accidentally connecting to the site without Tor.

We should consider providing a visible mark or highlight in `about:history` to identify a page that was accessed over Tor.

[2018-01-30 18:14] diracdeltas commented on #12469
fixed by https://github.com/brave/browser-laptop/pull/12694

[2018-01-30 18:14] #12469 closed

[2018-01-30 18:21] tomlowenthal opened #12929 "Identify files downloaded over Tor"
Similar to #12928, we should consider marking files downloaded over Tor distinctly in `about:downloads`. The "Download Again" context-menu feature should also re-attempt the download over Tor rather than a regular connection.

Likewise, we should consider using extended attributes to note that this file was downloaded over Tor, and — if possible — information about the exit and the network(s) that

[2018-01-30 18:26] tomlowenthal opened #12930 "Use onion services for built-in Brave connections"
Once we have Tor working, we should consider using it whenever the browser would otherwise connect directly to a service run by Brave.

If Brave is connecting to on of our services we should probably configure that as an onion service on our end. Should we use a [single onion service](https://www.torproject.org/docs/tor-manual.html.en#HiddenServiceSingleHopMode) rather than a full hidden service?

[2018-01-30 18:33] alexwykoff commented on #12202
closing as dupe of https://github.com/brave/browser-laptop/issues/10673

[2018-01-30 18:33] #12202 closed

[2018-01-30 18:44] #12913 closed

[2018-01-30 19:00] flamsmark opened #12931 "Detect existing Tor processes"
For the basic Tor tabs prototype, we should detect whether there's an existing Tor process running on this machine by making a request to https://check.torproject.org over socks5://127.0.0.1:9050 . If there's no existing process, the attempt should fail.

[2018-01-30 19:04] flamsmark opened #12932 "Distribute Tor binary with Brave"
For a user-facing implementation of Tor tabs, we should ship Tor with Brave and run it ourselves. We might want to look to the Widevine distribution model as a template.

[2018-01-30 19:05] flamsmark opened #12933 "Automatically update Tor with Brave"
If we distribute Tor with Brave (#12932), we should ensure that it remains up-to-date. Should we just ship new binaries with Brave updates, or should we use a separate update mechanism to allow Tor to be updated on a different schedule?

[2018-01-30 19:07] flamsmark opened #12934 "Use Tor as a subprocess"
We shouldn't assume that a user has installed and configured Tor on their own. Instead, we should ship a Tor binary (#12932) and run it as a Brave subprocess, using our own `torrc` and live control mechanism.

[2018-01-30 19:10] flamsmark opened #12935 "Decide which Tor process to use"
If we ship a Tor binary (#12932) and are able to configure and run it as our own subprocess (#12934), what if we detect (#12931) an existing Tor process? How should we decide which process to use? Should we use our own process, but copy some of the user's existing `torrc` directives? Should we default to running our own, but provide an advanced configuration directive to allow a user to specify an

[2018-01-30 19:13] flamsmark opened #12936 "Protect connections between Brave and our Tor subprocess"
Connecting to a Tor subprocess (#12934) over TCP sockets isn't necessarily the safest way to control and use a critical browser component. How can we harden this? Are there OS-specific measures we could use?

[2018-01-30 19:24] hasufell opened #12937 "brave is non-functional (white canvas area, only menubar visible)"
### Description
Build succeeds, tested both master and v0.19.147dev release. The browser is totally non-functional though. A window opens, the menubar is visible, but nothing else. If the window is moved somehow, the menubar also disappears.

### Steps to Reproduce

  1. clone brave
  2. `npm install`
  3. `npm start`

**Actual result:**
![brave](https://user-images.githubusercontent.com/1241845/3

[2018-01-30 19:45] sergiorojasa commented on #4024
@bsclifton I was not sure how to do the pull request in this repository or brave/pdf.js repository so I did a pull request on brave/pdf.js repository.

[2018-01-30 19:52] flamsmark opened #12938 "Whitelist network connections from main process"
We should ensure that the main process only makes connections to specifically whitelisted domains to make sure that Brave or included components (Widevine, Flash…) doesn't accidentally make requests to unexpected endpoints.

[2018-01-30 21:16] diracdeltas commented on #12938
duplicate of https://github.com/brave/browser-laptop/issues/11889

[2018-01-30 21:16] #12938 closed

[2018-01-30 21:29] sergiorojasa commented on #6750
I would like to work on this issue

[2018-01-30 21:44] #12912 closed

[2018-01-30 22:17] arsalankhalid commented on #12770
Hey guys, is this still available - would love to take a stab at this :)

[2018-01-30 22:19] bradleyrichter commented on #12770
@arsalankhalid We'd love your help! Go for it...

cc @NejcZdovc

[2018-01-30 22:50] riastradh-brave commented on #12930
There are two related questions here:

1. Should the _browser_ make these connections through Tor?
   - Pro: We bake fewer tracking beacons into the toys we hand out to hapless users.
   - Con: Slower.

2. If so, should the _server_ be accessible (only) through an onion service?
   - Pro: Natural equivalent of certificate pinning.  No DNS/vhost/certificate overhead.
   - Con: Key management issues

[2018-01-30 22:52] LaurenWags opened #12939 "sometimes Brave crashes when closing"
### Description
Sometimes after closing Brave, the 'Brave unexpectedly quit' message displays.

### Steps to Reproduce

  1. Use Brave normally.
  2. Quit Brave.
  3.

**Actual result:**
Sometimes Brave crashes when closing.

**Expected result:**
Brave should not crash on close.

**Reproduces how often:**
Unknown

### Brave Version

**about:brave info:**
Brave | 0.20.27
V8 | 6.4.388.40
rev | 76102

[2018-01-30 23:02] darkdh opened #12940 "icon is empty in uninstall menu"
### Description

![screen shot 2018-01-30 at 2 54 10 pm](https://user-images.githubusercontent.com/11330831/35596380-7ca55cc8-05ce-11e8-8329-f809e954bbdd.png)

### Steps to Reproduce

  1.
  2.
  3.

**Actual result:**

**Expected result:**

**Reproduces how often:**

### Brave Version

**about:brave info:**

**Reproducible on current live release:**

### Additional Information

[2018-01-30 23:14] flamsmark commented on #12930
I think that a lot of the features under this umbrella don't have to take user time, so they don't need to feel fast. For each feature that's worth implementing over Tor client-side, I think it's worth implementing as an onion service server-side. And for each onion that we stand up, I think it makes sense to retire the regular HTTPS access point after enough versions that we can reasonably expect

[2018-01-30 23:17] petemill commented on #12784
Note that we cannot customise the icon @bradleyrichter.

We _could_ add an image background / log to the window itself, i.e. put the PNG that we wanted on the left, underneath the 'steps' list. But this would be a medium effort, as would need to fork and modify the pkg file builder we are using.

Install location is not configurable, but the user still has a screen to select the disk to install on

[2018-01-30 23:17] bridiver commented on #12939
this particular crash is a downstream effect of a problem with urlParse in the filtering code

[2018-01-30 23:19] LaurenWags opened #12941 "top site tiles not being populated when updating profile from 0.19.147"
## Test plan

https://github.com/brave/browser-laptop/pull/12968#issue-293390058

----

### Description
I have a profile that I was using with version 0.19.147 which encountered issue https://github.com/brave/browser-laptop/issues/12027 (to the degree that I only have one (default, pinned) top site tile). When this profile was updated to 0.20.27 and I began to browse, I noticed my top site tiles w

[2018-01-30 23:31] bridiver opened #12943 "c++ code passed `string` instead of `Error` to uncaught exception handler"
### Description
Many JS error reports show `undefined: undefined` for the message and stack

### Steps to Reproduce
NA

**Reproduces how often:**
NA

### Brave Version
0.19.147

**Reproducible on current live release:**
Yes

[2018-01-30 23:31] #12939 closed

[2018-01-30 23:35] #12943 closed

[2018-01-30 23:43] #12940 closed

[2018-01-30 23:49] riastradh-brave commented on #12935
The Firefox-based Tor Browser does two things:

1. Uses port 9150 by default for socks, and 9151 by default for control, in contrast to the usual defaults, 9050 and 9051, respectively.
2. On systems that support it, uses local sockets instead of tcp sockets for _both_ socks and control.  (I didn't realize until today that the tor daemon even supported local sockets for socks.)

We should do both o

[2018-01-31 00:59] riastradh-brave commented on #12931
As a very rough prototype, perhaps we could just make the new tab page for Tor tabs _be_ https://check.torproject.org/.

(This is definitely not a long- or even medium-term approach, because the page has a warning saying that even though you're using Tor you're not using the Tor Browser -- maybe something to bring up with the Tor team to see whether we can have an https://check.torproject.org/brav

[2018-01-31 01:37] kjozwiak commented on #12939
@bridiver could you provide a test case that can be used for verification? Would using @LaurenWags's profile that reproduced this crash be sufficient enough?

[2018-01-31 01:49] #12914 closed

[2018-01-31 02:39] kjozwiak opened #12948 "Release checklist for 0.20.x (Release Channel)"
# Release Process Checklist

Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

## Release Commands
### First-time Setup
- [x] `git clone git@github.com:brave/vault-updater && cd vault-updater`
- [x] `git clone git@github.com:brave/release-tools`
- [x] `npm install`
- [x] install the her

[2018-01-31 02:44] srirambv commented on #6750
@sergiorojasa  Please submit a PR. I have self assigned the issue so that no one else takes it.

[2018-01-31 02:45] kjozwiak opened #12949 "Release notes for 0.20.29"
Release Notes:
 - Sometimes Brave crashes when closing. ([#12939](https://github.com/brave/browser-laptop/issues/12939))
 - Disabled hardware acceleration causing startup problems. ([#12887](https://github.com/brave/browser-laptop/issues/12887))
 - Remove CoinMarketCap Empty Elements. ([#12755](https://github.com/brave/browser-laptop/issues/12755))
 - Page security state for passive mixed content

[2018-01-31 03:04] srirambv opened #12950 "Manual test run on OS X for 0.20.x (Release Channel)"
## Per release specialty tests
## Installer

- [x] Check that installer is close to the size of last release.
- [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital s

[2018-01-31 03:04] srirambv opened #12951 "Manual test run on Windows x64 for 0.20.x (Release Channel)"
## Per release specialty tests
 - [ ] Fix bug where users behind multiple releases could get preview releases (Windows only). ([#11152](https://github.com/brave/browser-laptop/issues/11152))
## Installer

- [x] Check that installer is close to the size of last release.
- [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Wind

[2018-01-31 03:04] srirambv opened #12952 "Manual test run on Linux for 0.20.x (Release Channel)"
## Per release specialty tests
 - [ ] Bookmarks not fitting in the bookmark bar. ([#9939](https://github.com/brave/browser-laptop/issues/9939))
 - [ ] Move bookmark text calculation into the state. ([#9517](https://github.com/brave/browser-laptop/issues/9517))
 - [ ] Multiple screens , brave browser out of scope of the screen . ([#9371](https://github.com/brave/browser-laptop/issues/9371))
 - [ ]

[2018-01-31 03:22] arkag commented on #6443
I'd like an update on this... This is one reason why I can't justify using Brave on my Mac when I love what they're doing with their browser. Having my discrete GPU up while I'm just browsing normal websites kills my battery.

[2018-01-31 04:14] petemill commented on #12802
I've observed that the pkg installer will see any existing Brave app **anywhere** on disk as an existing installation (that it assumes was moved from `/Applications`) and attempt to upgrade it, instead of installing a fresh copy to `/Applications`, even if the other Brave app is named `Brave-old-test-1.app` (or anything!). Suggest we make sure it does not overwrite any side-by-side beta, developer

[2018-01-31 04:50] NejcZdovc commented on #12770
@arsalankhalid yes it's still available. If you need any help let me know. Thank you

[2018-01-31 05:28] kjozwiak commented on #12663
Still reproducible with `0.20.29` rev: 4fc3c8ff3bcb6af75088b125e00d3a70382b9bec  using the above STR on macOS 10.13.2.

[2018-01-31 06:32] bradleyrichter commented on #12784
I recommend that we continue with DMG for all normal builds and only use PKG for promo builds.

Are there other benefits to switching all over to PKG that I am overlooking?

[2018-01-31 08:16] hugobuddel commented on #11463
I'm using Brave 0.19.147 on windows with the windows taskbar hidden. I just noted that full screen currently results in a *smaller* viewport than non-full screen.

Normal, maximized. Notice that on the right the 'window' seems to extend a bit out of the screen, as can be seen from the arrows on the scrollbar that touch the edge of the screen. The taskbar is hidden on that side of the screen, not s

[2018-01-31 10:47] 0xmohit opened #12955 "'View Certificate' non-functional on Linux"
### Description
When attempting to click the "View certificate" button in the Developer Tools Security tab, nothing happens.  (This is the same behavior reported earlier in #2611 that is marked fixed.)  The issue was observed on Linux.

### Steps to Reproduce

  1. Navigate to a HTTPS site, say https://duckduckgo.com
  2. Choose the menu: View > Developer Tools > Security > Overview > View Certifi

[2018-01-31 10:57] JonathonAshworth commented on #12882
This operation (as well as re-ordering tabs) has much better usability in latest Chrome. It might be worth using that as a benchmark.

[2018-01-31 14:06] rasved opened #12956 "AltGr + Number opens up a new session tab"
## Test plan

https://github.com/brave/browser-laptop/pull/13042#issue-167512154

----

The shortcut for <tt>New Tab</tt> is the same as @ (at-sign) on Nordic keyboards. That's pretty annoying when typing in email addresses in web forms...
Just realized that when I type square brackets (as in the subject) I open new tabs as well...
So the result after this posting is 4 new tabs... 🐛

I can't find

[2018-01-31 14:35] LaurenWags commented on #12939
Using profile that initially had the crashes I am still seeing some crashes on close with 0.20.29.

[2018-01-31 14:50] LaurenWags opened #12957 "sometimes Brave crashes on close"
### Description
Originally reported with https://github.com/brave/browser-laptop/issues/12939 however after the fix for that still sometimes seeing crashes with the same profile in 0.20.29 (profile was provided to @bridiver for debugging)

### Steps to Reproduce

  1. Open Brave (this particular profile has been updated from 0.18.x to 0.19.x to 0.20.x)
  2. Browse normally.
  3. Close Brave.

**Ac

[2018-01-31 15:36] #12951 closed

[2018-01-31 15:39] #12950 closed

[2018-01-31 15:44] #12952 closed

[2018-01-31 16:13] sepeiFH commented on #12956
+1 very annoying. Combination is ALT GR + 2

[2018-01-31 16:23] #12948 closed

[2018-01-31 16:23] #12949 closed

[2018-01-31 16:50] Alino commented on #12937
I had something similar right now after upgrading to 0.20 (on mac)
The browser did restart for me automatically into a state with white background,
it was very laggy and when I moved mouse around tabs they became visible on mouseover.
Then I tried to restart Brave by pressing command + Q and opening it again, now I could se 70% of the homepage and other 30% were white squares.
Restarted again, and

[2018-01-31 17:27] Miyayes commented on #12777
+1 from reddit community: https://www.reddit.com/r/BATProject/comments/7u8tdl/cant_see_the_reddit_section_on_coinmarketcap/

[2018-01-31 17:31] satnatantas commented on #11463
@hugobuddel looks very much like erratic window size calculation because the scrollbar is slightly cropped on first shot.

[2018-01-31 17:52] riastradh-brave opened #12958 "Linux build from master has no window decorations, ignores keyboard input, appears on all workspaces"
### Description

Launching the browser yields a window with no window manager decorations that is omnipresent on all workspaces and ignores all keyboard input, as if it were a notification window that cannot take focus.  The menu bar responds to clicks, and some menu items function such as opening new tabs and loading the community help center and quitting, but some do not function such as togglin

[2018-01-31 17:54] riastradh-brave commented on #12958
Duplicate issue submitted simultaneously: https://github.com/brave/muon/issues/467

[2018-01-31 18:17] TDeisinger opened #12959 "No sites loading 0.20.x+ - OS Proxy Issue"
### Description

After updating to .20.29, all sites after attempting to load will encounter a connection timeout error. No other network issues or problems with other browsers. Cannot check proxy settings in Brave.

EDIT: After testing with someone else on the same network, they have the same issue, but it worked on a network with no proxy.  It seems this version is not working correctly with che

[2018-01-31 18:49] ceasefire95 commented on #12956
+1 really frustrating! Please change the shortcut to something else or let us disable it!

[2018-01-31 18:52] bradleyrichter commented on #12882
new and much improved tab dragging coming in 0.21.x but we do need another feature to "merge all windows"

[2018-01-31 18:56] bradleyrichter commented on #12934
We may decide that Tor is fully integrated but something to consider here is a growing request to not install things by default and provide an easier way to remove them. Mostly for extensions...

[2018-01-31 19:04] diracdeltas commented on #12959
i can’t repro this on MacOS - works fine if with my system proxy (Tor). may be a windows-only issue.

[2018-01-31 19:08] riastradh-brave commented on #12959
Do you know what kind of proxy it is?  What are your system proxy configurations?  Do you have a proxy autoconfig file or something that you can share?

[2018-01-31 19:08] petemill commented on #12958
Issue with Muon 5.x, does not reproduce in 4.7.1 - assigning same milestone as muon 5.x

[2018-01-31 19:10] rebeccahhh commented on #12959
I'm also having this issue one a windows machine, also similar proxy configs, I can't share any due to privacy agreements.

[2018-01-31 19:21] bridiver commented on #12959
is this new with 0.20? Can't be reproduced with 0.19?

[2018-01-31 19:21] diracdeltas opened #12961 "Security/privacy slider to disable features with greater risk of privacy leaks"
At minimum we should disable (and make it impossible to enable):
* flash
* webtorrent
* all external extensions
* widevine
* urlbar remote autocomplete suggestions
* brave payments
* sync
* autofill (including passwords?)

We should also make sure:
* favicons in the tab area are loaded in the same circuit/session as the page
* strict site isolation is enabled (tbd in muon)
* no data from Tor priva

[2018-01-31 19:33] TDeisinger commented on #12959
It was working fine on .19 right before it updated. I'm also gonna have to hold off on specific proxy settings (Company proxy .pac).

Basically if you are on the domain network and don't have the proxy, you cannot get to any external sites. I'm not in that IT group so I don't know specifics.

[2018-01-31 19:49] echosa opened #12962 "Folders under "Other Bookmarks" don't show up as dropdown options in the "Add Bookmark" or "Add Folder" dialogs"
### Description
When adding a bookmark or folder in the Bookmark Manager, any folders listed under "Other Bookmarks" do not show up as options in the target folder dropdown. See screenshots below.

### Steps to Reproduce
  1. Open the Bookmark Manager.
  2. Add folders underneath "Other Bookmarks"
  3. Start adding a bookmark or a folder.
  4. Check the "Folder" dropdown. The folders under "Other

[2018-01-31 19:52] echosa commented on #12962
I'll also point out that the dialog titles aren't consistent. One starts with "Create", and the other doesn't. Probably want to make them both the same, either with or without "Create".

[2018-01-31 19:52] vinicentus commented on #12956
+1 So annoying! Can we get a fix ASAP please?

[2018-01-31 20:28] HamishMacEwan commented on #7240
It hasn't been addressed, bookmarking a URL is excruciatingly slow.  The import from Firefox took, I don't know, I went for a walk and had lunch...

Brave: 0.19.147
rev: f1b90a31643cad8f4d76a4f729939d4f303b9a00
Muon: 4.7.6
libchromiumcontent: 64.0.3282.119
V8: 6.4.388.40
Node.js: 7.9.0
Update Channel: Release
OS Platform: Linux
OS Release: 3.16.0-4-amd64
OS Architecture: x64

[2018-01-31 20:38] NHDaly commented on #1563
Hi, is fixing this issue basically just this?:
https://github.com/brave/browser-laptop/pull/12963

Of course I haven't done any tests yet, but is this the basic gist of it?

[2018-01-31 20:40] NHDaly commented on #1563
---- Oh, actually, after looking at it more, I think maybe this would prevent closing a pinned tab from the file menu as well... i don't think that's what we want, is it? Perhaps there's a way to see how the `menuItem` was invoked (ie via an `accelerator` or through clicking)?

[2018-01-31 20:45] rebeccahhh commented on #12959
Follow up, experiencing the same problem as @TDeisinger , additionally unable to open Brave via clicking hyperlinks (Brave being default browser) or directly opening application. I will also check off company proxy and report back

[2018-01-31 20:47] eljuno commented on #12956
+2 from community https://community.brave.com/t/typing-in-brave-opens-a-new-tab/15067?u=eljuno

One of reporter said s/he used Estonian keyboard.
cc @bsclifton

[2018-01-31 20:52] vonBarbarosa commented on #7388
+1

currently using latest windows x64 version downloaded from main website (0.20.29). It seems like copying image on Brave doesn't overwrite previously copied thing, because when I paste it, the previously copied thing shows up.

[2018-01-31 21:47] flamsmark opened #12965 "Use Tor by default in private tabs"
Brave should use Tor by default for private tabs. When a user opens a private tab, they should see an informative note about protecting their browsing with Tor with a toggle switch. This is the minimum implementation for Tor in Brave.

[2018-01-31 21:50] tomlowenthal opened #12966 "Tor toggle in shields"
Shields should provide a toggle for Tor usage, just like scripts, fingerprinting. This is the next step after private tabs (#1185).

[2018-01-31 22:02] #12965 closed

[2018-01-31 22:04] flamsmark commented on #1185
Brave should use Tor by default for private tabs. When a user opens a private tab, they should see an informative note about protecting their browsing with Tor, along with a toggle switch where they can turn it off.

[2018-01-31 22:16] Liunkae commented on #7240
@HamishMacEwan You might want to try with the latest version of Brave that came out today, 0.20.29. It contains a number of performance fixes.

[2018-01-31 22:52] so-lost commented on #1185
hey is possible to add built in language translation?

[2018-01-31 23:40] FluffyJack commented on #7402
+1 will consider working on this once work is calmer.

[2018-02-01 00:02] AwesomeTech10 commented on #12753
This issue is fixed, I belive

[2018-02-01 00:03] AwesomeTech10 commented on #9865
I think this issue got fixed

[2018-02-01 03:52] mkielhauser commented on #12959
Exactly the same here. Just updated today in the office (Win7) and no sites are loading after refresh. We use a proxy  auto configuration script but due to confidentiality I cannot share this. It was all working before the upgrade to 0.20. I am running Ubuntu in VirtualBox on my desktop and, of course, have to use a proxy to connect outside. The Linux version of Brave works in this environment giv

[2018-02-01 04:49] Miyayes commented on #8254
+1 from community here: https://www.reddit.com/r/BATProject/comments/7ug72z/how_can_i_mute_a_tab/

Seems quick and easy to implement (since the functionality is already there but simply conditional upon audio already playing).

[2018-02-01 05:13] SupremeRumHam opened #12969 "auto-include turned off but sites are still auto included"
Yes I have searched for something similar and didn't find anything.

### Description

I have auto-include turned off but sites are still added to my contribution list and included.

### Steps to Reproduce

  1. Have auto-include turned off
  2. Go to random website
  3. Check Payments to see random site has been added to contribution list

**Actual result:**
https://twitter.com/SupremeRumHam/statu

[2018-02-01 05:14] SupremeRumHam commented on #12969
![preferences 1_31_2018 9_04_21 pm](https://user-images.githubusercontent.com/29110697/35662210-c5fe30a4-06cb-11e8-9496-de23dea8d939.png)

[2018-02-01 05:27] NejcZdovc commented on #12969
@SupremeRumHam so you started with the empty list and you visit some random sites? or was this two included sites already on the list?

[2018-02-01 05:34] SupremeRumHam commented on #12969
The YouTube Channel I added, but sivers.org I went on just to see if it would be auto-included and it was. While my auto-include was turned off. Sorry I didn't clarify

[2018-02-01 05:46] aliakyurek commented on #12956
+1 Same for me. Issue started with 0.20.29.
Any attempt to type special characters using Alt gr + number like #,$,[.. opens a new tab.
A hotfix is immediately necessary.
Keyboard layout is Turkish.

[2018-02-01 06:22] srirambv commented on #10405
+1 from community https://community.brave.com/t/pressing-mouse-3-down-the-scroll-wheel-highlights-everything/15156

[2018-02-01 06:44] srirambv opened #12970 "Download torrent file fails"
### Description
Download torrent file  fails

### Steps to Reproduce
  1. Clean install 0.21.5
  2. Open the link https://cdimage.debian.org/debian-cd/current/amd64/bt-cd/debian-9.3.0-amd64-netinst.iso.torrent
  3. Click download, doesn't work. Console throws error

**Actual result:**
![download](https://user-images.githubusercontent.com/17010094/35664641-f8c72b3a-0748-11e8-9a71-7b34cb252106.gif)

[2018-02-01 06:48] srirambv opened #12971 "GET chrome-extension://invalid/ error when loading magnet/torrent file"
### Description
GET chrome-extension://invalid/ error when loading magnet/torrent file

### Steps to Reproduce
  1. Open browser dev tools
  2. Open any magnet/torrent link
  3. Console throws error

**Actual result:**
![webtorrent](https://user-images.githubusercontent.com/17010094/35664880-d494782a-0749-11e8-9552-77faf697a3c8.gif)

**Expected result:**
Shouldn't throw error

**Reproduces how oft

[2018-02-01 07:23] Redback812 opened #12972 "about:bookmarks Right click newtab issue"
Description
about:bookmarks Right click newtab issue

Steps to Reproduce
  1. Open about:bookmarks for Bookmark Manager
  2. Select bookmark link for internet site
  3. Right click for menu
  4. Example: Open link in new tab

Actual result:
  1. Failed to fill address bar
  2. Failed to open website
  3. Random filling of address bar
  4. Random in open website's
  5. Link's to Local lan works.

E

[2018-02-01 08:23] nkempe commented on #9307
Agreed, allowing the same domain would help. Allowing specific scripts forever would be better. Allowing specific scripts for each site separately would be even better, as then you can decide for each site which scripts should be allowed until you disable it again.

[2018-02-01 08:51] raulnovella opened #12973 "I cant open site cobinhood with brave"
I took a good scare because I thought they had closed the website, but with chrome I can enter. I do not know how to solve it.

[2018-02-01 08:53] raakis commented on #12956
+1 Same for me. Issue also started with 0.20.29.
Finnish keyboard layout in use.

[2018-02-01 09:14] mitchcurtis commented on #6156
It's kinda odd that Alt+Left doesn't work when it does in Chrome. If we could specify shortcuts then this wouldn't be an issue (I personally never use Backspace to go back, because it requires you to not have focus in an input field, unlike Alt+Left).

[2018-02-01 09:23] nkempe opened #12974 "Dev tools - Audits > Stubborn "Can only audit tabs""
### Description
In the dev tools, tab Audits, the audit function keeps displaying the message "Can only audit tabs. Navigate to this page in a separate tab to start an audit.".
I'm already in a tab with a website when I try this, and trying it on a new tab with the same site has the same result.

I just tried this out of curiosity for the feature so for me it's a low priority issue.

### Steps to

[2018-02-01 09:35] steinsiv commented on #5955
Any news on this? proxy certificates would be nice to be able to add to Brave

[2018-02-01 10:30] srirambv commented on #12956
This is not specific to any keyboard. Happens even on English keyboard as well. Pressing <kbd>AltGr</kbd> + number causes a session tab to open.

 Pressing <kbd>AltGr</kbd> + number key combination changes to Ctrl+Alt+<number> as seen in the  recording
![altgr](https://user-images.githubusercontent.com/17010094/35673677-45d63c80-0768-11e8-8744-e31c9dd62104.gif)

Here's what it looks like on 0.19.1

[2018-02-01 11:17] srirambv opened #12975 "browser crash/lockup when typing into URL bar"
Multiple reports from [community ](https://community.brave.com/t/crash-after-first-letter-in-new-tab-address-bar/15118) regarding browser crash when typing in a url

cc: @bridiver @darkdh @bsclifton

[2018-02-01 11:30] AstralGeek33 commented on #7521
Any updates? I would love to switch to Brave but can't due to the lack of this feature. (As it's nice to be able to do manual blocking.)

It would also be helpful if blocked elements were saved to the cloud so you don't have to re-block the elements upon a new installation.

[2018-02-01 11:39] jxpy commented on #2185
Brave must be about cutting-edge innovation to have followers. Your early adopters are obviously power users and Brave must attract them, so be 'brave' and don't shy off from adding powerful features.

Tree tabs in general are the future for landscape monitors, they optimize space and organize content.
Vivaldi i.e. has native vertical tabs, but it can also support kroppy's excellent "Tree Tabs" ex

[2018-02-01 13:55] jpita commented on #5499
this is still in deep backlog?

[2018-02-01 14:45] rebeccahhh commented on #12959
Mine is also a Win7 machine for the office. I checked off proxy and the issue persisted, however, I will uninstall and reinstall an old version, update out of the office, and then check the launch with and without proxy. That might help determine if it's an issue with something from the actual update being blocked by proxy.

[2018-02-01 14:55] derekhillhp commented on #12959
I can reproduce this reliable on a network (corporate) that has a proxy server. I even get warning that the auto-configuration script needs to be used for our network. As soon as I move the machine to a network that doesn't require a proxy, it works. I even went as far as to downgrade to 0.19 and the browser works correctly. There definitively is a problem with 0.20. The same screen shots are alre

[2018-02-01 15:43] RenaudParis commented on #7646
Same thing here, except it crashes almost immediately. Nothing gets saved (I mean not even the options I configured prior to importing from Firefox)

I don't know for other people, but I know I can't really use Brave if I can't import all my data, it would take too much time to do it manually.

Dying to try it out though! (very good feedbacks from family members + love the money for noads)

[2018-02-01 15:55] LaurenWags commented on #12959
+1s from community:
https://community.brave.com/t/brave-20-update-causing-websites-to-not-load/15218
https://community.brave.com/t/brave-will-not-display-browser-after-update/15176/3

[2018-02-01 16:48] petemill opened #12976 "Tabs are not loading discarded, even when requested to"
### Description
https://github.com/brave/browser-laptop/issues/12916 was mitigating a bug with discarding tabs (automatically) which had already been loaded, and causing them to not be able to be switched to (#10673).

However, it also unintentionally results in startup tabs not being created 'unloaded' (or 'discarded'), meaning they all load simultaneously. This does not need to be the case as ta

[2018-02-01 16:49] Liunkae commented on #12638
Duplicate of #12526.

[2018-02-01 16:49] #12638 closed

[2018-02-01 16:50] Liunkae commented on #12526
+1 from me (#12638). @darkdh See https://github.com/brave/browser-laptop/issues/12638#issuecomment-357584583 for my STR.

[2018-02-01 18:45] LaurenWags commented on #12744
+1 from community: https://community.brave.com/t/brave-20-update-causing-websites-to-not-load/15218/3

[2018-02-01 19:12] #12976 closed

[2018-02-01 19:29] TDeisinger commented on #12973
Check this issue and make sure it's not because of it:

https://github.com/brave/browser-laptop/issues/12959

[2018-02-01 19:30] eljuno commented on #10230
+1 from community - option in settings to open bookmark in new tab with left-click  https://community.brave.com/t/option-to-open-bookmark-in-new-tab/15101?u=eljuno

[2018-02-01 19:41] raulnovella commented on #12973
Yes I have seen it before, but I do not understand anything. I do not know about problems with proxy, only at the user level. Anyway, my message is different.
"It is possible that the website https://cobinhood.com/ is temporarily inactive or has been permanently moved to another address.
ERR_FAILED"

[2018-02-01 20:19] petemill opened #12978 "Windows installer filename has changed format"
### Description
Windows installer is now generated as `${appName}-Setup-${arch}.exe` where previously (0.19) it was `${appName}Setup-${arch}.exe`. This is causing a few problems with updates.

### Steps to Reproduce

  1. Build windows installer `CHANNEL=dev npm run build-installer`

**Actual result:**
Setup is named `Brave-Setup-x64.exe`

**Expected result:**
Setup should be named `BraveSetup-x64

[2018-02-01 20:23] kjozwiak opened #12980 "Manual test run on OS X for 0.20.x Hotfix 1"
## Per release specialty tests

- [x] Tabs are not loading discarded, even when requested to #12976

## Installer

- [x] Check that installer is close to the size of last release.
- [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures ta

[2018-02-01 20:23] kjozwiak opened #12981 "Manual test run on Windows x64 for 0.20.x Hotfix 1"
## Per release specialty tests

- [x] Tabs are not loading discarded, even when requested to #12976

## Installer

- [x] Check that installer is close to the size of last release.
- [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures ta

[2018-02-01 20:23] kjozwiak opened #12982 "Manual test run on Linux for 0.20.x Hotfix 1"
## Per release specialty tests

- [x] Tabs are not loading discarded, even when requested to #12976

## Installer

- [x] Check that installer is close to the size of last release.
- [ ] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures ta

[2018-02-01 20:28] #12978 closed

[2018-02-01 21:26] TDeisinger commented on #12959
Just tested .20.30 and still having the problem

[2018-02-01 21:30] foederati commented on #197
Hi all, had been meaning to give Brave a try for a long while now. Was disappointed to not see any PGP signatures on the release files... found this issue opened in Jan 2016(?) but still no process together? To clarify, if I want to today download Brave 0.20.29.dmg, there is no PGP signature or even a SHA256 hash I can verify against the file I download?

[2018-02-01 22:30] LaurenWags commented on #11635
Reproduced on 0.20.30 on MacOS (3 pinned tabs, 4 windows, approx 160-180 tabs total between all 4 windows)

[2018-02-01 22:32] andreanidouglas opened #12983 "Visual element to indicate zoom level for the UI"
For the desktop browser, it needs a visual element to report which level of zoom is selected

[2018-02-01 22:42] ShinyStar commented on #6094
Hello!
I'd like to work on this issue and I have a few questions.
I've been looking at cmdLine.js and I haven't found any flags to open a new window from the command line. Am i missing it or should I add it?
And, if I did add it, would "--new-window" be ok as the flag? Should I make just one branch for both things, or one for adding the flag and another for the jump list?

[2018-02-01 22:55] LaurenWags commented on #12980
Tests were as expected.

[2018-02-01 22:55] #12980 closed

[2018-02-01 23:01] petemill opened #12984 "If window / tab restore fails, persisted state will be deleted"
### Description
This is a theory as we had reports in the upgrade from 0.19 -> 0.20 that 'open' windows and tabs were not persisted. Once the upgrade is complete, users experience working window / tab perisistence again - that is once on 0.20, any tabs and windows opened will still be opened upon restarting the same version. There are many state differences between 0.19 and 0.20 causing many 'upgr

[2018-02-01 23:05] BrendanEich commented on #12984
From my slack items:

@petemill what you describe makes sense. unless perWindowState is put in a set-aside that startup looks for to catch unclean shutdown...

these bugs all amount to "mutate state destructively <crash in middle> lose data"

the fix is "save prev state or keep it safe in situ; put new state in separate location; atomic-swap name from old to new"

filesystem supports last step for

[2018-02-01 23:20] #12981 closed

[2018-02-01 23:23] kjozwiak opened #12985 "Release checklist for 0.20.x Hotfix 1 (Release Channel)"
# Release Process Checklist

Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

## Release Commands
### First-time Setup
- [x] `git clone git@github.com:brave/vault-updater && cd vault-updater`
- [x] `git clone git@github.com:brave/release-tools`
- [x] `npm install`
- [x] install the her

[2018-02-01 23:26] kjozwiak opened #12986 "Release notes for 0.20.x Hotfix 1 (Release Channel)"
Release Notes:
 - Tabs are not loading discarded, even when requested to. ([#12976](https://github.com/brave/browser-laptop/issues/12976))

[2018-02-02 00:07] #12982 closed

[2018-02-02 00:13] #12986 closed

[2018-02-02 00:17] arsalankhalid commented on #12770
Great, thanks for passing it over - will reach out :)

[2018-02-02 00:34] riastradh-brave opened #12989 "Support configuring Tor bridges"
We should (eventually) support letting users configure Tor bridges for connection to the Tor network.

[2018-02-02 00:38] flamsmark opened #12990 "urlbar UI for onion sites"
We shouldn't show an angry red open padlock for HTTP onion sites. It should probably either be a grey padlock or no padlock for all onion sites.

[2018-02-02 01:11] jonathansampson commented on #12574
With _fingerprinting protection_ on in 0.20.29 and 0.20.30, the login form doesn't render on chase.com.

[2018-02-02 01:40] justsee opened #12991 "Brave update on Mac OS X fails silently with non-admin user"
### Description

Attempting to do an in-browser update of Brave on Mac OS X Sierra / High Sierra with a non-admin user account appears to fail silently, rather than prompting with an admin authentication request to update the app.

### Steps to Reproduce

  1. Install Brave-0.20.29.dmg on a user account that is not an admin account
  2. Open Brave and check for updates to trigger the in-browser al

[2018-02-02 02:41] fermulator commented on #6604
@darkdh , @bsclifton

I don't think I'd like to sit on this too much longer (anxious to move forward).

I may be able to provide a fix, but need a "kick start" for how to debug this. Would anyone on your team be available to have a short session with me (or add comments here) as to some reasonable next steps to:
 A) provide more debug/isolation for root cause
 B) solution a fix in the code

[2018-02-02 03:49] srirambv commented on #12983
There is a zoom indicator on the kabob(hamburger) menu.
![image](https://user-images.githubusercontent.com/17010094/35715706-2b4a9a72-07fa-11e8-9fa0-152b8a814d25.png)

[2018-02-02 03:57] #12969 closed

[2018-02-02 05:18] jonathansampson opened #12992 "PDFs don't display on foia.state.gov"
### Description
In Chrome and Firefox, PDFs open in a lightbox. In Brave, they prompt a download window.

### Steps to Reproduce
1. Navigate to https://foia.state.gov/search/results.aspx?publishedBeginDate=20180201&publishedEndDate=20180201
2. Click one of the subject titles

**Actual result:**
A download window is presented.

**Expected result:**
The PDF is displayed in a lightbox.

**Reproduces

[2018-02-02 07:53] gert7 commented on #12956
+1 for the Estonian keyboard. version 0.20.30

[2018-02-02 08:18] srirambv commented on #6156
+1 from community
https://community.brave.com/t/back-arrow-often-not-available-within-tab/15264/3

[2018-02-02 08:18] srirambv commented on #12956
+1 from https://community.brave.com/t/brave-its-complete-unusable-now-slow-laggy-and-more/15278/2

[2018-02-02 09:50] hugobuddel commented on #12753
Latest update to 0.20.30 seems to have fixed this indeed. Thanks

[2018-02-02 10:24] pongraczi commented on #12975
For me, when I open a new tab and start typing the url, brave gets unresponsible for long time (10+ seconds) and produce high cpu usage. Probably related.
This is after upgrading to the new version. Details below.

Here you can see it in action:

![slow](https://user-images.githubusercontent.com/5891983/35728303-733a4b5a-080b-11e8-9455-063c83c24138.gif)

Brave: 0.20.29
V8: 6.4.388.40
rev: 4fc3c8ff

[2018-02-02 10:28] srirambv commented on #7521
+1 from https://community.brave.com/t/hover-block-ads/15282/2

[2018-02-02 10:29] srirambv commented on #12956
+1 from https://community.brave.com/t/trying-to-do-a-on-a-swedish-language-keyboard-does-not-work-it-opens-tab/15279

[2018-02-02 10:31] srirambv commented on #12975
Could you try upgrading to the latest version 0.20.30 and see if this is fixed for you

[2018-02-02 10:37] srirambv opened #12993 "Virtual keypad not shown when opening citibank login in PB"
### Description
Virtual keypad not shown when opening citibank login

### Steps to Reproduce
  1. Open a new Private tab
  2. Visit citibank.com and login
  3. Enter user name, check the use virtual keyboard for password
  4. Virtual keyboard doesn't work

**Actual result:**
Virtual keypad not shown when opening citibank login

**Expected result:**
Should be able to use virtual keyboard to login

[2018-02-02 12:18] srirambv commented on #12985
Closing as the release is out

[2018-02-02 12:18] #12985 closed

[2018-02-02 12:25] pongraczi commented on #12975
It seems, my problem solved by the latest version. Thanks!

Brave: 0.20.30
V8: 6.4.388.40
rev: 8b78402e7b3b91d44d8146cbe4dc8013592c33fd
Muon: 4.7.9
OS Release: 4.13.0-32-generic
Update Channel: Release
OS Architecture: x64
OS Platform: Linux
Node.js: 7.9.0
Brave Sync: v1.4.2
libchromiumcontent: 64.0.3282.119

[2018-02-02 14:12] echosa opened #12994 "Sites automatically included in Brave Payments even when auto-include is turned off"
### Description
In my Brave Payments settings, I have auto-include turned off. However, sites that I visit keep getting added to Payments as enabled/included instead of being added to the list as disabled/not included.

### Steps to Reproduce
  1. Turn on Brave Payments.
  2. Turn off auto-include.
  3. Visit sites not already in the Payments list.

**Actual result:**
The visited sites are added t

[2018-02-02 14:45] LaurenWags commented on #10764
+1 from community: https://community.brave.com/t/closing-multiple-tabs/6982/3

[2018-02-02 15:53] andrewbihl commented on #12646
Appears to have been fixed on my end. Will close the issue.

[2018-02-02 15:53] #12646 closed

[2018-02-02 15:57] Kickimanjaro commented on #12959
Have same issue as described by others here, also cannot share the proxy config (for same reasons). Wanted to mention that items in the proxy bypass list work, but anything that requires traversing the proxy returns "An SSL protocol error has occurred." I note that this is a different message than the timeout shared here but I feel these are related.

I agree with @derekhillhp, this update should

[2018-02-02 16:21] JFrankfurt opened #12995 "Pinned tabs occasionally duplicate when Brave is opened."
### Description
I will occasionally (70% of the time) open brave and see that any tabs I've pinned have been duplicated. Tab growth is exponential. Help.

### Steps to Reproduce
  1. pin a tab(s)
  2. close brave
  3. open it again later and see multiples of the pinned tab(s)

https://photos.app.goo.gl/hABPrbtNy5RDZcWb2

### Brave Version
0.20.30

[2018-02-02 16:28] diracdeltas commented on #8983
Closing this in favor of #1185 and other specific issues related to Tor implementation, now that we have a roadmap for Tor private tabs

[2018-02-02 16:28] #8983 closed

[2018-02-02 16:30] kjozwiak commented on #12985
Thanks @srirambv! I was waiting for @bbondy to release Linux and forgot to close it last night.

[2018-02-02 17:02] higwisco commented on #6105
Brave will not open on my computer since last update. Running Windows 10 home version
I uninstalled and reinstalled and it opened automatically, but when I closed the window it will not re-open.

[2018-02-02 17:21] derekhillhp commented on #12959
Just adding more data here. Last nights release 0.20.30 did not fix this. I had also checked the milestones and it doesn't appear that this bug has even been assigned to any of the .0.20 planned hotfixes.

I am adding a couple of screen shots to hopefully make this clear that the 0.20 release broke the proxy integration with the windows system proxy settings. I have tried this with the standard au

[2018-02-02 17:26] comodoro opened #12996 "Favicons are displayed without image"
After install and importing bookmarks from Chrome everything imported correctly, but favicons have been the generic grey sheets without image. This is on the bookmarks toolbar as well as the bookmarks menu.

Current Brave 0.20.30, Windows 10.

![image](https://user-images.githubusercontent.com/925466/35745886-1b5985c4-0845-11e8-8712-f3bdb7d3ea93.png)

[2018-02-02 17:29] beenotung commented on #12169
This time it's showing javascript code.
Seems to be the same code when I press 'Ctrl + N' or tear off tabs
![1](https://user-images.githubusercontent.com/6007292/35746357-7d4db49e-0881-11e8-8928-113d2b8167bf.png)

Name | Version
-- | --
0 | Brave0.19.134
1 | rev316cfa522ffe6a558fe9f2f3f299c0c602dfb691
2 | Muon4.5.38
3 | libchromiumcontent63.0.3239.132
4 | V86.3.292.49
5 | Node.js7.9.0
6 | Update C

[2018-02-02 18:01] diracdeltas opened #12997 "implement Tor 'new identity' button (or menu item)"
Functionality: clears storage partition for a site and creates a new Tor circuit for it

[2018-02-02 18:18] rubyisbeautiful commented on #12959
This definitely also broke proxy on Mac OSX 10.12.6.  I use a pac file for proxy config at system level.  Brave's proxy usage was always weird, as it was the only browser ever (re-)asking for the proxy credentials, but I digress.  The .20.x updates broke it.  I confirm that re-installing the .19.x releases makes it work again.

[2018-02-02 18:49] Liunkae commented on #12991
Looks like a duplicate of #10100

[2018-02-02 18:51] Liunkae commented on #12628
May be fixed by #11906 in 0.21.0, but I have not tested yet.

[2018-02-02 18:52] Liunkae commented on #10924
May be fixed by #11906 in 0.21.0, but I have not tested yet.

[2018-02-02 18:56] Liunkae commented on #12983
@andreanidouglas Do you mean a zoom indicator in the url bar, like Firefox does when the zoom level is not 100%:
![](https://user-images.githubusercontent.com/19424103/35749783-5b0f35ec-0818-11e8-8ccc-a4d4eaaaba0f.png)

[2018-02-02 18:58] Liunkae commented on #6089
Still reproducible with Brave 0.20.30 on macOS 10.13.x.

[2018-02-02 19:00] Liunkae commented on #9334
Still reproducible with Brave 0.20.30 on macOS 10.13.x.

[2018-02-02 19:05] Liunkae commented on #518
Support for U2F keys is currently set for the next scheduled release, 0.20.x Hotfix 2. (PR #10530)

[2018-02-02 19:13] hugobuddel commented on #12995
Yup, this is happening again after upgrading to 0.20.x. Duplicate of #10179 ?

[2018-02-02 19:16] J-Reis commented on #12992
**Can confirm. Same behavior when interacting with media links in Dokuwiki. Firefox-ESR & Chrome both open the pdf in browser.**
### System
Debian Stable (9.3)
Brave installed via:
	`deb [arch=amd64] https://s3-us-west-2.amazonaws.com/brave-apt jessie main`
### Steps to Reproduce
+ Navigate to: https://staravian.org/docs/doku.php
+ click on P&P or Bylaws links
### Actual result:
Brave offers to do

[2018-02-02 19:20] riastradh-brave commented on #12934
This issue is for _executing_ Tor as a subprocess, however we distribute it.  Will follow up about how it should be distributed in https://github.com/brave/browser-laptop/issues/12932.

[2018-02-02 19:22] hugobuddel commented on #12995
Sometimes Brave goes in some sort of crash loop when I remove one of the duplicate tabs:

[code]

[2018-02-02 19:30] riastradh-brave commented on #12932
The main cost here is a ~2.5 MB executable, judging by the Ubuntu package for tor.  We could do one of two main approaches:

1. Unconditionally bundle a tor executable with Brave.
   - Pros: Simpler to implement and manage, private browsing with Tor will work instantaneously out of the box, makes it easy to decide to turn on Tor for various other services (https://github.com/brave/browser-laptop/i

[2018-02-02 19:30] hugobuddel commented on #12995
Luckily I cannot get the tabs to exponentiate. It is my pinboard tab that keeps reappearing in duplicate form. It doesn't matter whether I delete one of them or both, they both reappear after opening a few new windows.

I sometimes wonder whether the developers actually use Brave day to day, because every new version has its own weird problems. But you must update because otherwise the old problem

[2018-02-02 20:06] andreanidouglas commented on #12983
it's not related to the web renderer itself, but the UI. on Windows if you hold ctrl and scroll over (let's say the refresh button) the interface, it will change the GUI elements zoom level.

https://imgur.com/a/XGvh7

[2018-02-02 20:06] JFrankfurt commented on #12995
Oh I'm sure they do. I (and everyone) accidentally introduce bugs into my work when fixing things literally every day.

Now that I've been using the current version for a few hours I'm seeing something more in line with what you described. It looks like there's a mismatch between the gui and whatever internal system is managing tab state. The gui thinks some are there, the internal system thinks t

[2018-02-02 20:18] eljuno commented on #12956
+1 from community https://community.brave.com/t/alt-numbers-keyboard-shortcut-to-opening-tabs/15244?u=eljuno

+1 from community https://community.brave.com/t/when-i-type-the-with-alt-2/15314?u=eljuno

[2018-02-02 20:24] LaurenWags opened #12999 "LastPass unable to use 2FA with SMS code"
### Description
Reported via community: https://community.brave.com/t/lastpass-2-factor-auth-problem/10501 and twitter: https://twitter.com/PhilMoscovitch/status/958789159711277057

If you use LastPass with 2FA via SMS codes, the screen where you enter the code freezes in Brave.

### Steps to Reproduce

(via community)
  1. Click lastpass icon
  2. Enter email and password
  3. On next page send c

[2018-02-02 20:28] eljuno commented on #12941
+1 from community https://community.brave.com/t/thumbnails-except-twitter-are-gone-from-dashboard/15289?u=eljuno

[2018-02-02 20:34] eljuno commented on #11908
+1 from community https://community.brave.com/t/cmd-key-stops-working-after-changing-keyboard-layout-to-cyrrilic/15284?u=eljuno

[2018-02-02 20:43] eljuno commented on #9214
Added with #10363.

[2018-02-02 20:43] #9214 closed

[2018-02-02 20:46] eljuno commented on #12996
Duplicate of #11203?

[2018-02-02 20:59] LaurenWags commented on #10100
+1 from community: https://community.brave.com/t/hello-a-brave-update-was-just-released-requires-a-quick-relaunch/14746

[2018-02-02 21:11] eljuno opened #13000 "Brave Shows Different Shortcuts for New Session Tab"
### Description
Brave shows different shortcuts for creating session tabs.  The shortcut previously added in #10363. See screenshot :)

### Steps to Reproduce

  1. Right click `+` button on tabs bar > New Session Tab
  2. Shortcuts shows `Ctrl+1` etc. for session tab. This shortcuts used for navigating between tabs.
  3. Open `File` menu (press `alt` if menu hidden) > New Session Tab
  4. Shortcu

[2018-02-02 21:13] diracdeltas commented on #12935
Agree that shipping our own Tor binary and using that exclusively seems like the safest route. Like Tor Browser, we can ship our own torrc file used by our Tor binary, and advanced users can edit that file if they want to.

[2018-02-02 21:17] diracdeltas commented on #12933
I think if we ship Tor with Brave, we should tie Tor updates to Brave updates for now. Tor updates are less frequent than Brave updates and it's not too much effort to ship a Brave hotfix for a Tor update if it is seriously needed.

[2018-02-02 21:53] eljuno opened #13001 "Suggestion: Add option to mute notification sounds"
### Description
Already search existing issue, maybe I missed one.

Requested on Reddit https://www.reddit.com/r/BATProject/comments/7us6ma/mute_desktop_notifications/

### Steps to Reproduce

  1. Visit https://www.bennish.net/web-notifications.html > click Show > Allow
  2. Notification appears with sounds
  3.

**Actual result:**
Brave show notification with sounds

**Expected result:**
Brave s

[2018-02-02 22:01] HamishMacEwan commented on #7240
Thanks @Liunkae.  It is better, still not good but much better.

Any plans to:

1. Allow folder creation in the bookmark add dialogue
2. Expand/Collapse folders in bookmark viewing

These requirements, like the performance issue, all relate to heavy bookmarking and categorising uses.

[2018-02-02 22:49] eljuno commented on #12612
+1 from Twitter https://twitter.com/MirkoJankovic/status/959212217190281216

[2018-02-03 01:08] arjenbokhoven commented on #12975
For me, this issue happened actually after upgrading to the latest version.

Brave | 0.20.30
V8 | 6.4.388.40
rev | 8b78402
Muon | 4.7.9
OS Release | 16.7.0
Update Channel | Release
OS Architecture | x64
OS Platform | macOS
Node.js | 7.9.0
Brave Sync | v1.4.2
libchromiumcontent | 64.0.3282.119

[2018-02-03 02:35] darkdh commented on #6604
@fermulator does it happen only import bookmark?
can you help me to narrow down which data imported cause this crash?
(choose only one thing to import from history, bookmark, cookies or save password each time you import from firefox)

[2018-02-03 03:22] esmail commented on #12976
Thanks for fixing. Just want to point out that this was especially painful for us tab hoarders, since #2702 meant that any tabs that didn't end up loading successfully were effectively lost for good after quitting.

[2018-02-03 04:19] darkdh commented on #12975
If someone suffer from this issue can send the session file to us, that would be really helpful for us to fix it quickly.

session file might contains private data like `browsing history`, `bookmark`, opening `tabs` and `windows`...etc
Make sure you clear those data before sending.
The data in session file specified in https://github.com/brave/browser-laptop/blob/e7f7c8283e644eb747ba0a8099c57160ca

[2018-02-03 06:45] comodoro commented on #12996
Definitely not, this is the one I have looked at. In #11203 favicons are
not displayed at all, while I have them as the grey generic images. Might
be related to #7133 though.

Dne 2. 2. 2018 9:47 odpoledne napsal uživatel "Eljuno Kasih" <
notifications@github.com>:

Duplicate of #11203 <https://github.com/brave/browser-laptop/issues/11203>?

—
You are receiving this because you authored the thread

[2018-02-03 09:19] capouch commented on #12975
I can confirm issue is still there in 0.20.30.  I just sent a session file to the above address.

Linux Slackware running as a VM under Virtualbox, specifics upon request if needed . . .

[2018-02-03 10:02] Jacalz opened #13003 "Add required prerequisites for building Brave on Solus"
Add the required steps to the readme on what prerequisites you need for building Brave under Solus.

[2018-02-03 10:35] capouch commented on #12975
Update: I will test more later, but I was astounded after I exited the browser "for the day," forgot something and launched again, and now the matcher in the search bar appears to be working just fine!!

[2018-02-03 10:38] Jacalz opened #13005 "Impossible to type in text fields when building Brave from source on Solus"
### Description
Currently when building Brave from source there is an issue where it is impossible to type or edit any text in text fields and the url bar.

### Steps to Reproduce

  1. Install Solus
  2. install Git and node.js from software center
  3. Run this command: ```` sudo eopkg install -c system.devel ````
  4. Then clone the repo, do npm install, npm run watch and npm start as usual.

*

[2018-02-03 10:40] Jacalz commented on #13005
Blocks #13004

[2018-02-03 11:15] capouch commented on #12975
Is it possible this only hits on the first time you're upgrading from 19?

[2018-02-03 11:54] hasufell commented on #12937
I noticed this during build, I'm not sure if that is related:

[code]

[2018-02-03 16:45] jonathansampson opened #13006 "Switch Control Animations in Brave Payments"
### Description
Switch Control animations aren't displayed properly within the Brave Payments interface.

### Steps to Reproduce
_With many properties included in Brave Payments_
1. Click the _include_ control next to an item

**Actual result:**
List is sorted before the include animation is played.

**Expected result:**
List is resorted after the include animation is played.

**Reproduces how oft

[2018-02-03 17:02] riuytro commented on #8749
I deal with this everyday.  I just restart the browser every time.  How has this still not been fixed.  Please provide options to make rules on when tabs can load or unload, maybe even unload on command.

[2018-02-03 17:10] bdukes opened #13007 "Cannot type into iframe with Strict Site Isolation"
### Description
With strict site isolation turned on, keyboard input doesn't have any effect on content inside an iframe.

### Steps to Reproduce
  1. Turn on strict site isolation
  2. Navigate to http://www.brianthicks.com/state-of-elm/2018/
  3. Attempt to type (e.g. press enter, or the letter of one of the options on the form)

**Actual result:**
The form does not respond to the input

**Expec

[2018-02-03 17:16] bdukes commented on #13007
### Brave Version (Windows)

**about:brave info:**
Brave: 0.20.30
V8: 6.4.388.40
rev: 8b78402e7b3b91d44d8146cbe4dc8013592c33fd
Muon: 4.7.9
OS Release: 10.0.16299
Update Channel: Release
OS Architecture: x64
OS Platform: Microsoft Windows
Node.js: 7.9.0
Brave Sync: v1.4.2
libchromiumcontent: 64.0.3282.119

[2018-02-03 19:41] luixxiul commented on #12169
Is it same on 0.20.x?

[2018-02-03 20:28] BrendanEich commented on #13006
Does anyone know what regressed this?

[2018-02-03 20:37] broros commented on #12764
this is happening on magic mouse ( macOS), there is no mouse wheel.
It happens most of the time when I try to control + click

also this feature is not present on safari, so why have it on brave?

[2018-02-03 20:54] NejcZdovc commented on #13006
this didn't regressed as far as I know, code was not changed in that regards. One thing that did change in 0.20 is toggle, where we change it to Aphrodite and refactor it. That's why cursor is gone as well. But this is not limited to ledger table but to all switches.

[2018-02-03 21:28] onmyouji commented on #12975
It seems that's the case, I can't reproduce the problem after restarting the browser. It only happened the first time after upgrading.

[2018-02-03 21:42] iFuzz opened #13008 "Closed"

[2018-02-03 21:48] eiyey commented on #12956
+1 from Spanish (Spain) keyboard.

Brave: 0.20.30
V8: 6.4.388.40
rev: 8b78402e7b3b91d44d8146cbe4dc8013592c33fd
Muon: 4.7.9
OS Release: 6.3.9600
Update Channel: Release
OS Architecture: x64
OS Platform: Microsoft Windows
Node.js: 7.9.0
Brave Sync: v1.4.2
libchromiumcontent: 64.0.3282.119

[2018-02-03 21:57] #13008 closed

[2018-02-03 22:04] eiyey opened #13009 "Add back/forward gesture touchpad and shortcut trouble"
Hi!

It would be so nice to be able to scroll horizontally with the touchpad with two or three fingers so you can go back/forward in history. I find it really useful as it reduces the time for doing the same thing. Also, I see that the shortcut for doing this is Alt + [ or Alt + ]  , the thing is that in Spanish (Spain) keyboard for accessing the key [ or ] is by Altgr + ` or Altgr + +, so it does

[2018-02-04 00:01] Liunkae commented on #12983
The UI scale is supposed to be changed via `Settings > Advanced > Toolbar and UI elements scale`:
![](https://user-images.githubusercontent.com/19424103/35773011-0f21faa8-090c-11e8-98b6-20b1b3f27bad.png)

The behavior you are describing sounds like a bug. The UI scale shouldn't change when you Ctrl+Scroll.

[2018-02-04 00:03] andreanidouglas commented on #12983
just to complement, the behaviour is the same on my linux desktop on version 0.19.123

my windows pc is at: 0.20.30

[2018-02-04 00:07] Liunkae commented on #7240
@HamishMacEwan There are plans for both of those features. See issues #8346 and #5077.

[2018-02-04 00:10] Liunkae commented on #13000
Looks fine on macOS. May be Windows-only.

![](https://user-images.githubusercontent.com/19424103/35773069-6a2da82e-090d-11e8-9105-f2ce197af33d.png)

[2018-02-04 00:15] Liunkae commented on #13001
Is there already a system setting for this on Windows? I know macOS has a setting (`System Preferences > Notifications > Play sound for notifications`):
![](https://user-images.githubusercontent.com/19424103/35773101-2af5e008-090e-11e8-9aa0-c3be52715a29.png)

[2018-02-04 00:18] Liunkae commented on #13001
Looks like Windows 10 has a setting: https://www.howtogeek.com/219703/how-to-disable-notification-sounds-in-windows-10/

[2018-02-04 03:39] HamishMacEwan commented on #7240
Thank you.  I have subscribed to both those issues in hope of learning they're available asap.

[2018-02-04 04:45] srirambv commented on #12983
This sounds like the issue logged here https://github.com/brave/browser-laptop/issues/12764. That is a known bug Ctrl+Scroll causes either Zoom in/out. @andreanidouglas could you confirm this is exactly what you see?

[2018-02-04 04:50] srirambv commented on #13000
I think that shortcut should be <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>Number</kbd>.

Also <kbd>Ctrl</kbd>+<kbd>Number</kbd> just switches the tab 1-9 and not create a session tab.

[2018-02-04 07:08] Razorswiftz commented on #7388
+1

Windows 7, latest brave version. Right click "copy image address" works and copying text works but not "copy image" instead it shows the last thing on the clipboard.
I can copy images fine from other browsers.

[2018-02-04 11:13] Jacalz commented on #517
The thing is that it would be better to have an open sourced reader mode integrated in to the browser than having a closed source reader mode extension. Mercury reader is good but since Brave is a browser that cares about privacy, maby it should have mozilla readability instead 👍

[2018-02-04 12:54] ocramc commented on #10767
Still present in 0.20.30, release channel

[2018-02-04 15:42] arsalankhalid commented on #12770
@NejcZdovc hard to re-create this, what are your thoughts?

![image](https://user-images.githubusercontent.com/5307218/35779255-fabe2b7c-0997-11e8-9a92-11b413c30a3c.png)

Is this fixed/non-existent, or an edge case based on specific messages the user received, just as the million dollar give away example, how can I re-create that?

[2018-02-04 16:06] andreanidouglas commented on #12983
@srirambv,
It does not look related to me. those two appears to refer to the ability to zoom the page content and
issues with the Mac Magic mouse.

[2018-02-04 16:19] arsalankhalid commented on #10752
Pretty sure this issue should be closed now, no?

[2018-02-04 16:26] NumDeP commented on #12928
+1

[2018-02-04 16:32] NejcZdovc commented on #12770
@arsalankhalid try starting your run with `LEDGER_ENVIRONMENT=staging npm run start` (don't forget to clean profile). We still have some promotions on our staging servers. Please while you are working on this one just claim one promotion and then don't click `OK` or `X` until you are done. This way you will not run out of promotions.

[2018-02-04 16:33] NejcZdovc commented on #10752
It will be closed when we merge #12750, but we need to wait until correct milestone is up before merging

[2018-02-04 17:44] NumDeP commented on #12933
I'm sorry but I have to agree with @flamsmark 's second suggestion as I think this would be regarded as unnecessary for users that won't use the feature at all or not very often.

Personally, I think it should work similarly to the toggle functionality in Payments with a couple of additional security requisites. Firstly, it should push updates in the same secure manner in which the Tor browser coh

[2018-02-04 19:48] NumDeP commented on #6094
@flamsmark don't you think it's a good idea to stick a feature/tor label on this issue and to additionally display something similar to the bottom inferences:

- Open New Window
- New Amnesiac Window
- (TAB) Tor Amnesiac Browsing

It will probably defeat the purpose for some users to insecurely open a new window and then toggle TAB afterwards if there intention is to TAB.

[2018-02-04 20:01] eljuno commented on #12999
+1 from Twitter https://twitter.com/jchristiaanvos/status/960167295766188033

[2018-02-04 20:27] NumDeP commented on #879
I've only just noticed FF's built-in feature at the top right hand corner where you can view tabs in a list quite neatly actually, this was probably in relation to disabling Tab Center though it's still offered as Tab Center Redux in the Add-On store.
Perhaps you can consider this as an option so most of the window space isn't removed.

![screenshot_2018-01-30_17-14-17](https://user-images.githubu

[2018-02-04 21:24] NumDeP commented on #12922
@flamsmark I like you amnesiac suggestion more and if you do go with amnesiac it should retain the same functionality as private/incognito essentially separate to Tor.

I encourage this option more so because a significant number of users in community.brave.com have suggested many extension based encrypted VPNs /otherwise SPDY VPNs and it seems logical that many users would always automatically co

[2018-02-04 22:38] NumDeP commented on #12966
Do you intend to keep a separate header in about:preferences because it could arguably be better to maintain everything separately if information is kept online.

It would also be pretty unique if you could allow a setting whereby the current Brave icon can act as a discreet Tor button which turns purple or green and purple after a prolong click to recognize which tabs are under Tor and which are

[2018-02-04 22:58] NumDeP commented on #1185
I can remember the advertisements for @flamsmark for incognito/private and indicated that those that wanted to purchase something discreetly for a spouse quite quickly without anybody finding out should use that feature. I mention this because I'm certain it was strictly recommended that users never should use the Tor network to input banking information, making private/amnesiac tabs default to To

[2018-02-04 23:30] sarahthomson commented on #11662
I am having the same issue as @samelawrence. Disabled shields and still cannot login. Was able to log in fine until a few days ago when I believe I updated to latest release (0.20.30).

[2018-02-04 23:33] NumDeP commented on #2185
I've only just noticed FF's built-in feature at the top right hand corner where you can view tabs in a list quite neatly actually, this was probably in relation to disabling Tab Center though it's still offered as Tab Center Redux in the Add-On store.
Perhaps you can take a couple of notes from this as well so most of the window space isn't removed.

![screenshot](https://user-images.githubusercon

[2018-02-05 03:34] Liunkae commented on #10105
PR: #13010

[2018-02-05 04:11] mstein66 commented on #3752
Is there a way to add websites to allow pop-ups as my bank requires this and this post and all other posts that refer to this one (3752) by bsclifton doesn't provide any solutions?

[2018-02-05 04:17] Liunkae opened #13011 "Extended validation certificate info text should be clickable"
(After the implementation of #791 in PR #11776, set for 0.21.x)

Right now, clicking the lock icon shows more information about the TLS certificate. The extended validation info text (if shown) should also be clickable.

Other major browsers: The EV info text is clickable in Firefox but not in Safari. Not sure about Chrome and Edge.

For example, in this screenshot, the `GitHub, Inc. [US]` text sh

[2018-02-05 08:14] aliakyurek opened #13012 "Chrome 64 mentioned in one of developer tool tabs"
![image](https://user-images.githubusercontent.com/5635699/35794261-247ebbba-0a66-11e8-809c-7c9e03f5af4b.png)

[2018-02-05 08:18] #13012 closed

[2018-02-05 08:18] aliakyurek commented on #13012
Duplicate

[2018-02-05 08:19] aliakyurek commented on #9125
It's getting bigger and bigger
![image](https://user-images.githubusercontent.com/5635699/35794343-6fe4c72a-0a66-11e8-81a4-3fa73bc1387e.png)

[2018-02-05 09:32] NejcZdovc commented on #12788
What we need to do here for now is to add API that was provided into jenkins build. We should consume it the same was as we do `CHANNEL`

[2018-02-05 09:58] NejcZdovc commented on #13006
To properly address this issue we need to remove our custom sort table component (or fix performance problems) and add some perf optimized component in

[2018-02-05 10:33] pongraczi commented on #12975
From my side, it happened at the first time running after upgrading 19->20.

[2018-02-05 11:22] hugobuddel opened #13013 "Downloading latest (0.20.30) linux binary gives 404"
Could not find a similar issue.

### Description
It is not possible to download the latest (0.20.30) Brave binaries for Linux.

### Steps to Reproduce
  1. Go to https://brave.com/
  2. Click download button and go to https://github.com/brave/browser-laptop/blob/master/docs/linuxInstall.md
  3. Scroll to "Raw x64 binaries" and follow instructions
  4. `wget -v https://laptop-updates.brave.com/late

[2018-02-05 11:33] hugobuddel opened #13014 "Crash when switching between menu items on Linux"
Perhaps similar: https://github.com/brave/browser-laptop/issues/4061

### Description
Moving around between menus crashes brave.

### Steps to Reproduce
  1. Click on e.g. the 'Window'-menu
  2. Move the mouse to e.g. the 'Shields'-menu and 'Bookmarks'-menu

**Actual result:**
Brave segfaults. In fact, entire window manager (gnome shell) hangs. Needed to run 'xkill' to get the WM to respond again,

[2018-02-05 11:36] hugobuddel commented on #12458
Alt-F (or just Alt) does not open the menu either on 0.19.134 in Linux either.

[2018-02-05 11:50] hugobuddel commented on #13014
Also happens in 0.20.30. It is still possible to use the menu though, by ensuring you close the open menu before opening the next one.

Brave: 0.20.30
V8: 6.4.388.40
rev: 8b78402e7b3b91d44d8146cbe4dc8013592c33fd
Muon: 4.7.9
OS Release: 3.10.0-693.11.6.el7.x86_64
Update Channel: Release
OS Architecture: x64
OS Platform: Linux
Node.js: 7.9.0
Brave Sync: v1.4.2
libchromiumcontent: 64.0.3282.119

[2018-02-05 12:30] NejcZdovc commented on #12512
Did you changed your limits (min visit time/min visit count) in advance settings?

[2018-02-05 12:35] LethalManBoob opened #13016 "Ever 30 minutes or under the browser will run at 3 fps for no reason."
Zilch. Nada. Nothing in my task manager nor deleting all the caches and history's in the world fixes it.

Didnt happen until before the "major optimization" update

[2018-02-05 12:50] srirambv commented on #13016
Could you provide more info on this.

[2018-02-05 13:05] NejcZdovc commented on #12994
tried to reproduce it, but sadly without success

[2018-02-05 13:21] dolebas opened #13017 "Can't Open Link in New Tab"
### Description

On several occasions over the past week "Open Link in New Tab" simply fails. No links in the current tab can be opened in a new tab.

Copying the link and pasting it to a new tab works. Cloning the current tab and opening the link in another new tabs works as well.

### Steps to Reproduce

Browse randomly with multiple tabs over a period of time.

**Reproduces how often:**

The is

[2018-02-05 13:23] vinicentus commented on #13000
Notice that if this #13015 passes, we will need to change thees again.

[2018-02-05 14:02] arsalankhalid commented on #12770
Great thanks, let me give that a shot.

[2018-02-05 14:09] srirambv commented on #12959
+1 on macOS from https://community.brave.com/t/brave-0-20-30-not-picking-up-system-proxy-settings/15474/2

[2018-02-05 14:28] luixxiul commented on #6105
mind checking on Task Manager if there are processes left?

[2018-02-05 14:35] jgmio commented on #5499
Same issue as described above

[2018-02-05 14:37] luixxiul commented on #12955
Thanks for your report. I'm going to close this one in favor of https://github.com/brave/browser-laptop/issues/7669 (Show Certificate detail on padlock and devtools on linux), which is a follow-up of #7319.

[2018-02-05 14:37] #12955 closed

[2018-02-05 14:37] luixxiul commented on #7669
+1 from https://github.com/brave/browser-laptop/issues/12955

[2018-02-05 14:46] luixxiul commented on #9975
Just in case did you switch settings on the preference page to display favicons? They are not displayed by default.

[2018-02-05 14:49] luixxiul commented on #12805
Did you try disabling the shield?

[2018-02-05 14:56] aekeus commented on #13013
This is the likely cause of the issue:
https://github.com/brave/browser-laptop/blob/master/tools/buildInstaller.js#L46

[2018-02-05 15:14] luixxiul commented on #12937
would you mind trying `rm -rf ~/.electron && rm -rf node_modules` before `npm install`?

[2018-02-05 15:22] LaurenWags opened #13021 "'Notify me about token promotions' switch doesn't work if you've already said 'Maybe Later'"
### Description
If you are prompted for a promotion and you select 'Maybe Later', the remindTimestamp is set to remind you 24h later. If you then go into Adv Settings and toggle 'Notify me about token promotions' off, you will still be reminded 24h later.

### Steps to Reproduce

  1. Clean install of 0.20 using ledger_environment=staging.
  2. Get notification.
  3. Select Maybe Later.
  4. Go to

[2018-02-05 15:26] echosa commented on #12994
The most recent for me:

https://3v4l.org/
https://send-email.org/
https://slashdot.org/

I think there's more going on, though. For instance, Slashdot was a site that I specifically tested around the time I submitted this PR. However, when I went to Slashdot (for the first time in Brave) then checked the Payments settings, it was *not* enabled but was in the list. Today, when I went to check in o

[2018-02-05 15:28] LaurenWags opened #13022 "sometimes unable to reorder pinned tabs"
### Description
Reported via twitter: https://twitter.com/dfwdraco76/status/960210761414074374

Sometimes after using Brave for a period of time, pinned tabs will not allow them selves to be reordered.

### Steps to Reproduce

  1. Have some pinned tabs. (user reported only using one window at the time)
  2. Use Brave for some time.
  3. Attempt to reorder pinned tabs.

**Actual result:**
Sometime

[2018-02-05 15:28] hasufell commented on #12937
Doesn't help.

[2018-02-05 15:29] luixxiul commented on #12782
CC @posix4e

[2018-02-05 15:39] srirambv opened #13023 "Pinning a publisher causes excluded publisher to momentarily turn on and off"
### Description
Pinning a publisher causes excluded publisher to momentarily turn on and off

### Steps to Reproduce
  1. Enable payments and visit some sites to add it to ledger table
  2. Exclude a few publishers if not already excluded
  3. Pin other pubs, excluded pub quickly toggles the excluded switch

**Actual result:**
![pinpubs](https://user-images.githubusercontent.com/17010094/35813052-

[2018-02-05 15:46] srirambv opened #13024 "Pinned and unpinned ledger values are not aligned properly"
### Description
Pinned and unpinned ledger values are not aligned properly

### Steps to Reproduce
  1. Visit few sites and populate ledger table
  2. Pin a few sites
  3. See the awkward alignment of % values

**Actual result:**
0.22.0
![image](https://user-images.githubusercontent.com/17010094/35813400-8b8e1fc8-0ab9-11e8-8601-bb656744a0ee.png)
0.20.30
![image](https://user-images.githubuserconte

[2018-02-05 15:50] srirambv commented on #12994
Repro'd on 0.20.30. Not sure if this qualifies as proper STR

Enable auto-include and visit few sites to add to ledger table
Once you have a decent list of sites, turn off `auto-include`
Restart browser and visit sites, 8/10 sites visited gets added to the list with include switch turned on

@echosa could you confirm if this is what you also did to see the publishers included with `auto-include` t

[2018-02-05 15:53] stshank commented on #12512
I've changed settings several times but for the last few months I haven't. It's currently set at auto-include, 8 seconds minimum page time, 1 visit for relevancy. I'm not sure if this problem is still happening, though. I think I did see a case but also I saw cases where it didn't. (Sorry I haven't tracked closely.)

[2018-02-05 16:11] petereit commented on #12959
Re-installing v0.20.27 resolves the Windows OS proxy issue for me, so it looks like whatever change that broke it started with the v0.20.29 release.

[2018-02-05 16:25] NumDeP commented on #1185
This isn't regarding the above question but I think it's sort of relative in that one other important note to highlight without coming across as vulgar is the excessive usage of the Tor functionality - meaning wouldn't it greatly slow down the network given that many may become accustomed to Tor in Brave and will continuously use it as a requisite, so how is Brave going to manage to counteract thi

[2018-02-05 16:34] echosa commented on #12994
@srirambv That sounds right to me, or at least close. Not sure if all the steps are necessary, like visiting sites with `auto-include` on first or restarting the browser. Either way, the end result seems correct: turn `auto-include` off, visiting new sites, they (eventually) show up as included when they shouldn't.

Also, what is "STR"?

[2018-02-05 16:43] DonaldTsang opened #13025 "Suggestion: stress test brave and firefox to have more than 30+ tabs on at the same time"
### Description
Can't open more than 10 tabs without the computer slowing down

### Steps to Reproduce

Laptops with less than 8GB of RAM

### Brave Version

### Additional Information

Firefox can do this with 50+ tabs without slow down.
Slow downs only happens after 80+ tabs, which is 8x the amount of brave

[2018-02-05 16:43] echosa opened #13026 "LastPass main icon not showing up in Brave address bar"
### Description
The LastPass icon (the "main menu") is not showing up in the address bar with LastPass enabled. See screenshot below. Form filling works; it's just the main menu that's missing.

### Steps to Reproduce
  1. Enable and setup/log into the LastPass extension.

**Actual result:**
No icon in the address bar. (See screenshot.)

**Expected result:**
The LastPass icon should be in the addr

[2018-02-05 16:44] srirambv commented on #12994
@echosa STR -> Steps to reproduce 😃

@NejcZdovc  does including sites in table before turning off `auto-include` makes a difference. I couldn't reproduce the issue when I disabled `auto-include` immediately after enabling payments.

[2018-02-05 16:46] DonaldTsang opened #13027 "Suggestion: having PassWordStore or KeePass as password manager by default"
# KeePass
chrome: https://chrome.google.com/webstore/detail/chromeipass/
firefox: https://addons.mozilla.org/en-US/firefox/addon/keefox/

# Password Store
chrome: https://chrome.google.com/webstore/detail/chrome-pass-zx2c4/
firefox: https://addons.mozilla.org/en-US/firefox/addon/passff/

[2018-02-05 16:47] #12784 closed

[2018-02-05 17:01] #12786 closed

[2018-02-05 17:02] Liunkae commented on #13011
Yeah, I'll close this one and leave a note there.

[2018-02-05 17:02] #13011 closed

[2018-02-05 17:03] Liunkae commented on #7888
The extended validation certificate info text should also be clickable (#13011).

[2018-02-05 17:18] kjozwiak commented on #12956
Thanks for bringing this up in Slack @srirambv! This should definitely get fixed ASAP as it's affecting a large % of the community as demonstrated by all the +1's above.

[2018-02-05 17:20] st333v opened #13028 "Idea: Write a script that will help automate the process of adding Chrome Extensions"
Could someone with the technical know how write a script that will help automate the process of adding Chrome Extensions.

Jonathan Sampson wrote a great article on how to get Chrome extensions running in Brave at
https://medium.com/@jonathansampson/testing-chrome-extensions-in-brave-8e25d1f7386d

I feel a great deal of the process which currently needs to be done manually could be automated,
For

[2018-02-05 17:29] #12787 closed

[2018-02-05 17:52] jonathansampson commented on #94
Calling `window.prompt('')` in Brave crashes the browser.

[2018-02-05 17:56] robiefish commented on #9975
Thanks for the suggestion Luixxiul, that's done the trick for me.

[2018-02-05 18:21] hugobuddel commented on #13014
Can also be reproduced on Ubuntu 16.04 using MATE. Just move around the menus a bit. Brave seems to crash when you move out of the menu.

Console output:

dmesg output (perhaps different crash):

Popup I got once (out of ~10 crashes):

![bravecrash](https://user-images.githubusercontent.com/1306453/35821531-8a007eea-0aa9-11e8-99ed-72bf375ac47a.png)

[2018-02-05 18:23] echosa opened #13029 "YouTube "Theater Mode" not remembered when Brave is closed"
### Description
When I watch videos on YouTube, I do so in "Theater mode". However, every time I close Brave and open it again, I have to turn "Theater mode" on again. It doesn't remember like Firefox does.

### Steps to Reproduce
  1. Open a YouTube video.
  2. Turn on Theater mode. (It's between "full screen" and "settings" on the right side of the video controls area.
  3. Close Brave and open

[2018-02-05 18:33] LethalManBoob commented on #13016
There's not much more to it. I run brave for about 20 minutes and then
suddenly it runs at 3fps. A reboot being required. Cpu does spike and stay
at 30% on my 6700k though. I reinstalled and haven't had the issue since.
But it could happen at any moment so i dunno. I tried turning on and off
the experimental security option but no change.

Anyway if it happens again i will rule out it being due to

[2018-02-05 18:34] LaurenWags opened #13030 "sometimes cookies aren't being saved"
### Description
Reported via community: https://community.brave.com/t/saving-cookies-doesnt-work-need-to-re-type-everything-to-login-to-places/15231 and Twitter: https://twitter.com/vladastojanovic/status/959483070670917632

A couple of users have reported that they are not staying logged into sites after close/reopen of Brave (Twitter, Facebook, etc). Confirmed that users aren't clearing any data

[2018-02-05 18:42] cezaraugusto commented on #12364
how this differs from current "reset sync" functionality?

<img width="741" alt="screen shot 2018-02-05 at 4 41 43 pm" src="https://user-images.githubusercontent.com/4672033/35822481-8d2cc6ac-0a93-11e8-9bbe-e3f4344005b3.png">

[2018-02-05 18:52] mitchcurtis commented on #9975
Thanks! Why is that disabled by default? :s

[2018-02-05 18:55] Jacalz commented on #12956
+1 from me using Swedish keyboard, really annoying

[2018-02-05 19:01] PayLeaseBrian commented on #12526
I experience in 0.20.30 as well.

Didn't realize it was specific to site isolation. May disable in short term.

[2018-02-05 19:04] hugobuddel commented on #12753
Reopening because not fixed. Perhaps my laptop didn't truly go to sleep the last time, or something like that.

[2018-02-05 19:12] NejcZdovc commented on #12364
@cezaraugusto I think this feature removes data from other devices as well, where reset removes it only from this device

[2018-02-05 20:57] marlon99rocks commented on #1943
its does not work when i disable shield

[2018-02-05 21:04] hugobuddel opened #13031 "the app icon for 0.20.30 is not displayed on Ubuntu 16.04"
Similar to #10803, which says to open new issues if the problem occurs.

### Description
The app icon for Brave 0.20.30 is not displayed on Ubuntu 16.04 using MATE in the alt-tab window or in the panel.

### Steps to Reproduce
  1. Start Brave
  2. Alt-tab
  3.

**Actual result:**
Brave icon not shown

**Expected result:**
Brave item shown

**Reproduces how often:**
100%

### Brave Version

Brave

[2018-02-05 21:55] petemill opened #13032 "mac pkg installer is not signed"
### Description
On top of the .app requiring signing by the 'Developer ID Application' Apple certificate, the pkg installer needs to be signed by the 'Developer ID Installer' Apple certificate. Both these certificates have the same private key file.

### Steps to Reproduce

  1. Download .pkg installer from releases page
  2. Run installer

**Actual result:**
  2. macOS should complains that the i

[2018-02-05 22:32] mijoflan commented on #3752
I'm with @mstein66 is there a solution anywhere?!?

[2018-02-05 22:33] mijoflan commented on #3752
@Sh1d0w is there a solution to this issue or am I missing something in the thread/s?

[2018-02-05 23:19] sophiataskova commented on #10100
Is this referring to the 0.20.30 update? I thought Brave had been updating fine until this version came along, but I might be misremembering.

[2018-02-05 23:49] #13032 closed

[2018-02-06 00:58] pleticha commented on #10100
I have never had it ‘update’ without manually downloading the new version and reinstalling.

with the latest 29.29 to 20.30 - when I clicked update - it did shut down Brave - but the new version was NOT download nor was anything installed

Mark

___________________________

[2018-02-06 02:29] Raindeer44 commented on #1185
Using Tor is inherently slower than using the Internet without it, simply due to the server hopping it necessarily performs. @NumDeP are you asking what Brave should do to address this slowdown, especially if it's used often?

[2018-02-06 02:52] Raindeer44 commented on #13029
YouTube uses a session cookie called 'wide' to track Theater Mode. The 'session' part of session cookie means the cookie is to be cleared as soon as the browser is closed, meaning this is a choice on the part of YouTube and Brave is behaving correctly.

Firefox is the odd browser out; they made a deliberate decision a long time ago (10+ years) to keep session cookies for the use of restoring tabs

[2018-02-06 03:14] srirambv commented on #13029
@Raindeer44 thanks for the explanation.

@echosa If you set `Allow all cookies` and not clear browsing history when browser is closed the setting remains set.

Going to close the issue and can continue the conversation. We can reopen the issue if required

[2018-02-06 03:14] #13029 closed

[2018-02-06 03:17] srirambv commented on #13027
Both extension requested here
https://github.com/brave/browser-laptop/projects/1#card-3549743
https://github.com/brave/browser-laptop/projects/1#card-972721

[2018-02-06 03:17] #13027 closed

[2018-02-06 03:21] srirambv commented on #1847
+1 from @eiyey via https://github.com/brave/browser-laptop/issues/13009 for back/forward gestures

[2018-02-06 03:22] srirambv commented on #13009
Added +1 on #1847.

[2018-02-06 03:22] #13009 closed

[2018-02-06 06:17] rejkube commented on #12959
where is the custom proxy options for the browser ? definitely windows version 0.20.29 or later is broken with proxy pac urls /auto detection

[2018-02-06 06:29] Liunkae commented on #9365
Seems fixed. I cannot reproduce with Brave 0.20.30 on macOS 10.13.x. This may have been fixed at the same time as #1364.

[2018-02-06 06:31] Liunkae commented on #9627
Seems fixed. I cannot reproduce with Brave 0.20.30 on macOS 10.13.x. This may have been fixed with 0.18.x/0.19.x (around the same time as #8554).

[2018-02-06 06:33] Liunkae commented on #2318
Seems fixed. I cannot reproduce with Brave 0.20.30 on macOS 10.13.x.

[2018-02-06 06:37] luixxiul commented on #9975
I don't think there is a reason for that but I'm afraid it could be enabled by default once after https://github.com/brave/browser-laptop/issues/2697 is fixed.

[2018-02-06 06:37] Liunkae commented on #10921
Seems fixed. I cannot reproduce with Brave 0.20.30 on macOS 10.13.x. This may have been fixed at the same time as #1364.

[2018-02-06 06:45] Liunkae commented on #9975
Related: #2972 (Mixing favicon only and favicon + text)

This issue is a request for mixing favicon only and text only.

[2018-02-06 07:03] Liunkae commented on #94
Warning: The `Try it` button in the example [above](https://github.com/brave/browser-laptop/issues/94#issuecomment-330757595) crashes the browser. Reproduced on Brave 0.20.30 on macOS 0.13.x.

[2018-02-06 07:34] NejcZdovc opened #13035 "Remove ledgerPinPercentage siteSetting"
### Description

`ledgerPinPercentage` is not needed anymore, so we can remove it to reduce complexity of the code

[2018-02-06 08:29] NejcZdovc commented on #13024
this was broken in 0.22 branch

[2018-02-06 08:34] NejcZdovc commented on #12788
@evq adde API key to the jenkins job so I am closing this one

[2018-02-06 08:34] #12788 closed

[2018-02-06 08:52] bjoernbusch commented on #3756
Any progress on this? I'd love to use this browser in my corporate environment, but unfortunately, the proxy settings aren't used by brave somehow. Not sure how to describe this in more detail, in Chrome it works with the system settings.

[2018-02-06 08:55] NejcZdovc commented on #12002
This is not a bug, we want to set it to 1%, because it was disabled so we don't know the real value that it has right now.

[2018-02-06 09:26] ElucGeek commented on #12956
+1 from Swiss keyboard and german keyboard. It's a nightmare as it make my password manager entering password in the URL field and send to search engine !

[2018-02-06 09:34] TheQuantumPhysicist opened #13037 "Store browser data on private servers"
I would like to provide a suggestion for the Brave browser, and I hope Github is the right place.

The sync option, while very important and many people need it, makes some people uncomfortable because their data is stored on your servers (albeit encrypted). How about allowing users to sync their data to their own place? Like to some SFTP/SSH directory, or similar protocols? Implementing that is n

[2018-02-06 10:19] vinicentus commented on #12956
The original problem lies here: #6915
A solution: #13015 Note that this would change the shortcut to `Control + Shift + [session number]` for Windows and `Command + Shift + [session number]` on Mac OS.

[2018-02-06 11:16] srirambv opened #13038 "Update ad-block dep to fix adblock quote name and update Swedish list"

[2018-02-06 13:25] petereit commented on #1877
The 0.20.30 version of Brave is broken on Windows for me because of the proxy issue. I have to reinstall v0.20.27 to be able to use it. Every time it auto-updates to v0.20.30 I have to go back and reinstall v0.20.27. So now I'm faced with two options: continually reinstall v0.20.27 or just stop using Brave entirely until the Windows proxy issue gets fixed.

I understand the desire to force auto-up

[2018-02-06 13:57] ocramc commented on #10066
It really feels like this should be more of a priority seeing as how the BAT is the unique selling point of the browser

[2018-02-06 14:39] LaurenWags commented on #12941
+1 from community: https://community.brave.com/t/add-home-screen-icons/15550

[2018-02-06 15:39] NejcZdovc commented on #12507
closing as muon PR was merged

[2018-02-06 15:39] #12507 closed

[2018-02-06 16:04] AAGZ0921 commented on #271
Still waiting on this.  Been too long.  I get updates almost daily, nothing, zip, zero, nada.  I'm just going to move back to firefox.

[2018-02-06 16:37] btlechowski commented on #13030
Here are two scenarios I could reproduce the issue:
- Wrong Permissions on Cookies file. -
1. Close Brave
2. Revoked the Modify permissions for Cookies file
3. Start Brave
4. Login twitter
5. Restart Brave

Result:
The cookies were not saved. There was no error, just cookies were not saved.

- Corrupted Cookies file -
1. Close Brave
2. Delete old Cookies and created a text file with random letters

[2018-02-06 16:41] darkdh opened #13041 "Update to muon 4.7.10"
## Test plan
1. Visit `about:brave`
2. `Muon` version should be `4.7.10`

[2018-02-06 16:42] darkdh commented on #13041
closed by https://github.com/brave/browser-laptop/pull/13034

[2018-02-06 16:42] #13041 closed

[2018-02-06 18:11] derekhillhp commented on #12959
It uses the system proxy settings that you configure in IE on Windows and in Systems Preferences -> Network settings for each interface on a Mac.

I have not found any place to set proxy settings inside of Brave.

[2018-02-06 18:33] TDeisinger commented on #12959
Issue is still present on .20.32

[2018-02-06 19:38] LaurenWags commented on #8541
+1 from twitter with 0.20.30 - user reports slowness, long load times, and sometimes unresponsiveness. Only one window with 3 tabs. https://twitter.com/AngelClarkSays/status/960565215673888769

[2018-02-06 19:39] petemill commented on #10363
Re-opening due to #12956. The shortcut `alt(gr)+number` is used (on Windows at least) to insert special characters, such as `@` or `$` or `£`

[2018-02-06 20:57] jonathansampson opened #13043 "Open Windows Search Results in Brave"
### Description
When performing a search from the Windows 10 start menu, Brave is not offered as a browsing option.

### Steps to Reproduce
_On Windows 10_:
1. Press the Windows key (or click the Cortana tray icon)
2. Search a string like 'javascript documentation'
3. When search string appears beneath *Best Match*, press Enter key

**Actual result:**
Non-Brave browsers are offered to the user.

*

[2018-02-06 21:02] #4106 closed

[2018-02-06 21:15] darkdh opened #13044 "Update to muon 5.0.2"
## Test plan
1. Visit `about:brave`
2. `Muon` version should be `5.0.2`

[2018-02-06 21:50] jenn-rhim opened #13046 "Brave wallet backup key displayed on the UI as 'a' regressed"
### Description

I had an issue with the Brave wallet recovery key displayed on the UI as 'a', which was fixed in the prior vs of Brave,  0.19 I believe. Double, triple checked to make sure that it's shown correctly for a few days.

It's back with 0.20.30. Again, I see 'a'

### Steps to Reproduce

  1.
  2.
  3.

**Actual result:**

![screen shot 2018-02-06 at 1 44 37 pm](https://user-images.githu

[2018-02-06 22:26] LethalManBoob commented on #13016
It happened again. I even tried updating to the dev version. This needs
addressing.

On 5 February 2018 at 18:32, Joseph Upton <upton.upton.joseph@gmail.com>
wrote:

[2018-02-06 23:43] #13044 closed

[2018-02-06 23:51] rickersilva commented on #6915
This is back. I´mhaving the same issue today at my home PC, so typing things like the sharp or the at sign,in my spanish keyboard are annoying.

[2018-02-07 00:06] kjozwiak commented on #12788
@bsclifton @NejcZdovc is there any specific tests that QA needs to go through? From the sounds of the information available under https://github.com/brave/internal/issues/189, a simple end-to-end test should be sufficient enough to see if the API is working correctly.

If there's an easier way to make sure that the API is working, could you please add a test plan that we can follow? If not, we can

[2018-02-07 00:12] kjozwiak opened #13048 "Manual test run on OS X for 0.20.x Hotfix 2 (Referral Promotion)"
## Per release specialty tests
 - [x] Update to muon 4.8.2. ([#13041](https://github.com/brave/browser-laptop/issues/13041))
 - [x] Mac pkg installer is not signed. ([#13032](https://github.com/brave/browser-laptop/issues/13032))
 - [ ] Top site tiles not being populated when updating profile from 0.19.147. ([#12941](https://github.com/brave/browser-laptop/issues/12941))
 - [x] Script to read exec

[2018-02-07 00:12] kjozwiak opened #13049 "Manual test run on Windows x64 for 0.20.x Hotfix 2 (Referral Promotion)"
## Per release specialty tests
 - [x] AltGr + Number opens up a new session tab. ([#12956](https://github.com/brave/browser-laptop/issues/12956))
 - [x] Top site tiles not being populated when updating profile from 0.19.147. ([#12941](https://github.com/brave/browser-laptop/issues/12941))
 - [x] Read installer executable name (EXE) and output to profile directory. ([#12787](https://github.com/brav

[2018-02-07 00:12] kjozwiak opened #13050 "Manual test run on Linux for 0.20.x Hotfix 2 (Referral Promotion)"
## Per release specialty tests
 - [x] Update to muon 4.7.10. ([#13041](https://github.com/brave/browser-laptop/issues/13041))
 - [x] Downloading latest (0.20.30) linux binary gives 404. ([#13013](https://github.com/brave/browser-laptop/issues/13013))
 - [ ] Top site tiles not being populated when updating profile from 0.19.147. ([#12941](https://github.com/brave/browser-laptop/issues/12941))

## I

[2018-02-07 00:26] NumDeP commented on #1185
Hi @Raindeer44 yes sort of, though not exactly, I did invite a similar issue curtailing that #12989

It was related to the stress on the Tor network (so yes 'if it's used often') and was more so a concern because of the teams' brilliant implementation of the Tor feature and baking it into private/amnesiac tabs will significantly increase the load on the Tor network. Would it not? Especially consid

[2018-02-07 00:44] Timo-Soren commented on #2184
This is a continuing issue.

Two macs:  One:running El Capitan (laptop)
second : running latest Sierra version allowed on an imac.

Both when prompted (like on a bookmark level) Update available: with details, later, update.
I have watched the log and it downloads. BUT they never relaunch.

So right now on my laptop.

Brave Version: 20.29
update available is reported:20.30

[2018-02-07 00:50] Timo-Soren commented on #2184
So here is the log
2018-02-07T00:47:48.005Z - lastCheckWOY = 33
2018-02-07T00:48:51.383Z - update downloaded
2018-02-07T00:48:51.383Z - Release notes : Fixed restoring tabs at startup causing slow performance. More details: https://github.com/brave/browser-laptop/releases/tag/v0.20.30dev
2018-02-07T00:48:51.384Z - Release date: Brave 0.20.30
2018-02-07T00:48:51.384Z - Update URL: Wed Dec 31 1969 1

[2018-02-07 01:05] bsclifton commented on #13016
@LethalManBoob can you visit `about:brave` and copy/paste the details there? Having details about your setup (Operating system, etc) would be useful to help us narrow down the issue. Thanks 😄

[2018-02-07 01:20] sterno1966 opened #13051 "icon missing from toolbar panel"
![screenshot from 2018-02-06 19 27 41](https://user-images.githubusercontent.com/33036050/35893488-ebf34248-0b73-11e8-8307-d893b974f609.png)

### Description

icon missing from toolbar panel

### Steps to Reproduce

  1.
  2.
  3.

**Actual result:**

**Expected result:**

**Reproduces how often:**

### Brave Version

**about:brave info:**

20.30 linux ubuntu

**Reproducible on current live releas

[2018-02-07 01:23] bsclifton commented on #12429
Updated to 5.0.1 with https://github.com/brave/browser-laptop/pull/12921

[2018-02-07 01:40] Mando75 commented on #5086
+1 on Arch Linux running Gnome 3.26.2
It is very annoying

No problem when running on the latest build of Windows 10

[2018-02-07 02:09] chuckremes commented on #10567
Tested 0.20.30 rev 8b78402. The problem persists.

[2018-02-07 04:51] srirambv commented on #13041
![image](https://user-images.githubusercontent.com/17010094/35899125-b578eefc-0bf0-11e8-8ddd-eb31d420c68e.png)

[2018-02-07 05:56] luixxiul commented on #13051
hi, would you please elaborate more what you mean "no icon"? thanks!

[2018-02-07 06:39] NejcZdovc commented on #12788
@kjozwiak I think that we don't have an easy plan. It's just end-to-end test

[2018-02-07 06:53] jamesray1 opened #13053 "Brave has been slow all day, while Firefox has been normal"
I have 15 tabs open in Brave at the moment. I then opened Firefox and am typing this message in it, the internet is a normal speed in Firefox.

[2018-02-07 06:57] jamesray1 commented on #13053
I closed the browser and reopened it, it was then a normal speed. Hmm.

[2018-02-07 06:58] jamesray1 commented on #13053
Brave: 0.20.30
V8: 6.4.388.40
rev: 8b78402e7b3b91d44d8146cbe4dc8013592c33fd
Muon: 4.7.9
OS Release: 4.13.0-32-generic
Update Channel: Release
OS Architecture: x64
OS Platform: Linux
Node.js: 7.9.0
Brave Sync: v1.4.2
libchromiumcontent: 64.0.3282.119

Seems like it has automatically updated without realising it.

[2018-02-07 07:15] hugobuddel commented on #13051
See the lower left corner of the screenshot, next to the text 'Inbox' there should be the Brave logo, but it shown an empty window logo. It's the same issue as #13031 and possibly #10803

[2018-02-07 07:18] hugobuddel commented on #13051
It is quite annoying though, I often 'cannot find Brave'. Apparently I'm visually oriented and and essentially have to retrain myself to find the one application without an icon. E.g. I suddenly have to think when alt-tabbing, a weird experience and maybe distracts me enough from what I'm doing to switch to another browser.

[2018-02-07 07:19] jonathansampson opened #13054 "Tapping URL Bar Crashes Brave"
### Description
Repeatedly tapping the URL bar crashes Brave.

### Steps to Reproduce
_On a touch-enabled device:_
1. Tap URL bar repeatedly, and rapidly.

**Actual result:**
Brave crashes.

**Expected result:**
Brave does not crash.

**Reproduces how often:**
Always.

### Brave Version
0.19.30

**about:brave info:**
[code]

**Reproducible on current live release:**
Yes

### Additional Information

[2018-02-07 07:33] srirambv commented on #13051
Closing in favour of #13031 . Can continue the discussion there.

[2018-02-07 07:33] #13051 closed

[2018-02-07 07:34] srirambv commented on #13031
+1 from @sterno1966  from #13051
Screenshot from #13051
![screenshot from 2018-02-06 19 27 41](https://user-images.githubusercontent.com/33036050/35893488-ebf34248-0b73-11e8-8307-d893b974f609.png)

[2018-02-07 07:36] srirambv commented on #13053
@jamesray1  was the browser speed sluggish before the update and fixed when restarted for update?

[2018-02-07 07:44] hugobuddel commented on #13031
Also broken on Scientific Linux (~Centos) 7.4 when installing from tarball

[2018-02-07 07:49] jamesray1 commented on #13053
No it wasn't updated today.

[2018-02-07 07:49] jamesray1 commented on #13053
I haven't restarted the computer today.

[2018-02-07 07:49] jamesray1 commented on #13053
I guess that it updated when Ubuntu did an update during a shutdown.

[2018-02-07 07:50] jamesray1 commented on #13053
It was slow from the beginning of the day, as far as I can remember.

[2018-02-07 08:11] jamesray1 commented on #13053
In fact, now it seems faster! How bizarre...

[2018-02-07 09:02] jamesray1 commented on #13053
I think I know what the cause is, and can reproduce it.

Go to https://tokensale.civic.com/

Click the Read full whitepaper button, or just click this: https://tokensale.civic.com/CivicTokenSaleWhitePaper.pdf.

Brave slows right down, and won't speed up until you close the Brave/Nautilus window prompting where to save the White Paper.

[2018-02-07 09:22] #10752 closed

[2018-02-07 10:04] #12817 closed

[2018-02-07 11:03] srirambv opened #13057 "Crash report not being reported to stats"
### Description
Crash report not being reported to stats

### Steps to Reproduce

  1. Clean install 0.20.32
  2. Open chrome://crash in a new tab to cause a webview crash
  3. Ensure the crash is listed on chrome://crashes with a proper crash id
  4. Crash not reported on stats

**Actual result:**
Crash report not being reported to stats

**Expected result:**
Should list the crash on stats

**Rep

[2018-02-07 12:43] zroulston commented on #3101
+1 for Linux. xorg/gnome - Fedora release 27 (Twenty Seven)

[2018-02-07 13:17] sylvainjule opened #13058 "ERR_FAILED on every google search request"
### Description
I'm running into an error page (blank with ```ERR_FAILED```, see images attached) whenever I try to run a search request through google search.

### Steps to Reproduce
Basically, try a ```:g```search.
Further details are hard to determine since I have been a brave user for a few weeks and never ran into this issue before. Didn't change any habit, didn't change a setting. No VPN. I

[2018-02-07 14:14] twinklebob commented on #2582
I use Opera purely for this reason. Would love to switch to Brave full time and start using BAT to pay for the youtube content I love to watch.

[2018-02-07 14:22] traderd65 commented on #10682
After some use of the lastpass extension, it stops working and just displays a dormant popup at the bottom right corner of the browser. Disabling and re-enabling the extension doesn't help, only restarting the browser.
<img width="323" alt="about_brave" src="https://user-images.githubusercontent.com/1514731/35921356-5f5b5904-0be8-11e8-8ef9-548c77b63670.png">
<img width="446" alt="lastpass_dormant_

[2018-02-07 15:12] vinicentus commented on #12956
Just noticed the reopening. Take a look at #13015.

[2018-02-07 15:14] vinicentus commented on #10363
Just noticed the reopening. Take a look at #13015.

[2018-02-07 16:52] beemster commented on #5955
Yes please, this is mandatory. I need this for work related sites and VPN. Otherwise Brave is not an option.
Thanks.

[2018-02-07 16:53] MargarytaChepiga commented on #2963
I tried to reproduce this on Windows 10, but it works as expected there.

[2018-02-07 17:02] MargarytaChepiga commented on #2172
I was trying to find a file where I could check the existing data and maybe add some more, but I couldn't. `js/data/top500.js` does not exist. Am I looking in a wrong place?

[2018-02-07 17:04] MargarytaChepiga commented on #7888
@srirambv Working on it!

[2018-02-07 17:08] fabricedesre opened #13060 "Webtorrent sites not working properly"
### Description

Sites using Webtorrent are broken.

### Steps to Reproduce

  1. Go to a Peertube site, eg. https://video.tedomum.net/ (it's a decentralized alternative to Youtube).
  2. Choose a video and try to play it.

**Actual result:**

- If the webtorrent extension is enabled, it is triggered and offers to download the video instead of watching it in the page.
- If the webtorrent extension

[2018-02-07 17:40] LethalManBoob commented on #13016
My Brave Stats

Name
Version
Brave 0.20.30
V8 6.4.388.40
rev 8b78402
<https://github.com/brave/browser-laptop/commit/8b78402e7b3b91d44d8146cbe4dc8013592c33fd>
Muon 4.7.9
OS Release 10.0.16299
Update Channel Release
OS Architecture x64
OS Platform Microsoft Windows
Node.js 7.9.0
Brave Sync v1.4.2
libchromiumcontent 64.0.3282.119

My system stats straight from my dxdiag text save file

https://paste

[2018-02-07 18:26] DrissiReda commented on #12715
Not sure if this is a brave issue or not, I've been recently having the same problem with the new firefox quantum, I've tried reproducing the same case you, but with firefox quantum instead of brave. Same result.

[2018-02-07 19:10] #13013 closed

[2018-02-07 19:15] #12956 closed

[2018-02-07 19:43] bsclifton commented on #7888
Awesome! thanks, @MargarytaChepiga 😄 I assigned the issue to myself to reserve it for you- let us know if you need any help 😄

[2018-02-07 19:47] bsclifton commented on #3101
I don't think this would be terribly hard to implement, if someone was open to grabbing the issue (one of us here can help answer questions)

@jolars @defaye @zroulston what type of mouse do you have? I personally use a two button + scroll-wheel, so I'm unable to try this out... but my mouse is on the way out. Maybe I'll get a new mouse with buttons

[2018-02-07 19:54] #12789 closed

[2018-02-07 19:54] #12790 closed

[2018-02-07 19:56] petemill commented on #12791
I believe this is fixed by #12798

[2018-02-07 20:19] kjozwiak commented on #12333
@bbondy has ran into this several times in the past few days. @riastradh-brave mentioned that it used to happen every ~hour, now it happens every ~day or so. Once you run into the issue, `command + r` breaks throughout Brave and requires a restart. However, `Shift+Command+R` seems to always be working.

If this gets reproduced/fixed before `0.20.x Hotfix 2`, we should probably uplift.

[2018-02-07 20:23] NejcZdovc commented on #12791
correct, closing

[2018-02-07 20:23] #12791 closed

[2018-02-07 20:33] kjozwiak commented on #12787
Went through the following test cases:

* install `BraveSetup-x64-JOZ789.exe` and ensure that `promoCode` was created and includes `JOZ789`
* install `BraveSetup-x64-abc123.exe` and ensure that `promoCode` was created and includes `abc123`
* install `BraveSetup-ia32def456.exe` and ensure that `promoCode` was created and includes `def456`
* install `BraveSetup-ia32POL234.exe` and ensure that `promo

[2018-02-07 21:02] jolars commented on #3101
@bsclifton I have a Razer Deathadder Chroma. Unfortunately I do not have the know-how to provide much help, other than to test it out, but I would love to see it implemented.

[2018-02-07 21:17] jenn-rhim opened #13062 "Inconsistent the button order on Alert/Notification message box"
### Description

### Steps to Reproduce

  1.
  2.
  3.

**Actual result:**

![image](https://user-images.githubusercontent.com/4369856/35942028-30847db0-0c09-11e8-9283-6b5d1a51c6d1.png)

**Expected result:**

**Reproduces how often:**

### Brave Version

**about:brave info:**

**Reproducible on current live release:**

### Additional Information

[2018-02-07 21:32] bsclifton commented on #1877
cc: @davidtemkin ^^

[2018-02-07 21:33] #13024 closed

[2018-02-07 21:37] diracdeltas commented on #1877
@bsclifton  @davidtemkin the proxy issue is covered in https://github.com/brave/browser-laptop/issues/12959

[2018-02-07 21:38] bsclifton commented on #12507
@evq can you provide some testing steps (you can edit the top post).  Thanks! 😄 👍

[2018-02-07 21:41] petemill commented on #12802
Here's some more info about, and how to test / mitigate pkg installers overwriting .app files (or seemingly doing nothing) https://stackoverflow.com/questions/19283889/osx-pkg-installer-sometimes-does-not-install-app-file

[2018-02-07 21:42] hasufell commented on #12937
any other information you need?

[2018-02-07 22:15] bsclifton commented on #12937
@hasufell can you try opening the Browser developer tools? <kbd>Shift</kbd> + <kbd>F8</kbd>
Once these are open, the console tab may have more information

[2018-02-07 22:17] bsclifton commented on #6915
@rickersilva was it working in previous releases?

[2018-02-07 22:32] hasufell commented on #12937
That doesn't even work. Brave is forced into foreground now kinda fullscreen and 95% of everything doesn't work. I cannot open developer tools or anything else. I can just quit the browser.

[2018-02-07 22:42] hasufell commented on #12937
I can open the console with `v0.19.147dev`:

![brave_2](https://user-images.githubusercontent.com/1241845/35945442-92f3b392-0c60-11e8-9738-2812c5d8c745.png)

[2018-02-07 22:42] #9627 closed

[2018-02-07 22:43] bsclifton commented on #9627
Closing as this appears fixed for me too 😄

[2018-02-07 22:44] bsclifton commented on #9627
There is a similar issue (maybe this was what was reported):
https://github.com/brave/browser-laptop/issues/12695

This issue (linked) has exact steps to repro

[2018-02-07 22:45] bsclifton commented on #12695
Doesn't seem to be a problem when you double click the words (to cause selection), only when dragged

[2018-02-07 22:46] bsclifton commented on #2318
Confirmed fixed 😄 👍

[2018-02-07 22:46] #2318 closed

[2018-02-07 22:51] bsclifton commented on #8541
+1 from @jamesray1 via https://github.com/brave/browser-laptop/issues/13053

Repro steps:

[2018-02-07 22:51] bsclifton commented on #13053
Closing as a dupe of https://github.com/brave/browser-laptop/issues/8541

Thanks for the repro steps- I shared them there too 😄 👍

[2018-02-07 22:51] #13053 closed

[2018-02-07 22:53] bsclifton commented on #94
Tentatively assigning to 0.23.x since this does cause a crash

[2018-02-07 23:01] bsclifton commented on #13017
I've noticed slowness with this

@bridiver @petemill any thoughts on why middle clicking or right click > "Open in New Tab" would cause a blank tab to open? I know this happens via the renderer... sometimes it seems to take 5-10 seconds to load the title for the tab.  It seems also, as @dolebas experienced, it doesn't open altogether

[2018-02-07 23:01] bsclifton commented on #13017
@dolebas are you seeing a blank tab when you try to open? Or is nothing happening?

[2018-02-07 23:02] bsclifton commented on #12458
@hugobuddel thanks for calling that out.  I believe the menu on Linux is implemented via the Electron popup control.  This must not be setting accelerators

[2018-02-07 23:05] bsclifton commented on #9125
Closing as I think this is a great feature 😄 👍 I do understand that this is intended to track this showing on Browser tools (vs page tools)... but it should still save the preference if you close the "What's new" box

[2018-02-07 23:05] #9125 closed

[2018-02-07 23:10] petemill commented on #13017
I've noticed the slowness in recent versions. Nothing I've changed, that's been merged to a reliase that would cause it, so I'm not personally sure (yet).

[2018-02-07 23:19] kjozwiak commented on #13057
@aekeus I think you mentioned this was due to the large queue of crashes that haven't been parsed/added into stats.brave correct?

[2018-02-07 23:42] flamsmark commented on #12931
I don't think we can use <check.torproject.org> because the open page for private tabs explains private tabs and the toggles for DuckDuckGo and Tor. Onion Browser (iOS) uses <onionbr5zulufnuj.onion> which has been down the last few times I've checked. I like that approach because using an onion service is a better guarantee of Tor-ness than enumerated exits. Unless we're worried about onions worki

[2018-02-07 23:51] flamsmark commented on #12932
I definitely think we should bundle Tor with Brave. Tor will be required for the default mode of a core feature — private tabs. Having to download Tor before browsing for the first time in a private tab seems like a no-go to me. 2.5mb is a perfectly-reasonable price to pay.

[2018-02-07 23:54] flamsmark commented on #12935
Agreed: definitely just ship our own binary and use that always. I don't think we need to provide any advanced config options: if someone wants to edit Brave's torrc, they can do it directly. On systems which don't support local sockets, maybe we should randomize the TCP ports?

[2018-02-07 23:59] flamsmark commented on #6094
@NumDeP This feature doesn't depend on new Tor modes for implementation. When new Tor features are implemented, we can add them as additional options here and in the equivalent places for other docks/launchers. No reason to block this right now.

[2018-02-08 00:01] flamsmark commented on #12966
I'm not sure what you're talking about, but it sounds like you're proposing a very different set of features. Could you open new issues for those instead?

[2018-02-08 00:20] Alino commented on #12308
I confirm this on Mac.

I want to block the annoying ads at the end of a youtube video by adding this rule

_www.youtube.com##.ytp-ce-element_

but it doesn't work

[2018-02-08 00:31] NumDeP commented on #6094
I'm sorry I wasn't aware that there was going to be more features implemented on top of what the Tor browser already has. I was under the assumption @flamsmark that it was literally going to include a couple of Toggles, one in the Shield area, one in the menu and one in the jump lists which is which is why I presented the above comments.

That being said, you're statement doesn't indicate that the

[2018-02-08 01:17] flamsmark commented on #12997
I was talking about this with @alexwykoff at the dev/design chat today. The UX for this is a little fraught: in order for the button to be useful, folks have to know to use it and what it does. Alex suggested that it might be useful to heuristically guess when a circuit is slow, and switch up then: we passed the question of what heuristics to use off to Ben.

I think it might make sense to conceal

[2018-02-08 01:35] flamsmark opened #13063 "Disable webtorrent whenever Tor is enabled"
Torrents rek Tor; it's just science.

[2018-02-08 01:37] flamsmark opened #13064 "When Tor's enabled, remote autocomplete must also go over Tor"
If we can't run remote autocomplete over Tor, it should just be unavailable.

[2018-02-08 01:39] flamsmark opened #13065 "Load favicons over Tor when Tor's enabled"
Favicons in the tab area should be loaded over Tor. They can be loaded in the same circuit as the tab they belong to, or each icon can be loaded in its own separate circuit. They shouldn't be batched into the same circuit.

[2018-02-08 01:40] NumDeP commented on #12966
It was in reference to other feature/tor issue which propose configurations and I'm assuming later-on after it's been implemented other settings and feature may be deployed and I doubt they'll be filled in the browser's menu, so I was asking because I thought it was necessary, will there be an addition such as 'about:preferences#tor' to include 'Tor is censored in my country' and additional featur

[2018-02-08 01:42] flamsmark commented on #12961
Following in-person discussion, this doesn't seem like the right fit for our initial Tor private browsing implementation because the core goal is to make Tor easier. Instead, these seem like a good fit for a more general-purpose security/privacy slider feature.

[2018-02-08 01:49] flamsmark commented on #2848
Deleting profile info is not a typical uninstall behavior on any of the platforms. I don't think this should be the default because it'll surprise users. I think it makes sense to provide it as an option on two of the major platforms:
- on Windows, the uninstall wizard can offer a checkbox (default: unchecked) to remove all Brave user data
- on Linux `apt purge` (or equivalent) should remove profi

[2018-02-08 01:51] bsclifton commented on #6094
@NumDeP this feature doesn't have anything to do with Tor (although, having a `new tor tab` would be cool)

@ShinyStar I'd love to help you work on this 😄 The docs linked to in the original post should be enough to help get started.  Please note: we use Muon, a fork of electron... but much of the code is the same 😄

Maybe start by getting a jump list showing and then we can go from there.  The ful

[2018-02-08 01:53] flamsmark commented on #12836
I think we should work to avoid this bug. If our version of the resource matches the SRI hash, we should load it. If our doesn't match we should get the remote resource and see if it matches. If neither resource matches, the site's broken either way. If the remote resource matches but ours doesn't, we load the remote resource and think about what else to do.

Should we cache the remote resource an

[2018-02-08 01:56] flamsmark commented on #12827
@bridiver When do we get those stack traces — is there a step where the user decides to send it to us, where we could show a warning?

I'm amenable to the idea of trying to scrub things we know to be likely leaks. But I'm certain we can't find all of them — a stack trace always risks leaking private info.

[2018-02-08 02:00] flamsmark commented on #13037
This is addressed in brave/sync#58 .

[2018-02-08 02:00] #13037 closed

[2018-02-08 03:26] evq commented on #12507
@bsclifton should I add them here, or edit https://github.com/brave/browser-laptop/pull/10530  ?

[2018-02-08 04:25] bsclifton commented on #12507
@evq here would be great 😄

[2018-02-08 04:34] evq commented on #12507
Added, thanks @bsclifton  :)

[2018-02-08 06:10] bjoernbusch commented on #12959
Still reproducable with v0.22.2.

[2018-02-08 06:47] BXVIII opened #13066 "Video autoplay working without viewing tab"
### Description
Minimizing application and re-opening makes the autoplay function work without viewing the tab.

### Steps to Reproduce
**_Detailed method_**
  1. Open browser application
  Find a default autoplay video (Youtube video)
  Clone the tab, keeping one pinned.
  Pause both videos so they aren't playing
  Open a new tab, remain on that tab.
  Close application

  2. Open application
  D

[2018-02-08 07:58] srirambv opened #13067 "Installer doesn't detect promocode if there is a white space in the installer folder"
### Description
Installer doesn't detect promocode if there is a space in the installer folder

### Steps to Reproduce
  1. Download promocode build
  2. Save it a different location say for example `E:\Brave Setups`
  3. Install the promo build, promo code is not recognized
  4. Move the same setup to `C:\Users\<username>\Downloads` and install from there
  5. Promocode is detected correctly

**A

[2018-02-08 09:00] eiyey opened #13068 "Error at opening any .pdf"
Hi,

Opening any .pdf link shows the same error:

This site can’t be reached
The webpage at chrome-extension://jdbefljfgobbmcidnmpjamcbhnbphjnb/content/web/viewer.html?file=http%3A%2F%2Fwww.pdf995.com%2Fsamples%2Fpdf.pdf might be temporarily down or it may have moved permanently to a new web address.
ERR_FAILED

![pdferror](https://user-images.githubusercontent.com/36115757/35964004-bc5c671e-0cb6-