[2017-07-27 12:43] alexwykoff opened #10172 "Manual test run on Linux for 0.18.x (Beta Channel)"
## Per release specialty tests
 - [x] Chrome-extension link shown instead of about:safebrowsing. ([#10143](https://github.com/brave/browser-laptop/issues/10143))
 - [x] ModalDialog lacks margin-top: 50px. ([#10138](https://github.com/brave/browser-laptop/issues/10138))
 - [ ] Error while build-package. ([#10060](https://github.com/brave/browser-laptop/issues/10060))
 - [x] LastPass won't stop aski

[2017-07-27 13:20] Jacalz commented on #10143
Still seeing in 0.18.13 on ia32 :confused:

[2017-07-27 13:37] chris-remus opened #10173 "Open In Google Docs Doesn't Render, File Appears"
- Did you search for similar issues before submitting this one?

Sorry, no.

- Describe the issue you encountered:

Upload MS Office doc to Google Docs, try to open MS Office doc in Google Doc application, doc never renders in Google Doc application, however does appear in Google Drive as Google Doc and you're able to open it fine.

- Platform (Win7, 8, 10? macOS? Linux distro?):

MacOS

- Brave V

[2017-07-27 13:39] Jacalz commented on #9880
I don´t seem to be able to forget spelling in ia32 :confused:

[2017-07-27 13:55] alexwykoff commented on #9076
While this appears to work for the adobe site, it doesn't work for homestarrunner.com.
[2017-07-27 08-49-40.mp4.zip](https://github.com/brave/browser-laptop/files/1180150/2017-07-27.08-49-40.mp4.zip)

[2017-07-27 14:04] bbondy commented on #9022
Since 61 is on beta channel now I'd say that first, but there are 2 devs on this so maybe you can parallelize with this.  Not at the expense of 61 though please, thanks.

[2017-07-27 14:06] bbondy commented on #10063
Closing as dupe of:
https://github.com/brave/browser-laptop/issues/9671

[2017-07-27 14:06] #10063 closed

[2017-07-27 14:08] bbondy commented on #2025
This should actually be fixed with the 0.18.x release.

[2017-07-27 14:08] #2025 closed

[2017-07-27 16:39] hrsyvg opened #10175 "Comparing with other privacy tools"
I'm opening a page with Firefox (Privacy Badger and Ublock origin supported). A sample page. Pricavy Badger 12 viewers are blocked. Ublock Origin 11 ad blocking. The Brave browser blocks 9 ads + viewers on the same page. I try other pages too. Always less ads and followers are blocked. Should I worry about some viewers getting out of sight? Am I not secret enough? Am i not privacy enough? I am con

[2017-07-27 17:11] Aninstance commented on #9193
Same problem, running on Fedora 26, default Gnome 3 shell.

[2017-07-27 17:23] hrsyvg commented on #10175
And does the Brave Browser block the social viewers like the Privacy Badger? Instead of putting your own social widgets or something ...

[2017-07-27 18:17] LaurenWags commented on #10157
Similarly with moving a folder to 'Other Bookmarks' - but only on Linux (I was using Ubuntu). I could not repro this on MacOS.

![ubuntuotherfolder](https://user-images.githubusercontent.com/28145373/28685570-3ed4e110-72d6-11e7-9759-d76282ad85cf.gif)

[2017-07-27 18:25] patrick99e99 opened #10176 "favicon from closed tab comes up on new website tab?"
- Did you search for similar issues before submitting this one?
YES

- Describe the issue you encountered:

I was visiting a webpage:
https://investorshub.advfn.com/boards/read_msg.aspx?message_id=133353270

I had my my mouse on the "next" link on the right side of the page (under the search bar), and was trying to click it to move to the next message in the thread.  After the webpage finished loa

[2017-07-27 19:08] alexwykoff opened #10177 "0.18.13 release checklist"
1. [x] `cd vault-updater`
- [x] `git checkout -b dev-<version>`
- [x] `cd ../release-tools`
- [x] 'node bin/promotePreview --location ../vault-updater/data --overwrite --channel=dev'
- [x] `cd ../vault-updater`
- [x] `git add -u`
- [x] `git commit -m "<version>" -m "Auditors: @aekeus"`
- [x] `git push (alternatively: git push --set-upstream origin dev-<version>)`
- [x] `git push heroku-staged dev-

[2017-07-27 19:30] #10110 closed

[2017-07-27 19:30] #10111 closed

[2017-07-27 19:30] #10112 closed

[2017-07-27 19:30] #10135 closed

[2017-07-27 19:30] #10149 closed

[2017-07-27 19:30] #10150 closed

[2017-07-27 19:30] #10151 closed

[2017-07-27 19:30] #10152 closed

[2017-07-27 19:32] #10171 closed

[2017-07-27 21:08] LaurenWags commented on #7597
+1 from community - https://community.brave.com/t/scroll-bar-is-very-light-colour/5045

User specifically mentions scroll bar.

[2017-07-27 21:15] LaurenWags commented on #5305
+1 for general picture customization from community - https://community.brave.com/t/background-preference-for-pictures/3935

[2017-07-27 21:35] Garbee commented on #8156
Flatpak and Snap doesn't work well on OpenSUSE. So that wouldn't really help for this distro. Flatpak stuff is just landing and still pretty early on.

[2017-07-27 21:39] diracdeltas opened #10179 "pinned tabs either missing or duplicated after Brave relaunch"
for the last several releases, my pinned tabs have either disappeared or been duplicated after updating and relaunching. seems similar to https://github.com/brave/browser-laptop/issues/8543 except the tabs are gone/duplicated, not just out of order.

for instance, on updating to 0.18, the pinned tabs disappeared.

FWIW my pinned tabs are usually my work gmail + personal gmail + gcal.

OS X

[2017-07-27 21:41] NejcZdovc commented on #10179
Had a similar situation today. Brave crashed and when I relaunched it again pinned tabs were gone

[2017-07-27 22:05] #10177 closed

[2017-07-27 22:05] #10169 closed

[2017-07-27 22:05] #10170 closed

[2017-07-27 22:05] #10172 closed

[2017-07-27 22:22] diracdeltas commented on #10179
i copied session-store-1 from 0.18.x (after adding back some pinned tabs) to brave-development, and the pinned tabs were gone when i started brave in dev mode

[2017-07-27 22:23] darkdh commented on #10179
Are we seeing the same thing for pinned tab missing?
https://github.com/brave/browser-laptop/issues/10122

[2017-07-27 22:29] diracdeltas commented on #10179
can confirm i also see the error in #10122

[2017-07-27 22:48] diracdeltas commented on #10179
i just started the dev profile where pinned tabs were missing and now the pinned tabs are triplicated (2 tabs -> 6 tabs)

[2017-07-27 22:59] darkdh commented on #9651
https://github.com/brave/browser-laptop/issues/10054 has specified the cause for the this problem

[2017-07-27 23:26] jonathansampson commented on #7921
@kspearrin I'm about to take a closer look at this issue. Aiming to resolve asap, and ship.

[2017-07-27 23:29] kspearrin commented on #7921
@jonathansampson ok. Please let me know if/when there is a branch I can look at/test.

Also, we just pushed a new version, 1.14.2 , to the chrome store today. It would be nice if that update made it in as well since I know auto updates is a missing feature at the moment.

[2017-07-27 23:33] bsclifton commented on #7921
@kspearrin good call- we do need to unhide it. This issue was closed prematurely when a different commit / issue was resolved.  I'll re-open and unhide it shortly

[2017-07-27 23:37] bsclifton commented on #7921
Issue is now resolved after committing https://github.com/brave/browser-laptop/commit/2c2e19afb5b2ae33a2567d85704aa9dfb86fca2d 😄

cc: @kspearrin, @jonathansampson, @luixxiul

[2017-07-27 23:38] bsclifton commented on #7921
@kspearrin you can try it out using the `0.18.x` branch OR if you wait until we have a new build on the `dev` channel (if you have preview releases enabled- see advanced tab of preferences). We may have a new packaged build tonite or tomorrow

[2017-07-27 23:46] bsclifton commented on #10175
cc: @diracdeltas

[2017-07-28 00:08] bsclifton commented on #10176
Thanks for the report, @patrick99e99 😄  This issue is a duplicate of https://github.com/brave/browser-laptop/issues/1646

Since you have better steps, I'll update the original issue and give it a +1 on your behalf 😄

[2017-07-28 00:11] bsclifton commented on #10176
After re-reading, I was mistaken: this appears to be different (but related).  Re-opening

[2017-07-28 00:13] bsclifton commented on #1646
Possibly related to https://github.com/brave/browser-laptop/issues/10176

@NejcZdovc I believe this will be fixed with your PR (https://github.com/brave/browser-laptop/pull/10136).  What do you think?

[2017-07-28 00:37] Liunkae opened #10182 "0.19.x: Private tabs are broken by the new tab page"
- Did you search for similar issues before submitting this one?
Yes.

- Describe the issue you encountered:
I cannot get private tabs to work at all in 0.19.x. Selecting Menu > New Private Tab, File > New Private Tab, and Shift+Cmd+P do not work.
Based on the severity of the problem, I'm assigning it release/blocking and a 0.19.x milestone.

- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS 10

[2017-07-28 00:45] kspearrin commented on #7921
@bsclifton I will wait for the new dev build.

[2017-07-28 01:54] lukemulks commented on #10175
@hrsyvg can you also please provide some examples of URLs that you are observing this from?

We're currently working on integrating the EasyPrivacy list in addition to our existing tracking protection sources, which we have found covers off for a lot of the instances where Brave has lower block counts.

If you can provide some URLs for us to spot check, we can confirm whether they will be covered

[2017-07-28 02:03] lukemulks commented on #10115
Suggestion:
- 1 run with default shields up.
- 1 run with shields down.

^we may be able to use this for marketing, by messaging as "Brave Shields increase perf by x%"
(Less emphasis on other browsers, more emphasis on how our features enhance our own performance.

I am probably posting this on the wrong issue, but wanted to add since you had listed test scenarios.

[2017-07-28 04:11] haflg19 opened #10183 "Browser (Almost Completely) Stops Working in After Dragging Tab Around"
- Did you search for similar issues before submitting this one?
  Yes, nothing was found.

- Describe the issue you encountered:
  In short, when you drag tabs around (within the same window, or from one window to another) many errors arise.

  The following is a (long) list of all the errors and issues that I came across as a result of this bug, some only showed up in some cases (*see Note in 'St

[2017-07-28 05:46] NejcZdovc commented on #1646
Yes this should be fixed with #10136

[2017-07-28 05:54] Samizdata commented on #8581
Brave	0.18.14
rev	ad92d02
Muon	4.3.6
libchromiumcontent	60.0.3112.78
V8	6.0.286.44
Node.js	7.9.0
Update Channel	dev
OS Platform	Microsoft Windows
OS Release	10.0.10586
OS Architecture	x64

Tested tonight after upgrade.  Still stuck on the HDCP error as listed on previous screen shots.  As I mentioned previously, the issue does not happen in Firefox (which I REALLY want to get rid of at some point)

[2017-07-28 06:30] haflg19 opened #10184 "Small Bugs Found in First Couple Hours of Using Brave"
- Did you search for similar issues before submitting this one?
  Yes, but this issue contains several mostly related bugs I have noticed, so no issue has all of these, and I didn't find all of these in other issues.

Hopefully its allowed to post multiple bugs in the same issue in this repository. I am not sure whether it is or isn't, but these bugs mostly seem related anyways so perhaps it would

[2017-07-28 06:41] mahescho commented on #1758
+1 for KeePass integration

[2017-07-28 06:44] NejcZdovc commented on #10182
I see this problem as well, let me take a look. On a first glance there are no errors, so could be related to muon / chromium

[2017-07-28 06:54] NejcZdovc commented on #10182
ok found the problem. Problem is that we are not creating a new private tab, but we are just setting active tab id to the existing opened tab. https://github.com/brave/browser-laptop/blob/master/app/browser/reducers/tabsReducer.js#L153 (this statement is triggered) instead of https://github.com/brave/browser-laptop/blob/master/app/browser/reducers/tabsReducer.js#L155

This problem was introduced w

[2017-07-28 08:08] bsclifton commented on #5590
@NejcZdovc definitely we should increase 😄

[2017-07-28 08:54] vikram-raj opened #10185 "Not blocking the ad in Gmail."
- Did you search for similar issues before submitting this one?

- Describe the issue you encountered: It blocks the ad for other website and brave not blocking the for Gmail.

- Platform (Win7, 8, 10? macOS? Linux distro?): Fedora 26

- Brave Version (revision SHA): 0.18.14

- Steps to reproduce:
    1. Open Gmail in the brave browser.
    2. Go to the social tab.
    3. You will see the ad in th

[2017-07-28 11:21] Jacalz commented on #9804
It happened on MacOS Sierra for me when updating to 0.18.14 :sweat_smile:

[2017-07-28 12:24] #10044 closed

[2017-07-28 12:27] andypotts commented on #3555
+1

[2017-07-28 13:17] LaurenWags commented on #9580
We're received notification from the user that this is no longer occurring.
https://community.brave.com/t/0-13-0-crashes-os-x/914/10

[2017-07-28 14:16] Aninstance commented on #628
This issue persists,  Brave version 0.17.19, rev 4e46480, on Fedora 26 with Gnome3 Shell.

Side buttons as 'back' and 'forward' on the mouse I'm using work as default, without any additional configuration, when using Chromium / Google Chrome / Firefox, so it appears to be an issue specific to Brave.

N.B. The mouse uses standard mappings (not hardware programmable).

[2017-07-28 15:01] bbondy opened #10186 "Ledger getPublisher perf is bad even if ledger is off"
All typing and mouse movement call into getPublisher which can be expensive.

<img width="701" alt="screen shot 2017-07-28 at 10 47 40 am" src="https://user-images.githubusercontent.com/831718/28723196-042767be-7384-11e7-9bdd-9bf866df80a3.png">

See also: #9311

I think mainly the problem is when publisher info isn't found it keeps looking for it. We could store that it was looked up but not found

[2017-07-28 15:04] bbondy commented on #10186
@NejcZdovc  volunteered for this

[2017-07-28 15:06] bbondy opened #10187 "Generate URL suggestions in a worker thread"
This task is to generate URL bar suggestions in a worker thread.

[2017-07-28 15:25] lucidNTR commented on #8128
@bsclifton maybe there is a confusion again, my original ticket was not about the white background per se but about the completely missing tab bar + any expected window  'chrome'.
the expected behaviour, also what chrome and safari etc. show is to not display windows at all until the interface elements are ready.

[2017-07-28 15:29] lucidNTR commented on #8128
i would like to help here but i dont understand the exact pipeline of all the init events etc that need to be done before the window could be displayed and how to determine the exact time all events are done, also we probably need to take a few init shortcuts to make window opening seem instant

[2017-07-28 16:03] alexwykoff opened #10188 "Linux rpm is not signed"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Users in the field cannot install the latest rpm due to it being unsigned.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Linux

- Brave Version (revision SHA):
0.18.14

- Steps to reproduce:
    1. Use a linux system like Fedora
    2. Attempt to install from apt repo

- Actual result:
Bra

[2017-07-28 16:23] bsclifton commented on #9580
Closing and removing milestone- if we find out more info and need to take action, let's reopen 😄

[2017-07-28 16:41] jonathansampson commented on #9437
The problem here is with an unpopulated path:

![image](https://user-images.githubusercontent.com/815158/28727204-a14125ee-7389-11e7-91d3-57f044eac668.png)

[2017-07-28 16:44] kspearrin commented on #9437
@jonathansampson Is this something I need to fix in the extension or..?

[2017-07-28 17:18] jonathansampson commented on #9437
@kspearrin Not sure at the moment. The only call I see to `chrome.browserAction.setIcon` provides a path object (for a 19 and 38 px image). For some reason, this path object is abandoned or lost some how.

I hope to identify the root cause here shortly.

[2017-07-28 17:19] #10000 closed

[2017-07-28 17:44] #9859 closed

[2017-07-28 18:24] bsclifton opened #10189 "Different channels should have different icons and install paths"
Currently, we have both `dev` and `beta` channels available. However, they are currently mutually exclusive (you can't install both at the same time).  We need to be able to install multiple channels on a single machine.

Each channel should
- have a different profile folder (for the session)
- have a different icon

cc: @bradleyrichter for the icons 😄

Related https://github.com/brave/browser-lap

[2017-07-28 18:41] #10043 closed

[2017-07-28 19:13] eljuno commented on #3025
+1 [from community](https://community.brave.com/t/lastpass-doesnt-work-sites-automatically-logged-out-after-browser-reboot/5059/4?u=eljuno)

[2017-07-28 19:13] eljuno commented on #432
+1 [from community](https://community.brave.com/t/lastpass-doesnt-work-sites-automatically-logged-out-after-browser-reboot/5059/4?u=eljuno)

[2017-07-28 19:37] eljuno commented on #8625
+1 [from community](https://community.brave.com/t/update-closes-tabs/5073/3?u=eljuno)

[2017-07-28 19:49] eljuno commented on #2183
+1 [from community](https://community.brave.com/t/spell-check-doesnt-work-for-languages-other-than-english/5099?u=eljuno)

[2017-07-28 20:51] NejcZdovc opened #10190 "MergeProps called twice"
**Describe the issue you encountered:**
Merge props in redux component is called twice even though that we only changed state in one store.

[2017-07-28 21:03] Kaysod opened #10191 "Brave 0.18.14 doesnt work/cant start."
Hi, Brave dont work anymore since today. I use it for few months without problems.
the newest version 0.18.14 can not start. i click on it and nothing happend, even taskmanager show nothing.
after 1 hour i go to AppData\Local\brave and start the old version 0.17.19. This version works fine.
Is this a bug for all users or just by me something destroyed?

-Windows 10 x64, AMD Phenom x2 555, HD750

T

[2017-07-28 21:32] eljuno commented on #2184
+1 [from community](https://community.brave.com/t/1password-extension/5104/3?u=eljuno)

[2017-07-28 21:45] evq commented on #10188
This particular rpm has been re-uploaded correctly, and a PR is out to prevent it from happening again :)

[2017-07-28 23:51] bridiver commented on #10190
adding back a small debounce to `checkForUpdates` should fix this

[2017-07-28 23:57] bridiver opened #10194 "move frame `hrefPreview` to a separate component"
link hovers trigger a re-render of the entire Frame component and can potentially be called quite frequently while moving the mouse over the page. We could eliminate that by splitting out the hrefPreview into a separate component so it isn't part of the frame props

[2017-07-28 23:59] bridiver opened #10195 "appStore calls `diff` on the state without first checking to see if there are changes"
`diff` is a relatively expensive operation on the state and we should short-circuit emitChanges if `lastEmittedState === appState`

[2017-07-29 00:01] #3023 closed

[2017-07-29 00:02] bridiver opened #10196 "the appState in multiple windows can potentially be out-of-sync"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
When new windows load for the first time we `lastEmittedState = appState`, but some windows might have an older `lastEmittedState` and will not get the correct diffs moving forward. We should remove that call and send `lastEmittedState.toJS` instead of `appState.getState().toJS` in `did-finis

[2017-07-29 01:26] jonathansampson commented on #9437
I'm looking at this again now, and am still a bit perplexed.

The extension calls `chrome.browserAction.setIcon` which invokes our _AppStoreRenderer_ `set state` method. If you pause execution here, you'll find that the `browserAction.path` exists, and is populated with the data passed through `chrome.browserAction.setIcon`.

Following the execution further, we eventually get to the _extensionStat

[2017-07-29 02:35] #10141 closed

[2017-07-29 03:50] posix4e commented on #6946
This should fix it when we have it working properly https://github.com/unindented/electron-installer-redhat/issues/74

[2017-07-29 06:37] luixxiul commented on #10144
note: custom [`className`](https://github.com/brave/browser-laptop/blob/d87acbe66bf461b638c00c2421596c02224253c1/app/renderer/components/common/dialog.js#L47) should be removed to close this issue.

[2017-07-29 06:38] NejcZdovc commented on #9437
@jonathansampson I think that I found the problem. So when you get browser actions here https://github.com/brave/browser-laptop/blob/master/app/renderer/components/navigation/browserAction.js#L58 everything is fine. The problem starts here https://github.com/brave/browser-laptop/blob/master/app/renderer/components/navigation/browserAction.js#L64 because we are replacing `browserActions` with `tabA

[2017-07-29 06:48] rdp-cloud commented on #3053
+1

This would be a useful feature when you want to '_keyword_' links and search engines. ie. set up a search engine 'aws' that will redirect to 'aws.amazon.com'. This has become a common **workaround** for the removal of _bookmark keywords_ some time ago.

[2017-07-29 07:30] jonathansampson commented on #9437
@NejcZdovc That looks right. Might even be worth replacing the 4 calls to browserActions.get and 4 calls to tabAction.set with a single `browserActions = tabAction.merge(browserActions)`. Thoughts?

[2017-07-29 07:52] NejcZdovc commented on #9437
That was my initial though as well, but I wasn't sure if that would be ok, because I am not familiar with `tabAction` vs `browserAction`.

[2017-07-29 07:53] jonathansampson commented on #9437
@NejcZdovc I took a quick look at the two, and they seem simple enough. It may be computationally better to merge than to make multiple get/set trips. The resulting object is still very small.

[2017-07-29 07:59] NejcZdovc commented on #9437
what I would do then is `browserActions = browserActions.merge(tabAction)` so that `tabAction` is overwriting `browserActions`.

[2017-07-29 08:47] Garbee commented on #6946
@posix4e That doesn't solve it fully. OpenSUSE Leap will still have the problem. As discussed in the PR trying to address this. That ONLY works for Tumbleweed users.

A second binary is required to fully resolve the issue until Leap gets a newer RPM build native. Otherwise, we're stuck in the same issue.

[2017-07-29 15:13] jnm2 commented on #1676
Greasemonkey/tampermonkey is super important to me, both for things like removing large empty sidebars left by ad blocking and for simple automation tools I've written for the sites I frequent.

[2017-07-29 15:14] jnm2 commented on #1676
Fyi Greasemonkey and ZenHub are the only two extensions I use that you don't already support.

[2017-07-29 15:18] jnm2 commented on #7117
I want the option to actually delete cookies one time for one site, not block cookies. Is that tracked anywhere?

[2017-07-29 16:03] alexwykoff commented on #10191
Could you try temporarily renaming AppData/Roaming/brave and launching 0.18.14 again?

[2017-07-29 16:40] srirambv opened #10198 "Popup alert buttons need padding"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Popup alert buttons need padding

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):

Brave | 0.19.1
-- | --
rev | 2ee7a49
Muon | 4.4.4

- Steps to reproduce:
    1. Update to 0.19.1 Preview build
    2. Visit any page with forms on it and try to c

[2017-07-29 16:56] jonathansampson commented on #9437
@NejcZdovc Done.

[2017-07-29 17:22] srirambv opened #10199 "Nested bookmark folder items should scroll and not the entire root folders"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
While testing #9651, found that scrolling through bookmark items in nested folder, root folder go out of view (see screenshot)

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):

Brave | 0.19.1
-- | --
rev | 2ee7a49
Muon | 4.4.4

- Steps to reprod

[2017-07-29 17:24] srirambv commented on #9651
@alexwykoff  Performance is much much better than before. Its not completely smooth usage. I still see some lag in scrolling through bookmarks in nested folders and see quite a high CPU usage

[2017-07-29 18:23] srirambv commented on #10182
This is an issue only during the initial launch. The focus sets to the new tab when you try opening a new private tab(either via menu/kb shortcuts). Closing the `about:welcome` tab or the new tab, allows to open a new private tab(via menu/kb shortcuts).

@cezaraugusto  @bradleyrichter  Is the `NewTab`  really necessary on first launch? Can we just show `about:welcome` so that user can choose to op

[2017-07-29 18:35] srirambv opened #10200 "Password notification shown on all tabs"
- Did you search for similar issues before submitting this one?
No

- Describe the issue you encountered:
While verifying #10180, found that Password notification bar is  retained on all tabs

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):

Brave | 0.19.1
-- | --
rev | 2ee7a49
Muon | 4.4.4

- Steps to reproduce:
    1. Build bc70c2ed71d0f21d904e1b49

[2017-07-29 20:31] Liunkae commented on #10182
@srirambv Yes, it looks like it's only an problem with the new tab page. The problem continues as long as at least one new tab is open.

It also happens if you do the following on macOS:

1. Open Brave.
2. Close all Brave windows (without quitting the Brave app itself).
3. Try to create a new private tab with Menubar > File > New Private Tab.
4. Notice that a new window opens with a normal tab ins

[2017-07-29 20:53] luixxiul commented on #10198
https://github.com/brave/browser-laptop/issues/9973

[2017-07-29 20:53] #10198 closed

[2017-07-29 20:53] luixxiul commented on #10198
it has been fixed with https://github.com/brave/browser-laptop/issues/9973

[2017-07-29 20:55] Romvik commented on #8328
Maybe will help https://github.com/Romvik/guide-brave-browser-build-windows/tree/master

[2017-07-29 22:07] eljuno commented on #9521
Since the page is already live, maybe make an announcement on Transifex to increase localizer awareness?
I'm sure not everyone know that the strings for about:welcome is on brave-website project not brave-laptop project. And the early translation is done by vendor.

Personally, I still thinking it'll better to have it as welcome.properties on brave-laptop than separate project. Since it's a featur

[2017-07-29 22:39] GnstheGrain commented on #6923
no workaround found yet ?

[2017-07-30 01:08] kspearrin commented on #9479
@bsclifton I see bitwarden finally made it into the production build of brave! Great news, however, it doesn't work because it's still using a nearly 5 month old version (v1.10.0) that is no longer compatible with our API servers.

This is why I opened this issue. It looks like it was never updated. :(

[2017-07-30 01:11] broros opened #10201 "Disable Ctrl+MouseWheel zooming"
Disable "Ctrl+MouseWheel" to prevent unwanted zooming

- Platform macOS

- Brave Version 0.18.14

[2017-07-30 01:16] kspearrin commented on #9479
Opened https://github.com/brave/vault-updater/issues/46

[2017-07-30 01:40] #10126 closed

[2017-07-30 01:56] jonathansampson commented on #9479
@kspearrin I started using the Chrome Store version yesterday while working on the _case of the missing icon_. So far, it seems to be working well. Would you be available to assist with testing to ensure I am not missing anything?

[2017-07-30 01:59] kspearrin commented on #9479
@jonathansampson I'd love to test things out. I am running latest brave on macOS using the "preview releases" setting. Is there something I can get through that channel or do I have to load a local branch build?

[2017-07-30 02:37] jonathansampson commented on #9479
@kspearrin You can definitely test with that release. Do you have Skype? If so, we could hop on there and run through the process of testing the latest bits in your instance of Brave (no need to run a local branch).

[2017-07-30 02:39] kspearrin commented on #9479
Please send me your skype username. You can direct message me on twitter @kylespearrin

[2017-07-30 02:44] jonathansampson commented on #9479
@kspearrin Incoming :)

[2017-07-30 03:57] kspearrin opened #10202 "bitwarden issues while testing"
At the request of @jonathansampson , here are a list of known issues while testing bitwarden v1.14.2 with Brave 0.18.14. This list is a WIP and will be amended as issues are found.

#9437

--------

Macbook
==============

[code]

**1. Cannot expand vault to full screen** - Low priority

1. Navigate to My Vault tab
2. Click arrow at the top to open the extension in a browser tab
3. New tab opens a

[2017-07-30 05:33] #9437 closed

[2017-07-30 06:32] luixxiul commented on #9521
FYI that issue is tracked on https://github.com/brave/browser-laptop/issues/6435

[2017-07-30 06:34] luixxiul commented on #7117
it's tracked here https://github.com/brave/browser-laptop/issues/6677

[2017-07-30 07:33] luixxiul opened #10203 "update file-loader to v0.11.2"
**Describe the issue you encountered:** update file-loader to v0.11.2, which is the latest available as a npm package before v1.0.0.

changelog: https://github.com/webpack-contrib/file-loader/blob/743aef27df5a594d8c02df407ae03d15b7a92a64/CHANGELOG.md

v1.0.0 is available on their GitHub repo ([changelog](https://github.com/webpack-contrib/file-loader/compare/v0.11.2...v1.0.0?short_path=4ac32a7#dif

[2017-07-30 11:32] luixxiul commented on #10072
`keys` command does not seem to be replaced straightforward:

See: https://stackoverflow.com/questions/44339046/browser-keys-is-not-working-on-firefox-53-0-webdriver-io#44372787

[2017-07-30 11:39] NejcZdovc commented on #10072
for now they don't have any upgrade paths, so we should downgrade and fix webdriver to 4.7.x

https://github.com/webdriverio/webdriverio/issues/2076

[2017-07-30 11:44] luixxiul opened #10205 "update tablesort to 5.0.1"
**Describe the issue you encountered:** update `tablesort` to 5.0.1.

https://www.npmjs.com/package/tablesort
https://github.com/tristen/tablesort/releases/tag/v5.0.1
See https://github.com/tristen/tablesort/compare/v5.0.0...v5.0.1 for code change

`tablesort` is used only on [sortableTable.js](https://github.com/brave/browser-laptop/blob/a59224a19b4195a3b88348ed8d16f0c2f541ed4b/app/renderer/compo

[2017-07-30 11:53] luixxiul commented on #10072
Is it impossible to suppress the warning messages without downgrading only to hide the messages? It looks to me that it just postpones fixing the issues, which would be required eventually.

IMHO we should investigate each command and triage which one can be fixed easily or not, and suppress the warning message only of the commands which takes time to fix.

[2017-07-30 11:56] NejcZdovc commented on #10072
correct. As you can see author of webdriver is suggesting to downgrade, because there is no upgrade path for any commands. There is currently no other ways to remove this message other then downgrade or remove webdriver.

[2017-07-30 11:59] luixxiul commented on #10072
@NejcZdovc mind taking look at this? https://stackoverflow.com/a/44712416

[2017-07-30 12:25] jamesray1 commented on #2425
I want to get notifications for https://blog.ethereum.org/ which has RSS but no other option to get notifications of new posts. So I want to get an RSS reader, which is available as an extension in Chrome.

[2017-07-30 12:30] NejcZdovc commented on #10072
@luixxiul what would we benefit from upgrading to 4.8.x?

I looked at link that you posted and this workaround would cover most of our use cases, but not all of them.

[2017-07-30 12:53] luixxiul commented on #10072
I'm not sure of the benefit of either upgrading or downgrading. Still, if displaying the warning messages can be suppressed by configuration, that seems to me better than downloading.

If you are sure that downgrading does not block a future upgrade, I don't think it is not a bad idea to do so. Still, if the workaround would reduce the warning messages as much as we could endure, I think implement

[2017-07-30 13:15] NejcZdovc commented on #10072
Benefit of downgrading is removal of this notifications which are really annoying and they can be time consuming when you are going though tests.

I think that we should just lock it because even core team said to do so. With upgrade we don't benefit anything really (AFAIK) and if we upgrade we would need to spend quite some dev time doing a lot of workaround to fix everything. I think it's jus no

[2017-07-30 13:35] luixxiul commented on #10072
CC @bbondy for a final call.

[2017-07-30 13:38] luixxiul commented on #10205
I manually tested and LGTM. I'm opening a PR for that.

[2017-07-30 13:41] luixxiul commented on #10126
I added `release-notes/include` as I thought react update was worth announcing. Please replace it with release-notes/exclude if not, thanks.

[2017-07-30 13:42] luixxiul commented on #10201
Are there browsers out there that support the function? I'm not sure.

[2017-07-30 13:45] luixxiul commented on #5415
I'm going to close this thread as the site has been offline for a while.

[2017-07-30 13:45] #5415 closed

[2017-07-30 13:46] luixxiul commented on #1368
I'm closing this issue as the site has been offline for a while.

[2017-07-30 13:46] #1368 closed

[2017-07-30 13:51] luixxiul commented on #10044
@darkdh would you mind specifying the manual test plan? thanks!

[2017-07-30 13:53] luixxiul commented on #10043
@darkdh would you mind specifying the manual test plan? thanks!

[2017-07-30 13:57] luixxiul commented on #10185
Thanks for the report. That issue is tracked here: https://github.com/brave/browser-laptop/issues/344

[2017-07-30 13:57] #10185 closed

[2017-07-30 14:20] synlic commented on #3101
Same issue here. Using freshly installed Archlinux.

[2017-07-30 15:05] luixxiul opened #10207 "Update extensionsTab.js to BEM style"
**Describe the issue you encountered:** Update extensionsTab.js to BEM style.

- Platform (Win7, 8, 10? macOS? Linux distro?): All

- Brave Version (revision SHA): master branch

- Extra QA steps:
    1. Open `about:preferences#extensions`
    2. Make sure the table is properly displayed
    3. Scroll the page to the bottom
    4. Make sure the information div has `margin-bottom: 40px`

- Any rela

[2017-07-30 15:59] mannp commented on #3756
Wondered if there are any updates on this one at all?

Seems you may have a solution? but its been pushed back to v1.1 release.

[2017-07-30 17:17] Jacalz commented on #8697
+1 from the community

[2017-07-30 17:19] Jacalz commented on #8697
+1 [from the community](https://community.brave.com/t/minimizing-the-brave-browser-window-leaves-the-minimize-tooltop-balloon-up/2649/20?u=jacalz)

[2017-07-30 17:20] Jacalz commented on #8697
+1 [from the community](https://community.brave.com/t/minimizing-the-brave-browser-window-leaves-the-minimize-tooltop-balloon-up/2649/19?u=jacalz)

[2017-07-30 17:21] Jacalz commented on #8697
+1 [from the community](https://community.brave.com/t/minimizing-the-brave-browser-window-leaves-the-minimize-tooltop-balloon-up/2649/23?u=jacalz)

[2017-07-30 17:21] Jacalz commented on #8697
+1 [from the community](https://community.brave.com/t/minimizing-the-brave-browser-window-leaves-the-minimize-tooltop-balloon-up/2649/24?u=jacalz)

[2017-07-30 17:22] Jacalz commented on #8697
+1 [from the community](https://community.brave.com/t/minimizing-the-brave-browser-window-leaves-the-minimize-tooltop-balloon-up/2649/26?u=jacalz)

[2017-07-30 17:23] Jacalz commented on #8697
+1 [from the community](https://community.brave.com/t/minimizing-the-brave-browser-window-leaves-the-minimize-tooltop-balloon-up/2649/27?u=jacalz)

[2017-07-30 17:24] Jacalz commented on #8697
Sorry for the spam but I had forgot to +1 a lot of comments :sweat_smile:

[2017-07-30 17:43] kspearrin commented on #10202
Updated with a few more testing on my windows laptop. One critical issue discovered with autofill.

[2017-07-30 18:10] jonathansampson commented on #10202
@kspearrin Thank you! We'll take a look asap.

[2017-07-30 22:04] #10205 closed

[2017-07-30 22:04] DivineOmega commented on #9193
I have been fixing this issue myself with each new release by modifying the file at `/usr/share/applications/brave.desktop`.

The `Exec` line must be changed from `Exec=brave %U` to `Exec=brave -- %U`.

Could this be as simple as shipping a modified `brave.desktop` file?

[2017-07-30 22:06] bsclifton commented on #10097
Closing this issue because it's not required and there hasn't been any input

[2017-07-30 22:06] #10097 closed

[2017-07-30 22:12] bsclifton commented on #9193
@DivineOmega yes, it could definitely be that easy 😄  Does Gnome consider that file when opening from Thunderbird, etc?  If so, I think we have our fix 😄

[2017-07-30 22:13] DivineOmega commented on #9193
@bsclifton I've not specifically tested Thunderbird, but it certainly works for all other external applications.

[2017-07-30 22:14] DivineOmega commented on #9193
This issue seems very related to https://github.com/brave/browser-laptop/issues/7090.

[2017-07-30 22:17] bsclifton commented on #9193
@DivineOmega did you want to take a stab at this? I think if you submitted a PR, you'd knock out both issues 😄  If not, maybe you can share your fix here and I can submit on your behalf?

[2017-07-30 22:19] bsclifton commented on #7090
Closing this as a duplicate of https://github.com/brave/browser-laptop/issues/9193 (which has more information and steps).  Thanks for helping ID the issue and fix, @DivineOmega 😄

[2017-07-30 22:19] #7090 closed

[2017-07-30 22:30] DivineOmega commented on #9193
@bsclifton I can submit a PR, but I'm struggling to find where the `brave.desktop` file is located/generated. It doesn't seem to be part of the main `browser-laptop` repo.

I imagine it is part of the release process which generates the `.deb` file. Could you point me in the right direction?

[2017-07-30 22:48] bsclifton commented on #9193
@DivineOmega ah, yeah this appears to be a little more involved

A quick grep shows the files here:
[code]

Which means we may have to upstream the change OR fork the repo and make the change there

Based on what you contributed to our wiki, I think that we would edit the file like this:
before: `<% } %><% if (name) { %>Exec=<%= name %> %U`
after: `<% } %><% if (name) { %>Exec=<%= name %> -- %U`

[2017-07-30 22:50] bsclifton commented on #9193
@crysman @Aninstance @LoveIsGrief can you please try adding `--` to the part before the `%U` in your desktop file?  I believe this great suggestion by @DivineOmega will resolve the issue. If this works, I'd be more than happy to make the change 😄

[2017-07-30 22:55] Aninstance commented on #9193
I can confirm @DivineOmega solution fixes the issue for me. The external application in my case is the Buku bookmark manager. After adding the double hyphen as a command line option in the .desktop file, it works as expected.

I understand that some distros do not accept a double hyphen as a command line option in the .desktop file. Perhaps this config might be considered instead, which caters for

[2017-07-30 23:25] lukemulks commented on #3101
+1 issue reference from basicattentiontoken.rocket.chat contributor.
https://basicattentiontoken.rocket.chat/channel/brave-browser?msg=ZHpNmonumxDETFdmN

[2017-07-31 01:35] kspearrin commented on #10202
@jonathansampson Added 2 new issues for macbook, see 4 and 5 above. 5 is a high priority.

[2017-07-31 01:54] kspearrin commented on #10140
See #10202 for more details, but this is happening because of missing APIs on `chrome.contextMenus`

[2017-07-31 02:45] luixxiul commented on #8283
Updating npm to the current stable version, you get npm5 and `package-lock.json`. Should we add it to `.gitignore` temporarily since #9691 was closed?

[2017-07-31 02:47] dfperry5 commented on #9053
Hi guys,

Anyone taken a stab at this yet? Im just starting into OSS and would like to give it a shot.

Thanks!

[2017-07-31 02:51] luixxiul opened #10209 "Error generating docs for file windowActions.js"
**Describe the issue you encountered:**

[code]

- Platform (Win7, 8, 10? macOS? Linux distro?):

- Brave Version (revision SHA): master branch

- Steps to reproduce: `git commit`

- Actual result: See above

- Expected result: the error should not happen

- Any related issues:

[2017-07-31 04:13] posix4e commented on #6946
Got it. . I'm ok with a new binary

[2017-07-31 05:19] luixxiul opened #10210 "Brave cannot be installed on openSUSE Leap"
**Describe the issue you encountered:** Brave cannot be installed on openSUSE Leap. #10107 is not enough as it fixes installation on Tumbleweed only, according to @mati865.

- Platform (Win7, 8, 10? macOS? Linux distro?): openSUSE Leap

- Brave Version (revision SHA): master branch

- Steps to reproduce: `LANG=C sudo zypper in '~/.brave-0.20.0.x86_64.rpm'`

- Actual result: it does not install bra

[2017-07-31 05:19] luixxiul commented on #6946
I created a new issue for installation on openSUSE Leap: #10210.

[2017-07-31 05:20] luixxiul commented on #10210
Note: the fix for this issue should close #6946 as well.

[2017-07-31 06:56] bsclifton commented on #9053
@dfperry5 nope, it's all yours 😄  Let me know if you have any questions / need help / want someone to try out your changes 😄

[2017-07-31 07:15] #10122 closed

[2017-07-31 07:24] bsclifton commented on #10122
This is kind of an anomaly case... @darkdh do you mind writing up some manual QA steps and/or creating a sample session file (and attaching) for QA to use?

[2017-07-31 07:26] bsclifton commented on #10104
I think it's been called out elsewhere... but when this happens to me, I can minimize/restore Brave or switch to another app and then switch back and the cursor seems to magically reappear

[2017-07-31 07:46] srirambv opened #10211 "Adblock fails to load Video on https://www.rtl.nl"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Reported from community

- Platform (Win7, 8, 10? macOS? Linux distro?):
All

- Brave Version (revision SHA):
Guessing its latest. Checked on 0.19.1

- Screenshot if needed:

- Any related issues:
cc: @lukemulks

[2017-07-31 08:29] bsclifton commented on #9193
@Aninstance this syntax worked great! 😄  I'll wrap up a fix tomorrow and get a demo package up for everyone to try. We should be able to fix this next release

[2017-07-31 12:34] mcaple commented on #3555
A small help on the Mac while waiting is the fact that the windows are still related so using Cmd + ` does toggle between the browser and devtools once devtools has been shown once.

[2017-07-31 13:33] srirambv commented on #10179
@diracdeltas does quitting the browser and restart restores the original amount of pinned tabs? https://github.com/brave/browser-laptop/issues/10053 could be related to this as well

[2017-07-31 13:58] srirambv opened #10212 "Enpass not recognized even with "Enable Browser Extension" in app"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Enpass not recognized even with "Enable Browser Extension" in app

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):

Brave | 0.19.1
-- | --
rev | f630692
Muon | 4.4.4

- Steps to reproduce:
    1. Build from f630692
    2. Install Enpass App

[2017-07-31 14:20] srirambv commented on #6508
+1 from community https://community.brave.com/t/where-do-cancelled-download-files-go-want-to-resume/5027/

[2017-07-31 14:27] LaurenWags commented on #545
+1 from community: https://community.brave.com/t/similar-about-config/5088

Specifically user would like to see these items on this page: WebRTC; webgl; Prefetch; disableIPv6; Referer Header; enable or disable 3DES cipher; HTML5 ping

[2017-07-31 14:39] srirambv commented on #3669
+1 from community https://community.brave.com/t/scrolling-bug-with-laptop-use/3706/

[2017-07-31 14:50] crysman commented on #9193
changing to
`Exec=brave -- %U`
does not help in my case :/
using Xubuntu 16.10 and Brave 0.17.19 rev	4e46480

It opens a new brave window only when brave has not been running already. Moreover, it opens a new window, not a new tab (The first windows contains the tabs left when I closed brave last time).

When brave is running already, the window manager focuses the existing brave window, but no ne

[2017-07-31 15:09] srirambv opened #10213 "Metamask: Menu items are not shown properly"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Metamask: Menu items are not shown properly

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):

Name | Version
-- | --
Brave | 0.19.1
rev | f630692
Muon | 4.4.4

- Steps to reproduce:
    1. Enable MetaMask and generate password
    2. Click on th

[2017-07-31 16:17] bsclifton commented on #10062
@luixxiul if you upgrade, please be sure not to use the ^ in the version 😄  (ex: prefer "1.2.3" over "^1.2.3")

[2017-07-31 16:23] HP4k1h5 opened #10214 "Clipboard copies URL instead of text selected on webpage"
- Did you search for similar issues before submitting this one?
yes
- Describe the issue you encountered:
copy and paste non-functioning, seems "stuck" on URL or other page feature

- Platform (macOS sierra 10.12.5):

- Brave Version (0.8.14):

- Steps to reproduce:
    1. Visit a site which has text you can select (ex: https://brave.com)
    2. Click into the URL bar. Ensure all text is selected

[2017-07-31 16:41] dfperry5 commented on #9053
@bsclifton Awesome :) I'll get right on it - I'll be working in the airports today so no promises on anything today, but ill try to have something to share soon!

Thanks!

[2017-07-31 17:02] Garbee commented on #6946
@luixxiul *This* issue is already about Leap. Why open a new one?

[2017-07-31 17:33] darkdh commented on #10044
Test Plan
---
1. Go to usr dir and `sqlite3 Cookies`
2. `select host_key, name, value, encrypted_value from cookies;`
3.  you will see value is empty and we have encrypted_value (before this change, you can see a plaintext value and an empty encrypted_value)

[2017-07-31 17:56] darkdh commented on #10043
Test plan
---
1. Go to chrome's user folder and `sqlite3 Cookies`
2. `insert into cookies (creation_utc, host_key, name, value, path, expires_utc, secure, httponly, last_access_utc) values (13145664238592695, '.brave.com', 'brave_test', 'test', '/', 13177200238592692, 1, 1, 13145666083244049);` <=== test for strict secure cookies
3. `insert into cookies (creation_utc, host_key, name, value, path,

[2017-07-31 18:00] bsclifton commented on #10072
I agree with the recommendation by @NejcZdovc, which is what the core members / maintainers for WebDriver.io recommend:

https://github.com/webdriverio/webdriverio/issues/2076#issuecomment-304981623

and

https://github.com/webdriverio/webdriverio/issues/2076#issuecomment-309724115

@luixxiul unless you're willing to support WebDriver issues when they arise and help with fixing broken tests, I don

[2017-07-31 18:00] #10072 closed

[2017-07-31 18:08] bsclifton commented on #9193
@crysman can you please try with this syntax? I'm hoping this works for you 😄
`Exec=sh -c "brave -- %U"`

[2017-07-31 18:12] darkdh commented on #8581
@Samizdata , did you try Chrome to see if the HDCP error occurs?

[2017-07-31 18:35] Samizdata commented on #8581
@darkdh Admittedly I hadn't tried it for a while, but I just tested and it worked without a hitch.

[2017-07-31 18:37] Samizdata commented on #8581
Also, FWIW, it has always worked in Firefox.

[2017-07-31 18:48] bsclifton commented on #8581
@Samizdata it's working in Chrome or Brave?

[2017-07-31 18:48] darkdh commented on #10122
Please use attached session file to test. Thanks
[session-store-1.zip](https://github.com/brave/browser-laptop/files/1188527/session-store-1.zip)

[2017-07-31 18:59] Samizdata commented on #8581
@bsclifton Sorry.  It is working in Chrome and Firefox, but **NOT** in Brave, nor has it ever.

[2017-07-31 20:53] diracdeltas commented on #10179
@srirambv quitting and restarting seems to always duplicate the pinned tabs in 0.18.14.

[2017-07-31 21:07] #10188 closed

[2017-07-31 21:38] LaurenWags opened #10217 "TVGuide.com displaying ads"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
tvguide.com is displaying ads when Block Ads is enabled.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Reported on MacOS

- Brave Version (revision SHA):
Brave | 0.18.14
rev | ad92d02
Muon | 4.3.6

- Steps to reproduce:
    1. Verify Block Ads is enabled by default.
    2. Navigate to http

[2017-07-31 21:43] posix4e commented on #6946
Working on a fix for this

[2017-07-31 22:04] eljuno commented on #10217
It's blocked on my laptop.
Win 8.1 x64
Brave 0.18.14 (ad92d02)
Muon 4.3.6
![brave-tvlistings](https://user-images.githubusercontent.com/25360853/28800279-2e0d8c26-7676-11e7-85d6-1ab3447642c2.png)

[2017-07-31 22:31] #9008 closed

[2017-07-31 22:31] #9143 closed

[2017-07-31 22:31] #9171 closed

[2017-07-31 22:50] jonathansampson commented on #10140
Working on this now with @kevinlawler. We've identified the needed fix, and are working towards resolving.

[2017-07-31 22:50] jonathansampson commented on #10202
@kspearrin Working on resolving #10140 right now.

[2017-07-31 22:59] neddy-io commented on #8991
I'm having the same issues with github and coinbase.

If I disable dashlane, all works fine.

[2017-08-01 00:39] Garbee commented on #6946
That RPM seems to have one dependency issue. `libXScrnSaver`. If that is ignored, it appears to successfully install.

<details>
<summary>Output</summary>

[code]

</details>

[2017-08-01 01:24] cezaraugusto commented on #10051
# baby steps to make it cool

for the person interested: we render the title for titleMode in urlBar component, most precisely in [this line](https://github.com/brave/browser-laptop/blob/master/app/renderer/components/navigation/urlBar.js#L377). A safe way to solve this is to install the `emoji-regex` module, which is a small package made just for emojis:

[code]

you can check our `package.json`

[2017-08-01 01:36] bsclifton commented on #10214
@HP4k1h5 thanks for the report! 😄  I have seen this (or something like it) too (and I know others have- cc: @bbondy, @jonathansampson)

[2017-08-01 01:39] bsclifton commented on #9053
@dfperry5 how's it going? Just wanted to check in 😄  Hope all is well

[2017-08-01 02:31] #10153 closed

[2017-08-01 02:31] haflg19 opened #10218 "Brave Shield Blocks Videos from Loading and Pop-Ups Bypassing Shield"
- Did you search for similar issues before submitting this one?
  Yes, see related issues at bottom, no issues for exact same problems though.

- Describe the issue you encountered:
  Some things that should not be are (only partly? idk.. the player is still visible but nothing plays) blocked by Brave Shields. For example, the videos in the feed under a twitch stream, only sit on a black screen wh

[2017-08-01 02:39] haflg19 commented on #10201
@luixxiul I don't know about Browsers, but I know that Atom (the text editor) supports this functions, and I know I just recently, as in the last few days installed something that supports this function, but I cannot for the life of me remember what that software is.

I mainly made this response to request that, when zoom scrolling, the user should probably recieve some indication of what percenta

[2017-08-01 02:49] luixxiul commented on #10062
Here's a discussion if another variable should be applied to minify classname: https://github.com/Khan/aphrodite/pull/246#issuecomment-319047097

[2017-08-01 03:25] luixxiul commented on #10201
+1. I'm opening a new issue to track the suggestion.

[2017-08-01 03:29] luixxiul opened #10219 "Display zoom level while zooming with keyboard shortcuts"
**Describe the issue you encountered:**  https://github.com/brave/browser-laptop/issues/10201#issuecomment-319251693 by @haflg19

+1 from me.

- Platform (Win7, 8, 10? macOS? Linux distro?): All

- Brave Version (revision SHA): master branch

- Steps to reproduce:
    1. Zoom in/out with keyboard shortcuts

- Actual result: Nothing is displayed which indicates the zoom percentage.

- Expected resu

[2017-08-01 03:55] luixxiul opened #10220 "Disable tooltip"
**Describe the issue you encountered:** https://community.brave.com/t/ux-disabling-tooltips-on-brave/5181?u=suguru

- Platform (Win7, 8, 10? macOS? Linux distro?): All

- Brave Version (revision SHA): master branch

- Extra QA steps:
    1.
    2.
    3.

- Any related issues:

[2017-08-01 04:32] bridiver commented on #10089
this needs STR

[2017-08-01 04:39] miurahr commented on #10059
OK, This is a result of the brave behavior in design. It may be better to help users to understand he/she need to configure exceptions by theirselves when credit card transaction by document or suggestion.

It is a little bit  stressful for me, as an one of ordinal consumers, to see a credit transaction failure. :-\

[2017-08-01 04:42] bsclifton commented on #10089
@bridiver steps added 😄

[2017-08-01 04:47] jonathansampson commented on #10140
The following resolves this issue, but likely isn't ideal. @kevinlawler, can you suggest a better place to make a similar modification?

[code]

[2017-08-01 04:51] kspearrin commented on #518
bitwarden supports U2F login and since Brave's user agent is the same as Chrome there is no way for us to filter it out as unsupported. This causes the U2F screen during login to always show as the default for users that have configured U2F on their account (as opposed to one of their backup methods such as authenticator app).

[2017-08-01 04:52] dfperry5 commented on #9053
@bsclifton It's going good :) Just a lot of reading through the code, etc :P Been a lot of just sitting in airports today.  Also, just trying to make sure i have the process correct.

It's cool if i just cut my own branch off master, and just start committing to that? I can post the branch name here so everyone can check it out?

Thanks!

[2017-08-01 05:02] jonathansampson commented on #9436
I believe this is the same issue as https://github.com/brave/browser-laptop/issues/6015#issuecomment-268761257.

[2017-08-01 05:02] jonathansampson commented on #6015
I believe this is the same issue as #9463.

[2017-08-01 05:04] Liunkae commented on #10219
Duplicate of #1623.

[2017-08-01 05:04] #10219 closed

[2017-08-01 05:04] Liunkae commented on #1623
+1 from #10219.

[2017-08-01 05:05] kspearrin commented on #9436
Also, this only seems to happen on windows. I didn't notice this on my MacBook.

[2017-08-01 05:09] luixxiul commented on #10219
nice find, thanks

[2017-08-01 05:11] dfperry5 commented on #9053
So just to further clarify this issue --

The issue is when the user is enabling auto fill and filling out their address information. At that point, the input for country / region should be a dropdown?

[2017-08-01 05:19] Liunkae commented on #10201
Firefox allows this with the "advanced" settings in about:config (`mousewheel.with_meta.action`). IMO, this setting should definitely be added if Brave gets about:config (#545).

[2017-08-01 05:19] jonathansampson commented on #9436
@kspearrin You're correct; I've never heard anybody complain about this on macOS or Linux.

[2017-08-01 05:32] Liunkae commented on #9247
Is this something that needs to be fixed by Firefox? I assume Firefox does not understand the format of Brave's config data.

[2017-08-01 05:44] Liunkae commented on #7073
Brave now uses the Chromium spell checker (#9880).

[2017-08-01 05:50] bsclifton commented on #9053
@dfperry5 when you visit `about:autofill`, it currently has text fields for all values.
![screen shot 2017-07-31 at 10 45 17 pm](https://user-images.githubusercontent.com/4733304/28811101-01223c4a-7642-11e7-8cbf-7d718a0d5220.png)

We need to update our form to have a dropdown instead, offering a common selection of countries. I'd recommend getting it working with a few countries first to make sure

[2017-08-01 05:52] bsclifton commented on #9053
for a demo of how to do a dropdown using our code, navigate over to `about:styles`. You'll see a few live examples and the React code used to generate them.  The above form can be found here:
https://github.com/brave/browser-laptop/blob/117d8e39e43962946532e9c154acd9b62fa00e8b/js/about/autofill.js

[2017-08-01 05:54] dfperry5 commented on #9053
@bsclifton awesome! I'll comment back here once I have something working (most likely tomorrow evening est time)!

Thanks for all the help!

[2017-08-01 06:03] bsclifton commented on #7073
@Liunkae thanks for finding/updating this 😄  I know @bbondy has thought about merging the adblock code into Muon

[2017-08-01 06:12] luixxiul opened #10221 "Visited link color does not get reset"
**Describe the issue you encountered:** Visited link color does not get reset.

Reported on https://community.brave.com/t/bug-report-on-clear-browsing-history-when-i-close-brave/5192?u=suguru

Brave: 0.18.14
rev: ad92d029e184c4cff01b2e9f4916725ba675e3c8
Muon: 4.3.6
libchromiumcontent: 60.0.3112.78
V8: 6.0.286.44
Node.js: 7.9.0
Update Channel: dev
OS Platform: Microsoft Windows
OS Release: 10.0.150

[2017-08-01 06:13] bsclifton commented on #9053
@dfperry5 perfect! You can fork Brave and start committing locally.  Once you feel confident, you can submit a pull request (if you need help working with forks or git, let me know and we'll work it out 😄 )

[2017-08-01 06:19] luixxiul commented on #10117
I remember that @bradleyrichter agreed with this.

[2017-08-01 06:23] luixxiul commented on #5800
+1 from here: https://community.brave.com/t/cannot-unpin-tabs/2369/9?u=suguru

[2017-08-01 06:31] luixxiul commented on #5590
I almost forgotten about the initial issue, but I reported with this:

So I assume the history has not been just hidden but cleared.

@NejcZdovc does the PR you're working on, #10136, fix the issue as well?

[2017-08-01 06:35] NejcZdovc commented on #5590
@luixxiul I don't have any clear functions in there, but we have hard limit there were we only display 500 history entries. But we still keep all record past that number in session.

[2017-08-01 08:48] NejcZdovc opened #10223 "downloadItem tests are failing"
**Describe the issue you encountered:**
Tests are failing. This tests started failing after this PR was merged #9864

https://travis-ci.org/brave/browser-laptop/jobs/258747356#L3835
[code]

[2017-08-01 08:53] luixxiul commented on #10223
It looks like because `[data-test-id="redownloadButton"]` etc is not specified for the buttons such as https://github.com/brave/browser-laptop/blob/dec236fdf5b512a957d39425c523cb7520bf557c/app/renderer/components/download/downloadItem.js#L193

[2017-08-01 08:55] NejcZdovc commented on #10223
also when you cancel a download item I get this error
[code]

[2017-08-01 08:57] NejcZdovc commented on #10223
ok will take a quick look into both of this problems

[2017-08-01 08:57] jonathansampson opened #10224 "Extension Popup Not Showing"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Extension popups, at times, do not show.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Desktop

- Brave Version (revision SHA):
0.19.1

- Steps to reproduce:
    1. Enable Bitwarden
    2. Navigate to github.com
    3. Click Bitwarden browserAction icon

- Actual result:
Nothing happens

-

[2017-08-01 09:02] NejcZdovc commented on #10223
ok bug found, will create a PR

[2017-08-01 09:54] NejcZdovc commented on #9320
I am pushing this back because this is not a new bug and this issue didn't have milestone before #10148 was created

[2017-08-01 10:22] luixxiul commented on #10218
Re KissAnime: it is technically an ad though it is a pop-up messageBox. Also currently we don't block the 1st party ad. And, unless KissAnime is a pirate site, it is not worth fixing.

Re twitch: if you allow 3rd party cookie on the site via the lion icon, the video is loaded.

[2017-08-01 10:40] luixxiul opened #10226 "Remove keytar dependency"
**Describe the issue you encountered:**

Remove keytar dependency. See: https://github.com/brave/browser-laptop/pull/10227#issuecomment-319519959

- Platform (Win7, 8, 10? macOS? Linux distro?): All

- Brave Version (revision SHA): master branch

- Extra QA steps:
    1.
    2.
    3.

- Any related issues:

[2017-08-01 11:33] srirambv opened #10228 "Wacom Tablet Intermittent Pen click functionality after update"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Wacom Tablet Intermittent Pen click functionality after update

- Platform (Win7, 8, 10? macOS? Linux distro?):
iMac (Retina 5K, 27-inch, Late 2014)
4 GHz Intel Core i7
16 GB 1600 MHz DDR3
AMD Radeon R9 M290X 2048 MB

- Brave Version (revision SHA):
Brave	0.18.14
rev	ad92d02
Muon	4.3.6

- Ste

[2017-08-01 12:18] #10223 closed

[2017-08-01 12:54] inertialize opened #10229 "When open in one tab too long, cannot access other already opened tabs"
- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:
When the browser is open on a single tab for too long, other open tabs become inaccessible without closing and reopening brave.  The only accessible tab can open new tabs that can be accessed, but the other active tabs are not active.  The ability to preview is still maintained, but clicking o

[2017-08-01 13:01] srirambv commented on #10229
Similar to #9865  #10094

[2017-08-01 13:31] inertialize commented on #10229
is there a fix?

[2017-08-01 13:32] LaurenWags commented on #1374
+1 from community user who wants a different keyboard shortcut: https://community.brave.com/t/make-please-f3-search-on-page/3628

[2017-08-01 13:42] LaurenWags opened #10230 "Add ability for bookmarks to open in a new tab"
Request from community: https://community.brave.com/t/open-of-bookmarks-toolbar/4120

Good Day Devs and Community,

I realised just now that a feature I would really love to see in Brave is how it behaves when opening bookmarks.
Let's say you have one tab open and you're on a website browsing, it would be awesome if one can then select a bookmark (toolbar or otherwise), click on it and Brave opens

[2017-08-01 13:44] LaurenWags commented on #10230
Similar to https://github.com/brave/browser-laptop/issues/4313 but not right-click.

[2017-08-01 13:46] brianduguid commented on #2184
I have always had this issue and I am currently on 0.18.14.  I have lost track on how many updates I have manually performed.  Four or five maybe?  I have to download the latest version, close Brave, and do a replace install.  When I attempt the update from the popup message, the browser will close, reopen, and show that I need to update.

I do not have any folders referencing brave in my Applicat

[2017-08-01 15:35] Jacalz commented on #8697
+1 from the community
https://community.brave.com/t/ux-disabling-tooltips-on-brave/5181

[2017-08-01 15:59] cezaraugusto commented on #9743
cc @kjozwiak

[2017-08-01 16:14] drasbeck opened #10231 "ctrl + tab not working with Rocket.Chat"
# Description:

When using the chat service [rocket.chat](https://rocket.chat/) via Brave browser, ctrl + tab does not work as intended. I am connecting to demo.rocket.chat from Brave browser version 18.14 on macOS 10.12.6

# How to reproduce:

Enter a channel or a direct message, i.e. not 'Administration', activate the message input.
# Expected behavior:

ctrl + tab should let user select next br

[2017-08-01 16:31] bsclifton commented on #10089
See notes in Chromium review by @bridiver for more info:
https://codereview.chromium.org/2888203006

[2017-08-01 16:33] Liunkae commented on #10230
You can already do this with Ctrl/Cmd+Click on any bookmark.

[2017-08-01 16:52] kevinlawler commented on #10140
Seems fine to me. If there's a better place I don't know where it is.

[2017-08-01 16:57] bsclifton commented on #9193
@crysman @DivineOmega @Aninstance @LoveIsGrief here is a packaged build which has the fix if you'd like to preview it here and confirm:
https://github.com/brave/browser-laptop/releases/tag/v0.18.15dev

During the install, the desktop file should get modified appropriately 😄

[2017-08-01 17:12] #10133 closed

[2017-08-01 17:13] jonathansampson commented on #10140
@kevinlawler I'm going to look at adding it here: https://github.com/brave/browser-laptop/blob/fb844bb3f202254b1948f9fa3115faa3bbb86b5f/app/common/state/extensionState.js#L151

[2017-08-01 17:17] davidcelis commented on #1268
An exception would also be necessary to [allow Duo Security to remember devices](https://help.duo.com/s/article/ka070000000fzu6AAA/2189?language=en_US); I currently have to authenticate much more often on Brave than other browsers

[2017-08-01 17:18] alexwykoff commented on #10213
If this is fixed soonish we can move it back up to 0.19.x

[2017-08-01 17:18] alexwykoff opened #10232 "Hide enpass & metamask for 0.19"
## Test plan
See https://github.com/brave/browser-laptop/pull/10246

[2017-08-01 17:23] posix4e commented on #6946
@Garbee  shall I remove it? Here's my branch https://github.com/posix4e/browser-laptop/tree/suse

[2017-08-01 17:28] davidcelis opened #10233 "1Password Context Menu opens again automatically after filling in form on macOS Sierra"
- Describe the issue you encountered:

Pressing the 1Password extension's button and then clicking a login item fills in the password but then re-opens the 1Password menu an additional time. I then have to click elsewhere to close it.

- Platform (Win7, 8, 10? macOS? Linux distro?):

macOS Sierra 10.12.6

- Brave Version (revision SHA):

ad92d029e184c4cff01b2e9f4916725ba675e3c8

- Steps to reprodu

[2017-08-01 17:32] #10104 closed

[2017-08-01 17:33] bsclifton commented on #10104
Marking as closed- @luixxiul said this should be fixed by https://github.com/brave/browser-laptop/pull/10165

[2017-08-01 17:41] jonathansampson opened #10235 "Optimization Opportunities in extensionState"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
The extensionState module can be optimized in many places.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Desktop

- Brave Version (revision SHA):
0.19.1

- Steps to reproduce:
N/A

- Actual result:
N/A

- Expected result:
N/A

- Will the steps above reproduce in a fresh profile? If not wha

[2017-08-01 17:42] alexwykoff commented on #9651
this is covered by https://github.com/brave/browser-laptop/issues/10054

[2017-08-01 17:42] #9651 closed

[2017-08-01 17:43] luixxiul opened #10236 "Restructure paymentsTab with grid property"
## Test plan

https://github.com/brave/browser-laptop/pull/10238#issue-247151904

----

**Describe the issue you encountered:** Restructure paymentsTab with display:grid. It is more simple than using display:table.

- Platform (Win7, 8, 10? macOS? Linux distro?): All

- Brave Version (revision SHA): master

- Extra QA steps:
    1. Open `about:preferences#payments`
    2. Enable payments
    3. Ma

[2017-08-01 17:43] darkdh commented on #10140
@jonathansampson extensionState would be the perfect place to add.

[2017-08-01 17:44] NejcZdovc commented on #10233
is happening for me as well

[2017-08-01 17:45] jonathansampson commented on #10140
@darkdh Working on adding it there. I just issued a PR to first optimize much of extensionState, and assigned it to you for review :)

[2017-08-01 17:46] #10186 closed

[2017-08-01 18:11] bbondy opened #10239 "Use better name mappings for channels on about:brave"
We should map the following identifiers in about:brave to the real channel name:

This will avoid people using the confusing internal names to refer to the channels.

dev -> Release
beta -> Beta
developer -> Developer
nightly -> Nightly

[2017-08-01 18:16] darkdh commented on #9053
@dfperry5, please set `The ISO 3166 2-letter country code` for the value. you can find the code here
https://www.iso.org/obp/ui/#search/code/

I remember @aekeus has the country list for add funds. Maybe he can give some input.

[2017-08-01 18:27] #10235 closed

[2017-08-01 18:43] luixxiul commented on #10235
I added `release-notes/include` as I thought every perf improvement should be mentioned :-)

[2017-08-01 18:48] Garbee commented on #6946
I get a 404 checking your branch. Seems to be private.

I'll take a look at that requirement in a little bit and get back to you. It may just be another thing that needs a new name.

[2017-08-01 19:15] eljuno commented on #10221
Related to #9351?

[2017-08-01 19:41] bsclifton commented on #10239
@baoqchau would you be interested in this one? It would be pretty similar to the fix you did with https://github.com/brave/browser-laptop/pull/10047

We just need a mapping between the channel (ex: `dev`) and the human readable name (ex: `Release`) 😄

[2017-08-01 19:42] czebiniak commented on #1313
+1 for KeePass integration

[2017-08-01 20:46] darkdh commented on #10045
Test Plan
---
1. Visit http://www.html-kit.com/tools/cookietester/ on Chrome/Chromium
2. Set cookie
3. Import from Chrome/Chromium
4. You should be able to view the cookie you set on Chrome/Chromium

[2017-08-01 20:54] diracdeltas opened #10240 "make sure we pass basic Electron security audit"
Most of https://doyensec.com/resources/us-17-Carettoni-Electronegativity-A-Study-Of-Electron-Security-wp.pdf does not apply to Muon but we should go through it anyway and make sure we don't have any security gaps.

[2017-08-01 22:19] darkdh opened #10241 "Fix issue where pinned tab can't be really unpinned"
## Test Plan
1. Go to feedly.com
2. Pin the tab
3. Bookmark it and change the location to https://feedly.com
4. Unpin the pinned tab
5. Relaunch Brave
6. There shouldn't be any pinned tab

## Original issue description
- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:
Pinned tabs reappear next load after unpinning
- Platform (Win7, 8, 10? mac

[2017-08-01 22:48] HelterBelter commented on #4473
+1
Win 8.1 on dual-screen (laptop & external LCD - - external LCD is primary screen)
And same as reported above, if I maximize on secondary screen taskbar will appear

[2017-08-01 23:26] bsclifton commented on #8697
Because the underlying issue is in Chromium, I put together a fix we can use until that is fixed. The fix is to simply remove the tooltip. Under the hood, there is still an [aria-label](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_aria-label_attribute) in the case that a screenreader is looking for information

Pull request is up here and (if approved)

[2017-08-01 23:45] #8697 closed

[2017-08-01 23:46] bsclifton opened #10244 "Show tooltips over "Minimize", "Maximize", and "Close" buttons on Windows"
The tooltips were originally implemented but was reverted to solve https://github.com/brave/browser-laptop/issues/8697

The issue is captured upstream
- [in electron](https://github.com/electron/electron/issues/9943)
- [in Chromium](https://bugs.chromium.org/p/chromium/issues/detail?id=724538)

When the root cause is fixed, this issue can be solved by reverting the following commit https://github.

[2017-08-02 00:11] dfperry5 commented on #9053
@bsclifton I think i have it working on my local. I forked the repo [here](https://github.com/dfperry5/browser-laptop).

I was trying to commit but, but I'm failing the pre-commit hook:
"Error generating docs for file windowActions.js SyntaxError: Unexpected end of JSON input"

Any ideas?

[2017-08-02 04:11] luixxiul commented on #10226
Renamed the title based on the discussion here: https://github.com/brave/browser-laptop/pull/10227#issuecomment-319426917

[2017-08-02 04:30] luixxiul opened #10245 "Add Panel Dropdown to styles.js"
## Test plan
https://github.com/brave/browser-laptop/pull/10238#issue-247151904
1. Open about:styles#dropdowns
2. Make sure PanelDropdown appears there

----

**Describe the issue you encountered:** Add Panel Dropdown to styles.js.

- Platform (Win7, 8, 10? macOS? Linux distro?): all

- Brave Version (revision SHA): https://github.com/brave/browser-laptop/pull/10238/commits/212f7cba5a0bd2744180f49

[2017-08-02 05:43] bsclifton commented on #9053
@dfperry5 ah that error... Yeah, we need to fix that ([captured here](https://github.com/brave/browser-laptop/issues/10209))

In the meantime, you can edit `package.json` and just replace the part under "scripts":
`"docs": "jsdox js/actions/appActions.js js/actions/windowActions.js --output docs",`

with something like:
`"docs": "echo docs",`

That should let you add your files and commit 😄  I'd l

[2017-08-02 05:54] bsclifton commented on #10233
This appears to be a bug with 1Password; I'll contact the developers for next steps

[2017-08-02 06:15] bsclifton commented on #10233
Tried to reproduce on Windows, but selecting the password from the helper doesn't do anything :(

[2017-08-02 06:25] bsclifton commented on #4313
@luixxiul can you provide an example where this is standard behavior?

You can already do this via middle click or cmd/ctrl + click. I believe deviating from the expected behavior would be a bad idea. cc: @alexwykoff @bradleyrichter

[2017-08-02 06:25] bsclifton commented on #10230
Middle click also works great

If there was any change to be made, we'd want it to be an option (since this is not standard behavior). cc: @alexwykoff @bradleyrichter

[2017-08-02 06:28] bsclifton commented on #10229
@inertialize no fix yet... having exact steps to reproduce the issue is very helpful though

When this happens, I can usually switch to another tab and then switch back.  Interesting feedback about how the browser closes when you close the tab having this issue

[2017-08-02 07:17] srirambv commented on #10233
Just a note, <kbd>Ctrl+\\</kbd>  doesn't auto fill on the pages. Right click context menu entry opens the mini app and then clicking on the saved entry autofills and logins.

[2017-08-02 07:22] luixxiul opened #10247 "Set time zone value to "0""
**Describe the issue you encountered:**
Set time zone value to "0" to reduce bits of identifying information.

On Tor Browser:
![clipboard01](https://user-images.githubusercontent.com/3362943/28861920-18af37b6-779e-11e7-9b60-dad1b1afe956.jpg)

On Brave:
![clipboard02](https://user-images.githubusercontent.com/3362943/28861939-28d47de0-779e-11e7-9945-4b09762baafc.jpg)

- Platform (Win7, 8, 10? macO

[2017-08-02 07:27] luixxiul commented on #10094
I noticed that the browser freezes around each 5 minutes, suspecting that the issue is related with writing/reading data.

[2017-08-02 07:28] luixxiul commented on #242
On Tor browser you get `a273d6a847f0e2a57fa0161158f12fed`, whose score seems to be better than ours.

On Tor browser:
![clipboard01](https://user-images.githubusercontent.com/3362943/28862212-33b9e262-779f-11e7-9f5f-73999bee6973.jpg)

On Brave:
![clipboard02](https://user-images.githubusercontent.com/3362943/28862326-a621fb28-779f-11e7-8b2b-2a67e3198b7c.jpg)

Should we update ours?

[2017-08-02 08:10] prasanthp96 commented on #10051
I am interested to fix this bug.

[2017-08-02 08:17] jonathansampson commented on #10213
This issue is related to scaling; it can be reproduced in Brave by setting the _Toolbar and UI elements scaling_ to _Larger_. This scales the popup to 125% (roughly).

This issue exists organically (without setting _Toolbar and UI elements scaling_) on high-resolution displays, like the Surface Book where the OS/Display-scaling is set to any value above 100%.

[2017-08-02 08:18] luixxiul commented on #4313
maybe when I posted this the context menu on bookmark was not available... I don't remember exactly what I experienced.

[2017-08-02 08:18] #4313 closed

[2017-08-02 08:19] jonathansampson commented on #4117
Closing this as it has been nearly a year with no update.

[2017-08-02 08:19] #4117 closed

[2017-08-02 08:33] jonathansampson commented on #9670
@srirambv Is this something the average user would ever need to do?

[2017-08-02 08:45] luixxiul opened #10248 "Use hjson to write comments on package.json"
**Describe the issue you encountered:**
How about using `hjson` to write comments on package.json?

http://hjson.org/
https://www.npmjs.com/package/hjson

![](http://hjson.org/hjson1.gif)

Sometimes it is important to leave a comment on package.json about npm package version (see: #10072 for example) to explain the reason why that version is specified. You could run `git blame` to trace the change

[2017-08-02 08:49] jonathansampson commented on #9668
Another repro of this is to run the following from any tab:

[code]

The difference between the two notification bars is simple:

[code]

[2017-08-02 09:01] srirambv commented on #9670
That's a trick question to answer.  :smile:

May be an average user might never do but anyone who know where extensions are installed would want to delete the installed extension and try reinstalling it fresh would run into this problem

[2017-08-02 09:57] luixxiul opened #10249 "Devtool via context menu cannot be displayed"
**Describe the issue you encountered:** devtool via context menu cannot be displayed due to this error:

[code]

It can be displayed via menubar.

- Platform (Win7, 8, 10? macOS? Linux distro?): macOS

- Brave Version (revision SHA): master branch

- Steps to reproduce:
    1. Open context menu
    2. Click `Inspect Element`

- Actual result: nothing happens

- Expected result: devtool should be d

[2017-08-02 11:16] dfperry5 commented on #9053
@bsclifton I'm not sure its beautiful, but it seems to be working :)

See [here](https://github.com/dfperry5/browser-laptop/commits/master).

Let me know whatcha think! Any suggestions are welcome.

@darkdh I used the 2-Letter country codes as well -- feel free to check it out :)

[2017-08-02 11:33] Garbee commented on #6946
Hmm. Removing `libXScrnSaver` shouldn't be necessary as it [does exist](https://software.opensuse.org/package/libXScrnSaver) for OpenSUSE as named. I'm going to try and dig into the RPM build and see if I can find something out as to why this is triggering for this build but not the others.

[2017-08-02 11:41] Garbee commented on #6946
Looks like the Atom Editor hit this problem too. They fixed it by [requiring the library file](https://github.com/atom/atom/pull/13386) needed vs the package name. So it looks like making `libXScrnSaver` into `libXss.so.1` alone will solve the problem universally.

[2017-08-02 11:51] Garbee commented on #6946
Yup, that change works. Using `rpmrebuild -e -p brave.rpm` (`brave.rpm` being the version from the google storage linked to here) and updating line 53 to be `libXss.so.1`. Then saving and letting it rebuild. Install the rebuild using zypper and it succesfully finds the right dependency to install for everything to work. Which is not `libXScrnSaver` on OpenSUSE but instead `libXss1-32bit`. So, this

[2017-08-02 12:04] probonopd opened #10250 "Provide an AppImage for Linux"
I would like to try out your browser but without letting it change repositories or libraries in my system.

Providing an [AppImage](http://appimage.org/) would have, among others, these advantages:
- Applications packaged as an AppImage can run on many distributions (including Ubuntu, Fedora, openSUSE, CentOS, elementaryOS, Linux Mint, and others)
- One app = one file = super simple for users: jus

[2017-08-02 12:54] inertialize commented on #10229
when you close the tab having issues, the whole browser closes.  It reopens with everything that was previously open, including the tab that was having issues.  The problem with listing the steps for reproduction of the issue is that it seems to happen randomly, it doesn't happen with a particular site or time spent on the a particular tab. The closest I can come to steps for reproduction is this:

[2017-08-02 14:29] luixxiul commented on #6946
@Garbee

Because when I created that issue, I thought there were different ways of solving the issue for both version. I haven't used openSUSE until now. That is the reason, ok?

[2017-08-02 14:29] luixxiul commented on #10210
@Garbee told me this issue was not necessary.

[2017-08-02 14:29] #10210 closed

[2017-08-02 14:33] luixxiul commented on #6946
I set up VM (Leap) on VMware player, installed `libXss1-32bit`, and still got the message that `Gconf2` was required while `gconf2` was installed.

![clipboard01](https://user-images.githubusercontent.com/3362943/28878706-0118a2bc-77db-11e7-99ea-adc7ce290198.jpg)

![clipboard02](https://user-images.githubusercontent.com/3362943/28878707-01191a4e-77db-11e7-8e7a-31505bdbd4a5.jpg)

[2017-08-02 14:54] Garbee commented on #6946
Did you do this using the binary @posix4e posted a few comments ago? And you'll still get a screensaver error with that one. I've put my patched one on [Google Drive](https://drive.google.com/file/d/0B9Bi38juR5CiZWtQWnRJaFBtbXM/view?usp=sharing) so anyone can give that a shot. It's a simple rebuild using my instructions from above.

If you're using the main binaries currently distributed then all

[2017-08-02 15:11] Garbee commented on #6946
So removing `libXScrnSaver` from requirements completely allows install from @posix4e's provided build. But I still think changing the requirement to `libXss.so.1` directly is the best choice. To enforce that the thing Electron needs to operate is available. I'm not seeing where the `depends` section has any affect on the RPM build (assuming @posix4e built his provided installer with the same deps

[2017-08-02 15:13] luixxiul commented on #6946
To discuss the solution for Tumbleweed and Leap on the different issues. At first #10107 was marked to close this issue (See https://github.com/brave/browser-laptop/issues/6946#ref-commit-90eed28) and I thought the issue on Leap would be discussed on #10210.

Please remember that issues are used for QA work as well. They are created when additional QA work is required. I thought this is such a cas

[2017-08-02 15:19] Garbee commented on #6946
The `libXss.so.1` patch is just one part of a few changes that are needed. That change alone won't allow openSUSE builds to work. But, the change allows for fewer differences in the two builds that are going to be needed.

Ah, sorry. Didn't realize the QA also went through here like programming bugs. Things were definitely confusing due to the PR that was only trying to solve half the issue. Sorry

[2017-08-02 15:24] snkoppenaal commented on #1847
Would be great if an extension or something native would be added to support mouse gestures. Very popular feature for power users, also in Vivaldi.

[2017-08-02 16:27] luixxiul commented on #10094
@bsclifton / @bridiver what do you think about ^?

On https://github.com/brave/browser-laptop/issues/5512#issue-188317874

If the value [here](https://github.com/brave/browser-laptop/commit/931facfafc8a4caaceb2440e18df8e1b0c0c8199#diff-2018087f584c4398b5c3a23fc0e5f9dbR367) is changed to `1 * 60 * 1000` and the UI is locked each minute, then it is highly likely that the saving session file locks th

[2017-08-02 16:28] LaurenWags commented on #9765
When Brave is default browser this is not an issue, closing this item.

[2017-08-02 16:28] #9765 closed

[2017-08-02 16:42] posix4e commented on #6946
@Garbee  ignore the depends.

[2017-08-02 17:02] posix4e commented on #6946
@Garbee Updated the rpm and the branch. Is this what you had in mind?

[2017-08-02 17:23] mati865 commented on #6946
@posix4e your repo is still inaccessible.

[2017-08-02 17:51] posix4e commented on #6946
@mati865 ooh so sorry . Fixed for you?

[2017-08-02 17:59] mati865 commented on #6946
It's fine now, thanks.

On August 2, 2017 7:51:34 PM GMT+02:00, Alex Newman <notifications@github.com> wrote:

[2017-08-02 20:00] eljuno opened #10251 "Suggestion: Better Protocol Handler Notification"
- Did you search for similar issues before submitting this one?
No

- Describe the issue you encountered:
Based on this tweet https://twitter.com/gortok/status/892448941928742912
And this one from community https://community.brave.com/t/gmail-and-bitcoin-protocol/4185

Notification for protocol handler is too general. The string is contain other protocol that can confuse user. Like "`:bitcoin` pro

[2017-08-02 22:00] #10224 closed

[2017-08-02 22:39] Garbee commented on #6946
I'll take a look in the morning to verify. At a Meetup right now for the evening.

[2017-08-02 23:18] aykevl commented on #9955
This bug also affects Debian (stretch).
Als see this issue:
https://bugs.chromium.org/p/chromium/issues/detail?id=312380

[2017-08-03 00:59] #10045 closed

[2017-08-03 02:15] luixxiul commented on #9955
@aykevl did you try https://github.com/brave/browser-laptop/issues/6902#issuecomment-285130546 already?

[2017-08-03 02:19] luixxiul commented on #10251
related with #3246 #2461

[2017-08-03 05:33] #10232 closed

[2017-08-03 05:53] diracdeltas commented on #10027
these are used all over the place in the Brave content scripts

[2017-08-03 06:12] diracdeltas opened #10252 "remove unnecessary user-agent content script setting"
the UA string no longer includes Brave by default

[2017-08-03 06:32] #10207 closed

[2017-08-03 06:34] bbondy opened #10254 "Remove jsdox"
There isn't much value in jsdox for the actions right now since someone can just open up the file and see the code and comments.  It's annoying because when you commit it does the doc generation after.
It's also not working right now due to some problem with jsdox with maxBuffer execFile.   For some reason the full stdout is being exceeded and maxBuffer option doesn't seem to be working.

[2017-08-03 07:59] golyalpha opened #10256 "ctrl + F5 does not clear cache before or after reload"
- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:
Using the key shortcut to reload pages with clearing cache doesn't work
- Platform (Win7, 8, 10? macOS? Linux distro?):
Win10 x64
- Brave Version (revision SHA):
ad92d02
- Steps to reproduce:
    1. Load a page
    2. Open up dev console
    3. Check which files are loaded from cache
    4. Ct

[2017-08-03 08:15] golyalpha opened #10257 "More publicly available 3rd level domains"
These ones are from the Endora webhosting:
tode.cz
8u.cz
9e.cz
mzf.cz
clanweb.eu
mablog.eu
maweb.eu
g6.cz
hys.cz
4fan.cz
cekuj.net
jecool.net
funsite.cz
6f.sk

Submitting to the tld.js project too.

[2017-08-03 09:59] Jacalz opened #10258 "Full screen symbol overlaps with brave icon"
- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:
When on Mac OS X 10.9 the full screen icon overlaps with brave icon but on later versions the full screen button is moved to the green button, thus only an issue on Mac OS X 10.9...
- Platform (Win7, 8, 10? macOS? Linux distro?):
Mac OS X 10.9.x
- Brave Version (revision SHA):
0.18.14
- Steps

[2017-08-03 10:22] luixxiul commented on #10232
Note: when unhiding `enpass`, please close #7778.

[2017-08-03 10:23] luixxiul commented on #7778
This was reopened as `enpass` has been hidden again.

[2017-08-03 10:40] srirambv opened #10259 "Site favicon with badge doesn't align with other"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Site favicon with badge doesn't align with other

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):

Brave | 0.18.14
-- | --
rev | ad92d02
Muon | 4.3.6

- Steps to reproduce:
    1. Open Gmail in two session tabs
    2. Pin both the tabs
    3. Wa

[2017-08-03 11:20] retrocausal commented on #9841
This is so true! It is like I bookmark 10 different pages on the tool bar and brave
 - Sporadically removes some of them after I restart the browser
 - Does Not display the bookmarked pages under `Bookmarks`-> `Bookmarks`
![screenshot from 2017-08-03 16-44-37](https://user-images.githubusercontent.com/15086525/28919573-b7f042d4-786b-11e7-9291-601a0fa9d6a1.png)

[2017-08-03 11:25] Jacalz opened #10260 "Choose default download path not working"
- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:
It is not possible to choose where to save downloads the menu appears but nothing happens when you choose where to download.
- Platform (Win7, 8, 10? macOS? Linux distro?):
Mac OS X 10.9.5
- Brave Version (revision SHA):
0.18.14
- Steps to reproduce:
    1. Open brave with new profile
    2. C

[2017-08-03 11:32] luixxiul commented on #10256
Would you test with `Ctrl + Shift + R`, which is the default shortcut?

[2017-08-03 12:29] bbondy opened #10261 "Upgrade to Chromium 60.0.3112.90"

[2017-08-03 12:29] bbondy opened #10262 "Upgrade to muon 4.3.8"

[2017-08-03 12:42] bbondy commented on #10261
https://github.com/brave/browser-laptop/commit/d161656c678f288e7fb40e1efde582428c1dab4b

[2017-08-03 12:42] #10261 closed

[2017-08-03 12:42] bbondy commented on #10262
https://github.com/brave/browser-laptop/commit/d161656c678f288e7fb40e1efde582428c1dab4b

[2017-08-03 12:42] #10262 closed

[2017-08-03 12:49] luixxiul opened #10263 "Refactor sortableTable with Aphrodite"
## Test plan

For 0.21.x
https://github.com/brave/browser-laptop/pull/10265#issue-247701941
https://github.com/brave/browser-laptop/pull/10454#issue-249860151

----

**Describe the issue you encountered:** Refactor sortableTable with Aphrodite.

This task will be conducted along with #9032, replacing `table` with `grid`.

- Extra QA steps:
    1.
    2.
    3.

- Any related issues: #9032

[2017-08-03 12:55] mcg commented on #7778
Sigh... confirming this was removed again due to `decrease coverage by 0.01%` ?

[2017-08-03 13:09] srirambv opened #10264 "Paused download shows Infinity%"
## Test plan

https://github.com/brave/browser-laptop/pull/10652#issue-252761840

----

- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Paused download from Google Drive shows as `Paused: Infinity%`

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):

Brave | 0.18.14
-- | --
rev | ad92d02
Muon |

[2017-08-03 13:24] srirambv commented on #9385
+1 from community https://community.brave.com/t/all-browser-ui-starts-ignoring-clicks-requires-close-losing-tabs/5235/2

[2017-08-03 13:28] #10254 closed

[2017-08-03 13:34] LaurenWags opened #10267 "Make URL Bar Taller"
Suggested via community (https://community.brave.com/t/issue-small-bugs-found-in-first-couple-hours-of-using-brave/5075)

From #12 in the community post:
"I also think the tab bar should be slightly taller, i think it is a little harder to use the tab bar when it is so thin, plus it would look better in my opinion"

[2017-08-03 13:37] luixxiul commented on #2965
+1 from https://community.brave.com/t/fingerprinting-protection-causes-many-problems/5061/5?u=suguru

[2017-08-03 13:37] luixxiul commented on #1888
+1 from https://community.brave.com/t/fingerprinting-protection-causes-many-problems/5061/5?u=suguru

[2017-08-03 13:42] luixxiul commented on #10232
@alexwykoff / @bsclifton / @cezaraugusto would one of you mind explaining why those were hidden?

CC:  @andrewalker

[2017-08-03 14:02] LaurenWags commented on #8600
+1 community (see # 6 in this post: https://community.brave.com/t/issue-small-bugs-found-in-first-couple-hours-of-using-brave/5075)

[2017-08-03 14:03] LaurenWags commented on #1374
+1 from community (various keyboard shortcut changes desired: https://community.brave.com/t/issue-small-bugs-found-in-first-couple-hours-of-using-brave/5075)

[2017-08-03 14:04] LaurenWags commented on #8860
+1 community (see # 13 in this post: https://community.brave.com/t/issue-small-bugs-found-in-first-couple-hours-of-using-brave/5075)

[2017-08-03 14:05] srirambv commented on #2627
+1 from community on adding feature to launch browser using the middle click
https://community.brave.com/t/ability-to-create-a-new-window-by-starting-new-exe-middle-clicking-taskbar/5237

[2017-08-03 14:05] LaurenWags commented on #7866
+1 from community (see # 16 in this post: https://community.brave.com/t/issue-small-bugs-found-in-first-couple-hours-of-using-brave/5075)

[2017-08-03 14:21] diracdeltas commented on #10115
#1252

[2017-08-03 14:30] jnm2 commented on #9385
Just happened the second time today, lost some important tabs.

[2017-08-03 14:34] jnm2 commented on #9385
I'm switching back to Firefox until there is a release with progress on this issue to test out.

[2017-08-03 14:36] eoyount commented on #9932
Yes, please. This is the only thing about the Brave browser I don't like.
For my use case, I basically keep email and rss feeds in pinned tabs and I don't want or need them to follow me and take up more resources when I open a new window. The new window is almost always for some separate task. For example, I might want to open a video in a new tab and put it on my second screen while I continue to

[2017-08-03 14:37] prasanthp96 commented on #10051
hy @cezaraugusto how to enable the title mode in brave??

[2017-08-03 14:41] DazzaRPD opened #10268 "Brave allows ads, Firefox does not"
- Did you search for similar issues before submitting this one?

- Describe the issue you encountered:
Since the introduction of the "Reddit ads" on Reddit, Brave + Ad Blocker shields on has ads displaying on Reddit, whereas Firefox + uBlock Origin does not.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 8.1

- Brave Version (revision SHA):
0.18.14 rev ad92d02 (commit ad92d029e184c4cff01

[2017-08-03 15:03] Garbee commented on #6946
@posix4e Yup, your branch commit LGTM for the required changes on the builds. Not sure on the infrastructure work needed since now the other binaries are in subfolders. Could have an adverse affect on existing repository configs for users.

[2017-08-03 15:08] bbondy commented on #10115
See also https://github.com/brave/browser-laptop/issues/1252

[2017-08-03 15:09] #1252 closed

[2017-08-03 15:11] LaurenWags commented on #9841
@retrocausal - what's your OS?

[2017-08-03 15:12] retrocausal commented on #9841
Ubuntu 16.04 LTS

[2017-08-03 15:19] luixxiul opened #10269 "Block Client.js functions to prevent fingerprinting"
**Describe the issue you encountered:** On [community](https://community.brave.com/t/brave-not-blocking-finger-printing/5089?u=suguru) it is reported that [Client.js](https://clientjs.org/) can be used to track us by fingerprinting, while fingerprinting protection mode is enabled.

PoC site: http://nothingprivate.ml/

https://clientjs.org/#Fingerprints shows that this code let the site get fingerp

[2017-08-03 15:21] diracdeltas opened #10270 "[hackerone] https://hackerone.com/reports/255991"
## Test plan

https://github.com/brave/browser-laptop/pull/10346#issue-248886192

----

https://hackerone.com/reports/255991

[2017-08-03 15:22] diracdeltas commented on #10270
related https://github.com/brave/browser-laptop/issues/6098

[2017-08-03 15:41] cezaraugusto commented on #10051
if you're running Windows you'll need to disable "always show the URL bar" it in advanced->URL Bar Options:

<img width="517" alt="screen shot 2017-08-03 at 10 37 00 am" src="https://user-images.githubusercontent.com/4672033/28930248-fb558072-7837-11e7-8031-4457da2d82fe.png">

we call `titleMode` the additional layer which hides the urlbar form until you mouse over the chrome bar. It looks like th

[2017-08-03 15:55] billsaysthis commented on #10229
I have a similar but somewhat different experience with inaccessible tabs, but generally after Brave is accessed for the first time after laptop goes to sleep.

For me, some tabs are reachable and some are not, though once a tab is unreachable it stays that way. Pinned tabs (I have six) are always reachable, but unpinned tabs vary.

Also, the About dialog, Preferences and Check for Updates are unr

[2017-08-03 16:09] bsclifton opened #10271 "Findbar slowness (cmd + F, typing)"

[2017-08-03 16:53] diracdeltas opened #10273 "browser freeze when syncing to profile with 6000+ bookmarks"
1. sync to the 'conj...' profile (sent by DM)
2. observe that the receiving browser freezes indefinitely

may be because `getSiteDataFromRecord` takes about 300ms per record

[2017-08-03 16:55] bsclifton commented on #10271
I suspect this may happen when loading large pages.  One example that I use is https://github.com/brave/browser-laptop/pull/7795/files

Here, you can expand the diff for https://github.com/brave/browser-laptop/pull/7795/files

While that is loading (which takes a while), you can try to do the cmd/ctrl + f

[2017-08-03 17:10] posix4e commented on #6946
@Garbee I am planning on doing a release soon anyway. I've got some fancy stuff to make our builds more reliable and secure next!

[2017-08-03 17:40] luixxiul commented on #10268
https://github.com/brave/browser-laptop/issues/8211#issuecomment-293121704

[2017-08-03 17:40] #10268 closed

[2017-08-03 18:54] prasanthp96 commented on #10051
hello @cezaraugusto , I have sent a PR . Kindly have a look at it.

[2017-08-03 19:20] Jacalz opened #10277 "Margin seems wrong for downloads"
- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:
Margin on view all button on the downloads bar is wrong on 0.18.x
- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 and MacOS (Checked by @LaurenWags)
- Brave Version (revision SHA):
0.18.15 and 0.14.14
- Steps to reproduce:
    1. Download something
    2.
    3.

- Actual result:
Vi

[2017-08-03 19:23] Jacalz commented on #10277
cc @luixxiul

[2017-08-03 19:25] Jacalz commented on #10277
Margin seem to be the same on master and 0.18.x in the code

[2017-08-03 19:50] jonathansampson opened #10278 "Indicate Audio During Speech Synthesis Utterance"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
No indication that audio is being placed during speech synthesis utterance playback.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Desktop

- Brave Version (revision SHA):
0.19.1

- Steps to reproduce:
  1. Visit https://jonathansampson.github.io/browser-tests/brave/speech-synth-indicator/

[2017-08-03 19:54] LaurenWags commented on #8600
+1 from community (https://community.brave.com/t/when-opened-brave-does-not-maximize/5251)

[2017-08-03 20:05] diracdeltas commented on #1680
we already support HSTS and HSTS preloading. i'm not sure what this issue is for

[2017-08-03 20:47] eduardocerqueira opened #10280 "Fresh installation on Fedora 26 and Brave doesn't initialize"
- Did you search for similar issues before submitting this one?
Yes and I didn't find any one similar

- Describe the issue you encountered:
I followed the installation steps from https://github.com/brave/browser-laptop/blob/master/docs/linuxInstall.md#fedora-x86_64
the process ran smooth without error. When I try to start up BRAVE it starts several process and generate the final error: Process fa

[2017-08-03 21:32] #10039 closed

[2017-08-03 22:13] jonathansampson opened #10284 "Cannot Mute Speech Synthesis Audio"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
The user is unable to mute Speech Synthesis audio.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Desktop

- Brave Version (revision SHA):
0.19.1

- Steps to reproduce:
  1. Open New Tab
  2. Open 2nd New Tab
  1. Visit https://jonathansampson.github.io/browser-tests/brave/speech-synth-indi

[2017-08-03 22:20] LaurenWags commented on #9841
Thanks @retrocausal. If you're feeling up to it, could you try a clean profile for me? If you're unsure how to do this, first make sure Brave is not open (all instances of Brave are closed). Then open Home folder, show hidden items(Ctrl+H), open .config folder, rename the brave folder to something else like braveoriginal. Now launch Brave and try bookmarking some pages and see if they stay put and

[2017-08-03 22:21] snyderp opened #10285 "Improve blocking technique to avoid hard errors on page that expect blocked functionality to be in place"
- Did you search for similar issues before submitting this one?
  yap

- Describe the issue you encountered:
  To block fingerprinting, several methods are overwritten with the `reportBlock` function, defined in `blockCanvasFingerprinting.js`.  This function doesn't return anything, so if a page tries to use a method that's been blocked, and then calls a method or looks up a property on *that*, a

[2017-08-03 22:44] retrocausal commented on #9841
Hey Lauren,
I don't mind at all. However, my brave is a snap and is not installed via the debian package.
and thus, doesn't write anything outside of `/snap`
I did a snap **`disable <---> enable`** cycle, which rewrites all related configurations.

Would that help?

[2017-08-03 22:49] LaurenWags commented on #9841
Thanks for being willing to check this out @retrocausal. Going to loop in @alexwykoff to chime in when he's got a few minutes.

[2017-08-03 23:06] snyderp opened #10288 "Prevent further tracking by blocking additional methods"
- Did you search for similar issues before submitting this one?
  Yap

- Describe the issue you encountered:
   There are a large number of methods that are overwhelmingly (>95%) used for tracking on the web, but which are currently not blocked out with shields up.  Many of these would make good candidates for blocking

- Platform (Win7, 8, 10? macOS? Linux distro?):
   all

- Brave Version (revis

[2017-08-03 23:10] snyderp commented on #10288
These numbers are taken from this work:

Peter Snyder, Lara Ansari, Cynthia Taylor, Chris Kanich, **Browser feature usage on the modern web**, Proceedings of the 2016 ACM on Internet Measurement Conference, 2016

https://www.cs.uic.edu/~psnyder/static/papers/Browser_Feature_Usage_on_the_Modern_Web.pdf

[2017-08-03 23:25] bsclifton commented on #10232
We ultimately need to do a test with it and uncover any potential blockers. From what I last thought, Muon didn't have support (but I could be wrong- is there an issue in brave/muon?)

@alexwykoff why did we choose to hide this during triage?

[2017-08-03 23:30] bsclifton commented on #10094
A potential fix for the underlying issue may be possible with upcoming Muon build (see https://github.com/brave/muon/commit/57ecc85913296dc29d6bce708aba77018884e9bc).  Once this is built, we can update browser-laptop to use this `sendShared` method

cc: @bridiver @bbondy

[2017-08-03 23:32] bridiver commented on #10094
@luixxiul I don't think that saving the session file is causing the UI to lock because it happens on a separate thread. What is more likely causing the UI to lock is the ipc transfer of the window state that @bsclifton referenced

[2017-08-04 00:32] #1680 closed

[2017-08-04 00:39] luixxiul commented on #10288
CC @diracdeltas

[2017-08-04 00:44] luixxiul commented on #10277
On master this looks to have been fixed: https://github.com/brave/browser-laptop/commit/cdaee376e59f35619f4d2854b8a1c059430636ca#diff-feb05dc9da2c7d58a56f56f53d3b9a43R94. CC @cezaraugusto

[2017-08-04 02:09] aykevl commented on #9955
No, should test that.
I would consider it a workaround, though, requiring special kernel configs just to run a browser seems kinda absurd to me. I expect it to just work.

[2017-08-04 04:22] #10271 closed

[2017-08-04 05:23] cezaraugusto opened #10291 "tab previews: stick to changing properties that can be handled by the compositor alone"
this avoids layout and paint steps and let the task for the compositor

[2017-08-04 05:25] bbondy opened #10292 "Use shared memory for transfering window state to the browser process"
This will possibly fix https://github.com/brave/browser-laptop/issues/10094 but keeping it separate in case not. It's still a good perf win either way.

[2017-08-04 05:26] molinadavid commented on #1336
same for me on Ubuntu 16.04

Brave: 0.18.16
rev: 8003c6652559b1b624f8de37fc60e80f3a7cc01d
Muon: 4.3.6
libchromiumcontent: 60.0.3112.78
V8: 6.0.286.44
Node.js: 7.9.0
Update Channel: dev
OS Platform: Linux
OS Release: 4.4.0-87-generic
OS Architecture: x64

[2017-08-04 05:58] #10291 closed

[2017-08-04 09:12] GGurtner opened #10295 "Brave keeps asking to be the default browser"
- Did you search for similar issues before submitting this one?

Yes, there does not seem to be anything related to that

- Describe the issue you encountered:

Brave keeps asking if it should be the default browser even though it already is.

- Platform (Win7, 8, 10? macOS? Linux distro?):

Linux Mint 17.1 and 17.2

- Brave Version (revision SHA):

ad92d02

- Steps to reproduce:
    1. Set Brave

[2017-08-04 10:25] jakenheimer commented on #6161
Are there any updates on this?

[2017-08-04 11:14] PostPollux commented on #7198
Yes, please! Make this happen! I also have to use 1password in the company where I work, but personally I use bitwarden. Now having to constantly switch the settings in Brave is very annoying! Other than that brave is just awesome!

[2017-08-04 12:52] #8897 closed

[2017-08-04 13:18] LaurenWags commented on #10037
+1 from community https://community.brave.com/t/i-unpinned-one-tab-and-another-tab-disappeared/5268

[2017-08-04 15:13] NejcZdovc opened #10296 "Follow up of site splits"
Original PR #10136

### Known issues
- [x] bookmark toolbar is not refreshing when reordering https://github.com/brave/browser-laptop/pull/10136#issuecomment-320026616 (fix https://github.com/brave/browser-laptop/pull/10136#issuecomment-320083825) - fixed in #10325

### Tests
- [x] app/common/lib/historyUtil.js
- [x] app/common/state/aboutHistoryState.js
- [x] app/common/state/aboutNewTabState.js

[2017-08-04 15:19] #8761 closed

[2017-08-04 16:02] aekeus opened #10297 "Add Swedish (Sweden) language"
Add the Swedish (Sweden) language to about:preferences

QA Steps:

1. Start browser, navigate to about:preferences
2. Change language setting to Swedish (Sweden), restart browser
3. Ensure language has changed to Swedish

[2017-08-04 16:17] #1646 closed

[2017-08-04 16:17] #1856 closed

[2017-08-04 16:17] #2655 closed

[2017-08-04 16:17] #2771 closed

[2017-08-04 16:17] #3646 closed

[2017-08-04 16:17] #3694 closed

[2017-08-04 16:17] #4224 closed

[2017-08-04 16:17] #4260 closed

[2017-08-04 16:17] #4833 closed

[2017-08-04 16:17] #4868 closed

[2017-08-04 16:17] #4929 closed

[2017-08-04 16:17] #5072 closed

[2017-08-04 16:17] #5382 closed

[2017-08-04 16:17] #6104 closed

[2017-08-04 16:17] #6108 closed

[2017-08-04 16:17] #6585 closed

[2017-08-04 16:17] #8022 closed

[2017-08-04 16:17] #9301 closed

[2017-08-04 16:17] #9326 closed

[2017-08-04 16:17] #9978 closed

[2017-08-04 16:17] #10026 closed

[2017-08-04 16:34] cezaraugusto commented on #10027
I'll make use of this as a tracking issue there's a lot of room for improvement.

[2017-08-04 16:43] cezaraugusto commented on #10027
* Stick with compositor layers whenever needed
  * for tab previews
  * for new tab's first paint
  * for loading icon

* prefer using Intersection Observer API to track intersected elements instead of window size and getBoundingClientRect
  * for tabs (replace tab's breakpoint)
  * for downloads bar (replace current calculation)
  * for bookmarks toolbar (replace current calculation)

* wip

[2017-08-04 17:08] jonathansampson commented on #7914
Fixed by https://github.com/brave/muon/commit/f2ca2f256d777dbb7b9cdd2f9b0aaa158cb1678c

[2017-08-04 17:08] #7914 closed

[2017-08-04 17:11] posix4e commented on #6161
Oh Damn honestly I forgot about it. Happy to start to work on this with someone.

[2017-08-04 17:14] cezaraugusto opened #10298 "remove uneeded animation for tab previews"
we are calling the animation twice for two diff elements and that triggers more repaints/reflows than needed

[2017-08-04 17:20] #10273 closed

[2017-08-04 18:29] patrick99e99 commented on #9843
This just now happened to me again...  This time it happened when I was typing into the url bar, and was presented with a search suggestion and then I pressed option-delete a few times to remove the last few paths from the url and then starting to type in a new path.

http://lol.com/foo/bar/baz --> changed /foo/bar/baz to foo/qux for example.

[2017-08-04 18:50] LaurenWags opened #10299 "Intermittently unable to see cursor in Brave"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Reported via community and internally with 0.18.x: Sometimes cursor is not visible in text boxes or URL bar when you click inside them. Doesn't always happen and close/reopen Brave seems to solve it at least temporarily.

- Platform (Win7, 8, 10? macOS? Linux distro?):
MacOS and Windows

- Br

[2017-08-04 18:51] LaurenWags commented on #10299
+2 from community

[2017-08-04 18:59] LaurenWags commented on #10299
Additional report of this - was in a long running tab after changing URL a few times. Close/Reopen of Brave did resolve issue.

[2017-08-04 19:02] NejcZdovc commented on #10299
Saw this on my mac as well

[2017-08-04 19:46] bsclifton commented on #10299
Saw this too, thanks for capturing @LaurenWags 😄

The work-around for now seems to be: minimize the app then restore.  Then you'll see the cursor again

[2017-08-04 21:29] ayumi opened #10302 "With sync enabled, imports with many foldered bookmarks may sync without hierarchy"
Related to #10136

- Did you search for similar issues before submitting this one?

- Describe the issue you encountered:

- Platform (Win7, 8, 10? macOS? Linux distro?):

- Brave Version (revision SHA):

- Steps to reproduce:
    1. Enable sync on pyramid0. Join pyramid1 to the Sync profile.
    2. On pyramid0 import 1000s of bookmarks with folders.
    3. Observe pyramid1 for import to sync over

[2017-08-04 21:30] ayumi commented on #10302
Needs verification / Can somebody verify this?

[2017-08-04 21:39] cezaraugusto opened #10303 "do not show loading icon for about pages"
about pages are expected to be fast and load instantly and having a loading icon is unnecessary and cause perf junk.

[2017-08-04 22:08] vanjan commented on #2677
I've just blocked popups on one website but I need them back -- how do I re-enable them?

[2017-08-04 22:10] NejcZdovc commented on #2677
@vanjan you can do that under Preferences (`about:preferences#security`), at the bottom of that page

[2017-08-04 22:14] bkarlan commented on #2677
I've long since given up on your browser.  If it takes this long to resolve a most simple and basic request, which is to allow or not allow pop ups, then how long will it take to resolve more complex issues?  Please remove me from these threads.

[2017-08-04 22:17] vanjan commented on #2677
@NejcZdovc thank for a quick response. Unfortunately I don't see a way to do that...
![screen shot 2017-08-04 at 23 17 05](https://user-images.githubusercontent.com/130294/28989080-16d7a094-796b-11e7-8cfb-5e943b30cfd2.png)

[2017-08-04 22:19] #10298 closed

[2017-08-05 01:59] #10194 closed

[2017-08-05 04:23] jamesray1 commented on #10037
I noticed a similar bug. I just tried to pin a tab and it disappears, when I have five other pinned tabs. I then unpinned a tab (the far right pinned tab) and two of the pinned tabs next to it disappeared. I was then able to pin a tab. I guess I'll have to not reorder pinned tabs until this bug is fixed.

[2017-08-05 08:01] prasanthp96 commented on #10239
hello @bsclifton! I am interested to work on this bug, if it is not taken yet, can I fix it ?

[2017-08-05 10:13] prasanthp96 commented on #10051
hy @cezaraugusto , my pr does not pass the travis test cases.. can you help me to fix the issue ?

[2017-08-05 11:10] mursalal commented on #10303
Hello! Please add user manager, so that all users have own cookies.

[2017-08-05 11:18] andrewalker commented on #10232
It's a bit confusing, since people reported it working with #7778, and in my tests it worked as well. Is it broken in a specific platform? Do we need unit tests for it?

[2017-08-05 13:31] luixxiul commented on #10291
I'm changing the label to include this issue as every change which improves the performance should be noted.

[2017-08-05 14:14] golyalpha commented on #10256
If Ctrl + Shift + R is the default shortcut, you should update your Wiki, since it says that Ctrl + F5 is the "Clear Cache and Reload" function.

[2017-08-05 14:26] golyalpha commented on #10256
Just checked, Ctrl + Shift + R doesn't work either, at least not in the latest version available on the website. (I have reinstalled my computer, so had to fresh install the latest version of Brave Browser)

[2017-08-05 16:27] luixxiul opened #10306 "Add 'write a comment' section to docs/style.md"
**Describe the issue you encountered:** Add 'write a comment' section to docs/style.md. Writing a comment on the change is important especially for UI code, as the visual regressions are not yet covered with the automated tests.

- Extra QA steps:
    1.
    2.
    3.

- Any related issues:

[2017-08-05 17:44] baoqchau commented on #10239
@prasanthp96 Go ahead. I am a little busy these days so I cannot take on this issue.

[2017-08-05 17:52] jonathansampson commented on #2707
+1 from me as well; just got bit by this.

Checked in Chrome, and they too warn you that there is an active download.

![image](https://user-images.githubusercontent.com/815158/28997534-d5f0ea46-79dc-11e7-9f12-fa3f8d7d59ed.png)

We could even consider adding a _Close on Complete_ option.

[2017-08-05 18:47] bsclifton commented on #10239
@prasanthp96 that would be great! 😄  Please do work on it (I'll reserve it for you by assigning myself).  Let me know if you have any questions 😄

[2017-08-05 18:54] Jacalz commented on #2707
+1 for close on complete

[2017-08-05 19:20] NewBreed117 opened #10308 "When I push the minimize option the words "Minimize" do not go away"
- Did you search for similar issues before submitting this one?

- Describe the issue you encountered:
  When I click on the minimize button the word "Minimize" does not go away after the browser has minimized. The only way to get the minimize text to go away is to select the Brave browser icon.
- Platform (Win7, 8, 10? macOS? Linux distro?):
  Windows 10 10.0.15063
- Brave Version (revision SHA):

[2017-08-05 20:04] #10308 closed

[2017-08-05 20:09] Jacalz commented on #10308
Duplicate of https://github.com/brave/browser-laptop/issues/8697

[2017-08-05 20:09] Jacalz commented on #10308
Should be foxy with next release also 🙂

[2017-08-06 06:11] bsclifton commented on #10299
I believe this is upstream (in Chromium) after experiencing this w/ Chrome 60

[2017-08-06 07:44] luixxiul commented on #9955
I'd agree.

[2017-08-06 07:58] luixxiul commented on #9932
duplicate of #5800

[2017-08-06 07:58] #9932 closed

[2017-08-06 08:02] luixxiul commented on #10299
Is this a duplicate of #10104? if so, I was wrong that I thought it has been fixed with #10165.

[2017-08-06 08:26] luixxiul commented on #2677
Please click the unsubscribe button on the right column.

[2017-08-06 08:50] bsclifton commented on #10299
@luixxiul possibly... did you confirm if https://github.com/brave/browser-laptop/issues/10104 was fixed? I only closed because you said it should close it (even though bookmarks modal is not related to the cursor issue)

[2017-08-06 09:33] withmetta commented on #10244
Tooltips in Brave exist for me. Any ETA on when this issue will get fixed?

Brave: 0.18.14
rev: ad92d029e184c4cff01b2e9f4916725ba675e3c8
Muon: 4.3.6
libchromiumcontent: 60.0.3112.78
V8: 6.0.286.44
Node.js: 7.9.0
Update Channel: dev
OS Platform: Microsoft Windows
OS Release: 10.0.15063
OS Architecture: x64

[2017-08-06 09:38] luixxiul commented on #10299
I myself did not reproduce the issue; I assumed so based on https://github.com/brave/browser-laptop/pull/10165/files#diff-0c5d92d1fbd1b7473c3e6c8dd26f5edcR116. @srirambv would you mind testing to reproduce #10104 for me? thanks!

[2017-08-06 14:36] luixxiul commented on #10051
@prasanthp96 currently there are some travis tests which consistently fail (we are trying to fix them all). If you see that your change does not break another test, then please leave the change as it is. If you cannot tell, please ping @cezaraugusto for audit :-)

[2017-08-06 14:55] luixxiul commented on #10280
@posix4e would you mind checking this out? thanks!

[2017-08-06 17:45] bsclifton commented on #10244
Hi @withmetta

The fix will be available in our next release.  This will be out within the next week 😄

[2017-08-06 17:48] pullingour commented on #10101
same issue happened.

- Platform (Win7, 8, 10? macOS? Linux distro?):
OS X 10.11.6

- Brave Version (revision SHA):
0.18.14

![brave_bug2](https://user-images.githubusercontent.com/7346730/29005543-5dc4fade-7b18-11e7-83ce-aff5577864f8.gif)

[2017-08-06 21:13] #9954 closed

[2017-08-06 21:23] cezaraugusto opened #10311 "fix intermittent Pinned tab navigation tests"
urlbar is sometimes unreachable due to active titleMode

[2017-08-06 22:20] freddiehonohan commented on #9170
This is really annoying folks, just my two cents.

[2017-08-06 22:55] luixxiul commented on #9170
@freddiehonohan it'll be fixed. please hang tight.

[2017-08-06 23:03] #10158 closed

[2017-08-06 23:21] zedgoat commented on #4782
+1. Love brave but it's crazy hard to manage the window size, especially from the top or corners. Have a friend with old hands who had to switch back to Chrome because it was stressing them out trying to size the window.

[2017-08-07 02:57] luzmcosta opened #10313 "DRY Bookmarks' Modules, Especially by Combining Model & Collection Methods"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
After updating the bookmarks code to resolve issue #10157, I realized a similar issue affects the folders. Had the code been DRY enough to deal with a wider range of input---that is, if it didn't care whether it received a model or a collection---the fix for the dragging of a single bookmark

[2017-08-07 03:21] bsclifton commented on #10232
@andrewalker I'll bring up with our team to see if we can expedite.  When we first release an extension, we want to make sure everything works as expected. We just haven't had enough time to properly test this yet on our side

[2017-08-07 04:08] alexwykoff commented on #7778
@mcg it was triaged out due to a lack of resources.

[2017-08-07 04:08] alexwykoff commented on #10232
@luixxiul it was triaged out due to resource constraints.

[2017-08-07 04:41] bradleyrichter commented on #4782
Adding padding would only help in the window button area and not the entire top bar?

I think this is at least an improvement.

[2017-08-07 04:49] alexwykoff opened #10315 "Manual test run on OS X for 0.18.x Hotfix"
## Per release specialty tests
 - [ ] Tab previews: stick to changing properties that can be handled by the compositor alone. ([#10291](https://github.com/brave/browser-laptop/issues/10291))
 - [x] Findbar slowness (cmd + F, typing). ([#10271](https://github.com/brave/browser-laptop/issues/10271))
 - [x] Extension Popup Not Showing. ([#10224](https://github.com/brave/browser-laptop/issues/10224))

[2017-08-07 04:49] alexwykoff opened #10316 "Manual test run on Windows ia-32 for 0.18.x Hotfix"
## Per release specialty tests
 - [ ] Tab previews: stick to changing properties that can be handled by the compositor alone. ([#10291](https://github.com/brave/browser-laptop/issues/10291))
 - [ ] Findbar slowness (cmd + F, typing). ([#10271](https://github.com/brave/browser-laptop/issues/10271))
 - [ ] Extension Popup Not Showing. ([#10224](https://github.com/brave/browser-laptop/issues/10224))

[2017-08-07 04:49] alexwykoff opened #10317 "Manual test run on Windows x64 for 0.18.x Hotfix"
## Per release specialty tests
 - [x] Tab previews: stick to changing properties that can be handled by the compositor alone. ([#10291](https://github.com/brave/browser-laptop/issues/10291))
 - [x] Findbar slowness (cmd + F, typing). ([#10271](https://github.com/brave/browser-laptop/issues/10271))
 - [ ] Extension Popup Not Showing. ([#10224](https://github.com/brave/browser-laptop/issues/10224))

[2017-08-07 04:49] alexwykoff opened #10318 "Manual test run on Linux for 0.18.x Hotfix"
## Per release specialty tests
 - [x] Tab previews: stick to changing properties that can be handled by the compositor alone. ([#10291](https://github.com/brave/browser-laptop/issues/10291))
 - [x] Findbar slowness (cmd + F, typing). ([#10271](https://github.com/brave/browser-laptop/issues/10271))
 - [x] Extension Popup Not Showing. ([#10224](https://github.com/brave/browser-laptop/issues/10224))

[2017-08-07 04:52] alexwykoff opened #10319 "Exclusion list for 0.18.x hotfix"
Exclusion List:
 - [x] Upgrade to muon 4.3.9. ([#10262](https://github.com/brave/browser-laptop/issues/10262))
https://github.com/brave/browser-laptop/issues/10262
 - [x] Upgrade to Chromium 60.0.3112.90. ([#10261](https://github.com/brave/browser-laptop/issues/10261))
https://github.com/brave/browser-laptop/issues/10261
 - [x] Remove jsdox . ([#10254](https://github.com/brave/browser-laptop/issue

[2017-08-07 04:53] alexwykoff opened #10320 "Release notes for 0.18.x hotfix"
Release Notes:
 - Tab previews: stick to changing properties that can be handled by the compositor alone. ([#10291](https://github.com/brave/browser-laptop/issues/10291))
 - Findbar slowness (cmd + F, typing). ([#10271](https://github.com/brave/browser-laptop/issues/10271))
 - Upgrade to muon 4.3.9. ([#10262](https://github.com/brave/browser-laptop/issues/10262))
 - Upgrade to Chromium 60.0.3112.9

[2017-08-07 05:13] luixxiul commented on #4782
I could make it work on the entire top bar.

[2017-08-07 05:15] luzmcosta opened #10321 "Drag Bookmark Folders to Move Them"
Fix drafted at https://github.com/brave/browser-laptop/commit/315ae5f6ed897c85c1e3c0c8bda692fba01f2fbe.
Let me know how you'd like me to proceed with submitting
this fix given it relies on the code in the open PR #10309.

A user expects to move folders by dragging them. Sadly,
this functionality fails to execute with no user feedback.
That is, the user is able to drag the folders, but dropping
the

[2017-08-07 05:27] luixxiul commented on #10101
@pullingour I'm not quite sure how this is the same one.

[2017-08-07 05:51] luixxiul commented on #10320
@alexwykoff the last two should be omitted.

[2017-08-07 06:07] bsclifton commented on #10320
We do want to keep https://github.com/brave/browser-laptop/issues/4776, but we should hide https://github.com/brave/browser-laptop/issues/7921 because it's basically a duplicate. I updated the labels accordingly 😄

[2017-08-07 06:08] bsclifton commented on #10262
Updated to 4.3.9 with https://github.com/brave/browser-laptop/commit/5641179045ddbd7825859230b073b4bb11c48abb

[2017-08-07 06:20] bsclifton commented on #10319
@alexwykoff I checked each of the above- they should all be labelled properly and (if required) have steps 😄

[2017-08-07 06:34] bsclifton commented on #10298
@cezaraugusto was this issue resolved?

[2017-08-07 06:43] cezaraugusto commented on #10298
it wasn't really an issue but we are making previews using two different elements which is kind of redundant but after profiling for a couple more times there's no real performance gain and given it will eventually be fixed with #6716 I preferred to close.

[2017-08-07 07:09] cezaraugusto opened #10322 "add support for legacy ledger settings"
which was changed after #10164

See: https://github.com/brave/browser-laptop/pull/10164#issuecomment-320560918

[2017-08-07 07:19] luixxiul commented on #10320
@bsclifton thanks!

[2017-08-07 08:03] hugobuddel commented on #2183
+1 this makes brave useless for me half the time. Having the red wiggles is very annoying

[2017-08-07 08:05] hugobuddel commented on #7898
+1 having the red wiggles is so annoying that I consider dropping Brave after a single day
or maybe I should type all my non-English text somewhere else and copy paste it in Brave

[2017-08-07 08:13] bsclifton commented on #7198
@bradleyrichter @alexwykoff do we have any mockups of how this should look?

[2017-08-07 09:04] pullingour commented on #10101
@luixxiul Should I make a new issue?

[2017-08-07 12:01] valianliu commented on #9325
+1
I got anti-ad blocker in this page:

https://www.washingtonpost.com/news/post-nation/wp/2017/08/06/a-cop-stopped-a-car-for-speeding-then-pointed-a-gun-at-a-passenger-for-more-than-9-minutes/
![snap170807_195528](https://user-images.githubusercontent.com/9492905/29025776-05724f92-7bab-11e7-8c07-9adb5835f3d8.jpg)

Confirmed on desktop: PC (Win10)

I think rules should update. Thx for owner's effo

[2017-08-07 14:10] sjlehn commented on #7053
Possibly related - on Mac OSX (El Capitan), when selecting a group of bookmarks and moving them to another folder there is considerable lag

[2017-08-07 14:12] sjlehn commented on #8957
Possible duplicate of #2972

[2017-08-07 14:17] sjlehn opened #10323 "Moving First Bookmark in Expanded Bookmarks Moves Entire Window"
- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:
My bookmarks toolbar has enough entries to trigger the overflow chevrons.  If I try to move the first bookmark out of that menu, the entire browser window moves, and not only the bookmark

- Platform (Win7, 8, 10? macOS? Linux distro?):
OSX 10.11.6 (15G1611) (El Capitan)

- Brave Version (revi

[2017-08-07 14:36] luixxiul commented on #10101
@pullingour yes please, thanks.

[2017-08-07 14:46] luixxiul commented on #7053
@NejcZdovc do you think this was fixed with the recent split PR?

[2017-08-07 14:49] NejcZdovc commented on #7053
@luixxiul I think it will be fixed with this PR #10301

[2017-08-07 14:52] luixxiul commented on #7053
I updated the 1st post on https://github.com/brave/browser-laptop/pull/10301#issue-248119212

[2017-08-07 14:54] sjlehn commented on #10101
@pullingour I just entered a defect for that #10323

[2017-08-07 14:54] #10311 closed

[2017-08-07 15:34] thbtmntgn commented on #10214
Same problem for me on macOS Sierra 10.12.6 and Brave 0.8.14 !

[2017-08-07 15:35] Liunkae opened #10324 "Add user manager (for profile switching)"
From @mursalal https://github.com/brave/browser-laptop/issues/10303#issuecomment-320437781

[2017-08-07 15:36] Liunkae commented on #10303
@mursalal I opened a separate issue: #10324

[2017-08-07 15:45] bsclifton commented on #10311
Added `QA/no-qa-needed` and `release-notes/exclude` labels so that this is automatically filtered out when preparing release notes

cc: @NejcZdovc

[2017-08-07 15:49] NejcZdovc commented on #10311
@bsclifton thank you, I forgot to add it

[2017-08-07 15:51] #10303 closed

[2017-08-07 15:53] bsclifton commented on #10303
Steps added
cc: @cezaraugusto

[2017-08-07 15:57] crysman commented on #9193
I've not tried the patched build, but the **"sh -c" version does not work** either :/ I believe I've got it right:
[code]

[2017-08-07 17:14] NejcZdovc commented on #10214
STR:
*not working*
1) focus url bar (make sure that url is selected)
2) copy something from the webview

*working*
1) focus url bar
2) place cursor at the end of the url bar
3) copy something from the webview

[2017-08-07 17:24] kausar007 commented on #3555
+1
The only thing stopping me to uninstall Chrome and use Brave for everything.

[2017-08-07 17:25] patrick99e99 commented on #5761
+1, this happens to me all the time but using keyboard shortcuts:  cmd-l to select url bar, cmd-right-arrow to go to the end of the url, option-left-arrow to move back by path a few times, ctrl-k to delete from where the cursor is at...  result is new text immediately appears where I tried to delete from.

[2017-08-07 17:49] Liunkae commented on #8957
Thanks @sjlehn! Closing as duplicate of #2972.

[2017-08-07 17:49] #8957 closed

[2017-08-07 17:50] Liunkae commented on #2972
+1 from #8957 (Impossible to add bookmark with empty name)

[2017-08-07 18:19] bsclifton commented on #10292
Fixed in 0.18.x with https://github.com/brave/browser-laptop/pull/10294

[2017-08-07 18:48] bsclifton commented on #10239
@prasanthp96 have you had a chance to check this one out yet? Let me know how it's going 😄

[2017-08-07 20:01] bsclifton commented on #9843
This has happened to me a few times today
- It seems that typing into the URL bar causes the issue
- a suggestion is displayed and I think that is what is shifting the UI chrome down
- if you stop typing after you notice it, you can still see the tabs (like in the screenshot above). If you switch between tabs enough, you'll eventually get one that re-opens the URL bar
- if you keep typing, the UI

[2017-08-07 20:21] eljuno commented on #9939
+1 [from community](https://community.brave.com/t/toolbar-hiding-bookmarks-when-theres-plenty-of-space/5392/)

Mac OS Sierra 10.12.6

Brave version:
Brave: 0.18.14
rev: ad92d029e184c4cff01b2e9f4916725ba675e3c8
Muon: 4.3.6
libchromiumcontent: 60.0.3112.78
V8: 6.0.286.44
Node.js: 7.9.0
Update Channel: dev
OS Platform: macOS
OS Release: 16.7.0
OS Architecture: x64

[2017-08-07 20:27] bsclifton commented on #10292
- Fixed in 0.19.x with https://github.com/brave/browser-laptop/commit/13c8b3b2cd0839e0063db8d65a3741c7eb9b8ac9
- Fixed in 0.20.x with https://github.com/brave/browser-laptop/commit/938e570dc80fa72957371cb9f08e0ab432169115
- Fixed in master with https://github.com/brave/browser-laptop/commit/3b832979d875d5cf9bb09e00a0284e5ff64fa22a

cc: @bbondy for audit

[2017-08-07 21:11] posix4e commented on #10280
@eduardocerqueira Can you install libgnome-keyring.so.0 via libgnome-keyring. If it works  I'll add it to the package

[2017-08-07 22:03] eljuno opened #10327 "Can not create new Docs/Sheets/Slide via Google Drive"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
From community https://community.brave.com/t/nothing-happens-new-document-in-google-drive/5322

It seems Brave blocked the pop-up window. Here's the notification that I get when try it using Firefox:
![firefox-doc-pop-up](https://user-images.githubusercontent.com/25360853/29047603-8f5bd444-7b

[2017-08-07 22:06] eljuno commented on #10327
Other user reported that it's work fine in Linux Ubuntu
https://community.brave.com/t/nothing-happens-new-document-in-google-drive/5322/2?u=eljuno

[2017-08-07 22:26] aliddell commented on #388
Ditto -- have 0.18.16 as my default browser on Ubuntu and xdg-open will exhibit the exact behavior @JamoCA mentioned. I could modify the command line passed to it to maybe fix this -- if I knew what flags I could use.

[2017-08-07 23:10] bsclifton commented on #10101
@pullingour In your screenshot, it shows you drag to the `.ca` folder... Can you try this again, but this time click somewhere else (like inside the page)... then re-click the `.ca` folder? I believe the issue is that the context menu didn't get re-rendered yet (with the new item inside). Once you force the app to re-create + show the menu again, it usually shows the correct menu

[2017-08-07 23:19] diracdeltas opened #10328 "deleting history entries should remove them from 'History' menu"
## Test plan

https://github.com/brave/browser-laptop/pull/10331#issue-248571196

----

https://github.com/brave/browser-laptop/issues/8761#issuecomment-316216682 is broken on 0.21.x but not 0.19 or 0.20; this is because https://github.com/brave/browser-laptop/pull/10069 was reverted on 0.21.x due to conflicts with https://github.com/brave/browser-laptop/pull/10136.

STR:
1. open a tab, go to any

[2017-08-07 23:39] bsclifton opened #10329 "Brave.com should be able to detect if you visit using Brave"
## Test plan
Steps to test manually (I ran and verified it works fine)
1. Launch Brave and visit https://brave.com
2. Open the developer tools (F12 or shift + option + i)
3. Force reload the page (shift + cmd + R or shift + ctrl + R)
4. Inspect the network tab for the `brave.com` resource
5. Under request headers, you should see the user agent (`Brave` being the important part):
"user-agent:Mozill

[2017-08-08 00:01] eljuno commented on #9325
+1 from community https://community.brave.com/t/they-force-you-to-turn-off-the-brave-blocking/5412
Brave 0.18.17
MacOS 10.12.5

[2017-08-08 04:25] cezaraugusto opened #10332 "unable to save state after shutdown"
str:

1. clear session
2. open brave
3. go to twitter.com
4. shutdown
5. re-open brave
6. new tab page is shown, should be twitter (saved state)

also have the following err:

[code]

cc @bbondy

[2017-08-08 05:08] luixxiul commented on #10292
See https://github.com/brave/browser-laptop/pull/10294#issuecomment-320846632 and #10332

[2017-08-08 05:40] bsclifton commented on #10292
Missing from this was the upgrade to Muon `4.4.6`.  I went ahead and updated that for all branches (0.18.x already had the update, which was in Muon `4.3.9`) and I cannot reproduce the issue @cezaraugusto reported

[2017-08-08 06:01] bsclifton commented on #10332
Closing as this was a mistake on my part- this issue was fixed by updating Muon in browser-laptop 0.19.x and newer versions to 4.4.6 😄

[2017-08-08 06:01] #10332 closed

[2017-08-08 06:07] luixxiul commented on #1877
+1, and that's why the official channel won't provide the option.

[2017-08-08 06:07] #9743 closed

[2017-08-08 06:22] luixxiul commented on #10202
@kspearrin would you mind checking a report from an user here? https://community.brave.com/t/bitwarden-extension/5403?u=suguru thanks!

[2017-08-08 06:28] bsclifton commented on #10202
@luixxiul we did not intentionally release bitwarden and we have known issues

@kspearrin I responded to the user and let them know that we're working to fix the issues on our (Brave) side 😄

[2017-08-08 06:44] bsclifton commented on #388
@aliddell the issue you mentioned above was originally tracked with https://github.com/brave/browser-laptop/issues/9193

Would you mind leaving some comments there about your setup? (@crysman also didn't have luck with the fix I attempted and is running Xubuntu 16.10).  The fix I attempted was discovered by @DivineOmega and simply updates the `.desktop` file by providing a different `Exec` line (i

[2017-08-08 06:49] bsclifton commented on #9193
@crysman this does look correct ☹️  I'm curious why this wouldn't be used? Is the `.desktop` entry cached? (ex: would you need to logout/login or restart X11?)

[2017-08-08 07:18] bsclifton commented on #10241
Fixed with https://github.com/brave/browser-laptop/pull/10326

[2017-08-08 07:18] #10241 closed

[2017-08-08 07:28] prasanthp96 commented on #10239
Hy @bsclifton , sorry for the delay, I will start working on this today.

[2017-08-08 07:35] luixxiul opened #10333 "context menu should be displayed with right click on bookmark edit dialog"
**Describe the issue you encountered:** the context menu should be displayed with a right click on the bookmark edit dialog.

- Platform (Win7, 8, 10? macOS? Linux distro?): All

- Brave Version (revision SHA): 0.18.14

- Steps to reproduce:
    1. Bookmark a page
    2. Click the star icon
    3. Select the title
    4. Do a right click

- Actual result: Nothing is displayed

- Expected result: I

[2017-08-08 07:50] luixxiul opened #10334 "Detached tabs keep loading"
**Describe the issue you encountered:** Detached tabs keep loading.

- Platform (Win7, 8, 10? macOS? Linux distro?): Debian

- Brave Version (revision SHA): 0.18.17

- Steps to reproduce:
    1. Clear your browser's profile
    2. Open https://github.com
    3. Click `Business` to open it in a new tab
    4. Make sure the loading finishes
    5. Detach the tab via tab context menu

- Actual result

[2017-08-08 08:19] srirambv commented on #10299
@luixxiul @bsclifton  I verified #10104 but couldn't reproduce it. However I see this issue on the latest build as per this issue. I see this happen when the focus is set to an inactive tab (dead tab) by either closing the immediate/previous tab. Minimize and restore  doesn't show the cursor for me have to quit and restart the browser to function normally

[2017-08-08 08:38] LoveIsGrief commented on #9193
@crysman You could try logging what's actually being sent  to brave with a bash script e.g

[code]

Then try and do whatever it is you were trying to do and check _/tmp/brave_calls_ ad well as _/tmp/brave_logs_

[2017-08-08 09:51] luixxiul commented on #10094
Added the milestone based on https://github.com/brave/browser-laptop/pull/10305#event-1193965004

[2017-08-08 11:41] pullingour commented on #10101
@sjlehn Thanks! I'll post description and screenshot for #10323

@bsclifton I tried again, the same problem happened. I'll post another screenshot for #10323
This issue happen when I try drag and drop bookmark that top of folder only. Another bookmarks are fine. I will write more detailed explanation for #10323

[2017-08-08 12:11] aliddell commented on #388
@bsclifton Sure I will. Thanks for the info.

[2017-08-08 13:11] frenchbread commented on #8957
Thanks

[2017-08-08 13:12] aliddell commented on #9193
Thanks to the comments above I've been able to get this working with 0.18.16 as my default browser on Kubuntu -- maybe this will be helpful?

I set my default web browser and http handler with `xdg-settings` like so:

    $ xdg-settings set default-web-browser brave.desktop
    $ xdg-settings set default-url-scheme-handler http brave.desktop

_And_ I set the default browser in the Default Applicat

[2017-08-08 14:39] joelgrodriguez commented on #3555
+1

Once this is implemented Chrome will be uninstalled. Make it happen, please. With everything that is going with Google now, this is your chance to gain a lot of market share. This feature needs to be added.

[2017-08-08 15:50] luixxiul opened #10336 "Update disabledContent.js to the modified BEM style"
**Describe the issue you encountered:** Update disabledContent.js to the modified BEM style.

- Platform (Win7, 8, 10? macOS? Linux distro?): All

- Brave Version (revision SHA): master branch

- Actual result: the left margin between the gray area and the left main sidebar changes slightly. It will be addressed at the same time.

    ![width](https://user-images.githubusercontent.com/3362943/2908

[2017-08-08 17:12] jonathansampson opened #10338 "Add a Task Manager, à la Google Chrome"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Brave presently does not offer a way to identify PID for tabs and memory/CPU usage.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Desktop

- Screenshot if needed:

![image](https://user-images.githubusercontent.com/815158/29084677-6d88145e-7c32-11e7-8668-5e0e9a86fb5a.png)

[2017-08-08 17:23] luixxiul opened #10339 "Update advancedSettings.js to the modified BEM style"
**Describe the issue you encountered:** Update advancedSettings.js to the modified BEM style.

- Platform (Win7, 8, 10? macOS? Linux distro?): All

- Brave Version (revision SHA): master branch

- Extra QA steps:
    1. Open about:preferences#payments
    2. Click the advanced setting icon
    3. Make sure the things are properly placed

- Any related issues:

[2017-08-08 18:19] gojomo commented on #10338
Even an "about:processes" tab, with a single snapshot of PID->tab mappings, would be a great help/start.

[2017-08-08 18:46] LaurenWags opened #10342 "spaces in URLs"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
When opening a php link from http://prototiposis.com/hackers/ brave is removing the '%20' and showing spaces in the URL bar. In Brave, this link works fine. However, if you copy the URL (with spaces) an paste it elsewhere (like facebook), the link no longer works because the %20 is missing.

[2017-08-08 20:03] pullingour commented on #10323
Same problem here.

- Platform (Win7, 8, 10? macOS? Linux distro?):
OSX 10.11.6 (El Capitan)

- Brave Version (revision SHA):
0.18.14 https://github.com/brave/browser-laptop/commit/ad92d029e184c4cff01b2e9f4916725ba675e3c8
- Can this issue be consistently reproduced?
Yes
- Any related issues:
folder size has unnecessary length after put into bookmark
- Screenshot if needed:

![bug2](https://user-im

[2017-08-08 20:04] eljuno commented on #973
+2 from community https://community.brave.com/t/changing-tabs-position-to-what-im-used-to/5438

[2017-08-08 20:13] alexwykoff opened #10343 "Hide bitwarden and pinterest for 0.18.x"
## Test plan
1. Open Preferences > Security and verify that bitwarden is not shown in the drop down under "Passwords and forms"
2. Visit Preferences > Extensions and verify that bitwarden and Pinterest do not show

## Original issue description
Mea culpa. QA should have spent more time on this before we made it visible.

We'll be focused on having it fixed in the near future.

[2017-08-08 20:18] alexwykoff commented on #10299
If we can, having the upstream chromium issue would be really handy

[2017-08-08 20:24] justanironic commented on #1122
I'd definitely love to edit the UI, not a fan of how brave looks at the moment and I'd love to rice it.

[2017-08-08 20:26] darkdh commented on #10040
Please try 0.18.14 and upward because 0.17.17 still use old electron spellchecker implementation

[2017-08-08 20:31] LaurenWags commented on #10040
@darkdh looks good to me, I've asked community user to confirm also.

[2017-08-08 20:32] cezaraugusto commented on #8956
changed title and moved to 0.21.x (current master). Self assigned

[2017-08-08 20:38] Liunkae commented on #10338
Duplicate of #1547. See also #4368.

[2017-08-08 20:41] alexwykoff commented on #10101
@luixxiul this needs comparison vs other browsers. the interaction makes sense for files but we need to compare vs browsers

[2017-08-08 20:43] alexwykoff commented on #10053
@srirambv let's retest with 0.18.x please

[2017-08-08 20:44] alexwykoff commented on #10040
i think this was fixed by 0.18.x change to spellchecker

[2017-08-08 20:45] #10040 closed

[2017-08-08 20:46] alexwykoff commented on #9121
@kjozwiak if you would like to give this a crack that'd be cool

[2017-08-08 20:50] alexwykoff commented on #8524
we have this tracked in source control and in chat

[2017-08-08 20:50] #8524 closed

[2017-08-08 20:50] alexwykoff commented on #5389
we have this tracked in source control and in chat

[2017-08-08 20:50] #5389 closed

[2017-08-08 20:54] gojomo commented on #1547
Even a simple 'about:tabs' or 'about:processes' pseudo-URI, with a single-point-in-time snapshot of PID->tab, would be a big help – allowing correlation with other PID-centric system tools.

[2017-08-08 20:56] bbondy commented on #9808
Duplicate of #10094

[2017-08-08 20:56] #9808 closed

[2017-08-08 21:05] bsclifton commented on #10299
possibly related:
- https://bugs.chromium.org/p/chromium/issues/detail?id=751601&q=no caret&colspec=ID Pri M Stars ReleaseBlock Component Status Owner Summary OS Modified
- https://bugs.chromium.org/p/chromium/issues/detail?id=740518&can=1&q=caret hidden&colspec=ID Pri M Stars ReleaseBlock Component Status Owner Summary OS Modified

(many suspect upstream issues; hard to narrow down)

[2017-08-08 21:49] bsclifton commented on #9843
Closing as a duplicate of https://github.com/brave/browser-laptop/issues/8574

[2017-08-08 21:49] #9843 closed

[2017-08-08 21:55] bsclifton commented on #8574
Issue renamed after discovering that https://github.com/brave/browser-laptop/issues/9843 is a dupe.

<img width="1039" alt="screen shot 2017-07-06 at 10 54 09 am" src="https://user-images.githubusercontent.com/28946/27925435-928f95d2-6239-11e7-9aeb-c07239346deb.png">

I had some good notes about this issue:
- It seems that typing into the URL bar causes the issue
- a suggestion is displayed and I

[2017-08-08 22:20] alexwykoff commented on #8890
https://github.com/brave/muon/pull/264 has been merged, we should revisit this after some testing @luixxiul @darkdh 😸

[2017-08-08 22:53] bsclifton commented on #10343
Updated to call out hiding pinterest as well, until it's ready

cc: @jonathansampson @kevinlawler

[2017-08-08 23:13] #10338 closed

[2017-08-08 23:20] bsclifton commented on #10327
I believe this is the root cause:
https://github.com/brave/browser-laptop/issues/3752

I'd like to close this as duplicate. Maybe it works OK in Ubuntu because Google Apps serve different content based on the OS?

[2017-08-08 23:20] #10327 closed

[2017-08-08 23:29] eljuno commented on #9748
+1 from community https://community.brave.com/t/make-default-search-engine-one-that-respects-your-privacy/5465/

and +1 from me. :smile:

[2017-08-09 00:45] diracdeltas opened #10347 "do not use node url.parse"
The legacy API seems less safe than using the new URL API: https://nodejs.org/api/url.html#url_legacy_url_api

[2017-08-09 00:45] luixxiul commented on #5389
Is it surely ok to close this?

[2017-08-09 00:46] luixxiul commented on #10040
Added the milestone for QA

[2017-08-09 01:39] luixxiul commented on #10101
This is the issue I reported:

![bookmark](https://user-images.githubusercontent.com/3362943/29101650-a63f4364-7cee-11e7-92d1-3300706bf80a.gif)

Actually this is a regression based on 0.18.14.

[2017-08-09 01:43] luixxiul opened #10348 "Bookmarked icon keeps displayed after the bookmark is deleted"
**Describe the issue you encountered:** Bookmarked icon keeps displayed after the bookmark is moved to a bookmark folder and deleted.

<img width="395" alt="screenshot 2017-08-09 10 49 11" src="https://user-images.githubusercontent.com/3362943/29101894-69e86aa6-7cf0-11e7-837f-1adb84b1093c.png">

- Platform (Win7, 8, 10? macOS? Linux distro?): macOS

- Brave Version (revision SHA): master branch

-

[2017-08-09 01:50] luixxiul commented on #10348
This is the log on the devtool console

[code]

[2017-08-09 02:23] bbondy opened #10349 "Crashing main process is losing window state"
- Did you search for similar issues before submitting this one?
Yes.

- Describe the issue you encountered:
Using debug menu
- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS, probably others

- Brave Version (revision SHA):
0.18.x through master

- Steps to reproduce:
    0. Clean session store (or not is fine)
    1. Open Brave and open a few tabs
    2. Quit normally
    3. Startup normally

[2017-08-09 02:51] #10306 closed

[2017-08-09 03:17] luixxiul commented on #10306
I added the release-notes/exclude label as the document is for developers, not users.

[2017-08-09 03:24] Gnat008 commented on #6955
This continues to be an issue on Linux as of 0.18.16 (rev 8003c66).

In my use case, the default zoom has to be 125% to properly fit on the monitor. When a new tab is opened, everything is moved to the right, with part of the page and the scrollbar entirely off the screen, as shown: https://imgur.com/Cm6p01W

Needless to say, this makes it a little annoying to use. Some focus in this area would be

[2017-08-09 03:45] #10094 closed

[2017-08-09 03:54] Liunkae commented on #1547
Changing the milestone to 1.0.0 per duplicate issue #10338.

[2017-08-09 04:07] luixxiul opened #10350 "No release file"
**Describe the issue you encountered:** https://community.brave.com/t/no-release-file/5471?u=suguru

- Platform (Win7, 8, 10? macOS? Linux distro?): Linux Mint 18.2 Cinnamon Edition

- Brave Version (revision SHA):

- Extra QA steps:
    1.
    2.
    3.

- Any related issues:

[2017-08-09 04:08] luixxiul commented on #10350
CC @posix4e

[2017-08-09 04:26] cezaraugusto commented on #9764
@bsclifton can you confirm if still an issue? can't repro in 0.18.19

[2017-08-09 05:08] luixxiul commented on #10269
note: by disabling javascript the browser gets undetectable quite well:

![clipboard01](https://user-images.githubusercontent.com/3362943/29105855-e1a37b10-7d0b-11e7-8483-75beb04dca6e.png)

Finally getting the score with scripts disabled, I am not sure how much disabling the traditional fingerprinting methods actually effective are today...

[2017-08-09 05:13] luixxiul commented on #10269
Also on the PoC site (http://nothingprivate.ml/) the browser is not detected by using the torbrowser.

[2017-08-09 05:29] bsclifton commented on #10343
Fixed with https://github.com/brave/browser-laptop/pull/10345 (merged into all branches, including [master](https://github.com/brave/browser-laptop/commit/4cae9819e61ad276de57a0d6b2972da5159c41ce))

[2017-08-09 07:18] wolkym opened #10352 "undefined symbol: gdk_screen_get_monitor_scale_factor"
**0.18 version doesn't run on Ubuntu 12.04 LTS.**

It fails with **`undefined symbol: gdk_screen_get_monitor_scale_factor`**
[code]

Platform:
[code]

Brave Version (revision SHA):
`0.18.16-1`

Steps to reproduce:
    1. Install brave 0.18.16-1
    2. run brave

Is this an issue in the currently released version? **YES**

Can this issue be consistently reproduced? **YES**

[2017-08-09 07:21] bsclifton commented on #9822
Is this not already the case? I know it may show as empty on fresh install, but it should be defaulting to the default download path when the dialog comes up

cc: @LaurenWags, @srirambv, @luixxiul

[2017-08-09 07:23] bsclifton commented on #10352
Ubuntu 12 is a little old- I don't know if Chromium is supported on that spec.  @cronacronis does Chrome / Chromium work OK for you?

[2017-08-09 07:26] bsclifton commented on #10349
Just for reference: original fix was delivered with https://github.com/brave/browser-laptop/pull/9912

[2017-08-09 07:33] cronacronis commented on #10352
@bsclifton version 0.17 works fine. Chrome works as well :)

[2017-08-09 07:38] bsclifton commented on #10214
This works great in 0.17.19 but happens in all versions of 0.18.x (I went as far back as 0.18.1). Needs more investigation

[2017-08-09 07:43] bsclifton commented on #5620
Is this the same issue as https://github.com/brave/browser-laptop/issues/3101?

[2017-08-09 07:44] bsclifton commented on #10099
Thanks for the report, @chris1000!  We have captured this issue here, which you can track for updates:
https://github.com/brave/browser-laptop/issues/3101

Closing this issue as a duplicate

[2017-08-09 07:44] #10099 closed

[2017-08-09 07:47] bsclifton commented on #10191
Closing issue as there hasn't been a response

@Kaysod if you can try the steps that @alexwykoff provided, please feel free to report back and reopen.  Thanks 😄

[2017-08-09 07:47] #10191 closed

[2017-08-09 07:51] srirambv opened #10353 "All bookmark folders not shown in dropdown"
- Did you search for similar issues before submitting this one?

- Describe the issue you encountered:
Reported from community

- Platform (Win7, 8, 10? macOS? Linux distro?):
Mac (Sierra 10.12.5)

- Brave Version (revision SHA):
 0.18.14.

- Steps to reproduce:
    1. Have more than 30 bookmark folders
    2. Edit a bookmark
    3. Drop down only shows upto 29

- Actual result:
All bookmark folde

[2017-08-09 07:52] bsclifton commented on #10352
@cronacronis what version of Chrome? With 0.18.14, we upgraded to Chromium 60

[2017-08-09 07:52] bsclifton commented on #10352
cc: @hferreiro

[2017-08-09 07:54] mbootsman commented on #5620
Looks like it.
Still doesn't work with the latest version.

[code]

[2017-08-09 07:58] Jacalz commented on #9822
I mean without bringing up the dialog, like when you choose where to download to and you disable the option to always ask where to save files 😉

[2017-08-09 08:48] NejcZdovc opened #10354 "Split navigator in smaller components"
## Test plan

https://github.com/brave/browser-laptop/pull/10355#issue-248977058

----

**Describe the issue you encountered:**
Split navigator and navigationBar into:
- bookmarkButton
- homeButton
- reloadButton
- stopButton
- forwardButton
- backButton

for #9283

[2017-08-09 08:52] luixxiul commented on #10353
it is reproduced for me as well. See: https://github.com/brave/browser-laptop/issues/10348#issue-248893566

[2017-08-09 08:52] luixxiul commented on #10348
related: https://github.com/brave/browser-laptop/issues/10353#issue-248945834

[2017-08-09 09:39] luixxiul commented on #10094
Playing 30 min video on Netflix, the browser's UI was not locked at all :-)

[2017-08-09 09:48] srirambv commented on #10299
Found another way to reproduce this, below steps could be helpful

1. Launch an app and follow a link which open in Brave
2. Two windows are open (one from the previous session and the other following the link)
3. Close the second window which was opened following the link
4. Original window with previous session doesn't show the cursor, minimize and restore shows the cursor

[2017-08-09 09:54] luixxiul opened #10356 "Fix the wrong spacing around the per cent number on ledger panel"
**Describe the issue you encountered:** Polish pinnedInput.js

- Platform (Win7, 8, 10? macOS? Linux distro?): All

- Brave Version (revision SHA): master branch

- Steps to reproduce:
    1. Run `npm run add-simulated-synopsis-visits 100`
    2. Open about:preferences#payments
    3. Pin some sites

- Actual result:
  <img width="189" alt="screenshot 2017-08-09 18 48 31" src="https://user-images.

[2017-08-09 10:45] srirambv commented on #9822
I had brought this question before but guess it was lost in conversation :sweat_smile: . I think if the download path is not explicitly set then we may hide the file save dialog but again it will be an extra step for users to again change the download path. However if the default path is changed, it should add the path when it changes (which is currently missing). Also have a look at #9010

I feel

[2017-08-09 11:31] srirambv opened #10358 "In-site Linkedin login fails"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Reported from community

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows  10 x64

- Brave Version (revision SHA):
Brave: 0.18.14
rev: ad92d029e184c4cff01b2e9f4916725ba675e3c8
Muon: 4.3.6

- Steps to reproduce:
    1. Visit www.snappcar.nl
    2. Try logging into using Linkedin
    3.

[2017-08-09 11:52] luixxiul commented on #10342
I noticed it as well when opening `https://github.com/brave/browser-laptop/issues?utf8=✓&q=is%3Aissue is%3Aopen label%3Aperf`

STR:
1. Open the issue tab above
2. Search `is:issue is:open label:bug`
3. Copy the URL
4. Open a new tab
5. `Paste and go`

Actual result: search result of the URL is displayed

Expected result: the URL should be directly opened

[2017-08-09 11:54] luixxiul commented on #10342
I moved the milestone just in case as this is a regression of the feature that should always pass through general regression tests.

[2017-08-09 13:09] LaurenWags opened #10359 "Manual test run on OS X for 0.18.x Hotfix"
## Per release specialty tests
 - [ ] Hide bitwarden and pinterest for 0.18.x . ([#10343](https://github.com/brave/browser-laptop/issues/10343))
 - [x] Tab previews: stick to changing properties that can be handled by the compositor alone. ([#10291](https://github.com/brave/browser-laptop/issues/10291))
 - [x] Fix issue where pinned tab can't be really unpinned. ([#10241](https://github.com/brave/

[2017-08-09 13:09] LaurenWags opened #10360 "Manual test run on Windows ia-32 for 0.18.x Hotfix"
## Per release specialty tests
 - [x] Hide bitwarden and pinterest for 0.18.x . ([#10343](https://github.com/brave/browser-laptop/issues/10343))
 - [ ] Tab previews: stick to changing properties that can be handled by the compositor alone. ([#10291](https://github.com/brave/browser-laptop/issues/10291))
 - [ ] Findbar slowness (cmd + F, typing). ([#10271](https://github.com/brave/browser-laptop/is

[2017-08-09 13:09] LaurenWags opened #10361 "Manual test run on Windows x64 for 0.18.x Hotfix"
## Per release specialty tests
 - [x] Hide bitwarden and pinterest for 0.18.x . ([#10343](https://github.com/brave/browser-laptop/issues/10343))
 - [x] Fix issue where pinned tab can't be really unpinned. ([#10241](https://github.com/brave/browser-laptop/issues/10241))
 - [ ] Extension Popup Not Showing. ([#10224](https://github.com/brave/browser-laptop/issues/10224))
 - [ ] Ledger getPublisher pe

[2017-08-09 13:09] LaurenWags opened #10362 "Manual test run on Linux for 0.18.x Hotfix"
## Per release specialty tests
 - [ ] Hide bitwarden and pinterest for 0.18.x . ([#10343](https://github.com/brave/browser-laptop/issues/10343))
 - [ ] Fix issue where pinned tab can't be really unpinned. ([#10241](https://github.com/brave/browser-laptop/issues/10241))
 - [ ] Linux rpm is not signed. ([#10188](https://github.com/brave/browser-laptop/issues/10188))
 - [ ] Ledger getPublisher perf i

[2017-08-09 13:10] LaurenWags commented on #10318
Closing in favor of https://github.com/brave/browser-laptop/issues/10362

[2017-08-09 13:10] #10318 closed

[2017-08-09 13:10] LaurenWags commented on #10317
Closing in favor of https://github.com/brave/browser-laptop/issues/10361

[2017-08-09 13:12] LaurenWags commented on #10316
Closing in favor of https://github.com/brave/browser-laptop/issues/10360

[2017-08-09 13:12] #10316 closed

[2017-08-09 13:13] LaurenWags commented on #10315
Closing in favor of https://github.com/brave/browser-laptop/issues/10359

[2017-08-09 13:13] #10315 closed

[2017-08-09 13:16] LaurenWags commented on #10319
Updated Exclusion list from running changelog-generator

[2017-08-09 13:29] aekeus opened #10363 "Add accelerator keys for new session tab menu entries"
## Test plan

https://github.com/brave/browser-laptop/pull/10364#issue-249032785

----

New sessions may be created by selecting from the sub-menu. There is currently no convenient keyboard shortcut for this task.

The accelerator keys should be CmdOrCtrl+Alt+{PartitionNumber}.

[2017-08-09 13:39] srirambv commented on #6869
On a side note, when you have pinned tabs and then switch to one of the pinned tabs, pressing tab 3 times causes this
![image](https://user-images.githubusercontent.com/17010094/29124293-737462e4-7d10-11e7-9d39-51de28399d82.png)
The first two pinned tabs goes out of view and the only option to restore back to normal is to maximize the window and restore.

[2017-08-09 14:15] #10317 closed

[2017-08-09 15:16] mischapeters commented on #4184
I guess we need to get more people behind it as it's not been done yet. Would love to see Passman in Brave. Both Firefiox and Chrome support this through their extension store.

[2017-08-09 15:18] NejcZdovc commented on #10182
@bridiver can you please check out this comment https://github.com/brave/browser-laptop/issues/10182#issuecomment-318576031

[2017-08-09 15:26] bsclifton commented on #5620
Closing as a duplicate of https://github.com/brave/browser-laptop/issues/3101

Please subscribe there for updates 😄

[2017-08-09 15:26] #5620 closed

[2017-08-09 15:53] LaurenWags opened #10365 "Detach loaded tab displays as new tab"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
When detaching a loaded tab, it displays as a new tab instead of the site you had loaded.

- Platform (Win7, 8, 10? macOS? Linux distro?):
MacOS

- Brave Version (revision SHA):
Brave | 0.18.20
rev | 60bb9e6
Muon | 4.3.9

- Steps to reproduce:
    1. Open a new tab and load a site (I used nyt

[2017-08-09 16:05] johngarcia9110 commented on #3555
+1

Can not switch until this feature has been added =(

[2017-08-09 16:13] Gnat008 commented on #6955
Here's a puzzling update... I can no longer reproduce this issue. No updates have been installed, the Brave version and revision is the same. But new tabs open and display correctly at the proper scaling and location.

The only change is I had logged out last night, and logged in this morning.

[2017-08-09 16:37] srirambv opened #10366 "Shared memory error on Windows"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Shared memory error on Windows

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64 (V1703 15063.540)

- Brave Version (revision SHA):

Brave | 0.18.20
-- | --
rev | 60bb9e6
Muon | 4.3.9

- Steps to reproduce:
    1. Build from  60bb9e6
    2. Open browser console (Shift+F8)
    3.

[2017-08-09 16:56] luixxiul commented on #10366
Is this related? I get this message on macOS with 0779430a7fb8e9a16e0650e44f771e598b5de73f.

[code]

[2017-08-09 17:04] hrsyvg opened #10367 "Cookies that disappear when you close the page"
When we closed the page, the cookies would self-destruct, it would be nice. It was offered as a preference. Like Self-Destructing Cookies.

[2017-08-09 17:26] jonathansampson opened #10368 "Increase Padding on Pinned Tabs"
## Test plan

https://github.com/brave/browser-laptop/pull/10533#issue-250567316

----

- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Pinned tabs would benefit from better UI/UX with greater lateral padding. See [this tweet](https://twitter.com/orangefallz/status/895322726436528133) by a Brave user.

If this request is implemented, we sh

[2017-08-09 17:35] Gnat008 commented on #6955
Testing on a fresh VM running ElementaryOS Loki 0.4.1 confirmed my results above.

On the first login, installed Brave. Changed the zoom setting to 125%, and opened a new tab and pointed it to npr.org. Everything was pushed to the right, with part of the site off-screen. Then I logged out of Elementary, and back in, and reopened Brave, with the previous tabs closed, zoom still at 125%. Opened a ne

[2017-08-09 17:42] cezaraugusto commented on #10368
+1

[2017-08-09 17:50] luixxiul opened #10369 "Update l20n to 5.0.x"
**Describe the issue you encountered:** Update l20n from 3.5.1 to 5.0.x.

changelog: https://github.com/l20n/l20n.js/blob/v5.0.0/CHANGELOG.md
diff: https://github.com/l20n/l20n.js/compare/v3.5.1...v5.0.0

Since there are ~580 commits which have been added since 3.5.1, it won't be easy to update the module. You get this error by editing l20n to `5.0.x` on package.json and running `npm i`:

[code]

[2017-08-09 17:51] bsclifton commented on #9714
Closing this issue as a duplicate of https://github.com/brave/browser-laptop/issues/9193

Please note: this should be fixed with https://github.com/brave/browser-laptop/pull/10215

Some folks are reporting that even with this fix though, there are still issues (see work-around using `xdg-settings`

[2017-08-09 17:51] #9714 closed

[2017-08-09 17:54] luixxiul commented on #9193
Should we reopen this issue, if #10205 did not solve the issue completely?

[2017-08-09 17:58] jonathansampson opened #10370 "Link for Release Notes leads to 404"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Clicking the _Release Notes_ link in `about:brave` leads to a GitHub 404.

[Reported on Twitter](https://twitter.com/halfwrittensong/status/895340766582657030).

- Platform (Win7, 8, 10? macOS? Linux distro?):
Desktop

- Brave Version (revision SHA):
0.18.20 ([tweet](https://twitter.com/halfw

[2017-08-09 18:02] srirambv commented on #10319
Updated the list with Bitwarden tests

[2017-08-09 18:03] Liunkae opened #10371 "0.18.20: Cannot create a new private/session tab without an active window"
- Did you search for similar issues before submitting this one?
Yes.

- Describe the issue you encountered:
If there is no active window, you cannot create a private or session tab. The bug started occurring in Brave 0.18.20. Could it be due to #10305?

- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS 10.12.x

- Brave Version (revision SHA):
0.18.20 (60bb9e6)

- Steps to reproduce:
    1. Ope

[2017-08-09 18:09] Liunkae commented on #10370
0.19.x is still in beta, so there's no release notes yet.

[2017-08-09 18:11] bsclifton commented on #7921
Tentatively moving to 0.19.x - we've got it disabled for now because of issues we ran into. We'll continue working away at those and plan to release with 0.19.x

[2017-08-09 18:11] jonathansampson commented on #10370
@Liunkae This happened for a user on 18.20 as well. See [this tweet](https://twitter.com/halfwrittensong/status/895340766582657030). If we have a link there, it should lead someplace other than a 404.

[2017-08-09 18:12] bsclifton commented on #7921
Let's track this with https://github.com/brave/browser-laptop/issues/4776 instead

[2017-08-09 18:12] #7921 closed

[2017-08-09 18:12] bsclifton commented on #4776
Tentatively moving to 0.19.x - we've got it disabled for now because of issues we ran into. We'll continue working away at those and plan to release with 0.19.x

[2017-08-09 18:12] Liunkae commented on #10370
0.18.20 is still in beta too. 😉  0.18.14 is the current release.

[2017-08-09 18:15] luixxiul commented on #10370
It works for me on 0.18.20.

Maybe the link was not correctly applied when the user opened `about:brave`. I remember I experienced the similar issue, and for me the link was not defined, ie `https://github.com/brave/browser-laptop/releases/tag/undefined`. I'm not sure how to reproduce the issue.

[2017-08-09 18:17] bsclifton commented on #4776
For the specific open issues, please see:
- bitwarden issues while testing #10202
- bitwarden: Site autofill doesn't work #10140
- bitwarden extension header buttons are not clickable #9436

@jonathansampson @kspearrin when working in dev and testing compatibility, please try the revert mentioned in the original post above

[2017-08-09 18:26] LaurenWags opened #10372 "bookmark name updates when you View Page Source"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
When you 'View Page Source' for a bookmarked page, the bookmark name updates to be view-source:<URL>

- Platform (Win7, 8, 10? macOS? Linux distro?):
MacOS

- Brave Version (revision SHA):
Brave | 0.18.20
rev | 60bb9e6
Muon | 4.3.9

- Steps to reproduce:
    1. Navigate to a non-bookmarked pa

[2017-08-09 18:27] alexwykoff opened #10373 "Unmute option missing from tab context menu until focus cycles"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
A user from community discovered that we are missing the unmute option and that selecting Mute a second time does not unmute.
https://community.brave.com/t/right-click-mute-on-tab-doesnt-allow-for-unmute-after/5519

- Platform (Win7, 8, 10? macOS? Linux distro?):
Discovered on OS X and Window

[2017-08-09 18:30] bsclifton commented on #9193
Yes, let's re-open until we can figure out the rest

After talking with @darkdh, maybe we should go with the solution proposed by @LoveIsGrief
https://github.com/brave/browser-laptop/pull/9890

It sounds like Chromium args *should* always be in the form `--paramName=value` and never in the form `--paramName value`. If that is true, we're safe to accept the PR 😄

[2017-08-09 18:32] bsclifton commented on #9193
@LoveIsGrief your original PR couldn't be re-opened (since the branch was deleted)...
Would you be able to create a new branch, cherry-pick in https://github.com/brave/browser-laptop/pull/9890/commits/c1d43aad017f2d1593d30df42622c3ce40e6b93a, and then submit a new PR? 😄

[2017-08-09 19:10] bbondy commented on #10292
Reverted:
0.18.x: 2c7141fadb06b1b4c4bc15896795cacf869e4842
0.19.x: 1194c1c05ac8c75d5845dfebff2e173f90832c4b
0.20.x: b08ff11aab7372780c1e0f58c565e67229b598d4
master: 69eee4205e487351952393d1c6b99a6c10a3978b

[2017-08-09 19:15] alexwykoff commented on #8600
+1 from community : https://github.com/brave/browser-laptop/issues/8600

[2017-08-09 19:40] LaurenWags opened #10374 "after close/reopen, pinned tab is duplicated as normal tab"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
After pinning a tab, closing/reopening Brave, my pinned tab is duplicated as a regular tab. Subsequent close/reopen of Brave results in another (regular) tab added each time for the pinned tab.

- Platform (Win7, 8, 10? macOS? Linux distro?):
MacOS

- Brave Version (revision SHA):
Brave | 0.1

[2017-08-09 19:42] bbondy commented on #10292
This isn't working on Windows currently until we have a new muon so moving this back to 0.21.x for now.  I'll PR it and block it on another issue for shared memory in renderer on Windows within sandbox.

[2017-08-09 19:45] luixxiul commented on #10372
@NejcZdovc was this fixed with the split PR you merged recently?

[2017-08-09 19:53] rdetert commented on #517
+1 Reader Mode is the one thing I miss from Safari on desktop. I can read so much faster.

[2017-08-09 19:57] LoveIsGrief commented on #9193
@bsclifton I still have the branch locally. Maybe a rebase onto the new master will do.

[2017-08-09 19:58] Pistos commented on #6807
I just want to add that I also was encountering "blank, white windows" when I had tried to set a custom watch port (other than the default 8080).  After putting the default back, my problem was solved.

[2017-08-09 20:52] eljuno commented on #973
+1 from community https://community.brave.com/t/bookmarks-toolbar-placement/5464/3

[2017-08-09 20:57] eljuno commented on #8600
+1 [from community](https://community.brave.com/t/bookmarks-toolbar-placement/5464/4?u=eljuno)

[2017-08-09 21:07] NejcZdovc commented on #10372
Yeah please test this on the latest master

[2017-08-09 21:24] eljuno commented on #973
+1 from community https://community.brave.com/t/move-tabs-to-top-of-browser/5511?u=eljuno

[2017-08-09 21:36] eljuno commented on #9362
+1 from community https://community.brave.com/t/persistent-bookmarks-in-folders-when-right-clicking/5527?u=eljuno

[2017-08-09 21:38] Liunkae opened #10376 "0.18.20: Open link in new window is broken"
- Did you search for similar issues before submitting this one?
Yes.

- Describe the issue you encountered:
Opening a link in a new window, manually with Open Link in New Window or automatically with `target=_blank`, is broken in 0.18.20. I think this is related to #10371.

- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS 10.12.x

- Brave Version (revision SHA):
0.18.20 (60bb9e6)

- Steps to

[2017-08-09 21:39] Liunkae commented on #10371
Likely related: #10376

[2017-08-09 21:55] bsclifton commented on #10372
Closing this out since it was fixed in master with site splitting

Please re-open if the issue still happens in master

[2017-08-09 21:55] #10372 closed

[2017-08-09 22:01] bradleyrichter opened #10377 "reconfigure brave's tab colors"
![image](https://user-images.githubusercontent.com/13509546/29145688-fd30e6d6-7d12-11e7-8308-0ba748cde185.png)

Solution is forthcoming but we will limit tab colors to white/grey/orange.

cc @NejcZdovc

[2017-08-09 22:11] bsclifton commented on #10376
I believe this is the same root cause as https://github.com/brave/browser-laptop/issues/10365

[2017-08-09 22:22] bsclifton commented on #10214
I went back through old versions of 0.18.x and found the commit in which this breaks:
https://github.com/brave/browser-laptop/commit/6cf20980584a1b3bbf508fca43ba637667311aba

If you grab this commit and then run the following:
[code]

You can install that version of Brave and the bug is present.  If you [check out the prior commit](https://github.com/brave/browser-laptop/commit/61d52ec2408cde5830f

[2017-08-09 22:54] bsclifton commented on #10214
I used the above commit (https://github.com/brave/browser-laptop/commit/6cf20980584a1b3bbf508fca43ba637667311aba) and tried an earlier version of Muon (4.3.0 is the first which uses Chromium 60).  This also fails

[2017-08-09 23:02] bsclifton commented on #10053
Closing as this needs to be retested.  If issue still occurs, let's re-open 😄

[2017-08-09 23:07] diracdeltas opened #10378 "[hackerone] https://hackerone.com/reports/258141"
it's an issue also in Chromium so hopefully will be fixed upstream

[2017-08-09 23:42] el-gallo-azul opened #10379 "Brave does not show anything on page https://www.coinjar.com/"
- Did you search for similar issues before submitting this one?
No

- Describe the issue you encountered:
I am trying to start using Brave as my default browser. I was prompted to start a Brave Wallet, which I think is a good idea, so I decided to start a Brave Wallet. On the pop-out dialog box "Three ways to add funds to your Brave Wallet", I chose the first option "Buy Bitcoin at our recommended

[2017-08-09 23:47] bsclifton commented on #10374
I confirmed this is caused by https://github.com/brave/browser-laptop/commit/cccb3dd489907ca83cbdb10c4a55bf6221b85f62

Looking into a fix...

[2017-08-10 00:47] luixxiul commented on #10285
Was this actually fixed by #10287?

[2017-08-10 00:50] luixxiul commented on #10374
I noticed a similar issue, where you get duplicate pinned tabs when you open a link in a new tab. Is this also caused by the same commit?

[2017-08-10 02:00] kjozwiak commented on #4651
This issue is reproducible in Windows as well. When loading PDF's via session tabs, you'll get the following error within the tab:

* Platform: Win 10 x64 Build: 10.0.15063
* Brave version: 0.18.14, 0.18.20

STR:

- open a new `regular tab` and load https://bitcoin.org/bitcoin.pdf (no issue)
- open a new `private tab` and load https://bitcoin.org/bitcoin.pdf (no issue)
- open a new `session tab` a

[2017-08-10 02:06] jonathansampson commented on #10249
+1 This is pretty important.

[2017-08-10 02:33] bbondy commented on #10374
master: e3e285587d9d4a0692c39b3f75fc167f5f8a8309
0.20.x: c5c37873b46fcff022fc5463e26198b4ee3464cf
0.19.x: beac410f0e07f862daf5fb057f577757effacbdf
0.18.x: 3f21513721c7b818e603798f82955772832dd519

[2017-08-10 02:33] #10374 closed

[2017-08-10 03:56] luixxiul commented on #10356
note: the styles such as `padding` will be normalized later after https://github.com/brave/browser-laptop/pull/10265 is merged. The styles are scattered everywhere, not only less files which will be converted later but files which have already been converted eg `ledgerTable.js`, which is why some styles are just redundant, creating table layout inconsistency. cc: @cezaraugusto, related: #9032

[2017-08-10 04:20] bbondy commented on #10371
Dupe of https://github.com/brave/browser-laptop/issues/10376

[2017-08-10 04:20] #10371 closed

[2017-08-10 04:20] bbondy commented on #10365
Duplicate of https://github.com/brave/browser-laptop/issues/10376

[2017-08-10 04:20] #10365 closed

[2017-08-10 04:27] luixxiul opened #10383 "Update lru-cache to 4.1.x"
**Describe the issue you encountered:** Update lru-cache to `4.1.x`.

https://www.npmjs.com/package/lru-cache
https://github.com/isaacs/node-lru-cache

diff: https://github.com/isaacs/node-lru-cache/compare/v1.1.1...v4.1.1

It seems that while there are several major updates the configuration does not seem to have been changed greatly from v1.1.1.
https://github.com/isaacs/node-lru-cache/tree/v1.1

[2017-08-10 04:31] bbondy commented on #10349
0.18.x: 1dfd76e8e567b872158a3c1079f0f177d20fc71c
0.19.x: b8296c13671ece01a1d3ff0b22766fa988ee0a53
0.20.x: f9d09f3249444d6e617d4b36e138bcbd47fab979
master: 2634bbfc8ac397c1b426a8dad2244bcbae61b9c4

[2017-08-10 05:00] #6098 closed

[2017-08-10 05:00] #10270 closed

[2017-08-10 05:06] luixxiul commented on #10270
note: `release-notes/include` has been added to https://github.com/brave/browser-laptop/issues/6098

[2017-08-10 05:08] luixxiul commented on #10334
@bbondy is this duping to #10376 as well as https://github.com/brave/browser-laptop/issues/10365#event-1200253457 is?

[2017-08-10 05:12] prasanthp96 commented on #10239
@bsclifton I could see only three channels listed in [https://github.com/brave/browser-laptop/blob/master/app/channel.js](here). Will it suffice changing these alone ? or should I alter any other code?

[2017-08-10 05:25] luixxiul commented on #10221
duplicate of #9351

[2017-08-10 05:25] #10221 closed

[2017-08-10 05:47] kjozwiak opened #10384 "about: pages are not always being populated"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Visiting about: pages doesn't always populate the page with the required information/data. This affects almost all of the about: pages including about:bookmarks, about:adblock and about:extensions.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64 (10.0.15063) - Can't check othe

[2017-08-10 05:48] luixxiul commented on #10384
I believe this is related with #10370.

[2017-08-10 05:49] Rafi993 opened #10385 "mobile emulator is absent in brave-laptop that comes in chrome by default in developer tools"
- Did you search for similar issues before submitting this one?
   yes
- Describe the issue you encountered:
    mobile emulator is absent in brave-laptop that comes in chrome by default in developer tools
- Platform (Win7, 8, 10? macOS? Linux distro?): All
- Brave Version (revision SHA):  0.18.20
- Steps to reproduce:
    1. Open developer tools
    2. the mobile preview icon is absent that is pr

[2017-08-10 05:51] juneyourtech opened #10386 "Feature request: Implement cookie prompts"
- Did you search for similar issues before submitting this one?
Yes..

- Describe the issue you encountered:
Implement cookie prompts that would allow users to choose which sites' cookies they want to allow forever / for session, or deny.

Firefox does not have that core mechanism any longer (since version 44.0), and other browsers (except legacy IE) never had this in the first place.

Also, creat

[2017-08-10 05:51] luixxiul commented on #10385
Hi, thanks for the report. The issue has been reported https://github.com/brave/browser-laptop/issues/7386 and I am going to close this issue in favor of that. Please subscribe it for discussions and announcements.

[2017-08-10 05:51] #10385 closed

[2017-08-10 05:52] luixxiul commented on #7386
+1 from https://github.com/brave/browser-laptop/issues/10385

[2017-08-10 06:09] #10376 closed

[2017-08-10 06:39] bsclifton commented on #10239
@prasanthp96 I'd say let's move forward with just `dev` and `beta` for now 😄  We will be adding support for the other two very soon and `stable` isn't used (we can ignore it for now).

Once you have the mapping in place, it should be easy to adjust once we have the new channels (`developer`, `nightly`) added 😄

[2017-08-10 06:57] bsclifton commented on #10295
cc: @darkdh

[2017-08-10 07:20] bsclifton commented on #10256
@srirambv can you please try this on our latest release? (0.18.21) This should definitely be working

[2017-08-10 07:45] JGH1000 commented on #6446
+1 still can't install on Ubuntu 16.04 LTS

[2017-08-10 07:52] ltilve commented on #10352
It seems it could be a missing gtk3 dependency issue. The symbol for  `gdk_screen_get_monitor_scale_factor` should come with `/lib64/libgdk-3.so`.
Apparently it happens too with upstream `Chrome 60` and `Red Hat 7` https://stackoverflow.com/questions/45312030/chrome-60-undefined-symbol-gdk-screen-get-monitor-scale-factor-on-redhat-7

[2017-08-10 07:57] JGH1000 commented on #5086
Any update on this? A bit annoying..

[2017-08-10 08:01] srirambv commented on #10256
@bsclifton Still loading from disk cache and memory cache
![10256](https://user-images.githubusercontent.com/17010094/29160490-53434cfc-7daa-11e7-97d3-1b0cf3f48a31.gif)

[2017-08-10 08:04] JGH1000 opened #10388 "Bookmark folder menu not visible on the right side of the browser"
A bit hard for me to take a screenshot but basically when I expand a bookmark folder on the right side of the bookmark bar (close to the window border), most of the menu is not visible - it should be moved to left when it does not fit.

Thank you for looking into this!

[2017-08-10 08:07] prasanthp96 commented on #10239
@bsclifton I have sent an PR, have a look!

[2017-08-10 08:12] NejcZdovc commented on #10388
@JGH1000 is this the same as #6869?

[2017-08-10 08:28] JGH1000 commented on #10388
Not exactly, but probably related.

![img_20170810_172701614](https://user-images.githubusercontent.com/27884805/29161469-4fb8a158-7df1-11e7-9460-f832a5b570dd.jpg)

[2017-08-10 08:32] srirambv commented on #10388
This is same as #4745

[2017-08-10 08:32] cronacronis commented on #10352
Looks like I have it, but indeed no `gdk_screen_get_monitor_scale_factor`
[code]

[2017-08-10 08:33] srirambv commented on #10388
Closing this as Dupe of #4745 and #5956

[2017-08-10 08:33] #10388 closed

[2017-08-10 08:34] srirambv commented on #4745
+1 from #10388

[2017-08-10 08:34] JGH1000 commented on #10388
Ah, sorry for not noticing it!

[2017-08-10 08:52] hunterhacker commented on #8221
What you actually do:

- Try everything you can think of
- Google around for an answer
- Find this page

Just saying, it's not the most intuitive.

[2017-08-10 08:56] luixxiul opened #10389 "Buttons and keys are not aligned properly on wallet backup dialog"
**Describe the issue you encountered:** Buttons and keys are not aligned properly on wallet backup dialog. This is because the width of the strings are sometimes different though the number of the characters are same.

- Platform (Win7, 8, 10? macOS? Linux distro?): All

- Brave Version (revision SHA): master branch

- Steps to reproduce:
    1. Open about:preferences#payments
    2. Open Brave wa

[2017-08-10 08:57] srirambv commented on #10388
No worries :smile:

[2017-08-10 09:04] srirambv commented on #10389
Can the text **Key 1/2** be moved into the button itself? This way you can remove the line break before the key value
![image](https://user-images.githubusercontent.com/17010094/29163080-44444cf2-7db3-11e7-9daa-3589ba0f353a.png)

cc: @bradleyrichter

[2017-08-10 09:07] luixxiul commented on #10389
I have a fix already and am going to PR :-)

[2017-08-10 09:11] luixxiul commented on #10389
Moving the label into the button looks a nice idea too!

[2017-08-10 09:12] ltilve commented on #10352
ftr, on my Debian env seems to be correct:
[code]

[2017-08-10 09:12] srirambv commented on #10384
Could be similar to the one here (https://github.com/brave/browser-laptop/issues/5712) relating to adblock

[2017-08-10 10:21] srirambv commented on #10366
Error not shown on 0.18.21 build.

[2017-08-10 11:53] srirambv opened #10391 "Remember decision in notification bar doesn't get stored"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Remember decision doesn't get saved

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):

Brave | 0.18.21
-- | --
rev | 263b6d5
Muon | 4.3.9

- Steps to reproduce:
    1. Build from 263b6d5
    2. Visit google.com in a tab, select remember this deci

[2017-08-10 13:09] LaurenWags opened #10392 "Manual test run on OS X for 0.18.x Hotfix"
## Per release specialty tests
 - [x] 0.18.20: Open link in new window is broken. ([#10376](https://github.com/brave/browser-laptop/issues/10376))
 - [x] After close/reopen, pinned tab is duplicated as normal tab. ([#10374](https://github.com/brave/browser-laptop/issues/10374))
 - [x] 0.18.20: Cannot create a new private/session tab without an active window. ([#10371](https://github.com/brave/brow

[2017-08-10 13:09] LaurenWags opened #10393 "Manual test run on Windows ia-32 for 0.18.x Hotfix"
## Per release specialty tests
 - [ ] 0.18.20: Open link in new window is broken. ([#10376](https://github.com/brave/browser-laptop/issues/10376))
 - [ ] After close/reopen, pinned tab is duplicated as normal tab. ([#10374](https://github.com/brave/browser-laptop/issues/10374))
 - [ ] 0.18.20: Cannot create a new private/session tab without an active window. ([#10371](https://github.com/brave/brow

[2017-08-10 13:09] LaurenWags opened #10394 "Manual test run on Windows x64 for 0.18.x Hotfix"
## Per release specialty tests
 - [ ] 0.18.20: Open link in new window is broken. ([#10376](https://github.com/brave/browser-laptop/issues/10376))
 - [ ] After close/reopen, pinned tab is duplicated as normal tab. ([#10374](https://github.com/brave/browser-laptop/issues/10374))
 - [ ] 0.18.20: Cannot create a new private/session tab without an active window. ([#10371](https://github.com/brave/brow

[2017-08-10 13:09] LaurenWags opened #10395 "Manual test run on Linux for 0.18.x Hotfix"
## Per release specialty tests
 - [ ] 0.18.20: Open link in new window is broken. ([#10376](https://github.com/brave/browser-laptop/issues/10376))
 - [ ] After close/reopen, pinned tab is duplicated as normal tab. ([#10374](https://github.com/brave/browser-laptop/issues/10374))
 - [ ] 0.18.20: Cannot create a new private/session tab without an active window. ([#10371](https://github.com/brave/brow

[2017-08-10 13:10] LaurenWags commented on #10362
Closing in favor of https://github.com/brave/browser-laptop/issues/10395

[2017-08-10 13:10] #10362 closed

[2017-08-10 13:10] LaurenWags commented on #10361
Closing in favor of https://github.com/brave/browser-laptop/issues/10394

[2017-08-10 13:10] #10361 closed

[2017-08-10 13:11] srirambv opened #10396 "Notification bar carat is retained on Netflix"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Notification bar carat is retained on Netflix

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):

Brave | 0.18.21
-- | --
rev | 263b6d5
Muon | 4.3.9

- Steps to reproduce:
    1. Clean install 0.18.21 build
    2. Visit Netflix.com and login
    3

[2017-08-10 13:12] LaurenWags commented on #10360
Closing in favor of https://github.com/brave/browser-laptop/issues/10393

[2017-08-10 13:12] #10360 closed

[2017-08-10 13:13] LaurenWags commented on #10359
Closing in favor of https://github.com/brave/browser-laptop/issues/10392

[2017-08-10 13:13] #10359 closed

[2017-08-10 13:30] LaurenWags commented on #9312
+1 from community - user has a large number of bookmarks and is noticing terrible performance. User also recorded a video which is in the community post outlining issues: https://community.brave.com/t/terrible-bookmark-manager-performance/5372

[2017-08-10 13:48] NejcZdovc commented on #9312
@LaurenWags I watched his video and this Is something that should already be addressed.

1) bookmark dialog is slow -> #9710
2) bookmarks are slow in general -> #10136

[2017-08-10 13:49] jgarciabu commented on #6251
+1 for great suspender or similar extension for Brave. If you can get this in place, I can wait for other features to be built in, but this one is critical given how resource hungry modern browsers are.

[2017-08-10 13:50] LaurenWags commented on #9312
Thanks @NejcZdovc - I'll let the user know some fixes are coming.

[2017-08-10 14:04] bradleyrichter commented on #10389
This should not be happening? Both buttons should be left aligned with strings on the right.

[2017-08-10 14:19] luixxiul commented on #10389
@bradleyrichter please see #10390 for the change to close this issue. I edited https://github.com/brave/browser-laptop/issues/10389#issuecomment-321496529 to add a screenshot of the modified proposal.

[2017-08-10 15:09] jonathansampson opened #10397 "Extension API: chrome.history.onVisitRemoved"
https://developer.chrome.com/extensions/history#event-onVisitRemoved

_Fired when one or more URLs are removed from the history service. When all visits have been removed the URL is purged from history._

Blocks #9531

[2017-08-10 15:14] jonathansampson opened #10398 "Extension API: chrome.history.onVisited"
https://developer.chrome.com/extensions/history#event-onVisited

Fired when a URL is visited, providing the HistoryItem data for that URL. This event fires before the page has loaded.

Blocks #9531

[2017-08-10 15:17] jonathansampson opened #10399 "Extension API: chrome.runtime.onInstalled"
https://developer.chrome.com/extensions/runtime#event-onInstalled

Fired when the extension is first installed, when the extension is updated to a new version, and when Chrome is updated to a new version.

Blocks #9531

[2017-08-10 15:19] jonathansampson opened #10400 "Extension API: chrome.sessions.restore"
https://developer.chrome.com/extensions/sessions#method-restore

_Reopens a windows.Window or tabs.Tab, with an optional callback to run when the entry has been restored._

Blocks #9531

[2017-08-10 15:22] jonathansampson opened #10401 "Extension API: chrome.storage.onChanged"
https://developer.chrome.com/extensions/storage#event-onChanged

_Fired when one or more items change._

Blocks #9531

[2017-08-10 15:25] jonathansampson opened #10402 "Extension API: chrome.storage.sync.get and chrome.storage.sync.set"
https://developer.chrome.com/extensions/storage#type-StorageArea

Blocks #9531

[2017-08-10 15:28] jonathansampson opened #10403 "Extension API: chrome.tabs.move"
https://developer.chrome.com/extensions/tabs#method-move

`chrome.tabs.move(integer or array of integer tabIds, object moveProperties, function callback)`

_Moves one or more tabs to a new position within its window, or to a new window. Note that tabs can only be moved to and from normal (window.type === "normal") windows._

Blocks #9531

[2017-08-10 15:30] jonathansampson opened #10404 "Extension API: chrome.permissions.onAdded"
https://developer.chrome.com/extensions/permissions#event-onAdded

_Fired when the extension acquires new permissions._

Blocks #9531

[2017-08-10 15:35] jonathansampson commented on #9553
This is supported.

[2017-08-10 15:35] #9553 closed

[2017-08-10 15:40] luixxiul opened #10405 "Middle mouse drag selects text instead of just scrolling"
**Describe the issue you encountered:** https://community.brave.com/t/middle-mouse-drag-selects-text-instead-of-just-scrolling/5583?u=suguru

![middlebutton](https://user-images.githubusercontent.com/3362943/29178743-6b337aca-7e2d-11e7-87f9-07025def35da.gif)

- Platform (Win7, 8, 10? macOS? Linux distro?): All

- Brave Version (revision SHA): master

- Steps to reproduce:
    1. Drag the page with

[2017-08-10 15:55] LaurenWags commented on #10349
Losing window state on MacOS

![10349](https://user-images.githubusercontent.com/28145373/29179527-a904f74a-7dc2-11e7-83b8-c4a61e99bc6f.gif)

[2017-08-10 16:02] srirambv opened #10406 "Debug menu not shown on Windows"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
While verifying #10349 setting `BRAVE_ENABLE_DEBUG_MENU=1` doesn't show the debug menu on browser window

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):

Brave | 0.18.21
-- | --
rev | 263b6d5
Muon | 4.3.9

- Steps to reproduce:
    1. Clean ins

[2017-08-10 16:07] LaurenWags commented on #10343
On MacOS Bitwarden and Pinterest are hidden in a clean profile, but if they were previously enabled on 0.18.14 (released version), they are still visible under about:preferences#extensions and beside the URL bar.

![10343](https://user-images.githubusercontent.com/28145373/29180036-6e81742a-7dc4-11e7-8fbf-713607066728.gif)

[2017-08-10 16:17] srirambv commented on #10406
Closing as it works fine from command prompt

[2017-08-10 16:17] #10406 closed

[2017-08-10 16:21] posix4e commented on #6446
@JGH1000 give me more of an explanation. I am running brave on 16.04 LTS just fine

[2017-08-10 16:35] MrksKwsnck commented on #9193
I am new to the Brave browser and have ran into exactly the same issue: *Can’t open external Links (from Evolution, Telegram etc.) if the Brave browser is already running.* - Very annoying :-1:

**My System:**

* Xubuntu 17.04 Zesty Zapus
* Brave 0.18.16

I was doing some research and I think I found an solution especially for XFCE desktop.
The main problem seemed to me that Brave didn't come up i

[2017-08-10 16:46] Brampyr commented on #2702
+1

[2017-08-10 17:20] posix4e commented on #6161
Started on https://github.com/posix4e/brave-freebsd-port

[2017-08-10 17:27] NejcZdovc commented on #9193
cc @bsclifton @posix4e

[2017-08-10 17:44] LaurenWags opened #10408 "Block Scripts from Bravery Icon"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
If you enable 'Block Scripts' from the Bravery icon, scripts are blocked, but the toggle still shows off. You are unable to 'undo' this action from Bravery icon.
Additionally, if you have 'Block Scripts' enabled by default, you can click on it to unblock scripts from the Bravery Icon, but the

[2017-08-10 17:47] #10391 closed

[2017-08-10 17:47] #10408 closed

[2017-08-10 17:47] diracdeltas opened #10409 "add unittests tests for muon-specific functionality"
now that the url parser relies on muon.url.parse, it is not testable in the regular unittest environment

[2017-08-10 19:06] LaurenWags opened #10410 "not prompted to restart Brave when changing preferences marked with an asterisk"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Preferences marked with an asterisk are not prompting for Brave to be restarted. This was working in 0.18.20.

- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS

- Brave Version (revision SHA):
Brave | 0.18.21
rev | 263b6d5
Muon | 4.3.9

- Steps to reproduce:
    1. In Preferences change

[2017-08-10 19:25] Liunkae opened #10411 "Removing top site tiles is buggy"
# Test Plan
    1. Visit few sites
    2. Open the dashboard page in a new tab.
    3. Click the "X" button to remove any page tile.
    4. The tile should be removed immediately.
#
- Did you search for similar issues before submitting this one?
Yes.

- Describe the issue you encountered:
When I try to remove top site tiles on the dashboard page, the tile is not removed immediately. It sometimes g

[2017-08-10 19:28] Liunkae commented on #10410
Same here, with Brave 0.18.21 (263b6d5) on macOS 10.12.x.

[2017-08-10 19:46] bbondy commented on #10410
getOrigin('about:preferences') would give about:
new:
getOrigin('about:preferences') gives null

And the issue manifests itself inside about:preferences changes when you get a restart notification

[code]

returns null there

[2017-08-10 19:51] Jacalz commented on #10411
+1 from me, Noticed this in 0.18.21 today

[2017-08-10 20:02] NejcZdovc commented on #10411
We added 5s delay for generating topSites https://github.com/brave/browser-laptop/blob/master/app/browser/api/topSites.js#L143. We optimised this in version 0.21, so it should be better.

[2017-08-10 20:16] alexwykoff opened #10413 "0.18.21 Brave fails to remember notification setting"
- Did you search for similar issues before submitting this one?
yes

- Describe the issue you encountered:
After updating to 0.18.21, Brave didn't remember the 'allow' choice for http://www.bennish.net/web-notifications.html

- Platform (Win7, 8, 10? macOS? Linux distro?):
Win7

- Brave Version (revision SHA):
0.18.21

- Steps to reproduce:
    1. Visit http://www.bennish.net/web-notifications.htm

[2017-08-10 20:16] alexwykoff commented on #10413
Still investigating around this. Will update in just a bit

[2017-08-10 20:17] NejcZdovc commented on #10413
@alexwykoff is this the same as #10391?

[2017-08-10 20:19] alexwykoff commented on #10413
ah, dupe it is. that's nuts too because i absolutely used the words 'remember notification' in my title search ☹️

[2017-08-10 20:19] #10413 closed

[2017-08-10 20:21] eljuno commented on #2183
+1 [from community](https://community.brave.com/t/build-in-auto-correct-only-in-english/5572)

[2017-08-10 20:38] CapitanPlanet commented on #2183
+1 extra important

[2017-08-10 20:53] bsclifton commented on #10343
Great find, @LaurenWags 😄  I've got a fix here, will submit a PR shortly

[2017-08-10 21:04] LaurenWags opened #10415 "Requested to update to preview build when not selected in Prefs"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
While checking how an item behaved on 0.18.20, I was prompted to update to 0.18.21 when this preference was not enabled under about:preferences#advanced

- Platform (Win7, 8, 10? macOS? Linux distro?):
MacOS

- Brave Version (revision SHA):
0.18.20

- Steps to reproduce:
    1. Open 0.18.20 (

[2017-08-10 21:11] #10410 closed

[2017-08-10 21:12] #10343 closed

[2017-08-10 21:19] jandahl commented on #1364
+1 - one of the most basic things for Mac users is missing.

[2017-08-10 21:20] jandahl commented on #1676
+1

[2017-08-10 21:20] LaurenWags opened #10418 "need to toggle cookie control for some sites to display properly"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
In previous versions (0.17.x, 0.18.14, 0.18.20), sites used for testing like https://jsfiddle.net/bkf50r8v/13/ (and other jsfiddle sites in our test wiki) displayed normally with default shield settings. With 0.18.21, to get these sites to display properly you must change the cookie setting f

[2017-08-10 23:10] darkdh commented on #10214
We need to revert this
https://github.com/brave/browser-laptop/commit/43e5541e8033b9405b8ea62b72710855d489ae89

[2017-08-11 00:02] #10214 closed

[2017-08-11 00:16] svenified commented on #9123
In order to reproduce this, the following setting must be turned off:
Tabs -> Switch to new tabs immediately.
If it is turned on, the tab select correctly goes to the webview.

[2017-08-11 00:41] Liunkae commented on #9123
Still reproducible with Brave 0.18.21.

[2017-08-11 00:57] Liunkae opened #10421 "Autocomplete still shows history entries even after they are cleared"
- Did you search for similar issues before submitting this one?
Yes.

- Describe the issue you encountered:
If you clear all history with the Clear Browsing Data option, the url-bar autocomplete still shows past history entries. The autocomplete entries are removed when Brave is restarted.

- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS 10.12.x

- Brave Version (revision SHA):
0.18.21 (263b

[2017-08-11 01:51] sanderaarts opened #10422 "Copy/paste sometimes pastes page's URL instead of selected text"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
I noticed that on some occasions when I try to copy a selected text and copy it elsewhere, that instead of the text the page's URL is pasted. Sometimes it works correct, sometimes it doesn't and sometimes it works correct on the second or third try.

- Platform (Win7, 8, 10? macOS? Linux dist

[2017-08-11 03:26] Liunkae commented on #10422
Duplicate of #10214.

This problem was just fixed (around an hour before you posted!) and will be included in the next stable release of Brave 0.18.x 😉

[2017-08-11 03:26] #10422 closed

[2017-08-11 03:42] luixxiul commented on #10421
duplicate of #9736?

[2017-08-11 03:59] luixxiul commented on #10418
After allowing the 3rd party cookie once and reset the setting, the issue is no longer reproduced for me.

[2017-08-11 04:10] luixxiul commented on #10418
on devtool:

[code]

[2017-08-11 04:36] luixxiul commented on #10413
@alex googling is often better when you search duplicates: `site:github.com/brave/browser-laptop remember notification`

[2017-08-11 04:49] Liunkae commented on #10421
@luixxiul Yes, thanks!

[2017-08-11 04:49] #10421 closed

[2017-08-11 04:50] Liunkae commented on #9736
+1 from me (#10421)

[2017-08-11 04:57] kjozwiak commented on #6503
One of the other main issues with downloading the dashboard (about:newtab) images rather than loading them from cache is that Brave will appear very slow/janky to users that have a slow internet connection.

I've seen this happen when my internet occasionally slows down which makes the entire browser feel very sluggish whenever opening new tabs. When I first ran into this, I assumed that I had som

[2017-08-11 05:09] bsclifton commented on #197
For this issue, we could start off by just having the checksums available.  It might also be great to have a page showing verified contributors (and their keys)

We can also display how to check if the executable is signed:
- macOS can verify by running `spctl --assess --verbose /Applications/Brave.app/`. If app is signed, it should return something like this:
[code]
- Windows Authenticode signatu