[2018-01-10 10:35] NejcZdovc commented on #12481
I will close this one, because dnd not working in windows is not related to this PR. Will open another issue for it.

[2018-01-10 10:35] #12481 closed

[2018-01-10 10:38] NejcZdovc opened #12590 "Bookmark and tabs DND are not working on Windows"
### Test plan
  1. Create new folder in the toolbar
  2. Add another folder in this new folder
  3. Try to dnd this folder on the toolbar
  4. Drag and drop should work

### Description

Drag and drop in bookmark toolbar is not working on windows anymore.

### Steps to Reproduce

  1. Create new folder in the toolbar
  2. Add another folder in this new folder
  3. Try to dnd this folder on the too

[2018-01-10 10:39] NejcZdovc commented on #12481
created new issue #12590

[2018-01-10 11:11] NejcZdovc commented on #12590
As far as I can see this was broken with #10512 where we moved allowDrag on level up and because of that on Windows dnd is not working for bookmarks and tabs

cc @petemill

[2018-01-10 11:13] NejcZdovc commented on #11728
yeah not just bookmarks but tabs as well, more info here #12590.

[2018-01-10 13:01] NejcZdovc commented on #12170
@LaurenWags can we close this one and create another issue, because this issue is about recovery, where we reopen it because of another scenario. Already looking into this second scenario.

[2018-01-10 13:26] mrose17 opened #12591 "BAT preferences page sometimes shows internal publisher URI rather than friendly version..."
Here are two entries from my ledger synopsis:

<img width="911" alt="0" src="https://user-images.githubusercontent.com/400552/34775035-975c4fbc-f5c6-11e7-8a26-090b49134d25.png">

the first entry is "correct" in that it shows the name of the channel and ciicking on the link takes me to the videos page for the channel.

the second entry is "wrong" in that it shows the internal URI instead of the cha

[2018-01-10 13:52] LaurenWags opened #12592 "sometimes displayed Brave wallet address and QR code do not have the same value"
### Description
Originally reported with https://github.com/brave/browser-laptop/issues/12170 but another scenario was found in https://github.com/brave/browser-laptop/issues/12170#issuecomment-350373166 - this issue is for the additional scenario

### Steps to Reproduce

1. Have a wallet created.
2. Close Brave.
3. Delete your ledger* files and folders from ~/Library/Application Support/brave
4.

[2018-01-10 13:53] LaurenWags commented on #12170
Created https://github.com/brave/browser-laptop/issues/12592 and assigned you @NejcZdovc for issue described in https://github.com/brave/browser-laptop/issues/12170#issuecomment-350373166

[2018-01-10 13:53] #12170 closed

[2018-01-10 15:12] jacobahlin commented on #9425
Brave browser installs as default but extensions dont work.

[2018-01-10 16:20] #12581 closed

[2018-01-10 16:51] nateritter commented on #6604
@bbondy Definitely not a 1 user issue. I'm experiencing this on same exact issue.

Brave | 0.19.131
-- | --
rev | da2f347
Muon | 4.5.36
libchromiumcontent | 63.0.3239.132
V8 | 6.3.292.49
Node.js | 7.9.0
Update Channel | Release
OS Platform | macOS
OS Release | 17.3.0
OS Architecture | x64

Tried:
* directly importing everything from FF
* directly importing just bookmarks from FF
* exported FF book

[2018-01-10 17:18] #12563 closed

[2018-01-10 17:56] grokk commented on #6902
The --no-sandbox issue with Brave continues into January 2018 with my own Debian 'testing' setup, kernel 4.14.7-1 ... and the sysctl setting of /proc/sys/kernel/unprivileged_userns_clone for userspace namespaces *is* the solution for it.

Kudos to @ancho for finding for us what must be THE elegant stopgap solution to the actual issue.

[2018-01-10 18:27] jonathansampson opened #12594 "Feature Request: Keyboard Shortcut for toggling Bookmarks Toolbar"
### Description
The user should be able to toggle Bookmarks Toolbar visibility with <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>B</kbd>.

### Steps to Reproduce
1. Press <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>B</kbd>

**Actual result:**
Nothing

**Expected result:**
Bookmarks Bar toggles

**Reproduces how often:**
100%

### Brave Version
0.19.131

### Additional Information
Related to #5212

[2018-01-10 19:05] NT7S commented on #10685
I see the same behavior here.

I'd love to be able to use Brave as my primary browser, but I currently cannot because I use riot.im for my work. A resolution to this soon would be extremely helpful, thanks.

[2018-01-10 20:42] eljuno opened #12595 "Bug: Login Info for Autofill Appear on Other Tab"
### Description

When open a site that require login in new tab, the login info for autofill appear on current tab. Notice this after update to 0.19.131.

### Steps to Reproduce

  1. Use brave built-in password manager to save login info.
  2. Open site in first tab (e.g. brave.com) or dashboard.
  2. Right-click bookmark/thumbnail then open a site that require login (e.g. Uphold) in new tab.
  3

[2018-01-10 20:56] MidnightJava commented on #6902
Enabling user namespaces in the kernel does not work on CentOS 7 (per my Nov 29 post above). Every reference to Linux I've seen regarding this issue actually refers only to debian. I have not found any workaround that enables me to run Brave on RHEL.

[2018-01-10 21:47] aekeus opened #12596 "After 90 days revert all `ref` codes to `none`"

[2018-01-10 22:42] jbyte commented on #12594
Hello, I would like to do this one.

[2018-01-10 23:57] pwybman commented on #3669
Extremely annoying issue, but here's a temporary remedy: when you minimize and reopen the brave window, scrolling works again. The issue only seems to arise when you first open the browser, and don't minimize. Hopefully this gets fixed soon though.

[2018-01-11 00:14] jonathansampson opened #12598 "'Enable Publisher' Button Should be Contextually Aware"
### Description
Brave Payments supports (at the time of this writing) two types of content platforms: personal publishing platforms (like a self-hosted blog), and shared platforms (such as YouTube). The Brave browser offers an _Enable Publisher_ button for easily opting a publisher in or out of your monthly contribution list. This button, however, doesn't distinguish between personal platforms, an

[2018-01-11 01:52] bridiver commented on #4799
closed by https://github.com/brave/browser-laptop/commit/39bd84464c272a774cfda2ebe6794ad7dbd3e210#diff-6d8628df937f9c42db1b0e451b4afdbe

[2018-01-11 01:52] #4799 closed

[2018-01-11 01:54] bridiver commented on #4511
closed by https://github.com/brave/browser-laptop/commit/17b7cbe4c4bba688cb066cb69f692416462544ad

[2018-01-11 01:54] #4511 closed

[2018-01-11 02:10] bridiver opened #12599 "urlbar makes multiple action calls for a single user event"
### Description
The urlbar has a lot of legacy code that still uses imperative actions. This sometimes leads to race conditions when a series of action calls expects synchronous updates

### Steps to Reproduce
No reliable STR

**Actual result:**
Intermittent apparent key loss

[2018-01-11 02:35] jonathansampson commented on #12594
@jbyte That would be awesome! Let us know if you have any questions about cloning or setting-up the local repo.

[2018-01-11 02:36] jonathansampson commented on #12574
@jaxidian, @Tomatoshadow2, and @kperi: can you all confirm that this does not happen in Chrome?

[2018-01-11 02:47] josiah-keller opened #12600 "nytimes.com is incorrectly allowed to autoplay media"
### Description
Currently, [nytimes.com](https://nytimes.com/) is running a feature on their homepage with an autoplayed video.  My autoplay media setting is set to "Always ask," and I do not have nytimes.com under the saved site permissions.

However, when I visit the homepage, the "Allow autoplaying media?" prompt briefly flashes at the top of the screen, then disappears, and then the video is a

[2018-01-11 03:14] jonathansampson opened #12601 "Enabling MetaMask Causes Preferences Tab to Refresh"
### Description
Upon enabling MetaMask, the preferences tab will completely refresh. This is likely due to some event within the extension that refreshes the active tab upon being enabled. The question we should consider is whether or not internal resources should be refreshed in these scenarios.

![full-redraw](https://user-images.githubusercontent.com/815158/34806875-2da6f8ee-f64b-11e7-923d-e0c8

[2018-01-11 03:26] #12573 closed

[2018-01-11 03:34] bsclifton opened #12602 "Update Muon to 4.5.38"
## Test plan
1. Launch Brave and open `about:brave`
2. `Muon` version should be `4.5.38`

## Description
4.5.37 Muon changes were required for:
- Brave fills in some password on sites, even though I explicitly turned off password management. #10566
- Trezor passphrase being saved to password list and offered by auto fill without permission. #12563

4.5.38 Muon changes were required for:
- Muted Me

[2018-01-11 03:36] bsclifton commented on #12602
Updated to 4.5.37 with d9c303f42d1407047f55a17688bf145179281542

[2018-01-11 03:50] srirambv opened #12603 "Manual test run on OS X for 0.19.x Hotfix 12"
## Per release specialty tests
 - [x] Update Muon to 4.5.37. ([#12602](https://github.com/brave/browser-laptop/issues/12602))
 - [x] Monthly budget reverts from 5.0 BAT -> 25 BAT when restarting. ([#12581](https://github.com/brave/browser-laptop/issues/12581))
 - [x] Have a changeable default contribution amount for new installs (until user locks value). ([#12573](https://github.com/brave/browser-

[2018-01-11 03:50] srirambv opened #12604 "Manual test run on Windows x64 for 0.19.x Hotfix 12"
## Per release specialty tests
 - [x] Update Muon to 4.5.37. ([#12602](https://github.com/brave/browser-laptop/issues/12602))
 - [x] Monthly budget reverts from 5.0 BAT -> 25 BAT when restarting. ([#12581](https://github.com/brave/browser-laptop/issues/12581))
 - [x] Have a changeable default contribution amount for new installs (until user locks value). ([#12573](https://github.com/brave/browser-

[2018-01-11 03:50] srirambv opened #12605 "Manual test run on Linux for 0.19.x Hotfix 12"
## Per release specialty tests
 - [x] Update Muon to 4.5.37. ([#12602](https://github.com/brave/browser-laptop/issues/12602))
 - [x] Monthly budget reverts from 5.0 BAT -> 25 BAT when restarting. ([#12581](https://github.com/brave/browser-laptop/issues/12581))
 - [ ] Have a changeable default contribution amount for new installs (until user locks value). ([#12573](https://github.com/brave/browser-

[2018-01-11 03:52] u147865 opened #12606 "(Win10) 'maximized' window status not restored when brave is restarted."
### Description
(on Windows 10)After the browser is closed while in a 'maximized' windowed status, re-launching the browser does not restore 'maximized' windowed status.
Instead, it opens in a slightly bigger window, and is not in full-screen windowed mode.

### Steps to Reproduce
  1. Be on windows 10
  2. Maximize the browser
  3. Close the browser
  4. Open the browser

**Actual result:**
The b

[2018-01-11 03:57] u147865 commented on #271
dark mode is needed, ASAP. I hate light themes.

[2018-01-11 04:00] darkdh commented on #12526
I've experience the same phenomenon and especially when open a new tab through a link. I visited the same site by directly opening a new tab and navigate to it on url bar to verify but it worked fine.
However, I still don't know the accurate steps to reproduce.

[2018-01-11 04:16] u147865 opened #12607 "Downloads can't be resumed w/cache after browser restart"
### Description
You're in the middle of a 3.4GB file download, and windows forces an auto-update, your computer reboots without much thought at all. You take a seat for a few minutes while things "get themselves ready". You load into your desktop interface, and relaunch brave. You click resume, and then the. download. starts. all. over. again. and. doesnt. resume. from. where. it. left. off. Since

[2018-01-11 04:39] srirambv commented on #11383
Verified the steps mentioned in test plan. Repeated step 6, 10-12  times in quick succession and was still able to get the backup code. 👍

[2018-01-11 04:40] darkdh commented on #12526
Also noticed I couldn't drag the time progress bar or click the play/pause button on youtube video

[2018-01-11 04:44] srirambv commented on #12570
Works on Windows
![image](https://user-images.githubusercontent.com/17010094/34808996-2267a006-f6b8-11e7-8c37-122b8e6b0e5e.png)

[2018-01-11 04:45] pdimri commented on #271
Any timeline to get this feature ? I m using Caf based browser once brave
have this feature I can make it my default browser.

On Jan 10, 2018 at 9:57 PM, <u147865 <notifications@github.com>> wrote:

dark mode is needed, ASAP. I hate light themes.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/brave/browser-laptop/issues/271#iss

[2018-01-11 05:05] Shaflugi commented on #9044
I've started seeing this issue very recently (within the past couple days). When watching YouTube videos, the playback will be fine for about 15 seconds, then freeze for about 5. During this time, the CPU spikes up from 6% to 25% (A full CPU core). This spike occurs even if the video is paused and in the background (my browser is freezing as I'm typing this :( )

I've disabled all extensions to se

[2018-01-11 05:46] srirambv commented on #12573
All 3 test cases worked on Windows

[2018-01-11 07:13] srirambv opened #12608 "Brave Beta and Brave both shown for the same app shortcut"
### Description
Brave Beta and Brave both shown for the same app shortcut

### Steps to Reproduce

  1. Install release channel build
  2. Install Beta channel build
  3. Launch both browsers, app highlight is shown for the same app shortcut

**Actual result:**
![brave-linux1](https://user-images.githubusercontent.com/17010094/34812651-97c9f34e-f6cc-11e7-81c2-261e5bc3bf58.gif)

**Expected result:*

[2018-01-11 07:16] srirambv commented on #12570
Worked on Linux as well
![image](https://user-images.githubusercontent.com/17010094/34812826-6d0e41ea-f6cd-11e7-85d9-37a652890377.png)

[2018-01-11 07:39] fusion809 opened #12609 "openSUSE: GConf2 dependency doesn't exist, gconf2 does."
Hi,

openSUSE install instructions exist, yet when I copy-paste the repository install instructions I get the error (out of `sudo zypper install brave`):

[code]

GConf2 doesn't exist as you can see. You can also see evidence of its non-existence here at software.opensuse.org: https://software.opensuse.org/package/GConf2. [gconf2](https://software.opensuse.org/package/gconf2) does exist though.

T

[2018-01-11 08:04] TLHN opened #12610 "Unable to move Bookmarks into "Other Bookmarks" also Other Bookmarks not showing in Menu"
Hi,

as stated above it is not possible to move anything into other Bookmarks via the Bookmarks Manager. It always ends up in the Bookmarks Bar and messes up pretty much everything.

Also the extensions ads are disgusting.

[2018-01-11 08:07] NejcZdovc commented on #12610
Hi, thank you for your report. Everything related to the other bookmarks folder will be fixed in 0.20.x.

One of the related issues #10157

[2018-01-11 08:07] #12610 closed

[2018-01-11 09:08] srirambv commented on #12607
This is a dupe of #6508

[2018-01-11 09:08] #12607 closed

[2018-01-11 09:09] srirambv commented on #6508
+1 from @u147865  in #12607

[2018-01-11 09:51] srirambv commented on #12600
I think this is due to the muted media being allowed to play https://github.com/brave/browser-laptop/issues/12152. The video is defaulted to mute
![image](https://user-images.githubusercontent.com/17010094/34819127-edaa8d6c-f6e2-11e7-9e56-4dc10e564a05.png)

If you close the NYTimes tab you'll see the autoplay site setting gets removed

cc: @darkdh

[2018-01-11 11:54] rsletta commented on #12362
I'm experiencing the same issue from time to time. Seems that a restart of Brave fixes it temporarily, until the next time it happens.

Version Informations:
Brave: 0.19.131
rev: da2f34787e51eb44190a7a77249e100fb2368306
Muon: 4.5.36
libchromiumcontent: 63.0.3239.132
V8: 6.3.292.49
Node.js: 7.9.0
Update Channel: Release
OS Platform: macOS
OS Release: 17.3.0
OS Architecture: x64

[2018-01-11 12:17] surelyourejoking commented on #8327
+1

[2018-01-11 12:25] Sector14 commented on #3101
Many issues in a browser I can put up with, but this is such a core usability issue that despite liking the speed and general goal of Brave I've had to uninstall it.

If a core usability issue for a segment of your user base is ignored for over a year (and apparently with no intention to ever fix), how many other issues including ones that impact me or people I might one day have recommended the b

[2018-01-11 12:32] Alino commented on #3101
it's all about priorities. There is so much work that needs to be done, and this issue has not a huge impact. Most people won't use this feature. Only some part of the users are using an actual desktop with a mouse, and from this group you can create even smaller group that has such a mouse which offers other buttons than classic left & right click & scroll wheel, and from this group which has suc

[2018-01-11 12:43] srirambv commented on #12476
Works on Windows now
![12476](https://user-images.githubusercontent.com/17010094/34826044-07b51502-f6fb-11e7-8a30-6d57a8a2aeac.gif)

[2018-01-11 13:05] srirambv opened #12611 "Next article blocked on Hardvard Business Review by Adblocker"
### Description
Next article blocked on Hardvard Business Review by Adblocker

### Steps to Reproduce

  1. Visit https://hbr.org
  2. Open any article, Next article keeps showing Loading but doesn't load
  3. Disable Adblocker, next article image and link is loaded

**Actual result:**
![hbr](https://user-images.githubusercontent.com/17010094/34826766-f4d7547e-f6fd-11e7-8ca4-5a0f1e5effb8.gif)

**E

[2018-01-11 13:21] spidawebs commented on #9211
Is there any update on this? My tabs detach far too easily. They accidentally open in new windows about 10 times I day when I click on them and there is no way to attach them again to the original window. It's really annoying. I have to close the new window and open a new tab again in my original window.

[2018-01-11 14:09] LaurenWags commented on #12570
MacOS using 0.19.132:
![screen shot 2018-01-11 at 9 09 20 am](https://user-images.githubusercontent.com/28145373/34829580-2b57c834-f6af-11e7-8b8e-22291abf4906.png)

[2018-01-11 15:05] darkdh commented on #12563
Test plan:
a.

Make sure built-in password manager is enabled
Male sure passphrase is set on trezor wallet
Plugin trezor and open wallet
Type passphrase and submit
Brave shouldn't prompt any messages to save password
b.

Make sure built-in password manager is enabled
Sign up account for https://trac.torproject.org
Brave should ask users to save password, click deny
Logout and Login
Brave should as

[2018-01-11 15:49] retotrinkler commented on #9556
Excited to see this!
Would it be possible to have **isolated storage in brave per an ipfs hash/ipns name**?  This would be very useful for **keystorage of decentralised applications**.  Most non-ipfs application use storage isolated per domain but its is not possible for ipfs links!

[2018-01-11 15:54] chuckremes commented on #10567
Tested 0.19.131 rev da2f347. It still exhibits the display problem under QEMU 2.8.

[2018-01-11 15:59] josiah-keller commented on #12600
@srirambv @darkdh OK, I didn't realize that was intended.  Now, if this happened and the page later loads in another video that has sound, will that one be allowed to play since that temporary permission is there?  Also, why is the permission prompt displayed at all?

[2018-01-11 16:03] davidtemkin commented on #7644
Where I could see this, or something similar, being very useful is if we were to provide a link to publishers/creators that, if viewed in Brave, would result in a dialog like this. Right now a publisher/creator who'd like to promote Brave (and seek contributions from Brave users) has to explain or link to an explanation of pinning (which despite our familiarity with it, is not exactly self-evident

[2018-01-11 16:05] darkdh commented on #12600
@josiah-keller muted video will not be allowed in 0.21.x
@bsclifton do you think we can uplift the fix into 0.19.x or 0.20.x?
here is the fix: https://github.com/brave/muon/pull/428

[2018-01-11 16:07] RangerMauve commented on #9556
@retotrinkler Take a look at the [access restriction conversation](https://github.com/ipfs-shipyard/ipfs-companion/issues/330) taking place for the `window.ipfs` global that ipfs-companion provides.
The short of it is that it will have access restrictions based on hash/name like you suggested.

I brought up that once it integrates with the new [key](https://github.com/ipfs/js-ipfs/pull/1133) API,

[2018-01-11 16:15] posix4e commented on #6902
@MidnightJava Does you CentOS 7 setup support docker and firejail?

[2018-01-11 16:37] bsclifton commented on #12600
@darkdh we can uplift the fix into 0.20.x if we were able to get this patch into Muon 4.5.  Do you think that might be possible?

[2018-01-11 16:40] darkdh commented on #12600
definitely doable

[2018-01-11 16:42] retotrinkler commented on #9556
nice thx @RangerMauve !

[2018-01-11 17:12] srirambv commented on #12563
Test plan B works on Windows.

[2018-01-11 17:14] LaurenWags commented on #12563
Test Plan B works on MacOS as well.

[2018-01-11 17:20] jumde commented on #12563
Test Plan A works on MacOS and Windows with 0.19.132

[2018-01-11 17:20] jbyte commented on #12594
The cloning and setup went fine from what I can tell (brave launches normally).

The only question I have is regarding the Brave version. In the issue contents it is stated that this relates to the 0.19.131 version. So should I create my feature branch from the 0.19.x branch or is master ok?

[2018-01-11 17:22] kjozwiak commented on #12563
Test Plan B works under Ubuntu 17.10 x64.

[2018-01-11 17:58] Jacalz commented on #12576
Oh yeah, those settings must have been the problem 😓 Did not think for a moment that those could do it because I figured that if the switch was set to "always deny" it would override it 😅 Sorry to bother then 😉

[2018-01-11 17:58] #12576 closed

[2018-01-11 18:19] Jacalz opened #12612 "Extensions have connectivity issues with Strict Site Isolation"
# New description:
Seems like both Lastpass and Bitwarden are experiencing these issues! probably more also!!!

# Old description

Lastpass breaks when you enable "strict site isolation". The extension gives an error that it was unable to connect to the servers after you enable that option.

### Steps to Reproduce

  1. Install lastpass from about:preferences#extensions
  2. Log in to lastpass wit

[2018-01-11 18:28] Jacalz commented on #12612
+1 from [Reddit](https://www.reddit.com/r/BATProject/comments/7onaax/site_isolation_interferes_with_lastpass/)

[2018-01-11 18:30] Jacalz commented on #12612
You might need to update lastpass to the latest version to fix this, version 4.5.0 was released 3 days ago while you are on 4.3.0.5...

[2018-01-11 18:38] g33xter commented on #12570
@diracdeltas thanks for clarifying.

[2018-01-11 18:53] kjozwiak commented on #12604
awesome job @srirambv! Closing.

[2018-01-11 18:53] #12604 closed

[2018-01-11 18:53] kjozwiak commented on #12605
Awesome job @srirambv! Closing.

[2018-01-11 18:53] #12605 closed

[2018-01-11 18:56] #12603 closed

[2018-01-11 18:59] kjozwiak commented on #12603
Awesome, thanks @LaurenWags!

[2018-01-11 19:49] diracdeltas commented on #12563
checked on debian 8 and el capitan

[2018-01-11 20:24] kjozwiak commented on #12152
@darkdh @bsclifton and myself had a quick chat. Because we're getting some user concerns on social media, this is going to be reverted in `0.19.x hotfix12`.

Clearing all the `QA Checked` flags so this can be retested once the change has been reverted from `muon` and a new `0.19.x` build becomes available sometime today.

[2018-01-11 20:35] bsclifton commented on #12602
Re-opening since we'll need a new build (in progress) 😄

[2018-01-11 20:57] #12592 closed

[2018-01-11 22:19] flamsmark commented on #3896
Don't the MacOS interaction guidelines contain specific admonitions about this?

[2018-01-11 22:32] LaurenWags commented on #10411
On MacOS - I click the X, wait 5-10s, nothing happens (tile is not removed). I open a new tab, click the x again, now the tile is removed:
![10411-02016](https://user-images.githubusercontent.com/28145373/34850798-5d149ee2-f6f5-11e7-8ff3-608a5c256313.gif)

[2018-01-11 22:33] LaurenWags commented on #9779
Reopening per https://github.com/brave/browser-laptop/issues/9779#issuecomment-355337558 - I no longer see a tab favicon when I set the tab count to 100.

[2018-01-11 22:35] afong94 opened #12614 "New windows include pinned tabs"
### Description

When creating a new window, the pinned tabs are included. The same behavior occurs even after creating a new tab, then dragging it out of the existing window to create a new window session.

### Steps to Reproduce

  1. Pin a few tabs
  2. Create a new tab and drag it out to create a new window (or create a new window)
  3. Observe the new window with the tabs included

**Actual r

[2018-01-11 22:45] bsclifton commented on #10411
+1 from @srirambv via https://github.com/brave/browser-laptop/issues/12568

[2018-01-11 22:45] bsclifton commented on #12568
Closing as a dupe of https://github.com/brave/browser-laptop/issues/10411

[2018-01-11 22:45] #12568 closed

[2018-01-11 22:45] eljuno commented on #12614
That's the current (expected?) behavior. Duplicate of #5800?

[2018-01-12 00:10] flamsmark commented on #12614
FWIW, this behavior surprised me.

[2018-01-12 00:29] JaneSmith commented on #10925
I think I'm experiencing a related issue with Brave Beta - version 0.20.15 (6fd801b). However, it's a bit different on my end. If I put the mouse over the URL bar, it does show as expected.

Instead, every single time I move my mouse cursor _out_ of an interactive component and _enter_ some kind of "empty space" in the toolbars, the URL bar disappears and then reappears. Basically, it creates a co

[2018-01-12 03:49] jonathansampson commented on #10673
Another +1 from Twitter:

[2018-01-12 04:40] AluminiumTech opened #12615 "Rename Brave Laptop to a more appropriate name"
### Description
Brave for PCs is branded and marketed as Brave for Laptops despite many individuals using Brave on Desktops.

It's misleading and just frustrating that there is such ignorance for Desktop users.

You're assuming that everybody uses laptops when a large number of people use desktops. It's just insulting to say the least.

It would seem more appropriate to call it Brave for PC, Brave

[2018-01-12 05:01] bsclifton commented on #12602
Fixed with ba3906a7288aaada6862901f1de5a8849fe1bcbf

[2018-01-12 05:01] #12602 closed

[2018-01-12 05:02] bsclifton commented on #12600
Fixed with https://github.com/brave/browser-laptop/commit/ba3906a7288aaada6862901f1de5a8849fe1bcbf

[2018-01-12 05:02] #12600 closed

[2018-01-12 05:10] diracdeltas opened #12616 "[Security] DNS rebinding attack against webtorrent"
our webtorrent integration may be vulnerable to the DNS rebinding attack described in https://github.com/transmission/transmission/pull/468. the torrent server uses CORS but it doesn't check the Host header.

impact: remote sites may see what a user is torrenting

[2018-01-12 05:20] bsclifton commented on #12425
Updated to 4.5.38 with a6727e8e91a15a1b6a139b9e3de64fb34dbf39ff

[2018-01-12 05:26] MidnightJava commented on #6902
@posix4e: I don't use firejail, but I use docker quite a bit, with no issues.

[2018-01-12 05:26] srirambv opened #12617 "Manual test run on OS X for 0.19.x Hotfix 12"
## Per release specialty tests
 - [x] Update Muon to 4.5.38. ([#12602](https://github.com/brave/browser-laptop/issues/12602))
 - [x] Muted Media should be able to autoplay. ([#12152](https://github.com/brave/browser-laptop/issues/12152))
## Installer

- [x] Check that installer is close to the size of last release.
- [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/

[2018-01-12 05:26] srirambv opened #12618 "Manual test run on Windows x64 for 0.19.x Hotfix 12"
## Per release specialty tests
 - [x] Update Muon to 4.5.38. ([#12602](https://github.com/brave/browser-laptop/issues/12602))
 - [x] Muted Media should be able to autoplay. ([#12152](https://github.com/brave/browser-laptop/issues/12152))
## Installer

- [x] Check that installer is close to the size of last release.
- [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/

[2018-01-12 05:26] srirambv opened #12619 "Manual test run on Linux for 0.19.x Hotfix 12"
## Per release specialty tests
 - [x] Update Muon to 4.5.38. ([#12602](https://github.com/brave/browser-laptop/issues/12602))
 - [ ] Have a changeable default contribution amount for new installs (until user locks value). ([#12573](https://github.com/brave/browser-laptop/issues/12573))
 - [x] Muted Media should be able to autoplay. ([#12152](https://github.com/brave/browser-laptop/issues/12152))
#

[2018-01-12 05:29] #12484 closed

[2018-01-12 05:32] srirambv commented on #12602
![image](https://user-images.githubusercontent.com/17010094/34861071-092f0cca-f788-11e7-9591-eef9e2ee1a8d.png)

[2018-01-12 05:40] diracdeltas opened #12620 "remove unused dependencies"
`depcheck` shows various deps that probably don't need to be specified in package.json

[2018-01-12 05:40] #12497 closed

[2018-01-12 06:04] srirambv commented on #12152
Test plan works fine on Windows

For test plan 1
Prompted notification when opened https://twitter.com/cricbuzz/status/951687708438552581 and https://www.cnet.com/news/oneplus-ceo-were-going-to-start-talking-to-us-carriers/
![12152-ask](https://user-images.githubusercontent.com/17010094/34861706-6fbf2638-f78c-11e7-9826-e346e596e0b3.gif)

For test plan 2
Video notification didn't prompt when opened

[2018-01-12 06:40] doomlaser commented on #3053
I want to be able to make me own search shortcuts, and I don't want to have to type a : colon before every search shortcut. Why can't I just type ^space t whatever, to invoke a twitter search, instead of having to also make two key presses to input a redudant colon prefix?

Why can't Brave just import the custom search engine settings from Chrome, Firefox, or Safari and have the address bar behavi

[2018-01-12 06:53] kamleshrao commented on #12133
Tried this today. Not sure if this is fixed by anyone, or the said website has made any changes.

I am unable to reproduce this issue today. Below is my Brave version details:

**Brave | 0.19.131
rev | da2f347
Muon | 4.5.36
libchromiumcontent | 63.0.3239.132
V8 | 6.3.292.49
Node.js | 7.9.0
Update Channel | Release
OS Platform | Linux
OS Release | 4.13.0-26-generic
OS Architecture | x64**

[2018-01-12 07:21] NejcZdovc commented on #8528
closing as this was done

[2018-01-12 07:21] #8528 closed

[2018-01-12 07:36] srirambv opened #12621 "Disable auto-include publisher causes existing publishers to be excluded"
### Description
Disable auto-include publisher causes existing publishers to be excluded

### Steps to Reproduce
  1. Clean install 0.19.133
  2. Enable payments, visit some publishers to add entry in ledger table
  3. Disable `auto-include`, visit a new site, all entries gets disabled

**Actual result:**
On 0.19.133
![ledgeryt](https://user-images.githubusercontent.com/17010094/34864081-94b22b82-

[2018-01-12 08:09] NejcZdovc commented on #12621
This regressed with muon upgrade from .36 to .38

[2018-01-12 08:37] srirambv commented on #12618
Test run complete. Works fine except for #12621.

[2018-01-12 08:41] #12618 closed

[2018-01-12 08:45] srirambv commented on #12152
Works on Linux as well. Followed the same steps as above^

[2018-01-12 08:46] NejcZdovc commented on #12486
@bsclifton please up lift if needed, I set 0.22 milestone to it

[2018-01-12 08:56] pongraczi commented on #12362
Same here. Sometimes middle click or right click+open url in new tab does not work. Restarting brave solves this. I did not find any reproducible steps, it just happens.

Brave: 0.19.131
rev: da2f34787e51eb44190a7a77249e100fb2368306
Muon: 4.5.36
libchromiumcontent: 63.0.3239.132
V8: 6.3.292.49
Node.js: 7.9.0
Update Channel: Release
OS Platform: Linux
OS Release: 4.13.0-26-generic
OS Architecture:

[2018-01-12 09:04] pongraczi commented on #10791
Still exists.

Brave: 0.19.131
rev: da2f34787e51eb44190a7a77249e100fb2368306
Muon: 4.5.36
libchromiumcontent: 63.0.3239.132
V8: 6.3.292.49
Node.js: 7.9.0
Update Channel: Release
OS Platform: Linux
OS Release: 4.13.0-26-generic
OS Architecture: x64

[2018-01-12 09:07] srirambv commented on #12621
Same issue on Linux as well
![ledger-linux](https://user-images.githubusercontent.com/17010094/34867389-f21b4044-f7a5-11e7-9be6-ac9c8633b6b5.gif)

But with a different(new) profile it wasn't reproduced. Although it did have other publishers listed
![image](https://user-images.githubusercontent.com/17010094/34867448-26875a7a-f7a6-11e7-8062-53159b811a18.png)

[2018-01-12 09:15] vit0 commented on #8541
Hi
I also experience the issue - **Windows 10**
After opening new tab a couple of seconds passes and the site loads then.
I am able to switch tabs in the meantime.

**No such lags on Linux** machine, responses are immediate.

[2018-01-12 09:48] afong94 commented on #12614
Ah yes, this is a duplicate, sorry about that.

[2018-01-12 09:49] afong94 commented on #5800
+1 this would definitely help to avoid duplicate tabs and unnecessary memory usage. An option to enable this would be great!

[2018-01-12 10:15] NejcZdovc commented on #12621
ok this is not a new thing it's just timing thing

[2018-01-12 11:08] NejcZdovc commented on #12621
I still thing that we need to fix it soon, could be quite a problem, so I will add it into 0.20.x

[2018-01-12 11:09] srirambv opened #12623 "Browser crash when loading content"
### Description
Browser crash when loading content reported via community https://community.brave.com/t/brave-automatically-closed-in-a-full-ads-website/13545

### Steps to Reproduce
  1. Visit http://newpct1.com/
  2. Click any film
  3. Browser crashes

**Actual result:**
Browser crash after opening a new

**Expected result:**
Should not crash

**Reproduces how often:**
100%

### Brave Version

[2018-01-12 12:41] pongraczi commented on #12362
Ok, first I thought, I found something, but as I replayed the scenario, it did not provide the same result.

The theory was: When I middle-click on a long URL, it does not work, while a shorted URL works as expected.

Example:

- Here is a search result from google ([open it now in new window](https://www.google.hu/search?dcr=0&ei=XaRYWt34I8HEsgHV85qgAQ&q=Non-blocking+PostgreSQL+client+for+laravel

[2018-01-12 15:33] LaurenWags commented on #12621
Reproduced on MacOS with 0.19.133

[2018-01-12 16:17] Jacalz commented on #12612
The same thing can not be reproduced in chrome with “strict site isolation” so this must be in Brave only

[2018-01-12 16:57] #12614 closed

[2018-01-12 17:39] posix4e commented on #6902
@MidnightJava I am trying to figure out what's not working . We rely on the same kernel api as docker
Do you get
[code]

[2018-01-12 18:08] LaurenWags commented on #12617
Tests were as expected.

[2018-01-12 18:08] #12617 closed

[2018-01-12 18:18] #12488 closed

[2018-01-12 18:51] kjozwiak opened #12626 "Release checklist for 0.19.x Hotfix 12 (Release channel)"
# Release Process Checklist

Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

## Release Commands
### First-time Setup
- [x] `git clone git@github.com:brave/vault-updater && cd vault-updater`
- [x] `git clone git@github.com:brave/release-tools`
- [x] `npm install`
- [x] install the her

[2018-01-12 18:55] #12619 closed

[2018-01-12 19:17] kjozwiak opened #12627 "Release notes for 0.19.x Hotfix 12 (Release Channel)"
Release Notes:
 - Update Muon to 4.5.38. ([#12602](https://github.com/brave/browser-laptop/issues/12602))
 - Monthly budget reverts from 5.0 BAT -> 25 BAT when restarting. ([#12581](https://github.com/brave/browser-laptop/issues/12581))
 - Have a changeable default contribution amount for new installs (until user locks value). ([#12573](https://github.com/brave/browser-laptop/issues/12573))
 - Bra

[2018-01-12 19:23] Liunkae commented on #4520
This is working correctly now. Not sure when it changed. Tested with Brave 0.19.131 on macOS 10.13.

[2018-01-12 19:25] Liunkae commented on #12549
See also the Electron TouchBar API: https://electronjs.org/docs/api/touch-bar

[2018-01-12 19:29] Liunkae commented on #9624
This is working correctly now. Not sure when it changed. Tested with Brave 0.19.131 on macOS 10.13.

[2018-01-12 19:42] Liunkae opened #12628 "Save Page as dialog broken on macOS"
### Description
When trying to save a page on macOS, the save as dialog box does not expand properly.

### Steps to Reproduce
  1. Open Brave and navigate to any webpage.
  2. Select File > Save Page as
  3. Press the expansion arrow button:
![](https://user-images.githubusercontent.com/19424103/34892048-65136a80-f79d-11e7-8df3-ed3574ddefde.png)

**Actual result:**
The dialog box is not expanded p

[2018-01-12 19:43] Liunkae commented on #10924
Related: #12628

[2018-01-12 21:21] #12594 closed

[2018-01-12 22:10] kjozwiak commented on #12573
@LaurenWags and myself ran through these cases once again with `0.19.134` which included the following change:

* changing default from 5.0 BAT to 7.5 BAT

[2018-01-12 22:21] MidnightJava commented on #6902
Yes, I get the same thing. Here's my output.

[code]

[2018-01-12 22:28] kjozwiak commented on #12581
@LaurenWags and myself ran through these cases once again with `0.19.134` which included the following change:

* changing default from 5.0 BAT to 7.5 BAT

[2018-01-12 22:50] posix4e commented on #6902
@MidnightJava can you post a recursive strace , strace -fi -o foo brave

then cat foo | nc termbin.com 9999 and tell me the url

[2018-01-12 23:05] #12627 closed

[2018-01-12 23:24] diracdeltas opened #12631 "WebTorrent should warn users of potential privacy risks"
Currently WebTorrent is integrated into Brave as an on-by-default extension. There are a couple of risks, such as:

1. ISPs can in theory distinguish WebTorrent traffic and issue copyright notices to users who are torrenting.
2. It is easy for an attacker to track what public IP addresses have downloaded which files over WebTorrent.
3. WebTorrent uses WebRTC, which may leak your local IP address.

[2018-01-12 23:26] ghost opened #12632 "Privacy issue: Browser connects to third party hosts in the background."
### Description
Brave browser shows non privacy respecting behavior disregarding user settings.

### Steps to Reproduce

Downloading Brave for the first time, never used before.

1. `wget https://laptop-updates.brave.com/latest/linux64 -O- | tar xj`
2. Turn off any additional network services such as ntpd and similar (to prevent "poluting" the tcpdump monitoring with external data)
3. Reboot and l

[2018-01-12 23:27] diracdeltas commented on #12631
There's currently a disclaimer but it only warns of the legal risks, not privacy ones:

![screen shot 2018-01-12 at 11 26 03 pm](https://user-images.githubusercontent.com/549654/34899323-23c24256-f7f0-11e7-8754-ad8a9d77e548.png)

[2018-01-13 00:32] #12626 closed

[2018-01-13 00:57] feross commented on #12631
1. Yes, ISPs that do deep packet inspection can see that you're using torrents. That's almost certainly not a problem; torrents are just a transport protocol. However, if you're torrenting copyrighted content it's possible that the copyright owner will observe that (see below) and send your ISP a copyright complaint.

2. Yes, to download a torrent you basically shout to the world "Hey everyone, I'

[2018-01-13 01:10] diracdeltas commented on #12631
@feross thanks for the replies! I didn't realize (3), that's great. Another question that @flamsmark had (sorry if you already saw it in Slack): do we need to point out to users that they should abide by their local laws when torrenting (for legal or other reasons)? Tom points out, "It sounds like we assume that folks generally use torrents for no good. I don’t think that’s the case, and I don’t t

[2018-01-13 01:17] feross commented on #12631
@diracdeltas That phrasing was copied from the window that Transmission shows when you first open the app. I thought it was prudent to include it (to be safe) but I agree with @flamsmark that torrents have many uses that are perfectly legal. If the phrasing implies otherwise, let's remove it. FWIW, WebTorrent Desktop doesn't include such phrasing but IANAL.

[2018-01-13 01:21] feross commented on #12631
@diracdeltas Also, I think the correct path forward is your first choice:

1. Keep WebTorrent enabled by default, but show a disclaimer about the privacy risks of torrenting before the torrent starts.

I think it's important that Brave never starts torrenting without the user explicitly asking it to. Which is why we designed the interstitial page with the "Start Torrent" button. IMO, there are suf

[2018-01-13 02:12] diracdeltas commented on #12631
@feross yup i think we have consensus on Option 1. i will remove the legal disclaimer from the PR

[2018-01-13 03:05] MidnightJava commented on #6902
Thanks for working on this. The URL is http://termbin.com/4213

[2018-01-13 03:06] LaurenWags opened #12634 "tabs resize down when they don't have to"
### Description
Tabs seem to resize down when they don't need to.

### Steps to Reproduce

  1. I have my tabs per tab set = 20
  2. Open enough tabs so there's a noticeable difference in tab size (I had 13)
  3. Start closing tabs with the X, close about half the tabs
  4. Move your mouse out of the tab bar area, tabs resize appropriately to fill the tab bar.
  5. Close a tab with X again.
  6. T

[2018-01-13 07:28] #12631 closed

[2018-01-13 08:26] Jacalz commented on #12615
Don’tget me wrong here, I have nothing against the name but I do see that it can cause some confusion. If it was to change I would rename it to “browser-x86” because it works only on x86 operating systems. The it could say: “Brave for x86 architecture operating systems”

[2018-01-13 10:48] AluminiumTech commented on #12615
But that in itself would also be misleading since Windows and Linux can run on ARM chips as well.

[2018-01-13 16:37] Liunkae commented on #12632
Communication can be caused by a visit to the Preferences search page (about:preferences#search). Since favicons are not cached (#2697), they are retrieved when that page is first visited. Same goes for bookmark bar items. This explains some of the hosts (Twitter, Qwant, Yandex), but not all.

[2018-01-13 16:44] ruxandra-valcu opened #12636 "Brave not installable from repo on Debian Buster"
### Description

Brave fails to install from repo on Debian Buster using the apt and lsb_release method described on https://github.com/brave/browser-laptop/blob/master/docs/linuxInstall.md#debian-jessie-and-ubuntu-zesty-yakkety-xenial-and-trusty-amd64 because the repo is not signed

### Steps to Reproduce

  1. curl https://s3-us-west-2.amazonaws.com/brave-apt/keys.asc | sudo apt-key add -

  2.e

[2018-01-13 16:44] Liunkae commented on #12632
Some of the other hosts (amazonaws.com, analytics.brave.com, mercury.basicattentiontoken.org) are contacted on first launch when accessing about:welcome.

By the way, I agree with you that this is a privacy issue.

[2018-01-13 20:11] stephenkru opened #12637 "Multiple Tabs Don't Open or Close As Intended."
Opening multiple bookmarks through middle mouse button click or right click 'open all tabs' does not open them in the hierarchical order you have them arranged in your bookmarks folder/bar.

When closing the tabs with OPTIONS 'Settings>Tabs>When closing an active tab: 'Select the next tab' a middle click to close the tab or clicking the X button in a tab will selection will skip over a tab.

IE: I

[2018-01-13 21:55] ryanml commented on #12598
@jonathansampson

I'd like to take this on, however, I'm having some trouble seeing where this component (Specifically the Enable Publisher action) exists in the browser and the codebase. Where can I find this? Thanks!

[2018-01-13 22:17] eljuno commented on #2702
+1 from community https://community.brave.com/t/reopening-closed-tab-tab-history-not-preserved/13684?u=eljuno

Brave	0.19.131
libchromiumcontent	63.0.3239.132
Muon	4.5.36
Node.js	7.9.0
OS Architecture	x64
OS Platform	macOS
OS Release	14.5.0
rev	da2f347
Update Channel	Release
V8	6.3.292.49

[2018-01-13 22:30] Liunkae opened #12638 "Strict site isolation sometimes makes web content unstable"
### Description
Sometimes, when I am browsing, the web content randomly becomes unstable. It has happened when I open a link in a new tab with Command+Click.

Symptoms:
* Clicking any link on the page does not work.
* Selecting text is buggy. If I try to select text, it selects text that is several lines above the cursor instead. Deselecting text is also slow and buggy.
* Scrolling with the mouse/

[2018-01-13 22:44] Liunkae commented on #791
+1 from community: https://community.brave.com/t/please-make-padlock-icon-and-address-box-green-when-connecting-to-a-site-with-ev-ssl-certificate/783

[2018-01-13 22:52] eljuno opened #12639 "Context searches in private tabs uses default search engine instead of DuckDuckGo"
### Description
Reported on community https://community.brave.com/t/context-searches-in-private-tabs-use-default-search-engine-when-set-to-use-duckduckgo/13682?u=eljuno

When setting private tabs to use DuckDuckGo for searches, the right click menu search continues to use your default search engine.

### Steps to Reproduce

  1. Set Google for default search engine
  2. Open a private tab.
  3. Tu

[2018-01-14 03:06] Vispocks commented on #271
my own custom based chrome (black theme)

with extensions:
ScriptSafe
Ghostery
HTTPS Everywhere
AdBlock
Dark Mode (for every page with options)

<sorry!> brave

[2018-01-14 04:00] bsclifton opened #12640 "Update to Chromium 64"
## Test plan
1. Launch Brave and visit `about:brave`
2. `libchromiumcontent` version should be 64.x.x.x

[2018-01-14 04:02] bsclifton commented on #12639
@petemill can you check this out? 😄

[2018-01-14 04:15] bsclifton opened #12641 "Update to Muon 4.7.0"
## Test plan
1. Launch Brave and visit `about:brave`
2. `Muon` version should be 4.7.0

[2018-01-14 04:18] bsclifton commented on #12640
Fixed with 14ac04dd303efc504cf375d3120aa83825dd957b

[2018-01-14 04:18] #12640 closed

[2018-01-14 04:18] bsclifton commented on #12641
Fixed with 14ac04dd303efc504cf375d3120aa83825dd957b

[2018-01-14 04:18] #12641 closed

[2018-01-14 06:55] Vispocks opened #12642 "Brave vs chrome"
Hi,

I tested Brave on GNU/Linux and comparing with chrome.

The result:
abcnews.com
cbsnews.com
cnn.com
foxnews.com
huffingtonpost.com
latimes.com
msnbc.com
time.com

chrome is faster with 1-3 sec in each site

even chrome has these extensions:
ScriptSafe
Ghostery
HTTPS Everywhere
AdBlock
and Plus 5 more!

[2018-01-14 09:57] josefadamcik commented on #12612
+1
I observe the same issue with LastPass in Brave on Linux. Also, Pocket doesn't work in site isolation either.

Brave: 0.19.131
rev: da2f34787e51eb44190a7a77249e100fb2368306
Muon: 4.5.36
libchromiumcontent: 63.0.3239.132
V8: 6.3.292.49
Node.js: 7.9.0
Update Channel: Release
OS Platform: Linux
OS Release: 4.13.0-21-generic
OS Architecture: x64

[2018-01-14 10:56] Jacalz commented on #12612
Might be an issue with all extensions 😅 cc @diracdeltas on this

[2018-01-14 12:43] midnitehack commented on #271
I am a 3 day brave groupie. Love the spirit behind the project. Its hot. But my eyes are dying researching and trading cryptos for hours on end on a 32inch monitor. The other groupies are not just talking about this dark theme. It is beyond critical. It is beyond needed. It is worth 1 satoshi a piece contribution from everyone here... Please lets get it this new year, 1st Q. Thanks for listening t

[2018-01-14 13:40] Jacalz commented on #6794
+1 from me
![image](https://user-images.githubusercontent.com/25466657/34916439-c0b8ff8e-f938-11e7-83ef-2d7623a8410d.png)
We could just have an X for every extension and those x icons could light up if there are files of that extension on the computer 👍

[2018-01-14 13:45] Jacalz opened #12644 "Add option in about:preferences#extensions to only show open source extensions"
### Description
Add an option in about:preferences#extensions for only showing extensions where the code base is open source. This would be great to hide proprietary extensions from users only wanting open source extensions. brave is open source and thus should help to show what extension that are open source or not 👍

[2018-01-14 14:17] cmatomic commented on #10250
Why brave appimage is not official ?
https://github.com/brave/browser-laptop/blob/master/docs/linuxInstall.md

[2018-01-14 14:44] cmatomic commented on #10250
I can not see what is inside the appimage, very strange this appimage is not possible to extract it.

[2018-01-14 15:27] Dakicka opened #12645 "Website (linkedin.com) keeps reloading constantly"
Have you searched for similar issues?
Yes, seems to be the same symptoms as in #7214 but the solution does not work

### Description

After I imported my firefox bookmarks and went though the preferences page, the website https://linkedin.com keeps reloading constantly. After the page is loaded (which is impressively fast) it immediately loads again and again and again.... I already changed the se

[2018-01-14 17:30] NumDeP commented on #12642
Considering your statement, their landing page could be construed as misleading for the time being as it needs to re-evaluate how it's engine is still better and why.

@Vispocks when I first installed Brave close to a year ago I can still remember being in slight awe of how efficient it was compared to Firefox (with the older Gecko engine not the new Quantum) and Chrome and it has without a doubt

[2018-01-14 17:39] andrewbihl opened #12646 "No videos play."
### Description
No videos play at all on any sites so far. The page seems to load just fine, but the video will not proceed. I can use the scrubber to move to a different point in the video and it will load the shot at that moment, but it will never play. I've reproduced this on YouTube, Netflix, Streamable, and Vimeo. I have yet to get any video to play in Brave.

### Steps to Reproduce

  1. Ope

[2018-01-14 18:41] hyph3n opened #12647 "Lost Characters in "My Home Page Is" Input Field"
### Description

When typing quickly into the "My home page is" input field, individual characters are sometimes lost in no obvious pattern; they sometimes appear on screen very briefly and then disappear, leaving typos in the input text.  If the user types more slowly, characters do not seem to disappear.

### Steps to Reproduce

  1. Preferences > General > My home page is
  2. Press the 'a' key

[2018-01-14 19:27] JonnyRedHed commented on #271
Yes not just creating your own dark mode UI, but also some way to darken all your webpages you visit.  Either like the 'care your eyes' extension below. And or allow the Stylus extension as well so we can add page styles.

But until then...

**Care your eyes** - chrome extension - can be used in Opera, Chrome, Vivaldi etc.  Good for random web pages you want dark.  Uses a nice dark brown hue for t

[2018-01-14 19:54] jbrockc commented on #6902
I did the following for it to survive reboot (system Debian 9).
`echo 'kernel.unprivileged_userns_clone=1' > /etc/sysctl.d/00-local-userns.conf`
Source: https://superuser.com/questions/1094597/enable-user-namespaces-in-debian-kernel#answer-1122977

[2018-01-14 19:57] jernejml commented on #12615
@AluminiumTech
I am using laptop as a transferable workstation on a docking station connected to large monitor. :)
I would prefer name "Brave Desktop" over using outdated term such as PC.

[2018-01-14 21:24] Darkfae commented on #2183
+1 for the option to select multiple languages.

I'd also like to see more language options as well. The language settings are super limited right now, and it's driving me a bit nuts - being told my spelling is incorrect when I know it's right is a huge turn off.

[2018-01-14 22:25] jonathancross commented on #197
FYI: I'm seeing [many signed commits](https://github.com/brave/browser-laptop/commits/master) with key `4AEE18F83AFDEB23`, unfortunatly that key is **[owned and controlled by GitHub](https://security.stackexchange.com/a/173494)**, so it doesn't really improve the situation.

[2018-01-15 00:21] Liunkae commented on #2183
@Darkfae You can use multiple languages. See Preferences > General > Spell Check Languages. Here's an example of English and Spanish:

![](https://user-images.githubusercontent.com/19424103/34922599-b48de0e8-f957-11e7-90be-e63d5411a358.png)

[2018-01-15 00:29] Liunkae commented on #12615
+1 to "Brave Desktop". "Desktop" is widely used with desktop vs. mobile comparisons, like http://gs.statcounter.com/platform-market-share/desktop-mobile-tablet

[2018-01-15 00:45] Liunkae commented on #12638
Got some screen recordings:

![](https://user-images.githubusercontent.com/19424103/34922813-753e95d8-f95a-11e7-8c99-87db584e2450.gif)

![](https://user-images.githubusercontent.com/19424103/34922863-fe4a23c4-f95a-11e7-8d48-f40834169842.gif)

[2018-01-15 00:52] kjozwiak opened #12648 "Manual test run for Chromium upgrade on OS X for 0.19.x Hotfix 13"
## Per release specialty tests
 - [x] Update to Muon 4.7.0. ([#12641](https://github.com/brave/browser-laptop/issues/12641))
 - [x] Update to Chromium 64. ([#12640](https://github.com/brave/browser-laptop/issues/12640))
 - [x] "Folder Upload" feature in Google Drive Broken. ([#8601](https://github.com/brave/browser-laptop/issues/8601))

## Installer

- [x] Check that installer is close to the size

[2018-01-15 00:52] kjozwiak opened #12649 "Manual test run for Chromium upgrade on Windows x64 for 0.19.x Hotfix 13"
## Per release specialty tests
 - [x] Update to Muon 4.7.0. ([#12641](https://github.com/brave/browser-laptop/issues/12641))
 - [x] Update to Chromium 64. ([#12640](https://github.com/brave/browser-laptop/issues/12640))
 - [x] "Folder Upload" feature in Google Drive Broken. ([#8601](https://github.com/brave/browser-laptop/issues/8601))

## Installer

- [x] Check that installer is close to the size

[2018-01-15 00:52] kjozwiak opened #12650 "Manual test run for Chromium upgrade on Linux for 0.19.x Hotfix 13"
## Per release specialty tests
 - [x] Update to Muon 4.7.0. ([#12641](https://github.com/brave/browser-laptop/issues/12641))
 - [x] Update to Chromium 64. ([#12640](https://github.com/brave/browser-laptop/issues/12640))
 - [x] "Folder Upload" feature in Google Drive Broken. ([#8601](https://github.com/brave/browser-laptop/issues/8601))

## Installer

- [x] Check that installer is close to the size

[2018-01-15 01:17] bsclifton commented on #12645
@Dakicka do you have more information about your setup?

For example, linkedin.com works fine for me with these settings (clicked the lion icon in the top right)
![screen shot 2018-01-14 at 6 16 36 pm](https://user-images.githubusercontent.com/4733304/34923217-2b53623a-f957-11e7-8754-50fc2d5ac592.png)

[2018-01-15 01:25] bsclifton commented on #12644
The biggest challenge for this would be knowing if an extension is open source or not (and if so, where the code is).  If you look at the Chrome web store, I don't think this data is being stored anywhere:
https://chrome.google.com/webstore/category/extensions

Somebody would need to compile a list of this and keep it up to date (which I don't think is feasible).

I'm going to close this as `wontf

[2018-01-15 01:25] #12644 closed

[2018-01-15 01:27] bsclifton commented on #12612
Strict Site Isolation does appear to affect multiple extensions

[2018-01-15 03:32] srirambv opened #12651 "Geo location not detected on CR64"
### Description
Geo location not detected on CR64

### Steps to Reproduce
  1. Clean install CR64 build 0.19.135
  2. Visit https://developer.mozilla.org/en-US/docs/Web/API/Geolocation/Using_geolocation, Click on Show my location, shows `Unable to retrieve your location`
  3. Visit https://browserleaks.com/geo, Click `Allow` in the notification bar, times out but doesn't show the location.

**Actu

[2018-01-15 03:50] srirambv commented on #12651
Broken on Linux as well

[2018-01-15 03:56] srirambv commented on #8601
Verified. Works on Windows with both Fingerprint enabled and disabled.

[2018-01-15 04:42] luixxiul commented on #8554
Closing for QA.

[2018-01-15 04:58] Liunkae commented on #8554
FYI, I think it was fixed with Chromium 64, so it might be fixed in the 0.19.x hotfix 13 soon to be released.

[2018-01-15 05:12] Liunkae commented on #12638
Confirmed it's an issue with strict site isolation. It only happens when the setting is turned on.

STR (Brave 0.21.4 on macOS 10.13):

1. Make sure Strict Site Isolation is turned on in settings (Preferences > Security > Strict Site Isolation).
2. Set the default search engine to DuckDuckGo.
3. Open a new tab.
4. Search for `content security policy`.
5. Quickly Command+Click the Mozilla and Googl

[2018-01-15 06:10] bsclifton commented on #12641
Updated to 4.7.1 with c8d20bff6de23e2fdca5bb6998c6a1fda05b59df

[2018-01-15 06:14] srirambv opened #12652 "Autofill dropdown is not shown below the input field"
### Description
Autofill dropdown is not shown below the input area

### Steps to Reproduce
  1. Have autofill data saved in `about:autofill`
  2. Visit https://www.roboform.com/filling-test-all-fields
  3. Click on First name, autofill data is not shown below the clicked field

**Actual result:**
0.19.134 vs 0.19.135
![autofill](https://user-images.githubusercontent.com/17010094/34929284-e2d847c2

[2018-01-15 06:26] bsclifton commented on #10244
This could potentially be solved by reverting the above commit after patching https://github.com/electron/electron/pull/11629 against Muon

[2018-01-15 06:43] bsclifton commented on #12632
cc: @flamsmark

[2018-01-15 07:05] bsclifton commented on #9624
@Liunkae awesome! thanks for the report. I'll close and move to 0.19.x hotfix 13 so we can confirm

[2018-01-15 07:05] #9624 closed

[2018-01-15 07:07] bsclifton commented on #4520
Closing so this can be tested / confirmed as fixed

[2018-01-15 07:15] bsclifton commented on #10705
I think 0.21.x would be perfect 👍

[2018-01-15 07:45] 3dWrecker commented on #3555
This feature is crucial! I was surprised at how good the tools already are but it would make Brave better than Edge and Chrome for development.
+1

[2018-01-15 07:46] Dakicka commented on #12645
@bsclifton thanks. Yes, it counts up to 10 right before the reload of the page.
![2018-01-15 08_42_03-](https://user-images.githubusercontent.com/16510737/34931665-28a5d472-f9d0-11e7-904a-ccbe07c53ccb.png)

The issue still exists if I deactivate shields for LinkedIn completely (flip the switch in the top right corner).

[2018-01-15 07:48] 3dWrecker commented on #12606
Me too. Please fix! Loving brave except for this.

[2018-01-15 08:32] NejcZdovc commented on #12606
Hi, thank you for the report. I think this is dupe of #8600. This issue will be fixed in 0.20.x.

[2018-01-15 08:32] #12606 closed

[2018-01-15 08:45] srirambv commented on #12649
#12652, #12651 & Update tests fails on Windows. Rest all looks good

[2018-01-15 09:17] Dakicka commented on #12645
Hi, I reinstalled Brave, following this guide https://community.brave.com/t/how-to-solve-almost-every-problem-after-install/605 and it solved the problem. Sorry we couldn't find the root cause. Thanks for your help though.

[2018-01-15 10:08] NejcZdovc opened #12653 "Add cc support"
### Description

### Steps to Reproduce

  1.
  2.
  3.

**Actual result:**

**Expected result:**

**Reproduces how often:**

### Brave Version

**about:brave info:**

**Reproducible on current live release:**

### Additional Information

[2018-01-15 10:24] NejcZdovc opened #12654 "Linter is broken"
### Description

Linter was broken in https://github.com/brave/browser-laptop/pull/12633

[code]

### Steps to Reproduce

  1.
  2.
  3.

**Actual result:**

**Expected result:**

**Reproduces how often:**

### Brave Version

**about:brave info:**

**Reproducible on current live release:**

### Additional Information

[2018-01-15 10:36] NejcZdovc commented on #12591
@mrose17 do you have STR?

[2018-01-15 11:49] jez9999 commented on #10599
@bsclifton Uh, my issue was different.  The noise was to the side of the browser window, not at the bottom.

[2018-01-15 13:40] NejcZdovc commented on #12274
@jenn-rhim can you please try this with the latest beta version

[2018-01-15 13:48] NejcZdovc commented on #12296
To fix this problem we need to modify string `deleteLedgerEntry` in `.properties` file.

[2018-01-15 13:49] kristianmandrup commented on #3752
I mistakenly activated popup blocker for a page where I need the popups for key functionality.
How do I re-enable popups for that page. Can't seem to find the preference setting. Please make it more clear. Thanks.

[2018-01-15 14:16] NejcZdovc commented on #12229
@DtpEJsaYXDU4GDH8dE4MyI9VrieF0UZpPZ0K76K can you please specify steps that I need to take to reproduce this problem

[2018-01-15 14:16] NejcZdovc commented on #12390
closing and continuing  discussion in #12229

[2018-01-15 14:16] #12390 closed

[2018-01-15 14:26] chuckremes commented on #10567
Tested 0.19.134 rev 316cfa5. Problem still exists.

[2018-01-15 15:49] gnapse opened #12658 "Accidentally swiping back on macOS"
As some others have stated in #5907, I find that Brave is too sensitive in detecting the gesture for swiping from right to left in the trackpad to go back in history. I don't want to disable the feature, as I relied on it when I used Chrome. But Brave is too sensitive. Sometimes I make the gesture to scroll up or down, and apparently in my movement in the trackpad, I also did move my fingers to th

[2018-01-15 16:08] DtpEJsaYXDU4GDH8dE4MyI9VrieF0UZpPZ0K76K commented on #12229
if you edit multiple sections all at the same time, only some settings get saved properly. Tested in Linux sandbox. Same steps as user above but works on nearly any fields not just payments.

[2018-01-15 16:15] NejcZdovc commented on #12229
When you say sections you are talking about pinning and entering values in to the input or modifying advance settings?

Exact steps would be much appreciated?

[2018-01-15 17:02] DtpEJsaYXDU4GDH8dE4MyI9VrieF0UZpPZ0K76K commented on #12229
Any of the advanced settings yes. Can send details next week. No sandbox currently set up.

[2018-01-15 17:09] mrose17 commented on #12591
i'm not sure how to reproduce it. perhaps i am the only one seeing this!

[2018-01-15 17:30] NejcZdovc commented on #12229
@DtpEJsaYXDU4GDH8dE4MyI9VrieF0UZpPZ0K76K thank you so much

[2018-01-15 17:40] kjozwiak commented on #12651
Reproduced the issue on `macOS 10.13.2 x64` using `0.19.136` 1659471cf1b1016568f63a6ab3e35b604d7e3db3.

[2018-01-15 18:55] kjozwiak opened #12660 ""missing component"
#

### Description

### Steps to Reproduce

  1. launch `0.19.136` which includes C64
  2. Login into Netflix and attempt to play any media

**Actual result:**

Attempting to play media from Netflix under macOS, you'll get a `Component Missing` error.

<img width="706" alt="screen shot 2018-01-15 at 1 49 31 pm" src="https://user-images.githubusercontent.com/2602313/34957375-6645773a-f9fb-11e7-9589

[2018-01-15 19:00] kjozwiak opened #12661 ""missing component" error when attempting to play media under Netflix"
### Description

Attempting to play media from Netflix under macOS will produce a "Component Missing" error.

### Steps to Reproduce

  1. launch `0.19.136` which includes C64
  2. Login into Netflix and attempt to play any media

**Actual result:**

Attempting to play media from Netflix under macOS, you'll get a `Component Missing` error.

<img width="706" alt="screen shot 2018-01-15 at 1 49 31 p

[2018-01-15 19:02] kjozwiak commented on #12660
Closing.. not sure how it created two.. Duplicate of #12661.

[2018-01-15 19:02] #12660 closed

[2018-01-15 19:50] mortellus opened #12662 "New issues needp help"
### Description

### Steps to Reproduce

  1.
  2.
  3.

**Actual result:**

**Expected result:**

**Reproduces how often:**

### Brave Version

**about:brave info:**

**Reproducible on current live release:**

### Additional Information

[2018-01-15 20:08] kjozwiak commented on #12652
This is also affecting where saved passwords are being displayed when clicking on input fields.

Using `0.19.136` 1659471cf1b1016568f63a6ab3e35b604d7e3db3 under macOS 10.13.2

<img width="1387" alt="screen shot 2018-01-15 at 3 04 02 pm" src="https://user-images.githubusercontent.com/2602313/34959636-611b3f7e-fa05-11e7-9cd6-e646f690e715.png">

<img width="917" alt="screen shot 2018-01-15 at 3 07 16

[2018-01-15 20:13] jaxidian commented on #12574
I have confirmed this does not happen in Chrome on Windows 10 Version 63.0.3239.132 (Official Build) (64-bit). My Chrome install I tested is running Ublock Origin, LastPass, & HTTPS Everywhere plugins.

[2018-01-15 20:14] eljuno commented on #545
+1 from community https://community.brave.com/t/about-config-equivalent-for-brave-to-tweak-settings-when-necessary-please/13759?u=eljuno

[2018-01-15 20:20] #12654 closed

[2018-01-15 20:26] eljuno commented on #5873
+1 from community https://community.brave.com/t/option-to-keep-brave-open-when-closing-last-tab/13760?u=eljuno

[2018-01-15 20:26] davidtemkin commented on #12642
@Vispocks On Brave.com, the comparison between Brave and Chrome uses each browser as it is provided by Brave and Google, respectively, with default settings and no user-installed extensions. @NumDeP It is not a comparison of rendering technologies, but of end-user results with common sites using out-of-the-box configurations. In fact, Brave is based on the same core rendering engine as Chrome.

[2018-01-15 20:26] #12642 closed

[2018-01-15 20:27] Tomatoshadow2 commented on #12574
I can also confirm didn't happen in Chrome Canary build 01/14/18

[2018-01-15 20:57] kjozwiak commented on #12662
Closing as there's no information here. @mortellus, if you're still having issues, please create a new bug with more information. You could also checkout the Brave Community https://community.brave.com/

[2018-01-15 20:57] #12662 closed

[2018-01-15 21:03] #12580 closed

[2018-01-15 21:05] kjozwiak opened #12663 "clicking on some notifications will create dead tabs within Brave"
### Description

Clicking on some notifications will cause the creation of dead tabs within Brave. These tabs cannot be closed within the same session and requires a restart.

### Steps to Reproduce

  1. visit https://jsfiddle.net/yoshi6jp/Umc9A/
  2. click on `Request Permissions` and select `Allow` & `Remember this decision` when the notification appears
  3. type in "brave" in the `title` inpu

[2018-01-15 21:06] bsclifton commented on #12564
Closing as we accepted https://github.com/brave/browser-laptop/pull/12582; next build, let's test this 😄

[2018-01-15 21:06] #12564 closed

[2018-01-15 21:08] bsclifton commented on #12510
Waiting for review / merge via https://github.com/brave/muon/pull/431

[2018-01-15 21:33] bart747 commented on #12362
Same experience here.
In @pongraczi 's example you can also notice that the URL of the site you'll go to is not the URL you're clicking on. It might mean that it's some security thing problem/feature. If that's true, a warning message with a "go" and "don't go" buttons would be useful.

[2018-01-15 22:41] bsclifton commented on #12645
Glad you were able to solve it (and apologies that you ran into it!).  Thanks for updating this issue with your solution.  I'll close it out for now 😄

[2018-01-15 22:41] #12645 closed

[2018-01-15 22:43] bsclifton commented on #11779
@abZameen @santiago-su @rothos Are you all still experiencing this?  Please let us know 😄

[2018-01-15 22:46] bsclifton commented on #12262
@jenn-rhim we've had a lot of fixes recently... is this still occurring for you?

[2018-01-15 22:48] bsclifton commented on #12044
@luixxiul can you retest this please?

[2018-01-15 22:49] bsclifton commented on #12021
This should be fixed now- I'm going to close the issue.  Let's re-open if the issue still occurs 😄  Thanks!

[2018-01-15 22:49] #12021 closed

[2018-01-15 22:51] bsclifton commented on #11980
+1 from me- I hate this one 😠

[2018-01-15 22:51] eljuno commented on #11653
+1 from Twitter https://twitter.com/AlexanderGunz/status/953019949777375233

[2018-01-15 22:53] bsclifton commented on #12012
Closing as there has not been more information provided

[2018-01-15 22:53] #12012 closed

[2018-01-15 22:56] bsclifton commented on #11985
@LaurenWags this may be fixed in 0.20.x.  Can you please re-test? If it is fixed, let's move it into 0.20.x 😄

[2018-01-15 23:08] bsclifton commented on #11594
Closing as I believe this issue has been addressed

@psmalone do you still encounter this? We've recently pushed autoplay improvements.  If you still have this issue, let's re-open the issue 😄

[2018-01-15 23:08] #11594 closed

[2018-01-15 23:43] davidtemkin commented on #12615
There's no perfect answer here, but, per @Liunkae and @AluminiumTech,  "desktop" is the conventional term used to describe the PC platform in a general sense (including laptops and Mac -- "PC" doesn't quite cover it). The browser is named "Brave" and "Brave" alone; but there are times when we need to refer specifically to the version that runs on Win/Mac/Linux. In those cases we describe the produ

[2018-01-15 23:43] #12615 closed

[2018-01-16 00:18] evq commented on #197
@jonathancross those signed with GitHub's key should be limited to merge commits created by using the GitHub web UI to merge PRs. I think the only way to personally sign the merge commits is by performing the merge manually and pushing the result to master.

[2018-01-16 01:43] bridiver commented on #12651
what about windows?

[2018-01-16 02:55] srirambv commented on #12651
@bridiver  broken on all platforms. Originally reported for Windows then reproduced on Linux and macOS

[2018-01-16 02:55] massung commented on #9888
Just noting I have the same issue on my Lenovo Yoga (Windows 10):

Brave | 0.19.134
rev | 316cfa5
Muon | 4.5.38
libchromiumcontent | 63.0.3239.132
V8 | 6.3.292.49
Node.js | 7.9.0
Update Channel | Release
OS Platform | Microsoft Windows
OS Release | 10.0.16299
OS Architecture | x64

Side note: I didn't notice the problem on initial install (a previous version), but I enabled smooth scrolling, and s

[2018-01-16 03:04] insanerwayner opened #12665 "Menu Bar Keeps showing up when Browser is reopened"
### Description
When I open the Browser it shows the menu bar. I have to right click and put the checkmark on to active the menu bar then right click again to to turn it off, then the menu bar disappears.

### Steps to Reproduce

  1. Open the Browser
  2. Menu Bar is visible
  3. Right Click in blank space by tabs and you will see the menu bar is not showing to be actived.
  4. Click the Option f

[2018-01-16 04:37] kjozwiak commented on #12649
Closing as this has been completed. Awesome finds @srirambv!

[2018-01-16 04:37] #12649 closed

[2018-01-16 04:47] bsclifton commented on #12615
+1 on what @davidtemkin said above 😄

I think it's important we prefer "Desktop" over "Laptop" when referring to the product (which we seem to, from my experience). On GitHub... even though the repo is named "browser-laptop", the description for this repo does make it clear it's for desktop:

Please let us know if there are places we refer to the product as a "Laptop" product 😄

[2018-01-16 04:53] #12648 closed

[2018-01-16 05:05] BrendanThompson commented on #10324
Any update on this, really keen to have support for multiple profiles!

[2018-01-16 05:34] kjozwiak commented on #12650
Thanks @srirambv!

[2018-01-16 05:34] #12650 closed

[2018-01-16 06:45] jamesray1 commented on #10324
@BrendanThompson I've been using session tabs, they are pretty useful, and there's then no need to have different windows.

[2018-01-16 06:49] NejcZdovc commented on #11590
I will close this one, because I think that things were fixed. Please reopen if it's still happening.

[2018-01-16 06:49] #11590 closed

[2018-01-16 06:56] NejcZdovc commented on #11718
@LaurenWags is this still a problem?

[2018-01-16 06:59] NejcZdovc commented on #11705
Closing as we don't have a lot of users in transition anymore and I think it's not a problem

[2018-01-16 06:59] #11705 closed

[2018-01-16 07:03] NejcZdovc commented on #12101
@srirambv can you please try again this one on the latest version

[2018-01-16 07:08] bradleyrichter commented on #11857
@NejcZdovc The mockup above is valid but "Import recovery key" should be grey instead of orange.

[2018-01-16 07:17] NejcZdovc commented on #11857
@bradleyrichter thank you

[2018-01-16 07:33] srirambv opened #12666 "Incorrect decimal values shown for BAT-USD after reconcile"
### Description
Incorrect decimal values shown for BAT-USD after reconcile

### Test plan / Steps to Reproduce
  1. Fund wallet with decimal values such as 7.51 BAT
  2. Change reconcilestamp to trigger payment process
  3. Once reconcile is complete, shows incorrect decimal values for BAT-USD

**Actual result:**
![image](https://user-images.githubusercontent.com/17010094/34976441-aa9f5dd0-fabc-11

[2018-01-16 08:01] NejcZdovc commented on #12666
@bradleyrichter what should we display here? USD value is `0.0066051665` and we only show two places and because of rounding we are currently displaying `0.01 USD` which is of course wrong

[2018-01-16 08:04] NejcZdovc commented on #12150
@LaurenWags is this still a problem?

[2018-01-16 08:21] NejcZdovc commented on #12183
@srirambv is this still a problem?

[2018-01-16 08:21] NejcZdovc commented on #12220
@bradleyrichter what should we do here?

[2018-01-16 08:25] NejcZdovc commented on #12666
This line is problematic https://github.com/brave/browser-laptop/blob/master/app/browser/api/ledger.js#L1614

[2018-01-16 08:27] NejcZdovc commented on #12591
@brave/qa did you experience anything like this? I know that we have one logged https://github.com/brave/browser-laptop/issues/12271

[2018-01-16 08:29] NejcZdovc commented on #12520
I think that we can add status text bellow add founds button. Where is now `Thanks for ...`

[2018-01-16 08:37] srirambv commented on #12183
Can't reproduce this any more on 0.19.136. Closing for now.

[2018-01-16 08:37] #12183 closed

[2018-01-16 08:43] hugobuddel commented on #6902
Have to run Brave (0.19.134) with `--no-sandbox` on Scientific Linux 7.4 as well (kernel 3.10.0-693.11.6.el7.x86_64). Could someone explain why this is dangerous?

The link that is included with the error says that "The Linux SUID sandbox is almost but not completely removed.", so the sandbox is outdated anyway?: https://chromium.googlesource.com/chromium/src/+/master/docs/linux_suid_sandbox_devel

[2018-01-16 08:45] srirambv commented on #12101
Unable to reproduce on the latest release. Closing the issue for now.

[2018-01-16 08:45] #12101 closed

[2018-01-16 08:46] BrendanThompson commented on #10324
Hey James yeah I started using that too. Keen to at least get colouring or labels with them.

Is there any keyboard shortcuts for creating new session tabs?

Sent from my iPhone

On 16 Jan 2018, at 17:45, James Ray <notifications@github.com<mailto:notifications@github.com>> wrote:

@BrendanThompson<https://github.com/brendanthompson> I've been using session tabs, they are pretty useful, and there'

[2018-01-16 08:52] srirambv commented on #10324
You can use Ctrl+Shift+S to create new session tabs. It creates subsequent session tabs and once it reaches session tab 9 it continues with that

[2018-01-16 10:52] jamesray1 commented on #10324
@srirambv, awesome, it'd be good if you could put that shortcut in the new tab dropdown menu. Yes it wouldn't fit, but you could make the menu bigger?

[2018-01-16 11:50] srirambv commented on #10324
Here's a list of keyboard shortcuts for Windows 😉
https://community.brave.com/t/brave-browser-shortcuts-currently-for-windows-only/10001

[2018-01-16 13:14] srirambv commented on #12037
+1 from community https://community.brave.com/t/lawrence-review-after-30min/13738

[2018-01-16 13:32] mrose17 commented on #12666
how about `<.01USD` ?

[2018-01-16 14:23] reformstudios commented on #10405
Any news on this? I also have the same problem and find it a major headache.

[2018-01-16 14:51] jacobmischka opened #12667 "Cannot build package from source tarball"
### Description
Because of `git-rev-sync`, it's currently impossible to build the package from a source tarball ([such as v0.19.134's .tar.gz archive listed in releases](https://github.com/brave/browser-laptop/archive/v0.19.134dev.tar.gz)).

### Steps to Reproduce
  1. `wget https://github.com/brave/browser-laptop/archive/v0.19.134dev.tar.gz`
  2. `tar -xf v0.19.134dev.tar.gz`
  3. `cd browser-lap

[2018-01-16 15:04] AlbertoElias opened #12668 "requestPointerLock not working"
### Description
This Web feature doesn't seem to work on Brave

### Steps to Reproduce
Executing `element.requestPointerLock` on any element doesn't do anything and `document.pointerLockElement` is `null`.

**Actual result:**
Mouse is not captured by the element

**Expected result:**
Mouse is captured by the element

**Reproduces how often:**
100%

### Brave Version

Brave | 0.19.134
-- | --
rev |

[2018-01-16 15:44] hyph3n commented on #12665
I'm seeing the same behavior on 0.22.0.

Brave: 0.22.0
V8: 6.3.292.48
rev: 1e43f3df19a687723d7d343b16c34f3cf54e2fe5
Muon: 4.6.4
OS Release: 4.14.13-200.fc26.x86_64
Update Channel:
OS Architecture: x64
OS Platform: Linux
Node.js: 7.9.0
Brave Sync: v1.4.2
libchromiumcontent: 63.0.3239.108

[2018-01-16 16:18] #12621 closed

[2018-01-16 17:00] mzKas commented on #9425
Still waiting for a fix for this....
Its unbelievable that you want a stable browser and you have a bug that none of the other chromium based browsers have...

[2018-01-16 17:18] insanerwayner commented on #12665
It also did it with the snap version of Brave

[2018-01-16 17:36] petemill commented on #12590
@bsclifton @NejcZdovc how annoying, I'm on it. 👍

[2018-01-16 18:08] diracdeltas commented on #12510
@bsclifton my local mac muon build hasn't been working in a while but i will try to test out the PR today. moving to hotfix for now

[2018-01-16 18:14] bsclifton commented on #11728
Likely same fix as https://github.com/brave/browser-laptop/issues/12590

[2018-01-16 18:16] savehansson commented on #9425
I agree @mzKas. This should be easy to fix. Low hanging fruit!

[2018-01-16 18:16] bsclifton commented on #12514
cc: @srirambv @kjozwiak can you please retest this? 😄

[2018-01-16 18:24] bsclifton commented on #10673
Assigning @petemill to investigate 😄

[2018-01-16 18:29] flamsmark commented on #12553
This is a duplicate of #9777.

[2018-01-16 18:29] #12553 closed

[2018-01-16 18:33] bsclifton commented on #10673
+1 from @bbondy:

[code]

[2018-01-16 18:37] bsclifton commented on #12665
Hi folks- thanks for the report 😄  This is a known issue on Linux; we have it captured with https://github.com/brave/browser-laptop/issues/5086 if you wanted to follow for updates.  I'll close this issue as a duplicate

[2018-01-16 18:37] #12665 closed

[2018-01-16 18:38] bsclifton commented on #5086
+1 from @insanerwayner

and +1 from @hyph3n

[2018-01-16 18:42] jenn-rhim commented on #12262
@bsclifton yes, it's still not debited, but the overdue messaging is not there anymore.

[2018-01-16 18:44] jenn-rhim commented on #11904
@NejcZdovc i see more of them now than when the issue was created. but i need a way to cross check that all verified pubs are in fact having the mark.

[2018-01-16 18:45] jenn-rhim commented on #12274
@NejcZdovc yes, it is still happening on my browser. i just updated to 0.19.134.  i had @alexwykoff sitting next to me to observe it. :)

[2018-01-16 19:10] jenn-rhim commented on #11383
this is still happening to me. i'm on vs. 0.19.134.

[2018-01-16 19:18] eljuno commented on #1985
+1 from Twitter https://twitter.com/emacosc/status/953217720878796800

[2018-01-16 19:25] jenn-rhim commented on #11383
sorry, scratch the above comment. @LaurenWags just pinged me that i should restore my wallet key first and see if the key sticks.  it looks like it's sticking. i'll keep an eye on it.  thanks @LaurenWags!

[2018-01-16 19:26] LaurenWags commented on #11383
thanks @jenn-rhim 😄

[2018-01-16 19:32] gruvin commented on #9254
+1 for being able to revoke sync passwords. Computer get stolen, all the time. This is a VITAL feature. Drop everything and do this first, please. Absolutely CRITICAL. Deal breaker for me. Not using Brave until this is sorted out. Thanks.

[2018-01-16 19:37] bsclifton opened #12669 "Throttle loads/requests for background tabs"

[2018-01-16 20:25] NejcZdovc commented on #11904
@jenn-rhim I think that @alexwykoff can help you with that

[2018-01-16 20:53] herrjemand opened #12670 "Add WebAuthn support"
### Description

So there is a new W3C standard that is called WebAuthn. It's public key credential management API extension for challenge-response authentication.

https://w3c.github.io/webauthn/

Firefox, Chrome and Edge announced that they will implement it.

Would be nice to see it in brave. And it's not really hard, as it goes through the same interface as U2F

[2018-01-16 21:31] evq opened #12671 "Create "firewall"-like shield to protect against DNS rebinding attacks"
### Description
NoScript has a component called the Application Boundaries Enforcer which in it's default configuration protects against DNS rebinding attacks that target intranet resources. We should consider adding something similar.

https://en.wikipedia.org/wiki/Noscript#Application_Boundaries_Enforcer_.28ABE.29

[2018-01-16 21:52] e1ucas commented on #2884
Can repro the redirect to mobile on MacOS 10.12.6 & Chrome 63.0.3239.132, having javascript _Blocked_ in `chrome://settings/content/javascript` _even with_ `https://twitter.com` and `https://www.twitter.com` as _Allowed_.

[2018-01-16 22:34] #12661 closed

[2018-01-16 22:53] bsclifton commented on #12652
Here's an example of the coordinates involved with Chromium 63
![autofill63](https://user-images.githubusercontent.com/4733304/35016341-5bab256a-fad5-11e7-8c14-816b6eaa482a.png)

and with Chromium 64 (same code)
![autofill64](https://user-images.githubusercontent.com/4733304/35016351-62346b76-fad5-11e7-8da3-bfb2ea7dc6bf.png)

[2018-01-16 22:54] LaurenWags commented on #12078
This is still being reported with 0.19.134 in Community: https://community.brave.com/t/monthly-budget-tab-still-defaulting-to-25-bat/13461/7

[2018-01-17 00:38] kjozwiak opened #12672 "restarting the browsers corrupts the seed of recovered wallets"
### Description

Restarting the browser when you have a recovered wallet will corrupt the backup seed, which will appear as `a` in the UI. Example:

<img width="1393" alt="screen shot 2018-01-16 at 7 19 08 pm" src="https://user-images.githubusercontent.com/2602313/35019461-0438c48e-faf5-11e7-87d8-f93c572ed817.png">

When attempting to contribute/reconcile in this state, the user will receive the f

[2018-01-17 00:40] mrose17 commented on #12591
@NejcZdovc - i am still seeing this. let me suggest a work-around until we can figure out what's going on.  if you have a display string of `youtube#channel:...` change the underlying URL to `https://www.youtube.com/channel/...` .

you might also add code to the browser so that when `LEDGER_VERBOSE=true` it prints something out when it adds this to the synopsis.

[2018-01-17 01:30] srirambv commented on #12526
+2 from community https://community.brave.com/t/cannot-scroll-any-page-with-touchpad-only-scroll-with-buttons-up-and-down/13771/6

[2018-01-17 02:05] kjozwiak opened #12673 "add the ability to change the default monthly budget via server side"
### Description

As per our discussions earlier today, we'll need a way to change the default monthly budget values via server side rather than client side. Currently, whenever we need to change the default monthly budget, we require new builds which is expensive in terms of QA/Dev resources. Having the ability to change the default monthly budget via the server will save us a lot of time.

@mrose

[2018-01-17 03:44] luixxiul commented on #12044
@bsclifton it's been solved :-)

[2018-01-17 03:44] #12044 closed

[2018-01-17 04:50] NejcZdovc commented on #12672
Just tried this on my machine and I can't reproduce it.

[2018-01-17 04:56] NejcZdovc commented on #12672
Ok managed to reproduce it with the following recovery key:

`deprive unlighted purvey forgetfully cachalot necessitously honey wound supremacy vandalistic arch gaudery seasonality parboiled meow rara`

[2018-01-17 05:21] BrendanThompson commented on #10324
Looks good although running a Mac :)

Sent from my iPhone

On 16 Jan 2018, at 22:50, Sriram Bellur Venkataram <notifications@github.com<mailto:notifications@github.com>> wrote:

Here's a list of keyboard shortcuts for Windows 😉
https://community.brave.com/t/brave-browser-shortcuts-currently-for-windows-only/10001

—
You are receiving this because you were mentioned.
Reply to this email directly, v

[2018-01-17 05:29] bradleyrichter opened #12674 "Ledger USD conversion values not updating via server"
Noticed that the budget values were not updating.

Name | Version
-- | --
Brave | 0.19.134
rev | 316cfa5
Muon | 4.5.38
libchromiumcontent | 63.0.3239.132
V8 | 6.3.292.49
Node.js | 7.9.0
Update Channel | Release
OS Platform | macOS
OS Release | 17.3.0
OS Architecture | x64

{"altcurrency":"BAT","probi":"138068757400864961624","balance":"138.0688","unconfirmed":"0.0000","rates":{"BTC":"0.00004166","

[2018-01-17 05:32] bradleyrichter opened #12675 "URL Heart (include for payment) button disabled even after time requirements satisfied"
![image](https://user-images.githubusercontent.com/13509546/35027257-9c54f1b6-fb04-11e7-88ae-82d1221b0378.png)

![image](https://user-images.githubusercontent.com/13509546/35027275-ad535ca0-fb04-11e7-868b-254cc4483fda.png)

site:
https://www.theguardian.com/cities/2018/jan/16/beginning-end-trump-real-estate-empire

[2018-01-17 05:54] srirambv commented on #12672
Reproduced on Windows as well.

[2018-01-17 06:50] bradleyrichter commented on #12220
We can easily add more width to the field to accommodate 4-6 more decimal places for these edge cases.

[2018-01-17 07:23] #12119 closed

[2018-01-17 07:41] bsclifton commented on #12652
continuing on the above...

With 63 (and existing code), targetRect is added to boundingClientRect (notice the `top` value of 74) because the targetRect is for inside the webview.

With 64, targetRect is using screen coordinates already (instead of being relative to the webview). Therefore, we don't need to add the window chrome size (boundingClientRect) to it

[2018-01-17 07:41] NejcZdovc commented on #10494
removing ledger label, since last report is triggered from the top sites

[2018-01-17 07:44] bsclifton commented on #12641
Updated to 4.7.2 with 612bd04053a24c8ec2782ac7fcbf98ed260c3141

[2018-01-17 07:45] bsclifton commented on #12652
Fixed in 0.19.x with a7c1cbe6479b9de566cef6d04d6119c91b8986ff

[2018-01-17 07:45] #12652 closed

[2018-01-17 08:10] bsclifton commented on #8554
I suspect that the underlying fix for this also caused this issue:
https://github.com/brave/browser-laptop/issues/12652

[2018-01-17 08:13] JReinhold commented on #3101
@Alino that is somewhat true, although that can be said about almost any feature. Unless you have some real numbers, you are basically working off assumptions, which could be as good as anyone's.
It could easily be:

- Brave users: 100%
- Users with a mouse: 80%
- Users with mouse that has back/forward buttons: 70%
- Users that uses back/forward buttons to navigate in browsers: 50%

And now it's s

[2018-01-17 08:29] srirambv opened #12681 "Manual test run for Chromium upgrade on OS X for 0.19.x Hotfix 13"
## Per release specialty tests
 - [x] "missing component" error when attempting to play media under Netflix. ([#12661](https://github.com/brave/browser-laptop/issues/12661))
 - [x] Autofill dropdown is not shown below the input field. ([#12652](https://github.com/brave/browser-laptop/issues/12652))
 - [ ] Geo location not detected on CR64. ([#12651](https://github.com/brave/browser-laptop/issues/1

[2018-01-17 08:29] srirambv opened #12682 "Manual test run for Chromium upgrade on Windows ia-32 for 0.19.x Hotfix 13"
## Per release specialty tests
 - [ ] Update to Muon 4.7.2. ([#12641](https://github.com/brave/browser-laptop/issues/12641))
 - [ ] Update to Chromium 64. ([#12640](https://github.com/brave/browser-laptop/issues/12640))
 - [ ] "Folder Upload" feature in Google Drive Broken. ([#8601](https://github.com/brave/browser-laptop/issues/8601))

## Installer

- [ ] Check that installer is close to the size

[2018-01-17 08:29] srirambv opened #12683 "Manual test run for Chromium upgrade on Windows x64 for 0.19.x Hotfix 13"
## Per release specialty tests
  - [x] Autofill dropdown is not shown below the input field. ([#12652](https://github.com/brave/browser-laptop/issues/12652))
 - [ ] Geo location not detected on CR64. ([#12651](https://github.com/brave/browser-laptop/issues/12651))
 - [x] Update to Muon 4.7.2. ([#12641](https://github.com/brave/browser-laptop/issues/12641))
 - [ ] Enable SSL certificate pinning for

[2018-01-17 08:29] srirambv opened #12684 "Manual test run for Chromium upgrade on Linux for 0.19.x Hotfix 13"
## Per release specialty tests
 - [x] Autofill dropdown is not shown below the input field. ([#12652](https://github.com/brave/browser-laptop/issues/12652))
 - [ ] Geo location not detected on CR64. ([#12651](https://github.com/brave/browser-laptop/issues/12651))
 - [x] Update to Muon 4.7.2. ([#12641](https://github.com/brave/browser-laptop/issues/12641))
 - [ ] Enable SSL certificate pinning for

[2018-01-17 08:29] #12682 closed

[2018-01-17 09:19] srirambv commented on #12651
Still broken on https://developer.mozilla.org/en-US/docs/Web/API/Geolocation/Using_geolocation  but works https://browserleaks.com/geo
![geo1](https://user-images.githubusercontent.com/17010094/35034832-78eab2d8-fb95-11e7-8e52-cd3ab16e6b28.gif)

[2018-01-17 09:41] srirambv commented on #12651
Opening the codepen/jsfiddle  link from https://developer.mozilla.org/en-US/docs/Web/API/Geolocation/Using_geolocation shows the location but not the mozilla link

[2018-01-17 10:37] srirambv commented on #12683
Looks good. Autofill issue fixed, Geo location is shown on some and not on others. Reopened the issue

[2018-01-17 10:37] #12683 closed

[2018-01-17 11:17] srirambv commented on #12651
Same behaviour on Windows and Linux as mentioned in the previous comment

[2018-01-17 13:30] supercr7 commented on #6630
Any updates or workarounds to this? It is annoying to clean up my pocket list every week due to this and I could not find a way to edit the hotkeys as well.

[2018-01-17 14:36] Alino commented on #3101
@JReinhold
Laptops sales did overtake desktop sales already in 2008 and since then, we went even more mobile. Majority of laptop people are using trackpad/touchpad not a mouse at all.
So therefore I would say there is much less brave users with a mouse device than 80%. I would say it could be something near 30%.
- Users with mouse that has back/forward buttons: 20%
- Users that uses back/forward b

[2018-01-17 16:05] franciscofruiz commented on #3555
+1

[2018-01-17 16:22] luixxiul commented on #11848
I have not seen the issue recently. I'm going to close the issue for now.

[2018-01-17 16:22] #11848 closed

[2018-01-17 16:27] samelawrence commented on #11662
I'm not able to log into Atlassian JIRA Cloud with Brave Browser, even after completely disabling all shields.
![screen shot 2018-01-17 at 11 27 37 am](https://user-images.githubusercontent.com/170246/35053914-72caf852-fb79-11e7-9030-22a6e6cd6a16.png)

[2018-01-17 16:28] luixxiul commented on #12498
@NejcZdovc Sorry, I'm not sure anymore.

[2018-01-17 16:38] luixxiul commented on #12669
Would https://github.com/brave/browser-laptop/pull/11968 not cover the issue?

[2018-01-17 16:41] Monakiel commented on #271
Yes, I'm waiting for it too ! +1

[2018-01-17 16:47] sergiorojasa commented on #3243
@srirambv Is there a specific amount of search engine that should be included?

[2018-01-17 16:59] #11573 closed

[2018-01-17 16:59] luixxiul commented on #11573
Thanks for checking.

[2018-01-17 17:21] sergiorojasa commented on #3243
I'm was only able to get the search engine name to display and not the favicons

[2018-01-17 18:36] diracdeltas commented on #12190
Test plan:
1. remove the browser profile foldre
2. open devtools and go to http://roundcube.mayfirst.org
3. in the network requests devtools tab, you should see 'http://roundcube.mayfirst.org' redirect to https with a 307 code

[2018-01-17 19:08] cezaraugusto commented on #9779
@LaurenWags depending of your window size a tab with no icons is expected. However https://github.com/brave/browser-laptop/issues/9779#issuecomment-355332544 is not. I'm not able to reproduce following @srirambv STR:

![jan-17-2018 17-05-51](https://user-images.githubusercontent.com/4672033/35061613-e90fc6ee-fba8-11e7-9bd5-9b3dd5ce5a12.gif)

I have a guess-fix but hard to know it's working without

[2018-01-17 19:08] cezaraugusto commented on #9779
^ sorry for the bad GIF quality

[2018-01-17 19:10] umutkacar commented on #11452
Same issue on;
Brave 0.19.131 on MacOS 10.11.16

[2018-01-17 19:12] cezaraugusto commented on #9779
also, could you tell me which version `rev` are you on? I'm on de5970f003ca534c0ff0718ac4b06cacd752408b

[2018-01-17 20:29] davidtemkin opened #12688 "Browser should poll server for UGP promo whenever payments prefs is opened"
Currently Brave only checks to see if a UGP promotion is active at browser startup time and at 24 hour intervals. The effect of this is that users who hear about a newly-launched promo are not able to take advantage of it without one of a few unappealing actions (wait 24 hours; turn payments on/off; restart the browser).

In order to satisfy users who have just heard about a new UGP promo (e.g. vi

[2018-01-17 20:58] flamsmark opened #12689 "Ship hard-coded search engine favicons"
Per @Liunkae's comment on #12632, we automatically try to fetch favicons for search engines shipped in <about:preferences#search>. We shouldn't make any non-user-initiated requests to those sites. I'd like to shipped cached favicons for those sites, and have the search UI only read out of the favicon cache. That way, we can always show icons shown in the search pane, they'll always be as current a

[2018-01-17 21:03] flamsmark commented on #12689
We'll need the favicon cache from #2697 to update them based on user activity. Until that's available, I'd prefer to ship hardcoded icons for these sites to avoid making non-user-initiated requests.

[2018-01-17 21:04] kjozwiak commented on #12688
Is this urgent enough to push into https://github.com/brave/browser-laptop/milestone/98?

[2018-01-17 21:10] davidtemkin commented on #12688
No, I don't think so. For the current promo, it wouldn't help, because more than 24 hours will have passed since the promo went live (i.e., all browsers will poll the server) before any update is released.

[2018-01-17 21:20] tomasdev commented on #9434
Not sure why this is closed, but I still cannot import my passwords from Chrome using a Google Account (different than Chrome Person 1, default)

[2018-01-17 21:23] flamsmark opened #12690 "Test: non-interactive requests at first run"
Per #12632, Brave makes a bunch of requests at first run. To ensure that we only make necessary requests and avoid accidentally adding unintended non-interactive requests, we should test Brave builds' first-runs with a request whitelist.

[2018-01-17 21:24] #12015 closed

[2018-01-17 21:27] flamsmark opened #12691 "Bake about:welcome into Brave"
Per @Liunkae's comments on #12632, <about:welcome> makes a bunch of network requests without user interaction, a move that surprises users. We  should avoid requesting remote resources unless a user initiates the interaction.

[2018-01-17 21:35] flamsmark commented on #12632
Thank you so much for auditing this for us!

We should make sure that the Brave infrastructure hosts we access automatically have descriptive hostnames at <brave.com> rather than Fastly or indecipherable EC2 hostnames. The brave infrastructure we access should only be what's needed for Brave to run safely and smoothly. We certainly shouldn't be making unexpected requests to third parties without u

[2018-01-17 21:37] bsclifton opened #12692 "Geolocation does not prompt for permission (and fails) on some pages"
See https://github.com/brave/browser-laptop/issues/12651#issuecomment-358250087 for more infomation

![geo1](https://user-images.githubusercontent.com/17010094/35034832-78eab2d8-fb95-11e7-8e52-cd3ab16e6b28.gif)

[2018-01-17 21:38] bsclifton commented on #12651
Geo functionality is working as expected- however another issue was found (see https://github.com/brave/browser-laptop/issues/12692).  Closing this issue as resolved

[2018-01-17 21:38] #12651 closed

[2018-01-17 22:06] LaurenWags commented on #3101
+1 from twitter: https://twitter.com/meganewsx/status/953715223365435392

[2018-01-17 22:11] LaurenWags commented on #8554
Still doesn't seem quite right:
![8554](https://user-images.githubusercontent.com/28145373/35069824-5b20b45a-fba9-11e7-8a07-10670963cf02.gif)

[2018-01-17 22:15] LaurenWags commented on #4520
Reproduced 'spring effect' using trackpad:
![4520](https://user-images.githubusercontent.com/28145373/35070022-0055a3fe-fbaa-11e7-8682-907fc798cb3a.gif)

[2018-01-17 22:16] eljuno commented on #10405
+1 from community https://community.brave.com/t/middle-click-scroll-highlights-everything-need-option-to-disable/13920?u=eljuno

[2018-01-17 22:20] diracdeltas commented on #12689
related to https://github.com/brave/browser-laptop/issues/11108

[2018-01-17 22:21] petemill commented on #4520
This issue description seems to say _both_ that there should be a spring effect, and there should not be a sprint effect. My interpretation is that the issue is saying there should be the effect, and my intuition is that there should be the effect just like other browsers and apps on macOS. And since the effect is there, I would say this issue is ok and can be closed.

[2018-01-17 22:23] diracdeltas commented on #12691
this is coming from https://brave.com/welcome/ - may be a better issue for the brave-website repo?

[2018-01-17 22:24] LaurenWags commented on #4520
@petemill - should I be seeing a difference with trackpad vs mouse? because I only see the spring effect with trackpad, not with mouse.

[2018-01-17 22:26] petemill commented on #4520
yes @LaurenWags - it is expected across the OS that the overscroll spring is only experienced with touch input on trackpad

[2018-01-17 22:33] t33rex commented on #12632
brave.com is still a 3rd party considering that 1st party is the user and 2nd party is the website s/he types to visit. So in a truly privacy respecting program there should not such connections whatsoever without prior consent of the user. The program must be able to work properly without they user "paying" for this with his privacy.

[2018-01-17 22:35] flamsmark commented on #12691
As a user, it's surprising that an about: page is just a remote resource. IMO, we should bake this whole page into the Browser.

[2018-01-17 22:35] bsclifton commented on #4520
@petemill ah- good to know 😄  I would be 👍  on closing issue as won't fix and removing milestone

[2018-01-17 22:39] bsclifton commented on #8554
@LaurenWags I think the issue you found is different- it looks to have unintentionally selected the wrong words? The actual alignment seems to be fine.  Seems to be when you click and drag (to create a selection) versus double clicking a word

Closing this issue as the alignment is fixed- would you mind creating a new issue for that? 😄

[2018-01-17 22:39] #8554 closed

[2018-01-17 22:41] echosa commented on #12309
I'm experiencing the same issue. I can use the LastPass icon in the URL bar area to autofill, but clicking the icons in the form fields themselves doesn't work. Nothing happens when you click them (no menu is presented).

[code]

[2018-01-17 22:54] diracdeltas commented on #12689
shipping hardcoded icons is easy. i think we will probably do that first and have a follow up issue for cache invalidation

[2018-01-17 22:56] diracdeltas commented on #12689
@flamsmark unless i'm misunderstanding, let's use https://github.com/brave/browser-laptop/issues/2697 for the caching issue and use this issue for hard-coding favicons in the browser

[2018-01-17 22:59] jamesray1 commented on #12309
@echosa thanks for pointing this out, I've continued to experience this on Windows annnd Linux.

Brave: 0.19.134
rev: 316cfa522ffe6a558fe9f2f3f299c0c602dfb691
Muon: 4.5.38
libchromiumcontent: 63.0.3239.132
V8: 6.3.292.49
Node.js: 7.9.0
Update Channel: Release
OS Platform: Linux
OS Release: 4.13.0-29-generic
OS Architecture: x64

[2018-01-17 23:01] diracdeltas commented on #2697
as discussed in https://github.com/brave/browser-laptop/issues/12689, i think we can just hard-code the cache for now. later we can add cache invalidation/updating when a user visits the favicon'ed page.

[2018-01-17 23:02] bsclifton commented on #12691
@flamsmark pulling in @bradleyrichter and @cezaraugusto

I believe that was the long term goal. This was a great first rev solution since updating the content for users is relatively easy

[2018-01-17 23:04] LaurenWags opened #12695 "Show Definition (Look Up) popup sometimes selects the wrong text"
### Description
Sometimes when you highlight text and select 'Look Up' from context menu the text that is looked up (highlighted in yellow) is different then what you had selected.

### Steps to Reproduce

  1. Highlight text
  2. Right click and select 'Look Up'
  3.

**Actual result:**
Popup is displayed, sometimes the yellow text is not what you had selected (may have to repeat steps 1 and 2 se

[2018-01-17 23:06] LaurenWags commented on #8554
Opened https://github.com/brave/browser-laptop/issues/12695 for https://github.com/brave/browser-laptop/issues/8554#issuecomment-358465530

[2018-01-17 23:09] eljuno commented on #12612
+1 from community https://community.brave.com/t/lastpass-on-macos-cant-reach-server/13856?u=eljuno

[2018-01-17 23:11] #12692 closed

[2018-01-17 23:13] bsclifton commented on #12692
When opening the console, you'll see the following:
![image](https://user-images.githubusercontent.com/4733304/35072310-4286bae6-fba1-11e7-9ec6-6ccc0530b3bf.png)

This is working as expected due to deprecation of permissions:
https://sites.google.com/a/chromium.org/dev/Home/chromium-security/deprecating-permissions-in-cross-origin-iframes

[2018-01-17 23:15] fermulator opened #12697 "[INVESTIGATE] is there a particular reason linux DEB is only on s3-us-west-2 AWS?"
### Description
In following linuxinstall.md (https://github.com/brave/browser-laptop/blob/master/docs/linuxInstall.md#debian-jessie-and-ubuntu-artful-zesty-yakkety-xenial-and-trusty-amd64), and completing installation instructions for Ubuntu, noticing that the download is fairly slow (slower than my connect is capable of...) since we've coupled it to a specific Amazon AWS node. (s3-us-west-2) ...

[2018-01-17 23:19] fermulator commented on #428
In the "import browser data" (`v0.19.134-1`), don't see the ability to import Firefox "saved tab state", I presume that is not yet implemented? (can't find an open ticket for it either)

[2018-01-17 23:21] jamesray1 commented on #12309
This doesn't work on Firefox either, but it does on Google Chrome.

[2018-01-17 23:24] fermulator commented on #9748
Agreed (+1); new user making the switch, first time walking through the configurations/preferences on a Linux system - was jaw-dropping to see Google as the default.

What is the ETA/plan?

@bradleyrichter noted above there is maybe a roadmap to present the user to choose it on welcome screen? - that's great and all ... first time open presenting the user with a choice!

_however_, I still think t

[2018-01-17 23:38] #12590 closed

[2018-01-17 23:40] flamsmark commented on #12632
There are plenty of core Brave features — like updating our block lists, add-ons, or the browser itself — which are non-interactive but require network connections. We try to keep these to a minimum, and are working on other tools like Tor integration to further minimize the tradeoffs involved with providing a safe and reliable browser. We ship Brave with a combination of features which we think m

[2018-01-18 00:21] bradleyrichter commented on #12691
Interesting of note, Opera and Edge both use a remote resource as well.

For us, the reason was to allow for faster iteration and building without dev resources.

Our next version of the welcome experience will need to go through a refinement stage as we get more feedback. After it solidifies, we could move it to browser-internal if resources are available.

[2018-01-18 00:25] #11728 closed

[2018-01-18 00:32] t33rex commented on #12632
I am not looking for an argument. There can be no safety without privacy in 2018. If any service connections aim to improve safety, they should all be 1) turned off by default 2) approved by the user after careful explanation 3) anonymized.

Today it is not safe even to have a browser with JavaScript enabled (Spectre, Meltdown).

[2018-01-18 00:34] flamsmark opened #12699 "Automate updates when default search engines change favicons"
If we ship hardcoded favicons for default search engines (#12689) then we should expect those assets to gradually become dated. We should automatically fetch new favicons for each release so that the icons users see are never older than their browser build.

This does imply that we'll be fetching online resources as part of the build process, so it also presents a challenge for reproducible builds

[2018-01-18 00:41] flamsmark opened #12700 "Update search engine favicons based on user activity"
If we ship hardcoded favicons for default search engines (#12689) then we should expect those assets to gradually become dated. #12699 contemplates ensuring that those icons are never less recent than the most recent browser version. If a user visits a search engine regularly, then any favicon update will probably be visible to them for a while between updates. Once we have #2697's favicon cache,

[2018-01-18 00:47] flamsmark commented on #12691
Beyond the privacy and perf benefits, a local page can be given greater capabilities. We could put things like a safe browsing or analytics switch right in the page, rather than bouncing the user out to a separate settings page. That could make it so much easier for folks to turn on important features.

[2018-01-18 00:50] nawuko commented on #7778
Any update? Is there a way to enable it even when its not 100% bug free? (Like an unsupported feature)

[2018-01-18 01:40] DamaDamaDama commented on #7371
Yes this. I love Brave for mobile but for desktop being able to quickly type a small math problems into the url without even having to change tabs or anything is too important for me. Sometimes I have to do small calculations for school work, which can be done in a single url and accurately for me. Its a huge efficiency deal for students like me for sure.

[2018-01-18 02:10] fermulator commented on #1385
In https://www.reddit.com/r/braveproject/comments/7r6awh/brave_password_manager_vs_others/?st=jcjuitcx&sh=13114369, I asked why I should or shouldn't use one manager over another (brave built-in vs. others) - I suppose this is one reason? (lack of master password)

[2018-01-18 02:15] fermulator commented on #2589
Confirmed on Linux that the gnome-keyring is directly utilized for this functionality. Indeed if is locked, the user is unable to "copy to clipboard" the password without the keyring being unlocked.

[2018-01-18 02:34] fermulator opened #12701 "lacking transparent technical documentation for Brave's built-in password manager"
### Description
As a new user to Brave (coming from Firefox), I was first and foremost interested in investigating Brave's password manager security features. Primarily the encryption methods used, and how this interacts with the Brave-sync featureset.

At the onset, was unable to find any official technical documentation surrounding how this feature works and what the underlying technology is. (h

[2018-01-18 03:11] fermulator commented on #12701
Initial trolling of source code leads me to the conclusion that the built-in Brave password manager is not much (if at all) different from what's provided by Chromium's source.

i.e.
 -> https://github.com/brave/muon/blob/master/brave/browser/password_manager/brave_password_manager_client.cc#L379
 -> https://github.com/brave/muon/blob/master/brave/utility/importer/chrome_importer.cc#L357

Which li

[2018-01-18 03:33] nickytonline commented on #12292
The way you've explained it @NejcZdovc, it sounds like it's pretty rare that someone just stares at the ledger page, but if they do, we should show the activity visually for the time spent on sites.

Perhaps we just get the list of domains currently open in all tabs or Windows, pass that in as a prop and when the ledger renders/re-renders, we know to only add colour like in https://codepen.io/nick

[2018-01-18 03:57] TrueStanos commented on #7402
This is going to be a must for me to keep using it as a daily driver.  Pretty awesome so far!

[2018-01-18 04:00] jeifour opened #12702 "Accept-Language header set to wrong locale"
### Description

I live in Japan, my OS and Brave is both set to Japanese. The Accept-Language header is "en-US". Websites display the wrong language.

### Steps to Reproduce

  1. Change Brave language to anything other than English.
  2. Check HTTP header somewhere. ( e.g. http://myhttpheader.com/ )
  3. Notice how it says "en-US" for Accept-Language.

**Actual result:**

Accept-Language: en-US

[2018-01-18 04:27] #12684 closed

[2018-01-18 04:27] #12681 closed

[2018-01-18 04:38] srirambv commented on #3243
cc: @bsclifton on that

I think a few of the top search engines liek Google, DDG, Wikipedia, Bing, Yahoo should be fine. @bradleyrichter thoughts?

[2018-01-18 04:42] Liunkae commented on #4520
Just for the record, Brave used to not have the spring effect. Now it does, which is the expected behavior for macOS apps and the trackpad.

[2018-01-18 04:53] Oflameo opened #12703 "BAT Website intergration"
I want to integrate BAT

[2018-01-18 04:53] #12703 closed

[2018-01-18 05:07] Oflameo opened #12704 "Basic Attention Token (BAT) Website Intergration"
I want to integrate Basic Attention Token (BAT) support into some websites, mostly websites based on MediaWiki and DokuWiki frameworks. What Libraries do I need to set that up?

I have one website that can take BAT now, [Binding Mandatory Arbitration Blacklist](https://www.bmablacklist.com/index.php/Binding_Mandatory_Arbitration_Blacklist:About ), but it just a link backed by an Exodus Wallet.

[2018-01-18 05:14] bsclifton commented on #12669
@luixxiul this is a little different- it requires a Muon change. @bridiver is checking this out

[2018-01-18 05:17] bsclifton commented on #12704
Hi @Oflameo

If you're just wanting to receive BAT from Brave users, you don't have to do anything special.  Sign up at https://publishers.basicattentiontoken.org/ and you can get started

If you're wanting to use BAT on your site, that's a little different. I can't offer any advice regarding that as this is a repository for the Brave desktop browser.  You might join our Rocket chat server if you

[2018-01-18 05:17] #12704 closed

[2018-01-18 05:31] #12672 closed

[2018-01-18 06:28] petemill commented on #12668
Confirmed this is not working with test case at https://mdn.github.io/dom-examples/pointer-lock/

[2018-01-18 07:11] NejcZdovc commented on #12591
I don't have STR, but this just happened to me as well. Created safety mechanism that solved it for me.

[code]

[2018-01-18 09:01] t33rex commented on #12632
Have I not already done this in the described STR?

[2018-01-18 10:28] fristys commented on #3555
This is a big deal of a feature for me as well.

[2018-01-18 11:19] fristys opened #12707 "Is there any way to write browser extensions for Brave?"
### Description

Is there any formal process for developing extensions for Brave? What about an extension gallery?

I'd like to give it a go and develop an extension myself, that's why I'm interested.

[2018-01-18 11:25] Gmike901 commented on #271
MY EYESSS!!!

Tried to make the switch today, but can't live without dark UI / night mode (RES).

[2018-01-18 12:18] srirambv commented on #1924
+1 from https://community.brave.com/t/open-tif-file-instead-of-saving-as-download/13785/6

[2018-01-18 12:21] Tomatoshadow2 commented on #12707
Jonathan wrote a medium post a few months ago about testing Chrome extensions in Brave. https://medium.com/@jonathansampson/testing-chrome-extensions-in-brave-8e25d1f7386d

[2018-01-18 12:21] srirambv commented on #4197
+1 from https://community.brave.com/t/brave-not-opening-external-application/14063

[2018-01-18 12:22] fristys commented on #12707
So...basically, the only way possible is through some hacky injection way? That's pretty disappointing.

[2018-01-18 12:28] Tomatoshadow2 commented on #12707
I believe at the moment yes, not 100% sure. But, as he mentioned more extension support will be coming.

[2018-01-18 12:42] srirambv commented on #9088
+2 from community https://community.brave.com/t/bookmark-bug-unable-to-click-the-first-bookmark/13996/2

[2018-01-18 12:44] mrose17 commented on #12591
@NejcZdovc - excellent! can you also make the fix i suggest above in terms of fixing the URL on the preferences page?

[2018-01-18 12:48] srirambv commented on #11595
+1 from community https://community.brave.com/t/cant-login-with-ledger-nano-s-on-www-myetherwallet-com/13693/6

[2018-01-18 12:52] srirambv commented on #12707
@fristys  There are tons of extensions that need contributions. You can check the list [here](https://github.com/brave/browser-laptop/projects/1)

You can start working on any extension and submit a PR. You can refer to guidelines [here](https://github.com/brave/browser-laptop/blob/master/CONTRIBUTING.md). Someone from the team would be glad to help you out
cc: @jonathansampson

[2018-01-18 13:14] srirambv commented on #9410
+1 from https://community.brave.com/t/bug-report-always-show-the-url-bar-function/13984

[2018-01-18 13:21] srirambv commented on #12549
+1 from https://community.brave.com/t/touchbar-in-macbook-pro/13891

[2018-01-18 13:58] ghost opened #12708 "Font rendering on Linux looks out of place"
Font rendering on Linux looks out of place and hard on eyes in comparison to rest of the system (issue with all electron apps, but especially apparent in Brave). Example:

![screenshot from 2018-01-18 07-55-50](https://user-images.githubusercontent.com/1865041/35101387-ab3b7cfc-fc5f-11e7-8c8c-2752303eea12.png)

Tested on Fedora, openSUSE and Arch Linux with default font settings and also with enab

[2018-01-18 14:00] MuchAtHome commented on #271
+1 ASAP ...

[2018-01-18 14:25] bradleyrichter commented on #12666
This should work!

[2018-01-18 14:57] jazerix commented on #518
Come on guys. This is literally the only thing holding me off from switching. It's 2018, you guys are getting traction, please implement this :)

[2018-01-18 15:13] LaurenWags commented on #11718
@NejcZdovc I haven't had reports of this since Nov. I think we can close for now and reopen if needed.

[2018-01-18 15:14] #11718 closed

[2018-01-18 15:14] LaurenWags commented on #12150
Can close per https://github.com/brave/browser-laptop/issues/12150#issuecomment-348548409

[2018-01-18 15:14] #12150 closed

[2018-01-18 16:09] JonnyRedHed commented on #271
Supporting Stylus, - chrome extension will be perfect for a more permanent website darken.  And and the 'Care your eyes' - chrome extension for just random white BG pages you want to just change in the moment.

But,  if the Brave devs really wanted to take a big 'darker web page' leap forward they could take a good look and the 'Care your eyes' - chrome extension and integrate the best dark option

[2018-01-18 16:27] tedhogan commented on #8327
+1

[2018-01-18 16:31] #12707 closed

[2018-01-18 16:46] #12591 closed

[2018-01-18 16:51] LaurenWags commented on #11985
Reproduced on both 0.20.16 packaged build and when building 0.20.x from source (rev https://github.com/brave/browser-laptop/commit/54f89bc2c23e7207fa65c299dedc76dca4aa5809 )

[2018-01-18 17:05] ReK2Fernandez commented on #10672
This is also happening with PeerTube so nobody can see videos on our site using brave browser.

[2018-01-18 17:31] LaurenWags opened #12709 "Manual test run for Chromium upgrade on OS X for 0.19.x Hotfix 13"
## Per release specialty tests
 - [x] Restarting the browsers corrupts the seed of recovered wallets. ([#12672](https://github.com/brave/browser-laptop/issues/12672))
 - [x] Geo location not detected on CR64. ([#12651](https://github.com/brave/browser-laptop/issues/12651))
 - [x] Enable SSL certificate pinning for important Brave domains. ([#12190](https://github.com/brave/browser-laptop/issues/12

[2018-01-18 17:31] LaurenWags opened #12710 "Manual test run for Chromium upgrade on Windows x64 for 0.19.x Hotfix 13"
## Per release specialty tests
 - [x] Restarting the browsers corrupts the seed of recovered wallets. ([#12672](https://github.com/brave/browser-laptop/issues/12672))
 - [x] Enable SSL certificate pinning for important Brave domains. ([#12190](https://github.com/brave/browser-laptop/issues/12190))
 - [x] Capture javascript stack trace in crash reports. ([#4799](https://github.com/brave/browser-lap

[2018-01-18 17:31] LaurenWags opened #12711 "Manual test run for Chromium upgrade on Linux for 0.19.x Hotfix 13"
## Per release specialty tests
 - [x] Restarting the browsers corrupts the seed of recovered wallets. ([#12672](https://github.com/brave/browser-laptop/issues/12672))
 - [x] Geo location not detected on CR64. ([#12651](https://github.com/brave/browser-laptop/issues/12651))
 - [x] Enable SSL certificate pinning for important Brave domains. ([#12190](https://github.com/brave/browser-laptop/issues/12

[2018-01-18 18:08] LaurenWags commented on #12190
Works on MacOS:
![screen shot 2018-01-18 at 1 08 19 pm](https://user-images.githubusercontent.com/28145373/35113784-b4b45448-fc50-11e7-808a-b8ee26f40535.png)

[2018-01-18 18:23] LaurenWags commented on #12651
See https://github.com/brave/browser-laptop/issues/12692#issuecomment-358481465 for more information.

[2018-01-18 18:36] geekgonecrazy commented on #7778
I tried via copying over extension by @jonathansampson suggestion.
Result: https://twitter.com/geekgonecrazy/status/948646337385558017

![](https://pbs.twimg.com/media/DSpEgL6X4AsDI7M.jpg:large)

[2018-01-18 19:02] eljuno commented on #9088
+1 from community https://community.brave.com/t/bug-report-bookmark-bar-problem/13981?u=eljuno

[2018-01-18 19:03] mrose17 opened #12712 "phase two transitioning from the BTC proof-of-concept to BAT"
when `init` is called in `ledger.js` if the `statePath` file exists and is for the BTC proof-of-concept, immediately rename it to another name.

thus, when someone starts the ledger up after a long period of inactivity (it's been over three months), they'll get a fresh initialization vector.

[2018-01-18 19:27] rucuriousyet commented on #518
I could implement this in golang but I'm not sure how we could integrate
this into electron... It would be pretty each to use golang via cgo as if
it were a c shared lib. Any interest here?

-sent from my OnePlus X

On Jan 18, 2018 9:57 AM, "Niels Faurskov" <notifications@github.com> wrote:

[2018-01-18 19:27] letthewookieewin commented on #3555
+1

[2018-01-18 19:28] eljuno commented on #4745
+1 from community https://community.brave.com/t/cant-see-the-rest-of-bookmark-when-the-screen-ends/14146?u=eljuno

[2018-01-18 19:28] rucuriousyet commented on #518
More than willing to make a contribution here if needed.

-sent from my OnePlus X

On Jan 18, 2018 2:27 PM, "Seth Moeckel" <smeck1999@gmail.com> wrote:

[2018-01-18 19:34] diracdeltas commented on #518
hi everybody, the U2F support pull request was recently merged into Muon: https://github.com/brave/muon/pull/268

eV is busy with BAT grant work right now, but this is mostly done now

[2018-01-18 19:38] diracdeltas commented on #518
@rucuriousyet and others, thanks for offering to help! there are some follow-up issues in https://github.com/brave/muon/pull/268.

For testing U2F support, I think it may already work on Brave master (not sure). If not, you can build Muon on a branch that includes https://github.com/brave/muon/pull/268 and start Brave with that custom Muon build. instructions in https://github.com/brave/browser-la

[2018-01-18 19:44] mrose17 opened #12713 "When browser starts, delete the verified publisher cache"
When the browser starts, it's a good idea to delete the cache of verified publishers. This allows us to tell people to restart their browser if they're not seeing a green-check mark when they should.

[2018-01-18 20:48] NejcZdovc commented on #12713
let's wait with this one and see how https://github.com/brave/browser-laptop/issues/12272 will improve things

[2018-01-18 20:48] mrose17 commented on #12713
agreed!

[2018-01-18 21:32] eljuno commented on #3392
+1 from community https://community.brave.com/t/google-hangouts-screenshare/14176?u=eljuno

[2018-01-18 22:25] diracdeltas commented on #12689
Going to mark for 0.20.x since it is an easy privacy win and relatively low-risk code change

[2018-01-18 22:27] #11108 closed

[2018-01-18 22:27] #12689 closed

[2018-01-18 22:30] kjozwiak commented on #12190
Same results as @LaurenWags under Win 10 x64 and Ubuntu 17.10 x64 using `0.19.138`38f85090d93ce665fbe6eb347d2ea4cc5d5c8d62.

[2018-01-18 23:04] kjozwiak commented on #12692
As mentioned above by @bsclifton, due to chromium deprecating geolocation permissions from cross-origin iframes, we'll be replacing the Mozilla Geo website from our test plans [here](https://github.com/brave/qa-resources/issues/44).

[2018-01-18 23:15] kjozwiak commented on #12651
As per @LaurenWags's above comment, I also ensured that visiting https://developer.mozilla.org/en-US/docs/Web/API/Geolocation/Using_geolocation produces the following warning/error in the browser console:

`Geolocation_Live_Example?revision=1322517:49 Geolocation access has been blocked because of a Feature Policy applied to the current document. See https://goo.gl/EuHzyv for more details.`

[2018-01-18 23:34] kjozwiak commented on #12591
As discussed in slack, this case will be covered by QA when going through the manual regression passes. Example: https://github.com/brave/qa-resources/blob/master/wikitemplate.md#ledger

[2018-01-18 23:59] maetthew commented on #5097
+1 on any news for Enpass Support? Want to start using Brave but need Enpass

[2018-01-19 00:05] pakman commented on #12125
Just made a community post about this here: https://community.brave.com/t/wallabagger-extension/14197

[2018-01-19 00:21] LaurenWags commented on #12709
Tests were as expected

[2018-01-19 00:21] #12709 closed

[2018-01-19 00:32] diracdeltas opened #12714 "ledger should sent user-agent to grant server"
This is useful for UGP fraud detection. Currently js/lib/request.js by default does not send any UA.

[2018-01-19 00:33] diracdeltas commented on #12714
cc @evq @davidtemkin @bsclifton @NejcZdovc for triage. i don't know what release this should go in, but it needs to be in place before the next grant promo is released.

[2018-01-19 01:35] rahilwazir commented on #3555
@bbondy @bsclifton May you guys lock this conversation please? Don't wanna be mean but users posting unnecessary "+1" when the issue is already in development makes no sense and adds too much noise to the issue.

[2018-01-19 01:57] #12115 closed

[2018-01-19 02:35] sethrt6 commented on #12151
@LaurenWags I'm on MacOS High Sierra as well. This did the trick!

[2018-01-19 03:30] paragbaxi commented on #7433
cannot paste into slack with clipboard manager copyq

[2018-01-19 04:14] jamesray1 opened #12715 "Bug: opening links in PDF with brave set to the default browser produces an error."
### Description
https://askubuntu.com/questions/997511/how-to-open-a-link-in-a-pdf-with-the-error-unable-to-open-external-link-faile

tl;dr: I tried lots of things, but links in PDFs only open when Firefox or Chrome are set to the default browser, but not when Brave is set to the default browswer.

### Steps to Reproduce
Set Brave to the default browser (if it's not already).

Download this PDF [h

[2018-01-19 05:18] thiagola92 commented on #3053
My only problem is unable to uncheck search engines, i don't want to search on amazon.com by default.
![uncheck this](https://i.imgur.com/nRpTelB.png)

[2018-01-19 05:22] bsclifton opened #12716 "Recovering wallet using a file has issues cross-OS"
### Description
When trying to recover a wallet using a file, you can run into an error.  You then can open the file manually and paste (which works great).

### Steps to Reproduce

  1. Launch Brave on macOS
  2. Enable payments
  3. Advanced settings > Backup your wallet > Save recovery file
  4. Save file to desktop as "recovery.txt"
  5. Launch a Windows VM and drag the "recovery.txt" file fro

[2018-01-19 05:35] #12711 closed

[2018-01-19 05:38] #12710 closed

[2018-01-19 06:59] petemill commented on #12566
#12567 does not cater for pinned tabs, or for multiple tab pages. Reverting that and reopening this issue...

[2018-01-19 07:42] petemill opened #12721 "Tab background gradient is visible when switching tabs"
### Description
When switching tabs, a gradient is visible for a brief moment. This adds to the feeling of jank.

### Steps to Reproduce

  1. Activate a themed dark tab (e.g. new tab page)
  2. Switch tabs (e.g. using ctrl-tab)

**Actual result:**
Janky visual transition

**Expected result:**
Smooth transition

![issue-tab-background-gradient-transition-visible](https://user-images.githubusercont

[2018-01-19 07:58] petemill opened #12722 "Some favicons are distorted"
### Description
Dark themed tabs apply a filter to favicons which often distorts them beyond recognition or does not fit in with the rest of Brave's flat(ter) visual style.

### Steps to Reproduce
Ensure themed tabs are on (the default)

  1. Visit apple.com in active tab

**Actual result:**
Favicon is blurred beyond recognitino

**Expected result:**
Favicon is Apple logo

![image](https://user-im

[2018-01-19 08:13] tbates opened #12723 "inbox.google.com not supported"
### Description
Even with shields down, navigating to inbox yields this:

"Oops, your browser is not yet supported. Inbox works best on Chrome, Firefox, Edge or Safari."

### Steps to Reproduce

  1. navigate to https://inbox.google.com

**Actual result:**

<img width="716" alt="screenshot 2018-01-19 08 12 09" src="https://user-images.githubusercontent.com/736156/35140800-81746bc2-fcf0-11e7-9d62-c

[2018-01-19 08:18] petemill commented on #9080
added some PRs that will or partly satisfy some of the tasks

[2018-01-19 10:12] aliakyurek opened #12724 "Non-functional Column ordering in Brave Payments Tab"
### Description
The leftmost column in Brave Payments tab indicates whether the web site/Youtube channel is verified or not. When I click the header of this column I'd expect the entries to be ordered depending on verified status.

### Steps to Reproduce
  1. Open Settings -> Payments
  2. Click the header of leftmost column in the table showing websites/Youtube channels.

**Actual result:**
Order

[2018-01-19 10:34] DestinFaroda commented on #12636
I too use Buster and I get the same error.
While checking apt-key list, I didn't notice anything weird.
I'd rather have Brave on my system than Firefox, as my internet speed is slow (typical for Germany) and Brave really speeds things up.

[2018-01-19 10:34] spacecitizen opened #12725 "Recovery seed is "a""
### Description
The recovery seed is still "a"

### Steps to Reproduce

  1. about:preferences#payments
  2. Go to Advanced settings
  3. Back up your wallet

**Actual result:**
![image](https://user-images.githubusercontent.com/29564492/35146804-6f874404-fd0c-11e7-8d72-f3c262d0067b.png)

**Expected result:**
recovery seed

**Reproduces how often:**
100%

### Brave Version

**about:brave info:**

[2018-01-19 11:17] NejcZdovc commented on #12725
thank you  for your report. We have a fix for this here https://github.com/brave/browser-laptop/pull/12677 and it will be shipped in the next release.

It's dupe of #12672

[2018-01-19 11:17] #12725 closed

[2018-01-19 14:31] LaurenWags commented on #12151
Great! Thanks @sethrt6 😄

[2018-01-19 14:47] #12716 closed

[2018-01-19 14:59] thorinmesser commented on #3555
One thing for this that chrome (and apparently electron based on @Sh1d0w quote from electron docs) gets wrong here is that it only lets you dock to the right side. This seem bizarre to me. Please also allow docking to the left side.

[2018-01-19 14:59] NejcZdovc opened #12727 "Dynamically build monthly amount dropdown"
### Test plan
See https://github.com/brave/browser-laptop/pull/12728

### Description

We need to get data from server about monthly amount drop down. If user has different amount selected than we provide in the server list we need to keep it.

[2018-01-19 16:03] #12673 closed

[2018-01-19 17:11] LaurenWags opened #12730 "Ledger test run on Linux for 0.19.x Hotfix 13 (Release Channel)"
## Per release specialty tests
 - [x] Recovering wallet using a file has issues cross-OS. ([#12716](https://github.com/brave/browser-laptop/issues/12716))
 - [x] Add the ability to change the default monthly budget via server side. ([#12673](https://github.com/brave/browser-laptop/issues/12673))

## Ledger

- [x] Verify wallet is auto created after enabling payments
- [x] Verify monthly budget and

[2018-01-19 17:11] LaurenWags opened #12731 "Ledger test run on Windows x64 for 0.19.x Hotfix 13 (Release Channel)"
## Per release specialty tests
 - [x] Recovering wallet using a file has issues cross-OS. ([#12716](https://github.com/brave/browser-laptop/issues/12716))
 - [x] Add the ability to change the default monthly budget via server side. ([#12673](https://github.com/brave/browser-laptop/issues/12673))

## Ledger

- [x] Verify wallet is auto created after enabling payments
- [x] Verify monthly budget and

[2018-01-19 17:11] LaurenWags opened #12732 "Ledger test run on OS X for 0.19.x Hotfix 13 (Release Channel)"
## Per release specialty tests
 - [x] Recovering wallet using a file has issues cross-OS. ([#12716](https://github.com/brave/browser-laptop/issues/12716))
 - [x] Add the ability to change the default monthly budget via server side. ([#12673](https://github.com/brave/browser-laptop/issues/12673))

## Ledger

- [x] Verify wallet is auto created after enabling payments
- [x] Verify monthly budget and

[2018-01-19 18:22] kjozwiak opened #12733 "username autofill appearing on the top left corner when loading twitter using brave's password manager"
### Description

When you've saved a password for Twitter using brave's built in password manager, the autofill username will appear on the top left corner of the page which indicates that there might be an abusive login form attempting to steal the credentials. We should look into why this is happening as it might confuse some users or scare the more privacy oriented users.

### Steps to Reproduc

[2018-01-19 18:45] eljuno commented on #12612
+1 from community https://community.brave.com/t/lastpass-connection-error/14170?u=eljuno

[2018-01-19 18:51] eljuno commented on #12733
Related to #12595? Since it happen for me on every sites that require log in. :)

[2018-01-19 19:02] tz1 opened #12734 "windowx x64 installer fails with chrome_elf.dll not found error"
I tried installing the 64 bit windows version on Windows 7 and it failed with a box saying it couldn't find chrome_elf.dll.  A second attempt at installing worked.  This was the error log:

2018-01-19 11:43:41> Program: Starting Squirrel Updater: --install .
2018-01-19 11:43:41> Program: Starting install, writing to C:\Users\tz\AppData\Local\SquirrelTemp
2018-01-19 11:43:42> Program: About to inst

[2018-01-19 19:23] Jacalz commented on #12612
This really needs to be fixed, needing to disable strict site isolation because if the use of a password manager is a security issue in itself 😔

[2018-01-19 19:35] LaurenWags commented on #12732
Tests were as expected.

[2018-01-19 19:35] #12732 closed

[2018-01-19 20:25] cezaraugusto commented on #9080
thanks, co-assigning you too let's make it shine ✨

[2018-01-19 20:27] cezaraugusto commented on #7778
I guess we're missing some chrome apis required to make it work but last time I checked @jonathansampson was looking closely at what's happening

[2018-01-19 20:43] LaurenWags commented on #12730
Tests were as expected.

[2018-01-19 20:43] #12730 closed

[2018-01-19 20:58] cezaraugusto commented on #9410
I don't have time to look at this so I'm un-assigning me, leaving it open for grabs.

For the people interested in solving this bug:

We have a CSS property called `-webkit-app-region: drag;` (`navigationBar.less` is the go-to file to find it) which allows the window chrome (the gray area) to be draggable. While this works fine, the property cancels all mouse events in the area it covers, which is

[2018-01-19 20:59] cezaraugusto commented on #9410
also note that this is a Windows-only bug.

[2018-01-19 21:00] cezaraugusto commented on #11985
fair to put it in 0.21.x?

[2018-01-19 21:02] petemill commented on #10673
Would be helpful to see when muon has 'discarded' a tab, to see if it's related to this 'dead tabs' issue - I've created an issue to expose such an event https://github.com/brave/muon/issues/443

[2018-01-19 21:04] bsclifton commented on #11985
@cezaraugusto SGTM! 😄 👍

[2018-01-19 21:05] bsclifton commented on #12595
cc: @darkdh

[2018-01-19 21:08] bsclifton commented on #12725
@spacecitizen do you have a backup of your keywords?  Like @NejcZdovc has said, we have a fix for this... but it hasn't shipped yet.  When it does, you'll be able to do a restore and it will be fixed 😄 👍

[2018-01-19 21:13] bsclifton commented on #12723
Thanks for the report, @tbates! Have you tried turning off the shields (lion icon in top right; toggle from on to off). I suspect one of the blocking features may be affecting your experience with this site

[2018-01-19 21:28] bsclifton commented on #1679
Closing per the above comments about being rejected

[2018-01-19 21:28] #1679 closed

[2018-01-19 21:30] petemill commented on #11249
Correct me if I'm wrong, but I'm guessing the issue here is the difference in speed fading from the background color, and the background color of the right edge, which is different and changes instantly. The right edge is different because in the current implementation it is used to fade out the text when the title text is too long. This is solved (mostly) by #12565 .

By the way, you can see this

[2018-01-19 21:37] #12731 closed

[2018-01-19 21:39] tomlowenthal opened #12735 "Mitigate "Crooked Style Sheets" CSS-only activity-monitoring"
Without any JS, a site can use CSS to track and report some information about entered-but-not-submitted text, mouse hovers, and link clicks, as well as performing some simple fingerprinting via resolution, UA, & typefaces. https://github.com/jbtronics/CrookedStyleSheets

Much of this can be mitigated by optimistically loading all CSS-referenced content so that none of those loads are conditioned o

[2018-01-19 21:40] kjozwiak opened #12736 "Release checklist for 0.19.x Hotfix 13 (Release channel)"
# Release Process Checklist

Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

## Release Commands
### First-time Setup
- [x] `git clone git@github.com:brave/vault-updater && cd vault-updater`
- [x] `git clone git@github.com:brave/release-tools`
- [x] `npm install`
- [x] install the her

[2018-01-19 21:44] kjozwiak opened #12737 "Release notes for 0.19.x Hotfix 13 (Release Channel)"
Release Notes:
 - Recovering wallet using a file has issues cross-OS. ([#12716](https://github.com/brave/browser-laptop/issues/12716))
 - Restarting the browsers corrupts the seed of recovered wallets. ([#12672](https://github.com/brave/browser-laptop/issues/12672))
 - Update to Muon 4.7.2. ([#12641](https://github.com/brave/browser-laptop/issues/12641))
 - Update to Chromium 64. ([#12640](https:/

[2018-01-19 22:04] Zak757 commented on #10405
+1, I always use the middle mouse to scroll. This is killing Brave for me.

[2018-01-19 22:28] #12737 closed

[2018-01-19 22:39] tomlowenthal opened #12740 "Use Pocket reading list activity as ledger signal"
Most of my reading activity isn't in the browser itself. I'm constantly saving links to Pocket, which is where I spend most of my time actually reading news and articles. The things I read in Pocket are usually the ones that matter most to me — the creators I most want to support — but they aren't represented in my Brave Payments list.

Brave on my laptop could use OAuth to access my reading activ

[2018-01-19 22:47] bsclifton commented on #12727
@NejcZdovc when you have time, can you create a test plan for this? Thanks 😄 👍

[2018-01-19 22:52] posix4e opened #12741 "Add a firejail config"
My firejail config is at http://termbin.com/nvo5.  I wonder if we should add this to docs. I regularly run brave through the firejail.

The developer version of firejail can consume https://github.com/netblue30/firejail/blob/master/etc/brave.profile

[2018-01-19 22:57] #12714 closed

[2018-01-19 23:11] diracdeltas opened #12742 "page security state for passive mixed content is incorrect"
STR:
1. go to mixed.badssl.com
2. click on urlbar lock icon
3. it shows this message:
![screen shot 2018-01-19 at 11 03 14 pm](https://user-images.githubusercontent.com/549654/35175900-e1c23e50-fd6d-11e7-8c66-3b12a7fd058b.png)

Expected behavior:
It should show this message instead:
![screen shot 2018-01-19 at 11 03 29 pm](https://user-images.githubusercontent.com/549654/35175907-f31396b8-fd6d-11e

[2018-01-20 00:06] #12736 closed

[2018-01-20 03:22] LaurenWags opened #12744 "Multiple Reports of versions 0.19.139 and above Crash on install with MacOS 10.9.5"
### Description
After update/restart users of MacOS 10.9.5 are reporting that 0.19.139 crashes for them:
https://community.brave.com/t/most-recent-version-of-brave-crashes-on-launch/14336
https://community.brave.com/t/last-update-crash-on-restart-and-startup/14332/3

### Steps to Reproduce

  1. Using MacOS 10.9.5 update Brave to 0.19.139
  2. Open
  3. Brave Crashes

**Actual result:**
Crash on l

[2018-01-20 04:20] fermulator commented on #6604
Same here :( - blocking me from switching
[code]

[2018-01-20 05:07] diracdeltas opened #12745 "fix ledger unittests"
failing due to #12739

[2018-01-20 05:24] kjozwiak opened #12747 "Uncaught ReferenceError: OAS_rdl is not defined when loading monster.ca"
### Description

Originally a report from the community:
* https://community.brave.com/t/monster-ca-login-screen-reloads-every-second/14325

When attempting to login into monster.ca, the website will refresh itself every few seconds and produce the following error message within the browser console:

[code]

Either blocking the Brave shield or disabling "Block Ads" will resolve the issue.

### Ste

[2018-01-20 05:54] kjozwiak opened #12748 "internal password manager doesn't prompt users to save password under twitch.tv"
### Description

Originally reported from Brave's community:
* https://community.brave.com/t/importing-passwords-doesnt-work-browser-doesnt-always-ask-to-remember-logins/14327

Logging into twitch.tv while using Brave's internal password manager never displays the `Save Password` notification.

### Steps to Reproduce

  1. launch `0.19.139` and ensure that you have the internal password manager se

[2018-01-20 07:15] thbtmntgn commented on #12361
I closed this issue because it seemed to be working again but I'm reopening it because problems to play music in Soundcloud are back, not always but time to time.

I don't know how to explain why it's working sometime and not working some other time.

[2018-01-20 07:21] thbtmntgn opened #12749 "Can't play music on Mixcloud with fingerprinting protection mode"
### Description
I can't play music on Mixcloud if Fingerprinting Protection Mode is activated

### Steps to Reproduce

  1. Activate Fingerprinting Protection Mode
  2. Try to listen to a mix on Mixcloud

**Actual result:**
<img width="1327" alt="screen shot 2018-01-19 at 23 19 15 1" src="https://user-images.githubusercontent.com/18198843/35181033-46ac5728-fd6f-11e7-88f8-68da69be2334.png">

**Expe

[2018-01-20 07:46] NejcZdovc commented on #12727
@bsclifton test plan can be found here https://github.com/brave/browser-laptop/pull/12728#issue-290014643

[2018-01-20 07:56] NejcZdovc commented on #12724
hi, thank you for the report. We already have an issue for this and will be fixed soon.

Closing as dupe of #10752

[2018-01-20 07:56] #12724 closed

[2018-01-20 07:58] #12745 closed

[2018-01-20 09:11] RSCipher001 opened #12751 "Crash on this site"
### Description
Brave crashes every-time when I try to open this link

### Steps to Reproduce
1. Click http://beautifytools.com/html-to-json-converter.php and done

**Reproduces how often:**
Every time

### Brave Version
Name	Version
Brave	0.19.131
rev	da2f347
Muon	4.5.36
libchromiumcontent	63.0.3239.132
V8	6.3.292.49
Node.js	7.9.0
Update Channel	Release
OS Platform	Linux
OS Release	4.13.0-26-gene

[2018-01-20 09:51] hugobuddel opened #12752 ""Pocket: Installed" tab opens every session"
Similar to #11578, but for pocket instead of metamask.

### Description
The ["Pocket: Installed"](https://getpocket.com/installed/) page opens in a new tab every time Brave starts. I have logged into pocket a couple of months back, but haven't been using it actively for a while.

### Steps to Reproduce

  1. Enable the pocket plugin and login to pocket.
  2. Close and reopen Brave.

**Actual resul

[2018-01-20 09:57] hugobuddel commented on #11694
This was not so much a problem for a while, but it has returned. In particular it is my gmail pin that is disappearing now. Very annoying. Currently on 0.19.139 for windows.

Last time I 'fixed' it by deleting my profile. But I don't want to do that every few months.

[2018-01-20 09:59] johnkenjack commented on #11819
Hi guys. I switched to incognito on Chrome and that fixed the problem.

[2018-01-20 10:37] hugobuddel opened #12753 "Cannot load new tabs after waking up from sleep"
Similar to #9865 about dead tabs after sleep.

### Description
Brave cannot load new tabs after waking my laptop from sleep. New tabs will stay wait and appear to be loading (loading spinner sometimes visible) but nothing happens. Have to close and restart Brave in order to resume browsing.

### Steps to Reproduce
  1. Open Brave
  2. Close laptop and wait for sleep
  3. Open laptop and unlock
  4

[2018-01-20 16:00] LaurenWags commented on #12526
+1 from twitter: https://twitter.com/CaptnBaz/status/954480280986898435
Also, user found that:
1. It happens when following a link with the target="_blank" attribute
2. If I manually open the link in a new tab (cmd + click), everything's fine

[2018-01-20 16:58] jonathansampson opened #12755 "Remove CoinMarketCap Empty Elements"
### Test plan
See https://github.com/brave/browser-laptop/pull/12756

### Description
Ad removal on CoinMarketCap leaves empty elements.

### Steps to Reproduce
Navigate to coinmarketcap.com, and note spaces.

**Actual result:**
Large empty regions remain.

**Expected result:**
Large empty regions should be collapsed when ads are removed (when appropriate)

**Reproduces how often:**
100%

### Brav

[2018-01-20 17:22] linuslagerhjelm opened #12757 "History is cleared when browser updates"
### Description

Whenever the browser is updated, it clears all browsing history. I tried to search for a setting that could affect this but the closest I got was "Clear the following data types when I close Brave" > Browsing history. Which is not selected and on normal restarts, the history is kept intact.

### Steps to Reproduce

  1. Press the "Update" button when Brave notifies you about a new

[2018-01-20 18:13] basildane opened #12758 "Constant nag popup asking "Ready to support your favorite sites?""
### Description
Brave browser displays unwanted nag screen, repeatedly.
Text: "Hello! Ready to support your favorite sites?  Brave will fill your wallet with tokens to get you started!"

The only options are "maybe later" or "I'm ready".  The "NO!" option is missing.

### Steps to Reproduce
  1.  Open Brave browser.
  2.  Be annoyed.

**Actual result:**

**Expected result:**

**Reproduces how ofte

[2018-01-20 19:45] eljuno commented on #9088
+1 from community https://community.brave.com/t/bookmark-folder/14350?u=eljuno

[2018-01-20 20:54] NejcZdovc commented on #9088
I think that we need to bump priority on this one @bsclifton

[2018-01-20 22:57] BraveSupporter opened #12759 "2-finger scrolling too fast on Windows?"
I'm on a Lenovo Edge 2 laptop. The 2 finger scrolling is simply too responsive. I scroll too much at any given time, no matter how gentle I am with the trackpad. And this is honestly the primary thing that's keeping me from using it as my default browser. I've tried changing the scroll sensitivity but no matter how low I change it to, it remains too fast.

The scrolling works okay on firefox, edge

[2018-01-20 23:05] BraveSupporter commented on #12758
I don't seem to have this issue.

[2018-01-20 23:38] basildane commented on #12758
Interesting, I have Brave installed on 6 computers at home and work, and it does this on all six of them.

[2018-01-20 23:52] zackd5 commented on #11778
**Try turning the **shields off** for docs.google.com** by clicking the brave logo icon on the top right and switching shields to off. Google Docs has no ads but may use tracking, I'm not sure. This workaround fixed this issue on my mac, at least until a real fix is released in future updates.

[2018-01-21 00:11] tomlowenthal opened #12760 "Use assent gestures as a ledger signal"
On many multi-publisher sites like YouTube, there are user assent gestures: likes, stars, thumbs-up, favorites, applause and so on. These represent user-initiated action to indicate that they appreciated whatever the content might be. It's reasonable to assume that folks are more excited to contribute to the creators of content that they affirmatively enjoyed. If feasible, Brave should try to refl

[2018-01-21 00:13] tomlowenthal opened #12761 "Use follow activity as a ledger signal"
On many multi-publisher sites like YouTube, users can take action to add particular creators or publishers to the user's feed by subscribing, following, or so on. These represent user-initiated action to indicate that they would like to see more of whatever the content might be. It's reasonable to assume that folks are more excited to contribute to the creators to which they subscribe. If feasible

[2018-01-21 03:03] jonathansampson opened #12762 "Customer Support Broken on CodeHS"
### Description
The Customer Support width for CodeHS is identified as and ad/tracker, and blocked.

### Steps to Reproduce
1. Navigate to https://codehs.com/ with default shield settings

**Actual result:**
https://widget.intercom.io/widget/x13jbr4h is prevented from loading.

**Expected result:**
https://widget.intercom.io/widget/x13jbr4h is permitted to load.

**Reproduces how often:**
100%

##

[2018-01-21 03:09] jonathansampson commented on #9865
I just received another +1 from Twitter over DM.

[2018-01-21 04:29] BrendanEich commented on #12762
intercom.io added to Disconnect.me's list here, I think:

https://github.com/disconnectme/disconnect-tracking-protection/commit/6f8da2528636ccee0f57a715402025c3d8f9ceb2

Best to confirm we block exactly as Disconnect does, and check other blocklists such as EasyPrivacy. If widget.intercom.io holds stateless/reusable scripts-as-modules perhaps we can allow it, but from upstream blocking, it sure se

[2018-01-21 05:07] bsclifton commented on #12425
Updated to 4.7.3 with f5aed414b9f86a8aaf16a3b27ae957914f3d58f5

[2018-01-21 10:20] fargozhu commented on #10353
+1

Brave | 0.19.139
-- | --
rev | 99aa17d
Muon | 4.7.2
libchromiumcontent | 64.0.3282.85
V8 | 6.4.388.20
Node.js | 7.9.0
Update Channel | Release
OS Platform | macOS
OS Release | 17.3.0
OS Architecture | x64

[2018-01-21 11:40] NejcZdovc commented on #10353
@srirambv can you please re-test this with 0.20? I think this should be fixed.

[2018-01-21 11:42] sepeiFH opened #12763 "PDF render if content-type is HTML"
### Description
Website is rendered as PDF because the url ends with pdf but the content type is text/html

### Steps to Reproduce

  1. Open https://www.waveshare.com/wiki/File:SDRAM-Board-B-schematic.pdf

**Actual result:**

![image](https://user-images.githubusercontent.com/22662993/35193786-3b2b57ac-fea8-11e7-84fa-7885189e63bb.png)

**Expected result:**
![image](https://user-images.githubuserc

[2018-01-21 12:21] hugobuddel commented on #11694
Could someone help me debug this myself? I now have a profile with which I can consistently reproduce the issue of disappearing pinned tabs, but I don't know where to start debugging this. It would be greatly appreciated if someone could help me answer these questions:

- Where are the pinned tabs stored? A simple grep did not seem to find an obvious place.
- Which function / file in the repositor

[2018-01-21 13:25] hugobuddel commented on #11694
It seems that all the pinned tabs are stored in `session-store-1`, a 10MB json file. Adding a newly pinned tab and closing Brave adds an entry to this file. However opening and closing Brave again will remove the entry. Investigating further; I don't yet know the exact json format, found the entries simply by treating the file as a string.

[2018-01-21 13:48] hugobuddel commented on #11694
So it seems that all pinned tabs and bookmarks are in the `'sites'` section of the `session-store-1` json file. Pinned sites have `'pinned'` in the `'tags'` section of the site.

A difference between 'good' and 'bad' pinned tabs is that all good pins have `partitionNumber` set to `0` and have a `favicon`, while 'bad' pins do not have either set (both have the `pinned` tag).

Now let's see whether

[2018-01-21 14:05] hugobuddel commented on #11694
Unfortunately, manually adding the `partitionNumber` and `favicon` does not help.

[2018-01-21 15:08] swachtma commented on #3669
The note from @freedomcoinproject about minimizing and reopening the window resolves the issue for me as well.  You just have to unfortunately do that for every new window.  I'm running Windows10 x64 like others in this thread.

I'd also suggest that smooth-scrolling enabled should maybe be the default from install.  Without it, my first impression of Brave was that it was laggy.  Users who don't

[2018-01-21 16:35] jonasman commented on #12499
For me the problem with IDEX and Metamask is to deposit.

[2018-01-21 19:07] hugobuddel commented on #11694
Success!

One of the other interesting attributes of the entries in `sites` in the `objectId`. Searching around for the `objectId` lead to `pendingRecords` in `sync` in the `session-store-1` json file.

It was possible to make a broken pinned tab persistent by:

- Removing the site from `sync/pendingRecords` and,
- removing the `objectId` from `sites` entry. (I already had another pinned tab witho

[2018-01-21 19:29] hugobuddel commented on #11694
Apparently I'll have to do the above procedure for every site I'd like to pin. So I've written a short (and ugly) Python script for it:

[code]

I don't know what the syncing feature has to do with this. For testing I've used a site that I had never visited before, so it seems impossible that one of the other instance that I sync with are causing problems for the specific site.

[2018-01-21 19:44] hugobuddel commented on #11694
@ayumi or @diracdeltas , could one of you perhaps take a look at this issue about disappearing pins?

Most of the recent commits related to syncing and objectIds are yours, so you can probably figure out what is going on and how to solve it properly. For now the hack above seems to work well enough though, so it is not urgent. Let me know if you'd need more information.

[2018-01-21 20:31] eljuno commented on #5207
+1 from community https://community.brave.com/t/print-requests-print-preview-and-simplify-page-option-similar-to-firefox/14477?u=eljuno

[2018-01-22 01:47] broros opened #12764 "Ctrl + mouse click zooms page in/out"
macOS environment.

### Description
zooms in and out uncontrollably.

### Steps to Reproduce

  1. When holding down control on keyboard and mouse click the browser zooms in and out.
  2.
  3.

**Actual result:**
zooms in and out

**Expected result:**
no zooming action.

**Reproduces how often:**
most of the time.

### Brave Version

**about:brave info:**

0.19.139
--

[2018-01-22 01:59] broros commented on #10201
the browser zooms uncontrollably when holding down control and right click. I understand that you can zoom by holding down control and moving your finger up and down the mouse.

[2018-01-22 02:28] jonathansampson commented on #3101
+1 from Twitter: https://twitter.com/CelmorS/status/955264039625555968

![image](https://user-images.githubusercontent.com/815158/35202668-994ff1b2-fee9-11e7-98f1-1a7cd9b83cf2.png)

[2018-01-22 02:49] MargarytaChepiga commented on #12296
Hi, I am new to Brave and I would love to work on this if this is still available!

[2018-01-22 03:39] Lythimus commented on #10868
Brave nearly meets my browser needs, but it's frustrating that I can see the search engine list with shortcuts, but can't add my own. I've used this feature in Opera for like 10 years, so I may have to switch back to it if I can't figure out how to add searches through config files or something.

[2018-01-22 04:21] Tomatoshadow2 commented on #12749
Does it work when you turn fingerprinting protection off?

[2018-01-22 04:22] lukemulks opened #12765 "Tucson.com anti-adblocking notice (investigate)"
Anon report that https://tucson.com is displaying an anti-ad blocking notice for desktop user (macOS).
Brave v0.19x (latest version)
Minimal info in report, need to investigate from most recent release.
Attempted to repro on Android, unable to repro the issue.

[2018-01-22 04:42] NejcZdovc commented on #12296
@MargarytaChepiga yes it's still available. Will assign issue to me, so that no one will take it. If you need any help let me know

[2018-01-22 05:13] bsclifton commented on #12764
@broros just wanted to confirm: you are clicking, not using the mouse wheel, right?

Ctrl + Mouse wheel will zoom in/out

[2018-01-22 06:04] bsclifton commented on #12763
@eljuno yup- appears to be a dupe (good catch!) 😄 👍

[2018-01-22 06:04] #12763 closed

[2018-01-22 06:05] bsclifton commented on #10554
+1 from @sepeiFH via https://github.com/brave/browser-laptop/issues/12763

[2018-01-22 06:06] bsclifton commented on #12499
cc: @jonathansampson

[2018-01-22 06:08] bsclifton commented on #12758
cc: @bradleyrichter

[2018-01-22 06:12] bsclifton commented on #6604
cc: @darkdh

[2018-01-22 06:21] bsclifton commented on #11694
cc: @petemill

[2018-01-22 06:26] bradleyrichter commented on #12758
@NejcZdovc Can you post the current logic here so we can examine and adjust it accordingly?

[2018-01-22 06:32] NejcZdovc commented on #12758
as far as I can tell from the notification this is triggered when we add promotion. We added disable option in 0.20 https://github.com/brave/browser-laptop/issues/12313

[2018-01-22 06:37] NejcZdovc opened #12766 "Publisher added back after restart"
### Description

Site is re-enabled when you restart browser and site was added when auto-include was on off.

### Test plan / Steps to Reproduce

  1. Enable payments
  2. Disable auto-include
  3. Visit some sites (meet the visit/time criteria)
  4. Restart browser
  5. Publishers are re-enabled

**Actual result:**

![image](https://user-images.githubusercontent.com/9574457/35208136-fcfbb446-ff4

[2018-01-22 06:38] bradleyrichter commented on #12758
#12313 is only for BAT promotions. General Brave Payments invitations are separate.

Those originally had a time restriction before first appearance. And a longer delay before appearance 2.

I would like to use "no thanks" for the deny button on the second attempt which would disable further notifications until the user would opt-in to BP.

[2018-01-22 06:39] NejcZdovc commented on #12758
yeah but if you check out initial issue ` Brave will fill your wallet with tokens to get you started!` it's about BAT promotion

[2018-01-22 06:41] bradleyrichter commented on #12758
Ah...yes. You are right. This mixed alert will be handled by the new switch for BAT offers.

[2018-01-22 08:08] spacecitizen commented on #12725
Hi @bsclifton, unfortunately I don't have a backup. I just installed the last upgrade 1.19.139 but the fix mentioned by @NejcZdovc seems wasn't add to the latest release.
I am not concerned, I have few BAT on my Brave wallet and I love the Brave technologies!

[2018-01-22 09:13] okiess commented on #518
Just tried it on my 0.19.139 installation on MacOS and it doesn't work yet.

[2018-01-22 09:30] hugobuddel commented on #11694
Another thing that I should note is that this time the issue appeared after a pinned tab (gmail) magically disappeared. After that, I couldn't add it back, but also not create any other pinned tab. The new ones all disappeared after a 2 restarts (the first restart clears them from the session I believe).

So the initial corruption of the session (original tab disappearance) might have a different

[2018-01-22 10:51] Tomatoshadow2 commented on #12744
+1 from community, https://community.brave.com/t/brave-automatically-shuts-down/14516/2

[2018-01-22 11:26] Tomatoshadow2 commented on #12757
Does the browser save your history for you usually?

[2018-01-22 11:27] linuslagerhjelm commented on #12757
Yes it does

[2018-01-22 14:50] LaurenWags commented on #12744
Multiple +1s from community: https://community.brave.com/t/browser-crash-upon-opening/14394

[2018-01-22 14:51] LaurenWags commented on #12744
+1: https://community.brave.com/t/update-to-0-19-139-crash-on-restart-and-startup/14332/13

[2018-01-22 15:07] NejcZdovc commented on #12217
Pulling into 0.20, because we have a regression, where verified check is not working correctly and will be fixed in this issues PR

[2018-01-22 16:05] Tomatoshadow2 commented on #12744
My apologies that I missed those Lauren.

[2018-01-22 16:12] Tomatoshadow2 commented on #12757
Do you have it set to clear upon you closing Brave?

[2018-01-22 16:36] LaurenWags commented on #12744
no worries at all @Tomatoshadow2 - I appreciate you linking any community posts you find to the appropriate issue 😄  It is especially helpful on this so we can reach out to these folks when there's a resolution.

[2018-01-22 17:03] bradleyrichter opened #12770 "Improve typography in Brave Payments notification panel"
Sub-text issues to improve:
- line spacing too tight
- text color too light
- string width to narrow, creating orphans in EN strings

Current:
![image](https://user-images.githubusercontent.com/13509546/35233230-58bf70c8-ff52-11e7-8999-96c85898b14b.png)

Improvements:
- increase line spacing by 30%
- darken grey value by 30%
- extend text area width by 50px

![image](https://user-images.githubuser

[2018-01-22 17:19] LaurenWags opened #12771 "some users unable to update to 0.19.139 - no crash, just continually prompted"
### Description
Some users are reporting that they are unable to update to 0.19.139. They get the prompt, accept the update, and Brave restarts, but does not actually update - about page says 0.19.134. Then, they get the update prompt again. Reported (so far) on MacOS 10.13.1 and 10.13.2.
Reported via community:
https://community.brave.com/t/upgrade-0-19-134-0-19-139-stuck-in-upgrade-loop-upgrade-

[2018-01-22 17:24] LaurenWags commented on #12771
Closing issue, user did not have correct privileges.

[2018-01-22 17:24] #12771 closed

[2018-01-22 17:47] LaurenWags commented on #2184
+1 from community while attempting to update to 0.19.139 - https://community.brave.com/t/upgrade-0-19-134-0-19-139-stuck-in-upgrade-loop-upgrade-does-not-bump-version-number/14525/3
When attempting to update without Admin rights, user should be notified.

[2018-01-22 17:57] LaurenWags commented on #12232
Community member DM-ed me, this is still occurring for them when using 0.19.134 and 0.19.139. User sent me a drop-box link with crash files. cc @kjozwiak

[2018-01-22 18:19] bsclifton opened #12772 "Crash reporting / stats reporting should be using version (not rev)"
## Test plan (WIP)
1. Go to chrome://crashes and confirm crash reporting is NOT disabled
2. Go to chrome://crash to cause a crash
3. Go to chrome://crashes - a new report (for the crash in step 2) show show up and be uploaded
4. Go to https://stats.brave.com/dashboard#recent_crashes and login
5. Crash should show up there and version should be 0.19.144 (not a GUID)

## Original issue description
A

[2018-01-22 18:19] #12772 closed, assigned to bsclifton

[2018-01-22 18:27] LaurenWags opened #12773 "Per-release specialty test run on OS X for 0.20.x (Beta Channel)"
## Per release specialty tests
 - [ ] Remove CoinMarketCap Empty Elements. ([#12755](https://github.com/brave/browser-laptop/issues/12755))
 - [ ] Dynamically build monthly amount dropdown . ([#12727](https://github.com/brave/browser-laptop/issues/12727))
 - [x] WebTorrent should warn users of potential privacy risks. ([#12631](https://github.com/brave/browser-laptop/issues/12631))
 - [x] Sometime

[2018-01-22 18:27] LaurenWags opened #12774 "Per-release specialty test run on Windows x64 for 0.20.x (Beta Channel)"
## Per release specialty tests
 - [ ] Remove CoinMarketCap Empty Elements. ([#12755](https://github.com/brave/browser-laptop/issues/12755))
 - [x] Dynamically build monthly amount dropdown . ([#12727](https://github.com/brave/browser-laptop/issues/12727))
 - [x] WebTorrent should warn users of potential privacy risks. ([#12631](https://github.com/brave/browser-laptop/issues/12631))
 - [x] Sometime

[2018-01-22 18:28] LaurenWags opened #12775 "Per-release specialty test run on Linux for 0.20.x (Beta Channel)"
## Per release specialty tests
 - [x] Remove CoinMarketCap Empty Elements. ([#12755](https://github.com/brave/browser-laptop/issues/12755))
 - [ ] Dynamically build monthly amount dropdown . ([#12727](https://github.com/brave/browser-laptop/issues/12727))
 - [x] WebTorrent should warn users of potential privacy risks. ([#12631](https://github.com/brave/browser-laptop/issues/12631))
 - [x] Sometime

[2018-01-22 18:38] #12562 closed

[2018-01-22 18:52] bsclifton commented on #10595
Opening after @NejcZdovc found an issue with cache

[2018-01-22 18:58] bsclifton commented on #12751
@RSCipher001 can you please try with the latest release? I am using 0.19.139 (which uses Chromium 64) and am not able to reproduce (I tried on both Linux and macOS)

[2018-01-22 18:58] #12751 closed

[2018-01-22 18:58] linuslagerhjelm commented on #12757
I am sorry about my somewhat confusing description. I don't have it configured to remove history when I close Brave. This is my settings:

![image](https://user-images.githubusercontent.com/10388912/35238707-9cebd960-ffae-11e7-8b3c-46fbc3ece15c.png)

[2018-01-22 19:02] darkdh commented on #12733
it's expected because the form is already there just not being displayed
so before the password popup changes, it is actually autotfilled when page load. You will only see it when you click login and let it display the form.

![kapture 2018-01-22 at 11 02 09](https://user-images.githubusercontent.com/11330831/35238875-ba758990-ff63-11e7-964f-e7f11870fd53.gif)

[2018-01-22 19:02] #12733 closed

[2018-01-22 19:05] JonCheuvront commented on #2414
+1 this is a must for me to keep in sync across multiple platforms and multiple browsers. I will need this before I can go Brave as my default browser.

[2018-01-22 19:25] LaurenWags commented on #12755
@jonathansampson This is what I'm seeing when using packaged build 0.20.17. Based on the Test Plan (https://github.com/brave/browser-laptop/pull/12756) - I'm still seeing empty spaces on MacOS. Could you take a look?

![12755](https://user-images.githubusercontent.com/28145373/35239984-081d5f30-ff80-11e7-805d-c181ed81b580.gif)

[2018-01-22 19:25] KidPluto commented on #9748
Exactly my reaction.

[2018-01-22 19:32] LaurenWags commented on #12631
MacOS:
![screen shot 2018-01-22 at 2 29 43 pm](https://user-images.githubusercontent.com/28145373/35240343-1ba15308-ff81-11e7-8e2b-370883116d60.png)

[2018-01-22 19:48] LaurenWags opened #12776 "Payments page is missing spacing between buttons"
### Description
'Claim my free tokens' button for UGP promotion and 'Add Funds...' button should have space between them.

### Steps to Reproduce

  1. Have active UGP promo (prod) or use staging to create a wallet
  2. View Payments page
  3.

**Actual result:**
Button spacing is incorrect:

![screen shot 2018-01-22 at 2 37 30 pm](https://user-images.githubusercontent.com/28145373/35240954-002fdb

[2018-01-22 20:06] eljuno opened #12777 "Reddit section at Coinmarketcap Blocked by Ads and Tracking Protection"
### Description
Originally reported here https://www.reddit.com/r/BATProject/comments/7nxd74/brendan_eich_announces_verified_publisher_creator/ds6jkz7/

Reddit section on Coinmarketcap social tab not displayed in Brave. It's blocked by ads and tracking protection. Enable `Ads and Tracking` still not load it correctly. BAT-Jennie said it's load with shileds down. Chrome +uBO work well and displayed

[2018-01-22 20:12] LaurenWags commented on #12744
+1 from community: https://community.brave.com/t/update-button-made-brave-inoperable/14523

[2018-01-22 20:12] Tomatoshadow2 commented on #12744
Awesome, thanks so much Lauren. +1 in the last two hours, since your last post https://community.brave.com/t/most-recent-version-0-19-139-of-brave-crashes-on-launch/14336/20

[2018-01-22 20:16] Tomatoshadow2 commented on #12744
+1 https://community.brave.com/t/clicked-update-on-mavericks-now-brave-crashes-on-launch/14558

[2018-01-22 20:25] abishekrsrikaanth opened #12778 "Cursor doesn't focus on the URL bar when opening a new tab"
###Have you searched for similar issues?
- Yes

### Description
When opening a new tab or window, the expected result is that the cursor is already on the URL ready to type a URL or search phrase. Currently this isn't the behavior.

### Steps to Reproduce
  1. Open a new Tab or Window
  2. You will notice that the current focus is not on the URL bar

**Actual result:**
New tab/window is opened and

[2018-01-22 20:25] Tomatoshadow2 commented on #12757
Totally fine, that's interesting, you have none of those checked and your history disappears, hmm.

[2018-01-22 20:30] #12742 closed

[2018-01-22 20:40] vanclute commented on #12744
+1 here too.

[2018-01-22 20:43] bsclifton commented on #12776
Fixed with https://github.com/brave/browser-laptop/pull/12779

[2018-01-22 20:43] #12776 closed

[2018-01-22 20:48] #791 closed

[2018-01-22 21:07] diracdeltas opened #12780 "EV certificate string overflows"
follow-up to #11776

actual behavior: if the organization name is very long, it overflows and makes it impossible to see the URL of the page:
![screen shot 2018-01-22 at 9 03 22 pm](https://user-images.githubusercontent.com/549654/35244461-1b6aff74-ffb8-11e7-8122-84778889c7d8.png)

expected behavior: the EV info box should enforce a max-width such that the URL is always visible

[2018-01-22 22:04] cezaraugusto commented on #11653
self-note: this is a bug in React with `autoFocus`: https://github.com/facebook/react/issues/7769 which is applied in the sync modal

[2018-01-22 22:13] darkdh commented on #12514
The culprit is `Clear All` which will not have effect immediately so it is not Windows specific

[2018-01-22 22:22] 3d73a4a412 opened #12782 "Installation issues on an upgraded (24->26) fedora linux virtual machine (on QubesOS)"
### Description

I had installed brave on a fedora-24 vm (qubesos), with a bit of trouble with the key (had to wget it, then add it manually but ok), but it worked. I upgraded to 26 and now brave does not work. I tried uninstalling reinstalling updating autoremove etc nada.

### Steps to Reproduce

I am not wholly sure about the detail I need to provide here, it simply won't start but I will add a

[2018-01-22 22:23] SaXeee commented on #12744
+1 here too. Macbook Pro with OSX 10.9.5.
I've tried with release V0.19.138, v0.19.139 and v0.19.140. Same problem.

[2018-01-22 22:51] diracdeltas commented on #12616
this does affect webtorrent but the impact is relatively low - the attacker can see the torrented files. however this is usually possible for torrents anyway (unless you're using a private tracker) since the attacker can just join the swarm.

[2018-01-22 22:52] diracdeltas commented on #12616
general issue: https://github.com/brave/browser-laptop/issues/12671

[2018-01-22 23:28] #12780 closed

[2018-01-22 23:53] bsclifton opened #12784 "Update DMG installer to PKG format (macOS)"
## Test plan

https://github.com/brave/browser-laptop/pull/12946

----

Packaging for macOS is currently done with https://github.com/electron-userland/electron-builder

Requirements:
- Outputs a single PKG file (not a PKG and a ZIP)
- PKG needs to run a script during the install
- **Script that runs NEEDS to be able to read the executable name**
- We may need to provide EULA
- Install location sh

[2018-01-22 23:56] bsclifton commented on #12784
I've started checking this out and have a branch [referral-installer-macos](https://github.com/brave/browser-laptop/tree/referral-installer-macos). I have it successfully creating a PKG file, but it also creates a zip.
![pkg-installer](https://user-images.githubusercontent.com/4733304/35250671-00a4323c-ff95-11e7-9d49-9db29cac6013.png)

Electron builder has some good documentation available here:
h

[2018-01-23 00:02] bsclifton opened #12786 "Script to read executable name (PKG) and output to profile directory"
## Test plan

https://github.com/brave/browser-laptop/pull/12953#issue-293024981

----

**NOTE: https://github.com/brave/browser-laptop/issues/12784 must be completed first**

During the PKG file install for a Release channel build (not BETA/DEVELOPER/NIGHTLY), a custom script should run. This script needs to do the following:
- Read executable name (ex: `Brave-ABC.pkg`)
- Look for / parse out a p

[2018-01-23 00:03] bsclifton opened #12787 "Read installer executable name (EXE) and output to profile directory"
During the EXE file install for a Release channel build (not BETA/DEVELOPER/NIGHTLY), a custom script should run. This script needs to do the following:
- Read executable name (ex: `Setup-Brave-x64-ABC999.exe`)
- Look for / parse out a promotion code (ex: `ABC`)
- Put this promotional code into a file `promoCode` in the profile directory (ex: `%APPDATA/brave`)

[2018-01-23 00:07] bsclifton opened #12788 "Configure promo API key"
Details pending security review here:
https://github.com/brave/internal/issues/189

[2018-01-23 00:10] bsclifton opened #12789 "Read promo code from profile directory and set AppState"
- There should be an argument passed during first run (on Windows there is; not sure about macOS after it's changed to PKG format).
- During this first run, we should check for the presence of the `promoCode` file inside the user's profile directory (ex: `~/Library/Application Support/brave/promoCode`)
- Once file is detected and if code is valid, we need to set App State:
`state.setIn(['updates',

[2018-01-23 00:13] bsclifton opened #12790 "Contact promo API on first install and obtain download_id"
**NOTE: https://github.com/brave/browser-laptop/issues/12789 must be completed first**
**NOTE: https://github.com/brave/browser-laptop/issues/12788 must be completed first**

During first run after install, the promo API needs to be contacted.

Example input/output from endpoint:
[code]

The `download_id` returned should be stored in AppState

[2018-01-23 00:15] bsclifton opened #12791 "Contact promo API after 30 days of usage"
If `promoCode` is set and 30 days have gone by, the promo API should be contacted. It would pass (as input) the DownloadID obtained in the call made during first run

[2018-01-23 00:16] darkdh commented on #6604
@fermulator would you mind provide the latest crash dump located in `~/config/brave/CrashPad` when crash happens?

[2018-01-23 00:32] adamlacombe commented on #271
👍

[2018-01-23 01:01] darkdh commented on #12748
The form origin is `https://passport.twitch.tv/` that is why it didn't prompt manually.
If we need to prompt saving password, we have to implement `ShowManualFallbackForSaving` which is currently stubbed out. This function will be called whatever changes in the password field.
cc @bridiver, @diracdeltas

[2018-01-23 01:53] lukerollans commented on #3555
Subscribing so I know when this is possible, it's the only thing stopping me from making the switch

[2018-01-23 02:21] flamsmark opened #12792 "Ledger doesn't count visits to or time spent reading PDFs"
There doesn't seem to be a good root reason why PDF content shouldn't earn BAT.

[2018-01-23 02:42] jamesray1 opened #12793 "Enhancement: when highlighting text, right clicking and selecting search, open the new tab in the same position as a cloned tab, rather than the new tab position."
### Description
Enhancement: when highlighting text, right clicking and selecting search, open the new tab in the next tab (right of the current tab), rather than the new tab position as is the case now. That is, the new tab gets inserted in the same position as a cloned tab.

### Brave Version

**about:brave info:**

Brave: 0.19.134
rev: 316cfa522ffe6a558fe9f2f3f299c0c602dfb691
Muon: 4.5.38
libch

[2018-01-23 03:41] fermulator commented on #6604
@darkdh I don't think we'll get one as this is an OOM crash.
[code]

[2018-01-23 03:48] fermulator commented on #6604
FYI: I dropped in a standard ubuntu apport submission:
 * https://errors.ubuntu.com/oops/6bca32c8-ffef-11e7-b27e-fa163eec78fa

[2018-01-23 04:20] srirambv commented on #12778
Have you set the new tab to start with homepage?

[2018-01-23 04:36] srirambv opened #12794 "Unnecessary File heading before starting a torrent download"
### Description
Unnecessary File heading before starting a torrent download

### Steps to Reproduce

  1. Open a magnet/torrent link
  2. See `Files` which doesn't list the actual files unless the torrent is started
  3.

**Actual result:**
https://www.google.co.in/?gfe_rd=cr&dcr=0&ei=6bNmWsDtCNCBqAGGpKiACA

**Expected result:**
Should not show if its not listing the files

**Reproduces how often:

[2018-01-23 05:21] #11795 closed

[2018-01-23 05:21] diracdeltas opened #12797 "CVE-2018-1000006"
may affect Brave on windows. it is pretty severe.

UPDATE: It does not affect Brave, but may be an issue for other apps using Muon.

[2018-01-23 05:54] bsclifton commented on #12790
API key is captured with https://github.com/brave/browser-laptop/issues/12788

[2018-01-23 06:01] bsclifton commented on #12669
Pushing back to 0.21.x

[2018-01-23 06:05] srirambv commented on #12755
Seeing same on Windows as well

[2018-01-23 06:09] diracdeltas commented on #12797
we can't repro this with Brave, but it probably should be fixed anyway just in case we are missing something

[2018-01-23 06:54] NejcZdovc commented on #12078
I can't reproduce this with steps in the PR. I will close this one and let's open a new one when we have STR.

[2018-01-23 06:54] #12078 closed

[2018-01-23 07:47] NejcZdovc commented on #11238
+1 from https://www.reddit.com/r/BATProject/comments/7sc5qp/trying_to_adjust_payment_percent_seems_to_be/

[2018-01-23 08:07] diracdeltas commented on #12797
pretty sure this does affect Brave, but is harder to trigger than for most Electron apps

[2018-01-23 12:12] srirambv commented on #12759
Dupe of #3669

[2018-01-23 12:12] #12759 closed

[2018-01-23 12:13] srirambv commented on #3669
+1 from @BraveSupporter via #12759

[2018-01-23 13:57] hugobuddel opened #12799 "gmail pinned tab keeps disappearing, on different machines"
Similar to #10179 #11694

### Description
My most-used pinned tab is gmail, but it keeps disappearing. As in, at a certain moment, I open a new window, and the gmail pin is missing. It is subsequently impossible to put it back, see #11694.

This has happened on at least two of my machines, a Windows 10 laptop and an Ubuntu 16.04.3 desktop. Brave versions 0.19.139 or 0.19.134, but happened before t

[2018-01-23 14:35] LaurenWags commented on #12744
+1 from community: https://community.brave.com/t/brave-crashes-instantly-on-my-mac/14600

[2018-01-23 14:36] LaurenWags commented on #12744
+2 from community: https://community.brave.com/t/mac-brave-crashes-on-startup/14597

[2018-01-23 14:40] darkdh commented on #12797
https://github.com/brave/browser-laptop/pull/12795#issuecomment-359806548

[2018-01-23 15:47] traderd65 commented on #12285
Lastpass extension stopped working (blank popup dialog shows when pressing on extension icon) then disappears altogether with latest browser upgrade 0.19.139 on Windows 10 (x64) Dell laptop. When disabling then re-enabling the extension, the logo shows up but same problem. Have to use a full Lastpass browser tab (vault) to use the pwd mgr logins.

[2018-01-23 16:07] bsclifton commented on #12744
There is a preview version that folks can try which may resolve the issue OR will at least (hopefully) collect more details
https://github.com/brave/browser-laptop/releases/tag/v0.19.141dev

cc: @SaXeee @vanclute

[2018-01-23 16:22] #10595 closed

[2018-01-23 16:31] bsclifton commented on #12744
Also- some great info here about crash reporting and how you can help us debug 😄
https://github.com/brave/browser-laptop/wiki/Crashes

[2018-01-23 16:39] bsclifton commented on #12616
Still waiting on merge upstream... moving to tentative 0.20.x hotfix 1 milestone

[2018-01-23 16:48] #12514 closed

[2018-01-23 17:10] LaurenWags commented on #9779
So to recap some slack convos - can no longer repro https://github.com/brave/browser-laptop/issues/9779#issuecomment-355332544 I only see https://github.com/brave/browser-laptop/issues/9779#issuecomment-355337558 which makes sense as discussed because at some point the tabs are too small to display a favicon.

However, (maybe this needs a new issue?) If I have a full screen window, and 100 tabs, n

[2018-01-23 17:20] #12755 closed

[2018-01-23 17:29] BraveSupporter commented on #3669
Seems to be a computer to computer problem. Installed brave on another laptop. Same specs, and the scrolling issue is not there.

[2018-01-23 17:59] egferro opened #12801 "Delete specific url suggestion"
### Description
I once visited the site http:calendar-365.it since then the browser always suggest that url when I start typing the word calendar. Since I use every day calendar.google.com this is becoming annoying as I often have to type additional letters or modify the url. I cancelled the url (calendar-365) from the browser history, but apparently this is not enough to avoid being suggested a u

[2018-01-23 18:16] bsclifton opened #12802 "Update test plan for PKG format"
Update the QA steps for checking (macOS) if build is signed

[2018-01-23 18:49] petemill opened #12803 "Theme color is displayed incorrectly due to transparency"
### Description
If a theme color is provided with an alpha transparency channel, we preserve that transparency when displaying the theme color on the tab control background. This then causes the theme color to be blended with the tab bar background color, making the theme color match incorrectly.

### Steps to Reproduce

  1. Visit apple.com
  2. Observe tab theme color when tab is active
  3. Obs

[2018-01-23 19:01] griefage opened #12805 "does not load webpage https://www.nowinstock.net/ properly/formatting issues"
### Description
when visiting any page from www.nowinstock.net, brave does not load the webpage properly or have the correct formatting

### Steps to Reproduce

  1. visit https://www.nowinstock.net/
  2.
  3.

**Actual result:**

![untitled](https://user-images.githubusercontent.com/35741937/35294841-8ca1773a-0045-11e8-9d3f-17e1ff4234f6.jpg)

**Expected result:**

**Reproduces how often:**
100

#

[2018-01-23 19:06] griefage opened #12807 "Brave unable to log into www.suprnova.cc"
### Description
after entering the username and password and pressing login, the webpage just refreshes. no error message and does not log in.

### Steps to Reproduce

  1.
  2.
  3.

**Actual result:**

**Expected result:**

**Reproduces how often:**

### Brave Version

**about:brave info:**

**Reproducible on current live release:**

### Additional Information

[2018-01-23 19:07] LaurenWags commented on #10411
Reopening - removed tile is not replaced after it is removed.

STR: so my steps were: clean profile. visit 6 different sites. open new tab with dashboard. see 1 pinned tile (default) and 5 unpinned new tiles for a total of 6 tiles. click the x for one of the new tiles. now you have 5 tiles (1 pinned and 4 un-pinned). visit 7th new site. open new tab with dashboard. Still have 5 tiles on new tab pa

[2018-01-23 19:17] eljuno commented on #12612
+1 from community https://community.brave.com/t/lastpass-wont-let-me-sign-in/14580?u=eljuno

[2018-01-23 19:19] AlbertoElias commented on #12668
It seems like it's related to this Electron bug: https://github.com/electron/electron/issues/9817

[2018-01-23 19:30] eljuno commented on #9088
+1 from community https://community.brave.com/t/unclickable-bookmark-area/14652?u=eljuno

[2018-01-23 19:39] Shad-Iqbal commented on #5499
And it's still happening... No **solution** found!

[2018-01-23 19:40] eljuno commented on #4745
+1 from community https://community.brave.com/t/bookmark-displays-folder-content-off-screen/14650?u=eljuno

[2018-01-23 19:41] abishekrsrikaanth commented on #12778
@srirambv, I have, as I mentioned on the issue, the other browsers always set the focus on the url bar irrespective of what the homepage is set to. I tried it a couple of time on the other browsers as well

[2018-01-23 19:42] NejcZdovc commented on #9088
pulled into 0.21

[2018-01-23 20:02] LaurenWags commented on #10236
Looks good on MacOS - https://github.com/brave/browser-laptop/issues/12572 will cover mis-alignment of 'auto-include' switch:
![screen shot 2018-01-23 at 2 59 22 pm](https://user-images.githubusercontent.com/28145373/35297905-7061c094-004e-11e8-8305-11f261b66293.png)

[2018-01-23 20:11] jonathansampson commented on #12762
Disconnect.me [has reported](https://twitter.com/disconnectme/status/955316608100020224) concerns with Intercom's privacy policy:

![image](https://user-images.githubusercontent.com/815158/35298241-210e4d5c-0047-11e8-939f-fa488dd7b442.png)

[2018-01-23 21:06] kjozwiak commented on #12727
@NejcZdovc I've also noticed the following possible issues. I'm assuming these are expected I wanted to double check with you first. Possible issues:

You can only set `payments.contribution-amount` to either a whole number (10 BAT) or a half number (10.5 BAT). Using other denominations such as 10.7 BAT and 10.3 BAT doesn't work.

The second thing that I noticed is that once you change the value t

[2018-01-23 21:06] bsclifton commented on #12304
@jumde can you provide a test plan for this issue?

[2018-01-23 21:08] bsclifton commented on #12203
removed milestone since it was fixed with https://github.com/brave/browser-laptop/pull/12351

[2018-01-23 21:13] bsclifton commented on #11797
Fixed w/ https://github.com/brave/browser-laptop/pull/11143

[2018-01-23 21:13] #11797 closed

[2018-01-23 21:14] bsclifton commented on #12036
Closing as a duplicate of https://github.com/brave/browser-laptop/issues/11142

[2018-01-23 21:16] bsclifton commented on #11859
I've manually tested this and it also has an automated test 👍

[2018-01-23 21:17] kjozwiak commented on #11452
Still an issue with the latest 0.20.19 BETA:

[2018-01-23 21:17] #10411 closed

[2018-01-23 21:50] LaurenWags commented on #12727
@NejcZdovc - noticing that if I change my Monthly Budget to 15 BAT and close/reopen Brave, it changes to 75 BAT. Similarly, if I choose 20 BAT and close/reopen, it changes to 100 BAT.

[2018-01-23 21:52] jumde commented on #12304
From the PR:
[code]

cc: @diracdeltas

[2018-01-23 22:21] #12727 closed

[2018-01-23 22:42] cezaraugusto commented on #9779
@LaurenWags what happens in that state you mentioned in https://github.com/brave/browser-laptop/issues/9779#issuecomment-359861434 if you keep changing the number of tabs per tab set? does at that window size the icons are shown or just keep the same?

per your screenshot, you reached a point where icons should be visible, but if you have resized the window before by increasing the width, it might

[2018-01-23 22:55] bsclifton commented on #12274
Oh wow- this is really bad. It's happening to me... seems easy to reproduce.  I've lost most of my ledger screen now because of this 😦

I think this might be the root cause for https://github.com/brave/browser-laptop/issues/12262 which @jenn-rhim also reported

[2018-01-23 22:58] darkdh commented on #6558
![kapture 2018-01-23 at 14 42 01](https://user-images.githubusercontent.com/11330831/35305296-b16f543a-004d-11e8-93d1-7f7ba3534d95.gif)
work progress updated

[2018-01-23 23:05] LaurenWags commented on #9779
Thanks @cezaraugusto and will open up something separate 😄

[2018-01-23 23:05] #9779 closed

[2018-01-23 23:12] davidtemkin opened #12811 "Initial window size on Mac is abnormally large"
### Description

Initial window size on macOS is too large and doesn't conform to macOS standards.
NOTE: This is a Mac-specific issue. Initial window sizing on Windows should follow that platform's conventions.

### Steps to Reproduce

1. Download Brave for macOS.
2. Run the app.

**Actual result:**

Window is YUUUGE. Doesn't look right for a Mac app.

**Expected result:**

Window is sized/positio

[2018-01-23 23:15] LaurenWags opened #12812 "improve updating favicon display on window resize"
### Description
If you have 6+ tab pages (with 20 tabs per page) and you change your tab count to 100, the favicons aren't always displayed. Sometimes this is expected since the tabs are too small. However, sometimes even if your window is sized to the full width of your monitor (in my case mine is a larger external monitor) the icons don't display. A restart of Brave has resolved this. Per https:

[2018-01-24 00:05] bsclifton commented on #12274
@NejcZdovc this seems to be related to how there are two synopsis...

For the about page, we set the synopsis here:
https://github.com/brave/browser-laptop/blob/6dece0e68be249b57454fb739a2c97ae2cd90a6b/app/browser/tabs.js#L242

However, in ledgerState, it's setting a different location:
https://github.com/brave/browser-laptop/blob/6dece0e68be249b57454fb739a2c97ae2cd90a6b/app/common/state/ledgerSta

[2018-01-24 01:45] bridiver opened #12813 "getOrigin can return null, but callers expect a string"
### Description
from crash reports
[code]

### Steps to Reproduce
Unknown

**Actual result:**
Crash

**Expected result:**
No crash

**Reproduces how often:**
Unkown

### Brave Version
Unknown, but likely 0.19.141

**Reproducible on current live release:**
Yes

### Additional Information

[2018-01-24 02:54] 3d73a4a412 commented on #12782
Ok, is there some more info I could leave? It seems this is not a priority (am assuming due to newer issues have already been assigned). I am happy to give whatever info I can, I was %100 sure about the parts that were being asked for but if any devs could ask me questions perhaps I could provide more relevant info?

[2018-01-24 02:57] kjozwiak commented on #12263
@diracdeltas because Linux/Ubuntu doesn't have an update mechanism implemented within the browser, the following step can't be checked:

`5. Click 'Check for updates' from the file menu. It should show that no updates are available instead of an error.`

Is skipping the above step and going through the others sufficient enough to call this verified under Linux?

[2018-01-24 03:08] cezaraugusto commented on #12304
I guess this should be in `release-notes/exclude` given this seems more like an infrastructure thing? not sure if this improves something for users

[2018-01-24 03:10] kjozwiak opened #12815 "block web mining popup modals that pressure users"
### Description

We should start blocking web miner modals that ask users if the website could use some of their CPU power for crypto mining. It's definitely nice that they're asking the user for permission, but some sites are super aggressive and tend to prompt the modal every time a new page loads. Basically pressuring the user to click on "Allow/OK".

### Steps to Reproduce

  1. visit linuxtra

[2018-01-24 03:11] cezaraugusto commented on #12304
thus `no-qa-needed`?

[2018-01-24 03:18] cezaraugusto commented on #10723
@NejcZdovc could you make a test plan for this so QA could validate? thanks!

[2018-01-24 03:20] cezaraugusto commented on #10252
@diracdeltas could you specify the test plan so QA can check? thanks!

[2018-01-24 03:22] cezaraugusto commented on #9962
ya setting as no-qa-needed

[2018-01-24 03:30] cezaraugusto commented on #1353
heads-up I added a basic test plan please add more checks in case mine is incomplete. Thanks

[2018-01-24 03:42] petemill commented on #10673
Some progress... When a tab is discarded we are seeing that the tab is detached, then a new tab (with a different Id) is created and attached. The problems are:
- That the old tab is not `destroyed` so it is not removed from the `webContentsCache` or the browser tabState.
- That the new tab is created via the `web-contents-created` event, but we do not receive the `process.on('add-new-contents')`

[2018-01-24 03:58] kjozwiak commented on #11893
@jamesray1 if you have the time, could you download the latest `0.20.x` BETA [1] and see if you can reproduce this anymore?

[1] https://github.com/brave/browser-laptop/releases/

[2018-01-24 04:13] kjozwiak commented on #12755
Looks good on Ubuntu. I spent some time browsing through CoinMarketCap and I didn't notice any awkward spaces/modals/popups. Examples:

<img width="1421" alt="screen shot 2018-01-23 at 11 02 52 pm" src="https://user-images.githubusercontent.com/2602313/35314180-6b31934e-0092-11e8-8b5f-3defd2a79c59.png">

<img width="1421" alt="screen shot 2018-01-23 at 11 03 40 pm" src="https://user-images.githubu

[2018-01-24 04:48] BeBlockTech commented on #6794
My biggest issue is when we install metamask, you can't be deleted anymore!! I even uninstalled the browser, ran a cleaner, deleted the files in the roaming folder, and MetaMask is still there with my account linked to it.

Can someone tell me how to reset this browser to its default?

[2018-01-24 06:06] kjozwiak opened #12816 "sometimes attention/time is logged within YT entry rather than creating a channel entry"
### Description

Sometimes when viewing media under TY, the time/attention is logged under the YT entry rather than creating a new ledger entry specifically for that particular channel.

### Steps to Reproduce

  1. launch `0.19.139` using a fresh brave profile
  2. visit `about:preferences#payments` and enable Brave Payments
  3. visit https://www.youtube.com
  4. search for `Datadash` and select

[2018-01-24 06:42] kjozwiak opened #12817 "disabling/enabling wallet re-enables "show notifications" under advanced settings"
### Description

Disabling/Enabling Brave Payments will re-enable the `Show notifications` even though it was turned off. I'm not 100% sure if this is intended so that users who re-enable the wallet still get notifications incase they forgot to re-enable notifications from the advanced settings. However, we've received several complaints from users in the past that they keep getting notifications

[2018-01-24 06:58] srirambv opened #12818 "Ledger table is populated twice making it overlap with broken favicons"
### Description
Ledger table is populated twice making it overlap with broken favicons

### Steps to Reproduce
Unsure. Found it when launching the browser

**Actual result:**
![image](https://user-images.githubusercontent.com/17010094/35318524-c26ea16e-0101-11e8-95bf-6116477a5c23.png)

**Expected result:**
Should not have duplicated entries overlapping on each other

**Reproduces how often:**
No i

[2018-01-24 07:12] diracdeltas commented on #10252
No QA needed, thanks!

[2018-01-24 07:12] srchulo commented on #11924
I'm seeing this on Windows 10 on version 0.19.139. I've had videos freeze on YouTube a lot for a long time. I've switched to Edge just for YouTube.

[2018-01-24 07:13] diracdeltas commented on #12263
@kjozwiak yup that should be fine

[2018-01-24 08:07] Tomatoshadow2 commented on #12744
@bsclifton Should I let people in the community know about this from now on?

[2018-01-24 08:35] srirambv opened #12819 "Manual test run on OS X for 0.20.x (Beta Channel)"
## Per release specialty tests
 - [x] Remove CoinMarketCap Empty Elements. ([#12755](https://github.com/brave/browser-laptop/issues/12755))
 - [x] Dynamically build monthly amount dropdown . ([#12727](https://github.com/brave/browser-laptop/issues/12727))
 - [x] Ship hard-coded search engine favicons. ([#12689](https://github.com/brave/browser-laptop/issues/12689))
 - [x] Disable auto-include publ

[2018-01-24 08:36] srirambv opened #12820 "Manual test run on Windows x64 for 0.20.x (Beta Channel)"
## Per release specialty tests
 - [x] Remove CoinMarketCap Empty Elements. ([#12755](https://github.com/brave/browser-laptop/issues/12755))
 - [x] Page security state for passive mixed content is incorrect. ([#12742](https://github.com/brave/browser-laptop/issues/12742))
 - [x] Dynamically build monthly amount dropdown . ([#12727](https://github.com/brave/browser-laptop/issues/12727))
 - [x] Ship

[2018-01-24 08:36] srirambv opened #12821 "Manual test run on Linux for 0.20.x (Beta Channel)"
## Per release specialty tests
 - [x] Payments page is missing spacing between buttons. ([#12776](https://github.com/brave/browser-laptop/issues/12776))
 - [x] Page security state for passive mixed content is incorrect. ([#12742](https://github.com/brave/browser-laptop/issues/12742))
 - [x] Dynamically build monthly amount dropdown . ([#12727](https://github.com/brave/browser-laptop/issues/12727))

[2018-01-24 08:36] srirambv commented on #12773
Closing in favour of #12819

[2018-01-24 08:36] #12773 closed

[2018-01-24 08:37] srirambv commented on #12774
Closing in favour of #12820

[2018-01-24 08:37] #12774 closed

[2018-01-24 08:37] srirambv commented on #12775
Closing in favour of #12821

[2018-01-24 08:37] #12775 closed

[2018-01-24 09:36] srirambv commented on #12727
Modified value is retained after restart on 0.20.20. Tried the following scenarios
1. Changed payments.contribution-amount value to 0.99 -> Restart -> Showed 1.0 BAT
2. Changed payments.contribution-amount value to 4 -> Restart -> Retained 4 BAT
3. Changed payments.contribution-amount value to 0.8 -> Restart -> Retained 0.8 BAT
4. Changed payments.contribution-amount value to 17.35 -> Restart -> S

[2018-01-24 10:22] srirambv commented on #11795
![image](https://user-images.githubusercontent.com/17010094/35327081-9db31860-011e-11e8-8836-eb0c6cfc837b.png)

[2018-01-24 12:55] mzKas commented on #9425
aaaaaaaaand guess what?
nothing,..
im about go give up on this browser because of a stupid bug that doesnt exist elsewhere...

[2018-01-24 13:05] LaurenWags commented on #12744
I heard from a user in community who tried the latest 0.19.143 build and said no .dmp file was created :( what do you make of that @bsclifton ?

[2018-01-24 15:01] abourdon commented on #12362
Same experience here.

Note this is only located to a given tab and not to all currently opened tabs. So restarting Brave is not necessary, just closing the bugged tab is enough.

A minimal "workaround" could be:
- Copy the link
- Manually open a new tab
- Paste the copied link

In addition, this bug seems to be related to any kind of tab opening. Indeed, "open link in new private tab" and "open l

[2018-01-24 15:08] JakobFerdinand opened #12822 "[Windows, Dual Monitors] Disconnecting monitor - Brave stays at imaginary same position"
# Repro Steps:

1. Connect a second monitor
2. Open Brave on second monitor (not the main monitor!)
3. Disconnect monitor

When I try to open Brave, it opens the window in the same place as on the disconnected monitor.
[Windows]+[left arrow/right arrow] does not work

I would expect the browser to open on the main monitor/display when the original one was disconnected.

This happens every time.

N

[2018-01-24 15:57] Jacalz opened #12823 "Add option for no tab preview delay"
### Description
Opened this per discussion with @cezaraugusto and @bradleyrichter in #9887

The new setting in 0.20.x to setting tab preview delay should have an option to have no tab preview because some people like me are used with the old timing (no timing) and using the short timing is still to slow. Fells like i waist a couple seconds every time I want to use that previews. The no delay optio

[2018-01-24 16:02] bsclifton opened #12824 "Update to Muon 4.7.4"
## Test plan
1. Visit `about:brave`
2. `Muon` version should be `4.7.4`

[2018-01-24 16:11] bridiver opened #12826 "JS Error in Ledger code"
### Description
[code]
Found in several crash reports (ex: https://stats.brave.com/dashboard#crash/5a68a022836579001fd85b25)

### Steps to Reproduce
Unknown STR

**Actual result:**
Error/Possible crash

**Expected result:**

**Reproduces how often:**
Unknown

### Brave Version
0.19.141

**Reproducible on current live release:**

[2018-01-24 16:17] bridiver opened #12827 "Javascript stack traces can contain unique identifiers in the path"
### Description
see https://stats.brave.com/dashboard#crash/5a68a4ce83f757001fa70da8

[2018-01-24 16:18] #12824 closed

[2018-01-24 16:23] LaurenWags opened #12828 "after using 0.20.20 for a bit new tabs are blank, about:brave is missing info"
### Description
After using version 0.20.20 for some time my new tabs started showing up as blank (they're set to display the Dashboard per about:preferences) and the about:brave page didn't show information.

### Steps to Reproduce

  1. Use brave normally for some time (15-30 minutes maybe?)
  2.
  3.

**Actual result:**
New tab does not display dashboard, about:brave does not display informatio

[2018-01-24 16:51] LaurenWags commented on #12819
Geolocation was checked with https://html5demos.com/geo/

[2018-01-24 17:07] sergiorojasa commented on #4024
I would like to work on this issue.

[2018-01-24 17:15] sergiorojasa commented on #4024
I would like to work on this issue

[2018-01-24 17:43] bsclifton commented on #12828
I've had this happen on 0.19.x before at least once... closing and relaunching fixed it for me

@LaurenWags has this happened to you more than once?

[2018-01-24 17:43] LaurenWags commented on #12828
Happened once this morning, I saw it once before on 0.20.x but not again until today

[2018-01-24 17:49] LaurenWags opened #12829 "Manual test run on OS X for 0.19.x Hotfix 14 (Release channel)"
## Per release specialty tests
 - [x] Update to Muon 4.7.5. ([#12824](https://github.com/brave/browser-laptop/issues/12824))
 - [x] Crash reporting / stats reporting should be using version (not rev). ([#12772](https://github.com/brave/browser-laptop/issues/12772))

## Installer
- [x] Check that installer is close to the size of last release.
- [x] Check signature: If OS Run `spctl --assess --verb