[2018-04-26 08:35] NejcZdovc commented on #13217
will be fixed with this PR https://github.com/brave-intl/bat-client/pull/59

[2018-04-26 08:36] jakecoolguy commented on #13950
Just restarted brave and now the brave browser finally works again. However, I still see these messages when launching brave from terminal

[2018-04-26 08:37] NejcZdovc commented on #13875
probably will be fixed with https://github.com/brave-intl/bat-client/pull/59

[2018-04-26 09:00] Faults commented on #6723
This would be GREAT to have!

[2018-04-26 09:32] #13879 closed

[2018-04-26 09:47] NejcZdovc commented on #13427
@srirambv please past ledger-state.json file that was generated when doing this last test

[2018-04-26 10:32] janpeeters70 commented on #13860
Thanks for fixing this!

[2018-04-26 10:32] janpeeters70 commented on #13859
Thanks for fixing this!

[2018-04-26 12:07] arcanosam commented on #13901
yeah... I think I have must apologies.

When I tryed at first, I think Brave was executed without --no-sandbox parameter. That's the reason not worked at first moment.

After this, I maked the permission changes and not worked either, but I tryed now by command line prefixing sudo and Brave runed perfectly.

So, my problem really was not using --no-sandbox on my short icon
and after that the chang

[2018-04-26 12:07] #13901 closed

[2018-04-26 13:01] LaurenWags commented on #13156
+1 from community: https://community.brave.com/t/not-donating-money/20696

[2018-04-26 13:14] LaurenWags commented on #11789
+1 from community: https://community.brave.com/t/click-and-drag-tabs/20851

[2018-04-26 13:17] NejcZdovc commented on #4847
closing per discussion with @bradleyrichter

[2018-04-26 13:17] #4847 closed

[2018-04-26 13:36] jasonrsadler commented on #10534
Using this table:
<img width="835" alt="screen shot 2018-04-26 at 9 17 00 am" src="https://user-images.githubusercontent.com/25326067/39309048-167ad6f8-4935-11e8-9d4c-04af4c548a1b.png">

Here are my findings:

[code]

[2018-04-26 13:50] srirambv commented on #13949
does enabling 3rd party cookies make it work?

[2018-04-26 14:01] srirambv opened #13952 "Cookie loss with CR66 update"
### Description
Several reports of session being lost on upgrade to CR66

### Steps to Reproduce

  1.
  2.
  3.

**Actual result:**

**Expected result:**

**Reproduces how often:**

### Brave Version

**about:brave info:**

**Reproducible on current live release:**

### Additional Information
@bsclifton @darkdh

[2018-04-26 14:05] LaurenWags commented on #13947
twitter +1s:
https://twitter.com/i_am_jasin/status/989483000953032705
https://twitter.com/dliebo/status/989466673458679808

[2018-04-26 14:07] chloebelle600 opened #13953 "Netsuite and rev. 0433b26 With Win 10 v. 1703"
I am using the Netsuite web portal and, since updating to the latest rev of Brave this morning, when I go to save a ticket, I am automatically kicked out of Brave and the ticket does not save. I cleared the browser cache and rebooted the system, but the issue persists.  This issue does not happen with Firefox. Thanks.

Chloebelle

### Description

### Steps to Reproduce

  1.
  2.
  3.

**Actual r

[2018-04-26 14:10] MkllTech commented on #13666
This is sometimes still happening.

[2018-04-26 14:12] #13217 closed

[2018-04-26 14:12] #13875 closed

[2018-04-26 15:09] kjozwiak commented on #13953
@chloebelle600 does Brave completely close/crash? If so, it's probably related to https://github.com/brave/browser-laptop/issues/13947. We're planning on pushing a hotfix out sometime today.

[2018-04-26 15:12] kjozwiak commented on #13687
+1 from the community as well https://community.brave.com/t/pua-osx-coinminer-1-r-detection-in-the-brave-browse-for-mac/19106

[2018-04-26 15:13] safecoms commented on #6794
this is on a Mac and the app is from littlesnitch
it is extremely useful and fairly priced.
I have had this for years, this is the latest version and it is extremely well designed

[2018-04-26 15:26] DavidRBailey opened #13954 "Submitting form crashes the browser consistently"
### Description
Submitting an TripIt hotel edit form crashes the browser consistently.

### Steps to Reproduce

  1. Go to TripIt.com
  2. Attempt to edit hotel form and click submit.

**Actual result:**

Browser stops responding, color wheel of death, and crashes. Form is never actually submitted.

**Expected result:**
Completes the form submission successfully.

**Reproduces how often:**

100%

[2018-04-26 15:36] srirambv opened #13955 "Cannot read property 'submenu' error when right click"
### Description

Cannot read property 'submenu' error when right click

### Steps to Reproduce

  1. Have a couple of tabs open
  2. Enable Bitwarden password manager
  3. Switch between tabs and right click, doesn't bring context menu. Console logs error

**Actual result:**
![image](https://user-images.githubusercontent.com/17010094/39315800-92aadad8-4945-11e8-958e-497a0230a82c.png)

**Expected r

[2018-04-26 15:39] kjozwiak opened #13956 "right click context menu stops working when switching tabs with Bitwarden enabled"
### Description

When you have `Bitwarden` enabled, sometimes the right click context menu will stop working when switching through tabs. When you get into the above state, you'll receive the following via the terminal:

`
[82481:775:0426/113231.618170:ERROR:CONSOLE(1)] "Uncaught TypeError: Cannot read property 'submenu' of undefined", source: chrome://brave/Applications/Brave.app/Contents/Resourc

[2018-04-26 15:39] srirambv commented on #13954
Dupe of https://github.com/brave/browser-laptop/issues/13947. Issue is already fixed and should be available soon.

[2018-04-26 15:39] #13954 closed

[2018-04-26 15:40] bsclifton commented on #13952
per @darkdh, this may be the cause:
https://chromium.googlesource.com/chromium/src/+/23f4922cd6206fab60dd7fee798ed325ab982171

[2018-04-26 15:42] kjozwiak commented on #13956
Looks like @srirambv beat me with #13955. Closing as duplicate.

[2018-04-26 15:42] #13956 closed

[2018-04-26 15:45] bsclifton commented on #13952
I don't know if there is a fix for this- moving out of milestone

[2018-04-26 15:57] srirambv opened #13957 "Live tv doesn't work on Spectrum"
### Description

### Steps to Reproduce

**Actual result:**
![image](https://user-images.githubusercontent.com/17010094/39317076-ba53540e-4948-11e8-8ed3-686b467c15ee.png)
![image](https://user-images.githubusercontent.com/17010094/39317121-d4357da2-4948-11e8-82bf-31e035df90a0.png)

**Expected result:**

**Reproduces how often:**

### Brave Version

**about:brave info:**

**Reproducible on current

[2018-04-26 16:07] DavidRBailey commented on #13947
Duplicate: https://github.com/brave/browser-laptop/issues/13954

[2018-04-26 16:58] bsclifton commented on #13950
Hi @jakecoolguy - thanks for the report (and glad it's working for you)

These warnings can be ignored. This was originally captured with https://github.com/brave/browser-laptop/issues/9643 and a good chunk of those should be fixed

[2018-04-26 17:02] #13950 closed

[2018-04-26 17:09] bsclifton commented on #13937
Thanks for the report, @slmeyer ! I'm going to close this issue as it's a duplicate of https://github.com/brave/browser-laptop/issues/2949

[2018-04-26 17:10] bsclifton commented on #13937
Actually- there are some details here which are not duplicates. Being able to navigate using keyboard should work

[2018-04-26 17:55] jasonrsadler commented on #10534
After looking over ledger-publisher/#2, I'll need to withdraw the previous comment. The percentages are not solely based on the amount of time spent on a page but are based on a concave function that provides diminishing returns (This keeps the large publishers from absorbing the rewards of the small publishers). At first glance it would look like the percentage calculations were wrong. I will ver

[2018-04-26 17:57] bsclifton commented on #13885
May be solved with https://github.com/brave/browser-laptop/pull/13783

@raisty you're welcome to try our latest BETA release. There are other known issues, but this one in particular should be fixed (or much better)
https://github.com/brave/browser-laptop/releases/tag/v0.22.109beta

[2018-04-26 18:04] bsclifton commented on #13887
cc: @diracdeltas

I think this would be expected behavior- I'm not sure what we could do

[2018-04-26 18:09] Zuzu-Typ opened #13958 "Please resolve the issues at Transifex"
### Description
I have started translating the Brave browser over two years ago now and there have always been strings I couldn't translate without the appropriate context.
Let me give you a prime example:

Sometimes you can grasp the meaning from the key, but this does not apply for this one.

But most of the time you have to go the brave journey of searching the Brave browser for the string, but

[2018-04-26 18:16] bsclifton commented on #13880
@eljuno yup- this is a dupe.  Closing 😄

[2018-04-26 18:16] #13880 closed

[2018-04-26 18:17] bsclifton commented on #3101
+1 from @AtjonTV via https://github.com/brave/browser-laptop/issues/13880

[2018-04-26 18:29] #13841 closed

[2018-04-26 18:32] bsclifton commented on #13922
This may have already been fixed by @diracdeltas in 0.24.x with https://github.com/brave/browser-laptop/pull/13820. Will need to confirm

[2018-04-26 18:46] pettys commented on #3398
Auto-updated Brave today and got crashes on submitting forms. Tried the jsfiddle referenced in the OP of this issue and it crashes my browser:

Brave: 0.22.667
V8: 6.6.346.24
rev: 0433b26a03c8daf9b181057cd2ffa7b530496faf
Muon: 5.2.6
OS Release: 10.0.16299
Update Channel: Release
OS Architecture: x64
OS Platform: Microsoft Windows
Node.js: 7.9.0
Brave Sync: v1.4.2
libchromiumcontent: 66.0.3359.117

[2018-04-26 19:01] bsclifton commented on #13602
@ryanmusante is this still happening on our latest build?

[2018-04-26 19:46] rotational467 commented on #13948
I am similarly seeing a crash in my personal Roundcube 1.3.6 installation (Kolab is running Roundcube), specifically when attempting to save a change to a sieve filter.  When clicking the save button, Brave will immediately close with no error message.  This is reproducible on demand.

Normal mail composition works, I haven't had time to go through and find everything that does and does not genera

[2018-04-26 20:17] bsclifton commented on #3398
@pettys we have captured the most recent iteration of this bug with https://github.com/brave/browser-laptop/issues/13947

We have a fix and the build is running now 😄 We should be able to release a fix soon! Stay tuned

[2018-04-26 20:28] bsclifton commented on #13948
@rotational467 that is likely due to the bug we're tracking with https://github.com/brave/browser-laptop/issues/13947 (which has been fixed and is currently building). We're going to issue a hotfix release to fix that problem

This problem for @clockworkpc is happening on our last release, 0.22.22

@clockworkpc do you have some example steps that we can try to reproduce the problem? I'm not famili

[2018-04-26 20:37] pettys commented on #3398
@bsclifton Thanks - you rock!

[2018-04-26 20:51] rotational467 commented on #13948
@bsclifton thank you very much for the information!

[2018-04-26 22:07] diracdeltas commented on #13922
Pretty sure i already fixed this

[2018-04-26 22:09] diracdeltas commented on #13922
@bsclifton this line changed it to use eTLD+1 instead of full domain for referer block: https://github.com/brave/browser-laptop/pull/13820/files#diff-8a9bac13ef6264feb2b6da7c18d86b3cR283

[2018-04-26 22:10] diracdeltas commented on #13922
marking as dupe of https://github.com/brave/browser-laptop/issues/13779

[2018-04-26 22:11] diracdeltas commented on #13943
I have seen this occasionally in 0.22.x before c66 on macos

[2018-04-26 22:14] diracdeltas commented on #13943
NVM, the bug I saw was where it would show 0 matches even though there were definitely some matches. The screenshot above shows that it correctly identifies the number of matches.

[2018-04-26 22:32] bsclifton commented on #13922
@diracdeltas it seems this would be fairly easy to uplift to 0.23.x - are there any challenges you see in doing that?  If not, I can take care of uplifting it 😄

[2018-04-26 22:32] #13922 closed

[2018-04-26 22:41] diracdeltas commented on #13922
@bsclifton sgtm

[2018-04-27 01:04] Brcrwilliams commented on #13932
Is it actually necessary to do anything for this? DNS should be configured at the OS level, not the application level.

[2018-04-27 01:39] clockworkpc commented on #13948
@bsclifton Here is a video demonstration of what happens every time:

https://www.youtube.com/watch?v=R9GD69EIB9E

It's been a problem in Brave since I started using KolabNow webmail about 6 months ago.  It works fine in Chrome, Chromium, Vivaldi, Firefox.

KolabNow is a paid service.  I don't think you'd have access to the webmail without an account, but I assume they'd rather like their webmail

[2018-04-27 01:58] jasonrsadler commented on #10534
I'm beginning to believe the values that show up now are correct. The Nokia value should have more of a percentage since that's the highest time spent but the percentage gained diminishes wrt how long the user is at the site.

@srirambv Would you retest and let me know what results you get?

[2018-04-27 03:12] kjozwiak commented on #13952
QA attempted to reproduce this several times without any success. It doesn't happen all the time but we've had a few reports coming from the community.

[2018-04-27 07:59] #12675 closed

[2018-04-27 12:09] srirambv commented on #10534
@jasonrsadler will test and update the results here

[2018-04-27 12:58] rotational467 commented on #13948
@clockworkpc I have seen this same behavior in previous releases of Brave on Win10 x64 with my Roundcube installation, but only one on of my PCs.  Immediately after logging in, Brave would crash to the desktop.  I switched browsers for that PC, and just recently when I tried again saw that the issue had been resolved after some Brave updates.

I realize this isn't terribly helpful because I can't

[2018-04-27 13:08] retrocausal commented on #13861
I weigh in here. just felt helpless trying to install brave on a brand new ubuntu 18.04 system. the errors, exactly similar to the one detailed above when I try an apt install.

I could possibly use snap install, since bionic beaver is snappy, but I had had issues in the past , and have opened tickets as well, where the snaps were not released in time and never kept up with the updates of the late

[2018-04-27 13:52] srirambv commented on #858
Is this going to be fixed by fork? @bbondy @bsclifton

[2018-04-27 15:01] srirambv commented on #10534
Verified the issue on 0.22.667. Calculations looks correct.

Site  |      views |    timespent |   %
-- | -- | -- | --
(All included)
nokia.com         |   1    | 20s        | 25
samsung.com    |      1   |  18s    |     23
theverge.com     |    2   |  46s      |   52
(Exclude Nokia)
samsung.com    |     1    | 18s   |      31
theverge.com    |    2  |   46s    |     69
nokia.com         |  1    |

[2018-04-27 16:54] srirambv opened #13961 "Manual test run on OS X for 0.22.x Hotfix"
## Per release specialty tests
 - [x] Brave crashing when submitting online forms on some websites. ([#13947](https://github.com/brave/browser-laptop/issues/13947))
- [x] Update to Muon 5.2.7 ([#13964](https://github.com/brave/browser-laptop/issues/13964))

## Installer

- [x] Check that installer is close to the size of last release.
- [x] Check signature: If OS Run `spctl --assess --verbose /App

[2018-04-27 16:54] srirambv opened #13962 "Manual test run on Windows x64 for 0.22.x Hotfix"
## Per release specialty tests
 - [x] Brave crashing when submitting online forms on some websites. ([#13947](https://github.com/brave/browser-laptop/issues/13947))
- [x] Update to Muon 5.2.7 ([#13964](https://github.com/brave/browser-laptop/issues/13964))

## Installer

- [x] Check that installer is close to the size of last release.
- [x] Check signature: If OS Run `spctl --assess --verbose /App

[2018-04-27 16:54] srirambv opened #13963 "Manual test run on Linux for 0.22.x Hotfix"
## Per release specialty tests
 - [x] Brave crashing when submitting online forms on some websites. ([#13947](https://github.com/brave/browser-laptop/issues/13947))
- [x] Update to Muon 5.2.7 ([#13964](https://github.com/brave/browser-laptop/issues/13964))

## Installer

- [x] Check that installer is close to the size of last release.
- [ ] Check signature: If OS Run `spctl --assess --verbose /App

[2018-04-27 17:07] bsclifton opened #13964 "Update to Muon 5.2.7"
### Description
Update to Muon 5.2.7

### Test plan
  1. Visit `about:brave`
  2. `Muon` version should be `5.2.7`

[2018-04-27 17:46] bsclifton commented on #13964
Fixed with https://github.com/brave/browser-laptop/commit/2775ff9cd67b90d853f4b941f46fec4846f53ea9

[2018-04-27 17:46] #13964 closed

[2018-04-27 18:04] kjozwiak opened #13965 "Release checklist for 0.22.x Hotfix (Release channel)"
# Release Process Checklist

Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

## Release Commands
### First-time Setup
- [x] `git clone git@github.com:brave/vault-updater && cd vault-updater`
- [x] `git clone git@github.com:brave/release-tools`
- [x] `npm install`
- [x] install the her

[2018-04-27 18:07] kjozwiak opened #13966 "Release notes for 0.22.x Hotfix (Release Channel)"
Release Notes:
 - Update to Chromium 66. ([#13912](https://github.com/brave/browser-laptop/issues/13912))
 - Update to Muon 5.2.7 . ([#13911](https://github.com/brave/browser-laptop/issues/13964))
 - brave crashing when submitting online forms on some websites. ([#13947](https://github.com/brave/browser-laptop/issues/13947))
 - Brave menu items which open tabs do so in minimized window. ([#13865](

[2018-04-27 18:39] srirambv commented on #13964
![image](https://user-images.githubusercontent.com/17010094/39379283-c4b7e802-4a28-11e8-84c0-f76461b59a85.png)

[2018-04-27 18:40] eljuno commented on #13370
+1 from community https://community.brave.com/t/office365-popup-email-windows-do-not-close/21072?u=eljuno

[2018-04-27 18:41] kjozwiak opened #13968 "Manual test run on Windows x64 for 0.22.x Hotfix"
## Per release specialty tests
 - [ ] Brave crashing when submitting online forms on some websites. ([#13947](https://github.com/brave/browser-laptop/issues/13947))
- [ ] Update to Muon 5.2.7 ([#13964](https://github.com/brave/browser-laptop/issues/13964))

## Installer

- [ ] Check that installer is close to the size of last release.
- [ ] Check signature: If OS Run `spctl --assess --verbose /App

[2018-04-27 18:55] srirambv commented on #13962
Looks good to go 👍

[2018-04-27 18:55] #13962 closed

[2018-04-27 18:59] kjozwiak commented on #13961
Completed the above manual passes using the following build:

[code]

[2018-04-27 18:59] #13961 closed

[2018-04-27 19:01] btlechowski commented on #13963
Tested using:
[code]

[2018-04-27 19:01] #13963 closed

[2018-04-27 20:56] newtang commented on #13716
Same with Vimeo embeds FWIW.

[2018-04-27 21:37] #13965 closed

[2018-04-27 23:27] anonymau5 commented on #11819
This isn't fixed, this still happens regularly. Once it starts, it refuses to stop making twitch useless for the day.

[2018-04-28 00:40] plaxer commented on #13861
Having the same error on Kubuntu 18.04 LTS as well.

[code]

[2018-04-28 02:41] WalkingSouth commented on #13861
Hi, I had the same issue when attempting the steps you specified yesterday, which was the release date of Ubuntu 18.04 "Bionic". I have found this article to be useful, which states to use the code

`snap find brave
sudo snap install brave`

https://ubuntuforums.org/showthread.php?t=2388431

[2018-04-28 13:09] immanuelfodor commented on #3053
+1, I need the custom search engine settings so much, both Brave desktop and Android lacks this feature :disappointed:

[2018-04-28 15:51] baretomas commented on #973
When is this coming? The only thing blocking me from using Brave! Please help me get rid of Opera/chrome!

[2018-04-28 17:43] eljuno commented on #7082
++ from community https://community.brave.com/t/please-add-estimated-remaining-time-for-downloads/21138?u=eljuno and https://community.brave.com/t/no-download-details-speed-and-size-of-files/21142?u=eljuno

[2018-04-28 22:09] kioken commented on #13156
![image](https://user-images.githubusercontent.com/902144/39401266-e2239c38-4b0e-11e8-8ffa-87a0c0c8adee.png)

As of today this is what shows up. Does this mean my amazing content creators won't be seeing their hard work paid this month? I'm hoping May 11th changes to the end of this month, because it's not right for a glitch on the Brave side to cause my friends to not get paid. :( Happy it's bein

[2018-04-28 22:57] BobT36 commented on #13156
Now mine's showing April 30th.. Still "Currently Processing".

[2018-04-29 08:27] NejcZdovc commented on #13156
@BobT36 so if you are pushed back only for 3 days, that means that you are hitting one rule in the client and not the server anymore. I would love to debug this process with you if you have time. Please let me know at nejc[at]brave.com and we can set up the call.
Thank you

[2018-04-29 09:53] krnl commented on #3555
+1

[2018-04-29 17:56] BobT36 commented on #13156
Sure. I'll shoot you a message.

Hopefully our timezones line up enough, I'm on U.K time and work during the week.

[2018-04-29 20:29] Dietbrand commented on #5086
+1
Still happens in Ubuntu Bionic Mate. Installed as a snap

[2018-04-29 22:44] AfricaJT opened #13970 "Centering Bookmarks Bar - Feature Request"
### Description
Hello there,
I think I will be the only one asking for this niche feature, but maybe an idea towards a minimalist/condensed UI - **having the favicons on the bookmarks bar to be centered so that it is inline with the search bar above it?**

![bookmarks bar](https://user-images.githubusercontent.com/31889765/39411611-a9d8358c-4c0d-11e8-997c-98afd3397302.JPG)

I really enjoy the favi

[2018-04-30 03:48] danielrob opened #13971 "Lost pinned tabs, pinning crashes Brave, crazy tab behaviour after update."
### Description
I upgraded to version `0.22.669` yesterday. I'm on OSX 10.11.6 (15G1611).

### Steps to Reproduce
The only reproducible part of my issue is now that adding a pinned tab causes Brave to instantly crash.

  1. Pin a tab.

**Actual result:**
The tab _is_ pinned, but:
![screen recording 2018-04-30 at 03 40 pm](https://user-images.githubusercontent.com/5865302/39414587-6ab55bac-4c8d-11e

[2018-04-30 05:56] bsclifton commented on #9580
+1 from @clockworkpc via https://github.com/brave/browser-laptop/issues/13948

[2018-04-30 05:57] bsclifton commented on #9580
+1 from @rotational467 via https://github.com/brave/browser-laptop/issues/13948#issuecomment-384962585

[2018-04-30 05:58] bsclifton commented on #13948
@rotational467 awesome- thanks for the heads up on the roundcube platform

I found/re-opened the original issue tracking crash with RoundCube and gave it a bump. I'm going to close this issue as a duplicate.  For updates, you can subscribe to https://github.com/brave/browser-laptop/issues/9580

Thanks! 😄

[2018-04-30 05:58] #13948 closed

[2018-04-30 05:59] #13602 closed

[2018-04-30 06:16] bsclifton commented on #973
@baretomas we are currently working on a replacement for the Muon (electron fork) based Brave which is a direct fork of Chromium. This does feature tabs on top 😄 More info can be found in the blog post we shared late last month:
https://brave.com/development-plans-for-upcoming-release/

[2018-04-30 06:50] petemill commented on #13825
Fixed with c66 / muon 6.0.5

[2018-04-30 06:50] #13825 closed

[2018-04-30 06:51] petemill commented on #13827
Should be fixed via muon 6.0.5

[2018-04-30 06:51] #13827 closed

[2018-04-30 08:43] NejcZdovc opened #13972 "Display error when ledger server is not working"
### Description

When ledger server is down, we should display notification to users that server is down, so that they know what is doing on.

### Steps to Reproduce

  1. Enable payments
  2. Turn off internet
  3. Wait 1min and make sure that you see error in the terminal

**Actual result:**

![image](https://user-images.githubusercontent.com/9574457/39420083-366a5ce6-4c63-11e8-9867-60d33dc60154

[2018-04-30 13:12] GeetaSarvadnya opened #13974 "Copy button is enabled when wallet address for currencies not generated"
### Description
Copy button is enabled when wallet address for currencies not generated

### Steps to Reproduce
1. Enable payments
2. Ensure wallet address or QR code is not generated for currencies due to server error
3. Copy button is enabled. Clicking on it shows copied message but nothing is copied into clipboard

**Actual result:**
Copy button is enabled when wallet address for currencies not

[2018-04-30 13:41] LaurenWags opened #13975 "add Dogpile to list of search engines"
### Description
Requested via community:
Add Dogpile to list of search engines

### Steps to Reproduce

  1. Navigate to about:preferences#search
  2.
  3.

**Actual result:**
Dogpile is not listed

**Expected result:**
Dogpile should be a search option

**Reproduces how often:**
easily

### Brave Version

**about:brave info:**
any

**Reproducible on current live release:**
yes

### Additional Inf

[2018-04-30 13:49] chrismatheson commented on #3226
Just to share my research on this feature. . . .

keytar can access the OSX keychain, however (as far as i can tell) it does *not* allow / enable access to the credentials saved as internet passwords, which would be pretty much everything required for regular use / interior with the OSX /iOS ecosystem.

https://www.npmjs.com/package/keychain under the hood uses the `/usr/bin/security` CLI which ca

[2018-04-30 14:02] NejcZdovc commented on #13974
@GeetaSarvadnya this will be solved with #13973, where we will add overlay, so that you can't trigger this flow

[2018-04-30 14:02] #13974 closed

[2018-04-30 14:15] shortstuffsushi opened #13976 "Brave not opening new window / tab when prompted by another application (Visual Studio)"
I searched and wasn't able to find any other duplicates of this, though the wording is generic enough that I may be. Sorry if so.

### Description
When you launch a web project in Visual Studio, it will by default attempt to launch you into a window in your preferred / default browser. For instance, I have a project that it tries to launch @ localhost:44302. This works fine for Chrome and the othe

[2018-04-30 14:45] srirambv commented on #13007
Also an issue with typing into icloud login with site isolation enabled. Reported via https://community.brave.com/t/icloud-webversion/19203/2

[2018-04-30 16:47] diracdeltas commented on #3226
@chrismatheson thanks for looking into it.

one thing to note is Brave is in the process of migrating to a chromium fork: https://github.com/brave/brave-browser. since this task is fairly significant, we would probably not accept it in this repo unless it is easily portable to the new repo.

implementing it as a password manager extension is probably the most portable way to do it, but the extensi

[2018-04-30 17:58] bsclifton commented on #12937
@jempis @hasufell there are some documented steps which you can try here:https://community.brave.com/t/window-is-solid-black-or-solid-white-looks-like-a-blank-page/10003

Please let us know if this helps

[2018-04-30 18:03] bsclifton commented on #13855
cc: @lukemulks

[2018-04-30 18:42] eljuno commented on #6042
+1 from Reddit https://www.reddit.com/r/brave_browser/comments/8fzw2p/is_there_a_way_to_disable_the_top_site_thumbnails/

[2018-04-30 20:06] laradevitt commented on #9211
I don't have particularly shaky hands or anything, but this happened to me three times in the last half hour. Not a deal breaker, but annoying sometimes.

[2018-04-30 20:12] Nevwild commented on #665
+1

I would love to be able to use Things 3's Autofill option,  which requires applescript support.

[2018-04-30 20:32] diracdeltas commented on #12923
Setting a milestone, per discussion in Slack ledger channel.

https://github.com/brave/internal/issues/298

[2018-04-30 20:49] flowck commented on #3555
+1.
![screenshot from 2018-04-30 21-49-01](https://user-images.githubusercontent.com/1679333/39449558-530837ee-4cc0-11e8-892b-4c08d8461630.png)

[2018-04-30 22:03] mrose17 opened #13977 "Add support for BCH/BTG/DASH for funding a BAT wallet"
here is the current funding screen:
<img width="1441" alt="untitled" src="https://user-images.githubusercontent.com/400552/39452565-76ae17f6-4c87-11e8-90f6-d15910a03e19.png">
ideally all of the altcurrencies supported by uphold should be supported. when https://github.com/brave-intl/bat-ledger/pull/215 is merged into master, we can then update the `bat-client` to use the new `GET /v3/wallet` endpo

[2018-04-30 22:53] mrose17 commented on #13190
there is no consensus on this. the only solution that does not involve either acrobatics or confusing the user is the one i suggested. since no one else likes that. i am moving this to the boneyard.

[2018-04-30 22:56] UFLrob commented on #12534
Brave creates a ...temp.node file in the %temp% folder and I was wondering what that file is and what it is used for.

The reason I’m asking is that, like many Malware-adverse organizations, my office is switching to a policy of restricting the executables (and DLLs) that Windows will execute to a trusted list.  It an effort to allow usage of Brave, I’ve allowed all software signed with the “Brave

[2018-05-01 00:12] DestinFaroda opened #13978 "secured.fyi doesn't display properly"
### Description
The internet site https://secured.fyi/ works fine on Firefox, but when I use my Brave browser, it doesn't show me most of the content. Why?

### Steps to Reproduce
Go to https://secured.fyi/ and have a look at the categories. I do see the table header, but not the rest of the tables .

**Actual result:**
Besides the table header, I don't see much else.

**Expected result:**
There s

[2018-05-01 00:46] sudomake opened #13979 "Tabs become unmuted when dragged to a new window"
### Description
There's a bug that causes muted tabs to become unmuted when making them their own window.

### Steps to Reproduce
  1. Open webpage with a video, such as a video on youtube.com or twitch.tv.
  2. Play the video.
  3. Click the icon on the tab to mute the tab.
  4. Drag the tab so it becomes a new window.

**Actual result:**
The video will become unmuted despite the icon showing it

[2018-05-01 01:27] #13972 closed

[2018-05-01 06:01] bsclifton commented on #12537
Hi there @modusops - I believe this issue is fixed.  I tried several variations of the steps above and was unable to reproduce (sorry for not responding sooner)

I'm going to close this out as it has been fixed. If you're still encountering the issue, please reopen and include some more notes 😄 👍 Thanks!

[2018-05-01 06:01] #12537 closed

[2018-05-01 06:04] bsclifton commented on #12536
This has been addressed with 0.20.x which finally split the history and bookmarks apart 😄 Before then, a timestamp of -1 was used to signify these were example bookmarks to show on a fresh `New Tab` page

[2018-05-01 06:04] #12536 closed

[2018-05-01 06:09] bsclifton commented on #12511
Closing in favor of https://github.com/brave/browser-laptop/issues/7866

[2018-05-01 06:09] #12511 closed

[2018-05-01 06:38] bsclifton commented on #8981
Wouldn't be too hard to pull this fix in; we'd want to patch in https://github.com/electron/electron/pull/10070/files

Assigning to myself since I'm looking at https://github.com/brave/browser-laptop/issues/13014 which may or may not be related

[2018-05-01 06:45] bsclifton commented on #11203
+1 from @comodoro via https://github.com/brave/browser-laptop/issues/12996

[2018-05-01 06:47] bsclifton commented on #12996
@comodoro I strongly believe this issue is the same as https://github.com/brave/browser-laptop/issues/11203 (good catch, @eljuno!) so I'm going to close as a duplicate

In the screenshot in https://github.com/brave/browser-laptop/issues/11203, the icons aren't showing in the bookmarks toolbar (which is the default setting, matching Safari behavior).  However, @LaurenWags had enabled that, you'd se

[2018-05-01 06:47] #12996 closed

[2018-05-01 06:52] bsclifton commented on #7133
I'm going to close this issue as I've been unable to reproduce and there haven't been any more reports since this was opened

For folks reading this, please re-open if you experience the issue 😄 Thanks!

[2018-05-01 06:52] #7133 closed

[2018-05-01 06:54] bsclifton commented on #12995
Closing as a duplicate of https://github.com/brave/browser-laptop/issues/12995

[2018-05-01 06:54] #12995 closed

[2018-05-01 06:55] bsclifton commented on #10179
@JFrankfurt you reported this issue with https://github.com/brave/browser-laptop/issues/12995.  If you're still using Brave, have you experienced this issue?

[2018-05-01 06:59] bsclifton commented on #12782
@3d73a4a412 I believe you can install `libgnome-keyring` and it should resolve the issue. I think this dependency was missed until recently (docs should have been updated)

I'll close for now- please check out https://github.com/brave/browser-laptop/blob/master/docs/linuxInstall.md and re-open if you still encounter the issue. Thanks 😄

[2018-05-01 06:59] #12782 closed

[2018-05-01 07:03] #9365 closed

[2018-05-01 07:08] #11226 closed

[2018-05-01 07:13] bsclifton commented on #13001
Closing as the OS has a way to disable the sound (thanks for the link, @Liunkae!)

[2018-05-01 07:13] #13001 closed

[2018-05-01 07:33] iamVP7 commented on #13938
Bookmarks  & Context menus Test cases worked properly.

@srirambv  can you help to test this case from Context menus
 _Make sure context menu items on content work inside an editable control on about:styles (input, textarea, or contenteditable_

[2018-05-01 07:43] chrismatheson commented on #3226
@diracdeltas good to know, so in migrating to a chromium fork would mean no native `node modules`?

[2018-05-01 09:03] ketonic commented on #11819
I am getting this error while i am using any kind AdBlocker (Adblock plus and Ghostery).
I tried to disable each block by it self but not untill i turned off Adblock plus and marked Twitch as "Trust Site" in Ghostery it started to work.

[2018-05-01 09:44] andybp85 commented on #6251
👍

[2018-05-01 09:53] hugobuddel commented on #10179
I still have two duplicated pins that I can't remove. I unpinned one of the two, and suddenly three other pins disappeared as well (this never happened before). I tried to make a movie because pins kept appearing and disappearing for about 20 seconds before stabilizing but I was too late. Then I opened two new windows and the duplicate pin is back, but the other three are gone.

Using Brave 0.22.6

[2018-05-01 10:35] hugobuddel commented on #10179
A thought: maybe there is an interplay between multiple windows. As in, I had like 5 or 6 windows open when the weird dance of disappearing pins happened. Maybe some kind of race condition can occur when multiple windows are open. Just speculating here; the pinned-tab behavior can be very inconsistent and unpredictable.

[2018-05-01 11:36] hugobuddel commented on #10179
Here a screencap where I

1. Unpin the duplicate pinned tabs (from pinboard),
2. Open a new window with ctrl-n, one of the pinned tabs is back, (also note that the menu bar appears)
3. Close the newly pinned tab, the pin reappears,
4. Goto 3

![output_optimized2](https://user-images.githubusercontent.com/1306453/39471658-897e8042-4d44-11e8-8334-31b5f35c286e.gif)

(First uploaded to #13271, wanted

[2018-05-01 12:49] srirambv commented on #13938
For that you need to follow this
1. open about:styles
2. Scroll down to any text box
3. Right click in textbox ensue you see context menu
4. Ensure all the enabled options work
![image](https://user-images.githubusercontent.com/17010094/39473335-538d7272-4d1c-11e8-89e0-27f27bed28f5.png)

You need to test above with empty textbox, something typed in, and misspell word

[2018-05-01 13:31] LaurenWags commented on #10176
+1 from community https://community.brave.com/t/wrong-icon-on-last-tab-on-osx/21371

[2018-05-01 13:50] srirambv commented on #517
+1 from https://community.brave.com/t/reader-view-vue-lecture/21364

[2018-05-01 15:35] TheDevKing commented on #3101
It looks like [this](https://cs.chromium.org/chromium/src/chrome/browser/ui/views/frame/browser_command_handler_linux.cc?sq=package:chromium&l=31) is where this specific issue is being addressed in Chromium. Unfortunately I don't know how to go about bringing this into Muon.

[2018-05-01 15:47] LaurenWags commented on #9144
+1s from community: https://community.brave.com/t/issue-opening-pdf-files/17968/5 using http://jkorpela.fi/html/iframe-pdf.html

[2018-05-01 15:47] petemill commented on #10179
Duplication can happen as a result of the tactic of storing the originally pinned URL but comparing the pinned tabs to the current URL. I have this same problem with Google Inbox, since it always redirects when loaded, yet somehow in my session-store-1 has the un-redirected URL pinned. The code should compare like-for-like for reliability.

[2018-05-01 16:38] #13516 closed

[2018-05-01 16:56] srirambv opened #13980 "Corrupted seed doesn't show overlay but shows abandon as recovery codes"
### Description
Corrupted seed doesn't show overlay but shows abandon as recovery codes

### Steps to Reproduce
  1. Enable payments and close browser after wallet is created
  2. Edit `ledger-state.json` file and change all seed value to 0
  3. Relaunch browser, payments-> advance settings -> Backup wallet , shows abandon text , payments doesn't show corrupted overlay

**Actual result:**
![image]

[2018-05-01 17:22] bradleyrichter opened #13981 "Refine Toolbar UI with New Icons and styling refinements"
Issue: Dreams of UI refinements stuck in design world.

Fix: Implement collection of UI design refinements and new icon set.

Test proceedure:

Open new instance that includes new changes.
Compare to previous version.
Be amazed by beauty of new version.
Click buttons and resize window to make sure nothing blows up or looks wonky.

actual screen shot showing changes from @petemill go here:

[2018-05-01 17:29] bsclifton commented on #13704
Closing as a duplicate of https://github.com/brave/browser-laptop/issues/13981

[2018-05-01 17:29] #13704 closed

[2018-05-01 18:01] srirambv commented on #13980
![image](https://user-images.githubusercontent.com/17010094/39485852-1c126d9e-4d48-11e8-9d33-86f9542f426b.png)

importing this recovery key fails.

[2018-05-01 18:06] Liunkae commented on #3101
@TheDevKing If this problem is fixed in Chromium, the [new version of Brave](/brave/brave-browser) may get the fix for free.

[2018-05-01 18:12] bsclifton commented on #13766
This can be done via signing up for the Transifex service and filling in the translations 😄

More details here:
https://github.com/brave/browser-laptop/blob/master/docs/translations.md

[2018-05-01 18:12] #13766 closed

[2018-05-01 18:15] bsclifton commented on #12110
Will be fixed by our upcoming fork (thanks for the update, @yrliou!)

For `browser-laptop` (the current version of the product), I'm going to close this issue as `wontfix`

[2018-05-01 18:15] #12110 closed

[2018-05-01 18:24] petemill opened #13982 "Cannot scroll webview contents"
### Description
Sometimes a switched-to Tab does not scroll via mouse wheel or via keyboard (arrows or page-up, etc). In this state, whilst links on the page do get the correct hover state, and text is selectable, the mouse cursor does not get pointer over links.

The only step to rectify is to re-attach (either by switching away and back again) or via `display: none` on webview.

### Steps to Rep

[2018-05-01 18:27] petemill opened #13983 "Extension popups crash browser"
### Description
Basic Non-tab `<webview src="x">` elements are not loading any contents. These are used in extension popups which also cause a crash.

### Steps to Reproduce

  1. Enable metamask extension
  2. Click metamask extension icon

**Actual result:**
Crash

**Expected result:**
Loads popup (invisible on first time, visible on second time, like release)

**Reproduces how often:**
100%

##

[2018-05-01 18:27] petemill commented on #13983
Should be fixed with muon 6.0.6

[2018-05-01 18:27] #13983 closed

[2018-05-01 18:29] DanielJenkyn commented on #12285
@bsclifton In the past few weeks I've only seen it once. From a user perspective, not an issue anymore

[2018-05-01 18:31] MatthewDLudwig commented on #13156
Last Contribution March 22nd, Next contribution Overdue.  My budget is 10 BAT and I have over 100 in the wallet.  Any suggestions as to next steps?  I have quite a few issues with the ledger, is it worth just uninstalling and clearing everything out before reinstalling?

[2018-05-01 18:54] diracdeltas commented on #3226
@chrismatheson that's right, we aren't planning on supporting native node modules

[2018-05-01 19:07] catilac commented on #13979
I can work on this!

[2018-05-01 20:13] bsclifton commented on #12285
@DanielJenkyn awesome- I'll close this issue for now... but let's re-open if it resurfaces 😄 Thanks for verifying 😄

[2018-05-01 20:13] #12285 closed

[2018-05-01 20:28] petemill commented on #13931
Should be fixed with upcoming 0.22.701

[2018-05-01 20:32] petemill commented on #13815
Should be fixed with 0.22.700

[2018-05-01 20:32] #13815 closed

[2018-05-01 20:34] kjozwiak commented on #12744
Thanks for the check @pautasso 👍 Looks like this is still an issue with `C66` as well:

[code]

[2018-05-01 20:36] petemill commented on #13803
Seems fixed with 0.22.700

[2018-05-01 21:00] LaurenWags commented on #13322
multiple +1s from community: https://community.brave.com/t/bookmark-search-field-does-not-work/16154

[2018-05-01 21:10] LaurenWags commented on #3209
+1 from community: https://community.brave.com/t/clicking-menu-items-a-second-time-should-close-them-not-trigger-them-to-reopen/20657

[2018-05-01 21:24] bsclifton commented on #13322
@jasonrsadler deleting the `session-store-1` file is pretty extreme and IMO shouldn't be done unless there is no other choice (and even then, we'd want to back up the file).  Please keep in mind, users may be reading this issue and may have a lot of data associated in their session store (ledger, bookmarks, history, etc)

Would the user be able to work-around this issue by exporting / importing th

[2018-05-01 21:32] jasonrsadler commented on #13322
@bsclifton I agree deleting sessionStore is a last resort. I don't think exporting and reimporting the bookmarks fixes it as the bug is introduced upon first import. In fact, if you manually create a bookmark with a single-quote in it, export the bookmarks and reimport them, the bug is introduced.

But yes. Definitely a backup of the file should be made if the user goes that route. Otherwise, they

[2018-05-01 22:34] #13928 closed

[2018-05-01 22:48] petemill commented on #13728
Found the bug and fixed it. Should be fixed with 0.22.701

[2018-05-01 22:48] #13728 closed

[2018-05-01 22:49] petemill commented on #13943
Need to wait for the next build (0.22.701) to check on Windows

[2018-05-01 23:26] bsclifton commented on #13313
@NejcZdovc are the bip39 changes in a branch? If not, would we be able to create one? We are moving sync to 0.24.x in favor of Tor tabs

[2018-05-01 23:32] ultimape commented on #13060
Possibly related to #10767 and #10672, which has more details on the topic of webtorrents and fetch() interception.

[2018-05-01 23:42] petemill commented on #12957
Just got a crash on quit:
`Brave(31361,0x7fff93bb6380) malloc: *** error for object 0x7fba51150428: pointer being freed was not allocated`

Here's the stack: https://gist.github.com/petemill/d1536fcab55d9ba45b65ea50dd02ea89

[2018-05-02 01:54] jasonrsadler commented on #13322
Resolved in 122aa709cb0c3c5fb3caaae7ad8d54d03843eb5e

[2018-05-02 01:54] #13322 closed

[2018-05-02 02:25] josephbhunt opened #13984 "Shields panel reload button not working in Gmail"
Have you searched for similar issues?
Yes

### Description
Shields panel reload button does not work in Gmail.

### Steps to Reproduce

  1. Open a new tab and log into gmail.
  2. Click on the "Open Brave Shields Panel" button.
  3. Click the reload button in the bottom right of the shields panel.

**Actual result:**
The page will not reload. Verified by looking at the network tab of the develope

[2018-05-02 02:30] jasonrsadler commented on #13977
Current supported currencies in uphold:
BitCoin
BC Cash
BC Gold
Ethereum
BAT
Litecoin
Dash
Voxel (not listed in currencies to choose from on dashboard though)

[2018-05-02 02:52] mrose17 commented on #13977
thanks! sadly XRP support is only partial at present.

i don't see Voxel support on uphold, can you provide a link?

[2018-05-02 02:57] jasonrsadler commented on #13977
https://uphold.com/en/transparency%C2%A0

I think it's still in the 'up and coming', XRP does show up in the add funds dropdown on the dashboard

<img width="1915" alt="screen shot 2018-05-01 at 10 53 35 pm" src="https://user-images.githubusercontent.com/25326067/39503250-e60149a0-4d92-11e8-85ea-55ed50967c43.png">

[2018-05-02 03:43] bsclifton commented on #13322
@jasonrsadler I updated the original post with your test steps and assigned this to the 0.22.x release 3 milestone.  Also tagged with release notes include/test plan specified

Do you mind looking over the steps to see if they look correct? Thanks 😄 👍

[2018-05-02 03:49] bsclifton commented on #13843
@diracdeltas is this OK to remain in 0.24.x? (along with https://github.com/brave/browser-laptop/pull/13119) or should it be uplifted to 0.23.x?

[2018-05-02 03:56] bsclifton commented on #13779
@diracdeltas can you add a test plan for this? Or are the steps in https://github.com/brave/browser-laptop/issues/11778 sufficient? (if so, let's tag this as `no-qa-needed`)

[2018-05-02 04:02] diracdeltas commented on #13843
@bsclifton it should just be in the same release as #12671 since it's a follow-up

[2018-05-02 04:02] bsclifton commented on #12965
removing milestone since this is marked as a duplicate 😄

[2018-05-02 04:40] petemill opened #13985 "bookmarks toolbar does not reduce in height in text-only mode"
### Test plan
See https://github.com/brave/browser-laptop/pull/13986

### Description
#13758 introduced fixed height on bookmarks bar to ensure it did not wrap to two lines. Looks like (possibly intentionaly) text-only mode in current release, the bar is a couple pixels shorter.

0.22.700

[2018-05-02 04:55] diracdeltas commented on #13779
@bsclifton test plan is in https://github.com/brave/browser-laptop/pull/13820

[2018-05-02 04:56] #13906 closed

[2018-05-02 07:26] michaldybczak commented on #8981
Great. Will test it once this is done. So far, global menus appear but are still not clickable, so this issue is long overdue.
Thanks.

[2018-05-02 09:08] DestinFaroda opened #13987 "HubZilla compatibility"
### Description
Some features of HubZilla don't work with Brave. For example, the "text encryption" button and the "insert link" button when writing articles.

### Steps to Reproduce
Log into a HubZilla account and write an article. Try to insert a link or to encrypt the text. In my case, nothing happens.

**Actual result:**
Nothing happens.

**Expected result:**
It should allow me to encrypt the

[2018-05-02 09:50] jasonrsadler commented on #13322
@bsclifton Yes. Those steps are correct. Obviously to STR now, you'll need a commit before 122aa70. Thank you sir!

[2018-05-02 10:07] bantros opened #13988 "Toolbar back button"
### Description
Did a quick search but couldn't find a similar issue.

The back button in the toolbar will be 2-3 times the usual size on some tabs. Doesn't affect all tabs. There is no consistency to the issue but it always happens if I have at least 2 tabs open.

It doesn't affect the functionality of the browser or button, everything still works but it is an annoying visual error.

### Steps to

[2018-05-02 11:07] TheDevKing commented on #3101
After building the [new version](https://github.com/brave/brave-browser) and testing in Mint 18.3 I can confirm that the back and forward buttons _do_ work as expected (at least for me). Just thought I'd follow up with an actual confirmation of this issue being fixed (again, just going by my single test).

[2018-05-02 13:09] LaurenWags commented on #517
+1 from customer email

[2018-05-02 13:48] srirambv opened #13989 "Driver download breaks with adblock on Lenovo support site"
### Description

https://community.brave.com/t/lenovo-pcsupport-driver-download-menu-broken-without-ads-tracking/21419

Driver download breaks with adblock on Lenovo support site

### Steps to Reproduce

  1. Enable ad block
  2. Visit https://pcsupport.lenovo.com/us/en/products/laptops-and-netbooks/ideapad-z-series-laptops/ideapad-z570/downloads
  3. Driver download deatils is blocked due to a sc

[2018-05-02 14:04] LaurenWags commented on #13633
+1s from community: https://community.brave.com/t/metamask-fails-to-render-contents-of-metamask-window-on-first-click/19590

[2018-05-02 14:08] jasonrsadler commented on #13980
Same on master

Brave: 0.24.0
V8: 6.5.254.41
rev: ca83ee381e6152704c4c1793f118d89d0770e6dc
Muon: 5.1.2
OS Release: 17.5.0
Update Channel:
OS Architecture: x64
OS Platform: macOS
Node.js: 7.9.0
Brave Sync: v1.4.2
libchromiumcontent: 65.0.3325.181

[2018-05-02 15:58] srirambv opened #13990 "Tear off tab unmute's audio but still shows mute indicator"
### Description
Tear off tab unmute's audio but still shows mute indicator

### Steps to Reproduce
  1. Open YT and play a video in a tab
  2. Mute the tab by clicking on the speaker icon
  3. Tear the YT tab into a window, audio starts playing but the speaker icon still shows as mute
  4. Attach the tab back to original window, audio continues to play

**Actual result:**
Tear off tab unmute's aud

[2018-05-02 17:29] srirambv commented on #3800
Verified on Windows x64
* 0.22.700 9306021
* libchromiumcontent 66.0.3359.139
* muon: 6.0.7

[2018-05-02 17:44] srirambv opened #13991 "Cannot set property 'enabled' of null when launching or closing Brave."
### Description
Cannot set property 'enabled' of null when launching from brave

### Steps to Reproduce

  1. Build from 9306021
  2. Launch from console
  3. Throws error when browser is launched

**Actual result:**
[code]

**Expected result:**
Shouldn't show the error

**Reproduces how often:**
100%

### Brave Version

**about:brave info:**
0.22.700 9306021
* libchromiumcontent 66.0.3359.139
* m

[2018-05-02 17:48] Liunkae commented on #13988
The back/forward buttons grow whenever the back/forward gestures are activated. (#9617)

![](https://user-images.githubusercontent.com/11330831/27703092-2a0cfae6-5cbb-11e7-9ffe-2c01843eff3e.gif)

In the (original post's) screenshot, it appears that the back button somehow got stuck in its larger size.

[2018-05-02 19:01] srirambv opened #13992 "Clicking on preferences page causes orange border around"
### Description
Clicking on preferences page causes orange border around

### Steps to Reproduce
  1. Upgrade to 0.22.701
  2. Open about:preferences#security
  3. Shows an orange border inside the frame, doesn't go away when clicked elsewhere

**Actual result:**
![image](https://user-images.githubusercontent.com/17010094/39543543-85743192-4e19-11e8-8f00-939018e53f4a.png)

**Expected result:**
Sho

[2018-05-02 19:13] srirambv commented on #6547
Right click on some entries in `about:history` doesn't bring up the `Include in Brave payments` option. Second attempt shows up the option.  Happens on random links not specific ones.

cc: @kjozwiak @LaurenWags @GeetaSarvadnya

[2018-05-02 19:16] srirambv commented on #6547
Also nested bookmarks inside folders don't show the option. Is this expected?  @ryanml

[2018-05-02 19:29] srirambv opened #13993 "All publishers show same amount of time spent even if the time spent is more"
### Description
All publishers show same amount of time spent even if the time spent is more

### Steps to Reproduce

  1. Clean install 0.22.701
  2. Enable payments
  3. Visit sites in  new tab and spend different on each page
  4. Each publisher on the table has the same amount of time spent.

**Actual result:**
All publishers show same amount of time spent even if the time spent is more

**Exp

[2018-05-02 19:42] srirambv opened #13994 "Include this publisher context option doesn't re-add a deleted publisher"
### Description
Include this publisher context option doesn't re-add a deleted publisher

### Steps to Reproduce
  1. Clean install 0.22.701
  2. Enable payments, visit some sites to add in ledger table
  3. Delete one of the publisher from the list
  4. Open about:history and right click on the publisher deleted and click `Include this publisher`
  5. Open payments, publisher is still under never

[2018-05-02 19:49] bsclifton commented on #13991
Likely caused by https://github.com/brave/browser-laptop/pull/13933 - I did have to do a manual merge

[2018-05-02 19:51] kjozwiak commented on #13991
You'll get the above silent crash when you close Brave as well. Those crashes are also being logged within `chrome://crashes`.

[2018-05-02 19:55] ryanml commented on #13994
@NejcZdovc what do you think given the two expected results?

[2018-05-02 19:57] kjozwiak opened #13995 "brave doesn't launch correctly under linux"
### Description

When launching `0.22.701` 339ffd6 under Linux, you'll notice that the UI hasn't loaded correctly. Brave is unusable in this state and will eventually crash via a `segmentation fault`.

### Steps to Reproduce

  1. launch `0.22.701` 339ffd6 using `brave-beta  --user-data-dir-name=brave-beta`

**Actual result:**

<img width="1410" alt="screen shot 2018-05-02 at 3 38 21 pm" src="http

[2018-05-02 20:04] jonathansampson commented on #13810
I think I ran into this today too:

![absent-tab-mini](https://user-images.githubusercontent.com/815158/39546459-1403a00a-4e1a-11e8-8416-32fcd403521e.gif)

[code]

[2018-05-02 20:13] bsclifton commented on #13995
possibly related to https://github.com/brave/browser-laptop/issues/13991

[2018-05-02 20:14] LaurenWags opened #13996 "muted tab plays when you navigate back to it"
### Description
If you mute a tab (either via clicking on the speaker icon on the tab or right click and select 'Mute tab'), navigate away, and come back to the tab, audio starts playing again even though the speaker icon still shows muted.

### Steps to Reproduce

  1. Open a tab that you can mute (I used a news article with a video).
  2. Mute the tab (either via speaker icon or right click).

[2018-05-02 20:32] LaurenWags opened #13997 "'Include site in Brave Payments' not available for bookmarks without http/https"
### Description
If a bookmark doesn't have http or https in the URL (Location), then the option to 'Include Site in Brave Payments' does not appear on the context menu

### Steps to Reproduce

  1. Clean install 0.22.701
  2. Enable payments, visit a couple of sites so you have some data in your ledger table.
  3. Open about:bookmarks.
  4. Click on the star+ icon.
  5. Enter title and location (b

[2018-05-02 21:09] srirambv commented on #13634
Watching YT videos in a single tab doesn't add all the video links in history. It only adds one entry for the first page visited in the tab. Subsequent page loads of same domain are not listed. However opening a new video in a new tab adds it to the history list.  #3848  fix could be the root problem here.

[2018-05-02 21:15] bsclifton commented on #13991
Fixed with https://github.com/brave/browser-laptop/commit/1b312a25e4b7cba19ebfda0120068516484bb3bd

[2018-05-02 21:15] #13991 closed

[2018-05-02 21:26] kjozwiak commented on #13634
We should really look into this issue and see if we can get a fix for this milestone. IMO, not correctly adding the users history into `about:history` is a pretty bad bug, especially when it affects websites like `YT` as @srirambv mentioned above. It makes it very hard for a user to go back and search for something specific in `about:history`. The only time we shouldn't be adding entries into the

[2018-05-02 21:37] diracdeltas commented on #13997
discussed with @ryanml in slack and we decided to remove the context menu item when the bookmark doesn't have a protocol because the ledger info key requires a protocol. i guess the importance of this depends on how many users enter a URL without a protocol as a bookmark.

[2018-05-02 21:37] matthewberryman commented on #13995
I'm seeing this under v0.22.702 on macOS

[2018-05-02 21:41] matthewberryman commented on #13995
Confirmed, fixed in v0.22.702 on macOS

[2018-05-02 21:46] petemill commented on #13995
@matthewberryman thanks, when you say it was fixed in .702 - did you get your profile back or did it start with :gulp: ...a new profile?

[2018-05-02 22:24] bsclifton commented on #13931
Confirmed this is fixed! 🎉

[2018-05-02 22:24] #13931 closed

[2018-05-02 22:34] #13995 closed

[2018-05-02 22:35] bsclifton commented on #13995
Should have been fixed with https://github.com/brave/browser-laptop/commit/1b312a25e4b7cba19ebfda0120068516484bb3bd

[2018-05-02 22:38] matthewberryman commented on #13995
@petemill Since I tried blowing away the user data folder anyway to get .701 working I decided to blow it away myself before installing .702. To test to see if .701 -> .702 keeps the user profile I then first started in .702 (since with the bug I can't make any changes in .701), added a bookmark to the bookmark toolbar, reverted to .701, saw it was still there, then swapped back to .702 and it was

[2018-05-02 23:02] ryanml commented on #13993
I think I have a fix for this one... Let's discuss the approach soon

cc: @NejcZdovc

[2018-05-03 03:09] catilac commented on #13979
related: #13996 , #13990

[2018-05-03 04:38] knowler commented on #7619
We are experiencing this issue with Webpack/Browsersync running in [Sage](https://github.com/roots/sage) on both Windows and macOS. I was able to reproduce it in a Laravel Mix (Webpack)/Browsersync setup as well. The above `NODE_ENV=production` fix worked in both situations.

Related thread: https://discourse.roots.io/t/blank-browsersync/12362?u=knowler

[2018-05-03 04:42] bsclifton commented on #13943
Verified this works great on Windows 10 x64 with latest build (0.22.702) 👍

[2018-05-03 04:42] #13943 closed

[2018-05-03 04:49] bsclifton commented on #13997
Per comment from @diracdeltas, I'm going to remove the milestone from this issue. Unfortunately, there isn't a clean way to solve this without resolving the bookmark

[2018-05-03 05:39] bsclifton commented on #13156
+1 from user (contacted me via email). No contributions since March 18th (code prior to 0.22.22 was reported as working; the March contribution happened)

[2018-05-03 06:45] NejcZdovc commented on #13994
@ryanml first scenario, so if publisher was deleted, we shouldn't display include

[2018-05-03 06:53] NejcZdovc opened #14000 "Notify user why contribution is pushed back (30 minute min browsing time)"
### Description

We want to display some notification on payments page, when contribution is due, but min browse time is not meet.

### Steps to Reproduce

  1. Enable payments
  2. Visit one site for few minutes
  3. Change reconcile stamp so that you trigger contribution

**Actual result:**

User contribution date was pushed back

**Expected result:**
We should notify user why contribution was p

[2018-05-03 08:30] mikran commented on #13861
I just upgraded to 18.04 and this happened to me too.

[2018-05-03 08:46] valnuro commented on #5955
+1 Can't us Brave as primary browser because of this

[2018-05-03 08:46] bantros commented on #13988
I wasn't aware of the swipe gestures @Liunkae as I only use with mouse/keyboard on desktop so haven't seen that animation before, thanks for clarifying.

You are correct though, it appears to be stuck in the larger size constantly.

[2018-05-03 08:59] NejcZdovc commented on #13980
This regressed, when we added support for bip39

[2018-05-03 09:06] NejcZdovc opened #14001 "Broken seed overlay is not displayed"
### Description

### Steps to Reproduce

1. Enable payments and close browser after wallet is created
2. Edit ledger-state.json file and change the `keyinfo` section to look like this per https://github.com/brave/browser-laptop/issues/13424#issuecomment-377130187:
"keyinfo": {
   "seed": {
    "0": 0,
    "1": 0
  }
3. Relaunch browser go to payments --> payments doesn't show corrupted overlay
4.

[2018-05-03 09:06] NejcZdovc commented on #13980
Closing this issue as setting seed values to 0 is not a broken seed. But I created new issue based on @LaurenWags report #14001

[2018-05-03 09:06] #13980 closed

[2018-05-03 10:16] L1fescape commented on #12937
@hasufell you need to run `npm run watch` first before `npm start`

[2018-05-03 12:25] GeetaSarvadnya commented on #13931
Tested on 0.22.702 Beta version. Issue is fixed and working fine on Windows x64

[2018-05-03 13:14] srirambv opened #14003 "Manual test run on OS X for 0.22.x Release 3 (Beta channel)"
## Per release specialty tests
 - [x] brave doesn't launch correctly under linux ([#13995](https://github.com/brave/browser-laptop/issues/13995))
 - [x] Cannot set property 'enabled' of null when launching or closing Brave.. ([#13991](https://github.com/brave/browser-laptop/issues/13991))
 - [x] Extension popups crash browser. ([#13983](https://github.com/brave/browser-laptop/issues/13983))
 - [x]

[2018-05-03 13:14] srirambv opened #14004 "Manual test run on Windows x64 for 0.22.x Release 3 (Beta channel)"
## Per release specialty tests
 - [x] Cannot set property 'enabled' of null when launching or closing Brave.. ([#13991](https://github.com/brave/browser-laptop/issues/13991))
 - [x] Extension popups crash browser. ([#13983](https://github.com/brave/browser-laptop/issues/13983))
 - [x] Display error when ledger server is not working. ([#13972](https://github.com/brave/browser-laptop/issues/13972))

[2018-05-03 13:14] srirambv opened #14005 "Manual test run on Linux for 0.22.x Release 3 (Beta channel)"
## Per release specialty tests
 - [x] Brave doesn't launch correctly under linux. ([#13995](https://github.com/brave/browser-laptop/issues/13995))
 - [x] Cannot set property 'enabled' of null when launching or closing Brave.. ([#13991](https://github.com/brave/browser-laptop/issues/13991))
 - [x] Extension popups crash browser. ([#13983](https://github.com/brave/browser-laptop/issues/13983))
 - [x

[2018-05-03 13:58] NejcZdovc commented on #13156
@BobT36 created an issue for min browsing time #14000

[2018-05-03 14:00] NejcZdovc commented on #13977
@bradleyrichter can you please provide mock for this one?

[2018-05-03 14:03] GeetaSarvadnya commented on #13943
Verified on Windows x64
* 0.22.702 e4a853d* libchromiumcontent 66.0.3359.139
* muon: 6.0.7

[2018-05-03 14:26] GeetaSarvadnya commented on #13815
Verified on Windows x64
* 0.22.702 e4a853d* libchromiumcontent 66.0.3359.139
* muon: 6.0.7

[2018-05-03 14:27] GeetaSarvadnya commented on #13991
Verified on Windows x64
* 0.22.702 e4a853d* libchromiumcontent 66.0.3359.139
* muon: 6.0.7

[2018-05-03 14:40] srirambv commented on #13983
Verified on Windows x64
* 0.22.702 e4a853d
* libchromiumcontent 66.0.3359.139
* muon: 6.0.7

[2018-05-03 14:50] LaurenWags commented on #13997
sounds good, thanks @diracdeltas and @bsclifton

[2018-05-03 14:52] tommycarstensen opened #14007 "prevent brave from switching to a tab which has the same url open"
It is really annoying that Brave switches to an already open tab, when I type in the URL and that URL is open in another tab. Sometimes the user wants to open two tabs. I think you should make it possible to disable this "feature" and not have it enabled by default. Thanks!

[2018-05-03 15:13] GeetaSarvadnya commented on #13972
Verified on Windows x64
* 0.22.702 e4a853d* libchromiumcontent 66.0.3359.139
* muon: 6.0.7
![13972](https://user-images.githubusercontent.com/38657976/39585533-aa7bd7ac-4f12-11e8-94df-7a78eaced9ab.gif)

[2018-05-03 15:31] LaurenWags commented on #13928
Checked on macOS 10.12.6 using
* 0.22.702 https://github.com/brave/browser-laptop/commit/e4a853d9990c62328a8a4320fec21f58c9cdc0c1
* muon 6.0.7
* libchromiumcontent 66.0.3359.139

@kjozwiak could you give this one a look on your machine too since it's macOS only?

[2018-05-03 15:40] Jacalz opened #14008 "Top sites tile needs an update"
### Description
The logo on about:newtab is the old one and thus needs an update in order too look a bit better 👍

### Steps to Reproduce

  1. Open Brave with a fresh session file
  2. Go to about:newtab

**Actual result:**
![image](https://user-images.githubusercontent.com/25466657/39586947-ace1f7a2-4ef8-11e8-8bcf-3630b4487673.png)

**Expected result:**
Should have this log instead:
![brave](htt

[2018-05-03 15:42] #14001 closed

[2018-05-03 15:42] srirambv commented on #10484
Verified on Windows x64
* 0.22.702 e4a853d
* libchromiumcontent 66.0.3359.139
* muon: 6.0.7

[2018-05-03 15:44] Jacalz commented on #14008
PR created and ready for prime time 🙂

[2018-05-03 15:48] bradleyrichter commented on #13977
This is all being replaced by a new iframed Uphold UI. I'm not sure it makes sense to update the existing UI.

[2018-05-03 15:57] mrose17 commented on #13977
please update it... just in case. i don't think it's a lot of work.

[2018-05-03 16:00] bradleyrichter commented on #13977
@mrose17 you want to add 3 additional coins that are shown in the uphold card screen shot above?

[2018-05-03 16:28] kjozwiak commented on #13995
Verified on Mint 18.3 x64 using the following build:

* `0.22.702` e4a853d9990c62328a8a4320fec21f58c9cdc0c1
* Muon: 6.0.7
* libchromiumcontent: 66.0.3359.139

Verified on Ubuntu 17.10 x64 using the following build:

* `0.22.702` e4a853d9990c62328a8a4320fec21f58c9cdc0c1
* Muon: 6.0.7
* libchromiumcontent: 66.0.3359.139

[2018-05-03 16:33] kjozwiak commented on #13014
Still reproducible with `0.22.669` which included C66. Was hoping we could get a free fix from C66! Tested on the following distro's:

* Ubuntu 17.10 x64 - Reproduced
* Mint 18.3 x64 - Reproduced

Used the following build for the above checks:

[code]

[2018-05-03 16:35] GeetaSarvadnya commented on #13827
Verified on Windows x64
* 0.22.702 e4a853d* libchromiumcontent 66.0.3359.139
* muon: 6.0.7

[2018-05-03 16:42] kjozwiak commented on #13633
Still an issue with `0.22.669` 6cda2e84f749e66409e9e3bca63f5796422e7edf. Reproduced on Mint 18.3 x64 and macOS 10.13.3 x64.

[2018-05-03 16:42] #13789 closed

[2018-05-03 16:42] #13985 closed

[2018-05-03 17:06] srirambv opened #14011 "Extensions description change when enabled/disabled"
### Description
Extensions description change when enabled/disabled

### Steps to Reproduce
  1. Clean install 0.22.702, open extensions, check description for 1password/Dashlane/Bitwarden
  2. Enable 1password/Dashlane/Bitwarden
  3. Description and name gets changed
  4. Enabling Dashlane for first time causes tab to freeze (UI doesn't show other extensions being enabled/disabled but clicking th

[2018-05-03 17:11] LaurenWags opened #14012 "1password/LastPass extensions do not work on Beta channel for macOS"
### Description
1password extension does not work on single webview build. You can enable it in about:preferences#extensions, but clicking on the extension icon doesn't do anything.

### Steps to Reproduce

  1. Clean install of 0.22.702 (or any Beta channel build)
  2. Enable 1password in preferences
  3. Click on the 1password extension icon.

**Actual result:**
Nothing happens. No errors in ter

[2018-05-03 17:12] GeetaSarvadnya commented on #13602
Verified on Windows x64
* 0.22.702 e4a853d* libchromiumcontent 66.0.3359.139
* muon: 6.0.7

[2018-05-03 17:13] Jacalz commented on #14011
I noticed that a while ago too when doing an extension testing round with @sampson.
I believe that we came to the conclusion that it uses the description of the extension itself when you enable it and that it is the reason to it happening.

[2018-05-03 17:18] srirambv opened #14013 "Browser tab locks up when enabling Dashlane extensions"
### Description
Browser tab locks up when enabling Dashlane extensions

### Steps to Reproduce
  1. Clean install 0.22.702
  2. Enable Dashlane and disable it
  3. Repeat the enable/disable couple of time
  4. Tab hangs doesn't show any UI changes  of enable/disable other extensions
  5. Disable Dashlane and enable 1Password no UI indication
  6. Open a new tab shows 1Password enabled and Dashlane

[2018-05-03 17:35] GeetaSarvadnya commented on #13803
Verified on Windows x64
* 0.22.702 e4a853d* libchromiumcontent 66.0.3359.139
* muon: 6.0.7

[2018-05-03 17:40] Miyayes commented on #12777
+1 from reddit community:
https://www.reddit.com/r/BATProject/comments/8gp3rv/daily_bat_discussion_cooling_off_may_3_2018/dydwilu/

[2018-05-03 17:51] kjozwiak commented on #13972
@GeetaSarvadnya mind rechecking this? I updated the test cases above. We should check that turning the internet back on correctly dismisses the modal and that websites, YT and Twitch are correctly being added into the ledger table once the internet is turned back on.

[2018-05-03 17:56] eljuno commented on #14011
Maybe also related to #9583?

[2018-05-03 18:07] eljuno commented on #1515
+1 from community https://community.brave.com/t/ctrl-q-hotkey-immediately-closes-brave-without-confirmation/21505?u=eljuno

[2018-05-03 18:08] srirambv commented on #12271
![image](https://user-images.githubusercontent.com/17010094/39594683-622035b6-4edb-11e8-96e3-ca1cf891dd3e.png)
Verified on Windows x64
* 0.22.702 e4a853d
* libchromiumcontent 66.0.3359.139
* muon: 6.0.7

[2018-05-03 18:09] LaurenWags commented on #13803
Reopening as I reproduced 3x using nytimes.com as the tab I tore off during loading using 0.22.702.

![13803](https://user-images.githubusercontent.com/28145373/39594754-9945ad0a-4edb-11e8-8eae-a7e1cc290f0d.gif)

[2018-05-03 18:13] Jacalz commented on #14011
I would definatley say yes to that @eljuno

[2018-05-03 18:27] kjozwiak commented on #13803
Reproduced it twice on Mint 18.3 x64 using the following STR:

* load `nytimes.com` and detach the tab into a new window via drag & drop
* load `nytimes.com` and detach the tab via right click on tab -> detach

[2018-05-03 18:30] srirambv commented on #14011
Agreed its the same. Thanks @eljuno

[2018-05-03 18:30] #14011 closed

[2018-05-03 18:31] srirambv commented on #9583
This is an issue on English locale as well not just for other languages. Issue #14011 captures it

[2018-05-03 18:38] Jacalz commented on #13633
Yeah still an issue with 0.22.669 on Windows 10

[2018-05-03 19:01] srirambv commented on #13217
Verified on Windows x64
* 0.22.702 e4a853d
* libchromiumcontent 66.0.3359.139
* muon: 6.0.7

Verified with the two publishers mentioned in original issue. Shows correct name.

[2018-05-03 19:35] srirambv opened #14014 "Recover progress message shown before actual recovery starts"
### Description
Recover progress message shown before actual recovery starts

### Steps to Reproduce

  1. Enable payments
  2. Go to advance settings, recover your wallet
  3. Click import recovery keys , shows recovering progress message even though no recovery is happening

**Actual result:**
![11790](https://user-images.githubusercontent.com/17010094/39593895-2a7ad442-4ed9-11e8-989c-fce941b049

[2018-05-03 19:36] srirambv commented on #11790
Blocked on  #14014

[2018-05-03 19:39] #13773 closed

[2018-05-03 19:59] kjozwiak opened #14015 "creata a short wiki for WebRTC when users click on "What do these policies mean?""
### Description

When a user clicks on `What do these policies mean?` under `about:preferences#security` for the WebRTC feature, it will take them to the following header file:

* https://cs.chromium.org/chromium/src/content/public/common/webrtc_ip_handling_policy.h

Most average and some power users won't understand the above header file which will lead to confusion. We should create a short summ

[2018-05-03 20:02] #14015 closed

[2018-05-03 20:07] BobT36 commented on #13156
@nejcZdovc helped me diagnose my issue, seems I needed 30 mins total browsing time.

I've now accumulated 55m, so we'll see what happens on May the 6th when the next date is hit.

[2018-05-03 20:25] petemill commented on #13990
Duplicate of #13979

[2018-05-03 20:25] #13990 closed

[2018-05-03 20:28] kjozwiak commented on #13931
Verified on `Mint 18.3 x64` using the following build:

* `0.22.702` e4a853d9990c62328a8a4320fec21f58c9cdc0c1
* Muon: `6.0.7`
* libchromiumcontent: `66.0.3359.139`

[2018-05-03 20:34] srirambv commented on #13325
![image](https://user-images.githubusercontent.com/17010094/39601250-5a24d718-4eef-11e8-9ed4-eaea68539dc1.png)

After updating reconcile stamp and launching browser with `LEDGER_NO_DELAY=true LEDGER_NO_FUZZING=true`, shows Last contribution as `Currently Processing`.  Should remain `No previous contributions` as there hasn't been any payment done.

[2018-05-03 20:34] #13325 closed

[2018-05-03 20:40] srirambv opened #14018 "Last contribution shows Currently processing even no reconcile is performed"
### Description
Last contribution shows Currently processing even no reconcile is performed. Follow up to #13325

### Steps to Reproduce

1. Clean install 0.22.702, **do not visit any site**
2. Enable payment and add funds to wallet
3. Change reconcile stamp to older date, wait for the reconcile to process
4. Last contribution shows as Currently processing and stays for ever

**Actual result:**
![

[2018-05-03 20:47] kjozwiak opened #14019 ""match case" doesn't work under the findbar"
### Description

When searching for words via the `findbar`, `match case` doesn't work and will highlight the matching words even though the case doesn't match.

### Steps to Reproduce

  1. launch `0.22.702 ` e4a853d9990c62328a8a4320fec21f58c9cdc0c1
  2. visit https://en.wikipedia.org/wiki/World_War_II
  3. open the `findbar` via `CMD + F` or `CTRL + F`
  4. Search for `GeRmAnY` and click enable

[2018-05-03 20:49] kjozwiak commented on #11730
@GeetaSarvadnya can you recheck this on Win?

[2018-05-03 20:59] LaurenWags commented on #12792
Verified with macOS 10.12.6 using
* 0.22.702 https://github.com/brave/browser-laptop/commit/e4a853d9990c62328a8a4320fec21f58c9cdc0c1
* muon 6.0.7
* libchromiumcontent 66.0.3359.139

[2018-05-03 21:05] jasonrsadler commented on #13993
@srirambv I can't repro on 22.702. Can you verify?

[2018-05-03 21:16] LaurenWags commented on #12271
@NejcZdovc if a YouTube or Twitch site was deleted in 0.22.669 and you update to 0.22.702, it displays as below. Expected?
![screen shot 2018-05-03 at 5 15 12 pm](https://user-images.githubusercontent.com/28145373/39603232-a4f451f0-4ef5-11e8-83e4-a386a35f9077.png)

[2018-05-03 21:26] taoeffect opened #14020 "Brave is mounted under /Applications"
### Description

`df` shows that Brave.app is a volume:

[code]

### Steps to Reproduce

Not really sure what caused this. That's what I'm trying to find out.

**Actual result:**

Brave.app is a volume for some reason.

**Expected result:**

For Brave.app to not do weird unexplained stuff with my system and be a normal app bundle like all other apps.

I'm going to skip the rest of the sections bec

[2018-05-03 21:39] LaurenWags commented on #12675
Verified with macOS 10.12.6 using
* 0.22.702 https://github.com/brave/browser-laptop/commit/e4a853d9990c62328a8a4320fec21f58c9cdc0c1
* muon 6.0.7
* libchromiumcontent 66.0.3359.139

[2018-05-03 22:14] realuser commented on #14000
Is it 30 minutes per site? Or 30 minutes total?

1. If I visit one site for 31 minutes and another site for 4 minutes total, will they both receive a contribution or only site visited greater than 30 minutes?

2. If I visit one site for 16 minutes and another for 16 minutes total, will either receive a contribution?

Is this documented somewhere?

[2018-05-03 22:37] motorious1 commented on #3756
+1 same issue as pepik here...
FF has the following which I would need coprable to in Brave to use on corporate network
==================
Options -> Advanced -> Network -> Connection -> Settings ->"Automatic proxy configuration URL:"

[2018-05-04 03:40] kjozwiak commented on #13861
I'm moving this into the `0.22.x Release 3 (Beta channel)` milestone. Ubuntu 18.04 is now an `LTS` version which means most folks are going to start using or started upgrading to it. From all the above comments, it sounds like we have issues that need to be resolved here.

We should fix this before pushing a new version of Brave. We're going to frustrate a lot of Ubuntu users as it's one, if not t

[2018-05-04 05:07] NejcZdovc commented on #14000
@realuser this is 30 minutes total. So you need to have at least 30min recorder time in you payments table

[2018-05-04 05:09] #13992 closed

[2018-05-04 05:46] bsclifton commented on #13634
In Muon,  the `navigation_handle` (passed into the WebContent's `DidFinishNavigation` method) is returning true when `IsSameDocument()` is called. Muon then emits a `did-navigate-in-page` event which does not log a new history entry (opposed to `did-navigate` which would)

When the user is browsing, the `href` portion of the URL is the same:
`https://www.youtube.com/watch`

When the navigation typ

[2018-05-04 05:58] NejcZdovc commented on #12271
Just did some more testing and with the latest code that we have for 0.22 we can't preform upgrade for this case anymore, because we don't have information about the name. So this scenario is expected.

[2018-05-04 06:14] NejcZdovc commented on #13721
@LaurenWags it's just using % nothing more 😃 so section is sorted correctly

[2018-05-04 06:49] StephenBass commented on #13633
+1 from the BAT Telegram https://t.me/batproject/50473

[2018-05-04 07:23] diracdeltas opened #14021 "webrequest filtering functions not working in Tor mode"
STR:
1. open tor tab
2. go to nytimes.com
3. notice that no ads are blocked in the shields panel

It looks like the partition is initialized, but the webrequest listeners in the Tor session do not fire.

cc @darkdh @riastradh-brave

[2018-05-04 09:14] Alrikja commented on #7402
+1 Chromecasting is definitely needed to make Brave a daily browser.

[2018-05-04 09:16] Alrikja commented on #271
+1 👍

[2018-05-04 10:22] JamieFarrelly opened #14023 "LastPass no longer works"
### Description
I used to use LastPass in Brave now and again. I noticed the icon for LastPass is no longer there and when I click on it I get a "Your file was not found error" as in the screenshot. I'm not aware of any changes that I've made to cause this, I assume it happened after an update but I'm not sure. It might be a tricky one to reproduce unfortunately.

Just creating this issue in case

[2018-05-04 13:54] GeetaSarvadnya commented on #13708
Verified on Windows x64
* 0.22.702 e4a853d
* libchromiumcontent 66.0.3359.139
* muon: 6.0.7

[2018-05-04 13:59] TDeisinger commented on #12959
Is the fix for this in Dev release .23.2?

[2018-05-04 15:06] davidtemkin opened #14024 "Brave picks up low-resolution favicon for WSJ.com"
### Description

WSJ favicon in Brave is lower-resolution than the version picked up by Chrome.

### Steps to Reproduce

  1. Enable favicons in tabs and/or bookmarks bar
  2. Go to wsj.com
  3. Displayed image is blurry compared to the image picked up by Chrome in the same use case.

**Expected result:**

Image shown should be a higher-resolution version of the favicon

**Reproduces how often:**

[2018-05-04 15:40] LaurenWags commented on #13030
+1 from community: https://community.brave.com/t/logged-out-after-brave-restarts/21542

[2018-05-04 15:43] srirambv opened #14025 "Payment button not shown in URL for included pdf pages"
### Description
Payment button not shown in URL for included pdf pages

### Steps to Reproduce

  1. Enable payments
  2. Visit any pdf link in a new tab and complete the min time check requirement
  3. Ensure domain is added to the ledger table
  4. Switch back to pdf, URL bar doesn't have payment button

**Actual result:**
![image](https://user-images.githubusercontent.com/17010094/39637143-27dd

[2018-05-04 15:59] BitInspector commented on #3752
Still present in Brave 0.22.669.  I've been recommending Brave to non technical friends and family members.  This will push them back to their old browsers.

[2018-05-04 16:02] kjozwiak commented on #13928
@LaurenWags looks like it's working on my end as well 👍 Ensured that the menu items under `Share` are being disabled when there's no windows opened but the Brave process is still running. Also made sure that each menu worked one they were re-enabled.

[2018-05-04 16:07] srirambv opened #14026 "Autofill entry is lost when browser is relaunched"
### Description
Autofill settings is lost after browser restart[intermittent issue]

### Steps to Reproduce
  1. Open about:autofill and add an entry
  2. Close and relaunch the browser, ensure autofill entry is retained
  3. Open about:about and click on about:autofill
  4. Create a new entry for autofill
  5. Close and relaunch the browser, autofill entry created in step 4 shows blank.

**Actual

[2018-05-04 16:09] kjozwiak commented on #13927
We should mirror Chrome's behavior when fixing this. Rather than doing nothing when a user selects `Open File` or `Open Location` when there's no windows opened, we should do the following:

* selecting `Open Location` opens a new window with focus on the URL
* selecting `Open File` opens a new window and then opens the `File Manager` so a user can browse through their local storage

[2018-05-04 16:17] jonathansampson commented on #8956
This issue still exists; I'm happy to self-assign. @kjozwiak, @cezaraugusto, would that be okay?

![order-of-buttons](https://user-images.githubusercontent.com/815158/39638680-9e790838-4f8c-11e8-8769-6a880a92d3db.png)

[2018-05-04 16:33] #14018 closed

[2018-05-04 16:40] jonathansampson commented on #9583
Some high-level coverage here: initial names and descriptions are loaded from our local _dummyData_ object. When the extension is successfully downloaded, we switch to using the information found within the extensions manifest (or localization files).

English _may_ be a fallback if the expected language isn't found. I'll check into this.

[2018-05-04 16:56] bsclifton commented on #13861
I believe I know how to solve this- will check and share findings

[2018-05-04 16:58] bsclifton commented on #13634
Discussed with team- we're not going to address this as we'll get the fix for free when moving to the direct fork of Chromium (see https://github.com/brave/brave-browser)

More details available here:
https://brave.com/development-plans-for-upcoming-release/

[2018-05-04 17:07] bsclifton commented on #12959
@TDeisinger fix not found yet - I should be able to shift gears from our 0.22.x release to look at this soon. Thanks for hanging in there (and apologies we haven't found a fix yet)

[2018-05-04 17:09] LaurenWags commented on #13721
awesome, thanks for the clarification!

[2018-05-04 17:10] LaurenWags commented on #13721
Verified with macOS 10.12.6 using
* 0.22.702 https://github.com/brave/browser-laptop/commit/e4a853d9990c62328a8a4320fec21f58c9cdc0c1
* muon 6.0.7
* libchromiumcontent 66.0.3359.139

[2018-05-04 17:16] LaurenWags commented on #13825
@petemill are there any STR other than those from https://github.com/brave/browser-laptop/issues/13815 ?

[2018-05-04 17:28] diracdeltas commented on #13668
https://github.com/brave/browser-laptop/pull/13713

On Fri, May 4, 2018 at 10:21 Lauren <notifications@github.com> wrote:

[2018-05-04 17:29] petemill commented on #13825
Just open the browser and switch to some new tabs @laurenwags

[2018-05-04 17:52] eljuno commented on #13567
+1 from community https://community.brave.com/t/it-doesnt-give-me-the-option-to-enable-notifications-on-youtube/21559?u=eljuno

+1 from me. :-)

[2018-05-04 18:08] srirambv opened #14029 "Connection log pops up in a console window when opening a private tab"
### Description
Connection log pops up in a console window when opening a private tab

### Steps to Reproduce
  1. Install 0.23.2 developer build
  2. Open a new private tab
  3. Tor connection log pops up as a console window
  4. Close the console and visit any site in Private tab
  5. Console pops up again

**Actual result:**
![image](https://user-images.githubusercontent.com/17010094/39644143-6

[2018-05-04 18:33] srirambv opened #14030 "Adblock fails to block on private tab with tor connection"
### Description
Adblock fails to block on private tab with tor connection

### Steps to Reproduce

  1. Clean install 0.23.2
  2. Open a private tab, keep the switch enabled
  3. Visit slashdot.org over tor connection, ads slip through

**Actual result:**
![image](https://user-images.githubusercontent.com/17010094/39645951-def41d38-4fa7-11e8-92ed-74cef1861176.png)

**Expected result:**
Should bloc

[2018-05-04 19:08] bsclifton commented on #4024
@NejcZdovc good catch- yes... we are fixing this with 0.22.x release 3. Will set accordingly

[2018-05-04 19:11] srirambv commented on #14030
Dupe of #14021

[2018-05-04 19:11] #14030 closed

[2018-05-04 19:33] srirambv opened #14031 ""immutableFrameList had frame with invalid key" error when tearing off an unloaded tab"
### Description
 "immutableFrameList had frame with invalid key" error when tearing off an unloaded tab

### Steps to Reproduce
  1. Clean install 0.22.702
  2. Open 5-6 tabs and visit a site in each of them
  3. Close and relaunch browser via console
  4. Quickly drag any inactive, unloaded tab into a new window
  5. Tear off tab doesn't contain tabs bar and is unusable, console throws error

**A

[2018-05-04 19:35] srirambv commented on #14031
Another variation of the error shows up when a tab is dragged and dropped in to another window.
[code]
https://youtu.be/ei9siG76ISE

[2018-05-04 19:41] LaurenWags commented on #14031
Similar result on macOS using this STR (reproducible):
Clean profile with 0.22.702
Closed Welcome window
Cmd+click on the top tiles, chose one of them as the active one
Close/Reopen Brave using terminal.
Drag an inactive tab (quickly, so preview doesn’t show) to it’s own window
Tab content in new window is white. Reload, clean reload, window resize - nothing makes the tab content appear. Have to c

[2018-05-04 19:51] srirambv commented on #14031
second issue reproduces on active tab when dnd

[2018-05-04 20:31] bradleyrichter commented on #13977
@NejcZdovc Here is a new layout that allows for more coins:

![image](https://user-images.githubusercontent.com/13509546/39651068-5e971ad0-4f9f-11e8-8f6b-c973553141d0.png)

[2018-05-04 20:35] LaurenWags commented on #13825
Verified with macOS 10.12.6 using
* 0.22.702 https://github.com/brave/browser-laptop/commit/e4a853d9990c62328a8a4320fec21f58c9cdc0c1
* muon 6.0.7
* libchromiumcontent 66.0.3359.139

[2018-05-04 21:11] srirambv opened #14032 "Pinned tab is lost when URL is different and another tab is pinned / unpinned"
### Description
Pinned tab is lost when unpinning an unfocused pinned tab

### Steps to Reproduce
  1. Clean install 0.22.702
  2. Open a bunch of tabs and visit sites in them
  3. Open preferences and pin preferences page
  4. Pin a bunch of other tabs that are opened
  5. Set tabs set to 6 and keep preferences tab as active tab
  6. Unpin one of the inactive pinned tab, preferences tab is lost

[2018-05-04 21:25] srirambv opened #14033 "Closing connection info console before connecting to tor network doesn't load page"
### Description
Closing connection info console before connecting to tor network doesn't load page

### Steps to Reproduce
  1. Clean install 0.23.2
  2. Open a new private tab
  3. Connection info console opens pops up
  4. While connection is being established, close the console, page load fails
  5. Reload shows about:error. Tab becomes useless can't reload the page. Have to type in again to br

[2018-05-04 22:15] bsclifton commented on #13861
re-opening until I can run out deploy job and test the fix 😄

[2018-05-04 22:36] #14025 closed

[2018-05-04 23:48] flightcom commented on #7402
+1 same for me, I use Chromecast everyday I need this in Brave !

[2018-05-05 01:27] isjamesalive commented on #13156
@BobT36 Hey, is this 30 minutes per day or 30 minutes in total?

The reason I haven't been using Brave as frequently is precisely because my contributions weren't going through.

[2018-05-05 05:03] NejcZdovc commented on #13156
@isjamesalive it's 30min total browsing time in contribution period

[2018-05-05 07:48] #14014 closed

[2018-05-05 07:56] #13994 closed

[2018-05-05 08:54] JoshuaDuChene commented on #12499
I'm reproducing this issue according to the steps above with the exact same outcome, also on Brave browser. Here is my browser information:

Brave: 0.22.669
V8: 6.6.346.24
rev: 6cda2e8
Muon: 5.2.7
OS Release: 10.0.16299
Update Channel: Release
OS Architecture: x64
OS Platform: Microsoft Windows
Node.js: 7.9.0
Brave Sync: v1.4.2
libchromiumcontent: 66.0.3359.117

[2018-05-05 09:17] Adiorz commented on #3756
+1
same here - lack of proxy support discards Brave for me

[2018-05-05 19:37] NHDaly opened #14035 "Cannot manually run tests: "devTools is not defined""
### Description
My tests all fail and print the same error: `message: 'unknown error: devTools is not defined'`. This is a brand-new installation of browser-laptop.

### Steps to Reproduce
1. Installed `node` with `homebrew`
1. Update `npm` (`npm install npm@latest -g`)
1. `cd browser-laptop`
1. `rm -rf node_modules` (Cleared node modules)
1.  Ran `npm install`
1. Finally, run `npm run test`.

**A

[2018-05-05 22:45] srirambv opened #14036 "Shields badge is retained if shield is disabled in a different tab for the same domain"
### Description
Shields badge is retained if shield is disabled in a different tab for the same domain

### Steps to Reproduce
  1. Visit any site ensure it blocks a decent amount and shows blocked number on the badge
  2. Open a link in a new tab from the visited site
  3. Switch to the new tab and disable shields
  4. Ensure shields badge is not shown
  5. Switch back to the source tab, disabled

[2018-05-06 04:57] lukemulks commented on #14021
Was testing on Windows 10 - observed some behavior worth noting in case it helps with this.

I began browsing with scripts disabled to get a feel for the edges between ads and no ads with the Tor connection, and observed a tracking pixel being blocked with scripts disabled. Details and STR below.

==================
profile
==================
Brave: 0.23.2
V8: 6.6.346.26
rev: c09cbf6ad24cabd9d4bf5

[2018-05-06 06:42] Neecko commented on #12362
Just got this issue today. Not a problem on my desktop, but on my laptop.

[2018-05-06 14:01] Jacalz commented on #14008
It looks like this with the new PR:
![image](https://user-images.githubusercontent.com/25466657/39674062-aed8ae02-5146-11e8-8031-d3bbcd0abdb1.png)

[2018-05-06 14:40] yar05 commented on #13479
[ Posting here as it appears first in google results ]

To fix this problem :

Open : https://app.dashlane.com in the brave browser as normal page, log in, restart browser.
Extension should start working.

If that doesn’t work :

type chrome-extension://fdjamakpfbbddfjaooikfcpapjohcfmg/login in the address bar then log in. Restart browser.

Extension should be working now.

PS. got few core dumps

[2018-05-06 15:36] Sa-Ja-Di opened #14038 "Suggestion: Tabs on bottom setting for the new browser"
Would be nice to have bottom tabs in the upcoming directly Chromium based Brave browser as alternative setting.

Means: Tabs below the url/address bar

[2018-05-06 21:03] JR1994 commented on #13861
I am having the same issue on Ubuntu-MATE 18.04

[2018-05-06 22:42] candrapersada opened #14039 "flathub"
add brave for flathub

[2018-05-06 23:56] darkdh commented on #13979
fixed by https://github.com/brave/muon/commit/805698330f971c976ac64d9507e7e24abd7f0d9e which will be available in muon 6.0.8

[2018-05-06 23:56] #13979 closed

[2018-05-06 23:56] darkdh commented on #13996
fixed by https://github.com/brave/muon/commit/805698330f971c976ac64d9507e7e24abd7f0d9e which will be available in muon 6.0.8

[2018-05-06 23:56] #13996 closed

[2018-05-07 00:06] bridiver commented on #13982
fixed https://github.com/brave/muon/commit/1ac2b63bc26571484efe2bed0af6060f6b1a3640

[2018-05-07 00:06] #13982 closed

[2018-05-07 00:08] bridiver commented on #13810
fixed https://github.com/brave/muon/commit/1ac2b63bc26571484efe2bed0af6060f6b1a3640

[2018-05-07 00:08] #13810 closed

[2018-05-07 04:09] darkdh commented on #14021
fixed by https://github.com/brave/muon/commit/750df850852a0bd8f01dcdcd9f190fb040a5e6f3 which will be available in muon 6.1.1

[2018-05-07 04:09] #14021 closed

[2018-05-07 05:27] riastradh-brave opened #14040 "UX for tor daemon status / launch progress"
There is no visual feedback for what the tor daemon is up to.  We should:

- [ ] provide a meaningful error message if you try to use Tor before the daemon is launched,
- [ ] provide some way to query the status of the tor daemon and view log files, and maybe
- [ ] provide a display of the current circuits and exits (though perhaps that should be a separate issue).

We will want both (a) tor's std

[2018-05-07 07:04] candrapersada commented on #11999
When will Brave flatpak come out?
I am user of linux mint

[2018-05-07 07:21] FineHub opened #14041 "Brave is infringing Google's trademark on Chrome"
a) Brave by default lies in the user agent that it is Chrome. Chrome is a trademark of Google[1] and cannot be used without their permission, unless it is being used as an adjective.

b) If this does not change, we are likely to report to Google that you are infringing their trademark.[2][3]

c) Chrome is directly associated with Google, and Brave does not have the permission to use the trademark.

[2018-05-07 07:49] bsclifton commented on #11999
Hi folks,

We haven't done any work on this... but I'd encourage a community member to give it a shot 😄 We're currently only supporting:
- RPM / DEBs via yum/dnf/apt
- Ubuntu Snaps

[2018-05-07 11:54] AlexUhde commented on #5873
+1

[2018-05-07 12:00] GeetaSarvadnya commented on #11424
Tested by loading win3-tabs105 in Roaming profile.  3 windows with 105 tabs in each window. There is no performance lag, click on each tab opens the website immediately. Click on new tab with new website is also opens website quickly.

Verified on Windows x64
* 0.22.702 e4a853d
* libchromiumcontent 66.0.3359.139
* muon: 6.0.7

[2018-05-07 12:39] srirambv commented on #14038
Issue logged in correct repository. Please track the issue here https://github.com/brave/brave-browser/issues/181

[2018-05-07 12:39] #14038 closed

[2018-05-07 13:17] LaurenWags commented on #14036
Reproduced on MacOS

[2018-05-07 13:27] FineHub commented on #14041
Fingerprinting or not is not our concern. Google adds a User-Agent for Chrome, that makes Chrome unique. Brave fools us into thinking that it is a product by Google, and we were thinking that Chrome got a higher usage of adblockers, which could have cause accidental defamation of Chrome, if a malicious activity takes palace from Brave's user. What Brave essentially does is that is falsely advertis

[2018-05-07 15:16] thebouv commented on #14041
It's like you don't even know what a User-Agent is @FineHub

Read this article on the history of User-Agent strings -- it's pretty funny actually.
https://webaim.org/blog/user-agent-string-history/

Brave is under no obligation as you state, and there is no infringement. Google isn't going to give a damn. Make your report to Google -- I'm sure they're really going to pay attention to you.

[2018-05-07 16:42] LaurenWags commented on #13982
Reproduced with 0.22.702 - had been testing the `Context menus` section of the manual test run, but couldn't get solid STR. I had been using the context menus and opening/closing several tabs.

[2018-05-07 16:46] petemill commented on #14019
Should be fixed in next build

[2018-05-07 16:49] jasonrsadler opened #14042 "Reconcile date is pushing back from last reconcileStamp rather than currentDate"
### Description
When Brave is started, and reconcile requirements have not been met, Brave pushes the reconcile date forward from the previous reconcileStamp rather than the current date.

### Steps to Reproduce

  1. Start Brave, enable payments, visit site to place in ledger.
  2. Exit Brave.
  3. Change reconcileStamp to 5 days before current date.
4. Start Brave
5. Next Contribution will show

[2018-05-07 16:51] petemill commented on #14031
The issue @LaurenWags is seeing was due to not displaying the tab until it is 'ready'. The 'ready' message was coming whilst the tab was moving between windows, so is not set on the tab in the new window. 'Preview' mode does not have this check, so the tab could still be previewed. I've removed the check as it doesn't seem neccessary anymore due to webview improvements.

[2018-05-07 16:57] petemill commented on #13803
I know why this is happening, and it is happening on the current release too. We are handling load 'start' and 'finish' (and 'error') in the renderer, and attaching the status property to the window frame, but if a load-finish comes to the old window (before the tab has finished moving to the new one), then the new frame object will not receive the updated load status. A solution to this would be

[2018-05-07 17:03] kjozwiak commented on #14036
@srirambv might be the same one as https://github.com/brave/browser-laptop/issues/13467 which was fixed in `0.24.x`.

[2018-05-07 17:08] bsclifton commented on #14041
Can you clarify who `our` is?

[2018-05-07 17:17] davidtemkin opened #14043 "When using Tor for private tabs, need UI changes that take Tor process startup time into account"
### Description
While the Tor process is starting up, the browser should not permit a user to browse to a URL via Tor in a private tab. There should be (a) a visual indicator that shows something is happening, and (b) the UI should either make it impossible to enter a URL in this state -or- allow the URL to be entered, but only attempt loading once the Tor process is up and running and ready to re

[2018-05-07 17:36] FineHub commented on #14041
As a website, it is not our concern about what your (Brave's) intentions are. We dont fingerprint our users, nor do we allow any 3rd parties to do it. Our partners are not allowed to sell the user data either, and we have proved it by taking action against the infringers.

But we do block adblock users, and users from browsers which block non intrusive 3rd party targeted ads which meets acceptable

[2018-05-07 17:39] kjozwiak opened #14044 "command/ctrl + clicking on websites with certificate issues will result in a "The site can't be reached" page"
### Description

When opening some of the certificate errors from badssl.com via `command/ctrl` + `click`, you'll receive `The site can't be reached` error. However, when you refresh, the correct page loads. This works as expected under `0.22.669`

### Steps to Reproduce

  1. launch `0.22.702` e4a853d9990c62328a8a4320fec21f58c9cdc0c1
  2. load https://badssl.com/
  3. using `command/ctrl` + `clic

[2018-05-07 17:40] diracdeltas commented on #14043
there's at least 3 non-UI bugs here:

1. the tor process doesn't ever start on linux because the executable isn't marked as executable (fixed in https://github.com/brave/browser-laptop/pull/12987/commits/297afb24190fa72a7b245ed3b76179b590eced6d)
2. the tor process should start at startup instead of first tab launched (to-be-fixed in muon, partly done in browser-laptop https://github.com/brave/brow

[2018-05-07 17:45] LaurenWags opened #14045 "zoom always displays 100% on hamburger menu"
### Description
When you zoom either via shortcut or hamburger menu, the value displayed on the hamburger menu should reflect your zoom level. With 0.22.702 it always says 100% even after zooming.

### Steps to Reproduce

  1. Open a site.
  2. Zoom in or out (via shortcut or hamburger menu.
  3.

**Actual result:**
Value displayed on hamburger menu is not indicative of your zoom level, it just di

[2018-05-07 17:52] #12569 closed

[2018-05-07 18:04] kjozwiak commented on #8956
Unassigned myself @jonathansampson, all yours 👍

[2018-05-07 18:05] #94 closed

[2018-05-07 18:06] luyongxu commented on #14041
@FineHub Can you elaborate on Google's micro payment system?

[2018-05-07 18:20] shortstuffsushi commented on #94
🎉 Thanks guys. Now if I want to super lazily implement user input, I don't have to do any extra work.

[2018-05-07 18:30] bsclifton commented on #12572
cc: @bradleyrichter

We may chose to close this in favor of the new redesign

[2018-05-07 18:40] bsclifton commented on #14041
@FineHub leaving my personal opinion out of the picture... What is to gain for the end user by making Brave easy to detect and block? Why should any employee or community member put forth the effort to make this change?

Have you also considered that users do not want to be tracked? Sure, it might help deliver more relevant ads... because you're tracking the users activity across sites. What is yo

[2018-05-07 19:30] thebouv commented on #14041
This is golden.

If Brave repo maintainers are not aware, "FineHub" has been talking on Reddit and HackerNews too.  Started off discussing Firefox, but it has devolved a bit -- much like here, though here FineHub is being a lot more (amusingly) aggressive.

https://news.ycombinator.com/item?id=17012178  and  https://www.reddit.com/r/firefox/comments/8hhss1/is_it_worth_supporting_firefox/

I believ

[2018-05-07 19:33] btlechowski commented on #14031
I just reproduced @srirambv issue on Ubuntu 17.10, v0.22.702.

[2018-05-07 19:49] petemill opened #14046 "Dragging a tab to blank tab bar area results in lost tab"
### Description

### Steps to Reproduce ONE

  1. Create two windows, one with 6 tabs, and one in 1 (or 2 or 3 or 4) tabs.
  2. Drag the 6th tab to the blank area of the tab bar in the other window, being careful never to drag over the single tab in that window

**Actual result:**
Tab never shows up

**Expected result:**
Tab shows up at end of tab set

**Reproduces how often:**
100%

### Brave Ver

[2018-05-07 19:52] petemill commented on #14031
@srirambv @btlechowski is it possible to please get a video of the issue reported in the description?

[2018-05-07 20:04] petemill commented on #14046
Should be fixed with next release

[2018-05-07 20:07] petemill commented on #11304
This will be fixed with next muon build for 0.22.x-release3

[2018-05-07 20:09] FineHub commented on #14041
If Brave repo maintainers are not aware, "FineHub" has been talking on Reddit and HackerNews too. Started off discussing Firefox, but it has devolved a bit -- much like here, though here FineHub is being a lot more (amusingly) aggressive.

It is golden until you are in the same situation.

[2018-05-07 20:11] #11304 closed

[2018-05-07 20:12] FineHub commented on #14041
Closing the issue. Brave team should look forward to the things I've said. It is better to reconsider your stance at this point. I know I've been aggressive, but maybe Brave needs to become a bit soft on adblocking and 3rd party cookies.

[2018-05-07 20:15] #14041 closed

[2018-05-07 20:32] BrendanEich commented on #14041
Users of top browsers can configure their user agent via advanced preferences, and do. User-agent is not reliable, nor should anyone rely on it to block ad-blockers. There are much bigger ad-blocking extensions out there in terms of user populations than Brave, so I am not sure why @FineHub starts with us. But it's a free country!

[2018-05-07 20:56] btlechowski opened #14047 "Bookmark bar stays visible after all bookmarks are deleted"
### Steps to Reproduce

1. Clean install
2. Click the star
3. Click 'Remove'

**Actual result:**
Bookmark bar stays visible
![image](https://user-images.githubusercontent.com/34715963/39724689-c45081fc-5249-11e8-9f40-41fb805bfff2.png)

**Expected result:**
Bookmark bar is hidden

**Reproduces how often:**
100%

### Brave Version
[code]
Also reproduced on Mac and Windows by @srirambv @LaurenWags @k

[2018-05-07 21:11] petemill commented on #14032
This is actually an existing issue in release, and this is to do with the fact that there is an issue with comparing which pinned tabs are already open and which pinned tabs should be closed. When the URL of the pinned tab changes, the comparison algorithm thinks it is a different tab, and that it should be closed since a tab with that (new) URL was not meant to be pinned. It then notices that the

[2018-05-07 21:13] petemill commented on #14032
To add: This problem occurs when you pin _any_ tab and click a link, and then change the pinned tabs collection by pinning or unpinning another tab - the tab is lost and re-created (except from Preferences). Focused / unpinning is not required.

[2018-05-07 21:26] FineHub commented on #3693
@BrendanEich I'm writing here because @bsclifton block commentating there.

If you have not read about it, I had pinpointed Firefox users too on Reddit, not only Brave. The discussion had over 14,000 views in a day, and hundreds of comments, which explains how big the problem is. We understand User-Agent is not a reliable indicator. Our intention is not to stop every user, but most of the ones tha

[2018-05-07 21:54] petemill commented on #14032
After talking through how navigation URLs are passed through from muon with @bridiver, the solution I would take would be to store the tab's original url (potentially pre-redirection / link clicking) at the time of pinning. If the tab was created as pinned: get the first navigation handle's initial URL from the redirect chain (only accessible during navigation). If the tab was pinned after creatio

[2018-05-07 22:25] btlechowski commented on #14031
I have tried for over 2hours to repro, but failed. Sorry. I will try tomorrow.

[2018-05-07 22:36] bsclifton commented on #13861
Verified fix for deb (pushed for `brave-beta`); working through the RPM side with help from @evq

[2018-05-07 22:48] bsclifton commented on #11750
@yesmar12 have you experienced this recently? I know we've had several specific fixes for this issue and there haven't been any new reports here.  I'll close the issue for now; please reply or re-open if you still experience. Thanks! 😄

[2018-05-07 22:48] #11750 closed

[2018-05-07 22:49] bsclifton commented on #11830
@jamesray1 have you experienced this recently? We've had some related fixes which may have fix this issue for you

I'll close for now, but please re-open if you still experience this (along with relevant details). Thanks! 😄

[2018-05-07 22:49] #11830 closed

[2018-05-07 22:53] bsclifton commented on #12647
@hyph3n does this still happen for you?

[2018-05-07 22:54] #13391 closed

[2018-05-07 22:57] bsclifton commented on #13522
cc: @mrose17, @davidtemkin, @mandar-brave

[2018-05-07 23:02] bsclifton commented on #13847
Similar text showed for this user when logging into Dropbox with Google
https://github.com/brave/browser-laptop/issues/13558

[2018-05-07 23:13] bsclifton commented on #6983
@Weej1 I know this is embarrassingly late, but there is no way in the UI to change your user agent. I'll update the issue to instead be worded to add that functionality

[2018-05-07 23:14] bsclifton commented on #13762
@bn0785ac can you give an example of this?

Are you basically asking for a feature that folks can enable where the browser treats mouse events like touch events? ex: clicking is like a push, etc.  Or are you asking if the browser can send a mobile User-Agent (so that the mobile page is sent instead)?

If your request is the first, that sounds like a fairly complex feature- I'd be interested in an

[2018-05-08 01:07] petemill commented on #14045
Should be fixed in next build via 87337338934a92743724b585cdaf0b31bab10e0b

[2018-05-08 01:16] petemill commented on #14047
Note that this is also sort of reproducible in the current release, except that in the current release, the bookmarks toolbar gets really short, which itself was considered a bug since a user could not have the bookmarks toolbar with normal height with no bookmark items in order to interact with it.
However, I'd be happy to look at fixing for this release, since it's now more obvious with the fix

[2018-05-08 02:03] mrose17 commented on #13522
this suggestion is entirely incompatible with the way that BAT is architected or operates. if an approach like this is "interesting", it ought to use a different utility token...

[2018-05-08 02:03] #13522 closed

[2018-05-08 04:10] diracdeltas commented on #11370
I am seeing this in latest release.

the site is muramatsu-america.com, it has 6 views and 59s of time, and it shows percentage -1.

i have 4 pinned sites and i've manually excluded some sites.

[2018-05-08 04:15] ryanml commented on #11370
@diracdeltas I'll take another stab at repro and fixing this issue

[2018-05-08 04:45] petemill commented on #14044
I believe this is occuring because background tabs don't neccessarily have a window webContents when they begin to load. Therefore, we cannot get to the window to send the custom IPC message that we are sending on certificate error.
I have refactored this to work via redux actions in 2d5df77d97853d2a5fd4fad1d261304ccb13c5f1

[2018-05-08 04:45] petemill commented on #14044
Should be fixed in the next build

[2018-05-08 05:11] NejcZdovc commented on #11370
@diracdeltas do you still have this in your table?

[2018-05-08 05:51] sliday commented on #13902
Still a problem. Very annoying.

[2018-05-08 06:17] #14044 closed

[2018-05-08 06:18] #14019 closed

[2018-05-08 08:51] JamieFarrelly commented on #14012
I wonder if this is related to the issue I recently created around LastPass not working either https://github.com/brave/browser-laptop/issues/14023?

[2018-05-08 10:19] sviluppoSoftware opened #14051 "can't install brave browser throught stable repository for ubuntu 18.04 because is not signed"
after installing xubuntu 18.04 i have add the brave repository following your instruction at https://github.com/brave/browser-laptop/blob/master/docs/linuxInstall.md
the commnad grep lsb_release /etc/apt/sources.list.d/brave* return empty, after that i have type the command sudo apt update but return this error message:

E:Failed to fetch https://s3-us-west-2.amazonaws.com/brave-apt/dists/bionic/I

[2018-05-08 11:34] srirambv opened #14052 "Manual test run on OS X for 0.22.x Release 3 (Beta channel)"
## Per release specialty tests
 - [x] Command/ctrl + clicking on websites with certificate issues will result in a "The site can't be reached" page. ([#14044](https://github.com/brave/browser-laptop/issues/14044))
 - [x] "match case" doesn't work under the findbar. ([#14019](https://github.com/brave/browser-laptop/issues/14019))
 - [x] Creata a short wiki for WebRTC when users click on "What do th

[2018-05-08 11:34] srirambv opened #14053 "Manual test run on Windows x64 for 0.22.x Release 3 (Beta channel)"
## Per release specialty tests
 - [x] Command/ctrl + clicking on websites with certificate issues will result in a "The site can't be reached" page. ([#14044](https://github.com/brave/browser-laptop/issues/14044))
 - [x] "match case" doesn't work under the findbar. ([#14019](https://github.com/brave/browser-laptop/issues/14019))
 - [x] Creata a short wiki for WebRTC when users click on "What do th

[2018-05-08 11:34] srirambv opened #14054 "Manual test run on Linux for 0.22.x Release 3 (Beta channel)"
## Per release specialty tests
 - [x] Command/ctrl + clicking on websites with certificate issues will result in a "The site can't be reached" page. ([#14044](https://github.com/brave/browser-laptop/issues/14044))
 - [x] "match case" doesn't work under the findbar. ([#14019](https://github.com/brave/browser-laptop/issues/14019))
 - [x] Creata a short wiki for WebRTC when users click on "What do th

[2018-05-08 11:35] srirambv commented on #14005
Closing in favour of #14054

[2018-05-08 11:35] #14005 closed

[2018-05-08 11:35] srirambv commented on #14004
Closing in favour of #14053

[2018-05-08 11:35] #14004 closed

[2018-05-08 11:35] srirambv commented on #14003
Closing in favour of #14052

[2018-05-08 11:35] #14003 closed

[2018-05-08 13:29] btlechowski commented on #14044
Verified on Ubuntu 17.10 x64
0.22.703 903b8d0d
libchromiumcontent 66.0.3359.139
muon: 6.0.8

[2018-05-08 13:40] btlechowski commented on #14019
Verified on Ubuntu 17.10 x64
0.22.703 903b8d0d
libchromiumcontent 66.0.3359.139
muon: 6.0.8

[2018-05-08 13:49] btlechowski commented on #13992
Verified on Ubuntu 17.10 x64
0.22.703 903b8d0d
libchromiumcontent 66.0.3359.139
muon: 6.0.8

[2018-05-08 14:05] btlechowski commented on #13985
Verified on Ubuntu 17.10 x64
0.22.703 903b8d0d
libchromiumcontent 66.0.3359.139
muon: 6.0.8

[2018-05-08 14:06] btlechowski commented on #13789
Verified on Ubuntu 17.10 x64
0.22.703 903b8d0d
libchromiumcontent 66.0.3359.139
muon: 6.0.8

[2018-05-08 14:53] btlechowski commented on #13879
The formula for time spent on the site is: minimum page time * minimum number of visits.
It seems to be done by design.

Verified on Ubuntu 17.10 x64
0.22.703 903b8d0
libchromiumcontent 66.0.3359.139
muon: 6.0.8

[2018-05-08 15:08] Gurran commented on #11463
I have the same problem on latest release. Key F11 for fullscreen doesn't remove url bar, rest is fullscreen. (Meaning the Windows taskbar gets hidden, meaning fullscreen started)
OS: Windows 10

 Brave: 0.22.669
V8: 6.6.346.24
rev: 6cda2e84f749e66409e9e3bca63f5796422e7edf
Muon: 5.2.7
OS Release: 10.0.16299
Update Channel: Release
OS Architecture: x64
OS Platform: Microsoft Windows
Node.js: 7.9.0

[2018-05-08 16:11] bsclifton commented on #13861
@rgonnering @JR1994 @mikran @WalkingSouth @gabrieldnzs @plaxer @retrocausal this issue should now be fixed 😄 I've tested it myself using a fresh install of Ubuntu 18. I made sure to update both `brave` and `brave-beta` (and tested both)

Please let us know how it goes 😄

[2018-05-08 16:11] #13861 closed

[2018-05-08 16:15] bsclifton commented on #14051
@sviluppoSoftware I just completed pushing our latest and confirmed it works great on Ubuntu 18.  Can you please try again? 😄

[2018-05-08 16:29] plaxer commented on #13861
Can confirm its working fine now. Thanks Clifton.

[2018-05-08 16:30] btlechowski commented on #14045
Still reproducible.
[code]

[2018-05-08 16:32] #14042 closed

[2018-05-08 16:33] btlechowski commented on #14025
Verified on Ubuntu 17.10 x64
* 0.22.703 903b8d0d
* libchromiumcontent 66.0.3359.139
* muon: 6.0.8

[2018-05-08 16:37] btlechowski commented on #14014
Verified on Ubuntu 17.10 x64
* 0.22.703 903b8d0d
* libchromiumcontent 66.0.3359.139
* muon: 6.0.8

[2018-05-08 16:48] kjozwiak commented on #11790
Unfortunately this still doesn't resolve the issue 100%. Sometimes you'll still notice the $0.00 value appear before the real amount is displayed via the modal. Sometimes the transition is instant and sometimes the transition takes a few seconds. I'm guessing this depends on the latency of your network and the ledger server.

[2018-05-08 16:55] btlechowski commented on #13996
Verified on Ubuntu 17.10 x64
* 0.22.703 903b8d0d
* libchromiumcontent 66.0.3359.139
* muon: 6.0.8

[2018-05-08 17:02] btlechowski commented on #13979
Verified on Ubuntu 17.10 x64
* 0.22.703 903b8d0d
* libchromiumcontent 66.0.3359.139
* muon: 6.0.8

[2018-05-08 17:05] btlechowski commented on #11304
Duplicated by #13979

Verified on Ubuntu 17.10 x64
* 0.22.703 903b8d0d
* libchromiumcontent 66.0.3359.139
* muon: 6.0.8

[2018-05-08 17:25] #14047 closed

[2018-05-08 17:28] kjozwiak commented on #11790
Moving this out as it still needs some more improvements. As mentioned above, we're still displaying `$0.00` at times when recovering. However, this has improved the experience by letting the user know that we're actually doing a recovery rather than just displaying `$0.00` for a longer period of time.

[2018-05-08 17:32] srirambv commented on #14018
Verified on Windows x64
* 0.22.703 903b8d0
* libchromiumcontent 66.0.3359.139
* muon: 6.0.8

[2018-05-08 17:34] kjozwiak opened #14055 "border around the recovering modal under Payments"
### Description

When recovering a wallet, the `recovering` modal has a border around it. It appears as `blue` on macOS and `orange` on Win.

### Steps to Reproduce

  1. launch `0.22.703`  903b8d0
  2. visit `about:preferences#payments` and enable `Payments`
  3. Once enabled, recover a previous wallet via `Advanced Settings`

**Actual result:**

<img width="782" alt="screen shot 2018-05-08 at 12

[2018-05-08 18:18] bsclifton commented on #13779
@diracdeltas when loading videos over photos.google.com, there appears to be an issue which causes videos to not load properly. Console displays (possibly unrelated):
[code]

Steps to reproduce:
1. Visit https://photos.google.com/share/AF1QipPu6CS-eDZcwZ-keMebFwbl5guT2ebOB23Mg_SyMPz0-e10GFwM2jg0f33Bi5E3qw?key=V2d6NUs2Q0hHVDhUZWh0S0VLd19icmVJTFdBQTZ3
2. Find one of the video posts (should have the

[2018-05-08 18:20] diracdeltas commented on #13779
@bsclifton interesting - does that error occur without https://github.com/brave/browser-laptop/pull/13820 ?

[2018-05-08 18:25] diracdeltas commented on #13779
i could repro in current release - when i clicked on the video, it didn't load until i allowed all cookies. seems like maybe a separate issue related to cookies/referer.

[2018-05-08 18:41] kjozwiak opened #14058 "TypeError: Error processing argument at index 0, conversion failure from undefined when using `Mute other tabs` with large profiles"
### Description

When attempting to `Mute other tabs` when you have a large profile, the browser will become unresponsive for ~1min and will spam the following error via the terminal:

[code]

However, running through the above case with `0.22.669` requires a force quit as the entire browser becomes unresponsive and never seems to recover.

### Steps to Reproduce

  1. launch `0.22.669` or `0.22.7

[2018-05-08 18:42] LaurenWags opened #14059 "entire div for 'What do these policies mean?' is clickable"
### Description
On about:preferences#security there is a link below the WebRTC setting for 'What do these policies mean?' Only the link should be clickable, but the entire div is clickable.

### Steps to Reproduce

  1. Navigate to about:preferences#security
  2. Hover over 'What do these policies mean?' div and click anywhere on the div
  3. WebRTC wiki page is opened.

**Actual result:**
Entire

[2018-05-08 19:07] jonathansampson commented on #915
@bbondy @bsclifton I just got off a call with a user who ran into this; removing the `node_env` value resolved the issue for them.

[2018-05-08 19:31] jumde opened #14060 "deep-extend - Prototype Pollution"
[code]

[2018-05-08 19:36] diracdeltas commented on #14029
@darkdh in fixing this, can we just write Tor process logs to disk on all platforms? that would help with debugging.

[2018-05-08 19:44] LaurenWags commented on #14001
Verified with macOS 10.12.6 using
* 0.22.703 https://github.com/brave/browser-laptop/commit/903b8d0d3703b5fdc5a719294403e7460d9b806d
* muon 6.0.8
* libchromiumcontent 66.0.3359.139

[2018-05-08 19:44] #14055 closed

[2018-05-08 19:52] srirambv commented on #13325
Verified on Windows x64
* 0.22.703 903b8d0
* libchromiumcontent 66.0.3359.139
* muon: 6.0.8

[2018-05-08 19:52] LaurenWags commented on #13645
Verified with macOS 10.12.6 using
* 0.22.703 https://github.com/brave/browser-laptop/commit/903b8d0d3703b5fdc5a719294403e7460d9b806d
* muon 6.0.8
* libchromiumcontent 66.0.3359.139

[2018-05-08 19:57] btlechowski commented on #6547
Verified on Ubuntu 17.10 x64
* 0.22.703 903b8d0d
* libchromiumcontent 66.0.3359.139
* muon: 6.0.8

[2018-05-08 20:10] darkdh commented on #14029
this popup shown is not because we launch tor. it is utility process, I'm working on this.

and I am all for writing tor log into a disk file on all platforms.

[2018-05-08 20:14] LaurenWags commented on #14001
Note, while testing @kjozwiak and I did encounter the following error. Confirmed with @ryanml and @NejcZdovc that it is expected in this scenario.

TypeError: Invalid entropy
    at Object.entropyToMnemonic (/Applications/Brave-Beta.app/Contents/Resources/app.asar/node_modules/bip39/index.js:98:34)
    at Object.fromBytesOrHex (/Applications/Brave-Beta.app/Contents/Resources/app.asar/node_modules/

[2018-05-08 20:20] kjozwiak opened #14062 "Error modal not properly covering all payment controls"
### Description

When you receive the corrupted seed modal, you'll notice that the `Show only included sites` isn't fully covered and can still be used. The modal should be covering the entire area and not give the user the ability to use any controls until the seed is restored.

### Steps to Reproduce

* Run through the STR included in #14001

**Actual result:**

Scenario 1 :
<img width="841" alt

[2018-05-08 20:26] srirambv opened #14063 "Recovering a corrupted seed using valid key creates a new wallet"
### Description
Recovering a corrupted seed using valid key creates a new wallet

### Steps to Reproduce

1. Clean install
2. Create Wallet in about:preferences#payments
3. Exit Brave
4. Delete seed 20 and 21 in ledger-state.json
5. Run Brave again
6. Click "Recover your Brave wallet"
7. Then successfully recover the wallet with:  `vower obovoid menace tobogganist hoyle honoree pixel pestilently d

[2018-05-08 20:28] srirambv commented on #13645
Functionality works but needs to verify once https://github.com/brave/browser-laptop/issues/14063 is confirmed

[2018-05-08 20:30] NejcZdovc commented on #14063
So what is happening is that you are importing key that is NICEWARE `vower obovoid menace tobogganist hoyle honoree pixel pestilently disconcertment sellable ruffing supervision zoroastrian based coparent slackened` (16 words), but when we recover wallet we are using now BIP39 which has 24 words and you get `wasp broken strong analyst until tray olympic arrow input bicycle gun settle prepare tissu

[2018-05-08 20:33] #14058 closed

[2018-05-08 20:35] NejcZdovc commented on #14063
Also tried recovered with new bip39 passphrase and passphrase is not changed and it stayed the same

[2018-05-08 20:38] kjozwiak commented on #12220
Example of the original issue under `0.22.669` using a staging wallet with `1000 BAT` tokens:

<img width="842" alt="screen shot 2018-05-08 at 4 36 12 pm" src="https://user-images.githubusercontent.com/2602313/39781699-fa033d64-52dd-11e8-880c-699e7578b214.png">

Example when using `0.22.703` with the same wallet as mentioned above:

<img width="843" alt="screen shot 2018-05-08 at 4 33 37 pm" src="

[2018-05-08 20:40] kjozwiak commented on #12220
Verified on macOS 10.13.3 x64 using the following build:

* `0.22.703` 903b8d0d3703b5fdc5a719294403e7460d9b806d
* libchromiumcontent: `66.0.3359.139`
* Muon: `6.0.8 `

[2018-05-08 20:41] lonormaly commented on #13902
Agree, really frustrating...

[2018-05-08 20:59] kjozwiak commented on #14059
@bsclifton should we move this into `0.23.x`? I know we were moving issues out of `0.23.x` during the triage call but we already have #12137 fixed which is similar. Might as well fix all these cases if we can. Should be a trivial fix as well. Thoughts?

[2018-05-08 21:02] srirambv commented on #14062
Happens on this as well
![image](https://user-images.githubusercontent.com/17010094/39782942-90013408-52e1-11e8-8f38-44d0891d452b.png)

[2018-05-08 21:25] LaurenWags opened #14064 "dropping a tab onto a single tab results in white window/error in terminal"
### Description
Dropping a tab onto another tab (in the tabs bar) results in a loss of the dropped tab and the window is white.

### Steps to Reproduce

  1. Launch Brave from CLI and open a window with several tabs (I had 4) - this is Window A
  2. Open a second window with 1 tab - this is Window B
  3. Tear off a tab from Window A creating a third window - Window C
  4. Drag the tab from Window

[2018-05-08 21:28] kjozwiak commented on #14062
What's strange is that now it's not even getting close to covering `Show only included sites` as it did before despite using `0.22.703` which was used in the original issue...

<img width="850" alt="screen shot 2018-05-08 at 5 26 40 pm" src="https://user-images.githubusercontent.com/2602313/39784042-11b90f86-52e5-11e8-9023-6a3253315a7b.png">

[2018-05-08 21:33] diracdeltas commented on #14063
@NejcZdovc @srirambv this is expected behavior. when you import an old key, it will be migrated to the new format (bip39). you can verify that if you import the old key again, you get the same new key.

[2018-05-08 21:41] jasonrsadler opened #14065 "Update BAT-Client to 2.3.1"
See brave-intl/bat-client#69

cc @diracdeltas @NejcZdovc @bsclifton

[2018-05-08 21:56] diracdeltas opened #14066 "verify our metascraper-based client code is not vulnerable"
the BAT client code in browser-laptop copy/pasted some code from metascraper, which has an unfixed vuln: https://hackerone.com/reports/309367. we need to check whether it is vulnerable as well.

related: https://github.com/brave/browser-laptop/issues/14065

[2018-05-08 22:46] #14065 closed

[2018-05-08 23:31] diracdeltas commented on #14066
Pretty sure this is OK because we don't evaluate any of the metascraper input as code. I will add a check to sanitize it for HTML just to be extra sure.

[2018-05-08 23:39] bsclifton commented on #14059
@kjozwiak since it's such a small one, I think we can skip on including it with 0.23.x.  However, this would be a great first bug for somebody (and we can pull into 0.23.x if it's done sooner than later)

[2018-05-08 23:41] bsclifton commented on #14059
Here's a picture showing the issue; the entire div is clickable, rather than using a span (or `inline-block`ing it, etc)
![screen shot 2018-05-08 at 4 40 22 pm](https://user-images.githubusercontent.com/4733304/39788310-b6e37714-52de-11e8-8f1d-0b47deac199f.png)

[2018-05-08 23:42] petemill opened #14070 "Zoom percent label in main menu is not updated when the same site is active in multiple windows and zoom changes in one"
### Description
#13783 moves zoomPercent reading to tabState, since previously it read from the active tab's `<webview>` in the renderer. Since the active tab may not always have a webview, but the contextMenu needs to ready the value synchronously it's best to store this in the state. i.e. we cannot asynchronously `getWebContents(tabId, (webContents) => webContents.getZoomPercent()` whenever the

[2018-05-09 00:02] petemill commented on #14045
Should be fixed in next build via f4c5b68

[2018-05-09 02:08] hyph3n commented on #12647
Yes, still able to reproduce on:

Brave: 0.22.669
V8: 6.6.346.24
rev: 6cda2e84f749e66409e9e3bca63f5796422e7edf
Muon: 5.2.7
OS Release: 4.15.14-300.fc27.x86_64
Update Channel: Release
OS Architecture: x64
OS Platform: Linux
Node.js: 7.9.0
Brave Sync: v1.4.2
libchromiumcontent: 66.0.3359.117

[2018-05-09 02:46] apapedulimu opened #14071 "Failed to return real IP when converted IP into Long/Decimal On Homepage"
**Summary:**
Failed to return real IP when converted IP into Long/Decimal,

**Detail :**

http://74.125.24.139/ = http://google.com/
this is ip of google.com [74.125.24.139 ] converted into Long/Decimal using http://www.smartconversion.com/unit_conversion/IP_Address_Converter.aspx
http://1249712267/ = will return http://74.125.24.139/
1249712267/ = not return to http://74.125.24.139/

**Products a

[2018-05-09 03:14] petemill commented on #14064
Two issues causing this:

1. When moving a tab out of a window, the state's tab.index of all tabs with a higher index than the departing tab is not updated.
2. `newFrame(...)` blindly accepts any index given to it and tries to insert at that index.

Therefore dragging a tab to another tab which has had a previous tab depart it's window tries to give it a higher index than it should have. The tab i

[2018-05-09 04:40] NejcZdovc commented on #14062
@kjozwiak `Show only included sites` should not be covered with this dialog

[2018-05-09 04:52] NejcZdovc commented on #14063
closing as this is expected

[2018-05-09 04:52] #14063 closed

[2018-05-09 05:33] NejcZdovc commented on #14062
Pushing this back into 0.23 as fix made is #14067 will not cover all the cases, so we will need to create more general solution

[2018-05-09 05:44] bsclifton commented on #915
@jonathansampson this could be a tricky one to solve properly... I think it's safe to say this wouldn't affect most users. Maybe we could describe the symptoms and share the fix on community.brave.com?

[2018-05-09 12:42] Jacalz opened #14072 "Replace Facebook top site tile with GitHub and improve top site tiles styling"
### Description
The Facebook logo should be changed to something different, I myself would recommend github sice a lot of brave users might want to use GitHub.

### Additional Information
cc @bradleyrichter

[2018-05-09 12:53] btlechowski commented on #14001
Is it valid behavior that recovery dialog is shown?
![image](https://user-images.githubusercontent.com/34715963/39815479-591bfab0-5398-11e8-83d1-9511131b196a.png)

On top of that I can go to 'Backup my wallet ' and use the words for recovery.

Tested with clean profile on
[code]

[2018-05-09 13:14] Jacalz commented on #14072
Had a go at fixing this and I managed to fix some other changes on the way there:
![image](https://user-images.githubusercontent.com/25466657/39816470-a2bf0aec-539b-11e8-8338-7b4e63a215f0.png)

[2018-05-09 13:18] Jacalz commented on #14072
I added GitHub at the moment with a link to https://github.com/brave at the time being 🙂

[2018-05-09 13:29] kjozwiak commented on #13861
Thanks for working and getting this done @bsclifton! I'm sure the community will really appreciate it 👍

[2018-05-09 13:43] kjozwiak commented on #13943
@diracdeltas the match case issue was fixed in #14019

[2018-05-09 13:50] btlechowski commented on #14047
Verified on Ubuntu 17.10 x64
* 0.22.703 903b8d0d
* libchromiumcontent 66.0.3359.139
* muon: 6.0.8

[2018-05-09 13:51] NejcZdovc commented on #14001
@btlechowski yes broken seed dialog should be displayed when you corrupt your seed

[2018-05-09 16:41] #12997 closed

[2018-05-09 16:42] #13064 closed

[2018-05-09 16:43] #13212 closed

[2018-05-09 16:43] #13063 closed

[2018-05-09 16:43] #13065 closed

[2018-05-09 16:44] #13447 closed

[2018-05-09 16:45] #12922 closed

[2018-05-09 16:46] #13658 closed

[2018-05-09 16:46] #13925 closed

[2018-05-09 16:51] diracdeltas commented on #12235
closed by tor/0.23.x branch

[2018-05-09 16:51] #12235 closed

[2018-05-09 17:00] #12990 closed

[2018-05-09 17:00] diracdeltas commented on #12934
done in tor/0.23.x

[2018-05-09 17:00] #12934 closed

[2018-05-09 17:00] diracdeltas commented on #12932
done in tor/0.23.x

[2018-05-09 17:00] #12932 closed

[2018-05-09 17:02] diracdeltas commented on #13736
plugins are already disabled except widevine in some cases which is covered by #13626. for extensions, we decided not to disable them in general until there's a security slider with a strict setting

[2018-05-09 17:02] #13736 closed

[2018-05-09 17:28] jonathansampson commented on #915
@bsclifton Yeah, I suspect this is only going to impact developers (unless some software sets the same environment variable). One developer with whom I spoke wasn't familiar with env-variables, and still had this one set (which makes me wonder if some software may have set it).

[2018-05-09 17:36] srirambv opened #14074 "Enabling payment sets contribution date 30+1 and changes back to 30 after wallet creation"
### Description
Enabling payment sets contribution date 30+1 and changes back to 30 after wallet creation

### Steps to Reproduce
  1. Enable payments
  2. Next contribution date shows 30+1 days
  3. Once wallet is created next contribution date sets back to 30 days

Found the issue on
Timestamp in milliseconds: 1525829756000
Human time (GMT): Wednesday, May 9, 2018 1:35:56 AM

**Actual result:**

[2018-05-09 18:05] riastradh-brave commented on #13658
For posterity: We moved it under shields, and made clean reload create a new circuit too.

[2018-05-09 18:09] bsclifton commented on #12959
Hi folks

I'm taking a look at this again and have been trying a few different PAC scripts without success. Would anyone here experiencing the problem feel safe sharing a copy of their PAC script with me? If so, please contact me via clifton@brave.com

Without a clear way to reproduce it's nearly impossible to attempt a fix (which is the major reason this issue hasn't been resolved yet) ☹️

[2018-05-09 18:32] NejcZdovc commented on #915
@jonathansampson @bsclifton because this behaviour is meant for developers only, we can detect if you set it and display notification on lunch with steps how to remove it. wdyt?

[2018-05-09 18:32] darkdh commented on #14029
fixed by https://github.com/brave/muon/pull/473/commits/6d6cda7792fef35502fd52b3d209b7f43c86b5aa which will be available in muon 6.1.1

[2018-05-09 18:32] #14029 closed

[2018-05-09 18:33] darkdh commented on #14033
fixed by https://github.com/brave/muon/pull/473/commits/6d6cda7792fef35502fd52b3d209b7f43c86b5aa which will be available in muon 6.1.1

[2018-05-09 18:33] #14033 closed

[2018-05-09 19:10] LaurenWags opened #14075 "enabling extensions throws an error in terminal and logs an report in chrome://crashes"
### Description
Enabling extensions (tried Bitwarden, Dashlane, Honey) in 0.22.703 throws an error in the terminal. Could not repro the error in 0.22.669.

### Steps to Reproduce

  1. Launch via CLI.
  2. Go to about:preferences#extensions and enable Bitwarden (or Dashlane, etc).
  3. Bitwarden enables. You don't need to login.

**Actual result:**
Error is displayed in the terminal and a crash re

[2018-05-09 19:12] jumde opened #14076 "Update keychain ACLs for release version."
Brave (release) shows a keychain access dialog on start:

<img width="1168" alt="screen shot 2018-05-09 at 12 08 26 pm" src="https://user-images.githubusercontent.com/1903815/39834467-df5dd6a0-5381-11e8-8c0d-80f084343dea.png">

This is because the `ACLs` on `Chrome Safe Storage` are not updated to include the Brave process

<img width="874" alt="screen shot 2018-05-09 at 12 10 21 pm" src="https://

[2018-05-09 19:26] jumde opened #14077 "[Question] Brave accesses Hideman Certificate"
https://www.reddit.com/r/brave_browser/comments/8ho6b1/whats_brave_hideman_certificate/

[2018-05-09 19:38] kjozwiak commented on #14075
This could lead to an influx of crash reports from users who have Bitwarden enabled. Every time a user opens a tab, they'll trigger the above crash which is also logged in `chrome://crashes` and sent into `stats.brave`.

[2018-05-09 19:59] rgonnering commented on #13861
Thanks for the help.

I have not been able to install Brave, but that is not related to this
ticket. Once I get that resolved, I will try to install Brave again.

Thanks,
Roger

On Wed, May 9, 2018 at 8:29 AM, Kamil Jozwiak <notifications@github.com>
wrote:

[2018-05-09 20:31] srirambv opened #14078 "Keyboard shortcuts stops working when there is a webview crash"
### Description
Keyboard shortcuts stops working when there is a webview crash

### Steps to Reproduce

1. Open a clean profile
2. open preferences using keyboard shortcut
3. open a couple of new tabs with shortcut and load random sites
4. `chrome://crashes`in one tab
5. `chrome://crash` in a second tab
6. switch back to `chrome://crashes` tab and go back to `chrome://crash` tab
7. Set focus on an

[2018-05-09 21:07] LaurenWags commented on #14075
You also get this error if you enable sync, navigate to about:extensions page, and click on the '_generated_background_page.html' link.

[2018-05-09 21:20] LaurenWags opened #14079 "opening extension background page from URL bar causes Brave to crash"
### Description
If you attempt to open the Sync background page (via the URL bar) Brave crashes.

### Steps to Reproduce

  1. Launch Brave with a clean profile from CLI.  (you can add some sites as bookmarks but it doesn't seem to matter)
  2. Enable Sync.
  3. Open a new tab and paste in the URL for the background page: chrome-extension://cjnmeadmgmiihncdidmfiabhenbggfjm/_generated_background_pa

[2018-05-09 21:34] derekhillhp commented on #12959
@bsclifton just sent you a PAC file

[2018-05-09 22:30] srirambv commented on #14053
Looks good. Ledger ones need to be retested in new build.

[2018-05-09 22:30] #14053 closed

[2018-05-09 22:53] drewreece commented on #12744
Is Brave actually supporting 10.9.5?
There are around 14 threads listed in the community page that seem to share the same issue (after a cursory glance of them), https://community.brave.com/search?q=10.9%20crash%20
– Brave cannot open successfully on 10.9.5.

I understand it is difficult to support older OS's & would love Brave to work on 10.9.5.

The post below from February 14th by By0Ir9 does a

[2018-05-09 22:55] btlechowski commented on #14054
Tested on Ubuntu 17.10 x64
* 0.22.703 903b8d0d
* libchromiumcontent 66.0.3359.139
* muon: 6.0.8

[2018-05-09 22:55] #14054 closed

[2018-05-10 00:36] petemill opened #14080 "tab index in state is not always accurate"
As reported at https://github.com/brave/browser-laptop/issues/14064#issuecomment-387607487, a tab's index in the state can get out of sync with muon. This is because there are different muon Tab events in a single-webview world that can affect index, and we need to make sure we call `updateTabsStateForWindow`.

However, this function results in a performance hit since it not only updates the state

[2018-05-10 00:54] petemill opened #14081 "Closing a tab towards the beginning of a tab strip with many tabs has performance issue"
### Description
When removing a tab from state due to a tab close, we delete it from an `Immutable.List`. This causes every tab with a higher index in that object to have a new key. When we send the updated state to each window, we first compute the diff, which results in a new change operation for every single property of every single tab, since the key for the tab state is the index of the item

[2018-05-10 01:05] petemill opened #14082 "Creating many windows and tabs at startup locks up the browser for some seconds"
After single-webview was implemented, starting up with multiple windows and many tabs no longer locks up the browser for multiple minutes. However, the experience is still not very smooth.

The windows, and all the tabs for those windows are created at the same time. This results in an extremely high number of state changes to be communicated from browser -> window, an extremely high number of act

[2018-05-10 01:33] gabrieldnzs commented on #13861
@bsclifton @kjozwiak  It's working on Kubuntu 18.04 LTS! Thanks for the help! I'm using Brave as my primary navigator for a week and i'm very happy with the browser. Keep the good work :+1:

[2018-05-10 01:39] rgonnering commented on #13861
Brave installation on 18.04 confirmed good.

Thanks

On Wed, May 9, 2018 at 8:33 PM, gabrieldnzs <notifications@github.com>
wrote:

[2018-05-10 01:48] jamesray1 commented on #13849
What the bookmarks toolbar looks like after importing from Firefox and manually moving Imported from Firefox > Bookmarks Toolbar to the Bookmarks Toolbar with the latest version:

![screenshot from 2018-05-10 11-45-44](https://user-images.githubusercontent.com/16969914/39847964-b77e2b5a-5447-11e8-990b-3e1e85b31e52.png)

The favicons don't show by default, I had to enable them (this is because it's

[2018-05-10 04:56] NejcZdovc commented on #9025
closed with #13592

[2018-05-10 04:56] #9025 closed

[2018-05-10 04:57] bsclifton commented on #9025
@jasonrsadler can you please add some testing steps for this? Or if you and @cezaraugusto agree it doesn't need manual testing, let's mark as `no-qa-needed`

[2018-05-10 05:17] #14045 closed

[2018-05-10 05:17] #11376 closed

[2018-05-10 05:18] petemill commented on #14081
Should be fixed in next beta build

[2018-05-10 05:18] #10947 closed

[2018-05-10 05:33] #10880 closed

[2018-05-10 05:34] #7989 closed

[2018-05-10 05:34] #8339 closed

[2018-05-10 05:35] #8661 closed

[2018-05-10 05:43] #10898 closed

[2018-05-10 05:44] #10899 closed

[2018-05-10 05:46] #8056 closed

[2018-05-10 05:46] #8587 closed

[2018-05-10 05:47] #10712 closed

[2018-05-10 05:47] #10263 closed

[2018-05-10 05:49] #9558 closed

[2018-05-10 05:54] #14052 closed

[2018-05-10 05:57] #10948 closed

[2018-05-10 05:58] #8235 closed

[2018-05-10 06:01] #7114 closed

[2018-05-10 06:01] #7168 closed

[2018-05-10 06:02] #9071 closed

[2018-05-10 06:05] #9283 closed

[2018-05-10 06:05] #9846 closed

[2018-05-10 11:08] sviluppoSoftware commented on #14051
now all works fine, thank you :)

[2018-05-10 11:35] jasonrsadler commented on #9025
@bsclifton I'll put some placeholder steps until I confer with @cezaraugusto on what the appropriate testing steps should be.

[2018-05-10 13:33] LaurenWags commented on #10405
+1s from community:
https://community.brave.com/t/scroll-wheel-bug-highlights-entire-page/21820
https://community.brave.com/t/scroll-wheel-bug/11589

[2018-05-10 14:39] jubbbird commented on #271
I intend to do a primary browser trial just as soon as there's a dark theme.

[2018-05-10 15:07] cezaraugusto commented on #9025
Labeling as `no-qa-needed` as no functionality was added and no design was changed.

[2018-05-10 15:12] srirambv commented on #1421
Removing milestone as its going to be fixed with brave-core

[2018-05-10 15:54] xaliber commented on #7082
+1 more from me, found this link from this: https://community.brave.com/t/download-size-in-the-download-bar/8373/2

[2018-05-10 17:03] diracdeltas commented on #14060
based on the hackerone report https://hackerone.com/reports/311333 this could be an exploitable issue if deep-extend is used to process untrusted input

cc @feross since the path shows webtorrent

[2018-05-10 17:03] LaurenWags opened #14085 "some sites aren't being added to payments after meeting minimum criteria"
### Description
Some sites aren't being added to the ledger table after the visit meets minimum criteria. An example is https://miaou.art

Reported via community: https://community.brave.com/t/publisher-is-not-yet-added-to-the-ledger-because-it-doesnt-meet-criteria-yet/21831

### Steps to Reproduce

  1. Enable Payments
  2. Navigate to https://miaou.art
  3. Wait until at least minimum criteria i

[2018-05-10 17:08] LaurenWags commented on #4745
+1 from community: https://community.brave.com/t/multi-tier-bookmarks-go-outside-browser-window-and-are-inaccessible/21852

[2018-05-10 17:19] diracdeltas opened #14086 "some pinned publishers not paid"
Version: latest release, 0.22.669
OS: MacOS

I had 4 pinned publishers:
![screen shot 2018-05-10 at 9 55 37 am](https://user-images.githubusercontent.com/549654/39883368-8250a694-543b-11e8-89a0-448ef4097f63.png)

Only 2 of them were paid:
![screen shot 2018-05-10 at 9 56 00 am](https://user-images.githubusercontent.com/549654/39883388-9692ae36-543b-11e8-8a10-eba977890dda.png)

The two that weren't

[2018-05-10 17:48] kjozwiak commented on #14086
CC'ing @NejcZdovc.

[2018-05-10 17:51] probonopd commented on #10250
@cmatomic with recent AppImages (built with recent versions of `appimagetool` or `linuxdeployqt`) it should be possible to extract the AppImage using the `--appimage-extract` command line option. For older AppImages, you should be able to loop-mount them to inspect their contents.

@posix4e are you interested in making the AppImage official? Can I help with anything?

[2018-05-10 18:08] kjozwiak opened #14087 "Manual test run on OS X for 0.22.x Release 3 (Beta channel)"
## Per release specialty tests
 - [x] Closing a tab towards the beginning of a tab strip with many tabs has performance issue. ([#14081](https://github.com/brave/browser-laptop/issues/14081))
 - [x] Tab index in state is not always accurate. ([#14080](https://github.com/brave/browser-laptop/issues/14080))
 - [x] Verify our metascraper-based client code is not vulnerable. ([#14066](https://github.c

[2018-05-10 18:08] kjozwiak opened #14088 "Manual test run on Windows x64 for 0.22.x Release 3 (Beta channel)"
## Per release specialty tests
 - [x] Closing a tab towards the beginning of a tab strip with many tabs has performance issue. ([#14081](https://github.com/brave/browser-laptop/issues/14081))
 - [x] Tab index in state is not always accurate. ([#14080](https://github.com/brave/browser-laptop/issues/14080))
 - [x] Verify our metascraper-based client code is not vulnerable. ([#14066](https://github.c

[2018-05-10 18:08] kjozwiak opened #14089 "Manual test run on Linux for 0.22.x Release 3 (Beta channel)"
## Per release specialty tests
 - [x] Closing a tab towards the beginning of a tab strip with many tabs has performance issue. ([#14081](https://github.com/brave/browser-laptop/issues/14081))
 - [x] Tab index in state is not always accurate. ([#14080](https://github.com/brave/browser-laptop/issues/14080))
 - [x] Verify our metascraper-based client code is not vulnerable. ([#14066](https://github.c

[2018-05-10 18:37] BobT36 commented on #13156
![capture](https://user-images.githubusercontent.com/14024619/39887182-15ff4d1a-5481-11e8-8d54-8efad91b05ad.PNG)
Hmm been like this for a while. Something else is stopping it, it seems.

I did get a popup in the notification bar at the top encouraging me to add funds to my wallet. This should be enough though if the threshold is set correctly.

[2018-05-10 19:06] Blankbook2081 opened #14090 "Airconsole gaming does not work. [PC and Phone]"
### Description

on the game website Airconsole, games do not load on the PC(as a screen).
As a [Android] phone, the controller aspect works fine, but the [scheduled break] timer does not show up.

### Steps to Reproduce/ Actual Result

  1. Go to airconsole.com (Load up Brave on Computer and Phone)
  2. Pick a game.
  3. Try to play.
4. Realize it doesn't load on the PC. Use a second browser on t

[2018-05-10 19:27] LaurenWags commented on #14081
Verified with macOS 10.12.6 using
* 0.22.706 e11b027
* muon 6.0.9
* libchromiumcontent 66.0.3359.139

[2018-05-10 19:30] Blankbook2081 commented on #14090
EDIT: Trying to draw in the game does not work.

[2018-05-10 19:38] ryanml commented on #14085
@LaurenWags curious, are you able to repro this on `0.24.0` ? I am not able to. Just want to determine if it may have been fixed recently.

[2018-05-10 19:40] LaurenWags commented on #14080
Verified with macOS 10.12.6 using
* 0.22.706 e11b027
* muon 6.0.9
* libchromiumcontent 66.0.3359.139

[2018-05-10 19:41] LaurenWags commented on #14064
Verified with macOS 10.12.6 using
* 0.22.706 e11b027
* muon 6.0.9
* libchromiumcontent 66.0.3359.139

[2018-05-10 19:44] flamsmark opened #14091 "WebRTC not fully disabled with Tor"
In a private tab with Tor, it doesn't look like WebRTC is fully disabled. Visiting <https://browserleaks.com/webrtc> with default shields settings caused Brave to access my webcam drivers and then expose a list of A/V devices to the site. IP address doesn't seem to have been exposed.

![screen shot 2018-05-10 at 12 37 29 pm](https://user-images.githubusercontent.com/639937/39890422-92698b68-544f-1

[2018-05-10 19:48] srirambv opened #14092 "Add funds modal should not be shown when payments server isn't responding"
### Description
Add funds modal should not be shown when payments server isn't responding

### Steps to Reproduce
  1. Enable payments and keep the browser open for a while
  2. Wait till you get notification to add funds to wallet
  3. Disconnect from network and wait for a min for connection error modal to show up
  4. Click on add funds button on the notification bar
  5. Add funds modal pops u

[2018-05-10 20:07] LaurenWags commented on #14066
Verified test plan from https://github.com/brave/browser-laptop/issues/13114#issue-296592413 with macOS 10.12.6 using
* 0.22.706 e11b027
* muon 6.0.9
* libchromiumcontent 66.0.3359.139

[2018-05-10 20:11] riastradh-brave commented on #14091
What we _automatically_ block in private tabs with Tor enabled is only the WebRTC IP leak.  We do not automatically block all (first-party) fingerprinting, but if you enable that in shields, then WebRTC is disabled altogether.  (Third-party fingerprinting is blocked by default.)

[2018-05-10 20:16] LaurenWags commented on #14058
Verified with macOS 10.12.6 using
* 0.22.706 e11b027
* muon 6.0.9
* libchromiumcontent 66.0.3359.139

[2018-05-10 20:18] LaurenWags commented on #14055
Verified with macOS 10.12.6 using
* 0.22.706 e11b027
* muon 6.0.9
* libchromiumcontent 66.0.3359.139

[2018-05-10 20:43] LaurenWags commented on #13810
Verified with macOS 10.12.6 using
* 0.22.706 e11b027
* muon 6.0.9
* libchromiumcontent 66.0.3359.139

[2018-05-10 20:46] LaurenWags commented on #14045
Verified with macOS 10.12.6 using
* 0.22.706 e11b027
* muon 6.0.9
* libchromiumcontent 66.0.3359.139

[2018-05-10 20:56] diracdeltas commented on #14091
if we turned on https://github.com/brave/browser-laptop/issues/13735, it would also block device enumerator in tor tabs

[2018-05-10 21:07] btlechowski opened #14093 "Disappearing Bookmark Folder"
### Steps to Reproduce
Note: Best to watch the video
1. Clean install
2. Create Bookmark folder
3. Drag the bookmark folder onto its content modal
![disappearing_content_modal](https://user-images.githubusercontent.com/34715963/39893670-d19be27c-54a4-11e8-989e-58c9c57488ba.gif)

**Actual result:**
The bookmark folder disappears with all its content(will not be shown after restart).
The bookmarks u

[2018-05-10 21:14] LaurenWags commented on #14093
Reproduces on macOS using `0.22.669`

[2018-05-10 21:16] riastradh-brave commented on #13464
![allowdeny](https://user-images.githubusercontent.com/34034191/39894735-6005a506-5497-11e8-88e6-7cdbbbf72f86.png)

[2018-05-10 21:29] btlechowski commented on #14093
+1 from community: https://community.brave.com/t/bookmarks-disappearing-from-toolbar-occasionally/21679

[2018-05-10 21:32] LaurenWags commented on #13140
Reproduced this on `0.22.706` when using a large profile and typing in the URL bar showed the first character quickly, but subsequent characters were slow to show. Definitely saw this slowness when typing 'huf' and 'cnn' into the URL bar. Typing nytim or pinter didn't produce this slowness.
![lag](https://user-images.githubusercontent.com/28145373/39895380-007f2b30-5478-11e8-811a-95647fc44cca.gif)

[2018-05-10 21:52] srirambv commented on #14000
Issue doesn't seem fixed. STR followed
1. Enable Payments
2. Fund wallet
3. Visit sites to add to ledger table
4. Change reconcile to older than 5 days
5. Launch browser with `LEDGER_NO_DELAY=true  LEDGER_NO_FUZZING=true` to trigger reconcile
6. Reconcile succeeds and no notification shown on UI that reconcile has been pushed back by 3 days

Issue reproduced by @kjozwiak by setting reconcile back

[2018-05-10 22:30] diracdeltas opened #14095 "use tor stable binaries instead of alpha"
currently the S3 binaries (on mac at least) are Tor 0.3.4.0-alpha-dev. we should stick to stable since it is less buggy and probably needs less updating.

[2018-05-10 22:32] danfinlay commented on #13711
(This should be fixed now)

[2018-05-11 01:09] feross commented on #14060
When I freshly install `webtorrent-remote` the vulnerable package is no longer in the tree:

[code]

According to the [NodeSecurity advisory](https://nodesecurity.io/advisories/612) updating to `deep-extend@0.5.1` should mitigate the issue.

I think this issue can be safely closed once you've updated your `package-lock.json` (if you use one).

[2018-05-11 01:47] jumde commented on #14060
@feross you just need to publish an updated version of `webtorrent-remote`.

https://www.npmjs.com/package/webtorrent-remote

The latest published version uses 0.4.2.

[2018-05-11 03:07] djrichmatthews commented on #2171
+1 Would like to see this as well, thanks. =)

[2018-05-11 03:43] M-Tamy opened #14097 "I Can't Update [FAILED] [MIRROR] - Fedora 27"
Every time I try to update Brave with 'sudo yum update brave'
Then I get this message
[MIRROR] brave-0.22.669.x86_64.rpm: Curl error (28): Timeout was reached for https://s3-us-west-2.amazonaws.com/brave-rpm-release/x86_64/brave-0.22.669.x86_64.rpm [Operation too slow. Less than 1000 bytes/sec transferred the last 30 seconds]
[FAILED] brave-0.22.669.x86_64.rpm: No more mirrors to try - All mirrors

[2018-05-11 04:34] feross commented on #14060
@jumde That's not correct, as far as I can tell. We depend on loose version ranges.

Try deleting your `node_modules/` folder and reinstalling. You'll see that `deep-extend@0.5.1` is installed.

[2018-05-11 05:25] NejcZdovc commented on #14000
@srirambv you shouldn't use `LEDGER_NO_FUZZING` when testing this one, because you disabled this pushback. Please try it again without it.

[2018-05-11 05:25] #14000 closed

[2018-05-11 05:26] #14060 closed

[2018-05-11 05:56] kjozwiak commented on #14000
@NejcZdovc when @srirambv and me went through the above, we used`LEDGER_NO_FUZZING`. I'm guessing that's why the contribution went through? Fuzzing controls the push back if the 30min requirement isn't met correct? Should we run through the above case using only `LEDGER_NO_DELAY=true` and not `LEDGER_NO_FUZZING=true`?

[2018-05-11 08:35] Jacalz commented on #13831
Sorry but this is starting to become very annoying 👎

[2018-05-11 09:15] scriptify commented on #3555
I really love to hear that you are working on this. Big up to all developers investing time into Brave, your effort is really appreciated!

[2018-05-11 13:48] srirambv commented on #14046
@petemill dragging tab into empty space in tabs bar causes it to open up as a new window. Below is the recording

![14046](https://user-images.githubusercontent.com/17010094/39927448-3d599562-5500-11e8-99fb-82a96e007d58.gif)

However this is not the same behaviour on macOS. Is the fix only for mac or for all platforms?

[2018-05-11 13:59] srirambv commented on #14000
![image](https://user-images.githubusercontent.com/17010094/39927983-0aee62fe-5502-11e8-94bf-f7ac8c8655c4.png)

[2018-05-11 14:03] srirambv commented on #14042
Verified on Windows x64
* 0.22.706 e11b027
* libchromiumcontent 66.0.3359.139
* muon: 6.0.9
Followed steps mention in https://github.com/brave/browser-laptop/pull/14057

[2018-05-11 14:04] LaurenWags commented on #14046
On macOS the tab dragged to the empty area of the tabs bar is added to the window:
![14046-2](https://user-images.githubusercontent.com/28145373/39928176-a1528e1e-5502-11e8-9b5b-5f882f9502dc.gif)

[2018-05-11 14:15] srirambv commented on #8095
+1 from https://community.brave.com/t/add-extension-react-dev-tools-to-use-brave-as-browser-to-test-and-analize-components-of-react-technologies/21877/2

[2018-05-11 17:06] #13216 closed

[2018-05-11 17:29] jumde commented on #14060
Test:

- Run npm run check-security to confirm no `deep-extend` vulnerabilties are present.

[2018-05-11 17:43] joeytwiddle commented on #1676
Greasemonkey has taken a different direction since Firefox Quantum, redefining what a userscript is.  As a result, the majority of old scripts do not run in it without modification, so I have switched to TamperMonkey for now, for practical purposes.

It's worth thinking about which direction to take, and looking at what users are currently doing.  (How many of the popular scripts on GreasyFork and

[2018-05-11 19:28] LaurenWags commented on #14046
Verified with macOS 10.12.6 using
* 0.22.709 e043144
* muon 6.0.9
* libchromiumcontent 66.0.3359.139

[2018-05-11 19:32] petemill commented on #13982
This is definitely fixed. Test plan is just to switch to any tab for the first time and see if it can be scrolled.

[2018-05-11 19:34] srirambv commented on #14046
Still an issue on windows. Doesn't drop on the empty space in tabsbar after the new tab sign.
![14046_1](https://user-images.githubusercontent.com/17010094/39943399-b46cc694-5530-11e8-98ad-56b81a81e497.gif)

[2018-05-11 19:35] petemill commented on #13798
This is definitely fixed, since I removed the code that was hiding and showing the webview after C66 (as it was no longer required in order to force the tab to display without just being blank) - since the code is removed, it won't cause the issue. But the STR was to ctrl-tab through tabs very quickly at startup (with a profile that has a few tabs in it), and some of them would be removed.

[2018-05-11 19:36] srirambv commented on #14046
Tab only drops before the new tab button resizing the last existing tab or if its dropped in between two tabs it resizes the right tab and then drops in.

[2018-05-11 19:39] petemill commented on #13216
@srirambv there is a test plan on this but essentially it's a full pass - this is the tracking issue for the whole single-webview release.

[2018-05-11 20:12] srirambv opened #14099 "Dragging tab into empty tabsbar doesn't attach tab to window"
### Description
Follow up of #14046
Dragging tab into empty tabsbar doesn't attach tab to window

### Steps to Reproduce
  1. Create 4-5 tabs in a window 1
  2. Open a new window 2
  3. Drag a tab from window 1 into window 2 and drop in empty tabsbar
  4. Create a new window 3 instead of adding the tab to window 2

**Actual result:**
![14046_1](https://user-images.githubusercontent.com/17010094/39

[2018-05-11 20:13] srirambv commented on #14046
Closing in favour of https://github.com/brave/browser-laptop/issues/14099 which is windows specific issue

[2018-05-11 20:13] #14046 closed

[2018-05-11 22:56] thelostone-mc commented on #14059
Hey first time contributor here!

Had a few questions :
- Since this is a html tag change -> I believe there aren't tests which I can write up for this
- I added a gif to show the difference
- Whom do I reach out to add labels for my PR to state it's ready for review ?  (cause I don't have permissions)

[2018-05-11 23:05] petemill opened #14101 "Creating new tab moves to first tab page and back again"
Reported by @alexwykoff

### Description
When a new tab is added, the tab page briefly switches to the first one, and then back again the last one. This is because the tab is first created without an index, and put at the beginning, and then moved by muon to the last tab index.

### Steps to Reproduce

  1. Have multiple tab pages open and the last tab page active, with an active tab in that page

[2018-05-12 00:53] #14101 closed

[2018-05-12 02:28] svnpenn commented on #3631
https://github.com/minbrowser/min/issues/555

[2018-05-12 03:43] lukemulks commented on #13664
@bsclifton can you get this in queue? noticed it was still around while doing some metamask testing this week.

[2018-05-12 11:36] srirambv opened #14103 "Opening a link in new private tab doesn't load over tor network"
### Description
Opening a link in new private tab doesn't load over tor network

### Steps to Reproduce
  1. Clean install 0.23.4
  2. Open a private tab and load check.torproject.org, shows `Congratulations. This browser is configured to use Tor.` Ensure IP is not your local public IP
  3. Open a normal tab, search for check tor
  4. Right click on check.torproject.org and open in a `New Private

[2018-05-12 13:12] DestinFaroda commented on #12636
The snapcraft version too works quite well.

[2018-05-12 15:42] grahamperrin commented on #3693
Respectfully, 👎 for sidestepping [the lock](https://github.com/brave/browser-laptop/issues/14041#event-1613836678). Please consider a cooling-off period and salvaging https://redd.it/8hhss1

[2018-05-12 16:49] da2x commented on #3693
As a publisher, I’d really like to see how many visitors use Brave. Any chance Brave could open an API for getting aggregate statistics on usage by domain instead of a User-Agent?

[2018-05-12 19:01] aparms commented on #4660
I would like to work on this one, since it hasn't been fixed. I just need to know where to start? I was reading the source code at [apps/browser/tabs.js](https://github.com/brave/browser-laptop/blob/master/app/browser/tabs.js) And was wondering if the issue would be fixed inside there?

[2018-05-13 06:26] realuser opened #14107 "Can we force a contribution at an arbitrary time?"
### Description
Because I was tired of waiting for contribution dates that don't actually contribute when they arrive I decided to try to force the contribution to happen sooner. I made sure I was over the minimum 30 minute browse time and then I edited `C:\Users\myusername\AppData\Roaming\brave\ledger-state.json` and changed the `reconcileStamp` to a time a few hours in the future.

The time has

[2018-05-13 07:32] artella-coding opened #14108 "Bookmark folder missing from right hand pane in Bookmark Manager"
### Description
On Brave desktop, when you click a bookmark folder in the left hand pane in the Bookmark Manager, the folders within this folder do not appear in the right hand pane (as they do in Chrome)

### Steps to Reproduce
  1.In "Other Bookmarks" creates a folder called "Test"
  2.This folder "Test" does not appear in right hand pane (as it does in Chrome)

**Actual result:**
This is what w

[2018-05-13 07:42] artella-coding opened #14109 "Bookmark folders not collapsible in Bookmark Manager"
### Description
One cannot collapse bookmark folders in the left hand pane in Brave bookmark manager (as one can in Chrome)

### Steps to Reproduce
  1.In "Other bookmarks" create folder "Test"
  2.Within "Test" create new folder "Inner"
  3.You cannot collapse "Test" so as to hide "Inner" (as you can in Chrome). This is an important feature to have when the folder ("Test") contains many nested bo

[2018-05-13 09:48] NejcZdovc opened #14111 "Sort for visits and time spent is not working"
### Description

If you click on table header for time or visits on Brave Payments page table is not sorted correctly

### Steps to Reproduce

  1. Enable payments
  2. Add some publishers
  3. Close browser
  3. Pick first publisher from the synopsis and remove duration and views props
  4. Start browser again and sort via time or visit

**Actual result:**

Table is sorted strangely.

**Expected

[2018-05-13 10:06] NejcZdovc commented on #14111
Why this happens is because first entry in the table has views and time empty (undefined) and because of that sorting is not working

[2018-05-13 10:08] NejcZdovc commented on #14111
related to #14086

[2018-05-13 11:36] EricCreatives commented on #6794
" rm -rf ~/Library/Application Support/brave/Extensions/nkbihfbeogaeaoehlefnkodbefgpgknn "
On terminal for macOS doesn't do the trick.

When I enable Metamask again I'm still prompted to login to my previous Metamask account.
I'd like to be able to setup a new wallet / account with Metamask. Kindly advice.

[2018-05-13 13:34] MoltenB commented on #8615
I would love to see this implemented soon. It's a feature I use every day in different situations.

[2018-05-13 14:48] hasufell commented on #12937
@L1fescape then I would argue the documentation is a bit misleading: https://github.com/brave/browser-laptop#running-brave

It says

which doesn't say anything about a dev server, nor that this is a required step. I don't want to watch for code changes, I want to run brave.

[2018-05-13 17:55] eljuno commented on #14109
Dupe of #5077. :-)

[2018-05-13 17:59] yar05 opened #14112 "New electron vulnerability. Is brave affected ? CVE-2018-1000136"
I've just came across this CVE-2018-1000136 on site below.
https://www.bleepingcomputer.com/news/security/security-flaw-impacts-electron-based-apps-such-as-skype-github-discord-others/

Since brave is based on electron, is it affected by this bug ?

[2018-05-13 18:06] davidtemkin commented on #14111
Let's prioritize this @NejcZdovc @bsclifton

[2018-05-13 18:15] Jacalz commented on #14112
cc @diracdeltas

[2018-05-13 19:02] diracdeltas commented on #14112
We knew about this before public disclosure and can confirm we were not affected. We use Chromium's implementation of window.open, not Electron's. Thanks for asking!

[2018-05-13 19:02] #14112 closed

[2018-05-13 21:16] dl00 commented on #5282
what kind of help is needed?

[2018-05-13 23:47] ryanml commented on #14111
@NejcZdovc could you share a small snapshot of the synopsis that allowed you to repro this?

Removing those props all together seems to remove those publishers from showing in the ledger table, and overriding those props to `undefined` seems to produce expected sorting behavior (As if those values were 0)

[2018-05-14 00:28] jonathansampson commented on #14112
[The article](https://www.bleepingcomputer.com/news/security/security-flaw-impacts-electron-based-apps-such-as-skype-github-discord-others/) has been amended to inform the reader that Brave is not affected.

[2018-05-14 03:47] ile opened #14113 "ArangoDB admin server doesn't seem to work"
### Description

[ArangoDB](https://arangodb.com/) admin server runs on http://127.0.0.1:8529 (after installation and when arangodb is run) and normally presents a login screen.

On Brave I get a blank screen and console shows this:

[code]

[2018-05-14 04:50] Eadword commented on #5282
+1

[2018-05-14 05:32] bsclifton commented on #12937
Thanks for the feedback, @hasufell - I opened a PR which I'd welcome feedback on which addresses this: https://github.com/brave/browser-laptop/pull/14114

[2018-05-14 05:36] #12937 closed

[2018-05-14 05:44] #12636 closed

[2018-05-14 05:48] NumDeP commented on #13156
@BobT36 why does it look like your '%' bit is still editable? I only ask because do your reckon the client isn't recognizing the 100% as set, thus not contributing.

[2018-05-14 05:52] bsclifton commented on #12636
@ruxandra-valcu @DestinFaroda @cblancos @nikolas @rook2pawn @malachid @miltonhowe @VaclavSynacek I've updated our release script to include `buster` and re-pushed. Can you please try again? Should work great without changing your apt sources list 😄

Ubuntu 18 (bionic) was also updated recently too- should work great 👍

[2018-05-14 05:58] bsclifton commented on #14059
Hi there @thelostone-mc
- you are correct; no tests available and none required
- gif capturing it is great!
- I can help you with the review! 😄 👍

[2018-05-14 05:59] NejcZdovc commented on #14111
@davidtemkin 0.23?

[2018-05-14 06:04] #14059 closed

[2018-05-14 06:06] NumDeP commented on #13156
@NejcZdovc regarding your statement of 30min in contribution period, if my contribution date is 30th May, is my contribution period regarded as 24 hours from 00:01 to 23:59 and will it not send if I didn't effectively use the browser as much on that day, also would it not contribute the day after?

[2018-05-14 06:11] bsclifton commented on #14060
marking as `no-qa-needed` because `npm run check-security` is ran as part of the packaging process

[2018-05-14 06:13] bsclifton commented on #14046
Removing milestone since this appears to be a duplicate of https://github.com/brave/browser-laptop/issues/14099

[2018-05-14 06:47] bsclifton commented on #14079
Verified this happens in the latest release (Release channel, preview): 0.22.711

[2018-05-14 06:51] bsclifton commented on #12132
@petemill would you feel comfortable saying this is fixed with the single webview release?

[2018-05-14 06:55] bsclifton commented on #3700
Closing as a duplicate of https://github.com/brave/browser-laptop/issues/13634

[2018-05-14 06:55] #3700 closed

[2018-05-14 07:41] danielandastro commented on #6723
Superb service, waiting for it to come onto brave, has anyone tried asking Authy dev team to contact and cooperate with the Brave dev team

[2018-05-14 08:17] #11790 closed

[2018-05-14 10:17] yisiliu commented on #9531
I lost my mouse two years ago for my desktop and it was Vimium that enabled me doing everything on Chrome and saved me 50 bucks. Please at least release a beta version for us to try so that I can completely switch to Brave.

[2018-05-14 10:18] empaempa commented on #12653
Please re-open this. I want to give you money but the crypto-hurdle is too high - and I even own ETH. Stripe just released a billing service you probably could use:

https://stripe.com/se/billing

[2018-05-14 10:38] rjdp opened #14117 "Sending chat messages in Gmail fails"
### Description
Sending chat messages in Gmail fails

### Steps to Reproduce
  1. try sending cat message in gmail

**Actual result:**
![screen shot 2018-05-14 at 4 05 07 pm](https://user-images.githubusercontent.com/7734938/39992501-a10f353e-5790-11e8-8441-5c6f640f2d13.png)

**Expected result:**
message should be sent successfully

**Reproduces how often:**
every time

### Brave Version

Brave: 0

[2018-05-14 10:46] NejcZdovc commented on #12653
@empaempa we are preparing this feature, don't worry we got you 😃

[2018-05-14 10:56] da2x commented on #13156
+1

how is this still an issue?

[2018-05-14 11:00] entity279 commented on #13156
For me it's solved (had my 1st payment in  a while 2-3 days ago)
So something was done for this issue, thought

[2018-05-14 11:31] empaempa commented on #12653
@NejcZdovc Wonderful! Love the browser, keep up the great work!

[2018-05-14 12:18] srirambv commented on #14117
Closing as dupe of https://github.com/brave/browser-laptop/issues/10875.

[2018-05-14 12:18] #14117 closed

[2018-05-14 12:19] srirambv commented on #10875
+1 from @rjdp via #14117

[2018-05-14 12:35] srirambv commented on #14108
Should be fixed in brave-core

cc: @bsclifton

[2018-05-14 13:47] davidlecce commented on #13156
I am also having the _Next contribution: Overdue_ issue
![capture](https://user-images.githubusercontent.com/3292014/40001159-9377a2f6-575b-11e8-8f44-840ede7d2165.PNG)

Brave | 0.22.669
-- | --
V8 | 6.6.346.24
rev | 6cda2e8
Muon | 5.2.7
OS Release | 10.0.17134
Update Channel | Release
OS Architecture | x64
OS Platform | Microsoft Windows
Node.js | 7.9.0
Brave Sync | v1.4.2
libchromiumcontent | 66.

[2018-05-14 14:03] srirambv opened #14118 "Sometimes opening a link in new tab doesn't show the URL"
### Description
Sometimes opening a link in new tab doesn't show the URL

### Steps to Reproduce
  1. Visit any link in a new tab
  2. Close browser and restart
  3. Right click on a link and open in a new tab
  4. Switch to new tab, URL bar is empty but page is loaded

**Actual result:**
Sometimes opening a link in new tab doesn't show the URL

**Expected result:**
Should always show the URL

**R

[2018-05-14 14:07] srirambv opened #14119 "Check for Update doesn't work upon browser launch"
### Description
Check for Update doesn't work upon browser launch

### Steps to Reproduce
  1. Launch browser
  2. Check for update from kabob menu
  3. First time check for update doesn't work. Need to try again to see the notification bar

**Actual result:**
Check for Update doesn't work upon browser launch

**Expected result:**
Should work all the time

**Reproduces how often:**
Intermittent is

[2018-05-14 15:25] srirambv opened #14120 "Enabling Widevine causes some flash player to stop streaming"
### Description
Reported via community

Enabling Widevine causes some flash player to stop streaming

### Steps to Reproduce
  1. Enable Google Widevine and Flash player in settings
  2. Visit Prime Video, able to stream video
  3. Visit Crunchyroll.com, doesn't stream video, disable Google Widevine, streams flash content

**Actual result:**
Enabling Widevine causes some flash player to stop strea

[2018-05-14 16:00] #14072 closed

[2018-05-14 16:12] petemill commented on #14075
@LaurenWags does the fact your error can be reproduced with current release preview mean that sync does not work?

[2018-05-14 16:35] przemika commented on #10767
+1

[2018-05-14 16:45] srirambv commented on #13425
@jasonrsadler mind updating the issue with verification steps.

[2018-05-14 16:47] phainline commented on #8327
+1   (also looking to change browser.  Use Evernote heavily for research about 50% of the time)

It looks like the project is waiting on many Chrome APIs to be implemented.  A pointer to other projects or at least a quarterly update (summary) would be nice.

I could live with a workaround if EverNote would let one create _and populate_ a page from a pasted URL.  Can't figure out how to do that (on

[2018-05-14 16:54] davidtemkin commented on #14111
Think so. We will decide in tomorrow's triage.

[2018-05-14 17:35] hasufell commented on #12937
Thanks!

[2018-05-14 17:36] #14075 closed

[2018-05-14 17:36] bsclifton commented on #14075
Fixed with https://github.com/brave/muon/commit/3bb5db3032c03dfb52e048e281c0d0a2c4ec9c0a which is present in Muon 6.0.9

[2018-05-14 17:38] eljuno commented on #432
+1 from community https://community.brave.com/t/how-to-change-installation-directory/22021?u=eljuno

[2018-05-14 17:40] bsclifton commented on #14079
Happens on any other extension too; for example, 1Password:
chrome-extension://aomjjhallfgjeglblehebfpbcfeobpgk/_generated_background_page.html

[2018-05-14 17:43] eljuno commented on #5078
+1 from community https://community.brave.com/t/bookmarks-tagging/22035?u=eljuno

[2018-05-14 17:50] kjozwiak commented on #14031
I couldn't reproduce this either on my Win 10 x64 desktop. Followed the STR above without any luck. I'll try a few more times but already spent ~1hr without reproducing.

[2018-05-14 18:12] diracdeltas opened #14121 "redo Tor newtab UI to remove Tor logo"
also need to add '/' at the end of the url: https://torproject.org/

[2018-05-14 18:28] diracdeltas commented on #14043
@bradleyrichter since Tor has been moved to startup, I estimate that in 95%+ of cases that Tor will either be fully initialized by the time the first private tab is opened or be unable to initialize at all. So if we added a progress indicator, it would either show 0 or 100 the vast majority of the time. May be easier to just show "Initializing..." or "Done"

[2018-05-14 18:30] srirambv commented on #14031
Can't reproduce it on current preview build. Closing the issue for now. Will reopen if it can be reproduced consistently.

[2018-05-14 18:31] LaurenWags commented on #14075
When using a large profile, if you enable, disable, and re-enable an extension (Bitwarden, Honey, etc) - you get a message like this in the terminal and a crash in chrome://crashes:
[91570:775:0514/140410.017682:FATAL:dispatcher.cc(899)] bmnlcjabgnpnenekpadlanbbkooimhnj was never loaded:

If you use a clean profile, this does not happen. Reproduced by @kjozwiak

cc @petemill @bsclifton

[2018-05-14 18:53] Byte-Buster commented on #2702
I'm a new user of Brave and I have the same problem.
Any progress? I see that this case is open since 2016. will there be any attempts to fix this problem, or should I stop using Brave?

[2018-05-14 19:55] ile commented on #13096
I have been using Alt-left and Alt-right on Chromium, and they don't seem to work on Linux/Brave 0.22.669.

[2018-05-14 20:22] jonathansampson opened #14122 "MetaMask 4.6.1 Popup Can't Load"
### Description
The MetaMask 4.6.1 popup cannot finish loading. It appears to be stuck in some type of loop, which pertains to the popup window size.

![metamask-bug](https://user-images.githubusercontent.com/815158/40021512-ae03d00c-578a-11e8-8e41-e1c72a28f93b.gif)

### Steps to Reproduce
1. Load MetaMask 4.6.1
2. Click the extension's browser button

**Actual result:**
Popup is unusable.

**Expe

[2018-05-14 20:34] lvella commented on #10767
It is sad to not be able to use the browser because you can't download a plain torrent file.

[2018-05-14 20:36] darkdh commented on #13707
reproducible on Chrome 66.0.3359.170

[2018-05-14 20:42] darkdh commented on #13700
reproducible on Chrome 66.0.3359.170

[2018-05-14 20:46] kjozwiak opened #14123 ""FATAL:dispatcher.cc" crash when disabling/enabling extensions with large profiles/sessions"
### Description

When enabling/disabling and then enabling extensions with large profiles, you'll receive the following errors in the terminal depending on the extension:

`[91570:775:0514/140410.017682:FATAL:dispatcher.cc(899)] bmnlcjabgnpnenekpadlanbbkooimhnj was never loaded:`

These will also appear under `chrome://crashes` as well.

### Steps to Reproduce

  1. open either `0.22.669` or `0.22

[2018-05-14 20:47] kjozwiak commented on #14075
Created https://github.com/brave/browser-laptop/issues/14123 for the above issue that @LaurenWags mentioned above.

[2018-05-14 20:48] kjozwiak commented on #14119
I've definitively seen this a few times on macOS as well. Sometimes when you launch Brave and quickly check for an update via the hamburger menu, nothing happens. Clicking it again right after will display the notification bar letting you know that Brave is checking for an update.

[2018-05-14 20:52] diracdeltas opened #14124 "disable Tor tabs by default in 0.23.x"
since tor was switched with Sync on the roadmap, we won't have enough time for beta Tor testing to have sufficient confidence to enable it by default.

[2018-05-14 20:55] kjozwiak commented on #14031
Removed the the `release/blocking`. However, we should check this against the three platforms just to double check and ensure that it's not an issue anymore even though no one managed to reproduce.

[2018-05-14 21:01] darkdh commented on #13580
window frame on the right issue seems like Win 7 only. I can't reproduce it on Win 10 and other platforms

[2018-05-14 21:06] bsclifton opened #14125 "Update to Chromium 66.0.3359.139"
### Description
Update to Chromium 66.0.3359.139

### Test plan
  1. Visit `about:brave`
  2. `libchromiumcontent` version should be `66.0.3359.139`

[2018-05-14 21:35] #13721 closed

[2018-05-14 22:02] ile opened #14126 "I imported the search/browsing history, slowed to a crawl"
### Description
I imported the search/browsing history from Chromium, and entering anything in the location/search bar hangs Brave for something like 10-15 seconds.

Don't know if it's reproducible (though I suppose it is), so I leave this just here.

Brave: 0.22.669
V8: 6.6.346.24
rev: 6cda2e84f749e66409e9e3bca63f5796422e7edf
Muon: 5.2.7
OS Release: 4.4.0-124-generic
Update Channel: Release
OS Ar

[2018-05-14 22:51] bsclifton commented on #14126
@ile how many bookmarks do you have? After the 10-15 seconds, are things OK?

[2018-05-14 22:56] bsclifton commented on #2702
Hey there folks!

This is a feature that will be solved when we transition from Muon (our current architecture) to our new Chromium fork, Brave Core.  If you've got a development environment setup, you can download/build the project now (no official builds yet):
https://github.com/brave/brave-browser

You can read more about this on our blog:
https://brave.com/development-plans-for-upcoming-releas

[2018-05-14 23:01] jonathansampson opened #14127 "Ad-blocker Message on History.com"
### Description

Embedded media is replaced with an ad-blocker message on History.com.

### Steps to Reproduce

1. Navigate to https://www.history.com/news/watergate-deep-throat-fbi-informant-nixon

**Actual result:**

Embedded media is not visible.

**Expected result:**

Embedded media should be visible.

**Reproduces how often:**

Always

### Brave Version

0.22.711

**about:brave info:**

[code

[2018-05-15 02:26] kjozwiak commented on #10797
I rechecked this on `0.22.669` on both macOS `10.13.3` & `Win 10 x64` and it works as expected. I played through a bunch of media and had no issues going back to the home page and playing other media. Tried it multiple times and everything worked as expected.

[2018-05-15 02:26] #10797 closed

[2018-05-15 02:34] kjozwiak commented on #13751
Even though this was marked as `QA/no-qa-needed`, it was tested as there were several issues in this milestone that required using `LEDGER_VERBOSE=true`.

[2018-05-15 03:27] kjozwiak commented on #14089
Closing, thanks @btlechowski 👍

[2018-05-15 03:27] #14089 closed

[2018-05-15 03:27] kjozwiak commented on #14087
Closing, thanks @LaurenWags 👍

[2018-05-15 03:27] #14087 closed

[2018-05-15 04:06] bbondy opened #14128 "LastPass is sometimes not filling in form data"
In a review from David Hay on YouTube he mentioned that LastPass doesn't work the same as Chrome does to fill form data.  I don't have details beyond that for now so I didn't fill in the normal issue template.

This is likely something that we'll get for free in brave-core.

It could be that the extension was installed and then he tried to use it on a tab which was already open, but LastPass requi

[2018-05-15 04:07] kjozwiak opened #14129 "Manual test run on OS X for 0.22.x Release 3 (Beta channel)"
## Per release specialty tests
 - [x] Creating new tab moves to first tab page and back again. ([#14101](https://github.com/brave/browser-laptop/issues/14101))
 - [x] Enabling extensions throws an error in terminal and logs an report in chrome://crashes. ([#14075](https://github.com/brave/browser-laptop/issues/14075))
 - [x]  "immutableFrameList had frame with invalid key" error when tearing off a

[2018-05-15 04:07] kjozwiak opened #14130 "Manual test run on Windows x64 for 0.22.x Release 3 (Beta channel)"
## Per release specialty tests
- [x] Creating new tab moves to first tab page and back again. ([#14101](https://github.com/brave/browser-laptop/issues/14101))
- [x] Enabling extensions throws an error in terminal and logs an report in chrome://crashes. ([#14075](https://github.com/brave/browser-laptop/issues/14075))
- [x]  "immutableFrameList had frame with invalid key" error when tearing off an u

[2018-05-15 04:07] kjozwiak opened #14131 "Manual test run on Linux for 0.22.x Release 3 (Beta channel)"
## Per release specialty tests
- [x] Creating new tab moves to first tab page and back again. ([#14101](https://github.com/brave/browser-laptop/issues/14101))
- [x] Enabling extensions throws an error in terminal and logs an report in chrome://crashes. ([#14075](https://github.com/brave/browser-laptop/issues/14075))
- [x]  "immutableFrameList had frame with invalid key" error when tearing off an u

[2018-05-15 04:08] kjozwiak commented on #14088
Thanks @GeetaSarvadnya! Closing this off in favour of https://github.com/brave/browser-laptop/issues/14130.

[2018-05-15 04:08] #14088 closed

[2018-05-15 04:14] kjozwiak commented on #13721
@srirambv @LaurenWags @GeetaSarvadnya @btlechowski please make sure we also go through the new ledger case [1] that was added into the manual test plan that involves generating 500 entries into the ledger table using `npm run add-simulated-synopsis-visits 500`.

[1] https://github.com/brave/qa-resources/blob/master/wikitemplate.md#ledger

[2018-05-15 04:28] kjozwiak commented on #13216
Thanks @petemill, we'll mark this as `QA/Checked` once we've gone through the last remaining verification and manual passes before the release as this basically covers all the single webview work.

@srirambv @LaurenWags @GeetaSarvadnya @btlechowski we'll tag this issue as `QA/Checked` last once we've done everything else. Removing `QA/test-plan-required` and adding `QA/test-plan-specified` so it d

[2018-05-15 05:26] kjozwiak commented on #14086
@NejcZdovc move this into https://github.com/brave/browser-laptop/milestone/101 as #14111 is also in the same milestone?

[2018-05-15 05:37] kjozwiak commented on #13277
Verified on `Mint 18.3 x64` using the following build:

* 0.22.711 `31d6bccb220485dc44f0ce0c65ed797f0160c8a7`
* Muon: 6.0.9
* libchromiumcontent: 66.0.3359.139

[2018-05-15 05:53] NejcZdovc commented on #14086
@kjozwiak yeah, this two will be fixed together

[2018-05-15 05:55] NejcZdovc commented on #13227
@kjozwiak this was marked with no qa, because we don't have any STR, but we added some checks that were really simple. This state (in the first comment) was caused by something else that completely broken preference page.

[2018-05-15 07:02] NejcZdovc opened #14133 "Error data persist after new load"
### Description

If page is not loaded for some reason and then you fix this problem, loaded page will not be recorded, because error data is still in the state for that tab

### Steps to Reproduce

  1. enable payments
  2. go to https://www.youtube.co1m/user/radio1slovenia/videos
  3. fix url in this tab to https://www.youtube.co1m/user/radio1slovenia/videos
  4. click on one video

**Actual res

[2018-05-15 09:11] MBLHarrison commented on #13707
@darkdh Chrome, or chromium?

[2018-05-15 10:02] HLFH commented on #8327
With the next-generation Brave, https://github.com/brave/brave-browser, these kind of issues may be solved in an easier manner.

[2018-05-15 10:13] ile commented on #14126
Things are OK after 10-15 seconds. This happens every time though so it makes it pretty much unusable as the 10-15 delay is there every time.

I don't have that many bookmarks (less than 200 maybe), but I imported also the browsing history and there may be a lot of that.

[2018-05-15 13:19] LaurenWags commented on #13580
I can't say it's this particular scrolling issue (@btlechowski logged several scenarios for scrolling problems) but there are multiple reports of scrolling issues on Win 10 in community. Some of which are mentioned here https://github.com/brave/browser-laptop/issues/13580#issuecomment-375696324

[2018-05-15 13:43] LaurenWags commented on #14101
Verified with macOS 10.12.6 using
* 0.22.712 e48c5ff
* muon 6.0.9
* libchromiumcontent 66.0.3359.139

[2018-05-15 13:52] LaurenWags commented on #14075
Verified with macOS 10.12.6 using
* 0.22.712 e48c5ff
* muon 6.0.9
* libchromiumcontent 66.0.3359.139

[2018-05-15 13:58] LaurenWags commented on #14031
Verified with macOS 10.12.6 using
* 0.22.712 e48c5ff
* muon 6.0.9
* libchromiumcontent 66.0.3359.139

[2018-05-15 14:25] LaurenWags commented on #13982
Verified with macOS 10.12.6 using
* 0.22.712 e48c5ff
* muon 6.0.9
* libchromiumcontent 66.0.3359.139
* have not seen this for the last couple of builds and it was occurring very frequently in previous builds.

[2018-05-15 14:52] LaurenWags commented on #13721
Verified with macOS 10.12.6 using
* 0.22.712 e48c5ff
* muon 6.0.9
* libchromiumcontent 66.0.3359.139
* tried 100, 500, 1000 visits

[2018-05-15 16:11] bsclifton commented on #12744
Hi folks,

I don't believe that we'll be able to address this before we make the switch over to Brave Core ([see our engineering blog for more info on that](https://brave.com/development-plans-for-upcoming-release/)).

When we make that switch, we should have exactly the same system requirements as Chrome / Chromium.  If latest Chrome is working on 10.9.5, then this issue should be fixed at that t

[2018-05-15 16:12] sakibarifin opened #14136 "Deleted."
Deleted.

[2018-05-15 16:25] mrose17 commented on #1666
OBE

[2018-05-15 16:25] #1666 closed

[2018-05-15 17:18] realuser commented on #13156
@NejcZdovc are there any trouble shooting steps we can take without having a phone call?

[2018-05-15 17:25] srirambv commented on #13425
Moving based on feedback triage discussion and assigning to @mandar-brave

[2018-05-15 17:40] kjozwiak commented on #13227
Awesome, thanks @NejcZdovc 👍

[2018-05-15 17:42] alexwykoff commented on #12957
We're unlikely to fix this before brave-core switchover.

[2018-05-15 17:42] #12957 closed

[2018-05-15 17:57] srirambv opened #14137 "Unable to delete multiple publishers from deleted list"
### Description
Issue reported by @kjozwiak . Unable to delete multiple publishers from deleted list

### Steps to Reproduce
  1. Enable payments and add simulated payments
  2. Delete a few publishers from the ledger table
  3. Click on show deleted publishers to bring up the deleted publishers list modal
  4. Modal closes when you delete a single publisher from the list

**Actual result:**
![iss

[2018-05-15 18:01] danfinlay commented on #13711
@khizar-ali please post a reproduction site if possible, so that we can debug how exactly we may be breaking that site.

[2018-05-15 18:32] sakibarifin opened #14138 "Scroll doesn't work on joinhoney.com"
### Description

Mouse scroll doesn't work on joinhoney.com. Trying to scroll does nothing. I tried scrolling on at least three pages of joinhoney.com and had the same result.

### Steps to Reproduce

  1. Visit https://www.joinhoney.com/features/droplist
  2. Try to scroll down using the mouse scroll
  3. Tested on these pages as well and had the same result: https://www.joinhoney.com/trending/st

[2018-05-15 18:54] swissdean commented on #6722
This is still an issue , y'all.

Brave: 0.22.669
V8: 6.6.346.24
rev: 6cda2e84f749e66409e9e3bca63f5796422e7edf
Muon: 5.2.7
OS Release: 10.0.14393
Update Channel: Release
OS Architecture: x64
OS Platform: Microsoft Windows
Node.js: 7.9.0
Brave Sync: v1.4.2
libchromiumcontent: 66.0.3359.117

[2018-05-15 19:09] darkdh commented on #14119
I can reproduce it all the time by
[session-store-1.zip](https://github.com/brave/browser-laptop/files/2006358/session-store-1.zip)

@bsclifton

[2018-05-15 19:26] srirambv opened #14140 "Unable to recover wallet"
### Description
Unable to recover wallet

### Steps to Reproduce

  1. Clean install 0.22.713
  2. Launch from console and enable payments on staging and recover wallet using an existing recovery code
  3. Console throws error

**Actual result:**
[code]
Wallet never recovers

**Expected result:**
Wallet should be recovered

**Reproduces how often:**
100%

### Brave Version

**about:brave info:**

[2018-05-15 19:32] kjozwiak commented on #14140
Win/Linux specific. I successfully recovered 5 different wallets on `macOS 10.13.3` using `0.22.713`. @LaurenWags couldn't reproduce on macOS either.

[2018-05-15 19:33] mojoaxel commented on #14111
Same issue here (0.22.669).
Columns get sorted by string and not by number:
![image](https://user-images.githubusercontent.com/600565/40079215-67f8cb6e-5887-11e8-88c2-b038590e97df.png)

[2018-05-15 19:35] srirambv commented on #14140
Same issue on both prod and staging wallet created

[2018-05-15 20:33] bsclifton commented on #13425
Closing as the revert was reverted

[2018-05-15 20:33] #13425 closed

[2018-05-15 20:55] diracdeltas opened #14141 "add NSP check to travis job that blocks merge"
merge should be blocked by Travis if NSP check doesn't pass.

cc @NejcZdovc

[2018-05-15 22:06] williamdaconceicao commented on #5282
+1

[2018-05-15 22:43] flamsmark commented on #14043
@davidtemkin, @diracdeltas, @bradleyrichter, @riastradh-brave, & I talked it over.

When Brave starts, it spawns a Tor process. Based on a static timeout (10-30s?) or the presence of error messages in Tor's logs, Brave may conclude that the Tor process is in one of three possible states:
- starting
- running successfully
- failed to start

When a user opens a new private tab, the behavior depends

[2018-05-15 22:43] flamsmark commented on #14040
→ #14043

[2018-05-15 22:43] #14040 closed

[2018-05-15 23:05] #14079 closed

[2018-05-15 23:28] #14140 closed

[2018-05-15 23:28] bsclifton commented on #14140
Should be fixed with new release (0.22.714)

[2018-05-15 23:47] givanse opened #14144 "Dragging a tab out and into its own window and then closing it causes all windows to close."
### Steps to Reproduce

  1. Have multiple tabs open in a single window, call it `W1`.
  2. Drag one tab out of `W1` into its own new window, call it `W2`.
  3. Click either the `x` on the tab we just extracted `W2` or the `x` on the new window `W2`.
  4. The first window (`W1`) closes too.

To avoid that problem, I drag the tab back from `W2` into `W1` and then I close that tab.

This only happen

[2018-05-16 01:06] kjozwiak commented on #14031
I've managed to find a case where I can reproduce this 100% of the time on `macOS 10.13.4` using `0.22.713`.

STR: (example: https://youtu.be/H4-M-1TS5m0)

* launch `0.22.713` fd036ae using [session-store-1.txt](https://github.com/brave/browser-laptop/files/2007148/session-store-1.txt)
*  play any of the current streams (twitch should be the active tab when you launched brave)
* once the stream is

[2018-05-16 02:26] kjozwiak commented on #14140
Verified on `Mint 18.3 x64` using the following build:

* `0.22.714` fa2fbcae947e001528bd3bd5b1c453805d419af6
* Muon: `6.0.9`
* libchromiumcontent: `66.0.3359.139`

[2018-05-16 02:47] mrose17 commented on #13426
i am closing this due to lack of interest.

[2018-05-16 02:47] #13426 closed

[2018-05-16 06:00] ryanml commented on #14137
Just checking in on the approach here; would we prefer:

1. A "checkbox" approach, where you can check multiple sites, then choose "Remove selected sites"
or
2. Simply keep the deleted sites modal open, and allow users to simply click to delete sites that they wish, keeping the modal open until it is dismissed.

cc: @NejcZdovc

[2018-05-16 07:10] bsclifton commented on #12959
@TDeisinger @mkielhauser @derekhillhp and others - I have an attempted fix which you can try
https://github.com/brave/browser-laptop/releases/tag/v0.24.0-exp-proxy-fix

Please note that this build has some experimental features which are not live (you can always revert to the older build by re-downloading from https://brave.com). I'm mostly curious if the changes I made work for you all (I impleme

[2018-05-16 07:16] BigWillBlue commented on #10405
I'm new to brave and I love every single thing about it except this one quirk. I would really like to see an option to remove this from both MMB and RMB.

[2018-05-16 07:31] NejcZdovc commented on #14137
@RyanJarv I would go with the second one

[2018-05-16 08:14] mkielhauser commented on #12959
Unfortunately I got the error again:
A connection attempt timed out.
https://github.com/brave/browser-laptop/releases/tag/v0.24.0-exp-proxy-fix

Brave: 0.24.0
V8: 6.6.346.26
rev: 846a591c49a26365e9c87d03fde591663caecdbc
Muon: 6.0.9
OS Release: 6.1.7601
Update Channel: Release
OS Architecture: x64
OS Platform: Microsoft Windows
Node.js: 7.9.0
Brave Sync: v1.4.2
libchromiumcontent: 66.0.3359.139

As

[2018-05-16 08:57] MBLHarrison commented on #10405
@bsclifton Has these been discussed internally? It is a huge UX degradation.

[2018-05-16 10:13] Miyayes commented on #13156
@BobT36 Could it be that your monthly budget > your wallet balance? I vaguely remember hearing that the payment simply won't go through if that is the case (though I might be misremembering). That is, the budget may have to be satisfied in full in order for the payment to process.

[2018-05-16 13:27] LaurenWags commented on #13425
Verified with macOS 10.12.6 using
* 0.22.714 fa2fbca
* muon 6.0.9
* libchromiumcontent 66.0.3359.139

[2018-05-16 13:40] iesta commented on #13977
EOS should be added too

[2018-05-16 13:51] TDeisinger commented on #12959
Still doesn't work for me either. Have to go back to .20.43

[2018-05-16 14:04] srirambv commented on #14130
Looks good to go.

[2018-05-16 14:04] #14130 closed

[2018-05-16 14:11] idandan opened #14147 "windows 7 $env:"channel = dev" cmd error channel is not command"

[2018-05-16 14:29] kjozwiak opened #14148 "Release checklist for 0.22.x Release 3 (Release Channel)"
# Release Process Checklist

Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

## Release Commands
### First-time Setup
- [x] `git clone git@github.com:brave/vault-updater && cd vault-updater`
- [x] `git clone git@github.com:brave/release-tools`
- [x] `npm install`
- [x] install the her

[2018-05-16 14:54] srirambv opened #14149 "Disabling payments when backup notification is shown doesn't dismiss it automatically(Follow up to #13425 )"
### Description
Disabling payments when backup notification is shown doesn't dismiss it automatically

### Steps to Reproduce
  1. Enable payments and fund wallet
  2. Ensure you receive notification to backup wallet
  3. Disable payments, notification persists doesn't dismiss (which is not expected)
  4. Click on `Backup now` in notification
  5. Payments page is opened in a new tab
  6. Enabling

[2018-05-16 14:56] jasonrsadler commented on #14149
@mandar-brave This notification is shown only after a user has added funds. If they disable payments while the notification is in the air, would we want to dismiss it automatically?

[2018-05-16 15:14] #14131 closed

[2018-05-16 15:14] #14129 closed

[2018-05-16 15:40] kjozwiak opened #14150 "Release notes for 0.22.x Release 3 (Release Channel)"
Release Notes:
 - Closing a tab towards the beginning of a tab strip with many tabs has performance issue. ([#14081](https://github.com/brave/browser-laptop/issues/14081))
 - TypeError: Error processing argument at index 0, conversion failure from undefined when using `Mute other tabs` with large profiles. ([#14058](https://github.com/brave/browser-laptop/issues/14058))
 - Bookmark bar stays visib

[2018-05-16 15:42] mandar-brave commented on #14149
@srirambv the backup action is to protect the wallet corruption and BAT (actual monies) left in the wallet. its not clear to me that stopping payments to publishers has anything to do with it. the entire idea if backing up is to protect the wallet  (monies can be moved in to wallet from elsewhere including future ads, tipping, etc.)

@jasonrsadler - lets DM with Sri; but to me this is functioning

[2018-05-16 16:25] vairamsvsjdo opened #14151 "Need webdriver executable to run selenium test from python"
I am looking for webdriver executable to run selenium test from python
Thanks

[2018-05-16 16:27] srirambv commented on #14149
@mandar-brave sounds good. Closing the issue as its working as expected.

[2018-05-16 16:27] #14149 closed

[2018-05-16 16:43] leodutra commented on #11175
Fixed?

[2018-05-16 16:43] leodutra commented on #11175
Same issue on Arch Linux.

[2018-05-16 16:46] leodutra commented on #9955
Status please.

[2018-05-16 17:50] diracdeltas commented on #14095
fixed by #14145

[2018-05-16 17:50] #14095 closed

[2018-05-16 17:55] bsclifton commented on #12959
Thanks for trying the release folks- unfortunately, this problem is very hard to troubleshoot without being able to accurately reproduce it.  I think WebSense or other proxies may be manipulating headers which is the core of the problem (which is hard for me to reproduce). The actual configs themselves that were shared looked fine

For those reasons, I've reset the milestone ☹️. I highly encourage

[2018-05-16 18:03] bsclifton opened #14152 "Fingerprinting protection breaks uphold verification process"
Reported here: https://www.reddit.com/r/BATProject/comments/8jsk19/fairly_important_bug/

## Steps to reproduce
1. Create an uphold account
2. Attempt to verify account (ensure `Fingerprinting protection` is set to `Block third party fingerprinting`
3. Get stuck on step 2 (photo upload)

[2018-05-16 21:57] #14150 closed

[2018-05-16 23:29] bsclifton opened #14154 "Update Muon to 6.0.11"
### Description
Update to Muon to 6.0.11

### Test plan
  1. Visit `about:brave`
  2. `Muon` version should be `6.0.11`

[2018-05-16 23:39] #14148 closed

[2018-05-16 23:44] srirambv opened #14156 "New Tor circuit info link needs to be changed"
### Description
New Tor circuit info link needs to be changed

### Steps to Reproduce
  1. Update to 0.23.6
  2. Open a private tab and visit a site
  3. Click on shields, click on `New Tor circuit` info button, points to an non existing wikipage

**Actual result:**
New tor circuit info link points to an non existent wiki page

**Expected result:**
Should point to FAQ section

**Reproduces how oft

[2018-05-17 00:02] diracdeltas commented on #14156
fixed in 992f77d42ddd85b33184a189453fc50978096305

[2018-05-17 00:16] tomotvos commented on #3226
While I would definitely +1 direct support for the Apple Keychain, for all the benefits highlighted above, I would also be very happy to have an import process in the interim. I *want* to use Brave constantly, but in the first week, it has been a real pain re-entering passwords for all the (very) many sites I interact with. It is a painful user experience.

[2018-05-17 00:50] mkielhauser commented on #12959
@bsclifton Thanks a lot for the good news! To come back to my previous question, would it not be easiest to have an option to configure a proxy server? There's quite a few programs that have issues behind a proxy and adding a server manually is all that's needed (Amarok springs to mind). Of course this might cause other issues but I thought I ask :-)