[2017-04-25 17:47] alexwykoff commented on #8052
@NejcZdovc please see if redux component fixes this

[2017-04-25 17:48] alexwykoff commented on #7966
@srirambv could you check vs slack fullscreen?

[2017-04-25 18:12] srirambv commented on #7966
Same on slack fullscreen as well. Cursor is not hidden.

[2017-04-25 18:20] bbondy commented on #8334
@Liunkae could you test this with 0.15.0RC4, I'm not able to reproduce.  I haven't tried before though.  It might have been fixed with C58 upgrade  or some other fix.

[2017-04-25 18:25] srirambv commented on #8305
Verified on 0.15.0 RC5. Still no tool tip for info buttons on about:preferences#plugins and info button on about:preferences#extensions is not clickable.

[2017-04-25 18:58] kumarrishav commented on #8280
I will be happy to take this bug. This will be my first contribution to brave. Currently i am setting up the env and building brave from source. It will be great to have some pointer to start with.

[2017-04-25 18:58] mrose17 opened #8489 "Improve handling of switching dat file versions"
- Did you search for similar issues before submitting this one? yes

- Describe the issue you encountered: go to a site from the about:preference# payments page

- Platform (Win7, 8, 10? macOS? Linux distro?): macOS

- Brave Version (revision SHA): [6638b91](https://github.com/brave/browser-laptop/commit/6638b9160590d11deb8d8f57f838a2f4510519dd)

- Steps to reproduce:
    1. run `npm run watch` &

[2017-04-25 18:59] alexwykoff opened #8490 "Manual test Windows x64 per-release items for 0.15.0 RC5"
Win64 Checklist:
 - [x] 1Password description shows as extension for Google Chrome. ([#8465](https://github.com/brave/browser-laptop/issues/8465))
 - [x] Zoom shortcut not working in 0.15.0 RC3. ([#8438](https://github.com/brave/browser-laptop/issues/8438))
 - [x] About:brave takes *longer than expected* time to fetch version data. ([#8426](https://github.com/brave/browser-laptop/issues/8426))
 -

[2017-04-25 19:05] alexwykoff opened #8492 "Manual test OS X per release items for 0.15.0 RC5"
Mac Checklist:
 - [x] 1Password description shows as extension for Google Chrome. ([#8465](https://github.com/brave/browser-laptop/issues/8465))
 - [x] Zoom shortcut not working in 0.15.0 RC3. ([#8438](https://github.com/brave/browser-laptop/issues/8438))
 - [x] About:brave takes *longer than expected* time to fetch version data. ([#8426](https://github.com/brave/browser-laptop/issues/8426))
 - [x

[2017-04-25 19:06] alexwykoff opened #8493 "Manual test Linux per-release items for 0.15.0 RC5"
Linux Checklist:
 - [x] 1Password description shows as extension for Google Chrome. ([#8465](https://github.com/brave/browser-laptop/issues/8465))
 - [x] Zoom shortcut not working in 0.15.0 RC3. ([#8438](https://github.com/brave/browser-laptop/issues/8438))
 - [x] About:brave takes *longer than expected* time to fetch version data. ([#8426](https://github.com/brave/browser-laptop/issues/8426))
 -

[2017-04-25 19:11] bsclifton commented on #8486
Closing issue for now and removing milestone- please move back into 0.15.0 and re-open if you find steps to cause the crash.  Also- clicking report can be helpful.  @mrose17 saw a crash recently also, which was reported with https://github.com/brave/browser-laptop/issues/8489

[2017-04-25 19:11] #8486 closed

[2017-04-25 20:00] cezaraugusto commented on #8493
not able to test #8241 otherwise all tests ok

[2017-04-25 20:11] bsclifton commented on #8334
I'm able to reproduce the crash-  it seems to crash the renderer (the entire app doesn't crash), showing the black tab with the dead tab guy
![screen shot 2017-04-25 at 1 11 42 pm](https://cloud.githubusercontent.com/assets/4733304/25405651/c2b6596c-29b8-11e7-8c9a-7dcdc1294808.png)

[2017-04-25 20:18] srirambv commented on #8334
Ebay signin webview crash has been updated here #8474 based on report from user in community.
This can be closed in favour of #8474?

[2017-04-25 20:23] bbondy commented on #8477
maybe fixed by
https://github.com/brave/browser-laptop/commit/0f41941d87625c41362cfdd6bf25b7e545ade0cd ?

[2017-04-25 20:24] bbondy commented on #8489
@mrose17 try clearing your .dat files. I think this is a symptom of switching between dev-channel and master frequently. Let's leave this open though so I can improve that use case.   Basically though your session stores the downloaded adblock version and then it's not actually that version.

[2017-04-25 20:30] bbondy commented on #8334
Sorry I was using mac.

[2017-04-25 20:36] mrose17 commented on #8489
deleting the `.dat` files didn't help. i also removed the entire `brave-development/` directory, started the browser, quit the browser, and put my ledger files back, and got a crash... _wow!_

[2017-04-25 20:36] NejcZdovc commented on #8485
can't reproduce anymore

[2017-04-25 20:36] #8485 closed

[2017-04-25 20:39] NejcZdovc commented on #8489
@mrose17  I had the same problem in #8486. What I did:

[code]
Cleared `brave-development`, `git pull` and then `npm i`.

Now it's working

[2017-04-25 20:54] mrose17 commented on #8489
_what?!? i don't have to reinstall either node or the OS?..._ (-;

the only step i was missing was the `npm cache clean` and getting rid of `.node-gyp` ... thanks!

[2017-04-25 21:31] bsclifton commented on #8477
Confirmed it still happens after that.  It seems to be related to bookmarks + pinning

[2017-04-25 21:49] mrose17 opened #8495 "If ledger not enabled, honor settings for clearing history"
- Did you search for similar issues before submitting this one? yes

- Describe the issue you encountered: if the ledger isn't enabled, then the user's settings for clearing history should be honored

- Platform (Win7, 8, 10? macOS? Linux distro?): all

- Brave Version (revision SHA): n/a

- Steps to reproduce:
    1. do *not* enable the ledger
    2. visit various sites
    3. go to about:prefere

[2017-04-25 22:45] diracdeltas commented on #8241
it's just for shields

[2017-04-25 23:33] alexwykoff commented on #8477
I couldn't reproduce on 0.15.0 RC5

[2017-04-25 23:44] alexwykoff commented on #8334
Confirmed still an issue on 0.15.0 RC5 for Windows but not OS X

[2017-04-25 23:47] #8493 closed

[2017-04-25 23:47] #8492 closed

[2017-04-25 23:49] #8370 closed

[2017-04-25 23:49] #8371 closed

[2017-04-25 23:49] #8372 closed

[2017-04-25 23:49] #8377 closed

[2017-04-25 23:49] #8431 closed

[2017-04-25 23:49] #8433 closed

[2017-04-25 23:55] #8180 closed

[2017-04-26 00:01] bsclifton commented on #8495
Pulling into 0.15.0 since this can speed up load times. PR submitted with https://github.com/brave/browser-laptop/pull/8496

[2017-04-26 00:02] bsclifton commented on #8334
Appears to be a dupe of https://github.com/brave/browser-laptop/issues/8474

[2017-04-26 00:29] Liunkae commented on #8334
No longer reproducible on macOS with 0.15.0 RC5. It was crashing the entire app before (in 0.14.1) on all platforms. #8474 and the behavior in 0.15.0 RC5 is probably separate (since it's Windows only and only crashes the renderer) but related (since it's the same URL).

[2017-04-26 00:32] Liunkae commented on #8484
Root problem: #45

[2017-04-26 00:33] bbondy commented on #8489
actually I just thought of the reason I think you guys got this.

i) install node_modules on master you get ad-block library which expects data files in format v3.
ii) switch to dev-channel, but don't re-install node-modules.  You have front end that looks for data format v2.

The opposite can happen too if you got he other way.

The way to fix this is to have the library specify the dat file vers

[2017-04-26 00:35] mrose17 commented on #8489
that makes sense. in this case, the culprit was `.node_gyp` which cached the ad-block library (i delete `node_modules/` often...)

[2017-04-26 01:23] bbondy commented on #8477
I wonder if you're hitting some state that doesn't save session state in general?

[2017-04-26 01:44] bbondy commented on #8489
https://github.com/brave/ad-block/commit/85e6b3592f8956b8babb57c2d42a5ad67d88d6cc

[2017-04-26 02:22] luixxiul opened #8497 "Unloaded tabs after restart cannot be pinned via context menu until the tab is loaded"
**Describe the issue you encountered:** Unloaded tabs after restart cannot be pinned via context menu until the tab is loaded.

- Platform (Win7, 8, 10? macOS? Linux distro?): Windows 10 32 bit

- Brave Version (revision SHA): 0.15.0 RC5

- Steps to reproduce:
    1. Change "Brave starts with" to open tabs from last time on about:preferences
    2. Open random pages
    3. Restart the browser

[2017-04-26 02:24] luixxiul commented on #6863
It seems that on the latest RC build the issue has been solved; I don't see 🚫 anymore.

[2017-04-26 02:30] luixxiul opened #8498 "Moving a tab to another tab page opens the tab in a new window"
**Describe the issue you encountered:** Moving a tab to another tab page opens the tab in a new window.

- Platform (Win7, 8, 10? macOS? Linux distro?): Windows 10 32 bit

- Brave Version (revision SHA): 0.15.0 RC5

- Steps to reproduce:
    1. Create two tab pages
    2. Drag a tab and drop it to the other tab page

- Actual result:
  ![tabsets](https://cloud.githubusercontent.com/assets/3362943/

[2017-04-26 02:54] #8489 closed

[2017-04-26 03:10] #1667 closed

[2017-04-26 03:29] jonathansampson opened #8500 "Extension APIs: chrome.browserAction.setIcon fails with numerical tabId"
When `chrome.browserAction.setIcon` is called with an explicit `tabId`, Brave fails to set the new image. The following steps will demonstrate this issue:

1. Enable Honey (it should start with a gray icon)
2. Navigate to Honey's background page
3. From the console, run Script A (seen below)
4. Note that the icon is still gray for all tabs
5. From the console, run Script B (seen below)

**Script A

[2017-04-26 03:31] jonathansampson commented on #8500
Blocks #8118

[2017-04-26 04:18] #8487 closed

[2017-04-26 05:20] jonathansampson opened #8501 "Extension APIs: chrome.browserAction.setBadgeText fails with tabId"
When `chrome.browserAction.setBadgeText` is called with an explicit `tabId`, Brave fails to set the new badge text. The following steps will demonstrate this issue:

1. Enable Honey (it should start with a gray icon)
2. Navigate to Honey's background page
3. From the console, run Script A (seen below)
4. Note that the text is not set for all tabs
5. From the console, run Script B (seen below)

**S

[2017-04-26 05:21] jonathansampson commented on #8501
Blocks #8118

[2017-04-26 05:23] jonathansampson opened #8502 "Extension APIs: chrome.browserAction.setBadgeBackgroundColor fails with tabId"
When `chrome.browserAction.setBadgeBackgroundColor` is called with an explicit `tabId`, Brave fails to set the new color. The following steps will demonstrate this issue:

1. Enable Honey (it should start with a gray icon)
2. Navigate to Honey's background page
3. From the console, run Script A (seen below)
4. Note that the badge color is not set for all tabs
5. From the console, run Script B (see

[2017-04-26 05:24] jonathansampson commented on #8502
Blocks #8118

[2017-04-26 07:09] luixxiul commented on #6777
Fixed with https://github.com/brave/browser-laptop/pull/8443 (https://github.com/brave/browser-laptop/pull/8136)

[2017-04-26 07:09] #6777 closed

[2017-04-26 08:19] bsclifton commented on #8180
Moving to 0.15.0

[2017-04-26 08:42] psantos10 opened #8504 "Pressing ENTER on address bar does not giving a new page"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
I try to post a form via POST method. And I got an error. (That's not the problem).

The problem is, when I go to Address bar, select the address and press ENTER I expect to get a new page (fresh form). But Brave are submitting my form again. To have a fresh page I need to open a new tab.

-

[2017-04-26 09:20] srirambv commented on #8490
Closing #8490

[2017-04-26 09:20] #8490 closed

[2017-04-26 09:22] cezaraugusto opened #8505 "Create ScrollableContent element"
Issues #8475 and #5076 share almost the same fix: for content longer than viewport users should be able to scroll.

Since it's likely to have more issues regarding that, we should have a component carrying a styled scrollbar to make it consistent across our app.

[2017-04-26 09:34] #8505 closed

[2017-04-26 13:08] NejcZdovc opened #8506 "Test are failing on linux"
- Did you search for similar issues before submitting this one?
yes
- Describe the issue you encountered:
Tests are not working on linux
- Platform (Win7, 8, 10? macOS? Linux distro?):
linux, ubuntu 16.04 LTS
![pasted image at 2017_04_26 10_15 am](https://cloud.githubusercontent.com/assets/9574457/25435855/d4297dbc-2a91-11e7-9119-351a6e9f1920.png)

- Brave Version (revision SHA):
8da5411
- Steps t

[2017-04-26 13:42] bbondy commented on #8506
@bsclifton this is because  test/taxonomy/exclusionListTest.js uses levelup for taxonomy.  What does this actually test? I don't see it using any module in particular except for levelup.  Maybe we can create a different repo for this? I'll skip it for now and commit.

[2017-04-26 13:44] bbondy commented on #8506
I think it should either test a module we have or we should just remove the file completely.  If it's just testing leveldown then that should be in a leveldown repo.

[2017-04-26 13:49] NejcZdovc commented on #8506
@bbondy I deleted the whole `taxonomy` folder and the error is gone, but test's are still failing. Note taxonomy folder is not used in travis.

![image](https://cloud.githubusercontent.com/assets/9574457/25437789/d61a7ba2-2a97-11e7-86f9-a8f01d6f8164.png)

[2017-04-26 15:18] bbondy commented on #8477
Need better steps or a session file to reproduce. I'm moving this to 0.15.1 for now.

[2017-04-26 15:26] #8498 closed

[2017-04-26 15:34] pmo opened #8507 "Easylist underperforming on Brave browser."
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:

I have noticed that brave uses Easylist as blocklist, just like Adblock on Chome does.
But when comparing Chrome and Brave using the same list, Brave does not block the same as Chrome. I have included screenshots as documentation.

This is the easylist blocklist on Google Chrome.
![easylist-

[2017-04-26 15:53] bbondy commented on #8482
It at least is somewhat reasonable that if you close when your window isn't open yet you lose the per window data for it.  It should be fixed but I don't think we should block on it and get a fix which could cause some other problem this late in the game for this release. Moving it along.

[2017-04-26 16:02] srirambv opened #8508 "Import data gets duplicated after sync"
- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:
Import data gets duplicated after sync
- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64
- Brave Version (revision SHA):
0.15.0 RC5
6638b91
- Steps to reproduce:
    ~~1. Enable sync on pyramid 0~~
    ~~2. Sync pyramid 1 with pyramid 0 using secret code~~
    ~~3. Import browser

[2017-04-26 17:16] srirambv commented on #8508
Actually this doesn't require sync to be done with other system. Just enabling sync causes the import data to be duplicated. gif is a bit long need to watch completely.
![8508](https://cloud.githubusercontent.com/assets/17010094/25447285/7b3c98c2-2aac-11e7-8700-20d2ce0db43f.gif)

[2017-04-26 17:42] bsclifton commented on #7344
We should be able to try this again after attempting the fix recommended by @bridiver here:
https://github.com/brave/browser-laptop/issues/8304#issuecomment-296455730

[2017-04-26 18:07] srirambv opened #8512 "Error: Setting cookie failed on importing Firefox Data"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Error: Setting cookie failed on importing Firefox Data

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.15.0
rev	6638b91
- Steps to reproduce:
    1. Launch browser from console
    2. Import data from Firefox
    3. Console shows `Error

[2017-04-26 18:12] diracdeltas commented on #8508
good catch; i think we just need to set the skipSync flag on imported bookmarks

[2017-04-26 18:39] srirambv opened #8513 "Sync code modal is not dismissed when trying to enable sync offline"
- Did you search for similar issues before submitting this one?
yes

- Describe the issue you encountered:
Sync code modal is not dismissed when trying to enable sync offline
- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows x 64
- Brave Version (revision SHA):
Brave	0.15.0
rev	6638b91
- Steps to reproduce:
    1. Open about:preferences#sync
    2. Click on `I have a existing code` to bring

[2017-04-26 18:44] diracdeltas commented on #8513
kicking to a later milestone since it is an edge case for the network to disconnect while the modal is open

[2017-04-26 18:46] kumarrishav commented on #7872
I would like to a shot to this one :)

[2017-04-26 20:03] capouch opened #8515 "Linux version does not handle web push notifications"
- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:
Linux laptop version does not handle server push notifications
- Platform (Win7, 8, 10? macOS? Linux distro?):
Linux Slackware 14.current
- Brave Version (revision SHA):
6638b91 (and many previous)

- Steps to reproduce:
    1. Go to https://serviceworke.rs/push-payload_demo.html
    2. Attemp

[2017-04-26 20:25] bsclifton commented on #7872
@kumarrishav go for it 😄  Let me know if you have any questions

[2017-04-26 20:41] darkdh commented on #8474
fixed in https://github.com/brave/muon/commit/ee77b72f264d3a32886a7b516c5089f06a797534
please wait for muon v2.58.7

[2017-04-26 20:41] #8474 closed

[2017-04-26 20:42] darkdh commented on #8334
fixed in brave/muon@ee77b72
please wait for muon v2.58.7

[2017-04-26 20:50] kefyr commented on #5819
#4473

[2017-04-26 22:41] #8495 closed

[2017-04-26 22:41] mrose17 commented on #8495
hooray!

[2017-04-26 23:25] bs commented on #8328
None of the above worked for me. Eventually, I got it to build via:

`npm install --global --production windows-build-tools`

from the [https://github.com/nodejs/node-gyp](node-gpg) build instructions.
Can someone else confirm?

[2017-04-26 23:32] bs opened #8516 "npm start fails if brave is nested under a folder with spaces in it"
- Did you search for similar issues before submitting this one?

Yes

- Describe the issue you encountered:

Started Brave from 'npm start' fails if it is located in or within a folder that includes a space. This is due to spawn() and exec() purposefully not handling filesystem implementations. See https://github.com/nodejs/node/issues/6803

- Platform (Win7, 8, 10? macOS? Linux distro?):
Tested o

[2017-04-27 03:44] lukemulks opened #8521 "imdb.com video player only loads with blocking disabled"
@darkdh reported that imdb.com was not loading the video player:

![image](https://cloud.githubusercontent.com/assets/8979240/25467324/47c5f0ea-2ac2-11e7-97f5-f6d2b40aba19.png)

- I've been able to repro on win10.
- imdb appears to be loading the video player, only if the ad call is allowed to be made.
- Blocking ads prevents the player from loading.
- Disabling blocking allows for the player load

[2017-04-27 04:07] nestorjunior commented on #3555
Really very important for a migration, I've been using Brave just for a few things ... and not for working.

[2017-04-27 04:18] bsclifton commented on #8506
Thanks for disabling! This is one just to perform quick sanity checks against what is returned when querying leveldb.  We have made mistakes in the past with rules which caused some problems (which then required cleanup).

It would be much better if we had a way to test against the DB directly... but this test is interesting because it'll force the data to get pulled down and then run the test, sa

[2017-04-27 04:18] bsclifton commented on #8506
More info can be found in https://github.com/brave/browser-laptop/commit/09690a8c08f54f4406559be32749d08582e069f3

[2017-04-27 04:21] alexwykoff commented on #7505
related issue : https://github.com/brave/browser-laptop/issues/6908

Trying this with the 0.15.0 rc6 yields the following:

[code]

I'm inclined to believe there may be a permissions issue looming as well.

[2017-04-27 04:37] alexwykoff commented on #7403
@luixxiul those labels exist so the generator doesn't add them to the test runs. when i get a block of time i'll update the generator, but this is the SOP for now 😸

[2017-04-27 04:50] alexwykoff commented on #8437
Working on mac and win64, @jonathansampson can we close this DNR as likely fixed by other changes?

[2017-04-27 05:20] bsclifton commented on #8508
Updated to `impact/medium`. I don't believe this was introduced by 0.15.0 and it only affects folks who use sync and import together (which is a much smaller subset than something affecting all users)

I'm going to push to 0.15.1

[2017-04-27 05:20] alexwykoff opened #8522 "0.15.0 Release Checklist"
### Every time thereafter
1. [x] `cd vault-updater`
- [x] `git checkout -b dev-<version>`
- [x] `npm run build`
- [x] `node tools/update.js --version=<version> --notes="<message approved by @aekeus>`. More details: `<link to release notes>`" `--channel=dev --overwrite`
- [x] `git add -u`
- [x] `git commit -m "<version>" -m "Auditors: @aekeus"`
- [x] `git push (alternatively: git push --set-upstrea

[2017-04-27 06:20] #7999 closed

[2017-04-27 06:21] bbondy commented on #7998
should this be closed?

[2017-04-27 06:30] #8522 closed

[2017-04-27 06:40] diracdeltas commented on #8454
I confirmed that the test plan works as expected with https://github.com/brave/sync/pull/84

[2017-04-27 06:55] jonathansampson commented on #8437
Closing as DNR.

[2017-04-27 06:55] #8437 closed

[2017-04-27 08:32] kumarrishav opened #8523 "uitest script is not available in package.json, but it's mentioned in tests.md"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
https://github.com/brave/browser-laptop/blob/master/docs/tests.md say, to run uitest, use : `npm run uitest` but there is no script available regarding uitest in package.json

- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS (probably All)
- Brave Version (revision SHA):
Brave 0.15.0 (re

[2017-04-27 08:43] kumarrishav commented on #6940
I would like to work on this issue.

[2017-04-27 10:04] CliqueBait commented on #7800
I don't think this is fixed. Also, is step 1 of the Test Plan really asking me to uninstall `gawk` (a core utility in linux systems) ?

[2017-04-27 10:19] NejcZdovc opened #8524 "About history failing tests"
**Describe the issue you encountered:**

This tests are failing for me locally.

Steps:
1) `npm run watch-test`
2) `TEST_DIR=about npm run testsuite`

1) about:history page content does NOT use customTitle when displaying entries:
     Error: timeout of 30000ms exceeded. Ensure the done() callback is being called in this test.

  2) about:history page content defaults to sorting table by time DESC

[2017-04-27 10:26] NejcZdovc commented on #8524
@luixxiul @srirambv do you see this lag as well on the latest master?

[2017-04-27 10:51] srirambv opened #8525 "About pages shows about:blank when subsequently opened from a new tab"
## Test plan
1. Open a new tab
2. Open any about page, ensure the title shows the about page name
3. Close the about page and reopen the same about page, ensure the title is still same and url shows the correct path
4. Close and reopen the about page, url path is NOT set to `about:blank`

## Original issue description
- Did you search for similar issues before submitting this one?
Yes

- Describe

[2017-04-27 11:07] srirambv opened #8526 "Webview crash on http://www.jewsnews.co.il/"
- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:
Webview crash on http://www.jewsnews.co.il/
- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows x64
- Brave Version (revision SHA):
Brave	0.15.0
rev	71fb730
- Steps to reproduce:
    1. Visit http://www.jewsnews.co.il/ in a new tab
    2. Webview crash
    3. Same result as #8474

- Actual

[2017-04-27 13:03] darkdh commented on #7800
Sorry, the test steps is a little confusing.
Step 1 is make sure you don't have gawk in your system. When you install Brave, it will show you that you need to install gawk as dependency.
Before this, we didn't ask user to install gawk. So it will fail to set as default silently.

[2017-04-27 13:34] bbondy commented on #8472
@bsclifton could you triage? Seems bad but I didn't repro on linux or mac.

[2017-04-27 13:38] bbondy commented on #6724
I'll take a look

[2017-04-27 13:42] bbondy commented on #8483
I think that only lists the minimum version required. I'm not sure if we still work with that minimum or not.  If someone has time to QA it then that'd be great and update as necessary.

[2017-04-27 13:47] srirambv commented on #8472
@bbondy alternatively you can open a new tab click on one of the top tiles and before the URL is loaded click on the URLbar which causes the URL text to be selected and then subsequent clicks doesn't deselect the URL text.

[2017-04-27 13:55] NejcZdovc commented on #6724
If this lands in 0.15.1 I will be so so happy :heart_eyes:

[2017-04-27 14:08] scottbroadway commented on #7388
Still failing in 0.15.0.

[2017-04-27 14:08] scottbroadway commented on #3560
Still failing in 0.15.0.

[2017-04-27 14:18] NejcZdovc opened #8528 "Redux refactoring tracking issue"
# General
- [x] Adds reduxComponent (ac5a069)
- [x] Removes last check when component is un-mounting (#8393)
- [x] Removes double call to checkForUpdates (4ec74e8)
- [x] Adds List validation for reduxComponent (#8558, fd3f25c)
- [x] ReduxComponent state is not always saved correctly
- [x] Remove `dispatchProps` from redux (#9310)
- [x] Remove object assign in merge props (#9481)
- [x] Saves comput

[2017-04-27 14:30] darkdh commented on #8526
This is different than #8474 . And it can only be reproduced without `--no-sandbox`
Here is the exception
[code]

[2017-04-27 14:34] darkdh commented on #8526
dup https://github.com/brave/browser-laptop/issues/6989

[2017-04-27 14:37] darkdh commented on #8526
related https://github.com/brave/browser-laptop/issues/7885, https://github.com/brave/browser-laptop/issues/6522

[2017-04-27 14:38] Jacalz commented on #7521
+1 from https://community.brave.com/t/browser-still-shows-google-ad/2402

[2017-04-27 15:39] bsclifton commented on #8477
Also getting a report via Twitter that the order of the pinned tabs isn't sticking. After quitting and relaunching, it goes back to the wrong order.  Since I have a session where both issues happen, I'll self assign and knock this out 😄

[2017-04-27 15:53] bsclifton commented on #3560
This might be related to https://github.com/electron/electron/issues/8877

@scottbroadway I'm doing some work in Muon (our fork of Electron) this week... I'll see if I can pull in the upstream patch 😄

[2017-04-27 16:06] bbondy opened #8529 "Non-active tab alert causes active tab video to freeze"
- Did you search for similar issues before submitting this one?
Yes.

- Describe the issue you encountered:
While on a Google hangout, my video completely hung.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Linux, but it is probably the same on all.

- Brave Version (revision SHA):
0.15.0 released build

- Steps to reproduce:
    1. set a timeout on a page using devtools to alert in a tab in 1

[2017-04-27 16:17] Stryder24 commented on #3836
I am having what I consider a lot of
![brave](https://cloud.githubusercontent.com/assets/23262338/25493241/821987f8-2b43-11e7-961c-8fc78c99d472.jpg)
memory used.

[2017-04-27 16:42] bsclifton commented on #8437
@jonathansampson yes- it was fixed with https://github.com/brave/muon/commit/ee77b72f264d3a32886a7b516c5089f06a797534 😄

[2017-04-27 17:32] rogerdc commented on #6908
I'm not sure if I'm seeing the exact same thing you're seeing, but here's what I've got:

[code]
From the console:
[code]

[2017-04-27 17:35] #6989 closed

[2017-04-27 17:35] #8526 closed

[2017-04-27 17:55] darkdh commented on #8512
Cannot reproduce on
[code]
And cookie is successfully imported from firefox
<img width="1680" alt="screen shot 2017-04-27 at 1 53 03 pm" src="https://cloud.githubusercontent.com/assets/11330831/25497015/1fd05f5a-2b51-11e7-9ddf-58f47355783d.png">

[2017-04-27 17:55] #8512 closed

[2017-04-27 17:59] diracdeltas commented on #8449
Thanks for opening a detailed issue. I think we can agree that it's out-of-scope for the ledger to defend against every possible type of malware and social engineering, so I'll focus on specific scenarios:

1. Malware that can write to the ledger state files, overriding the reconcileStamp, but cannot run arbitrary code (such as running a headless browser and spoofing browser UI actions): This can

[2017-04-27 18:04] #8415 closed

[2017-04-27 18:12] darkdh opened #8530 "View Certificate on mixed content site"
We should be able to view certificate on
https://mixed-script.badssl.com/

CC @diracdeltas

[2017-04-27 19:20] bsclifton commented on #4928
Possibly related
- Chromium reported bug: https://bugs.chromium.org/p/chromium/issues/detail?id=661596
- Electron bug: https://github.com/electron/electron/issues/4380#issuecomment-295602306

[2017-04-27 19:35] darkgalaxy4 opened #8533 "Dashlane makes Facebook unresponsive"
- Did you search for similar issues before submitting this one? Yes

- Describe the issue you encountered: If I use Dashlane to login to Facebook the pointer won't . If I choose LastPass as password manager the problem disappears.

- Platform (Win7, 8, 10? macOS? Linux distro?): Win10x64

- Brave Version (revision SHA):15.0

- Steps to reproduce:
    1. Automatically login to Facebook with Dashlan

[2017-04-27 20:09] gschueler opened #8534 "Autocomplete suggests a porn site"
- Did you search for similar issues before submitting this one? yes

- Describe the issue you encountered: autocomplete suggests a porn site

- Platform (Win7, 8, 10? macOS? Linux distro?): mac Os

- Brave Version (revision SHA):

71fb730

- Steps to reproduce:
    1. type `bee` in url bar

- Actual result:

autocomplete expands to `beeg.com` listed under Top Sites

- Expected result:

No porn res

[2017-04-27 20:32] Skayo opened #8536 "Strange cursor behaviour when hovering over searchbar"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
When hovering from top to bottom of the searchbar, the cursor changes to the input cursor then to the normal cursor and then to the input cursor again:
![](https://i.imgur.com/KBvXDR7.gif)

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 Creators Update

- Brave Version (revision S

[2017-04-27 20:34] bsclifton commented on #8536
@Skayo are you using a laptop? if so, do you have trackpad input enabled? Almost looks like a problem with the trackpad or mouse

[2017-04-27 21:12] #8467 closed

[2017-04-27 21:14] Skayo commented on #8536
@bsclifton Yes, I am using a laptop and trackpad input is enabled. Doesn't happen in Chrome nor Edge. (I don't have Firefox)
I don't think I have a problem with my trackpad or mouse but I will check tomorrow.

[2017-04-27 21:18] #8534 closed

[2017-04-27 21:35] mrose17 opened #8537 "Add "Clear Data / Reset Ledger" option to about:preferences#payments and 'Clear browsing data...' panel"
- Did you search for similar issues before submitting this one? yes

- Describe the issue you encountered: about:preferences#sync has an option to let the user completely erase the sync data; we need a similar option for the ledger

- Platform (Win7, 8, 10? macOS? Linux distro?): all

- Brave Version (revision SHA): n/a

- Steps to reproduce:
    1. go to about:preferences#payments
    2. look for

[2017-04-27 21:40] mcg commented on #7778
Sorry to bump this ticket, but wondering when this might be re-enabled? Enpass is one of the better cross platform password managers(that isn't Lastpass) and without integration, a pain to use with Brave.

[2017-04-27 21:58] #3121 closed

[2017-04-27 21:58] #7555 closed

[2017-04-27 22:05] eljuno opened #8538 "Can not delete/moving/edit bookmark with chrome-extension:// in the URL location"
- Did you search for similar issues before submitting this one?
No

- Describe the issue you encountered:
I accidently have two bookmarks with `chrome-extension://jdbefljfgobbmcidnmpjamcbhnbphjnb/` added in the url location -- the url in the location looks like `chrome-extension://jdbefljfgobbmcidnmpjamcbhnbphjnb/http://your-site.com/your_file.pdf.` And now I can not delete those bookmarks or movi

[2017-04-27 22:35] Liunkae commented on #8533
This problem only happens on facebook.com?

[2017-04-27 22:51] bsclifton opened #8540 "Tab context menus should offer "Mute all tabs""
Originally proposed in https://github.com/brave/browser-laptop/pull/8320, right clicking (or cmd + clicking) inside the tab area should bring up a context menu.

This should *include* "Mute All Tabs":
![image](https://cloud.githubusercontent.com/assets/4733304/25409303/3d497bca-29c6-11e7-9c6a-6ee58a8cac76.png)

This should always mute all of the tabs.  It was attempted in the PR, but @philkloose n

[2017-04-27 22:53] bsclifton commented on #8540
For reference, here is the implemenation I attempted with https://github.com/brave/browser-laptop/pull/8320
[code]

[2017-04-27 22:54] Liunkae commented on #8529
Here's what Firefox does:
1. It puts a "glow" under the tab's favicon and does not freeze any activity in the current tab:
![](https://cloud.githubusercontent.com/assets/19424103/25507567/6b74cc18-2b72-11e7-8187-8c0e5a1ad546.png)
2. When you activate the tab with the alert, it shows a checkbox that allows the tab to switch automatically when there is an alert:
![](https://cloud.githubusercontent.c

[2017-04-27 23:08] bsclifton commented on #8540
@philkloose I assigned this to myself so that I can be available to help you 😄   Let me know if you have any questions or if you'd rather check a different issue out instead

[2017-04-27 23:08] Liunkae commented on #1530
Still reproducible with Brave 0.15.0 (71fb730, Muon 2.58.7, libchromiumcontent 58.0.3029.81) on macOS 10.12.x.

[2017-04-27 23:10] bsclifton opened #8541 "Application slowness (when opening new tabs, loading a website)"
Reported from one of our users [via Twitter](https://twitter.com/fafneri/status/857645991012564992):

[2017-04-27 23:14] Liunkae commented on #3116
We've had some significant UI changes since the original report, and there's now more space on the right side of the URLbar (as @bradleyrichter mentioned). I'll close this for now.

[2017-04-27 23:14] #3116 closed

[2017-04-27 23:18] Liunkae commented on #4962
I don't think this is happening anymore. No recent reports, so I'll close for now.

[2017-04-27 23:18] #4962 closed

[2017-04-27 23:19] Liunkae commented on #403
Still reproducible with Brave 0.15.0 (71fb730, Muon 2.58.7, libchromiumcontent 58.0.3029.81) on macOS 10.12.x.

[2017-04-27 23:30] Liunkae commented on #8538
I cannot reproduce with Brave 0.15.0 on macOS 10.12.x because it won't let me manually add `chrome-extension://` to the bookmark's URL. When I bookmark a PDF, it does not start with `chrome-extension://`.

[2017-04-28 00:06] #8530 closed

[2017-04-28 00:24] josiah-keller commented on #8536
@bsclifton I've noticed this for some time.  I think it's the same issue as #7641.  It doesn't happen when the window is not maximized.

[2017-04-28 00:31] danielrob opened #8543 "Pinned tabs lose order after re-launch"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Updated Brave today and after relaunch my pinned browser tabs were no longer in the correct order. Thought it was an update bug, so put them back in order, but after quitting and re-launching they returned to the same incorrect order.

- Platform / Revision
[code]

- Steps to reproduce:
    1

[2017-04-28 00:35] nyancat18 opened #8544 "Addonss"
How can i add scriptsafe

and umatrix

at brave?

[2017-04-28 00:37] danielrob commented on #8544
https://github.com/brave/browser-laptop/projects/1

[2017-04-28 00:59] #8299 closed

[2017-04-28 01:22] lukemulks commented on #8422
Two additional data points:

1. I was able to repro, windows 10, 64bit.

2. We received a report from a contributor from the Brave Community today that also experienced the issue on macOS: https://community.brave.com/t/cannot-open-view-pdfs-after-latest-update-strange-error-screen-results/2444/1

[2017-04-28 01:41] kspearrin commented on #4760
Any update @jonathansampson?

[2017-04-28 01:57] jonathansampson commented on #8536
@bsclifton I agree with @josiah-keller here; looks like the same issue I see on my hi-res Surface Book.

[2017-04-28 01:59] jonathansampson commented on #4760
Closed by https://github.com/brave/muon/pull/180

[2017-04-28 02:12] jonathansampson commented on #8544
@nyancat18 Thank you for the suggestions. I've added uMatrix to our [Extensions Project board](https://github.com/brave/browser-laptop/projects/1) (ScriptSafe was already present).

[2017-04-28 02:12] #8544 closed

[2017-04-28 02:15] jonathansampson commented on #8529
@bbondy Seems pretty serious; should we assign to 0.15.1?

[2017-04-28 02:48] guzgarcia commented on #7386
Really it's important. Do you plan implement it soon?

[2017-04-28 02:54] lukemulks commented on #8422
We received an additional report from the Brave Community. Details and link included below for reference.

Community URL: https://community.brave.com/t/cannot-open-view-pdf-s-after-latest-update-strange-error-screen-results-help-me-apr-28-1-3-apr-28-1h-ago-herewego3h-i-have-macos-sierra-10-12-3-and-upgraded-to-brave-0-15-0-earlier-today-since-the-upgrade-when-i-click-to-download-or-view-a-pd/2450

[2017-04-28 03:11] bbondy commented on #3343
Duping to #45, I have a fix for this.

[2017-04-28 03:11] #3343 closed

[2017-04-28 03:55] onmyouji opened #8545 "When Brave Payment is enabled, accessing Shield Settings on a blank page will crash the browser"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
When Brave Payment is enabled, accessing Site Shield Settings on a blank page will crash the browser.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Win7

- Brave Version (revision SHA):
0.15.0

- Steps to reproduce:
    1. Enable "Brave Payments"
    2. Open a blank page (about:blank)

[2017-04-28 04:04] Alex0007 commented on #1847
Missing mouse gestures support like in FireGestures or crxMouse is the only thing, why i'm not using brave

[2017-04-28 04:15] danielrob commented on #6245
A request here (I couldn't find anything anywhere else) would be to be able to duplicate a bookmark when dragging with the option key.

[2017-04-28 04:49] Liunkae commented on #8484
I think this will be fixed with #45. Closing as a duplicate.

[2017-04-28 04:49] #8484 closed

[2017-04-28 04:52] Liunkae commented on #8422
I myself have seen this problem in 0.15.0. Thanks @darkdh!

[2017-04-28 04:53] #8422 closed

[2017-04-28 06:45] JGH1000 commented on #2259
So there is no way to block this? Fingerprinting by browser option and fonts would make every user unique on it's own.

In Firefox one can use Blender to fake using the most popular browser version/operating system and  block font detection.

[2017-04-28 08:32] darkgalaxy4 commented on #8533
@Liunkae Yes, other websites behave normally after signing in. The issues didn't show up until the current release.

[2017-04-28 09:07] NoxDeleo commented on #8292
I've had the same issue for a while, however for me when the window is maximized, I can select the tab groups by pointing just below the rectangle. The click area is slightly offset.

[2017-04-28 09:14] psantos10 commented on #8504
I think that version 0.15.0 (rev. 71fb730) fixe the problem

[2017-04-28 09:14] #8504 closed

[2017-04-28 09:39] bsclifton commented on #8477
I believe I've found the root cause! This was a tricky one

@bbondy if you have a few mins, maybe you can help me think through a fix

I pinned a tab a while back- it's stored in the sites array like so:
[code]

This is getting loaded when the app starts... pinned tabs are re-created from the sites array.  They get created and loaded.  In this case, the pinned tab above redirects to `https://masto

[2017-04-28 09:43] bsclifton commented on #8477
I'm still having some other issues (which we can solve after this):
- order of pinned tabs seems to be lost
- one of my pinned tabs shows up twice?! exact same URL

[2017-04-28 10:13] srirambv opened #8547 "Focus switches to pinned tab when a tab is closed"
- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:
Focus switches to pinned tab when a tab is closed
- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 7 ia32
- Brave Version (revision SHA):
Brave	0.15.1
rev	0598ddf
- Steps to reproduce:
    1. Clean install 0.15.0
    2. Pin a site and open 4-5 new tabs / visit sites in them
    3. Upgra

[2017-04-28 11:47] srirambv opened #8548 "Download file doesn't show as completed nor the progress indicator stops even after successfully downloading the file"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Download file doesn't show as completed nor the progress indicator stops even after successfully downloading the file
- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 7 ia32
- Brave Version (revision SHA):
Brave	0.15.1
rev	0598ddf
- Steps to reproduce:
    1. Clean install 0.15.1 previ

[2017-04-28 12:12] iowbeoibewio opened #8549 "Force Close in Some websites"
- Did you search for similar issues before submitting this one?
Yes, I did

- Describe the issue you encountered:
Brave Force Close immediately in some websites and I don't know why.
And here one website an example that makes Brave FC
https://www.aliexpress.com

- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS 10.12.4

- Brave Version (revision SHA):

Brave: 0.15.0
rev: 71fb73001617949528cc64

[2017-04-28 14:15] jpretori opened #8550 "No progress indicator when reloading page"
- Did you search for similar issues before submitting this one?
yes

- Describe the issue you encountered:
It's a User Experience issue:  I don't see any indication that a page is loading, while it's loading.  I'm sure there's supposed to be a progress indication someplace, but it's either not working or escaping my attention.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Mac OS X 10.11.6

- Br

[2017-04-28 14:27] GalferOP commented on #5727
Stylish is so good ! :) And for my eyes it's an obligation for many websites too white :o So When Brave have Stylish, i will use Brave everytime. ;)

[2017-04-28 14:27] exside commented on #613
yeah, how can we stack tabs? simply dragging/dropping a tab onto another one doesn't do anything, see vivaldi for how it should work...

[2017-04-28 14:30] jpretori commented on #2504
Linking to #2992, it looks related to me

[2017-04-28 14:31] jpretori commented on #2992
Also seems like the Captcha on this page as a similar issue: cgc.org.za/contact-us/.

[2017-04-28 14:56] 16kuokhc1 opened #8551 "Captcha does not work in Depositfiles with Shields on"
- Did you search for similar issues before submitting this one?
Yes,
- Describe the issue you encountered:
When I go to a link on depositfiles, their text based Captcha does not load; instead, google's recaptcha loads and does not function

- Platform (Win7, 8, 10? macOS? Linux distro?):
8.1

- Brave Version (revision SHA):
0.15.0 (71fb730)

- Steps to reproduce:
    1. Go to the download link of

[2017-04-28 15:00] DivineOmega opened #8552 "Crash on startup (possibly related to recovering tabs)"
- Did you search for similar issues before submitting this one? Yes.

- Describe the issue you encountered: Upon launching the browser, it appears briefly, attemtping to re-load previously tabs and then immediately closes.

If ran through the terminal, I receive the following error.

[code]

- Platform (Win7, 8, 10? macOS? Linux distro?): Linux - Ubuntu 16.04

- Brave Version (revision SHA): v0.15

[2017-04-28 15:09] lukemulks opened #8553 "Tear off tabs: Early reports re: unintentional tab tear off, and responsiveness"
Received a report from a Community contributor that tabs are tearing off 50% of the time when they attempt to click to make the tab active.

Gathering additional info, but it sounds like it could be that the click and drag to tear off might be a little too sensitive for the user's browsing profile.

**Brave Community URL:**
https://community.brave.com/t/oh-my-god-stop-with-the-tabs-to-new-windows/

[2017-04-28 15:18] lukemulks commented on #8553
cc: @bbondy for visibility

[2017-04-28 17:16] Liunkae commented on #8552
Do you have Brave Payments enabled? Wild guess: this is related to #8545.

[2017-04-28 17:18] NejcZdovc commented on #8552
@ayumi @diracdeltas error point into `syncUtil.js`. Could be this related to the sync?

[2017-04-28 17:26] #8545 closed

[2017-04-28 17:46] bsclifton commented on #8549
@iowbeoibewio I'm having a hard time trying to reproduce this... it seems to work everytime for me

It seems you've had this problem for a while?  Next time you get the problem, can you hit the report button? It should show a VERY detailed report.  You can copy/paste those details to here:
https://gist.github.com/

And then share a link with us 😄  This should help us narrow it down.  Thanks! 😄

[2017-04-28 17:47] bsclifton commented on #8550
@cezaraugusto can you check this one out? Def seems like a regression

[2017-04-28 17:51] Liunkae opened #8554 "Show definition popup is misaligned"
## Test plan
 1. Ensure Bookmarks Toolbar is hidden
 2. Select a word on a webpage.
 3. Right-click > Look Up or use the three finger tap gesture (trackpad).
 4. Make sure the popup is just below the word that was selected
 5. Repeat steps 2 - 4 with Bookmarks Toolbar being visible

## Original issue description
- Did you search for similar issues before submitting this one?
Yes.

- Describe the i

[2017-04-28 18:00] DivineOmega commented on #8552
@Liunkae I did have Brave Payments enabled prior to renaming my `session-store-1` file. It is now disabled. When it was enabled, it was in the past due state due to insufficient funds.

[2017-04-28 18:35] lukemulks commented on #8543
We've had an additional report of this in the Brave Community:
https://community.brave.com/t/oh-my-god-stop-with-the-tabs-to-new-windows/2473/6?u=luke.mulks

**Feedback**

**Browser Profile**
[code]

[2017-04-28 18:44] Liunkae commented on #8552
@DivineOmega Nevermind, it looks like it was an issue with Brave Sync.

[2017-04-28 19:10] geekgonecrazy commented on #7140
This would be amazing.  Would reduce installation on ubuntu to a command like this: `sudo snap install brave` and its installed and ready to go :+1:

[2017-04-28 19:14] NejcZdovc opened #8557 "List in redux component"
**Describe the issue you encountered:**
We sometimes need to pass in Immutable List into redux component props, because we need to display a list of X items (for example tabs). For that reason we need to do a List check in `ReduxComponent`.

[2017-04-28 19:25] jonathansampson commented on #5302
Thoughts on resurrecting this issue? Just spoke with a user who wanted something like this on their dashboard. I love the idea :)

[2017-04-28 19:30] i-rme opened #8559 "Adding Google Data Saver Proxy to Brave browser on Desktop and Android"
Google Data Saver Proxy is a feature that can be enabled to save up to 50% of the data usage on mobile and desktop when browsing the web.

This feature has already being implemented on other platforms like Mozilla Firefox on an extension:

- https://addons.mozilla.org/es/firefox/addon/google_datasaver_for_firefox/

Third parties have implemented this even on Chrome on desktop in this extension:

-

[2017-04-28 19:39] bsclifton commented on #8557
Moving to 0.15.2, since 0.15.1 is now a hotfix release 😄

[2017-04-28 20:10] Kainzo commented on #428
So... is it possible to have your passwords retrieved from Chrome? cause I want to move to Brave to break up with Google...

[2017-04-28 20:31] tjayrush opened #8561 "Missing link on About Brave page"
**- Did you search for similar issues before submitting this one?**

Yes

**- Describe the issue you encountered:**

There is a broken link on the About Brave page.

**- Steps to reproduce:**
    1. Click on the link in the about brave page

**- Actual result:**

No Page

**- Expected result:**

Page

**- Can this issue be consistently reproduced?**

Yes

[2017-04-28 20:49] #8557 closed

[2017-04-28 21:21] NejcZdovc opened #8562 "Remove whole frame from onTabsToolbarContextMenu"
## Test plan

https://github.com/brave/browser-laptop/pull/8564#issue-225201404

----

**Describe the issue you encountered:**
Remove the whole frame param from `onTabsToolbarContextMenu`, so that we can use the full power of redux component. Provide only what is needed.

[2017-04-28 21:31] Liunkae commented on #8561
@tjayrush Which link? The `here` and `71fb730` links are working for me.

[2017-04-28 21:32] bsclifton opened #8563 "Upgrade to Muon 2.58.8"
## Test plan
1. Launch Brave and visit about:brave
2. Confirm that `2.58.8` shows for `Muon` under version information

## Original issue description
We need to update to Muon version 2.58.8 (which includes a fix for PDF crashing)

[2017-04-28 22:42] eljuno commented on #8538
Well, I'm not sure why I can do that. It seems I bookmark the pdf before it loaded completely -- slow connection -- and ended up with `chrome-extension://` in the bookmark URL. It's OK if there's not solution for me to delete those bookmark. I can live with it. :)

[2017-04-28 22:57] SwartzCr commented on #8069
any movement on this? When is the next version of chromium planned to be release? And has anyone opened a bug for them?

[2017-04-28 23:28] lukemulks commented on #5159
We've had a Brave Community contributor report a ~1-3px overlap between monitors when Brave is maximized in a primary display, when there are two displays sitting side by side.

URL to Brave Community thread:
https://community.brave.com/t/youtube-skip-ad-button-disappeared-brave-window-overlaps-other-screen/2329/8

Browser profile for user:
[code]
Screenshots provided by our contributor:

![brave-

[2017-04-28 23:33] geekgonecrazy commented on #6908
Seems starting with `--no-sandbox` solves this.  Not ideal at all though...  From what I can tell nothing wrong with the permissions on the file

[2017-04-28 23:37] #7930 closed

[2017-04-28 23:55] ChillyHellion commented on #5086
Seems to happen on any version of Linux running Gnome Shell.  I can reproduce this in Fedora 25 running Gnome 3.22.2.  Going into Brave Browser preferences, turning "hide the menu bar by default" off and then on again will fix the issue.  Also pressing alt will successfully hide the menu bar.  Both of these fixes only work until the next time Brave Browser is launched.

It's annoying because like

[2017-04-29 00:15] bsclifton commented on #8477
Got this issue mostly wrapped up (including tests).  I didn't repro anything with order being lost, but I did find another situation where pinning / unpinning can break.  I'll try to capture specific steps

[2017-04-29 00:22] Liunkae commented on #8538
@eljuno It's still a bug. 😉

[2017-04-29 00:55] #6726 closed

[2017-04-29 01:19] #8552 closed

[2017-04-29 01:25] feross commented on #8146
This generally looks good to me, but it would be better to actually add the querystring with `url.parse` and `url.format` since blindly tacking on a `?download=true` can lead to invalid URLs.

A couple examples:

- `magnet:?a=b&c=d?download=true` should use `&download=true` instead
- `https://example.com/file.torrent#ix=1?download=true` should not add a query param after a hash

Will send a PR to

[2017-04-29 01:35] feross commented on #8146
PR sent: https://github.com/brave/browser-laptop/pull/8567

[2017-04-29 01:38] feross commented on #8463
This is now fixed on `master` due to @diracdeltas's recent PR #8325 which changes how requests to .torrent files are handled. Win! 🥇

Thanks @diracdeltas!

[2017-04-29 01:48] luixxiul commented on #3953
I have fixed the issue somewhere already.

[2017-04-29 01:48] #3953 closed

[2017-04-29 01:53] SwartzCr commented on #8069
no, still broken in chrome 58

[2017-04-29 01:55] jonathansampson commented on #8069
@SwartzCr Sorry, did you mean _Chromium_ instead? Or do you see this issue in both Brave 0.15.0, and Chrome 58?

[2017-04-29 01:59] luixxiul commented on #8561
I could reproduce the issue. If I click "here", the page https://github.com/brave/browser-laptop/releases/tag/vundefineddev is opened, which is 404.

[2017-04-29 02:39] Liunkae commented on #8561
@luixxiul Which platform? I cannot reproduce on my personal instance or a new profile on macOS 10.12.x, or my test instance on Linux Ubuntu 16.04.x.

[2017-04-29 02:44] luixxiul commented on #8561
on Windows 10 64 bit.

You would need to change the language setting to other than English.

[2017-04-29 03:03] cezaraugusto opened #8568 "Add BrowserButton component"
Doing #7168 (refactor of Button component) I had to refactor +30 files and some of them found to be near impossible without breaking things or refactoring the whole component.

The idea with this new component is to avoid breaking changes and refactor buttons that already have Aphrodite embedded, and let the road open for future refactoring, since it mimics `<Button>` component.

Added some new sp

[2017-04-29 03:53] Liunkae commented on #8561
Hmm, still can't reproduce even if I set the language to something other than English.

[2017-04-29 03:55] luixxiul commented on #8561
I could no longer reproduce the issue.

[2017-04-29 04:47] lukemulks commented on #7215
We've received a similar report from a contributor in the Brave Community:
https://community.brave.com/t/youtube-skip-ad-button-disappeared-brave-window-overlaps-other-screen/2329/9

[code]
**Contributor Feedback:**

![windows-brave-taskbar-overlap-04282017](https://cloud.githubusercontent.com/assets/8979240/25552965/43e9b63c-2c5c-11e7-810d-1322ab98e0cd.png)

[2017-04-29 05:04] lukemulks opened #8569 "Ads reported bypassing Shields on mywatchseries.to"
- Did you search for similar issues before submitting this one?

Yes

- Describe the issue you encountered:

A contributor from the Brave Community has reported observing ads bypassing Shields with flash enabled and disabled.

- Platform (Win7, 8, 10? macOS? Linux distro?):

Reported on Win10, likely impacts all platforms.

- Brave Version (revision SHA):

[code]

- Steps to reproduce:

    1. Nav

[2017-04-29 05:19] lukemulks opened #8570 "Ads reported bypassing shields on realclearpolitics.com"
- Did you search for similar issues before submitting this one?

Yes

- Describe the issue you encountered:

A contributor from the Brave Community reported observing ads bypassing shields on realclearpolitics.com.

Link to the original Brave Community thread: https://community.brave.com/t/realclearpolitics-evades-adblock/2494

- Platform (Win7, 8, 10? macOS? Linux distro?):

All

- Brave Version

[2017-04-29 06:56] bsclifton commented on #8561
@luixxiul can you try setting `NODE_ENV=development` and running? I have a feeling that maybe when you ran it, that was set.  When that happens, it will try to do a lookup (which might fail)- then the page may be blank or have a broken link

[2017-04-29 07:31] jonathansampson opened #8571 "Brave is not able to remotely debug a Node.js application"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Remote debugging of Node.js applications via the _chrome-devtools://_ protocol is not supported. Attempting to access a resource with this protocol results in a search.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Desktop

- Brave Version (revision SHA):
0.15.0

- Steps to reproduce:

[2017-04-29 07:32] #8571 closed

[2017-04-29 07:32] #8374 closed

[2017-04-29 07:50] #7682 closed

[2017-04-29 08:18] ShalokShalom commented on #8421
Thanks :+1:

[2017-04-29 08:48] Mooties commented on #1090
I need dark mode especially night mode for the hideous white youtube. I've tried googling all over to find a solution but nothing works or it take extreme effort to actually do it

[2017-04-29 11:09] srirambv opened #8573 "PDF full screen notification bar shows chrome-extension://jdbefljfgobbmcidnmpjamcbhnbphjnb"
- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:
PDF full screen notification bar shows chrome-extension://jdbefljfgobbmcidnmpjamcbhnbphjnb
- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 7 ia32
- Brave Version (revision SHA):
Brave	0.15.1
rev	0598ddf
- Steps to reproduce:
    1. Open any PDF link
    2. Click on the full screen opti

[2017-04-29 11:33] #8563 closed

[2017-04-29 11:35] gorhill commented on #8570
It's Instart Logic's code, it disguises 3rd-party as 1st-party ones. See <https://github.com/uBlockOrigin/uAssets/issues/227>.

[2017-04-29 13:43] DavidRBailey commented on #8327
See also op/issues/5136

[2017-04-29 13:58] jorgheymans commented on #8302
latest release not really making a difference, reverting back to chrome until this is fixed sorry guys.

[2017-04-29 14:02] srirambv opened #8574 "Browser UI goes off screen when autocomplete comes up"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Page runs in browser window when a tab has webview crash

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 7 ia32
- Brave Version (revision SHA):
Brave	0.15.1
rev	0598ddf
- Steps to reproduce:
    1. Visit https://github.com/brave/browser-laptop in a new tab
    2. Open http://ieeexplo

[2017-04-29 14:08] diracdeltas commented on #8574
It doesn't appear to be loading outside the sandbox in the screenshot; the webview is just too high up by ~20 pixels.

[2017-04-29 16:24] lukemulks opened #8575 "Brave quits when New Tab command issued without window"
A Brave Community contributor reported the following Issue:

**Brave Community thread:**
https://community.brave.com/t/brave-quits-when-new-tab-command-issued-without-window/2509

**Browser Profile**
[code]

**Steps to Repro:**

- Open Brave
- Close all open tabs.
- Brave should still be open (in macOS, you'll see the "Brave" application menu) but there are no windows (confirm in the Window menu).

[2017-04-29 17:43] alexwykoff commented on #8545
about:blank simply shows a spinner on the tab and never completes, thus the shields menu is inaccessible.

[2017-04-29 18:32] rucksack-texnology commented on #8575
Not just a laptop issue. Same misbehavior occurs on iMac running same version of macOS (10.12.4) and same version of Brave (0.15.0).

[2017-04-29 18:35] darkdh commented on #428
you can see the tracking ticket here
https://github.com/brave/browser-laptop/issues/7071

[2017-04-29 18:40] rnsjunkmail opened #8577 "Panopticlick Brave Fingerprint"
- Did you search for similar issues before submitting this one? Yes
- Describe the issue you encountered: Panopticlick rates Brave with a VERY unique Fingerprint!!!
- Platform (Win7, 8, 10? macOS? Linux distro?):   MacOS X El Capitan 10.11.6
- Brave Version (revision SHA): 0.15.0 rev 71fb730

- Steps to reproduce:
    1. Go to Panopticlick website
    2. Run the test
    3.

- Actual result:

Does

[2017-04-29 19:21] jpretori opened #8578 "Shields up -> auto logs out of forum"
- Did you search for similar issues before submitting this one?
yes

- Describe the issue you encountered:
I log into my account at http://orbit.medphys.ucl.ac.uk/forum.html, then click on anything - it logs me straight out.  Once I bring the shields down for that site, I stay logged in just fine.  When looking at what gets blocked (in the shield settings panel), Brave gives me this URL: http://cs

[2017-04-29 19:23] iowbeoibewio commented on #8549
Here link for report :smile:
https://gist.github.com/iowbeoibewio/10b7eec545317eab04c1334068ed6a8b

[2017-04-29 20:14] capouch opened #8579 "Clicking PDF link crashes tabs dramatically"
- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:
Lately, clicking some PDF links crashes both the tab attempting to render the PDF as well as the tab(s) that spawned it.
- Platform (Win7, 8, 10? macOS? Linux distro?):
Linux Slackware 14 x64
- Brave Version (revision SHA):
0.15.0 	71fb730
- Steps to reproduce:
    1.Click this link: https://e

[2017-04-29 21:01] alexwykoff commented on #8574
@srirambv I couldn't reproduce on OS X perhaps its Windows only?

[2017-04-29 21:39] alexwykoff commented on #8574
The ieee link provided looks like a pdf in your screenshot, but commonly visiting the page does not show a pdf.  Since the pdf crash has been fixed in 0.15.1 will this reproduce?

[2017-04-29 21:48] eljuno commented on #8538
@Liunkae all I know so far:
Brave load pdf as `chrome-extension://jdbefljfgobbmcidnmpjamcbhnbphjnb/` before the URL change to `http://your-site.com/your_file.pdf`. And I bookmark the pdf when still load and ended up with what I said ealier.

![brave-bookmark-pdf-bug](https://cloud.githubusercontent.com/assets/25360853/25559140/9d4ae972-2d5f-11e7-9530-c2d5b4fad9fd.gif)

[2017-04-29 22:14] eljuno commented on #8388
I think I experience this on 0.15.0.

Pinned tab unpinned itself, but when I click that tab -- I'm disabling tab preview -- the tab back to pinned tab and reload.

![brave-pinned-tab-bug](https://cloud.githubusercontent.com/assets/25360853/25559412/9bd3ccf4-2d63-11e7-8939-aa1c6fec4e0b.gif)

[2017-04-30 00:20] luixxiul commented on #8577
https://github.com/brave/browser-laptop/issues/5975#issuecomment-264524964

[2017-04-30 00:20] #8577 closed

[2017-04-30 00:48] luixxiul commented on #1090
For a global solution please check out this software: https://justgetflux.com/

[2017-04-30 00:56] bbondy commented on #8574
I think the window renderer is still inside sandbox btw.

[2017-04-30 01:13] bbondy commented on #8579
Verified fixed by this:
https://github.com/brave/browser-laptop/issues/8422

[2017-04-30 01:13] #8579 closed

[2017-04-30 02:13] alexwykoff commented on #8574
@srirambv let's circle back on this during the week and see if there is more to do.

[2017-04-30 03:26] Samizdata opened #8581 "Unable to view HBOGO video"
- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:
Unable to use HBOGO viewer.
- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10.
- Brave Version (revision SHA):
0.15.0, 71fb730
- Steps to reproduce:
    1. Try loading a video with shields up.
    2. Try loading a video with shields down.

- Actual result:
1. Be informed Flash is not

[2017-04-30 03:28] luixxiul commented on #6400
Fixed with #8443 (#8136)

[2017-04-30 03:28] #6400 closed

[2017-04-30 03:32] luixxiul commented on #6748
Fixed with https://github.com/brave/browser-laptop/pull/8443 (https://github.com/brave/browser-laptop/pull/8136)

[2017-04-30 03:32] #6748 closed

[2017-04-30 03:36] alexwykoff opened #8583 "Release process checklist for 0.15.1"
# Release Process Checklist

Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

## Release Commands
### First-time Setup
1. [x] `git clone git@github.com:brave/vault-updater && cd vault-updater`
- [x] `npm install`
- [x] install the heroku toolbelt https://toolbelt.heroku.com/ , ask @mro

[2017-04-30 03:43] bsclifton opened #8584 "about:blank loads indefinitely"
Seems to have started with 0.15.0... @alexwykoff reports it worked fine with 0.14.2 (should help narrow down the cause)

Loading about:blank (either typing and hitting enter or setting about:blank as your home page and then setting new tab to open home page) causes the spinner to keep going

The page seems to have loaded fine; it just thinks it hasn't finished

[2017-04-30 03:45] bbondy commented on #8584
cc @bridiver in case this is fixed with new event handling he's working on.

[2017-04-30 03:46] alexwykoff opened #8585 "Fix tests for Sync"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
According to https://github.com/brave/browser-laptop/pull/8556 the release criterion is that tests should pass. Currently they consistently fail on two particular tests:

[code]

The brave.com page doesn't fully load and the test fails to connect to the selenium server.

- Platform (Win7, 8,

[2017-04-30 04:10] luixxiul commented on #3141
Closing the issue due to lack of necessary information

[2017-04-30 04:10] #3141 closed

[2017-04-30 04:15] luixxiul commented on #3889
The issue has been fixed already.

[2017-04-30 04:15] #3889 closed

[2017-04-30 04:18] luixxiul commented on #4050
#UIzoom

[2017-04-30 04:18] #4050 closed

[2017-04-30 04:19] luixxiul commented on #4050
Implemented with #8419

[2017-04-30 04:23] alexwykoff commented on #8583
left a note with @aekeus for the final admin work

[2017-04-30 04:23] #8583 closed

[2017-04-30 05:12] lukemulks commented on #8553
@bbondy,
I've attempted to reproduce from Win10 (64bit) with the v0.15.1 update, and have been unable to repro the issue.

To cover off, I've gone back to the Community thread where this was originally reported, and have checked to see if the contributors that reported the issue can test in 0.15.1 and report the results.

**Community post (jumps to the latest request):**
https://community.brave.co

[2017-04-30 05:15] lukemulks commented on #8543
Update: We've released an update (v0.15.1) this evening that addresses some tab issues.

I've checked with the two Brave Community contributors that experienced/observed the issue, and requested that they check to see if v0.15.1 resolves for them.

Community URL:
https://community.brave.com/t/oh-my-god-stop-with-the-tabs-to-new-windows/2473/8

I'll report back here with what the contributors in th

[2017-04-30 05:59] luixxiul opened #8586 ""Recently closed tabs" disappeared from the menu"
**Describe the issue you encountered:**
1. Click the History menu
2. There is no item named "Recently closed"

- Platform (Win7, 8, 10? macOS? Linux distro?): Windows 10, confirmed on Debian

- Brave Version (revision SHA): 0.15.1

- Extra QA steps:
    1.
    2.
    3.

- Screenshot if needed:

- Any related issues:

[2017-04-30 07:54] diracdeltas commented on #8585
i think @ayumi is already working on this

[2017-04-30 08:43] bsclifton commented on #8549
@iowbeoibewio this is great!

cc: @darkdh @bbondy @bridiver

Is this squirrel related? See https://gist.github.com/iowbeoibewio/10b7eec545317eab04c1334068ed6a8b#file-force-close-report-L1742

[2017-04-30 09:02] luixxiul opened #8587 "Remove unnecessary classes and ids from files converted with Aphrodite"
**Describe the issue you encountered:** Remove unnecessary classes and ids from files converted with Aphrodite.

- Extra QA steps:
    1.
    2.
    3.

- Screenshot if needed:

- Any related issues: #8044

[2017-04-30 14:48] Jacalz commented on #8543
+1 from community: https://community.brave.com/t/pinned-tab-shuffle-and-lost-focus-changing-tabs-in-v0-15-0/2522/2
Still not fixed with 0.15.1 sadly :confused:

[2017-04-30 15:23] rojour commented on #8543
Not resolved for me :(

Name	Version
Brave	0.15.1
rev	ea5024d
Muon	2.58.8
libchromiumcontent	58.0.3029.81
V8	5.8.283.32
Node.js	7.9.0
Update Channel	dev
os.platform	darwin
os.release	16.6.0
os.arch	x64

[2017-04-30 17:17] madhatr opened #8590 "Youtube videos stop playing."
- Did you search for similar issues before submitting this one?
Yes, similar ones existed but were more about videos not starting.

- Describe the issue you encountered:
While playing longer youtube videos; if I am in a different tab for a while and come back to the youtube tab the video stops playing and the loading(buffering) symbol shows up even though the video is buffered for a good 3 minutes

[2017-04-30 17:43] bsclifton commented on #3141
@luixxiul thanks for closing this out 😄

The only pre-loaded sites we have are located here:
https://github.com/brave/browser-laptop/blob/master/js/data/top500.js

The entries in this list are [coming from the Alexa 500](http://www.alexa.com/topsites) and definitely do not include the entries listed above

[2017-04-30 18:00] bsclifton commented on #2259
cc: @diracdeltas

[2017-04-30 18:36] lukemulks commented on #8553
@bbondy I received feedback from the contributors in the Brave Community that I asked to re-test with v0.15.1.

Community URL: https://community.brave.com/t/oh-my-god-stop-with-the-tabs-to-new-windows/2473/12

Confirming that:
- Tearoff sensitivity has been reported as greatly improved with 0.15.1
- Unintentional Tearoff on click has been reported as resolved with 0.15.1

One contributor also repl

[2017-04-30 18:36] #8553 closed

[2017-04-30 19:02] alexwykoff commented on #8590
I have tried 5 and 20 minute intervals, but neither have worked for me.
I have tried with both the video paused before switching tabs and playing continuously.

@madhatr From how I read your initial report, it seemed as though the video was pre-recorded (not a live stream) and that it was playing continuously. Is that the case?

Also how many other tabs did you have open? Were any of them in a pri

[2017-04-30 20:37] danielrob commented on #8543
Still broken here too.
[code]

[2017-04-30 22:17] eljuno opened #8591 "Underline shortcut (Ctrl+U) conflict with View Page Source shortcut"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
User reported that underline shortcut `Ctrl+U` in Yahoo mail didn't work. Instead of underlining, it open Page Source -- that have same shortcut.

https://community.brave.com/t/underline-does-not-work-in-yahoo-mail-under-brave-0-15-1/2542

- Platform (Win7, 8, 10? macOS? Linux distro?):
Win 1

[2017-04-30 22:56] jkplanb commented on #954
A couple of months ago Brave stopped opening in Windows 10. Well that's not quite true; it opened into the tray but wouldn't maximise no matter what. I have just moved to another browser but I want my Brave. So I tried to uninstall it so as to reinstall but it won't using control panel.

[2017-04-30 23:38] lukemulks commented on #8543
The other Brave Community contributor confirmed re-ordering still remains an issue in 0.15.1

Community URL:
https://community.brave.com/t/oh-my-god-stop-with-the-tabs-to-new-windows/2473/15?u=luke.mulks

[code]

Note: 0.15.1 wasn't specifically pushing a fix for this issue, but did include some changes to tab behavior, so given that some contributors were reporting this issue on the same thread a

[2017-05-01 00:16] ProPuke opened #8592 "Brave randomly changed language on launch"
- Describe the issue you encountered:
Upon starting Brave today it had randomly changed to some Indian script with a prompting notification of some kind which I cannot read. I have no other locales installed on this computer, besides English (UK), and use no other languages. Annoyingly, when navigating to settings to change language, I find the language names are also all localised, so I cannot re

[2017-05-01 02:22] madhatr commented on #8590
Yes it was one of those hour plus music videos.  I'll attempt to make it happen again.  It did it twice to me in a few hours.

[2017-05-01 03:14] luixxiul commented on #8590
if you report us back, it would be helpful to let us know which video you are playing. thanks.

[2017-05-01 07:33] #8357 closed

[2017-05-01 08:18] bsclifton commented on #8543
Hi all-

I just merged a great fix by @romamatusevich; this fix will be in our next release, 0.15.2 😄

[2017-05-01 08:58] srirambv opened #8595 "Session migration doesn't properly handle extensions"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Session migration needs to handle extensions properly
- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10x64
- Brave Version (revision SHA):
Brave	0.15.1
rev	ea5024d
- Steps to reproduce:
    1. Clean install an older version of brave
    2. Enable Pocket and a password manager
    3.

[2017-05-01 09:01] srirambv commented on #8077
@jonathansampson  Yes making the badges clickable would be better.

[2017-05-01 09:04] andreogle commented on #7414
Just checked now and this seems to be fixed in 0.15.1! 🎉

Thanks guys

[2017-05-01 09:04] #7414 closed

[2017-05-01 09:06] srirambv commented on #8553
@lukemulks  I have experienced this issue couple of times but it is not very easy to reproduce. I believe its due to the click not being recognised and recorded as drag. This issue of click not being recognised is found on another issue with bookmarks as well. Mentioned here https://github.com/brave/browser-laptop/issues/7414#issuecomment-283618306. (see the gif which records the click event). I e

[2017-05-01 10:59] Mrostgaard opened #8596 "node ./tools/downloadSyncClient fails"
- Did you search for similar issues before submitting this one?
I did

- Describe the issue you encountered:
From NPM:
Tell the author that this fails on your system:
 node ./tools/downloadSyncClient

 when trying to manually installing browser-laptop from git.
[code]

- Platform (Win7, 8, 10? macOS? Linux distro?):
OS X El Capitan v 10.11.6
- Brave Version (revision SHA):
0.15.1 This? (https://gi

[2017-05-01 11:15] #8042 closed

[2017-05-01 11:25] srirambv opened #8597 "Window doesn't fill content when re-positioned to max window"
- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:
Window doesn't fill content when re-positioned to max window
- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64
- Brave Version (revision SHA):
Brave	0.15.1
rev	ea5024d
- Steps to reproduce:
    1. Launch brave and open any preference page which loads modal (Sync, Payments)
    2.

[2017-05-01 11:35] srirambv opened #8598 "Sync alert needs refactoring followup to #8044"
## Test plan

https://github.com/brave/browser-laptop/pull/8622#issue-225711299

----

- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:
Sync alert needs refactoring. While testing #8044 found sync reset alert code buttons were not aligned properly. Needs refactoring to match existing behavior

- Platform (Win7, 8, 10? macOS? Linux distro?):

[2017-05-01 12:22] srirambv opened #8599 "Implement home page keyboard shortcut"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Implement home page keyboard shortcut as suggested from community user https://community.brave.com/t/homepage-shortcut/2524/3

- Platform (Win7, 8, 10? macOS? Linux distro?):
All

- Brave Version (revision SHA):
Brave	0.15.1
rev	ea5024d

- Actual result:
No shortcut key to load home page

- E

[2017-05-01 12:42] srirambv opened #8600 "Brave is not maximized when re-launched"
## Test plan
1. Launch Brave on Windows
2. Maximize the window
3. Quit Brave and relaunch
4. Window should open in the maximized state

## Original issue description
- Did you search for similar issues before submitting this one?

- Describe the issue you encountered:

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 7 64bit

- Brave Version (revision SHA):
Brave: 0.15.1
rev: ea5024d1f3e47d

[2017-05-01 13:00] josiah-keller commented on #8600
I still have this on Windows 10.  The window has the right dimensions, but it's not in the maximized state and its position is off by a few pixels.

[2017-05-01 15:44] lukemulks commented on #8553
Interesting, thanks. I have not been able to reproduce, and the other two
contributors that originally reported the issue had confirmed that the
v0.15.1 update resolved the issue for them.

Will take a look at the issue you mentioned and see if I can repro. Thanks!

On May 1, 2017 2:06 AM, "Sriram Bellur Venkataram" <notifications@github.com>
wrote:

[2017-05-01 16:10] knzudgt commented on #3555
I am just waiting for this feature before switching to Brave, necessary for web development.

[2017-05-01 16:32] Jacalz commented on #3555
+1
Really wanting this feature because it is really annoying having it in a separate window 🤔

[2017-05-01 17:09] KevDoy opened #8601 ""Folder Upload" feature in Google Drive Broken"
- Did you search for similar issues before submitting this one?
Sure did.

- Describe the issue you encountered:
When choosing New, then Folder upload on Google Drive, I am able to find the folder in Finder. Let's say I chose a folder called "Files" inside of "Documents". Instead of creating and uploading the folder called "Files" it creates a folder named "Documents" and gives me an error message

[2017-05-01 17:32] mrose17 opened #8602 "use muon.file.writeImportant to write ledger files"
- Did you search for similar issues before submitting this one? yes

- Describe the issue you encountered: replace `atomicWriter` in `ledger.js` with `muon.file.writeImportant`

- Platform (Win7, 8, 10? macOS? Linux distro?): all

- Brave Version (revision SHA): all

- Steps to reproduce:
    1. start browser
    2. visit enough sites for enough time to cause `ledger-synopsis.json` to be written

[2017-05-01 18:04] bbondy opened #8604 "Cleanup share l10n strings to re-use the same string"
## Test plan

https://github.com/brave/browser-laptop/pull/12445#issue-285184656

----

See review comment here:
https://github.com/brave/browser-laptop/pull/8517/files/9ce64841f10aa46dcad512307af68966057bca49#diff-985837eca34ef94b3bc9cf3271761dca

It would be cleaner to use the same string for each of these menu items.

[2017-05-01 18:52] cezaraugusto opened #8607 "Make bookmarks items' list fixed"
PR #8532 addressed some issues regarding bookmarks but fixed header for item's list was left. That's because list uses SortableTable, and per spec tables aren't supposed to have `overflow`.

Screenshot credits of @jonathansampson:
![34e194a0-2c1d-11e7-8075-698d262c317c](https://cloud.githubusercontent.com/assets/4672033/25589971/00ab925c-2e85-11e7-9489-57f46d38faba.gif)

Ideally, items' header (ri

[2017-05-01 18:56] cezaraugusto commented on #8607
Removing good-first-bug since refactoring SortableTable can be tricky. Feel free to ping me anyone willing to take it.

[2017-05-01 19:10] i-rme commented on #8559
Implementing this should be easy because it is a simple HTTP proxy + adding a request parameter in each request.

[2017-05-01 19:10] ryazo opened #8610 "Brave Crashes in certain conditions"
- Did you search for similar issues before submitting this one?

- Describe the issue you encountered:

- Platform (Win7, 8, 10? macOS? Linux distro?): Win 8

- Brave Version (revision SHA): 	ea5024d

- Steps to reproduce: Went to 4chan.com

- Actual result: Crashed and closed with no bug reporter.

- Expected result: Not crashing.

- Will the steps above reproduce in a fresh profile? If not what

[2017-05-01 19:13] lukemulks opened #8611 "Spotify web player, working w/o Widevine enabled on Win10"
- Did you search for similar issues before submitting this one?

Yes - see related issues below.

- Describe the issue you encountered:

On the Spotify.com site, I'm receiving Widevine prompts on every page I navigate to.

With Widevine disabled, I'm able to use the Spotify web player w/o issue.

Not sure if Widevine is required for macOS, and if what I'm experiencing on Windows is different than

[2017-05-01 19:24] cezaraugusto commented on #8340
ok, I'm going to add more guidelines to refactoring, being them:

1. Usage of spaces between styles objects:
We should standardize it. I don't have a strong opinion.

[code]

or

[code]

2. Make use of underscores (barely BEM :joy:):

[code]

3. Prefer flexbox over other block styles (self-explanatory)

4. Avoid using commonStyles
Ideally, each component should have its styles together. We should

[2017-05-01 20:36] midi opened #8612 "Add EU cookie filter list"
The EU prebake filter isn't working for a lot of sites.
Kindly add this filter:
https://www.kiboke-studio.hr/i-dont-care-about-cookies/

With the filter added in Firefox to Ublock, I don't get the cookie notice.
Sample site:
https://www.f-secure.com/de_DE/welcome

[2017-05-01 20:42] bsclifton commented on #8612
cc: @bbondy @SergeyZhukovsky

[2017-05-01 20:46] midi opened #8613 "Option to disable blocked count badge (on Lion)"
Kindly add an option to disable the badge.

[2017-05-01 20:57] lukemulks commented on #8570
Thank you!

IL...such a drag.

Will check the link, and have it on the list for early this week to tackle.

Appreciate the feedback.

On Sat, Apr 29, 2017 at 4:35 AM, Raymond Hill <notifications@github.com>
wrote:

--
Luke Mulks
m.707.373.4350

[2017-05-01 20:59] bsclifton commented on #8613
@midi you'd like to hide the number that's on the Lion? or hide the Lion icon all-together?

[2017-05-01 21:16] #5076 closed

[2017-05-01 21:16] midi commented on #8613
@bsclifton Oh I mean the badge number. It doesn't serve a purpose to me, it's just visual clutter. Hence my surprise that it couldn't even turned off.
I'm aware of the Lion menu to turn off blocking things in case a site doesn't work.

[2017-05-01 21:19] bsclifton commented on #8613
@midi OK awesome, thanks! 😄   Love your name, BTW. I remember the old days on the internet (mid-90's) when people would embed MIDIs on their sites ❤️

[2017-05-01 21:20] bsclifton commented on #8613
cc: @bradleyrichter

[2017-05-01 21:56] #8516 closed

[2017-05-01 23:06] bsclifton commented on #8610
@ryazo do you have more specific steps?

Also, do you have more information about your setup? ex: do you have Flash installed? Which PW manager do you have enabled?

[2017-05-01 23:29] TheJare commented on #7641
FYI I have noticed the wrong non-clickable areas behave like the title frame, i.e. a double click on what should have been a UI element (like the url bar) instead restores the window to non-maximized state.

The same happens with the timing information (little blue text) embedded inside the right side of the address bar, but this may be intended (wrong choice IMHO) and unrelated to this bug since

[2017-05-02 00:19] #8146 closed

[2017-05-02 00:29] #7816 closed

[2017-05-02 00:38] diracdeltas commented on #8585
^ https://github.com/brave/browser-laptop/pull/8539

[2017-05-02 00:42] #8596 closed

[2017-05-02 03:05] luixxiul commented on #8559
CC @diracdeltas

wontfix?

[2017-05-02 03:49] maplebed commented on #7131
Coming here to add votes to this issue.  [Wrote it up in the forum](https://community.brave.com/t/switch-tabs-bound-to-the-wrong-key-when-using-dvorak-layout-on-osx/2574) before I found this issue.

@davegson as a workaround until it's fixed, you can actually change tabs by using `Cmd-Shift-/` and `Cmd-Shift-=` (the keys that are printed with `[` and `]` in the qwerty layout.)

[2017-05-02 04:00] bsclifton commented on #7414
awesome, thanks for the report, @andreogle 😄

@SethClydesdale, @Attrash-Islam: would you all be able to re-test?

[2017-05-02 04:04] bsclifton commented on #8302
@jorgheymans it's understandable- thanks for the report. We're always looking to improve 😄  Stay subscribed and you should be notified of updated

[2017-05-02 04:16] luixxiul opened #8614 "Upgrade to Webpack 2 (or newer)"
**Describe the issue you encountered:** Upgrade to Webpack 2 (or newer)

- Any related issues: https://github.com/brave/browser-laptop/pull/8048#issue-218797832

[2017-05-02 05:43] Liunkae commented on #7131
You can also use <kbd>Ctrl-Tab</kbd> and <kbd>Ctrl-Shift-Tab</kbd> to switch tabs.

[2017-05-02 05:57] Liunkae commented on #7499
Related: #1747 (language list sorting)

[2017-05-02 05:58] Liunkae commented on #8592
Related: #7499 (localization of the language list)

[2017-05-02 06:45] jonathansampson opened #8615 "Extension: Chrome Media Router (Chrome Cast)"
Extension: Chrome Media Router
Setup Page: _chrome-extension://pkedcjkdefgpdelpbcmbmeomcjbeemfm/cast_setup/index.html_

The process for loading this extension differs from [the process of loading other extensions](https://blog.brave.com/loading-chrome-extensions-in-brave/). This extension is not available via the Chrome Store, and must be copied from the user's machine. On Windows, you can find th

[2017-05-02 07:06] srirambv commented on #3669
+1 from communityhttps://community.brave.com/t/scrolling-on-a-laptop-not-smooth-using-the-trackpad/2605

[2017-05-02 07:08] srirambv commented on #3669
@luixxiul No this is still an issue on Windows using trackpad. Scroll jumps with two finder scroll and is not smooth.

[2017-05-02 07:15] jorgheymans commented on #8302
Thanks, i will. Am going to keep using brave on mobile, there it really
rocks !

On Tue, May 2, 2017 at 6:04 AM Brian Clifton <notifications@github.com>
wrote:

[2017-05-02 08:37] luixxiul commented on #8340
For 1 - I prefer the latter.

Also it would be nice to have something like `csscomb` for organizing styles. To enforce the guideline we need a linter anyway.

[2017-05-02 08:42] luixxiul commented on #8340
For 5 - I completely agree with that. Still I believe we should create a document of all variables, like [state.md](https://github.com/brave/browser-laptop/blob/master/docs/state.md). Without such a document it would be hard to understand which variables are out there.

[2017-05-02 09:57] torgo commented on #8069
Still seeing the issue... And also in Chromium. Doesn't look like any current chromium bug is applicable.  :(

[2017-05-02 11:53] srirambv commented on #4698
+1 from community https://community.brave.com/t/how-to-enable-popups/2567/2

[2017-05-02 12:26] JGH1000 opened #8616 "Adding Bookmark Menu"
First of all, great work with the browser. Looking forward to version 1.0.

If possible, could you consider adding a bookmark menu? something as in:
https://addons.mozilla.org/en-US/firefox/addon/simple-bookmarks-menu/

having a bookmark toolbar takes screen space and a small button net to the Lion icon would be really clean and tidy solution.

Many thanks!

[2017-05-02 13:10] alexwykoff opened #8617 "Generate Release Notes for 0.15.3"
Generated 05/02/2017

Release Notes:
 - Brave is not able to remotely debug a Node.js application. ([#8571](https://github.com/brave/browser-laptop/issues/8571))
 - Pinned tabs lose order after re-launch. ([#8543](https://github.com/brave/browser-laptop/issues/8543))
 - View Certificate on mixed content site. ([#8530](https://github.com/brave/browser-laptop/issues/8530))
 - Contribution statement

[2017-05-02 13:11] alexwykoff opened #8618 "Generate Exclusion List for 0.15.3"
Exclusion List:
 - [ ] Node ./tools/downloadSyncClient  fails. ([#8596](https://github.com/brave/browser-laptop/issues/8596))
https://github.com/brave/browser-laptop/issues/8596
 - [ ] Brave is not able to remotely debug a Node.js application. ([#8571](https://github.com/brave/browser-laptop/issues/8571))
https://github.com/brave/browser-laptop/issues/8571
 - [ ] Npm start fails if brave is nested

[2017-05-02 13:19] alexwykoff opened #8619 "Per-release issue test for OS X 0.15.3"
Mac Checklist:
 - [ ] List in redux component. ([#8557](https://github.com/brave/browser-laptop/issues/8557))
 - [x] Pinned tabs lose order after re-launch. ([#8543](https://github.com/brave/browser-laptop/issues/8543))
 - [x] Autocomplete suggests a porn site. ([#8534](https://github.com/brave/browser-laptop/issues/8534))
 - [x] View Certificate on mixed content site. ([#8530](https://github.com/

[2017-05-02 13:21] alexwykoff opened #8620 "Per release issue test for Windows x64 0.15.2 preview 2"
Win64 Checklist:
 - [x] List in redux component. ([#8557](https://github.com/brave/browser-laptop/issues/8557))
 - [x] Pinned tabs lose order after re-launch. ([#8543](https://github.com/brave/browser-laptop/issues/8543))
 - [x] Autocomplete suggests a porn site. ([#8534](https://github.com/brave/browser-laptop/issues/8534))
 - [x] View Certificate on mixed content site. ([#8530](https://github.co

[2017-05-02 13:25] alexwykoff opened #8621 "Per release issue tests for Linux 0.15.2 preview 2"
Linux Checklist:
 - [ ] List in redux component. ([#8557](https://github.com/brave/browser-laptop/issues/8557))
 - [ ] Pinned tabs lose order after re-launch. ([#8543](https://github.com/brave/browser-laptop/issues/8543))
 - [ ] Autocomplete suggests a porn site. ([#8534](https://github.com/brave/browser-laptop/issues/8534))
 - [ ] View Certificate on mixed content site. ([#8530](https://github.co

[2017-05-02 14:36] madhatr commented on #8590
Pretty sure it was in this playlist.   Most likely the Sith 1 hour.   Playing Stellaris you need some good conquering music.
https://www.youtube.com/watch?v=lKYy4sT4pPM&list=PLh9R0KdDnt87qWD-KP50oB14NyK1D3a0h&index=5

[2017-05-02 14:41] bridiver commented on #8615
actually that extension is part of chromium src and we can bundle it directly

[2017-05-02 15:08] #7876 closed

[2017-05-02 15:33] Mrostgaard opened #8624 "Unable to find Electron app"
- Describe the issue you encountered:
Running npm start while running npm running watch will result in the error 'Unable to find Electron app'
- Platform (Win7, 8, 10? macOS? Linux distro?):
MacOS
- Brave Version (revision SHA):

- Steps to reproduce:
    1. git clone https://github.com/brave/browser-laptop.git
    2. cd browser-laptop
    3. npm install
    4. npm run watch
    5. npm start

http

[2017-05-02 15:49] jonathansampson commented on #8615
@bridiver I was hoping for that kind of response ;)

[2017-05-02 16:04] bbondy commented on #8529
moved to 0.15.3

[2017-05-02 16:21] jonathansampson opened #8625 "One-time tab-remembrance for Upgrade"
**Did you search for similar issues before submitting this one?**

Yes

**Describe the issue you encountered:**

For users who have _Brave starts with: a new tab_ configured, the Upgrade process will forget all opened tabs. The user intends to continue browsing (pausing only to upgrade), but can no longer do so due to all tabs being lost.

Community: [Have a specific session restore setting for up

[2017-05-02 16:27] srirambv opened #8626 "Pinned tab notification doesn't have the caret and shown across all tabs"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Pinned tab notification doesn't have the caret and shown across all tabs

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
rev	0598ddf

- Steps to reproduce:
    1. Pin a tab
    2. Ensure notifcations are shown for the tab, no caret shown on the

[2017-05-02 16:53] cezaraugusto commented on #8119
@luixxiul are you able to repro that on Win?

[2017-05-02 16:56] Liunkae commented on #8624
@Mrostgaard You have nodejs 4.4.4, but Brave requires nodejs 6.1 or later (according to [ReadMe.md](https://github.com/brave/browser-laptop/blob/master/README.md)). Please download the latest nodejs version: https://nodejs.org.

[2017-05-02 17:04] SethClydesdale commented on #7414
Yep, it appears to be fixed for me too ! 👍

[2017-05-02 17:09] alexwykoff commented on #8595
@srirambv could you clarify, do the extensions not work at all or is it only the images?

[2017-05-02 17:11] alexwykoff commented on #8592
@luixxiul can you repro?

[2017-05-02 17:28] bsclifton commented on #8466
@srirambv does this happen if you do file > save as on a regular page and then close the tab?

[2017-05-02 17:32] srirambv commented on #8595
Extensions work. But the widget is not shown. It gets instsalled again when the session is migrated. But the initial window doesn't show the widget which might cause lead to confusion weather the session is migrated properly or not.

[2017-05-02 17:39] bsclifton commented on #8547
May be fixed by https://github.com/brave/browser-laptop/pull/8580; @srirambv can you recheck with 0.15.2 preview 2 (or master)

[2017-05-02 17:49] darkdh opened #8627 "Swipe back/forward is not working"
## Test plan

https://github.com/brave/browser-laptop/pull/8642#issue-225856488

----

- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:
Swipe back/forward is not working
- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS
- Brave Version (revision SHA):
0.15.2 preview 2
- Steps to reproduce:
    1. Search something on google.com
    2. Cli

[2017-05-02 17:56] darkdh opened #8628 "Back/Forward buttons state will be stole by preview pages"
- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:
Can't click the back/forward buttons until I click on the target page. And have to avoid cursor the hover on other pages for preview.
- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS
- Brave Version (revision SHA):
0.15.2 preview 2
- Steps to reproduce:
    1. Open a page in tab A and mak

[2017-05-02 17:57] srirambv opened #8629 "Browser background process continues to run after closing the browser window"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Browser background process continues to run after closing the browser window

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):

- Steps to reproduce:
    1. Clean install 0.15.2 Preview 2
    2. Wait for the browser window to show up and open tas

[2017-05-02 18:00] philkloose commented on #8119
I myself haven't really been able to reproduce this myself ever since I initially filed it.

[2017-05-02 18:06] bsclifton commented on #8466
Closing as a dupe of https://github.com/brave/browser-laptop/issues/8629

[2017-05-02 18:06] #8466 closed

[2017-05-02 18:26] lukemulks opened #8630 "saveur.com - ads bypassing shields"
@alexwykoff reported observing ads bypassing shields on saveur.com

URL: http://www.saveur.com/chinatown-produce-prices?ikvwCXcYamcvbSBg.01

Screenshot:
<img width="1916" alt="screen shot 2017-05-02 at 1 24 06 pm" src="https://cloud.githubusercontent.com/assets/8979240/25637266/4230ea7e-2f39-11e7-923a-5611ec11d1b3.png">

- macOS, most likely applies to all OS(s)
- Ads observed: media.net adchoices

[2017-05-02 19:11] cezaraugusto commented on #8340
I like that idea, but I think we should make a clean-up first or at least set the foundation about "what" really should be there. ++

[2017-05-02 19:28] srirambv opened #8632 "Wallet creation fails due to worker error"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Wallet creation fails due to worker error

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.15.2
rev	71f7dfd

- Steps to reproduce:
    1. Clean install 0.15.2 Preview 2
    2. Launch from console
    3. Enable payments, wallet creation f

[2017-05-02 19:32] cezaraugusto commented on #8340
@NejcZdovc, @bsclifton what's you guys thoughts?

[2017-05-02 19:33] srirambv opened #8633 "URL bar is not centre aligned when UI element scale is set to supersize"
- Did you search for similar issues before submitting this one?
yes

- Describe the issue you encountered:
URL bar is not centre aligned when UI element scale is set to supersize

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.15.2
rev	71f7dfd
- Steps to reproduce:
    1. Install/upgrade to 0.15.2 preview 2
    2. preference->advance-> UI Sc

[2017-05-02 19:38] srirambv opened #8634 "Edit bookmark modal needs refactoring for UI scale"
## Test plan

https://github.com/brave/browser-laptop/pull/8646#issue-225871555

----

- Did you search for similar issues before submitting this one?

- Describe the issue you encountered:

- Platform (Win7, 8, 10? macOS? Linux distro?):

- Brave Version (revision SHA):

- Steps to reproduce:
    1. Set UI scale to supersize
    2. Edit a bookmark from URL
    3. Bookmark modal is not properly re

[2017-05-02 19:41] srirambv opened #8635 "All preferences options (left pane) should be accessible on a small window"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered: All preferences options (left pane) should be accessible on a small window

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.15.2
rev	71f7dfd

- Steps to reproduce:
    1. Set UI scale to supersize and default zoom to 200
    2. Close pre

[2017-05-02 19:52] NejcZdovc opened #8636 "Move tabs into frames (window store)"
**Describe the issue you encountered:**
Merge tabs object into frames object int window store. This is a first step that will help us migrate to app state.

[2017-05-02 19:57] bsclifton commented on #7344
Error is happening again. This is Windows only and was reported with https://github.com/brave/browser-laptop/issues/8632:
[code]

[2017-05-02 19:58] bsclifton commented on #7344
The error does NOT happen when running from source on Windows. It only seems to happen with the packaged build.  Until we resolve this, I'll revert the changes

[2017-05-02 20:02] #8632 closed

[2017-05-02 20:03] bsclifton commented on #7344
Reverted with https://github.com/brave/browser-laptop/commit/db26cac63126f3f7be4a171ff892fce41aeb41e9; reopening

[2017-05-02 20:05] bsclifton commented on #8632
Fixed by reverting the feature which caused this (see more notes in https://github.com/brave/browser-laptop/issues/7344)

[2017-05-02 20:16] kumarrishav commented on #2109
This issue is about: changing string from "Enable Magic Title Bar" to "Enable Auto Title Bar". Am i right? or There is something i didn't understand about this issue.

[2017-05-02 20:19] srirambv commented on #8547
This is still an issue on 0.15.2 preview 2 when the browser is relaunched  closing any tab switches it to the last pinned tab.

[2017-05-02 20:24] lukemulks opened #8637 "cnn.com - Investigate: reports of lower block counts from Community"
Issue: Report from Brave Community that CNN.com has lower block counts than it has previously had, and that uBO/ABP have higher counts than Brave currently has (though, I can confirm that these counts were aligning within the past 12 days).

Community Post: https://community.brave.com/t/shields-comparison-test/2610

Contributor Brave profile:

[code]

**Community contributor issue description**

[2017-05-02 20:33] bsclifton commented on #7683
This should be fixed now with https://github.com/brave/browser-laptop/pull/7879 and https://github.com/brave/browser-laptop/pull/8314

[2017-05-02 20:33] #7683 closed

[2017-05-02 20:48] bbondy opened #8638 "Upgrade to Chromium 58.0.3029.96"
https://chromereleases.googleblog.com/2017/05/stable-channel-update-for-desktop.html?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed:+GoogleChromeReleases+(Google+Chrome+Releases)

[2017-05-02 20:55] jaredbeck commented on #8550
I've noticed that the circular arrow changes to an X, indicating that the browser is waiting for an HTTP response, but I agree that's not much of a visual indication of loading. I would also prefer a more obvious visual indication.

[2017-05-02 21:04] darkdh opened #8639 "Error message in pinned tab will not be in the same tab"
- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:
There will be a new tab showing error message for pinned tab
- Platform (Win7, 8, 10? macOS? Linux distro?):
All
- Brave Version (revision SHA):
0.15.2 Preview 2
- Steps to reproduce:
    1. Pin badssl.com
    2. Click on "expired" or other red examples

- Actual result:
There will be a new ta

[2017-05-02 21:06] bsclifton opened #8640 "Back/Forward bindings change wrong tab; causes empty new tab"
- Did you search for similar issues before submitting this one?
yes

- Describe the issue you encountered:
When using the browser, it's possible to get in a state where the back/forward buttons control the wrong tab (easy to spot because the title changes for the wrong one).  When you visit the tab that was modified, it is now a dead tab.

- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS

- B

[2017-05-02 21:08] NejcZdovc commented on #8640
@bsclifton is this one the same as #8628?

[2017-05-02 21:34] bradleyrichter commented on #2109
this is old and no longer relevant. Thanks for the bubble-up!

[2017-05-02 21:34] #2109 closed

[2017-05-02 21:50] NejcZdovc commented on #8640
probably caused by #8336

[2017-05-02 22:12] NejcZdovc commented on #8628
closing in favor of #8640

[2017-05-02 22:12] #8628 closed

[2017-05-02 22:55] bsclifton commented on #8640
@NejcZdovc thanks for closing the other issue- I didn't notice it 😄  Good eye, @darkdh! (beat me to it!)

[2017-05-02 23:08] bsclifton opened #8641 "Convert React ContextMenu items to native context menu"
This issue is meant to track places which use our React component which we can convert to using native context menus.  This works great on Windows and Linux, but macOS causes video to freeze when the context menu is presented.  The above PR makes that process async

Places we can update:
- [x] new tab button (completed with https://github.com/brave/browser-laptop/pull/8397)
- [x] reload / stop but

[2017-05-02 23:09] #8585 closed

[2017-05-02 23:17] NejcZdovc commented on #8640
Ok, so the problem is not in #8336, but in activeTab that is passed from `main.js` into `navigator.js`. We are getting `activeTab` here https://github.com/brave/browser-laptop/blob/master/js/components/main.js#L708.

In gif what I am doing is just printing out `console.log("Active", activeTab && activeTab.get('title'))` in `main.js` renderer. As you can see when you hover over tab active tab chang

[2017-05-02 23:18] ayumi commented on #4977
+1

[2017-05-02 23:32] diracdeltas commented on #2670
closing in favor of https://github.com/brave/browser-laptop/issues/2714

[2017-05-02 23:32] #2670 closed

[2017-05-02 23:33] diracdeltas commented on #2714
I have a workaround for this but it will require an extension update.

[2017-05-02 23:41] bsclifton commented on #8586
I'm seeing this in master- not sure what's different. It doesn't show in 0.15.2 preview 2

[2017-05-03 00:19] ayumi opened #8643 "URL bar input lag with 1000+ bookmarks"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
When the browser has many bookmarks, the URL bar lags between typing and displaying input.

- Platform (Win7, 8, 10? macOS? Linux distro?):
MacOS

- Brave Version (revision SHA):
master @ db26cac63126f3f7be4a171ff892fce41aeb41e9

- Steps to reproduce:
    0. Instrument `onKeyUp()` in `app/ren

[2017-05-03 00:46] diracdeltas commented on #2714
nvm, i found an easier way!

[2017-05-03 01:24] luixxiul commented on #8634
CC @bsclifton; in case you'd need help on modifying commonForm please ping me.

[2017-05-03 01:32] luixxiul commented on #7748
@bsclifton Was this merged to the latest build? if so would you please re-add `release-notes/include` for me? thanks!

[2017-05-03 01:37] luixxiul commented on #45
On Win10 32bit:

Ctrl+Shift+I to open dev tools -> it works
Ctrl+Shift+I to close dev tools -> it does not

[2017-05-03 01:38] luixxiul commented on #45
@bbondy would you mind providing another STR if any? thanks!

[2017-05-03 01:57] madhatr commented on #8590
Okay I did a little testing and here is the info I have.

1. It only crashes when youtube is playing in another tab.  I let it run for a couple hours while gaming with the youtube tab open and it did not fail.

2. It does not fail after it has failed once and been recovered.   So once it crashes and Brave recovers and resets all tabs it will no longer fail.  It only fails after Brave has been comp

[2017-05-03 03:11] luixxiul commented on #6040
Follow up to the fix: #8646

[2017-05-03 03:22] luixxiul opened #8647 "Another context menu appears after displaying an context menu on new tab button"
**Describe the issue you encountered:** Another context menu appears after displaying an context menu on new tab button

- Platform (Win7, 8, 10? macOS? Linux distro?): debian

- Brave Version (revision SHA): 0.15.2 preview 2

- Steps to reproduce:
    1. Right click on the new tab button
    2. Left click on the existing tab (or anywhere elese)

- Actual result:
    ![nativemenu](https://cloud.gi

[2017-05-03 03:28] luixxiul commented on #7000
Is there any PoC site?

[2017-05-03 03:34] luixxiul commented on #7765
The fix does not work on debian:

![tabtitle](https://cloud.githubusercontent.com/assets/3362943/25647438/db5385e0-2ffc-11e7-9128-9353cf77654a.gif)

[2017-05-03 03:45] luixxiul commented on #8598
The suppress message and the button is aligned to the same line on this issue: #7930

The fix works fine only if there is one button, which is "OK" button. With other buttons it does not work as expected, as the screenshot on the 1st post shows.

![clipboard01](https://cloud.githubusercontent.com/assets/3362943/25647554/f4282d0e-2ffd-11e7-9077-e459f457d7f6.jpg)

The block for buttons and the other

[2017-05-03 03:47] luixxiul commented on #8028
note: widevine plugin is not available for linux distros

[2017-05-03 04:01] luixxiul opened #8648 "Saving a page/torrent file crashes browser"
**Describe the issue you encountered:** Saving a page/torrent file crashes the browser

- Platform (Win7, 8, 10? macOS? Linux distro?): Debian (confirmed on Windows 10 32 bit)

- Brave Version (revision SHA): 0.15.2 preview 2

- Steps to reproduce:
    1. Save a page via shortcut key
    2. Click "Save" on save dialog

- Actual result: the browser crashes

- Expected result: the browser should not

[2017-05-03 04:07] luixxiul commented on #8648
The browser crashes when you save torrent files via "save torrent file" button.

[2017-05-03 04:14] luixxiul commented on #8323
CC @diracdeltas

1. Enable LastPass
2. Open https://extensions.inrialpes.fr/ and run test
3. `lastpass-free-password-ma` is detected

If it is expected, please just reclose the issue.

[2017-05-03 04:17] luixxiul opened #8649 "Set border-radius to CommonFormBottomWrapper"
## Test plan

https://github.com/brave/browser-laptop/pull/8654#issue-225929187

----

**Describe the issue you encountered:** Set border-radius (bottom right and left) to `CommonFormBottomWrapper`.

- Extra QA steps:
    1.
    2.
    3.

- Any related issues: #7990

I'm going to fix the issue soon.

[2017-05-03 04:42] Liunkae commented on #8647
Also reproducible with Brave 0.15.2 preview 2 and the latest master (8745bd5) on macOS 10.12.x.

Introduced when the menu was made native (PR #8397). There's already a `e.stopPropagation()` in [longPressButton.js](https://github.com/brave/browser-laptop/blob/master/js/components/longPressButton.js), so I'm not sure what's causing this behavior.

[2017-05-03 04:45] Liunkae commented on #8590
Crash logs are located here: `AppData\Local\Temp\Brave\Brave Developers Crashes`

[2017-05-03 04:47] Liunkae commented on #8643
Related to/duplicate of #7453 (Performance : urlbar response is slow when searching across many bookmarks).

[2017-05-03 04:49] luixxiul commented on #8530
Note: "view certificate" is not ready yet on linux distros CC @darkdh

[2017-05-03 04:51] darkdh commented on #8530
There won't be any "view certificate" showing on linux until https://github.com/brave/browser-laptop/issues/7669 is done.

[2017-05-03 04:53] luixxiul opened #8650 "text inside siteInfo__wrapper should be unselectable"
**Describe the issue you encountered:** text inside siteInfo__wrapper should be unselectable.

![clipboard01](https://cloud.githubusercontent.com/assets/3362943/25648507/9beff7a2-3007-11e7-92a6-4128a3c0fe09.jpg)

- Brave Version (revision SHA): 0.15.2 preview 2

- Extra QA steps:
    1.
    2.
    3.

- Any related issues: #7949

[2017-05-03 04:53] Liunkae commented on #8641
@bsclifton What about the Windows menubar?

[2017-05-03 05:02] ayumi commented on #8643
@Liunkae thanks! closing in favor of that

[2017-05-03 05:02] #8643 closed

[2017-05-03 05:03] ayumi commented on #7453
+1 #8643

[2017-05-03 05:13] NejcZdovc commented on #8648
 @luixxiul is this working correctly on 0.15.1?

[2017-05-03 05:22] luixxiul commented on #8621
Checked based on the milestone: https://github.com/brave/browser-laptop/issues?page=1&q=is%3Aissue+milestone%3A0.15.2+is%3Aclosed

From that link I also checked issues which have not been added the label of either `QA/steps-specified` or `release-notes/include`.

Some issues are not checked due to lack of information, which will be provided later. They are checked with the next builds.

[2017-05-03 05:22] #8621 closed

[2017-05-03 05:25] luixxiul commented on #8648
yes

[2017-05-03 05:45] lukemulks commented on #8637
Ran an initial check against uBO.

Confirming that there's a regression.

We were blocking ~27 as of  ~12 days ago. Now, consistently ~12-14 count.

uBO is blocking 20+

Majority of requests that are being filtered are filtered by EasyPrivacy.

Could be a shift in filter list priorities, due to EasyList being a mess of exceptions lately.

Going to investigate ABP & AB to confirm.

Will likely push

[2017-05-03 05:46] NejcZdovc commented on #8648
Probablu related to #8567

cc @feross

[2017-05-03 05:46] lukemulks commented on #8637
Also, this was a surprise to see (and is blocked by EasyPrivacy)

Primary request:
[code]

Associated tracking:
[code]

[2017-05-03 06:27] bsclifton commented on #8647
@Liunkae I believe this is related to https://github.com/brave/browser-laptop/pull/8320

Once the native menu shows, we should stop propagation.  Do you think you can check it out? 😄

[2017-05-03 06:30] NejcZdovc commented on #8506
this was fixed so closing it

[2017-05-03 06:30] #8506 closed

[2017-05-03 06:46] NejcZdovc opened #8651 "Redux component - Navigator"
## Test plan

https://github.com/brave/browser-laptop/pull/8658#issue-226004200

----

**Describe the issue you encountered:**
Refactor component `Navigator` into redux component.

[2017-05-03 07:05] NejcZdovc opened #8652 "Redux component - Menubar"
## Test plan

https://github.com/brave/browser-laptop/pull/8656#issue-225938453

----

**Describe the issue you encountered:**
Refactor `Menubar` into redux component.

[2017-05-03 07:38] kumarrishav commented on #8613
@bsclifton  I would like to pick this up :)  I agree with @midi .There should be option to disable the blocked count badge. Can we have input on where to put option to disable it? Thanks

[2017-05-03 07:51] luixxiul commented on #8648
I don't think so because the browser crashes when saving a web page as I reported.

[2017-05-03 07:56] luixxiul commented on #8629
This can be reproduced on debian

[2017-05-03 08:28] bsclifton commented on #8651
Do we think this will be finished by Friday? If not, maybe we should push to 0.15.3 (or later)

[2017-05-03 08:29] bsclifton commented on #8652
I would vote to push this past 1.0 because it's very limited (only used on Windows; even then, only when menu is visible). I don't think we'd get much by reworking it

[2017-05-03 08:35] bsclifton commented on #8629
@srirambv @luixxiul this should have always been a bug.  Can you please confirm it happens on older releases? If so, it's a bad bug, but I don't think it's a blocker

[2017-05-03 08:38] NejcZdovc commented on #8652
Sadly I need to refactor this, so that I can refactor #8651 and then when #8651 is refactored, #8640 will be fixed :smiley:

[2017-05-03 08:39] NejcZdovc commented on #8651
This refactor will fix #8640, so I will push as hard as possible to finish everything.

[2017-05-03 08:40] bsclifton commented on #8590
With our upgrade to Chrome 58, we got a feature called tab discarding.  Tabs which Chromium determines aren't active after an amount of time will get unloaded from memory. It seems like the tab shouldn't have been discarded (since it was playing audio)... but I'm not sure how to verify that is what happened

cc: @bridiver

[2017-05-03 08:48] #8624 closed

[2017-05-03 08:52] bsclifton commented on #8388
@eljuno thanks for capturing that! glad to know I'm not crazy 😄

[2017-05-03 08:53] bsclifton commented on #8575
Confirmed

[2017-05-03 08:53] luixxiul commented on #8629
the thing is you cannot restart the browser on debian *unless you manually kill the process*.

[2017-05-03 08:54] NejcZdovc commented on #8388
based on a conversation with @bbondy we need to use tabs from appState for this to work correctly.

[2017-05-03 08:54] bsclifton commented on #8575
Moving to 0.15.2; if we don't have time, we can push back. But wanted to tentatively pull in since it does cause a crash

[2017-05-03 08:59] #8523 closed

[2017-05-03 09:35] luixxiul commented on #8523
@kumarrishav nice find :-)

[2017-05-03 09:56] Sileax commented on #6022
@bsclifton Sorry for not responding for a while, i switched to Nvidia gpu so the problem is not present anymore :)

[2017-05-03 10:59] #8392 closed

[2017-05-03 11:17] srirambv commented on #8629
@bsclifton  I verified it from 0.13.3 onward, its not an issue. Its only in this build. It works fine in the preview 1 build which was removed.

[2017-05-03 11:39] srirambv commented on #8647
Not reproducible on Windows 10 x64 preview 2 build.

[2017-05-03 11:45] srirambv commented on #8463
This fails on  Windows machine. Right click save as shows as interrupted.

![8463](https://cloud.githubusercontent.com/assets/17010094/25659158/6d1cecfe-2ffe-11e7-9c0e-78d534a17074.gif)

[2017-05-03 12:20] mikegleasonjr opened #8657 "Brave force quits on OSX on aliexpress.com"
EDIT:

[code]

[2017-05-03 12:42] srirambv commented on #8435
I am not able  to verify this on Win x64 preview 2 due to #8629. Tried building it from source and packaged build.

[2017-05-03 12:54] NejcZdovc commented on #8435
@srirambv this is invalid. It's working as designed.

[2017-05-03 13:14] kumarrishav commented on #8657
Working fine on my brave browser on OSX

[2017-05-03 13:39] srirambv commented on #8303
This is not reliable on Windows. Out of 20-30 right clicks I got the expected menu once.  Right click outside the new tab button shows window context menu. Right click on the new tab shows new tab context menu but second right click shows the same window context menu
![8303 1](https://cloud.githubusercontent.com/assets/17010094/25662932/32a79e56-300e-11e7-8239-b775f5a2b874.gif)

[2017-05-03 13:57] bradleyrichter commented on #8613
I think we should put it in the shields prefs page to avoid clutter-growth in the panel.

[off/on] Display block count badge on shields button

[2017-05-03 13:59] philkloose commented on #8303
My experience is similar but I have since trained myself only to click at the bottom of the tab toolbar which works 100% of the time for me.  I've always chalked it up to the more generalized problem of the hitboxes (not sure what else to call them) being off.  For me, in Windows 7, it happens in the other toolbars (URL, Bookmarks, Tabs) too.  In the URL bar, I have to click in the upper half or i

[2017-05-03 14:29] srirambv opened #8659 "Browser crash with payment enabled when clearing browsing data"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Browser crash with payment enabled when clearing browsing data

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.15.2
rev	71f7dfd

- Steps to reproduce:
    1. Clean install 0.15.2 preview 2 and launch from console
    2. Clear browsing d

[2017-05-03 14:46] bbondy commented on #8638
https://github.com/brave/browser-laptop-bootstrap/pull/16

[2017-05-03 14:46] #8638 closed

[2017-05-03 14:48] alexwykoff commented on #6940
@kumarrishav Thanks for picking this up!

What I would do differently is to explore a bit about the problems the user is trying to solve rather than how did they describe the problem.

More specifically, if a user feels that they need help, how do they want to go about receiving that help and balance that versus what is possible in the organization.

For laptop, there is significantly more computi

[2017-05-03 14:49] bbondy opened #8660 "Upgrade to muon 2.58.9"
Includes:
https://github.com/brave/muon/commit/ec689be273e71e2b72f3ee313b2138f43c3bdec3
https://github.com/brave/muon/commit/db3496c1fad2cbdf16e8fc8fe35050effc67215b
https://github.com/brave/browser-laptop-bootstrap/pull/16

[2017-05-03 14:54] #8660 closed

[2017-05-03 15:19] #8649 closed

[2017-05-03 15:19] kumarrishav commented on #6940
Agree with you. We need to tackle this considering laptop as well as Phone
in mind. Also, pointing to github won't be a good idea as everyone is not
aware of github.
Linking to community will be a good idea but community (website) is also
filled of questions and its difficult to find. So, if there is a pinned
topic about help page, we can point user there.
Or another solution can be link on our br

[2017-05-03 15:46] bsclifton commented on #8657
hi @mikegleasonjr what version do you have?

We did have a few problems, but with our latest release (0.15.1) those should be fixed.  Please let us know 😄

[2017-05-03 15:51] bsclifton commented on #8629
@srirambv this is great info- based on that, this is indeed a blocker 😄

[2017-05-03 16:07] bsclifton commented on #7778
@mcg that's a great question-
If you are comfortable building from source, you can give it a shot by reverting https://github.com/brave/browser-laptop/commit/29a8223c19a8127f195bf0c3bd46ebea1dbe5270.  When you launch, it will then be visible in Preferences > Security

[2017-05-03 16:14] bsclifton commented on #8448
for some of our other tests, we always return the same hash (instead of no hash).  I confirmed that a different hash is returned on macOS and Windows 10; this is something we should be blocking

Assigning @diracdeltas for triage

[2017-05-03 16:17] bsclifton commented on #8659
@srirambv the GIF moves too quick; can you please share the error message that is being seen?

Without being able to read the error, I am guessing this is related to the worker code and may be invalid with our next build

[2017-05-03 16:19] luixxiul opened #8661 "Remove preference.less"
## Test plan:

https://github.com/brave/browser-laptop/pull/8710#issue-226454142

https://github.com/brave/browser-laptop/pull/11416#issue-264245109

----

**Describe the issue you encountered:** Remove preference.less after refactoring `about:preference` with Aphrodite

- Extra QA steps:
    1.
    2.
    3.

- Screenshot if needed:

- Any related issues: #7989

[2017-05-03 16:24] bsclifton commented on #8613
@kumarrishav perfect!  a few pointers:
- A string will need to be chosen for the setting name. [see here for an example](https://github.com/brave/browser-laptop/blob/master/js/constants/appConfig.js#L121). The setting should default to **true** so that we keep our existing behavior
- A constant should be created for the setting. [see here for an example](https://github.com/brave/browser-laptop/blo

[2017-05-03 16:35] bsclifton commented on #8613
@kumarrishav since you've been doing such a great job (all the bug fixes / PRs you've submitted recently), I added you officially to browser-laptop as a contributor!  😄

Once you accept the invitation, you should be able to assign yourself issues and also add/remove labels from issues.  GitHub doesn't have granular permissions, so please keep in mind that you also will have write access to the rep

[2017-05-03 16:38] bsclifton commented on #8641
@Liunkae that would be a REALLY nice one actually! Good catch 😄

[2017-05-03 16:40] bsclifton commented on #7748
@luixxiul it sure was- will be sure to add that label 😄

[2017-05-03 16:48] luixxiul opened #8662 "Remove duplicate localization strings (bitcoinAddress and bitcoinPaymentURL)"
**Describe the issue you encountered:**
https://github.com/brave/browser-laptop/blob/b098619e34708a7926334048e7a31a8e3b275bd7/app/extensions/brave/locales/en-US/preferences.properties#L115-L116

Obviously they have the same meaning and one of them can be removed safely.

- Extra QA steps:
    1.
    2.
    3.

- Screenshot if needed:

- Any related issues:

[2017-05-03 16:52] luixxiul opened #8663 "'Brave wallet QR code' should be localizable"
**Describe the issue you encountered:**https://github.com/brave/browser-laptop/blob/c719806d2265434b7e74fce0ef9a7bd061ddcc64/app/renderer/components/preferences/payment/bitcoinDashboard.js#L80

`title='Brave wallet QR code'` should be localizable.

- Extra QA steps:
    1.
    2.
    3.

- Screenshot if needed:

- Any related issues:

[2017-05-03 17:10] Kudlaty01 opened #8664 "cVim keep being disabled"
- Did you search for similar issues before submitting this one?
Yes, tried the chrome extension import [turorial](https://blog.brave.com/loading-chrome-extensions-in-brave/) and checked problems with other extensions being solved

- Describe the issue you encountered:
after registering the Surfkeys cVim extensions they keep being disabled

- Platform (Win7, 8, 10? macOS? Linux distro?):
Linux Debi

[2017-05-03 17:13] bsclifton commented on #8664
@jonathansampson could you help on this one? 😄

[2017-05-03 17:17] srirambv commented on #8659
@bsclifton here is the error. Sorry forgot to add it in the initial post

**Clear private data error**
[code]

**Crash error**
[code]

[2017-05-03 17:24] Kudlaty01 commented on #8664
Wow, what a quick reaction :)
Also if both installed they get enabled/disabled at the same time, none could be enabled/disabled separately.

[2017-05-03 17:37] srirambv opened #8665 "Browser crashes when trying to save image"
## Test plan

1. Go to https://imgur.com/gallery/rQIb4Vw
2. Click "..." at bottom-right of image
3. Select Download post

----

- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Browser crashes when trying to save image

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.15.2
rev	71f7dfd

[2017-05-03 18:01] srirambv commented on #8548
Console shows error when browser crashes. This could be a possible cause for the progress indicator to be still show as downloading
[code]

[2017-05-03 18:25] srirambv commented on #8620
Tested on milestones excluding the ones which require steps https://github.com/brave/browser-laptop/issues?utf8=✓&q=is%3Aissue%20is%3Aclosed%20milestone%3A0.15.2%20-label%3Aqa%2Fsteps-required%20

[2017-05-03 18:25] #8620 closed

[2017-05-03 18:25] #7872 closed

[2017-05-03 18:48] #8390 closed

[2017-05-03 18:51] #8477 closed

[2017-05-03 18:57] mikegleasonjr commented on #8657
Sorry I just posted the version I'm using. Only thing I changed is that I enabled the fingerprint blocking.

[2017-05-03 19:08] diracdeltas commented on #8448
For me, WebGL fingerprint is blank (as expected), but "Report Hash" and "Image Hash" have hex values. The description says:

It may not be surprising that Report Hash varies between operating system, since the table includes the user-agent. (So if the UA changes, the hash value necessarily changes, but the attacker doesn't get any new information.)

I'm curious if you are seeing OS-specific values

[2017-05-03 19:39] bsclifton commented on #8448
@diracdeltas I'm seeing OS specific values for both report hash + image hash:
**windows**
![windows](https://cloud.githubusercontent.com/assets/4733304/25678121/7ce08a0c-2ffd-11e7-97f0-8905f7480777.png)

**macOS**
![mac](https://cloud.githubusercontent.com/assets/4733304/25678123/8186742c-2ffd-11e7-956d-469df984137c.png)

[2017-05-03 19:41] bsclifton commented on #8657
@mikegleasonjr great- thanks for adding that 😄  Does the site still crash if you disable fingerprint protection (you can disable only for that site using the lion icon)?

[2017-05-03 20:04] darkdh commented on #8581
for me it is a flash issue

[Kapture 2017-05-03 at 12.55.00.mp4.zip](https://github.com/brave/browser-laptop/files/974552/Kapture.2017-05-03.at.12.55.00.mp4.zip)

[2017-05-03 20:27] #8280 closed

[2017-05-03 20:34] mikegleasonjr commented on #8657
Yep still crashes :(

On Wed, May 3, 2017, 8:41 PM Brian Clifton <notifications@github.com> wrote:

[2017-05-03 20:43] diracdeltas commented on #8323
@luixxiul that is expected, we don't prevent fingerprinting all extensions, only the Brave-maintained ones.

[2017-05-03 20:43] #8323 closed

[2017-05-03 21:05] diracdeltas opened #8667 "switch from node-uuid to uuid"
we currently use `node-uuid` for browser-laptop and `uuid` for tests, but actually the two projects are merged into `uuid` now. https://www.npmjs.com/package/node-uuid

[2017-05-03 21:33] jonathansampson commented on #8664
@bsclifton I can indeed. @Kudlaty01, I'll take a look here in the next few minutes :)

[2017-05-03 22:14] bradleyrichter commented on #2107
too many cobwebs on this one. closing...

[2017-05-03 22:14] #2107 closed

[2017-05-03 22:15] darkdh commented on #8659
only need to clear "all sites cookies" or "cached images and files"

[2017-05-03 22:25] bradleyrichter opened #8669 "Change data import completion dialog from tab-specific back to global"
Originally this dialog was global. After creating tab-specific alert dialogs, this one came along for the ride.

As a user, I need to be notified when my data is finished importing regardless of which tab I may be on, or was on at the time I started the import process.

![image](https://cloud.githubusercontent.com/assets/13509546/25684097/638ce502-3014-11e7-914f-c24892f2c20f.png)

[2017-05-03 22:30] #8602 closed

[2017-05-03 23:07] diracdeltas commented on #8413
removing milestone/assignment for now because we aren't convinced this is contributing noticeably to startup time.

[2017-05-03 23:52] bsclifton commented on #3848
Having duplicate entries like this (for history) causes massive slowdown when typing in the URL bar (and also the process of saving the history).  This is an important issue and needs to be fixed soon

[2017-05-04 00:06] jonathansampson commented on #8012
@flyswatter I believe we have what you're seeking, only it's not as easy to get to (not yet; I have a PR in the works to reduce friction). Go to _about:extensions_ and get the extension ID. Next, navigate to the background page via _chrome-extension://<extension-id>/backroundpage.html_. If no explicit background page is provided, the location will be _generated_background_page.html_, IIRC.

[2017-05-04 00:26] mrose17 commented on #8659
an observation: whenever i quit master on mac os, i see the same errors. the pointer into `...anonize2-jumbo.js:67` is misleading. that gets stuck on the stack regardless of whatever is going on...

[2017-05-04 00:36] mrose17 commented on #8659
@darkdh - very helpful, thanks!

[2017-05-04 00:50] flyswatter commented on #8012
Oh great, thanks for the tip!  I'll continue debugging this soon!

[2017-05-04 00:53] mrose17 commented on #8659
update: it appears to be related to https://github.com/brave/browser-laptop/commit/40abc0c780050eb0b8dd42c15065d1c784268b47

[2017-05-04 00:54] jonathansampson commented on #8012
@flyswatter Please confirm whether or not this is what you needed. We'll be making it easier to reach in future builds :)

[2017-05-04 01:17] flyswatter commented on #8012
Will verify soon, still 1 day left in the Internet Identity workshop (you'd probably fit in nicely here...)

[2017-05-04 01:35] jonathansampson opened #8671 "Extension: MetaMask"
Extension: [MetaMask](https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn)

![image](https://cloud.githubusercontent.com/assets/815158/25688786/9f7f8c76-3047-11e7-8070-7d66c9145c5f.png)

For development purposes, the background page for this extension can be accessed by navigating to the following URL: chrome-extension://dkjoiblfkdpnahoolgkbmgihdfkflnkm/_generated_b

[2017-05-04 01:36] jonathansampson commented on #8013
Appears to be a dupe of #6789

[2017-05-04 01:36] #8013 closed

[2017-05-04 01:36] dobriai commented on #2185
I don't care so much if it is **tree-style** tabs, but I absolutely need **vertical tabs**, for sure. What Vivaldi has is good enough for me. Until such time, I'll stick to Firefox or Vivaldi. Lack of vertical tabs is a show-stopper for me.

[2017-05-04 01:36] jonathansampson commented on #6789
Blocks #8671

[2017-05-04 02:12] luixxiul commented on #8635
I assume that we would change the UI size to Supersize on the very large/full HD monitor where the left pane was quite small before the option became available. ie on that monitor left pane should finally be 'normal' size with that option. It is a bug but rare to change the option to Supersize on the normal size monitor, so the bug is not a show-stopper.

[2017-05-04 02:13] lednhatkhanh commented on #3555
Vivaldi got this feature already

[2017-05-04 02:35] alexwykoff opened #8672 "Manual test run for Windows ia32 0.15.2 RC1"
# Manual Tests Template

Copy this to a new issue when Chromium is updated.
The tests should run for macOS, Windows ia32, and a Linux distro for each release.

## Installer

1. [x] Check that installer is close to the size of last release.
2. [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the instal

[2017-05-04 02:35] alexwykoff opened #8673 "Manual test run for Linux 0.15.2 RC1"
# Manual Tests Template

Copy this to a new issue when Chromium is updated.
The tests should run for macOS, Windows ia32, and a Linux distro for each release.

## Installer

1. [x] Check that installer is close to the size of last release.
2. [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the instal

[2017-05-04 02:36] alexwykoff opened #8674 "Manual test run for OS X 0.15.2 RC1"
# Manual Tests Template

Copy this to a new issue when Chromium is updated.
The tests should run for macOS, Windows ia32, and a Linux distro for each release.

## Installer

1. [x] Check that installer is close to the size of last release.
2. [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the instal

[2017-05-04 02:50] mvelez commented on #1847
And "rocker gestures" to borrow from Opera's nomenclature, right-click/left-click goes back and left-click/right-click goes forward.

Presto era Opera was also smart enough that it would pick up that on a paginated site like a blog or a table with next/previous buttons that a mouse gesture would bring you forward to the next page.  I don't know why they haven't picked that up in the blink/chromium

[2017-05-04 03:11] bridiver commented on #8659
there is an issue with the call to clearCache, but did this actually cause a crash? I saw the error on the console, but because it is called in `setImmediate` it didn't actually hurt anything other than not doing what it was supposed to do

[2017-05-04 03:14] darkdh commented on #8659
I can reproduce the crash in package build but not in dev environment.

[2017-05-04 03:24] luixxiul opened #8675 "Unpin should only be applied to the same window"
**Describe the issue you encountered:** Unpin tab should only be applied to the same window, not applied globally

- Platform (Win7, 8, 10? macOS? Linux distro?): Windows 10 32 bit

- Brave Version (revision SHA):

- Steps to reproduce:
    1. Clear the profile
    1. Start the browser
    2. Click the twitter tile
    2. Pin the tab
    3. Open a new tab
    4. Detach the new tab
    5. On the ne

[2017-05-04 03:33] luixxiul opened #8676 "Pin the tab on the same URL destroys tab history"
**Describe the issue you encountered:** Pin the tab on the same URL destroys tab history

- Platform (Win7, 8, 10? macOS? Linux distro?): Windows 10 32 bit

- Brave Version (revision SHA):

- Steps to reproduce:
    1. Open a new tab
    2. Click the twitter tile
    3. Pin the tab
    4. Open another new tab
    5. Click the twitter tile
    6. On the 2nd tab, go to https://brave.com
    7. Go ba

[2017-05-04 04:12] jonathansampson commented on #5366
Blocked #8671

[2017-05-04 04:13] jonathansampson commented on #5367
Blocked #8671

[2017-05-04 04:17] jonathansampson opened #8677 "Extension APIs: chrome.windows.getAll"
https://developer.chrome.com/extensions/windows#method-getAll

[2017-05-04 04:17] jonathansampson commented on #8677
Blocks #8671

[2017-05-04 04:19] jonathansampson opened #8678 "Extension API: chrome.windows.remove"
https://developer.chrome.com/extensions/windows#method-remove

[2017-05-04 04:19] jonathansampson commented on #8678
Blocks #8671

[2017-05-04 04:20] jonathansampson opened #8679 "Extension APIs: chrome.windows.update"
https://developer.chrome.com/extensions/windows#method-update

[2017-05-04 04:20] jonathansampson commented on #8679
Blocks #8671

[2017-05-04 04:22] jonathansampson opened #8680 "Extension APIs: chrome.tabs.create"
https://developer.chrome.com/extensions/tabs#method-create

Blocks: #8671

[2017-05-04 04:23] luixxiul commented on #6669
Closing in favor of #8524

[2017-05-04 04:23] #6669 closed

[2017-05-04 04:24] alexwykoff opened #8681 "0.15.2 pinning a tab clones the pin as well"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Pinning a tab creates two pins of the same tab

- Platform (Win7, 8, 10? macOS? Linux distro?):
OS X

- Brave Version (revision SHA):
0.15.2 (af7ef42)

- Steps to reproduce:
    1. pin a tab

- Actual result:
two pins are created

- Expected result:
one pin should be created

- Will the steps

[2017-05-04 04:28] jonathansampson opened #8682 "Extension API: chrome.runtime.connect"
https://developer.chrome.com/extensions/runtime#method-connect

Blocks: #8671, #9654

[2017-05-04 04:30] jonathansampson opened #8683 "Extension APIs: chrome.runtime.getManifest"
https://developer.chrome.com/extensions/runtime#method-getManifest

Blocks #8671

[2017-05-04 04:31] jonathansampson opened #8684 "Extension API: chrome.runtime.onConnect.addListener"
https://developer.chrome.com/extensions/runtime#event-onConnect

Blocks #8671

[2017-05-04 04:33] jonathansampson opened #8685 "Extension API: chrome.runtime.onInstalled.addListener"
https://developer.chrome.com/extensions/runtime#event-onInstalled

Blocks #8671

[2017-05-04 04:33] jonathansampson opened #8686 "Extension API: chrome.runtime.reload"
https://developer.chrome.com/extensions/runtime#method-reload

Blocks #8671

[2017-05-04 04:33] alexwykoff opened #8687 "PDFs aren't recognized unless the url ends in .pdf"
- Did you search for similar issues before submitting this one?
yes

- Describe the issue you encountered:
attempting to view http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.105.6357&rep=rep1&type=pdf in Brave fails, other browsers can view the pdf without issue

- Platform (Win7, 8, 10? macOS? Linux distro?):
OS X

- Brave Version (revision SHA):
0.15.2 (af7ef42)

- Steps to reproduce:

[2017-05-04 04:34] jonathansampson opened #8688 "Extension APIs: chrome.extension.getURL"
https://developer.chrome.com/extensions/extension#method-getURL (deprecated)

Blocks #8671

[2017-05-04 04:42] jonathansampson commented on #8680
Supported. If any issues with our implementation are identified, please share.

[2017-05-04 04:42] #8680 closed

[2017-05-04 04:44] jonathansampson commented on #8688
Supported. If any issues with our implementation are identified, please share.

[2017-05-04 04:44] #8688 closed

[2017-05-04 04:47] jonathansampson commented on #8677
Supported. If any issues are identified with our implementation, please share.

[2017-05-04 04:47] #8677 closed

[2017-05-04 04:57] jonathansampson commented on #8679
Supported. If any issues are identified with our implementation, please share.

[2017-05-04 04:57] #8679 closed

[2017-05-04 05:11] jonathansampson commented on #8683
Supported. If any issues are identified with our implementation, please share.

[2017-05-04 05:11] #8683 closed

[2017-05-04 05:59] Kudlaty01 commented on #8664
@bsclifton please forgive me my terrible mistake. The first extension was [surfingkeys](https://chrome.google.com/webstore/detail/surfingkeys/gfbliohnnapiefjpjlpjnehglfpaknnc)
I do confirm the second extension though ;)

[2017-05-04 06:21] kumarrishav commented on #8613
Thanks @bsclifton .

[2017-05-04 07:05] kumarrishav commented on #7814
Hey @srirambv Can you confirm this bug again? I am unable to reproduce it on
Name	Version
Brave	0.15.1
rev	ea5024d

[2017-05-04 07:24] NejcZdovc opened #8689 "Merge tabs into frames object in windowStore"
**Describe the issue you encountered:**
Merge tabs into frames object in windowStore

[2017-05-04 07:42] NejcZdovc opened #8690 "Redux component - Tabs related components"
## Test plan

https://github.com/brave/browser-laptop/pull/8396#issue-222779426

----

**Describe the issue you encountered:**

Convert tabs related components into redux.

- TabsToolbar
- Tabs
- Tab
- PinnedTab
- AudioTabIcon
- CloseTabIcon
- FavIcon
- NewSessionIcon
- PrivateIcon
- TabIcon
- TabTitle

[2017-05-04 08:15] crazy-max opened #8691 "Make Brave portable ?"
Hi,

I've created a small wrapper named [brave-portable](https://github.com/crazy-max/brave-portable) but i was wondering if you had planned to do one day a portable version of Brave?

Thanks

[2017-05-04 08:39] Jacalz commented on #8691
I will take a look at it today if I get some time over 👌

[2017-05-04 09:00] srirambv commented on #7814
@kumarrishav  Yes it is still an issue with ea5024d. Here is the proper STR
1. Add a bookmark with https://
2. Export the bookmark to a file
3. Delete the bookmark added in step 1
4. Import the file  created in step 2
5. Bookmark imports from 1970

One thing I found is this doesn't happen if you add a site as http:// instead of https:// . So the URL has to proper for it to happen. Here is a screen

[2017-05-04 09:14] luixxiul commented on #8691
@crazy-max I'm going try. Could I know how to use it? thanks!

[2017-05-04 09:16] crazy-max commented on #8691
@luixxiul All instructions are available in the [README.md](https://github.com/crazy-max/brave-portable/blob/master/README.md) of [brave-portable](https://github.com/crazy-max/brave-portable) repository.

[2017-05-04 09:37] luixxiul commented on #8691
I see, I wanted to know how to build the binary from the source code.

Also is it OK to include the binary downloaded from Brave website, without including source code? CC @bbondy

[2017-05-04 09:44] crazy-max commented on #8691
Indeed i use the binaries from the official website  :

* https://laptop-updates.brave.com/latest/winia32
* https://laptop-updates.brave.com/latest/winx64

Then i extract the setup and read the nupkg file instructions and make a self extraction and i copy the app-* folder and the execution stub to the root folder.

`brave-portable.exe` seek if the data folder located in `%APPDATA%\brave` exists an

[2017-05-04 10:02] luixxiul commented on #8648
I think this has been fixed with the latest build. CC @srirambv for confirmation.

[2017-05-04 10:11] luixxiul opened #8693 "Font rendering on debian"
**Describe the issue you encountered:** Font rendering on debian is not quite good.

![clipboard01](https://cloud.githubusercontent.com/assets/3362943/25699126/cebccce6-30fc-11e7-9cc5-be5bc58730a9.jpg)
![clipboard02](https://cloud.githubusercontent.com/assets/3362943/25699127/cec07602-30fc-11e7-9752-d7922bfb8040.jpg)
![clipboard03](https://cloud.githubusercontent.com/assets/3362943/25699125/cebb71

[2017-05-04 11:54] JGH1000 commented on #8616
Suggested elsewhere

[2017-05-04 11:54] #8616 closed

[2017-05-04 11:55] JGH1000 commented on #8080
+1, bookmark toolbar takes too much space without being any more useful than additional menu.

[2017-05-04 12:06] luixxiul commented on #8635
This could be the solution:

![scroll](https://cloud.githubusercontent.com/assets/3362943/25700622/6f9dcc68-3103-11e7-905b-18cd211c5469.gif)

[2017-05-04 12:09] srirambv commented on #8635
Yes that looks good 👍

[2017-05-04 12:43] midi commented on #7783
Firefox has implemented sessions with pretty good UI/UX:
https://testpilot.firefox.com/experiments/containers

I prefer this over Brave's approach.
The ability to set names, icons allows me to easily keep track of my sessions.
Also the fact that I can just pick a session upon hovering over the new tab button is awesome.
Maybe consider this implementation.

[2017-05-04 13:23] luixxiul commented on #8635
the problem is that by doing so the tick next to the selected item on the left menu disappears.

[2017-05-04 13:35] NejcZdovc commented on #8636
dup of #8689

[2017-05-04 13:35] #8636 closed

[2017-05-04 13:36] NejcZdovc commented on #8635
@luixxiul what if we put scrollbar on the left side?

[2017-05-04 14:02] srirambv commented on #8673
Widevine test not applicable for Linux.
Performance tests browser startup time was consistent around 16-17 secs. this could be due to the fact it was tested on a VM.

[2017-05-04 14:11] aekeus opened #8694 "Add recurring payments integration with addfunds and payments"
This issue will track the recurring payment integration with the addfunds, payments and eyeshade services.

[2017-05-04 14:32] srirambv opened #8695 "Post sync device name changed"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Post sync device name changed

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64 (Pyramid 1)
Ubuntu 16.04 (Pyramid 0)

- Brave Version (revision SHA):
Brave	0.15.1
rev	ea5024d

- Steps to reproduce:
    1. Enable sync on Linux
    2. Sync Windows machine with secret code
    3. D

[2017-05-04 15:07] luixxiul commented on #8128
I notice the issue on the PC which is relatively new (bought a half year ago). The window is blank for several seconds. Lately I started noticing the issue more often after the function to detach tabs was implemented.

[2017-05-04 15:12] luixxiul commented on #8128
I added the needs-triage label just now. Please add a milestone and labels if necessary, thanks.

[2017-05-04 15:17] luixxiul commented on #8541
After opening the browser several hours I found the tab was not smoothly changed. It took a couple of seconds to change the tab by clicking.

![lag](https://cloud.githubusercontent.com/assets/3362943/25710594/a6436542-3127-11e7-8f51-5f8ee7277a7e.gif)

[2017-05-04 15:20] kumarrishav opened #8696 "Device Name is missing when you create new sync"
- Describe the issue you encountered:
Device Name is missing when you create new sync
- Platform (Win7, 8, 10? macOS? Linux distro?):
Tested on macOS (not sure about other platform)
- Brave Version (revision SHA):
Brave	0.15.1
rev	ea5024d
- Steps to reproduce:
    1.  check screnshot.
<img width="955" alt="screen shot 2017-05-04 at 8 37 26 pm" src="https://cloud.githubusercontent.com/assets/407832

[2017-05-04 15:20] Jacalz opened #8697 "Minimizing the browser window leaves the tooltip open"
- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:
Originaly from the community but I can comfirm that I have the same issue :+1:
https://community.brave.com/t/minimizing-the-brave-browser-window-leaves-the-minimize-tooltop-balloon-up/2649
The tooltip that says "Minimize" is still stuck on the screen after minimizing the browser window.
- Plat

[2017-05-04 15:23] kumarrishav commented on #8311
@diracdeltas Also, Only clicking on header (say, id), results in showing up and down arrow? By default arrow is hidden. Is it expected behaviour? @srirambv

[2017-05-04 15:23] luixxiul commented on #8696
I also notice the issue intermittenly.

[2017-05-04 15:49] crazy-max commented on #2953
See issue #8691 if you are interested :)

[2017-05-04 16:02] NejcZdovc commented on #8311
@kumarrishav yes this is expected

[2017-05-04 16:33] Jacalz commented on #1991
+1 from community:
https://community.brave.com/t/cookie-management/2674

[2017-05-04 16:33] srirambv commented on #8696
I noticed this when I do reset sync and then enable sync again

[2017-05-04 16:40] srirambv opened #8698 "Saving a document doesn't show correct origin"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Saving a document doesn't show correct origin

- Platform (Win7, 8, 10? macOS? Linux distro?):
Alll

- Brave Version (revision SHA):
Brave	0.15.1
rev	ea5024d

- Steps to reproduce:
    1. Enable payments
    2. Click on advance settings
    3. Save recovery file, download bar shows origin as

[2017-05-04 17:18] srirambv commented on #8600
User(Stefan)  provided additional info on the issue

[2017-05-04 18:09] #8652 closed

[2017-05-04 18:31] srirambv commented on #1991
+1 from community https://community.brave.com/t/cookie-display-management/2664

[2017-05-04 18:39] alexwykoff commented on #8681
closing DNR

[2017-05-04 18:39] #8681 closed

[2017-05-04 19:09] #8674 closed

[2017-05-04 19:09] #8673 closed

[2017-05-04 19:10] #8672 closed

[2017-05-04 19:11] alexwykoff opened #8699 "Release Checklist for 0.15.2"
# Release Process Checklist

Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

## Release Commands
### First-time Setup
1. [ ] `git clone git@github.com:brave/vault-updater && cd vault-updater`
- [ ] `npm install`
- [ ] install the heroku toolbelt https://toolbelt.heroku.com/ , ask @mro

[2017-05-04 19:21] lukemulks commented on #5512
We've had another Community contributor report:
https://community.brave.com/t/all-bookmarks-deleted/2682

Profile:
[code]

Feedback:

[2017-05-04 20:04] philkloose opened #8700 "Windows Dev Environment Setup npm Failure"
- Did you search for similar issues before submitting this one? Yes

- Describe the issue you encountered: The instructions posted [here](https://github.com/brave/browser-laptop/wiki/(setup)-Windows-build-guide) for configuring a Windows development environment do not work for me.  The `npm install` fails due to a preinstall script for ad-block@3.0.3 on the `npm install bloom-filter-cpp && npm ins

[2017-05-04 20:20] NejcZdovc commented on #8700
@philkloose do you have python 2.7 installed and set. This was why it wasn't working for me the last time I was setting up windows machine

[2017-05-04 20:28] #8699 closed

[2017-05-04 20:30] philkloose commented on #8700
@NejcZdovc I do indeed.  And as far as I can tell I have all my other variables set properly per the Wiki instructions.

[2017-05-04 20:38] bbondy opened #8702 "PDFs fail to load if behind basic auth"
If a pdf file is behind basic auth, then it fails to display with our pdfjs extension.

Steps to reproduce:
1. Download this script and extract it to your home directory
[SimpleHTTPAuth.py.zip](https://github.com/brave/browser-laptop/files/977487/SimpleHTTPAuth.py.zip)

2. Start it `python SimpleHTTPAuth.py 9001 u:p`
3. Navigate to `http://localhost:9001/type.pdf`

Note it works in Chrome with pdf

[2017-05-04 20:56] ayumi opened #8703 "URL bar, on every keystroke the browser re-checks if the current location is bookmarked"
With 10,000 bookmarks, this adds 80ms to every keystroke.

- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:

- Platform (Win7, 8, 10? macOS? Linux distro?):

- Brave Version (revision SHA):

- Steps to reproduce:
    1. Instrument `siteUtil.isSiteBookmarked()` by adding to the beginning `const startTime = new Date().getTime()` and to the en

[2017-05-04 20:59] NejcZdovc commented on #8613
Mock of this option

![image](https://cloud.githubusercontent.com/assets/9574457/25724760/54bcbdb8-311d-11e7-8bc1-bdb2125435c3.png)

cc @bradleyrichter

Left a comment in PR as well https://github.com/brave/browser-laptop/pull/8701#issuecomment-299307305

[2017-05-04 21:02] kumarrishav opened #8704 "Protocol file:/// doesn't open system directory on browser"
- Did you search for similar issues before submitting this one?
yes
- Describe the issue you encountered:
System directory didn't load in browser
- Platform (Win7, 8, 10? macOS? Linux distro?):
Tested on macOS (not sure about platform)
- Brave Version (revision SHA):
 Brave	0.15.1
 rev	ea5024d
- Steps to reproduce:
    1. Paste `file:///` on address bar and hit enter.
    2.
    3.

- Actual resul

[2017-05-04 21:12] philkloose commented on #8700
I replaced the preinstall line for the ad-block package to this
`git clone --depth=1 https://github.com/bbondy/hashset-cpp node_modules/hashset-cpp && git clone --depth=1 https://github.com/bbondy/bloom-filter-cpp node_modules/bloom-filter-cpp`
as the PR suggested and sure enough everything worked.

[2017-05-04 21:16] srirambv commented on #3025
+1 from community https://community.brave.com/t/brave-is-the-slowest-to-load/2688

[2017-05-04 21:36] philkloose commented on #8303
@srirambv Hmm, I just built the latest preview and it appears you're right.  The hitbox is even smaller than before when I was testing it.  I have no idea why it's so off, but you need to click in approx the bottom 5px of the tab bar to trigger it properly.

[2017-05-04 21:51] #7194 closed

[2017-05-04 21:59] philkloose commented on #8613
@kumarrishav I think it's doing the opposite of whatever its set for.  If enabled, we should see the counter.

[2017-05-04 22:00] kumarrishav commented on #8613
@philkloose yeah. It behaves like that only. If enabled then it will show the counter

[2017-05-04 22:03] philkloose commented on #8613
@kumarrishav Oh, I'm wrong, it works exactly as it should.  Carry on!

[2017-05-04 22:29] #8468 closed

[2017-05-04 22:31] #6372 closed

[2017-05-04 22:31] #8054 closed

[2017-05-04 22:31] #8662 closed

[2017-05-04 22:31] #8663 closed

[2017-05-04 22:36] kumarrishav commented on #8698
@srirambv So, what should be expected behaviour? whole path of the file ? like `file:///Users/krishav/Library/Application%20Support/brave/brave_wallet_recovery.txt` instead of `brave_wallet_recovery.txt`

[2017-05-04 22:54] echosa commented on #5470
1.1.0? That seems really far away. When I saw this in today's Slack update, it gave me hope for Brave...

<img width="663" alt="screen shot 2017-05-04 at 5 49 51 pm" src="https://cloud.githubusercontent.com/assets/133786/25728073/75976f72-30f2-11e7-807e-f8d422adf2da.png">

[2017-05-04 22:59] jkplanb opened #8705 "brave won't open on win10, won't uninstall either"
A couple of months ago Brave stopped opening in Windows 10. Well that's not quite true; it opened into the tray but wouldn't maximise no matter what. I have just moved to another browser but I want my Brave. So I tried to uninstall it so as to reinstall but it won't using control panel.

[2017-05-04 23:07] bsclifton commented on #5470
@echosa tentatively for 1.1.0 😄  I pulled the patch from Electron here:
https://github.com/brave/muon/pull/161

I need some time to troubleshoot problems seen with the code

[2017-05-04 23:09] kumarrishav commented on #8311
@diracdeltas Can you tell how to reproduce this issue? As i have only one laptop and sync is not yet arrived in iOS or android.

[2017-05-04 23:12] kumarrishav commented on #7828
@bsclifton Is there any plan How we should go for this?

[2017-05-04 23:19] kumarrishav commented on #2125
@bradleyrichter @bbondy Can we have more input on this? As we already have this functionality in browser, what are we exactly trying to achieve here.

[2017-05-04 23:20] ayumi commented on #8311
@kumarrishav You can:

1. Start Brave and enable Sync (new profile).
2. Save the Sync profile code words.
3. Delete user profile e.g. `rm ~/Library/Application\ Support/brave-development`
4. Start Brave and enable Sync, joining the existing Sync profile.
5. Repeat steps 3–4 until you have 10 devices total.

[2017-05-04 23:21] bradleyrichter commented on #2125
@kumarrishav you are achieving a much needed purging of non-auto-closed issues that have already been completed. Thanks!

[2017-05-04 23:21] #2125 closed

[2017-05-04 23:43] JMccormick264 opened #8706 "Add our own extensions easily?"
- Did you search for similar issues before submitting this one?
Yes

When will we get the ability to add custom extensions? I really want to use Reddit Enhancement Suite, I currently build it from the source for Edge, but I don't see any easy way of doing without having to build the Brave source too. Is there an ETA for being able to like in Reddit-Enahncement-Suite's case, git pull the latest cod

[2017-05-04 23:51] kumarrishav commented on #8305
@srirambv where tool tip info button should come in about:preferences#plugins case? Next to `Plugins Settings` header?

[2017-05-04 23:55] ayumi opened #8707 "URL parsing is slow"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
While investigating URL bar slowness, I noticed `suggestion.simpleDomainNameValue()` was slow. It calls `urlParse()` which uses `url.parse()`.
When I replaced the node core implementation with [`fast-url-parser`](https://github.com/petkaantonov/urlparser) it got way faster (10K bookmarks, fir

[2017-05-05 00:20] kumarrishav commented on #8305
Also, the tool tip icon used in about:preferences#extension is light in color (rgb(101, 101, 101)), while tool tip at other are more black. Is this expected? @bradleyrichter @srirambv

[2017-05-05 00:35] kumarrishav commented on #8305
I would like to give this a shot

[2017-05-05 00:51] kumarrishav commented on #7814
Oh, it's issue in Windows platform. Okay. In macOS, it's working fine.

[2017-05-05 00:56] bridiver commented on #8652
sorry, but we need to revert this for now. It stores methods in the state and we can't do that because they are not serializable

[2017-05-05 01:01] bridiver commented on #8652
I guess the menu template thing has been there for a long time so I'll leave this for now, but we need to fix that so I'll open a ticket

[2017-05-05 01:02] bridiver opened #8709 "don't store methods in appstate"
https://github.com/brave/browser-laptop/commit/a20ab35311f9c3819ebf0c5cc047473130c6330d set the menu template in the app state, but the template contains function and those can't be serialized. Need to refactor to remove the functions from the state
cc @bbondy @bsclifton @NejcZdovc

[2017-05-05 01:04] Liunkae commented on #7453
Moving assignment from #8643.

[2017-05-05 01:20] kumarrishav commented on #8698
i think you are talking about `origin` here. But why do need to show origin to user? Isn't name is enough? @srirambv

[2017-05-05 01:23] jeffslofish commented on #4063
I have investigated this issue and I did a preliminary implementation of being able to close tabs. However, it raises several issues:

1. Should "Close other tabs" or "Close tabs to the right" etc close pinned tabs?
1. What should happen if you close a pinned tab then choose to "Reopen last closed tab": should it open up pinned or unpinned?
1. Currently (with my naive implementation, if you close

[2017-05-05 02:07] jeffslofish commented on #7460
If you follow the steps above and then turn off HTTPS Everywhere, the page layout returns to normal.

[2017-05-05 02:35] alechp opened #8711 "Zombie pinned tabs (unpinned tabs resurrect themselves as pinned tabs persistently)"
- `Did you search for similar issues before submitting this one?`
Yes. There are similar/related issues, but this is slightly different I believe.

- `Describe the issue you encountered`:
Cannot unpin. Screencast reproduction:
https://drive.google.com/file/d/0B-5phY8L_KiAQXhvYVpnSXVJdWc/view?usp=sharing
(Publicly shared link. No sign-in required to view)

- `Platform (Win7, 8, 10? macOS? Linux dis

[2017-05-05 02:41] luixxiul commented on #2544
This has been fixed already

[2017-05-05 02:41] #2544 closed

[2017-05-05 02:44] jeffslofish commented on #7460
And I confirmed that if you open another browser (I used Chrome) and install HTTPS Everywhere this page breaks as well. As soon as you disable it, everything works fine. It appears they have special rulesets you can apply to specific sites for it to work properly. So, I don't think it is really the shields in general that are the cause of the problem, but rather specifically HTTPS Everywhere.

[2017-05-05 03:40] bsclifton commented on #8711
@alechp thanks for the detailed video 😄  I had the same problem and have fixed it (it'll be in our next release).  You can see more details in https://github.com/brave/browser-laptop/issues/8477

Basically, the problem is that the site you pinned is bookmarked and the bookmark is inside a folder.  You should be able to solve the problem by moving the bookmark to the root (top level of the bookmark

[2017-05-05 03:41] #8711 closed

[2017-05-05 03:58] luixxiul opened #8712 "base64-js is not found"
**Describe the issue you encountered:**
[code]

- Brave Version (revision SHA): c002e3f

- Steps to reproduce:
    1. `rm -rf node_modules`
    2. `npm i`
    3. `npm run watch`

- Extra QA steps:
    1.
    2.
    3.

- Any related issues:

[2017-05-05 04:02] Jacalz commented on #8700
Do you have windows build tools installed?

[2017-05-05 05:21] NejcZdovc commented on #8652
@bridiver yeah I listed this problem here #8528, because it would be overkill to refactor it in this PR. Problem is that the whole context menu is problematic and we need to find a better way to handle it.

[2017-05-05 07:12] Degine commented on #8600
I've been playing around with clean installs and see when exactly the problem occurs. It happens when the startup setting is changed from the default setting "My windows / tabs from last time". Perhaps in addition to which tabs were opened, it also saves the exact position and layout.
![image](https://cloud.githubusercontent.com/assets/28429860/25736486/741d3aa2-3172-11e7-9818-4db3fae4f5a9.png)

I

[2017-05-05 08:23] ChubbyNinja commented on #7386
Would like some indication as to if this is going to be added? Some acknowledgement, otherwise web-developers might as well stop using Brave as their main browser and go back to FF or Chrome.

We are desperately in need of the following:

- [ ] Responsive/Mobile mode for devtools
- [ ] Ability to re-send XHR requests through devtools
- [ ] Re-focus the devtools when they are already open. If you h

[2017-05-05 09:32] luixxiul commented on #5512
temporary workaround is to sync the history and bookmarks and save the passcode. After BSOD they should be recovered if Sync has worked without issue.

[2017-05-05 10:56] Kudlaty01 commented on #8664
@jonathansampson Is this issue also automatically an extension request?

[2017-05-05 13:40] serapath opened #8716 "devtools dont dock vertically/horizontally"
- Did you search for similar issues before submitting this one?
yes

- Describe the issue you encountered:

on inspect element the devtools open, but as a separate window.
I develop all the time and am used to dock it either vertically or horizontally next to the current browser tab, but not in a separate popup. I could not find the button to dock the devtools.
Is this supported?
If not, will/can

[2017-05-05 14:09] srirambv commented on #8698
It should show path like this to keeping it in line for all downloads.
![image](https://cloud.githubusercontent.com/assets/17010094/25748474/166e5202-31a3-11e7-9841-38015137c19d.png)

But for files downloaded from within the app we could skip it over. cc: @bbondy @bsclifton for thoughts

[2017-05-05 14:50] alexwykoff opened #8717 "Lated 1password extension disappeared from context menu"

[2017-05-05 14:55] alexwykoff opened #8718 "Latest Dashlane extension (4.6.6) disappeared from context menu"
The latest version of Dashlane has disappeared from the context menu and is not functioning properly.

Please revert until we can confirm the issue is resolved.

[2017-05-05 14:57] bbondy opened #8719 "Allow testing extensions from staging server"
With the latest 1password update, it no longer appears in the context menu of password boxes.  This is the first time we've regressed from an extension update.

It means that we need to test extension updates from a staging server before making the updates live.

https://github.com/brave/browser-laptop/issues/8717

[2017-05-05 15:09] cezaraugusto opened #8720 "Fallback extension to local data always when extension is disabled"
@bbondy reported an issue regarding LastPass where the image is broken and description is showing as `__MSG__`:

<img width="1077" alt="screenshot 2017-05-05 08 00 33" src="https://cloud.githubusercontent.com/assets/4672033/25751399/40d8bfa4-318b-11e7-9382-a4e058e0a88e.png">

Issue happens because once enabled for the first time, extension data is got from the manifest, and if you disable chrome-e

[2017-05-05 15:38] #8720 closed

[2017-05-05 15:40] #8712 closed

[2017-05-05 15:41] alexwykoff commented on #8648
pretty sure this works

[2017-05-05 15:41] #8648 closed

[2017-05-05 15:42] alexwykoff commented on #8665
DNR https://i.imgur.com/vSnKYaF.gifv

[2017-05-05 15:46] #8667 closed

[2017-05-05 16:06] #8568 closed

[2017-05-05 16:09] #8650 closed

[2017-05-05 16:16] Jacalz commented on #8292
Okay sorry for late reply, I don´t have any where to click it when maximized :confused:

[2017-05-05 16:24] philkloose commented on #8700
Yes, Microsoft Build Tools 2015 (v17.0.23107.10).

[2017-05-05 16:26] cezaraugusto commented on #7821
after slack convo moving back to 0.15.3

[2017-05-05 17:08] bsclifton commented on #7770
Closing this as a duplicate of https://github.com/brave/browser-laptop/issues/7641

[2017-05-05 17:08] #7770 closed

[2017-05-05 17:11] #8598 closed

[2017-05-05 17:23] lukemulks commented on #5512
Thanks for the reminder @luixxiul - I'll let the user know in this case.

The workaround will be helpful for many users, but I suspect that there are a good amount of users that only use one computer. Definitely good for users that have Sync capability. :-)

[2017-05-05 17:25] luixxiul opened #8722 "Remove the legacy code under paymentsContainer"
## Test plan

https://github.com/brave/browser-laptop/pull/8710#issue-226454142

[2017-05-05 17:26] #8722 closed

[2017-05-05 17:35] #8562 closed

[2017-05-05 17:57] #8659 closed

[2017-05-05 18:09] #7215 closed

[2017-05-05 18:09] #7641 closed

[2017-05-05 18:54] #8647 closed

[2017-05-05 18:59] bsclifton commented on #8303
@philkloose the milestone was removed from this one because the change ended up being reverted

Definitely my fault for not testing on macOS before merging ☹️   However, if you wanted to try this one again, you can cherry pick in the following two commits into a branch:
[code]
At that point, you'll have all the code which was in your PR.  Then, the remaining two tasks are:
1. Ensure right clicking

[2017-05-05 19:02] #8613 closed

[2017-05-05 19:09] bsclifton commented on #5159
@alexwykoff I think you said you may have a way to test multiple monitors... this would be a great one to retest.  It may not be fixed, but worth a rest for sure

[2017-05-05 19:12] bsclifton commented on #5159
If this fails QA, let's re-open and remove the milestone 😄

[2017-05-05 19:56] #2227 closed

[2017-05-05 19:56] #4045 closed

[2017-05-05 19:56] #7663 closed

[2017-05-05 20:54] #8634 closed

[2017-05-05 21:04] bsclifton commented on #6940
cc: @bradleyrichter @alexwykoff for help with a spec for what "Help" should point to and what that would look like (see my suggestion in the original (edited) post)

[2017-05-05 21:06] SilverPuppy commented on #5688
Still not working as of update today.

[2017-05-05 21:08] alexwykoff commented on #6663
These are the currently failing tests:

[code]
They were ran repeatedly with a failing result.

[2017-05-05 21:10] alexwykoff commented on #6808
This test passes easily and repeatedly.

[2017-05-05 21:10] #6808 closed

[2017-05-05 21:11] alexwykoff commented on #6667
most of these tests pass or are covered by https://github.com/brave/browser-laptop/issues/6663

closing in favor of https://github.com/brave/browser-laptop/issues/6663

[2017-05-05 21:11] #6667 closed

[2017-05-05 21:15] alexwykoff commented on #6666
confirmed, no navigation bar issues remain. closing.

[2017-05-05 21:15] #6666 closed

[2017-05-05 21:17] alexwykoff commented on #4329
Rather than having a perma-issue, a divide-and-conquer strategy is more productive. Closing in favor of the existing smaller issues.

[2017-05-05 21:17] #4329 closed

[2017-05-05 21:28] alexwykoff commented on #8617
Generated 05/05/2017

Release Notes:
 - Remove the legacy code under paymentsContainer. ([#8722](https://github.com/brave/browser-laptop/issues/8722))
 - 'Brave wallet QR code' should be localizable. ([#8663](https://github.com/brave/browser-laptop/issues/8663))
 - Remove duplicate localization strings (bitcoinAddress and bitcoinPaymentURL). ([#8662](https://github.com/brave/browser-laptop/issues/

[2017-05-05 21:29] Crocodile73 opened #8724 "Windows 10 x64 force closing"
last 2 builds have just force closed after installing. Loads for about 5 secs and shuts down. Any attempts to open again results in the same behaviour.

Windows 10 Creators Update
64 Bit

Reverted to the release on the 2/5 and all works again
-----------------------------------------------------------
Brave	0.15.2
rev	71f7dfd
Muon	2.58.8
libchromiumcontent	58.0.3029.81
V8	5.8.283.32
Node.js	7.9.0

[2017-05-05 21:47] alexwykoff commented on #8618
Generated 05/05/2017
Exclusion List:
 - [ ] Another context menu appears after displaying an context menu on new tab button. ([#8647](https://github.com/brave/browser-laptop/issues/8647))
https://github.com/brave/browser-laptop/issues/8647
 - [ ] Wallet creation fails due to worker error . ([#8632](https://github.com/brave/browser-laptop/issues/8632))
https://github.com/brave/browser-laptop/issues

[2017-05-05 21:49] alexwykoff commented on #8619
Updated 05/05/2017:
Mac Checklist:
 - [ ] Remove the legacy code under paymentsContainer. ([#8722](https://github.com/brave/browser-laptop/issues/8722))
 - [ ] Fallback extension to local data always when extension is disabled. ([#8720](https://github.com/brave/browser-laptop/issues/8720))
 - [ ] Base64-js is not found. ([#8712](https://github.com/brave/browser-laptop/issues/8712))
 - [ ] Switch f

[2017-05-05 22:05] alexwykoff opened #8725 "Manual tests for Windows x64 0.15.3"
Win64 Checklist:
 - [ ] Remove the legacy code under paymentsContainer. ([#8722](https://github.com/brave/browser-laptop/issues/8722))
 - [ ] Fallback extension to local data always when extension is disabled. ([#8720](https://github.com/brave/browser-laptop/issues/8720))
 - [ ] Base64-js is not found. ([#8712](https://github.com/brave/browser-laptop/issues/8712))
 - [ ] Switch from node-uuid to u

[2017-05-05 22:06] alexwykoff opened #8726 "Manual tests for Linux 0.15.3"
Linux Checklist:
 - [x] Remove the legacy code under paymentsContainer. ([#8722](https://github.com/brave/browser-laptop/issues/8722))
 - [x] Fallback extension to local data always when extension is disabled. ([#8720](https://github.com/brave/browser-laptop/issues/8720))
 - [x] Base64-js is not found. ([#8712](https://github.com/brave/browser-laptop/issues/8712))
 - [ ] Switch from node-uuid to u

[2017-05-05 22:08] #8651 closed

[2017-05-05 23:29] Liunkae commented on #8716
@serapath Thanks for the report! This is a duplicate of #3555, so please subscribe to that issue for any further updates.

[2017-05-05 23:29] #8716 closed

[2017-05-05 23:30] Liunkae commented on #3555
+1 from #8716.

[2017-05-05 23:32] Liunkae commented on #8704
Duplicate of #1615.

[2017-05-05 23:32] #8704 closed

[2017-05-05 23:32] Liunkae commented on #1615
+1 from #8704.

[2017-05-06 02:33] alexwykoff opened #8727 "05/05 reviewer - videos suddenly go mute in a tab, but in another tab, the sound is there"
Needs context - please ask Catherine Corre
- Did you search for similar issues before submitting this one?

- Describe the issue you encountered:

- Platform (Win7, 8, 10? macOS? Linux distro?):

- Brave Version (revision SHA):

- Steps to reproduce:
    1.
    2.
    3.

- Actual result:

- Expected result:

- Will the steps above reproduce in a fresh profile? If not what other info can be added?

[2017-05-06 02:38] alexwykoff opened #8728 "05/05 reviewer - a missing site in my bookmark, though it appeared again"
For more information, check with Catherine Corre
- Did you search for similar issues before submitting this one?

- Describe the issue you encountered:

- Platform (Win7, 8, 10? macOS? Linux distro?):

- Brave Version (revision SHA):

- Steps to reproduce:
    1.
    2.
    3.

- Actual result:

- Expected result:

- Will the steps above reproduce in a fresh profile? If not what other info can be

[2017-05-06 02:40] alexwykoff opened #8729 "05/05 reviewer - tabs could not be moved either to the left or to the right"
For more information, check with Catherine Corre
- Did you search for similar issues before submitting this one?

- Describe the issue you encountered:

- Platform (Win7, 8, 10? macOS? Linux distro?):

- Brave Version (revision SHA):

- Steps to reproduce:
    1.
    2.
    3.

- Actual result:

- Expected result:

- Will the steps above reproduce in a fresh profile? If not what other info can be

[2017-05-06 02:41] alexwykoff opened #8730 "05/05 reviewer - clicking “Never For This Site” when asked if I should let Brave remember password does not work"
For more information, check with Catherine Corre
- Did you search for similar issues before submitting this one?

- Describe the issue you encountered:

- Platform (Win7, 8, 10? macOS? Linux distro?):

- Brave Version (revision SHA):

- Steps to reproduce:
    1.
    2.
    3.

- Actual result:

- Expected result:

- Will the steps above reproduce in a fresh profile? If not what other info can be

[2017-05-06 02:42] alexwykoff opened #8731 "05/05 reviewer - back button could not be clicked"
For more information, check with Catherine Corre.
- Did you search for similar issues before submitting this one?

- Describe the issue you encountered:

- Platform (Win7, 8, 10? macOS? Linux distro?):

- Brave Version (revision SHA):

- Steps to reproduce:
    1.
    2.
    3.

- Actual result:

- Expected result:

- Will the steps above reproduce in a fresh profile? If not what other info can be

[2017-05-06 02:44] alexwykoff opened #8732 "05/05 reviewer - when Brave’s ad blocker is turned on, I need to specify first a file’s extensions (.jpg, .mp4, etc.) for downloads"
For more information, check with Catherine Corre.
- Did you search for similar issues before submitting this one?

- Describe the issue you encountered:

- Platform (Win7, 8, 10? macOS? Linux distro?):

- Brave Version (revision SHA):

- Steps to reproduce:
    1.
    2.
    3.

- Actual result:

- Expected result:

- Will the steps above reproduce in a fresh profile? If not what other info can be

[2017-05-06 02:46] alexwykoff opened #8733 "05/05 reviewer - disabling Fingerprint Protection is not working"
For more information, check with Catherine Corre.
- Did you search for similar issues before submitting this one?

- Describe the issue you encountered:

- Platform (Win7, 8, 10? macOS? Linux distro?):

- Brave Version (revision SHA):

- Steps to reproduce:
    1.
    2.
    3.

- Actual result:

- Expected result:

- Will the steps above reproduce in a fresh profile? If not what other info can be

[2017-05-06 04:42] cezaraugusto opened #8734 "Replace all CSS and l10n selectors with data-test-id for unit tests"
This would ease the work of Aphrodite refactoring since we lose the option to tag components by CSS selector.

This work is split between unit tests and webdriver tests.

[2017-05-06 04:42] cezaraugusto opened #8735 "Replace all CSS and l10n selectors with data-test-id for webdriver tests"
## Test plan

https://github.com/brave/browser-laptop/pull/11912#issue-273208108

----

This would ease the work of Aphrodite refactoring since we lose the option to tag components by CSS selector.

This work is split between unit tests and unit tests.

Related #8734

[2017-05-06 04:43] cezaraugusto commented on #8734
Related: #8735

[2017-05-06 07:20] bsclifton commented on #8575
[code]

[2017-05-06 07:41] luixxiul commented on #6380
This has been fixed with #8443 (#8136)

[2017-05-06 07:41] #6380 closed

[2017-05-06 07:51] #8575 closed

[2017-05-06 08:04] #8627 closed

[2017-05-06 08:11] bsclifton commented on #5749
I'm going to close this issue as there haven't been any recent reports.  If we see this again, please reopen

@toolness if you still use Brave, please let me know if you still experience the issue? Thanks!

[2017-05-06 08:17] bsclifton commented on #7287
There isn't enough information here to investigate

If anybody experiences the problem where Brave is not shown as an option for default browser (after it's installed), please re-open this issue and include information that may help narrow down the issue (what does show up? screenshot might be helpful. Did you try re-installing by right clicking installer, picking install as administrator?)

[2017-05-06 08:17] #7287 closed

[2017-05-06 10:51] luixxiul commented on #8652
@bridiver @NejcZdovc so does this issue have to be reopened? I'm asking it for QA work.

[2017-05-06 11:18] luixxiul opened #8736 "Regression: margin between buttons on backup brave wallet dialog"
## Test plan

https://github.com/brave/browser-laptop/pull/8737#issue-226764826

----

**Describe the issue you encountered:** https://github.com/brave/browser-laptop/pull/8560#issuecomment-299632964

- Brave Version (revision SHA): 0.15.3 preview 3

- Steps to reproduce:
    1. Open about:preferences#payments
    2. Open advanced settings
    3. Click "Back up your wallet"

- Actual result:
   ![

[2017-05-06 11:22] NejcZdovc commented on #8652
@luixxiul no need to be reopened, if you are talking about  context menu, we will address this issue later on.

[2017-05-06 11:57] luixxiul commented on #8736
I misunderstood the issue but found the solution anyway. I'll push a fix soon.

[2017-05-06 14:36] kspearrin commented on #7830
@bsclifton I think this is supported now? https://github.com/brave/browser-laptop/issues/4760

[2017-05-06 14:55] srirambv opened #8738 "Video doesn't play when opened"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Video doesn't play when opened

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.15.3
rev	1c04c53

- Steps to reproduce:
    1. Clean install 0.15.3 Preview 3
    2. Open a new tab and click on the YouTube tile
    3. Video buffers and af

[2017-05-06 14:57] kumarrishav commented on #6934
@bradleyrichter will Options in history submenu be same as what is there in History menu at tool bar (at top) ? Because, in chrome it's not exactly same. Can we have mocks for same?

[2017-05-06 14:57] #8736 closed

[2017-05-06 15:00] luixxiul commented on #8629
This sould be a blocker for 0.15.3, not 0.15.4 right?

[2017-05-06 15:01] luixxiul commented on #8629
This remains an issue on the latest preview on Debian.

[2017-05-06 15:06] luixxiul commented on #8738
It seems that it is because "allow autoplay media" is enabled by default.

Some kind of layer/popup/placeholder (with dark transparent background like modal dialog) definitely should be there in terms of UX. otherwise people would complain, "why did you guys stop autoplaying youtube video?"

[2017-05-06 15:19] luixxiul opened #8739 "Disable autoplay tracking ticket"
**Describe the issue you encountered:**

- [x] This video should play when you press the play button regardless of how autoplay is set for this page. https://github.com/brave/browser-laptop/issues/8739#issuecomment-302284448 #8897

When autoplay disabled:
- [x] Let users understand that autoplay is disabled by default by adding layer/placeholder (like flash object) for example
    - enabling autop

[2017-05-06 15:20] luixxiul commented on #8738
I added my own first impression with a couple of suggestions: #8739

[2017-05-06 15:25] luixxiul commented on #8739
If those issues could block the release, please change the milestone or add labels. thanks!

[2017-05-06 15:40] luixxiul opened #8740 "Ctrl+W does not close a tab until another tab is hovered"
**Describe the issue you encountered:** Ctrl+W does not close a tab.

- Platform (Win7, 8, 10? macOS? Linux distro?): Debian

- Brave Version (revision SHA): 1c04c53

- Any related issues:

[2017-05-06 15:41] luixxiul commented on #8740
File -> Close on the main menu does not close tabs either

[2017-05-06 15:42] luixxiul commented on #8586
This works fine on Debian now. CC @srirambv for confirmation

[2017-05-06 15:45] luixxiul commented on #8731
+1 on Debian

[2017-05-06 15:48] luixxiul commented on #8740
`History -> Home` also seem to be corrupted.

[2017-05-06 16:03] NejcZdovc commented on #8740
Is this limited to debian only?

[2017-05-06 16:30] danielrob commented on #8543
I can't reopen this issue it seems, but this is still not fixed. Same repro steps.
[code]

[2017-05-06 16:58] luixxiul commented on #8543
The fix should be ready on the next release, which is 0.15.3 (0.15.2 is a hotfix release).

[2017-05-06 17:34] kumarrishav commented on #8698
Or can we have this in preference to disable the origin? Though it's good show the origin but as a user it doesn't much value (i think). @bbondy @bsclifton

[2017-05-06 17:47] srirambv commented on #8586
I don't see `Recently closed` under History even on previous builds. I just see these two options
![image](https://cloud.githubusercontent.com/assets/17010094/25774690/61da725e-328c-11e7-9421-cad484f107f3.png)

[2017-05-06 17:53] Jacalz commented on #8698
I am with you on disabling it since it doesn't have much value to me 😉 @kumarrishav
My suggestion is having it in the generals tab right under default download path if so 👌

[2017-05-06 17:56] srirambv opened #8741 "Pressing Enter doesn't load the typed in URL or search term"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
Pressing Enter doesn't load the typed in URL or search term

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.15.3
rev	1c04c53

- Steps to reproduce:
    1. Upgrade to 0.15.3 from 0.15.2
    2. Open a new tab and type in a search item or

[2017-05-06 18:20] NejcZdovc commented on #8741
I just tried it on macOS and it's working for me

[2017-05-06 18:44] srirambv commented on #8741
I think its an issue after preference change restart. I can replicate the issue on a new profile as well

[2017-05-06 19:02] darkdh commented on #8740
@NejcZdovc it happens on Mac too

[2017-05-06 19:18] nyedidikeke commented on #7386
Any update on the current state of these feature requests please?

[2017-05-06 19:28] Jacalz commented on #8741
I had the same issue on Mac yesterday on the master branch 😅

[2017-05-06 19:38] darkdh commented on #8738
I will apply 1. and 3. suggestions from #8739

[2017-05-07 05:51] bsclifton opened #8742 "After dismissing the "Support your favorite sites" banner, focus is not returned to the active tab's content area"
This is likely a more broad issue (ex: affecting all notifications and the accepting of their options).

But issue as reported:
Being presented with the "Are you ready to support your favorite sites".  You choose "no" and focus isn't sent back to the active tab's content area

[2017-05-07 06:15] bsclifton commented on #8742
Related https://github.com/brave/browser-laptop/issues/7666

[2017-05-07 06:15] bsclifton commented on #7666
similar https://github.com/brave/browser-laptop/issues/8742

[2017-05-07 06:29] NejcZdovc commented on #8741
@srirambv do you have more specific STR (which preference)? One described above doesn't work for me.

[2017-05-07 06:40] luixxiul commented on #8741
I'm not sure STR but for me it is experienced on 0.15.3 on Debian.

[2017-05-07 06:42] NejcZdovc commented on #8741
I notice this bug when I was working on navigator, but I thought that it was my code, that was problematic. After some changes it was working correctly for me. I will try it now on Windows VM.

[2017-05-07 06:58] bsclifton commented on #8740
@luixxiul do you have more info?  There is a bad bug which may be masking this behavior:
https://github.com/brave/browser-laptop/issues/8640

Basically, if you mouse over any other tab... the Ctrl + W goes to that window instead.  So it can appear that it's not working when it really does

[2017-05-07 07:08] luixxiul commented on #8629
Findings:

1 - Close the window by closing all of the tabs -> process remains
2 - Close via main menu -> process closed

So I'm wondering if it is related with the tab close handling. Also might be related with: #8740

[2017-05-07 07:10] bsclifton commented on #8629
Confirmed- this is a really bad one ☹️

[2017-05-07 07:13] luixxiul commented on #8586
yeah I don't see the items again. the issue seems to be intermittent. I'm trying to find the consistent STR.

[2017-05-07 07:13] luixxiul commented on #8525
Another STR: Select `New Tab` on the context menu displayed by clicing the new tab button

[2017-05-07 07:14] luixxiul commented on #8740
@bsclifton yeah after I move mouse over other tabs the shortcut/menu started working.

[2017-05-07 07:25] bsclifton commented on #8740
@luixxiul hovering over another tab (because of the bug) should be causing that tab to closed or given input from the URL bar. Basically, once a tab is focused, it's as if you switched to it (even if you didn't).  This is the bug that's captured

Do you think this issue here is a duplicate?

[2017-05-07 07:25] luixxiul opened #8743 "Add sufficient test plans to issues for 0.15.3"
**Describe the issue you encountered:** Add sufficient test plans to issues for 0.15.3

https://github.com/brave/browser-laptop/issues?q=is%3Aissue+label%3AQA%2Fsteps-required+is%3Aclosed+milestone%3A0.15.300

Please make sure that if test plans are not speficied issues will not be tested by QA team or confirmed that commits for the issues should work as expected. I am emphasizing it as we are get

[2017-05-07 07:31] luixxiul commented on #8740
I could reproduce the bug you found, though I cannot tell if they have the same cause (surely they are related)

[2017-05-07 07:33] NejcZdovc commented on #8740
@bsclifton @luixxiul I am right now trying to find out why #8640 is happening. I have some leads, but nothing concrete yet.

[2017-05-07 07:34] bsclifton commented on #8698
@kumarrishav I can't think of any good reason we'd want to hide this.  Because downloads can't always be trusted, showing the origin and download method (HTTP/HTTPS) is very important, IMO.  Otherwise, all you know was that a download happened

For local files, we could choose to show something different... like "Local file" or show the folder it was downloaded to

cc: @diracdeltas for comment

[2017-05-07 07:42] luixxiul commented on #8743
If the change is so wide that you cannot specify what should be tested, please have a look at https://github.com/brave/browser-laptop/wiki/Manual-Tests and ask reviewers to run the tests to avoid general regressions.

Even though the amount of the tests would be huge, they would definitely reduce chances of regressions and the works which might have been unnecessary if the change would be tested w

[2017-05-07 07:51] kumarrishav commented on #8698
@bsclifton agree with you. So, question is what content we should show for local files (file:/// , blob:chrome-extension)

[2017-05-07 08:42] Yerycho opened #8744 "(REQ)-Pls add more extensions / Chrome web store /"
- Did you search for similar issues before submitting this one?

- Describe the issue you encountered:

- Platform (Win7, 8, 10? macOS? Linux distro?):

- Brave Version (revision SHA):

- Steps to reproduce:
    1.
    2.
    3.

- Actual result:

- Expected result:

- Will the steps above reproduce in a fresh profile? If not what other info can be added?

- Is this an issue in the currently relea

[2017-05-07 08:43] #8744 closed

[2017-05-07 09:40] srirambv commented on #8741
Any preference change which requires restart. I also have this issue when I open a private tab and then any subsequent normal tabs doesn't register the Enter. This I think is a blocker for 0.15.3 as the browser becomes unuseable. I had to set homepage for each tab and use it. Will try to get exact STR in the mean time.

[2017-05-07 10:31] NejcZdovc commented on #8640
Ok I think that I found the main problem. I just pulled down version 0.14.1 and I noticed that this line https://github.com/brave/browser-laptop/blob/master/app/browser/tabs.js#L322 is not called when hovering over tab. Problem is that in 0.15.3 (latest master) this line is called. And with this line we change active tab value. Problem is that when you hover out of the preview tab, this line is no

[2017-05-07 12:16] NejcZdovc commented on #8640
With version 0.15.0 this was changed and this line is triggered but it's working correctly. Investigating further. I can confirm that in 0.15.0 we don't have this problem.

[2017-05-07 12:25] sknesebeck commented on #3669
Same issue here. Not fixed yet. Makes scrolling websites a pain / almost unusable...

[2017-05-07 12:49] luixxiul commented on #804
Not only on launch but also on detach a tab.

[2017-05-07 13:57] srirambv commented on #8731
+1 on Windows 10 x64 with 0.15.3 Preview 3

[2017-05-07 14:13] srirambv opened #8745 "On tab hover causes current tab history to disappear"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
On tab hover causes current tab history to disappear

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version (revision SHA):
Brave	0.15.3
rev	1c04c53

- Steps to reproduce:
    1. Clean install 0.15.3 Preview 3
    2. Open a tab and visit a site and navigate few pages

[2017-05-07 14:15] luixxiul commented on #8745
Also maybe: #8740 #8640

[2017-05-07 14:25] NejcZdovc commented on #8745
yeah this is a dup of #8640

[2017-05-07 14:28] #8745 closed

[2017-05-07 14:42] luixxiul opened #8747 "Tab loading bugs on npm run watch && npm start"
**Describe the issue you encountered:** Tab loading bugs on npm run watch && npm start.

- Platform (Win7, 8, 10? macOS? Linux distro?): macOS

- Brave Version (revision SHA): 1c04c53

- Steps to reproduce:
    1. `git checkout master && git fetch upstream && git rebase upstream/master`
    1. `rm -rf node_modules && rm -rf ~/.electron && npm i`
    2. `npm run watch`
    3. `npm start`
    4. Cli

[2017-05-07 14:46] luixxiul commented on #8747
Also the tab is duplicated each time when you edit and save files.

If you click the tile on one tab, the rest of the tabs also open the same page.

[2017-05-07 14:55] NejcZdovc commented on #8747
I noticed this bug for the first time when we merged tear off tabs

[2017-05-07 15:05] luixxiul commented on #8747
this bug is so annoying that devs would lose concentration. I think this should be fixed soon.

[2017-05-07 16:29] bitcoinuser opened #8748 "PDF failed to load"
- Did you search for similar issues before submitting this one?

No

- Describe the issue you encountered:

I tried to load a pdf file, but appear this message:
PDF.js v1.7.428 (compilação: db86bc1d)
Mensagem: stream must have data

- Platform (Win7, 8, 10? macOS? Linux distro?):

Ubuntu 64

- Brave Version (revision SHA):

Brave 0.15.2

- Steps to reproduce:
    1. Tried to load a pdf file on int

[2017-05-07 17:25] Jacalz opened #8749 "Suspended tabs reload when restoring the browser window"
- Did you search for similar issues before submitting this one?
Yes
- Describe the issue you encountered:
When having unloaded tabs in the tabsbar and then minimizing the browser loads them again.
- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10
- Brave Version (revision SHA):
0.15.2
- Steps to reproduce:
    1. Go to youtube and right click a couple of videos to open in a new tab
    2.

[2017-05-07 18:35] NejcZdovc commented on #7259
@alexwykoff can we close this one?

[2017-05-07 18:44] jonathansampson commented on #7830
@kspearrin Indeed it is :)

[2017-05-07 18:44] #7830 closed

[2017-05-07 19:07] NejcZdovc commented on #8640
After some more hours I notice that production is working, but development was not working way before the release. I just tested browser on this commit and it's already failing there 0f5452424.

Can it be related to node version? I am testing all of this with node 7.9.0. We switched to 7.9.0 lately.

[2017-05-07 19:23] kspearrin commented on #7921
Can we unhide now that #7830 is closed?

[2017-05-07 19:38] diracdeltas commented on #8698
FWIW, #8645 will allow us to load the PDF file directly instead of via a blob: URL, so that would partly solve the issue.

[2017-05-07 19:39] diracdeltas commented on #8698
we could just replace local URL origins (file:, blob:, data:, chrome-extension:) with `Local file` instead of the full origin.

[2017-05-07 21:30] matthew-p commented on #6156
please enable this as a built in option, there have been hundreds of thousands of extension downloads _solely_ to enable this single shortcut, so there is clearly a substantial demand:

https://chrome.google.com/webstore/search/backspace

[2017-05-08 01:08] tomasdev commented on #3358
I see one could technically do Chrome -> 1Password -> Brave, but that's not free. Given Brave open-source nature, would love to be able to import my Chrome passwords into it. 👍

[2017-05-08 02:19] #8548 closed

[2017-05-08 02:28] #2714 closed

[2017-05-08 02:37] #8550 closed

[2017-05-08 02:44] bbondy opened #8750 "Dropping a URL onto URL bar regressed creating a new tab"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
If you drop a file onto the URL bar it should load a new tab with the URL.

- Platform (Win7, 8, 10? macOS? Linux distro?):
All

- Brave Version (revision SHA):
latest

- Steps to reproduce:
    1. Drop a file onto the urlbar

- Actual result:
Uncaught TypeError: windowActions.newFrame

- Exp

[2017-05-08 03:40] jonathansampson commented on #8739
@darkdh @bsclifton Thoughts on making this higher-priority/release-blocking given its impact on YouTube?

[2017-05-08 03:42] drcayman commented on #8559
@i-rme Have you ever realized？

[2017-05-08 03:45] drcayman commented on #8001
@srirambv when will this plugin be made?

[2017-05-08 04:54] darkdh commented on #8739
fixed and added blocking label

[2017-05-08 04:56] darkdh commented on #8739
About `Stop downloading of video`, you can see it actually stops downloading when paused(being autoplay blocked)

[2017-05-08 05:56] luixxiul opened #8752 "noScriptButton is no longer displayed"
**Describe the issue you encountered:** noScriptButton is no longer displayed.

- Platform (Win7, 8, 10? macOS? Linux distro?):

- Brave Version (revision SHA): b9ac832

- Steps to reproduce:
    - Open twitter.com and `Block Scripts`, or
    - `npm run test -- --grep='blocks scripts in a regular tab'`

- Extra QA steps:
    1.
    2.
    3.

- Any related issues:

[2017-05-08 06:00] luixxiul commented on #8752
However why has this error not been detected by travis?

I checked the latest log and it seems to me that some/many tests on `braveryPanelTest.js` are not run there.

[2017-05-08 06:09] bsclifton commented on #8741
I can repro fairly easily.  I agree about it being a blocker.  It seems to happen on any site which has not been visited before

STR:
1. Open a new tab
2. Type URL of a site that you have never been to before into the URL bar
3. Hit enter
4. Observe nothing happens

[2017-05-08 06:13] bsclifton opened #8753 "Bookmarks Manager folder area has scrollbar in wrong position"
- Did you search for similar issues before submitting this one?
Yes

- Describe the issue you encountered:
When visiting about:bookmarks, if the window is large, the scrollbars are put into the wrong place

- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS

- Brave Version (revision SHA):
0.15.3 preview 3

- Steps to reproduce:
    1. Visit about:bookmarks
    2. Have enough folders that it ca

[2017-05-08 06:15] bsclifton commented on #8753
@cezaraugusto I believe this is happening after https://github.com/brave/browser-laptop/pull/8532

I assigned 0.15.3 in case you had time. If not, it's all good- this is low priority and you can remove the milestone.  Thanks 😄

[2017-05-08 06:35] #6291 closed

[2017-05-08 06:38] NejcZdovc commented on #8741
@bsclifton can you take this one, I still can't reproduce it on mac.

[2017-05-08 06:57] cezaraugusto commented on #8734
Labeling to 0.15.3 to avoid rebasing as we add more tests but feel free to push back

[2017-05-08 07:03] bsclifton commented on #7828
@kumarrishav no plan (yet)... Do you have a proposal?

Here are a few sub-tasks we can do:

- [ ] Create a skeleton `about:contributors` page (it can be empty)

- [ ] Write a util module which queries GitHub for `brave/browser-laptop` and pulls contributor stats.  We'd want to exclude `Members` of the Brave organization since this issue is focused on our awesome contributors and community 😄

- [ ]

[2017-05-08 08:09] kumarrishav commented on #7828
@bsclifton sure, let me do some research and brainstorming on this. For now we will start with empty `about:contributors` page.

[2017-05-08 08:51] i-rme commented on #8559
What?

[2017-05-08 09:00] srirambv commented on #7966
I think this is fixed in 0.15.3 preview 3. I do not see mouse pointer when viewing full screen video. But will keep the issue open just in case.

[2017-05-08 09:08] NejcZdovc commented on #8741
Ok I manage to reproduce it (only with luck). Problem is that tab is undefined in this line https://github.com/brave/browser-laptop/blob/master/app/browser/tabs.js#L419

[2017-05-08 09:14] NejcZdovc commented on #8741
It's strange, because tabId is in the state

![image](https://cloud.githubusercontent.com/assets/9574457/25797901/6a971bbe-33df-11e7-8850-476178d7f791.png)

![image](https://cloud.githubusercontent.com/assets/9574457/25797907/727c8242-33df-11e7-8131-d59a17dbecc1.png)

We send in 61, but function `getWebContents` will return undefined

[2017-05-08 09:21] NejcZdovc commented on #8741
ok maybe I found where the problem is

![image](https://cloud.githubusercontent.com/assets/9574457/25798099/26ada96c-33e0-11e7-8a0e-85fb74b5012d.png)

as you can see we have 3 items in tabs and we have two active tabs. When we click enter we get active tab and in this case we would get 29, even though this tab is not opened

![image](https://cloud.githubusercontent.com/assets/9574457/25798108/2e4e

[2017-05-08 09:21] NejcZdovc commented on #8741
note I have preview tab turned **OFF**

[2017-05-08 09:35] srirambv commented on #8741
@NejcZdovc  Do you also see a new tab with back button enabled? I see this on each new tab after disabling tab preview

[2017-05-08 09:39] NejcZdovc commented on #8741
Yeah back button is here, because browser thinks that 29 is active which had history, but 69 is completely new tab without history. This back button shouldn't be here.

[2017-05-08 09:41] NejcZdovc commented on #8741
I think that when we fix this app state problem we will fix this one, #8740 and #8741.

[2017-05-08 09:42] drcayman opened #8757 "Create a new Brave browser release CERT_PASSWORD=‘password-here’ What is password-here?"
Create a new Brave browser release   windows   CERT_PASSWORD=‘password-here’      What is password-here?

[2017-05-08 09:43] drcayman commented on #8753
@bsclifton   Create a new Brave browser release windows CERT_PASSWORD=‘password-here’ What is password-here?

[2017-05-08 09:44] Jacalz commented on #7828
Should there be both code contributors and other contributors or just code contributors? Also displaying a short text of what they are doing might be one thing to add 😉

[2017-05-08 09:56] kumarrishav commented on #7828
It should be (and will be) for all type of contributors. It's just it's easy to fetch data from github and populate but for others, we are still thinking how to get their contributions. One way is manual, any ideas @Jacalz  ?

[2017-05-08 09:58] NejcZdovc commented on #7828
I would first add github and then in next iterations add additional services.

[2017-05-08 10:05] srirambv commented on #7538
This is an issue on Windows 10 x64 for preview 3. Key press is not registered while typing URL even at normal speed

[2017-05-08 10:06] srirambv commented on #7538
Would like to move this to 0.15.3 as it would be a blocker

[2017-05-08 10:22] msiyer commented on #8691
@crazy-max This is good. Compilation on Linux is straightforward. I have not had the time to compile on Windows. For people like us, we can have a git clone on our system which can be updated and built weekly using a cron job. A good solution for auto-update :), I think.

However, for mass consumption two problems still remain unaddressed:

- The "executable signing" without which distributing the

[2017-05-08 10:30] Crocodile73 commented on #8724
Issue Resolved in 0.15.3 Preview 3

[2017-05-08 10:30] #8724 closed

[2017-05-08 10:39] srirambv commented on #7828
@bsclifton @NejcZdovc rough mockup for about:contributor
![image](https://cloud.githubusercontent.com/assets/17010094/25800823/cbe6f1c0-33e2-11e7-85d0-a1fd23b39082.png)

cc: @bradleyrichter for thoughts

[2017-05-08 10:42] luixxiul commented on #7828
Also https://www.libreoffice.org/about-us/credits/ for reference

[2017-05-08 10:47] srirambv commented on #8665
Still an issue on Preview 3 of 0.15.3
[code]

[2017-05-08 10:49] NejcZdovc commented on #8665
I think that this commit will close this one as well d3ff9d9c82150069ed220596a3ef8ddb448f18d8

cc @bbondy

[2017-05-08 11:55] chotaire opened #8758 "Unable to view HTTPS certificate (0.15.2, FC25 Gnome)"
- Did you search for similar issues before submitting this one?
yes

- Describe the issue you encountered:
When trying to view a certificate (CTRL+SHIFT+I), then click on "View certificate", no window opens.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Linux Fedora 25, Gnome

- Brave Version (revision SHA):
0.15.2

- Steps to reproduce:
    1. Go to  a HTTPS website
    2. Hit CTRL+SHIFT+I

[2017-05-08 12:12] ksmithut commented on #8711
@bsclifton I'm seeing this issue, but I have no bookmarks. Have there been other known causes that can be worked around?

[2017-05-08 12:17] Jacalz commented on #7966
Yes it looks as to be fixed with 0.15.3, I wonder what fixed it :+1: :confused:

[2017-05-08 12:18] Jacalz commented on #7966
If we found what commit fixed it we can have it in the release notes in my oppinion :+1:

[2017-05-08 12:58] srirambv commented on #45
Doesn't work on Win 10 x64 with 0.15.3 preview 3

[2017-05-08 13:14] forresto commented on #883
This case has been bugging me... might not be a fuzzy issue, though:

1. go to `softfab.org` . close tab
2. go to `github.org/softfab` , close tab
3. type `softfab` don't see github suggestion

[2017-05-08 14:27] alexwykoff opened #8759 "bookmarks bar should show a folder icon for each folder"

[2017-05-08 14:41] luixxiul commented on #8289
I think the issue has been fixed and can be closed.

[2017-05-08 15:11] luixxiul opened #8760 "Replace slashdot in braveryTestPanel.js with our own iframe to fix travis error"
## Test plan
https://github.com/brave/browser-laptop/pull/9148#issue-232353963

`npm run test -- --grep="Adblock stats iframe tests"`

----

**Describe the issue you encountered:** It seems that the travis tests which display `slashdot.org` in an iframe fail a lot of times (or always):

https://travis-ci.org/brave/browser-laptop/jobs/229862037#L4225
https://travis-ci.org/brave/browser-laptop/jobs/

[2017-05-08 15:28] jonathansampson commented on #7966
@darkdh @bridiver Are either of you aware of a change that would have resolved this issue?