[2018-03-30 20:58] #13629 closed

[2018-03-30 21:05] BrendanEich commented on #13668
This came up on reddit and our advice to use fingerprinting protection was not useful due to auth systems that do canvas readback (slider captchas etc). I think we must fix this issue so users do not face the bad choice of logging in over a vpn with such a captcha, leaking home ipaddr, and too late then enabling f.p. Cc: @diracdeltas

[2018-03-30 22:05] rdewolff commented on #9531
Would love to see this must have plugin implemented in Brave!

[2018-03-30 22:14] jumde commented on #13669
Merged - https://github.com/brave/browser-laptop/pull/13673

[2018-03-30 22:14] #13669 closed

[2018-03-30 22:19] bradleyrichter commented on #271
A dark toolbar theme for the new Chrome based UI is easy. But I’d like to keep this thread alive for the harder and more important task of “dark mode” which will need to include darkening of all styles in the UI including the white backgrounds of the prefs (settings) pages.

Dark theme (toolbars) + Darkening DOM content + dark browser page content = complete success.

Some of these may still be po

[2018-03-30 22:47] kjozwiak commented on #13487
Also noticed this happening on https://badssl.com/ when QAing `0.22.13`.. Example:

![icoflash](https://user-images.githubusercontent.com/2602313/38156245-8109e342-344a-11e8-8eaa-80778fb02f57.gif)

[2018-03-31 04:34] jonathansampson commented on #12205
I've added both of these changes. Thank you again, @TheAresjej!

[2018-03-31 04:34] #12205 closed

[2018-03-31 08:10] idecipher01 commented on #10563
I started using brave last week and this bug is still there. Steps to reproduce given by @darkdh : working!
my OS : Kali linux (Debian)

Brave: 0.21.24
V8: 6.5.254.36
rev: 19c78a1624118e344852c4c0f44c0d45be841b5f
Muon: 4.9.3
OS Release: 4.13.0-kali1-amd64
Update Channel: Release
OS Architecture: x64
OS Platform: Linux
Node.js: 7.9.0
Brave Sync: v1.4.2
libchromiumcontent: 65.0.3325.162

[2018-03-31 08:52] Jacalz commented on #13657
Please add this https://github.com/brave/browser-laptop/issues/13092 to list

[2018-03-31 09:05] Jacalz commented on #13092
To be honest I dont see it in latest 0.22.x build either right now, but I did in an earlier version 😓

[2018-03-31 16:26] jonathansampson commented on #13632
I just logged-in to pcgamer.com (the first site I could find that uses Disqus); didn't encounter any issues. These are my settings for pcgamer.com:

![image](https://user-images.githubusercontent.com/815158/38165259-6148f502-34d6-11e8-8e2b-1f1ba93f93ac.png)

[2018-03-31 16:30] jasonrsadler commented on #10484
@luixxiul , Do you have any more example urls that didn't show verified at sub levels?

[2018-03-31 18:31] eljuno commented on #6156
+1 from community https://community.brave.com/t/backspace-pdf-and-or-extensions/18960?u=eljuno

[2018-04-01 00:32] Tomatoshadow2 commented on #13666
@MkllTech Please update to the latest version of Brave on Release channel, see if that fixes the problem. The version you are on was released Feb 23rd.

[2018-04-01 14:15] audricd commented on #6902
having the issue. I see its mentioned that if docker works on a machine, this wont either because they use the same API. In other words, this wont work on any vm of any kind unless you have nested virtualization. Which is a shame. VDIs are growing and growing

[2018-04-01 14:49] MkllTech commented on #13666
This is the latest version available to me.

[2018-04-01 15:04] jrredhorse commented on #8327
+1

[2018-04-01 17:29] jonathansampson commented on #13030
I believe I'm experiencing this too:

[code]

[2018-04-01 17:30] eljuno commented on #13384
+1 from community https://community.brave.com/t/dashlane-extension-not-working-opens-blank-tab/19003?u=eljuno

[2018-04-01 19:03] DesertDwarf commented on #11463
+1 from me (Windows 10) user. This is the only thing keeping me from using this as my default browser.

[2018-04-01 21:05] fullspeedz commented on #7778
Is there any news on this? Not having Enpass is the only thing stopping me from using brave.

[2018-04-01 23:07] DesertDwarf commented on #7742
I like this idea. What happened to it?

[2018-04-01 23:59] hammok commented on #13651
@Exotic-Code Yep, misunderstood.  :-) . Or the default should just be duck duck go!  :-)

[2018-04-02 00:37] riegelstamm commented on #6604
+1 macOS 10.13.3 Brave 0.21.24 importing from Firefox bookmarks, cookies, history, together and separately

[2018-04-02 04:01] Tomatoshadow2 commented on #13666
The latest release version is 22.13

[2018-04-02 04:03] Tomatoshadow2 commented on #13661
@flamsmark @diracdeltas Can anyone help edit this, if more answers need to be provided?

[2018-04-02 04:32] bsclifton commented on #13625
hi @akashnimare - please do PR this 😄

[2018-04-02 04:42] bsclifton commented on #13092
@Jacalz can you check the Muon branch used for this, to see if your change is there?
https://github.com/brave/muon/tree/5.1.x+65.0.3325.181

[2018-04-02 04:43] bsclifton commented on #13092
@Jacalz do you have steps to test this also? or can you provide the testing support?

[2018-04-02 06:09] jonathansampson opened #13676 "Default Zoom Regresses with New Window"
### Description
When creating a new window, the _default zoom_ may regress to 100% (though this only impacts the browser UI, and is not reflected in the dropdown menu value).

### Steps to Reproduce
1. Set _default zoom_ to 150%
2. Create a new window

**Actual result:**
Browser UI regresses to 100%

**Expected result:**
Browser UI stays at 150%

**Reproduces how often:**
Always

### Brave Version

[2018-04-02 06:19] jonathansampson commented on #6955
@Gnat008, do you still repro this with recent builds? I just tried and failed to repro; tempted to mark as resolved :)

[2018-04-02 10:03] Xaconi commented on #1943
Same problem here...
![image](https://user-images.githubusercontent.com/1944438/38192605-e80dfab8-366d-11e8-8543-a1e4995e97e4.png)

[2018-04-02 10:11] btlechowski commented on #13659
Verified on Win7 x64:
* 0.22.13: a8cfb160479f1d00d0769368eb440030182bb83b
* libchromiumcontent: 65.0.3325.181
* muon: 5.1.2

[2018-04-02 13:19] LaurenWags commented on #12744
+1 from community https://community.brave.com/t/unable-to-install-os-x-requirements-legacy-versions/18961

[2018-04-02 13:52] scfcode commented on #3756
+1. I want to switch full time, but this being broken is, as others have already said, a deal breaker.

[2018-04-02 14:31] t3mujin commented on #2414
Xmarks is being discontinued, so this may no longer  makes sense

[2018-04-02 14:35] grimley opened #13678 "Sync inoperative"
Devices would appear to "connect" (display activity). No sync.

Brave: 0.21.24
V8: 6.5.254.36
rev: 19c78a1624118e344852c4c0f44c0d45be841b5f
Muon: 4.9.3
OS Release: 10.0.16299
Update Channel: Release
OS Architecture: x64
OS Platform: Microsoft Windows
Node.js: 7.9.0
Brave Sync: v1.4.2
libchromiumcontent: 65.0.3325.162

[2018-04-02 15:23] grand-lotus-iroh commented on #7778
No, it's not available. Browser isn't ready for power-users.

[2018-04-02 15:37] Liunkae commented on #6089
@jonathansampson Still reproduces on the latest release build, 0.21.24. Are you using one of the pre-release builds?

[2018-04-02 16:09] LaurenWags opened #13679 "some active tabs are white on startup"
### Description
Sometimes on open or launch of Brave the active tab in a window is white. When you click on the tab in the tab bar, the page content displays.

### Steps to Reproduce

  1.  Have several windows with tabs (I had 4-5 windows with approximately 180 tabs between them)
  2. Note the active tab in each window has content.
  3. Close and launch Brave.

**Actual result:**
Active tab in so

[2018-04-02 16:34] jonathansampson opened #13680 "Brave Doesn't Offer to Save Passwords"
### Description
On some sites, Brave's built-in password manager does not offer to save passwords.

### Steps to Reproduce
1. Use the built-in Password Manager
2. Visit twitch.tv/directory, and log in

**Actual result:**
Brave does not ask to store your password.

**Expected result:**
Brave asks to store your password.

**Reproduces how often:**
Always.

### Brave Version
0.21.24

**about:brave in

[2018-04-02 17:05] Dendystale commented on #11463
+1 from Mac use. Though I use it as default now. I really like it. Fingers crossed on this thing getting fixed! Cheers everyone

[2018-04-02 17:54] echosa commented on #2414
Indeed, Xmarks is gone in less than a month. https://www.ghacks.net/2018/03/31/logmein-to-shut-down-xmarks-on-may-1-2018/

[2018-04-02 17:59] LaurenWags opened #13681 "change to Toolbar and UI elements scale doesn't take effect"
### Description
When navigated to preferences > advanced, changing the 'Toolbar and UI elements scale' does not modify the toolbar/UI elements as expected. Restart does not help.

Reported via community: https://community.brave.com/t/ui-scaling-broken/19042

### Steps to Reproduce

  1. Open about:preferences
  2. Navigate to Advanced
  3. Change the 'Toolbar and UI elements scale' option.

**Actu

[2018-04-02 19:15] tomlowenthal opened #13683 "[hackerone] history may persist on disk even after being cleared in-browser"
https://hackerone.com/reports/326968

[2018-04-02 19:20] LaurenWags opened #13684 "about:welcome is not the active tab on a new profile"
### Description
When launching 0.22.101 with a clean profile, the about:welcome page is not the active tab.

### Steps to Reproduce

  1. Launch 0.22.101 with a clean profile.
  2.
  3.

**Actual result:**
about:welcome is not the active tab.
![welcomepage](https://user-images.githubusercontent.com/28145373/38211711-6083e8a2-3689-11e8-9481-527bfbf9e614.gif)

**Expected result:**
about:welcome shou

[2018-04-02 19:43] flamsmark commented on #13661
@Tomatoshadow2 If there are other question you have, feel free to drop them here and I'll see about adding them.

[2018-04-02 19:54] bsclifton opened #13685 "HSTS fingerprint follow up tasks"
- [x] Cherry-pick https://github.com/brave/browser-laptop/pull/13649 to 0.22.x

- [x] Update check made here to use correct version:
https://github.com/brave/browser-laptop/pull/13649/files#r178628642

[2018-04-02 19:59] #13657 closed

[2018-04-02 20:48] LaurenWags opened #13686 "clone tab isn't working properly"
### Description
Cloning a tab is not working properly. The cloned tab does not have the original tab's history, favicon, or tab name. Additionally, the url displays 'about:blank' instead of the url of the original tab.

### Steps to Reproduce

  1. Launch clean profile with 0.22.101
  2. Navigate to a site like reddit.com
  3. Click on the 'random' link at the top a few times to generate some hist

[2018-04-02 21:19] diracdeltas commented on #13030
i have seen this issue appear before, but it was due to Brave not working with the system encrypted storage mechanism (same as the one used for the password manager) after restart. i appeared to be logged out of google/github and `about:passwords` showed no passwords anymore, but the issue was fixed as soon as i unlocked / relocked my system keychain on MacOS.  (so the data wasn't actually lost)

[2018-04-02 21:28] kjozwiak commented on #13030
I've managed to reproduce this pretty easily only on Twitter with the current `0.21.24` release and the `0.22.13` RC using the same STR that @btlechowski mentioned above:

* install/launch either `0.21.23` or `0.22.13` (using a new profile)
* once installed, login into Twitter
* close/re-launch Brave and you'll be logged out of Twitter

Once you've restarted and stay logged in, you won't run into

[2018-04-02 21:31] bsclifton commented on #13633
cc: @jonathansampson

[2018-04-02 21:42] jonathansampson commented on #13633
Not limited to password managers; this repros with MetaMask and other extensions too.

[2018-04-02 21:46] dasice commented on #6046
I'm seeing it in 0.21.18 and also in 0.21.24

[2018-04-02 21:49] dasice opened #13687 "webroot flags macos installer Brave-0.21.18.dmg as a threat"
### Description

### Steps to Reproduce

  1. install webroot
  2. scan brave installer
  3.

**Actual result:**

**Expected result:**

**Reproduces how often:**

### Brave Version

**about:brave info:**

**Reproducible on current live release:**

### Additional Information

[2018-04-02 22:29] soldcake commented on #13394
google search works again on brave for windows version 0.22.13
+1

[2018-04-02 22:33] #13652 closed

[2018-04-02 23:18] bsclifton commented on #13687
cc: @jonathansampson

[2018-04-02 23:37] jonathansampson commented on #13687
I was pinged today by a member of the Webroot team regarding this; from what we understand, the AV is alarmed at the presence of certain strings within the Brave application. One such string was "nicehash.com", which exists in a list of URLs as part of [our ledger/publisher code-base](https://github.com/brave/ledger-publisher/blob/9698a47ceca81c66e5f793685192ea8b0667da31/categories/150-services.js

[2018-04-03 00:05] LaurenWags commented on #13684
If you hover over the welcome tab, it becomes the active tab:
![welcome](https://user-images.githubusercontent.com/28145373/38222144-2626cfb2-36b1-11e8-9343-521e0f482227.gif)

[2018-04-03 00:11] LaurenWags opened #13688 "sometimes tab titles display 'Untitled'"
### Description
Sometimes tab titles are showing 'Untitled' instead of the actual title.

### Steps to Reproduce

  1. Clean profile with 0.22.102
  2. Launch Brave
  3.

**Actual result:**
Sometimes the 'Welcome to Brave' tab shows 'Untitled'
![screen shot 2018-04-02 at 6 26 16 pm](https://user-images.githubusercontent.com/28145373/38222280-bcb92a56-36b1-11e8-9bbb-935529eb2a61.png)

**Expected re

[2018-04-03 00:35] Liunkae commented on #13651
Related: #9748 (Make DuckDuckGo the default search engine)

[2018-04-03 00:37] Liunkae commented on #13651
Quote from @bradleyrichter https://github.com/brave/browser-laptop/issues/9748#issuecomment-347392111:

[2018-04-03 00:49] Liunkae commented on #13085
Looks like someone else filed a hackerone report for this the same day 😉: #13088

Closing.

[2018-04-03 00:49] #13085 closed

[2018-04-03 00:50] Liunkae commented on #13088
+1 from me (#13085). Thanks for fixing!

[2018-04-03 01:15] Liunkae opened #13689 "New Tab doesn't work without an open window on macOS"
### Test plan
See https://github.com/brave/browser-laptop/pull/13749

### Description
If there is no open window, New Tab (and New Private Tab and New Session Tab) does not work until New Window is selected.

This was working correctly in version 0.21.x but broke in 0.22.x.

### Steps to Reproduce
macOS only
  1. Open Brave.
  2. Close the window without quitting Brave.
  3. Select Menubar > File

[2018-04-03 02:40] drzow opened #13690 "Support DNS over HTTPS"
### Description

DNS over HTTPS is a way to increase the privacy of DNS requests (something that is well aligned with Brave's mission) in a highly portable way. It is supported by [Google](https://developers.google.com/speed/public-dns/docs/dns-over-https) and [CloudFlare](https://developers.cloudflare.com/1.1.1.1/dns-over-https/)'s DNS servers. Firefox has [added it](https://www.ghacks.net/2018/0

[2018-04-03 03:54] bridiver commented on #13688
looks like there's still a race condition @petemill ?

[2018-04-03 05:00] Tomatoshadow2 commented on #13687
I have this issue as well.

[2018-04-03 05:08] Tomatoshadow2 opened #13691 "Brave UI on Beta channel, stuck on smaller, even though I have it set to larger, doesn't acknowledge the change"
Description

Brave UI stuck on smaller, even though I have it set to larger

### Steps to Reproduce
Not sure if this affects anyone else but me.

  1. Download latest Brave Beta
  2. Look at UI, should be the same as you had it before
  3. Is actually super small

**Actual result:**
UI is really small

**Expected result:**
UI should be the same size that I set it to originally.

**Reproduces how o

[2018-04-03 05:10] #13691 closed

[2018-04-03 05:10] Tomatoshadow2 commented on #13681
+1 from myself as well.

[2018-04-03 05:18] bsclifton commented on #13689
I believe @armaanahluwalia has identified the cause of this issue:
https://github.com/brave/browser-laptop/pull/13242#issuecomment-375803798

See https://github.com/brave/browser-laptop/issues/8164 for more info

@armaanahluwalia would you be up for trying a fix? 😄

[2018-04-03 08:15] Jacalz commented on #13092
I see the problem here now why this is not fixed! First I updated it to latest version [here](https://github.com/brave/muon/pull/486/files) then @bridiver changed the ad-block dep [here](https://github.com/brave/muon/commit/3fb05f239797bfe7aa8ac13962aba81600c87618#diff-946813de8d9b30857edae58aec4f3a7f) but that commit has not been merged in to [brave/ad- block](https://github.com/brave/ad-block) y

[2018-04-03 08:21] hugobuddel commented on #12753
Just upgraded to 0.22.13 and everything seems fine now! Let's see whether it stays working on different networks before closing the issue.

[2018-04-03 08:26] Jacalz commented on #13092
The issue has been updated with test plan and the news about what happened @bsclifton 👍

[2018-04-03 08:32] Jacalz commented on #13092
First step to fix this is in ad-block and can be found here: https://github.com/brave/ad-block/pull/94

[2018-04-03 08:33] Jacalz commented on #13092
Second step will be to update the ad-block dep in brave/muon

[2018-04-03 09:57] snowblink commented on #9531
Only thing stopping me switching currently.

[2018-04-03 10:08] hojsone commented on #271
+1
Please add Dark theme(Mode) so I can completely migrate to Brave, for now I cannot use it much as it is too bright.
Looking forward to the Dark launch!

[2018-04-03 11:03] jknnr commented on #11908
I have to stop using Brave until this issue is solved. Very annoying.

[2018-04-03 11:54] armaanahluwalia commented on #13689
@bsclifton Absolutely would be my pleasure to work on this project. Will begin working on it tomorrow and try to send up a fix soon.

[2018-04-03 12:47] btlechowski commented on #13688
Same when creating new windows (ctrl+n).

Reproduced on Win7 x64, v0.22.102

[2018-04-03 12:59] Not-the-Bees commented on #3555
+1

[2018-04-03 13:31] LaurenWags opened #13694 "context menu sometimes produces errors/does not work correctly"
### Description
Sometimes right-click menu doesn't perform desired action after you've 'Open Link in a New Window' from the context menu. Several times the same steps have produced different results (all on a clean profile).

### Steps to Reproduce

  1. Launch Brave with a clean profile on 0.22.103
  2. Close the welcome page and navigate to a site with links like wikipedia.org
  3. Navigate to a

[2018-04-03 13:43] btlechowski opened #13695 "Bookmark is not shown after adding bookmark"
### Steps to Reproduce
  1. Clean install
  2. Open Brave
  3. Bookmark the page

**Actual result:**
Bookmark toolbar is not shown
Resizing Brave window shows the bookmark but overflow indicator does not properly show.

![image](https://user-images.githubusercontent.com/34715963/38252950-b998ef42-3755-11e8-9367-632e99f073c3.png)

**Expected result:**
Bookmark toolbar is shown

**Reproduces how oft

[2018-04-03 13:59] LaurenWags commented on #13695
Reproduced on MacOS

[2018-04-03 14:46] RyanJarv opened #13696 "Ubuntu 14.04 vagrant VM's don't build"
### Description
For Ubuntu14.04, building requires nodejs 8.x and the script installs 5.x
For CentOS and Jessie the build scripts reference a non-existent repo https://github.com/brave/browser-laptop/blob/37c57a0f3d321b0dfcd969c4454cd35d5dd6dd8d/test/vms/vagrant/jessie/build#L9

### Steps to Reproduce
  1. Start the vagrant vm's
  2. Attempt to build browser-laptop

Actual result:
* Build fails

[2018-04-03 15:02] LaurenWags opened #13698 "sometimes attach/detach of tab causes crash"
### Description
Sometimes attaching or detaching a tab causes Brave to crash.

### Steps to Reproduce

  1. Launch Brave with a clean profile using 0.22.103
  2. Open a site with links such as wikipedia.org
  3. I used middle click on a few links to open some tabs
  4. Click on one of the tabs to make it the active tab and drag it away from the window.

**Actual result:**
Sometimes Brave crashes,

[2018-04-03 16:16] UFLrob commented on #12534
I second l9sk's questions.

What Brave feature and I disable to prevent Brave from needing the .tmp.node file?  Many cannot use Brave in the Enterprise due to malware restrictions preventing an unsigned file (like .tmp.node) from being executed.

[2018-04-03 16:24] btlechowski opened #13700 "Scrollbar is stuck in scrolling after alt-tab"
### Steps to Reproduce

1. Open: about:welcome
2. Move mouse pointer over scrollbar and hold it with Left Mouse Button
3. While holding Left Mouse Button press alt+tab (or alt+esc)

**Actual result:**
Scrollbar is stuck in scrolling
Similar to #13580

**Expected result:**
Scrollbar is not stuck in scrolling

**Reproduces how often:**
100%

**Important**
Also reproducible for scrollbar arrows

###

[2018-04-03 17:04] CamelCase11 opened #13701 "Ctrl + Enter does not complete url on latest version."
I love brave. But it lacks very basic functionality.
On a latest version 0.22.13 brave is unable to complete url by pressing ctrl + enter key.
Please fix this issue as it is driving me nuts.

[2018-04-03 17:13] jonathansampson opened #13702 "Incorrect Polish Translation"
### Description
_Reload Tab_ is translated incorrectly as _Odświerz_.

### Steps to Reproduce
1. Use the Polish language
2. View the _Reload Tab_ label

**Actual result:**
Translation is incorrect.

**Expected result:**
Translation should say _Odśwież_ (not the diacritic above the z).

### Brave Version
0.22.13

**about:brave info:**
[code]

**Reproducible on current live release:**
Yes

### Addit

[2018-04-03 17:15] jonathansampson commented on #13701
I am unable to reproduce the issue in 0.22.13. When I type a partial URL, and see the rest suggested in the addressbar, pressing <kbd>Ctrl</kbd>+<kbd>Enter</kbd> opens a new tab (unfocused) to the suggested site.

[2018-04-03 17:24] Blankbook2081 opened #13703 "Twitch advertisements have come back"
### Steps to Reproduce

  1. go to twitch
  2. Go to a channel. https://www.twitch.tv/jonathansampson is a good one, check it out.
  3. Wait.

**Actual result:**

**Expected result: No advertisements. Goes straight to stream as usual.
This might be a bug with the new update as of yesterday.

Or it could be Amazon messing around.**

**Reproduces how often:**

### Brave Version

**about:brave info:*

[2018-04-03 17:27] NejcZdovc commented on #13703
cc @lukemulks

[2018-04-03 17:32] petemill opened #13704 "Brave navigation icons and styles needs updating to latest brand identity"
Icon project implementation in desktop browser

[2018-04-03 17:33] Blankbook2081 commented on #13703
![screenshot 248](https://user-images.githubusercontent.com/38046315/38265168-14a832a2-3743-11e8-88a5-b0aceaab719d.png)

is the image, but it did not load in.

Discordapp images appear to not be accepted in github.

[2018-04-03 17:40] jonathansampson opened #13705 "rmf24.pl crashes when PDF.js is disabled"
### Description
Brave will crash when visting rmf24.pl while pdf.js is disabled.

### Steps to Reproduce
1. Navigate to http://www.rmf24.pl/fakty/polska/news-gigantyczne-korki-na-a4-karambol-na-obwodnicy-wroclawia,nId,2564893

**Actual result:**
Brave crashes.

**Expected result:**
No crash.

**Reproduces how often:**
Always

### Brave Version
0.22.13

**about:brave info:**
[code]

**Reproducible

[2018-04-03 19:08] #13696 closed

[2018-04-03 19:20] LaurenWags opened #13706 "tabs disappear when combining windows (magically disappearing tabs)"
### Description
I've found that sometimes after detaching a tab from one window and adding it to another window, a tab in the second window will disappear without you closing it.

### Steps to Reproduce

  1. Launch 0.22.103 with a clean profile
  2. Open several tabs in the first window: amazon.com, brianbondy.com, clifton.io, duckduckgo.com, ecosia.org, facebook.com, google.com (this will be ref

[2018-04-03 19:57] btlechowski opened #13707 "Scrollbar is stuck in scrolling when context menu is shown"
### Steps to Reproduce
1. Open: about:welcome
2. Move mouse pointer over scrollbar and hold it with Left Mouse Button
3. While holding Left Mouse Button move pointer over the page
4. Press Right Mouse Button to bring context menu
5. Release Left Mouse Button

**Actual result:**
![scrollbar_context_menu](https://user-images.githubusercontent.com/34715963/38272368-4d0ea252-3789-11e8-8678-2904e9bc7ac

[2018-04-03 20:09] LaurenWags opened #13708 "re-pin of tab can take multiple tries for tab to be pinned again"
### Description
Re-pinning a tab doesn't work on the first try. Need to try at least twice (sometimes more) to get tab to pin again.

### Steps to Reproduce
  1. Launch 0.22.103 with a clean profile
  2. Open several tabs in the first window: amazon.com, brianbondy.com, clifton.io, duckduckgo.com, ecosia.org, facebook.com, google.com (this will be referred to as window 1)
  3. Drag the clifton tab

[2018-04-03 20:14] btlechowski commented on #13580
**The issue still reproduces for a thin line of pixels close to window frame.**
1. Open: about:welcome
2. Move mouse pointer over center of the scrollbar and hold it with Left Mouse Button
3. While holding Left Mouse Button move the pointer close to window frame on the right
4. Release Left Mouse Button

**Actual result:**
![scrollbar_window_frame](https://user-images.githubusercontent.com/3471596

[2018-04-03 20:34] LaurenWags opened #13709 "context menus do not display after closing a window"
### Description
If you have multiple windows open and you close one, the context menu no longer works.

### Steps to Reproduce

  1. Launch Brave with a clean profile using 0.22.103
  2. Open several sites (amazon, brianbondy, clifton) - this is window 1
  3. Drag clifton tab out into its own window (this is window 2)
  4. Close window 2.
  5. Go back to window 1 and right click anywhere (URL bar,

[2018-04-03 20:40] bsclifton commented on #13685
Fixed with https://github.com/brave/browser-laptop/commit/1e1c64f1b7556882ddeb68bde6d9166f924cde4c

[2018-04-03 20:40] #13685 closed

[2018-04-03 20:54] flamsmark commented on #13683
Here's the Chromium bug that we also have: https://bugs.chromium.org/p/chromium/issues/detail?id=823071

[2018-04-03 21:10] CamelCase11 commented on #13701
It is a basic functionality which is present in internet explorer and other browsers since decade.

[2018-04-03 21:14] flamsmark commented on #12110
@yrliou Can you confirm whether this is fixed in brave-browser?

[2018-04-03 21:27] flamsmark commented on #7676
I don't think we want to implement additional blocking for first-party ads. Please reopen if I've misunderstood the issue.

[2018-04-03 21:27] #7676 closed

[2018-04-03 21:35] bsclifton commented on #13224
@petemill I tested on Windows using latest `0.22.x-single-webview` branch (freshly rebuilt) and I still got a crash in 1/3 runs that I tried.  Here's the error log:
[code]

[2018-04-03 21:35] flamsmark commented on #7605
Between private tabs and session tabs, we cover a whole load of the core functionality requested here. More detailed options seem like a better fit for an extension than a core browser feature.

[2018-04-03 21:35] #7605 closed

[2018-04-03 21:38] riastradh-brave commented on #7605
See also: https://github.com/brave/browser-laptop/issues/6684

[2018-04-03 21:43] #4730 closed

[2018-04-03 21:44] flamsmark commented on #3715
Seems similar to #10983 ?

[2018-04-03 21:53] yrliou commented on #12110
It's fixed by brave/brave-browser#11, fingerprinting protection in brave-browser is implemented in C++ instead of using proxy objects in JS, so won't have this issue.

[2018-04-03 22:34] petemill commented on #13224
hmm @bsclifton can you update your debug build of muon to single-webview-c65 branch (muon v6) and see if you get the same / different error and stack as https://github.com/brave/browser-laptop/issues/13224#issuecomment-375775537?

[2018-04-03 22:58] jonathansampson opened #13711 "MetaMask May Break Sites"
### Description
Enabling MetaMask may cause web compatibility issues with some websites. MetaMask performs a script-injection into the visited document, which may cause issues. One example of this is with the vote.webbyawards.com website.

![image](https://user-images.githubusercontent.com/815158/38279940-48cf76ce-3768-11e8-9d42-508572738dd1.png)

When MetaMask is disabled, the angular application

[2018-04-03 23:15] jonathansampson commented on #13711
cc @danfinlay

[2018-04-04 00:04] bn0785ac opened #13712 "How get black theme 0.22.103"
How can i put the brave's black theme?

[2018-04-04 01:08] riastradh-brave commented on #12924
arma adds: https://blog.torproject.org/tor-heart-apt-transport-tor-and-debian-onions

In particular, beyond individual privacy, always downloading updates anonymously makes it difficult for an adversary to target anyone with a malicious update.

[2018-04-04 01:38] stephenkru commented on #6089
The 126% is gone for me now, but I am getting an extra 110% increment. I click + zoom at 110% and it doesn't change from 110%. You can see a slight size increase to text when it happens tho. Other increments appear to be fine.

[2018-04-04 03:31] patcheduppiece opened #13714 "Auto-open specific file download."
I regularly access an RMM (remote monitoring and management) tool as part of my job. In the course of my duties, I'm required to have regular LogMeIn client downloads which launching remote connection sessions. In Chrome, I have the ability to "always open" these files. Is this functionality in the pipeline, or no?

I would love to be able to recommend Brave to our customers, but without this feat

[2018-04-04 04:35] jonathansampson opened #13716 "Strict Site Isolation Breaks Embedded YouTube Videos"
### Description
When _Strict Site Isolation_ is enabled, embedded YouTube videos will not respond to clicks (and thus cannot be manually started). *No repro in Chrome with Strict Site Isolation enabled.*

### Steps to Reproduce
1. Enable _Strict Site Isolation_ in about:preferences#security
2. Navigate to [a page with embedded YouTube videos](https://www.elobservador.com.uy/una-grieta-esta-separan

[2018-04-04 05:16] rvagg opened #13718 "URL-like strings can cause empty autocomplete results"
### Description

`foo` and `foo.` are fine, `foo.b` and `foo.bar` is not, `foo.bar.` is fine again.

### Steps to Reproduce

  1. Slowly type in `github.com.` to the urlbar
  2. Observe autocomplete up until `github.c` when you only get the "top sites" entry for `github.com`, not from your history
  3. It works again if you add a `.` on the end, i.e. `github.com.`

### Brave Version

**about:brave

[2018-04-04 05:50] diracdeltas commented on #312
reopening this since we may want to implement sharemenot after all

[2018-04-04 05:55] petemill commented on #13684
Fixed in muon branch, but pending muon build / version bump cc @bridiver

[2018-04-04 05:58] petemill commented on #13709
wow great find on the STR @LaurenWags this one was eluding me

[2018-04-04 06:26] petemill commented on #13681
This is fixed in the latest muon feature branch, pending a build for a version bump.

[2018-04-04 07:11] petemill commented on #13709
@bridiver  This muon change seems to fix it. Not sure yet if `webContents.getId()` returns anything other than `-1` in muon 5x, but this would certainly be an issue if, when a webContents closes, all the remote items associated with *all* webContents are removed (since all "owner" webContents IDs are `-1` here):
[code]

[2018-04-04 11:28] NejcZdovc commented on #12994
I tried to reproduce it, but couldn't. @jonathansampson can you please try again on the latest master? Thank you

[2018-04-04 11:41] #13463 closed

[2018-04-04 12:00] NejcZdovc opened #13721 "Sort ledger table based on %"
### Test Plan
https://github.com/brave/browser-laptop/pull/13726

### Description

Ledger table should be sorted based on % in desc order.

[2018-04-04 12:04] NejcZdovc commented on #11370
I tried to reproduce it again, but without any success. @srirambv can you please try again on the latest master. Thank you

[2018-04-04 12:06] NejcZdovc commented on #12512
closing for now, if you maybe have any new info or steps how to reproduce it please let me know

[2018-04-04 12:06] #12512 closed

[2018-04-04 13:42] Blankbook2081 opened #13723 "Mixer doesn't work"
### Description
A streaming service does not work in Brave.
https:mixer.com

### Steps to Reproduce

  1. Go to https:mixer.com
  2. Turn on javascript
  3. Find a stream and click on it.

**Actual result:**

No stream pops up. It's a blank blue screen (mixer background) where the stream should show up.

**Expected result:**
A stream should pop up. (whether brave shields are on or off)

**Reproduc

[2018-04-04 13:48] MBLHarrison commented on #13707
+1

To add clarification.
After step 5, it only scrolls once you move the mouse back to the scrollbar

`

Name | Version
-- | --
Brave | 0.22.13
V8 | 6.5.254.41
rev | a8cfb16
Muon | 5.1.2
OS Release | 10.0.16299
Update Channel | Release
OS Architecture | x64
OS Platform | Microsoft Windows
Node.js | 7.9.0
Brave Sync | v1.4.2
libchromiumcontent | 65.0.3325.181

`

[2018-04-04 13:56] MBLHarrison opened #13724 "Navigating to about:error redirects to chrome-extensions://"
### Description
When navigating to about:error on a fresh new tab. You are redirected to
[chrome-extension://mnojpmjdmbbfmejpflffifhffcmidifd/about-newtab.html](url)

### Steps to Reproduce

1.  Open new tab which hasn't directed to any URL
2. In Url enter 'about:error'
3. Navigation

**Actual result:**
Redirected to chrome-extension://mnojpmjdmbbfmejpflffifhffcmidifd/about-newtab.html

**Expected

[2018-04-04 14:15] sakralbar commented on #4197
I always get two browser windows when I open links from other programs.
Linux Mint 18.3 cinnamon, Brave 0.22.13

[2018-04-04 16:17] jonathansampson commented on #13712
@bn0785ac Brave presently *does not* have a dark theme, but we will with v1.0.

[2018-04-04 16:17] #13712 closed

[2018-04-04 16:17] jrdnrocks commented on #9258
[Service being discontinued in May; they are moving onto FireBase Dynamic Links](https://www.msn.com/en-us/news/technology/google-to-end-googl-link-shortener-service/ar-AAvqmJx)

[2018-04-04 16:26] jonathansampson commented on #13701
@CamelCase11 I agree with you, but I am not able to reproduce the problem. When I press <kbd>Ctrl</kbd>+<kbd>Enter</kbd> it works. Can you share any further information about what you're doing, what you're expecting, and what you're seeing instead?

I think this is the logic:

https://github.com/brave/browser-laptop/blob/3dc66b0fbd45e48fd1385b50478eae0a4b30d982/app/renderer/components/navigation/u

[2018-04-04 16:47] #13648 closed

[2018-04-04 16:59] petemill opened #13725 "Find in page past last result crashes Brave"
### Steps to Reproduce

  1. Use cmd-f to search for text inside the page.
  2. When the last result is highlighted (e.g. `2 of 2`), press enter again

**Actual result:**
Full crash / hang (Not Responding in Activity Monitor)

**Expected result:**
Goes to the first Find result.

**Reproduces how often:**
100%

### Brave Version

**Reproducible on current live release:**
No

### Additional Informat

[2018-04-04 17:29] eljuno commented on #4197
++ from community https://community.brave.com/t/2-windows-open-when-clicking-email-link/15146?u=eljuno

[2018-04-04 17:39] #4024 closed

[2018-04-04 17:51] eljuno commented on #9211
+1 from community https://community.brave.com/t/accidental-dragging-of-tabs-too-easy/19227?u=eljuno

[2018-04-04 18:06] benjiwright commented on #11819
I had to turn off **Ghostery** to get Twitch to work in Chrome

[2018-04-04 18:06] bsclifton opened #13727 "Update to PDF.js 1.9.459"
Same as live build but with https://github.com/brave/pdf.js/pull/4 merged in

## Builds/Platforms used:
macOS

**Brave/PDF.js build being used:** _(please include Brave version #, SHA and PDF.js version)_
Brave: 0.22.13
rev: a8cfb160479f1d00d0769368eb440030182bb83b with b05d3b04b9745eaf5bd3bcfb4749f02b8d86cb8c cherry-picked in
Muon: 5.1.2
libchromiumcontent: 65.0.3325.181
PDF.js: 1.9.459

**Platfo

[2018-04-04 18:26] btlechowski opened #13728 "Some Top site tiles are missing favicons"
### Steps to Reproduce
  1. Clean install
  2. Open onet.pl
  3. Open a new tab

**Actual result:**
Instead of favicons, there are letters (on screenshot below O)
![image](https://user-images.githubusercontent.com/34715963/38328923-7aca5088-384c-11e8-996a-32e6fa343137.png)

When I click on the O tile, the favicon will load.

**Expected result:**
Favicons are immediately shown

### Brave Version
Re

[2018-04-04 19:03] bsclifton commented on #13727
Update isn't downloaded on existing installs because version is hardcoded (fixed with https://github.com/brave/browser-laptop/pull/13729).  However, this can be tested by deleting the profile directory. That's how I'll proceed with above testing

[2018-04-04 19:27] kjozwiak commented on #13723
Receiving the following via the browser console when attempting to load a stream using `0.22.13` a8cfb16:

[code]

Seems to be working fine with `Chrome 65.0.3325.181`.

[2018-04-04 19:36] kjozwiak commented on #3065
This might be out of scope, but closing all currently opened tabs/windows when "Clearing All" could be super useful. I've been bitten a few times where I cleared the history, the browser was restarted and I accidentally hovered over a discarded tab which was then placed back onto `about:history`.

[2018-04-04 19:56] LaurenWags commented on #13698
Experienced a crash when reattaching tabs to the original window - crashID: 12850224dc5bca5a

[2018-04-04 19:58] jonathansampson opened #13730 "Popups and Popunders on ThePirateBay"
### Description
ThePirateBay creates tabs and/or windows (depending on the user-agent) unexpectedly.

### Steps to Reproduce
1. Navigate to thepiratebay.org
2. Perform a search
3. Click on the first search result

**Actual result:**
A new tab is created unexpectedly.

**Expected result:**
No popups or popunders.

**Reproduces how often:**
Always.

### Brave Version

**about:brave info:**

**Reprod

[2018-04-04 20:27] bsclifton commented on #13727
- Since I don't have default browser set to dev, I can't test that
- Clone step didn't work... but production release doesn't work either

[2018-04-04 20:45] #13727 closed

[2018-04-04 20:47] bsclifton commented on #13727
Marked as `QA/no-qa-needed` since I just ran through the above. Also excluded from release notes as this is live right now

[2018-04-04 20:51] petemill commented on #13708
Seems resolved by object-registry WebContents ID fix in muon

[2018-04-04 20:55] LaurenWags opened #13731 "pinning session tab opens a newtab"
### Description
If you drag a session tab out into its own window and try to pin it, the tab doesn't pin and a new tab (with the same session #) opens in the original window.

### Steps to Reproduce

  1. Launch 0.22.103 with a clean profile
  2. Open a session 1 tab and navigate to a site (I used twitter)
  3. Open a session 2 tab and navigate to a site (I used twitter)
  4. Drag the session 2 ta

[2018-04-04 20:59] petemill commented on #13706
having trouble reproducing in dev, let's verify this is fixed in next build

[2018-04-04 21:03] petemill commented on #13731
Can't reproduce on current dev so I think this will be fixed in the next build. Let's verify when that is available.

[2018-04-04 21:06] btlechowski opened #13732 "Freeze after find on page jumps back to the beginning"
### Steps to Reproduce
  1. Open about:welcome
  2. Open Find on page
  3. Search 'fastest'
  4. Go forward with the search till you jump back to the beginning

**Actual result:**
Freeze. Brave takes 100% CPU then crashes without a crash dump

**Expected result:**
No Freeze

**Reproduces how often:**
100%

### Brave Version
[code]

### Steps to Reproduce 2
  1. Open about:welcome
  2. Open Find on

[2018-04-04 21:08] petemill commented on #13725
Closing as duplicate of #13732

[2018-04-04 21:08] #13725 closed

[2018-04-04 21:11] LaurenWags commented on #13732
Using find on page on MacOS beachballed for me and I had to force quit.

[2018-04-04 21:12] BrendanEich commented on #13716
@diractdeltas @bridiver seems worth a quick look to assess. Thanks.

[2018-04-04 22:17] LaurenWags opened #13733 "'when closing an active tab' setting does not work"
### Description
'When closing an active tab' setting is not respected. If you have 'Select its parent tab' (default) or 'Select the last viewed tab' as the setting, the next tab is selected. See test cases from https://github.com/brave/browser-laptop/pull/12193#issue-279587065

### Steps to Reproduce

See test cases from https://github.com/brave/browser-laptop/pull/12193#issue-279587065 - I specif

[2018-04-04 22:36] petemill commented on #13733
Great find @LaurenWags. Note for @bridiver this was because `tab-detached-at` does not fire for destroyed tab and also it fires after muon has changed active tab. Instead I have to revert back to manually calling `setActive` on `will-destroy` and before calling `move`.

[2018-04-04 22:48] diracdeltas commented on #9498
i have also experienced this

[2018-04-04 23:41] jonathansampson commented on #9498
@diracdeltas This seems related to https://github.com/brave/browser-laptop/pull/13693, no?

[2018-04-04 23:42] riastradh-brave commented on #12930
For any built-in service that we route through Tor, there's another advantage to using a (single-hop) onion service over just using an ordinary https host: less load on the _exit_ nodes in the network, which are bottlenecks and which we're (currently) not contributing back to.

(The tradeoff isn't as clear for standard three-hop onion services, but I can't imagine we have any reason to pay the cos

[2018-04-04 23:59] riastradh-brave opened #13734 "Block HTTP without HTTPS in Tor private tabs"
Consider blocking HTTP via Tor by default, unless we already do this and I missed the part where we do.  This way, we alleviate concerns that malicious Tor exits might eavesdrop on or interfere with the HTTP streams passing through them.  (Of course, your ISP could do this in non-Tor traffic anyway...and maybe [already does](https://arstechnica.com/tech-policy/2014/09/why-comcasts-javascript-ad-in

[2018-04-05 00:05] riastradh-brave opened #13735 "Fingerprinting protection on by default in Tor private tabs"
Fingerprinting protection should be enabled by default in Tor private tabs.  It may be already, in which case we can close this issue immediately; just need a reminder to check while I'm flushing old notes from the wiki page.

Old notes also suggest disabling JavaScript in Tor private tabs; not sure whether we want to do that but we should revisit rather than drop it on the floor.

[2018-04-05 00:08] riastradh-brave opened #13736 "Disable plugins and extensions in Tor private tabs"
I thought we already had an issue for this, but I can't find it right now.

[2018-04-05 00:32] hammok commented on #6245
+1 from [community](https://community.brave.com/t/bookmarks-drag-drop/19076/4)

[2018-04-05 00:32] hammok commented on #6246
+1 from [community](https://community.brave.com/t/bookmarks-drag-drop/19076/4)

[2018-04-05 01:07] TJ-Hooker15 commented on #13172
I have the same issue. If I only have the "show bookmark matches" enabled, if I start typing in the address of a site I have bookmarked no suggestions come up. If I then enable "show history matches", I then get suggestions from my bookmarks in the address bar (even though the bookmarked site is not in history). If I have only "show history matches" selected, I still get results from my bookmarks.

[2018-04-05 03:55] Tomatoshadow2 commented on #13703
I believe these ads might be considered First Party ads, if not my apologies.

[2018-04-05 04:11] MargarytaChepiga commented on #12380
@Jacalz I am looking at this right now, and I was able to do this:
![variant 1](https://user-images.githubusercontent.com/15698572/38346795-6b55a13e-3865-11e8-8fb8-16c365475737.png)
I can do with different variations of having more/less of any of the colors. However, I couldn't figure out a way yet of how we can have a radiant-gradient for the whole page and only on the top to have a linear black.

[2018-04-05 04:55] williamrussellajb commented on #12753
`Brave	0.22.13
V8	6.5.254.41
rev	a8cfb16
Muon	5.1.2
OS Release	10.0.16299
Update Channel	Release
OS Architecture	x64
OS Platform	Microsoft Windows
Node.js	7.9.0
Brave Sync	v1.4.2
libchromiumcontent	65.0.3325.181`

Every time my PC wakes from sleep.
Closing and reopening Brave usually will fix the issue.

Was frustrating to realize it was brave not my internet.

Message me if you need help testing.

[2018-04-05 05:39] petemill opened #13738 "Tab Message Box does not show"
### Description
Did not move the component from frame.js to main.js

### Steps to Reproduce

  1. Visit https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_confirm
  2. Click 'try it'

**Actual result:**
Nothing happens

**Expected result:**
An alert is shown

### Brave Version

**about:brave info:**
0.22.103

**Reproducible on current live release:**
No

### Additional Information
Should

[2018-04-05 05:43] petemill opened #13739 ""did-finish-load" is not received if tab is not active"
### Description
Activating (and attaching to a `<webview>`) a normal tab, causing it to load (usually via refresh) but then switching away (and detaching its guest from the `<webview>`)  after `did-navigate` but before `did-finish-load` to a different tab, does not emit the `did-finish-load` for that tab until the next time that tab is made active, (which in our case causes the spinner to not stop

[2018-04-05 06:30] NejcZdovc commented on #11225
fixed with #13279

[2018-04-05 06:30] #11225 closed

[2018-04-05 06:33] #12033 closed

[2018-04-05 08:38] btlechowski commented on #13684
Reproducible in v0.22.105 Win7 x64

[2018-04-05 08:44] btlechowski opened #13740 "about:welcome is empty"
### Steps to Reproduce

  1. Open about:welcome

**Actual result:**
Page is empty

**Expected result:**
Page is loaded

**Reproduces how often:**
100%

### Brave Version
[code]

[2018-04-05 08:56] btlechowski commented on #13709
Verified Win7 x64 v0.22.105

[2018-04-05 08:59] btlechowski commented on #13731
Verified Win7 x64 v0.22.105

[2018-04-05 08:59] #13731 closed

[2018-04-05 09:06] btlechowski commented on #13733
Verified Win7 x64 v0.22.105

[2018-04-05 09:06] #13733 closed

[2018-04-05 09:08] RogueSheep-nl opened #13741 "What does 'Are you ready to support the sites you use most?' mean?"
What does 'Are you ready to support the sites you use most?' mean?
I have no clue what the consequences of my answer will be.

It might be user friendly to be transparent and add a 'what is is?' link to a page with some explanation on this matter.

[2018-04-05 09:13] brockfranco commented on #3555
Who wants the god forsaken google devtool floating? Please add this.

[2018-04-05 11:28] LethalManBoob opened #13745 "Some scripts are broken. Mostly on login sites."
For example. I cant click read more on most comment sections expect youtube and i cannot login to my ubisoft account. Ive tried changing settings. Nothing works so its not phishing protection or script remover.

[2018-04-05 11:42] btlechowski commented on #13708
Reproduced in v0.22.105 Win7 x64.
On top of that, the context menu stopped showing on one of the windows.

[2018-04-05 11:50] btlechowski commented on #13681
Reproduced on Win7 x64 v0.22.105; Muon: 6.0.0

[2018-04-05 12:03] btlechowski commented on #13694
Reproduced on Win7 x64 v0.22.105

`[8076:632:0405/140059.558:ERROR:CONSOLE(1)] "Error handling event context-menu for tab 16", source: chrome://brave/C:/Users/bartlomiej/AppData/Local/BraveBeta/app-0.22.105/resources/app.asar/app/extensions/brave/gen/app.entry.js (1)`

[2018-04-05 12:03] jayyyin commented on #13487
if it's ok I'd like to look into this...

[2018-04-05 12:11] btlechowski commented on #13709
Issues where context menu was not shown:
https://github.com/brave/browser-laptop/issues/13708#issuecomment-378908071
https://github.com/brave/browser-laptop/issues/13694

[2018-04-05 13:33] mrfosi opened #13747 "Google 2-factor push immediately times out"
Yes.

### Description

Gmail offers 2-factor authentication and one of the options is push notifications. When using this form of authentication, I get the notification on my phone immediately but Gmail simultaneously reports that the push has timed out and requires me to use another method to authenticate. This is not a problem in Firefox or Chrome, just Brave.

### Steps to Reproduce

  1. Turn

[2018-04-05 13:37] LaurenWags commented on #13708
@btlechowski good note about context menu - I added it to expected result so we double check that it is working in all windows.

[2018-04-05 14:11] warpdesign commented on #10599
I noticed the same problem:

![brave_leak](https://user-images.githubusercontent.com/199648/38371133-f7a691b2-38eb-11e8-95e6-b70331c6734b.png)

[2018-04-05 14:54] LaurenWags opened #13748 "crash on startup for Linux users who have installed via snap"
### Description
Reported via community:
https://community.brave.com/t/brave-immediately-crashes-when-i-try-to-start-it-it-pops-up-and-then-closes/19267
https://community.brave.com/t/braqve-crashes-on-launch/19279

Several users who have installed Brave via snap are reporting that Brave crashes upon launch.

### Steps to Reproduce

  1. Have Brave installed via snap
  2. Launch Brave
  3.

**Actual

[2018-04-05 19:02] flamsmark commented on #12930
Definitely agree: this is exactly the right situation for single-hop onions.

[2018-04-05 19:04] Blankbook2081 commented on #13723
@kjozwiak Is someone working on this bug at the moment?

It seems to be a Brave-only issue, as Chrome and Vivaldi work with it.

[2018-04-05 19:16] mrose17 opened #13750 "default sorting for about:preferences#payments should be %-descending"
when going to the preferences panel for brave payments, the table should be ordered by % in descending order.

[2018-04-05 20:37] david0178418 commented on #2884
Can confirm that this has regressed with twitter.

Two notes about my browser state:
1) I am logged in on twitter
2) "Block Scripts" is disabled for twitter.com

Steps to reproduce:

1) Disable "Block Scripts" in preferences
2) Open https://twitter.com/
Everything seems to work fine
3) Enable "Block Scripts" in preferences
4) Reload twitter tab
Redirects to mobile site

[2018-04-05 20:51] petemill commented on #13689
@armaanahluwalia Apologies, but I had to fix this as we want to get it in to the next release. I also noticed that the fix was a bit more complicated than I had originally thought since on Windows, the code is called by a different process which does not have access to the internal window API. That's because on Windows, the main menu is part of each window process, whereas on other platforms the m

[2018-04-05 23:53] petemill commented on #13487
@jayyyin go for it - please! Would be great to try and reproduce on something like codepen.io in order to experiment with fixing in a small reproducible scenario. It's possible that the gradient is interfering with certain types of favicon image encoding, as you've found in #13746. Forcing the favicon to paint on a new layer may help, but I think I tried that in initial investigation and promptly

[2018-04-06 00:26] mrose17 opened #13751 "ledger.js::run() throws an error when client.verboseP is set"
TypeError: Cannot read property 'toString' of undefined
            at fields.forEach (/Applications/Brave.app/Contents/Resources/app.asar/app/browser/api/ledger.js:2311:54)
            at Array.forEach (<anonymous>)
            at line (/Applications/Brave.app/Contents/Resources/app.asar/app/browser/api/ledger.js:2308:14)
            at entries.forEach (/Applications/Brave.app/Contents/Resources/

[2018-04-06 00:27] mrose17 commented on #13751
it is probably this line:

                if (typeof field !== 'string') field = field.toString()

which suggests that there should be a test for `typeof field !== 'undefined'`

[2018-04-06 00:46] lanesawyer commented on #11819
Started seeing this today. Turning off Ghostery fixed it for me.
- Firefox 59.0.2 (64-bit)
- Ghostery 8.1.0

[2018-04-06 03:12] petemill commented on #13695
This was because calculating the text width of the bookmark item was not running due to muon's `executeScriptInTab` not working against a window's WebContents, which technically it shouldn't anyway. I'd love to remove all the bookmark textCalc logic and do a simpler css implementation, but for now we have a potential muon fix. Let's check when we get the next muon build (probably 6.0.2).

[2018-04-06 04:49] petemill commented on #13728
I think this is fixed with 0.22.106, please let me know if otherwise

[2018-04-06 05:03] williamrussellajb commented on #12753
@hugobuddel  @bsclifton  I wanted to add... I just experienced this on the latest version of google chrome with windows 10, related?

[2018-04-06 05:37] NejcZdovc opened #13752 "Switch browser certificate pinning to full cert pinning"
### Description

Switch browser certificate pinning to full cert pinning

[2018-04-06 06:24] NejcZdovc commented on #6708
per discussion with @diracdeltas we are pushing this after 1.0

[2018-04-06 06:29] NejcZdovc commented on #13190
@flamsmark do you think that we should be adding video to the ledger table in this case or not?

[2018-04-06 06:39] NejcZdovc commented on #11172
closing as I can't reproduce it anymore

[2018-04-06 06:39] #11172 closed

[2018-04-06 06:42] NejcZdovc commented on #12674
closing this one as this was not noticed anymore. Let's reopen if we see it again

[2018-04-06 06:42] #12674 closed

[2018-04-06 06:47] NejcZdovc commented on #11786
closing this one as we don't have two FQA icons anymore

[2018-04-06 06:47] #11786 closed

[2018-04-06 06:55] NejcZdovc commented on #11435
tried this on Ubuntu and couldn't reproduce. Closing for now

[2018-04-06 06:55] #11435 closed

[2018-04-06 06:58] NejcZdovc commented on #13280
Closing as this will be fixed with #13721 where default sort will be %

[2018-04-06 06:58] #13280 closed

[2018-04-06 06:59] NejcZdovc commented on #13276
closing as we will be removing this icon

[2018-04-06 06:59] #13276 closed

[2018-04-06 07:00] NejcZdovc commented on #10705
@diracdeltas @darkdh do we plan do this before 1.0?

[2018-04-06 07:10] NejcZdovc commented on #12816
tried to reproduce this on the latest master, but couldn't. @kjozwiak can you please re-check this one?

[2018-04-06 11:36] jayyyin commented on #13487
@petemill yah, I found basically disabling the gradient fixes the issue, but I'm pretty sure that's not the way to go, how would I go about trying to paint it on a separate layer?

[2018-04-06 13:34] LaurenWags commented on #13156
+1 from this twitter thread: https://twitter.com/RHerringbone/status/977670851704233984

[2018-04-06 13:41] NejcZdovc opened #13754 "Accept different referral code"
### Description

We need to accept besides 3 letters and 3 number (XXX123) string dash string (test-ok) as well

[2018-04-06 13:45] jayyyin commented on #13487
note the Favicon also "flashes" when you initially move the mouse into the tab area

[2018-04-06 14:11] srcnalt opened #13755 "When minimized window is re-opened, window state changes twice."
**Have you searched for similar issues?**
Yes

### Description
When a maximized browser window is minimized and then clicked on it's icon to re-open again, window starts in full-screen on, then turns it off, then turns it on again, and this causes a flickering effect.

### Steps to Reproduce
  1. Launch Brave
  2. Maximize the browser window
  3. Minimize the browser window
  4. Click on Brave ico

[2018-04-06 16:12] #13754 closed

[2018-04-06 16:51] NejcZdovc commented on #13006
Based on the fact that things will be changed (ledger table will be completely new) and the fact that this issue would require a lot of work compared to the output, I will close it for now

[2018-04-06 16:51] #13006 closed

[2018-04-06 17:06] TheAresjej opened #13757 "Brave Shield "bug"? on DuckDuckGo"
### Description
Brave shield blocks 2 scripts on DDG - "The search engine that doesn't track you." so either the DDG policy has changed or some new function is blocked

### Steps to Reproduce
Search for something on DDG e.g. https://duckduckgo.com/?q=Brave+download&ia=web

**Actual result:**
https://i.imgur.com/XwmAVr3.png

**Expected result:**
Zero blocked items?

**Reproduces how often:**
100%

[2018-04-06 17:47] armaanahluwalia commented on #13689
@petemill No worries at all. Thanks for taking this on. TBH a bit busy at the moment with job interviews. Anyway, I'm not sure I'd be able to contribute productively to reviewing this PR since I haven't had the time to parse the overall structure of the application code yet. I will do soon. Thanks for the shout out.

[2018-04-06 17:52] Liunkae commented on #13757
Scripts blocked by the tracking blocker:

https://duckduckgo.com/m.js?q=Brave%20download&a=ne6&l=wt-wt&cb=ddg_spice_amazon&i=B00DRDSL4Y,B00899D0HO&p=1

Looks like the search results contain a link to Amazon (result no. 12 for me). DuckDuckGo makes money with affiliate revenue from Amazon: https://duck.co/help/company/advertising-and-affiliates

A different query (e.g., https://duckduckgo.com/?q=Gi

[2018-04-06 17:58] Liunkae commented on #13637
Related: #12612 (Extensions, including LastPass, not working with Strict Site Isolation)

[2018-04-06 19:04] eljuno commented on #13689
+1 from community https://community.brave.com/t/file-new-tab-does-not-work-since-latest-update/19357?u=eljuno

[2018-04-06 20:48] #11730 closed

[2018-04-06 21:18] #13689 closed

[2018-04-07 01:58] #13686 closed

[2018-04-07 01:58] #13681 closed

[2018-04-07 02:02] #13739 closed

[2018-04-07 02:57] nikolas commented on #12636
@rook2pawn thanks. I just switched `buster` to `stretch` and that worked on my system.

[2018-04-07 06:49] jamesray1 commented on #11872
I have a similar issue. https://gist.github.com/jamesray1/2ccff8ece9534a253755fedab3bd513a

[2018-04-07 10:08] jkarlsso commented on #5388
Yes please. This and cross-platform bookmarks/passwords/history/etc. sync is what is stopping me from switching over to Brave fully.

[2018-04-07 11:06] shllg commented on #1374
:+1:

[2018-04-07 12:13] t0m5k1 commented on #12165
I use the --app flag a lot and to move to brave I'd love to keep this functionality.

[2018-04-07 14:32] Tomatoshadow2 commented on #13755
I couldn't reproduce on Mac using Beta 22.106 or Release 22.16, might be a Windows only bug? cc @srirambv

[2018-04-07 14:39] Tomatoshadow2 commented on #13680
https://github.com/brave/browser-laptop/issues/12748 This one also deals with Twitch not saving passwords. Do you think both need to stay open or will you pick one to close over the other? The other issue is from January 19th, and looks like @darkdh was working on a fix or already had the fix ready to go, could be mistaken though.

[2018-04-07 14:42] Tomatoshadow2 commented on #13728
@petemill Is it still possible for what @btlechowski is describing to show up like that for any site, as I just downloaded 22.106 and one of the tiles are like that?

Thanks.

[2018-04-07 15:19] raisty opened #13759 "Cannot move tab between windows"
### Description

Moving tabs between windows produce unclickable tab.

### Steps to Reproduce

  1. Open new window and go to google
  2. Open second window
  3. Move the tab from first window to second window

**Actual result:**

Unclickable empty tab

**Expected result:**
Normal tab with the original website from first window

**Reproduces how often:**

Always

### Brave Version

**about:brave i

[2018-04-07 15:41] plaperdr opened #13760 "Add the option to configure Accept-language headers in Preferences"
### Description
The Brave browser does not have any options to set the desired languages in the "Accept-language" header. It keeps the language set during installation and choosing a different language for the browser interface has no impact on the language header.
This issue is somehow related to #12702 but an option should be added ton configure the list.

### Steps to Reproduce
  1. Check the H

[2018-04-07 17:05] bn0785ac opened #13761 "Prepare for jump to 66"
Chromium team plans use the next week (9th to 13th)   for release their new chromium versions  trio (66, 67 and 68)

Its Brave team prepared to this (jump to 66)
https://www.chromium.org/developers/calendar

[2018-04-07 17:07] HotelBellaMuerte opened #13762 "Enhancement: Add a button for get mobile-fingerprints"
Could brave team add a button for get a mobile fingerprint ? **and let mouse  use touchevents**

?

the reverse of a feature tthat has some android browsers *view this as a pc*

[2018-04-07 19:38] boistordu commented on #3756
When does the dev will understand that you can't rely on the OS part to secure their app and you need to implement secure code and secure features direct in the application.
We don't care about system wide proxy which is totally bullshit on a windows 10 system or a mac OS system and maybe even some linux distros too. So just implement the code about proxying.
Plus is the only way that you can do s

[2018-04-07 20:41] raisty opened #13763 "Drag&Drop not working for files"
### Description

Drag&Drop not working

### Steps to Reproduce

  1. Login into AWS S3
  2. Click upload
  3. Drag&Drop files

**Actual result:**

![screen shot 2018-04-07 at 22 37 55](https://user-images.githubusercontent.com/537310/38460145-b04cf0fc-3ab4-11e8-92fc-2973059810df.png)

**Expected result:**
Drop files into window

**Reproduces how often:**

Always

### Brave Version

**about:brave i

[2018-04-07 23:54] bn0785ac opened #13764 "URL Blocked due to adblock-detection"
Link: https://forums.overclockers.ru/viewtopic.php?p=15498321#p15498321

Version; 0.22.16

Setup: Shields, + BLock ads& tracking

[2018-04-08 12:01] ramsunvtech opened #13766 "Localize the AdBlock in Tamil"
### Description
Tamil Locales are still in English for AdBlock.

### Steps to Reproduce
  1. Open `browser-laptop/app/extensions/brave/locales/ta/adblock.properties`

**Actual result:**
Current labels is in English.

**Expected result:**
AdBlock labels needs to localized to Tamil.

**Reproduces how often:**
NA

### Brave Version
NA

**Reproducible on current live release:**
NA

### Additional Info

[2018-04-08 13:26] tony-ho commented on #13595
This looks to be related to an issue with Google OAuth 2.0 Sign-In when third party cookies are disabled.

I was able to complete the sign in process successfully after editing the site shield settings for getpocket.com and changing the **Cookie Control** setting from *Block 3rd party cookies* to *Accept all cookies*.

The issue is reproducible in Chrome when *Block third-party cookies* is set.

R

[2018-04-08 14:09] raisty opened #13768 "Privacy and Security risk - Downloads are logged in private tab"
### Description

If you download something in private tab, still it is logged in downloads.
Anybody can download the same data.

### Steps to Reproduce

  1. open new private tab
  2. download some data (avoid sensitive for purpose of testing)
  3. open downloads - you can find there your download even later

**Actual result:**

All downloads in private tab are logged

**Expected result:**
Not log

[2018-04-08 15:50] arsalankhalid commented on #6459
Taking this on, assigned by @NejcZdovc

[2018-04-08 19:45] mjball commented on #7131
I'm also having this issue, using a standard US keyboard layout:

![image](https://user-images.githubusercontent.com/378111/38471748-81b1eace-3b43-11e8-8465-08ff6f6ab9c2.png)

I've overridden "Select Next Tab" and "Select Previous Tab" for all applications to <kbd>Cmd</kbd>-<kbd>&rarr;</kbd> and <kbd>Cmd</kbd>-<kbd>&larr;</kbd>, respectively:

![image](https://user-images.githubusercontent.com/378

[2018-04-08 22:57] srcnalt opened #13770 "Feature Request: "Always open in private tab" list in preferences."
Right clicking on a private tab and adding the website to some always private list. So when the website is visited again via a link or directly from search bar, it opens in or switches to private tab right away.

[2018-04-09 01:27] jonathansampson opened #13771 "Request: Option to start Brave with tabs loaded"
### Feature Request
User _nishay_ on Reddit [has requested](https://www.reddit.com/r/brave_browser/comments/8are7e/unsuspend_tabs_on_browser_load/) a feature enabling the user to opt-into loading all tabs when Brave starts up. This impacts performance, but for users who don't typically have many tabs opened the impact may be minimal if even noticeable.

![image](https://user-images.githubuserconte

[2018-04-09 04:20] aushakou opened #13773 "URL bar elements are layered on each other when window width is reduced"
### Description
URL bar elements are layered on each other when window width is reduced and "Toolbar and UI elements scale" is set to "Larger" or "Supersize".

### Steps to Reproduce
  1. Go to Preferences -> Advanced
  2. Set "Toolbar and UI elements scale" to "Larger" or "Supersize"
  3. Reduce the width of the window

### Actual result:
URL bar elements are layered on each other

![brave_1](htt

[2018-04-09 06:00] NejcZdovc commented on #13023
closing this one as we will change logic with new design and we will not have time to fix this until then

[2018-04-09 06:00] #13023 closed

[2018-04-09 06:16] NejcZdovc commented on #12432
closing this one as we added no option in #13465

[2018-04-09 06:16] #12432 closed

[2018-04-09 08:08] ronilaukkarinen commented on #1122
+1 for this. I love the Safari-like UI of Brave, but would like to tweak a little bit more. For example identical width for tabs would be the cherry on top of the cake.

[2018-04-09 08:11] NejcZdovc commented on #13515
closing this one as we talked about it and this is better flow, where if you are on youtube site we record youtube, but if you are watching publisher we record only that

[2018-04-09 08:11] #13515 closed

[2018-04-09 08:13] NejcZdovc commented on #13046
closing this one as we don't have STR and we added new overlay that alerts users about it. Please create new issue with STR if we see it again.

[2018-04-09 08:13] #13046 closed

[2018-04-09 08:17] NejcZdovc commented on #4847
blocked on #13504. This PR will introduce backup flag that we can then use in this PR

[2018-04-09 08:20] #12262 closed, assigned to jenn-rhim

[2018-04-09 08:27] NejcZdovc commented on #11904
closing this one as it seems that it's working ok, didn't receive any new reports about it.

[2018-04-09 08:27] #11904 closed

[2018-04-09 08:31] NejcZdovc commented on #12713
@mrose17 do you think that we still need to do anything about it?

[2018-04-09 08:37] NejcZdovc commented on #6436
I think that we can close this one as we have network problem overlay now, that goes away when everything is ok

[2018-04-09 08:37] #6436 closed

[2018-04-09 08:38] NejcZdovc commented on #6547
@ryanml just to check quickly. Are you working on this one?

[2018-04-09 09:09] NejcZdovc commented on #11955
@srirambv can you please re-test this one as I can't reproduce it. See video bellow

[2018-04-09 11-06-39.mp4.zip](https://github.com/brave/browser-laptop/files/1889161/2018-04-09.11-06-39.mp4.zip)

[2018-04-09 13:20] srcnalt opened #13778 "Ads from steepto.com are visible on Brave."
Web ads sourced from steepto.com are visible on Brave.

![capture](https://user-images.githubusercontent.com/3163281/38499984-cff578f8-3c11-11e8-8b21-8fb02545910f.PNG)

[2018-04-09 14:05] bn0785ac commented on #13764
linux

[2018-04-09 14:41] LaurenWags commented on #13748
Update: snap has been reverted back to previous version, 0.21.24 for the time being while investigation continues.

[2018-04-09 16:04] mrose17 commented on #12713
@NejcZdovc - yes, i would still implement this.

[2018-04-09 16:48] diracdeltas opened #13779 "block referer based on eTLD+1 instead of full origin"
according to @bbondy, docs don't load in `docs.google.com` unless there is a referrer exception for `*.google.com`; similarly hangouts doesn't work in `mail.google.com` unless there is the same exception.

we should treat all these as first-party based on eTLD+1

[2018-04-09 16:56] RyanJarv opened #13780 "No sanity checking in upload/publish scripts"
### Description
The tools/upload.py and tools/publish.py scripts don't do any sanity checking and just add files to the existing draft it already exists. This means the person doing the build needs to make sure no one else starts it before a release.

### Steps to Reproduce
1. Run build
2. Run a second build with the same tag
3. Release the draft

**Actual result:**
Release will be a combination o

[2018-04-09 18:36] absolux commented on #13771
Or load only the active tab, the others will be reloaded when activated

[2018-04-09 19:04] LaurenWags commented on #13689
+1 from https://twitter.com/rkavalap/status/982127674087751681

[2018-04-09 19:28] diracdeltas commented on #10705
probably wait to just do this in chromium-fork

[2018-04-09 19:29] diracdeltas commented on #10705
^ unless @darkdh has cycles to do this before then

[2018-04-09 19:30] diracdeltas opened #13782 "migrate to brave-crypto for sync / ledger"
see https://github.com/brave-intl/bat-client/issues/50

[2018-04-09 19:42] darkdh commented on #10705
prefer doing that in chromium-fork, thanks.

[2018-04-09 19:44] simon-inoc commented on #13634
Hi, I would like to work on this bug as part of my college course.
I have also reproduce this error while reading some tennis news in this website: [ATP World Tour](http://www.atpworldtour.com/en)

[2018-04-09 20:02] MargarytaChepiga commented on #12349
Hello! I was able to do this:
![fix 1](https://user-images.githubusercontent.com/15698572/38519537-24ef00f8-3c0e-11e8-8eea-ae53206b6616.PNG)
Increased the size of the number and also moved it a little to the right.
Another version is:
![fix 2](https://user-images.githubusercontent.com/15698572/38519941-54892806-3c0f-11e8-8bd6-410ff8b98d5c.PNG)
Let me know what you think.

[2018-04-09 20:35] MargarytaChepiga commented on #11132
Hello! I think this is because we set the img to max-width and max-height. Which sets the limit only for the maximum size of the image. So if the favicon is smaller than 64px it will display it's original weight and height. Here:
https://github.com/brave/browser-laptop/blob/56f9e724c74d0929ec70aeca214a5c0c4a2078f3/less/about/newtab.less#L235
The solution I see to this is to make the size static. A

[2018-04-09 21:03] bradleyrichter commented on #12349
@MargarytaChepiga looks great. thanks!

cc @cezaraugusto for PR review when you are ready

[2018-04-09 21:50] MargarytaChepiga commented on #12349
@bradleyrichter Great! Thank you so much!

[2018-04-09 23:35] jonathansampson commented on #13711
Testing this today, I am unable to repro.

[2018-04-10 05:43] NejcZdovc commented on #10705
added label post-v1

[2018-04-10 06:28] NejcZdovc commented on #4024
@bsclifton should we add to any milestone this one?

[2018-04-10 07:12] hieronymousch commented on #3756
+1

[2018-04-10 11:36] tadeasbucha commented on #8543
I have downloaded latest version of Brave (as a possible new user) 0.22.13 on Win10 64bit and I can't order my tabs, neither the pinned ones neither normal ones. Also if I pin it doesn't put it to the most right side, but assigns the tab some random position.

[2018-04-10 12:12] NejcZdovc commented on #13544
will be fixed with https://github.com/brave-intl/bat-client/pull/53

[2018-04-10 12:29] Tomatoshadow2 commented on #13778
What Brave version and OS are you using?

[2018-04-10 12:45] egferro opened #13787 "Metamask not showing switch account bar"
### Description
Metamask does not show the upper part of the bar so it is not possible to switch between accounts.
Thanks for the support.
EF.

### Steps to Reproduce

  1.
  2.
  3.

**Actual result:**

**Expected result:**

**Reproduces how often:**

### Brave Version: 0.22.13

**about:brave info:**

**Reproducible on current live release:**

### Additional Information

my operating system is Wi

[2018-04-10 14:07] srcnalt commented on #13778
Brave: 0.22.13
V8: 6.5.254.41
rev: a8cfb160479f1d00d0769368eb440030182bb83b
Muon: 5.1.2
OS Release: 10.0.10586
Update Channel: Release
OS Architecture: x64
OS Platform: Microsoft Windows
Node.js: 7.9.0
Brave Sync: v1.4.2
libchromiumcontent: 65.0.3325.181

[2018-04-10 16:01] bridiver commented on #13732
Fixed in muon 6.0.2

[2018-04-10 16:01] #13732 closed

[2018-04-10 17:41] #10654 closed

[2018-04-10 18:28] #13277 closed

[2018-04-10 18:28] #13422 closed

[2018-04-10 18:28] #13695 closed

[2018-04-10 18:45] #12671 closed

[2018-04-10 19:04] jonathansampson commented on #13771
@absolux I believe you're describing the present behavior; Brave loads the active tab on startup. It subsequently loads the other tabs when they become focused.

[2018-04-10 19:08] jonathansampson commented on #11729
@lukemulks I popped the adblock message today when visiting the site; after manually adding your changes to about:adblock, the issue was resolved. Do we need to refresh Heroku or something with your changes?

[2018-04-10 19:15] jonathansampson commented on #13778
@srcnalt Can you please provide a URL that shows these ads?

[2018-04-10 19:23] petemill opened #13789 "bookmark bar folder and file icons are misaligned when overflow indicator is visible"
### Test plan
See https://github.com/brave/browser-laptop/pull/13986

### Steps to Reproduce

  1. Bookmark many items and at least one folder
  2. Switch to favicons only
  3. Resize window to show overflow indicator from not showing overflow indicator

**Actual result:**
Folder and default favicon (i.e. document icon) jump a couple of pixels vertically.

**Expected result:**
Same alignment as wh

[2018-04-10 20:05] diracdeltas commented on #13687
Does webroot offer a way for us to unblacklist ourselves?

[2018-04-10 20:19] petemill commented on #13738
Fixed with 0.22.108

[2018-04-10 20:19] #13738 closed

[2018-04-10 20:19] petemill commented on #13728
Should be fixed with 0.22.108

[2018-04-10 20:20] petemill commented on #13708
Should be fixed with 0.22.108

[2018-04-10 20:20] #13708 closed

[2018-04-10 20:39] petemill commented on #13698
This could be the "pending response" crash that @bridiver is looking in to

[2018-04-10 21:00] diracdeltas commented on #13782
fixed by https://github.com/brave/browser-laptop/pull/13784

[2018-04-10 21:00] #13782 closed

[2018-04-10 21:01] diracdeltas commented on #13752
details? we should usually pin CAs, not full certificates

[2018-04-10 21:42] jumde opened #13790 "Flash Plugin settings are not respected if flash is installed"
Repro Steps:

1. Instal Flash Player.
2. Verify that flash player is disabled in `about:preferences#plugins`
3. Navigate to: https://helpx.adobe.com/flash-player.html

Working animation in #5 indicates that flash plugin works.

<img width="967" alt="screen shot 2018-04-10 at 2 34 01 pm" src="https://user-images.githubusercontent.com/1903815/38585031-3fb7a380-3ccd-11e8-937d-e515f31c38b4.png">

<img

[2018-04-10 22:05] diracdeltas commented on #13790
@jumde this is probably because we added Adobe as a flash special case exception. See `getDefaultPluginSettings`

[2018-04-10 22:13] #13790 closed

[2018-04-10 23:12] diracdeltas opened #13791 "use npm package for sync instead of github releases"
I published the Sync staging branch (client only) https://github.com/brave/sync/commit/81d6b3342a9dfa3dcfab9be1a56cf0a45c260b93 as an npm package: https://www.npmjs.com/package/@brave/sync-client

so now we can install a specific version of sync instead of just the latest github version

[2018-04-11 00:59] jonathansampson opened #13793 "Improvements to about:passwords"
### Description
The page suggests users go to _Preferences > Security_ to change how passwords are managed. Brave, however, doesn't have a Preference menu option. Instead, it should probably say _Settings › Security_.

Additionally, this should probably be a direct link to that resource, rather than directions.

### Steps to Reproduce
Visit about:passwords in Brave.

**Actual result:**
Misleading,

[2018-04-11 01:42] Blankbook2081 commented on #13793
about:passwords should also not show usernames/emails, and instead have a slider like this one

Just an idea.

[2018-04-11 01:46] Blankbook2081 opened #13794 "Progressive Web App Submission Errors (PC AND Android)"
https://github.com/brave/browser-android-tabs/issues/597 (even more detailed(Android info included) post for Android)

I was told it is good to file both places and cross reference, so I am.
Description
When playing popular party games using https:jackbox.tv , drawings do not work. At all.

This ends in the detriment of the (person who was supposed to draw. Lost points, and lost game.)

Mobile

Go

[2018-04-11 01:53] jonathansampson opened #13795 "Make Address Bar a Drop Target"
### Description
A user requested the ability to perform a search (via the default search engine) by dropping text onto the address bar. If the selection is a URL, then the browser should navigate to that resource.

### Steps to Reproduce
Drag a text-selection and drop it onto the address bar.

**Actual result:**
Nothing happens.

**Expected result:**
A search is performed.

**Reproduces how often:

[2018-04-11 01:59] Blankbook2081 opened #13796 "An Important improvement to the about:passwords page"
(also look at this https://github.com/brave/browser-laptop/issues/13793 but anyways)
One of the best things about the Brave browser is the easy-access to developers who can help with problems.

One of the ways you are helped is that they might ask you to screen-share (show them your screen).
This is a very easy way to get problems solved, but can accidentally divulge information.

Therefore, there

[2018-04-11 04:53] kjozwiak commented on #13277
@petemill should this particular issue be moved into the `0.22.x Release 3` as well? Looks like #13758 fix is in that milestone as well.

[2018-04-11 05:51] petemill opened #13797 "New windows have pinned tab active, instead of New non-pinned tab"
### Steps to Reproduce

  1. Pin a tab
  2. Open a new window with cmd-n

**Actual result:**
The tab that has focus in the new window is the pinned tab

**Expected result:**
The tab that has focus in the new window is the new non-pinned tab

**Reproduces how often:**
100%

### Brave Version

**about:brave info:**
0.22.108

**Reproducible on current live release:**
No

[2018-04-11 06:04] petemill opened #13798 "Tab is destroyed if switched during first attach"
First attach of a tab seems to cause the WebContents to attach, then detach, then attach again very quickly. If the active tab is switched during the 'detach' phase, then the WebContents will not be properly detached and will be destroyed when the new Tab is attached. This is because the WebContents does not report as attached, even though it is about to automatically attach again.

@bridiver do y

[2018-04-11 06:29] petemill commented on #13798
This could be worked around by instead of working out whether we need to detach and attach to another WebContents after `did-attach`, we wait for `render-frame-ready`. Unfortunately, whilst this works well for subsequent attaches for a Tab, the first attach only fires `render-frame-ready` if we "bump" the webview by hiding and showing it. This in itself would be good to fix inside muon before laun

[2018-04-11 06:37] petemill commented on #13798
The attach -> detach -> attach is actually caused by our code hiding and showing the `<webview>` for the webview's first attach in order to force it to paint.

[2018-04-11 07:00] #12792 closed

[2018-04-11 07:05] #12271 closed

[2018-04-11 09:05] dngen commented on #3053
+1

[2018-04-11 10:47] Tomatoshadow2 commented on #13787
Please also post what Brave version and OS you are using.

[2018-04-11 10:50] srcnalt commented on #13778
I could not find this particular cartoon site in my history but the same ad provider has footer banner ads on 4chan.

[2018-04-11 11:15] Tomatoshadow2 commented on #13787
And fill out your bug in detail or it will be closed.

[2018-04-11 11:16] egferro commented on #13787
The bug is about not being shown your the upper part of the Metamask
interface, there is not much more than that.
EF.

On Wed, Apr 11, 2018 at 1:15 PM, Tomatoshadow2 <notifications@github.com>
wrote:

--

*Enrico Ferro, Ph.D*
Head of Innovation Development Dept.
Istituto Superiore Mario Boella
Via P. Boggio 61
10138 Torino, Italy
Tel: +390112276232
PPT: InnoDev <http://innodev.ismb.it/>
Twitter: @

[2018-04-11 12:38] btlechowski commented on #13277
Verified Win7 x64 v0.22.108

[2018-04-11 13:38] btlechowski commented on #12066
Verified Win7 x64 v0.22.108

[2018-04-11 13:58] btlechowski commented on #11730
Verified Win7 x64 v0.22.108

[2018-04-11 14:12] hugobuddel commented on #13797
The same happens when a tab is dragged out of Brave, or when Brave starts: the rightmost pinned tab gets focus instead of the dragged tab or the new tab.

[2018-04-11 14:50] cblancos commented on #12636
This worked for me, thanks

[2018-04-11 15:05] cezaraugusto opened #13799 "Sometimes data is not cleared in sync after leaving sync chain"
See full convo starting at https://github.com/brave/browser-laptop/pull/13197#discussion_r180245509

First reported by @diracdeltas in https://github.com/brave/browser-laptop/pull/13197#discussion_r180586165 while reviewing #13197

STR adapted from above link

1. join an existing sync chain (the one corresponding to bytes [0, 0, 0, 0...], so the current device is not the main device
2. click `Leav

[2018-04-11 15:08] btlechowski commented on #12223
Verified Win7 x64 v0.22.108

Steps used to verify:
1. Clear browsing history and cache
2. Go to https://jsfiddle.net/pqwdgr5x/5/
3. Bring Debugger(F12) and open Network tab
4. Tick 'Preserve log' and select 'Other'
5. Press F5 to reload

Expected result:
301 redirect

Steps used to verify:
1. Clear browsing history and cache
2. Go to https://avatars2.githubusercontent.com/u/1903815?s=40&v=4
3. Go

[2018-04-11 15:36] kjozwiak opened #13800 "Release checklist for 0.22.x Release 2 (Release Channel)"
# Release Process Checklist

Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

## Release Commands
### First-time Setup
- [x] `git clone git@github.com:brave/vault-updater && cd vault-updater`
- [x] `git clone git@github.com:brave/release-tools`
- [x] `npm install`
- [x] install the her

[2018-04-11 16:16] kjozwiak opened #13802 "Release notes for 0.22.x Release 2 (Release Channel)"
Release Notes:
 - Accept different referral code. ([#13754](https://github.com/brave/browser-laptop/issues/13754))

[2018-04-11 16:27] bridiver commented on #13698
this is likely fixed in 6.0.3

[2018-04-11 16:27] #13698 closed

[2018-04-11 16:31] LaurenWags commented on #13732
Verified on macOS 10.12.6 x64 using the following build:
* 0.22.108 https://github.com/brave/browser-laptop/commit/2ecddeb917bfae1ecbc5ed33606924628bc299d0
* libchromiumcontent: 65.0.3325.181
* muon: 6.0.2

[2018-04-11 16:36] LaurenWags commented on #13738
Verified on macOS 10.12.6 x64 using the following build:
* 0.22.108 https://github.com/brave/browser-laptop/commit/2ecddeb917bfae1ecbc5ed33606924628bc299d0
* libchromiumcontent: 65.0.3325.181
* muon: 6.0.2

[2018-04-11 16:56] btlechowski commented on #13695
Verified Win7 x64 v0.22.108

[2018-04-11 16:59] btlechowski commented on #13422
Verified Win7 x64 v0.22.108

[2018-04-11 17:03] btlechowski commented on #13679
Verified Win7 x64 v0.22.108

[2018-04-11 17:06] petemill opened #13803 "Infinite loading spinner when detaching a loading tab (sometimes)"
### Steps to Reproduce

  1. Load a tab
  2. During load, detach the tab
  3. Tab in new window's loading animation is infinitely spinning

**Actual result:**
Load spinner of tab in new window does not stop when load is complete

**Expected result:**
Load spinner reflects current status of load

**Reproduces how often:**
~20%, depends on timing

### Brave Version

**about:brave info:**
0.22.106

*

[2018-04-11 17:10] petemill opened #13804 "Opening a new window with pinned tabs, the New Tab will have url of pinned tab, and focus stolen"
### Description
When opening a new window with pinned tabs, the unpinned tab which has focus will show the URL of one of the pinned tabs in the URL bar, and often have the URL bar focus stolen when the pinned tab has been loaded. This all depends on timing.

### Steps to Reproduce

  1. Pin at least 2 sites
  2. Open a new window with cmd-n

**Actual result:**
The new unpinned tab will display the

[2018-04-11 17:11] btlechowski commented on #13681
Verified Win7 x64 v0.22.108

[2018-04-11 17:14] btlechowski commented on #13684
Verified Win7 x64 v0.22.108

[2018-04-11 17:19] btlechowski commented on #13686
Verified Win7 x64 v0.22.108

[2018-04-11 17:47] jonathansampson commented on #13778
@srcnalt I'm unable to find any ads loading; it looks like Brave is blocking everything (but I don't see any steepto URLs in the block list either. Can you try opening your developer tools with <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>I</kbd> and visit the _Network_ tab. From there, press <kbd>Ctrl</kbd>+<kbd>R</kbd> (which will refresh the page). You should then see the _Network_ tab fill up with re

[2018-04-11 18:12] btlechowski commented on #13694
Verified Win7 x64 v0.22.108

[2018-04-11 18:14] #13668 closed

[2018-04-11 19:05] petemill commented on #13798
Should be fixed in 0.22.109

[2018-04-11 19:05] #13798 closed

[2018-04-11 19:05] petemill commented on #13797
Should be fixed in 0.22.109

[2018-04-11 19:05] #13797 closed

[2018-04-11 19:29] eljuno commented on #13793
I think MacOS use _Preferences_ while Windows and Linux use _Settings_ if I'm not wrong? And `about:preferences` said _Preferences_ as a title.

[2018-04-11 19:49] LaurenWags commented on #13728
Site listed in STR works, but other sites (twitter and github) are still displaying a letter instead of favicon. Tested with 0.22.109:
![13728](https://user-images.githubusercontent.com/28145373/38639654-e4392abe-3d9f-11e8-9543-cc3deded6d02.gif)

[2018-04-11 19:55] diracdeltas opened #13805 "move webrtc options from advanced to security pref panel"
str:
1. go to about:preferences#security
2. you should see the webrtc options select box in there

[2018-04-11 20:05] #13802 closed

[2018-04-11 20:29] LaurenWags commented on #13797
Verified on macOS 10.12.6 x64 using the following build:
* 0.22.109 https://github.com/brave/browser-laptop/commit/5e4846eb66981a0b7b283ddf7d65a2721641f87d
* libchromiumcontent: 65.0.3325.181
* muon: 6.0.3

[2018-04-11 20:34] jonathansampson opened #13808 "Can't log into Binance.com"
### Description
Users report an inability to log into binance.com with Brave.

**Workaround**
Switching shields to _Allow all Cookies_ resolves the issue, suggesting this is related to cookies or localstorage.

### Reports:
- https://twitter.com/BrantBailey4/status/984149912521605120
- https://twitter.com/sci4me/status/984113669616361475
- https://twitter.com/AmarChhetri/status/983998288499281923

[2018-04-11 21:29] srcnalt commented on #13778
I noticed that the the ad is in an _**iframe**_, and shows-up (in this particular website) when scroll hits the bottom of the page.

![untitled-1](https://user-images.githubusercontent.com/3163281/38644104-16ebc9c4-3de8-11e8-9cb8-af4342c863ca.png)

[2018-04-11 21:49] LaurenWags commented on #13728
It looks like instead of displaying the favicons it's displaying the first letter of the tab title. In the below image I opened 0.22.109 with a clean profile then closed the about:welcome page. From the new tab page, I cmd+clicked on each of the default top site tiles. After a few seconds, the favicons changed to the letters (only the pinned twitter tab retained the favicon):
![screen shot 2018-04

[2018-04-11 23:04] #13805 closed

[2018-04-11 23:30] feross commented on #12616
I think the `hostname` option can be specified by the `webtorrent-remote` user and it will be passed through to webtorrent.

You can see how `opts` from `torrent.createServer(opts)` gets passed through in this commit where it was added: https://github.com/dcposch/webtorrent-remote/commit/5b0cec4c0f6672498cd987261324a8eb08482d26

[2018-04-12 02:49] Coleej commented on #1374
+1

[2018-04-12 06:12] petemill opened #13810 "Dead tab - cannot get webContents by tab ID"
### Description
Found by @bsclifton
With the below STR, a tab cannot be switched to, because we cannot retrieve the webContents by Tab ID, even though the webContents has not been destroyed.

### Steps to Reproduce from @bsclifton
1. Visit http://www.benzworld.org/forums/17354970-post7.html
2. Click any of the Mercedes craigslist links there using middle click :smile:
2.5 Switch to that tab actual

[2018-04-12 06:48] bsclifton commented on #2184
Related: https://github.com/brave/browser-laptop/issues/5865

Usually the Helper is always shown... but even after putting PW and clicking button to upgrade/relaunch Brave, it stays on the same version

[2018-04-12 06:53] jonathansampson commented on #13778
Ah, I was able to repro. Thank you!

[2018-04-12 07:10] petemill commented on #2184
Perhaps the logs in `~/Library/Caches/com.electron.brave.ShipIt` would help shed some light on this issue

[2018-04-12 08:57] m1nkeh commented on #6251
in terms of memory usage, this is a must have... i have tons of tabs open in chrome and i *really* want to transition to brave for everything... my current workaround is to order more ram! 👍

[2018-04-12 10:24] avenirperma commented on #13060
same here windows 8.
video on peertube launches torrent via brave and not webtorrent
please help change this, this doesn't help brave for opensource community users!

[2018-04-12 12:45] Leon422 commented on #344
Please fix this. It negates a large part of the reason to block ads in the first place :(

[2018-04-12 13:08] LaurenWags opened #13811 "Manual test run for Chromium upgrade on OS X for 0.22.x w/ Chromium 66"
## Per release specialty tests

## Installer

- [x] Check that installer is close to the size of last release.
- [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital

[2018-04-12 13:08] LaurenWags opened #13812 "Manual test run for Chromium upgrade on Windows x64 for 0.22.x Release 2"
## Per release specialty tests

## Installer

- [x] Check that installer is close to the size of last release.
- [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital

[2018-04-12 13:08] LaurenWags opened #13813 "Manual test run for Chromium upgrade on Linux for 0.22.x w/ Chromium 66"
## Per release specialty tests

## Installer

- [x] Check that installer is close to the size of last release.
- [ ] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital

[2018-04-12 13:45] LaurenWags opened #13814 "c66 build crashes on launch"
### Description
When launching c66 build it crashes on launch each time.

### Steps to Reproduce

  1. Download from https://github.com/brave/browser-laptop/releases/tag/v0.22.662
  2. Attempt to launch
  3.

**Actual result:**
Brave Crashes
![screen shot 2018-04-12 at 9 43 59 am](https://user-images.githubusercontent.com/28145373/38681145-0bf63fb0-3e36-11e8-9650-39467c6205ef.png)

**Expected resu

[2018-04-12 13:59] pettys commented on #5800
+1. Chrome and Edge both work as +1'ers expect.

The current pinning behavior is confusing in this use case: I like to pin Pandora. If multiple windows are open, and they all have a Pandora tab, I wonder which one of them is actually playing the music right now.

The confusion shows up as bug: Today if I pin Pandora, switch to a non-pinned tab, then hit Ctrl+N to open a new window, Pandora stops p

[2018-04-12 16:26] jonathansampson commented on #13778
@lukemulks Something like `*$websocket,domain=4chan.org` resolves the issue, but prevents the downloading of CSS files too. I suspect we can limit this rule to `$script` somehow, but my rule-writing skills aren't on point like yours :) Anything we can do here?

[2018-04-12 16:41] LaurenWags opened #13815 "drag and drop of a tab shows tab content as white"
### Description
Sometimes drag and drop of a tab results in the dropped tab content displaying as white. Seems fairly reproducible when using session tabs but is more intermittent when using normal tabs.

### Steps to Reproduce

  1. Launch 0.22.109 with a clean profile
  2. Close welcome tab
  3. Open a Session 1 tab and navigate to a site (I used twitter)
  4. Open a Session 2 tab and navigate t

[2018-04-12 17:03] LaurenWags commented on #13709
Verified on macOS 10.12.6 x64 using the following build:
* 0.22.109 https://github.com/brave/browser-laptop/commit/5e4846eb66981a0b7b283ddf7d65a2721641f87d
* libchromiumcontent: 65.0.3325.181
* muon: 6.0.3

[2018-04-12 17:07] bsclifton commented on #13343
Thanks for the report- all WebDriver automated tests on Windows are all failing ☹️

Closing this as a duplicate of https://github.com/brave/browser-laptop/issues/10618

[2018-04-12 17:07] #13343 closed

[2018-04-12 17:09] bsclifton commented on #13260
This should have been fixed on macOS with https://github.com/brave/browser-laptop/issues/1364

We should test this on Windows/Linux

[2018-04-12 17:16] bsclifton commented on #13101
@hugobuddel does this still happen? With 0.22.13, we had some dialog improvements. Please let us know 😄

[2018-04-12 17:35] MoonRubles commented on #13156
OP here... It's BROKEN AGAIN!
Worked last month, got notifications of impending payment, and showed a last contribution.
This month it's back to its originally reported broken state: the date gets incremented a month, with a "no prev contrib", and the balance did not go down:
![brave180412](https://user-images.githubusercontent.com/36520807/38693865-0ac11b72-3e3d-11e8-8ad3-f1ab44f54c21.PNG)
I'll c

[2018-04-12 17:41] petemill opened #13816 "Can't unpin a site that redirects on load"
If you have a pinned site in session-store (`[URL]`)that when loaded redirects to `[URL/x]` immediately on load, then the user will never be able to un-pin the site.

This is due to comparing the key based on the current location of the tab.

I had this happen with `https://inbox.google.com/` pinned, which always redirects to `https://inbox.google.com/b/0`

We should probably compare to the initia

[2018-04-12 18:16] bsclifton opened #13817 "Updates for Brave on macOS should not be quarantined"
## Test plan
Perform the following steps for:
- build installed to `/Applications/Brave.app`
- custom build installed to a particular folder (ex: `~/Desktop/brave/Brave.app`)
- custom build installed to a path with spaces (ex: `~/Desktop/brave folder/Brave.app`)

Steps:
1. Install browser-laptop 0.22.13 https://github.com/brave/browser-laptop/releases/tag/v0.22.13dev
2. run `xattr <path to Brave.a

[2018-04-12 18:17] bsclifton commented on #13817
Potential fix here: https://github.com/brave/muon/pull/569

[2018-04-12 18:55] jayyyin commented on #13487
This issue, seems to be related https://bugs.chromium.org/p/chromium/issues/detail?id=387146

[2018-04-12 19:09] petemill commented on #13487
@jayyyin actually I don't think that's related. This looks to me a css display / painting issue. The chromium issue you linked to is literally Chromium changing the favicon when the Url changes via `pushState`.

[2018-04-12 19:28] jayyyin commented on #13487
@petemill yah I found another lead, the icon isn't cached correctly and is being redownloaded constantly, you can see using the networks tab that it is for some reason

[2018-04-12 19:42] ryanml commented on #6547
@NejcZdovc

I have a possible approach for this one that I used to solve another issue (the base issue being able to manually include sites that don't meet the minimum criteria in to the synopsis) so tentatively, yes. Let's discuss this one next week if possible

Cc: @mrose17

[2018-04-12 19:55] eljuno commented on #12612
+1 from Reddit https://www.reddit.com/r/brave_browser/comments/8bhoq9/issues_with_lastpass_extension_and_alleged/?ref=share&ref_source=link

[2018-04-12 20:29] diracdeltas commented on #13779
related: https://github.com/brave/browser-laptop/issues/11778

the same issue occurs on sheets.google.com

[2018-04-12 20:47] jonathansampson commented on #13808
The issue may be with calls coming from resource.binance.com, which appears to be a CDN for the exchange.

[2018-04-12 21:31] jonathansampson opened #13818 "Scrollable Tab Previews"
### Description
A user requested the ability to scroll a previewed tab. Because you cannot leave tab (or else the tab would cease to be previewed), scrolling would likely have to take place on the tab itself. Scroll events could be intercepted, and transferred to the webview document itself.

### Additional Information
https://www.reddit.com/r/brave_browser/comments/8bgzct/scrolling_on_hover_previ

[2018-04-12 21:32] LaurenWags commented on #13706
Verified on macOS 10.12.6 x64 using the following build:
* 0.22.109 https://github.com/brave/browser-laptop/commit/5e4846eb66981a0b7b283ddf7d65a2721641f87d
* libchromiumcontent: 65.0.3325.181
* muon: 6.0.3

[2018-04-12 21:35] jevuu commented on #13793
Yes, the directions are accurate for Mac, but not for Windows and Linux because the option reads "Settings" instead.

Seems like an easy fix, but what about localization? I think we'd have to create a new string (or more) for Windows and Linux?

For example:
`passwordDisableInstructions=To change how passwords are managed, go to Preferences > Security
passwordDisableInstructionsWindowsLinux=To cha

[2018-04-12 22:16] LaurenWags commented on #12792
@NejcZdovc - PDFs don't have a favicon. Just want to confirm this is expected:
![screen shot 2018-04-12 at 6 14 52 pm](https://user-images.githubusercontent.com/28145373/38707001-6b38fb6a-3e7d-11e8-8800-f8d227aabf13.png)

I verified the following PDFs showed up in the ledger:
https://basicattentiontoken.org/BasicAttentionTokenWhitePaper-4.pdf
http://www.pdf995.com/samples/pdf.pdf

I also verified

[2018-04-12 22:39] bfinney-thoughtworks commented on #5800
Another reason to want exactly 1 instance of each pinned tab: Many pages are resource-intensive. I don't want more copies of a high-CPU tab than are needed: when I pin it once, it should exist once and new windows should not attempt to have another running copy.

[2018-04-12 23:53] ryanmusante commented on #13602
@kjozwiak I'm still testing with the latest git branch and it seems to be working good now. I'll keep posted on any changes

[2018-04-13 00:26] diracdeltas commented on #13662
renaming this now that the new identity button was taken out of the UI

[2018-04-13 00:28] diracdeltas opened #13821 "automated webdriver tests for Tor tabs functionality"
we should add webdriver tests for Tor tabs

blocked on #13611

[2018-04-13 04:49] kjozwiak opened #13822 "Manual test run on OS X for 0.22.x Release 2"
## Per release specialty tests

 - [ ] Updates for Brave on macOS should not be quarantined #13817

## Installer

- [x] Check that installer is close to the size of last release
- [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures tab

[2018-04-13 04:49] kjozwiak opened #13823 "Manual test run on Windows x64 for 0.22.x Release 2"
## Per release specialty tests

## Installer

- [x] Check that installer is close to the size of last release
- [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital s

[2018-04-13 04:49] kjozwiak opened #13824 "Manual test run on Linux for 0.22.x Release 2"
## Per release specialty tests

## Installer

- [x] Check that installer is close to the size of last release
- [ ] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital s

[2018-04-13 04:50] bsclifton commented on #13088
Reverted to fix https://github.com/brave/browser-laptop/issues/13817 with https://github.com/brave/muon/pull/570 in Muon and https://github.com/brave/browser-laptop/pull/13819 on browser-laptop

[2018-04-13 05:01] kjozwiak commented on #13602
Awesome! Thanks @ryanmusante, much appreciated!

[2018-04-13 05:12] petemill opened #13825 "On macOS, switched-to tab is blank until window resize / move"
### Description
When performing `<webview>.attachGuest(guestInstanceId)` and going between different `guestInstanceId`s, very often the <webview> will finish attaching but still be white until the window is resized which forces it to paint the Tab's contents in the view. We have had success working around that with the following process:

1. call `<webview>.attachGuest(guestInstanceId)`
2. wait fo

[2018-04-13 05:17] bsclifton opened #13826 "Revert quarantine feature for macOS"
Companion issue to https://github.com/brave/browser-laptop/issues/13817

## Test plan
1. Download https://nodejs.org/dist/v8.9.4/node-v8.9.4.pkg
2. Open terminal and run `xattr node-v8.9.4.pkg`
3. Quarantine flag (`com.apple.quarantine`) should NOT be present

[2018-04-13 05:28] bsclifton commented on #13826
Manually created macOS build
1. `git checkout 0.22.x-promo`
2. `npm run build-package`
3. `cd Brave-darwin-x64/`
4. manually removed key `LSFileQuarantineEnabled` and value `true` from the following files using vim:
[code]
5. Build package and passed proper signing parameters

[2018-04-13 06:38] petemill opened #13827 "Tab's first attach is not composited"
### Description
If we call `<webview>.attachGuest(guestInstanceId)` for a Tab that has never been attached / displayed before, then 50% of the time it won't be composited within the `<webview>`, even though `did-attach` will be received. If we detach and attach again, then it will be displayed correctly.

What would be great is either:
- IF this is a timing issue, know which event has to be receiv

[2018-04-13 06:55] #13826 closed

[2018-04-13 06:55] bsclifton commented on #13826
Fixed binaries uploaded - see https://github.com/brave/browser-laptop/releases/tag/v0.22.19dev

[2018-04-13 07:26] petemill commented on #13827
Another Windows issue is that when switching to a Tab, occasionaly the webview will initially display the last attached tab's contents for a couple frames before showing the newly-attached Tab, even though that last Tab has been detached for some time, and the `<webview>` was blank since detach.

[2018-04-13 07:38] maetthew commented on #7778
+1. Waiting for Enpass support before I can ditch Firefox in favor of Brave

[2018-04-13 11:12] nckraghu commented on #13017
Issue present in when trying to open links in wikipedia pages too.

Brave 0.22.13, Windows 10 Home Edition 64 bit

[2018-04-13 11:55] hugobuddel commented on #12753
The problem is completely gone for me. Using 0.22.13 as well. Never noticed a problem with Chrome, but not using it that often.

Your about:brave is exactly the same except for "OS Release: 10.0.17133". So maybe it was a Windows update that fixed the problem? I've joined the Windows Insider Program some time ago, so I might be using a developer version.

[2018-04-13 15:03] LaurenWags opened #13828 "time reporting for twitch isn't accurate"
### Description
Twitch videos/publishers used to be added to the ledger table right away with a time spent of 10s. Now they're not being added until a minute or 2 into the video/stream. This means that time reporting is no longer accurate. Also, when running LEDGER_VERBOSE=true, I'm seeing a syntax error.

### Steps to Reproduce

  1. Clean profile on 0.22.19, launch Brave with LEDGER_VERBOSE=true

[2018-04-13 15:10] jevuu commented on #13793
How's this approach?
In passwords.js:
[code]
passwords.properties:

[code]

Result (in Windows):
![image](https://user-images.githubusercontent.com/35980711/38742493-b41b9d1e-3f0a-11e8-916e-5fa2532ae072.png)

[2018-04-13 15:57] kjozwiak commented on #13828
@NejcZdovc is this due to Twitch changing their API again? We had https://github.com/brave/browser-laptop/issues/13597 which was fixed in `0.22.13` and tested. I'm assuming we would have caught this if it was present at the time as Twitch was tested pretty well as it included several fixes.

[2018-04-13 18:01] matthewbahr commented on #5727
+1 here as well. Stylus/Stylish whatever: We need it.

[2018-04-13 19:44] btlechowski commented on #13823
Tested with v0.22.19

[2018-04-13 19:44] #13823 closed

[2018-04-13 20:02] LaurenWags commented on #13817
Custom install paths don't work (ex. /Users/laurenwagner/Brave\ Documents/Laptop/0.22.19 )

[2018-04-13 20:29] LaurenWags commented on #13822
Tests were as expected.

[2018-04-13 20:29] #13822 closed

[2018-04-13 21:37] LaurenWags commented on #13826
Verified on macOS 10.12.6 x64 using the following build:
* 0.22.20 https://github.com/brave/browser-laptop/commit/031ef465af97537ba889c91d4b35d0129e1bebbd
* libchromiumcontent: 65.0.3325.181
* muon: 5.1.2

[2018-04-13 22:09] #13824 closed

[2018-04-13 22:12] SCBuergel commented on #11778
running into the same issue on latest OS X

[2018-04-13 22:17] LaurenWags commented on #13817
![xattr-02](https://user-images.githubusercontent.com/28145373/38760020-ef214896-3f46-11e8-8130-e55199b5e051.gif)

[2018-04-14 05:53] socketbox commented on #12879
For what it's worth, confirming that this is an issue with an earlier version of macOS and a later version of Brave:

Name | Version
-- | --
Brave | 0.22.13
V8 | 6.5.254.41
rev | a8cfb16
Muon | 5.1.2
OS Release | 16.7.0
Update Channel | Release
OS Architecture | x64
OS Platform | macOS
Node.js | 7.9.0
Brave Sync | v1.4.2
libchromiumcontent | 65.0.3325.181

[2018-04-14 08:55] jonathansampson commented on #11778
@SCBuergel Set _Cookie Control_ to _Allow all Cookies_ from the Brave Shields. That should work-around the issue.

[2018-04-14 09:00] jonathansampson commented on #13793
@jevuu Looks pretty good; though I suspect we have a variable someplace that could replace the explicit `rgb` color value seen here:

[code]

[2018-04-14 09:01] jonathansampson commented on #13680
@Tomatoshadow2 Thank you for finding the related issue; @darkdh, thoughts on this?

[2018-04-14 15:39] IKishan commented on #13595
Yes, actually the browser blocked all third party cookies and hence the sign was unable to complete. The permissions were granted in **Preferences>Shields>Cookie Control>Allow all cookies**
Thanks for the help @tony-ho

[2018-04-14 15:40] #13595 closed

[2018-04-15 08:50] schnesim commented on #321
I just tried solving this issue by replacing the cache folder with a symlink pointing to a RAM disk. But apparently Brave re-creates the cache folder on every start removing the symlink in the process.
Too bad...

[2018-04-15 12:38] LaurenWags commented on #13817
Verified on macOS 10.12.6 x64 using the following build:
* 0.22.21 https://github.com/brave/browser-laptop/commit/d5551e6bcd824a71057ef2f096174db3f4160998
* libchromiumcontent: 65.0.3325.181
* muon: 5.1.2

Scenarios Tested:
1. Default path (/Applications/Brave.app) - works as expected
2. Custom path without a space in the name (ex. /Users/lauren/Brave/Laptop/testnospaces/Brave.app) - see below
3.

[2018-04-15 13:09] LaurenWags commented on #12744
+1 from community: https://community.brave.com/t/crashes-on-startup-on-mac-10-9-5/19544

[2018-04-15 13:16] LaurenWags commented on #13689
Multiple +1s in community

[2018-04-15 14:45] Jacalz commented on #13633
Yeah I have noticed this issue as well on Bitwarden and I double checked Metamask and the same issue is there...

[2018-04-15 16:03] Jacalz opened #13831 "Bitwarden extension keeps turning off"
### Description

Bitwarden keeps turning off so I need to go to settings and switch the extension off and then on again for it to work. I don´t know if it is the same issue with different extensions but I remember me and @jonathansampson talking about other users having the same issue on an extension update call. I could not find any issue for it so decided to create one now since it happens a lot

[2018-04-15 17:36] tommyquite commented on #10085
I have raised this a couple of times over the last 9 months. Sorry for becoming impatient, but are there any plans of fixing this?

It's really preventing me from using the browser and I know many other mac users with me.

Thanks!

[2018-04-15 23:07] darkdh commented on #13680
This will be fixed with fork. cc @bbondy

[2018-04-16 05:37] NejcZdovc commented on #12792
@LaurenWags Yes this is expected, because PDF's don't have favicon.

[2018-04-16 05:41] safecoms commented on #6723
would love to see this extension, very popular on all other browsers, one of the best 2FA on the market, secure, multi site, backup etc...

[2018-04-16 05:43] #13531 closed

[2018-04-16 09:15] hugobuddel commented on #13101
Thanks @bsclifton the problem is gone!

I do not like such modal dialogs much though:
- Often I want to base the name of the file on some text shown on the page. (E.g. sometimes pdfs are just an article identifier, while I'd like the title or authors in the filename.) But it is not even possible to see the text once the save dialog is open, let alone copy it. (E.g. moving the dialog box also moves

[2018-04-16 09:15] #13101 closed

[2018-04-16 10:57] bsclifton opened #13835 "Release checklist for 0.22.x Release 2 (Release Channel)"
# Release Process Checklist

Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

## Release Commands
### First-time Setup
- [x] `git clone git@github.com:brave/vault-updater && cd vault-updater`
- [x] `git clone git@github.com:brave/release-tools`
- [x] `npm install`
- [x] install the her

[2018-04-16 11:02] nielspeen commented on #3756
Brave properly uses the system proxy on macOS when one is configured. However, when I then remove the system proxy, and other browsers automatically switch back to the regular connection, Brave stops working and reports: "The IP address is unreachable. This usually means that there is no route to the specified host or network."

[2018-04-16 11:13] bsclifton commented on #13800
closing in favor of https://github.com/brave/browser-laptop/issues/13835

[2018-04-16 11:13] #13800 closed

[2018-04-16 12:15] #13835 closed

[2018-04-16 14:38] NejcZdovc commented on #12713
@mrose17 I just checked and we don't have any specific cache right now. The only thing that we have is `verifiedTimestamp` timestamp that prevents pulling from the server every time (only when there is a change). What we could do is clear that timestamp on start up, but I don't see any reports about verified publishers anymore so I think this is overkill. Based on that I would close this issue, wd

[2018-04-16 14:45] andrewgioia commented on #10085
+1 This issue unfortunately makes Brave a nonstarter for me and I really want to use it.

I also remap Cmd+# to switch desktop spaces and Brave is nonfunctional for me without either operating the same way as Safari or letting me re-assign Brave's hotkeys.

[2018-04-16 15:24] LaurenWags opened #13837 "netflix does not work on c66 with clean profile"
### Description
Netflix does not work with a clean profile on 0.22.663. If you use an existing profile which already had Netflix installed prior to C66, it works.

### Steps to Reproduce

  1. Launch 0.22.663 with a clean profile
  2. Navigate to Netflix.
  3. Select 'Install and Allow' on the widevine prompt.
  4. Navigate to login page.
  5. You get the notification to install widevine (you shou

[2018-04-16 15:52] btlechowski opened #13838 "Cannot enable extensions"
### Steps to Reproduce

  1. Clean Install
  2. Open about:preferences#extensions
  3. Enable an extension

**Actual result:**
Extension cannot be enabled. It is stack on version 'Latest'
![image](https://user-images.githubusercontent.com/34715963/38820533-7a643aea-419e-11e8-94a1-14a8863a5864.png)

**Expected result:**
Possible to enable extensions

**Reproduces how often:**
100%

### Brave Versio

[2018-04-16 15:55] petemill commented on #2184
Could be the issue reported at https://github.com/Squirrel/Squirrel.Mac/issues/151

[2018-04-16 15:58] mtziemba opened #13839 "macOS High Sierra - Must quit app to open new window"
### Description
On macOS High Sierra, if you close all browser windows _but don't quit the app_, then open a new window (by clicking Brave icon or using **File > New Window**, a new window will not open. _The only method that works is Command + N_.

### Steps to Reproduce

  1. Start Brave on macOS High Sierra. A new browser window opens.
  2. Close this browser window, _but don't quit the app._

[2018-04-16 16:09] LaurenWags opened #13840 "unable to view PDFs on c66 with clean profile"
### Description
PDFs don't display within Brave when using a clean profile.

### Steps to Reproduce

  1. Launch 0.22.663 with a clean profile
  2. Navigate to a PDF (such as http://www.pdf995.com/samples/pdf.pdf )
  3. You will see an error.
  4. Navigate to about:preferences#extensions
  5. PDF Viewer is not listed.

**Actual result:**

Unable to view a PDF
![c66-pdf](https://user-images.githubu

[2018-04-16 16:26] petemill commented on #2184
ShipIt_stderr.log output was:
[code]

Looks like it may have been fixed in Squirrel.Mac with https://github.com/Squirrel/Squirrel.Mac/pull/207 (+ maybe other PRs) and subsequently in electron 1.7.9 with https://github.com/electron/electron/pull/10071 and https://github.com/electron/electron/pull/10298

[2018-04-16 16:32] Liunkae commented on #13839
I think this is the same problem as #13689. That problem has already been fixed and will (hopefully) be included in the next release.

[2018-04-16 17:03] ltilve commented on #13840
The issue is also reproducible on Linux, also when removing the existing profile.

[2018-04-16 17:12] Tphelps91387 commented on #3035
Highlight and copy URL.
On desktop, right click>New>Shortcut, then paste the URL in the text box. It will create a shortcut to that web address in whatever your default browser is.

[2018-04-16 17:12] jSadoski commented on #3756
@nielspeen That issue doesn't sound related to this feature request. You should open your own issue for that.

[2018-04-16 17:13] mrose17 commented on #12713
agreed: OBE.

[2018-04-16 17:13] #12713 closed

[2018-04-16 17:32] LaurenWags commented on #13811
Twitch videos not tested with Ledger Media tests due to existing issue: https://github.com/brave/browser-laptop/issues/13828

[2018-04-16 17:52] darkdh commented on #13840
fixed in muon 5.2.3

[2018-04-16 17:52] #13840 closed

[2018-04-16 17:53] darkdh commented on #13838
fixed in muon 5.2.3 by https://github.com/brave/muon/commit/d4effccfda02d2e35cd1a3d6d68a59a9e14d9a1f

[2018-04-16 17:53] #13838 closed

[2018-04-16 17:53] darkdh commented on #13837
fixed in muon 5.2.3 by https://github.com/brave/muon/commit/d4effccfda02d2e35cd1a3d6d68a59a9e14d9a1f

[2018-04-16 17:53] #13837 closed

[2018-04-16 18:00] eljuno commented on #2627
+1 from community https://community.brave.com/t/no-new-window-when-right-click-on-taskbar-icon/19922?u=eljuno

[2018-04-16 18:40] jSadoski opened #13841 "Temporary extension while file is being downloaded (e.g. brdownload)"
### Description
While downloading a file, it would be helpful if a temporary extension could be applied (such as .brdownload). Once complete, the temporary extension could be removed. This would prevent accidental opening or execution of incomplete downloads. Other browsers, such as Chrome, have this type of functionality.

### Steps to Reproduce
Download any file.

**Actual result:**
While being

[2018-04-16 19:06] nneuman commented on #5499
+1 on this - is it partly due to custom domains pointing to Medium publications?

I wonder if Medium uses a tag of some sort that could identify publications even if they're using a custom domain?

[2018-04-16 19:27] LaurenWags opened #13842 "chrome://crashes says crash reporting is disabled when it is not"
### Description
chrome://crashes says that crash reporting is disabled when it is actually enabled in about:preferences#advanced.

### Steps to Reproduce

  1. Launch 0.22.663 with a clean profile.
  2. Navigate to chrome://crash
  3. Navigate to chrome://crashes

**Actual result:**
chrome://crashes shows that crash reporting is disabled but if you go to about:preferences#advanced you can see that

[2018-04-16 22:03] bradleyrichter commented on #11132
@MargarytaChepiga My only concern with this otherwise nice fix is that, as you said, the 16x size icons will scale up and look fuzzy. Is there a way to add an exception to prevent this?

(only allow favicons to scale up to the desired height/width if they are large enough.)

[2018-04-16 22:06] diracdeltas opened #13843 "''firewall blocked request" logged in console even though firewall is disabled"
follow up to #13119 : the firewalling filter logs blocking messages to the console even when it isn't actually blocked.  this may confuse some people.

test plan:
1. download an image and name it to rabbits.jpg
2. in the rabbits.jpg directory, start a localhost server: 'python -m SimpleHTTPServer 8000'
3. go to https://jsfiddle.net/c6y5qx5m/. you should see either 2 or
3 copies of rabbits.jpg load

[2018-04-16 22:08] MargarytaChepiga commented on #11132
@bradleyrichter yes, I can do that. But again, the icons won't be the same size.

[2018-04-16 22:25] MargarytaChepiga commented on #11132
@bradleyrichter If you mean to leave them the same size ( as in don't scale up 16px) then it's pretty much the same thing as it was before with the only difference that the favicons size is smaller now. Take a look please:
![max-32](https://user-images.githubusercontent.com/15698572/38838218-2dd681b0-41a3-11e8-9c5b-06ad393086a9.PNG)

[2018-04-16 23:13] darkdh commented on #13842
fixed in muon 5.2.3 by https://github.com/brave/muon/pull/562/commits/9b3fa42a7d8ddf2833cad4e6644f5932273e305f

[2018-04-16 23:13] #13842 closed

[2018-04-17 00:37] natv commented on #12612
+1
Just installed Brave today so this is on a completely fresh setup (with 'strict site isolation' on, was the first thing I turned on.

[2018-04-17 01:55] ryanpcmcquen commented on #12463
This one really hurts ...

[2018-04-17 04:48] GarrettS opened #13847 "Messed Updater"
### Description
Brave prompted me with the update notification in the browser toolbar, as usual. When running the updater, I got some wrongly-encoded text and then a dialog with a strange message (see image)

![image](https://user-images.githubusercontent.com/56098/38849161-b19b7b2e-41bf-11e8-8f07-5347e34d827c.png)

[2018-04-17 05:18] #13544 closed

[2018-04-17 07:47] jamesray1 opened #13849 "Make it easier to replace the current bookmarks toolbar with the bookmarks toolbar after importing bookmarks from another browser"
So I can import data from Firefox easily enough, but when I try to move all the data from Imported from Firefox -> Bookmarks Toolbar to Bookmarks Toolbar, all of the bookmarks inside Imported from Firefox -> Bookmarks Toolbar are cleared (the folder is empty) but the bookmarks are not visible in Bookmarks Toolbar. Restarting the browser doesn't help. Additionally the favicons don't show, you have

[2018-04-17 09:46] Jacalz commented on #12612
+1 from https://github.com/brave/browser-laptop/issues/12612

[2018-04-17 12:29] NejcZdovc commented on #11370
if there is negative % let's save it into the memo (remove publisher keys, rename to Publisher 1, Publisher 2, etc). We need to save before and after data

[2018-04-17 12:33] NejcZdovc commented on #12816
Closing this one. If we see this is happening again let's reopen it.

[2018-04-17 12:33] #12816 closed

[2018-04-17 12:39] NejcZdovc commented on #13227
Let's check why button is disabled. We need to enable it in this case and retry wallet creation

[2018-04-17 12:47] mrose17 commented on #13190
i will as soon as i talk to @bradleyrichter ...

[2018-04-17 13:19] KarmaMonk commented on #13227
In my case ...
- when I accessed the payment page directly via about:preferences#payments, the payment page broke down,
- when I accessed the payment page over the settings>payments Menu it blocked the paymant page ant the whole settings Tab. This error was still in place with version 0.22.16 or 0.22.17 (not sure).

Some days ago (april 11th) I deleted the whole .config/brave Folder. After the res

[2018-04-17 13:48] LaurenWags commented on #13847
The dialog is expected (see https://github.com/brave/browser-laptop/issues/13826 and https://github.com/brave/browser-laptop/issues/13817) but the strange text is not.

[2018-04-17 15:50] jonathansampson commented on #13831
@Jacalz Does the extension fail to work, or does the extension icon simply not render to the right of the address bar?

[2018-04-17 17:50] Jacalz commented on #13831
I believe that the extension fails to work and in the settings the switch seems to be turned on but it still says latest like it wa snot enabled 😅 @jonathansampson

[2018-04-17 18:13] eljuno commented on #13841
Same like #12164?

[2018-04-17 18:14] SCBuergel commented on #11778
Disabling the shields did the trick even though that might be a bit much. Thanks for the help.

[2018-04-17 19:06] diracdeltas commented on #11778
This will be fixed in the 0.24 release (no need to disable shields)

[2018-04-17 20:06] jonathansampson commented on #13847
Looks like _Grab_ opened up an encoded file. After which action(s) did _Grab_ open?

[2018-04-17 20:45] danfinlay commented on #13711
Sorry for slow reply on your issue, I had the flu when this was submitted :/

We tracked with this issue:
https://github.com/MetaMask/metamask-extension/issues/3382

The ability to block sites we interfere with is here:
https://github.com/MetaMask/metamask-extension/pull/3590

And you can see we stopped injecting web3 for webby awards here:
https://github.com/MetaMask/metamask-extension/blob/maste

[2018-04-17 21:15] PatMB30 commented on #12359
Hi, i'd like to start working on this issue.

[2018-04-17 21:26] darkdh commented on #13814
fixed by muon 5.2.2

[2018-04-17 21:26] #13814 closed

[2018-04-17 21:32] Rainskies commented on #4108
Go to Chrome and type chrome://settings/content. Then go to flash and add site to allow, uploaded.net. That will fix it because the problem is it is not asking for Flash to work.

[2018-04-17 21:48] icm63 commented on #13312
UPDATE - NOPE , since last update NOT WORKING AGAIN

[2018-04-17 21:52] icm63 opened #13851 "Feature request: preference to open links in a new window (ex: when target is _blank) v2"
https://github.com/brave/browser-laptop/issues/13312

NOT WORKING
A fix was done
then it was undone
Now its not working

[2018-04-17 22:43] flamsmark commented on #13761
Yes.

[2018-04-17 22:43] #13761 closed

[2018-04-17 23:00] flamsmark commented on #11889
Closed in favor of brave/brave-browser#163 .

[2018-04-17 23:00] #11889 closed

[2018-04-18 00:57] a-one-d-one commented on #13768
been working on this, not much progress as of yet but just leaving this as a disclaimer.

[2018-04-18 02:09] jonathansampson commented on #13723
I just visited a few streams, and I was unable to reproduce this issue in 0.22.21:

[code]

[2018-04-18 02:50] petemill opened #13852 "Release checklist for 0.22.x Release 2 hotfix (Release channel)"
# Release Process Checklist

Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

## Release Commands
### First-time Setup
- [x] `git clone git@github.com:brave/vault-updater && cd vault-updater`
- [x] `git clone git@github.com:brave/release-tools`
- [x] `npm install`
- [x] install the her

[2018-04-18 02:52] petemill opened #13853 "Missing static variable on macOS 0.22.21 release build"
### Description
A problem with the 0.22.21 build process meant that an environment variable is missing on macOS, required for promo first-installs.

[2018-04-18 02:52] petemill commented on #13853
Fixed with 0.22.22

[2018-04-18 02:52] #13853 closed

[2018-04-18 03:21] Blankbook2081 opened #13855 "Surge of websites that promise to block/disrupt adblockers. Some do what they say."
https://blockadblock.com/  (Github: https://github.com/sitexw/BlockAdBlock )

https://getadmiral.com/

https://www.theverge.com/2016/11/2/13502458/twitch-video-ads-can-avoid-ad-blockers

https://easybib.com
(Twitch ads are still dodging Brave, I'm wondering if they got some sort of anti-adblock technology)

In order for Brave to function as normal, it is going to have to join the metaphorical spac

[2018-04-18 03:31] jonathansampson commented on #13855
I took a look at blockadblock.com, and it appears as though they use a hefty amount of array-coercion arithmetic to fly under the radar. Their code is inline, on the home page, so it cannot be blocked by any request-filtering.

[2018-04-18 03:35] Blankbook2081 commented on #13855
Yes, there is quite a ton of "[][][][][][]]]][[["s in there.

[2018-04-18 03:39] Blankbook2081 commented on #13855
![image](https://user-images.githubusercontent.com/38046315/38910613-265e7c30-4298-11e8-9f51-451f111eabdb.png)

![image](https://user-images.githubusercontent.com/38046315/38910623-321541f8-4298-11e8-8776-f506250035ce.png)

In Easybib's particular case, they try and feed you 30 trackers and ads, and they can notice youre blocking ads, so they say "fine, you get one citation, but next time you aren

[2018-04-18 05:34] #13852 closed

[2018-04-18 05:49] #13828 closed

[2018-04-18 06:41] #12826 closed

[2018-04-18 06:45] #13035 closed

[2018-04-18 07:04] #4310 closed

[2018-04-18 07:07] #11857 closed

[2018-04-18 07:41] #13611 closed

[2018-04-18 13:57] jempis commented on #12937
I have the same problem, my windows is completely white, whitout the menu bar.
When i open the console the error are equals.
my system is windows 7 and the node versione 3.2.0.

Can someone help us?

Thanks

[2018-04-18 14:30] johnmblack commented on #2414
An alternative to Xmarks:
https://www.everhelper.me/synchronizer.php

as recommended by
https://www.ghacks.net/2018/03/31/logmein-to-shut-down-xmarks-on-may-1-2018/

[2018-04-18 15:01] monkee13 commented on #2414
I have moved over to everhelper a while ago now.  Works well.  Wonder if we will ever see Brave support for it.

[2018-04-18 15:35] WuerfelDev commented on #3126
I'd love to see an implemention without using the current "Native Window". Seriously, this is the only thing that keeps me from switching the standard browser

[2018-04-18 17:07] davidtemkin commented on #12957
I get this all the time. Even on update. May have gotten worse of late.

[2018-04-18 17:23] ghost opened #13857 "Asking for admin password"
### Description
Brave installed in the ~/Applications folder on MacOSX is asking for administrative permissions. If installed in that folder instead of /Applications, it's because I do not wish to give Brave (or any app for that matter), any administrative permissions.

### Steps to Reproduce
  1. Install Brave
  2. Wait for some new release
  3. Observe the popup below:

**Actual result:**
<img w

[2018-04-18 19:14] diracdeltas opened #13858 "'www.' URL normalization code is not correct"
there are a bunch of places in the code that call something like `host = host.replace('www.', '')`, presumably for the purpose of considering 'www.example.com' and 'example.com' to be equal.

this doesn't work on URLs like `wowww.com` (which turns into `wocom`).

[2018-04-18 19:19] diracdeltas commented on #13858
this is done in app/common/lib/suggestion.js and app/extensions/brave/content/scripts/adInsertion.js; the latter could be a potential security issue

[2018-04-18 20:29] #12616 closed

[2018-04-18 21:11] jonathansampson commented on #13857
May be related to this issue: https://github.com/brave/browser-laptop/issues/2184

[2018-04-18 21:18] LaurenWags opened #13859 "Brave does not open hyperlinks if there aren't any windows open"
### Description
When Brave is set as your default browser and it is running, but there aren't any open windows, if you click on a hyperlink the hyperlink does not open. This makes it look like Brave doesn't work.

Reported via community: https://community.brave.com/t/updating-macos-from-0-22-13-to-0-22-21/19915/7

### Steps to Reproduce

	1.	Have Brave as your default browser.
	2.	Launch Brave but

[2018-04-18 21:19] LaurenWags opened #13860 "unable to open new window from dock icon"
### Description
When Brave is running, but there aren't any open windows, you used to be able to click on the dock icon to open a new window. This no longer works.

Reported via community:
https://community.brave.com/t/browser-version-0-22-13-browser-window-not-opening-after-initial-open/19232
https://community.brave.com/t/updating-macos-from-0-22-13-to-0-22-21/19915/7

### Steps to Reproduce

  1

[2018-04-18 21:45] rgonnering opened #13861 "Can't install brave on Ubuntu 18.04"
### Description

$ sudo apt update
Get:1 http://us.archive.ubuntu.com/ubuntu bionic InRelease [235 kB]
Hit:2 http://archive.canonical.com/ubuntu bionic InRelease
Hit:3 https://packages.microsoft.com/repos/vscode stable InRelease
Hit:4 http://us.archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:5 http://us.archive.ubuntu.com/ubuntu bionic-backports InRelease
Err:6 https://s3-us-west-2.amazonaw

[2018-04-18 21:54] jjiimm64 commented on #10863
If Brave continues to auto-update...  I will auto-not use it anymore.

[2018-04-19 01:37] kjozwiak commented on #13861
@rgonnering could you please provide us with some more information? Which method are you using to install Brave? I believe Ubuntu 18 is still in the early BETA phase. I'll try downloading one of the daily builds and see if I can reproduce.

[2018-04-19 01:39] kjozwiak commented on #13531
@NejcZdovc is there a way QA and test and verify this change?

[2018-04-19 01:42] rgonnering commented on #13861
Hi kjozwiak,

The method steps are listed in the ### Steps to Reproduce Section, as specified in the Brave Installation Instructions for Ubuntu. Are you asking for something else?

Thanks,
Roger

[2018-04-19 01:44] kjozwiak commented on #13544
@NejcZdovc as @LaurenWags mentioned above, this seems hard to reproduce. Is there anything specific that needs to be checked/verified with this change? Would contributing/reconciling with only UGP grants on the staging server suffice?

[2018-04-19 02:03] kjozwiak opened #13862 "Manual test run on OS X for 0.22.x w/ Chromium 66"
## Per release specialty tests
 - [x] Chrome://crashes says crash reporting is disabled when it is not. ([#13842](https://github.com/brave/browser-laptop/issues/13842))
 - [x] Unable to view PDFs on c66 with clean profile. ([#13840](https://github.com/brave/browser-laptop/issues/13840))
 - [x] Cannot enable extensions. ([#13838](https://github.com/brave/browser-laptop/issues/13838))
 - [x] Netflix

[2018-04-19 02:03] kjozwiak opened #13863 "Manual test run on Windows x64 for 0.22.x w/ Chromium 66"
## Per release specialty tests
 - [x] Chrome://crashes says crash reporting is disabled when it is not. ([#13842](https://github.com/brave/browser-laptop/issues/13842))
 - [x] Unable to view PDFs on c66 with clean profile. ([#13840](https://github.com/brave/browser-laptop/issues/13840))
 - [x] Cannot enable extensions. ([#13838](https://github.com/brave/browser-laptop/issues/13838))
 - [x] Netflix

[2018-04-19 02:03] kjozwiak opened #13864 "Manual test run on Linux for 0.22.x w/ Chromium 66"
## Per release specialty tests
 - [x] Chrome://crashes says crash reporting is disabled when it is not. ([#13842](https://github.com/brave/browser-laptop/issues/13842))
 - [x] Unable to view PDFs on c66 with clean profile. ([#13840](https://github.com/brave/browser-laptop/issues/13840))
 - [x] Cannot enable extensions. ([#13838](https://github.com/brave/browser-laptop/issues/13838))
 - [ ] Netflix

[2018-04-19 02:04] kjozwiak commented on #13811
Closing in favor of https://github.com/brave/browser-laptop/issues/13862.

[2018-04-19 02:04] #13811 closed

[2018-04-19 02:05] kjozwiak commented on #13812
Closing in favor of https://github.com/brave/browser-laptop/issues/13863.

[2018-04-19 02:05] #13812 closed

[2018-04-19 02:06] kjozwiak commented on #13813
Closing in favor of https://github.com/brave/browser-laptop/issues/13864.

[2018-04-19 02:06] #13813 closed

[2018-04-19 02:14] kjozwiak commented on #13861
Thanks @rgonnering, should be enough info to reproduce. Your original report basically had `
Brave should install.` and that's pretty much it. Usually the more information the better 👍

[2018-04-19 02:16] kjozwiak commented on #12957
@bridiver mind taking a look at this again if you have some time?

[2018-04-19 02:20] petemill opened #13865 "Brave menu items which open tabs do so in minimized window"
### Description
Brave menu items will open a tab in a minimized window, but will not show that window, making it seem like nothing has happened.

### Steps to Reproduce

  1. Minimize all Brave windows (1 window is fine)
  2. Cmd-tab to Brave (macOS)
  3. Choose a menu item which creates a tab (New Tab, About Brave, Preferences)

**Actual result:**
Nothing happens (the tabs are created in the mini

[2018-04-19 02:56] feross commented on #11774
This feature hasn't been implemented in the core library yet. Issue here: https://github.com/webtorrent/webtorrent/issues/163

[2018-04-19 03:29] jevuu commented on #13793
Cool. I'll look through it and see if there is a variable for that.

Is it alright if I submit a pull request and continue the discussion there, or should I wait for a response?

[2018-04-19 04:02] #2184 closed

[2018-04-19 05:06] NejcZdovc commented on #13544
@kjozwiak yeah just spot check it, to verify that we didn't break anything

[2018-04-19 05:09] NejcZdovc commented on #13531
@kjozwiak So what was changed here is interval of the calls. So what you can do is add ledger verbose and create contribution. You would then need to check out (time) requests when contribution is in the progress to make sure that is not just 1min, but that it varieties. If you want to test this out I can specify even more detailed plan?

[2018-04-19 08:17] mogmachine commented on #3555
+1 ...critical issue for adopting market address in 2016, ...not made it to a feature by 2018 :(

[2018-04-19 08:49] #13859 closed

[2018-04-19 08:49] #13860 closed

[2018-04-19 08:49] #13865 closed

[2018-04-19 09:09] NAO-Projekt-DHBW commented on #3752
Soo annoying.. Totally disqualifies "Brave" as a browser for daily work. OTRS (Ticketsystem) does not work reliable at all.

[2018-04-19 09:47] phenno commented on #3555
So how would brave dev process know how much this is wanted?

On Fri, Mar 16, 2018, 4:30 PM Ernesto García <notifications@github.com>
wrote:

[2018-04-19 09:48] phenno commented on #3555
Also +10000 i already stopped using brave long ago due to this issue... I
rly tried but lack of interest in addressing is just sad

On Thu, Apr 19, 2018, 12:47 PM Ionut Dobre <ionutdobre7@gmail.com> wrote:

[2018-04-19 10:38] #13645 closed

[2018-04-19 14:09] btlechowski commented on #13842
Verified Ubuntu 17.10
Version 0.22.664
Muon 5.2.4

[2018-04-19 14:12] btlechowski commented on #13840
Verified Ubuntu 17.10
Version 0.22.664
Muon 5.2.4

[2018-04-19 14:13] btlechowski commented on #13838
Verified Ubuntu 17.10
Version 0.22.664
Muon 5.2.4

[2018-04-19 14:14] btlechowski commented on #13814
Verified Ubuntu 17.10
Version 0.22.664
Muon 5.2.4

[2018-04-19 14:32] jayyyin commented on #13487
@petemill, ok so from what I've learned making a new layer should fix the issue, since the icon shouldn't be getting invalidated anymore along with the CSS change for the gradient, so thus the no-cache issue won't affect it, but this should be noted for future reasons.

[2018-04-19 14:34] LaurenWags commented on #13837
Verified on macOS 10.12.6 with
0.22.664 https://github.com/brave/browser-laptop/commit/a98bd86fe2529eacd4d468d2e7d17f6d61ada608
Muon 5.2.4
libchromiumcontent 66.0.3359.117

[2018-04-19 15:02] btlechowski commented on #13828
Verified Ubuntu 17.10
Version 0.22.664
Muon 5.2.4

[2018-04-19 17:36] jumde opened #13868 "Detailed stats for advanced users for Brave Shields"
Advanced users would like more details about the stats presented on the shields:

- Ads or Trackers blocked - Details about sources of ads and trackers
- HTTPS Upgrades - What links were upgraded
- Scripts Blocked - Links to scripts blocked or the script itself
- Fingerprinting methods - Methods blocked associated with the domain

[2018-04-19 17:44] btlechowski opened #13869 "Duplicate bookmark folder after sync"
### Steps to Reproduce

  1. Clean install same version of browser on two different platforms(Linux and Windows)
  2. On Linux create sync group
  3. On Windows joint the sync group
  4. On Windows open youtube.com and bookmark it
  5. On Windows create bookmark folder named 'test'
  6. Move the bookmark(4.) to the bookmark folder

Note:
tested on
P1: Linux
P2: Windows

**Actual result:**
Bookmark

[2018-04-19 17:58] btlechowski commented on #13869
Reproduced on v0.22.22

[2018-04-19 18:15] LaurenWags commented on #13869
reproduced on macOS using a macOS as p0 and Linux as p1.

[2018-04-19 18:53] kjozwiak commented on #9011
Still an issue with the following builds:

[code]

[code]

[2018-04-19 19:19] DanEhrlich commented on #7866
Still hapenning

Brave: 0.22.22
V8: 6.5.254.41
rev: 63033109963be0a995b3d1ed9723870beeb191c4
Muon: 5.1.2
OS Release: 17.5.0
Update Channel: Release
OS Architecture: x64
OS Platform: macOS
Node.js: 7.9.0
Brave Sync: v1.4.2
libchromiumcontent: 65.0.3325.181

[2018-04-19 19:35] eljuno commented on #13868
Didn't it show the details if user click on the number on shields?

[2018-04-19 19:51] LaurenWags opened #13870 "'click to inspect' button missing from devtools"
### Description
When you open devtools there should be a 'click to inspect' button, but this is missing in c66. Found by @petemill

### Steps to Reproduce

  1. Open devtools.
  2.
  3.

**Actual result:**
Click to inspect button is missing.
top is Brave, bottom is Chrome:
![image 1](https://user-images.githubusercontent.com/28145373/39014765-4f51391e-43e9-11e8-9e30-81469f0f37cf.png)

**Expected r

[2018-04-19 20:17] LaurenWags opened #13871 "'always ask' and 'always block' autoplay options broken"
### Description
Videos always autoplay even if 'always ask' or 'always block' is the global setting.

### Steps to Reproduce

Scenario 1
  1. Navigate to about:preferences#security. Set Autoplay Media to 'Always ask'.
  2. Navigate to a site with a video. (ex. cnet, youtube, etc)
  3. Verify you receive the notification banner with Allow/Deny and the 'Remember this decision' checkbox.
  4. Verify

[2018-04-19 20:27] bradleyrichter commented on #13190
How about adding it to the ledger with a fixed disabled include switch state?

"[YT Icon] wnVWlChmxao"   and linked back to the YT video source.

[2018-04-19 21:12] jlenz314 commented on #3101
I was completely sold on Brave, had everything ported over and was loving it...until this. Back to Chrome until this gets fixed.

[2018-04-20 00:53] mfainshtein2 commented on #6856
I would like to give this a try. Where should I begin?

[2018-04-20 01:48] darkdh commented on #13870
fixed in muon 5.2.6 by https://github.com/brave/muon/commit/c40ce82f8f5ecb82675c94af2a1351286bcc7619

[2018-04-20 01:48] #13870 closed

[2018-04-20 04:53] hashtaginfosec commented on #8327
+1

[2018-04-20 11:35] #10484 closed

[2018-04-20 11:46] btlechowski commented on #13864
Tested with v0.22.664.

[2018-04-20 13:38] LaurenWags opened #13875 "sometimes sites show up twice in ledger"
### Description
Reported via community: https://community.brave.com/t/issue-with-brave-payment-menu-showing-locked-sites-twice/20205

User has some YT sites pinned with a set contribution amount. Some of these sites show up again in their table as 'unpinned' (with 0 contribution %)

### Steps to Reproduce
Unknown so far, needs additional information.

**Actual result:**
from community post:
![chug

[2018-04-20 14:32] LaurenWags commented on #13689
Removed macOS label - linked test plan can mostly be checked on all platforms and does include a specific Windows check to be completed.

[2018-04-20 14:51] LaurenWags commented on #13860
Verified on macOS 10.12.6 with
0.22.665 https://github.com/brave/browser-laptop/commit/bc13ab63f87b22dce366175927ffef54cb5cd201
Muon 5.2.5
libchromiumcontent 66.0.3359.117

[2018-04-20 15:13] brokeharvard commented on #3226
+1 for wanting Apple Keychain as password manager

[2018-04-20 15:28] LaurenWags commented on #13859
Removed macOS label - linked test plan was recommended to be checked on all platforms.

[2018-04-20 15:28] LaurenWags commented on #13860
Removed macOS label - linked test plan was recommended to be checked on all platforms.

[2018-04-20 15:28] LaurenWags commented on #13865
Removed macOS label - linked test plan was recommended to be checked on all platforms.

[2018-04-20 16:03] jonl-percsolutions-com commented on #271
Could we not just ad this extension as a stop gap or for those that don't want a full theme:

https://chrome.google.com/webstore/detail/high-contrast/djcfdncoelnlbldjfhinnjlhdjlikmph

[2018-04-20 16:05] LaurenWags commented on #13689
Verified on macOS 10.12.6 with
0.22.665 https://github.com/brave/browser-laptop/commit/bc13ab63f87b22dce366175927ffef54cb5cd201
Muon 5.2.5
libchromiumcontent 66.0.3359.117

[2018-04-20 16:42] btlechowski opened #13876 "Crash after checking updates through Menu Bar"
### Steps to Reproduce

1. Open Menu Bar (alt on windows)
2. Go to Help->Check for updates

**Actual result:**
Crash
Cannot change tabs
Cannot close browser through x nor trhough hamburger menu
Other menu items don't work
![unstable_browser](https://user-images.githubusercontent.com/34715963/39063118-16159226-44ca-11e8-8bb2-9b7e8fe4ef22.gif)
[code]

**Expected result:**
No Crash

**Reproduces how

[2018-04-20 16:58] A9G-Data-Droid commented on #271
If people could load their own extensions they could do anything they want. I think that is also a feature that is coming soon. Then the browser can be as light or feature rich as you want.

[2018-04-20 19:14] kjozwiak commented on #13531
@NejcZdovc that sounds great! If you could add/specify a detailed plan, that would be super helpful. From the sounds of it, we would do a contribution and while using `LEDGER_VERBOSE=true`, ensure that the delayTime isn't a minute but varies correct?

[2018-04-20 19:16] entity279 opened #13878 "Brave Payments keep reseting contribution date. Also history is missing"
### Description

The Brave payments never happen anymore. They seem to have their date reset everytime the browser is updated.
This used to work, namely I had a payment happen for me back in March.
Beyond the payments not happening, the history of the payment I made seems to have dissapeared.

Note that I've only updated the browser when it itself promted me to do so. I had not performed any clean

[2018-04-20 19:18] kjozwiak commented on #13544
Thanks @NejcZdovc. I marked this as `QA/no-qa-needed` as we don't have a reproducible case. QA we'll go through the ledger while going through the manual passes and ensure that nothing has regressed.

@LaurenWags if you do end up finding a test case somewhere in the meantime, please attach it here :)

[2018-04-20 19:32] ryanml opened #13879 "URL Heart (publisher toggle) button should be able to include sites outside of minimum requirements"
### Description
Previously discussed with @NejcZdovc & @bsclifton, related to: #12675

Currently, the publisher toggle button in the navigation bar (heart) functions only as an inclusion toggle, that is:

It does not add a site to the ledger if it is not already in it, it only can pin and unpin sites that are already in the ledger.

The suggestion is that it is able to include sites from the ledge

[2018-04-20 20:09] AtjonTV opened #13880 "Mouse integrated back and forth button"
### Description
I am using the [ET D-09](https://www.aliexpress.com/item/ET-Brand-D-09-2-4Ghz-Wireless-Mouse-1600-CPI-6-Buttons-Computer-Mouse-For-Laptops/2017090370.html), its a mouse with a integrated back and forth button. When I try to use either of them in Brave its not working. I used to use them in Vivaldi to make site navigation quicker. This is a feature I would love to see in Brave.

###

[2018-04-20 20:27] eljuno commented on #13880
Dupe of #3101?

[2018-04-20 20:54] lukemulks opened #13881 "Anti-adblocking countermeasure - blocking content on windowscentral.com"
### Description

 - Anti-adblocking countermeasure implemented on windowscentral.com
 - Users running ad blockers (brave included) receive a content blocking message with a disable/remove ad blocking request.
 - Likely fixable via filter rule for blocking detection / countermeasure script.

### Steps to Reproduce

  1. Go to https://www.windowscentral.com/uber-and-youtube-progressive-web-apps-pwa-

[2018-04-20 21:04] btlechowski commented on #13864
Also tested with v0.22.665

[2018-04-20 21:40] LaurenWags commented on #13862
Tests were as expected.

[2018-04-20 21:40] #13862 closed

[2018-04-20 21:44] LaurenWags commented on #13876
MacOS doesn't have Help > Check for Updates, but I tried Brave > Check for Updates and could not reproduce this.

[2018-04-20 21:51] sakibarifin opened #13882 "Trying to save downloaded torrents return error in brave browser"
#### Expected behavior
Brave browser should normally allow users to save downloaded torrents

#### Actual behavior
Brave's webtorrent feature isn't working properly. Trying to save downloaded torrents return error, "The server closed the connection without sending any data". Torrent files download properly but they can't be saved to a location/folder in the computer.

#### How to reproduce
1. Down

[2018-04-20 21:52] LaurenWags commented on #2184
@petemill - thoughts on a test plan for this one (other than checking updates work via `BRAVE_UPDATE_VERSION` and `BRAVE_ENABLE_PREVIEW_UPDATES` env variables)?

[2018-04-20 21:52] LaurenWags commented on #12957
I agree @davidtemkin - it happens way more often than when originally reported.

[2018-04-20 22:12] kjozwiak opened #13883 "credential prompt for basic authenticaion not being displayed"
### Description

When attempting to access a website/FTP server that's using basic authentication, the credentials prompt never appears.

### Steps to Reproduce

  1. Open `0.22.665` bc13ab6
  2. Load `ftp://ftp.dlptest.com` (should receive a credential prompt)
  3. u: `dlpuser@dlptest.com` p: `eiTqR7EMZD5zy7M`

You'll notice that the basic authentication credential prompt isn't being displayed.

[2018-04-21 02:26] bbondy commented on #13092
I'll be updating the dep soon for inclusion of easy privacy by default.

[2018-04-21 03:03] kjozwiak commented on #13863
Completed using the following build:

* 0.22.665 rev: bc13ab63f87b22dce366175927ffef54cb5cd201
* Muon: 5.2.5
* libchromiumcontent: 66.0.3359.117

[2018-04-21 03:04] #13863 closed

[2018-04-21 06:45] safecoms commented on #6794
<img width="763" alt="screenshot 2018-04-21 13 42 49" src="https://user-images.githubusercontent.com/24518544/39081349-ec02e75e-4569-11e8-83a3-e2a1110e6170.png">

I did not enabled Dashline but it has 13MB of traffic out from Brave, I want to disable it, this is a password plugin that I am not using and it is talking to servers in London and Malaysia
WtF is this?

[2018-04-21 12:55] LeandroStanger commented on #11999
When will Brave flatpak come out?
I am user of **Endless OS**

[2018-04-21 14:39] raisty opened #13885 "Using Brave over several days with a lot of tabs can cause a freeze"
### Description

After working with three days without restarts and with many tabs, Brave froze.

### Steps to Reproduce

  1. Work at least 3 days with Brave (youtube, web browsing), open many tabs (at least 50)
  2. Sometimes can absolutly froze
  3. Need restart of Brave

**Actual result:**

Frozen

**Expected result:**
Performance speedup / fix

**Reproduces how often:**

After 3 days, sometim

[2018-04-21 15:05] sakibarifin opened #13886 "Add support for Extensity browser extension"
This is a feature request for brave browser to add support for Extensity, a chrome browser extension that can be used to enable or disable extensions very fast and have extension profiles.

Adding support for this extension would be very helpful for people with a large number of extensions. It makes it easier to manage them. It is a very popular extension with 283,786 users [at the moment this iss

[2018-04-21 17:34] theel0ja opened #13887 "Block all fingerprinting will break Mapbox GL"
### Description

If **Fingerprinting protection** is "Block all fingerprinting", it will break Mapbox GL.

### Steps to Reproduce

  1. Open some website using Mapbox GL, such as my site using it. (https://iplookup.theel0ja.info/?host=1.1.1.1)

**Actual result:**

Map is blank.

![image](https://user-images.githubusercontent.com/5832930/39087049-3ff66186-45a3-11e8-8d27-116cd68843e7.png)

**Expecte

[2018-04-21 20:57] PatMB30 commented on #7645
Hi, I'd like to work on this issue. I've double checked what @bsclifton suggested looking into (#6405), and to make sure I understand i'd like to ask; should the back button's submenu disappear once the mouse moves away from the button or its submenu? Also, any hint on how to handle the mouse's position in regards to that would be appreciated.

[2018-04-21 21:51] tschier commented on #7402
Same here - our office switched from Chrome to Opera when it implemented this, and would likely switch to Brave if this is added.

[2018-04-22 01:31] BobT36 commented on #13156
ooo!

![capture](https://user-images.githubusercontent.com/14024619/39090379-eda0c488-45cc-11e8-8fc7-9795f8e0d65e.PNG)

[2018-04-22 04:11] jevuu opened #13889 "componentStructure document is outdated"
### Description
Most of the information in componentStructure.md reflects an older version of Brave when most of the components were in the js folder.
It says that all components extend ImmutableComponent. That's no longer true: many components now extend React.Component.
The hierarchy is supposed to show the component hierarchy, but it is instead a mix of the old component hierarchy and the curre

[2018-04-22 06:15] sakibarifin opened #13891 "Brave ads don't load on marketwatch.com"
#### Expected behavior
Brave ads should load properly on marketwatch.com

#### Actual behavior
Brave ads don't load on marketwatch.com

#### How to reproduce
1. Visit https://www.marketwatch.com/
2. Click on the brave shield panel
3. Choose show brave ads from the options
4. Click reload

#### Recording Of The Bug

![Brave ads not showing on market watch.gif](https://steemitimages.com/DQmNYTFKrLV9

[2018-04-22 14:03] EvilGnome6 commented on #545
+1.

I would like the ability to change the following settings:

1) Don't load pinned tabs until I select them.
2) Don't replicate pinned tabs to new Windows.

[2018-04-22 17:59] hugobuddel opened #13893 "Reopen Last Closed Pinned Tab unpins the tab"
Can't find similar issue

### Description
Reopening a pinned tab with Ctrl-Shift-T or through the History menu will reopen the tab unpinned.

I sometimes accidentally close a pinned tab with Ctrl-W, so I want to reopen it in pinned state again with Ctrl-Shift-T.

There are perhaps two other issues though:
* Perhaps pinned tabs should first be unpinned before they can be closed?
* I often prefer to

[2018-04-22 18:25] eljuno commented on #1374
++ from community https://community.brave.com/t/requesting-input-customization/20411?u=eljuno

[2018-04-22 18:27] eljuno commented on #13891
I think it's expected because Brave ads is not available yet.

[2018-04-22 18:34] Liunkae commented on #7645
@PatMB30

I haven't seen this behavior anywhere else. I just tried both Firefox and Safari, and the context menu stays visible wherever you move the mouse pointer. So I suggest that you keep the behavior consistent with other major browsers.

[2018-04-22 18:37] PatMB30 commented on #7645
@Liunkae
I've tested the behavior with Chrome and came to the same conclusion, thank you for your input though. I figure the best thing would be to have the back button's submenu disappear once the back button has been clicked once after having been long-pressed. I'm having difficulty figuring out how to close the back button's menu though.

[2018-04-22 19:47] arsalankhalid commented on #9748
It seems like this issue should be closed since this now a useable feature as seen with:
![settingduckduckgo](https://user-images.githubusercontent.com/5307218/39099194-56431186-4644-11e8-8b80-8647e1c826fe.gif)

Can we close this? @bradleyrichter

[2018-04-22 20:13] kjozwiak commented on #13891
Correct, Brave Ads isn't implemented yet but it's definitely in the pipeline of things to come this year.

[2018-04-22 20:13] #13891 closed

[2018-04-22 20:39] arsalankhalid commented on #13172
Agreed with all of the above, I'm finding the Show bookmark matches is not actually doing anything, going to debug this a little.

[2018-04-22 21:17] eljuno commented on #12639
@arsalankhalid It's different things. That is to set DDG as default search engine for private tab. This issue is about Brave use default search engine (if it's not DDG) when right-click search in private tab even already set DDG as search engine for private tab.

[2018-04-23 01:16] charlierlee commented on #3756
+1

[2018-04-23 02:10] Liunkae commented on #9748
@arsalankhalid No, Google is still the default search engine when Brave is first installed.

[2018-04-23 02:16] Twitchykid commented on #12612
+1

Toggled it and a bunch of other settings and took me a little while to isolate the issue.

[2018-04-23 02:57] KidPluto commented on #9748
Wow.  Over a year later and Google is still the default browser.  This shows a massive disconnect between the stated goals of this project, and the people working on it.

[2018-04-23 03:29] arsalankhalid commented on #6944
If that's the case, you guys should close this issue! @bsclifton

[2018-04-23 03:31] kjozwiak opened #13894 "Manual test run on OS X for 0.22.x w/ Chromium 66"
## Per release specialty tests
 - [x] 'always ask' and 'always block' autoplay options broken. ([#13871](https://github.com/brave/browser-laptop/issues/13871))
 - [x] 'click to inspect' button missing from devtools. ([#13870](https://github.com/brave/browser-laptop/issues/13870))

## Installer

- [x] Check that installer is close to the size of last release
- [x] Check signature: If OS Run `spctl

[2018-04-23 03:31] kjozwiak opened #13895 "Manual test run on Windows x64 for 0.22.x w/ Chromium 66"
## Per release specialty tests
 - [x] 'always ask' and 'always block' autoplay options broken. ([#13871](https://github.com/brave/browser-laptop/issues/13871))
 - [x] 'click to inspect' button missing from devtools. ([#13870](https://github.com/brave/browser-laptop/issues/13870))
 - [x] Brave menu items which open tabs do so in minimized window. ([#13865](https://github.com/brave/browser-laptop/is

[2018-04-23 03:31] kjozwiak opened #13896 "Manual test run on Linux for 0.22.x w/ Chromium 66"
## Per release specialty tests
 - [ ] 'always ask' and 'always block' autoplay options broken. ([#13871](https://github.com/brave/browser-laptop/issues/13871))
 - [ ] 'click to inspect' button missing from devtools. ([#13870](https://github.com/brave/browser-laptop/issues/13870))
 - [ ] Brave menu items which open tabs do so in minimized window. ([#13865](https://github.com/brave/browser-laptop/is

[2018-04-23 04:14] arsalankhalid commented on #13894
Happy to take this on, didn't realize testing is this intensive. Is this cool to take?

[2018-04-23 04:37] #12220 closed

[2018-04-23 04:47] #13227 closed

[2018-04-23 05:41] AlexWang-16 opened #13897 "URL Parsing fails for query string and file name with space"
## Test plan
See https://github.com/brave/browser-laptop/pull/13898

## Original issue description
### Description
• Brave does not parse URL correctly when a space is in the query string. It performs a google search on the URL instead of the topic indicated by the query string

• Brave does not parse absolute paths with a space in file name correctly

### Steps to Reproduce
Issue 1: Brave does no

[2018-04-23 06:32] Tastaturix commented on #3752
Can't work with Brave too, OTRS and Banking Software don't work.

[2018-04-23 07:49] lefevred opened #13899 "Brave new tab photography picture proposal"
Hello,

as suggested by the community, I'm opening an issue (https://community.brave.com/t/suggest-background-pictures-of-new-tabs/17873)

### Description
I’ve seen beautiful photographies when opening a new tab. There is the credit for each picture, which is a really good thing.
How can we suggest some photographers, to have some new pictures in the new tabs ?

Best regards,
Doff

[2018-04-23 09:32] LoveIsGrief commented on #9748
@arsalankhalid I disagree. Google is still the default after installing the browser. Sure, changing it is easy, but that's not the target of this issue.

[2018-04-23 09:38] LoveIsGrief commented on #9748
The relevant line should be https://github.com/brave/browser-laptop/blob/0640d1e879c9848d52f263ba69e46cb0ac653e0b/js/constants/appConfig.js#L153

And the text should be https://github.com/brave/browser-laptop/blob/273749d212f996e400c6b543a46200bd647c854e/js/data/searchProviders.js#L37

Seems easy enough. I'll see if that does it, locally.

[2018-04-23 12:29] arcanosam opened #13901 "raw binary not working on centos 7"
I download the binary version from https://laptop-updates.brave.com/latest/linux64.

Run it, the process start, but the browser not open.

Then I try this commands (I do it the same commands on google chrome, when I download the rpm and extract only the folder with google chrome software

    sudo chown root:root -R ~/Tools/Brave/
    sudo chmod 755 -R ~/Tools/Brave/
    sudo chmod 4755 -R ~/Tools

[2018-04-23 13:40] LaurenWags commented on #13894
Hey @arsalankhalid we don't actually have a build yet that satisfies both of the required 'Per Release Specialty Tests' found at the top of this manual test pass. I'm happy to create a copy of this for you if you'd like to run through a test pass on your own with either this OS or another one of your choosing 😃 Let me know!

[2018-04-23 13:44] srirambv commented on #4397
+1 from community for another game on a different domain
https://community.brave.com/t/town-of-salem-on-brave-browser/20568/2
![image](https://user-images.githubusercontent.com/17010094/39130396-f9b656de-46da-11e8-8eb6-f07485b8cbcf.png)

[2018-04-23 13:59] lonormaly opened #13902 "Keyboard shortcuts doesn't work when the keyboard is not English on OSX"
### Description
Keyboard shortcuts doesn't work when the keyboard is not English on OSX

### Steps to Reproduce
1. Switch to foreign language on the keyboard.
2. Use Cmd+C to copy and Cmd+V to paste

**Actual result:**
Shortcuts doesn't work

**Expected result:**
(as in rest of the OS): Copy Paste (and rest of the shortcuts) should work.

**Reproduces how often:**
Consistently

### Brave Version

[2018-04-23 14:10] arsalankhalid commented on #13894
Hey @LaurenWags sure thing, that's totally fine. Preferred is OSX, so happy to run through them.
Let me know what branch I should pull to get the appropriate build.

[2018-04-23 14:42] #11477 closed

[2018-04-23 14:46] alekseenko commented on #11908
+1

[2018-04-23 14:50] LaurenWags opened #13904 "Manual Test run for arsalankhalid"
## Installer

- [ ] Check that installer is close to the size of last release
- [ ] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup win

[2018-04-23 14:54] LaurenWags commented on #13904
@arsalankhalid created this manual test pass for you to give some testing a try 😄

Latest build for this can be found here to test 0.22.x + Chromium 66 https://github.com/brave/browser-laptop/releases/tag/v0.22.665dev - we will probably be getting an updated build today. Do know, that if you download and run this build, it will use your normal 'brave' production profile, so if you don't want to do

[2018-04-23 15:42] jasonrsadler commented on #10484
The STR should be sufficient. I would test out with other known verified sites as well. One thing to note is that bat-client is putting out 429's - too busy so it could take 60 seconds or more before a verified site gets placed into state.

The brianbondy site was the only site I could reproduce the issue with (that site either preloads on enter or uses historyAPI that doesn't do a full POST or GE

[2018-04-23 15:48] LaurenWags commented on #10484
Thanks @jasonrsadler 😄

[2018-04-23 16:23] Nikedi opened #13905 "YouTube embeds not working with site isolation"
EDIT: I fixed it by changing the run every tab in its own process

So Youtube embeds are broken because they don't seem to notice that there is user input. For example i can't even play a video (unless it's set to auto play) and when the  video plays it doesn't even show the onscreen controls when i hover over it

### Steps to Reproduce

  1. Open a website that has a youtube embed on it (not yout

[2018-04-23 16:46] apandji42 commented on #1090
+1

[2018-04-23 17:51] diracdeltas opened #13906 "some url tests work for node but not muon"
as discovered in https://github.com/brave/browser-laptop/pull/13693#issuecomment-383296556, a few of the URL unit tests don't work with muon.url.parse:

[code]

[2018-04-23 17:56] NejcZdovc commented on #13875
This happens because we have two recording in the table. One with user name `youtube#channel:MrMuselk` and one with channel ID `youtube#channel:UCd534c_ehOvrLVL2v7Nl61w`

[2018-04-23 18:08] diracdeltas opened #13907 "sessionstore unit test failing locally on MacOS"
This unit test fails for me locally on the current master (a970195fe5d83783d572b6b22cc0e3514fa8ea7a):

[code]

[2018-04-23 18:09] #13718 closed

[2018-04-23 18:10] bsclifton commented on #13875
@NejcZdovc is there a fix in place yet? Do we want to include a fix with the Single Webview milestone?

[2018-04-23 18:30] NejcZdovc commented on #13907
this is failing from 0.22.x up

[2018-04-23 18:31] NejcZdovc commented on #13875
no fix yet, just found out what is going on few minutes ago, will work on a fix tomorrow

[2018-04-23 20:12] bsclifton commented on #9748
DuckDuckGo is a great search engine (my personal favorite) but at this time we aren't prepared to enable this for all users. Talking with other team members, most users expect Google by default. Changing the preference is easy of course

We may very well address this in the future, but for now (April 2018), I'm going to close as `wontfix`. Apologies for any disappointment

[2018-04-23 20:12] #9748 closed

[2018-04-23 20:27] christianbundy commented on #4650
Just installed Brave for the first time and the unreadable tabs was the first thing I noticed.

![screenshot from 2018-04-23 11-42-13](https://user-images.githubusercontent.com/537700/39146354-6702fc00-46eb-11e8-8e75-fddeb6605a36.png)

The body text is set to 16pt (Nimbus Sans), whereas the UI elements seem to have much a much smaller size. It seems like changing the UI scale to "Large" upgrades t

[2018-04-23 20:43] bsclifton opened #13909 "Have environment variable for using STAGING ad-block definitions"
Proposed environment variable would be `BRAVE_USE_STAGING_DATA_FILES`

[2018-04-23 20:45] Liunkae commented on #9748
Just a reminder that #13651 covers the ability to select the default search engine on the welcome screen, which would be an alternative solution to this feature request.

[2018-04-23 21:04] arsalankhalid commented on #13904
Thank you Lauren appreciate it - I'll give this a thorough shot :)

[2018-04-23 21:04] #13858 closed

[2018-04-23 21:36] #13876 closed

[2018-04-23 21:43] bsclifton opened #13911 "Update Muon to 5.2.6"
## Test plan
1. Visit `about:brave`
2. `Muon` version should be `5.2.6`

[2018-04-23 21:44] bsclifton commented on #13911
Fixed with https://github.com/brave/browser-laptop/commit/12f8efc3c8f4daed01777e3692d553a189a43ae2

[2018-04-23 21:44] #13911 closed

[2018-04-23 21:44] bsclifton commented on #13883
Should be fixed with https://github.com/brave/browser-laptop/commit/12f8efc3c8f4daed01777e3692d553a189a43ae2

[2018-04-23 21:44] #13883 closed

[2018-04-23 21:49] bsclifton opened #13912 "Update to Chromium 66"
### Description
Update to Chromium 66.0.3359.117

### Test plan
  1. Visit `about:brave`
  2. `libchromiumcontent` version should be `66.0.3359.117`

Related: https://github.com/brave/browser-laptop/issues/13911

[2018-04-23 21:49] bsclifton commented on #13912
Fixed with 66.0.3359.117

[2018-04-23 21:49] #13912 closed

[2018-04-23 22:13] bsclifton commented on #13858
@catilac @diracdeltas any manual testing required? It seems everything is covered by automated tests 😄

[2018-04-23 22:57] bsclifton commented on #13899
cc: @bradleyrichter @jenn-rhim @alexwykoff @jamesmudgett

[2018-04-23 23:02] bsclifton commented on #12639
@arsalankhalid as @eljuno said, this is basically a spot we missed. If you use right click -> search (from the context menu), it's not respecting the preference 😄

[2018-04-23 23:17] diracdeltas commented on #13858
@bsclifton :+1:

[2018-04-23 23:48] diracdeltas commented on #13907
i have a fix; it was caused by #13819

[2018-04-24 02:25] fardog commented on #6944
There were API changes between v2 and v3. It should not be very involved, but it will require a few more changes. See https://github.com/fardog/node-random-lib/blob/master/CHANGELOG.md#300

I had intended to submit a pr, but wasn't able to get the brave browser tests working on my local machine in the short time I was able to allocate. If someone has the chance though, it should not be a significa

[2018-04-24 02:28] cryptojennie commented on #13156
+1 from community https://www.reddit.com/r/BATProject/comments/8eh0r5/contribution_date_glitch_anyone_else_having_this/

[2018-04-24 03:44] hyrule12 opened #13917 "Impossible to allow flash in preference"
### Description
https://imgur.com/9hEFs8r

### Steps to Reproduce

  1.
  2.
  3.

**Actual result:**

**Expected result:**

**Reproduces how often:**

### Brave Version

**https://imgur.com/9hEFs8r**

Brave: 0.22.22
V8: 6.5.254.41
rev: 63033109963be0a995b3d1ed9723870beeb191c4
Muon: 5.1.2
OS Release: 10.0.16299
Update Channel: Release
OS Architecture: x64
OS Platform: Microsoft Windows
Node.js: 7.

[2018-04-24 03:47] hyrule12 commented on #13917
https://imgur.com/XXtwaat

Crunchyroll is not working

[2018-04-24 05:14] NejcZdovc commented on #13905
@bsclifton not sure if this is ledger issue, will try it out

[2018-04-24 05:32] ryanml commented on #13905
@Nikedi thanks for filing this issue :)

Could you possible list the site(s) you experienced this issue on? Were Brave shields active at the time? An extra info can help us diagnose exactly what's happening.

Let me know if you have any questions :) thanks.

[2018-04-24 05:36] #13907 closed

[2018-04-24 05:39] bsclifton commented on #13917
@hyrule12 please check out our Flash troubleshooting guide here:
https://community.brave.com/t/flash-isnt-working-audio-or-video-is-not-working/14

I'll close this issue for now- please re-open or comment if you have any additional questions. Thanks 😄

[2018-04-24 05:39] #13917 closed

[2018-04-24 06:01] NejcZdovc commented on #13878
@bsclifton yes, closing as dupe

[2018-04-24 06:01] #13878 closed

[2018-04-24 06:01] NejcZdovc commented on #13156
+1 from #13878

[2018-04-24 06:12] bsclifton commented on #13860
+1 from my dad on this one. Thanks for the fix, @petemill 😄👍

[2018-04-24 06:21] #13857 closed, assigned to nobody

[2018-04-24 07:16] LoveIsGrief commented on #9748
I'm not sure what to say. The home page has messages like: "Protect your privacy" and "Privacy by default", which seem to convey that this browser is privacy focused. However a concession of this kind is made.

It leads me to wonder what other kind of concessions have been made and why.

Anyway, thanks for the definitive response.

[2018-04-24 10:28] arsalankhalid commented on #13904
From the Data tests, how does a user check if their cookies are preserved?

[2018-04-24 12:05] mrose17 commented on #13354
Moved to https://github.com/brave-intl/bat-ledger/issues/205

[2018-04-24 12:05] #13354 closed

[2018-04-24 12:15] LaurenWags commented on #13904
For that part of the Data tests, I like to navigate to http://www.html-kit.com/tools/cookietester/, set a test cookie, and then update. I verify after updating that the cookie has been preserved.

You can skip the 'last change-set test' and the upgrade the wallet from older versions (in ledger) sections 😄

[2018-04-24 12:31] arsalankhalid commented on #13904
I'm also having difficulty finding the 'Sync' tab on my phone, which is vital for some of the tests. Is this screenshot accurate for where the sync option should be, or am I in the wrong place?

![image](https://user-images.githubusercontent.com/5307218/39186937-e67be150-4799-11e8-9f94-fae782b02b27.png)

[2018-04-24 12:35] srirambv commented on #13904
@arsalankhalid Sync is not yet available on iPhone. You can continue with the tests on iPhone as its similar but the test sheet is for laptop build 😄

[2018-04-24 13:37] edgebal commented on #13060
As a heads up, the issue is that .torrent files downloaded via XHR/fetch() trigger Brave's torrent extension.

WebTorrent library initiate those .torrent XHR downloads for magnet links that have the `&xs=http://example.com/file.torrent` query string parameter.

[2018-04-24 13:43] arsalankhalid commented on #13904
Ah thanks @srirambv and @LaurenWags :)
Another quick question, where exactly are 'Brave stats' ? Trying to compare crash report IDs

[2018-04-24 13:58] arsalankhalid commented on #13904
An update on my progress on these tests, they're certainly quite extensive :)
![image](https://user-images.githubusercontent.com/5307218/39191925-fc7cb6f8-47a5-11e8-89e7-68d2096061b9.png)

[2018-04-24 14:05] Jacalz commented on #13831
![image](https://user-images.githubusercontent.com/25466657/39192355-48132902-47d9-11e8-9d40-704bde678cd8.png)

[2018-04-24 14:10] LaurenWags commented on #13904
Hey @arsalankhalid - I don't believe crash reports are public, so you can skip the comparison of crash report IDs. Also, looks like you're moving along nicely on the manual test pass, great job! 👍

[2018-04-24 14:38] pautasso commented on #12744
FWIW I can also confirm that the latet? Brave 0.22.22 will also crash on my Mac 10.9.5.

/Applications/Brave.app/Contents/MacOS/../Frameworks/Brave Framework.framework/Brave Framework: dlopen(/Applications/Brave.app/Contents/MacOS/../Frameworks/Brave Framework.framework/Brave Framework, 265): Library not loaded: /System/Library/Frameworks/CoreBluetooth.framework/Versions/A/CoreBluetooth

[2018-04-24 15:16] pepik commented on #3756
+1

On a mac, while connected to corporate network using Cisco Anyconnect VPN, brave browser us usable for internal web pages only.

System wide pac-provided proxy does not work.

[2018-04-24 15:42] zsmith3 commented on #3555
+1
so far the only problem i have with brave

[2018-04-24 16:11] AlexeyBarabash opened #13920 "Downloading: {{ downloadPercent }} tooltip text"
### Description

Tool-tip shows `Downloading: {{ downloadPercent }}` while mouse is over the download item.

### Steps to Reproduce

  1. Go to http://releases.ubuntu.com/14.04/
  2. Click `64-bit PC (AMD64) desktop image`
  3. Start download
  4. Move mouse to downloading item and wait

**Actual result:**

![image](https://user-images.githubusercontent.com/24739341/39199277-b9a1301a-47f1-11e8-946

[2018-04-24 16:12] LaurenWags commented on #13876
Verified on macOS 10.12.6 with
0.22.667 https://github.com/brave/browser-laptop/commit/0433b26a03c8daf9b181057cd2ffa7b530496faf
Muon 5.2.6
libchromiumcontent 66.0.3359.117

[2018-04-24 16:15] LaurenWags commented on #13912
Verified on macOS 10.12.6 with
0.22.667 https://github.com/brave/browser-laptop/commit/0433b26a03c8daf9b181057cd2ffa7b530496faf
Muon 5.2.6
libchromiumcontent 66.0.3359.117

[2018-04-24 16:16] LaurenWags commented on #13911
Verified on macOS 10.12.6 with
0.22.667 https://github.com/brave/browser-laptop/commit/0433b26a03c8daf9b181057cd2ffa7b530496faf
Muon 5.2.6
libchromiumcontent 66.0.3359.117

[2018-04-24 16:30] bsclifton commented on #3555
Labelling with `fixed-with-fork`. The Chromium fork which we've done (coming later this year) fixes this problem.  We don't have any binaries available because it's still a work-in-progress, but in case folks would like to try building from source, please check out:
https://github.com/brave/brave-browser

[2018-04-24 16:34] bsclifton commented on #271
Labelling with `fixed-with-fork`. The Chromium fork which we've done ([coming later this year - click here for the blog post](https://brave.com/development-plans-for-upcoming-release/)) fixes this problem.  You can take a peek at the different themes that @jamesmudgett has put together here (both a dark UI and a light UI):
https://github.com/brave/brave-chromium-themes

We don't have any binaries

[2018-04-24 16:35] srirambv commented on #13871
Still broken on 0.22.667. Always ask setting not respected
![13871](https://user-images.githubusercontent.com/17010094/39201063-dc8db872-47bb-11e8-958e-20acc5c56b79.gif)

[2018-04-24 16:47] srirambv commented on #13871
Working as expected. Closing the issue

[2018-04-24 16:47] #13871 closed

[2018-04-24 16:57] kjozwiak commented on #13912
Verified on Mint 18.3 Sylvia using the following build:
* `0.22.667` https://github.com/brave/browser-laptop/commit/0433b26a03c8daf9b181057cd2ffa7b530496faf
* Muon `5.2.6`
* libchromiumcontent `66.0.3359.117`

[2018-04-24 16:58] josiah-keller opened #13921 "Can't right-click and drag to draw arrows on lichess.org"
### Description
The lichess.org UI supports a right-click and drag gesture to draw arrows for analysis.  This doesn't work in Brave.

### Steps to Reproduce

  1. Go to https://lichess.org/analysis
  2. Right-click and drag from one square to another
  3. Note that no arrow is drawn

**Actual result:**

No arrow is drawn, only a circle around the source square from the initial mousedown event.

**

[2018-04-24 17:15] bsclifton commented on #12957
The original fix for this caused https://github.com/brave/browser-laptop/issues/12959 - we'll definitely want to look at the fix that was done

[2018-04-24 17:32] LaurenWags commented on #13871
Verified on macOS 10.12.6 with
0.22.667 https://github.com/brave/browser-laptop/commit/0433b26a03c8daf9b181057cd2ffa7b530496faf
Muon 5.2.6
libchromiumcontent 66.0.3359.117

[2018-04-24 17:35] bsclifton opened #13922 "Make Brave compatible with GDocs by default (TLD+1 for HTTP Referer header to fix Google sites)"
This will fix:
   - docs.google.com, documents don't load by default.
   - hangouts in mail.google doesn't send messages.
   - hangouts in inbox.google doesn't send messages.

------

get eTLD+1 of domain
get eTLD+1 of subresource
If they match exactly, then don't clear Referer header

cc: @davidtemkin @flamsmark

[2018-04-24 17:38] bsclifton commented on #13922
Possibly related issues:
Open In Google Docs Doesn't Render, File Appears #10173
Google Docs clipboard not available #5709
Ctrl-right arrow / left arrow in Google Docs navigates browser instead of moving cursor
Clicking "to get sharable link" doesn't work with Google, does with github #6373

[2018-04-24 17:41] srirambv opened #13923 "Reopen closed window keyboard shortcut not working"
### Description
Reopen closed window keyboard shortcut not working

### Steps to Reproduce

  1. Clean install 0.22.667
  2. Open two windows
  3. Close one window and use keyboard shortcut to reopen it, doesn't work
  4. Click on Reopen closed window from file menu, reopens the closed window

**Actual result:**
https://youtu.be/87PcVo74FIY

**Expected result:**
Should reopen the recently closed w

[2018-04-24 17:50] jonathansampson opened #13924 "navigator.requestMIDIAccess doesn't work"
### Description
`navigator.requestMIDIAccess` returns a Promise that never resolves.

### Steps to Reproduce
Open the Brave developer tools and run the following from Console:
[code]

**Actual result:**
A promise is returned, but never resolved.

**Expected result:**
The access object is returned, and logged.

**Reproduces how often:**
100%

### Brave Version
0.22.22

**about:brave info:**
[code]

[2018-04-24 18:10] Liunkae commented on #12615
Just for the record, the repository for the new Chromium based version of Brave is called "brave-browser": https://github.com/brave/brave-browser

[2018-04-24 18:11] diracdeltas commented on #13905
This is a known issue with Site Isolation enabled.

[2018-04-24 18:12] diracdeltas commented on #13905
Closing of duplicate of https://github.com/brave/browser-laptop/issues/13716 since OP says they had site isolation enabled

[2018-04-24 18:12] #13905 closed

[2018-04-24 18:27] diracdeltas opened #13925 "hard-refresh in tor tab should create new circuit"
test plan:
1. in tor tab, go to check.torproject.org
2. hard refresh
3. you should see a different IP after the refresh

[2018-04-24 19:14] manach93 commented on #11819
![2000 network error](https://user-images.githubusercontent.com/22284710/39208783-c1dfb0b4-47b8-11e8-9768-cd3a69a0af7e.PNG)
i'm getting it too i'm trying brave browser now tried multiple unblocked dns extensions and i even tried to flush the dns with cmd that didn't work either. can anybody help 2 error fix videos came out but didn't help me one time it started working 2 days ago. thanks if anybod

[2018-04-24 19:48] LaurenWags opened #13927 "error in terminal when selecting File > Open File or Open Location without any open windows"
### Description
Selecting 'File > Open File' or 'File > Open Location' from the menu bar when there aren't any open windows throws an error in the terminal but does not seem to affect the application (app doesn't hang, crash, etc).

### Steps to Reproduce

  1. Launch Brave from the terminal.
  2. Close any open windows, but ensure Brave is still running.
  3. Select File > Open File (and also try

[2018-04-24 19:51] LaurenWags opened #13928 "error in terminal when selecting File > Share without any open windows"
### Test plan
See https://github.com/brave/browser-laptop/pull/13933

### Description
Selecting 'File > Share' from the menu bar when there aren't any open windows throws an error in the terminal but does not seem to affect the application (app doesn't hang, crash, etc).

### Steps to Reproduce

  1. Launch Brave from the terminal.
  2. Close any open windows, but ensure Brave is still running.

[2018-04-24 19:53] #13909 closed

[2018-04-24 19:57] MariaCobretti commented on #271
I am blinded

[2018-04-24 20:08] srirambv opened #13930 "Only first crash report is auto uploaded"
### Description
Only first crash report is auto uploaded

### Steps to Reproduce
  1. Clean install 0.22.22
  2. Visit chrome://crash to cause a webview crash
  3. Open chrome://crashes, ,ensure the crash report is uploaded
  4. Verify crash report is shown on stats
  5. Open a new tab and visit chrome://crash to cause a webview crash
  6. Reload the chrome://crashes page, crash from step 5 is not

[2018-04-24 20:31] bsclifton opened #13931 "Find results stay highlighted even after you hit escape"
### Description
When using cmd+f (or ctrl+f) to find words on a page, the results stay highlighted even after you press escape to dismiss.

### Steps to Reproduce

  1. Go to about:brave
  2. Push Cmd + F / Ctrl + F to bring up find bar
  3. Type "Brave" and hit enter
  4. Push escape to dismiss the find

**Actual result:**
results stay highlighted

**Expected result:**
results should not be highl

[2018-04-24 20:32] kjozwiak commented on #13930
@bridiver should we get this into the next release?

[2018-04-24 21:33] btlechowski commented on #13896
Tested on Ubuntu 17.10
0.22.667 0433b26
Muon 5.2.6
libchromiumcontent 66.0.3359.117

[2018-04-24 21:40] jumde opened #13932 "Set Cloudflare as default DNS resolver in Brave"
The privacy policy for the Cloudflare's new DNS resolver over HTTPS sounds pretty solid.

https://blog.cloudflare.com/dns-resolver-1-1-1-1/
https://developers.cloudflare.com/1.1.1.1/commitment-to-privacy/privacy-policy/privacy-policy/

And there has been interest in the community to make make Cloudflare's DNS resolver default in Brave.

https://community.brave.com/t/1-1-1-1-dns-resolver-from-cloud

[2018-04-24 21:42] jumde commented on #13932
cc: @diracdeltas @davidtemkin @flamsmark

[2018-04-24 22:09] kjozwiak commented on #13896
Thanks for the hard work @btlechowski 👍

[2018-04-24 23:16] gbisaga commented on #10875
Thank you @lindsm I was just about to ask. :-)

[2018-04-25 01:59] camelloman commented on #11463
+1 Mac user. I love brave, but writing in it is a pain. Without full screen I can't concentrate.

[2018-04-25 02:42] isjamesalive commented on #13156
+1 for me with v0.22.22 including the last few releases on Win10 1709. Backing up and restoring wallet keys doesn't help. Next contribution date is always $now + 1 month.

[2018-04-25 05:03] Emmanux commented on #11377
Most distros depend on these shortcuts. Where can we edit them for Brave?

[2018-04-25 05:34] bsclifton commented on #11377
@Emmanux unfortunately we currently don't have a way to change them (that I'm aware of). We do have an issue captured for this functionality though, if you wanted to +1 it:
https://github.com/brave/browser-laptop/issues/1374

[2018-04-25 05:36] Emmanux commented on #1374
Much needed.

[2018-04-25 05:48] kioken commented on #13156
+1 for me, lost my last contribution and previous contribution statements as well. So depressing.

[2018-04-25 05:49] bsclifton commented on #13666
@MkllTech is this still an issue for you?

[2018-04-25 05:59] bsclifton commented on #13580
removed OS labels since this affects all platforms

[2018-04-25 06:01] bsclifton commented on #12267
Closing as there hasn't been any activity lately. @LaurenWags please re-open if you run into this again 😄

[2018-04-25 06:01] #12267 closed

[2018-04-25 06:02] bsclifton commented on #12163
Closing as there hasn't been any updates to this issue and there aren't clear steps to reproduce. Please re-open if you experience this issue. Thanks! 😄

[2018-04-25 06:02] #12163 closed

[2018-04-25 06:04] bsclifton commented on #12458
Closing this issue as a duplicate of https://github.com/brave/browser-laptop/issues/2949

[2018-04-25 06:04] #12458 closed

[2018-04-25 06:05] bsclifton commented on #3125
Closing as there haven't been any reports for some time. This may no longer be an issue

[2018-04-25 06:05] #3125 closed

[2018-04-25 06:08] bsclifton commented on #11765
Closing as stale- let's reopen if this is still a problem

[2018-04-25 06:08] #11765 closed

[2018-04-25 06:12] bsclifton commented on #7884
For folks experiencing this issue, here are two things you can try:

1. If you right click the shortcut for Brave and pick properties, you can go to the compatibility tab. There, check the box for override scaling and pick "System" instead of application
![image](https://user-images.githubusercontent.com/4733304/39228818-cf8c7d30-4814-11e8-89c1-78253b5ff111.png)

2. If the above doesn't work, try

[2018-04-25 06:15] bsclifton commented on #13702
For any Polish speakers who would like to give this a shot, please check out our translations guide here:
https://github.com/brave/browser-laptop/blob/master/docs/translations.md

[2018-04-25 06:17] bsclifton commented on #12534
@l9sk @UFLrob do you have more information?  What platform are you on? Where are you seeing this?

I'm definitely not aware of anything which would have this behavior

[2018-04-25 06:29] bsclifton commented on #9258
Closing as this service will be EOLed

[2018-04-25 06:29] #9258 closed

[2018-04-25 06:54] #6547 closed

[2018-04-25 07:03] jonathansampson commented on #13315
@cppfuns Does this issue still exist?

[2018-04-25 07:26] hugobuddel commented on #2949
The Alt-* keybord shortcuts also do not work on Linux (Brave 0.22.22).

[2018-04-25 07:35] hugobuddel commented on #13901
Perhaps this is because `--no-sandbox` is necessary on Centos?

Or namespaces need to be turned on: https://github.com/brave/browser-laptop/issues/6902#issuecomment-375712955

But there should be a message on the terminal when starting Brave.

[2018-04-25 07:43] hugobuddel commented on #11175
Please don't add this alert! Using Brave without sandbox is the only way for me to run it on my work machine.

My machine at work runs Scientific Linux 7.4 and I don't have root access, so I can't deploy fixes like this: https://github.com/brave/browser-laptop/issues/6902#issuecomment-375712955

Having some alert nagging me about some issue beyond my control each time I start Brave would get very

[2018-04-25 07:54] hugobuddel commented on #13014
Still happens on 0.22.22
Crash dump id: bce0a5f23994170d

Brave: 0.22.22
V8: 6.5.254.41
rev: 63033109963be0a995b3d1ed9723870beeb191c4
Muon: 5.1.2
OS Release: 3.10.0-693.21.1.el7.x86_64
Update Channel: Release
OS Architecture: x64
OS Platform: Linux
Node.js: 7.9.0
Brave Sync: v1.4.2
libchromiumcontent: 65.0.3325.181

[2018-04-25 09:32] hugobuddel commented on #3218
It seems to still work fine in 0.22.22.

But note that pasting is easy part (in 0.22.22 at least). The hard part is to copy the link. You'd either need another browser to do that or use view-source. Trying to copy the link directly from the pinboard page will copy "about:blank", so that is what will be pasted.

[2018-04-25 09:35] hugobuddel commented on #3218
And choose 'copy', not 'copy link address' when using view-source.

[2018-04-25 09:37] slmeyer commented on #3218
OK - I see that magic somehow when using firefox to copy it works, though I do not understand why, thanks a lot

[2018-04-25 10:00] hugobuddel commented on #3218
You're welcome. Now if only it would be possible to access the bookmarklet easily, like a keyboard shortcut or so. Any ideas perhaps?

I have the 'bookmark toolbar' visible primarily for the pinboard bookmarklet. My laptop screen has a 16:9 aspect radio, so it takes quite some space. By now I've added some other bookmarks as well, so it is not so bad, but a better way to access bookmarklets would

[2018-04-25 10:24] hugobuddel opened #13936 "Saved credentials for in-active tab pop-up on active tab"
Could not find a similar issue.

### Description
Opening a page with saved credentials in a background tab will show the credentials-popup on the original tab.

Minor issue, mostly cosmetics.

### Steps to Reproduce
  1. Go to page with link to a login page. E.g. webmail.
  2. Middle click link, page opens in background tab.
  3. Pop-up with saved credentials appear.

**Actual result:**
![bravecre

[2018-04-25 10:47] slmeyer opened #13937 "Keyboard shortcut(s) activating the menu bar"
I Have searched here and on the net for similar issues!

### Description

The menu system should for productivity and accessibility reasons (for me specifically access to the bookmarks without using the mouse) have associated keyboard shortcuts ('Alt+<a..z>') activating and transferring focus to the different menus and the menus should be marked with an underscore under the actual <a..z> in the me

[2018-04-25 10:53] arcanosam commented on #13901
Hi. I don't tried to run on terminal because I made a shortcut icon and I read somewhere that to run without --no-sandbox it's not good.

So I gived it  a try. Running without on command line. This is the error:

      [3177:3177:0425/083605.343049:ERROR:zygote_host_impl_linux.cc(90)]
      Running as root without --no-sandbox is not supported. See https://crbug.com/638180.

But when a I run it wi

[2018-04-25 11:08] jasonrsadler commented on #12120
@srirambv Can you retry. I can't reproduce on win10 pro 1709

[2018-04-25 11:08] srirambv opened #13938 "Manual test run for Viswaprasath"
## Installer

- [ ] Check that installer is close to the size of last release
- [ ] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup win

[2018-04-25 11:17] uchida commented on #7505
It seems brave enables Linux sandbox before loading flash plugin shared library.
Launching brave with `LD_PRELOAD=/usr/lib/pepperflashplugin-nonfree` environment variable will work.
(`--no-sandbox` option also works, but not recommended)

[2018-04-25 11:48] hugobuddel commented on #13901
Good luck @arcanosam, you can probably figure something out.

Perhaps you can try to start with a clean slate, that is, by deleting Brave and unzipping the tarball again. Some of the errors you are currently getting seem to be due to the `chmod 4755` you did earlier, so you risk mixing different solutions together such that they don't work anymore.

There seem to be three ways to make it work (I'm

[2018-04-25 11:59] srirambv commented on #12120
Looks fixed on master
![12120](https://user-images.githubusercontent.com/17010094/39244023-5cf19eba-485d-11e8-822a-fa611c1ff565.gif)

and on 0.23.x
![12120_23](https://user-images.githubusercontent.com/17010094/39244317-5480af68-485e-11e8-916e-df5f5925cd14.gif)

Not sure whats fixed the issue but good to close it for now.

[2018-04-25 11:59] #12120 closed

[2018-04-25 12:46] LeOtaku commented on #7597
Maybe we could get something that is as powerfull as Firefox' [userChrome.css](http://kb.mozillazine.org/index.php?title=UserChrome.css&printable=yes) but have it be oficially supported. I know that having that kind of power would make some people (myself included) switch to Brave in a heartbeat.
But I do also understand that implementing that could be a huge amount of work. (especially if the bro

[2018-04-25 13:36] CurtisLeeBolin commented on #11175
@hugobuddel, never showing the security alert isn't the answer.  It is necessary to show the user they are running the program with degraded security.  You should ask for the option to `don't show this alert again` on the alert.

[2018-04-25 16:08] Liunkae commented on #13932
Related: #13690

[2018-04-25 16:09] Liunkae commented on #13690
Related: #13932

[2018-04-25 16:27] nishay77 commented on #10599
Is not an issue if the browser window starts maximized.  Seems like the act of maximizing a window is causing the 1px overlap to other monitors due to incorrect screen dpi/resolution detection

[2018-04-25 16:29] nishay77 commented on #10599
Leaving a window in "fullscreen" mode also prevents this from happening for now.  (type F11)

[2018-04-25 17:26] carson-drake opened #13939 "Duplicate publisher entries in Payments UI"
### Description
There are some publishers that are showing up as duplicate entries within the payment ui in preferences. The stats for each entry differ which is what leads me to believe this is not a simple caching issue.

### Steps to Reproduce
This is a bug that I noticed which appeared over time.

**Actual result:**
The instance I'm experiencing is with a youtube creator [Casey Neistat](https:

[2018-04-25 18:03] #13895 closed

[2018-04-25 18:08] NejcZdovc commented on #13939
thank you for your report. I think this is dupe of #13875, but this is something that we will fix asap.

[2018-04-25 18:08] #13939 closed

[2018-04-25 18:08] NejcZdovc commented on #13875
+1 from #13939

[2018-04-25 18:14] kjozwiak opened #13940 "Release checklist for 0.22.x w/ CR66 (Release channel)"
# Release Process Checklist

Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

## Release Commands
### First-time Setup
- [x] `git clone git@github.com:brave/vault-updater && cd vault-updater`
- [x] `git clone git@github.com:brave/release-tools`
- [x] `npm install`
- [x] install the her

[2018-04-25 18:19] joerozek opened #13941 "Clicking external link doesn't open new window when all windows closed"
Have you searched for similar issues?
Yes

### Description
Clicking external link doesn't open a new window on Mac when all previous windows have been closed but Brave is still running in background.

### Steps to Reproduce

  1. On a Mac, set Brave as default browser
  2.  Open Brave
  3. Close all windows but leave Brave running in background (you should noticed the dot under Brave in the Dock)

[2018-04-25 18:37] kjozwiak commented on #13895
awesome, thanks for the hard work @srirambv 👍

[2018-04-25 18:41] eljuno commented on #13941
Dupe of #13859

[2018-04-25 18:45] kjozwiak commented on #13894
Closing.. Thanks for the hard work @LaurenWags 👍

[2018-04-25 18:45] #13894 closed

[2018-04-25 19:01] joerozek commented on #13941
I verified it works for me in the pre-release.
[v0.22.667](https://github.com/brave/browser-laptop/releases/tag/v0.22.667dev)

I swear I searched for the issue before filing. 😀

[2018-04-25 19:01] #13941 closed

[2018-04-25 19:02] LaurenWags commented on #2184
ran through the test plan multiple times with macOS - all were as expected 👍

[2018-04-25 19:38] kjozwiak commented on #13531
Same results on Mint 18.3 x64 using `0.22.667` rev: 0433b26a03c8daf9b181057cd2ffa7b530496faf:

* launch `0.22.667` using `LEDGER_VERBOSE=true` via the terminal
* on launch, received `ledger client run: clientP=true delayTime=282707`
* second ping --> `ledger client run: clientP=true delayTime=0`
* third ping --> `ledger client run: clientP=true delayTime=0`
* closed brave and re-launched using `LE

[2018-04-25 20:15] byroniac commented on #7868
We use Quest Rapid Recovery at work for our backup solution, and it uses web-based management for all the backup cores which use self-signed certificates and generate this error when trying to browse them with Google or Brave. So it is a real-world problem for what it is worth. I even tried importing the certificate in Windows to various stores and have not been able to resolve the error (apparent

[2018-04-25 20:30] kjozwiak commented on #2184
Also ran through the above test case 10 times on `macOS 10.13.3` without receiving any prompts.

[2018-04-25 20:44] jasonrsadler opened #13942 "Resetting Sync no longer adds device"
### Description
Resetting sync on a single device will not read that device when set up again

- Clean profile
- Preferences -> Sync -> 'I am new to Sync' -> Setup
- Observe local device is added to list
- Reset Sync
- Set sync up again

### Steps to Reproduce
- Clean profile
- Preferences -> Sync -> 'I am new to Sync' -> Setup
- Observe local device is added to list
- Reset Sync
- Set sync up aga

[2018-04-25 21:47] btlechowski opened #13943 "Find in page does not highlight nor jump to the searched word"
### Steps to Reproduce
  1. Restart Brave (Important)
  2. Open about:welcome
  3. Open Find on page
  4. Search 'extensions'
  5. Go forward with the search till you jump back to the beginning

**Actual result:**
The searched words are not highlighted
Find in page does not jump to the searched word
![image](https://user-images.githubusercontent.com/34715963/39274338-f153d288-48e1-11e8-9bf3-249868

[2018-04-25 21:56] jasonrsadler commented on #13217
@mrose17 @NejcZdovc Current live release shows that we are getting channel names. Do we have an STR on this yet?

[2018-04-25 21:57] kjozwiak opened #13944 "Release notes for 0.22.x w/ CR66 (Release Channel)"
Release Notes:
 - Update to Chromium 66. ([#13912](https://github.com/brave/browser-laptop/issues/13912))
 - Update Muon to 5.2.6. ([#13911](https://github.com/brave/browser-laptop/issues/13911))
 - Brave menu items which open tabs do so in minimized window. ([#13865](https://github.com/brave/browser-laptop/issues/13865))
 - Unable to open new window from dock icon. ([#13860](https://github.com/br

[2018-04-25 22:01] mrose17 commented on #13217
there is no STR. however, it happens to me several times a day.

[2018-04-25 22:02] LaurenWags commented on #13943
Could not reproduce on macOS (even using a fresh profile)

[2018-04-26 00:07] #13944 closed

[2018-04-26 01:14] #13940 closed

[2018-04-26 02:55] sliday commented on #13902
I can confirm the issue, unfortunately. Shortcuts (e.g. CMD+T, CMD+L. CMD+C, CMD+V) are not recognised when non-English layout is selected.

[2018-04-26 03:34] kjozwiak opened #13947 "brave crashing when sumbitting online forms on some websites"
### Description

There's been several reports of Brave crashing when submitting online forms on several different websites, few examples:

* https://community.brave.com/t/brave-crashing-on-form-submission-possible-net-captcha-issue/20887
* https://twitter.com/Blockchain_Ron/status/989332551570411521
* https://twitter.com/ReidWalley/status/989339696550445056

### Steps to Reproduce

**Example 1:**

[2018-04-26 03:51] clockworkpc opened #13948 "KolabNow Webmail crashes Brave Browser"
### Description

**Reproduces how often:**

### Brave Version

**about:brave info:**

Name | Version
-- | --
Brave | 0.22.22
V8 | 6.5.254.41
rev | 6303310
Muon | 5.1.2
OS Release | 4.13.0-39-generic
Update Channel | Release
OS Architecture | x64
OS Platform | Linux
Node.js | 7.9.0
Brave Sync | v1.4.2
libchromiumcontent | 65.0.3325.181

**Reproducible on current live release:**

### Additional Info

[2018-04-26 04:58] #3800 closed

[2018-04-26 05:48] NejcZdovc commented on #4847
@bradleyrichter do we still want to add this now that we added #13504

[2018-04-26 05:56] cppfuns commented on #13315
Yes, there is still a problem with trying to download the latest version of Brave browser.

[2018-04-26 05:56] cppfuns commented on #13315
Brave: 0.22.667
V8: 6.6.346.24
rev: 0433b26a03c8daf9b181057cd2ffa7b530496faf
Muon: 5.2.6
OS Release: 10.0.16299
Update Channel: Release
OS Architecture: x64
OS Platform: Microsoft Windows
Node.js: 7.9.0
Brave Sync: v1.4.2
libchromiumcontent: 66.0.3359.117

[2018-04-26 06:03] NejcZdovc commented on #13217
I manage to reproduce it and I have STR

[2018-04-26 06:51] Hisairnessag3 opened #13949 "Brave browser does not work with google cloud console"
### Description

### Steps to Reproduce
Simply log in to google cloud console.

**Actual result:**
Buggy, unusable interface

**Expected result:**
Nice Interface
**Reproduces how often:**
100%

### Brave Version

0.22.667
**about:brave info:**

V8 | 6.6.346.24
rev | 0433b26
Muon | 5.2.6
OS Release | 16.7.0
Update Channel | Release
OS Architecture | x64
OS Platform | macOS
Node.js | 7.9.0
Brave Syn

[2018-04-26 07:07] NejcZdovc commented on #13217
hmm can't reproduce it anymore :S

[2018-04-26 08:23] jakecoolguy opened #13950 "Brave won't open on Ubuntu 16.04 after latest update"
### Description

Brave won't open on Ubuntu 16.04 after latest update.

### Steps to Reproduce

  1. install on Ubuntu 16.04 after following steps here on the github page

**Actual result:**

(after install)

$ brave

Crash reporting enabled
[10812:10843:0426/161728.667495:ERROR:backend_impl.cc(2055)] Invalid cache (current) size
[10812:10812:0426/161728.819633:ERROR:CONSOLE(1)] "(node) warning: p