[2016-11-27 22:26] bradleyrichter commented on #5494
This "quick remove" column came from the original history makeover design.

Ideally we can use it there as well. It should work in a similar way to the the search engine prefs default column except that the hover state also shows the "no" symbol and clicking removes it from the list.

[2016-11-27 22:45] cezaraugusto commented on #5308
This issue was prior to our current sorting method. Not an issue now since we're not using `suggestions` code for sorting tiles on newtab. We do have plans to implement it but invalid for now. Closing.

[2016-11-27 22:45] #5308 closed

[2016-11-27 23:01] bsclifton commented on #5413
@cezaraugusto did you ever submit a fix for this? I remember we talked about how bookmarking updates the lastAccessedTime

[2016-11-27 23:31] #5455 closed

[2016-11-27 23:31] #2075 closed

[2016-11-27 23:31] #3648 closed

[2016-11-27 23:40] #4807 closed

[2016-11-27 23:58] bsclifton commented on #5860
There was a reason for this... but I agree, it looks weird

cc: @bradleyrichter @darkdh

[2016-11-28 01:07] darkdh commented on #5860
It was intended to indicate merge into toolbar is the sub option of bookmark. And it can only be toggled when bookmark option is active.

[2016-11-28 01:20] stan-qaz commented on #2604
That would solve my problem completely and it looks pretty sharp too.

[2016-11-28 01:20] bradleyrichter commented on #5860
It would help to bump the slider to the right about 5px.

[2016-11-28 01:26] jkup commented on #5860
Oh I see. Yeah maybe just pushing it a bit further to the right like @bradleyrichter suggested will help? I'll give it a try and post a screenshot! :)

[2016-11-28 01:35] jkup commented on #5861
Notes: It does load with shields down and here are the errors I see in the console with shields up.

<img width="1088" alt="screen shot 2016-11-27 at 5 34 32 pm" src="https://cloud.githubusercontent.com/assets/490294/20653816/d68c2c20-b4c7-11e6-8567-f8c48be0fb1f.png">

[2016-11-28 01:45] martinheidegger opened #5864 "Keep form input even with auto-refresh"
**Did you search for similar issues before submitting this one?**

Yes, strangely I didn't find one.

**Describe the issue you encountered:**

I started writing on a gist at github and didn't save it before going to bed. Next morning I looked for it and it was gone. Brave seems to auto-refresh content after not-being-accessed for a while, which deletes the written data.

**Expected behavior:**

Pr

[2016-11-28 02:31] martinheidegger opened #5865 "Helper installation asked even for non-admin user."
**Did you search for similar issues before submitting this one?**

Yes, didn't find one.

**Describe the issue you encountered:**

I use Brave with different users on the Mac. Most of which are non-admins _(security reasons)_ and yet I do get popups installing a helper (and upgrading Brave) for every user repeatedly. To install the helper you need to need admin problems

**Expected behavior:**

On

[2016-11-28 04:01] bbondy commented on #5508
Re-opened for review comment:
https://github.com/brave/browser-laptop/pull/5717#issuecomment-263178701

[2016-11-28 04:04] michaelAndersonCampingWorld commented on #5748
I use 1password, and I can't vote on twitter as well.

[2016-11-28 04:09] bbondy commented on #5765
Re-opening because it breaks bookmark folders.
STR:
1. Clear session storage.
2. Create a bookmark folder
3. Load a webpage and click the star button
4. In the folder drop down select the bookmark folder.
5. Try to click or hover over the bookmark folder.

<img width="756" alt="screenshot 2016-11-27 23 03 38" src="https://cloud.githubusercontent.com/assets/831718/20656047/81aebc02-b4f6-11e6-8a45-9

[2016-11-28 04:10] bbondy commented on #5765
This also breaks bookmark tests.

[2016-11-28 04:54] bsclifton commented on #5765
@bbondy doh, thanks for the catch. I'll dig into this tonite and ensure tests look good locally

[2016-11-28 06:02] ConorIA commented on #1392
Not sure if this is realted, or just a coincidence, but I only started to experience this bug after:

1) Switching from catalyst to the open source radeon driver
2) Upgrading xorg from 1.17 to 1.18

I find that it most often happens after I visit a page with an embedded video (such as YouTube), then all following pages load blank.

[2016-11-28 06:07] ConorIA commented on #4928
Just thought I'd chime in. I experience this bug on my desktop with the open source radeon driver.
I do not experience the bug on my laptop with the Nvida proprietary driver.
I also did not experience it on my desktop before moving from the proprietary Catalyst driver to the FLOSS driver.

[2016-11-28 06:42] luixxiul commented on #1392
@ConorIA would you please follow the steps to reproduce the issue described here? https://github.com/brave/browser-laptop/issues/3787#issuecomment-248615910

[2016-11-28 06:57] ktd99 commented on #5572
Privatzee, wow...I had already disabled the ads and 3rd party cookies.  Also disabling HTTPS E made the site work....thank you!

Luixxiul, can you please elaborate?  What sort of bug..??

[2016-11-28 07:04] luixxiul commented on #5572
Brave browser integrates HTTPS Everywhere and uses the rulesets to switch http to https (or https to http), which are maintained manually on https://github.com/EFForg/https-everywhere. Because server configurations can be changed by server owners any time, there is a chance that the ruleset would lead to wrong domains. I think this is one of the cases.

[2016-11-28 07:14] #5860 closed

[2016-11-28 07:26] bsclifton commented on #5699
This may be a duplicate; please see https://github.com/brave/browser-laptop/issues/5542

[2016-11-28 08:02] bsclifton commented on #5765
Root cause found! It has to do with only 1 item being in the folder... which is great that the Bookmarks toolbar test does this :smile: I'll make an explicit test for this, fix the issue, and then resubmit a PR

[2016-11-28 08:14] darkdh opened #5868 "Favicon of trakt.tv on new tab page"
**Did you search for similar issues before submitting this one?**
Yes
**Describe the issue you encountered:**
The favicon blends in with the red background
**Expected behavior:**
favicon of trakt.tv should be recognizable
- Platform (Win7, 8, 10? macOS? Linux distro?): all

- Brave Version: 0.12.10

- Screenshot if needed:

The right most red one is trakt.tv
<img width="532" alt="screen shot 2016-

[2016-11-28 10:05] davidrevmakx commented on #3270
Tried using this functionality - the parent page loaded when we had preload attribute set. No doc on how to inject a content script on electron? I just want to load a bunch of JS with IPC.  Any example on adding a contentscript to a webview or browserwindow?

[2016-11-28 11:24] cezaraugusto commented on #5413
@bsclifton nope but first item of my list now

[2016-11-28 12:29] srirambv commented on #1268
+1 from[ support ](https://linkbubble.zendesk.com/agent/tickets/7007)on not able to view embedded tweets

[2016-11-28 13:19] ConorIA commented on #1392
@luixxiul, I've visited the "trigger" page on my laptop, with no problem. I am not in my office until the afternoon, but once I'm there I'll double check on my desktop, which is the machine that has the issue.

[2016-11-28 14:45] Gelo3D opened #5870 "[Request] Web installator like google chrome"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**

Do online web installator.
Now offline installator ~90mb for download.
Some people like web instalators :)

**Expected behavior:**

- Platform (Win7, 8, 10? macOS? Linux distro?):

- Brave Version:

- Steps to reproduce:
    1.
    2.
    3.

- Screenshot if needed:

- Any related issues

[2016-11-28 14:53] Gelo3D opened #5871 "[Request] Installator zero level customization"
**Did you search for similar issues before submitting this one?**

yes

**Describe the issue you encountered:**

Installation of brave browser - only install this app.
No allow path to install default : C:\Users\UserName\AppData\Local\brave\
Some options in installation like default browser, path etc.

**Expected behavior:**

- Platform (Win7, 8, 10? macOS? Linux distro?):

- Brave Version:

- Ste

[2016-11-28 15:02] Gelo3D opened #5872 "[Bug] Crash when use close other tabs"
**Did you search for similar issues before submitting this one?**

yes

**Describe the issue you encountered:**

When I have more than 10 tabs, than I click button with option 'close ohter tabs' browser crash, without any information about it. When i start again app, i have my previous tab.

**Expected behavior:**

- Platform (Win7, 8, 10? macOS? Linux distro?):
[Device][Test Platform]
Laptop Tosh

[2016-11-28 15:02] Gelo3D opened #5873 "Closing last tab should open a new tab (not exit browser)"
**Did you search for similar issues before submitting this one?**

yes

**Describe the issue you encountered:**

Exit last tab do new tab not exit browser

**Expected behavior:**

- Platform (Win7, 8, 10? macOS? Linux distro?):

- Brave Version:

- Steps to reproduce:
    1.
    2.
    3.

- Screenshot if needed:

- Any related issues:

[2016-11-28 15:13] jonathansampson commented on #3701
@bbondy Is this the same issue mentioned here? https://twitter.com/sebagomez/status/801598297119014916

[2016-11-28 15:24] efemernyy commented on #3756
This feature is a necessity for me, would love to switch to Brave full time but no native proxy/network settings interface kills it

[2016-11-28 15:27] CelsoGoya commented on #1002
+1 Agree

[2016-11-28 15:54] bbondy commented on #3701
Yes I think it's the same.

[2016-11-28 15:55] jonathansampson commented on #3701
@bbondy Thanks. May be nothing more than a third-party domain attempting to touch localStorage. I'll check into it further and update here with relevant findings. Thank you again for the confirmation.

[2016-11-28 16:12] sebagomez opened #5874 "[Bug] Private tab suggests my Google Account"
**Did you search for similar issues before submitting this one?**
yes, and found some issues related with Google Accounts but not with Incognito mode

**Describe the issue you encountered:**
I have a Brave session with two open tabs with two different Google account (one for work and one personal). I opened a new Private Tab to sign in to the Google Play store with a different account, but brave s

[2016-11-28 16:31] bbondy commented on #5874
Hi @sebagomez can you confirm if the private tab you opened has an eye on it?
<img width="185" alt="screenshot 2016-11-28 11 31 18" src="https://cloud.githubusercontent.com/assets/831718/20676580/31c34d94-b55e-11e6-9d77-3c48854c099d.png">

I ask because I don't think what you described is possible.

[2016-11-28 16:35] bbondy commented on #5874
Also could you expand on this one:

Maybe with a screenshot, is it in the autosuggest? Or do you mean in page content is showing you the info?

Autosuggest is normal and not a bug.  The private mode is not trying to hide itself from you as the user but from other page content.

[2016-11-28 16:39] jonathansampson commented on #5874
@bbondy I'm see what I believe you are seeing. Page seems unaware of parallel sessions. Auto-suggest pop-up (from the Application) suggests email addresses used in parallel tabs.

[2016-11-28 16:46] jonathansampson opened #5875 "1Password Should Auto-Submit on Fill"
**Did you search for similar issues before submitting this one?**
Yes

**Expected behavior:**

**Platform (Win7, 8, 10? macOS? Linux distro?):** N/A

**Brave Version:** N/A

[2016-11-28 18:07] bbondy opened #5876 "Have only one state updated message for about page state updates"
Let N be the number of about pages.
We currently have N different constants to handle state updates.
We also have N different listeners in each of the about pages.
We should be able to refactor that into one single state updater listener and one constant.

[2016-11-28 19:06] alexwykoff opened #5877 "0.13.0 Preview1 / Chromium 54 tracking issue"
## Installer

1. [ ] Check that installer is close to the size of last release.
2. [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup

[2016-11-28 19:13] mbootsman commented on #5620
Any update on this? It is really annoying to use the default back button.

[2016-11-28 19:26] bsclifton opened #5878 "URL bar selects autocomplete result on keypress"
**Did you search for similar issues before submitting this one?**
I only did a quick search, there may already be an issue (help appreciated finding)

**Describe the issue you encountered:**
Auto-complete results are being chosen when I'm doing a very specific set of key presses when focus is in the URL bar (see steps to repro).

I found this when trying my default logic for copy/paste, which is s

[2016-11-28 20:24] bsclifton commented on #5876
Related - https://github.com/brave/browser-laptop/issues/3570

[2016-11-28 20:32] bsclifton commented on #4248
@ghost is this still an issue?

[2016-11-28 20:33] bsclifton commented on #4248
Closing this issue for now (original poster has a deleted account, can't provide more info). If you also encounter this issue, please let some more details and re-open.  Thanks! :smile:

[2016-11-28 20:33] #4248 closed

[2016-11-28 20:33] bsclifton commented on #5620
Related: https://github.com/brave/browser-laptop/issues/3101

[2016-11-28 20:37] bsclifton commented on #466
What functionality is not met by our current search shortcuts?  Can this issue be closed?
@bradleyrichter @luixxiul @bbondy

[2016-11-28 21:02] bradleyrichter commented on #466
@bsclifton

We can close but I'll monitor for requests for a second redundant search box ala Firefox style as explained by @SJ-Diamond .

[2016-11-28 21:03] #466 closed

[2016-11-28 21:07] alexwykoff opened #5879 "toLocale* methods not respecting locale"
**Did you search for similar issues before submitting this one?**
No

**Describe the issue you encountered:**
When trying the 0.13.0 Preview1 build, I found the new tab page showed a lot more info than before.
Stats are wrapping.

**Expected behavior:**
New tab page should look the same as before.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Tested on OS X

- Brave Version:
0.13.0 Preview 1

-

[2016-11-28 21:14] alexwykoff opened #5880 "CMD + click on about pages are blank on new tab"
**Did you search for similar issues before submitting this one?**
No

**Describe the issue you encountered:**
When using cmd+click on about pages the new tab pages are blank. No errors on console.

**Expected behavior:**
The page should display the content.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Tested on OS X

- Brave Version:
0.13.0 Preview 1

- Steps to reproduce:
    1. visit about:a

[2016-11-28 21:22] alexwykoff opened #5881 "Amazon pages go black"
**Did you search for similar issues before submitting this one?**
No

**Describe the issue you encountered:**
Visiting certain pages on Amazon are causing the view to go black.
Ex : https://www.amazon.com/Furby-B6084-Connect-Teal/dp/B01EARLUZW/ref=sr_1_1?s=toys-and-games&ie=UTF8&qid=1480367999&sr=1-1&keywords=furby displays without issue.
Clicking on the manufacturer page (https://www.amazon.com/F

[2016-11-28 21:28] alexwykoff opened #5882 "Creating a wallet shows 'loading' for account balance without updating after 'a reasonable time'"
**Did you search for similar issues before submitting this one?**
No

**Describe the issue you encountered:**
When creating a new wallet, the 'loading' text is not replaced after minutes of observing the payments preference page.

**Expected behavior:**
The balance should be 0.00 for a new wallet within 2 minutes (preferably shorter).

- Platform (Win7, 8, 10? macOS? Linux distro?):
Tested on OS X

[2016-11-28 21:39] alexwykoff opened #5883 "Flash controls are not working"
**Did you search for similar issues before submitting this one?**
No

**Describe the issue you encountered:**
When trying to enable Flash, the controls did not work.

**Expected behavior:**
After allowing Flash in the context, the content should display.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Tested on OS X

- Brave Version:
0.13.0 Preview 1

- Steps to reproduce:
    1. visit homestarru

[2016-11-28 21:49] #4822 closed

[2016-11-28 21:58] josiah-keller opened #5884 "Tab text selectable via keyboard"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
The tab label text can be selected and dragged around or copied by using Ctrl-A on the keyboard.

**Expected behavior:**
The tab label text can't be selected.

- Platform (Win7, 8, 10? macOS? Linux distro?): Windows 10

- Brave Version: 0.12.10

- Steps to reproduce:
    1. Press Ctrl-F t

[2016-11-28 22:07] alexwykoff opened #5885 "autofill is showing password content while typing"
**Did you search for similar issues before submitting this one?**
No

**Describe the issue you encountered:**
While trying to log into a site, I noticed that autofill was showing my password.

**Expected behavior:**
The password content should never be shown by autofill.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Tested on OS X

- Brave Version:
0.13.0 Preview 1

- Steps to reproduce:
    1.

[2016-11-28 22:08] bbondy commented on #5885
@darkdh could you take a look?

[2016-11-28 22:15] sebagomez commented on #5874
@bbondy the tab does have the eye on it

@jonathansampson that's right, I'm opening that tab to have another account... it also was impossible to sign out out of that Tab/Account. I had to go to Chrome for that. I might be able to record a video/gif with that. But having multiple Google accounts messing up it's been something I see now and then. I had to delete browser history to get things done.

[2016-11-28 22:24] bsclifton commented on #5431
Change was backed out with https://github.com/brave/browser-laptop/pull/5886 after we noticed positioning of the audio icon being wrong:
![image](https://cloud.githubusercontent.com/assets/4733304/20685266/f75d4674-b570-11e6-8ae1-ae91ea601cf8.png)

The CSS as-is (in `tabs.less`) is great and works wonderfully... until the window gets small. I think the changes that were made need to be wrapped wit

[2016-11-28 22:29] jkup opened #5887 "Add unit tests for ledger backup and minimum visits"
Following this comment from @bsclifton https://github.com/brave/browser-laptop/pull/5824#issuecomment-263382889

We should add some testing around two recent fixes:

1. Advanced ledger settings stopped persisting https://github.com/brave/browser-laptop/issues/5637
2. Clean up formatting for ledger wallet backup https://github.com/brave/browser-laptop/pull/5862

[2016-11-28 23:24] bsclifton commented on #5836
@msiyer I'm going to close this issue since it sounds like you're good to go :smile:

If you're interested, you could create a new page in our Wiki with steps / tips for setting up on Linux:
https://github.com/brave/browser-laptop/wiki

If you were up for that, you could use the Windows page as an example:
https://github.com/brave/browser-laptop/wiki/(setup)-Windows-build-guide

[2016-11-28 23:28] bsclifton commented on #49
@EPadronU what exactly are you trying to figure out? (can you please explain more?)

This issue is pretty old- if you have a specific problem, I'd encourage you to create a new issue.  Thanks! :smile:

[2016-11-28 23:31] bsclifton commented on #5879
The page is using [toLocateTimeString()](https://github.com/brave/browser-laptop/blob/master/js/about/newTabComponents/clock.js#L18) which may be causing the issue

This would be a good chance to also use `moment.js`, in a similar fashion to what's implemented in the ledger (Brave Payments) code

[2016-11-29 00:00] maxmaronna commented on #1798
Hello
I put down that desktop, so I do not know...but in the new one is working
great
Best
max

2016-11-19 8:17 GMT-02:00 Suguru Hirahara <notifications@github.com>:

[2016-11-29 00:07] bsclifton commented on #5879
After talking this out more, it could be a bigger problem. The formatting here should be picked up properly. Current production builds use the same locale that is picked in about:preferences and functions like [Number.prototype.toLocaleString()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/toLocaleString) and [Date.prototype.toLocaleTimeString()](https://

[2016-11-29 00:36] bsclifton opened #5889 "stats shown on about:newtab should use a shorthand notation when large"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
The stats shown on about:newtab should use a shorthand notation when large

For example:
![screen shot 2016-11-28 at 5 19 19 pm](https://cloud.githubusercontent.com/assets/4733304/20691784/96f92ac6-b590-11e6-881d-e076a4a74599.png)

Instead of writing "35,489", this could be written as "35

[2016-11-29 00:47] EPadronU opened #5890 "Target _blank is opening a new tab instead of a new window"
**Did you search for similar issues before submitting this one?**
Yes. I found #49 but I was encouraged to open a new issue.

**Describe the issue you encountered:**

Running `window.open("<url>", "_blank")` opens a new tab. Clicking on a anchor element with target equal to `_blank` behave the same.

**Expected behavior:**

In both cases, a new window should open.

- Platform: Funtoo/Gentoo (Linux

[2016-11-29 01:07] #1798 closed

[2016-11-29 01:27] darkdh commented on #5885
sure.

[2016-11-29 01:30] darkdh commented on #5885
That is not popup of autofill. It's the content of netflix
<img width="931" alt="screen shot 2016-11-29 at 09 29 23" src="https://cloud.githubusercontent.com/assets/11330831/20692986/5e931418-b616-11e6-8e55-5e757f53f9d9.png">

[2016-11-29 01:30] #5885 closed

[2016-11-29 01:40] bradleyrichter commented on #5889
I didn't want to ask for the moon. But yes, ideally it has a crossover point where it changes. We had discussed allowing 4 digits. So, switch to 10K after 9,999.

[2016-11-29 01:50] #5827 closed

[2016-11-29 01:51] #5760 closed

[2016-11-29 02:31] #5632 closed

[2016-11-29 02:33] bbondy commented on #5541
Most of these are fixed now and we know we have to fix and this is out of date, so I'm going to close this one.

[2016-11-29 02:33] #5541 closed

[2016-11-29 03:19] bradleyrichter opened #5891 "convert URL bar FA icons to sprite PNG (or SVG)"
Using a sprite grid for our URL icons will allow us to control the alignment of each icon more easily within the image file without the need for unreliable pixel bumping in CSS.

20 icon positions are available initially.

Each icon is centered on the grid.

![image](https://cloud.githubusercontent.com/assets/13509546/20694845/f798210a-b59c-11e6-9f60-7a5b701747e5.png)

A1 - unused (future verified

[2016-11-29 03:30] bradleyrichter commented on #5891
CC @bbondy

[2016-11-29 04:13] bbondy commented on #5891
nice work!

[2016-11-29 05:00] bridiver opened #5892 "Default bookmarks show in history portion of autocomplete"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Installing Brave fresh will create a new session file which will be pre-populated with 6 Brave Software related accounts.  These have lastAccessedTime set and therefore are considered history entries

autocomplete shows https://www.facebook.com/BraveSoftware/ when typing facebook.com. Thi

[2016-11-29 05:49] bsclifton commented on #5868
Another great example of this one- youtube:
![screen shot 2016-11-28 at 10 49 01 pm](https://cloud.githubusercontent.com/assets/4733304/20698243/ed008b5e-b5bc-11e6-831c-7211a5095708.png)

[2016-11-29 05:53] bradleyrichter commented on #5868
@cezaraugusto Is trying a 90% opacity on the BG color to keep the icon visible without changing the look too much.

[2016-11-29 06:09] bsclifton commented on #4693
No assignee- pushing to 0.13.1

[2016-11-29 06:57] bsclifton commented on #5891
Starting to implement these using Aphrodite! So far, so good :smile:

[2016-11-29 10:56] AlexGilleran commented on #3787
Same with https://aur.archlinux.org/packages/brave 0.12.10 - those reproduction instructions cause it reliably but it happens pretty consistently after four or five tabs get opened.

[2016-11-29 15:35] jonathansampson opened #5894 ""Remove Bookmark" button hard to read on hover"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
The text on the Remove button (within the Edit Bookmark dialog) is hard to read when the user hovers the button.

**Expected behavior:**
The text is always easy to read.

**Platform (Win7, 8, 10? macOS? Linux distro?):** Windows 10

**Brave Version:** 0.12.10

**Screenshot if needed:**
![

[2016-11-29 15:43] luixxiul opened #5895 "Error on WSJ article"
https://linkbubble.zendesk.com/agent/tickets/7049

[2016-11-29 15:48] SilverPuppy commented on #5688
Nobody is paying any attention to this, apparently, which is puzzling, since it affects a widely-used tool and a widely-used data format. Is there perhaps a flag that can be passed to the PDF.js viewer when it is invoked to cause it to continue on errors instead of aborting? It looks to me like there is, and Firefox is doing so, which would be a good thing to do.

[2016-11-29 15:49] jonathansampson opened #5896 "Edit Bookmark dialog needs cursor indicators"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Some elements of the Edit Bookmark dialog do not change the cursor, thus giving little indication that they can/ought-to be clicked.

**Expected behavior:**
The cursor is always used to make context and behavior clear.

**Platform (Win7, 8, 10? macOS? Linux distro?):** Windows 10

**Brave

[2016-11-29 15:51] luixxiul opened #5897 "bookmarks toolbar is not very touch-friendly"
https://linkbubble.zendesk.com/agent/tickets/7048

[2016-11-29 15:58] luixxiul opened #5898 "2 finger scroll on trackpad with Windows 10 not working well"
From support:

[2016-11-29 16:00] bsclifton commented on #5894
Tentatively assigning to 0.13.1; (I know you're working on https://github.com/brave/browser-laptop/issues/5801)

[2016-11-29 16:12] bsclifton commented on #4502
+1 from support
https://linkbubble.zendesk.com/agent/tickets/7030

[2016-11-29 16:17] luixxiul opened #5899 "Importing a lot of bookmarks slows down the browser"
https://linkbubble.zendesk.com/agent/tickets/6929

[2016-11-29 16:18] bsclifton commented on #5891
@bradleyrichter I made good progress with this last nite (which you can see here: https://github.com/bsclifton/browser-laptop/commit/9091b3170d4906bc8a134108d26d2d73003656ae), but I was not able to finish it unfortunately.  Would you be OK if we bumped this to 0.13.1? None of the urlbar icons have changed or gotten worse between 0.12.10 and now

[2016-11-29 16:24] luixxiul opened #5901 "Brave does not show the entire list in a particular category of bookmarks"
https://linkbubble.zendesk.com/agent/tickets/6949

[2016-11-29 16:25] srirambv commented on #5898
Similar to #3669

[2016-11-29 16:27] luixxiul commented on #4782
https://linkbubble.zendesk.com/agent/tickets/6980

[2016-11-29 16:28] pleabargain commented on #5603
Just happened again. Brave seized up totally trying to enter an issue (for a different project)
v.
Brave: 0.12.0
Electron: 1.3.10
libchromiumcontent: 52.0.2743.116
V8: 5.2.361.49
Node.js: 6.3.0
Update Channel: dev

This software uses libraries from the FFmpeg project under the LGPLv2.1

ubuntu 16.04

[2016-11-29 16:29] luixxiul opened #5902 "capability to remove all thumbnails on the New Tab page with one click,"
https://linkbubble.zendesk.com/agent/tickets/6991

+1 from me too

[2016-11-29 16:34] luixxiul opened #5903 "unable to find a way to scroll down the list beyond the bottom of the screen"
https://linkbubble.zendesk.com/agent/tickets/7017

[2016-11-29 16:36] luixxiul opened #5904 "imported bookmarks do not show in the drop down menu"
From support

[2016-11-29 16:55] luixxiul opened #5906 "importing bookmarks from Firefox leads a crash"
From support

[2016-11-29 16:58] luixxiul opened #5907 "Swipe back on macOS"
From support

#2548

[2016-11-29 17:01] luixxiul opened #5908 "Only the video actually played should be played"
From support

[2016-11-29 17:04] luixxiul commented on #5891
I thought they should be SVG instead of PNG? @bradleyrichter

[2016-11-29 17:06] #5836 closed

[2016-11-29 17:10] bsclifton commented on #4769
closing in favor of https://github.com/brave/browser-laptop/pull/5909

[2016-11-29 17:11] mrose17 commented on #4769
@willy-b - congrats!

[2016-11-29 17:14] bsclifton commented on #4769
LOL I am an idiot- I meant to close the original PR :joy: re-opening and this'll auto-close when the other is accepted :smile:

[2016-11-29 17:21] bradleyrichter commented on #5891
@luixxiul SVGs have no margin and therefor can not be visually aligned in a grid line. (unless there is a way that I have not seen yet)

PNGs allow us to simplify the code and use centering. If a bump is needed, it's done in the image file.

[2016-11-29 17:23] bsclifton opened #5911 "Clicking link from email will sometimes will do a search instead of directly following"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
With the following conditions:
- Brave being default browser
- clicking email link (email marketing) in a native client such as Microsoft Outlook

Brave will sometimes launch and then immediately do a search using your default search engine.  When I dug deeper, I noticed that a period at

[2016-11-29 17:28] bsclifton commented on #5911
cc: our URL bar experts :smile:
@aekeus @bbondy @diracdeltas

[2016-11-29 17:48] luixxiul commented on #5688
cc @diracdeltas

[2016-11-29 17:52] bsclifton commented on #5911
I created a PR which has a failing test:
https://github.com/brave/browser-laptop/pull/5912

If you grab this one, you can cherry-pick that commit in and run it to verify that issue is actually fixes :smile:

[2016-11-29 17:56] Sh1d0w commented on #5911
@bsclifton Possible places to check where is goes wrong:

https://github.com/brave/browser-laptop/blob/master/js/lib/urlutil.js#L110

https://github.com/brave/browser-laptop/blob/master/js/lib/urlutil.js#L78

[2016-11-29 18:00] codrus commented on #5843
UPDATE - More info on this one: It seems to occur when I click on a shared twitter post in some article or elsewhere. It then takes you to twitter and asks you to log in and that's when my issue above seems to happen.

[2016-11-29 18:33] bsclifton commented on #4769
Merged!  Great job, @willy-b! :smile:

[2016-11-29 18:33] jonathansampson commented on #5896
My mistake; neither element merits changing the cursor.

[2016-11-29 18:33] #5896 closed

[2016-11-29 19:39] mrose17 opened #5913 "addfunds tab not properly placed"
when using the ADDFUNDS interface, the new tab doesn't come up with the proper parameters.

1. start with this:
![1](https://cloud.githubusercontent.com/assets/400552/20725784/d3b337bc-b627-11e6-9c8b-e38585ffc339.png)
2. click on 'Add funds...' to get this:
![2](https://cloud.githubusercontent.com/assets/400552/20725828/fb0c65cc-b627-11e6-8725-0c8d0c63ca36.png)
3. click on 'Fund with debit/credit'

[2016-11-29 19:40] mrose17 commented on #5913
@bbondy suggests we look at this https://github.com/brave/browser-laptop/blob/d86d9638f141c890276bc9d90c5a1dd01d3c6bd5/js/components/main.js#L349

[2016-11-29 19:43] dcposch commented on #5849
Still don't know why.

[code]

Works with https://github.com/brave/browser-laptop/commit/d14c778d6dfde2335448a50749c6923ca0c006e2

Fails on commits after that. Error message:

[code]

[2016-11-29 20:26] dcposch commented on #5849
it works if is remove a few lines from `browser/webtorrent.js` so that it no longer loads `WebTorrentRemoteServer`, while leaving everything else the same

now testing what happens when I lazy load WebTorrentRemoteServer instead of `require()`ing it right away

[2016-11-29 20:31] jkup opened #5914 "base64Encode required but never used"
Current master is complaining about https://github.com/brave/browser-laptop/blame/master/app/index.js#L86 being required but never used

[2016-11-29 20:56] dcposch commented on #5849
### found the crash

instead of running `open Brave.app`, go to `Brave-darwin-x64/Brave.app/Contents/MacOS` and then run `./Brave`. that way, you get console output from the browser process.

here's the crash when trying to `require('webtorrent')` in the packaged app:

[code]

[2016-11-29 20:57] bsclifton opened #5917 "Create new page which shows all user owned information"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
There should be a "about:me" page which displays all of the information about the user (which is saved on local computer) with the location on disk and possibly even links to the code (as proof).

- Any related issues:
https://github.com/brave/browser-laptop/issues/5388

[2016-11-29 21:03] dcposch commented on #5849
so `browser-laptop/node_modules` looks normal and contains `speedometer` as expected.

`browser-laptop/Brave-darwin-x64/Brave.app/Contents/Resources/app.asar.unpacked` (and probably `app.asar` as well) contains `node_modules` with just one entry: `node-anonize2-relic-emscripten`

@feross @bbondy @diracdeltas

[2016-11-29 21:45] roybadami commented on #791
I'd really like to EV support.  At least in the UK, pretty much all banks use EV on their Internet banking services, and I'm generally in the habit of glancing at the address bar when I access my bank.  I realise that EV doesn't solve the general problem, but it does help with Internet banking, and IMHO that is an important enough use case.

I shouldn't have to switch back to Firefox to access my

[2016-11-29 21:59] aekeus opened #5919 "Add local search results to auto-complete"
We should store non-private tab search requests and use them for auto-completion similar to how Chrome operates.

[2016-11-29 22:04] dcposch commented on #5849
### fix

manually adding `speedometer` to `app.asar/node_modules` fixes it.

first navigate to `Brave-darwin-x64/Brave.app/Contents`, then:

[code]

so we have to fix the packaging script that creates `app.asar`. my guess is that it's currently not including transitive dependencies correctly

[2016-11-29 22:13] dcposch commented on #5849
### real fix

https://github.com/brave/browser-laptop/blob/2399c725c1a344f3445d1a113841f103471f9676/tools/lib/ignoredPaths.js#L16

derp

PR coming soon

[2016-11-29 22:30] dcposch commented on #5815
How about just changing Download to Save File?

[2016-11-29 23:13] bsclifton commented on #5868
Another similar issue:
https://github.com/brave/browser-laptop/issues/5858

In this case, the computed colors are different based on your login state (see pic). What's weird is that those colors may impact brand recognition

[2016-11-29 23:19] bradleyrichter commented on #5858
Ideally we could find some good code to get a dominant color from the site favicon. This may be more reliable for the tiles. Safari uses this.

The next best thing is to make a table of favicons and tile colors for the big sites.

[2016-11-29 23:27] bsclifton commented on #5868
One way we could solve this would be to first look for the Microsoft attributes. On Twitter for example, they provide this:
[code]

[2016-11-30 00:08] Liunkae commented on #5868
That's basically the suggestion in #5658.

[2016-11-30 00:13] Liunkae commented on #5891
So will the PNGs still work with high-resolution displays and accessibility?

[2016-11-30 00:17] Liunkae commented on #5895
Other WSJ issue: #5569

[2016-11-30 00:50] #5849 closed

[2016-11-30 01:46] pixelass commented on #5748
Not sure if this is related but I am not able to create polls via brave. I also use dashlane but haven't tried without it.
My guess was that some plugin is being blocked but I haven't investigated yet. Just wanted to mention that the issue might be related to twitter polls in general.

[2016-11-30 01:50] pixelass commented on #4670
As mentioned in #5748 I cannot create polls using brave. Not sure if this is related. Needs further investigation though.

[2016-11-30 01:55] pixelass commented on #5325
I also experience this "vibrating" behavior and also random flickering (white blocks appearing and disappearing for a split second). No blur though.

[2016-11-30 02:30] shriram commented on #5767
A related issue.

The most common thing I want to do is go to code.pyret.org/editor .

I go to the URL bar and type "co". It auto-completes to

code.pyret.org/editor#share=0Bxr4FfLa3goOeU1aMFdPSD [fake URL]

which is a URL that I once pasted in or visited (can't even remember, it was a one-time thing).

Okay, Brave has auto-completed overly specifically. Fine. I put my cursor at the # and hit C-k

[2016-11-30 03:19] dcposch commented on #5855
this looks like the Linux version of #5849

should be fixed now!

[2016-11-30 04:10] bradleyrichter commented on #5891
@luixxiul found a way that SVG may still work. We will test it.

[2016-11-30 05:47] #5855 closed

[2016-11-30 05:48] #5815 closed

[2016-11-30 06:50] bsclifton commented on #5868
@Liunkae yes! thanks for posting (I was searching and was unable to find that :smile: )

[2016-11-30 07:49] pixelass commented on #5325
Fior me the issue happens when I load a performance intense website. Other tabs are affected and the issue does not resolve when the hungry tab is closed. After restarting the browser everything seems fine. Maybe some kind of caching problem?

[2016-11-30 07:51] pixelass commented on #5356
I just commented on #5325

I am pretty sure it is related to tabs, since one slow tab will affect all others. The speed/performance does not go back to normal when that tab is closed.

Hope this helps.

[2016-11-30 08:08] bsclifton commented on #5813
@bbondy I was able to repro- I tried with a blank session on Windows and it only happened when I followed the Twitter link which happens to be pinned (not the others).

The part to watch for is the tab title:
![screen shot 2016-11-30 at 1 05 55 am](https://cloud.githubusercontent.com/assets/4733304/20744477/73dd3280-b699-11e6-80d0-f83ec5450c4b.png)

[2016-11-30 08:15] bsclifton opened #5925 "New tab button is not touch screen friendly"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
If using a touch screen or when on Windows (which is pickier about right click), the new tab button is much harder to do a long press on.  After investigating, it turns out the hitbox is only for the actual SVG itself

**Expected behavior:**
Clicking should be expanded to the size of the

[2016-11-30 08:53] srirambv opened #5926 "Browser is blurry if DPI is greater than 100%"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Browser looks like its set at 200% magnification

**Expected behavior:**
Should respect the system magnification settings

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version:
0.13.0 Preview 2

- Steps to reproduce:
    1. Right click desktop > Display settings

[2016-11-30 09:07] luixxiul commented on #5925
FYI menuButton has the same issue.

[2016-11-30 09:13] srirambv opened #5928 "URL bar issues on Chromium54 build(0.13.0 preview2)"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
URL bar issues on Chromium54 build(0.13.0 preview2)

**Expected behavior:**
Should align properly

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version:
0.13.0 Preview 2

- Steps to reproduce:
    1. Reload button is not properly aligned
    2. Stop reload butto

[2016-11-30 09:26] srirambv opened #5929 "Brave doesn't create a roaming profile folder"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Brave session doesn't create a roaming profile folder

**Expected behavior:**
Should create a roaming profile folder

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version:
0.13.0 Preview 2

- Steps to reproduce:
    1. Do a clean install of 0.13.0 Preview 2

[2016-11-30 09:34] bsclifton commented on #5891
I shared some notes on Slack; I'd vote to stick with PNG for now but we should proof of concept something (might be a good example on about:styles)

[2016-11-30 09:40] srirambv opened #5930 "Brave Wallet creation fails on Windows"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Brave Wallet creation fails on Windows

**Expected behavior:**
Should create brave wallet

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version:
0.13.0 Preview 2

- Steps to reproduce:
    1. Do a clean install of 0.13.0 preview 2
    2. Enable payments to creat

[2016-11-30 09:44] srirambv opened #5931 "Import Bookmark doesn't have any browsers listed except for Chrome"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Import Bookmark doesn't have any browsers listed except for Chrome

**Expected behavior:**
Should show all the available browsers and option to import from HTML file

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version:
0.13.0 Preview 2

- Steps to reproduce:

[2016-11-30 09:47] srirambv commented on #5931
The list shows empty but selecting does import the data.

[2016-11-30 10:53] darkdh commented on #5899
https://github.com/brave/browser-laptop/pull/5587 might solve the issue after I have time to rebase PR and get it merged

[2016-11-30 10:58] darkdh commented on #5907
We will respect this system setting if user turn it off.
<img width="640" alt="screen shot 2016-11-30 at 18 57 15" src="https://cloud.githubusercontent.com/assets/11330831/20749818/dbcef46a-b72e-11e6-95cb-49fd7e3cba25.png">

[2016-11-30 11:20] srirambv opened #5932 "History entries time format is similar to newtab page time"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
History entries time format shown on newtab page

**Expected behavior:**
Should show proper date/time format

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version:
0.13.0 Preview 2

- Steps to reproduce:
    1. Do a clean install of 0.13.0 Preivew 2
    2. Brows

[2016-11-30 11:32] srirambv opened #5933 "Unable to delete history entries by clicking on clear browsing data"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Unable to delete history entries by clicking on clear browsing data. Right click delete history entry clears all history entries

**Expected behavior:**
Should delete all history entry when clicked on clear browsing data, right click delete history entry should only clear the selected ent

[2016-11-30 12:01] srirambv opened #5934 "Enable Pocket/Password managers doesn't enable the extension"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Enable Pocket doesn't enable the extension

**Expected behavior:**
Should enable the pocket extension

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version:
0.13.0 preview 2

- Steps to reproduce:
    1. Do a clean install of 0.13.0 preview 2
    2. Enable pocke

[2016-11-30 12:31] srirambv commented on #5934
cc: @bridiver

[2016-11-30 12:35] srirambv opened #5935 "Opening a new tab shows Uncaught TypeError in browser console"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Opening a new tab shows Uncaught TypeError in browser console

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version:
0.13.0 Preview 2

- Steps to reproduce:
    1. Enable browser console
    2. Open a new tab
    3. Shows error on new tab creation.

- Screenshot

[2016-11-30 12:46] srirambv opened #5936 "Private tab/Session tab icon needs right padding before text"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Private tab/Session tab icon needs right padding before text

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version:
0.13.0 Preview 2

- Screenshot if needed:
![image](https://cloud.githubusercontent.com/assets/17010094/20752686/7ac7af4c-b6fa-11e6-8014-88dca36d0a

[2016-11-30 12:51] srirambv opened #5937 "Do not show GMT+0000 for GMT timezone"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Doesn't make sense to put the +0000 after GMT when user timezone is in GMT

- Platform (Win7, 8, 10? macOS? Linux distro?):
All

- Brave Version:
0.13.0 Preview 2

- Screenshot if needed:
![image](https://cloud.githubusercontent.com/assets/17010094/20752846/5b294c94-b6fb-11e6-8cfd-28af9af

[2016-11-30 13:02] srirambv opened #5938 "Pref change restart doesn't relaunch the browser"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Pref change restart doesn't relaunch the browser

**Expected behavior:**
Should relaunch the browser when Yes is selected from notification bar

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version:
0.13.0 Preview 2

- Steps to reproduce:
    1. Do a clean insta

[2016-11-30 13:40] srirambv opened #5939 "Autofill suggestion doesn't complete autofill"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Autofill suggestion doesn't complete autofill

**Expected behavior:**
Should autofill when the suggestion is selected

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version:
0.13.0

- Steps to reproduce:
    1. Create an autofill entry
    2. Open https://www.rob

[2016-11-30 13:50] srirambv opened #5940 "Closing devtools creates a white blank window"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Closing devtools creates a white blank window

**Expected behavior:**
Should just close the browser console and keep the browser as it is

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version:
0.13.0 Preview 2

- Steps to reproduce:
    1. Do a clean install of

[2016-11-30 14:07] srirambv opened #5941 "Geolocation doesn't detect user location"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Geolocation doesn't detect user location

**Expected behavior:**
Should show the user location

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version:
0.13.0 Preview 2

- Steps to reproduce:
    1. Visit https://developer.mozilla.org/en-US/docs/Web/API/Geolocatio

[2016-11-30 15:28] K5HUM opened #5942 "GUI position wont save and Import bookmark.html wont work"
**Did you search for similar issues before submitting this one?**

**Describe the issue you encountered:**

**Expected behavior:**

- Platform (Win7, 8, 10? macOS? Linux distro?):

- Brave Version:Brave	0.12.10
Muon	1.4.26
libchromiumcontent	53.0.2785.143
V8	5.3.332.47
Node.js	6.5.0
Update Channel	dev
os.platform	win32
os.release	10.0.14393
os.arch	x64

- Steps to reproduce:
    1.
    2.
    3.

[2016-11-30 15:47] mikemaccana commented on #791
@andreasgal Denying sites outside the top 500 the ability to authenticate their identity obviously sucks. There are many reasons to prove a real legal identity online that have nothing to do with phishing.

 - If the site is receiving high-trust data, eg personal info (think feeld.com) proving a specific legal entity controls a site provides some degree of accountability to where that info is goin

[2016-11-30 16:08] bridiver commented on #5929
fixed https://github.com/brave/electron/commit/05b368f5b572a3f5b53df18ae47680ac4d812f52

[2016-11-30 16:08] #5929 closed

[2016-11-30 16:11] bsclifton commented on #5937
I believe this is a dupe of https://github.com/brave/browser-laptop/issues/5879.  I'll remove milestone and will be assigning the other issue to myself (see notes in other issue)

[2016-11-30 16:11] #5937 closed

[2016-11-30 16:16] brianpatrickreavey commented on #4928
I am also using the open source radeon driver.  This persists on Fedora 25 under Wayland and X.org, on Brave 0.12.10.

[2016-11-30 16:46] bsclifton commented on #2703
Per @aekeus's comment, this will need a fix to be able to handle POST:
https://github.com/brave/browser-laptop/blob/master/js/components/urlBarSuggestions.js#L431

[2016-11-30 16:50] bbondy opened #5943 "Autocomplete sometimes selects part of the URL after you typed it"
This makes future typing overwrite the prior typing.
Brendan noticed this and I did as well.

[2016-11-30 17:20] #5935 closed

[2016-11-30 17:24] pixelass opened #5944 "Dev tools colorpicker (dropper) not working correctly"
**Did you search for similar issues before submitting this one?**
Yes
**Describe the issue you encountered:**
The dropper only works inside the colorpicker.
**Expected behavior:**
The dropper should allow picking colors from the browser window or any other part of the screen.
- Platform (Win7, 8, 10? macOS? Linux distro?):
mac OS Sierra 10.12.1 (16B2555)
- Brave Version:
0.12.10
- Steps to reprodu

[2016-11-30 17:24] mrose17 commented on #5930
@srirambv - thanks for the report. can you run it again, but with these environment variables set?

        LEDGER_LOGGING=true LEDGER_VERBOSE=true

and then attach ledger-log.json after a few minutes of no wallet creation? thanks!

[2016-11-30 17:30] pixelass commented on #5907
I can confirm that it works with the system settings. It's the first thing I disable when I get a new macbook. Never had problems in the last two months of using brave.

[2016-11-30 17:34] pixelass commented on #5892
I had similar issues when I activated "tab-completion". I deactivated it since it totally messed with the address bar.
This is especially annoying when you have pinned tabs. I was basically unable to go to the github homepage because it kept redirecting me to my profile which is the pinned tab.

[2016-11-30 17:34] bbondy opened #5945 "Extension downloading not working for C54"

[2016-11-30 17:46] pixelass commented on #5944
I have no idea what just happened but the colorpicker has gone full haywire. This just happened when I switched back to the browser window. So the dripper does seem to work outside its context but not as intended.

1. I am in fact targeting the part that is changing color
2. the colorpicker was still open
3. I switched between multiple tabs
4. It started working with malfunction after I returned t

[2016-11-30 18:14] bsclifton commented on #5879
Here's a JSBin you can execute to show that no other locales are working
http://jsbin.com/tihayoy/edit?html,js,output

[2016-11-30 18:40] bridiver commented on #5892
@pixelass the pinned tab thing is a slightly different issue. This issue is specifically targeted at urls that show up in autocomplete because they are "top sites" in the default new tab page. I believe there is a separate issue for autocomplete "overcompleting" by default which I also agree is annoying. Safari does the same thing and I think Chrome as well, but my preference would be to autocompl

[2016-11-30 18:57] bridiver commented on #5930
@mrose17 is `webRequest.fetch()` the root of this issue?

[2016-11-30 18:59] pixelass commented on #5892
@bridiver thanks for explaining. I read this issue and thought "this sounds very familiar" ;). Thought it would help.

So I guess you are talking about the following issue (occurs with bookmarks)

The gif shows me trying to go to codepen.io but it keeps completing and even changing cursor position when I simply use the arrow keys.

![complete](https://cloud.githubusercontent.com/assets/1148334/207

[2016-11-30 18:59] mrose17 commented on #5930
good question! i suspect so. ultimately all of the ledger client calls funnel into a routine in ledger.js called `roundtrip` which in turn calls `js/lib/request:request` which in turn calls `webRequest.fetch()`. since we wrote that ourselves a while back, that is where i think the problem lies.

[2016-11-30 19:15] srirambv opened #5946 "Close all tabs causes crash"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Close all tabs causes crash

**Expected behavior:**
Should just close all other tabs and not crash

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version:
0.13.0 preview 2

- Steps to reproduce:
    1. Open several tabs
    2. Right click on any tab and click on

[2016-11-30 20:08] bbondy opened #5947 "Refactor download handling so it works with node removal from window renderer"

[2016-11-30 20:18] msiyer commented on #5855
Updated repository and brave launches bravely.

[2016-11-30 20:22] tcr commented on #5907
They may be triggering this issue more often than intended: two-finger "back" can be triggered on horizontally scrolling elements, where in other browsers the element swallows the swipe.

[2016-11-30 20:24] tcr commented on #5730
This is making Brave slowly become unusable for me. It seems to be happening more frequently over time (still without any reproducible trigger), so I'm happy to test any fixes if it's hard to replicate.

[2016-11-30 20:32] tcr commented on #5730
It's happening much, much more often. Some notes:

1. I usually have browser tabs open for a long time. Right now I have about 10 I haven't closed in a bit.
1. I can go to Twitter.com, right click and open my profile in a new tab (with "switch to new tab when right clicking" set to On) and the rubber-banding starts.
1. I think it happens much more often when the page is loading.
1. I think it happ

[2016-11-30 20:34] tcr opened #5948 "Find (Ctrl+F) is extremely slow on Github"
**Did you search for similar issues before submitting this one?** Yes.

**Describe the issue you encountered:** The find dialog takes upwards of 8s to load on Github.com.

**Expected behavior:** It is instantaneous.

- Platform (Win7, 8, 10? macOS? Linux distro?): macOS

- Brave Version: 0.12.10

- Steps to reproduce:
    1. Go to https://github.com/brave/browser-laptop, particularly any long code

[2016-11-30 20:48] mrose17 commented on #5882
@alexwykoff - just checking: is this on the new chromium build? if so, i think it's related to https://github.com/brave/browser-laptop/issues/5930

[2016-11-30 20:49] alexwykoff commented on #5882
It's still present as of commit bd60fe996b7ea19caf55b604214a3dbe629bad58

[2016-11-30 20:51] mrose17 commented on #5882
afaik, the issue isn't fixed yet... and is something introduced by the new chromium. so i'm trying to determine whether this issue and #5930 are "the same thing"...

[2016-11-30 21:08] alexwykoff opened #5949 "Regression: 1password extension does not load"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
After selecting the 1password extension to manage my passwords, the icon was not added to the UI. Quitting and restarting did not help.

**Expected behavior:**
The extension should load and the user should be prompted to authorize if the app is installed.

- Platform (Win7, 8, 10? macOS?

[2016-11-30 21:14] bsclifton commented on #4720
Groundwork laid by @mrose17 w/ https://github.com/brave/browser-laptop/pull/5924

This is ready for the UI work.  Marking as 0.13.1 and assigning over to @jkup

[2016-11-30 21:15] #4114 closed

[2016-11-30 21:15] #5788 closed

[2016-11-30 21:18] alexwykoff commented on #5882
I was able to reproduce by launching from master (which uses the older libchromium) so I am not sure that it is introduced from the chromium54 update. The new build ( 0.13.0 Preview 2 ) cannot create a wallet at all which is a separate issue.

[2016-11-30 21:25] alexwykoff commented on #5875
This is a regression introduced in 0.12.10 which we missed.

[2016-11-30 21:25] jonathansampson commented on #3733
This appears to _still_ be an issue on Windows 10 with 0.12.10.

[2016-11-30 21:36] jkup commented on #4720
@bsclifton did you mean to close this?

[2016-11-30 21:37] mrose17 commented on #4720
it shouldn't have been closed. i did the first part, but now it's up to you!!!

[2016-11-30 21:45] bsclifton commented on #4720
Looks like the self-closing keywords from the commit unintentionally closed it :smile:
[code]

[2016-11-30 21:45] mrose17 commented on #4720
rather amusing...

[2016-11-30 21:52] willy-b opened #5951 "Many Payments Panel tests failing"
**Did you search for similar issues before submitting this one?**
Yes. This is related to #5887.

**Describe the issue you encountered:**
On latest master, if I run the tests just for the Payments Panel, most are failing (4/7):
[code]

**Expected behavior:**
The expected behavior is that tests on master should pass.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Linux, Ubuntu 14.04 LTS.

- Brave

[2016-11-30 22:19] mykkymk opened #5952 "Suggestion: setting to not autoplay videos"
I like to open several youtube videos on different tabs. can you do some upgrades so that when i open i video in new tab it doesn't  start playing until i click on that tab.

[2016-11-30 22:38] getsetbro opened #5953 "Edit Bookmark close icon needs hover color"
**Did you search for similar issues before submitting this one?**
Yes
**Describe the issue you encountered:**
The CLOSE icon has no hover effect.
**Expected behavior:**
"For the X, it should be @buttonColor when idle and #000 (black) when hovered."
- Platform (Win7, 8, 10? macOS? Linux distro?):
All
- Brave Version:
0.12.10
- Steps to reproduce:
    1.
    2.
    3.

- Screenshot if needed:
![gif]

[2016-11-30 23:26] Liunkae commented on #5907
I think the user in the support ticket wants an override setting for gestures in Brave. That way, the user can disable gestures in Brave only but leave gestures enabled in system preferences.

[2016-11-30 23:32] Liunkae commented on #5944
Confirmed. The dev tools are in a separate window, and the picker only works when the webpage window is active (not the dev tools window).

[2016-11-30 23:35] Liunkae commented on #5949
The root cause could be #5945.

[2016-11-30 23:37] Liunkae commented on #2703
Handling POST would also help #5235.

[2016-11-30 23:45] pixelass commented on #5952
I was wondering about the same thing. Most browsers don't autoplay youtube videos. When browsing youtube on brave I always manually pause the videos.

@mykkymk I suggest changing the title to "don't autoplay youtube videos"

[2016-11-30 23:59] thomasgrnr opened #5955 "Adding and managing client certificates (HTTPS/SSL)"
It's a feature but I'd love to have a way to add my own HTTPS/SSL certificate to securely connect to privately hosted webapps. Juste like Chrome and Firefox lets you save and manage external certificates.

Maybe it's already possible, but I cant find it !

Great work anyway guys :)

[2016-12-01 00:12] cdubose opened #5956 "Bookmarks dropdown menu appears to the right offscreen, where it isn't visible"
**Describe the issue you encountered:**

I recently imported all of my bookmarks (which include many nested bookmarks) from Firefox without an issue. However, when I select a bookmark category at the right edge of the screen from the bookmark bar, the dropdown menu continues to present the bookmark selections to the right of the visible part of the screen.

**Expected behavior:**

I would like to

[2016-12-01 00:20] Superbest commented on #5540
Brave 0.12.10 on Win 7 Enterprise SP1 x64. Cannot reproduce. Language change key is `Alt+Shift` and multiple languages present. `Menu Bar` is not opened contrary to @stefanos1019 's report.

[2016-12-01 00:25] Superbest commented on #5775
@Liunkae `Ctrl+L` does not have the problem for me as well. I had noticed that also, but forgot to put in original post.

Also, yes, related to #5540 but don't think it's quite the same thing. Incidentally, I cannot reproduce #5540 (see that thread) but can reproduce #5775 on Brave 0.12.10.

@JAffleck I had noticed that as well. I think the culprit is solely the `Alt` issue I describe. If you use

[2016-12-01 00:31] Superbest commented on #5159
Some weird observations:

1. It bleeds from horizontal right monitor (main screen) to the vertical left monitor (second screen), but not from left monitor to right monitor.
2. Once it bleeds, I can minimize and restore the window and the bleed is removed.
3. When the bleed is removed, I can restore and re-maximize the window and it bleeds again.

This is on Brave 0.12.10 by the way.

[2016-12-01 00:31] bsclifton commented on #5953
closed via https://github.com/brave/browser-laptop/pull/5954

@getsetbro for future reference, you can use self-closing keywords in the commit and GitHub will auto close the issue on merge

Commit would just need to have text like "Fixes #5954" :smile:

[2016-12-01 00:31] #5953 closed

[2016-12-01 00:33] Superbest commented on #5952
This is possible in Firefox with `about:config` by setting `media.autoplay.enabled` to `false`.

[2016-12-01 00:36] Superbest commented on #5948
I can't reproduce this on the same version, although I have an i7 so it may be compensating. What hardware do you have? Also can you give a specific long page that causes this?

[2016-12-01 00:37] jonathansampson opened #5957 "Unable to upload PDF to SlideShare"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Attempts to upload a PDF to slideshare.net fail consistently.

**Expected behavior:**
Users are able to upload PDF files to slideshare.net in Brave.

**Platform (Win7, 8, 10? macOS? Linux distro?):** MacOS, Windows

**Brave Version:** 0.12.10

[2016-12-01 01:22] tcr commented on #5948
https://github.com/brave/browser-laptop/blob/master/LICENSE.txt

I can open that and it takes about 4s for Ctrl+F to respond with the dialog.

Weird that it's taking so long on my machine.

[2016-12-01 01:26] tcr commented on #5948
Update: I closed all my tabs, opened a new window, and opened Github, and it was faster (around ~2s on first Ctrl+F). I had these tabs open when I opened a new Github tab to test it:

[code]

[2016-12-01 02:30] JAffleck commented on #5775
Thanks @Liunkae! I'll do that until I see it fixed

On Nov 30, 2016 5:25 PM, "Superbest" <notifications@github.com> wrote:

[2016-12-01 02:53] darkdh commented on #5931
I tried 54 with latest commit and it display the list properly
<img width="1432" alt="screen shot 2016-12-01 at 10 52 05" src="https://cloud.githubusercontent.com/assets/11330831/20780193/4b82d648-b7b4-11e6-9c54-c0e648425ce4.png">

[2016-12-01 04:14] bradleyrichter commented on #5767
I confirmed this bug today. Must be fixed.

[2016-12-01 04:14] Liunkae commented on #5540
@Superbest It appears that this problem is Linux-only, and only on some Linux distros (as @bsclifton said above).

[2016-12-01 04:16] bradleyrichter commented on #5925
We can add a BG box to these if that helps. Just emulate the main toolbar buttons but the style will need to be different. (not white)

[2016-12-01 04:18] bradleyrichter commented on #5902
Can we add "Reset all top-sites tiles..." to the context menu?

![image](https://cloud.githubusercontent.com/assets/13509546/20781743/356d2f5e-b73a-11e6-8f2c-d324c9ab2542.png)

[2016-12-01 04:21] luixxiul commented on #5925
button size can be larger by increasing the width to ~16px if it's better.

[2016-12-01 04:26] Liunkae commented on #5956
Related issue: #5589 (drag and drop in the Bookmarks Manager)

I'll file an issue for drag and drop in the bookmarks bar.

[2016-12-01 04:35] Liunkae opened #5958 "Indicator for drag and drop of bookmarks in bookmarks toolbar"
**Did you search for similar issues before submitting this one?**
Yes.

**Expected behavior:**
There needs to be an indicator while dragging and dropping a bookmark in the bookmarks toolbar.

- Platform (Win7, 8, 10? macOS? Linux distro?):
All

- Brave Version:
0.12.10

- Steps to reproduce:
    1. Open Brave and show the bookmarks toolbar if necessary.
    2. If necessary, create at least two boo

[2016-12-01 04:47] Sh1d0w commented on #5952
Duplicate of https://github.com/brave/browser-laptop/issues/4045

[2016-12-01 04:47] #5952 closed

[2016-12-01 06:10] r3wt commented on #5948
Unable to repro:

Hardware:

i5-3230m/4gb
Opensuse 42.2 Tumbleweed (Linux)

[2016-12-01 06:16] r3wt commented on #5928
can repro in ubuntu 14.04, ubuntu 16.04, opensuse 42.2

![screenshot_20161201_000331](https://cloud.githubusercontent.com/assets/4483325/20783646/c0ff4410-b75a-11e6-948f-523e33707ee0.png)

[2016-12-01 08:26] luixxiul opened #5962 "The row of the table on about:preferences#payments is not completely aligned"
**Describe the issue you encountered:**
The row of the table on about:preferences#payments is not completely aligned.
<img width="613" alt="screenshot 2016-12-01 17 20 36" src="https://cloud.githubusercontent.com/assets/3362943/20786646/8be87bc6-b7ea-11e6-9ab5-ec2b09119b08.png">

**Expected behavior:** It should be aligned. The domain and the switch should be up.

- Platform (Win7, 8, 10? macOS? L

[2016-12-01 08:59] bsclifton commented on #5235
This is an interesting one; we can and should (for privacy reasons) implement HTTP POST for any provider (if they support it)...

The challenge might be the initial search (cc: @bbondy to sanity check me).  Our search provider logic is currently filling in a string (ex: "http://searchEngine.com/{searchTermsHere}" and then navigating directly there (which I believe is doing an HTTP GET). I'd have t

[2016-12-01 09:02] bsclifton opened #5963 "Implement search suggestions by Yandex"
General search functionality for Yandex is covered with https://github.com/brave/browser-laptop/issues/2703

Yandex additionally offers a XML interface which can be used for suggestions:
https://tech.yandex.com/xml/doc/dg/concepts/post-request-docpage/

We should implement this with HTTP POST.  This will require changes as [our suggestions currently fetch suggestions](https://github.com/brave/brow

[2016-12-01 09:04] bsclifton commented on #2703
I've implemented general search and confirmed it's working well. I created a separate issue for tracking **search suggestions** by Yandex which can be found here: https://github.com/brave/browser-laptop/issues/5963

[2016-12-01 10:19] diracdeltas opened #5965 "[hackerone] 176066"
https://hackerone.com/reports/176066

[2016-12-01 10:26] diracdeltas commented on #5767
@shriram i've hit that same bug a lot of times, and agree it needs to be fixed. in the meantime, if you hit delete/backspace before hitting enter, it should delete the autocompleted part and go to the URL you typed.

i think autocomplete should always prioritize the shortest completion entry for a given prefix match, not necessarily the most-visited one.

[2016-12-01 13:12] #2701 closed

[2016-12-01 14:06] gameb0y commented on #5965
https://github.com/brave/browser-laptop/issues/5850

waiting for this, do something

[2016-12-01 14:30] srirambv opened #5966 "Enabling AdTracker breaks booking.flyuia.com"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
From [support ](https://linkbubble.zendesk.com/agent/tickets/7087)
Enabling AdTracker breaks booking.flyuia.com

**Expected behavior:**
Should be able to open site and book

- Platform (Win7, 8, 10? macOS? Linux distro?):

- Brave Version:

- Steps to reproduce:
    1. Visit this [link](h

[2016-12-01 15:00] luixxiul commented on #5894
I fixed the issue with #5705

[2016-12-01 15:17] srirambv commented on #3754
Two more reports from support on not remembering window position
https://linkbubble.zendesk.com/agent/tickets/7082
https://linkbubble.zendesk.com/agent/tickets/7079

[2016-12-01 15:19] luixxiul commented on #5894
Confirmed it was fixed on 0.13.0 Preview2

[2016-12-01 15:19] #5894 closed

[2016-12-01 15:22] luixxiul commented on #5928
@srirambv the windows specific styles in `navigationBar.less` causes the bug. I'm working on it.

[2016-12-01 15:30] bsclifton commented on #5767
+1 on what @diracdeltas said :smile:

It would be great to do both: prioritize shortest and then (for ones of equal length) sort by most visited

[2016-12-01 15:33] luixxiul commented on #5928
@r3wt Are you running 0.13.0 Preview2? I cannot reproduce the bug on Ubuntu 16.04 (Ubuntu Unity). Would you please check if it is specific to openSUSE?

[2016-12-01 15:34] bbondy commented on #5813
repro'd thanks. It was a terminology problem I was thinking pinned tab.  The wording we should use for that is pinned top site to avoid confusion.  I updated the original STR. It's my fault though I was thinking the screenshot was wrong because it didn't have pinned tabs.

[2016-12-01 15:52] luixxiul commented on #5928
@srirambv actually all of the hacks in https://github.com/brave/browser-laptop/blob/master/less/navigationBar.less#L39-L57 are no longer necessary thanks to #5739 and #5750 (#5737).

[2016-12-01 15:54] bbondy commented on #5767
@aekeus thoughts?

[2016-12-01 16:12] brianpatrickreavey commented on #4928
I have removed the Radeon card from my system, and am using the onboard Intel graphics.  So far, I have been unable to reproduce the error.  Everything is now working as expected.

[2016-12-01 16:19] brianpatrickreavey commented on #4928
More specifically, even using the onbaord graphics card, if the Radeon card was still in the system (and hence the driver was being loaded), the issue would persist.

[2016-12-01 16:37] kalifg opened #5968 "LastPass form fills for credit cards don't work"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
When I use the LastPass form fill functionality, sometimes name is filled but most of the time not.  Address, phone, credit card, etc don't get filled

**Expected behavior:**
I expect my credit card info to be filled into the form

- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS 10.

[2016-12-01 16:51] bradleyrichter opened #5969 "Add delete confirmation to downloads bar"
Deleting files is destructive and can not be undone. Thus, it needs a minimal confirmation.

Adding this to the delete bar UI keeps the confirmation focused at the point of interaction rather than opening a dialog.

To cancel, click outside of the popup box.

![image](https://cloud.githubusercontent.com/assets/13509546/20803042/c33828ee-b7a2-11e6-80a7-2ec61398c854.png)

[2016-12-01 16:55] #2703 closed

[2016-12-01 16:55] alexwykoff commented on #5949
dupe of https://github.com/brave/browser-laptop/issues/5945

[2016-12-01 16:55] #5949 closed

[2016-12-01 16:58] bbondy commented on #5881
cc @bridiver

[2016-12-01 17:02] bsclifton commented on #4928
@brianpatrickreavey wow- thanks for the updated notes.  It's really unusual that it happened for you with and without hardware acceleration... but then works after removing the card.  It may be an issue with AMD's driver? I'll see if I can find any way to report this to them (so we can find the root cause)

[2016-12-01 17:03] bbondy commented on #5792
@bsclifton I think you added that button previously, (not sure sorry if not!! :)) could you take a look?

[2016-12-01 17:08] luixxiul commented on #5792
it contains `noscript` button.

[2016-12-01 17:09] bbondy commented on #3679
Closing this since 0.13.0 will have it.

[2016-12-01 17:09] #3679 closed

[2016-12-01 17:22] bradleyrichter commented on #5792
@bsclifton we need to move this button inside the URL bar and use the new icon from the PNG sprite.

[2016-12-01 17:25] bradleyrichter opened #5970 "prevent blue select border from appearing on main content window on prefs pages"
This seems to be new as of 0.12.10?

![image](https://cloud.githubusercontent.com/assets/13509546/20804448/cf5bd7c4-b7a7-11e6-91e2-55bc0f27d26f.png)

![image](https://cloud.githubusercontent.com/assets/13509546/20804477/e867c03e-b7a7-11e6-8801-08e27c5b3df7.png)

[2016-12-01 17:26] luixxiul commented on #5970
Duping to #5661?

[2016-12-01 17:27] bradleyrichter commented on #5970
closed for stupid search skills  ;  )

[2016-12-01 17:27] #5970 closed

[2016-12-01 17:35] bradleyrichter commented on #5767
@diracdeltas Great find...this alone may solve most of the problem

chrome does:
![image](https://cloud.githubusercontent.com/assets/13509546/20804658/9cdd8d50-b7a8-11e6-833d-461893cc2ba2.png)

brave does:
![image](https://cloud.githubusercontent.com/assets/13509546/20804737/d8b0b190-b7a8-11e6-891e-ce5f98d1bbfa.png)

[2016-12-01 18:31] bsclifton commented on #5892
@bridiver would the discussion in https://github.com/brave/browser-laptop/issues/5767 be enough to resolve this issue? Basically picking the shortest match, as you suggest above?

If so, would we be able to close this issue? I think it's OK to have the entries in history, as long as autocomplete prefers the root domain over the bookmarked URL

[2016-12-01 18:58] butlermatt commented on #4945
For the record, I'm having the same issue with Brave 0.12.10 x64 on MacOS (10.12.1).

However unlike @privatzee, even after an hour the error does not appear in and the page remains "stuck" still trying to load, never cancelling/stopping

[2016-12-01 19:05] alexwykoff commented on #5881
https://web.basemark.com/run/tests/30/graphics_suite/svg_test/ will consistently produce the black page

[2016-12-01 19:19] bsclifton commented on #5767
@diracdeltas here is a similar issue:
https://github.com/brave/browser-laptop/issues/5878

Deleting doesn't cause it, but trying to select using keyboard sure does. My issue sounds like a dupe of this one, but I do have some good STR

[2016-12-01 19:23] jkup opened #5971 "Add focus ring to about page form elements"
This came up in our most recent #design meeting but currently it is impossible for keyboard-only users to know which form element they are on because we don't display a visual change on focus state.

Some of this will be fixed by https://github.com/brave/browser-laptop/pull/5916 which switches us from span's to button tags (which have focus state!) but this ticket is for adding back the blue focus

[2016-12-01 19:35] diracdeltas commented on #5965
@gameb0y please comment on the relevant issue instead of unrelated ones

[2016-12-01 19:39] diracdeltas commented on #1885
FF and webkit have removed this feature already. Chromium has an open issue for it, but I don't think we should wait for them. https://bugs.chromium.org/p/chromium/issues/detail?id=661792

[2016-12-01 19:46] jkup commented on #4708
@bradleyrichter will https://github.com/brave/browser-laptop/pull/5916 fix this issue as well?

[2016-12-01 19:52] diracdeltas commented on #5767
@bradleyrichter i talked with @bbondy about that UI (right-arrow to enter the autocomplete entry) on slack a while ago. it would be a large change but probably worth it in the long run.

AFAICT google does this by stacking two transparent input elements on top of each other

[2016-12-01 19:57] jkup opened #5972 "Separate input and select styles using Aphrodite"
The goal for this issue would be to separate input and select styles (which are currently coupled together).  [Per our style guidelines](https://github.com/brave/browser-laptop/blob/master/docs/style.md), solving this issue would involve rolling the input and select elements into an Aphrodite component.

- [x] Text entry field (editable)
- [x] Text entry field (focus outline)
- [x] Text entry fiel

[2016-12-01 20:01] jkup commented on #5971
Also for this ticket we should check what Chrome does for bookmarks in the bookmarks toolbar. Specifically:

+ Are they tababble from the urlbar input?
+ Do they have focus rings?

[2016-12-01 20:16] Superbest commented on #5948
@tcr yeah, that page is less than 0.3 secs for me. I'm on an i7-4790K w/ 4GHz.

[2016-12-01 20:18] Superbest commented on #5540
@Liunkae Ah, that explains it. Looks like I misread his comment, sorry.

[2016-12-01 20:27] gameb0y commented on #5965
@diracdeltas ok. Thanks for milestone

[2016-12-01 21:07] jonathansampson opened #5973 "CMD+Number switches Tab and Workspace Desktop"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Pressing CMD+Number to select a tab also causes the workspace desktop to change on MacOS.

**Expected behavior:**
Tabs should be selectable without any side-effects to the workspace/desktop.

**Platform (Win7, 8, 10? macOS? Linux distro?):** MacOS

**Brave Version:** 0.12.10

**Any relate

[2016-12-01 21:10] jonathansampson commented on #3832
Also reported by a user (as their final blocker) on gab.ai:

![image](https://cloud.githubusercontent.com/assets/815158/20812731/4995aecc-b7d8-11e6-8c39-235c00d3668e.png)

[2016-12-01 21:15] bitcoinuser opened #5974 "Updated to 0.13.0 and payment doesn't process"
Hi,

I updated to Brave 0.13.0 some hours before  Brave process the payment.
Now look what happens: (your next payment contribuition is 20 hours ago)

![captura de tela de 2016-12-01 19-11-34](https://cloud.githubusercontent.com/assets/1178856/20812851/4fff8d92-b7fa-11e6-9ec1-1f9dc818502a.png)

![captura de tela de 2016-12-01 19-11-42](https://cloud.githubusercontent.com/assets/1178856/20812857/55

[2016-12-01 21:16] bitcoinuser commented on #5974
I don't know is the payment was processed. And the PDF file was not generated too.

[2016-12-01 21:32] jonathansampson opened #5975 "Panopticlick reports Brave as susceptible to Fingerprinting"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Panopticlick reports Brave as being susceptible to fingerprinting, even if fingerprinting protection turned on.

**Expected behavior:**
Brave is not fingerprintable (or not fingerprinting to a meaningful degree)

**Platform (Win7, 8, 10? macOS? Linux distro?):** All

**Brave Version:** 0.

[2016-12-01 21:46] willy-b commented on #5974
Uh oh, I see spaces in the PDF filenames in your screenshot too. Looking.

[2016-12-01 21:54] #5925 closed

[2016-12-01 22:20] #5928 closed

[2016-12-01 22:21] willy-b commented on #5974
OK, I can reproduce this on Linux with the packaged brave_0.13.0_amd64.deb , but could not reproduce from latest master in development mode.

[2016-12-01 22:23] bitcoinuser commented on #5974
What problem exatly did you reproduce?

[2016-12-01 22:31] rickyrauch opened #5976 "Design concepts"
I've been working on these concepts, what do you think? We can work together.

![v6-a](https://cloud.githubusercontent.com/assets/197196/20815318/3eae6ae0-b7d2-11e6-88f4-2f2e2fc824fd.png)
![v7](https://cloud.githubusercontent.com/assets/197196/20815319/3eafc228-b7d2-11e6-826e-e4d46155f283.png)
![v5-a](https://cloud.githubusercontent.com/assets/197196/20815320/3eb0e09a-b7d2-11e6-9dd7-76ecbe649791.p

[2016-12-01 22:43] willy-b commented on #5974
Not sure about payment failing to go through, but the Payment Receipt PDF generation error, I can reproduce, and in my case comes from there being spaces in the PDF filename as in your screenshot (see below).

-- prepackaged build 0.13.0, spaces in filenames:
![brave_prepackaged_build_pdf_filenames](https://cloud.githubusercontent.com/assets/6969859/20815701/ce1b620e-b7d3-11e6-86e4-9592a225bdd6.pn

[2016-12-01 22:48] willy-b commented on #5974
@bbondy , do you know any reason why the prepackaged and dev-mode behavior of Date.toLocaleDateString might be different?

[2016-12-01 22:54] #5943 closed

[2016-12-01 23:20] sroerick commented on #4928
I have the same issue, using the open source (not proprietary) drivers.

[2016-12-01 23:55] tcr commented on #5948
It may be related, but with no tabs open except for Github and little browser interaction, Brave is using 30% in two processes at a minimum. When typing, CPU spikes up to 50% for one of the processes.
![image](https://cloud.githubusercontent.com/assets/80639/20817795/b7b547ea-b7f7-11e6-8b68-155b487f7b13.png)

[2016-12-01 23:57] bsclifton commented on #5974
@willy-b we are getting ready for a Chromium 54 upgrade; I wonder if you got a new version locally? you can check about:brave and look at the Muon version for both)

That aside, this could probably be hardened :smile:

I personally would vote for choosing the formatting, instead of using toLocaleDateString() (for the file name). I would go with a format like `BravePayments_YYYY-MM-DD.pdf`

You cou

[2016-12-02 00:15] bradleyrichter commented on #5976
@rickyrauch Cool stuff. Happy to have help on UI/UX contributions!

Your concepts show a variety of differences from our current UI. What things do you feel need the most improvement?

Regarding the round icons - I love the colors. A few people have suggested round app icons to go with the other browsers on their dock. And some like how we aren't round. Go figure....

[2016-12-02 00:27] posix4e commented on #5974
I believe 0.13.0 is the one based off of chromium 54. We need to rebase it badly

[2016-12-02 00:49] bradleyrichter opened #5978 "increase tabs height by 3 px"
Currently we are winning the "browser-toolbars smallest stack height" award but recent feedback for users on high-res laptops have suggested that tabs are difficult to click on.

Usability trumps "minimal height" in most cases so adding back 3 px to the tab height will improve the click region without giving up our award completely.

Doing this requires small changes in about 8-10 places given the

[2016-12-02 01:15] bradleyrichter opened #5979 "add pref setting to "always allow" full screen view"
## Test Plan:
1. go to about:preferences#security
2. find new fullscreen select setting, hit "always allow"
3. go to https://vimeo.com, open fullscreen
4. fullscreen should be open without notification prompt
5. Go back to fullscreen setting
6. Disable with "always ask"
7. Go to https://vimeo.com or any other video website
8. Make video fullscreen, notification should open

**QA note:**

1. When n

[2016-12-02 01:16] bradleyrichter commented on #5979
I'll make a separate issue for changes to the alert bar which are waiting on this new setting.

![image](https://cloud.githubusercontent.com/assets/13509546/20819557/eb475a48-b7e9-11e6-9ae7-dd599325720c.png)

[2016-12-02 01:24] diracdeltas opened #5980 "[hackerone] 187542"
https://hackerone.com/reports/187542

[2016-12-02 01:31] Liunkae commented on #5683
Solutions to this problem: #5978.

[2016-12-02 01:32] Liunkae commented on #5978
Original feedback: #5683

[2016-12-02 01:38] Liunkae commented on #5973
Related: #2026

[2016-12-02 01:44] Liunkae commented on #2604
Solution: #5969

[2016-12-02 01:46] bradleyrichter commented on #5683
Increasing the tab size should help until we can allow customization with normal and large styles for fonts and important UI controls.

[2016-12-02 03:34] #1885 closed

[2016-12-02 03:48] diracdeltas commented on #5980
fixed by https://github.com/brave/electron/commit/03f05980afc480f29d3ea4bb3e7e0ebe0b62e428

[2016-12-02 03:48] #5980 closed

[2016-12-02 06:06] luixxiul commented on #5975
CC @diracdeltas

[2016-12-02 06:30] Liunkae commented on #4045
There are some good comments #5952, a duplicate of this issue.

[2016-12-02 06:31] Liunkae commented on #2227
#4045 would solve the problem for HTML5 videos.

[2016-12-02 07:14] robfla commented on #4693
Using Brave for months now and never experienced ads on youtube until a few days ago. Browsing from Germany, OS is Windows 7.

[2016-12-02 13:30] srirambv opened #5981 "Magnet link doesn't start torrent download"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Magnet link doesn't start torrent download

**Expected behavior:**
Should load the torrent viewer and start downloading

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version:
0.13.0 preview 2

- Steps to reproduce:
    1. Click on any of the magnet links from ht

[2016-12-02 13:42] srirambv opened #5982 "Opening image from Wikipedia and clicking back doesn't load the previous page properly"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Opening image from Wikipedia and clicking back doesn't load the previous page properly

**Expected behavior:**
Navigating back should load the previous page properly

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version:
0.13.0 Preview 2

- Steps to reproduce:

[2016-12-02 15:05] SimonWaters commented on #5968
Have you reproduced on another browser (say Chrome) to exclude a LastPass issue?

[2016-12-02 15:21] bsclifton commented on #5932
This is captured fairly well with https://github.com/brave/browser-laptop/issues/5879; I'll close this as a dupe and update the issue details :smile:

[2016-12-02 15:21] #5932 closed

[2016-12-02 15:22] bsclifton commented on #5879
also affects history and likely affects bookmarks manager; see:
https://github.com/brave/browser-laptop/issues/5932

![image](https://cloud.githubusercontent.com/assets/17010094/20750399/86358d4c-b6ee-11e6-835e-2d0da3df6661.png)

[2016-12-02 15:29] privatzee commented on #5975
I believe that everybody using Brave has the same spoofed hash, so that's a kind of herd anonymity. Here is me, tested just now:

![image](https://cloud.githubusercontent.com/assets/22591438/20839082/2e88913e-b879-11e6-97b2-6c88f1aab40e.png)

It would also be nice if reported screen size was set to browser window size. Hopefully that will be available once we can add browser extensions.

[2016-12-02 15:41] srirambv opened #5983 "Show bookmark favicon in bookmarks menu"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
From [support](https://linkbubble.zendesk.com/agent/tickets/6992)

**Expected behavior:**
Show bookmark favicon in bookmarks menu

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version:

- Screenshot if needed:

- Any related issues:
cc: @darkdh

[2016-12-02 15:43] srirambv commented on #5983
cc: @bsclifton

[2016-12-02 15:57] bsclifton commented on #5983
Definitely a good one- closing this one as as dupe

(original issue captured here - https://github.com/brave/browser-laptop/issues/3050)

[2016-12-02 15:57] #5983 closed

[2016-12-02 15:57] bsclifton commented on #3050
+1 from support (captured in https://github.com/brave/browser-laptop/issues/5983)

[2016-12-02 16:02] bsclifton commented on #5871
This would be good;  We have captured this with https://github.com/brave/browser-laptop/issues/432, so I'll close this particular issue as a dupe and give the other a bump :smile:

[2016-12-02 16:02] #5871 closed

[2016-12-02 16:03] bsclifton commented on #432
+1 from user @Gelo3D (from https://github.com/brave/browser-laptop/issues/5871)

[2016-12-02 16:06] bsclifton commented on #5830
I checked out the names in the above, and it seems @austenlennon is having a problem loading pages either locally or on an intranet which are using this framework:
https://www.deltacontrols.com/enteliweb/

@austenlennon can you confirm?

[2016-12-02 16:08] bsclifton commented on #5852
@busa131300r do you have an update? I am hoping the above steps worked for you, because there are always backup copies saved.  Please let me know!  Thanks :smile:

[2016-12-02 16:09] bsclifton commented on #5840
We'll always have the first time outbound connections... but like @Liunkae captured, the caching for these will be fixed if we fix #2697 :smile:

[2016-12-02 16:10] #5840 closed

[2016-12-02 16:11] austenlennon commented on #5830
Yes, it is intranet.... I manage the energy of several hotels through this site... it looks like it is mostly javascript.. .

[2016-12-02 16:12] bsclifton commented on #2697
+1 from https://github.com/brave/browser-laptop/issues/5840

Assigned milestone

[2016-12-02 16:16] bsclifton commented on #5889
Whoops, I had already captured this with https://github.com/brave/browser-laptop/issues/5747

I'm closing that (in favor of this) but wanted to share the comment @luixxiul had, since it also mentions a good fix:

<img width="569" alt="screenshot 2016-11-20 23 02 54" src="https://cloud.githubusercontent.com/assets/3362943/20463408/7fac43ba-af75-11e6-91c3-3a39645e53a1.png">

[2016-12-02 16:16] bsclifton commented on #5747
closing as a dupe of https://github.com/brave/browser-laptop/issues/5889

[2016-12-02 16:16] #5747 closed

[2016-12-02 16:19] bsclifton commented on #5694
This issue is now a dupe :smile: Closing in favor of https://github.com/brave/browser-laptop/issues/5891

[2016-12-02 16:19] #5694 closed

[2016-12-02 16:21] bsclifton commented on #1885
Awesome! Should be in our next version; Enjoy, @gameb0y :smile:

[2016-12-02 16:25] bsclifton commented on #5626
I'm going to close this issue for now because of lack of details, but I'd encourage you to re-open if you can provide more information

One work-around you can try is to click the lion head (in the top right) and then disable shields to see if the site works.  If that does work, you can re-enable shields and then try turning off features like fingerprint protection one at a time until it works for

[2016-12-02 16:25] #5626 closed

[2016-12-02 16:28] bsclifton commented on #5603
Hi @pleabargain (sorry for the delay in response)

Can you try clicking the lion head in the top right when you're on GitHub.com?  What features do you have enabled?  I'd encourage you to try disabling fingerprint protection (if it's enabled).  If that doesn't work, you can try turning shields off.  These changes will only be saved for GitHub.com

[2016-12-02 16:29] bsclifton commented on #5534
@rickyrauch do you still have this issue?  I wonder if it's limited to Hyper.js?

[2016-12-02 16:43] bsclifton commented on #5830
@austenlennon is there a page we can visit to reproduce the problem from our side? This will help us fix the issue :smile:

[2016-12-02 16:47] bridiver commented on #2697
I can bring in the history component from chromium

[2016-12-02 17:08] heb1048 opened #5985 "Had to drop "Shields" to submit answers to online exam."
I got the following error when clicking "Submit" to answer exam questions for one of the Prager University short courses.  I am running Brave on Windows 7 Home Premium on a Toshiba laptop.  Here is the web site:  https://www.prageru.com/courses/political-science/do-you-understand-electoral-college to take a short course and then take the exam after listening and click "Submit".

![image](https://c

[2016-12-02 17:26] bsclifton commented on #2697
@bridiver would this help with content loaded in a private context? ex: our main UI?

[2016-12-02 17:49] bsclifton commented on #5939
confirmed this works as expected! :smile:

screenshot showing I'm actually on latest muon (and not using 53!)
![screen shot 2016-12-02 at 10 49 06 am](https://cloud.githubusercontent.com/assets/4733304/20844445/0edb0610-b87d-11e6-8063-7dccdc1e0e38.png)

[2016-12-02 17:57] srirambv opened #5986 "Manual Tests for Ubuntu 0.12.11 RC1"
## Installer

1. [x] Check that installer is close to the size of last release.
2. [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup

[2016-12-02 17:59] srirambv opened #5987 "Manual Tests for OS X 0.12.11 RC1"
## Installer

1. [x] Check that installer is close to the size of last release.
2. [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup

[2016-12-02 17:59] srirambv opened #5988 "Manual Test for Windows x64 0.12.11 RC1"
## Installer

1. [x] Check that installer is close to the size of last release.
2. [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup

[2016-12-02 18:01] srirambv opened #5989 "Manual tests for Windows ia-32 0.12.11 RC1"
## Installer

1. [x] Check that installer is close to the size of last release.
2. [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup

[2016-12-02 18:23] diracdeltas commented on #5975
everyone should have the same canvas hash

panopticlick is based on the number of users who visit EFF's site, so it's definitely skewed. if you visit the site over and over again in new incognito tabs, it no longer says you're fingerprintable.

[2016-12-02 18:23] #5975 closed

[2016-12-02 18:54] willy-b commented on #5974
Sounds good @bsclifton. I changed to the format you suggested, basing my changes on the 0.13.0 commit, which is in conflict with master. The change has been pushed to a branch (see https://github.com/willy-b/browser-laptop/commit/e74670f8f5c1affc2e16383fba40b9004369f858).

But what branch should I open a PR against to get it into 0.13.0?
This is important because the feature will be broken for eve

[2016-12-02 19:26] privatzee commented on #5985
Carl, somehow I got through everything okay with Shields up, Win7 x64. Have you seen that same error alert box more than once?

![image](https://cloud.githubusercontent.com/assets/22591438/20846975/23e6d53a-b89a-11e6-9d6c-c943193322f6.png)

Btw, same here regarding _Mozilla Injustice_.

[2016-12-02 19:38] Gelo3D opened #5991 "[Request] add button with important options"
**Did you search for similar issues before submitting this one?**

yes

**Describe the issue you encountered:**

If user need to go eg. settings or bookmarks, must press alt for get access to main or advanted options in browser.
Browser in idea must be 'simple' browser.
Don`t remove alt program menus, but create new button with options like settings, account etc.
![screenshot_1](https://cloud.gith

[2016-12-02 19:42] alexwykoff commented on #5987
no issues found.

[2016-12-02 19:42] #5987 closed

[2016-12-02 19:44] heb1048 commented on #5985
First time but I will try again.

Carl

From: privatzee [mailto:notifications@github.com]
Sent: Friday, December 02, 2016 1:27 PM
To: brave/browser-laptop
Cc: heb1048; Author
Subject: Re: [brave/browser-laptop] Had to drop "Shields" to submit answers to online exam. (#5985)

Carl, somehow I got through everything okay with Shields up, Win7 x64. Have you seen that same error alert box more than onc

[2016-12-02 19:50] Gelo3D opened #5992 "[Request] Add setting to turn off modal darkening effect"
**Did you search for similar issues before submitting this one?**

yes

**Describe the issue you encountered:**

Please do options to turn off/on darker effect -
![screenshot_2](https://cloud.githubusercontent.com/assets/15075411/20848083/e057090c-b8d0-11e6-8ae8-a6202cc7aa35.png)

Its really cool and important to bad / slow pcs/laptops.

**Expected behavior:**

- Platform (Win7, 8, 10? macOS? Linu

[2016-12-02 19:56] heb1048 commented on #5985
Well, it is working for me now.  I can’t explain why it failed the first time but I obviously can’t reproduce the failure.  Thanks for investigating and for a great new browser.

Carl

From: privatzee [mailto:notifications@github.com]
Sent: Friday, December 02, 2016 1:27 PM
To: brave/browser-laptop
Cc: heb1048; Author
Subject: Re: [brave/browser-laptop] Had to drop "Shields" to submit answers to o

[2016-12-02 20:58] #5986 closed

[2016-12-02 20:58] #5988 closed

[2016-12-02 21:09] #5989 closed

[2016-12-02 21:09] alexwykoff opened #5993 "0.12.11 release tracking issue"
# Release Process Checklist

Feel free to copy this into an issue if you want to keep track of items per-milestone.
Be super sure that <version> is replaced with the version you wish to use.

## Release Commands
### First-time Setup
1. [x] `git clone git@github.com:brave/vault-updater && cd vault-updater`
- [x] `npm install`
- [x] install the heroku toolbelt https://toolbelt.heroku.com/ , ask @mro

[2016-12-02 21:11] josiah-keller commented on #5991
The upper-left button with three vertical dots opens the main browser menu.  You can access settings, bookmarks, and such from there.

[2016-12-02 21:14] privatzee commented on #5985
Thanks for reporting it, Carl. I'll just add some keywords in case the same problem pops up anywhere in the future: error alert xhr ajax

Btw, I don't work for Brave. I just drop in sometimes to help out, initially because of that _injustice_ you spoke of.

[2016-12-02 21:23] #4708 closed

[2016-12-02 21:23] #5801 closed

[2016-12-02 21:56] Gelo3D commented on #5991
Thx for information.
But its really odd.

So i create 2 in my opinion better solutions.
![1](https://cloud.githubusercontent.com/assets/15075411/20851596/b0900a28-b8e1-11e6-886e-17bbf3037aa7.png)

First solution is do add dot buttons to 4 other and remove it from tabs sector.

![2](https://cloud.githubusercontent.com/assets/15075411/20851744/7f2f7e90-b8e2-11e6-9acb-9205bbf8de26.png)

[2016-12-02 22:04] Gelo3D commented on #5991
If 2nd solution, brave remove one button and marge it with shield settings.
I thing shield settings can be smaller to more distance between options
![2](https://cloud.githubusercontent.com/assets/15075411/20851967/a26a66da-b8e3-11e6-8e2b-962171a3f38e.png)

[2016-12-02 22:47] bbondy commented on #5993
Data files is just a reminder to sync up adblock data files, just ping me for it as needed. Thanks.  Never ciritcal that we do it on a release but good to ping to remind.

[2016-12-02 22:47] #5993 closed

[2016-12-02 22:52] cezaraugusto opened #5994 "On new tab, reduce space between number and string for Estimated Time Saved"
Per @bradleyrichter request.

Current:
![pasted image at 2016_12_02 08_19 am](https://cloud.githubusercontent.com/assets/4672033/20852982/306daa14-b8d0-11e6-9273-08e6564db8a3.png)

Expected:

![new_space](https://cloud.githubusercontent.com/assets/4672033/20853021/64f98c76-b8d0-11e6-87f0-9d5220701b08.png)

[2016-12-02 23:13] Liunkae opened #5997 "Add release notes for Brave 0.12.11 (security hotfix)"

[2016-12-02 23:17] Liunkae commented on #5985
I'll close the issue for now, but please reopen if the problem reappears.

[2016-12-02 23:17] #5985 closed

[2016-12-02 23:20] Liunkae commented on #5991
@Gelo3D Why do you want the menu and the Shields panel to be combined?

cc: @bradleyrichter

[2016-12-02 23:21] bbondy commented on #5982
Is this a regression? If so pls add to 0.13.0

[2016-12-02 23:24] Liunkae commented on #5992
Renamed to be more general. Other actions, such as the Clear Browsing Data panel, also darken the current window.

[2016-12-02 23:24] bsclifton commented on #5979
@cezaraugusto would you be up for grabbing this one?

[2016-12-02 23:36] bsclifton commented on #5985
From the look of the message box, my guess is that this issue was specific to the site.  Sometimes people will debug with alert() instead of a less invasive console.log().  Notice in the message box, it got an HTTP200 OK (which means the asynchronous call that was made loaded successfully)

[2016-12-02 23:38] bradleyrichter commented on #5992
I agree with @Gelo3D on this one. There really is no point in having the darkening effect with most of our dialogs. Darkening should only be used on modal dialogs.

cc @bsclifton

[2016-12-02 23:42] bsclifton commented on #5992
This is an interesting one...

The purpose of the dark is to show that there is an overlay.  For example (using the screenshot above), the dark colored area is where you need to click in order to hide the bravery menu

If we didn't show an overlay, users may expect that they could click on any UI elements and it would work as expected.  If that is the desired behavior, this would become a larger c

[2016-12-02 23:44] #5994 closed

[2016-12-02 23:46] bsclifton commented on #5974
@willy-b you can rebase it against master and PR it against master too

The chromium54 branch will need to be rebased against master also (but that'll happen before we build a next release)

[2016-12-02 23:51] privatzee commented on #5985
Aha, it's from Drupal:

![image](https://cloud.githubusercontent.com/assets/22591438/20854231/049e5894-b8c0-11e6-933f-f17f10076138.png)

[2016-12-02 23:58] bradleyrichter commented on #5992
I call hogwash based on other dropdown panels. ;   )

![image](https://cloud.githubusercontent.com/assets/13509546/20854315/adffdca0-b8a7-11e6-9b57-26faa35427fd.png)

![image](https://cloud.githubusercontent.com/assets/13509546/20854319/b5ac8de0-b8a7-11e6-9f5e-345b19c07fe8.png)

![image](https://cloud.githubusercontent.com/assets/13509546/20854372/1d9713e4-b8a8-11e6-9dd3-67257276216a.png)

[2016-12-03 00:24] diracdeltas commented on #5997
note that we are not going to disclose details of the vulnerability until next Friday at the earliest, so people have time to update

[2016-12-03 00:25] #5672 closed

[2016-12-03 01:22] jonathansampson opened #5998 "ZenHub: Popup background is transparent"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
The popup window for the ZenHub extension has a transparent background, making it hard to discern the contents of the popup.

**Expected behavior:**
ZenHub should have a solid background, clearly distinguishing its content from the content beneath.

**Screenshot if needed:**

![image](htt

[2016-12-03 01:26] #5868 closed

[2016-12-03 03:10] #5939 closed

[2016-12-03 05:16] jonathansampson opened #6002 "ZenHub: Calling StorageArea methods fails"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Running the following:
[code]
Other methods that fail:
- `chrome.storage.sync.get`

Throws the following:

**Expected behavior:**
Calling the aforementioned APIs should not throw.

**Platform (Win7, 8, 10? macOS? Linux distro?):** Windows 10

**Brave Version:** 0.12.10

**Any related issu

[2016-12-03 05:26] osgav commented on #2184
Hey @bbondy I'm also encountering this problem - I have tried following the steps listed on the FAQ you linked in this thread but found that I didn't have the `com.electron.brave.ShipIt`referenced. Instead I found a `~/Library/Application Support/brave` directory, so I winged it and `rm -rf`'d that folder (I'm not as familiar with macOS as I could be, so hoped I wasn't destroying the entire instal

[2016-12-03 06:03] bradleyrichter opened #6003 "adjust fonts in prefs and other about pages to use helv neue on mac, and arial on win"

[2016-12-03 06:04] bradleyrichter opened #6004 "fix bookmark hanger to have 250px min width, and right-align buttons"

[2016-12-03 07:39] geowarin opened #6005 "Url bar does not allow navigation"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Cannot use the url bar to navigate by issuing either to a full url or a search term.
Nothing happens when you type enter or when you click on the search icon in the URL bar.

It used to happen only when opening a new window (CMD + N).
Now I cannot use the url bar even in the main window.

[2016-12-03 08:42] josiah-keller commented on #5991
How is it odd?  It's exactly the same as Chrome, which you held up as your original example.

[2016-12-03 09:53] bsclifton commented on #5792
Moving this to 0.13.1 (which is where the sprite issue currently is)

[2016-12-03 10:40] luixxiul commented on #5192
Modified the milestone to the nearest one as PR was sent and it was ready for review.

[2016-12-03 12:06] luixxiul opened #6007 "Refactoring #bitcoinDashboard dialog on about:preferences#payments (l10n)"
**Describe the issue you encountered:**

- border-bottom on the bottom should not exist ("Done" button is not displayed if Coinbase is disabled)
- padding & margin should be refactored

<img width="722" alt="screenshot 2016-12-03 20 53 59" src="https://cloud.githubusercontent.com/assets/3362943/20859188/16384944-b99b-11e6-80e1-992b603be642.png">

**Expected behavior:**

The footer should be displa

[2016-12-03 14:31] austenlennon commented on #5830
sadly no there isn't because of the security issues.... It is not a huge issue as I can still use other browsers and love Brave for the majority of my work...  but if you feel it's wroth pursuing from your end I would be happy to do what I can but I there are seven hotels in our group and if anything went wrong I would be shot at dawn..... screen shots to follow only if you wish to pursue this....

[2016-12-03 14:31] austenlennon commented on #5830
Frame code...

<!DOCTYPE html>
<html lang="en">
  <head>

    <title></title>    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />    <link href="/enteliweb/energy/Performance/Performance.css?4.1.738" media="all" rel="stylesheet" type="text/css" />
<link href="/enteliweb/resources/css/ext-all.css?4.1.738" media="all" rel="stylesheet" type="text/css" />
<link href="/enteliweb/sty

[2016-12-03 14:32] austenlennon commented on #5830
Page code...

<!DOCTYPE html>
<html lang="en">
  <head>

    <title>enteliWEB</title>    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="distribution" content="IU" />
<meta name="content-language" content="en" />
<meta name="robots" content="noindex, nofollow" />
<meta name="copyright" content="Copyright &amp;#169; 2016 Delta Controls Inc." />    <link href="/entel

[2016-12-03 14:33] austenlennon commented on #5830
screen shot of page....
![screen shot 2](https://cloud.githubusercontent.com/assets/23722967/20859970/6e86ed20-b965-11e6-82b0-357ee77a3d7a.png)

[2016-12-03 14:33] austenlennon commented on #5830
but really... it is not critical....

[2016-12-03 14:34] luixxiul commented on #5494
`.titleBar` and `.walletBar` are almost ready:

<img width="850" alt="screenshot 2016-12-03 23 31 57" src="https://cloud.githubusercontent.com/assets/3362943/20859971/df5ef268-b9b0-11e6-952e-15b2e509dde4.png">

[2016-12-03 14:57] austenlennon commented on #5830
Finally.... I just tried to log in again to my page and it does everything it needs to do... it logs in fine... but it shows a blank page.... when I look at the page source everything is identical to the page source from Chrome.... so it is loading ok.... just not displaying
![screen shot](https://cloud.githubusercontent.com/assets/23722967/20860127/b9220358-b968-11e6-96be-82f289b7449e.png)

[2016-12-03 15:43] quegley opened #6010 "Brave crashes."
**Did you search for similar issues before submitting this one?**
Yes.

**Describe the issue you encountered:**
Randomly browsing.  Brave crashes.  Windows throws a low memory warning and asks to close Brave.  Brave displays error warning banner and attempts to restart.  Attempts to restart many times and then dies.

**Expected behavior:**
NA

- Platform (Win7, 8, 10? macOS? Linux distro?):
Window

[2016-12-03 16:19] EPadronU commented on #49
@bsclifton Done.

[2016-12-03 17:10] bradleyrichter commented on #5991
@Gelo3D Can you list the important functions that you found missing from the burger menu as a new issue or by renaming this one? Chrome does not have alt-menus at all so they do need put more in the burger menu.

Regarding the other issues and suggestions, we have not heard many complaints or received support tickets regarding the burger-menu location or the shields panel. It is located in the clo

[2016-12-03 17:10] #5991 closed

[2016-12-03 18:12] bsclifton commented on #5830
@austenlennon thanks for the super detailed info! 😄 This is definitely useful. Please be sure to edit the pictures if any sensitive info is showing

Here's something you can try:
When you're visiting and the page is blank, please try to click the lion head in the top right. When that comes up, you can try to turn shields off. It'll only affect the current domain you're visiting, not every site. Le

[2016-12-03 20:08] jkup commented on #5192
@luixxiul I noticed this too on about:styles you can see the input type text is longer than the select boxes.

I'll assign to myself and try to get to it soon unless you want to take it?

[2016-12-03 21:52] bsclifton commented on #5192
Looks like one of our contributors knocked it out :smile: Very cool!
https://github.com/brave/browser-laptop/pull/5837

@jkup I'll assign the PR over to you for review

[2016-12-03 22:06] bsclifton commented on #5958
This would be a great one!  The bookmarks manager has a few visual indicators, like showing an open folder icon when dragged over a folder.  Would be great to see that vertical bar where it will be positioned if you let go too

[2016-12-03 22:13] bsclifton commented on #4381
@srirambv can you please try to repro this? If you're not able to, let's close it out. Thanks :smile:

[2016-12-03 22:15] bsclifton commented on #5956
Another similar issue (menus going offscreen when they're nested deeply):
https://github.com/brave/browser-laptop/issues/4745

[2016-12-03 22:17] bsclifton commented on #5931
Let's retest this when a new release is available :smile:

[2016-12-03 22:25] bsclifton commented on #5968
@SimonWaters great point :smile:

@kalifg can you please try with another browser to see if it's an issue with LastPass? You can view the version of LastPass by going to about:extensions (mine is showing 4.1.28)

[2016-12-03 22:26] bsclifton commented on #5968
yikes! [Looking at the Chrome store](https://chrome.google.com/webstore/detail/lastpass-free-password-ma/hdokiejnpimakedhajhdlcegeplioahd?hl=en-US), our version of LastPass is slightly behind (latest is 4.1.33)

cc: @bbondy

[2016-12-03 22:31] bsclifton commented on #2604
from #5969, here are the acceptance criteria per @bradleyrichter:

![image](https://cloud.githubusercontent.com/assets/13509546/20803042/c33828ee-b7a2-11e6-80a7-2ec61398c854.png)

[2016-12-03 22:32] bsclifton commented on #5969
Closing as a duplicate of https://github.com/brave/browser-laptop/issues/2604

Love the pic! I copied it and your text over to #2604

[2016-12-03 22:32] #5969 closed

[2016-12-03 22:42] bsclifton commented on #1471
With the info disclosed in https://github.com/brave/browser-laptop/issues/4928, I'm curious how many folks here have an ATI/AMD Radeon card? It seems this may be a bug in the driver (official and open source)

cc: @NQAT @darwinrc @savelbr @rahilwazir

[2016-12-03 22:45] bsclifton commented on #5775
+1 from Twitter:
https://twitter.com/brave/status/799358465428713472

[2016-12-03 22:46] bsclifton commented on #5775
Another +1 involving menu bar antics from Twitter:
https://twitter.com/BrendanEich/status/804429129751752704

[2016-12-03 22:49] bsclifton commented on #5976
I really like the round icons :smile: The logo still seems intact while having a nice clean shape.  Great job, @rickyrauch

[2016-12-03 22:51] bsclifton commented on #5976
@rickyrauch I think the various screen caps you are proposing look good... but one thing to consider (which can be a problem) is having enough space where a user and click and drag the window. We do get lots of complaints as-is about not enough draggable area in the top title bar

[2016-12-03 22:56] bsclifton commented on #4082
@maaz93 how's it going? Any help needed? Let me know :smile:

[2016-12-03 23:02] bsclifton commented on #5955
@thomasgrnr this is a great feature request :smile: Private apps and also APIs make good use of this.

On Mac, clicking "Manage Certificates" brings up Keychain Access.
![screen shot 2016-12-03 at 4 00 00 pm](https://cloud.githubusercontent.com/assets/4733304/20862780/97996380-b971-11e6-9ecf-6e69870b54a3.png)

I haven't used this in a browser before (only in code I've written).  Do you have more i

[2016-12-03 23:05] bsclifton commented on #5892
I'll close this for now, since elegant handling of the URL bar would fix this issue, IMO (see notes above).  @bridiver please feel free to re-open

[2016-12-03 23:05] #5892 closed

[2016-12-03 23:10] bsclifton commented on #5730
@tcr do you happen to have pocket enabled? I have been having this issue for at least the past two weeks and it's driving me nuts. I figured I'd try disabling pocket and immediately, things seem better

@jonathansampson can pocket be pretty CPU intensive?

[2016-12-03 23:16] da2x commented on #1471
I've got an AMD R9 290 and have the problem with proprietary and open source drivers alike.

[2016-12-04 01:04] diracdeltas opened #6011 "[hackerone] 188086"
https://hackerone.com/reports/188086

[2016-12-04 03:21] bridiver opened #6012 "document.l10n is sometimes undefined"
document.l10n is accessed in about pages, but it is loaded after the script and can be missing when it is checked

[2016-12-04 04:10] ayumi commented on #2168
bump

Saw that some amazon product pages ([example](https://www.amazon.com/Fluorostore-F015031-Fractional-Tubing-Semi-Transparent/dp/B00KJDB3P4)) load some images over http. It would be sweet to allow blocking of passive mixed content or at least show an icon.

<img width="537" alt="screen shot 2016-12-03 at 20 08 34" src="https://cloud.githubusercontent.com/assets/521861/20864015/55987566-b994-11

[2016-12-04 04:23] Liunkae commented on #6005
As far as I know, the search icon does not currently do anything. However, could you please make sure your default search engine is set? See <https://github.com/brave/browser-laptop/wiki/End-User-FAQ#why-is-the-address-bar-not-working>.

[2016-12-04 04:27] Liunkae commented on #6010
Could you please update to the latest version and try again? `Menu > Help > Check for Updates…` The current version is 0.12.11.

[2016-12-04 06:24] #5796 closed

[2016-12-04 07:16] #5974 closed

[2016-12-04 07:40] bsclifton commented on #5904
@darkdh do bookmarks automatically get put under "Other bookmarks"? I wonder if we should offer a checkbox with something like "add to bookmarks toolbar"

[2016-12-04 07:47] bsclifton commented on #5908
Related, but not exactly the same: https://github.com/brave/browser-laptop/issues/2227

[2016-12-04 09:21] rahilwazir commented on #1471
@bsclifton Well, I've ATI/AMD GPU but not sure that is it currently being used or not?

Following output may help:

[code]

I tested on other machine which have

- Fedora 25 64bit
- `Intel HD Graphics 5500 (rev 09)`

and it's working fine, no blank page issue there.

[2016-12-04 10:09] geowarin commented on #6005
Yup. That works.

[2016-12-04 10:09] #6005 closed

[2016-12-04 11:31] mrgoos commented on #688
Any news on that?

[2016-12-04 11:32] mrgoos commented on #3555
Hi,
Any news on that?

[2016-12-04 12:16] darkdh commented on #5904
@bsclifton , no they will be put under bookmarks toolbar.  And if you don't check "Merge into bookmark toolbar", there will be a folder called "Imported from XXX" also under the bookmarks toolbar.

[2016-12-04 14:44] austenlennon commented on #5830
:-) first thing I tried....

[2016-12-04 15:39] spoo6354 commented on #1471
I am using a AMD R7 250 with amdgpu drivers loaded.
I haven't tested Brave with any other drivers, but it works fine on Windows.
It seems that it is a driver issue, which is a shame. I hope you guys fix it ASAP.

[2016-12-04 17:04] luixxiul commented on #1471
FYI https://github.com/electron/electron/issues/5998#issuecomment-225756787
https://github.com/electron/electron/issues/4380 (Nvidia)

[2016-12-04 17:49] jmmartinez300 commented on #4442
I like Brave. I also would like to block all images, but cannot find the way to do it... Thanks. JMM

[2016-12-04 18:48] jonathansampson opened #6014 "ZenHub: Popup has scrollbars"
**Describe the issue you encountered:**
The ZenHub extension popup has unnecessary scrollbars.

**Expected behavior:**
There should not be any scrollbars on the popup.

**Brave Version:** 0.12.11

**Screenshot if needed:**
![image](https://cloud.githubusercontent.com/assets/815158/20868375/c5a7c628-ba1f-11e6-93be-3405714ed552.png)

**Any related issues:** #5998, #6002

[2016-12-04 18:57] jonathansampson opened #6015 "ZenHub: Links in popup do not navigate"
**Describe the issue you encountered:**
Clicking a navigable link from an extension's popup window appears to have no effect.

**Expected behavior:**
Clicking a navigable link from an extension's popup window causes the browser to navigate.

**Brave Version:** 0.12.11

**Screenshot if needed:**

In the following graphic, I was attempting to click "New Issues". This does not result in navigation. T

[2016-12-04 19:10] swiftcoder opened #6016 "https://apple.com shows cert error for some users in Brave"
Navigating to apple.com in the navigation bar expands the address to https://apple.com, which fails certificate validation:

<img width="578" alt="screen shot 2016-12-04 at 11 05 17 am" src="https://cloud.githubusercontent.com/assets/4706210/20868486/eb4573c0-ba11-11e6-8fbd-4c44cc3a26a4.png">

Navigating to www.apple.com expands the address to https://www.apple.com, which passes certificate valida

[2016-12-04 20:29] jbmonroe commented on #4502
While Brave was in the fugue state it was leaking about 5MB/sec.  Rebooting did clear up the issue, resulting in two tabs of "about:error" that indicated (oddly enough) that an error had occurred.

[2016-12-04 20:52] Liunkae commented on #5830
@austenlennon On pages that are blank, could you please open the web inspector (`Menu > View > Toggle Developer Tools` or  <kbd>Cmd+Shift+I</kbd>) and take a screenshot of the console? The console should show some warnings and/or errors.

[2016-12-04 21:01] Liunkae commented on #6016
I've had the same issue (Brave 0.12.11 on macOS 10.12.x). Navigating to `apple.com`, `http://apple.com`, or `https://apple.com` actually gives me a blank page. It works fine with Firefox and HTTPS Everywhere.
![image](https://cloud.githubusercontent.com/assets/19424103/20869159/054e5ffa-ba32-11e6-8a7d-0ee1046c5641.png)

[2016-12-04 21:06] Liunkae commented on #688
Duplicate of #3555 (which has more discussion).

[2016-12-04 21:06] #688 closed

[2016-12-04 22:12] thomasgrnr commented on #5955
I am not quite sure on how it works, but on chrome I think you just have to have a cert in you "login" keychain. The browser looks for the adequate one. Possibly by checking the issuer name I guess.

I can try to look a bit further into this !

[2016-12-04 23:00] Liunkae commented on #4442
@jmmartinez300 That feature is being tracked in issue #4065.

[2016-12-04 23:00] Liunkae commented on #4065
+1 from https://github.com/brave/browser-laptop/issues/4442#issuecomment-264718695.

[2016-12-04 23:06] bsclifton commented on #5955
@thomasgrnr if you can, that would be amazing :smile: It would help a lot to have more concrete details about what this would look like and/or how it would work

[2016-12-04 23:09] bsclifton commented on #5904
@darkdh ah- ok... so this user may have been upset because we didn't check "Merge into BTB" by default.

@bradleyrichter @bbondy would it make sense to auto-check the "Merge into bookmarks toolbar" by default?

[2016-12-05 00:13] alexwykoff opened #6017 "Manual tests for OSX 0.12.12 RC1"
## Installer

1. [x] Check that installer is close to the size of last release.
2. [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup

[2016-12-05 00:14] alexwykoff opened #6018 "Manual tests for Windows ia-32 0.12.12 RC1"
## Installer

1. [x] Check that installer is close to the size of last release.
2. [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup

[2016-12-05 00:15] alexwykoff opened #6019 "Manual tests for Windows x64 0.12.12 RC1"
## Installer

1. [x] Check that installer is close to the size of last release.
2. [ ] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup

[2016-12-05 00:15] alexwykoff opened #6020 "Manual tests for Ubuntu 0.12.12 RC1"
## Installer

1. [x] Check that installer is close to the size of last release.
2. [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup

[2016-12-05 02:03] luixxiul commented on #6018
spell check not working on Windows 10 JP (intermittent issue since several month)

except that it's good to go 👍

[2016-12-05 02:47] maaz93 commented on #4082
@bsclifton I'm almost there! I believe I've fixed the tests that I broke. I'm working on writing the new tests. I'll be adding the tests to `clearBrowsingDataPanelTest.js` itself. 😄

[2016-12-05 03:16] bbondy commented on #5947
Closing this even know it's not on master since it's on chromium54 and that will be merged soon.
https://github.com/brave/browser-laptop/commit/52711c794c856021f2bff235388826159f925ccd

[2016-12-05 03:16] #5947 closed

[2016-12-05 03:19] bbondy commented on #5945
This is working on chromium54 so closing.

[2016-12-05 03:19] #5945 closed

[2016-12-05 03:27] bbondy commented on #5877
Closing this since we're on preview2 now

[2016-12-05 03:27] #5877 closed

[2016-12-05 04:11] darkdh commented on #5931
feel free to reopen if new release does not work

[2016-12-05 04:29] bbondy commented on #5795
In Step 2 do you mean the twitter page or a macOS app?

[2016-12-05 04:45] evq commented on #3299
:+1:

[2016-12-05 05:44] #5933 closed

[2016-12-05 06:10] bbondy commented on #5730
unassigned myself for now because I tried a few times to reproduce but still not having luck. Ill try to debug next time it happens to me, but if someone else sees it and can reproduce please jump in.

[2016-12-05 06:10] bsclifton commented on #5936
@jkup would you mind grabbing this one?

[2016-12-05 07:05] darkdh commented on #5934
fixed by 6023abd

[2016-12-05 07:05] #5934 closed

[2016-12-05 07:28] darkdh commented on #5794
It works as expected on the latest commit of chromium54. Feel free to reopen it if the newer build is not working.

[2016-12-05 07:28] #5794 closed

[2016-12-05 07:42] bbondy commented on #5881
I'll take a look

[2016-12-05 07:59] luixxiul commented on #6016
On Chrome

[code]

[2016-12-05 08:09] bbondy commented on #5881
n/m BrianJ says he's already looking at it

[2016-12-05 08:13] srirambv commented on #5982
Same issue on 0.12.11 as well.  Not a  regression existing issue

[2016-12-05 08:15] darkdh commented on #5880
This is not limited to about pages.
if you cmd+click on the link which opens a new window like this
http://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_win_open
The new open tab will also be blank.

[2016-12-05 08:30] srirambv commented on #4381
Issue still exist. This is on 0.12.12. Nested folder is not selectable if the browser window is small
![4381](https://cloud.githubusercontent.com/assets/17010094/20878139/01686906-bac5-11e6-9fac-72eb222a8395.gif)

[2016-12-05 08:37] srirambv commented on #271
+1 from [support ](https://linkbubble.zendesk.com/agent/tickets/7150)

[2016-12-05 08:39] srirambv commented on #5018
+1 from [support ](https://linkbubble.zendesk.com/agent/tickets/7132)

[2016-12-05 09:31] Sileax opened #6022 "Blank page when 2 tabs or more"
- Platform : Linux Manjaro 16.10

- Brave Version:  0.12.11

- Steps to reproduce:
    1. Open any website as first tab
    2. Click on + fort load another tab
    3. Load a website

If it doesn't show the issue, wait 2-3 minutes and open a new tab

- Screenshot if needed:
![image](https://cloud.githubusercontent.com/assets/815158/21031181/c6c49c02-bd67-11e6-88a0-9ac877e749fb.png)

- Any related i

[2016-12-05 11:39] darkdh commented on #5730
I can't reproduce on latest master or chromium 54 either.

[2016-12-05 13:14] srirambv opened #6023 "Right click selection on newtab context menu should work similar to other right click selection"
**Did you search for similar issues before submitting this one?**
No

**Expected behavior:**
Right click selection on newtab context menu should work similar to other right click selection on a tab

- Platform (Win7, 8, 10? macOS? Linux distro?):
All

- Brave Version:
0.12.12 RC1

- Steps to reproduce:
    1. Right click on new tab icon to show the context menu
    2. Right click on any of the opt

[2016-12-05 14:03] bbondy commented on #5946
I think this will be fixed with a fix @bridiver is doing with webview events not firing after being destroyed.

[2016-12-05 14:04] bbondy commented on #5981
@dcposch if you still have cycles available it'd be helpful if you could take a look on the chromium54 branch.

[2016-12-05 14:18] bbondy commented on #5730
I'm not sure what fixed it but I think this is fixed now in 0.13.0 series.

[2016-12-05 14:36] srirambv opened #6025 "Could not load plugin error on FB videos"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Sometimes videos stop loading on Facebook and shows error as Could not load plugin. There is no exact STR for this. Have seen this happen couple of time and the console shows no error.

**Expected behavior:**
Should load flash videos

- Platform (Win7, 8, 10? macOS? Linux distro?):
Window

[2016-12-05 17:11] #6017 closed

[2016-12-05 17:11] #6018 closed

[2016-12-05 17:11] #6019 closed

[2016-12-05 17:11] #6020 closed

[2016-12-05 17:12] alexwykoff opened #6027 "0.12.12 release tracking issue"
## Release Commands
### First-time Setup
1. [ ] `git clone git@github.com:brave/vault-updater && cd vault-updater`
- [ ] `npm install`
- [ ] install the heroku toolbelt https://toolbelt.heroku.com/ , ask @mrose17 to add you
- [ ] `git remote add heroku-staged https://git.heroku.com/brave-laptop-updates-pre.git`
- [ ] *(optional) you can check logs : `heroku logs --tail --app brave-laptop-updates-p

[2016-12-05 17:13] bradleyrichter opened #6028 "Close unanswered alert bar if initiating tab is closed before user makes decision"
Various alerts may open when a site asks permission. If the tab that initiates an alert is closed, then the alert(s) should also be closed as the user most likely no longer cares about making a decision about a closed tab.

![image](https://cloud.githubusercontent.com/assets/13509546/20894468/78944f0e-baca-11e6-8ce7-85a12eebd228.png)

cc @diracdeltas

[2016-12-05 17:46] Liunkae commented on #5513
More related issues: #1392, #1471, #3787

[2016-12-05 17:50] Liunkae commented on #6022
Unfortunately, there are numerous reports of blank pages on Linux (#1392, #1471, #3787, #4928). At the moment, the only possible workaround is disabling hardware acceleration (#5513). By version 1.0.0, there should be an easier way to disable hardware acceleration.

[2016-12-05 18:00] Liunkae commented on #5513
I'll mark this very high priority (per [Triage of issues](https://github.com/brave/browser-laptop/wiki/(WIP)-Triage-of-issues), next milestone). The browser is almost unusable for a large amount of users (see the issues above). Please change the milestone if necessary.

[2016-12-05 18:03] Liunkae opened #6029 "Add release notes for Brave 0.12.12 (security hotfix)"
Related: #5997 (0.12.11 release notes)

[2016-12-05 18:05] Liunkae commented on #6012
https://github.com/brave/browser-laptop/pull/6013#issuecomment-264867394:

[2016-12-05 18:13] #6027 closed

[2016-12-05 18:53] SilverPuppy commented on #5688
Still present after today's update

[2016-12-05 19:41] hollyhudson commented on #3246
I just got this popup and ended up here after googling what it is.  I still have no idea whether I should say yes or no, so count me in the "Please add a friendlier message" group.

[2016-12-05 21:11] diracdeltas commented on #6011
closed by  https://github.com/brave/electron/commit/b464d8567a9832e7bda7f7f2d9bb2068392774f8

[2016-12-05 21:11] #6011 closed

[2016-12-05 22:12] idprism opened #6030 "Feature Request: instant position jump on scroll bar click"
In the Fedora build of firefox, it is possible to click on a position in the scroll bar and instantly jump to that location in the page. The brave behavior is to move 1 page in a direction according to whether the user clicks above or below the scroll bar.

Please allow an option for instant-jump scroll-bar clicking.

- Platform (Win7, 8, 10? macOS? Linux distro?): all platforms

- Brave Version:

[2016-12-05 22:21] bsclifton commented on #5951
Should be fixed w/ https://github.com/brave/browser-laptop/pull/6009; updating milestone

[2016-12-05 22:33] #5759 closed

[2016-12-05 22:35] dcposch commented on #5981
@bbondy sure, checking it out

[2016-12-05 23:39] da2x commented on #6016
This bug is invalid!

**The certificate MUST be validated** before loading content and following redirects!

The error message says the certificate authority used by Apple is unknown. The issue you’re seeing may be triggered by a security gateway intercepting network traffic OR a system configuration error.

[2016-12-05 23:56] swiftcoder commented on #6016
That makes sense. And if we look at the certificates returned by the raw apple.com url, we can see that the intermediate CA looks somewhat funky (gists for brevity here):

https://gist.github.com/swiftcoder/052f7cce2219f1b69254ccc9b80fa975

Versus the cert chain vended by www.apple.com:

https://gist.github.com/swiftcoder/a83c2a10ed2eaec9d88eb3515437c4c8

However, I'm unclear why both Chrome and F

[2016-12-06 00:15] da2x commented on #6016
It could be. But it’s working for me just fine.

@swiftcoder, please provide the certificate details from inside Brave’s UI (on the error page: Advanced: Show Certificate). That should reveal exactly what is going on.

[2016-12-06 00:16] da2x commented on #6022
@Sileax, AMD graphics?

[2016-12-06 00:17] bsclifton opened #6033 "Dragging tabs no longer shows tabs physically moving"
**Did you search for similar issues before submitting this one?**
YEs

**Describe the issue you encountered:**
Tabs used to show an animation of the surrounding tabs moving out of the way:
![tabs moved](https://cloud.githubusercontent.com/assets/4733304/20907909/5ee6aae0-bb0e-11e6-9526-66d659861183.gif)

Somewhere along the way, this regressed.
Per @bradleyrichter:
This was in 0.12.1 and it fell o

[2016-12-06 00:21] da2x commented on #1471
I switched my machine temporarily from AMD R9 290 to Intel HD 4000. It works with Intel graphics, but my desktop is horribly slow and there are a lot of other things that don’t work. Please address this issue.

[2016-12-06 00:45] alexwykoff commented on #5795
The macOS app.

The central issue is that using CMD + C on the url bar when the url is highlighted is not putting the url in the clipboard (copy buffer). Right-clicking and selecting copy from the context menu does work.

[2016-12-06 00:50] bbondy opened #6034 "Clicking on Shields down on C54 crashes the browser"
STR:
1. Go to any website
2. Click lion icon
3. Click shields down

*Crash*

[2016-12-06 01:23] jkup opened #6036 "Bookmark dialog looks too skinny"
**Did you search for similar issues before submitting this one?**
Yes.

**Describe the issue you encountered:**
Perhaps related to the recent button refactor the bookmark dialog looks too skinny.

**Expected behavior:**
It should be wider, maybe around 300px?

- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS

- Brave Version:
master

- Steps to reproduce:
    1. Open Brave
    2. Click Bookma

[2016-12-06 01:51] clockworkpc opened #6038 "Unending refresh loop on asana.com"
**Did you search for similar issues before submitting this one?**
Yes.

**Describe the issue you encountered:**
Unending refresh loop when I log into asana.com.  As soon as the site loads, I am taken back to the loading page.

**Expected behavior:**
1. Log in to asana.com
2. Navigate the website

- Platform (Win7, 8, 10? macOS? Linux distro?):
Ubuntu 16.04

- Brave Version:
0.12.9

- Steps to repr

[2016-12-06 02:12] bradleyrichter commented on #6036
I think #6000 fixes this...

[2016-12-06 02:47] Liunkae commented on #6016
Yes, please post the certificate details. Here's what I'm getting in the web inspector (for the blank page):
![image](https://cloud.githubusercontent.com/assets/19424103/20911168/d3933710-bb2b-11e6-9d11-9df8b2ea6418.png)

[2016-12-06 02:51] Liunkae commented on #5978
@bradleyrichter @bsclifton Does #6032 fix this?

[2016-12-06 02:53] mrose17 opened #6039 "a few tune-ups for the PDF contribution reports"
**Did you search for similar issues before submitting this one?** yes

**Describe the issue you encountered:**
1. Verified publishers not shown as verified
2. The OK button is not placed properly (see attachment)
3. the PDF file is generated in a new tab which then disappears and a file save dialog comes up. this is jarring. wouldn't it be better to open a new tab, generate the PDF and then let th

[2016-12-06 03:01] bradleyrichter commented on #5978
@Liunkae it does, but solving the original feedback will probably need a lot more work to provide a large-mode for these hi-res or vision impaired situations.

[2016-12-06 03:03] Liunkae commented on #5978
OK, so how about we close this and leave #5683 open.

[2016-12-06 03:05] bradleyrichter commented on #5978
I made this issue for the sole purpose of having an issue to associate with the PR.  :   )

So, yes, closing now.

[2016-12-06 03:05] #5978 closed

[2016-12-06 05:11] luixxiul commented on #6036
Also the button alignment issue has been fixed with https://github.com/brave/browser-laptop/pull/6000/commits/1df8dc376ba08602a4394796fb91754321dca1ae of the same PR.

[2016-12-06 06:24] luixxiul opened #6040 "Apply commonForm to addEditBookmarkHanger.js"
## Test plan

https://github.com/brave/browser-laptop/pull/8136#issue-220448998

----

https://github.com/brave/browser-laptop/pull/6035#issuecomment-265066728

This is a sub-task of #6040

#8010

[2016-12-06 06:38] luixxiul commented on #6039
I'd like to take the button alignment issue.

[2016-12-06 06:42] luixxiul commented on #6039
@mrose17 @willy-b

I addressed the issue with https://github.com/brave/browser-laptop/pull/6009/commits/21ece29eab80de4af2c606a65b54c13764b04c93 based on @bsclifton 's review https://github.com/brave/browser-laptop/pull/6009#issuecomment-264996591

I will address this issue within the #6009

[2016-12-06 07:29] luixxiul commented on #6040
Also `ModalyOverlay` will apply modalOverlay.less and make the style of the dialog more consistent.

[2016-12-06 07:44] bsclifton commented on #6033
I narrowed it down; great memory, @bradleyrichter :smile:

This behavior was present in 0.12.1 (https://github.com/brave/browser-laptop/commit/f51a293574f7153392af50887fb1cfe859a098cd)

This behavior was broken by 0.12.2 RC1 (https://github.com/brave/browser-laptop/commit/dfe352c8b491d3bf7f3b7bfbce88c901fe504a09)

[2016-12-06 08:16] clockworkpc opened #6041 "Syntax Highlighter JavaScript extension blocked even when Shield is down"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Javascript SyntaxHighlighter extension for my Blogger blog fails to load even with all Shields down.

**Expected behavior:**
JavaScript Syntax Highlighter should load and portions of the content tagged <pre></pre> should have syntax highlighting.

- Platform (Win7, 8, 10? macOS? Linux dis

[2016-12-06 08:23] 2OldMan opened #6042 "Allow user to disable tiles on about:newtab and offer option to clear any associated data"
Too difficult to keep deleting thumbs from Brave homepage.  Want to disable it.  Shows search history.  Thought Brave didn't keep search history?  Brave has the potential for being superb.  It takes a lot to get it all worked out so don't get discouraged.  I just don't want my search history recorded at all.  No thumbs, nothing.  Thank you.

[2016-12-06 08:37] bsclifton commented on #5806
@luixxiul this might be a good issue for you to solve, since you're already in there :smile: Please feel free to assign

[2016-12-06 08:42] bsclifton commented on #4905
Hey there @willy-b! :smile: I wanted to follow up regarding this and ask if you had an update? Anything I can help with?

[2016-12-06 09:21] Sileax commented on #6022
Yep AMD graphics @da2x

[2016-12-06 09:59] Sileax commented on #6022
Even when hardware acceleration is disabled, i still have the issue, it worked for 1h but after that... Bug re-appeared

[2016-12-06 11:07] iandundas commented on #1364
+1 (seems doing +1 is acceptable here! apologies if not.. )

[2016-12-06 12:01] maaz93 commented on #4082
@bsclifton Is there a way I can delete the `appState` from somewhere on the file system? I want to test the scenario where the user opens the clear browsing data panel for the first time and the default values are `undefined`.

[2016-12-06 12:31] bnmnb opened #6043 "Flash Play Supports"
**Did you search for similar issues before submitting this one?**True

**Describe the issue you encountered:**non options

**Expected behavior:**non flash player views

- Platform (Win7, 8, 10? macOS? Linux distro?):8.1

- Brave Version:0.12.12

- Steps to reproduce:
    1.goto Settings
    2.click Security
    3.chose Adobe Flash Player option

- Screenshot if needed:Attached

- Any related issue

[2016-12-06 13:09] muralisr opened #6044 "Article thumbnails not loading on http://www.recode.net"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
On news website http://www.recode.net, thumbnails for articles do not load as expected.

**Expected behavior:**
Expected thumbnail images to load on frontpage article list.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Win 10

- Brave Version:
0.12.12
- Steps to reproduce:
    1. Open

[2016-12-06 13:11] srirambv commented on #6044
Disabling HTTPSE shows the images
![image](https://cloud.githubusercontent.com/assets/17010094/20926666/840c35fe-bbb5-11e6-848b-24ad0e020812.png)

[2016-12-06 13:26] sebagomez opened #6045 "Page at https://www.genexus.com not loading"
**Did you search for similar issues before submitting this one?**
yes

**Describe the issue you encountered:**
the page at https://www.genexus.com/developers/mis-aplicaciones?en does not load at all

**Expected behavior:**
load the page

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10

- Brave Version:
0.12.12

Expected:
![image](https://cloud.githubusercontent.com/assets/1637983/209270

[2016-12-06 13:36] bradleyrichter commented on #6042
@2OldMan Great suggestion and yes, getting it all worked out.

We'll add thumbs (tiles) to the clear-data options first, and then add a way of disabling the tiles all together.

cc @bsclifton

[2016-12-06 14:00] srirambv commented on #2183
+1 from [support](https://linkbubble.zendesk.com/agent/tickets/7167)

[2016-12-06 14:04] srirambv opened #6046 "Webroots marks Brave as W32.Trojan.Gen"
From [support ](https://linkbubble.zendesk.com/agent/tickets/7166)

Screenshot available in zendesk ticket

cc: @diracdeltas

[2016-12-06 14:07] srirambv commented on #6046
+1 from [support ](https://linkbubble.zendesk.com/agent/tickets/7165)

[2016-12-06 14:13] srirambv commented on #1646
+1 from [support ](https://linkbubble.zendesk.com/agent/tickets/7161)

[2016-12-06 14:14] mrose17 commented on #6039
@luixxiul - thanks!

[2016-12-06 14:24] darkdh commented on #6034
fixed by e894132

[2016-12-06 14:24] #6034 closed

[2016-12-06 15:50] luixxiul commented on #6045
enable 3p cookie and the page loads fine

[2016-12-06 16:18] bsclifton commented on #5785
Will be fixed by https://github.com/brave/browser-laptop/pull/6009

[2016-12-06 16:21] bsclifton commented on #5799
@luixxiul was this addressed with https://github.com/brave/browser-laptop/pull/6009?

[2016-12-06 16:23] #5785 closed

[2016-12-06 16:23] #5951 closed

[2016-12-06 16:23] #5962 closed

[2016-12-06 16:28] luixxiul commented on #5799
@bsclifton No, I will fix this in the next PR (part 2).

[2016-12-06 17:26] stan-qaz commented on #4641
I also find this behavior on closing a tab frustrating. I will usually visit a site, open a few to a dozen tabs for links on the site that I wish to read and then read and close the tabs. Instead of Brave showing me one of the tabs I recently opened it shows me the original page and I have to manually select one of the new tabs to view. Particularly frustrating when the original tab and new tab(s)

[2016-12-06 17:30] cvanderlinden commented on #4641
@stan-qaz I hear you.  I feel like if we were to add an option, it should be the reverse.  The default should be the way I described it. I also think that adding an option may be unnecessary, I don't see a purpose to the original functionality.  It may just be me, but it's quite annoying.

[2016-12-06 18:30] #6003 closed

[2016-12-06 18:30] #6004 closed

[2016-12-06 18:31] #5192 closed

[2016-12-06 18:37] bradleyrichter commented on #5926
@bsclifton Can you reproduce and check if a flag changed?

[2016-12-06 19:14] luixxiul opened #6048 "Transfer funds button needs margin-bottom"
**Describe the issue you encountered:** Transfer funds button (Transfer BTC) needs margin-bottom.

<img width="724" alt="screenshot 2016-12-07 4 10 03" src="https://cloud.githubusercontent.com/assets/3362943/20939725/3c808d4c-bc33-11e6-9ec5-7d9e74854489.png">

**Expected behavior:**

<img width="716" alt="screenshot 2016-12-07 4 10 40" src="https://cloud.githubusercontent.com/assets/3362943/209397

[2016-12-06 19:31] bradleyrichter commented on #5883
@alexwykoff works for me in master:

![image](https://cloud.githubusercontent.com/assets/13509546/20940426/92f94bc8-bba7-11e6-9dbf-38f3f9401b84.png)

[2016-12-06 19:46] bradleyrichter commented on #5881
FWIW, I can't reproduce this in master.

[2016-12-06 19:50] luixxiul opened #6050 "Not all place of Cubits/buybitcoinworldwide.com button is clickable"
**Describe the issue you encountered:** Not all place of "Cubits" button is clickable

<img width="668" alt="screenshot 2016-12-07 4 47 23" src="https://cloud.githubusercontent.com/assets/3362943/20941074/45fd5d82-bc38-11e6-9dbe-27deed4673a7.png">

**Expected behavior:** It should be clickable

- Brave Version: master branch

- Steps to reproduce:
    1. Disable `worldWidePanel`
    2. Open about:

[2016-12-06 20:33] alexwykoff opened #6052 "Manual tests for OS X 0.12.13 RC1"
## Installer

1. [x] Check that installer is close to the size of last release.
2. [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup

[2016-12-06 20:33] alexwykoff opened #6053 "Manual tests for Windows ia-32 0.12.13"
## Installer

1. [x] Check that installer is close to the size of last release.
2. [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup

[2016-12-06 20:34] alexwykoff opened #6054 "Manual tests for Windows x64 0.12.13 RC2"
## Installer

1. [x] Check that installer is close to the size of last release.
2. [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup

[2016-12-06 20:35] alexwykoff opened #6055 "Manual tests for Ubuntu 0.12.13 RC1"
## Installer

1. [x] Check that installer is close to the size of last release.
2. [x] Check signature: If OS Run `spctl --assess --verbose /Applications/Brave.app/` and make sure it returns `accepted`.  If Windows right click on the installer exe and go to Properties, go to the Digital Signatures tab and double click on the signature.  Make sure it says "The digital signature is OK" in the popup

[2016-12-06 20:45] chadmando commented on #6046
I ran into the same issue this morning.  The Webroot admin console identifies the quarantined files as:

bravedefualts.exe - %appdata%\brave\app-0.12.12\
brave.exe - %appdata%\brave\

[2016-12-06 20:47] alexwykoff commented on #6052
Currently blocked on bad build.

cc @bbondy

[2016-12-06 20:56] jonathansampson commented on #5973
Mentioned [on Twitter](https://twitter.com/iammattnull/status/806187019823153152):

.@brave Your browser hijacks a native key command for Mac. CMD + 1.

[2016-12-06 21:06] anasant commented on #4593
+1 on this! Not really understanding HTTPS upgrades

[2016-12-06 21:42] bsclifton commented on #5926
On it!

[2016-12-06 21:49] bsclifton commented on #5883
@bradleyrichter this is with Chromium 54; in order to test, you'd need to switch to the `chromium54` branch and redo your `npm install`. I believe @bridiver is checking this out now...

[2016-12-06 21:52] bsclifton commented on #5881
@bradleyrichter I believe this issue is specific to Chrome 54 (I just now added the missing label :smile: )

[2016-12-06 21:53] jkup opened #6056 "Lower session write for dev environment"
**Did you search for similar issues before submitting this one?**
Yes.

**Describe the issue you encountered:**
It would be nice if when working in dev mode the session write would be reduced from 5 minutes. That way when making changes quickly refreshes would reload your tabs with the current information.

Ideally we could check the process.env in https://github.com/brave/browser-laptop/blob/mast

[2016-12-06 22:10] josiah-keller commented on #5884
It looks like setting `-webkit-user-select: none` on the entire `.top` element fixes this.  It doesn't appear to cause any problems with the URL bar or the findbar, but I'm not familiar enough to confidently judge whether this might cause any other problems.

[2016-12-06 22:22] bradleyrichter commented on #5883
ahhh...sorry. missed that.

[2016-12-06 22:28] jonathansampson opened #6057 "ZenHub: "Sign in" link doesn't work"
**Describe the issue you encountered:**
The DOM-injected "Sign in now" link doesn't sign the user in; the user must instead use the browser action popup window.

**Expected behavior:**
The user can sign in via any _sign in_ link provided by the ZenHub extension.

**Brave Version:** 0.12.12

**Screenshot if needed:**

![image](https://cloud.githubusercontent.com/assets/815158/20946596/f90f2076-bbd0

[2016-12-06 22:52] da2x commented on #3246
Allow https://www.example.com to register a protocol handler? [Deny] [Allow]

The current string has multiple issues:

* What is the protocol? Message fails to identify the protocol. Potential security issue.
* Doesn’t explain what a “protocol handler” is and it’s implications.
* URLs must *always* be enclosed in quotes for security purposes (message overwrite/escape)
* Long URLs will break it (es

[2016-12-06 23:34] bradleyrichter commented on #3246
The "user-friendly" police is requesting a fix before 1.0 release...   :  )

[2016-12-06 23:44] bradleyrichter opened #6058 "ignore trailing period on URLs coming from outside sources like mail"
Brave sends all URLs that end in a period to the default search engine instead of resolving to the address.

(same links work in Chrome and Firefox)

[2016-12-07 00:47] BrendanEich commented on #3794
Wow, `window.pring` from Netscape 4 daze.

I think @jonathansampson may be game to take this issue.

[2016-12-07 00:55] bsclifton commented on #6058
Closing this issue as duplicate; I had originally created with https://github.com/brave/browser-laptop/issues/5911

[2016-12-07 00:56] bsclifton commented on #5911
Bumped up milestone / assignee to match https://github.com/brave/browser-laptop/issues/6058

[2016-12-07 00:57] #6058 closed

[2016-12-07 01:04] willy-b commented on #6039
Hey @luixxiul, can we split the Payment History modal OK button issue from the Contribution Statement PDF bugs @mrose17 brought up here? That OK button regression is entirely separate and so I think if I fix the PDF Statement issues we won't step on each other's toes at all.

[2016-12-07 01:21] bradleyrichter opened #6059 "Payment history footer message needs correct past/future context"
problem: (your next contribution is 6 days ago)

![image](https://cloud.githubusercontent.com/assets/13509546/20951005/1c664b88-bbd8-11e6-906a-08cc98eaeca9.png)

code point:

https://github.com/brave/browser-laptop/blob/d86d9638f141c890276bc9d90c5a1dd01d3c6bd5/js/about/preferences.js#L963

[2016-12-07 01:35] luixxiul commented on #6039
Agree, will do! @willy-b

[2016-12-07 02:03] willy-b commented on #6039
That seems like yet another issue:
 #6059 is about Payment History having correct past/future context, not the OK button position, and the screenshot is of a different version of Brave which is before the Contribution PDF was added.

Can the OK button be it's own issue? It doesn't exist in the version in the screenshot from @bradleyrichter in #6059.

[2016-12-07 02:26] Liunkae commented on #3794
Related issue: #2755

[2016-12-07 02:26] Liunkae commented on #2755
Related issue: #3794

[2016-12-07 02:34] luixxiul commented on #6039
@willy-b my bad, you're right!

[2016-12-07 02:38] willy-b commented on #5951
sweet.  btw, I was using `npm run watch` instead of `npm run watch-all` ; thanks for including the full test steps in your commit @bsclifton, `npm run watch-all` happens to fix some other issues I had.

[2016-12-07 02:50] luixxiul opened #6061 "Place the footer on the contribution report properly"
**Describe the issue you encountered:**

https://github.com/brave/browser-laptop/issues/6039#issuecomment-265333789 courtesy of @mrose17

**Expected behavior:**

- Any related issues: #6039 #3485

[2016-12-07 03:28] dcposch commented on #5981
Just reproduced it:

[code]

Here's `webtorrent.js` on the Chromium54 branch:

[code]

Looks like this commit duplicates `webtorrentEntryPage`: https://github.com/brave/browser-laptop/commit/eb19c308523b145a2962fc7d64fb44f1e1504d7f

It's on `chromium54` and a few other branches, but not on master.

[2016-12-07 03:45] posix4e commented on #1471
@da2x  your desktop is slow even when the browser is turned off? What about your desktop is slow. Is it just brave? What release are you using? What operating system?

[2016-12-07 03:52] dcposch commented on #5981
@bridiver

[2016-12-07 03:53] bridiver commented on #5981
looks like a rebase issue. The webtorrent.js file shouldn't exist anymore

[2016-12-07 04:21] luixxiul commented on #5882
Any update?

[2016-12-07 04:21] mrose17 commented on #5882
i am looking at it right now...

[2016-12-07 04:22] luixxiul commented on #5882
@mrose17 thanks!

[2016-12-07 04:58] #6012 closed

[2016-12-07 05:01] bbondy commented on #5943
Moved up into 0.12.13 CC @alexwykoff

[2016-12-07 05:03] luixxiul commented on #4858
@srirambv I checked it based on the master branch and it seems fixed already here: https://github.com/brave/browser-laptop/blame/master/less/modalOverlay.less#L8-L16. Will you confirm it?

[2016-12-07 05:05] bridiver commented on #5981
had to sort some things out in master and I'll update the changes for 54

[2016-12-07 05:54] mrose17 commented on #5882
it turns out that a change to the caching algorithm in the ledger caused this issue. the ledger caching is fixed and the issue is now gone... _my bad, sorry!_

[2016-12-07 05:54] #5882 closed

[2016-12-07 06:16] bsclifton commented on #6036
Confirmed this was fixed with #6000
![screen shot 2016-12-06 at 11 15 18 pm](https://cloud.githubusercontent.com/assets/4733304/20956890/f576b4fe-bc09-11e6-8ffd-76c80d5f1368.png)

[2016-12-07 06:16] #6036 closed

[2016-12-07 06:18] bsclifton commented on #6038
Thanks for reporting, @clockworkpc! We have another issue tracking this if you'd like to follow it:
https://github.com/brave/browser-laptop/issues/4694

Closing this particular issue as a duplicate

[2016-12-07 06:18] #6038 closed

[2016-12-07 06:19] bsclifton commented on #4694
+1 from @clockworkpc
https://github.com/brave/browser-laptop/issues/4694

[2016-12-07 06:24] bsclifton commented on #5890
@EPadronU I think this behavior is expected- although we could always add a new preference letting you choose how links open (new tab versus new window).

Is there another browser which does it properly for you?

[2016-12-07 06:28] bsclifton commented on #5951
@willy-b ahh- that explains it :smile: `npm run watch` is great for running the app, but it won't work properly for tests.  All is your best bet.  If you *only* want to run tests, you can do `npm run watch-test`.  If you choose to run unit tests, those don't need a watch process running (and can be triggered w/ `npm run unittest`)

[2016-12-07 06:54] bsclifton commented on #6042
This is a great feature request- I'll update the title to be more specific

[2016-12-07 07:02] bsclifton commented on #4082
@maaz93 sorry it's taken me so long to respond; the easiest way I can recommend would be to find your session folder (or the session file) and temporarily move it out of the way.  You're on Fedora, right? I believe the session is stored here: `~/.config/brave-development/session-store-1`.

Make sure all instances of Brave are closed and then try moving that file (rename as session-store-2 for exam

[2016-12-07 07:30] bsclifton commented on #6039
great- those two other issues are now split out; let us know if there's anything else you need, @willy-b :smile: thanks for reviewing!

[2016-12-07 08:52] luixxiul commented on #5882
yes I confirmed that, thanks!

[2016-12-07 10:11] maaz93 commented on #4082
@bsclifton No problem. I'm on a Mac. Though the folder structure is not the same, the file name session-store-1 is the same. So I was able to find it. Thanks! 😄

[2016-12-07 10:33] srirambv opened #6063 "Significant lag in loading newtab image"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Significant lag in loading newtab image

**Expected behavior:**
Should load quickly, there should not be a noticeable lag in loading the image

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version:
0.12.13 RC2

- Steps to reproduce:
    1. On  a clean install of

[2016-12-07 11:23] EPadronU commented on #5890
I tried Firefox and Chrome. The behave the same as Brave.

You're right, I feel so embarrassed.

That would be great!

The reason I brought this up is due to the fact, when I open a new window, such new window has also those tabs I have pinned previously. That doesn't happen in Firefox, for instance. And I wanted to work around said undesired (for me) behavior.

[2016-12-07 11:45] da2x commented on #1471
@posix4e Fedora Linux 25.x86_64. My desktop is super slow when running the Intel integrated graphics chip and drivers compared to the AMDGPU drivers and chip. Brave works great with the Intel graphics chip and drivers (no blank pages). However, I want everything else to work and be fast more than I want Brave to work, so I’m sticking with Firefox and my AMDGPU drivers until this is resolved.

[2016-12-07 12:26] sanderaarts opened #6064 "Reset Views/Time Spent on start of new period."
**Did you search for similar issues before submitting this one?**
Yes. Hopefully good enough ;)

**Describe the issue you encountered:**
On the Brave Payments page under Preferences the list of visited sites does not get reset after the contribution due date passes and payment is been made.

**Expected behavior:**
I'd expect Views and Time Spent (and consequently Rank and %) to be reset to 0 once

[2016-12-07 12:31] srirambv opened #6065 "Selecting Indian Languages causes AM/PM to appear twice on newtab"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Selecting Indian Languages causes AM/PM to appear twice on newtab

**Expected behavior:**
Should either show similar to US Time format of AM/PM or should not show similar to other Languages

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version:
0.12.13 RC2 (Yet

[2016-12-07 12:36] luixxiul commented on #6064
CC @mrose17 for thoughts

[2016-12-07 12:53] luixxiul commented on #4381
I think this is a dupe of #1589

[2016-12-07 13:19] sanderaarts opened #6066 "Add about:blank to options for start page and new tabs"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
In General Settings the select boxes for 'Brave starts with' and 'A new tab shows' don't offer the option to select an empty page. It is of course possible to select 'my home page' in both and then set the home page to about:blank, but this is not very user friendly and leaves one with ne

[2016-12-07 13:28] srirambv opened #6067 "Top tiles disappear after restarting browser with language change"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Top tiles disappear after restarting browser with language change

**Expected behavior:**
Should retain the top site tiles irrespective of change in browser language

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version:
0.12.13 RC2

- Steps to reproduce:
    1.

[2016-12-07 13:38] amire80 opened #6068 "Brave window title bar is messy in macOS in right-to-left languages"
**Did you search for similar issues before submitting this one?**
Yes.

**Describe the issue you encountered:**
macOS Sierra has better support for RTL languages than the earlier macOS/OSX versions. Among other things, it automatically reorients window title bars to be right-to-left.

Brave makes some customizations to the window title bar, and these were probably only made for left-to-right langu

[2016-12-07 13:43] luixxiul commented on #3626
#6068

In Hebrew (courtesy of @amire80)

<img width="1680" alt="2016 12 07 15 35 19" src="https://cloud.githubusercontent.com/assets/346271/20969689/d3f197de-bc92-11e6-88ef-625465cbc34c.png">

[2016-12-07 14:03] #4808 closed

[2016-12-07 14:18] #5753 closed

[2016-12-07 15:47] jaydson opened #6069 "Twitter pools doesn't work"
**Did you search for similar issues before submitting this one?**
No.

**Describe the issue you encountered:**
Twitter pools doesn't work.

**Expected behavior:**
Vote successfully on given Twitter pool.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Ubuntu 16.10

- Brave Version:
0.12.9

- Steps to reproduce:
    1. Go to https://twitter.com/_ericelliott/status/806457787618209792
    2. Select

[2016-12-07 16:20] #6050 closed

[2016-12-07 16:24] bsclifton commented on #6069
Closing this issue, as it's a duplicate; but you can track progress at https://github.com/brave/browser-laptop/issues/4670

[2016-12-07 16:24] #6069 closed

[2016-12-07 16:25] bsclifton commented on #4670
+1 from user @jaydson https://github.com/brave/browser-laptop/issues/4670

[2016-12-07 16:26] jaydson commented on #6069
Thank you @bsclifton .

[2016-12-07 16:40] Liunkae commented on #6068
@amire80 If you would like to help translate, please see https://www.transifex.com/brave/brave-laptop/.

[2016-12-07 16:43] bsclifton commented on #6066
I'm happy to share that this will be in our next release (0.13.0) :smile: The issue was fixed with https://github.com/brave/browser-laptop/pull/5690

[2016-12-07 16:43] #6066 closed

[2016-12-07 16:46] bsclifton commented on #5890
This is great info @EPadronU! :smile: So you're wanting a new window to NOT have the pinned tabs? (ex: the pinned tabs only exist in one window; 2nd, 3rd, etc windows do not have the pinned tabs)

[2016-12-07 16:49] bsclifton commented on #6063
Closing this issue as it's similar to https://github.com/brave/browser-laptop/issues/5309 (and I believe would have the same root cause fix)

Definitely not related to Windows; would likely be slowness between our EC2 host and your machine (since the images do load remotely). They are cached however after a successful load; loading the same image again should be quick

[2016-12-07 16:49] #6063 closed

[2016-12-07 16:55] amire80 commented on #6068
Yep, I requested my language... I hope somebody approves it :)

[2016-12-07 17:23] bbondy commented on #5946
Should be fixed by these:
https://github.com/brave/electron/commit/cedf4462c04a986f6e0bdf385fa94b3fd054e72b
https://github.com/brave/electron/commit/271383a194e5521dfa291ab719608f9e6b9f37ad

[2016-12-07 17:23] #5946 closed

[2016-12-07 17:26] luixxiul opened #6070 "Replace close button on downloadBar with SVG button"
**Describe the issue you encountered:**
![close1](https://cloud.githubusercontent.com/assets/3362943/20978774/79e0d358-bced-11e6-9c8d-825ff47018cb.gif)

**Expected behavior:**
![close2](https://cloud.githubusercontent.com/assets/3362943/20978782/805dc196-bced-11e6-94f0-6e1cafd78363.gif)

- Platform (Win7, 8, 10? macOS? Linux distro?): macOS

- Brave Version: master branch

- Any related issues:

[2016-12-07 17:33] mrose17 commented on #6064
@luixxiul - thanks for the note. here's what i know:

the way "it's supposed to work" is that the synopsis keeps track of the last 30 days of activity. this is controlled by these two options in ledger-synopsis.json:

    "numFrames": 30,
    "frameSize": 86400000,

a frame is a day long (86400 seconds) and there are 30 frames that collect viewing activity.

if this isn't the behavior we're seeing

[2016-12-07 17:52] alexwykoff opened #6072 "0.12.13 release checklist"
### Every time thereafter
1. [x] `cd vault-updater`
- [x] `git checkout -b dev-<version>`
- [x] `npm run build`
- [x] `node tools/update.js --version=<version> --notes="<message approved by @aekeus>`. More details: `<link to release notes>`" `--channel=dev --overwrite`
- [x] `git add -u`
- [x] `git commit -m "<version>" -m "Auditors: @aekeus"`
- [x] `git push (alternatively: git push --set-upstrea

[2016-12-07 18:00] luixxiul commented on #4867
Pushed a PR to fix into

<img width="855" alt="screenshot 2016-12-08 2 48 55" src="https://cloud.githubusercontent.com/assets/3362943/20979946/055c5d22-bcf2-11e6-8eda-6ef6054f35de.png">

The link position has been fixed with #6009 already

[2016-12-07 18:03] EPadronU commented on #5890
That's absolutely right.

[2016-12-07 18:08] bsclifton commented on #5926
Reproduced; looks great at 100% but then gets blurry at 125%. I made sure to log out and log back in after upping my DPI to 125% too.  Here's a screenshot that (hopefully) shows how blurred things get:
![screen shot 2016-12-07 at 11 05 50 am](https://cloud.githubusercontent.com/assets/4733304/20980370/7a6806c8-bc6d-11e6-900b-53c83005901e.png)

[2016-12-07 18:31] MGrotegut opened #6074 "Problem uploading funds"
**Did you search for similar issues before submitting this one?**
Yes.

**Describe the issue you encountered:**
I opened an account with Cubits.com and sent them money.

**Expected behavior:**
Cannot upload funds to my Brave browser wallet.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Win 8.1

- Brave Version:
0.12.12

- Steps to reproduce:
    1. Click the Add funds button
    2. Do the steps

[2016-12-07 19:14] bradleyrichter commented on #6068
wow! I am surprised that Mac OS mirrored the controls.

@amire80 How does it feel compared to past layouts?

Fortunately we should be able to solve this easily by using the windows button positions.

@bsclifton ?

[2016-12-07 19:32] #6072 closed

[2016-12-07 19:33] #6052 closed

[2016-12-07 19:33] #6053 closed

[2016-12-07 19:33] #6054 closed

[2016-12-07 19:33] #6055 closed

[2016-12-07 21:11] msieng opened #6075 "brave tries to save brave.exe when opened"
**Did you search for similar issues before submitting this one?**

**Describe the issue you encountered:**

**Expected behavior:**

- Platform (Win7, 8, 10? macOS? Linux distro?):

- Brave Version:

- Steps to reproduce:
    1.
    2.
    3.

- Screenshot if needed:

- Any related issues:

[2016-12-07 21:28] bsclifton commented on #5926
I tried the command-line options shown as a work-around here without luck (and many variations of it):
https://bugs.chromium.org/p/chromium/issues/detail?id=395425

`app/index.js`

[code]

[2016-12-07 22:09] icecoldsquirrel commented on #6075
Facing the same problem with Win 8.1 Browser/Laptop 0.12.13 via Update.

[2016-12-07 22:15] icecoldsquirrel opened #6076 "Download - Save as - File extension gets lost in case of changing name"
**Did you search for similar issues before submitting this one?**
Y
**Describe the issue you encountered:**
If name is change in Save as Window and not written with file extension it is saved without it.
**Expected behavior:**
renamed file should keep file extension whether you specified it or not
- Platform (Win7, 8, 10? macOS? Linux distro?):
win 8.1
- Brave Version:
all so far
- Steps to reprod

[2016-12-07 22:18] msiyer commented on #2953
@bsclifton I compiled brave successfully on Fedora 25. The following is my test report:

## Packaging and transport
1. Created an archive (zip) of the compilation output directory, **Brave-linux-x64.zip**

2. Placed the zip in:

    - an internal hard drive formatted **ext4**
    - a USB flash drive\pen drive formatted **NTFS**
    - an USB hard drive formatted **ext4**

3. Tested on various virtu

[2016-12-07 22:24] khaosdoctor opened #6077 "Favicons missing from the bookmarks bar"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Some bookmarks I imported from chrome are missing favicons, even after I open and log into them

![](https://i.imgur.com/V3q9g7w.png)

Also, some favicons are misplaced:

![](https://i.imgur.com/rPprNK4.png)

One of those (the left one) is pinterest, the other is gmail.

**Expected behavi

[2016-12-07 22:27] khaosdoctor opened #6078 "[Feature Request] Bookmark text only for folders"
I think it would be an awesome feature to have the option to display only text for the folders in the bookmark bar:

![](https://i.imgur.com/T3LJBo7.png)

like this:

![](https://i.imgur.com/TwQUiBN.png)

[2016-12-07 23:19] diracdeltas opened #6079 "[hackerone] 179910"
https://hackerone.com/reports/179910

[2016-12-07 23:39] diracdeltas commented on #4973
appears to be fixed in the chromium54 branch

[2016-12-07 23:39] #4973 closed

[2016-12-07 23:54] mrose17 commented on #5930
@srirambv - i am using win10 x86 in a VM running https://github.com/brave/browser-laptop/releases/download/v0.12.13dev/BraveSetup-x64.exe and can not reproduce. it may be @bridiver's patch -- https://github.com/brave/browser-laptop/commit/6023abd171eb0ec582eb96e71f18ad30dddba32e -- addressed this issue.

can you reproduce using "the latest"? thanks!

[2016-12-08 02:45] luixxiul commented on #6076
Closing this in favor of #6076

[2016-12-08 02:45] #6076 closed

[2016-12-08 03:38] sanderaarts commented on #6064
I believe the current implementation makes sense from a "what have I been up to last month" perspective, but from a "how will my next contribution be divided" perspective it seems rather confusing. And since the latter is the context of that list I'd say it makes more sense to start from scratch every time a new contribution period starts.

Let's say the user spends a couple of hours on a website

[2016-12-08 03:47] luixxiul opened #6081 "the buttons on about:preferences#payments need more paddings"
**Describe the issue you encountered:**

<img width="254" alt="screenshot 2016-12-08 12 41 23" src="https://cloud.githubusercontent.com/assets/3362943/20996849/f90c13a8-bd43-11e6-97ce-254727aef214.png">

**Expected behavior:**

<img width="255" alt="screenshot 2016-12-08 12 44 06" src="https://cloud.githubusercontent.com/assets/3362943/20996858/0a918d4c-bd44-11e6-8c78-66e26a6bf71b.png">

- Brave V

[2016-12-08 04:04] gyandeeps commented on #5790
I am trying to get my feet wet with brave code. Can I work on this issue and send my first PR?

[2016-12-08 04:10] gyandeeps commented on #5399
i ws not seeing the icon before but now i can see it with 0.12.13

[2016-12-08 05:00] luixxiul opened #6082 "Yandex favicon is 404 on about:preferences#search"
**Describe the issue you encountered:**
<img width="877" alt="screenshot 2016-12-08 13 57 47" src="https://cloud.githubusercontent.com/assets/3362943/20998062/54ba82b6-bd4e-11e6-8f85-7e90f2fae8ac.png">

**Expected behavior:**

The favicon should be fetched successfully

- Platform (Win7, 8, 10? macOS? Linux distro?): macOS

- Brave Version: master branch

- Any related issues:

[2016-12-08 05:05] josiah-keller commented on #6075
I can reliably reproduce this on Windows 10.  On app launch, the first tab navigates to `file:///C:/Users/Josiah/AppData/Local/brave/app-0.12.13/Brave.exe`, which launches the Save As... dialog.  However, this only occurs from my taskbar shortcut.  Launching Brave from my Start tile opens the browser to the New Tab page as expected.

The taskbar shortcut points to: `C:\Users\Josiah\AppData\Local\b

[2016-12-08 05:09] luixxiul opened #6083 "Funds FAQ icon is underlined on hover"
**Describe the issue you encountered:**

<img width="83" alt="screenshot 2016-12-08 14 02 48" src="https://cloud.githubusercontent.com/assets/3362943/20998133/0782eb22-bd4f-11e6-9f0a-96a64c82d7de.png">

**Expected behavior:**

- Platform (Win7, 8, 10? macOS? Linux distro?): macOS

- Brave Version: master branch

- Any related issues: #6009

[2016-12-08 05:30] mrose17 commented on #6064
@sanderaarts - thanks. the question i have is whether this really helps or not. over the course of the 30 days the numbers shift from where things were for the last contribution to where they'll be for the next contribution.  at the beginning of that time, the "next contribution" values will be very thin, and by the end of that time, the two sets of values will be near identical.

the "very thin"

[2016-12-08 05:49] Liunkae commented on #1210
Related issues: #5540 and #5775

[2016-12-08 06:18] Liunkae commented on #6078
@bradleyrichter Do you think this should be a setting, or should folder titles be shown all the time?

[2016-12-08 06:39] bradleyrichter commented on #6078
@Liunkae I think it makes sense to show folder names all the time since they are almost unusable without names as shown by @khaosdoctor ...

[2016-12-08 07:00] Liunkae commented on #6078
Great, I'll take this. 😉

[2016-12-08 07:49] #6082 closed

[2016-12-08 08:20] sanderaarts commented on #6064
@mrose17 - I understand that the lists will be (or should be at least) identical at the end of the period. But where one only changes when the user visits websites, which makes sense since that is what the contribution system is based on, the other changes over time though, even if the user doesn't visit any new websites, as previous visits drop off. From a paying for what you use perspective that

[2016-12-08 10:50] amire80 commented on #6068
I'm a recent Mac user, and even more recent Brave user, so there isn't much that I can say past.

OSX El Capitan kinda supported RTL languages, too, but had a bunch of bugs in the title bar, messy back and forward in the finder, and some other problems. So if you make any changes for RTL languages, you may want to test them on older OSX versions, although working well with the newest macOS is prob

[2016-12-08 11:58] luixxiul opened #6088 "Keep tabs same size when closing"
https://community.brave.com/t/keep-tabs-same-size-when-closing/74?u=suguru

[2016-12-08 12:10] stephenkru opened #6089 "New 126% zoom increment."
**Did you search for similar issues before submitting this one?**
Yes
**Describe the issue you encountered:**
There is now a 126% zoom increment. Press zoom + or ctrl+mouse scroll up. The increments of browser zoom are now 100%, 110%, 125%, and 126% (and so on).

Click 3 dot settings menu, go to zoom + and click it till it hits 126%.

**Expected behavior:**

- Platform (Win7, 8, 10? macOS? Linux d

[2016-12-08 12:35] msp1111111 commented on #6075
Same. Win 7 0.12.13. Also is making it so my preferences won't open and passwords (saved by Brave) won't load.

[2016-12-08 13:58] austenlennon commented on #5830
Thanks  Liunkae :-) first thing I tried....

[2016-12-08 14:19] srirambv opened #6090 "Unable to view livestream on supremecourt.uk"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Unable to view livestream on supremecourt.uk

**Expected behavior:**
Should stream live video

- Platform (Win7, 8, 10? macOS? Linux distro?):
Windows 10 x64

- Brave Version:
0.12.13dev

- Steps to reproduce:
    1. Visit https://www.supremecourt.uk/live/court-01.html
    2. Embedded pla

[2016-12-08 14:35] luixxiul commented on #5799
The fix will be like these:

For US
<img width="727" alt="screenshot 2016-12-08 23 29 36" src="https://cloud.githubusercontent.com/assets/3362943/21013635/384443f6-bd9e-11e6-9472-2ad751496cae.png">

For non-US
<img width="738" alt="screenshot 2016-12-08 23 06 17" src="https://cloud.githubusercontent.com/assets/3362943/21013552/e3822496-bd9d-11e6-9212-c26406eff610.png">

With `.pull-right` the butt

[2016-12-08 14:38] srirambv commented on #5930
@mrose17 It works fine on the 0.12.xx branch. I am not able to build branch https://github.com/brave/browser-laptop/commit/6023abd171eb0ec582eb96e71f18ad30dddba32e and verify if the patch fix is working for Chromium54

[2016-12-08 14:41] srirambv commented on #6046
+1 from [support](https://linkbubble.zendesk.com/agent/tickets/7199)

[2016-12-08 14:46] bbondy commented on #2184
Thanks for the information, yes the log file would help, please post it here. Thanks!

[2016-12-08 14:53] bbondy commented on #5958
It used to make a gap where it would be dropped but that seems to have regressed at some point. This method sounds fine to me.

[2016-12-08 14:58] DivineOmega commented on #6022
I am also experiencing this issue after switching the graphics card in my work computer to an AMD graphics card. This issue is occurring for me even with hardware acceleration disabled, as @Sileax mentioned.

[2016-12-08 15:06] srirambv commented on #6075
+1 from [support ](https://linkbubble.zendesk.com/agent/tickets/7201)

[2016-12-08 15:06] mbretttx commented on #6075
Experiencing same on Windows 7 ver 6.1.7601. Brave ver 0.12.13. Brave does start & have not found any issues. I saved the brave.exe file and tried to run it which gave me the error 'The program can't start because node.dll is missing from your computer.

Did some quick research & found the following info:
We don't advise to download the node.dll file and copy it to the Windows system directory. Th

[2016-12-08 15:17] bsclifton commented on #5958
@bbondy that is correct (and is captured with https://github.com/brave/browser-laptop/issues/6033). I investigated and found where it broke, but did not find the root cause (yet)

[2016-12-08 15:26] srirambv commented on #6046
+1 from [support ](https://linkbubble.zendesk.com/agent/tickets/7194)

[2016-12-08 16:25] mrose17 commented on #5930
@srirambv - i suggest closing the issue until it can be reproduced somewhere... (-;

[2016-12-08 16:37] srirambv commented on #5930
Closing the issue for now as unable to run from  https://github.com/brave/browser-laptop/commit/6023abd171eb0ec582eb96e71f18ad30dddba32e

[2016-12-08 16:37] #5930 closed

[2016-12-08 16:58] DivineOmega commented on #6022
Further to this, it appears the pages are actually there, but simply not rendered. This is evident by moving the mouse pointer over the page and noticing it change from an arrow to a hand when hovering over where links should be appearing.

Also, the effect is not consitent for me. Sometimes the problem may not occur for a few hours, other times it appears after a few minutes. In almost all cases,

[2016-12-08 17:23] bsclifton commented on #6075
May or may not be related to https://github.com/brave/browser-laptop/issues/5749

[2016-12-08 17:27] jstidd commented on #4544
Symantec End Point Protection on Windows 10 is giving us this error as well. We didn't get the error on Mac.

[2016-12-08 17:27] bsclifton commented on #6075
@mbretttx `node.dll` should already be included; if you were up for troubleshooting, I can help you with some next steps

Basically, you should be able to navigate to:
`%userprofile%\AppData\Local\brave`

From there, you'll see Update.exe.  That's the executable that should be launching when you have Brave pinned (specifically, the pinned shortcut should be executing `C:\Users\brian\AppData\Local\

[2016-12-08 17:48] Liunkae commented on #5513
Some users are reporting that disabling hardware acceleration does not solve the blank page problem. (#6022)

[2016-12-08 17:52] Liunkae commented on #6089
@stephenkru What operating system are you using? I am not having the issue with Brave 0.12.13 on macOS 10.12.x.

[2016-12-08 17:53] Liunkae commented on #6090
Shouldn't HTTPS Everywhere upgrade the `i.imgur` URL so that it is not mixed content?

[2016-12-08 17:54] posix4e opened #6091 "Remaining Linux crashes and nits for 54"
-- Crashes these are blockers
[ ] When trying to use the local password store I get
[code]

-- Nits
[ ] Not implemented reached in static bool blink::PlatformKeyboardEvent::currentCapsLockState()
[ ]
[code]

[2016-12-08 17:56] posix4e commented on #1471
Got it so there's no brave bug with AMDGPU drivers just the continued problems we have with ATI cards in brave. Got it!

[2016-12-08 17:56] Liunkae opened #6092 "Add release notes for Brave 0.12.13"
Related: #5997 (0.12.11 release notes), #6029 (0.12.12 release notes)

[2016-12-08 18:06] luixxiul opened #6093 "Remove a dark background to the bottom layer if the modal contains .coinbaseOverlay"
**Describe the issue you encountered:** https://github.com/brave/browser-laptop/pull/4820#issuecomment-265751399

Add `.last` to the modal overlay _unless_ the modal contains `.coinbaseOverlay`. The iframe inside `.coinbaseOverlay` itself has the dark background.

- Brave Version: macOS

- Any related issues:

CC @willy-b

[2016-12-08 18:28] bsclifton opened #6094 "Support jump lists"
**Did you search for similar issues before submitting this one?**
YEs

**Describe the issue you encountered:**
Similar to https://github.com/brave/browser-laptop/issues/3024, Windows should show a jump list

**Expected behavior:**
When Brave is pinned to the taskbar in Windows, you should be able to right click it and get a jump list of common actions, similar to what you do with other Windows app

[2016-12-08 18:31] Liunkae commented on #6078
See PR #6095.

[2016-12-08 18:32] bsclifton commented on #3024
Windows functionality broken out to https://github.com/brave/browser-laptop/issues/6094 since a PR was submitted for this (thanks, @NejcZdovc!)

[2016-12-08 18:34] bsclifton commented on #5790
@gyandeeps that would be awesome!

@bradleyrichter do you have a recommendation of how a "copy to clipboard" button would look? (and where it may go in relation to the current about:brave screen)?

[2016-12-08 18:40] Liunkae commented on #6094
Related: #5141 (New Private Window in jump list)

[2016-12-08 19:04] takujun opened #6096 "I can't set up my homepage"
**Did you search for similar issues before submitting this one?**

**Describe the issue you encountered:**

**Expected behavior:**

- Platform (Win7, 8, 10? macOS? Linux distro?):

- Brave Version:

- Steps to reproduce:
    1.
    2.
    3.

- Screenshot if needed:

- Any related issues:

[2016-12-08 19:05] bradleyrichter commented on #5790
That FA icon is perfect.

[2016-12-08 19:09] spoo6354 commented on #1471
How long is it going to take to fix it?
Brave is the only good browser at the moment.

[2016-12-08 19:10] takujun commented on #6096
All sudden  , today 12/8/16 My home page that I was set up didn't work .
Instead when I open Brave,it goes Brave.exe on file library and make me choosing save file.
Even I did do again that I'd like to set my homepage address for copy /paste to address bar for set up  .

[2016-12-08 19:22] gyandeeps commented on #5790
Thanks @bsclifton and @bradleyrichter for giving all this info. The only thing left is where shoudl this icon be placed on the about page (top, bottom , etc)?

[2016-12-08 19:37] anasant commented on #45
+1 on request for cmd+W to close dev tools window

[2016-12-08 19:40] rickyrauch commented on #5534
Hi @bsclifton

It works using Terminal.app
It doesn't work using <a href="https://hyper.is/">Hyper.js</a>

Thanks!

[2016-12-08 19:43] rickyrauch commented on #5976
@bsclifton @bradleyrichter

Hi Brave,

Based on the feedback I read on Twitter and asking people, we probably can work on some refinements of the UI.

What do you think?

[2016-12-08 19:44] diracdeltas opened #6097 "urlbar text is sometimes too high"
I can't repro this consistently, but the URLbar text is sometimes misaligned.

1. set Preferences 'Always show the URL bar'
2. click on the link in https://twitter.com/bcrypt/status/806589197083475968
3. sometimes the urlbar text is too high:
![screen shot 2016-12-08 at 7 40 40 pm](https://cloud.githubusercontent.com/assets/549654/21025014/b6c94bf6-bd7e-11e6-9504-767107ec420d.png)

[2016-12-08 19:55] willy-b commented on #6093
Nice. You can assign this to me if you want and if it can wait until after PRs #5809 and #6039 (targeted today).

[2016-12-08 19:58] bradleyrichter commented on #5790
@gyandeeps

How about this?

![image](https://cloud.githubusercontent.com/assets/13509546/21025533/a44e904e-bd3d-11e6-8ffb-1312d0c1ae64.png)

[2016-12-08 19:59] bradleyrichter commented on #6097
yikes. That looks like it's trying to vertically center a 2-line string.

[2016-12-08 20:00] gyandeeps commented on #5790
looks good to me. I will go with this design as of now unless somebody recommends something else.
Thanks @bradleyrichter

[2016-12-08 20:01] bradleyrichter commented on #6096
@takujun Can you please share your brave version and OS?

[2016-12-08 20:05] #6078 closed

[2016-12-08 20:06] bradleyrichter commented on #6077
@bsclifton Can we add a forced refresh at some point that makes sense?

[2016-12-08 20:08] #5911 closed

[2016-12-08 20:09] bradleyrichter commented on #5976
@rickyrauch Sure. What do you think we should start with? We can also jump on a g-hangout if you want to go over the twitter feedback you are receiving.

[2016-12-08 20:09] takujun commented on #6096
Thank you .
This is my Brave version and OS . I hope this is.

Brave	0.12.13
os.arch	x64
os.platform	win32
os.release	6.1.7601

[2016-12-08 20:11] bradleyrichter commented on #6096
baton pass to: @alexwykoff

[2016-12-08 20:14] diracdeltas opened #6098 "refactor js/lib/urlutil.js for safer url parsing"
## Test plan

https://github.com/brave/browser-laptop/pull/10346#issue-248886192

----

it should try to use Chromium's URL parser whenever possible.

[2016-12-08 20:16] takujun commented on #6096
So, this person tell me that solution ?

[2016-12-08 20:17] josiah-keller commented on #6096
This sounds like a duplicate of #6075

[2016-12-08 20:21] bradleyrichter commented on #6096
@takujun Sorry to be vague. CC'd Alex to monitor with a support ticket.

Sounds like we have a deeper issue based on #6075

[2016-12-08 20:35] takujun commented on #6075
I just found my file Brave.exe and BraveSetup-x64.exe. So I click on BraveSetup-x64 one, it came out good.
It is seems like fix it !

[2016-12-08 20:40] posix4e commented on #5881
I replicated it on linux. If you lower shields the page renders

[2016-12-08 20:40] #6096 closed

[2016-12-08 20:41] posix4e opened #6099 "Chromium54 brave password causes crashes on for instance hacker news"
I can't seem to save in my local brave password store
[code]

Test Plan:
1. Set built-in password manager
2. Go to https://github.com/login
3. Type username and password then submit
4. Choose save password for this site shouldn't crash

[2016-12-08 20:41] bsclifton commented on #6096
Let's track this with https://github.com/brave/browser-laptop/issues/6075 :smile: Closing this issue

[2016-12-08 20:42] #6091 closed

[2016-12-08 20:42] posix4e commented on #6091
I am going to break these up

[2016-12-08 20:42] posix4e commented on #6099
Is this bad enough to block?

[2016-12-08 20:44] bsclifton commented on #6099
Absolutely- this is a problem

[2016-12-08 20:53] takujun commented on #6096
Thank you .

I fixed that. I just left comment on #6075.

Yuriko

________________________________
$B:9=P?M(B: Brian Clifton <notifications@github.com>
$BAw?.F|;~(B: 2016$BG/(B12$B7n(B8$BF|(B 12:41
$B08@h(B: brave/browser-laptop
CC: takujun; Mention
$B7oL>(B: Re: [brave/browser-laptop] I can't set up my homepage (#6096)

Let's track this with #6075<https://github.com/brave/browser-la

[2016-12-08 21:15] DivineOmega commented on #6022
This may be related. After switching to the AMD graphics card, I'm also having an occasional issue whether the dropdown content from a dropdown box is rendered entirely black (literally a black box of the size the dropdown content should appear). I can still select items via the mouse or arrow keys, which works correctly.

[2016-12-08 21:16] bsclifton commented on #1471
I think based on the information reported and also what we've found, we might be able to deliver a "graphics card light" flag, while we're looking into the root cause.  For example, being able to turn off hardware accelleration (from the command line) and then also being able to pass extra flags when we initialize Chromium (ex: `ignore-gpu-blacklist`) could be very useful.

I'm making a post on AM

[2016-12-08 21:28] bsclifton commented on #1471
Message is pending approval, but will be live here (if approved):
https://community.amd.com/message/2764862

@da2x if I was able to put together a possible fix for you, would you be willing to try it out?

[2016-12-08 21:28] jonathansampson opened #6100 "Norton blocks Brave, categorizing as "medium risk""
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Some users running Norton antivirus software may not be able to install Brave.

**Expected behavior:**
The user is able to run Norton antivirus security software on their machine, and not have their Brave download prevented, or interrupted.

**Screenshot if needed:**
![image](https://clou

[2016-12-08 21:45] rickyrauch commented on #5976
I tried to clone the project to make some changes, but without this issue resolved https://github.com/brave/browser-laptop/issues/1171 it makes really hard to work on CSS.

[2016-12-08 22:00] da2x commented on #1471
@bsclifton, absolutely.

[2016-12-08 22:10] msp1111111 commented on #6075
I had Brave pinned to my taskbar and clicking on that made this error happen. When I clicked on the desktop shortcut that Brave created when updating, it worked fine. I got rid of my taskbar shortcut and replaced it with the new one, now everything is OK. Not sure what the old pinned taskbar shortcut was pointing to.

[2016-12-08 22:19] bradleyrichter commented on #5976
I know we won't be able to change that behavior but editing in dev tools for live viewing and transferring over to the repo files has been workable.

[2016-12-08 22:23] echosa commented on #5470
I also recently noticed this behavior. Note that the video's audio continues to play; only the video's image pauses.

[2016-12-08 22:32] echosa opened #6102 "Can't move tabs to after the last tab"
**Did you search for similar issues before submitting this one?**

Yes

**Describe the issue you encountered:**

I'm unable to move a tab to where it is the last tab. I have to move it to be second to last, then move the last tab back, switching with the other tab. See gif link below.

**Expected behavior:**

I expect to be able to move a tab to the end of the tab list.

- Platform (Win7, 8, 10? m

[2016-12-08 23:18] Liunkae commented on #6022
@DivineOmega Like the screenshot the following comment? https://github.com/brave/browser-laptop/issues/3663#issuecomment-252910834

[2016-12-08 23:31] mbretttx commented on #6075
@bsclifton I looked at 0.12.13 as you suggested everything looked ok. However, when I opened the file location that my desktop shortcut was pointing to it was not the same. The file location did not contain app-0.12.13. It only had app-01.12.11 . I removed the pinned shortcut, then ran BraveSetup-x64 as suggested by @takujun. The problem went away, startup worked as it should.  I then re-pinned th

[2016-12-08 23:52] DivineOmega commented on #6022
@Liunkae Exactly like that.

[2016-12-08 23:53] Liunkae commented on #932
+1 I have observed this inconsistency too.

[2016-12-09 00:13] stshank opened #6104 "Address bar should autocomplete from custom bookmark titles"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
I sometimes bookmark URLs I'll know I'll need again. When I start typing their names (not just addresses) Brave should match it and suggest a completion.

**Expected behavior:**
Brave doesn't match anything.

- Platform (Win7, 8, 10? macOS? Linux distro?):
Mac, Windows

- Brave Version:
B

[2016-12-09 00:26] maxeaus opened #6105 "Brave will not open"
**Describe the issue you encountered:** Brave attempts to open but is shut down as a pop up might be immediately shut down, so i see the border of the website opening then it disappears

**Expected behavior:** happing for two days now, i need to uninstall brave then reinstall it to open the browser now each time!

- Platform Win 7 Dell XPS 15z inspiron with IE

- Brave Version: Latest update

- Sc

[2016-12-09 00:35] Liunkae commented on #6104
Firefox and Safari both have this functionality.

[2016-12-09 00:39] gabriel1313 commented on #6075
Have been using the pinned taskbar Brave icon for the last few days without problem. Only just now, 8:34pm 8 Dec 16, on opening Brave tried to save a new copy of itself to the Downloads folder. Closed Brave, removed the pinned taskbar icon. Opening Brave from the Start menu works fine. Pinned this icon to the taskbar and closed Brave. The new pinned Brave taskbar icon works without problems. (Usin

[2016-12-09 01:06] diracdeltas opened #6106 "Symantec certs will soon stop being valid due to net::ERR_CERTIFICATE_TRANSPARENCY_REQUIRED"
Brave 0.12.13 will begin failing cert validation for Symantec certs starting on 12/12, which is 70 days after the libchromiumcontent build date.
Brave 0.13.x will begin failing 70 days after its build date also, but that is much later.

crbug: https://bugs.chromium.org/p/chromium/issues/detail?id=664177

Solution: apply the patch from https://chromium.googlesource.com/chromium/src/+/ec8e431e9a0f80

[2016-12-09 02:40] clockworkpc commented on #6041
Further:

Refused to execute script from 'https://github.com/clockworkpc/syntaxhighlighter-pages/blob/master/docs/scripts/shBrushRuby.js' because its MIME type ('text/html') is not executable, and strict MIME type checking is enabled.

[2016-12-09 03:23] luixxiul opened #6108 "Bookmark title on bookmark toolbar is renamed"
**Describe the issue you encountered:**
Bookmark title on the bookmark toolbar is renamed after clicking the link to the notification page on GitHub.

**Expected behavior:**
The bookmark title should not be changed.

- Platform (Win7, 8, 10? macOS? Linux distro?): macOS

- Brave Version: master branch

- Steps to reproduce:
    1. Bookmark the notification page on GitHub
    2. Click the notificat

[2016-12-09 03:33] luixxiul commented on #6108
Edited.

[2016-12-09 03:52] bogas04 opened #6109 "Consider IETab Extension to support enterprise websites on Brave"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Enterprise websites built on ActiveX and other horrible IE specific APIs can't be viewed on Brave (or any other browser for that matter). Inclusion of [IE Tab](https://chrome.google.com/webstore/detail/ie-tab/hehijbfgiekmjfkfjpbkbammjbdenadd?hl=en) can help a little with this issue.

[2016-12-09 04:46] bsclifton commented on #6077
@bradleyrichter yes- we should be able to do that.  We'd want to do something creative, like load all the icons in a hidden webview (so that it takes advantage of existing events)

[2016-12-09 05:00] diracdeltas commented on #6099
@posix4e i think this is because your version of openssl doesn't support AES-GCM. what version are you running?

[2016-12-09 05:07] bsclifton commented on #6108
This may or may not be expected.  This is the current behavior:
- When a site is visited, a siteDetail record will be created
- If one already exists, that will be updated
- The new title ALWAYS overwrites the old title. Custom title does not change
- If custom title is never set (which only happens if user manually does it), the user will always see the title (which will end up being the new one,

[2016-12-09 05:14] bsclifton commented on #6104
Bigtime +1 :smile:

cc: @aekeus @bradleyrichter

[2016-12-09 05:18] bsclifton commented on #5470
I believe this is only a problem on macOS; updating label

[2016-12-09 05:21] luixxiul commented on #6108
If this is the default behavior on Chrome/Firefox, +1 :)

[2016-12-09 05:37] dcposch commented on #5981
@bbondy @bridiver LMK if there's anything you'd like me to do.

Right now, Torrent Viewer doesn't work on the `chromium54` branch. It should work again if you revert https://github.com/brave/browser-laptop/commit/eb19c308523b145a2962fc7d64fb44f1e1504d7f or remove the extra `let` statement. Works on `master`.

[2016-12-09 05:43] dcposch commented on #5981
aha, looks like it's called `chrome.ipcRenderer` now

[2016-12-09 06:09] #5936 closed

[2016-12-09 06:29] #5913 closed

[2016-12-09 06:44] #4867 closed

[2016-12-09 07:40] #3024 closed

[2016-12-09 08:22] Liunkae commented on #6108
+1 for your proposal. It seems like the least confusing option from a user perspective.

[2016-12-09 08:24] bsclifton opened #6110 ""It can remove the site" ledger test failing"
See https://github.com/brave/browser-laptop/blob/5ee0d07945675ed22c6002d9674ce339894e69a7/test/components/ledgerPanelTest.js#L199

Steps to reproduce
- Window 1: run `npm run watch-test`
- Window 2: run `npm run test -- --grep="synopsis can disable site"`

I think the root cause is that the time for a visit was bumped up and the test doesn't wait for long enough to register a visit (but not exactl

[2016-12-09 08:25] Liunkae commented on #5992
Related: #3653

[2016-12-09 09:12] srirambv commented on #6075
+1 from [support ](https://linkbubble.zendesk.com/agent/tickets/7210)

[2016-12-09 09:22] srirambv commented on #5364
+1 from [support ](https://linkbubble.zendesk.com/agent/tickets/7209)

[2016-12-09 09:28] srirambv commented on #6075
I tried upgrading from 0.12.11 and 0.12.12 but cannot repro this. It always opens up the browser with no prompt to save.

[2016-12-09 09:47] srirambv commented on #1511
+1 from support: https://linkbubble.zendesk.com/agent/tickets/7196

[2016-12-09 10:20] mbretttx commented on #6075
@srirambv It looks like everyone the problem was with 0.12.13, rather than 0.12.12. When I looked at my problem I found that my pinned shortcut was pointing to the files for 0.12.11 rather than 0.12.13. This was resolved by deleting the shortcut running the x64 exe and producing a new shortcut. In fact, during my process of troubleshooting, I found nothing on my system regarding 0.12.12.

[2016-12-09 10:48] NejcZdovc commented on #6108
+1 When you are visiting a page that is also bookmarked, this should not change bookmark title.

[2016-12-09 14:39] srirambv opened #6113 "Pressing back on error page causes infinite page reload"
**Did you search for similar issues before submitting this one?**
Yes

**Describe the issue you encountered:**
Pressing back on error page causes infinite page reload

**Expected behavior:**
If tab history exists then should take back to the previous history item/page which was loaded before visiting the wrong domain. If no tab history is there then back button should be disabled

- Platform (Win7

[2016-12-09 14:42] luixxiul commented on #6108
@NejcZdovc I have reported the issue on #5738

[2016-12-09 15:18] srirambv commented on #6075
@mbretttx There were couple of reports stating after upgrade to 0.12.13 the issue started to happen hence I tried upgrading from the previous two version to see if it can be reproduced but with no luck.

+1 from [support ](https://linkbubble.zendesk.com/agent/tickets/7219)

[2016-12-09 15:20] srirambv commented on #6075
1 more from [support](https://linkbubble.zendesk.com/agent/tickets/7218)

[2016-12-09 15:33] getsetbro opened #6114 "Photo edit fail on photos.google.com when fingerprint detection on"
**Did you search for similar issues before submitting this one?**
Yes
**Describe the issue you encountered:**
Unable to use the photo edit mode on photos.google.com - <CANVAS/> element is broken.
**Expected behavior:**
Should be able to view the photo in edit mode but it's missing.
- Platform (Win7, 8, 10? macOS? Linux distro?):
macOS El Capitan 10.11.6 (15G1108)
- Brave Version:
Brave	0.12.13
- S

[2016-12-09 15:51] bsclifton commented on #6108
@luixxiul would this be something you'd be interested in looking at? (I'd be more than happy to help!) I bet there are at least 2 or 3 more issues related to this same root cause.  Let me know :smile:

[2016-12-09 15:58] bradleyrichter commented on #6108
@bsclifton I think the custom title is a requirement. Quite often, a page is bookmarked at an entry point to a top domain but the user wants to simply the BM title to be the top domain.

For example:

![image](https://cloud.githubusercontent.com/assets/13509546/21055101/fce47ef6-bde4-11e6-981e-12c2beba6a94.png)

I wanted to rename this obscure title (when truncated) to 'CSS Tricks" which is far mo

[2016-12-09 16:00] srirambv commented on #4384
+1 [support](https://linkbubble.zendesk.com/agent/tickets/6802). user says video doesn't show but she is able to hear the audio and it's an intermittent issue

[2016-12-09 16:25] Silverslavery opened #6116 "Unable to view certificate details"
Brave	0.12.13
Muon	1.4.30
libchromiumcontent	53.0.2785.143
V8	5.3.332.47
Node.js	6.5.0
Update Channel	dev
os.platform	win32
os.release	6.1.7601
os.arch	x64

Browser does not show any certificate information, not even through the developer options.
![bravesnip1](https://cloud.githubusercontent.com/assets/24474953/21050361/248fcf3c-be12-11e6-9dd6-17eef93b5ec4.JPG)
![bravesnip2](https://cloud.githubu

[2016-12-09 17:00] Liunkae commented on #6116
Thanks @Silverslavery! This is definitely something that needs to be fixed. We have issues filed for viewing certificates in general (#1248) and viewing certificates in the dev tools (#2611). Closing as a duplicate.